.content-container > .content > .bg {
    background-image: url(../images/mm_31_1_08_01_03/suh_p_0301_01_0009_201_1_1.png);
    background-size: 1280px;
    /* background-image: url(../images/01.png); opacity: 1; */
    position:relative;
}
.bg .item {position:absolute;font-size:32px}
.bg .n00 {
    top: 82px;
    left: 365px;
    font-size: 19px;
    padding: 5px 14px;
}
.bg .n01 {top:370px;left:797px}
.bg .n02 {top:310px;left:856px}
.bg .n03 {top: 398px;left: 876px;}
.bg .n04 {top: 485px;left: 873px;}
.bg .n05 {top: 530px;left: 796px;}
.bg .n06 {top: 540px;left: 675px;}
.bg .n07 {top: 545px;left: 506px;}
.bg .n08 {top: 549px;left: 406px;}
.bg .n09 {top: 546px;left: 276px;}
.bg .n10 {top: 550px;left: 167px;font-size: 26px;line-height: 29px;text-align: center;}
.bg .n11 {top: 630px;left: 217px;}
.bg .n12 {top: 630px;left: 316px;}
.bg .n13 {top: 630px;left: 416px;}
.bg .n14 {top: 623px;left: 546px;}
.bg .n15 {top: 616px;left: 677px;}
.bg .n16 {top: 593px;left: 766px;font-size: 15px;letter-spacing: -1px;}
.bg .n16 p + p {margin-top:44px}
.bg .n17 {top: 600px;left: 954px;}
.bg .n18 {top:310px;left:856px}
.bg .n18 {top: 501px;left: 969px;}
.bg .n19 {top: 406px;left: 961px;}
.bg .n20 {top:310px;left: 965px;}
.bg .n21 {top: 211px;left: 927px;line-height: 24px;font-size: 22px;}
.bg .n22 {top: 220px;left: 849px;}
.bg .n23 {top: 249px;left: 761px;}
.bg .n24 {top: 335px;left: 716px;}
.bg .n25 {top: 464px;left: 578px;font-size: 26px;line-height: 29px;}
.bg .n26 {top: 472px;left: 486px;}
.bg .n27 {top: 470px;left: 381px;}
.bg .n28 {top: 475px;left: 276px;}
.bg .n29 {top: 417px;left: 262px;}
.bg .n30 {top: 390px;left: 337px;}
.bg .n31 {top: 390px;left: 437px;}
.bg .n32 {top: 390px;left: 550px;}
.bg .n33 {top: 235px;left: 656px;font-size: 26px;line-height: 29px;text-align: center;}
.bg .n34 {top: 137px;left: 767px;}
.bg .n35 {top: 135px;left: 877px;}
.bg .n36 {top: 152px;left: 1011px;}
.bg .n37 {top: 270px;left: 1043px;}
.bg .n38 {top:310px;left:856px}
.bg .n38 {top: 370px;left: 1046px;}
.bg .n39 {top: 466px;left: 1056px;}
.bg .n40 {top: 576px;left: 1066px; font-size: 30px; letter-spacing: -2px;}
    /* 앱 - 주사위 */
.app-dice .dice-cont {
	left: 80px;
    top: 50px;
}

/* 퀴즈 드래그 */
.drag-area {
    /* background-color: rgba(255,0,0,0.5); */
}
.drag-item {
    /* background-color: rgba(0,255,0,0.5); */
}

#quiz-01 .drag-item {
    width: 94px;
    height: 87px;
}
#quiz-01 .drag-item:nth-child(1) {
    left: 318px;
    top: 135px;
}
#quiz-01 .drag-item:nth-child(2) {
    left: 427px;
    top: 135px;
}
#quiz-01 .drag-item:nth-child(3) {
    left: 318px;
    top: 236px;
}
#quiz-01 .drag-item:nth-child(4) {
    left: 427px;
    top: 236px;
}

#quiz-01 .drag-area:nth-child(1) {
    width: 710px;
    height: 680px;
    left: 560px;
    top: 50px;
}
#quiz-01 .drag-area:nth-child(2) {
    width: 570px;
    height: 380px;
    left: 0;
    top: 350px;
}

.ui-container{display: none;}