.content-container > .content > .bg {
    /* background-image: url(../images/ms_31_1_07_01_01/bg.png); */
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* �ㅽ겕濡� 諛뺤뒪 */

.scroll-box-01 .scroll-inner {
    height: 1261px;
}
.scroll-box-01 .scroll-bg {
	height: 1261px;
    background-size: 1200px 1261px;
    background-image: url(../images/ms_31_1_07_01_01/bg_scroll_01.png);
    /* background-image: url(../images/01_scroll.png); */
    /* opacity: 0.5; */
}


/* check �댁쫰  */
#quiz-content-01 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#quiz-content-01 .quiz-check .check-item {
    position: absolute;
    width: 100px;
    height: 100px;
    /* background-color: rgba(255,0,0,0.5); */
    box-sizing: border-box;
    z-index: 2;
    
}
#quiz-content-01 .quiz-check .check-item::before {
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border: 5px solid #FFFF00;
    border-radius: 5px;
    visibility: hidden;
}

#quiz-content-01 .quiz-check .check-item.ani {
    animation: ani-flash-01 1s linear infinite;
}
#quiz-content-01 .quiz-check .check-item.ani::before {
    visibility: visible;
}

#quiz-01 .check-item:nth-child(1) {
    width: 72px;
    height: 44px;
    left: 425px;
    top: 140px;
}
#quiz-01 .check-item:nth-child(2) {
    width: 72px;
    height: 44px;
    left: 492px;
    top: 72px;
}

#quiz-02 .check-item:nth-child(1) {
    width: 72px;
    height: 44px;
    left: 824px;
    top: 315px;
}
#quiz-02 .check-item:nth-child(2) {
    width: 72px;
    height: 44px;
    left: 839px;
    top: 388px;
}

#quiz-03 .check-item:nth-child(1) {
    width: 72px;
    height: 44px;
    left: 203px;
    top: 515px;
}
#quiz-03 .check-item:nth-child(2) {
    width: 72px;
    height: 44px;
    left: 311px;
    top: 515px;
}

#quiz-04 .check-item:nth-child(1) {
    width: 72px;
    height: 44px;
    left: 908px;
    top: 639px;
}
#quiz-04 .check-item:nth-child(2) {
    width: 72px;
    height: 44px;
    left: 1000px;
    top: 657px;
}

#quiz-05 .check-item:nth-child(1) {
    width: 72px;
    height: 44px;
    left: 341px;
    top: 1047px;
}
#quiz-05 .check-item:nth-child(2) {
    width: 72px;
    height: 44px;
    left: 457px;
    top: 1047px;
}


/* �ㅽ봽�쇱씠�� �쒗���� �좊땲 */
.sprite-sequence.ani-01 {
    position: absolute;
    left: 0px;
    top: 0px;
    /* width: 240px; */
    /* height: 291px; */
    background-position: 4px 4px;
    background-image: url(../images/ms_31_1_07_01_01/ms_31_1_08_ani.png);
    transform: translate(44px, 21px);
}


.btns-popup > .button {
    position: absolute;
    width: 197px;
    height: 90px;
    /* background: rgba(255,0,0,0.5); */
    z-index: 1;
}
.btns-popup > .btn-popup-01 {
    left: 280px;
    top: 30px;
}
.btns-popup > .btn-popup-02 {
    left: 933px;
    top: 239px;
}
.btns-popup > .btn-popup-03 {
    left: 197px;
    top: 390px;
}
.btns-popup > .btn-popup-04 {
    left: 927px;
    top: 529px;
}
.btns-popup > .btn-popup-05 {
    left: 326px;
    top: 924px;
}