.math_formula {margin:10px 0 0;text-align:center;}
.math_formula .null_blank {display:inline-block;width:293px;height:38px;vertical-align:middle;}
.math_formula .math_formula_inner {display:inline-block;position:relative;text-align:left;}
.math_formula .line {position:absolute;border:3px solid skyblue;}
.math_formula .line.v01 {left:96px;top:60px;width:82px;height:50px;border-top:none;box-sizing:border-box}
.math_formula .line.v02 {left:22px;top:60px;width:115px;height:130px;border-top:none;border-right:none;box-sizing:border-box}
.math_formula .line.v02:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:3px solid skyblue;}
.math_formula .line.v03 {left:78px;top:60px;width:190px;height:210px;border-top:none;border-left:none;box-sizing:border-box}
.math_formula .line.v03:after {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid skyblue;}
.math_formula .num {position:absolute;font-size:52px;}
.math_formula .num.v01 {left:96px;top:108px;width:82px;text-align:center}
.math_formula .num.v02 {left:26px;top:190px;width:108px;text-align:center}
.math_formula .num.v03 {left:77px;top:265px;width:190px;text-align:center}

.img_content{position: absolute;top: 262px;width: 100%;}
.txt_mark1{position: absolute;top: -40px;left: 528px;font-size: 40px;color: #ffffff;}
.txt_mark2{position: absolute;font-size: 40px;top: 195px;left: 284px;color: #ffffff;}
.txt_mark3{position: absolute;font-size: 40px;top: 195px;left: 780px;color: #ffffff;}