
.math_formula_flex {display:flex;justify-content:space-around;margin:0 0 30px;}
.math_formula_flex .lineBox {position:relative;width:433px;height:310px;}
.math_formula_flex .toggle .answer {padding-left:0;}
.math_formula_flex .toggle.duplicate {display:block;padding:0;position:static;background:none;}
.math_formula_flex .toggle.duplicate:after {display:none;}
.math_formula_flex .toggle.duplicate .answer {position:static;}
.math_formula_flex .formula_line {position:absolute;border:3px solid #00a0ff;}
.math_formula_flex .formula_num {position:absolute;line-height:42px;color:#00a0ff;}

.math_formula_flex .formula1 .formula_line.v01 {left:30px;top:70px;width:75px;height:40px;border-top:none;}
.math_formula_flex .formula1 .formula_line.v02 {left:164px;top:70px;width:75px;height:40px;border-top:none;}
.math_formula_flex .formula1 .formula_line.v03 {left:70px;top:70px;width:137px;height:105px;border-top:none;border-left:none;border-right:none;}
.math_formula_flex .formula1 .formula_line.v03:before {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.math_formula_flex .formula1 .formula_line.v03:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.math_formula_flex .formula1 .formula_num.v01 {left:55px;top:115px;}
.math_formula_flex .formula1 .formula_num.v02 {left:189px;top:115px;}
.math_formula_flex .formula1 .formula_num.v03 {left:119px;top:185px;}

.math_formula_flex .formula2 .formula_line.v01 {left:127px;top:70px;width:60px;height:40px;border-top:none;}
.math_formula_flex .formula2 .formula_line.v02 {left:158px;top:70px;width:125px;height:105px;border-top:none;border-left:none;}
.math_formula_flex .formula2 .formula_line.v02:after {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.math_formula_flex .formula2 .formula_line.v03 {left:35px;top:70px;width:185px;height:170px;border-top:none;border-right:none;}
.math_formula_flex .formula2 .formula_line.v03:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.math_formula_flex .formula2 .formula_num.v01 {left:143px;top:115px;}
.math_formula_flex .formula2 .formula_num.v02 {left:205px;top:185px;}
.math_formula_flex .formula2 .formula_num.v03 {left:107px;top:242px;}

.speech_bubble_box {display:flex;justify-content:center;align-items:center;}
.speech_bubble_box .characterImg {position:relative;margin:0 40px 0 0;}
.speech_bubble_box .characterImg span {display:block;position:absolute;top:-141px;left:50%;width:340px;height:421px;background:url("../../common/contents/images/character/girl_3.png") no-repeat center;transform:translate(-50%, 0) scale(0.75);}
.speech_bubble_box .balloon {position:relative;left:0;top:0;width:500px;}
