
.math_formula_flex {display:flex;justify-content:space-around;margin:0 0 30px;}
.math_formula_flex .lineBox {width:465px;height:310px;text-align:center;}
.math_formula_flex .lineBox > div {position:relative;display:inline-block;}
.math_formula_flex .toggle .answer {padding-left:0;}
.math_formula_flex .toggle.duplicate {display:block;padding:0;position:static;background:none;}
.math_formula_flex .toggle.duplicate:after {display:none;}
.math_formula_flex .toggle.duplicate .answer {position:static;}
.math_formula_flex .formula_line {position:absolute;border:3px solid #00a0ff;}
.math_formula_flex .formula_num {position:absolute;line-height:42px;color:#00a0ff;}

.math_formula_flex .formula1 .formula_line.v01 {left:20px;top:70px;width:78px;height:40px;border-top:none;box-sizing:border-box}
.math_formula_flex .formula1 .formula_line.v02 {left:178px;top:70px;width:84px;height:40px;border-top:none;box-sizing:border-box}
.math_formula_flex .formula1 .formula_line.v03 {left:56px;top:70px;width:166px;height:105px;border-top:none;border-left:none;border-right:none;box-sizing:border-box}
.math_formula_flex .formula1 .formula_line.v03:before {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.math_formula_flex .formula1 .formula_line.v03:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.math_formula_flex .formula1 .formula_num.v01 {left:20px;top:115px;width:78px;text-align:center}
.math_formula_flex .formula1 .formula_num.v02 {left:178px;top:115px;width:84px;text-align:center}
.math_formula_flex .formula1 .formula_num.v03 {left:56px;top:176px;width:166px;text-align:center}

.math_formula_flex .formula2 .formula_line.v01 {left:122px;top:70px;width:80px;height:40px;border-top:none;box-sizing:border-box}
.math_formula_flex .formula2 .formula_line.v02 {left:161px;top:70px;width:138px;height:105px;border-top:none;border-left:none;box-sizing:border-box}
.math_formula_flex .formula2 .formula_line.v03 {left:25px;top:70px;width:206px;height:167px;border-top:none;border-right:none;box-sizing:border-box}
.math_formula_flex .formula2 .formula_line.v02:after {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.math_formula_flex .formula2 .formula_line.v03:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.math_formula_flex .formula2 .formula_num.v01 {left:122px;top:115px;width:80px;text-align:center}
.math_formula_flex .formula2 .formula_num.v02 {left:161px;top:176px;width:138px;text-align:center}
.math_formula_flex .formula2 .formula_num.v03 {left:25px;top:240px;width:206px;text-align:center}

.speech_bubble_box {display:flex;justify-content:center;align-items:center;}
.speech_bubble_box .characterImg {position:relative;margin:0 40px 0 0;}
.speech_bubble_box .balloon {position:relative;left:0;top:0;width:500px;}
