
@charset "utf-8";



/* 단원 캐릭터 */
main > section .sectionChar {
  position: absolute;
  left: 14px;
  top: 292px;
  width: 186px;
  height: 186px;
  background: url(../../include/images/lessonChar_4-2.svg) 0 0 / auto 186px no-repeat;
  transition: all .3s ease-out;
  pointer-events: none;
}


/********************* lesson *********************/
section.lesson_1 .sectionChar {
  background-position-x: calc(-186px * (1 - 1));
}
section.lesson_2 .sectionChar {
  background-position-x: calc(-186px * (2 - 1));
}
section.lesson_3 .sectionChar {
  background-position-x: calc(-186px * (3 - 1));
}
section.lesson_4 .sectionChar {
  background-position-x: calc(-186px * (4 - 1));
}
section.lesson_5 .sectionChar {
  background-position-x: calc(-186px * (5 - 1));
}
section.lesson_6 .sectionChar {
  background-position-x: calc(-186px * (6 - 1));
}
/******************* lesson END *******************/