/* .page_4 .dragLineContainer {width:700px;margin:0 auto;}
.page_4 .dragLineContainer > ul > li {position:relative;margin:20px 0 0;}
.page_4 .left_1 {left:380px;}
.page_4 .left_2 {left:780px;}
.page_4 .top_1 {top:80px;}
.page_4 .top_2 {top:220px;}
.page_4 .top_3 {top:360px;}


.popup_container .popup_pages .contentsList .dot{margin-top: 35px;}


.page_5 .img_box{position: relative;margin: 0 auto;}
.page_5 .img_box img{width: 600px;}
.page_5 .img_box .text_01{position: absolute;top: 180px;left: 0px;font-size: 25px;}
.page_5 .img_box .text_02{position: absolute;top: 100px;left: 290px;font-size: 25px;}
.page_5 .img_box .text_03{position: absolute;top: 180px;right: 20px;font-size: 25px;}
.page_5 .img_box .text_04{position: absolute;top: 50px;left: 170px;font-size: 25px;}
.page_5 .img_box .text_05{position: absolute;top: 50px;left: 420px;font-size: 25px;}

.page_5 .flex-box{margin-top: 45px;}
.page_5 .colorBox{margin-top: -10px;}
.page_5 .answer{text-align: justify;} */

.contentsBox{padding-top: 10px;}

.bunsuWrap{display: inline-block;}
.bunsuWrap.separation > ul{width: 70px;}
.bunsuWrap.separation li{width:100%;}
.bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.bunsuWrap.separation .toggle{width:100%;}


.page_5 figure{position:relative;padding-top:115px;height:300px;text-align:center;}
.page_5 figure img{display:inline-block;height:100%;margin-top: -100px;}
.page_5 .balloon{position:absolute;font-size:0.8em;line-height:1;}
.page_5 .balloon.right{top:0;left:-80px;}
.page_5 .balloon.left{top:0;right:-10px;}

.page_5 .innerTab_1 .colorBox{position:absolute;}
.page_5 .innerTab_1 .colorBox.left{bottom:30px;left:250px;}
.page_5 .innerTab_1 .colorBox.right{bottom:30px;right:290px;}

.page_5 .bunsuContainer .contentsList .dot{margin-top: 43px;}
.page_5 .bunsuContainer .contentsList .toggle{width:110px;}
.page_5 .bunsuContainer .contentsList .answer{justify-content: center;display:flex;align-items:flex-start;text-align:left;letter-spacing:1px;}

.page_5 .innerTab_2 .contentsList > li{align-items: flex-start;}
.page_5 .innerTab_2 .contentsList > li:nth-child(1) .toggle{align-self:center;}
.page_5 .innerTab_2 .contentsList .lineBox{margin-right: 15px; white-space: nowrap;}

.popup_contents .contentsList > li {display:inline-flex;}









.contentsList { margin: 0 auto; } 
.contentsList > li { align-items: flex-start; padding-top: 15px; } 
.bunsuContainer .bullet.exam { margin-top: 20px; } 
.contentsList .colorBox { margin-top: -10px; display: inline-block; vertical-align: middle; align-items: center;} 
.contentsList .bunsuContainer .toggle { display: inline-block; vertical-align: middle; text-align: left; align-items: center;} 
.contentsList .bunsuContainer .toggle .bunsuWrap { display: inline-block; vertical-align: middle; text-align: left; align-items: center;width: auto;} 

.formula_box > li{display: flex; align-items: center;justify-content: inherit;}
.formula_box .bunsuWrap > ul{display:inline-flex;min-width:50px;flex-direction:column;align-items:center;justify-content:center;}
.formula_box{display: flex;justify-content: space-evenly;}

.bunsuWrap.separation > ul{min-width: 70px;}
.bunsuWrap.separation li{width:100%;}
.bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.bunsuWrap.separation .toggle{width:100%;}


.page_2 .formula_box{display: flex;align-items: center;justify-content: center;}
.page_2 .formula_box > li{display: flex;align-items: center;}

.popup_container .popup_pages .contentsList .dot{margin-top: 35px;}
.pop_page_1 .flex-box{align-items: center;}
.pop_page_1 .dot{margin-top: 30px;}