

.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}


.page_1 .img-wrap{
    position: relative;
    width:100%;
}
.page_1 .img-wrap > * {position:absolute;}
.page_1 .img-wrap .n1{width: 132px;top: 52px;left: 213px;}
.page_1 .img-wrap .n2{width:700px;opacity: 0;}
.page_1 .img-wrap .n2 img{width: 100%;}
.page_1 .img-wrap .n2.on{opacity: 1;}
.page_1 .img-wrap .n2 .txt{position: absolute;top: 50px;left: 44px;letter-spacing: 42px;}
.page_1 .img-wrap .toggle{background-color: transparent;}
.page_1 .img-wrap .toggle::after{display: none;}
.page_1 .line2 img{width: 100%; position: absolute; bottom:20px;}
.page_1 .line2{position: absolute;top: 60px;left: 233px;border-left: 2px dashed red;border-right: 2px dashed red;width: 90px;height: 110px;}
.page_1 .img-wrap .txt.b2{position: absolute; top:0; left: 227px;}
.page_1 .img-wrap .toggle{top: 160px;left: 180px;padding:0}

.page_1 .complete .click-finger-Btn{display: none;}
.page_1 .click-finger-Btn{top: -10px;left: 80px;}
.page_1 .textAlignC{position: absolute;top: 340px;left: 240px;}














