.img1{display: block; margin:30px auto 30px; width:800px}

.answer{text-align: left;}

.img1-wrap{position: relative;}
.ja{position: absolute;top: 120px;left: 156px;letter-spacing: 27px;font-weight: 200;font-family: 'NotoM';}


