body {
	background: url("../images/bgImg.png") center / cover no-repeat;
	/* background-position: 0 -116px; */
}

#bgCanvas {
	position: absolute;
	width: 1280px;
	height: 720px;
	top: -30px;
	left: 120px;
	/* left: 285px; */
}

#UiText {
	position: absolute;
	top: 59%;
	left: 5%;
	font-family: NanumGothicExtraBold;
	font-size: 100px;
	color: #66d1f1;
}

#calculation {
	position: absolute;
	top: 31%;
	left: 31%;
	font-family: NanumGothicExtraBold;
	font-size: 60px;
	color: #ccc;
}

#equalsSign {
	position: absolute;
	top: 48%;
	left: 28px;
	font-family: NanumGothicExtraBold;
	font-size: 60px;
	color: #ccc;
}

#equalsSignV {
	position: absolute;
	width: 300px;
	height: 13px;
	top: 47%;
	left: 181px;
	background: url('../images/line.png');
}

.question {
	font-family: NanumGothicExtraBold;
	position: absolute;
	font-size: 90px;
	color: #333333;
}

.key {
	display: inline-block;
	cursor: pointer;
	width: 92px;
	height: 80px;
	padding-right: 14px;
	padding-bottom: 13px;
}

#answer {
	font-family: NanumGothicExtraBold;
	position: absolute;
	font-size: 80px;
	color: #333333;
	width: 322px;
	height: 113px;
	line-height: 113px;
	overflow: hidden;
	letter-spacing: 2px;
}

#keypadContainerGroup {
	position: absolute;
	width: 342px;
	height: 445px;
	background: url('../images/calculator.png') no-repeat;
	padding-top: 36px;
	padding-left: 34px;
	left: 61%;
	top: 14%;
}

#note {
	position: absolute;
	top: 6%;
	left: 0%;
}

#keypad {
	position: absolute;
	width: 1024px;
	height: 768px;
	top: 62px;
	left: 10px;
}


/*추가된 txt + 연산자*/
.queText {
	font-family: NanumGothicExtraBold;
	font-size: 80px;
	color: #333333;
	cursor: default;
	z-index: 10;
}

#equal,
#queTxt_wrap {
	position: absolute;
}

#queTxt {
	text-align: right;
}

#cal_img {
	position: absolute;
	left: 214px;
	top: 212px;
}

#equal,
#queTxt_wrap,
#answer,
#line,
#answerBg {
	-webkit-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}