.contentsList { margin: 0 auto; } 
.contentsList > li { align-items: flex-start; padding-top: 15px; } 
.bunsuContainer .bullet.exam { margin-top: 20px; } 
.contentsList .colorBox { margin-top: -10px; display: inline-block; vertical-align: middle; align-items: center;} 
.contentsList .bunsuContainer .toggle { display: inline-block; vertical-align: middle; text-align: left; align-items: center;} 
.contentsList .bunsuContainer .toggle .bunsuWrap { display: inline-block; vertical-align: middle; text-align: left; align-items: center;width: auto;} 

.formula_box > li{display: flex; align-items: center;justify-content: inherit;}
.formula_box .bunsuWrap > ul{display:inline-flex;min-width:50px;flex-direction:column;align-items:center;justify-content:center;}
.formula_box{display: flex;justify-content: space-evenly;}

.bunsuWrap.separation > ul{min-width: 70px;}
.bunsuWrap.separation li{width:100%;}
.bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.bunsuWrap.separation .toggle{width:100%;}



.page_3 .formula_box{display: flex;flex-flow: row wrap;justify-content: left;align-items: center;}
.page_3 .formula_box > li{width: 50%;align-items: center;margin-top: 50px;}
.page_3 .formula_box .answer{display:flex;align-items: center;}



.page_4 .formula_box {display: flex;flex-flow: column;}
.page_4 .formula_box > li{width: 500px;margin: 50px auto 0;}

.page_5 .formula_box {margin: 50px auto 0;}
.page_5 .formula_box .toggle {margin: 0 20px;}



.pop_page_1 .flex-box{align-items: center;}
.pop_page_1 .dot{margin-top: 35px;}
.pop_page_2 .flex-box{align-items: center;}
.pop_page_2 .dot{margin-top: 35px;}

.pop_page_3 img{display:inline-block;margin:0 10px;width:24px;}


.bunsuWrap.flex-box{align-items: center;}

.pop_page_1 .contentsList {display:flex;justify-content: center;}
.pop_page_2 .contentsList {display:flex;justify-content: center;}