.contentsBox section {height:441px;}

.lineBox {position:relative;margin:0 auto 20px;width:320px}
.lineBox .bullet {position:absolute;left:0;top:10px;}
.lineBox .contentsList li {margin:0;color:#00a0ff;}

.lineBox .toggle {background-color:transparent;padding-left:60px;}
.lineBox .toggle:after {display:none}