.contentsBox section{padding:0;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

.imgContainer {height:125px;margin:0 0 20px;text-align:center;}
.imgContainer img {height:100%;}