@charset "utf-8";

.eye.popBtn {
    transform: translate(0, 9px);
}
.popup_container {z-index:5}
.popup_pages>li.whole.pop_page_1 .popup_contents{
    padding:0;
    background-color: #c6c6e0;
}

.page_1 .contentsBox{padding:0;}
.page_1 .answer{text-align:justify !important}
.page_1 .colorBox{display: table; margin:30px 0 10px;}
.tit-wrap{width:600px;height:220px;background: url(../images/suh_h_0301_02_0008_201_2_1.png) no-repeat 0 0 / 100%; padding:43px 0 0 130px; position: relative; box-sizing: border-box; margin: 0 auto;}
.tit-wrap b{position: absolute; top:42px; left:56px;}

.page_2 .tit{display: flex; align-items: flex-start; margin-bottom:30px}
.page_2 .num{min-width:60px; min-height: 60px; background:url(../images/suh_h_0301_06_0010_201_2/suh_h_0301_06_0010_201_2_1_1.png) no-repeat 0 0/ 100%; display: flex; justify-content: center; align-items: center;line-height: 1;padding-bottom: 3px;box-sizing: border-box; margin-right:20px}

.page_2 .innerTab_1 .num{background:url(../images/suh_h_0301_06_0010_201_2/suh_h_0301_06_0010_201_2_1_1.png) no-repeat 0 0/ 100%;}
.page_2 .innerTab_2 .num{background:url(../images/suh_h_0301_06_0010_201_2/suh_h_0301_06_0010_201_2_2_1.png) no-repeat 0 0/ 100%;}
.page_2 .innerTab_3 .num{background:url(../images/suh_h_0301_06_0010_201_2/suh_h_0301_06_0010_201_2_3_1.png) no-repeat 0 0/ 100%;}
.page_2 .innerTab_4 .num{background:url(../images/suh_h_0301_06_0010_201_2/suh_h_0301_06_0010_201_2_4_1.png) no-repeat 0 0/ 100%;}

.page_2 .blinkOn.blinkOpacity{top: 41%; left: 45%;}
.page_2 .lineBox{height: 430px; width: 800px;margin: 0 auto;}
.page_2 .toggle{background-color: transparent; padding: 0; width: 560px;margin: 0 auto;display: block;height: 260px;}
.page_2 .toggle::after{display: none;}
.page_2 .toggle img{height: 100%;margin-right: 190px;}
.page_2 .balloon {top:0; left: 210px;width: 370px; color:#000; font-weight: 400;}
.page_2 .balloon .bunsuWrap ul > li:first-of-type{border-color:#000}
.page_2 .toggle.complete .click-finger-Btn {display: none;}


.page_3 .supply_guide{position: absolute; right:0; top: 50px;z-index: 2;}
.page_3 .tableContainer{width: 590px;}


.page_3 .innerTab_1 td .toggle{width:100%; height:100px;  display: flex; justify-content: center; align-items: center; background-color: transparent;}
.page_3 .innerTab_3 .toggle .answer{text-align: left; display: flex;}
.page_3 .innerTab_3 section{margin: 10px;}
.page_3 .innerTab_1 .dapCheckBtn:before {
    content: "예 보기";
    padding-left: 26px
}
.page_3 .innerTab_1 .dapCheckBtn{
    background-color: #00a0ff;
}
.page_3 .innerTab_1 .dapCheckBtn:hover{
    background-color: #236cbb;
}
.page_3 .innerTab_1 .dapCheckBtn.reset:before {
    padding-left: 19px;
    content: "다시하기"
}
.page_3 .innerTab_1 .dapCheckBtn.reset{
    background-color: #236cbb;
}






.pop_page_1 .contentsBox {
    padding: 0;
}
.pop_page_1 .balloon {
    text-align: center;
}
.pop_page_1 .img1 {
    width: 100%;
    height: 710px;
    background: #fde9de  url(../images/suh_h_0301_06_0010_201_1/suh_h_0301_06_0010_201_1_1.png) no-repeat 50% 90px / cover;
    position: relative;
}

.pop_page_1 .img1 .balloon {
    text-align: center;
}

.pop_page_1 .img1 .b1 {
    top: 230px;
    left: 50px;
    width: 220px;
}

.pop_page_1 .img1 .b2 {
    top: 220px;
    left: 280px;
    width: 250px;
}

.pop_page_1 .img1 .b3 {
    top: 60px;
    left: 700px;
    width: 460px;
}

.pop_page_1 .img1 .b2::after {
    left: 20% !important
}

.pop_page_1 .img2 {
    width: 100%;
    height: 710px;    background: #fde9de   url(../images/suh_h_0301_06_0010_201_1/suh_h_0301_06_0010_201_1_2.png) no-repeat 50% 120px/ cover;
    position: relative;
}

.pop_page_1 .img2 .b1 {
    top: 140px;
    left: 40px;
    width: 400px;
}

.pop_page_1 .img2 .b2 {
    top: 280px;
    left: 790px;
    width: 370px;
}

.pop_page_1 .img2 .bullet.orange.number {
    transform: translate(0, 5px);
}

.pop_page_1 .img3 {
    width: 100%;
    height: 710px;    background: #fde9de   url(../images/suh_h_0301_06_0010_201_1/suh_h_0301_06_0010_201_1_3.png) no-repeat 50% 100px/ cover;
    position: relative;
}

.pop_page_1 .img3 .b1 {
    top: 260px;
    left: 50px;
    width: 420px;
}
.pop_page_1 .img3 .b1::after{
    left:80% !important
}
.pop_page_1 .img3 .b2 {
    top: 280px;
    left: 790px;
    width: 370px;

}
.page_3 .contentsBox{padding:0}
.page_3 .img-wrap{width:100%; position: relative; margin-top:30px}
.page_3 .img-wrap img{width:100%}
.page_3 .img-wrap .dotList{position: absolute; top: 30px; left: 100px;padding-right: 50px;}
.page_3 .img-wrap > div{position: absolute; width:300px; top: 150px; left: 360px;}
.page_3 .img-wrap > .toggle{position: absolute; width: 860px; top: 100px; left: 90px; padding-bottom:30px}
.page_3 .img-wrap > .toggle .answer{display: flex; align-items: flex-start;}
.page_3 .img-wrap > .toggle .answer .exam{transform: translate(0,14px);}





.pop_page_2 img{width: 80%;margin: 50px auto;display: block;}
.pop_page_2 .exam{position: absolute; top: 70px; left: 90px;}