.lineBox{margin:60px auto 0; width:500px; text-align: center; padding:110px 40px 0;}

.lineBox .flex-wrap > div{margin: 0 10px; width:33%}
.lineBox .flex-wrap > div:first-child{width:40%}
.lineBox .flex-wrap {width: 100%; }
.lineBox  img{width: 500px;}

.type-calc.toggle.complete .click-finger-Btn{display: none;}
.type-calc.toggle .click-finger-Btn{position: absolute; top:60px; left:100px;}
.type-calc.toggle{background-color: transparent;}
.type-calc.toggle::after{display: none;}
.type-calc.toggle .answer{margin-top:30px}
.arrow-long {width:100px; height:2px; background-color: red; position: absolute; transform-origin: top left;}
.arrow-long::after{content:""; display: block; width:10px; height: 10px; border-top:2px solid red; border-right:2px solid red; right:4px;position: absolute; transform: rotate(45deg) translate(0, -7.5px);}
.arrow-long.n1 {top: 54px;left: 50px;transform: rotate(37deg); width: 60px;}
.arrow-long.n2 {top: 54px;left: 108px;transform: rotate(37deg); width: 60px;}


