


.btn_1 {
  top: 35px;
  left: 248px;
}
.btn_2 {
  top: 25px;
  left: 551px;
}
.btn_3 {
  top: 50px;
  left: 996px;
}

.btn_4 {
  top: 244px;
  left: 265px;
}
.btn_5 {
  top: 274px;
  left: 596px;
}
.btn_6 {
  top: 244px;
  left: 1007px;
}


.popup_pages .dragBox {
  position: absolute;
  bottom: 6px;
  right: 0;
  width: 240px;
  height: 90px;
}
/* .popup_pages .dragBox .rotateContainer.rotate_protractor {
  top: 25px;
  left: 20px;
} */
.popup_pages .dragBox .rotateContainer.rotate_triangle_2 {
  top: 30px;
  left: 45px;
}

.popup_pages .rotateContainer.rotate_protractor.showRotate {
  width: 670px;
  height: 200px;
}
.popup_pages .rotateContainer.rotate_triangle_2.showRotate {
  width: 670px;
  height: 200px;
}
.popup_pages .imageBox {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.popup_pages .page1 .imageBox {
  background-size: 560px auto;
  background-image: url("../images/2_1/2_1_1_pop_1.svg");
}
.popup_pages .page2 .imageBox {
  background-size: 560px auto;
  background-image: url("../images/2_1/2_1_1_pop_2.svg");
}
.popup_pages .page3 .imageBox {
  background-size: 560px auto;
  background-image: url("../images/2_1/2_1_1_pop_3.svg");
}
.popup_pages .page4 .imageBox {
  background-size: 560px auto;
  background-image: url("../images/2_1/2_1_1_pop_4.svg");
}
.popup_pages .page5 .imageBox {
  background-size: 560px auto;
  background-image: url("../images/2_1/2_1_1_pop_5.svg");
}
.popup_pages .page6 .imageBox {
  background-size: 560px auto;
  background-image: url("../images/2_1/2_1_1_pop_6.svg");
}
