






.flex-item{position: relative;}
.flex-item.n1,
.flex-item.n2{min-width:370px; }
.flex-item .icon_arrow{
    right:0;
    top:50px;
    position: absolute;
}
.flex-item.n2 .icon_arrow{
    top:100px;
}
.flex-item.n1,
.flex-item.n3{top:50px}

.bg{background:#e3e3e3;}












