#wrap main {z-index:0}
.popup_container{z-index: 1;}
.content-container{height: 530px;}
.suhi h2 .blankBox{margin-top:8px;}
.solve .contentsList div {font-size:35px;}
.blankBox {min-width: 40px;min-height: 40px;max-width: 40px;max-height: 40px;margin-top: 6px;}
.blankBox.w50 {margin-top: 0;}
.whole .buttonContainer{bottom: 20px;right: 40px;}
.popup_pages > li.whole h2.pop-tit {background-color:transparent !important;align-self:flex-start;padding:20px}
.contentsBox .contentsBox {padding: 0;}
.whole .moveButtonContainer {bottom: 25px;}

.page_1 .img-content {position:relative;display:flex;align-items:center;height:260px;margin-top: 30px;}
.page_1 .img-content > img {width:100%}
.page_1 .text {position: absolute;z-index: 1;text-align: center;}
.page_1 .text span {display: block;line-height: 1.2;}
.page_1 .text.n1 {bottom: -4px;left: 282px;}
.page_1 .text.n2 {bottom: -4px;left: 620px;}

.st1 .flex-wrap.bg {justify-content: space-between;align-items: center;height: calc(100% - 100px);padding: 0 30px;}
.st1 .flex-wrap.bg .img-wrap {position: relative;}
.st1 .flex-wrap.bg .img-wrap .bullet.exam {position: absolute;top: -50px;left: 0;opacity: 0;}
.st1 .flex-wrap.bg .img-wrap .bullet.exam.on {opacity: 1;}
.st1 .flex-wrap.bg .img-wrap .click-finger-Btn {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.st1 .flex-wrap.bg .img-wrap .click-finger-Btn.complete {opacity: 0;animation: none;}
.st1 .flex-wrap.bg .flex-item {text-align: center;}
.st1 .flex-wrap.bg .flex-item .toggle.noBg:after {display: none;}
.st1 .flex-wrap.bg .flex-item.n1 .toggle.noBg,
.st1 .flex-wrap.bg .flex-item.n3 .toggle.noBg {position: relative;}
.st1 .flex-wrap.bg .flex-item.n1 .toggle.noBg img,
.st1 .flex-wrap.bg .flex-item.n3 .toggle.noBg img {position: relative;width: 280px;}
.st1 .flex-wrap.bg .flex-item.n1 .toggle.noBg .answer img,
.st1 .flex-wrap.bg .flex-item.n3 .toggle.noBg .answer img {position: absolute;top: 0;left: 0;opacity: 0;}
.st1 .flex-wrap.bg .flex-item.n1 .toggle.noBg .answer.on img,
.st1 .flex-wrap.bg .flex-item.n3 .toggle.noBg .answer.on img  {opacity: 1;}
.st1 .flex-wrap.bg .flex-item.n2 {display: flex;justify-content: center;}
.st1 .flex-wrap.bg .flex-item.n2 .flex-wrap {align-items: center;}
.st1 .flex-wrap.bg .toggle.circle {margin: 0 20px;}
/* .pop_page_2.whole .contentsList > li div {display: flex;align-items: center;}
.pop_page_2.whole .contentsList > li div img {margin: 0 3px;}
.pop_page_2.whole .contentsList > li div .toggleBlank {margin: 0 5px;}
.pop_page_2.whole .st1 .flexListContainer {width: 100%;height: 510px;justify-content: space-between;}
.pop_page_2.whole .st1 .flexListContainer .toggle.noBg img {width: 250px !important;}
.pop_page_2.whole .st1 .flex-wrap.bg .flex-item.n2 {margin: 0 50px;} */
.whole.pop_page_1 .contentsBox {padding: 0;}
.whole.pop_page_1 .contentsList > li div {display: flex;align-items: center;}
.whole.pop_page_1 .contentsList > li .toggle.circle {margin: 0 8px;}
.whole.pop_page_1 .textAlignC.bg {position: relative;width: 90%;margin: 100px auto 0;font-size: 40px;}
.whole.pop_page_1 .textAlignC.bg > img {width: 100%;}
.whole.pop_page_1 .textAlignC.bg .flex-wrap {position: absolute;bottom: -45px;left: 0;width: calc(100% - 20px);justify-content: space-between;}
.whole.pop_page_1 .flex-wrap.n2 {width: 72%;margin: 80px auto 0;font-size: 40px;}
.whole.pop_page_1 .flex-wrap.n2 img {width: 70px;height: auto;margin-top: 20px;}
.whole.pop_page_1 .buttonContainer {right: 0;}
.whole.pop_page_1 .moveButtonContainer {width: auto;left: 50%;transform: translateX(-50%);}

.page_3 section {position: relative;}
.iframe-wrap {width: 1280px;position: absolute !important;top: 0px;left: -30px;height: 512px;overflow: hidden;z-index: 0 !important;}
.page-iframe {width: 1280px;height: 714px;overflow: hidden;border: 0;position: absolute;z-index: 1;top: -160px;left: -110px;}
.page_3 .colorBox {position: absolute;left: 0;display: inline-block;z-index: 1;padding: 12px 25px;}
.page_3 .colorBox.n1 {left: -3px;top: 100px;}
.page_3 .colorBox.n2 {left: -3px;top: 253px;}
.page_3 .buttonContainer:not(.left) {right: 170px;}

.whole.pop_page_2 .contentsList li ins +div {z-index: 3;}
.whole.pop_page_2 .iframe-wrap {width: 1280px;position: absolute !important;top: 0px;left: 0;height: 750px;overflow: hidden;z-index: 0 !important;}
.whole.pop_page_2 .page-iframe {width: 1280px;height: 750px;overflow: hidden;border: 0;position: absolute;z-index: 1;top: 0;left: -74px;}
.whole.pop_page_2 .colorBox {position: absolute;left: 0;display: inline-block;z-index: 1;padding: 12px 25px;}
.whole.pop_page_2 .colorBox.n1 {left: 67px;top: 260px;}
.whole.pop_page_2 .colorBox.n2 {left: 67px;top: 408px;}
.whole.pop_page_2 .buttonContainer:not(.left) {right: 170px;}

.page_5 ins.number,
.whole.pop_page_4 ins.number,
.solve.pop_page_5 ins.number {
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 1.5em;
    border-radius: 10px;
    color: #6dbc4b;
    border: 2px solid #6dbc4b;
    background-color: #fff;
}
.page_5 .lineBox {width: 100%;margin: 30px auto 0;padding: 20px;}
.page_5 .lineBox .flex-wrap {justify-content: space-around;}
.page_5 .lineBox .flex-wrap > div {display: flex;align-items: center;}
.page_5 .flexListContainer {width: 500px;margin: 50px auto 0;}
.page_5 .flexListContainer li {display: flex;align-items: center;}
.page_5 .flexListContainer li .colorBox {display: inline-block;margin-right: 10px;}
.page_5 .flexListContainer li .toggle ins.number {display: inline-block;}
.page_5 .flexListContainer li .toggle {min-width: 80px;}

.whole.pop_page_4 div.mt_20 {width: 100%;}
.whole.pop_page_4 .lineBox {width: calc(100% - 30px);margin: 70px auto 0;padding: 20px;}
.whole.pop_page_4 .lineBox .flex-wrap {justify-content: space-around;}
.whole.pop_page_4 .lineBox .flex-wrap > div {display: flex;align-items: center;}
.whole.pop_page_4 .flexListContainer {width: 550px;margin: 50px auto 0;}
.whole.pop_page_4 .flexListContainer li {display: flex;align-items: center;}
.whole.pop_page_4 .flexListContainer li .colorBox {display: inline-block;margin-right: 10px;}
.whole.pop_page_4 .flexListContainer li .toggle ins.number {display: inline-block;}
.whole.pop_page_4 .flexListContainer li .toggle {min-width: 80px;}

.solve.pop_page_5 ins.number {position: relative;top: -4px;display: inline-block;}

.page_6 .textAlignC.bg {position: relative;margin: 20px auto 0;}
.page_6 .textAlignC.bg img {width: 100%;}
.page_6 .textAlignC.bg .text,
.page_6 .textAlignC.bg .colorBox {position: absolute;z-index: 1;display: inline-block;text-align: center;}
.page_6 .textAlignC.bg .text.n1 {bottom: 37px;left: 257px;}
.page_6 .textAlignC.bg .text.n2 {bottom: 37px;right: 230px;}
.page_6 .textAlignC.bg .colorBox.c1 {top: 20px;left: 50%;transform: translateX(-50%);}
.page_6 .textAlignC.bg .colorBox.c2 {bottom: -35px;left: 233px;}
.page_6 .textAlignC.bg .colorBox.c3 {bottom: -35px;right: 157px;}

.page_6 .innerTab_2 .box-wrap {width: 100%;height: 419px;margin-top: 30px;background: url(../images/suhi_p_0301_06_0009_27.png) 0 50% /100% no-repeat;}
.page_6 .innerTab_2 .box {width: 100%;padding: 55px 65px 50px;box-sizing: border-box;}

.pop_page_5 .box-wrap {width: 100%;height: calc(100% - 100px);}
.pop_page_5 .flex-wrap {align-items: center;height: 100%;}
.pop_page_5 .flex-wrap .flex-item {height: 100%;}
.pop_page_5 .flex-wrap .flex-item.n1 {position: relative;text-align: center;}
.pop_page_5 .flex-wrap .flex-item.n1 .text.n1 {position: absolute;top: 107px;left: 115px;z-index: 1;}
.pop_page_5 .flex-wrap .flex-item.n1 .text.n2 {position: absolute;top: 286px;left: 95px;z-index: 1;}
.pop_page_5 .flex-wrap .flex-item.n1 img {width: 225px;}
.pop_page_5 .flex-wrap .flex-item.n2 {flex: 2;}
.pop_page_5 .flex-wrap .flex-item.n2 .box {width: 100%;height: 480px;margin-top: 30px;position: relative;background: url(../images/suhi_p_0301_06_0009_29.png) 0 0 /100% no-repeat;padding: 120px 37px 30px;box-sizing: border-box;}
.pop_page_5 .flex-wrap .flex-item.n2 .box .colorBox {display: inline-block;position: absolute;top: 30px;left: 50%;transform: translateX(-50%);}
.pop_page_5 .flex-wrap .flex-item.n2 .box div {margin-top: 5px;}

.page_7 .oxContainer.inline [data-ox-obj]{width:50px;text-align:center;}

.whole.pop_page_6 section {width: 100%;margin: 100px auto 0;font-size: 40px;}
.whole.pop_page_6 .oxContainer.inline [data-ox-obj]{width:50px;text-align:center;}
