.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}

.btn_1.zoomBtn{background:#fff url(../images/suh_h_0302_03_0004_102_1/suh_h_0302_03_0004_102_1_1.png) no-repeat 0 0 / cover; width:100%; height: 440px;}
.btn_2.zoomBtn{background:#fff url(../images/suh_h_0302_03_0004_102_1/suh_h_0302_03_0004_102_1_2.png) no-repeat 0 0 / cover; width:100%; height: 440px;}


main .b1{top: 20px;left: -10px;z-index: 2;width: 520px;text-align: center;}
main .b2{top: -20px;left: 40px;z-index: 2;text-align: center;width: 400px;}
main .b3{top: 320px;left: -20px;z-index: 2;width: 370px;text-align: center;}
main .b4{top: -20px;left: 30px;z-index: 2;text-align: center;width: 380px;}
main .b1::after{
    left: 82% !important;
}

main .b3::after{
    left:28% !important;
}

.pop_page_1 .img{
    width: 100%;
    height: 100%;
    background:#fff url(../images/suh_h_0302_03_0004_102_1/suh_h_0302_03_0004_102_1_2.png) no-repeat 50% 0 / cover; 
}
.popup_pages img{width:114%;margin-left: -160px;}
.popup_pages .b1{top: 110px;left: 620px;z-index: 2;text-align: center;width: 530px;}
.popup_pages .b2{top: 150px;left: 30px;z-index: 2;text-align: center;width: 340px;}
.popup_pages .b3{top: 320px;left: 420px;z-index: 2;text-align: center;width: 380px;}
.popup_pages .b4{top: 100px;left: 730px;z-index: 2;text-align: center;width: 420px;}
.popup_pages .b1::after{
    left: 84% !important;
}
.popup_pages .b2::after{
    left: 18% !important;
}
.toggle .answer{
    text-align: justify;
}
.ls-1{letter-spacing: -1px !important;}
.ls-2{letter-spacing: -2px !important;}
.ls-3{letter-spacing: -3px !important;}

.flex-item.n2 section{
    display: flex;
    justify-content: center;
}
.flex-item.n2 section .toggle{
    width: auto;
}
.supply_guide{position: absolute ; top:0; left:0;}









