
/* #wrap header .title{margin-bottom:50px} */
.supply_guide{top: 60px;left: 700px;}

.toggle-img.on,
[class*="img"].on .toggle-img{opacity: 1;}
.click-finger-Btn.complete{display: none;}
.toggle-img{opacity: 0;}

.popup_pages .img-wrap{width:500px}
.popup_pages .img-wrap img{width: 100%;}
.popup_pages > .image {top:50%; left:50%;margin: -200px 0 0 -250px;}


.page_1 .img-wrap {width:100%;position: relative;height: 460px;}
.page_1 .img-wrap > div{position: absolute;}
.page_1 .img-wrap img{width:100%;display:block;}
.page_1 .img-wrap .img1{width: 373px;top: 43px;left: 344px;}
.page_1 .img-wrap .img1 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}
.page_1 .img-wrap .img2{width: 320px;top: 213px;left: 0px;}
.page_1 .img-wrap .img2 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}
.page_1 .img-wrap .img3{width: 220px;top: 43px;left: 750px;}
.page_1 .img-wrap .img3 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}
.page_1 .img-wrap .colorBox{position: absolute;top: -40px; left:50%;transform: translate(-50%, 0);white-space: nowrap;}
.page_1 .img-wrap .n1{position: absolute;top: 184px;left: 167px;}
.page_1 .img-wrap .n2{position: absolute;top: -136px;left: 20px;text-align: center;}

.page_1 .img-wrap .b1{position: absolute;top: 34px;left: 20px;}
.page_1 .img-wrap .b2{position: absolute;top: -34px;left: 110px;}
.page_1 .img-wrap .b3{position: absolute;top: -30px;left: 240px;}
.page_1 .img-wrap .b4{position: absolute;top: 50px;left: 340px;}
.page_1 .img-wrap .b5{position: absolute;top: 166px;left: 380px;}
.page_1 .img-wrap .b6{position: absolute;top: 280px;left: 340px;}
.page_1 .img-wrap .b7{position: absolute;top: 360px;left: 240px;}
.page_1 .img-wrap .b8{position: absolute;top: 365px;left: 110px;}
.page_1 .img-wrap .b9{position: absolute;top: 300px;left: 20px;}





.page_2 .img-wrap {width:100%;position: relative;height: 290px;}
.page_2 .img-wrap img{width:100%;}
.page_2 .img-wrap > div{position: absolute;}
.page_2 .img-wrap .img1{width: 290px;top: 0px;left: 402px;}
.page_2 .img-wrap .n1{top: 132px;left: 540px;}
.page_2 .img-wrap .n2{top: -20px;left: 566px;}
.page_2 .img-wrap .n3{top: 121px;left: 647px;}
.page_2 .img-wrap .n4{top: 249px;left: 580px;}
.page_2 .img-wrap .n5{top: 277px;left: 444px;}
.page_2 .img-wrap .n6{top: 137px;left: 488px;}
.page_2 .img-wrap .n7{top: 258px;left: 387px;}
.page_2 .img-wrap .n8{top: 120px;left: 317px;}




.study_guide{position: absolute;top: 0; right:0;}
.videoSubPlayBtn{position: absolute; right:0;top: -40px;}

.iframe-wrap{position: absolute;top: -90px;left: -56px;width: calc(100% + 116px);height: 577px;overflow: hidden; }