
#wrap header .title{margin-bottom:34px}
.supply_guide{top: 60px;left: 700px;}

.toggle-img.on,
[class*="img"].on .toggle-img{opacity: 1;}
.click-finger-Btn.complete{display: none;}
.toggle-img{opacity: 0;}

.popup_pages .img-wrap{width:500px}
.popup_pages .img-wrap img{width: 100%;}
.popup_pages > .image {top:50%; left:50%;margin: -200px 0 0 -250px;}

#wrap header .title .bullet.number{margin-top:7px}

.page_1 .img-wrap {width:100%;position: relative;height: 460px;top: 62px;}
.page_1 .img-wrap > div{position: absolute;}
.page_1 .img-wrap img{width:100%;display:block;}
.page_1 .img-wrap .img1{width: 293px;top: 54px;left: 383px;}
.page_1 .img-wrap .img1 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}
.page_1 .img-wrap .img2{width: 320px;top: 213px;left: 0px;}
.page_1 .img-wrap .img2 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}
.page_1 .img-wrap .img3{width: 220px;top: 43px;left: 750px;}
.page_1 .img-wrap .img3 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}
.page_1 .img-wrap .colorBox{position: absolute;top: -40px; left:50%;transform: translate(-50%, 0);white-space: nowrap;}
.page_1 .img-wrap .n1{position: absolute;top: 144px;left: 127px;}
.page_1 .img-wrap .n2{position: absolute;top: -146px;left: 30px;text-align: center;}
.page_1 .innerTab_2 .img-wrap .n2{position: absolute;top: -146px;left: 30px;text-align: center;}

.page_1 .img-wrap .b1{position: absolute;top: 14px;left: 0px;}
.page_1 .img-wrap .b2{position: absolute;top: -44px;left: 80px;}
.page_1 .img-wrap .b3{position: absolute;top: -40px;left: 180px;}
.page_1 .img-wrap .b4{position: absolute;top: 20px;left: 270px;}
.page_1 .img-wrap .b5{position: absolute;top: 126px;left: 300px;}
.page_1 .img-wrap .b6{position: absolute;top: 230px;left: 270px;}
.page_1 .img-wrap .b7{position: absolute;top: 290px;left: 190px;}
.page_1 .img-wrap .b8{position: absolute;top: 295px;left: 90px;}
.page_1 .img-wrap .b9{position: absolute;top: 237px;left: 0px;}

.page_1 .innerTab_2 .iframe-wrap .iframe-item {top: 239px;transform: scale(1) translate(0, -50%);left: -104px;}


.page_2 .img-wrap {width:100%;position: relative;height: 400px;}
.page_2 .img-wrap > div{position: absolute;}
.page_2 .img-wrap img{width:100%;display:block;}
.page_2 .img-wrap .img1{width: 293px;top: 54px;left: 383px;}
.page_2 .img-wrap .img1 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}
.page_2 .img-wrap .img2{width: 320px;top: 213px;left: 0px;}
.page_2 .img-wrap .img2 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}
.page_2 .img-wrap .img3{width: 220px;top: 43px;left: 750px;}
.page_2 .img-wrap .img3 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}
.page_2 .img-wrap .colorBox{position: absolute;top: -40px; left:50%;transform: translate(-50%, 0);white-space: nowrap;}
.page_2 .img-wrap .n1{position: absolute;top: 144px;left: 127px;}
.page_2 .img-wrap .n2{position: absolute;top: -76px;left: 30px;text-align: center;}

.page_2 .img-wrap .b1{position: absolute;top: 14px;left: 0px;}
.page_2 .img-wrap .b2{position: absolute;top: -44px;left: 80px;}
.page_2 .img-wrap .b3{position: absolute;top: -40px;left: 180px;}
.page_2 .img-wrap .b4{position: absolute;top: 20px;left: 270px;}
.page_2 .img-wrap .b5{position: absolute;top: 126px;left: 300px;}
.page_2 .img-wrap .b6{position: absolute;top: 230px;left: 270px;}
.page_2 .img-wrap .b7{position: absolute;top: 290px;left: 190px;}
.page_2 .img-wrap .b8{position: absolute;top: 295px;left: 90px;}
.page_2 .img-wrap .b9{position: absolute;top: 237px;left: 0px;}

.study_guide{position: absolute;top: -60px; right:0;}
.videoSubPlayBtn{position: absolute; right:0;top: -40px;}

.iframe-wrap{position: absolute;top: -30px;left: -56px;width: calc(100% + 116px);height: 577px;overflow: hidden;}