.img-wrap {width:100%;position: relative;height: 460px;}
.img-wrap > div{position: absolute;}
.img-wrap img{width:100%;display:block;}

.img-wrap .img1{width: 460px;top: 30px;left: 283px;}
.img-wrap .n1{top: -10px;left: 230px;position: absolute !important;}
.img-wrap .n2{top: 294px;left: 230px;position: absolute !important;}
.img-wrap .n3{top: 60px;left: 104px;position: absolute !important;}
.img-wrap .n4{top: 187px;left: 370px;position: absolute !important;}
.img-wrap .n5{top: 237px;left: 110px;position: absolute !important;}
.img-wrap .n6{top: 110px;left: 370px;position: absolute !important;}
.img-wrap .n7{top: 145px;left: 210px;position: absolute !important;}

.img-wrap .b1{text-align: center; top: 0;left: -280px;position: absolute !important;}
.img-wrap .b2{text-align: center; top: -40px;left: 500px;position: absolute !important;width: 270px;}
.img-wrap .b3{text-align: center; top: 290px;left: 30px;position: absolute !important;}

.toggle-img{opacity: 0;}
.toggle-img.on {opacity: 1;}

.f1{position: absolute;top: 200px;left: 179px;}
.f2{position: absolute;top: 30px;left: 430px;}
.f3{position: absolute;top: 150px;left: 540px;}
.f4{position: absolute;top: 150px;left: 540px;}

.complete.click-finger-Btn {display: none;}

.supply_guide{position: absolute;left: 300px;top: 65px;}
.videoSubPlayBtn{position: absolute; right:0; top:0;}
.popup_contents{word-break: keep-all; letter-spacing: -1px;}