.greenT{color:green}
.page_1 .math_calc_table .rowLine{top:0; z-index: 1;}
.page_1 .math_calc_table .line_1{left:50px}
.page_1 .math_calc_table .line_2{left:100px}
.page_1 .math_calc_table .line_3{left:150px}
.page_1 .math_calc_table{position: relative; top:0 !important; right:0 !important;}
.page_1 .math_calc_table{width:200px;  line-height: 1.1;}
.page_1 .math_calc_table td{padding:5px 0;}
.page_1 .math_calc_table .line td{padding: 0 !important;}
.page_1 .math_calc_table.class3 tr.line-tr td, .math_calc_table.class3 tr.line td{height: 2px !important;}
.page_1 .flex-wrap{justify-content:space-between; }
.page_1 .flex-item{position: relative;}
.page_1 .flex-item + .flex-item{margin-left:50px;}
.page_1 .flex-wrap .icon_arrow{margin:0;}
.page_1 td.bg{background: #e3e3e3;}
.page_1 .icon_arrow {position:absolute; right: -10px; top: 85px; cursor: pointer;}
.page_1 .icon_arrow.big{width: 41px; height: 35px;}
.page_1 .lineBox{padding-top:30px}
.page_1 .vOn .icon_arrow {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}

.page_1 .b3::after{left:30% !important}
.page_1 .flex-wrap{padding: 0 80px 0 140px;}
.page_1 .b1{bottom: -50px;left: -20px;text-align: center;z-index: 4;width: 190px;}
.page_1 .b2{bottom: -103px;left: -87px;text-align: center;z-index: 4;}
.page_1 .lineBox.box{height: 420px; padding-top: 50px;}

.page_2 .lineBox{padding:20px 40px; margin:0 auto; width:500px; position: relative;}
.page_2 .lineBox .line{border-top:3px dashed #000; width:100px; height:0}
.page_2 .lineBox .n1{display: flex;align-items: center;position: absolute;top: 159px;left:200px;}
.page_2 .lineBox .n2{display: flex;align-items: center;position: absolute;top: 230px;left:200px;}
.page_2 .lineBox .math_calc_table.class3 tr td{
    box-sizing: content-box;
    padding:8px 0 !important;
}
.page_2 .lineBox .math_calc_table.class3 tr.line-tr td{
    box-sizing:border-box;
    padding:1px 1px !important;
}
.toggle.sup {top:-50px;}
.toggle.sup .answer{font-size:38px !important}

.page_3 .flex-wrap{justify-content: space-around; padding:0 50px; margin-top:100px}

.page_4 .bg{background: url(../images/suhi_h_0301_04_0006_2.png) no-repeat 50% 0 / 100%;}
.suhi .page_4 h2+section .study_guide {top:-30px}


.page_4 .dragLineContainer {margin-top:70px; flex-direction: column;}
.top{width:100%; display: flex; ;}
.top > div{position: absolute;top: -30px;}
.top .n1{left: 212px;}
.top .n2{left: 528px;}
.top .n3{left: 850px;}
.bottom > div{position: absolute;top: 274px;}
.bottom .b1{left: 178px;}
.bottom .b2{left: 491px;}
.bottom .b3{left: 814px;}

.top_1 {top: 148px;}
.top_2 {top: 318px;}

.left_1 {left: 296px;}
.left_2 {left: 613px;}
.left_3 {left: 933px;}
.dragLineArea.top_1::after {background-color:#a58bbf}
.dragLineArea.top_2::after {background-color:#80b0de}

.page_5 .img-bg {background:url("../images/suhi_h_0301_04_0006_3.png") no-repeat 50% 50%;height: 160px;background-size:contain;margin-top:80px}
.page_5 .img-bg .item {position:absolute;top:20px;display:flex;align-items:center}
.page_5 .img-bg .txt-item {position:absolute;display:flex;align-items:center;top: 118px;}
.page_5 .img-bg .txt-item .bullet {align-self:center;margin-right:25px}
.page_5 .txt-item.n1 {left: 257px;}
.page_5 .txt-item.n2 {left: 741px;}
.page_5 .txt-item.n3 {left:595px}
.page_5 .txt-item.n4 {left:859px}
.page_5 .toggle .bullet {position:relative;top:-4px;display:inline-block}

.page_6 h2 img{vertical-align: middle; display: inline-block; width:40px; transform: translate(0,-5px);}
.page_6 h2 .lineBox{padding:5px;width: 50px;height: 60px;display: inline-block;line-height: 1;text-align: center;}

.page_7 .flex-wrap{justify-content: space-around; align-items: center;}
.page_7 .flex-wrap > img{width: 390px;}
.page_7 .flex-wrap .lineBox{padding:30px 50px}
.blankBox.w40{
    min-width:40px !important;
    min-height: 40px !important;
    max-width:40px !important;
    max-height: 40px !important;
    transform: translate(0,4px);
}
.pop_page_4 .icon_arrow{transform: translate(0,10px); margin-right:10px}