#wrap main {z-index:0}
.popup_container{z-index: 1;}
.content-container{height: 530px;}
.suhi h2 .blankBox{margin-top:8px;}
.suhi h2 {margin-bottom: 30px;}
.popup_contents .colorBox:not(.check), .popup_contents .lineBox {font-size: 40px;}
.contentsList div .icon_bogi {margin: 8px 4px 0 4px!important;height: 36px;border-radius: 10px;vertical-align: top;}
.contentsList div .icon_bogi:after {font-size: 21px;line-height: 36px;}
.popup_pages>li.whole h2.pop-tit{background-color:transparent !important; align-self:flex-start; padding:20px; }
.popup_pages .buttonContainer{right: 40px;}
.type-iframe .buttonContainer.left{left:56px; right: auto;}
.type-iframe .buttonContainer{right:225px;}
.btns-bottom-right {bottom:10px}
b{font-weight: 400;}
.popup_pages>li.whole{
    font-size:40px;
}
.whole .bullet.circleDot {margin-top:18px}
.whole .icon_o_title{transform: translate(0,3px);}
.blankBox.w40{
    min-width:40px !important;
    min-height:40px !important;
    max-width:40px !important;
    max-height:40px !important;
    transform: translate(0px, 6px);
}
.flex-wrap .icon_arrow {margin: 0 10px;}
.flexListContainer .flex-wrap {align-items: center;}
.oxContainer {display: flex; justify-content: center;}
.oxContainer li{margin:0 50px}
.oxContainer .item{padding: 30px;}
.oxContainer .icon{width: 100%; height: 100%; position: absolute; top:0; left:0; background-size:100px 100px !important;}
.bogi_wrap {margin: 30px auto 0;width: 500px;}
.bogi_wrap .inner {display: flex;align-items: center;justify-content: space-around;}

.page_0 .flexListContainer.column li + li {margin: 0;}
.page_0 .flex-wrap {width: 100%;justify-content: space-between;padding: 50px 30px 0;text-align: center;}
.page_0 .flex-item.n1 {position: relative;width: 50%;}
.page_0 .flex-item.n1 .img-wrap {margin-top: 200px;text-align: left;}
.page_0 .flex-item.n1 .img-wrap > img {width: 460px;height: auto;}
.page_0 .flex-item.n1 .balloon {position: absolute;top: 55px;z-index: 1;text-align: center;}
.page_0 .flex-item.n1 .balloon.b1 {left: 7px;top: 80px;padding: 20px;}
.page_0 .flex-item.n1 .balloon.b2 {left: 157px;}
.page_0 .flex-item.n1 .balloon.b3 {left: 357px;}
.page_0 .flex-item.n2 .img-wrap {position: relative;width: 470px;height: 320px;background: url(../images/suhi_p_0301_03_0006_2.png) 50% 50% /100% no-repeat;}
.page_0 .flex-item.n2 .img-wrap .flexListContainer.column {justify-content: center;width: 390px;height: 100%;margin: 0 auto;}
.page_0 .flex-item.n2 .img-wrap .flexListContainer li {display: flex;}
.page_0 .flex-item.n2 .img-wrap .flexListContainer li + li {margin-top: 10px;}
.page_0 .flex-item.n2 .img-wrap .text {color: #fff}


.page_1 .img-wrap img,
.pop_page_1.whole .img-wrap img {width: 800px;}
.page_1 .flex-wrap,
.pop_page_1.whole .flex-wrap {align-items: center;justify-content: center;margin-top: 30px;}

.page_2 .img-wrap,
.pop_page_2.whole .img-wrap {text-align: center;}
.page_2 .img-wrap img,
.pop_page_2.whole .img-wrap img {width: 400px;}
.page_2 .lineBox,
.pop_page_2.whole .lineBox {width: auto;margin: 10px auto 0;padding: 10px 20px;letter-spacing: -1px;}
.page_2 .lineBox .toggle,
.pop_page_2.whole .toggle {padding: 3px 16px;}
.page_2 .lineBox .flex-wrap,
.pop_page_2.whole .flex-wrap {align-items: center;flex-wrap: wrap;}
.page_5 img {width: 600px;}

.pop_page_3.solve .popup_contents {letter-spacing: -1.5px;}
.pop_page_5.solve .type-calc-wrap {width: 100%;margin-top: 20px;}
.pop_page_5.solve .type-calc-wrap .arrow-long {top: 44px;}

.popup_pages .contentsList {margin-bottom: 20px;}
.type-calc-wrap {position: relative;width: 200px;height: 120px;margin-top: 10px;}
.type-calc{position: absolute;top: 0;left: 0;}
.type-calc{background-color: transparent;}
.type-calc .group{margin-top:30px}
.type-calc .arrow-long {width:100px; height:2px; background-color: #e94d40; position: absolute; transform-origin: top left;}
.type-calc .arrow-long::after{content:""; display: block; width:10px; height: 10px; border-top:2px solid #e94d40; border-right:2px solid #e94d40; right:4px;position: absolute; transform: rotate(45deg) translate(0, -7.5px);}
.type-calc.n1 .arrow-long.n1 {top: 46px;left: 15px;transform: rotate(37deg);width: 60px;}
.type-calc.n1 .arrow-long.n2 {top: 46px;left: 70px;transform: rotate(37deg);width: 60px;}
.type-calc.n1 .arrow-long.n3 {top: 46px;left: 114px;transform: rotate(160deg);width: 100px;}
.type-calc.n2 .arrow-long.n1 {top: 48px;left: 32px;transform: rotate(19deg);width: 100px;}
.type-calc.n2 .arrow-long.n2 {top: 43px;left: 77px;transform: rotate(86deg);width: 38px;}
.type-calc.n2 .arrow-long.n3 {top: 48px;left: 128px;transform: rotate(160deg);width: 100px;}