body {
    background: url("../images/bgImg.png") center / cover no-repeat;
    /* background-position: 0 -116px; */
}

#bgCanvas {
    position: absolute;
    width: 1280px;
    height: 720px;
    top: 0;
    left: 0;
    /* left: 285px; */
}

#machine {
    position: absolute;
    display: inline-block;
    top: 17%;
    left: calc((1280px - 472px) / 2);
    width: 472px;
    height: 641px;
    background: url(../images/gamemachine_machine.png) no-repeat;
}

#questionTxt {
    position: absolute;
    top: 19px;
    left: 44px;
    z-index: 5;
    font-family: NanumGothicExtraBold;
    font-size: 55px;
    color: #ffffff;
    width: 382px;
    height: 94px;
    text-align: center;
    line-height: 94px;
    cursor: default;
    pointer-events: none;
}

#question {
    position: absolute;
    top: 186px;
    left: 68px;
    z-index: 5;
    font-family: NanumGothicExtraBold;
    font-size: 80px;
    color: #333333;
    width: 328px;
    height: 139px;
    line-height: 139px;
    text-align: center;
    cursor: default;
    pointer-events: none;
}

.mole {
    position: absolute;
    cursor: default;
}

.btnTxt {
    position: absolute;
    top: 19px;
    z-index: 5;
    font-size: 50px;
    color: #333333;
    width: 167px;
    text-align: center;
    cursor: default;
    font-family: NanumGothicExtraBold;
    pointer-events: none;
}