section {font-size:39px}

.answer .bunsuWrap ul > li:first-of-type {border-color:#00a0ff}
.bunsuWrap .toggle {margin:8px 0}
.ex-box {display:flex}
.ex-box.a-c {align-items:center}
.ex-box.a-c .bullet.exam {align-self:inherit;margin-top:0}
.ex-box .bullet.exam {flex-shrink:0}
.ex-box .inline-flex-box {align-items:center}
.img-answer {position:relative}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;transition:opacity 1s}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {z-index:2;opacity:1}
.box-flex {display:flex;justify-content:center;align-items:center}
.box-flex.j-s {justify-content:flex-start}
.box-flex.a-t {align-items:flex-start}
.study_guide {right:0}

.mr-s {margin-right:12px}

.box-flex ~ .box-flex {margin-top:40px}
.box-flex .img-a {width:200px}
.box-flex .img-b {width:400px}
.box-flex .bunsuWrap {display:flex;align-items:center}
.box-flex .bunsuWrap .toggle {margin:8px 0}
.box-flex .colorBox {flex-shrink:0}
.group-a {display:flex;align-items:center;box-sizing:border-box}
.group-a .img-answer {margin-right:0}
.group-a .bunsuWrap ul {display:block}
.group-a .bunsuWrap ul ~ ul {margin-top:6px}

.box-in-line {display:block;padding-bottom:4px}
.box-in-line .inline {display:inline}

.w-case-a {width:50%;margin:0 auto;display:block}
.w-case-a ~ .w-case-a {margin-top:20px}

.ex-img-box {display:flex;margin:0 auto;text-align:center}
.ex-img-box .img {width:300px}
.ex-img-box .img img {width:100%}
.ex-img-box .arrow {margin:0 40px}

.divide {position:relative;display:flex;justify-content:space-between;flex:1 0 100%;margin-top:10px;padding:0 2px}
.divide .divide-item {position:relative;width:2px;padding-top:10px}
.divide .divide-item .num {position:absolute;top:0;left:1px;transform:translateX(-50%);display:flex;align-items:center;height:86px;}
.divide .divide-item .bunsuWrap {position:absolute;top:30px;left:1px;transform:translateX(-50%);display:flex;align-items:center;height:86px;}

.mt-m-10 {margin-top:-10px}

.toggle.type-b {background-color:transparent;padding:0;z-index:0;cursor:default}
.toggle.type-b:after {display:none}

.box-flex.card .lineBox {padding:8px 20px;margin:0 10px}

/* page_1 */
.page_1 .dapCheckBtn {z-index:10}
.page_1 .basicSlider_slides.inner {padding:0 0 0 50px}
.innerTab_2 .lineBox {padding:5px 20px;width:830px;margin:-10px auto 0}
.innerTab_2 .lineBox .bunsuWrap .toggle {margin:8px 0}
.page_1 h2 .bunsuWrap {font-size:31px}
.page_1 h2 .bunsuWrap ul {font-size:35px;margin-top:-8px}
.page_1 .ex-img-box {margin-top:-10px}
/* page_2 */
.page_2 .dragLineContaine r{margin:0 5%; position: relative;}
.dragLineContainer > div > div {margin:10px 0; width:180px; text-align: center; padding:20px 0;}
.page_2 .left_1{left:250px}
.page_2 .left_2{left:436px}
.page_2 .right_1{left:664px}
.page_2 .right_2{left:850px}
.page_2 .top_1{top:80px}
.page_2 .top_2{top:224px}
.page_2 .top_3{top:368px}
/* page_3 */
.page_3 .box-flex.w-01 {flex-wrap:wrap;justify-content:space-between;width:860px;margin:60px auto 0}
.page_3 .box-flex.w-01 .group-a:nth-of-type(2n) {padding-left:50px}
.page_3 .box-flex.w-01 .group-a {width:50%;margin-bottom:40px}
/* page_4 */
.page_4 .box-flex.j-s {max-width:500px;margin-left:auto;margin-right:auto}
/* page_5 */
.page_5 .box-flex .deepPurple {margin-left:24px}
.page_5 h2 .bunsuWrap {font-size:31px}
.page_5 h2 .bunsuWrap ul {font-size:35px;margin-top:-8px}

