/* 체크 퀴즈 image-answer 타입 */
.quiz-check.image-answer {
    position: absolute;
}

.quiz:nth-child(1) .check-item {
    pointer-events: auto;
    left: 257px;
    top: 448px;
}
.quiz:nth-child(2) .check-item {
    pointer-events: auto;
    left: 543px;
    top: 448px;
}
.quiz:nth-child(3) .check-item {
    pointer-events: auto;
    left: 830px;
    top: 448px;
}
.quiz:nth-child(4) .check-item {
    pointer-events: auto;
    left: 1120px;
    top: 448px;
}



.quiz .answer span {
    font-size: 27px;
    color: #3567D7;
    position: absolute;
}

.quiz:nth-child(1) span {
    left: 668px;
    top: 1132px;
}
.quiz:nth-child(2) span {
    left: 96px;
    top: 1114px;
}
.quiz:nth-child(3) span {
    left: 424px;
    top: 1132px;
}
.quiz:nth-child(4) span {
    left: 990px;
    top: 1132px;
}