/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: -240px 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 200px;
    left: 652px;
    top: 781px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 200px;
    left: 969px;
    top: 781px;
}


#pop-01-quiz-01 .input-cont {
    margin: -322px 0 0 0;
}
#pop-01-quiz-01 .input-cont:nth-child(1) {
    width: 160px;
    left: 746px;
    top: 863px;
}
#pop-01-quiz-01 .input-cont:nth-child(2) {
    width: 160px;
    left: 1021px;
    top: 863px;
}