.popup-more-one .bg{
    /* background: url(../images/ms_42_6_02_07_01/bg_popup_more.svg); */
}
/* #quiz-01 .input-cont:nth-child(1) {
    width: 155px;
    left: 1003px;
    top: 531px;
}
*/

#quiz-03 .base {
    left: 184px;
    top: 0px;
    margin-top: 20px;
}

#quiz-04 .base {
    left: 184px;
    top: 0px;
    margin-top: 20px;
}

#quiz-03 .answer {
    left: 183px;
    top: 19px;
}

#quiz-04 .answer {
    left: 185px;
    top: 20px;
}


.app-drawing-tool .tool-container {
    top: 160px;
}

.btn-answer-part:nth-child(1) {
    left: 616px;
    top: 209px;
}

.btn-answer-part:nth-child(2) {
    left: 1078px;
    top: 209px;
    z-index: 1;
}

.popup-more-one .btn-answer-part:nth-child(1) {
    left: 616px;
    top: -1px;
}

.popup-more-one .btn-answer-part:nth-child(2) {
    left: 1078px;
    top: -1px;
    z-index: 1;
}