.txt-number{
    display: inline-block;
    min-width: 36px;
    height: 50px;
    background: #D25B1F;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    color:#ffffff;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    margin: -6px 0 0 0;
    vertical-align: middle;
    letter-spacing: -6px;
    padding: 0 7px 0 0;
}

#quiz-01 .input-cont:nth-child(1){
    width: 210px;
    left: 709px;
    top: 832px;
}
#quiz-01 .input-cont:nth-child(2){
    width: 1040px;
    left: 116px;
    top: 923px;
}

.btns-answer-part .btn-answer-part{
    position: absolute;
    top:310px;
    left:1013px;
}
#quiz-02 .input-cont {
    
margin-top: 68px;
}
#quiz-02 .input-cont:nth-child(1){
    width: 210px;
    left: 709px;
    top: 832px;
}
#quiz-02 .input-cont:nth-child(2){
    width: 1040px;
    left: 116px;
    top: 923px;
}

.popup-more-one .btn-answer-part:nth-child(1) {
    top: 358px;
    left:1013px;
}

.popup-more-one .btn-answer-part:nth-child(2) {
    top: 538px;
    left: 1193px;
}
