
#quiz-01 .input-cont:nth-child(1) {
    width: 100px;
    left: 565px;
    top: 297px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 60px;
    left: 768px;
    top: 532px;
}

#quiz-02 .input-cont:nth-child(1) {
    width: 100px;
    left:565px;
    top: 326px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 60px;
    left: 768px;
    top: 561px;
}
