#quiz-01 .answer {
    left: 0;
    top: -90px;
}

#quiz-02 .answer {
    left: 0;
    top: -90px;
}

.btn-answer-part:nth-child(1) {
    left: 580px;
    top: 264px;
}
.btn-answer-part:nth-child(2) {
    left: 1132px;
    top: 264px;
}


#quiz-03 .answer {
    left: 0;
    top: -90px;
}

#quiz-04 .answer {
    left: 0;
    top: -90px;
}

.popup-more-one .btn-answer-part:nth-child(1) {
    left: 580px;
    top: 274px;
}
.popup-more-one .btn-answer-part:nth-child(2) {
    left: 1132px;
    top: 274px;
}
