
#quiz-01 .input-cont:nth-child(1) {
    width: 897px;
    left:343px;
    top:314px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 897px;
    left: 343px;
    top: 394px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 897px;
    left: 343px;
    top: 474px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 303px;
    left: 40px;
    top: 474px;
}
#quiz-01 .input-cont{
    margin: 10px 0 0 0;
}

#quiz-02 .input-cont:nth-child(1) {
    width: 897px;
    left:343px;
    top:314px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 897px;
    left: 343px;
    top: 394px;
}
#quiz-02 .input-cont:nth-child(3) {
    width: 897px;
    left: 343px;
    top: 474px;
}
#quiz-02 .input-cont:nth-child(4) {
    width: 303px;
    left: 40px;
    top: 474px;
}
#quiz-02 .input-cont{
    margin: 61px 0 0 0;
}