/* 체크 퀴즈 */
.quiz-check.type-ox-01 .check-item{
    transform: scale(0.8);
}

#quiz-01  .check-item {
    position: absolute;
    width:187px;
    top:468px;
}
#quiz-01 .check-item:nth-child(1) {
    left: 117px;
}
#quiz-01 .check-item:nth-child(2) {
    left: 398px;
}
#quiz-01 .check-item:nth-child(3) {
    left: 680px;
}
#quiz-01 .check-item:nth-child(4) {
    left: 962px;
}

#quiz-02  .check-item {
    position: absolute;
    width:187px;
    top: 518px;
}

#quiz-02 .check-item:nth-child(1) {
    left: 117px;
}
#quiz-02 .check-item:nth-child(2) {
    left: 398px;
}
#quiz-02 .check-item:nth-child(3) {
    left: 680px;
}
#quiz-02 .check-item:nth-child(4) {
    left: 962px;
}