#quiz-01 .answer {
    left: 0;
    top: -416px;
}

#quiz-02 .answer {
    left: 0;
    top: -416px;
}

.btn-answer-part:nth-child(1) {
    left: 587px;
    top: 474px;
}
.btn-answer-part:nth-child(2) {
    left: 1192px;
    top: 474px;
}


#quiz-03 .answer {
    left: 0;
    top: -416px;
}

#quiz-04 .answer {
    left: 0;
    top: -416px;
}

.popup-more-one .btn-answer-part:nth-child(1) {
    left: 587px;
    top: 474px;
}
.popup-more-one .btn-answer-part:nth-child(2) {
    left: 1192px;
    top: 474px;
}
