
#quiz-01 .input-cont:nth-child(1) {
    width: 120px;
    left: 476px;
    top: 347px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 120px;
    left: 732px;
    top: 292px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 120px;
    left: 976px;
    top: 292px;
}

#quiz-02 .input-cont:nth-child(1) {
    width: 120px;
    left: 466px;
    top: 399px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 120px;
    left: 716px;
    top: 323px;
}
#quiz-02 .input-cont:nth-child(3) {
    width: 120px;
    left: 970px;
    top: 323px;
}
.app-drawing-tool .tool-container {
    top: 160px;
}

.popup-more-one .app-drawing-tool .tool-container {
    top: 240px;
}
