#quiz-01 .input-cont:nth-child(1) {
    width: 453px;
    left: 761px;
    top: 812px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 180px;
    left: 826px;
    top: 809px;;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 180px;
    left: 1036px;
    top: 809px;
}

#quiz-01 .input-cont{
    margin: -138px 0 0 -18px;
}

#quiz-02 .input-cont:nth-child(1) {
    width: 180px;
    left: 1044px;
    top: 649px;
}