#quiz-01 .input-cont {
    width: 60px;
}
#quiz-01 .input-cont:nth-child(1) {
    left: 387px;
    top: 215px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 453px;
    top: 355px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 453px;
    top: 505px;
}

#quiz-02 .input-cont {
    width: 60px;
}
#quiz-02 .input-cont:nth-child(1) {
    left: 453px;
    top: 305px;
}
#quiz-02 .input-cont:nth-child(2) {
    left: 762px;
    top: 305px;
}
#quiz-02 .input-cont:nth-child(3) {
    left: 473px;
    top: 495px;
}
