@font-face {
    font-family: 'NanumGothicR';
    src: local(※), url('../fonts/NanumGothic-Regular.woff') format('woff');
}
@font-face {
    font-family: 'NanumGothicB';
    /* src:local(※), url('../fonts/NanumGothic-Bold.woff') format('woff'); */
    src:local(※), url('../fonts/NanumGothic-Bold-otf.woff') format('woff');
}
@font-face {
    font-family: 'NanumGothicEB';
    /* src: local(※), url('../fonts/NanumGothic-ExtraBold.woff') format('woff'); */
    src: local(※), url('../fonts/NanumGothic-ExtraBold-otf.woff') format('woff');
}

@font-face {
    font-family: 'HUNemogulim160'; /* 영문 대문자 'B'가 깨집니다. 사용하지 마세요 */
    src: url('../fonts/HUNemogulim160.woff') format('woff');
}
@font-face {
    font-family: 'HUNemogulim170';
    src: url('../fonts/HUNemogulim170.woff') format('woff');
}
@font-face {
    font-family: 'HUNemogulim180';
    src: url('../fonts/HUNemogulim180.woff') format('woff');
}

.NanumGothicR {
    font-family: NanumGothicR, sans-serif;
}
.NanumGothicB {
    font-family: NanumGothicB, sans-serif;
}
.NanumGothicEB {
    font-family: NanumGothicEB, sans-serif;
}
.HUNemogulim160 {
    font-family: HUNemogulim160;
}
.HUNemogulim170 {
    font-family: HUNemogulim170;
}
.HUNemogulim180 {
    font-family: HUNemogulim180;
}