@charset "utf-8";

.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
.contentsList .icon_arrow{width:auto !important; margin:0 10px;}
.lineBox .bullet.number,
h2 .bullet.number{margin-top:5px;}
.buttonContainer.iframe{right:170px;}
.checkContainer h2 .toggleBlank{margin-top:8px;}
.checkContainer .contentsBox .basicSlider_tabs {width: 600px}
.flexListContainer.wrap {justify-content: flex-start;margin: 0 auto;}
.flexListContainer.wrap > li {display: flex;align-items: center;}
.flexListContainer.wrap li + li {margin-top: 15px;}

.img-wrap {width: 100%;text-align: center;}
.lineBox.inline, .colorBox.inline {display: inline-block;min-width: 40%;padding: 30px 40px;text-align: center;}
.math_calc_table .line_1{left:25%}
.math_calc_table .line_2{left:50%}
.math_calc_table .line_3{left:75%}
.math_calc_table .line_4{left:100%}
/*verticalForm*/
.verticalFormulaCon {position: relative;display: inline-block;vertical-align: middle;width: 180px;vertical-align: top;}
.verticalFormula {width: 180px;padding-bottom: 10px;text-align: center;}
.verticalFormula_1 li, .verticalFormula_2 li {position: relative;display: inline-block;width: 50px;}
.verticalFormula_2 {border-bottom: 4px solid #000000;}
.verticalFormula_3 {padding-top: 10px;text-align: right;border-bottom: 4px solid #000000;}
.verticalFormula_3 li + li {margin-top:10px;}
.verticalFormula_3 li span {display: inline-block;width: 50px;}
.verticalFormula_4 {margin-top: 10px;}
.verticalFormula_5 .answer {letter-spacing:5px !important;text-align:center !important;}
.verticalFormula_5 {position:absolute;top: 88px;left: 351px;}
.verticalFormula_5 li:nth-child(1) {position:absolute;top: 44px;left: -23px;width: 180px;}
.verticalFormula_5 li:nth-child(2) {position:absolute;top: 112px;left: -23px;width: 180px;}
.verticalFormula_5 .movPos1{position:absolute;top:0;left: -65px;letter-spacing: -3px;}
.verticalFormula_5 .movPos2{position:absolute;top:0;left: -65px;letter-spacing: -3px;}
.verticalFormula .answer {letter-spacing: 0.8em;text-align: right;}

.page_1 .img-wrap > img {width: 800px;height: auto;}
.page_1 .flexListContainer {width: 430px;margin: 30px auto 0;}
.page_1 .flexListContainer .flex-wrap {align-items: center;margin-bottom: 15px;}

.page_2 .flexListContainer.n1 {width: 700px;margin: 0 auto;}
.page_2 .flexListContainer.n2 {width: 600px;margin: 50px auto 0;}

.page_3 .flex-wrap {width: 675px;justify-content: space-between;align-items: center;margin-left: 150px;}
.page_3 .lineBox {position: relative;padding: 40px 55px 20px;}
.page_3 .nameBox {position: absolute;top: -30px;left: 50%;width: 230px;transform: translateX(-50%);}
.page_3 .verticalFormula.on:after {content: '';position: absolute;right: 8px;display: inline-block;width: 100px;height: 50px;border-radius: 50%;border: 3px solid #01a0fe;background: transparent;}
.page_3 .toggle.noBg .answer .verticalFormula_2 {border-color: #00a0ff;}

.page_4 .flexListContainer {width: 700px;height: 80%;margin: 0% auto;padding: 50px 0;justify-content: space-around;box-sizing: border-box;}
.page_4 .flexListContainer li {display: flex;align-items: center;justify-content: space-between;width: 100%;}
.page_4 .tableContainer {display:inline-block;margin-left: 10px;vertical-align: middle;margin-bottom: 5px;}
.page_4 h2 {margin-bottom: 30px !important;}
.page_4 > section {display:flex;}
.page_4 > section .left{width:50%;padding-left: 20px;}
.page_4 .right .tableContainer table td {padding: 2px 0 4px;}

.page_5 .flex-wrap {justify-content: space-between;width: 550px;margin: 30px auto 0;}
.page_5 .lineBox {position: relative;;width: 250px;height: 230px;}
.page_5 .lineBox .ox-wrap {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.page_5 .lineBox .ox-wrap .icon {padding: 30px;}
.page_5 .verticalFormulaCon {margin:0 auto;}


.page_6 .flexListContainer,
.page_7 .flexListContainer {width: 315px;margin: 10px auto 0;}
.page_6 .flexListContainer li,
.page_7 .flexListContainer li {display: flex;align-items: center;}
.page_6 .img-wrap,
.page_7 .img-wrap {text-align: center;margin: 0 auto 10px;}
.page_6 .img-wrap > img {width: 315px;border-radius: 20px;overflow: hidden;}
.page_7 .img-wrap > img {width: 280px;}

.page_8 .flex-wrap {align-items: center;}
.page_8 .verticalFormulaCon {width: 373px;}
.page_8 .verticalFormula.on:after {content: '';position: absolute;right: 201px;display: inline-block;width: 100px;height: 50px;border-radius: 50%;border: 3px solid #01a0fe;background: transparent;}
.page_8 .lineBox {width: 283px;margin: 0 auto;padding: 20px 40px;height: 361px;}
.page_8 .icon_arrow {position: absolute;left: 520px;}

.pop_page_2.solve .flex-wrap {width: 400px;margin: 0 auto;justify-content: space-between;}
.pop_page_2.solve .flex-wrap, 
.pop_page_3.solve .flex-wrap,
.pop_page_4.solve .flex-wrap {align-items: center;}

.pop_page_3.solve .flex-item.n1,
.pop_page_4.solve .flex-item.n1 {flex: 3;}
.pop_page_3.solve .flex-item.n2,
.pop_page_4.solve .flex-item.n2 {justify-content: center;text-align: center;}