.icon_way {
	position: relative;
	display: inline-block;
	height: 36px;
	padding:0 10px;
	color:#000;
	text-align: center;
	border-radius: 10px;
	background-color: #d4f3f6;
	box-sizing: border-box;
    font-family: YGJAL;
    font-size: 21px;
    line-height: 36px;
}
h2 .icon_way,h3 .icon_way {
    margin: 5px 0 0 0;
    vertical-align: 7px;
}
.wayContainer {
    position: relative;
    margin: 0 auto;
    min-width: 230px;
    padding: 4px;
    background-color: #d4f3f6;
    border-radius: 15px;
    box-sizing: border-box
}
.wayContainer .icon_way {
    position: absolute;
    top: 0;
    left: 0;
	height:28px;
	font-size: 15px;
    line-height: 28px;
	border-radius: 10px 0;
}
.wayContainer .inner {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    pointer-events: auto
}
.toggle .answer .icon_way {vertical-align:middle;}

.contentsBox section{padding:0;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

header .title .textInBtn.inline {top:4px;}
/* header .title .supply_guide.inline {vertical-align:4px;} */

.divide_box {display:inline-flex;align-items:start;}
.divide_box .row span {display:block;width:60px;height:48px;padding:5px;text-align:center;}
.divide_box .row span {border-bottom:3px solid #000;}
.divide_box .row span:last-child {border-bottom:3px solid transparent;}
.divide_box .row.integer span {width:auto;}
.divide_box .row.integer span {border-bottom:3px solid transparent;}
.divide_box .row.integer + .row span {position:relative;}
.divide_box .row.integer + .row span:after {display:block;content:"";position:absolute;left:-6px;bottom:-3px;width:18px;height:58px;background:url('../images/divide-black.png') no-repeat center/contain;}
.divide_box .row.integer + .row span:last-child:after {display:none;}

.toggle_formula_box .row_case {display:flex;justify-content:space-around;margin:20px 0 0;}
.toggle_formula_box .row_case:first-child {margin:0;}

.page_1 .speechBox {display:flex;align-items:center;justify-content:center;margin:20px 0 0;}
.page_1 .speechBox .characterImg {position:relative;margin:0 30px 0 0;}
.page_1 .speechBox .balloon {position:relative;}

.page_2 .dapCheckBtn {z-index:2;}
.page_2 .toggle .icon_way {vertical-align:7px;}
.page_2 .way_wrap {margin:0 0 20px;}
.page_2 .way_wrap .ex_box .txt_color {color:#e94d40;}
.page_2 .way_wrap .ex_box .txt_color2 {color:#107ce9;}
.page_2 .page_2_1 .exam_box {display:flex;align-items:center;}
.page_2 .page_2_1 .exam_box .way_wrap {margin:0 40px 0 0;}
.page_2 .page_2_1 .exam_box .way_wrap .ex_box  {position:relative;width:450px;}
.page_2 .page_2_1 .exam_box .way_wrap .ex_box .icon_arrow  {position:absolute;}
.page_2 .page_2_1 .exam_box .way_wrap .ex_box .icon_arrow.arrow01  {left:145px;top:63px;}
.page_2 .page_2_1 .exam_box .way_wrap .ex_box .icon_arrow.arrow02  {left:326px;top:63px;}
.page_2 .page_2_1 .exam_box .way_wrap .ex_box .ex02  {margin:55px 0 0;padding:0 0 0 75px;}

.page_2 .page_2_2 .exam_box {display:flex;align-items:center;}
.page_2 .page_2_2 .exam_box .way_wrap {margin:0 20px 0 0;}
.page_2 .page_2_2 .exam_box .way_wrap .ex_box  {position:relative;width:516px;}
.page_2 .page_2_2 .exam_box .way_wrap .ex_box .ex02 {position:relative;}
.page_2 .page_2_2 .exam_box .way_wrap .ex_box .ex02 .line_item {position:absolute;top:-24px;left:10px;width:350px;border-top:2px solid #f60;}
.page_2 .page_2_2 .exam_box .way_wrap .ex_box .ex02 .line_item:before {display:block;content:"";position:absolute;left:0;top:0;width:2px;height:30px;background-color:#f60;}
.page_2 .page_2_2 .exam_box .way_wrap .ex_box .ex02 .line_item:after {display:block;content:"";position:absolute;right:0;bottom:0;width:2px;height:30px;background-color:#f60;}