.icon_way {
	position: relative;
	display: inline-block;
	height: 36px;
	padding:0 10px;
	color:#000;
	text-align: center;
	border-radius: 10px;
	background-color: #d4f3f6;
	box-sizing: border-box;
    font-family: YGJAL;
    font-size: 21px;
    line-height: 36px;
}
h2 .icon_way,h3 .icon_way {
    margin: 5px 0 0 0;
    vertical-align: 9px;
}
.wayContainer {
    position: relative;
    margin: 0 auto;
    min-width: 230px;
    padding: 4px;
    background-color: #d4f3f6;
    border-radius: 15px;
    box-sizing: border-box
}
.wayContainer .icon_way {
    position: absolute;
    top: 0;
    left: 0;
	height:28px;
	font-size: 15px;
    line-height: 28px;
	border-radius: 10px 0;
}
.wayContainer .inner {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    pointer-events: auto
}
.toggle .answer .icon_way {vertical-align:middle;vertical-align: 9px;}

.contentsBox section{padding:0;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

header .title .textInBtn.inline {top:4px;}
/* header .title .supply_guide.inline {vertical-align:4px;} */

.divide_box {display:inline-flex;align-items:start;}
.divide_box .row span {display:block;width:60px;height:48px;padding:5px;text-align:center;}
.divide_box .row span {border-bottom:3px solid #000;}
.divide_box .row span:last-child {border-bottom:3px solid transparent;}
.divide_box .row.integer span {width:auto;}
.divide_box .row.integer span {border-bottom:3px solid transparent;}
.divide_box .row.integer + .row span {position:relative;}
.divide_box .row.integer + .row span:after {display:block;content:"";position:absolute;left:-6px;bottom:-3px;width:18px;height:58px;background:url('../images/divide-black.png') no-repeat center/contain;}
.divide_box .row.integer + .row span:last-child:after {display:none;}

.toggle_formula_box .row_case {display:flex;justify-content:space-around;margin:20px 0 0;align-items: center;}
.toggle_formula_box .row_case:first-child {margin:0;}

.toggle_formula_box02 {display:flex;justify-content:space-around;}
.toggle_formula_box02 .row_case > div {text-align:center;}

.page_2 .speechBox {display:flex;align-items:center;justify-content:center;margin:20px 0 0;}
.page_2 .speechBox .characterImg {position:relative;margin:0 30px 0 0;}
.page_2 .speechBox .balloon {position:relative;width:500px;text-align: center;}
.page_2 .toggle_formula_box02 .row_case > div:nth-child(1) {position:relative;}
.page_2 .toggle_formula_box02 .row_case > div:nth-child(1) .line_arrow {position:absolute;right:62px;top:50px;}
.page_2 .toggle_formula_box02 .row_case > div:nth-child(1) .line_arrow.v01 {width:10px;height:55px;transform:rotate(40deg);transform-origin:50% 0;}
.page_2 .toggle_formula_box02 .row_case > div:nth-child(1) .line_arrow.v01:before {display:block;content:"";position:absolute;left:0;bottom:0;border:5px solid transparent;border-left:5px solid #f60;border-bottom:5px solid #f60;transform:rotate(-45deg);}
.page_2 .toggle_formula_box02 .row_case > div:nth-child(1) .line_arrow.v01:after {display:block;content:"";position:absolute;left:50%;top:0;bottom:5px;width:2px;margin:0 0 0 -1px;background:#f60;}
.page_2 .toggle_formula_box02 .row_case > div:nth-child(1) .line_arrow.v02 {width:10px;height:55px;transform:rotate(-40deg);transform-origin:50% 0;}
.page_2 .toggle_formula_box02 .row_case > div:nth-child(1) .line_arrow.v02:before {display:block;content:"";position:absolute;left:0;bottom:0;border:5px solid transparent;border-left:5px solid #f60;border-bottom:5px solid #f60;transform:rotate(-45deg);}
.page_2 .toggle_formula_box02 .row_case > div:nth-child(1) .line_arrow.v02:after {display:block;content:"";position:absolute;left:50%;top:0;bottom:5px;width:2px;margin:0 0 0 -1px;background:#f60;}
.page_2 .toggle_formula_box02 .row_case > div:nth-child(2) {margin:50px 0 0;}

.page_3 .way_wrap {margin:0 0 20px;}
.page_3 .dapCheckBtn {z-index:2;}
.page_3 .way_wrap .ex_box .txt_color {color:#e94d40;}
.page_3 .way_wrap .ex_box .txt_color2 {color:#107ce9;}
.page_3 .way_wrap .ex_box .txt_color3 {color:green;}
/* .page_3 .page_3_1 .exam_box {display:flex;align-items:center;} */
.page_3 .page_3_1 .exam_box .way_wrap {width:895px;margin:0 auto 20px;}
.page_3 .page_3_1 .exam_box .way_wrap .ex_box  {position:relative;}
.page_3 .page_3_1 .exam_box .way_wrap .ex_box .iqur_item  {position:absolute;transform:rotate(90deg);}
.page_3 .page_3_1 .exam_box .way_wrap .ex_box .iqur_item.v01  {left:110px;top:40px;}
.page_3 .page_3_1 .exam_box .way_wrap .ex_box .iqur_item.v02  {left:385px;top:40px;}
.page_3 .page_3_1 .exam_box .way_wrap .ex_box .ex01 {display:flex;}
.page_3 .page_3_1 .exam_box .way_wrap .ex_box .ex01 > div:first-child {margin-right:40px;}
.page_3 .page_3_1 .exam_box .way_wrap .ex_box .ex02  {margin:30px 0 0;padding:0 0 0 75px;}
.page_3 .page_3_1 .exam_box .way_wrap .ex_box .ex02 .txt_color.v01 {margin-left:28px;}
.page_3 .page_3_1 .exam_box .way_wrap .ex_box .ex02 .txt_color.v02 {margin-left:226px;}

.page_3 .page_3_2 .exam_box {display:flex;align-items:center;}
.page_3 .page_3_2 .exam_box .way_wrap {margin:0 40px 0 0;}
.page_3 .page_3_2 .exam_box .way_wrap .ex_box {position:relative;width:570px;}
.page_3 .page_3_2 .exam_box .way_wrap .ex_box .ex01 .divide_box .row.integer + .row span:after {display:block;content:"";position:absolute;left:-6px;bottom:-3px;width:18px;height:58px;background:url('../images/divide-black.png') no-repeat center/contain;}
.page_3 .page_3_2 .exam_box .way_wrap .ex_box .ex01 .divide_box .row.integer span:last-child {border-bottom:3px solid transparent;}
.page_3 .page_3_2 .exam_box .way_wrap .ex_box .ex01 .divide_box .row span:last-child {border-bottom:3px solid #000;;}
.page_3 .page_3_2 .exam_box .way_wrap .ex_box .ex02 {padding-left:23px;}
