.contentsBox section{padding:0;}
.contentsBox .toggle .answer{position: relative;text-align: justify;}
.contentsBox .toggle .answer .bullet.exam{position: absolute;top:0;left:0;}
.contentsBox .toggle.duplicate {position:static;padding:0;background:none;}
.contentsBox .toggle.duplicate .answer {position:static;padding:0;background:none;}
.contentsBox .toggle.duplicate:after {display:none;}
.contentsBox .toggleBlank {vertical-align:-3px;}

.divide_box {display:inline-flex;align-items:start;}
.divide_box .row span {display:block;width:60px;height:48px;padding:5px;text-align:center;}
.divide_box .row span {border-bottom:3px solid #000;}
.divide_box .row span:last-child {border-bottom:3px solid transparent;}
.divide_box .row.integer span {width:auto;}
.divide_box .row.integer span {border-bottom:3px solid transparent;}
.divide_box .row.integer + .row span {position:relative;}
.divide_box .row.integer + .row span:after {display:block;content:"";position:absolute;left:-6px;bottom:-3px;width:18px;height:58px;background:url('../images/divide-black.png') no-repeat center/contain;}
.divide_box .row.integer + .row span:last-child:after {display:none;}

h2 .bullet {display:inline-block;vertical-align:6px;}

.page_1 .lineBox ul {display:flex;justify-content:space-around;}
.page_1 .lineBox .contentsList {margin:0;}
.page_1 .contentsList {margin: 50px 0 15px;}
.page_1 .contentsList li {display: inline-block;vertical-align:top;}
.page_1 .contentsList>li>.colorBox.check+* {width: auto;}
.page_1 .colorBox.check {display: inline-block;vertical-align: top;padding: 12px 18px;margin-right: 0;}
/* .page_1 .contentsList li+li {margin-left:0 0 0 30px;} */
.page_1 .contentsList>li:not(:last-of-type) {margin:0 0 0 30px;}
.page_1 .contentsList .bunsuContainer {display: inline-block;margin: 0;}

.page_2 .exam_box {display:flex;justify-content:space-around;align-items:start;}
.page_2 .exam_box > li {display:flex;align-items:center;}
.page_2 .exam_box > li .contentsList li {align-items:start;}
.page_2 .exam_box > li .contentsList li .colorBox {display:flex;justify-content:space-around;align-items:center;width:156px;margin:0 40px 0 0;}
.page_2 .exam_box > li .contentsList li .bunsuContainer {margin:0;}
.page_2 .exam_box > li .contentsList li:first-child .bunsuContainer {height:240px;}
.page_2 .divide_box .toggle {width:60px;padding:5px 0;}
.page_2 .divide_box .toggle .answer {text-align:center;}

.page_3 .quiz_box {display:flex;justify-content:space-around;}
.page_3 .quiz_box > div {position:relative;margin:0 20px 0 0;}
.page_3 .quiz_box > div:last-child {margin:0;}
.page_3 .quiz_box > div .bullet.number {display:inline-block;margin:0 5px 0 0;vertical-align:7px;}
.page_3 .quiz_box > div .colorBox {display:inline-block;}
.page_3 .quiz_box > div .toggle {position:absolute;left:0;top:60px;width:300px;}
.page_3 .textAlignC {margin:70px 0 0;}

.page_4 .lineBox {width:460px;margin:0 auto;}
.page_4 .lineBox .contentsList>li {align-items:center;}
.page_4 .lineBox .contentsList>li .number {align-self:unset;margin:0 10px 0 0;}

.page_5 .bogi_wrap {display:inline-block;margin:0 0 20px;text-align:center;}


.pop_page_2 .contentsList li {margin:0;}
.pop_page_2 .contentsList li .colorBlue {color:#00a0ff;}