
.contentsBox .basicSlider_slides>li{display: flex; opacity: 0; visibility: hidden; position:absolute; z-index:-1; top:0}
.contentsBox .basicSlider_slides>li.on{display: flex; opacity: 1; visibility: visible; position:relative; z-index:0; top:0}.page_1 .flexListContainer{flex-direction: column; margin:200px 0 50px; padding-left:30px}



.page_1 .flexListContainer li{display: flex; align-items: center; margin:10px 0 }
.page_1 .flexListContainer .calcline .colorBox{display: inline-block; width:60px; height:60px; border-radius: 50%; padding:0; text-align: center;}
.page_1 .textBox {position: absolute;}

.page_1 .textBox .n1{position: absolute; width:230px; top:50px; left:20px; color: red;}
.page_1 .textBox .n1 .line{position:absolute; border-left:4px solid orange; border-bottom:4px solid orange; width:60px; height:50px; left:50%;}
.page_1 .textBox .n1 .line::after{content:"";
    display: block; position: absolute; width:1px; border-right:4px solid orange; height:50px; bottom:-50px; right:0;
}
.page_1 .textBox .n1 .line::before{
    content: "<";
    color:orange;
    position: absolute;
    top:-16px; left:-12px;
    transform: rotate(90deg);
}

.page_1 .textBox .n2{position: absolute; width:230px; top:50px; left:310px; color: green;}
.page_1 .textBox .n2 .line{position:absolute; border-right:4px solid orange; border-bottom:4px solid orange; width:60px; height:50px; left:10px;}
.page_1 .textBox .n2 .line::after{content:"";
    display: block; position: absolute; width:1px; border-left:4px solid orange; height:50px; bottom:-50px; left:0;
}
.page_1 .textBox .n2 .line::before{
    content: "<";
    color:orange;
    position: absolute;
    top:-16px; left:52px;
    transform: rotate(90deg);
}

.page_1 .textBox .n3{position: absolute;width: 40px;top: 213px;left: 580px;color: green;}
.page_1 .textBox .n3 .line{position:absolute;border-bottom:4px solid orange;width: 80px;height: 0;left: -100px;top: 25px;}

.page_1 .textBox .n3 .line::before{
    content: ">";
    color:orange;
    position: absolute;
    top: -26px;
    left: 57px;
}

.page_2 h2 img{width:40px; transform: translate(0,6px);}
.page_2 .img-wrap{width: 100%; position: relative; margin-top:30px}
.page_2 .img-wrap img{width: 100%;}
.textBookPopup .bullet{transform: translate(0,9px);    color: #6dbc4b; line-height: 33px !important;}
.page_2 .img-wrap .toggle{position: absolute;top: 195px;left: 303px;width: 140px;background: transparent;padding: 0;}
.page_2 .img-wrap .toggle img{width: 30px;}
.page_2 .img-wrap .colorBox{position: absolute;font-size: 28px;top: 30px;left: 45px;}
.page_2 .img-wrap .toggle.n2{top: 195px;left: 553px;}
.page_2 .img-wrap .toggle.n3{top: 195px;left: 805px;}


.page_3 .img-wrap{
    position: relative;
    width:100%;
    margin-top:60px
}
.page_3 .img-wrap img{width: 100%;}
.page_3 .img-wrap .wrap{
    position: absolute;
}
.page_3 .img-wrap .wrap .txt{
    width:100%; text-align: center; margin-bottom:16px;
}
.page_3 .img-wrap .wrap.n1{
    top:51px; left:20px;
}
.page_3 .img-wrap .wrap.n2{
    top:51px; left:387px;
}
.page_3 .img-wrap .wrap.n3{
    top:51px; left:740px;
}


.page_4 .circle{display: inline-block; width:30px; height:30px; border:3px solid #c83164; border-radius: 50%;}
.page_4 h2{z-index: 1;}
.page_4 .iframe-wrap{
    position: absolute;
    top:0; left:-56px;
    width:1224px;
    height:500px;
    z-index: 0;
}
.page_4 .page-iframe{width:1280px; height: 500px;
position: absolute;     
top: -130px;
left: -40px;}








