.flex-box{align-items: center;}

.bunsuWrap{position:relative;margin:0 5px;}
/* .bunsuWrap ul > li:first-of-type{border-color:#fff;} */
.calc{position:absolute;left:50%;font-size:0.7em;color:#00a0ff;transform:translateX(-50%);}
.calc:before{position:absolute;left:0;content:"";width:50px;height:3px;background:#00a0ff;transform:rotatez(-45deg);}
.calc:nth-child(1){top:-30px;left: 46px;}
.calc:nth-child(1):before{left:-15px;bottom:-20px;}
.calc:nth-child(2){bottom:-30px;left: 46px;}
.calc:nth-child(2):before{left:-15px;top:-18px;width:50px;}

#wrap header .title:before {top: 20px;}

.page_1 .toggle{padding: 40px 16px;}