.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}


.page_1 .img-wrap {width:500px; margin: 0 auto 20px; position: relative;}


.btn_2.zoomBtn{background: url(../images/suh_h_0301_04_0002_102_1/suh_h_0301_04_0002_102_1_3.png) no-repeat 0 0 / cover; width:100%; height:370px;}


.b3{top: 40px;left: 54px;z-index: 2;width: 240px;text-align: center;}
.b4{top: -10px;left: 301px;z-index: 2;text-align: center;width: 310px;}
.b3::after{left:90% !important;}

.popup_pages img{width:114%;margin-left: -160px;}
.popup_pages .b1{top: 140px;left: 250px;z-index: 2;text-align: center;}
.popup_pages .b2{top: 260px;left: 620px;z-index: 2;text-align: center;width: 320px;}
.popup_pages .b3{top: 80px;left: 810px;z-index: 2;text-align: center;width: 280px;}
.popup_pages .b2::after{left:90% !important;}

.page_2 .img-wrap{width:100%; position: relative;}
.page_2 .img-wrap img{width: 100%;;}
.page_2 .img-wrap > div{position: absolute;}
.page_2 .img-wrap .balloon {text-align: center;}
.page_2 .img-wrap .b5{top: -10px;left: 20px;width: 210px;}
.page_2 .img-wrap .b6{top: 10px;left: 780px;width: 250px;}
.page_2 .img-wrap .n1{top: 153px;left: 290px;width: 95px;height: 95px;background: transparent;display: flex; justify-content: center; align-items: center;}
.page_2 .img-wrap .n2{top: 136px;left: 400px;width: 120px;height: 120px;background: transparent;display: flex; justify-content: center; align-items: center;}
.page_2 .img-wrap .n3{top: 270px;left: 50px;width: 960px;height: 150px;background: transparent; display: flex; justify-content: flex-end; align-items: center;}
.page_2 .img-wrap .txt{top: 180px;left: 210px;color: #fff;}
.page_2 .img-wrap .n2 .answer,
.page_2 .img-wrap .n1 .answer{text-align: center;}
.page_2 .img-wrap .n3 .answer{padding-left: 80px;}





