.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}


.img-wrap {
    width:100%;
    position: absolute;
    top: 120px;
    left:0;
}
.img-wrap img{width: 570px;display: block;margin: 0 auto 15px;}





