.box-flex {display:flex}
.box-flex .group-a {width:50%;display:flex;align-items:center;margin-bottom:40px}
.bunsuWrap .toggle {margin:4px 0}

.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important}

.page_1 .box-flex {align-items:center}
.page_1 .img-box {text-align:center;height:260px}
.page_1 .img-box img {height:100%;vertical-align:top}

.page_2 .box-flex {align-items:center}
.page_2 .img-box {width:240px;margin:0 100px}
.page_2 .img-box img {width:100%;vertical-align:top}
.page_2 .box-flex .colorBox {margin-right:10px}
.page_2 .box-quiz .box-flex ~ .box-flex {margin-top:10px}
.page_2 .box-quiz .box-flex .skyBlue {margin-left:32px}
.page_2 .box-quiz .toggle {width:220px}

.box-character {position:relative}
.box-character .colorBox {position:absolute;width:110px;top:180px;text-align:center;color:#000}
.contentsBox .page_5 section {padding-right:0}

.page_3 .box-flex {align-items:center;justify-content:center}
.page_3 .tableContainer .toggle {background-color:transparent;}

.page_4 .img-box {text-align:center;height:240px;position:relative;margin:0 0 20px}
.page_4 .img-box .colorBox {position:absolute;bottom:60px}
.page_4 .img-box .colorBox.n1 {left:210px}
.page_4 .img-box .colorBox.n2 {right:170px}
.page_4 .img-box img {height:100%;vertical-align:top}
.page_4 .box-flex {align-items:center;justify-content:center}
.page_4 .box-flex .colorBox,
.page_4 .box-flex .toggle {margin:0 10px}

.page_5 .toggle .box-flex {align-items:center}
.page_5 .lineBox {width:620px;margin:0 auto 10px}


.page_6 .box-flex {align-items:center}
.page_6 .innerTab_3 .ex-box .exam {position:relative;top:20px}
.page_6 section {padding-right:0 !important;}
.page_6 .tableContainer {margin-top:-5px;margin-bottom:5px}
.page_6 .tableContainer .toggle {width:100%;text-align:center;background-color:transparent;;padding:0}
.page_6 .buttonContainer {z-index:2}

.popup_pages .textBookPopup .popupInner {height:auto}


