.characterImg.new-character{
    width: 190px;
    height: 385px;
  
  }
  .characterImg.new-character.circle {
    width:168px;
    height:168px;
    overflow:visible;
    border:0;
    border-radius: 0;
    background-color:transparent;
  }
  
  .new-character .charSpriteImg{
    background-size:185px auto;
    background-repeat:no-repeat;
    background-position: center;
    width:100%;
    height:100%;
  }
  .new-character.circle div:not(.nameBox).charSpriteImg{
    background-size:85% auto;
    background-repeat:no-repeat;
    background-position: top 15px center;
    box-sizing: border-box;
    width:100%;
    height:100%;
    position: relative;
    top:0;
    left:0;
    transform-origin: unset;
    transform: unset !important;
    -ms-transform: none !important;
    border-radius: 100%;
    border-width:9px;
    border-style:solid;
  }
  [id*="spriteAniBox"] .new-character.circle div:not(.nameBox).charSpriteAni,[id*="spriteAniBox"] .new-character.circle div:not(.nameBox).charSpriteImg{
    background-size:150% auto;
    background-repeat:no-repeat;
    background-position: top 15px center;
    box-sizing: border-box;
    width:168px;
    height:168px;
    position: absolute;
    top:0;
    left:0;
    transform-origin: unset;
    transform: unset !important;
    -ms-transform: none !important;
    border-radius: 100%;
    border-width:9px;
    border-style:solid;
  }
  
  [id*="spriteAniBox"] .charSpriteImg,[id*="spriteAniBox"] .charSpriteAni{
    background-size:100% auto;
    background-repeat:no-repeat;
    background-position: bottom center !important;
    width:100%;
    height:100%;
  }
  
  [id*="spriteAniBox"] .charSpriteAni{
    opacity: 0;
  }
  
  [id*="spriteAniBox"] .circle .charSpriteImg,[id*="spriteAniBox"] .circle .charSpriteAni{
    background-size:100% auto;
    background-repeat:no-repeat;
    background-position: top -10px center !important;
    width:100%;
    height:100%;
  }
  
  [id*="spriteAniBox"].circle .charSpriteImg{
    background-size:100% auto;
    background-repeat:no-repeat;
    background-position: bottom center !important;
    width:100%;
    height:100%;
  }
  
  
  [id*="spriteAniBox"].circle .charSpriteAni{
    background-size:100% auto;
    background-repeat:no-repeat;
    background-position: bottom center !important;
    width:100%;
    height:100%;
  }
  
  .new-character .charSpriteImg.girl_1, .new-character .charImg.girl_1, .characterImg.girl_1 .charSpriteImg{
    background-image:url('../images/character/character_body_01_1.png');
  }
  .new-character .charSpriteImg.girl_1.sub-cal, .new-character .charImg.girl_1.sub-cal, .characterImg.girl_1.sub-cal .charSpriteImg{
    background-image:url('../images/character/character_body_01_2.png');
  }
  .new-character .charSpriteImg.girl_2, .new-character .charImg.girl_2, .characterImg.girl_2 .charSpriteImg{
    background-image:url('../images/character/character_body_03_1.png');
  }
  .new-character .charSpriteImg.girl_2.sub-cal, .new-character .charImg.girl_2.sub-cal, .characterImg.girl_2.sub-cal .charSpriteImg{
    background-image:url('../images/character/character_body_03_2.png');
  }
  .new-character .charSpriteImg.girl_3, .new-character .charImg.girl_3, .characterImg.girl_3 .charSpriteImg{
    background-image:url('../images/character/character_body_07_1.png');
  }
  .new-character .charSpriteImg.girl_3.sub-cal, .new-character .charImg.girl_3.sub-cal, .characterImg.girl_3.sub-cal .charSpriteImg{
    background-image:url('../images/character/character_body_07_2.png');
  }
  .new-character .charSpriteImg.girl_4, .new-character .charImg.girl_4, .characterImg.girl_4 .charSpriteImg{
    background-image:url('../images/character/character_body_05_2.png');
  }
  .new-character .charSpriteImg.girl_4.sub-cal, .new-character .charImg.girl_4.sub-cal, .characterImg.girl_4.sub-cal .charSpriteImg{
    background-image:url('../images/character/character_body_05_1.png');
  }
  .new-character .charSpriteImg.boy_1, .new-character .charImg.boy_1, .characterImg.boy_1 .charSpriteImg{
    background-image:url('../images/character/character_body_02_1.png');
  }
  .new-character .charSpriteImg.boy_1.sub-cal, .new-character .charImg.boy_1.sub-cal, .characterImg.boy_1.sub-cal .charSpriteImg{
    background-image:url('../images/character/character_body_02_2.png');
  }
  .new-character .charSpriteImg.boy_2, .new-character .charImg.boy_2, .characterImg.boy_2 .charSpriteImg{
    background-image:url('../images/character/character_body_04_1.png');
  }
  .new-character .charSpriteImg.boy_2.sub-cal, .new-character .charImg.boy_2.sub-cal, .characterImg.boy_2.sub-cal .charSpriteImg{
    background-image:url('../images/character/character_body_04_2.png');
  }
  .new-character .charSpriteImg.boy_3, .new-character .charImg.boy_3, .characterImg.boy_3 .charSpriteImg{
    background-image:url('../images/character/character_body_06_1.png');
  }
  .new-character .charSpriteImg.boy_3.sub-cal, .new-character .charImg.boy_3.sub-cal, .characterImg.boy_3.sub-cal .charSpriteImg{
    background-image:url('../images/character/character_body_06_2.png');
  }
  .new-character .charSpriteImg.boy_4, .new-character .charImg.boy_4, .characterImg.boy_4 .charSpriteImg{
    background-image:url('../images/character/character_body_08_1.png');
  }
  .new-character .charSpriteImg.boy_4.sub-cal, .new-character .charImg.boy_4.sub-cal, .characterImg.boy_4.sub-cal .charSpriteImg{
    background-image:url('../images/character/character_body_08_2.png');
  }
  
  .new-character.circle .charSpriteImg.girl_1, .new-character.circle .charImg.girl_1, .characterImg.circle.girl_1 .charSpriteImg,.characterImg.circle.girl_1 .charSpriteAni{
    background-image:url('../images/character/character_body_01_1.png');
    background-color: #ffe5e7;
    border-color:#f7c1c9;
  }
  .new-character.circle .charSpriteImg.girl_2, .new-character.circle .charImg.girl_2, .characterImg.circle.girl_2 .charSpriteImg,.characterImg.circle.girl_2 .charSpriteAni{
    background-image:url('../images/character/character_body_03_1.png');
    background-color: #fff1d0;
    border-color:#fcce8b;
    background-position:top 10px center !important;
  }
  .new-character.circle .charSpriteImg.girl_3, .new-character.circle .charImg.girl_3, .characterImg.circle.girl_3 .charSpriteImg,.characterImg.circle.girl_3 .charSpriteAni{
    background-image:url('../images/character/character_body_05_1.png');
    background-color: #ece5ff;
    border-color:#c9bedf;
  }
  .new-character.circle .charSpriteImg.girl_4, .new-character.circle .charImg.girl_4, .characterImg.circle.girl_4 .charSpriteImg,.characterImg.circle.girl_4 .charSpriteAni{
    background-image:url('../images/character/character_body_07_1.png');
    background-color: #f3fcd0;
    border-color:#cfe593;
  }
  .new-character.circle .charSpriteImg.boy_1, .new-character.circle .charImg.boy_1, .characterImg.circle.boy_1 .charSpriteImg,.characterImg.circle.boy_1 .charSpriteAni{
    background-image:url('../images/character/character_body_02_1.png');
    background-color: #ffe5e7;
    border-color:#f7c1c9;
  }
  .new-character.circle .charSpriteImg.boy_2, .new-character.circle .charImg.boy_2, .characterImg.circle.boy_2 .charSpriteImg,.characterImg.circle.boy_2 .charSpriteAni{
    background-image:url('../images/character/character_body_04_1.png');
    background-color: #fff1d0;
    border-color:#fcce8b;
  }
  .new-character.circle .charSpriteImg.boy_3, .new-character.circle .charImg.boy_3, .characterImg.circle.boy_3 .charSpriteImg,.characterImg.circle.boy_3 .charSpriteAni{
    background-image:url('../images/character/character_body_06_1.png');
    background-color: #ece5ff;
    border-color:#c9bedf;
  }
  .new-character.circle .charSpriteImg.boy_4, .new-character.circle .charImg.boy_4, .characterImg.circle.boy_4 .charSpriteImg,.characterImg.circle.boy_4 .charSpriteAni{
    background-image:url('../images/character/character_body_08_1.png');
    background-color: #f3fcd0;
    border-color:#cfe593;
  }
  