.app-mind-map .map.title {
    left: 483px;
    top: 318px;
}

.app-mind-map .map-01 {
    left: 83px;
    top: 128px;
}
.app-mind-map .map-02 {
    left: 802px;
    top: 127px;
}
.app-mind-map .map-03 {
    left: 790px;
    top: 499px;
}
.app-mind-map .map-04 {
    left: 252px;
    top: 524px;
}
