#quiz-01 .input-cont:nth-child(1) {
    width: 320px;
    left: 410px;
    top: 327px;
}

#quiz-02 > ul,
#quiz-03 > ul {
    display: flex;

    position: absolute;
    left: 204px;
    top: 410px;
    margin-top: 10px;
}
#quiz-03 > ul {
    top: 490px;
}

#quiz-02 .input-cont,
#quiz-03 .input-cont {
    width: 115px;
    position: relative;
}



.btn-answer-part:nth-child(1) {
    left: 904px;
    top: 335px;
}