.contentsBox section {height:441px;}
.contentsBox .toggle .answer.ico_exam {position:relative;padding-left:60px;text-align:justify;}
.contentsBox .toggle .answer.ico_exam .bullet.exam {position:absolute;left:0;top:0;}

.page_1 .lineBox {width:680px;margin:0 auto 20px;}
.page_1 .lineBox ul {display:flex;flex-wrap:wrap;justify-content:space-around;margin:20px 0 0;}
.page_1 .lineBox ul li {width:50%;}
.page_1 .lineBox ul li {margin:20px 0 0;}
.page_1 .lineBox ul li:nth-child(1),
.page_1 .lineBox ul li:nth-child(2) {margin:0;}
.page_1 .lineBox ul li .toggle {min-width:240px;}
.page_1 .lineBox ul li .toggle .answer {text-align:justify;}

