.contentsBox section {height:441px;}
.title .supply_guide {position:relative;top:10px}

.page_1 .imgContainer {height:355px;text-align:center;}
.page_1 .imgContainer img {height:100%;}
.page_1 .textAlignC {margin:20px auto 0;}

.page_2 .lineBox {width:700px;margin:0 auto;}
.page_2 .lineBox ul {display:flex;justify-content:space-around;}

.page_3 .lineBox {width:700px;margin:0 auto 20px;}
.page_3 .lineBox ul {display:flex;justify-content:space-around;}

.page_4 .lineBox {width:700px;margin:0 auto 20px;}
.page_4 .lineBox ul {display:flex;justify-content:space-around;}

.page_5 .lineBox {width:700px;margin:0 auto 20px;}
.page_5 .lineBox ul {display:flex;justify-content:space-around;}
.page_5 .contentsList li {display:block;}
