#wrap main {z-index:0}
.popup_container{z-index: 1;}
.content-container{height: 530px;}
.suhi h2 .blankBox{margin-top:8px;}
.suhi , .popup_pages div {font-size: 40px;}
.solve .contentsList div {font-size:35px;}
.blankBox {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    margin-top: 6px;
}
.blankBox.w50 {margin-top: 0;}
.ex-box {display:flex}
.ex-box .bullet.exam {flex-shrink:0}
.contentsBox .basicSlider {padding: 0 !important;}
.popup_pages > li.whole h2.pop-tit {background-color:transparent !important;align-self:flex-start;padding:20px}

.page_1 .img-content {position:relative;display:flex;align-items:center;height:480px;text-align: center;}
.page_1 .img-content > img {width:90%}

.page_3 h2+section {padding-left: 0;}
.page_2 .flex-wrap.wrap {margin-top: 20px;justify-content: center;}
.page_2 .flex-wrap .bar {background-color: transparent;padding: 0;position: relative;display: block;width: 680px;}
.page_2 .flex-wrap .bar::after {display: none;}
.page_2 .flex-wrap .bar.complete .click-finger-Btn {display: none;}
.page_2 .flex-wrap .bar .click-finger-Btn {top: 20%;left: 50%;z-index: 1;}
.page_2 .flex-wrap .bar .answer {position: absolute;top: 0;}
.page_2 .text-wrap {position: absolute;z-index: 1;}
.page_2 .text-wrap .flex-wrap .bunsuWrap {padding: 10px 40px;}
.page_2 .text-wrap.n1 {top: -15px;width: 100%;}
.page_2 .text-wrap.n2 {top: 105px;width: 100%;}
.page_2 .text-wrap .flex-wrap {justify-content: space-between;width: 100%;}
.page_2 .flex-wrap img {width: 100%;}
.page_2 .flex-wrap {align-items: center;}
.page_2 .flex-wrap .bunsuWrap {display: flex;align-items: center;padding: 10px 20px;}
.page_2 .flex-wrap .colorBox {padding: 10px 15px;margin-right: 10px;}
.page_2 .flex-wrap+.flex-wrap {margin-top: 10px}
.page_2 .flex-wrap.center {justify-content: center;margin-top: 50px;}
.page_2 .flex-wrap.center .bunsuWrap {padding: 0;}


.page_3 .flex-wrap.bg {justify-content: space-between;align-items: center;height: calc(100% - 100px);padding: 0 30px;}
.page_3 .flex-wrap.bg .img-wrap {position: relative;}
.page_3 .flex-wrap.bg .img-wrap .bullet.exam {position: absolute;top: -10px;left: 0;opacity: 0;}
.page_3 .flex-wrap.bg .img-wrap .bullet.exam.on {opacity: 1;}
.page_3 .flex-wrap.bg .img-wrap .click-finger-Btn {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.page_3 .flex-wrap.bg .img-wrap .click-finger-Btn.complete {opacity: 0;animation: none;}
.page_3 .flex-wrap.bg .flex-item {text-align: center;}
.page_3 .flex-wrap.bg .flex-item .toggle.noBg:after {display: none;}
.page_3 .flex-wrap.bg .flex-item.n1 .toggle.noBg,
.page_3 .flex-wrap.bg .flex-item.n3 .toggle.noBg {position: relative;}
.page_3 .flex-wrap.bg .flex-item.n1 .toggle.noBg img,
.page_3 .flex-wrap.bg .flex-item.n3 .toggle.noBg img {position: relative;width: 280px;}
.page_3 .flex-wrap.bg .flex-item.n1 .toggle.noBg .answer img,
.page_3 .flex-wrap.bg .flex-item.n3 .toggle.noBg .answer img {position: absolute;top: 0;left: 0;opacity: 0;}
.page_3 .flex-wrap.bg .flex-item.n1 .toggle.noBg .answer.on img,
.page_3 .flex-wrap.bg .flex-item.n3 .toggle.noBg .answer.on img  {opacity: 1;}
.page_3 .flex-wrap.bg .flex-item.n2 {display: flex;justify-content: center;}
.page_3 .flex-wrap.bg .flex-item.n2 .flex-wrap {align-items: center;}
.page_3 .flex-wrap.bg .toggle.circle {margin: 0 20px;}

.page_4 .flexListContainer.center {height: calc(100% - 100px);width: 80%;margin: 0 auto;}
.page_5 .textAlignC.bg {position: relative;margin: 10px auto 0;}
.page_5 .textAlignC.bg > img {width: 600px;}
.page_5 .textAlignC.bg .bunsuWrap,.page_5 .textAlignC.bg .toggle{position: absolute;z-index: 1;}
.page_5 .textAlignC.bg .bunsuWrap.n1 {left: 235px;top: 22px;}
.page_5 .textAlignC.bg .bunsuWrap.n2 {left: 393px;top: 22px;}
.page_5 .textAlignC.bg .bunsuWrap.n3 {left: 583px;top: 22px;}
.page_5 .textAlignC.bg .bunsuWrap.n4 {left: 738px;top: 22px;}
.page_5 .textAlignC.bg .toggle.n1 {left: 308px;bottom: 94px;}
.page_5 .textAlignC.bg .toggle.n2 {left: 655px;bottom: 94px;}
.page_5 .textAlignC.bg .toggle.n1 .bunsuWrap {top: -50px;left: 6px;}
.page_5 .textAlignC.bg .toggle.n2 .bunsuWrap {top: -50px;left: 6px;}

.solve.pop_page_4 .flexListContainer {width: 70%;margin: 0 auto;}
.solve.pop_page_4 .flexListContainer {width: 50%;margin: 0 auto;}
.solve.pop_page_4 .flexListContainer li,
.solve.pop_page_4 .flexListContainer li {display: flex;flex-direction: column;align-items: center;justify-content: space-around;}
.solve.pop_page_4 .flexListContainer li > div:not(.arrow),
.solve.pop_page_4 .flexListContainer li > div:not(.arrow) {display: flex;align-items: center;justify-content: center;}
.solve.pop_page_4 .flexListContainer li > div img,
.solve.pop_page_4 .flexListContainer li > div img {margin: 3px 10px 0;}
.solve .popup_contents .arrow {position: relative;width: 65px;height: 2px;background: red;margin-bottom: 20px;}
.solve .popup_contents .arrow > span {position: absolute;top: 0;display: inline-block;width: 2px;height: 15px;background: red;}
.solve .popup_contents .arrow > span:nth-child(1) {left: 0;}
.solve .popup_contents .arrow > span:nth-child(1):before {position: absolute;top: 15px;left: -8px;content: '';display: inline-block;width: 20px;height: 2px;background: red;}
.solve .popup_contents .arrow > span:nth-child(2) {right: 0;}
.solve .popup_contents .arrow > span:nth-child(2):after {content: '';position: absolute;top: 15px;left: -8px;display: inline-block;width: 20px;eight: 2px;background: red;}