.pop_page_1  .iframe-wrap{position: relative; width: 100%; height:100%;
    border:1px solid red; overflow: hidden;}
    
    .pop_page_1  .iframe-wrap .page-iframe{width:1170px; height:770px;}
    
    .popup_pages>li.image .popup_closeBtn{z-index: 20000;}
    
    .popBtn.textInBtn.eye{top: 2px;left: 827px;}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    