.complete .icon_arrow.eff{animation:none}
.icon_arrow.eff {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}


.math_calc_table.type-2{width:150px;}
.math_calc_table .answer{letter-spacing: 29px;}

.page_1 .flex-wrap{justify-content: space-around; margin:30px auto}
.page_1 .flex-wrap img{width:150px}
.page_1 .flex-wrap .n1{display: flex; justify-content: space-around; align-items: center; margin:0 80px}
.page_1 .flex-wrap .n1 img{width:20px; margin:0 10px}
.page_1 .flex-wrap .balloon {margin-top:30px}

.page_2 .img-wrap{width:100%; position: relative;}
.page_2 .img-wrap img{width:100%}
.page_2 .img-wrap > div{position: absolute;}
.page_2 .img-wrap  .n1{top: 140px; left: 50px;}
.page_2 .img-wrap  .n2{top: 140px; left: 590px;}
.page_2 .flex-wrap{align-items: center; justify-content: center;}
.page_2 .flex-wrap > div{margin:0 10px}
.pop_page_1 .flex-wrap{align-items: center; justify-content: flex-start; width: 100%;}
.pop_page_1 .flex-wrap > div{margin:0 5px}

.page_3 .img-wrap{position: relative;width: 910px;margin: 50px auto;}
.page_3 .img-wrap img{width: 100%; margin:0 auto; display: block;}
.page_3 .img-wrap .n1{position: absolute; top: 70px; left: 350px;display: flex;align-items: center;}
.page_3 .img-wrap .n1 > div{margin:0 10px}

.pop_page_2 .circle{display: inline-block; width:40px; height:40px; border:4px solid #00a0ff; border-radius: 50%; text-align: center; padding-top:3px; box-sizing: border-box; vertical-align: middle;}
.pop_page_2 .circle img{width:50%; display: inline-block; }


.page_4 .flex-wrap{position: relative; justify-content: space-around;padding-top: 20px;box-sizing: border-box;}
.page_4 .flex-wrap img{width: 100%;}
.page_4 .flex-wrap > div{width:300px; position: relative;}
.page_4 .flex-wrap .toggle{background-color: transparent; padding:0;}
.page_4 .flex-wrap .toggle::after{display: none;}
.page_4 .flex-wrap .lineBox{position: absolute; top:0; left: -70px;}
.page_4 .flex-wrap .lineBox .icon_arrow{position: absolute; top: 30px; left: 80px;}
.page_4 .flex-wrap .toggle .answer{position: absolute; top:0; lefT:0;}
.page_4 .click-finger-Btn {top:59%; left:45%}
.page_4 .textAlignC{display: flex; align-items: center; justify-content: center;}
.page_4 .textAlignC > div{margin:0 10px}
.page_4 .flex-wrap .complete .click-finger-Btn{display: none;}

.pop_page_3 .flex-wrap{align-items: center;}
.pop_page_3 .bullet.orange.number{transform: translate(0,5px);}
.pop_page_3 .icon_arrow{transform: translate(0,0px); margin-right:10px}
.popup_contents .dotList>li:before{margin-top:30px}



.page_5 .lineBox{position: relative;padding:20px; width:800px; margin:30px auto 50px; display: flex; justify-content: space-around;}
.page_5 .lineBox > div{display: flex; align-items: center;}
.page_5 .lineBox > div > *{margin:0 10px;align-self:center}
.page_5 .toggle .bullet{transform: translate(0,2px);}

.page_6 .img-wrap{width:100%; position: relative;}
.page_6 .img-wrap img{width: 60%; display: block; margin: 160px auto 0;}
.page_6 .img-wrap  >div{position: absolute;}
.page_6 .img-wrap .t1{top: 160px; left: 160px;}
.page_6 .img-wrap .t2{top: 150px; left: 390px;}
.page_6 .img-wrap .t3{top: 150px; left: 780px;}
.page_6 .img-wrap .n1{top: -60px; left: -80px;}
.page_6 .img-wrap .n2{top: -160px; left: 251px;}
.page_6 .img-wrap .n3{top: -160px;
    left: 570px;
    width: 490px;}

.page_6 .balloon{text-align: center;}

.page_6 .img-wrap .n2::after{left:80% !important}
.page_6 .img-wrap .n3::after{left:40% !important}
