.box-flex {display:flex}
.checkContainer h2 .blankBox {margin-top:8px}

.box-flex.wrap-a {flex-direction:column;margin:0 30px;justify-content:flex-start}
.box-flex.wrap-a .group-a {margin-top:20px;width:100%}
.box-flex.wrap-a .group-a ~ .group-a {margin:40px 0 0 0}
.group-a {display:flex;align-items:center}
.group-a ~ .group-a {margin-left:120px}
.page_1 .bunsuWrap .toggle {margin:4px 0}

.box-flex .q-txt {padding-left:60px;text-indent:-60px}
.box-flex.j-c {justify-content:center}

.page_2 .box-flex {justify-content:center}
.dot-point.blue {background-color:#00a0ff !important;}

.page_3 .box-flex {justify-content:space-around;align-items:center;flex-wrap:wrap}

.page_4 .table-wrap {width:520px;margin:120px auto 0}
.page_4 .tableContainer table {table-layout:fixed;margin:20px auto 0}
.page_4 .tableContainer .toggle {background-color:transparent;display:block;width:100%}
.page_4 .tableContainer .none {background-color:#fff}
.page_4 .arrow-css {position:absolute;top:-50px;left:0;width:320px;margin:0;background-color:#F56E00;text-align:center}
.page_4 .arrow-css::after {border-color:transparent transparent transparent #F56E00;}
.page_4 .arrow-css2 {position:absolute;top:0;left:-50px;height:120px;margin:0;background-color:#F56E00;text-align:center}
.page_4 .arrow-css2::after {border-color:#F56E00 transparent transparent transparent;bottom:-30px;top:auto;left:-10px;right:auto}
.page_4 .lineBox.orange {position:relative;top:-20px;left:5px;border-radius:100%;display:inline-block;padding:0;width:60px;height:60px;text-align:center;line-height:45px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.page_4 .arrow-css2 .lineBox.orange {position:relative;left:-20px;top:38px;border-radius:100%;display:inline-block;padding:0;width:60px;height:60px;text-align:center;line-height:45px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}

.page_5 .card-list {display:flex;width:500px;justify-content:space-between;margin:40px auto}
.page_5 .card-list .lineBox {display:inline-flex;width:80px;height:80px;align-items:center;justify-content:center}
.page_5 .card-list ~ .lineBox {width:500px;margin:0 auto;text-align:center}

.pop_page_1 .box-flex {justify-content:center}
.pop_page_2 .box-flex {justify-content:space-between}
.sup {font-size: 20px;line-height: 20px;position: relative;top: -25px;left: -4px;}
.sup2 {font-size: 20px;line-height: 20px;position: relative;top: -23px;left: -5px;}

.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {flex-shrink:0;margin-top:20px !important;}

.page_4 h2 .toggleBlank {margin-top: 8px;}

.pop_page_3 .box-flex {justify-content:space-between;align-items:center}
.pop_page_3 .img-box {flex-shrink:0;margin-right:20px}
.pop_page_3 p {flex:1 auto;letter-spacing:-1px;text-align:justify}

.pop_page_1 .bunsuWrap.inline-flex-box {vertical-align:middle;position:relative;top:-4px}
