#wrap header .title {display: inline-flex;height:52px;align-items: center;}
.operator{display:inline-block;padding:0 10px;vertical-align:middle;}
.pos-r{position:relative}
.pos-a{position:absolute}
.flex-center {display:flex;align-items:center;justify-content:center;}
.va-m{vertical-align:middle}
.ta-c {text-align:center}
.ta-l {text-align:left}
.width-auto {width:auto}
h2 .bunsuWrap {margin-top:-14px;}
.mr_100 {margin-right: 100px;}
.mr_200 {margin-right: 200px;}
.mr_300 {margin-right: 300px;}
.bunsuWrap.highlight {color: #00a0ff}
.bunsuWrap.highlight ul > li:first-of-type {border-bottom-color: #00a0ff;}
.icon_o_title.withBunsu {vertical-align: middle;display:inline-flex;align-items:center;justify-content:center;}

h2 ins + span {letter-spacing: -1px;}

.suhi h2 ins.special.type2:before {
    content: "개념";
}
.suhi h2 ins.special.type2:after {
    content: '정리';
display: inline-block;
    margin-left:10px;
}

.bullet.number {margin-top:-4px;line-height:1.5;vertical-align: middle;}
.bullet.green {color: #a3d48e;}

.popup_container {z-index: 3;}

.contentsList .bullet.circleDot {align-self:center;}
.contentsList .dot {align-self:center;}

.page_0 .lineBox {height: 390px;}
.page_0 .colorBox {display: inline-block;}

.page_1 figure img {height: 90px;}
.page_1 .flex-center + .flex-center {font-size: 35px;}

.page_3 .bogiContainer + div {width:fit-content; margin:0 auto;font-size: 35px;}

.popup_pages .pop_page_5 .popup_contents {padding-right: 30px;}
.pop_page_5 .contentsList {letter-spacing: -2px;font-size: 30px;}
.pop_page_5 .contentsList .dot {align-self:flex-start;}

.page_6 figure {padding-top: 10px;text-align: center;}
.page_6 figure img {height: 350px;}
.page_6 .innerTab_1 [class*='ex-label-'] {position: absolute;font-size: 35px;}
.page_6 .balloon {font-size: 35px !important;}
.page_6 .innerTab_1 .ex-label-1 {top: 98%;left: 26%;}
.page_6 .innerTab_1 .ex-label-2 {top: 95%;left: 71%;}
.page_6 .innerTab_1 .ex-balloon-1 {top: -10px;left: 19%;}
.page_6 .innerTab_1 .ex-balloon-2 {top: -7%;left: 64%;}
.page_6 .innerTab_2 figure {height: 200px;}
.page_6 .innerTab_2 .balloon {position: relative; width: 600px;}
.page_6 .innerTab_2 .ex-label-1 {margin-right: 40px;}
.page_6 .innerTab_2 .ex-label-2 {margin-right: 40px;}