@charset "utf-8";

.eye.popBtn {
    transform: translate(0, 9px);
}

.popup_pages>li.whole.pop_page_1 .popup_contents{
    padding:0;
    background-color: #c6c6e0;
}
.pop_page_1 .contentsBox{padding:0}

.img1.zoomap{width: 1170px;height: 770px;background: #e8f3e2 url(../images/suh_h_0301_05_0009_201_1/suh_h_0301_05_0009_201_1_3.png) no-repeat 50% 0 / 100%;position: relative; overflow: hidden;}

.img1.zoomap .wrap{position: relative; width: 1170px;height: 770px; top:10px}

.img1.zoomap .txt{position: absolute; font-size: 20px;}
.img1.zoomap .n1{top: 11px;left: 524px;font-size: 32px;font-weight: 900;}
.img1.zoomap .n2{top: 130px;left: 349px;}
.img1.zoomap .n3{top: 141px;left: 520px;}
.img1.zoomap .n4{top: 140px;left: 660px;}
.img1.zoomap .n5{top: 140px;left: 758px;}
.img1.zoomap .n6{top: 270px;left: 540px;}
.img1.zoomap .n7{top: 225px;left: 716px;}
.img1.zoomap .n8{top: 270px;left: 840px;}
.img1.zoomap .n9{top: 340px;left: 452px;}
.img1.zoomap .n10{top: 420px;left: 350px;}
.img1.zoomap .n11{top: 416px;left: 482px;}
.img1.zoomap .n12{top: 417px;left: 627px;}
.img1.zoomap .n13{top: 417px;left: 766px;}
.img1.zoomap .n14{top: 248px;left: 280px;}
.img1.zoomap .n15{top: 320px;left: 820px;}
.img1.zoomap .n16{top: 204px;left: 278px;}
.img1.zoomap .n17{top: 148px;left: 393px;}
.img1.zoomap .n18{top: 524px;left: 560px;font-size: 27px;}
.img1.zoomap .n19{top: 564px;left: 277px;font-size: 23px;letter-spacing: 0;}
.img1.zoomap .n20{top: 600px;left: 277px;font-size: 24px;}
.img1.zoomap .txt span{display: inline-block;color:green;font-size: 30px;transform: translate(0,1px);}

.pop_page_1 .img2{width:100%;height: 773px;background: #e8f3e2  url(../images/suh_h_0301_05_0009_201_1/suh_h_0301_05_0009_201_1_2.png) no-repeat 59% 100% / 130%;
position: relative;}
.pop_page_1 .img2 .balloon{text-align: center; }
.pop_page_1 .img2 .b1{width: 360px;top: 140px;left: 20px;}
.pop_page_1 .img2 .b2{width: 320px;top: 110px;left: 410px;}
.pop_page_1 .img2 .b3{width: 250px;top: 80px;left: 800px;}


.tit-wrap{width:600px;height:220px;background: url(../images/suh_h_0301_02_0008_201_2_1.png) no-repeat 0 0 / 100%; padding:43px 0 0 130px; position: relative; box-sizing: border-box; margin: 0 auto;}
.tit-wrap b{position: absolute; top:42px; left:56px;}

.page_1 .basicSlider {padding:0}

.page_2 .innerTab_1 .lineBox{width:100%;height:440px;position: relative;padding: 20px 40px;}
.page_2 .innerTab_1 .lineBox .colorBox{
    position: absolute;
    top: 10px;
    left: -50px;
    width:100px;
    text-align: center;
}
.page_2 .innerTab_1 .lineBox .tit{padding-left: 30px;}

/* .page_2 .innerTab_1 .img1.zoomap{width: 1170px;height: 690px;background: #e8f3e2 url(../images/suh_h_0301_05_0009_201_1/suh_h_0301_05_0009_201_1_3.png) no-repeat 50% 0 / 100%;position: relative;transform: scale(1) translate(0, 0);position: absolute;top: -199px;left: -86px;} */

.zoomapwrap{width: 330px;height:290px;overflow: hidden;margin: 0 auto; border-radius: 10px;}
.zoomapwrap .zoomap{transform: scale(.4) translate(-1050px ,-582px);}
.zoomapwrap .zoomap .wrap{}
.img1.zoomap.m1{width: 1170px;height: 770px;background: #fff url(../images/suh_h_0301_05_0009_201_2/suh_h_0301_05_0009_201_2_1.png) no-repeat 50% 40px / 1222px;position: relative; overflow: hidden;}
.img1.zoomap.m1 .n19 > span,
.img1.zoomap.m1 .n16,
.img1.zoomap.m1 .n17,
.img1.zoomap.m1 .n20,
.img1.zoomap.m1 .n18{display: none;}
.img1.zoomap.m1 .n1{top: -8px;left: 514px;}
.img1.zoomap.m1 .n19 {top: 568px;left: 290px;}
.img1.zoomap.m1 .wrap {top:63px}
.zoo.zoomBtn {width: 300px; margin: 0 auto}
.zoo.zoomBtn img{width:100%}