#wrap main {z-index:0}
.popup_container{z-index: 1;}
.content-container{height: 530px;}
.suhi h2 .blankBox{margin-top:8px;}
.suhi , .popup_pages div {font-size: 40px;}
.blankBox {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    margin-top: 6px;
}
.blankBox.w50 {margin-top: 0;}

.popup_pages>li.whole h2.pop-tit{background-color:transparent !important; align-self:flex-start; padding:20px; }
.popup_pages .buttonContainer{right: 40px;bottom:20px}
.type-iframe .buttonContainer.left{left:56px; right: auto;}
.type-iframe .buttonContainer{right:225px;}
.btns-bottom-right {bottom:10px}
b{font-weight: 400;}
.popup_pages>li.whole{font-size:40px;}
.popup_pages .moveButtonContainer {bottom: 30px;}
.whole .bullet.circleDot {margin-top:18px}
.whole .icon_o_title{transform: translate(0,3px);}
.blankBox.w40{min-width:40px !important;min-height:40px !important;max-width:40px !important;max-height:40px !important;transform: translate(0px, 6px);}
.flexListContainer.wrap {justify-content: flex-start;margin: 0 auto;}
.flexListContainer.wrap > li {display: flex;align-items: center;}
.flexListContainer.wrap li + li {margin-top: 15px;}
.flexListContainer.column {margin-top: 30px;}
.flexListContainer.column li {display: flex;align-items: center;}
.flexListContainer.column li + li {margin-top: 15px;}
.flexListContainer.column li > div {display: flex;}
.flexListContainer.column li > div:first-child {display: flex;justify-content: flex-end;min-width: 132px;margin-right: 10px;}
.flexListContainer.column li .colorBox.check {margin-right: 0;}
.flexListContainer.column li .colorBox.check.skyBlue {width: 132px;text-align: center;}
.img-wrap {text-align: center;}
.colorBox.inline, .lineBox.inline {display: inline-block;min-width: 30%;padding: 30px;text-align: center;}


.page_2 .dot.n4{top:0; left:0;}

.page_1 .box-flex {display:flex;justify-content:space-between;margin-top:20px}
.page_1 .box-flex .item {width:calc(50% - 20px)}
.page_1 .box-flex .lineBox {width:100%;text-align:center;padding:30px 0}
.page_1 .box-flex .lineBox img {width:85%;vertical-align:top}
.page_1 .box-flex .textAlignC {margin-top:20px}

.page_2 .box-flex {justify-content:space-between;align-items:center;display:flex;margin-top:100px}
.page_2 .box-flex .img-box {width:25%;padding-left:5%}
.page_2 .box-flex .img-box img {width:100%}
.page_2 .box-flex .txt-box {padding-left:40px;width:calc(70% - 40px);position:relative}
.page_2 .box-flex .answer-o {position:absolute;right:93px;top:0;width:290px;height:52px;background-color:transparent}
.page_2 .box-flex .answer-o:after {display:none}
.page_2 .box-flex .icon.icon_o {position:absolute;top:50%;margin-top:-25px;left:40px}
.page_2 .complete .icon.icon_o {opacity:1}

.pop_page_2 .img-wrap{position: relative; margin: 30px auto; width:700px}
.pop_page_2 .img-wrap img{width: 100%;}
.pop_page_2 .img-wrap .txt{position: absolute; top:0; lefT:0;}
.pop_page_2 .flex-wrap{justify-content: center; align-items: center; width:100%}

.page_3 .box-flex {display:flex;align-items:center;justify-content:space-between;margin-top:100px}
.page_3 .box-flex > div {width:23%;text-align:center;position:relative}
.page_3 .box-flex > div img {width:80%;vertical-align:top}
.page_3 .box-flex .icon {position:absolute;top:50%;left:50%;width:100px;height:100px;margin:-50px 0 0 -50px}
.page_3 .box-flex .ox-n1 {margin-right:-80px}
.page_3 .box-flex .ox-n2 {margin-right:-80px}

.popup_contents img {width:100%;vertical-align:top}

