






.innerTab_1 .icon_arrow{margin:0 50px}
.innerTab_1 .wrap{position: relative;}
.innerTab_1 .line-arrow.n2 {
    top: 123px;
    left: 290px;
    width: 416px;
    height: 130px;
}
.innerTab_1 .line-arrow.n3 {
    top: 123px;
    left: 358px;
    width: 277px;
    height: 60px;
}
.innerTab_1 .line-arrow.n4 {
    top: 20px;
    left: 358px;
    width: 277px;
    height: 40px;
}
.innerTab_1 .line-arrow.brt > div{position: absolute; bottom:0; left:50%;transform: translate(-50%, 25px);background: #fff; padding:0 20px; white-space: nowrap;}
.innerTab_1 .line-arrow.tr > div{position: absolute; top:0; left:50%;transform: translate(-50%, -25px);background: #fff; padding:0 20px; white-space: nowrap;}

.innerTab_2 .flex-item{position: relative;}
.innerTab_2 .flex-item.n1,
.innerTab_2 .flex-item.n2{min-width:370px; }
.innerTab_2 .flex-item .icon_arrow{
    right:0;
    top:50px;
    position: absolute;
}
.innerTab_2 .flex-item.n2 .icon_arrow{
    top:100px;
}
.innerTab_2 .flex-item.n1,
.innerTab_2 .flex-item.n3{top:50px}

.bg{background:#e3e3e3;}












