.contentsBox.board,
.contentsBox.board h2 {color:#fff;}
.icon_arrow{margin:0 50px}


.wrap{position: relative;}

.line-arrow,
.line-arrow::after,
.line-arrow.brt,
.line-arrow.tr{
    border-color: #fff;
}

.line-arrow.n2 {
    top: 123px;
    left: 290px;
    width: 416px;
    height: 130px;
}
.line-arrow.n3 {
    top: 123px;
    left: 358px;
    width: 277px;
    height: 60px;
}
.line-arrow.n4 {
    top: 20px;
    left: 358px;
    width: 277px;
    height: 40px;
}

.btn1{top: 90px;left: 270px;}
.btn2{top: 90px;left: 340px;}
.btn3{top: 90px;left: 420px;}

.line-arrow.brt > div{position: absolute; bottom:0; left:50%;transform: translate(-50%, 25px);background: #385440; padding:0 20px; white-space: nowrap;}
.line-arrow.tr > div{position: absolute; top:0; left:50%;transform: translate(-50%, -25px);background: #385440; padding:0 20px; white-space: nowrap;}
.click-finger-Btn{z-index: 2;}
.click-finger-Btn.complete{display: none;}










