.complete_txt {display:none;}
.complete .complete_txt {display:block;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:7px;left:0;margin:0;}

.suhi h2 .icon_x_title, .suhi h2 .icon_tri_title {margin:11px 0 0;}

.divide_box {display:inline-flex;align-items:start;}
.divide_box .row span {display:block;width:60px;height:48px;padding:5px;text-align:center;}
.divide_box .row span {border-bottom:3px solid #000;}
.divide_box .row span:last-child {border-bottom:3px solid transparent;}
.divide_box .row.integer span {width:auto;}
.divide_box .row.integer span {border-bottom:3px solid transparent;}
.divide_box .row.integer + .row span {position:relative;}
.divide_box .row.integer + .row span:after {display:block;content:"";position:absolute;left:-6px;bottom:-3px;width:18px;height:58px;background:url('../images/divide-black.png') no-repeat center/contain;}
.divide_box .row.integer + .row span:last-child:after {display:none;}

.toggle .answer {line-height:48px;}
.toggle .answer .divide_box .row span {border-bottom:3px solid #00a0ff;}
.toggle .answer .divide_box .row span:last-child {border-bottom:3px solid transparent;}
.toggle .answer .divide_box .row.integer span {border-bottom:3px solid transparent;}
.toggle .answer .divide_box .row.integer + .row span:after {display:block;content:"";position:absolute;left:-6px;bottom:-3px;width:18px;height:58px;background:url('../images/divide-blue.png') no-repeat center/contain;}
.toggle .answer .divide_box .row.integer + .row span:last-child:after {display:none;}

.suhi .page_23 h2>ins.number {margin:8px 0 0;}
.suhi .page_23 .speechBox {display:flex;justify-content:space-around;}
.suhi .page_23 .speechBox > div {position:relative;}
.suhi .page_23 .speechBox > div .balloon {width:150px;text-align:center;left:100px;top:50px;}
.suhi .page_23 .speechBox > div:nth-child(2) .balloon {top:100px;}

.page_1 .lineBox > div {display:flex;align-items:start;}
.page_1 .lineBox > div span {width:222px;}
.page_1 .flex-box {margin:20px 0 0;}
.page_1 .contentsList > li .bunsuContainer {margin:0;}

.page_2 .tableContainer table td {padding:0;}
.page_2 .tableContainer table td .toggle {width:100%;background:none;}

.suhi .page_3  .study_guide {top:-15px;}
.page_3 .tableContainer {margin:40px 0 0;}
.page_3 .tableContainer table td {padding:0;}
.page_3 .choice {position:relative;}
.page_3 .choice .icon {position:absolute;left:50%;top:50%;margin:-25px 0 0 -25px;}

.page_4 .quizBox {position:relative;width:730px;margin:0 auto;}
.page_4 .quizBox > div {display:flex;justify-content:space-around;margin:20px 0 0;}

.page_5 .contentsList > li {align-items:start;}
.page_5 .contentsList .bunsuContainer {margin:0;}
.page_5 .contentsList .bunsuContainer .toggle .answer {text-align:justify;}
.page_5 .toggle[data-toggle-obj="2"] .answer {display:flex;align-items:center;}
.page_5 .toggle[data-toggle-obj="2"] .answer .icon_arrow {margin:0 10px;}

.page_6 .imgContainer {position:relative;padding:160px 0 0;}
.page_6 .imgContainer img {width:100%;}
.page_6 .imgContainer .balloon {position:absolute;top:0;}
.page_6 .imgContainer .balloon1 {left:0;}
.page_6 .imgContainer .balloon2 {left:220px;}
.page_6 .imgContainer .balloon3 {left:615px;}
.page_6 .imgContainer .balloon4 {left:806px;}

.page_7 .bogi_wrap {width:898px;margin:0 auto;}
.page_7 .icon_bogi:after {content:"규칙";}
.page_7 .buttonContainer {z-index:3;}