.operator {display:inline-block;padding: 0 2px;vertical-align: middle;}
.pos-r{position:relative}
.pos-a{position:absolute}
.ta-c {text-align:center !important}
.ta-l {text-align:left !important}
.ta-r {text-align:right !important}
.flex-center {display:flex;align-items:center;justify-content:center;}
.alignCneter {align-items: center;}
.justifySB {justify-content: space-between;}
h2 .bunsuWrap {margin-top:-14px;}
#wrap header .title {display: inline-flex;height:52px;align-items: center;}
.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}

[class^='ex-'] {
    position: absolute;
}
.ex-gradation {position: absolute; top:0;left:0;font-size:30px;line-height:1;width:100%;display: flex;align-items: center;justify-content: space-between;}

.page_1 img {height: 112px;margin: -20px auto 0;}

.page_2 .study_guide {top: 70% !important;right: 3% !important;}
.page_2 figure img {padding-top: 30px;height: 133px;}
.page_2 .ex-gradation {left: 46px;width: 91%;}

.lineBox .colorBox {display: inline-block;}

.page_3 figure img {padding-top: 30px;height: 105px;}
.page_3 .ex-gradation {left: 116px;width: 76.5%;}

.pop_page_1 .ex-balloon-1 {top: 9%;left: 15%;width: 403px;}
.pop_page_1 .ex-balloon-2 {top: 23%;left: 55%;}

/* page_2 */
.page_2 ins.icon_red_x {
    display: inline-block;
    position: relative;
    top: 12px;
    width: 50px;
    height: 56px;
    background: url(../../common/contents/images/icon/icon_X_title.png) center/ 100% auto no-repeat;
}

.page_2 .clickContainer {
    position: absolute;
    top: 243px;
    display: flex;
    left: 56px;
    width: 946px;
    z-index: 3;
}
.page_2 .clickContainer li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 89px;
    height: 74px;
    border-top: 2px solid #B7365C;
    border-bottom: 2px solid #B7365C;
    border-right: 2px dashed #B7365C;
    box-sizing: border-box;
}
.page_2 .clickContainer li.solidLine {
    border-right: 3px solid #B7365C;
}
.page_2 .clickContainer li:first-child {
    border-left: 2px solid #B7365C;
}
.page_2 .clickContainer li:last-child {
    border-right: 3px solid #B7365C;
}
.page_2 .clickContainer li.complete,
.page_2 .clickContainer li.on { background-color: #00a0ff; }

.page_2 .dragContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 500px;
}
.page_2 .dragBox {
    position: absolute;
    right: 40px;
    top: 92px;
    width: 60px;
    height: 55px;
}
.page_2 .dragBox.top:before {
    display: none;
}
.page_2 .rotateContainer {
    position: absolute;
    top: 33px;
    left: 39px;
    width: 46px;
    height: 50px;
}
.page_2 .dragObj {
    top: 33px;
    left: 39px;
    width: 60px;
    height: 55px;
    background: url(../../common/contents/images/icon/icon_X_title.png) center/ 30px auto no-repeat;
}
.page_2 .clickContainer li .dragObj {
    position: static;
}
