.content-container > .content > .bg {
    /* background-image: url(../images/mm_31_2_04_06_01/bg.png); */
    /* background-image: url(../images/01.png); opacity: 1; */
}

.img-box {
    justify-content: flex-start;
    padding-left: 50px;
}


#btn-hint-01 {
    left: 160px;
    top: 380px;
}

#quiz-01 .input-cont:nth-child(1) {
    width: 180px;
    left: 934px;
    top: 521px;
}