.content-container > .content > .bg {
    background-image: url(../images/mm_31_5_02_06_01/bg.svg);
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 140px;
    left: 654px;
    top: 295px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 80px;
    left: 582px;
    top: 444px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 120px;
    left: 752px;
    top: 444px;
}