.content-container > .content > .bg {
    /* background-image: url(../images/mm_31_5_03_05_02/bg.png); */
    /* background-image: url(../images/01.png); opacity: 1; */
}


.scroll-box.w-1200 .scroll-inner, .scroll-box.w-1200 .scroll-bg {
    background-image: url(../images/mm_31_5_03_05_02/bg.png);
    background-position-y: -165px;
}

.scroll-box.w-1200 .scroll-inner, .scroll-box.w-1200 .scroll-bg {
    height: 745px;
}