/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 80px;
    left: 136px;
    top: 579px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 80px;
    left: 276px;
    top: 579px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 80px;
    left: 416px;
    top: 579px;
}

#quiz-02 .input-cont {
    margin: 0 0 0 0;
}
#quiz-02 .input-cont:nth-child(1) {
    width: 80px;
    left: 726px;
    top: 579px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 80px;
    left: 866px;
    top: 579px;
}
#quiz-02 .input-cont:nth-child(3) {
    width: 80px;
    left: 1006px;
    top: 579px;
}


.btn-answer-part:nth-child(1) {
    left: 554px;
    top: 585px;
}
.btn-answer-part:nth-child(2) {
    left: 1144px;
    top: 585px;
}