.content-container > .content > .bg {
    background-image: url(../images/mm_31_5_04_04_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

.app-drawing-tool .tool-container {
    top: 170px;
    right: 70px;
}

.answer {
    width: 380px;
    height: 380px;
    position: absolute;
    right: 175.4px;
    top: 226px;
}

.q-box span em.check-item.btn-.active {
    color: #3567D7;
}

#quiz-con-01 {
    margin-top: 300px;
}


#btn-hint-01 {
    left: 250px;
    top: 50px;
}

#btn-hint-02 {
    left: 855px;
    top: 57px;
}