.content-container > .content > .bg {
    background-image: url(../images/mm_31_5_01_05_01/bg.svg);
    /* background-image: url(../images/mm_31_5_01_05_01.png); opacity: 1; */
}

.img-box {
    width: 408px;
    height: 302px;
    left: 40px;
    top: 74px;
}

.a-box > .quiz-check .content-con {
    background-color:  rgba(0, 0, 0, 0);
}

.quiz-check.type-box .check-item::after {
    background-color: rgba(0, 0, 0, 0);
}

.a-box {
    position: absolute;
    margin: 5px 0 0 0;
    padding: 0;
    width: 686px;
    height: 80px;
}

.a-box:nth-child(1) {
    width: 290px;
    left: 80px;
    top: 292px;
}

.a-box:nth-child(2) {
    width: 480px;
    left: 370px;
    top: 292px;
}

.a-box:nth-child(3) {
    width: 350px;
    left: 850px;
    top: 292px;
}

.a-box:nth-child(4) {
    width: 290px;
    left: 80px;
    top: 372px;
}

.a-box:nth-child(5) {
    width: 480px;
    left: 370px;
    top: 372px;
}

.a-box:nth-child(6) {
    width: 350px;
    left: 850px;
    top: 372px;
}


.check-item.btn-.content-con {
    text-align: center;
}

#quiz-02 .check-item.btn-.content-con,
#quiz-05 .check-item.btn-.content-con
{
    text-align: left;
    padding-left: 100px;
}
#quiz-03 .check-item.btn-.content-con,
#quiz-06 .check-item.btn-.content-con
{
    text-align: left;
    padding-left: 70px;
}