/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 100px; 
    left: 473px;
    top: 431px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 100px; 
    left: 673px;
    top: 431px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 100px; 
    left: 473px;
    top: 521px;
}