.content-container > .content > .bg {
    background-image: url(../images/mm_31_5_05_04_02/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}
/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    left: 653px;
    top: 171px;
    width: 80px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 800px;
    top: 171px;
    width: 100px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 969px;
    top: 171px;
    width: 100px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 327px;
    top: 436px;
    width: 80px;
}
#quiz-01 .input-cont:nth-child(5) {
    left: 542px;
    top: 436px;
    width: 100px;
}
#quiz-01 .input-cont:nth-child(6) {
    left: 769px;
    top: 436px;
    width: 100px;
}

.q-box {
    position: absolute;
    left: 0px;
    top: 510px;
}

.btn-answer-part:nth-child(1) {
    top: 175px;
    left: 1120px;
}
.btn-answer-part:nth-child(2) {
    top: 443px;
    left: 928px;
}