.content-container > .content > .bg {
    /* background-image: url(../images/01.png); opacity: 1; */
}

#quiz-content-01 .scroll-box .scroll-bg {
    background-image: url(../images/mm_31_5_02_04_01/bg.svg);
    background-position: -40px -160px;
}

.scroll-box.w-1200 .scroll-inner, .scroll-box.w-1200 .scroll-bg {
    height: 740px;
}

.img-box {
    margin-bottom: 60px;
}


#btn-hint-01 {
    left: 966px;
    top: 370px;
}
