/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 80px;
    left: 759px;
    top: 464px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 80px;
    left: 944px;
    top: 463px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 80px;
    left: 1091px;
    top: 463px;
}