/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 80px;
    left: 719px;
    top: 283px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 120px;
    left: 889px;
    top: 283px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 80px;
    left: 711px;
    top: 433px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 120px;
    left: 881px;
    top: 433px;
}

.btn-answer-part:nth-child(1) {
    left: 1062px;
    top: 290px;
}
.btn-answer-part:nth-child(2) {
    left: 1062px;
    top: 440px;
}