.content-container > .content > .bg {
    /* background-image: url(../images/mm_31_5_04_06_01/bg.png); */
    /* background-image: url(../images/01.png); opacity: 1; */
}


#btn-audio-01 {
    position: absolute;
    left: 306px;
    top: 521px;
}
#btn-audio-02 {
    position: absolute;
    left: 596px;
    top: 521px;
}
#btn-audio-03 {
    position: absolute;
    left: 886px;
    top: 521px;
}

#quiz-02 {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
#quiz-02 .check-item {
    position: absolute;
    top: 105px;
}
#quiz-02 .check-item:nth-child(1) {
    left: 275px;
}
#quiz-02 .check-item:nth-child(2) {
    left: 565px;
}
#quiz-02 .check-item:nth-child(3) {
    left: 855px;
}