.content-container > .content > .bg {
    background-image: url(../images/mm_31_5_03_04_02/bg.svg);
    /* background-image: url(../images/mm_31_5_01_05_01.png); opacity: 1; */
}

.quiz-answer .bb-01 {
    position: absolute;
    left: 25px;
    top: 306px;
}

.img-box {
    width: 408px;
    height: 302px;
    left: 40px;
    top: 74px;
}

.a-box > .quiz-check .content-con {
    background-color:  rgba(0, 0, 0, 0);
}

.quiz-check.type-box .check-item::after {
    background-color: rgba(0, 0, 0, 0);
}

.a-box {
    position: absolute;
    width: 576px;
}

.a-box:nth-child(1) {
    left: -8px;
    top: 382px;
    width: 347px;
}

.a-box:nth-child(2) {
    left: -7px;
    top: 462px;
    width: 347px;
}

.a-box:nth-child(3) {
    left: -7px;
    top: 542px;
    width: 347px;
}

.a-box:nth-child(4) {
    left: 213px;
    top: 382px;
}

.a-box:nth-child(5) {
    left: 213px;
    top: 462px;
}

.a-box:nth-child(6) {
    left: 213px;
    top: 542px;
}

.a-box:nth-child(7) {
    left: 663px;
    top: 382px;
}

.a-box:nth-child(8) {
    left: 663px;
    top: 462px;
}

.a-box:nth-child(9) {
    left: 663px;
    top: 542px;
}


.check-item.btn-.content-con {
    text-align: center;
}