/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 120px;
    left: 634px;
    top: 271px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 80px;
    left: 585px;
    top: 381px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 120px;
    left: 737px;
    top: 381px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 120px;
    left: 635px;
    top: 491px;
}