.ico-bulb {
    padding: 10px 0 14px 60px;
}

#quiz-con-01 {
    position: absolute;
    left: 0;
    top: 0;
}
#quiz-con-01 .q-box {
    top: 270px;
    left: -43px;
}


.btn1 {
    left: 324px;
    top: 90px;
}

.btn2 {
    left: 458px;
    top: 90px;
}