.drag-item {
    /* background-color: rgba(255,0,0,0.5); */
}
.drag-area {
    /* background-color: rgba(0,0,255,0.2); */
}
.drag-area {
    background-color: #FFF3A8;
    border-radius: 10px;
}

.content .img-box-01 {
    top: -170px;
}

/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: -170px 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 80px;
    left: 256px;
    top: 503px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 80px;
    left: 611px;
    top: 503px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 100px;
    left: 776px;
    top: 503px;
}

/* 입력 퀴즈 */
.twins-01 .img-box-01 {
    top: -240px;
}
#twins-01-quiz-01 .input-cont {
    margin: -240px 0 0 0;
}
#twins-01-quiz-01 .input-cont:nth-child(1) {
    width: 80px;
    left: 260px;
    top: 578px;
}
#twins-01-quiz-01 .input-cont:nth-child(2) {
    width: 80px;
    left: 695px;
    top: 578px;
}
#twins-01-quiz-01 .input-cont:nth-child(3) {
    width: 100px;
    left: 860px;
    top: 578px;
}

/* 입력 퀴즈 */
.twins-02 .img-box-01 {
    top: -240px;
}
#twins-02-quiz-01 .input-cont {
    margin: -240px 0 0 0;
}
#twins-02-quiz-01 .input-cont:nth-child(1) {
    width: 80px;
    left: 260px;
    top: 578px;
}
#twins-02-quiz-01 .input-cont:nth-child(2) {
    width: 80px;
    left: 695px;
    top: 578px;
}
#twins-02-quiz-01 .input-cont:nth-child(3) {
    width: 100px;
    left: 860px;
    top: 578px;
}