/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 1042px;
    left: 151px;
    top: 510px;
}

.quiz-02-answer {
    opacity: 0;
}
.quiz-02-answer.show {
    opacity: 1;
}

#quiz-content-02 .check-item {
    position: absolute;
    visibility: hidden;
}
#quiz-content-02 .check-item.ani {
    visibility: visible;
    animation: ani-flash-01 1s infinite;
}
#quiz-content-02 .check-item.active {
    visibility: hidden;
}
#quiz-02 .check-item {
    position: absolute;
    width: 740px;
    height: 357px;
    left: 445px;
    top: 82px;
}

.quiz-02-answer.answer {
    position: absolute;
    left: 0px;
    top: 0px;
}

#quiz-content-01 > div.btns-answer-part > div:nth-child(2) {
    left: 852px;
    top: 287px;
}


/* ------------------------------------ 팝업 퀴즈 1 */
/* 입력 퀴즈 */
#twins-01-quiz-01 .input-cont:nth-child(1) {
    width: 1042px;
    left: 111px;
    top: 337px;
}

/* 체크 퀴즈 image-answer 타입 */
#twins-01-quiz-02 {
    pointer-events: none;
    position: relative;
    left: 0;
    top: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}
#twins-01-quiz-02 .check-item {
    pointer-events: auto;
    left: 804px;
    top: 115px;
}


/* ------------------------------------ 팝업 퀴즈 2 */
/* 입력 퀴즈 */
#twins-02-quiz-01 .input-cont:nth-child(1) {
    width: 1042px;
    left: 111px;
    top: 337px;
}

/* 체크 퀴즈 image-answer 타입 */
#twins-02-quiz-02 {
    pointer-events: none;
    position: relative;
    left: 0;
    top: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}
#twins-02-quiz-02 .check-item {
    pointer-events: auto;
    left: 804px;
    top: 115px;
}