.content-container > .content > .bg {
    /* background-image: url(../images/mm_31_5_04_07_01/bg.png); */
    /* background-image: url(../images/mm_31_5_04_07_01.png); opacity: 1; */
}

.img-box {
    background-image: url(../images/mm_31_5_04_07_01/bg.png);
}

.a-box.a2 > .quiz-check .content-con {
    background-color:  rgba(0, 0, 0, 0);
}

.a-box.a2 .quiz-check.type-box .check-item::after {
    background-color: rgba(0, 0, 0, 0);
}

.a-box.a2 {
    position: absolute;
    width: 1025px;
    top: 219px;
    left: 121px;
}
.a-box.a3 > .quiz-check .content-con {
    background-color:  rgba(0, 0, 0, 0);
}

.a-box.a3 .quiz-check.type-box .check-item::after {
    background-color: rgba(0, 0, 0, 0);
}

.a-box.a3 {
    position: absolute;
    width: 1025px;
    top: 289px;
    left: 121px;
}

#quiz-02 .ico-box-text-02 {
    position: absolute;
    left: -60px;
    top: 13px;
}
#quiz-03 .ico-box-text-02 {
    position: absolute;
    left: -60px;
    /* top: 13px; */
    top: -57px;
}
