.content-container > .content > .bg {
    width: 1058px;
    height: 503px;
    /* background-image: url(../images/ms_31_5_01_03_01/bg.png); */
    background-image: url(../images/ms_31_5_01_03_01/suhi_p_0301_05_0002_3.png);
    background-size: 508px;
    background-position: 440px 100px;
}

/* 보충 문제 bg */
.popup-more-one > .bg {
    width: 1058px;
    height: 580px;
    background-image: url(../images/ms_31_5_01_03_01/bg_popup_more.svg);
}


/* 입력 퀴즈 */
.quiz-01-answer {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 1058px;
    height: 580px;
    margin-top: -109px;
    visibility: hidden;
}
.quiz-01-answer.show {
    visibility: visible;
}

.quiz-01-answer.show img {
    width: 1090px;
    height: 640px;
margin-left: -14px;}

#quiz-01 .input-cont:nth-child(1) {
    width: calc(190px + 20px);
    left: 304px;
    top: 431px;
}


/* 입력 퀴즈 */
.quiz-02-answer {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}
.quiz-02-answer.show {
    visibility: visible;
}
#quiz-02 .input-cont:nth-child(1) {
    width: calc(190px + 20px);
    left: 304px;
    top: 461px;
}


.icon_arrow{position: absolute; background-color: #fff;}
			.icon_arrow.n1{top: 15px; right:-70px;}
			.icon_arrow.n2{top: 15px; right:-70px;}
			.line{position: absolute; border-top:6px solid #00a0ff;}
			.line.n1{top: 227px; left: 443px; width: 183px;}
			.line.n2{top: 358px; left: 443px; width: 134px;}
			.colorBox{font-size: 40px; position: absolute; width:250px; text-align: center; padding:20px 10px}
			.colorBox.n1{top: 80px; left: 100px; }
			.colorBox.n2{top: 214px; left: 100px; }