.content-container > .content > .bg {
	background-image: url('../../images/ms_41_2_01/ms_41_2_01_02_01/bg.svg');
}

.popup-more-one .bg {
    background-image: url('../../images/ms_41_2_01/ms_41_2_01_02_01/bg_more.svg');
}


/* #quiz-content-01 .scroll-bg {
	background-image: url('../../images/');
	height: 770px;
} */

/* #quiz-content-02 .scroll-bg {
	background-image: url('../../images/');
	height: 710px;
} */

/* #quiz-content-01 .tool-container {
	top: 165px;
} */

/* #quiz-content-02 .tool-container {
	top: 245px;
} */

#quiz-01 .check-list {
	position: absolute;
    top: 462px;
    left: 274px;
	display: flex;
}

#quiz-01 .check-list .check-item {
	position: relative;
	width: 180px;
	height: 153px;
}

#quiz-01 .check-list .check-item + .check-item {
    margin-left: 375px;
}


#quiz-02 .check-list {
	position: absolute;
	top: 492px;
	left: 327px;
	display: flex;
}

#quiz-02 .check-list .check-item {
	position: relative;
	width: 180px;
	height: 153px;
}

#quiz-02 .check-list .check-item + .check-item {
    margin-left: 255px;
}

