.content-container > .content > .bg {
	background-image: url('../../images/ms_41_2_01/ms_41_2_01_04_01/bg.svg');
}

.popup-more-one .bg {
	background-image: url('../../images/ms_41_2_01/ms_41_2_01_04_01/bg_more.svg');
}

/* #quiz-content-01 .scroll-bg {
	background-image: url('../../images/');
	height: 770px;
} */

/* #quiz-content-02 .scroll-bg {
	background-image: url('../../images/');
	height: 710px;
} */

/* #quiz-content-01 .tool-container {
	top: 165px;
} */

/* #quiz-content-02 .tool-container {
	top: 245px;
} */

#quiz-01 .input-cont:nth-child(1) {
	left: 830px;
	top: 519px;
	width: 105px;
}

#quiz-01 .input-cont:nth-child(2) {
	left: 965px;
	top: 519px;
	width: 105px;
}

#quiz-01 .input-cont:nth-child(3) {
	left: 1100px;
	top: 519px;
	width: 105px;
}

#quiz-02 .input-cont:nth-child(1) {
	left: 830px;
	top: 542px;
	width: 105px;
}

#quiz-02 .input-cont:nth-child(2) {
	left: 965px;
	top: 542px;
	width: 105px;
}

#quiz-02 .input-cont:nth-child(3) {
	left: 1100px;
	top: 542px;
	width: 105px;
}
