#quiz-content-01 .scroll-bg {
	background-image: url('../../images/ms_41_2_01/ms_41_2_01_06_01/bg.svg');
	height: 916px;
}

#quiz-content-02 .scroll-bg {
	background-image: url('../../images/ms_41_2_01/ms_41_2_01_06_01/bg_more.svg');
	height: 916px;
}

/* #quiz-content-01 .tool-container {
	top: 165px;
} */

/* #quiz-content-02 .tool-container {
	top: 245px;
} */

#quiz-01 .input-cont:nth-child(1) {
    left: 975px;
    top: 682px;
    width: 155px;
}

#quiz-01 .input-cont:nth-child(2) {
    left: 223px;
    top: 795px;
    width: 950px;
}

#quiz-content-01 .btn-answer-part {
    left: 1170px;
    top: 803px;
}

#quiz-02 .input-cont:nth-child(1) {
    left: 975px;
    top: 682px;
    width: 155px;
}

#quiz-02 .input-cont:nth-child(2) {
    left: 223px;
    top: 795px;
    width: 950px;
}

#quiz-content-02 .btn-answer-part {
    left: 1170px;
    top: 803px;
}
