.content-container > .content > .bg {
	background-image: url('../../images/ms_41_2_01/ms_41_2_01_05_01/bg.png');
}

.popup-more-one .bg {
	background-image: url('../../images/ms_41_2_01/ms_41_2_01_05_01/bg_more.png');
}

/* #quiz-content-01 .scroll-bg {
	background-image: url('../../images/');
	height: 770px;
} */

/* #quiz-content-02 .scroll-bg {
	background-image: url('../../images/');
	height: 710px;
} */

/* #quiz-content-01 .tool-container {
	top: 165px;
} */

/* #quiz-content-02 .tool-container {
	top: 245px;
} */

#quiz-01 .input-cont:nth-child(1) {
    left: 120px;
    top: 496px;
    width: 1040px;
}

#quiz-02 .input-cont:nth-child(1) {
    left: 120px;
    top: 518px;
    width: 1040px;
}

#quiz-content-01 .btn-answer-part {
    left: 1170px;
    top: 500px;
}

#quiz-content-02  .btn-answer-part {
    left: 1170px;
    top: 525px;
}