.contentsBox .toggle .answer{position: relative;text-align: justify;}

.contentsBox .imgContainer {text-align:center;margin-top:-10px;}
.contentsBox .imgContainer .img-box {display:inline-block;width:100%;height:250px;position:relative}
.contentsBox .imgContainer .img-box .imgCon{height:100%;background:url("../images/suh_0501_04_0003_101_1_1.png") no-repeat center center / auto 100%;}

.align_box{margin-top:-10px;}
.align_box .colorBox{display: inline-block;margin: 0 50px;padding: 5px 12px;}

.ex-box {display:flex}
.ex-box .exam {flex-shrink:0}