.img-answer .before { display:inline-block; } 
.img-answer .after { display:none; } 
.img-answer.complete .before { display:none; } 
.img-answer.complete .after { display:inline-block; } 
.img-answer img { width:100%; vertical-align:top } 
.img-answer .toggle { position:absolute; top:0; left:0; opacity:0; } 
.img-answer .toggle:after { display:none } 
.img-answer .toggle.complete { z-index:2; opacity:1 } 


.bunsuWrap.separation > ul { width: 70px; } 
.bunsuWrap.separation li { width:100%; } 
.bunsuWrap.separation li:first-of-type { margin-bottom: 5px; padding-bottom: 5px; } 
.bunsuWrap.separation .toggle { width:100%; } 

.scroll_container { height: 300px; } 

.full-img img { width: 100%; margin-top: 80px; } 

.characterImg.new-character.circle { width: 100px; height: 100px; } 

.page_1 .flex-box { position: relative; margin-bottom: 90px; } 
.page_1 .bullet { position: absolute; top: -30px; left: 85px; } 
.page_1 .bar { margin: 15px 0 0 130px; } 
.page_1 .left_text { position: absolute; top: 90px; left: 120px; } 
.page_1 .right_text { position: absolute; top: 90px; right: 120px; } 
.page_1 .bunsu { position: absolute; top: 5px; right: 80px; } 
.page_1 .bunsu .separation { position: absolute; top: -10px; right: -40px; } 

.page_2 .toggle .bullet.exam { margin-top: 20px; } 
.page_2 h2 .dot { margin: 35px 10px 0 0!important; top: 0!important; } 

.page_3 .formula_box{display: flex;justify-content: space-between;width: 70%;margin: 0 auto;}
.page_3 .formula_box li{display:flex;align-items: center;}