#wrap header .title:before{top: 20px;}

section{padding:0;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}
.toggle .answer.ico_exam{padding-left:50px;}

h2 .dot {margin: 35px 10px 0 0!important;top:0!important;}

.contentsBox .imgContainer {text-align:center;}
.contentsBox .imgContainer .img-box {display:inline-block;width:470px;height:260px;overflow:hidden;position:relative}
.contentsBox .imgContainer .img-box .imgCon {height:100%}
.contentsBox .imgContainer .img-box .imgCon .popBtn {width:100%;height:100%;background:url("../images/suh_0501_01_0002_202_1.png") no-repeat left center / auto 100%;}
.contentsBox .imgContainer .img-box .imgCon .popBtn .balloon1 {right:5px;top:10px;}
.contentsBox .imgContainer .img-box .imgCon .popBtn .balloon1:after {left:10px;}

.bunsuWrap{display: inline-block;}

.page_3 .toggle .answer{text-align: center;}

.popup_container .imgContainer {height:700px;text-align:center;}
.popup_container .imgContainer img {height:100%;}
.popup_container .balloon1 {top:250px;left:auto;right:210px;}

.flex-box > li{align-items: center;margin: 0 auto;}

.bunsuWrap.separation > ul{width: 70px;}
.bunsuWrap.separation li{width:100%;}
.bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.bunsuWrap.separation .toggle{width:100%;}
