#wrap header .title:before { top: 20px; } 

section { padding:0; } 
.toggle .answer { position: relative; text-align: justify; } 
.toggle .answer .bullet.exam { position: absolute; top:0; left:0; } 
.toggle .answer.ico_exam { padding-left:50px; } 

h2 .dot { margin: 35px 10px 0 0!important; top:0!important; } 

.contentsBox h2 { margin-top: -20px; } 
.contentsBox .imgContainer { text-align:center; } 
.contentsBox .imgContainer .img-box { display:inline-block; width:470px; height:260px; overflow:hidden; position:relative } 
.contentsBox .imgContainer .img-box .imgCon { height:100% } 
.contentsBox .imgContainer .img-box .imgCon .popBtn { width:100%; height:100%; background:url("../images/suh_0501_01_0002_202_1.png") no-repeat left center / auto 100%; } 
.contentsBox .imgContainer .img-box .imgCon .popBtn .balloon1 { right:5px; top:10px; } 
.contentsBox .imgContainer .img-box .imgCon .popBtn .balloon1:after { left:10px; } 

.bunsuWrap { display: inline-block; } 

.page_3 .toggle .answer { text-align: center; } 

.popup_container .imgContainer { height:700px; text-align:center; } 
.popup_container .imgContainer img { height:100%; } 
.popup_container .balloon1 { top:250px; left:auto; right:210px; } 

.flex-box > li { align-items: center; margin: 0 auto; } 

.page_3 .bunsuWrap.separation > ul { width: 75px; } 
.page_3 .bunsuWrap.separation li { width:75px; } 

.bunsuWrap.separation > ul { width: 70px; } 
.bunsuWrap.separation li { width:100%; } 
.bunsuWrap.separation li:first-of-type { margin-bottom: 5px; padding-bottom: 5px; } 
.bunsuWrap.separation .toggle { width:100%;padding:6px 0}


.img-answer { position:relative; margin:0 50px } 
.img-answer .before { display:block; } 
.img-answer .after { display:none; } 
.img-answer.on .before { display:none; } 
.img-answer.on .after { display:block; } 
.img-answer img { width:100%; vertical-align:top } 
.img-answer .toggle:after { display:none } 

/* .bunsuWrap { display:flex; width:70px; justify-content:center; } */

.imgText { position:absolute; font-size:40px; } 
.box_1 .imgText { top: 24px; } 
.box_2 .imgText { top: 150px; } 
.box_3 .imgText { top: 290px; } 
.imgText.text_1 { left: 116px; } 
.imgText.text_2 { right: 63px; } 

/* .box_1{padding-bottom: 0px;} */

/* page_1 */
.page_1 .arrangeCon {position: relative;top: 30px;height: 300px;display: flex;align-items: center;justify-content: center;flex-direction: column; } 
.page_1 .arrangeCon .bunsuWrap {width:112px;text-align:center;} 
.page_1 .toggle.complete .answer, .answer.on{text-align:center;}
.img-answer .toggle { position:absolute; top:0; left:0; background:url("./images/suh_0501_04_0002_202_1_02.jpg") no-repeat 50% 50% / 100%; opacity:0; transition:opacity 1s } 
.img-answer .toggle:after { display:none } 
.img-answer .toggle.complete { z-index:2; opacity:1 } 
.box-flex { display:flex; justify-content:center; align-items:center; } 


.click-finger-Btn{top:-15px;left:calc(50% - 25px);display:block;}
.click-finger-Btn.complete{display:none;}