.content-container > .content > .bg {
    background-image: url(../images/ms_41_3_05_03_01/bg.svg);
    /* background-image: url(../images/03.png); opacity: 0.7; */
}

.popup-more-one > .bg {
    background-image: url(../images/ms_41_3_05_03_01/bg_popup_more.svg);
    /* background-image: url(../images/03.png); opacity: 0.7; */
}


#quiz-01 .input-cont {
    margin: 40px 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 60px;
    left: 260px;
    top: 213px;
    
}
#quiz-01 .input-cont:nth-child(2) {
    width: 150px;
    left: 194px;
    top: 355px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 60px;
    left: 260px;
    top: 445px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 70px;
    left: 482px;
    top: 355px;
}

#quiz-01 .input-cont:nth-child(5) {
    width: 60px;
    left: 849px;
    top: 213px;
}
#quiz-01 .input-cont:nth-child(6) {
    width: 210px;
    left: 724px;
    top: 355px;
}
#quiz-01 .input-cont:nth-child(7) {
    width: 150px;
    left: 783px;
    top: 445px;
}
#quiz-01 .input-cont:nth-child(8) {
    width: 70px;
    left: 1073px;
    top: 355px;
}

#quiz-02 .input-cont:nth-child(1) {
    width: 60px;
    left: 260px;
    top: 290px;
    
}
#quiz-02 .input-cont:nth-child(2) {
    width: 150px;
    left: 194px;
    top: 432px;
}
#quiz-02 .input-cont:nth-child(3) {
    width: 150px;
    left: 191px;
    top: 522px;
}
#quiz-02 .input-cont:nth-child(4) {
    width: 70px;
    left: 482px;
    top: 432px;
}

#quiz-02 .input-cont:nth-child(5) {
    width: 60px;
    left: 849px;
    top: 290px;
}
#quiz-02 .input-cont:nth-child(6) {
    width: 210px;
    left: 725px;
    top: 432px;
}
#quiz-02 .input-cont:nth-child(7) {
    width: 160px;
    left: 782px;
    top: 522px;
}
#quiz-02 .input-cont:nth-child(8) {
    width: 70px;
    left: 1073px;
    top: 432px;
}


.btns-answer-part .btn-answer-part:nth-child(1){
    position: absolute;
    left:332px;
    top:241px;
}

.btns-answer-part .btn-answer-part:nth-child(2){
    position: absolute;
    left:923px;
    top:241px;
}

.popup-more-one .btns-answer-part .btn-answer-part:nth-child(1){
    position: absolute;
    left:332px;
    top:278px;
}

.popup-more-one .btns-answer-part .btn-answer-part:nth-child(2){
    position: absolute;
    left:923px;
    top:278px;
}