.btns-answer-part .btn-answer-part:nth-child(1){
    left: 495px;
    top:292px;
}

.btns-answer-part .btn-answer-part:nth-child(2){
    left: 1046px;
    top:292px;
}


.popup-more-one .btns-answer-part .btn-answer-part:nth-child(1){
    left: 528px;
    top: 312px;
}

.popup-more-one .btns-answer-part .btn-answer-part:nth-child(2){
    left: 1005px;
    top: 312px;
}