.content-container > .content > .bg {
    background-image: url(../images/ms_41_3_04_03_01/bg.svg);
    /* background-image: url(../images/03.png); opacity: 0.7; */
}

.popup-more-one .bg {
    background-image: url(../images/ms_41_3_04_03_01/bg_popup_more.svg);
    /* background-image: url(../images/03.png); opacity: 0.7; */
}


/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 60px;
    left: 295px;
    top: 253px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 210px;
    left: 172px;
    top: 395px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 60px;
    left: 297px;
    top: 485px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 70px;
    left: 519px;
    top: 395px;
}
#quiz-01 .input-cont:nth-child(5) {
    width: 60px;
    left: 867px;
    top: 253px;
}
#quiz-01 .input-cont:nth-child(6) {
    width: 210px;
    left: 744px;
    top: 395px;
}
#quiz-01 .input-cont:nth-child(7) {
    width: 60px;
    left: 867px;
    top: 485px;
}
#quiz-01 .input-cont:nth-child(8) {
    width: 70px;
    left: 1091px;
    top: 395px;
}



.btns-answer-part .btn-answer-part:nth-child(1){
    position: absolute;
    left:375px;
    top:241px;
}

.btns-answer-part .btn-answer-part:nth-child(2){
    position: absolute;
    left: 946px;
    top: 241px;
}




/* 입력 퀴즈 */
#quiz-02 .input-cont{
}
#quiz-02 .input-cont:nth-child(1) {
    width: 60px;
    left: 295px;
    top: 288px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 210px;
    left: 172px;
    top: 430px;
}
#quiz-02 .input-cont:nth-child(3) {
    width: 60px;
    left: 297px;
    top: 520px;
}
#quiz-02 .input-cont:nth-child(4) {
    width: 70px;
    left: 519px;
    top: 430px;
}
#quiz-02 .input-cont:nth-child(5) {
    width: 60px;
    left: 867px;
    top: 288px;
}
#quiz-02 .input-cont:nth-child(6) {
    width: 210px;
    left: 743px;
    top: 430px;
}
#quiz-02 .input-cont:nth-child(7) {
    width: 150px;
    left: 798px;
    top: 520px;
}
#quiz-02 .input-cont:nth-child(8) {
    width: 70px;
    left: 1091px;
    top: 430px;
}

.popup-more-one .btns-answer-part .btn-answer-part:nth-child(1){
    position: absolute;
    left:374px;
    top:271px;
}

.popup-more-one .btns-answer-part .btn-answer-part:nth-child(2){
    position: absolute;
    left: 947px;
    top: 271px;
}