.content-container > .content > .bg {
    background-image: url(../images/ms_41_3_01_05_01/bg.svg);
    /* background-image: url(../images/05.png); opacity: 0.7; */
}
.popup-more-one .bg {
    background-image: url(../images/ms_41_3_01_05_01/bg_popup_more.svg);
}

.popup-more02 .bg{
    background-image: url(../images/ms_41_3_01_05_01/bg_popup_more02.svg);
}


.box-01{
    position: absolute;
    left:106px;
    top:236px;
    width:309px;
    height:325px;

}
.box-02{
    position: absolute;
    left:485px;
    top:236px;
    width:309px;
    height:325px;
}
.box-03{
    position: absolute;
    left:864px;
    top:236px;
    width:309px;
    height:325px;
}
.box-04{
    position: absolute;
    left:106px;
    top:266px;
    width:309px;
    height:325px;

}
.box-05{
    position: absolute;
    left:485px;
    top:266px;
    width:309px;
    height:325px;
}
.box-06{
    position: absolute;
    left:864px;
    top:266px;
    width:309px;
    height:325px;
}
.answer-text img{
    margin: -2px 0 0 -2px;
}
.quiz-check.type-box .check-item::after{display: none;}
/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 65px;    
    left: 318px;
    top: 238px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 65px;
    left: 697px;
    top: 238px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 65px;
    left: 1076px;
    top: 238px;
}

#quiz-02 .input-cont:nth-child(1) {
    width: 65px;    
    left: 318px;
    top: 268px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 65px;
    left: 697px;
    top: 268px;
}
#quiz-02 .input-cont:nth-child(3) {
    width: 65px;
    left: 1076px;
    top: 268px;
}


#quiz-03 .input-cont:nth-child(1) {
    width: 83px;    
    left: 897px;
    top: 510px;
}
#quiz-03 .input-cont:nth-child(2) {
    width: 83px;
    left: 1010px;
    top: 510px;
}
#quiz-03 .input-cont:nth-child(3) {
    width: 83px;
    left: 1122px;
    top: 510px;
}

.ico-jaeum::before {
    content: '';
    position: absolute;
    left: 6px;
    top: 7px;
    width: 47px;
    height: 47px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}



.btns-answer-part .btn-answer-part:nth-child(1){position: absolute;top:256px;left:395px;}
.btns-answer-part .btn-answer-part:nth-child(2){position: absolute;top:256px;left:776px;}
.btns-answer-part .btn-answer-part:nth-child(3){position: absolute;top:256px;left:1151px;}

.popup-more-one .btns-answer-part .btn-answer-part:nth-child(1){position: absolute;top:256px;left:395px;}
.popup-more-one .btns-answer-part .btn-answer-part:nth-child(2){position: absolute;top:256px;left:776px;}
.popup-more-one .btns-answer-part .btn-answer-part:nth-child(3){position: absolute;top:256px;left:1151px;}

.ico-circle01{
    display: inline-block;
    width:56px;
    height:56px;
    background: url(../images/ms_41_3_01_05_01/icon.svg) 0 0 no-repeat;
    vertical-align: middle;
    margin: -5px 0 0 0;
}
.img-full{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}