.content-container > .content > .bg {
    /* background-image: url(../images/ms_41_3_05_06_01/bg.svg); */
}

.popup-more-one .bg {
    background-image: url(../images/ms_41_3_05_06_01/bg_popup_more.svg);
}
#quiz-01 .input-cont:nth-child(1) {
    width: 415px;
    left: 742px;
    top: 331px;
}

#quiz-01 .input-cont:nth-child(2) {
    width: 193px;
    left: 931px;
    top: 432px;
}

#quiz-02 .input-cont:nth-child(1) {
    width: 415px;
    left: 742px;
    top: 379px;
}

#quiz-02 .input-cont:nth-child(2) {
    width: 193px;
    left: 931px;
    top: 482px;
}