.content-container > .content > .bg {
    background-image: url(../images/ms_41_3_04_02_01/bg.svg);
    /* background-image: url(../images/02.png); opacity: 0.7; */
}

.popup-more-one > .bg {
    background-image: url(../images/ms_41_3_04_02_01/bg_popup_more.svg);
    /* background-image: url(../images/02.png); opacity: 0.7; */
}


#quiz-01 .input-cont:nth-child(1) {
    width: 166px;
    left: 473px;
    top: 353px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 170px;
    left: 638px;
    top: 353px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 166px;
    left: 805px;
    top: 353px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 70px;
    left: 717px;
    top: 476px;
}



#quiz-02 .input-cont:nth-child(1) {
    width: 165px;
    left: 474px;
    top: 386px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 165px;
    left: 640px;
    top: 386px;
}
#quiz-02 .input-cont:nth-child(3) {
    width: 165px;
    left: 805px;
    top: 386px;
}
#quiz-02 .input-cont:nth-child(4) {
    width: 70px;
    left: 717px;
    top: 508px;
}
.btns-answer-part .btn-answer-part:nth-child(1){
    position: absolute;
    left: 948px;
    top: 246px;
}

.btns-answer-part .btn-answer-part:nth-child(2){
    position: absolute;
    left: 762px;
    top: 453px;
}



.popup-more-one .btns-answer-part .btn-answer-part:nth-child(1){
    position: absolute;
    left: 945px;
    top: 282px;
}

.popup-more-one .btns-answer-part .btn-answer-part:nth-child(2){
    position: absolute;
    left: 763px;
    top: 494px;
}