.btns-answer-part .btn-answer-part:nth-child(1){
    left: 515px;
    top: 232px;
}

.btns-answer-part .btn-answer-part:nth-child(2){
    left: 1026px;
    top: 232px;
}


.popup-more-one .btns-answer-part .btn-answer-part:nth-child(1){
    left: 528px;
    top: 262px;
}

.popup-more-one .btns-answer-part .btn-answer-part:nth-child(2){
    left: 1035px;
    top: 262px;
}