/* 입력 퀴즈 */

#quiz-01 .input-cont:nth-child(1) {
    width: 344px;
    left: 153px;
    top: 516px;
}
#quiz-01-01 .input-cont:nth-child(1) {
    width: 975px;
    left: 153px;
    top: 644px;
}
.btns-answer-part .btn-answer-part:nth-child(1){
    position: absolute;
    left: 492px;
    top: 522px;
    z-index: 5;
}
.btns-answer-part .btn-answer-part:nth-child(2){
    position: absolute;
    left: 1127px;
    top: 706px;
    z-index: 5;
}


#quiz-02 .input-cont:nth-child(1) {
    width: 344px;
    left: 148px;
    top: 428px;
}
#quiz-02-02 .input-cont:nth-child(1) {
    width: 975px;
    left: 148px;
    top: 515px;
}
.popup-more-one .btns-answer-part .btn-answer-part:nth-child(1){
    position: absolute;
    left: 492px;
    top: 436px;
    z-index: 5;
}
.popup-more-one .btns-answer-part .btn-answer-part:nth-child(2){
    position: absolute;
    left: 1128px;
    top: 583px;
    z-index: 5;
}


.ico-jaeum::before {
    top: 8px;
    width: 47px;
    height: 47px;
}