.btns-answer-part .btn-answer-part:nth-child(1){
    left: 525px;
    top: 232px;
}

.btns-answer-part .btn-answer-part:nth-child(2){
    left: 996px;
    top: 232px;
}


.popup-more-one .btns-answer-part .btn-answer-part:nth-child(1){
    left: 528px;
    top: 262px;
}

.popup-more-one .btns-answer-part .btn-answer-part:nth-child(2){
    left: 1005px;
    top: 262px;
}