.content-container > .content > .bg {
    background-image: url(../images/ms_41_3_00_04_01/bg.svg);
    /* background-image: url(../images/04.png); opacity: 0.7; */
}

/* 선택 퀴즈 */
#quiz-01 {
    left: 336px;
    top: 322px;
}
#quiz-02 {
    left: 836px;
    top: 322px;
}
#quiz-01 .input-cont:nth-child(1){
    width:415px;
    position: absolute;
    left:742px;
    top: 359px;
}
#quiz-01 .input-cont:nth-child(2){
    width: 193px;
    position: absolute;
    left: 914px;
    top: 462px;
}


/* 부분 정답 버튼 */

.btn-answer-part:nth-child(2) {
    left: 1190px;
    top: 440px;
}