.content-container > .content > .bg {
    background-image: url(../images/ms_41_3_01_03_01/bg.svg);
    /* background-image: url(../images/03.png); opacity: 0.7; */
}

/* 보충 문제 bg */
.popup-more-one > .bg {
    background-image: url(../images/ms_41_3_01_03_01/bg_popup_more.svg);
}




#btn-hint-01 {
    left: 1120px;
    top: 401px;
}


#quiz-01 .input-cont:nth-child(1){
    width:166px;
    position: absolute;
    top: 373px;
    left:430px;
}
#quiz-01 .input-cont:nth-child(2){
    width:166px;
    position: absolute;
    top: 373px;
    left:916px;
}
#quiz-01 .input-cont:nth-child(3){
    width:166px;
    position: absolute;
    top: 467px;
    left:430px;
}
#quiz-01 .input-cont:nth-child(4){
    width:166px;
    position: absolute;
    top: 467px;
    left:916px;
}
#quiz-01 .input-cont:nth-child(5){
    width:166px;
    position: absolute;
    top: 561px;
    left: 430px;
}
#quiz-01 .input-cont:nth-child(6){
    width:166px;
    position: absolute;
    top: 561px;
    left:916px;
}

.btns-answer-part .btn-answer-part:nth-child(1){
    position: absolute;
    left:1063px;
    top:410px;
}


.btns-answer-part .btn-answer-part:nth-child(2){
    position: absolute;
    left:1063px;
    top:508px;
}

.popup-explan > .text-content{padding:0px 147px}




.popup-more-one #quiz-02 .input-cont:nth-child(1){
    width:166px;
    position: absolute;
    top:395px;
    left:430px;
}
.popup-more-one #quiz-02 .input-cont:nth-child(2){
    width:166px;
    position: absolute;
    top:395px;
    left:916px;
}
.popup-more-one #quiz-02 .input-cont:nth-child(3){
    width:166px;
    position: absolute;
    top:487px;
    left:430px;
    
}
.popup-more-one #quiz-02 .input-cont:nth-child(4){
    width:166px;
    position: absolute;
    top:487px;
    left:916px;
    
}
.popup-more-one #quiz-02 .input-cont:nth-child(5){
    width:166px;
    position: absolute;
    top:579px;
    left:430px;
    
}
.popup-more-one #quiz-02 .input-cont:nth-child(6){
    width:166px;
    position: absolute;
    top:579px;
    left:916px;
    
}

.popup-more-one .btns-answer-part .btn-answer-part:nth-child(1){
    position: absolute;
    left:1063px;
    top:383px;
}
.popup-more-one .btns-answer-part .btn-answer-part:nth-child(2){
    position: absolute;
    left:1063px;
    top:475px;
}
.popup-more-one .btns-answer-part .btn-answer-part:nth-child(3){
    position: absolute;
    left:1063px;
    top:567px;
}