.box-type-b {display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap;width:800px;margin:0 auto}
.box-type-b .box-item {width:50%;display:flex;align-items:center;margin-top:60px}
.ex-box .bunsuWrap {display:flex;align-items:center}
.ex-box {display:flex;align-items:center}
.ex-box .bullet.exam {flex-shrink:0;align-self:auto;margin-top:0}
/*.q-txt {margin-right:8px}*/
.answer .bunsuWrap ul > li:first-of-type {border-color:#00a0ff}
.box-in-line {display:block;padding-bottom:4px}
.box-in-line .inline {display:inline}