.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}

.btn_1.zoomBtn{background:#fff url(../images/suh_h_0302_01_0001_202_1/suh_h_0302_02_0001_202_1_1.png) no-repeat 0 0 / cover; width:100%; height: 440px;}

.btn_2.zoomBtn{background:#fff url(../images/suh_h_0302_01_0001_202_1/suh_h_0302_02_0001_202_1_3.png) no-repeat 0 0 / cover; width:100%; height: 440px;}


main .b1{top: -10px;left: -30px;z-index: 2;width: 440px;text-align: center;}
main .b2{top: -10px;left: -20px;z-index: 2;text-align: center;width: 410px;}
main .b3{top: 320px;left: -20px;z-index: 2;width: 370px;text-align: center;}
main .b4{top: -20px;left: 30px;z-index: 2;text-align: center;width: 380px;}
main .b1::after{
    left:28% !important;
}
main .b2::after{
    left:28% !important;
}
main .b3::after{
    left:28% !important;
}

.pop_page_1 .img{
    width: 100%;
    height: 100%;
    background:#fff url(../images/suh_h_0302_01_0001_202_1/suh_h_0302_02_0001_202_1_1_2.png) no-repeat 0 50% / cover;
}
.pop_page_2 .img{
    width: 100%;
    height: 100%;
    background:#fff url(../images/suh_h_0302_01_0001_202_1/suh_h_0302_02_0001_202_1_2_2.png) no-repeat 50% 50% / cover;
}
.pop_page_3 .img{
    width: 100%;
    height: 100%;
    background:#fff url(../images/suh_h_0302_01_0001_202_1/suh_h_0302_02_0001_202_1_3_2.png) no-repeat 50% 50% / cover;
}

.popup_pages img{width:100%;margin-left: 0;}
.pop_page_1 .b1{top: 170px;left: 10px;z-index: 2;text-align: center;width: 450px;}
.pop_page_1 .b2{top: 40px;left: 590px;z-index: 2;text-align: center;width: 410px;}
.pop_page_1 .b1::after{left: 18% !important;}
.pop_page_1 .b2::after{left: 87% !important;}

.pop_page_2 .b1{top: 30px;left: 80px;z-index: 2;text-align: center;width: 450px;}
.pop_page_2 .b2{top: 70px;left: 590px;z-index: 2;text-align: center;width: 410px;}
.pop_page_2 .b1::after{ left:28% !important;}
.pop_page_2 .b2::after{ left:28% !important;}

.pop_page_3 .b1{top: 150px;left: 30px;z-index: 2;text-align: center;width: 450px;}
.pop_page_3 .b2{top: 110px;left: 80px;z-index: 2;text-align: center;width: 410px;}
.pop_page_3 .b1::after{ left:28% !important;}
.pop_page_3 .b2::after{ left:28% !important;}


.toggle .answer{
    text-align: justify;
}
.ls-1{letter-spacing: -1px !important;}
.ls-2{letter-spacing: -2px !important;}
.ls-3{letter-spacing: -3px !important;}

.flex-item.n2 section{
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.flex-item.n2 section .toggle{
    width: auto;
}
.f-column{ flex-direction: column;}










