.line-arrow.l{
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height:1px;
    border-top:4px solid #000;
    margin-right:10px;
    transform: rotate(180deg);
    margin:0 10px;
}

.line-arrow::after{
    content: "";
    width:20px;
    height: 20px;
    border:4px solid #000;
    border-right:0;
    border-bottom:0;
    position: absolute;
    bottom: -10px;
    right: 0px;
    transform: rotate(135deg);
} 
.page_1 .lineBox.sky{
    width:760px;
    text-align: center;
    height: 240px;
    margin-left: 140px;
}
.page_1 .lineBox.sky img,
.page_1 .lineBox.sky > div{position: absolute;}
.page_1 .lineBox.sky .n1{top: 20px;left: 140px;}
.page_1 .lineBox.sky .n2{top: 20px;left: 470px;}
.page_1 .lineBox.sky .n3{top: 70px;left: 200px;width: 350px;}
.page_1 .lineBox.sky .n4{top: 140px;left: 318px;}
.page_1 .lineBox.sky .n4 .redT{margin-left:70px}
.page_2 .lineBox.card.bg{background:#f6f1d4}
.page_2 .lineBox.card{ line-height: 1; margin:0 5px; min-width:70px; text-align: center;}
.page_2 .colorBox.tit{display: inline-block;}
.page_2 .icon_arrow{margin:0 20px;}
.page_2 .txt{margin-left:100px}
.page_2 .card-box{position: relative; padding:10px 40px}
.page_2 .card-box::before{content:""; display: block; width:1px; height:100%; border-left:3px dashed #cabfe0; position: absolute; top:0; left:560px;}

.page_3 .lineBox{margin:0 auto;width: 290px; position:relative;text-align: center;}


