.box-flex {display:flex}
.page_1 .box-flex {justify-content:center;align-items:center;margin-top:20px}
.page_1 .box-flex .toggle {flex-shrink:0;margin-left:10px}
.page_1 .inner {text-align:center}
.page_1 .bunsuWrap {display:inline-flex;align-items:center}

.box-flex .q-txt {padding-left:60px;text-indent:-60px}
.box-flex.j-c {justify-content:center}

.page_2 .box-flex {justify-content:center;align-items:center;flex-wrap:wrap;margin-top:-40px}

.page_3 .arrangeCon {position:relative;height:530px;display:flex;align-items:center;justify-content:center;}
.page_3 .box-flex {justify-content:center;position:relative;z-index:2}
.page_3 .box-flex ~ .box-flex {margin-top:50px}
.page_3 .box-flex ~ .box-flex .lineBox {padding:10px 20px;width:180px;flex-shrink:0;margin:0 80px}
.page_3 .box-flex .lineBox {margin:0 120px}
.page_3 .lineBox.green.circle {border-radius:100%}
.page_3 .lineBox.green {display:inline-flex;align-items:center;justify-content:center}
.page_3 .box-flex .lineBox .toggle {background-color:transparent}
.page_3 .box-wrap {position:relative}
.page_3 .arrow_1,
.page_3 .arrow_2 {position:absolute;width:330px;height:80px;background:url("../images/suh_0601_03_0004_401_1_3.png") no-repeat 50% 50% / auto 100%}
.page_3 .arrow_1 {top:50px;left:160px;}
.page_3 .arrow_2 {top:50px;left:510px;}


.page_4 .img-box {position:relative;text-align:center}
.page_4 .img-box img {vertical-align:top;height:240px}
.page_4 .img-box .txt-item {position:absolute}
.page_4 .img-box .txt-item.n1 {top:70px;left:420px}
.page_4 .img-box .txt-item.n2 {top:210px;left:393px}

.page_5 h2 > span {word-break:break-all}
.page_5 .box-flex {display:flex;align-items:flex-start}
.page_5 .box-flex .colorBox {flex-shrink:0}
.page_5 .box-flex-b {display:flex;align-items:center;justify-content:space-around;width:800px;margin:0 auto}
.page_5 .box-in-flex {display:inline-flex;align-items:center}
.page_5 .center {position:relative}
.page_5 .line-a {display:block;width:20px;position:absolute;top:25px;bottom:25px;border:3px solid #ff0000}
.page_5 .line-a.n1 {left:-40px;border-right:none}
.page_5 .line-a.n2 {right:-40px;border-left:none}
.page_5 .line-a:after {content:'';position:absolute;width:0;height:0;border-style:solid;border-color:transparent transparent transparent #ff0000;bottom:-9px;border-width:8px 14px}
.page_5 .line-a.n1:after {left:16px}
.page_5 .line-a.n2:after {right:16px;transform:rotate(180deg);}

.pop_page_1 .box-flex {justify-content:space-around}
.pop_page_2 .box-flex {justify-content:center}
.sup {font-size: 20px;line-height: 20px;position: relative;top: -25px;left: -4px;}
.sup2 {font-size: 20px;line-height: 20px;position: relative;top: -23px;left: -5px;}

.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {flex-shrink:0;margin-top:20px !important;}

.checkContainer h2 .blankBox {min-height:40px;margin-top:8px}
