.suhi h2+section{padding-left: 0;}
.formula_box > li{display: flex; align-items: center;width: calc(100% / 3);justify-content: inherit;}
.formula_box .bunsuWrap > ul{display:inline-flex;min-width:50px;flex-direction:column;align-items:center;justify-content:center;}
/* .formula_box.line2{margin-top: 60px;} */
.formula_box{display: flex;justify-content: space-evenly;margin-top: 50px;}
.bunsuWrap.separation > ul{min-width: 70px;}
.bunsuWrap.separation li{width:100%;}
.bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.bunsuWrap.separation .toggle{width:100%;}

.page_1 .flex-box{align-items: center;justify-content: space-evenly;}
.page_1 .bunsuWrap{display: inline-block;}

.page_2 .formula_box{margin: 30px auto;width: 600px;}
.page_2 .formula_box > li{display: flex; align-items: center;width: calc(100% / 3);justify-content: inherit;}

.page_4 .formula_box{margin: 30px auto;width: 600px;}
.page_4 .formula_box > li{display: flex; align-items: center;width: calc(100% / 3);justify-content: inherit;}

.page_5 .lineBox { width: 250px; height: 130px; margin: 30px auto; padding: 0; text-align: center; position: relative; z-index: 2; text-align: center; justify-content: center; align-items: center;} 
.page_5 .textAlignC{margin-top: 30px;}











.page_3 h2{margin-top:-16px;}
.page_3 h2>ins.number{margin-top:24px;}
.page_3 .bunsuWrap{vertical-align:middle;}
.page_3 .scroll_container.vertical{height:350px;}
.page_3 .formula_box:first-child{margin-top:10px;}
.page_3 .formula_box:last-child{margin-bottom:30px;}
.page_3 .formula_box.line4 .answer{display: flex;}
.page_3 .flex-box{align-items: baseline;}



.page_6 .scroll_container.vertical{height:300px;}
.page_6 .tableContainer table td .bunsuWrap{vertical-align: inherit;}
.page_6 .tableContainer .text{display: flex;align-items: center;flex-flow: wrap;justify-content: center;}
.page_6 .contentsList {margin:10px auto 0;}
.page_6 .contentsList > li:last-child {padding:0 0 0 103px;}
.page_6 .contentsList > li .bunsuContainer {margin:0;}
.page_6 .toggle .bullet.exam{margin-top: 5px;}
.page_6 .characterImg{position: initial;}