.ex-box {display:flex;align-items:center;text-align:justify;}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important;flex-shrink:0}

.page_1 .flexList{display:flex;align-items:center;justify-content:space-between;}
.page_1 .flexList > li{display:flex;flex-direction:column;}
.page_1 .flexList > li > div{display:flex;align-items:center;letter-spacing:-2px;}
.page_1 figure{position:relative;margin:0 auto 30px;width:350px;}
.page_1 figure img{display:block;width:100%;}
.page_1 figure span{position:absolute;top:133px;left:-23px;}
.page_1 figure span:last-child{top:29px;left:163px;}
.page_1 li:last-child figure span{top:107px;left:-46px;}
.page_1 li:last-child figure span:last-child{top:-24px;left:159px;}



.page_2 .colorBox{display: inline-block;}
.page_2 .toggle{background-color: #f6e7d4;padding: initial;}


.pop_page_1 .full-img {
  position: relative;
  width: 100%;
  text-align: right;
}

.pop_page_1 .full-img img {
  margin: 50px 50px 0 0;
  width: 650px;
}

.pop_page_1 .balloon {
  position: absolute;
  left: 50px;
  top: 200px;
  width: 380px;
}

.pop_page_1 .balloon .img-box {
  position: relative;
  left: 20px;
  top: 0px;
  padding: 20px;
}

.pop_page_1 .balloon img {
  width: 300px;
}

.pop_page_1 .balloon .text_01 {
  position: absolute;
  top: 0px;
  left: 170px;
}

.pop_page_1 .balloon .text_02 {
  position: absolute;
  top: 210px;
  left: -20px;
}