.ex-box {display:flex;align-items:center;text-align:justify;}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important;flex-shrink:0}

.page_1 .flexList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page_1 .flexList>li {
  display: flex;
  flex-direction: column;
}

.page_1 .flexList>li>div {
  display: flex;
  align-items: center;
  letter-spacing: -2px;
}

.page_1 figure {
  position: relative;
  margin: 50px auto 30px;
  width: 400px;
}

.page_1 figure img {
  display: block;
  width: 100%;
}

.page_1 figure span {
  position: absolute;
  top: 101px;
  left: 9px;
}

.page_1 figure span:last-child {
  top: 16px;
  left: 208px;
}

.page_1 li:last-child figure span {
  top: -28px;
  left: 27px;
}

.page_1 li:last-child figure span:last-child {
  top: 56px;
  left: 266px;
}

.page_2 .textAlignL{position:absolute;top:0;left:30px;z-index:1;}
.page_2 .colorBox{display: inline-block;}
.page_2 .toggle{background-color: #f6e7d4;padding: initial;}
.page_2 figure {
  position: relative;
}

.page_2 figure .single {
  position: absolute;
  top: 50px;
  left: -87px;
}

.page_2 figure .balloon {
  position: absolute;
  top: 250px;
  left: 205px;
}