header .title .supply_guide.inline {position:relative;top:8px}

.img-group {display:flex;justify-content:space-between;flex-wrap:wrap}
.img-group .img-item {position:relative;width:45%;display:flex;justify-content:center}
.img-group .img-item img {width:45%;vertical-align:top}
.img-group p {position:absolute;left:50px;top:10px}

.ex-box {display:flex}
.ex-box .bullet {flex-shrink:0}