.box-flex {display:flex}

.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important}

.tableContainer .toggle {width:100%;background-color:transparent}

.img-answer {position:relative}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;transition:opacity 1s}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {opacity:1;z-index:1}

.img-answer.n1 {width:1040px;height:147px;margin-top:60px}
.img-answer.n1 .toggle {background:url("../images/suhi_0601_05_0004_04_2.png") no-repeat 50% 50% / 100%}

.img-answer.n2 {width:1040px;height:147px;margin-top:60px}
.img-answer.n2 .toggle {background:url("../images/suhi_0601_05_0004_07_2.png") no-repeat 50% 50% / 100%}

.page_1 .lineBox {margin:0 auto 20px;width:600px;text-align:center}

.page_2 .box-flex {align-items:center}
.page_2 .circleDot {position:relative;top:22px}

.page_3 .lineBox {margin:0 auto 20px;width:600px;text-align:center}
.page_3 .textAlignC {margin-top:20px}

.page_4 .lineBox {margin:52px auto 20px;width:600px;text-align:center}

.page_4 .imgText {position:absolute}
.page_4 ul.imgText {width:1120px;left:-12px;top:-50px}
.page_4 ul.imgText li {display:inline-block;font-size:40px;line-height:32px; width:30px; text-align:center;white-space:nowrap;letter-spacing:-2px}
.page_4 ul.imgText li:not(:last-of-type) {margin-right:64px}
.page_4 ul.imgText li:nth-of-type(10) {margin-right:44px}
.page_4 ul.imgText li:last-child {width:100px;position:relative;left:-10px}
.page_4 ul.imgText li:first-child {margin-right:60px}
.page_4 .txt-item {position:absolute;top:42px;white-space:nowrap;letter-spacing:-2px}
.page_4 .txt-item.n1 {left:430px}
.page_4 .txt-item.n2 {left:760px}
.page_4 .txt-item.n3 {left:931px}
.page_4 .txt-item.n4 {left:105px;text-align:center;top:40px;z-index:10}

.page_5 .lineBox {margin:52px auto 20px;width:950px;text-align:justify;padding:30px}
.page_5 .nemoBox {border:1px solid #000;border-radius:4px;height:40px;width:80px;display:inline-block;position:relative;top:4px}

.page_6 .lineBox {margin:52px auto 20px;width:600px;text-align:center}

.page_7 .lineBox {margin:52px auto 20px;width:600px;text-align:center}
.page_7 .imgText {position:absolute}
.page_7 ul.imgText {width:1120px;left:-12px;top:-50px}
.page_7 ul.imgText li {display:inline-block;font-size:40px;line-height:32px; width:30px; text-align:center;white-space:nowrap;letter-spacing:-2px}
.page_7 ul.imgText li:not(:last-of-type) {margin-right:64px}
.page_7 ul.imgText li:nth-of-type(10) {margin-right:44px}
.page_7 ul.imgText li:last-child {width:100px;position:relative;left:-10px}
.page_7 ul.imgText li:first-child {margin-right:60px}
.page_7 .txt-item {position:absolute;top:42px;white-space:nowrap;letter-spacing:-2px}
.page_7 .txt-item.n1 {left:192px}
.page_7 .txt-item.n2 {left:558px}
.page_7 .txt-item.n3 {left:750px}
.page_7 .txt-item.n4 {left:880px}
.page_7 .txt-item.n5 {left:815px;top:155px}
.page_7 .txt-item.n5:before {content:'';position:absolute;width:30px;height:80px;border-right:2px solid #00a0ff;border-bottom:2px solid #00a0ff;right:-45px;top:-50px}
.page_7 .txt-item.n5:after {content: '';position: absolute;width: 0;border-bottom: 13px solid #00a0ff;border-left: 7px solid transparent;border-right: 7px solid transparent;height: 0;left: 124%;top: -55px;}

.page_8 .lineBox {padding:16px}
.page_8 .number.orange {display:inline-block;border-color:#6dbc4b;color:#6dbc4b}
.page_8 .toggle .number {position:relative;top:-4px}
.page_8 .box-flex .number {margin-right:10px;position:relative;top:6px}


.pop_page_1 .box-flex {align-items:center}

.contentsList .v2 .dot {position:relative;top:18px}


