.contentsList { margin: 0 auto; } 
.contentsList > li { align-items: flex-start; padding-top: 15px; } 
.bunsuContainer .bullet.exam { margin-top: 20px; } 
.contentsList .colorBox { margin-top: -10px; display: inline-block; vertical-align: middle; align-items: center;} 
.contentsList .bunsuContainer .toggle { display: inline-block; vertical-align: middle; text-align: left; align-items: center;} 
.contentsList .bunsuContainer .toggle .bunsuWrap { display: inline-block; vertical-align: middle; text-align: left; align-items: center;width: auto;} 

.formula_box > li{display: flex; align-items: center;justify-content: inherit;}
.formula_box .bunsuWrap > ul{display:inline-flex;min-width:50px;flex-direction:column;align-items:center;justify-content:center;}
.formula_box{display: flex;justify-content: space-evenly;}

.bunsuWrap.separation > ul{min-width: 70px;}
.bunsuWrap.separation li{width:100%;}
.bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.bunsuWrap.separation .toggle{width:100%;}


.page_2 .formula_box{display: flex;align-items: center;justify-content: center;}
.page_2 .formula_box > li{display: flex;align-items: center;}


.page_4 .dragLineContainer {width:700px;margin:0 auto;}
.page_4 .dragLineContainer > ul > li {position:relative;margin:20px 0 0;}
.page_4 .left_1 {left:380px;}
.page_4 .left_2 {left:780px;}
.page_4 .top_1 {top:80px;}
.page_4 .top_2 {top:220px;}
.page_4 .top_3 {top:360px;}



.page_6 .flex-box{justify-content: space-between;width: 100%;}
.page_6 .bogiContainer{width: 600px;margin: initial;}
.page_6 .bogiContainer .icon_bogi {width: 220px;}
.page_6 .bogiContainer .icon_bogi:after {content: "오미자 음료 만드는 방법";}
.page_6 .contentsList > li{padding:initial;margin: initial;}
.page_6 .img_box{position: relative;}
.page_6 .img_box img{width: 400px;height:280px;position: absolute;top: 0;right: 0;}
.page_6 .textAlignC{position: absolute;bottom: 80px;right: 130px;}

.popup_container .popup_pages .contentsList .dot{margin-top: 35px;}
.pop_page_1 .flex-box{align-items: center;}
.pop_page_2 .flex-box{align-items: center;}














.pop_page_1 .contentsList{display:flex;align-items: center;flex-flow: row wrap;justify-content: space-evenly;}
.pop_page_1 .contentsList > li{width: 50%;}
.pop_page_1 .dot{margin-top: 30px;}