.contentsList { margin: 0 auto; } 
.contentsList > li { align-items: flex-start; padding-top: 15px; } 
.bunsuContainer .bullet.exam { margin-top: 20px; } 
.contentsList .colorBox { margin-top: -10px; display: inline-block; vertical-align: middle; align-items: center;} 
.contentsList .bunsuContainer .toggle { display: inline-block; vertical-align: middle; text-align: left; align-items: center;} 
.contentsList .bunsuContainer .toggle .bunsuWrap { display: inline-block; vertical-align: middle; text-align: left; align-items: center;width: auto;} 

.formula_box > li{display: flex; align-items: center;justify-content: inherit;}
.formula_box .bunsuWrap > ul{display:inline-flex;min-width:50px;flex-direction:column;align-items:center;justify-content:center;}
.formula_box{display: flex;justify-content: space-evenly;}

.bunsuWrap.separation > ul{min-width: 70px;}
.bunsuWrap.separation li{width:100%;}
.bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.bunsuWrap.separation .toggle{width:100%;}

.page_2 .formula_box{display: flex;align-items: center;justify-content: center;}
.page_2 .formula_box > li{display: flex;align-items: center;}

.page_3 .bogiContainer{width: 800px;}
.page_3 .flex-box{align-items: center;justify-content: center;}

.page_4 .dragLineContainer {width:700px;margin:0 auto;}
.page_4 .dragLineContainer > ul > li {position:relative;margin:20px 0 0;}
.page_4 .left_1 {left:380px;}
.page_4 .left_2 {left:780px;}
.page_4 .top_1 {top:80px;}
.page_4 .top_2 {top:220px;}
.page_4 .top_3 {top:360px;}

.page_6 .flex-box{justify-content: space-between;width: 100%;}
.page_6 .bogiContainer{width: 600px;margin: initial;}
.page_6 .bogiContainer .icon_bogi {width: 220px;}
.page_6 .bogiContainer .icon_bogi:after {content: "오미자 음료 만드는 방법";}
.page_6 .contentsList > li{padding:initial;margin: initial;}
.page_6 .img_box{position: relative;}
.page_6 .img_box img{width: 400px;height:280px;position: absolute;top: 0;right: 0;}
.page_6 .textAlignC{position: absolute;bottom: 80px;right: 130px;}

.popup_container .popup_pages .contentsList .dot{margin-top: 35px;}
.pop_page_1 .flex-box{align-items: center;}
.pop_page_2 .flex-box{align-items: center;}
.pop_page_1 .contentsList{display:flex;align-items: center;flex-flow: row wrap;justify-content: space-evenly;}
.pop_page_1 .contentsList > li{width: 50%;}
.pop_page_1 .dot{margin-top: 30px;}


.page_1 .flexContainer{display:flex;margin:0 auto;width:820px;flex-direction:column;}
.page_1 .flexContainer > li{position:relative;display:flex;height:110px;justify-content:space-between;}
.page_1 .flexContainer > li:nth-child(1){margin-bottom:15px;}
.page_1 .flexContainer > li:nth-child(1):after{position:absolute;bottom:-30px;left:calc(50% - 2px);content:"";width:51px;height:45px;background:url(../../common/contents/images/icon/icon_arrow.svg) no-repeat center / contain;transform:rotate(90deg) translateY(50%);}
.page_1 .flexContainer .cell{position:relative;display:flex;align-items:center;}
.page_1 .flexContainer .bunsuWrap{width:100px;text-align:center;}
.page_1 .flexContainer .graph{position:relative;width:300px;height:100%;}
.page_1 .flexContainer .click-finger-Btn{position:absolute;top:calc(50% - 15px);left:calc(50% - 26px);display:block;}
.page_1 .flexContainer .click-finger-Btn.complete{display:none;}
.page_1 .flexContainer > li:nth-child(3) .click-finger-Btn{top:22px;left:-25px;}

.page_1 .flexContainer > li:nth-child(1) .cell:nth-child(1) .graph{background:url(../images/suhi_0501_05_0002_04.png) no-repeat center / contain;}
.page_1 .flexContainer > li:nth-child(1) .cell:nth-child(1) .graph.on{background:url(../images/suhi_0501_05_0002_01.png) no-repeat center / contain;}
.page_1 .flexContainer > li:nth-child(1) .cell:nth-child(2) .graph{background:url(../images/suhi_0501_05_0002_06.png) no-repeat center / contain;}
.page_1 .flexContainer > li:nth-child(1) .cell:nth-child(2) .graph.on{background:url(../images/suhi_0501_05_0002_03.png) no-repeat center / contain;}
.page_1 .flexContainer > li:nth-child(2) .cell:nth-child(1) .graph{background:url(../images/suhi_0501_05_0002_05.png) no-repeat center / contain;}
.page_1 .flexContainer > li:nth-child(2) .cell:nth-child(1) .graph.on{background:url(../images/suhi_0501_05_0002_02.png) no-repeat center / contain;}
.page_1 .flexContainer > li:nth-child(2) .cell:nth-child(2) .graph{background:url(../images/suhi_0501_05_0002_06.png) no-repeat center / contain;}
.page_1 .flexContainer > li:nth-child(2) .cell:nth-child(2) .graph.on{background:url(../images/suhi_0501_05_0002_03.png) no-repeat center / contain;}

.page_1 .flex-box{align-items:center;justify-content:center;}
.page_1 .bunsuWrap.separation{margin-top:-16px;}

.page_5 .flex-box {position:relative;width:100%;align-items: center;justify-content: center;}
.page_5 .flex-box .icon_o_title{position:absolute;top:5px;left:463px;display:none;width:100px;height:100px;z-index:1;}
.page_5 .flex-box .icon_o_title.on{display:block;}

.page_6 .bogiContainer .inner{padding:30px 19px;}