.operator{display:inline-block;padding:0 2px;vertical-align:middle;}
.pos-r{position:relative}
.pos-a{position:absolute}
.flex-center {display:flex;align-items:center;justify-content:center;}
.va-m{vertical-align:middle}
.ta-c {text-align:center}
.ta-l {text-align:left}
.width-auto {width:auto}
.width-full {width:100%}
h2 .bunsuWrap {margin-top:-14px;}
.mr_100 {margin-right: 100px;}
.mr_200 {margin-right: 200px;}
.mr_300 {margin-right: 300px;}
.bunsuWrap.highlight {color: #00a0ff}
.bunsuWrap.highlight ul > li:first-of-type {border-bottom-color: #00a0ff;}
.icon_o_title.withBunsu {vertical-align: middle;display:inline-flex;align-items:center;justify-content:center;}
.solve .circle{
    width:40px;
    height:40px;
    border-radius:50%;
    border:4px solid #3bb5fe;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    margin:0 10px;
    font-size: 30px;
    line-height: 1;
}

.labelBox {position: relative;}
.labelBox .colorBox {position: absolute; top:-20px;left:5%;}
.labelBox .lineBox {padding-top: 50px;}
.labelBox .lineBox .bullet.exam {margin: 0 10px 0 0;align-self: center;}
