.operator{display:inline-block;padding:0 2px;vertical-align:middle;}
.pos-r{position:relative}
.pos-a{position:absolute}
.flex-center {display:flex;align-items:center;justify-content:center;}
.va-m{vertical-align:middle}
.ta-c {text-align:center}
.ta-l {text-align:left}
.width-auto {width:auto}
.width-full {width:100%}
h2 .bunsuWrap {margin-top:-14px;}
.mr_100 {margin-right: 100px;}
.mr_200 {margin-right: 200px;}
.mr_300 {margin-right: 300px;}
.bunsuWrap.highlight {color: #00a0ff}
.bunsuWrap.highlight ul > li:first-of-type {border-bottom-color: #00a0ff;}
.icon_o_title.withBunsu {vertical-align: middle;display:inline-flex;align-items:center;justify-content:center;}
.solve .circle{
    width:40px;
    height:40px;
    border-radius:50%;
    border:4px solid #3bb5fe;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    margin:0 10px;
    font-size: 30px;
    line-height: 1;
}

.labelBox {position: relative;}
.labelBox .colorBox {position: absolute; top:-20px;left:5%;}
.labelBox .lineBox {padding-top: 50px;}
.labelBox .lineBox .bullet.exam {margin: 0 10px 0 0;align-self: center;}

/* page_6 */
.page_6 .click-finger-Btn {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.page_6 .on + .click-finger-Btn {
    display: none;
}
.page_6 .squareTableContainer {
    width: 190px;
    height: 190px;
    display: inline-block;
}
.page_6 .squareTableContainer.on .yellowBG{
    background-color: #F6F1D4;
}
.page_6 .squareTableContainer.on .pinkBG {
    background-color: #edd3d1;
}
.page_6 .squareTable {
    width: 100%;
    height: 100%;
}

.page_6 .icon_arrow {
    position: relative;
    top: -6px;
    padding: 0 24px;
}
.page_6 .squareTableContainer.on .squareTable .xContainer {
    position: relative;
    width: 100%;
    height: 100%;
}
.page_6 .squareTableContainer.on .squareTable .xContainer:before,
.page_6 .squareTableContainer.on .squareTable .xContainer:after {
    content: '';
    position: absolute;
    top: 57px;
    width: 3px;
    height: 80px;
    background-color: #00A0FF;
}
.page_6 .squareTableContainer.on .squareTable .xContainer:before {
    left: 59px;
    transform: rotate(135deg);
    transform-origin: left top;
}
.page_6 .squareTableContainer.on .squareTable .xContainer:after {
    left: -2px;
    transform: rotate(-135deg);
    transform-origin: right top;
}

/* page_7 */
.page_7 h2 + .pos-r {height: 205px;}
.page_7 .ex-val-1 {top: -16%;left: 35%;}
.page_7 .ex-val-2 {top: 50%;left: 22%;}
.page_7 .ex-val-3 {top: 55%;left: 58%;}
.page_7 .ex-val-1,
.page_7 .ex-val-2,
.page_7 .ex-val-3 {background-color: #fff;}

.page_7 .horizonContainer {
    width: 93%;
    margin: 66px 0 0 0;
}

.page_7 .horizonContainer .horizonLine {
    left: 2px;
    width: 100%;
}

.page_7 .horizonContainer .toggle {
    position: absolute;
    top: 42px;
    left: 926px;
}

.page_7 figure {
    position: absolute;
    left: 2px;
    top: -52px;
    width: 712px;
}

.page_7 .curveLine_1.top .line {
    top: -55px;
    left: 38px;
    width: 670px;
    height: 160px;
    clip: rect(0, 670px, 76px, 0);
    /* border: 1px solid #000; */
}
.page_7 .curveLine_2.bottom .line {
    top: -65px;
    left: 38px;
    width: 446px;
    height: 160px;
    clip: rect(86px, 446px, 446px, 0);
    /* border: 1px solid #000; */
}
.page_7 .curveLine_3.bottom .line {
    top: -65px;
    left: 485px;
    width: 222px;
    height: 160px;
    clip: rect(80px, 222px, 222px, 0);
    /* border: 1px solid #000; */
}
.page_7 .curveLine.top:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 701px;
    transform: rotate(130deg);
}
.page_7 .curveLine_2.bottom:after {
    content: '';
    position: absolute;
    top: 18px;
    left: 490px;
    transform: rotate(90deg);
}
.page_7 .curveLine_3.bottom:after {
    content: '';
    position: absolute;
    top: 18px;
    left: 490px;
    transform: rotate(90deg);
}
.page_7 .bunsuContainer.up .bunsu {
    position: absolute;
    background-color: #fff;
    padding: 0 10px;
    z-index: 1;
}
.page_7 .bunsuContainer .bunsu_1 {
    top: 72px;
    left: 347px;
}
.page_7 .bunsuContainer .bunsu_2 {
    top: 218px;
    left: 225px;
}
.page_7 .bunsuContainer .bunsu_3 {
    top: 218px;
    left: 571px;
}
.page_7 .inner_box {
    position: relative;
    top: 130px;
}