.operator{display:inline-block;padding:0 2px;vertical-align:middle;}
.pos-r{position:relative}
.pos-a{position:absolute}
.flex-center {display:flex;align-items:center;justify-content:center;}
.va-m{vertical-align:middle}
.ta-c {text-align:center}
.ta-l {text-align:left}
.width-auto {width:auto}
h2 .bunsuWrap {margin-top:-14px;}
.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides section{padding-right:0;}
.basicSlider_slides .colorBox{display: inline-block;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}
.btn_1.zoomBtn{background: url(../images/suh_h_0402_01_0003_102_1_1.png) no-repeat center / contain; width:100%; height: 500px;}
.btn_2.zoomBtn{background: url(../images/suh_h_0402_01_0003_102_1_2.png) no-repeat center / contain; width:100%; height: 500px;}

.basicSlider_slides .b1-1{top: -24px;left: 245px;z-index: 3;width: 309px; transform: scale(75%);text-align: center;}
.basicSlider_slides .b1-1::after{top:75% !important}
.basicSlider_slides .b2-1{top: -29px;left: 8px;z-index: 3;width: 240px; transform: scale(70%);text-align: center;}
.basicSlider_slides .b2-1::after{left:25% !important}
.basicSlider_slides .b2-2{top: -60px;left: 200px;z-index: 3;width: 350px; transform: scale(70%);text-align: center;}
.basicSlider_slides .b2-2::after{left:75% !important}
.name2-1, .name2-2 {position: absolute;}
.basicSlider_slides .name2-1 {transform: scale(85%);bottom: 38%; left: 5%;}
.basicSlider_slides .name2-2 {transform: scale(85%);bottom: 22%; right: 8%;}

.popup_pages .name2-1 {top:55%; left: 17%;}
.popup_pages .name2-2 {top:57%; right: 9%;}

.popup_pages .b1-1{top: 115px;left: 692px;z-index: 2;width: 326px; transform: scale(1);}

.popup_pages .b2-1{top: 16px;left: 440px;z-index: 2;width: 244px; transform: scale(1);}
.popup_pages .b2-1::after{top:65% !important;}
.popup_pages .b2-2{top: 528px;left: 728px;z-index: 2;width: 358px; transform: scale(1);}

