.box-flex {display:flex}
.box-flex .group-a {width:50%;display:flex;align-items:center;margin-bottom:40px}
.page_1 .box-flex {justify-content:center;margin-top:40px}
.bunsuWrap .toggle {margin:4px 0}

.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important;}

.page_5 .buttonContainer {z-index:2}
.page_1 section {padding-right:0}

.page_2 .img-box {height:300px;text-align:center;margin-bottom:20px}
.page_2 .img-box img {height:100%;vertical-align:top}

.page_3 .img-box {height:160px;text-align:center;margin-bottom:20px}
.page_3 .img-box img {height:100%;vertical-align:top}
.page_3 .box-flex {align-items:center}
.page_3 .box-flex .icon_arrow {margin:0 30px}
.page_3 .contentsList .circleDot {margin-top:22px}

.pop_page_3 .box-flex {align-items:center}
.pop_page_3 .contentsList .dot.deepGreen {margin-top:34px}

.img-answer {position:relative}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;transition:opacity 1s}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {opacity:1}

.img-answer.n1 {width:300px;height:300px;margin:80px auto 20px}
.img-answer.n1 .toggle {background:url("../images/suhi_0601_04_0003_04_2.png") no-repeat 50% 50% / 100%}
.img-answer.n1 .exam {position:absolute;left:-60px;top:0}

.box-character {position:relative}
.box-character .colorBox {position:absolute;width:110px;top:180px;text-align:center;color:#000}
.contentsBox .page_5 section {padding-right:0}
.page_3 .colorBox.in-box {display:inline-block}

.page_5 .box-character {width:380px;flex-shrink:0;margin-right:20px}
.page_5 .toggle-ox {position:relative;text-align:center;margin-bottom:20px}
.page_5 .toggle-ox .toggle {position:absolute;left:0;right:0;background-color:transparent;height:100%}
.page_5 .toggle-ox .toggle:after {display:none}
.page_5 .lineBox .colorBox {display:inline-flex}
.page_5 .innerTab_1 .box-character .characterImg {top:160px;left:90px}
.page_5 .innerTab_1 .toggle-ox .icon_o {position:absolute;top:2px;left:336px}
.page_5 .innerTab_1 .balloon:after {left:125px}
.page_5 .innerTab_1 .balloon {top:0;left:40px;right:40px}

.page_5 .innerTab_2 .box-character .characterImg {top:280px;left:90px}
.page_5 .innerTab_2 .toggle-ox .icon_o {position:absolute;top:2px;left:185px}
.page_5 .innerTab_2 .balloon:after{left:160px}
.page_5 .innerTab_2 .balloon {top:0;left:0;right:0}

.page_6 .bg-box {background:url("../images/suhi_0601_04_0003_06.png") no-repeat 0 0;background-size:contain;height:340px;margin-top:40px;box-sizing:border-box;padding:46px 0 0 40px}
.page_6 .bg-box .toggle {background-color:transparent;padding-left:0}

