.content-container > .content > .bg {
    background-image: url(../images/mm_41_3_02_07_03/bg.svg);
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width:190px;
    left: 379px;
    top: 209px;
}
#quiz-01 .input-cont:nth-child(2) {
    width:190px;
    left: 929px;
    top: 209px;
}

#quiz-01 .input-cont:nth-child(3) {
    width: 230px;
    left: 152px;
    top: 528px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 280px;
    left: 707px;
    top: 528px;
}


.quiz-input-text .ls-type-01 input.input, .quiz-input-text .ls-type-01 textarea.input, .quiz-input-text .ls-type-01 .answer {
    text-indent: 23px;
    letter-spacing: 24px;
    text-align: left !important;
}