.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_3_02_07_01/bg.png); */
    /* background-image: url(../images/mm_41_3_02_07_01.png); opacity: 1; */
}

.q-box-container {
    position: absolute;
    top: 296px;
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    left: 444px;
    top: 296px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 261px;
    top: 426px;
}