.content-container > .content > .bg {
    background-image: url(../images/mm_41_3_05_06_03/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

.box-01{
    position: absolute;
    left:57px;
    top:243px;
    width:371px;
    height:375px;
}



.box-02{
    position: absolute;
    left:457px;
    top:243px;
    width:371px;
    height:375px;
}


.box-03{
    position: absolute;
    left:857px;
    top:243px;
    width:371px;
    height:375px;
}

.ico-circle-03{

display: inline-block;

width: 56px;

height: 56px;

background: url(../images/mm_41_3_05_06_03/icon.svg) 0 0 no-repeat;

vertical-align: middle;
}

.quiz-check.type-box.ico-align-top .check-item::after {
    background-position: 98% 9%;
}