.content-container > .content > .bg {
    background-image: url(../images/mm_41_3_08_04_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 쌍둥이 문제 bg */
.popup-twins.twins-01 > .bg {
    background-image: url(../images/mm_41_3_08_04_01/bg_twins_01.svg);
}
.popup-twins.twins-02 > .bg {
    background-image: url(../images/mm_41_3_08_04_01/bg_twins_02.svg);
}


.box-01 {
    position: absolute;
    width: 415px;
    top: 382px;
    left: 742px;
}
.box-02 {
    position: absolute;
    width: 342px;
    left: 843px;
    top: 475px;
}
/* 입력 퀴즈 - 쌍둥이 문제 1 */
#quiz-01 .input-cont:nth-child(1) {
    width: 415px;
    left: 362px;
    top: 489px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 193px;
    left: 944px;
    top: 489px;
}
/* 입력 퀴즈 - 쌍둥이 문제 1 */
#quiz-02 .input-cont:nth-child(1) {
    width: 415px;
    left: 363px;
    top: 517px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 190px;
    left: 944px;
    top: 517px;
}

/* 입력 퀴즈 - 쌍둥이 문제 2 */
#quiz-03 .input-cont:nth-child(1) {
    width: 415px;
    left: 324px;
    top: 516px;
}
#quiz-03 .input-cont:nth-child(2) {
    width: 192px;
    left: 905px;
    top: 516px;
}

.quiz-check.type-box.ico-align-top .check-item::after{
    display: none;
}

.btns-answer-part .btn-answer-part{
    position: absolute;
    left: 1113px;
    top:485px;
}

.twins-01 .btns-answer-part .btn-answer-part{
    position: absolute;
    left: 1074px;
    top: 522px;
}

.twins-02 .btns-answer-part .btn-answer-part{
    position: absolute;
    left: 1111px;
    top: 522px;
}
