.math-play .scroll-box.title-line-4 {
	height: 285px;
}
.math-play .scroll-box.title-line-4.bottom-has-btn {
	height: calc(285px - 30px);
}


#quiz-01 .check-item{
	left: 286px;
	top: 180px;	
}
#quiz-02 .check-item{
	left: 857px;
	top: 180px;	
}
#quiz-02 {
	top: 455px;	
}