.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_3_02_03_02/bg.png); */
    /* background-image: url(../images/mm_41_3_02_03_02.png); opacity: 1; */
}


#quiz-01 .input-cont:nth-child(1) {
    width:140px;
    left: 404px;
    top: 384px;
}
#quiz-01 .input-cont:nth-child(2) {
    width:140px;
    left: 1025px;
    top: 384px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 140px;
    left: 508px;
    top: 519px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 140px;
    left: 693px;
    top: 519px;
}
#quiz-01 .input-cont:nth-child(5) {
    width: 140px;
    left: 876px;
    top: 519px;
}

.btn-answer-part:nth-child(1) {
    left: 553px;
    top: 391px;
}
.btn-answer-part:nth-child(2) {
    left: 1171px;
    top: 391px;
}
.btn-answer-part:nth-child(3) {
    left: 1023px;
    top: 527px;
}
