.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_3_08_08_01/bg.svg); */
    /* background-image: url(../images/01.png); opacity: 0.5; */
}

.app-mind-map .map.title {
    left: 479px;
    top: 314px;
}
.app-mind-map .map-01 {
    left: 81px;
    top: 132px;
}
.app-mind-map .map-02 {
    left: 468px;
    top: 74px;
}
.app-mind-map .map-03 {
    left: 863px;
    top: 152px;
}
.app-mind-map .map-04 {
    left: 919px;
    top: 349px;
}
.app-mind-map .map-05 {
    left: 758px;
    top: 529px;
}
.app-mind-map .map-06 {
    left: 373px;
    top: 538px;
}
.app-mind-map .map-07 {
    left: 40px;
    top: 357px;
}