.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_3_01_08_01/bg.svg); */
    /* background-image: url(../images/03.png); opacity: 1; */
}

/* 미션 > 선택활동 퀴즈 bg */
.popup-mission.type-quiz > .bg {
    background-image: url(../images/mm_41_3_07_07_01/bg_popup_01.png);
    /* background-image: url(../images/01.png); */
}

/* 미션 > 선택활동 퀴즈 개별 CSS */
.q-box-01 {
    position: absolute;
    top: 587px;
}
#quiz-01 .img-01 {
    position: absolute;
    left: 822px;
    top: 213px;
}

#quiz-01 .answer-box-01 {
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
    position: absolute;
    left: 823px;
    top: 213px;
    width: 402px;
    height: 180px;

    font-family: "HUNemogulim170";
    font-size: 30px;
    color: #B6B6B6;
}
#quiz-01 .answer-box-01.active {
    color: #000000;
    text-align: center;
}

/* ------------ 정답 체크일 때 */
#quiz-01 .answer.show {
    position: absolute;
    left: 274px;
    top: 219px;
    z-index: 1;
}
#quiz-01.active .check-list {
    visibility: hidden;
}
#quiz-01.active .img-01 {
    visibility: hidden;
}
#quiz-01.active .answer-box-01 {
    visibility: hidden;   
}
/* ------------ 정답 체크일 때 */

#quiz-01 .check-item {
    position: relative;
    width: 179px;
    height: 179px;

    margin-right: 5px;

    background-repeat: no-repeat;
    background-size: contain;
}

#quiz-01 .check-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    position: absolute;
    left: 78px;
    top: 214px;
    width: 800px;
    height: 370px;
}

#quiz-01 .check-item:nth-child(1) { background-image: url(../images/mm_41_3_07_07_01/check_item_1_0001.png); }
#quiz-01 .check-item:nth-child(2) { background-image: url(../images/mm_41_3_07_07_01/check_item_1_0002.png); }
#quiz-01 .check-item:nth-child(3) { background-image: url(../images/mm_41_3_07_07_01/check_item_1_0003.png); }
#quiz-01 .check-item:nth-child(4) { background-image: url(../images/mm_41_3_07_07_01/check_item_1_0004.png); }
#quiz-01 .check-item:nth-child(5) { background-image: url(../images/mm_41_3_07_07_01/check_item_1_0005.png); }
#quiz-01 .check-item:nth-child(6) { background-image: url(../images/mm_41_3_07_07_01/check_item_1_0006.png); }
#quiz-01 .check-item:nth-child(7) { background-image: url(../images/mm_41_3_07_07_01/check_item_1_0007.png); }
#quiz-01 .check-item:nth-child(8) { background-image: url(../images/mm_41_3_07_07_01/check_item_1_0008.png); }

#quiz-01 .check-item.active:nth-child(1) { background-image: url(../images/mm_41_3_07_07_01/check_item_2_0001.png); }
#quiz-01 .check-item.active:nth-child(2) { background-image: url(../images/mm_41_3_07_07_01/check_item_2_0002.png); }
#quiz-01 .check-item.active:nth-child(3) { background-image: url(../images/mm_41_3_07_07_01/check_item_2_0003.png); }
#quiz-01 .check-item.active:nth-child(4) { background-image: url(../images/mm_41_3_07_07_01/check_item_2_0004.png); }
#quiz-01 .check-item.active:nth-child(5) { background-image: url(../images/mm_41_3_07_07_01/check_item_2_0005.png); }
#quiz-01 .check-item.active:nth-child(6) { background-image: url(../images/mm_41_3_07_07_01/check_item_2_0006.png); }
#quiz-01 .check-item.active:nth-child(7) { background-image: url(../images/mm_41_3_07_07_01/check_item_2_0007.png); }
#quiz-01 .check-item.active:nth-child(8) { background-image: url(../images/mm_41_3_07_07_01/check_item_2_0008.png); }

#quiz-01 .check-item::before {
    visibility: hidden;
    top: -9999px;
    position: absolute;
    content: url(../images/mm_41_3_07_07_01/check_item_2_0001.png)
            url(../images/mm_41_3_07_07_01/check_item_2_0002.png)
            url(../images/mm_41_3_07_07_01/check_item_2_0003.png)
            url(../images/mm_41_3_07_07_01/check_item_2_0004.png)
            url(../images/mm_41_3_07_07_01/check_item_2_0005.png)
            url(../images/mm_41_3_07_07_01/check_item_2_0006.png)
            url(../images/mm_41_3_07_07_01/check_item_2_0007.png)
            url(../images/mm_41_3_07_07_01/check_item_2_0008.png);
}
