.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_3_08_03_01/bg.svg); */
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 쌍둥이 문제 bg */
.popup-twins.twins-01 > .bg {
    background-image: url(../images/mm_41_3_08_03_01/bg_twins_01.svg);
}
.popup-twins.twins-02 > .bg {
    background-image: url(../images/mm_41_3_08_03_01/bg_twins_02.svg);
}

.box-01{
    position: absolute;
    top:180px;
    left:709px;
    width:272px;
    height:317px;
}

#quiz-01 .input-cont{
    position: absolute;
    top: 421px;
    left: 128px;
    width: 1038px;
}


.box-01 .quiz-check.type-box.ico-align-top .check-item::after,.box-04 .quiz-check.type-box.ico-align-top .check-item::after,.box-03 .quiz-check.type-box.ico-align-top .check-item::after {
    background-position: center center;
}
.box-03{
    position: absolute;
    left:700px;
    top:257px;
    width:329px;
    height:382px;
}
.box-03 .img03{
    position: absolute;
    top: 0;
    right: 0;
}

.box-04{
    position: absolute;
    left:700px;
    top:257px;
    width:329px;
    height:382px;
}
.box-04 .img04{
    position: absolute;
    top: -5px;
    right: 0px;
}

.btn-answer-part:nth-child(2) {
    left: 825px;
    top: 152px;
}