.content-container > .content > .bg {
    background-image: url(../images/mm_41_3_08_01_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 쌍둥이 문제 bg */
.popup-twins.twins-01 > .bg {
    background-image: url(../images/mm_41_3_08_01_01/bg_twins_01.svg);
}
.popup-twins.twins-02 > .bg {
    background-image: url(../images/mm_41_3_08_01_01/bg_twins_02.svg);
}

.q-box-container {
    position: absolute;
    top: 296px;
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width:170px;
    left: 353px;
    top: 363px;
}
#quiz-01 .input-cont:nth-child(2) {
    width:170px;
    left: 353px;
    top: 453px;
}
#quiz-01 .input-cont:nth-child(3) {
    width:210px;
    left: 675px;
    top: 356px;
}
#quiz-01 .input-cont:nth-child(4) {
    width:210px;
    left: 675px;
    top: 426px;
}
#quiz-01 .input-cont:nth-child(5) {
    width:210px;
    left: 675px;
    top: 516px;
}
#quiz-01 .input-cont:nth-child(6) {
    width:70px;
    left: 1070px;
    top: 356px;
}
#quiz-01 .input-cont:nth-child(7) {
    width:70px;
    left: 1070px;
    top: 426px;
}

#quiz-01 .input-cont:nth-child(1) .answer, #quiz-01 .input-cont:nth-child(2) .answer{letter-spacing: 3px;}
#quiz-01 .input-cont:nth-child(3) .answer, #quiz-01 .input-cont:nth-child(4) .answer, #quiz-01 .input-cont:nth-child(5) .answer{
    letter-spacing: 20px;
    text-indent: 20px;
}
#quiz-01 .input-cont:nth-child(6) .answer, #quiz-01 .input-cont:nth-child(7) .answer{}


/* 입력 퀴즈 - 쌍둥이 문제 1 */
#quiz-02 .input-cont:nth-child(1) {
    left: 337px;
    top: 410px;
    width: 170px;
}
#quiz-02 .input-cont:nth-child(2) {
    left: 361px;
    top: 500px;
    width: 170px;
}
#quiz-02 .input-cont:nth-child(3) {
    left: 704px;
    top: 403px;
    width: 210px;
}
#quiz-02 .input-cont:nth-child(4) {
    left: 704px;
    top: 473px;
    width: 210px;
}
#quiz-02 .input-cont:nth-child(5) {
    left: 704px;
    top: 563px;
    width: 210px;
}
#quiz-02 .input-cont:nth-child(6) {
    left: 1099px;
    top: 403px;
    width: 71px;
}
#quiz-02 .input-cont:nth-child(7) {
    left: 1099px;
    top: 473px;
    width: 71px;
}

#quiz-02 .input-cont:nth-child(3) .answer, #quiz-02 .input-cont:nth-child(4) .answer,#quiz-02 .input-cont:nth-child(5) .answer {
    letter-spacing: 20px;
    text-indent: 20px;
}



/* 입력 퀴즈 - 쌍둥이 문제 2 */
#quiz-03 .input-cont:nth-child(1) {
    left: 337px;
    top: 410px;
    width: 170px;
}
#quiz-03 .input-cont:nth-child(2) {
    left: 361px;
    top: 500px;
    width: 170px;
}
#quiz-03 .input-cont:nth-child(3) {
    left: 704px;
    top: 403px;
    width: 210px;
}
#quiz-03 .input-cont:nth-child(4) {
    left: 704px;
    top: 473px;
    width: 210px;
}
#quiz-03 .input-cont:nth-child(5) {
    left: 704px;
    top: 563px;
    width: 210px;
}
#quiz-03 .input-cont:nth-child(6) {
    left: 1099px;
    top: 403px;
    width: 71px;
}
#quiz-03 .input-cont:nth-child(7) {
    left: 1099px;
    top: 473px;
    width: 71px;
}

#quiz-03 .input-cont:nth-child(3) .answer, #quiz-03 .input-cont:nth-child(4) .answer,#quiz-03 .input-cont:nth-child(5) .answer {
    letter-spacing: 20px;
    text-indent: 20px;
}



.twins-01 .btns-answer-part .btn-answer-part:nth-child(1){
    position: absolute;
    left:562px;
    top:507px;
}
.twins-01 .btns-answer-part .btn-answer-part:nth-child(2){
    position: absolute;
    left:916px;
    top:247px;
}

.twins-02 .btns-answer-part .btn-answer-part:nth-child(1){
    position: absolute;
    left:562px;
    top:507px;
}
.twins-02 .btns-answer-part .btn-answer-part:nth-child(2){
    position: absolute;
    left:916px;
    top:247px;
}