.content-container > .content > .bg {
    background-image: url(../images/mm_41_3_05_03_02/bg.svg);
    /* background-image: url(../images/mm_41_3_05_03_02.png); opacity: 1; */
}

#quiz-01 .input-cont:nth-child(1) {
    width:100px;
    left: 1054px;
    top: 349px;
}
#quiz-01 .input-cont:nth-child(2) {
    width:100px;
    left: 944px;
    top: 449px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 100px;
    left: 1094px;
    top: 449px;
}
