.content-container > .content > .bg {
    background-image: url(../images/mm_41_3_02_06_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}





#quiz-01 .input-cont:nth-child(1){
    width: 1038px;
    left: 129px;
    top: 300px;
}

.box-01 {
    position: absolute;
    width: 1038px;
    left: 152px;
    top: 298px;
}
.box-02 {
    position: absolute;
    width: 342px;
    left: 843px;
    top: 475px;
}

.btns-answer-part .btn-answer-part:nth-child(1){
    position: absolute;
    left: 1174px;
    top: 425px;
}

.btns-answer-part .btn-answer-part:nth-child(2){
    position: absolute;
    left: 1194px;
    top: 489px;
}