.content-container > .content > .bg {
    background-image: url(../images/mm_41_3_01_07_02/bg.svg);
    /* background-image: url(../images/mm_41_3_01_07_02.png); opacity: 1; */
}


/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width:170px;
    left: 971px;
    top: 329px;
}


#quiz-01 .input-cont:nth-child(2) {
    width:190px;
    left: 989px;
    top: 399px;
}
