.content-container > .content > .bg {
    background-image: url(../images/mm_41_3_06_06_02/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}


/* 입력 퀴즈 */

#quiz-01 .input-cont:nth-child(1) {
    width: 60px;
    left: 535px;
    top: 324px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 60px;
    left: 535px;
    top: 394px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 60px;
    left: 535px;
    top: 464px;
}

.btns-answer-part .btn-answer-part{
    position: absolute;
    left:599px;
    top:295px;
}


.btn-answer-part:nth-child(1) {
    left: 589px;
    top: 289px;
}