.content-container > .content > .bg {
    background-image: url(../images/mm_41_3_02_05_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}


/* 입력 퀴즈 */
.quiz-input-text .ls-type-01 input.input, .quiz-input-text .ls-type-01 textarea.input, .quiz-input-text .ls-type-01 .answer {
    text-indent: 23px;
    letter-spacing: 24px;
    text-align: left !important;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 270px;
    left: 48px;
    top: 431px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 280px;
    left: 419px;
    top: 432px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 190px;
    left: 1027px;
    top: 379px;
}
