.content-container > .content > .bg {
    background-image: url(../images/mm_41_3_07_03_02/bg.png);
    /* background-image: url(../images/mm_41_3_07_03_02.png); opacity: 1; */
}


.img01{
    position: absolute;
    top: 31px;
    left: 28px;
}
.box-01{
    position: absolute;
    top: 64px;
    right: 15px;
    width: 266px;
    height:391px;
}

.quiz-check.type-box.ico-align-top .check-item::after {
    background-position: center center;
}