.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_3_01_04_01/bg.svg); */
    /* background-image: url(../images/mm_41_3_01_04_01.png); opacity: 1; */
}

.popup-more-step > .bg {
    /* background-image: url(../images/mm_41_3_01_04_01/bg_popup_more.svg); */
}



#quiz-01 .input-cont:nth-child(1) {
    width:140px;
    left: 413px;
    top: 427px;
}
#quiz-01 .input-cont:nth-child(2) {
    width:140px;
    left: 893px;
    top: 427px;
}
#quiz-01 .input-cont:nth-child(3) {
    width:100px;
    left: 547px;
    top: 552px;
}
