.content-container > .content > .bg {
    background-image: url(../images/mm_41_3_06_06_03/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}


/* 입력 퀴즈 */

#quiz-01 .input-cont:nth-child(1) {
    width: 150px;
    left: 566px;
    top: 409px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 150px;
    left: 766px;
    top: 409px;
}
.btns-answer-part .btn-answer-part{
    position: absolute;
    left:934px;
    top:416px;
}
