.content-container > .content > .bg {
    background-image: url(../images/mm_41_3_05_06_02/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

#quiz-01 .input-cont:nth-child(1){
    width:70px;
    top: 259px;
    left: 411px;
}
#quiz-01 .input-cont:nth-child(2){
    width: 150px;
    top: 402px;
    left: 356px;
}
#quiz-01 .input-cont:nth-child(3){
    width:70px;
    top: 491px;
    left: 412px;
}
#quiz-01 .input-cont:nth-child(4){
    width:70px;
    top: 259px;
    left: 861px;
}
#quiz-01 .input-cont:nth-child(5){
    width: 150px;
    top: 401px;
    left: 807px;
}
#quiz-01 .input-cont:nth-child(6){
    width:70px;
    top: 491px;
    left: 863px;
}

.btns-answer-part .btn-answer-part:nth-child(1){
    position: absolute;
    left:491px;
    top:254px;
}

.btns-answer-part .btn-answer-part:nth-child(2){
    position: absolute;
    left:941px;
    top:254px;
}