.content-container > .content > .bg {
    background-image: url(../images/mm_41_3_07_06_03/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 입력 퀴즈 */

#quiz-01 .input-cont:nth-child(1) {
    width: 125px;
    left: 857px;
    top: 537px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 139px;
    left: 1027px;
    top: 537px;
}

.answer .ico-jaeum.jj-01::before{width:45px;}
.answer .ico-jaeum.jj-02::before{width:45px;}
.answer .ico-jaeum.jj-03::before{width:45px;}


.btns-answer-part .btn-answer-part:nth-child(1){
    position: absolute;
    left:1158px;
    top:545px;
}
