.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_3_09_02_01/bg.png); */
    /* background-image: url(../images/01.png); opacity: 1; */
}

.scroll-box-01 .scroll-bg {
	height: 890px;
    background-size: 1200px 890px;
    background-image: url(../images/mm_41_3_09_02_01/bg_scroll_01.svg);
    /* background-image: url(../images/mm_41_3_09_02_01/guide_bg_scroll_01.png); */
}