@charset "utf-8";



/* intro */
#intro {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: url('../images/intro_bg.jpg') no-repeat;
}

#intro .lesson-con {
    position: absolute;
    left: 124px;
    top: 225px;
    width: 331px;
    height: 382px;
    background: url('../images/lesson_bg.png') no-repeat;
}

#intro .lesson-con .title {
    margin-top: 26px;
    font-family: 'BMJUA';
    font-size: 50px;
    color: #fff;
    text-align: center;
}

#intro .lesson-btn {
    position: absolute;
    width: 122px;
    height: 74px;
    background: url('../images/lesson_btn_bg.png') no-repeat;
    text-align:center;
    font-family: 'BMJUA';
    font-size: 50px;
    color: #85200D;
    line-height: 75px;
}
#intro .lesson-btn.active {
    background-position-y: -74px;
}

#intro .lesson-btn:nth-child(1) {
    left: 32px;
    top: 100px;
}
#intro .lesson-btn:nth-child(2) {
    left: 178px;
    top: 100px;
}
#intro .lesson-btn:nth-child(3) {
    left: 32px;
    top: 186px;
}
#intro .lesson-btn:nth-child(4) {
    left: 178px;
    top: 186px;
}
#intro .lesson-btn:nth-child(5) {
    left: 32px;
    top: 271px;
}
#intro .lesson-btn:nth-child(6) {
    left: 178px;
    top: 271px;
}


#intro .time-con {
    position: absolute;
    left: 475px;
    top: 225px;
    width: 331px;
    height: 382px;
    background: url('../images/time_bg.png') no-repeat;
}
#intro .time-con .title {
    margin-top: 26px;
    font-family: 'BMJUA';
    font-size: 50px;
    color: #fff;
    text-align: center;
}
#intro .time-btn {
    position: absolute;
    left: 25px;
    width: 275px;
    height: 74px;
    background: url('../images/player_btn_bg.png') no-repeat;
    text-align:center;
    font-family: 'BMJUA';
    font-size: 50px;
    color: #07668F;
    line-height: 75px;
}
#intro .time-btn.active {
    background-position-y: -74px;
}

#intro .time-btn:nth-child(1) {
    top: 100px;
}
#intro .time-btn:nth-child(2) {
    top: 186px;
}
#intro .time-btn:nth-child(3) {
    top: 271px;
}

#intro .player-con {
    position: absolute;
    left: 826px;
    top: 225px;
    width: 331px;
    height: 382px;
    background: url('../images/player_bg.png') no-repeat;
}
#intro .player-con .title {
    margin-top: 26px;
    font-family: 'BMJUA';
    font-size: 50px;
    color: #fff;
    text-align: center;
}
#intro .player-btn {
    position: absolute;
    left: 25px;
    width: 275px;
    height: 74px;
    background: url('../images/player_btn_bg.png') no-repeat;
    text-align:center;
    font-family: 'BMJUA';
    font-size: 50px;
    color: #07668F;
    line-height: 75px;
}
#intro .player-btn.active {
    background-position-y: -74px;
}

#intro .player-btn:nth-child(1) {
    top: 100px;
}
#intro .player-btn:nth-child(2) {
    top: 186px;
}
#intro .player-btn:nth-child(3) {
    top: 271px;
}


#intro .start-btn {
    position: absolute;
    left: 546px;
    top: 620px;
}
#intro .start-btn > span {
    display: block;
    width: 188px;
    height: 78px;
    background: url('../images/start_btn.png') no-repeat;
    text-align: center;
    font-family: 'BMJUA';
    font-size: 38px;
    color: #fff;
    line-height: 77px;
}

#intro .guide-btn {
    position: absolute;
    left: 1092px;
    top: 632px;
    width: 166px;
    height: 68px;
    background: url('../images/guid_btn.png') no-repeat;
    text-align: center;
    font-family: 'BMJUA';
    font-size: 33px;
    color: #fff;
    line-height: 65px;
}

#intro .guide-pop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
#intro .guide-pop .pop-wrap {
    position: absolute;
    left: 65px;
    top: 30px;
    width: 1162px;
    height: 671px;
    background: url('../images/guide_bg.png') no-repeat;
    font-family: 'BMJUA';
}
#intro .guide-pop .title {
    margin-top:38px;
    font-size: 50px;
    color: #fff;
    text-align:center;
}
#intro .guide-pop ol {
    margin-top: 45px;
    padding: 0 65px;
}
#intro .guide-pop ol > li {
    position: relative;
    font-size: 39px;
    color: #000;
    padding-left: 60px;
    margin-top: 24px;
}
#intro .guide-pop ol > li:first-child{
    margin-top:0;
}

#intro .guide-pop ol > li:before{
    position: absolute;
    left:0;
    top: -4px;
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #2073D8;
    text-align: center;
    color: #fff;
    line-height: 48px;
}

#intro .guide-pop ol > li:nth-child(1):before {
    content: '1';
}
#intro .guide-pop ol > li:nth-child(2):before {
    content: '2';
}
#intro .guide-pop ol > li:nth-child(3):before {
    content: '3';
}
#intro .guide-pop ol > li:nth-child(4):before {
    content: '4';
}
#intro .guide-pop ol > li:nth-child(5):before {
    content: '5';
}
#intro .guide-pop ol > li:nth-child(6):before {
    content: '6';
}
#intro .guide-pop ol > li:nth-child(7):before {
    content: '7';
}

#intro .guide-pop .close-btn {
    position: absolute;
    left: 1095px;
    top: 15px;
    width: 50px;
    height: 50px;
    background: url('../images/guide_close.png') no-repeat;
}



/* select-modum */
#select-modum {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: url('../images/game_bg.jpg') no-repeat;
}

#select-modum .home-btn {
    position: absolute;
    left: 27px;
    top: 13px;
    width: 87px;
    height: 84px;
    background: url('../images/home_btn.png') no-repeat;
}

#select-modum .title-con {
    position: absolute;
    left: 338px;
    top: 17px;
    width: 580px;
    height: 131px;
    border-radius: 45px;
    background-color: #5B4CBB;
    text-align: center;
    box-sizing: border-box;
    text-align: center;
    font-family: 'BMJUA';
    font-size: 50px;
    color: #fff;
    padding: 12px 0;
}

#select-modum .player-con {
    position: absolute;
    left: 0;
    top: 233px;
    width: 100%;
    text-align: center;
}

#select-modum .player-con .player {
    position: relative;
    display: inline-block;
    width: 256;
    margin: 0 15px;
}
#select-modum .player-con .player .char {
    width: 256px;
    height: 301px;
}
#select-modum .player-con .player1 .char {
    background: url('../images/select_char1.png') no-repeat;
}
#select-modum .player-con .player2 .char {
    background: url('../images/select_char2.png') no-repeat;
}
#select-modum .player-con .player3 .char {
    background: url('../images/select_char3.png') no-repeat;
}
#select-modum .player-con .player4 .char {
    background: url('../images/select_char4.png') no-repeat;
}

#select-modum .player-con .player .name {
    width: 140px;
    height: 59px;
    border-radius: 15px;
    margin: 10px auto 0 auto;
    font-family: 'BMJUA';
    font-size: 45px;
    color: #fff;
    line-height: 62px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
#select-modum .player-con .player1 .name{
    background-color: #03B89F;
}
#select-modum .player-con .player2 .name{
    background-color: #24A9EE;
}
#select-modum .player-con .player3 .name{
    background-color: #12B966;
}
#select-modum .player-con .player4 .name{
    background-color: #E46FF1;
}

#select-modum .enter-btn {
    position: absolute;
    left: 504px;
    top: 625px;
}
#select-modum .enter-btn > span {
    display: block;
    width: 268px;
    height: 78px;
    background: url('../images/enter_btn.png') no-repeat;
    text-align: center;
    font-family: 'BMJUA';
    font-size: 38px;
    color: #fff;
    line-height: 77px;
}

#select-modum .picket-con{
    position: absolute;
    top: 120px;
    left:0;
    width: 100%;
    text-align: center;
}
#select-modum .picket {
    display: inline-block;
    width: 100px;
    height: 113px;
    background: url('../images/picket.png') no-repeat;
    text-align: center;
    font-family: 'BMJUA';
    font-size: 80px;
    color: #fff;
    line-height: 108px;
    margin: 0 93px;
    opacity:0;
}

#select-modum .start-btn {
    position: absolute;
    left: 546px;
    top: 620px;
}
#select-modum .start-btn > span {
    display: block;
    width: 188px;
    height: 78px;
    background: url('../images/start_btn.png') no-repeat;
    text-align: center;
    font-family: 'BMJUA';
    font-size: 38px;
    color: #fff;
    line-height: 77px;
}


/* game */
#game {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: url('../images/game_bg.jpg') no-repeat;
}

#game .home-btn {
    position: absolute;
    left: 27px;
    top: 13px;
    width: 87px;
    height: 84px;
    background: url('../images/home_btn.png') no-repeat;
}

#game .quiz-con {
    position: absolute;
    left: 118px;
    top: 27px;
    width: 1044px;
    height: 517px;
    background: url('../images/quiz_bg.png') no-repeat;
}
#game .quiz-con .quiz {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
}
#game .quiz-con .quiz.active {
    display: block;
}
#game .quiz-con .quiz .title {
    box-sizing: border-box;
    font-family: 'BMJUA';
    font-size: 45px;
    color: #000;
    padding: 23px 32px 0 32px;
}
#game .quiz-con .quiz .title .underline {
    border-bottom: solid 2px red;
}
#game .quiz-con .quiz .quest {
    position: absolute;
    left:0;
    top: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 190px;
    width: 100%;
}
#game .quiz-con .quiz .quest.large{
    height: 270px;
}
#game .quiz-con .quiz .quest > div {
    width: 100%;
    font-family: 'HU고딕360';
    font-size: 42px;
    text-align: center;
    line-height: 60px;
    padding: 5px 0;
}
#game .quiz-con .quiz .quest > div.tl {
    text-align:left;
    padding: 5px 50px;
}
#game .quiz-con .quiz .quest > div > img {
    vertical-align: middle;
    position:relative;
    top:-5px;
}
#game .quiz-con .quiz .quest ul {
    text-align: left;
    display: inline-block;
}
#game .quiz-con .quiz .quest ul.hor {
    display: flex;
    align-items: center;
    justify-content: center;
}
#game .quiz-con .quiz .quest ul.hor li{
    margin: 0 40px;
}
#game .quiz-con .quiz .list-set{
    position: absolute;
    left: 35px;
    top: 265px;
    text-align: center;
}
#game .quiz-con .quiz .list-set.small{
    top: 345px;
}
#game .quiz-con .quiz .list-set.noquest{
    top: 180px;
}
#game .quiz-con .quiz .list-set .list {
    position: relative;
    display: inline-block;
    width:283px;
    height:211px;
    margin: 0 20px;
    vertical-align: top;
    cursor: pointer;
    background-color:#F3FFFE;
    border-radius: 23px;
}
#game .quiz-con .quiz .list-set .list.active{
    background-color:#D8FFFB;
}

#game .quiz-con .quiz .list-set.small .list {
    height: 120px;
}
#game .quiz-con .quiz .list-set .list > div {
    display: flex;
    width: 100%;
    height:100%;
    align-items: center;
    justify-content: center;
    font-family: 'HU고딕360';
    font-size: 50px;
    border-radius: 24px;
}

#game .quiz-con .quiz .list-set .list:before {
    content:'';
    display: inline-block;
    position: absolute;
    left: -20px;
    top: 0px;
    width: 45px;
    height: 45px;
    background-color: #2073D8;
    border-radius: 50%;
    font-family: 'BMJUA';
    text-align:center;
    font-size: 35px;
    color: #fff;
    line-height: 47px;
    transition: all 0.6s;
}
#game .quiz-con .quiz .list-set .list:nth-child(1):before {
    content:'1';
}
#game .quiz-con .quiz .list-set .list:nth-child(2):before {
    content:'2';
}
#game .quiz-con .quiz .list-set .list:nth-child(3):before {
    content:'3';
}

#game .quiz-con .quiz .list-set .list.correct:after {
    content:'';
    position: absolute;
    left: 42px;
    top: 6px;
    width: 200px;
    height: 199px;
    background: url('../images/o.png') no-repeat;
    transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: scale(0.5);
    opacity:0;
}
#game .quiz-con .quiz .list-set.small .list.correct:after {
    top: -40px;
}
#game .quiz-con .quiz .list-set .list.correct.active:after {
    opacity:1;
    transform: scale(1);
}
#game .quiz-con .quiz .list-set .list.wrong:after {
    content:'';
    position: absolute;
    left: 58px;
    top: 20px;
    width: 171px;
    height: 170px;
    background: url('../images/x.png') no-repeat;
    transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: scale(0.5);
    opacity:0;
}
#game .quiz-con .quiz .list-set.small .list.wrong:after {
    top: -25px;
}
#game .quiz-con .quiz .list-set .list.wrong.active:after {
    opacity:1;
    transform: scale(1);
}
#game .quiz-con .quiz .box {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: solid 3px #DBDBDB;
    border-radius: 10px;
    vertical-align: middle;
    margin:0 2px;
    position: relative;
    top: -4px;
}
#game .quiz-con .quiz .circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: solid 3px #000;
    border-radius: 50%;
    vertical-align: middle;
    font-family: 'NanumGothic';
    font-size: 45px;
    line-height: 44px;
    position: relative;
    top: -5px;
    margin: 0 2px;
}
#game .quiz-con .quiz .circle > em {
    transform: scaleX(0.8);
    font-style: normal;
    display: inline-block;
}
#game .quiz-con .quiz .circle2 {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    top: -5px;
    margin: 0 2px;
    background-color: #EEEEEE;
}
#game .quiz-con .quiz .quest .circle2{
    margin: 0 30px;
}
#game .quiz-con .quiz .deg{
    font-family: 'NanumGothic';
    font-size:45px;
}

#game .player-con {
    position: absolute;
    left: 0;
    top: 470px;
    width: 100%;
    text-align: center;
    pointer-events: none;
}
#game .player-con .player{
    position: relative;
    display: inline-block;
    width: 270px;
    margin: 0 10px;
}
#game .player-con .player .char-con {
    position: absolute;
    left: 55px;
    top:0;
    width:213px;
    height: 140px;
}
#game .player-con .player .char-con > div {
    position: absolute;
    left:0;
    top:0;
}

#game .player-con .player .score-con {
    position: absolute;
    left: 0;
    top: 140px;
    width: 270px;
    height: 129px;
    background: url('../images/score_bg.png') no-repeat;
    z-index: 1;
}

#game .player-con .player .score-con .score {
    margin-left: 87px;
    width: 152px;
    text-align: center;
    font-family: 'BRBA_R';
    font-size: 70px;
    color: #F4FB2B;
}
#game .player-con .player .bomb {
    position: absolute;
    left: -103px;
    top: -40px;
}
#game .player-con .player .bomb > div {
    position: absolute;
    left:0;
    top:0;
}
#game .player-con .player .apply-num {
    position: absolute;
    left: 166px;
    top: 101px;
    width: 122px;
    height: 83px;
    background: url('../images/apply_num.png') no-repeat;
    z-index: 2;
    opacity: 0;
}
#game .player-con .player .apply-num.minus10 {
    background-position-y: -83px;
}
#game .player-con .player .apply-num.minus20 {
    background-position-y: -166px;
}


/* result */
#result {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: url('../images/result_bg.jpg') no-repeat;
}
#result .result-pannel{
    position: absolute;
    left: 236px;
    top: 108px;
    width: 807px;
    height: 565px;
    background: url('../images/result_pannel.png') no-repeat;
    background-size: 100% 100%;
}
#result .result-pannel .player-con {
    position: absolute;
    left: 0;
    top: 218px;
    width: 100%;
    text-align: center;
}
#result .result-pannel .player-con .player {
    position: relative;
    display: inline-block;
    width: 135px;
    margin: 0 15px;
}
#result .result-pannel .player-con .player .char-con {
    position: absolute;
    left: -75px;
    top: -180px;
}
#result .result-pannel .player-con .player .score-con {
    position: absolute;
    left:0;
    top:0;
    width: 153px;
    height: 92px;
    background: url('../images/score_bg2.png') no-repeat;
}
#result .result-pannel .player-con .player .score-con .score {
    width: 100%;
    text-align: center;
    font-family: 'BRBA_R';
    font-size: 45px;
    color: #F4FB2B;
    margin-top: 4px;
}
#result .result-pannel .text-con {
    position: absolute;
    left:0;
    top: 343px;
    width: 100%;
    font-family: 'BMJUA';
    font-size:50px;
    color: #D60000;
    text-align: center;
}
#result .result-pannel .winner-con {
    position: absolute;
    left:0;
    top: 400px;
    width: 100%;
    font-family: 'BMJUA';
    font-size:40px;
    color: #000;
    text-align: center;
}
#result .result-pannel .winner-con > span {
    display: inline-block;
    width: 140px;
    height: 59px;
    border-radius: 15px;
    margin: 0 5px;
    font-family: 'BMJUA';
    font-size: 45px;
    color: #fff;
    line-height: 62px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
#result .result-pannel .winner-con .name1{
    background-color: #03B89F;
}
#result .result-pannel .winner-con .name2{
    background-color: #24A9EE;
}
#result .result-pannel .winner-con .name3{
    background-color: #12B966;
}
#result .result-pannel .winner-con .name4{
    background-color: #E46FF1;
}


#result .result-pannel .reset-btn {
    position: absolute;
    left: 328px;
    top: 475px;
}
#result .result-pannel .reset-btn > span{
    display: block;
    width: 151px;
    height: 62px;
    background: url('../images/reset_btn.png') no-repeat;
    text-align: center;
    font-family: 'BMJUA';
    font-size: 33px;
    color: #fff;
    line-height: 62px;
}

#result .result-top {
    position: absolute;
    left: 330px;
    top: 65px;
    width: 626px;
    height: 156px;
    background: url('../images/result_top.png') no-repeat;
}

#result .result-top > h4 {
    margin-top: 18px;
    font-family: 'BRBA_R';
    font-weight: 900;
    font-size: 60px;
    color: #B10E00;
    text-align:center;
}

#result .fire1 {
    position: absolute;
    left: 20px;
    top: 53px; 
    pointer-events: none; 
}

#result .fire2 {
    position: absolute;
    left: 1005px;
    top: 155px;
    pointer-events: none; 
}

#result .fire3 {
    position: absolute;
    left: -20px;
    top: 253px;
    pointer-events: none; 
}

#result .fire4 {
    position: absolute;
    left: 915px;
    top: -5px;
    pointer-events: none; 
}