.page_2 .lineBox {position:relative;width:calc(100% - 60px);margin:80px auto 0 60px;text-align:center;}
.page_2 .lineBox .toggle {position:absolute;width:130px;padding:0 8px;height:50px;bottom:30px}
.page_2 .lineBox .n1 {left:110px}
.page_2 .lineBox .n2 {left:430px}
.page_2 .lineBox .n3 {left:750px}
.page_2 .lineBox img {width:100%}

.page_3 .lineBox {position:relative;padding-bottom:210px; margin-top:20px;}
.page_3 .lineBox .toggle {position:absolute}
.page_3 .lineBox .txt-item {position:absolute;background-color:#fff;height:40px;line-height:40px;width:50px;text-align:center}
.page_3 .lineBox .n1 {top:160px;left:50px}
.page_3 .lineBox .n2 {top:160px;left:390px}
.page_3 .lineBox .n3 {top:160px;left:750px}
.page_3 .lineBox .t1 {top:103px;left:37px}
.page_3 .lineBox .t2 {top:62px;left:265px}
.page_3 .lineBox .t3 {top:100px;left:355px}
.page_3 .lineBox .t4 {top:100px;left:623px}
.page_3 .lineBox .t5 {top:26px;left:670px}
.page_3 .lineBox .t6 {top:100px;left:940px}
.page_3 .lineBox img {width:100%}

.bogi_wrap .box-flex {display:flex;justify-content:space-around}
.page_5 .img-box-b {background:url("../images/suhi_h_0301_02_0002_3.png") no-repeat 50% 110%;height:360px;background-size:auto 80%;position:relative}
.img-box-b .balloon {position:absolute}
.img-box-b .balloon_2 {top:10px;right:0}
.img-box-b .balloon_1 {top:10px;left:0}
.img-box-b .balloon.purple:after {left:50px}
.img-box-b .colorBox {position:absolute;bottom:40px}
.img-box-b .colorBox.skyBlue {left:220px}
.img-box-b .colorBox.orange {right:190px}

.img-in {justify-content:center;margin:50px 0;position:relative}
.img-in .txt-item {position:absolute;background-color:#fff;height:40px;line-height:40px;width:50px;text-align:center}
.img-in .txt-item.n1 {bottom:-5px;left: 269px;}
.img-in .txt-item.n2 {bottom:-5px;left: 705px;}
.img-in .txt-item.n3 {top:20px;left: 225px;}
.img-in .txt-item.n4 {top:20px;left: 662px;}
.img-in .txt-item.n5 {bottom:-5px;left: 310px;}
.img-in .txt-item.n6 {bottom:-5px;left: 745px;}
.img-in .txt-item.n7 {bottom:-5px;left: 270px;}
.img-in .txt-item.n8 {bottom:-5px;left: 710px;}
.buttonContainer {z-index:3}

.page_4 .study_guide{z-index: 2;}


.page_4 .iframe-wrap{position: absolute; top:0; left:0; width: 1110px; height: 511px; overflow: hidden;}
.page_4 .iframe-wrap .page-iframe{width: 100%;
    height: 524px;
    overflow: hidden;
    border: 0;}
    
.contentsBox .basicSlider_slides>li{display: flex; opacity: 0; visibility: hidden; position:absolute; z-index:-1; top:0}
.contentsBox .basicSlider_slides>li.on{display: flex; opacity: 1; visibility: visible; position:relative; z-index:0; top:0}


.moveButtonContainer{left:50%; width: auto; transform: translate(-50%, 0);}
.bullet.circleDot{margin-top:26px;}