.suhi h2+section{padding-left: 0;}
.formula_box > li{display: flex; align-items: center;width: calc(100% / 3);justify-content: inherit;}
.formula_box .bunsuWrap > ul{display:inline-flex;min-width:50px;flex-direction:column;align-items:center;justify-content:center;}
.formula_box.line2{margin-top: 60px;}
.formula_box{display: flex;justify-content: space-evenly;margin-top: 50px;}
.bunsuWrap.separation > ul{min-width: 70px;}
.bunsuWrap.separation li{width:100%;}
.bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.bunsuWrap.separation .toggle{width:100%;}

.pop_page_1 .flex-box{align-items: center;}
.pop_page_3{align-items: center;}

.page_4 .lineBox{align-items: center;width: 400px;justify-content: space-between;margin: 0 auto;}
.page_4 .toggle{margin: 20px auto;}
.page_4 .toggle .answer{display: inline-flex;align-items: center;}

.page_5 .flex-box{align-items: center;justify-content: space-between;width: 500px;margin: 0 auto 30px;}
.page_5 .flex-box li{position: relative;}
.page_5 .flex-box li img{width: 100px;}
.page_5 .flex-box li span{position: absolute;top: 20px;left: 30px;font-size: 60px;}

.page_6 .lineBox{width: 300px;margin: 0 auto;align-items: center;justify-content: center;}
.page_6 .lineBox .blankBox{margin-bottom: 5px;}
.page_6 .flex-box{justify-content: center;margin-top: 30px;}


.page_1 .formula_box > li{display: flex; align-items: center;width: 650px;justify-content: inherit;}
.page_1 .formula_box .bunsuWrap > ul{display:inline-flex;min-width:50px;flex-direction:column;align-items:center;justify-content:center;}
.page_1 .formula_box{display: flex;justify-content: space-evenly;margin-top: -25px;}
.page_1 .formula_box.line2{margin-top: 20px;}
.page_1 .formula_box.line3{width: 250px;margin: 20px auto 0;}
.page_1 .bunsuWrap.separation > ul{min-width: 70px;}
.page_1 .bunsuWrap.separation li{width:100%;}
.page_1 .bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.page_1 .bunsuWrap.separation .toggle{width:100%;}


.pop_page_4 .bunsuWrap .blankBox{vertical-align: text-top;margin-bottom: 5px;}
