
.contentsBox section{padding:0;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}
.toggle .answer .bunsuWrap {vertical-align:3px;}

.img-box {width:520px;height:300px;margin:0 auto;overflow:hidden;position:relative}
.img-box .imgCon {height:100%}
.img-box .imgCon .popBtn {width:100%;height:100%;background:url("../images/suh_0501_04_0007_101_1_1.png") no-repeat left center / auto 100%}

.page_1 .flex-box {align-items:flex-start;}
.page_1 .flex-box .img-box {flex-shrink:0;margin:0 40px 0 0;}
.page_1 .flex-box .toggle {box-sizing:border-box;width:100%;}
.page_1 .flex-box .toggle + .toggle {margin:20px 0 0;}

.page_2 .flex-box {align-items:center;}
.page_2 .flex-box .img-box {flex-shrink:0;margin:0 40px 0 0;}
.page_2 .flex-box .toggle {box-sizing:border-box;width:100%;}
.page_2 .flex-box .toggle + .toggle {margin:20px 0 0;}


.pop_page_1 .full-img img {width:100%;}