.page_1 .a1{position: absolute;top: 93px;left: 427px;z-index: 1;}
.page_1 .a2{margin: 0 auto; width:690px;display: flex;justify-content: center; padding:50px 40px 40px; margin-top:50px;height: 306px;align-items: flex-start;}



.bg{background:#e3e3e3;}

.page_2 .math-calc-side{padding-top: 120px;width: 210px; }
.page_2 .math-calc-side .flex-wrap{justify-content: flex-start;}
.page_2 .math-calc-side .flex-wrap + .flex-wrap{transform:translate(0,53px)}

.asdf{position: absolute; top:-20px;left: 170px;}
.page_3 .flex-wrap{width:auto}
.check-tit .flex-wrap.asdf2{height:330px;align-items: flex-start;padding-top: 77px;}

.page_4 .lineBox.green .bullet {margin-top: 7px;}
.page_4 .lineBox.green{
    width: 750px;
    margin: 50px auto 0;
}

.page_5 .img-wrap{width: 640px;margin: 100px auto 0;position: relative;}
.page_5 .img-wrap img{width: 100%;}
.page_5 .img-wrap > div{position: absolute; line-height: 1; text-align: center;}
.page_5 .img-wrap .b1{top: -28px;left: -240px;width: 303px;text-align: center;word-break: keep-all;}
.page_5 .img-wrap .b2{top: -88px;left: 80px;width: 300px;}
.page_5 .img-wrap .b3{top: 156px;left: -30px;}
.page_5 .img-wrap .b4{top: -28px;left: 390px;width: 260px;}
.page_5 .img-wrap .b5{top: 82px;left: 620px;width: 240px;}
.page_5 .img-wrap .n1{top: 232px;left: 290px;}
.page_5 .img-wrap .n2{top: 232px;left: 410px;}
.page_5 .img-wrap .n3{top: 212px;left: 520px;}
.page_5 .img-wrap .b4::after{left: 30% !important;}

.page_6 .img-wrap{
 width: 370px;
 margin: 50px 0 0;
 position: relative;
 }
.page_6 .img-wrap img{width: 100%;}
.page_6 .img-wrap > div{position: absolute; line-height: 1; text-align: center;}
.page_6 .img-wrap .b1{top: -58px;left: 50px;width: 463px;text-align: center;word-break: keep-all;}
.page_6 .img-wrap .b1::after{left:20% !important;}
.page_6 .lineBox{position: absolute;top: 150px;left: 460px;width: 600px;text-align: left;}

.pop_page_3 .math-calc-side.ms1{
    padding-top: 0;
    white-space: nowrap;
}
.pop_page_3 .math-calc-side.ms1 .ms1-2{
    transform: translate(0px, 158px);
}

.pop_page_4 .math_calc_table.class3 .bullet.number{position: absolute; left:-40px}
