.tableContainer .toggle {background-color:transparent;padding:0}

.img-box-1 {position:relative;margin:20px auto;padding:0 380px}
.img-box-1 img {width:100%;vertical-align:top}
.page_1 .dapCheckBtn,
.page_2 .dapCheckBtn {z-index:2}

.page_2 .box-flex {display:flex;justify-content:space-around}
.page_2 .innerTab_1 .toggle,
.page_2 .innerTab_2 .toggle {width:190px}

.img-box-2 {position:relative;margin:50px auto;padding:0 380px}
.img-box-2 img {width:100%;vertical-align:top}
.img-box-2 .text-item {position:absolute;}
.img-box-2 .n1 {left:340px;top:20px}
.img-box-2 .n2 {left:340px;top:160px}
.img-box-2 .n3 {left:410px;top:190px}
.img-box-2 .n4 {left:475px;top:225px}
.img-box-2 .n5 {left:550px;top:190px}
.img-box-2 .n6 {left:630px;top:160px}
.img-box-2 .n7 {left:630px;top:20px}
.img-box-2 .n8 {left:550px;top:-5px}
.img-box-2 .n9 {left:475px;top:-35px}
.img-box-2 .n10 {left:410px;top:-5px}

.img-box-3 {position:relative;margin:20px auto;padding:0 100px 0 0}
.img-box-3 img {width:100%;vertical-align:top}
.img-box-3 .txt-item {position:absolute;white-space:nowrap}
.img-box-3 .n1 {left:250px;top:20px}
.img-box-3 .n2 {left:390px;top:150px}
.img-box-3 .n3 {left:110px;top:280px}
.img-box-3 .n4 {left:695px;top:-5px}
.img-box-3 .n5 {left:780px;top:280px}
.img-box-3 .n6 {left:210px;top:-40px}
.img-box-3 .n7 {left:330px;top:300px}
.img-box-3 .n8 {left:600px;top:145px}
.img-box-3 .n9 {left:870px;top:-5px}
.img-box-3 .icon_arrow {position:absolute;left:510px;top:155px}

.innerTab_1 .tableContainer {width:100%}
.innerTab_1 .tableContainer th {font-size:32px;letter-spacing:-1.5px}
.innerTab_1 .tableContainer .toggle {text-align:center}
.page_3 .dapCheckBtn {z-index:2}


.page_4 .buttonContainer {z-index:2}
.page_4 .box-flex {display:flex;align-items:flex-start}
.page_4 .box-flex .colorBox {flex-shrink:0;margin-right:10px}
.img-box-4 {position:relative;margin-bottom:20px;padding:0 360px}
.img-box-4 img {width:100%;vertical-align:top}

.pop_page_1 .tableContainer {width:94%}
.pop_page_1 .tableContainer th {font-size:32px;letter-spacing:-1.5px;padding:10px}