/* 공통 */
.img-wrap img{width: 100%;}
#wrap header .title.active .bullet.number{margin-top:4px}
#wrap header .title.active .icon_o_title{transform: translate(0px, 7px);}
#wrap header .title.active .blankBox{border:4px solid #efefef; background:#fff}
.math-calc-side .toggle .answer{padding:0 16px}
.dotList li .flex-wrap .icon_arrow{margin:7px 10px 0 0;}
.popup_contents .bullet.number{margin:4px 5px 0 0;}
.lineBox .bullet.number{margin:7px 10px 0 0;}
section.flex-wrap.middle {
    padding-bottom: 80px;
}

/* 개별 */

.q2 .oxContainer .icon_o,
.q2 .oxContainer .icon_x{position: absolute; top:50%; left:50%; margin:-50px 0 0 -50px; width:100px; height:100px; z-index:1}
.q2 .lineBox{padding-top:40px}
.q2 .flex-wrap .flex-wrap{margin-top:120px}

.q5 .div1{position: absolute;top: 10px;left: 230px;width: 280px;}
.q5 .div2{position: absolute;top: 440px;right: 271px; width:auto}
.q5 .icon_arrow{
    position: relative;
    top: 0;
    left: 0;
    margin-right:10px;
}
.q5 .div1 img{width: 100%;}
.q5 .div1 .txt{position: absolute;}
.q5 .div1 .txt.n1{top: -21px;left: 152px;}
.q5 .div1 .txt.n2{top: 139px;left: -17px;}
.q5 .div1 .txt.n3{top: 320px;left: 2px;}
.q5 .div1 .txt.n4{width:320px;top: 139px;left: 300px; display:flex;justify-content: center; align-items:center;}
.q5 .div1 .txt.n5{width:320px;top: 327px;left: 300px; display:flex;justify-content: center; align-items:center;}
.q5 .colorBox{padding:6px 16px}

.q7 .lineBox{width:700px; margin:0 auto; padding:40px}

.q9 .dragLineArea::after{background-color: #000;}
.q9 img{width:100%;}
.q9 .study_guide {top:0; right: 0;}
.q9 .dragLineContainer {margin-top:0; flex-direction: column;}
.q9 .colorBox{position: absolute; width:160px; text-align: center; background-color: transparent; text-shadow: 2px 2px 0 #fff;}
.q9 .colorBox.col1{left: 110px;}
.q9 .colorBox.col2{left: 490px;}
.q9 .colorBox.col3{left: 841px}
.q9 .colorBox.col4{left: 50px;}
.q9 .colorBox.col5{left: 380px;}
.q9 .colorBox.col6{left: 851px;}

.q9 .colorBox.row1{top: 98px;}
.q9 .colorBox.row1_2{top: 112px;}
.q9 .colorBox.row1_3{top: 102px;}
.q9 .colorBox.row2{top: 280px;}
.q9 .colorBox.row2_2{top: 330px;}
.q9 .colorBox.row2_3{top: 300px;}
.q9 .dragLineObj.col1,
.q9 .dragLineArea.col1{left: 199px;}
.q9 .dragLineObj.col2,
.q9 .dragLineArea.col2{left: 579px;}
.q9 .dragLineObj.col3,
.q9 .dragLineArea.col3{left: 926px;}

.q9 .dragLineObj.col4,
.q9 .dragLineArea.col4{left: 132px;}
.q9 .dragLineObj.col5,
.q9 .dragLineArea.col5{left: 463px;}
.q9 .dragLineObj.col6,
.q9 .dragLineArea.col6{left: 928px;}

.q9 .dragLineObj.row1,
.q9 .dragLineArea.row1{top: 178px;}
.q9 .dragLineObj.row1_2,
.q9 .dragLineArea.row1_2{top: 198px;}
.q9 .dragLineObj.row1_3,
.q9 .dragLineArea.row1_3{top: 188px;}

.q9 .dragLineObj.row2,
.q9 .dragLineArea.row2{top: 265px;}
.q9 .dragLineObj.row2_2,
.q9 .dragLineArea.row2_2{top: 283px;}
.q9 .dragLineObj.row2_3,
.q9 .dragLineArea.row2_3{top: 254px;}

.pop_page_9 .flex-wrap{ justify-content: space-around;}














