.ic-arrow {display:inline-block;width:40px;height:40px;background:url(../images/suh_p_0402_03_0003_203_1/arrow.png) no-repeat center center/contain;vertical-align:-6px}

.basicSlider_slides section {padding-left:30px;text-align:center}
.finger-box.toggle {background-color:transparent}
.finger-box.toggle::after {display:none}
.finger-box.toggle .click-finger-Btn {z-index:10}
.finger-box.toggle .toggle-bg,
.finger-box.toggle .answer {position:absolute;left:0;top:0;width:100%;height:100%;padding:0}
.finger-box.toggle .answer img {width:100%;height:100%;vertical-align:top}

.txt-sky {color:#00b0f0}
.txt-pink {color:#d53181}
.txt-green {color:#00b050}
.txt-orange {color:#f79646}

.page_1 .finger-box.toggle {width:1000px;height:78px;margin-top:100px}
.page_1 .finger-box.toggle .click-finger-Btn {top:30px}
.page_1 .finger-box.toggle .toggle-bg {width:1000px;height:78px;background:url(../images/suh_p_0402_03_0003_203_1/suh_p_0402_03_0003_203_1_1.png) #fff no-repeat 0 0/100%}
.page_1 .finger-box.toggle .answer .txt {position:absolute;top:-60px;left:524px}
.page_1 .finger-box.toggle .txt-group {position:relative}
.page_1 .finger-box.toggle .txt-group [class*='txt-'] {position:absolute;top:85px}
.page_1 .finger-box.toggle .txt-group .txt-1 {left:208px}
.page_1 .finger-box.toggle .txt-group .txt-2 {left:740px}

.page_2 .contentsList {font-size:38px}
.page_2 .balloon.green.right:after {top:50%;margin-top: -10px}