.contentsBox .buttonContainer {right:56px}

.ex-label {display:inline-block;width:30px;height:30px;margin-right:4px;background-color:#e50182;vertical-align:0}

.basicSlider_slides section {padding-left:30px}
.img-wrap {position:relative;width:1000px;margin:40px auto 0}
.img-wrap img {width:100%;vertical-align:top}
.img-wrap [class*='txt-'] {position:absolute;white-space:nowrap}
.img-wrap [class*='sm-txt-'] {top:185px;font-size:30px}
.img-wrap [class*='lg-txt-'] {top:62px;font-size:36px}
.img-wrap .sm-txt-0 {left:7px}
.img-wrap .sm-txt-1 {left:92px}
.img-wrap .sm-txt-2 {left:190px}
.img-wrap .sm-txt-3 {left:280px}
.img-wrap .sm-txt-4 {left:382px}
.img-wrap .sm-txt-5 {left:482px}
.img-wrap .sm-txt-6 {left:578px}
.img-wrap .sm-txt-7 {left:678px}
.img-wrap .sm-txt-8 {left:772px}
.img-wrap .sm-txt-9 {left:872px}
.img-wrap .sm-txt-10 {left:984px}
.img-wrap .sm-txt-100 {top:112px;left:934px}
.img-wrap .lg-txt-0 {left:91px}
.img-wrap .lg-txt-1 {left:250px}