.blank-box {display:inline-block;width:50px;height:50px;border:solid 3px #dbdbdb;border-radius:10px;background-color:#fff;vertical-align:-10px}

.flex-group {display:flex;justify-content:center;align-items:center}

.page_1 h2 .toggle {margin:4px 0}
.page_1 .img-wrap {text-align:center}
.page_1 .img-wrap img {width:300px;vertical-align:top}