.img-wrap {position:relative;padding:40px 40px 60px}
.img-wrap img {width:100%}
.img-wrap [class*='txt-'] {position:absolute;bottom:20px}
.img-wrap .txt-1 {left:105px}
.img-wrap .txt-2 {left:385px}
.img-wrap .txt-3 {left:628px}
.img-wrap .txt-4 {left:888px}

.flex-group {display:flex}
.flex-group .flex-item {flex:1 auto;display:flex;justify-content:center;align-items:center}
.flex-group .flex-item img {height:150px;margin-right:20px}