#wrap header .title:before {top:24px}
.contentsList .bullet.circleDot {position:relative;top:16px}
.contentsList .bunsuWrap ul > li:first-of-type {border-color:#fff}
.colorBox {position:relative;margin:20px auto 0}
.colorBox .bunsuWrap ul > li:first-of-type {border-color:#000}
.item-group {position:relative;display:flex;justify-content:center;align-items:flex-end;padding:20px}
.item-group .text-item {display:flex;align-items:center}
.item-group .img-item img {width:478px;height:280px}