#wrap header .title:before {top:24px}
.contentsList .bullet.circleDot {position:relative;top:16px}
.contentsList .bunsuWrap ul > li:first-of-type {border-color:#fff}
.colorBox {position:relative;display:flex;justify-content:center;align-items:center;width:360px;height:200px;margin:40px auto 0}
.colorBox .bunsuWrap ul > li:first-of-type {border-color:#000}