@charset "utf-8";

.img-wrap{
    width:400px; height: 400px;
    position: absolute;
    bottom:-24px;
    left:-56px;
}
.img-wrap img{width:100%;}
.img-wrap .txt,
.img-wrap .cardlist-item{position: absolute;}
.img-wrap .txt{top:20px; left:120px; font-size: 30px;}
.img-wrap .cardlist-item{top:73px; left:140px; padding: 0;}
.img-wrap .cardlist-item .answer{line-height: 1.6;}
.innerTab_1 .dapCheckBtn:before {
    content: "예 보기";
    padding-left: 26px
}
.innerTab_1 .dapCheckBtn{
    background-color: #00a0ff;
}

.innerTab_1 .dapCheckBtn.reset:before {
    padding-left: 19px;
    content: "다시하기"
}
.innerTab_1 .dapCheckBtn.reset{
    background-color: #236cbb;
}
.cardlist-item .bullet.exam{position: absolute; top:5px; left:-56px;}

.innerTab_2 .img-wrap{bottom:96px; left:54px;}
.innerTab_2 .img-wrap .cardlist-item {left:160px}
.innerTab_2 .icon_arrow {position: absolute; top:41%; left:48%;}
.innerTab_2 .dotList{position: absolute; top:150px; right:30px;}
.innerTab_2 .dotList .txt{width:270px}
.innerTab_2 .dotList .toggle{width:100px;}


.cardlist-wrap{display: flex; justify-content: flex-end; margin-bottom:10px;}
.cardlist-item{width:130px; height:60px; background: url(../images/suh_h_0301_03_0910_101_1_2.png) no-repeat 0 0 / cover; margin-left:10px; text-align: center; line-height: 60px;}

.innerTab_3 h2{letter-spacing: -1px;}
.innerTab_3 .lineBox{width:330px; margin:0 auto 40px; padding-left:40px}
.innerTab_3 .lineBox .bullet {transform: translate(0, 5px);}
.innerTab_3 .toggle .answer{display: flex; justify-content: flex-start; text-align: justify;}





















