
.quiz-input-text input.input, .quiz-input-text textarea.input, .quiz-input-text .answer {
	font-size: 35px;
}
#quiz-01 .input-cont:nth-child(1) {
	width: 440px;
    left: 490px;
    top: 330px;
}

#quiz-02 .input-cont:nth-child(1) {
    width: 440px;
    left: 490px;
    top: 329px;
}

