#wrap header .title:before{top:20px;}
.colorBox.check{display: inline-block;vertical-align: middle;margin: 0;}

.flex-box{align-items: center;}

.bullet.exam{margin-top: 8px;}

.lineBox{width:80%;}
.lineBox .flex-box{justify-content: center;}