
@charset "utf-8";

/***********************
* 초등 전자저작물 *
* 수학 3-4학년 *
* solve.css *
***********************/


.popup_pages > li.solve > p + *:not(.popup_closeBtn) {
  margin-top: 20px;
}

.popup_pages > li.solve > *:not(:first-child) {
  display: flex;
  align-items: center;
}

.popup_pages > li.solve > *.contentCenter {
  justify-content: center;
}