#wrap main {z-index:0}
.popup_container{z-index: 1;}

.suhi h2 .blankBox{margin-top:4px;}
.popup_pages>li.whole h2.pop-tit{background-color:transparent !important; align-self:flex-start; padding:20px; }
.popup_pages .buttonContainer{right: 40px;}
.type-iframe .buttonContainer.left{left:56px; right: auto;}
.type-iframe .buttonContainer{right:225px;}
.btns-bottom-right {bottom:10px}


.page_0 .flex-wrap{width: 100%; justify-content: space-around; text-align: center;}
.page_0 .flex-wrap > div{flex:1; margin:0 20px; width:33%; padding-top:150px; position: relative;}
.page_0 .flex-wrap img{width:200px}
.page_0 .flex-wrap .balloon{top:0; width:100%; text-align: center;}
.page_0 .dot{position: absolute;}

.page_0 .colorBox{
    position: relative;
    display: flex;
    justify-content: center;
    padding:80px 30px 40px;
    margin-bottom:20px
}
.page_0 .flex-item-1 .dot.n1{top:20px; left:40px;}
.page_0 .flex-item-1 .dot.n2{top:20px; right:40px;}
.page_0 .flex-item-2 .dot.n1{top:20px; left:80px;}
.page_0 .flex-item-2 .dot.n2{top:20px; right:80px;}
.page_0 .flex-item-3 .dot.n1{top:20px; left:40px;}
.page_0 .flex-item-3 .dot.n2{top:20px; right:80px;}

.page_1 .ox-wrap{display: flex; width: 100%; justify-content: space-around;}
.page_1 .grayBox.n1{
    width:300px;
    height: 300px;
    background:url(../images/suhi_p_0301_02_0002_4.png) no-repeat 50% 50% / 200px;
}
.page_1 .grayBox.n2{
    width:300px;
    height: 300px;
    background:url(../images/suhi_p_0301_02_0002_5.png) no-repeat 50% 50% / 200px;
}
.page_1 .grayBox.n3{
    width:300px;
    height: 300px;
    background:url(../images/suhi_p_0301_02_0002_6.png) no-repeat 50% 50% / 250px;
}
.page_1 .icon{
    width:120px;
    height: 120px;
    left:50%;
    top:50%;
    margin:-60px 0 0 -60px;
    position: absolute;
}

.pop_page_1.whole .ox-wrap{display: flex; width: 100%; justify-content: space-around;}
.pop_page_1.whole .grayBox.n1{
    width:300px;
    height: 300px;
    transform: rotate(120deg);
    background:url(../images/suhi_p_0301_02_0002_5.png) no-repeat 50% 50% / 200px;
}
.pop_page_1.whole .grayBox.n2{
    width:300px;
    height: 300px;
    background:url(../images/suhi_p_0301_02_0002_4.png) no-repeat 50% 50% / 200px;
}
.pop_page_1.whole .grayBox.n3{
    width:300px;
    height: 300px;
    background:url(../images/suhi_p_0301_02_0002_6.png) no-repeat 50% 50% / 250px;
}
.pop_page_1.whole .icon{
    width:120px;
    height: 120px;
    left:50%;
    top:50%;
    margin:-60px 0 0 -60px;
    position: absolute;
}
.pop_page_1 .icon_o_title{transform: translate(0, 3px);}
.pop_page_2 .icon_o_title{transform: translate(0, 3px);}
.pop_page_3 .icon_o_title{transform: translate(0, 3px);}

.page_2 .ox-wrap{display: flex; width: 100%; justify-content: space-around;}
.page_2 .grayBox.n1{
    width:300px;
    height: 300px;
    background:url(../images/suhi_p_0301_02_0002_7.png) no-repeat 50% 50% / 200px;
}
.page_2 .grayBox.n2{
    width:300px;
    height: 300px;
    background:url(../images/suhi_p_0301_02_0002_8.png) no-repeat 50% 50% / 200px;
}
.page_2 .grayBox.n3{
    width:300px;
    height: 300px;
    background:url(../images/suhi_p_0301_02_0002_9.png) no-repeat 50% 50% / 200px;
}
.page_2 .icon{
    width:120px;
    height: 120px;
    left:50%;
    top:50%;
    margin:-60px 0 0 -60px;
    position: absolute;
}

.pop_page_2.whole .ox-wrap{display: flex; width: 100%; justify-content: space-around;}
.pop_page_2.whole .grayBox.n1{
    width:300px;
    height: 300px;
    background:url(../images/suhi_p_0301_02_0002_10.png) no-repeat 50% 50% / 250px;
}
.pop_page_2.whole .grayBox.n2{
    width:300px;
    height: 300px;
    background:url(../images/suhi_p_0301_02_0002_11.png) no-repeat 50% 50% / 200px;
}
.pop_page_2.whole .grayBox.n3{
    width:300px;
    height: 300px;
    background:url(../images/suhi_p_0301_02_0002_12.png) no-repeat 50% 50% / 250px;
}
.pop_page_2.whole .icon{
    width:120px;
    height: 120px;
    left:50%;
    top:50%;
    margin:-60px 0 0 -60px;
    position: absolute;
}

.page_3 .ox-wrap{display: flex; width: 100%; justify-content: space-around;}
.page_3 .grayBox.n1{
    width:300px;
    height: 300px;
    background:url(../images/suhi_p_0301_02_0002_13.png) no-repeat 50% 50% / 200px;
}
.page_3 .grayBox.n2{
    width:300px;
    height: 300px;
    background:url(../images/suhi_p_0301_02_0002_14.png) no-repeat 50% 50% / 200px;
}
.page_3 .grayBox.n3{
    width:300px;
    height: 300px;
    background:url(../images/suhi_p_0301_02_0002_15.png) no-repeat 50% 50% / 200px;
}
.page_3 .icon{
    width:120px;
    height: 120px;
    left:50%;
    top:50%;
    margin:-60px 0 0 -60px;
    position: absolute;
}

.pop_page_3.whole .ox-wrap{display: flex; width: 100%; justify-content: space-around;}
.pop_page_3.whole .grayBox.n1{
    width:300px;
    height: 300px;
    background:url(../images/suhi_p_0301_02_0002_17.png) no-repeat 50% 50% / 250px;
}
.pop_page_3.whole .grayBox.n2{
    width:300px;
    height: 300px;
    background:url(../images/suhi_p_0301_02_0002_3.png) no-repeat 50% 50% / 220px;
}
.pop_page_3.whole .grayBox.n3{
    width:300px;
    height: 300px;
    background:url(../images/suhi_p_0301_02_0002_16.png) no-repeat 50% 50% / 200px;
}
.pop_page_3.whole .icon{
    width:120px;
    height: 120px;
    left:50%;
    top:50%;
    margin:-60px 0 0 -60px;
    position: absolute;
}

.page_4 .flex-wrap{width: 100%; justify-content: space-around; text-align: center;}
.page_4 .flex-wrap > div{flex:1; margin:0 20px; width:33%; padding-top:0; position: relative;}
.page_4 .flex-wrap img{width:200px}
.page_4 .dot{position: absolute;}
.page_4 .toggle{height: 110px; display: flex; align-items: center; justify-content: center;}
.page_4 .img-wrap{
    position: relative;
    display: flex;
    justify-content: center;
    padding:0 30px 0;
    margin-bottom:20px;
    height: 200px;
    align-items: center;
}
.page_4 .flex-item-1 .dot.n1{top:80px; left:40px;}
.page_4 .flex-item-1 .dot.n2{top:20px; right:50px;}
.page_4 .flex-item-2 .dot.n1{top:50px; left:80px;}
.page_4 .flex-item-2 .dot.n2{top:50px; right:80px;}
.page_4 .flex-item-3 .dot.n1{top:20px; left:100px;}
.page_4 .flex-item-3 .dot.n2{top:90px; right:60px;}

.whole.pop_page_4 .flex-wrap{width: 100%; justify-content: space-around; text-align: center;}
.whole.pop_page_4 .flex-wrap > div{flex:1; margin:0 20px; width:33%; padding-top:0; position: relative;}
.whole.pop_page_4 .flex-wrap img{width:200px}
.whole.pop_page_4 .dot{position: absolute;}
.whole.pop_page_4 .toggle{height: 110px; display: flex; align-items: center; justify-content: center;}
.whole.pop_page_4 .img-wrap{
    position: relative;
    display: flex;
    justify-content: center;
    padding:0 30px 0;
    margin-bottom:20px;
    height: 200px;
    align-items: center;
}
.whole.pop_page_4 .flex-item-1 .dot.n1{top:50px; left:40px;}
.whole.pop_page_4 .flex-item-1 .dot.n2{top:50px; right:100px;}
.whole.pop_page_4 .flex-item-2 .dot.n1{top:50px; left:50px;}
.whole.pop_page_4 .flex-item-2 .dot.n2{top:50px; right:50px;}
.whole.pop_page_4 .flex-item-3 .dot.n1{top:100px; left:100px;}
.whole.pop_page_4 .flex-item-3 .dot.n2{top:50px; right:100px;}
.whole.pop_page_4 .flex-item-3 img{margin-top:-50px;}
.whole.pop_page_4 .btns-bottom-right{bottom:0;}

.page_5 .page-iframe{width:1058px; height:530px; overflow: hidden; border:0; position:absolute;top: 80px;}
.whole.pop_page_5 .page-iframe{width:1089px; height:570px; overflow: hidden; border:0; position:absolute;top: 180px;}

.page_5 .flex-wrap{width:1058px; font-size: 40px; margin-top:100px}
.page_5 .flex-wrap > div{margin:0 20px; flex:1; height: 200px;}
.page_5 .flex-wrap .lineBox{position: relative; background-color: transparent;}
.page_5 .flex-wrap .colorBox{position: absolute; display: block; text-align: center; top:-30px;
left:50%; ; transform: translate(-50%, 0); width: 80%;}

.page_5 .flex-wrap .dot{position: absolute; top:110px}
.page_5 .flex-wrap .dot::after{content:"";
display: block; width:12px; height:12px; border-radius:50%; top:-12px; left:12px;
background-color: #000; position:absolute;}

.page_5 .flex-item-1 .dot.n1{left:50px}
.page_5 .flex-item-1 .dot.n2{right:50px}
.page_5 .flex-item-2 .dot.n1{left:50px}
.page_5 .flex-item-2 .dot.n2{right:50px}
.page_5 .flex-item-3 .dot.n1{left:50px}
.page_5 .flex-item-3 .dot.n2{right:50px}
.page_5 .answer .line{display: block; width:100px; border-top:5px solid #00a0ff; position: absolute; top:207px;}
.page_5 .answer .line.n1{width:260px; left:50px}
.page_5 .answer .line.n2{width:210px; left:400px}
.page_5 .answer .line.n3{width:164px; left:800px}
.page_5 .q-bg{z-index: 2;}
.page_5 .quiz-check{z-index:1;}
.page_5 .app-angle-tool{z-index: 3 !important;}
.page_5 .app-angle-tool .not-obj{height:71%}
.page_5.t-2 .answer .line.n1{width:170px; left:90px}
.page_5.t-2 .answer .line.n2{width:260px; left:400px}
.page_5.t-2 .answer .line.n3{width:204px; left:800px}
.page_5.t-2 .flex-wrap{width:1058px; font-size: 40px; margin-top:150px}
.page_5.t-2 .btns-bottom-right{bottom:0;}

.page_6 .colorBox.purple{color:#000;}
.page_6 .blankBox.w50 {
    min-width:40px;
    min-height:40px;
    max-width:40px;
    max-height:40px;
    transform: translate(0, 4px);
}

.popup_pages .textBookPopup .popupInner{height: auto;}
.popup_pages .textBookPopup .popupInner .bullet {transform: translate(0,6px);}
.icon_bogi.tit {
    height: 36px;
    margin: 8px 4px 0 4px!important;
    border-radius: 10px;
    vertical-align: top;
}
.icon_bogi.tit:after {
    font-size: 21px;
    line-height: 36px;
}
.pop_page_6 section{padding: 30px;}
.pop_page_6 .bogi_wrap{
    width: 930px;
    margin: 0 auto;
    font-size: 40px;
}
.pop_page_6 .bogi_wrap .inner > div{margin:20px 0;}
.pop_page_6 .bogi_wrap .inner .bullet{transform: translate(0,6px);}

.pop_page_6 .bullet.number {transform: translate(0,4px);}

.bullet.number.green {
    color: #6dbc4b;
    border: 2px solid #6dbc4b;
    background-color: #fff;
}
.pop_page_6 .flex-wrap > div > div{display: inline-block; vertical-align: middle;}
.pop_page_6 .flex-wrap > div {margin:0 20px;}
.pop_page_6 .flex-wrap {width:100%; justify-content: center; margin:30px 0}
.pop_page_6 .flex-wrap .bullet {vertical-align: middle;}

.page_6 .flex-wrap{width: 100%; text-align: center;}
.page_6 .flex-wrap>div{width:300px; flex:1; margin:0 20px}
.page_6 .lineBox{width:100%; position: relative; height: 200px; top:30px; margin-bottom: 50px;}
.page_6 .lineBox .colorBox{position: absolute; top:-40px; left:50%; transform: translate(-50%, 0);}
.page_6 .answer .bullet{transform: translate(0, 4px);}

.page_6 .flex-item-1 .lineBox{background: url(../images/suhi_p_0301_02_0002_9.png) no-repeat 50% 50% / 200px;}
.page_6 .flex-item-2 .lineBox{background: url(../images/suhi_p_0301_02_0002_14.png) no-repeat 50% 50% / 200px;}
.page_6 .flex-item-3 .lineBox{background: url(../images/suhi_p_0301_02_0002_11.png) no-repeat 50% 50% / 200px;}











