
.app-mind-map .map.title {
    left: 483px;
    top: 318px;
}

.app-mind-map .map-01 {
    left: 486px;
    top: 80px;
}
.app-mind-map .map-02 {
    left: 712px;
    top: 92px;
}
.app-mind-map .map-03 {
    left: 852px;
    top: 233px;
}
.app-mind-map .map-04 {
    left: 891px;
    top: 377px;
}
.app-mind-map .map-05 {
    left: 655px;
    top: 545px;
}
.app-mind-map .map-06 {
    left: 211px;
    top: 516px;
}
.app-mind-map .map-07 {
    left: 39px;
    top: 355px;
}
.app-mind-map .map-08 {
    left: 71px;
    top: 186px;
}