#quiz-01 .input-cont:nth-child(1) {
    width: 120px;
    left: 476px;
    top: 281px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 200px;
    left: 816px;
    top: 281px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 120px;
    left: 476px;
    top: 451px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 200px;
    left: 816px;
    top: 451px;
}


.btn-answer-part:nth-child(1) {
    left: 1026px;
    top: 289px;
}
.btn-answer-part:nth-child(2) {
    left: 1026px;
    top: 459px;
}
