#quiz-01 .input-cont:nth-child(1){
    width:260px;
    left:109px;
    top:271px;
    
}
#quiz-01 .input-cont:nth-child(2){
    width:260px;
    left:839px;
    top:271px;
    
}

.btn-answer-part:nth-child(1) {
    left: 452px;
    top: 191px;
}
.btn-answer-part:nth-child(2) {
    left: 1182px;
    top: 191px;
}
.btn-answer-part{
    margin: -183px 0 0 -3px;
}

.quiz-input-text .input-cont {
    margin: -179px 0 0 3px;
}