

.page_1 .img-wrap{width: 540px;margin: 100px auto;position: relative;}
.page_1 .img-wrap img{width: 100%;}
.page_1 .oxContainer{cursor: pointer; position: absolute;}
.page_1 .oxContainer .icon_o, 
.page_1 .oxContainer .icon_x{width:80px; height:80px; margin:-40px 0 0 -40px;}
.page_1 .oxContainer.n1{top: 50px;left: 66px;}
.page_1 .oxContainer.n2{top: 50px;left: 364px;}

.page_3 .lineBox{width:590px; margin:0 auto}

.page_4 .img-wrap{width: 790px;margin: 120px auto 40px;}
.page_4 .img-wrap img{width: 100%;}
.page_4 .img-wrap > div{position: absolute; text-align: center;}
.page_4 .b1{top:0;left: 150px;}
.page_4 .b2{top:0;left: 400px;}
.page_4 .b3{top:0;left: 770px;}
.page_4 .n1{top: 310px;left: 230px;}
.page_4 .n2{top: 310px;left: 482px;}
.page_4 .n3{top: 310px;left: 760px;}

.page_5 .colorBox.check{width:110px; text-align: center;}
.page_5 .check-tit {padding-left:400px; margin-top:50px}

.page_6 .toggle.noicon{background-color: transparent;top: 110px;left: 130px; z-index: 1;}
.page_6 .colorBox.check{width:110px; text-align: center;}

.page_7 .innerTab_1 .toggle.noicon{background-color: transparent;top: 120px;left: 150px;z-index: 1;}
.page_7 .innerTab_2 .toggle.noicon{background-color: transparent;top: 110px;left: 150px;z-index: 1;}
.page_7 .colorBox.check{width:110px; text-align: center;}

.page_8 .lineBox{position: relative;width: 150px;text-align: center;margin: 0 50px;}
.page_8 .lineBox .txt{position: absolute; top:-60px;left: 20px;}
.page_8 .l1{display: flex; position: relative; z-index:1 }
.page_8 .l2{display: flex; position: relative; z-index:1 }
.page_8 .l3{display: flex;position: absolute;top: 275px; z-index: 0;}
.page_8 .l1 .lineBox{border-radius: 50px;}
.page_8 .l3 .lineBox{width: 240px;margin: 0 4px;height: 100px;border-bottom: 0;}

.page_9 img{width: 960px;display: block; margin:0 auto}
.page_9 .t1{position: absolute;top: 200px;left: 170px;}
.page_9 .t2{position: absolute;top: 200px;left: 780px;}


.page_10 img{width: 550px;display: block;margin: 30px auto 0;}
.page_10 .img-wrap > div{position: absolute;}
.page_10 .img-wrap .t1{top: 130px;left: 370px;}
.page_10 .img-wrap .b1{top: 80px;left: 10px;}
.page_10 .img-wrap .t1 .icon_arrow{transform: rotate(90deg);margin-left: 132px;}
.page_10 .img-wrap .t1-2{text-indent: 124px;}

.page_10 .ss3{position: absolute;top: 413px;left: 140px;}




.popup_contents .math-calc-side{white-space: nowrap;}
.pop_page_6 .ms1-2{transform: translate(0,158px);}
.pop_page_7 .ms1-2{transform: translate(0,240px);}
.pop_page_7_2 .ms1-2{transform: translate(0,158px);}

.pop_page_8 .lineBox{position: relative;width: 150px;text-align: center;margin: 0 50px;}
.pop_page_8 .lineBox .txt{position: absolute; top:-60px;left: 20px;}
.pop_page_8 .l1{display: flex; position: relative; z-index:1 }
.pop_page_8 .l2{display: flex; position: relative; z-index:1 }
.pop_page_8 .l4{display: flex; position: relative; z-index:1 }
.pop_page_8 .l3_2{display: flex;position: absolute;top: 322px;z-index: 0;}
.pop_page_8 .l3{display: flex;position: absolute;top: 275px; z-index: 0;}
.pop_page_8 .l4 .lineBox,
.pop_page_8 .l1 .lineBox{border-radius: 50px;}
.pop_page_8 .l3 .lineBox{width: 240px;margin: 0 4px;height: 100px;border-bottom: 0;}
.pop_page_8 .l3_2 .lineBox{width: 240px;margin: 0 4px;height: 100px;border-top: 0;}

















