.img-wrap {width:100%;position: relative;height: 420px;}
.img-wrap > div{position: absolute;}
.img-wrap img{width:100%;display:block;}
.img-wrap .img1{width: 830px;top: 30px;left: 103px;}
.img-wrap .img1 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}

.img-wrap .img2{width: 357px;top: 51px;left: 575px;}
.img-wrap .img2 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}


.img-wrap .n1{top: 207px;left: 506px;position: absolute !important;}


.toggle-img{opacity: 0;}
.toggle-img.on {opacity: 1;}

.f1{position: absolute;top: 200px;left: 179px;}
.f2{position: absolute;top: 30px;left: 430px;}
.f3{position: absolute;top: 150px;left: 540px;}
.f4{position: absolute;top: 150px;left: 540px;}

.complete.click-finger-Btn {display: none;}

.supply_guide{position: absolute;left: 300px;top: 65px;}
.videoSubPlayBtn{position: absolute; right:0; top:0;}
.popup_contents{word-break: keep-all; letter-spacing: -1px;}