@charset "utf-8";
.gate_container .downloadBtn {right: 20px;left: auto;}
.downloadBtn {left: 0;bottom: 10px;}
.downloadBtn::before {content: attr(data-name);}
.contentsList .icon_arrow {width: auto !important;margin: 0 10px;}
.lineBox .bullet.number,
h2 .bullet.number {margin-top: 5px;}
h2 .blankBox.w50 {max-width: 40px !important;min-width: 40px !important;max-height: 40px !important;min-height: 40px !important;transform: translate(0, 0px);}
.buttonContainer.iframe {right: 170px;}
.checkContainer h2 .toggleBlank {margin-top: 8px;}
.checkContainer .contentsBox .basicSlider_tabs {width: 600px}
.ico-circle {display: inline-block;width: 40px;height: 40px;border: 5px solid #008dd0;border-radius: 50%;vertical-align: middle;transform: translate(0, -4px);}
.q-type-1 {display: flex;justify-content: center;}
.q-type-1 > .flex-wrap{width: auto;align-items: flex-start;}
.q-type-1 > .flex-wrap .flex-wrap{align-items: center;}
.lineBox.circle {border-radius: 50%;width: 80px;height: 80px;padding: 0;display: flex;justify-content: center;align-items: center;}
.line-arrow{position: absolute;top: 40px;left: 325px;width:50px;height: 90px;border:4px solid #00a0ff;border-left:0;}
.line-arrow .colorBox{position: absolute;left: 40%;top: -72px}
.line-arrow::after{content: "";width:20px;height: 20px;border:4px solid #00a0ff;border-right:0;border-bottom:0;position: absolute;}
.line-arrow.rb::after{bottom: -14px;left: 3px;transform: rotate(-45deg);}


.toggle-img{opacity: 0;}
.toggle-img.on,
[class*="img"].on .toggle-img{opacity: 1;}
.click-finger-Btn.complete{display: none;}

/* page */
.page_1 .img-wrap {width:100%;position: relative;height: 380px;}
.page_1 .img-wrap img{width:100%;}
.page_1 .img-wrap > div{position: absolute;}
.page_1 .img-wrap .img1{width: 330px;top: 26px;left: 334px;}
.page_1 .img-wrap .img1 img.toggle-img{position: absolute;width: 100%; top:0;left: 0px;}
.page_1 .img-wrap .n1{top: 157px;left: 130px;position: absolute;}
.page_1 .img-wrap .n2{top: 210px;left: 530px;}
.page_1 .img-wrap .n3{top: 296px;left: 528px;}
.page_1 .f1{position: absolute;top: 130px;left: 450px;}

.page_2 .img-wrap {width:100%;position: relative;height: 380px;}
.page_2 .img-wrap img{width:100%;}
.page_2 .img-wrap > div{position: absolute;}
.page_2 .img-wrap .img1{width: 330px;top: 26px;left: 334px;}
.page_2 .img-wrap .img1 img.toggle-img{position: absolute;width: 100%; top:0;left: 0px;}
.page_2 .img-wrap .n1{top: 157px;left: 130px;position: absolute;}
.page_2 .img-wrap .n2{top: 210px;left: 530px;}
.page_2 .img-wrap .n3{top: 296px;left: 528px;}
.page_2 .f1{position: absolute;top: 130px;left: 450px;}

.page_3 .img-wrap {width:100%;position: relative;height: 380px;}
.page_3 .img-wrap img{width:100%;}
.page_3 .img-wrap > div{position: absolute;}
.page_3 .img-wrap .img1{width: 330px;top: 26px;left: 334px;}
.page_3 .img-wrap .img1 img.toggle-img{position: absolute;width: 100%; top:0;left: 0px;}
.page_3 .img-wrap .n1{top: 157px;left: 130px;position: absolute;}
.page_3 .img-wrap .n2{top: 210px;left: 530px;}
.page_3 .img-wrap .n3{top: 296px;left: 528px;}
.page_3 .f1{position: absolute;top: 130px;left: 450px;}




.page_4 .img-wrap {width:100%;position: relative;height: 380px;}
.page_4 .img-wrap img{width:100%;}
.page_4 .img-wrap > div{position: absolute;}
.page_4 .img-wrap .img1{width: 450px;top: 0px;left: 273px;}
.page_4 .img-wrap .n1{top: 60px;left: 440px;}
.page_4 .img-wrap .n2{top: 60px;left: 557px;}
.page_4 .img-wrap .n3{top: 141px;left: 481px;}
.page_4 .img-wrap .n4{top: 252px;left: 400px;}
.page_4 .img-wrap .n5{top: 252px;left: 630px;}
.page_4 .img-wrap .ox1{top: 155px;left: 463px;}
.page_4 .img-wrap .ox2{top: 77px;left: 425px;}
.page_4 .img-wrap .ox3{top: 264px;left: 361px;}
.page_4 .img-wrap .ox4{top: 76px;left: 536px;}
.page_4 .img-wrap .ox5{top: 264px;left: 612px;}
.page_4 .oxContainer .icon{position: relative;top: 0;left: 0;margin: 0;width: 70px;height: 70px;}

.page_5 .img-wrap {width:100%;position: relative;height: 327px;}
.page_5 .img-wrap img{width:100%;}
.page_5 .img-wrap > div{position: absolute;}
.page_5 .img-wrap .img1{width: 290px;top: 0px;left: 355px;}
.page_5 .img-wrap .n1{top: -38px;left: 460px;}
.page_5 .img-wrap .n2{top: -20px;left: 566px;}
.page_5 .img-wrap .n3{top: 121px;left: 647px;}
.page_5 .img-wrap .n4{top: 249px;left: 580px;}
.page_5 .img-wrap .n5{top: 277px;left: 444px;}
.page_5 .img-wrap .n6{top: 137px;left: 488px;}
.page_5 .img-wrap .n7{top: 258px;left: 387px;}
.page_5 .img-wrap .n8{top: 120px;left: 317px;}

.page_6 .img-wrap {width:100%;position: relative;height: 330px;}
.page_6 .img-wrap > div{position: absolute;}
.page_6 .img-wrap img{width:100%;display:block;}
.page_6 .img-wrap .img1{width: 720px;top: 0px;left: 137px;}
.page_6 .img-wrap .img2{width: 720px;top: 0px;left: 138px;}
.page_6 .img-wrap .img3{width: 720px;top: 0px;left: 136px;}
.page_6 .img-wrap .img2 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}
.page_6 .img-wrap .img3 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}
.page_6 .img-wrap .n1{top: 10px;left: 7px;position: absolute;}
.page_6 .img-wrap .n2{top: 10px;left: 401px;position: absolute;}
.page_6 .f1{position: absolute;top: 240px;left: 250px;}
.page_6 .f2{position: absolute;top: 303px;left: 640px;}

.page_7 .img-wrap {width:100%;position: relative;height: 380px;}
.page_7 .img-wrap img{width:100%;}
.page_7 .img-wrap > div{position: absolute;}
.page_7 .img-wrap .img1{width: 880px;top: 40px;left: 59px;}
.page_7 .img-wrap .ox1{top: 91px;left: 423px;}
.page_7 .img-wrap .ox2{top: 91px;left: 111px;}
.page_7 .img-wrap .ox3{top: 91px;left: 735px;}
.page_7 .oxContainer .icon{position: relative;top: 0;left: 0;margin: 0;width: 150px;height: 150px;}

.page_8 .img-wrap {width:100%;position: relative;height: 350px;}
.page_8 .img-wrap > div{position: absolute;}
.page_8 .img-wrap img{width:100%;display:block;}
.page_8 .img-wrap .img1{width: 310px;top: 23px;left: 345px;}
.page_8 .img-wrap .img1 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}
.page_8 .img-wrap .n1{top: 0;left: -40px;position: absolute;}
.page_8 .img-wrap .n2{top: 180px;left: 480px;}
.page_8 .img-wrap .n3{top: 130px;left: 259px;}
.page_8 .img-wrap .n4{top: 130px;left: 725px;}
.page_8 .f1{position: absolute;top: 220px;left: 480px;}

.page_9 .img-wrap {width:100%;position: relative;height: 327px;}
.page_9 .img-wrap img{width:100%;}
.page_9 .img-wrap > div{position: absolute;}
.page_9 .img-wrap .img1{width: 290px;top: 0px;left: 355px;}
.page_9 .img-wrap .n1{top: 12px;left: 360px;}
.page_9 .img-wrap .n2{top: 117px;left: 326px;}
.page_9 .img-wrap .n3{top: 171px;left: 333px;}
.page_9 .img-wrap .n4{top: 237px;left: 370px;}
.page_9 .img-wrap .n5{top: 169px;left: 629px;}
.page_9 .img-wrap .n6{top: 94px;left: 481px;}
.page_9 .img-wrap .n7{top: 118px;left: 637px;}
.page_9 .img-wrap .n8{top: 6px;left: 597px;}

.popup_contents{word-break: keep-all;}
.pop_page_1 .popup_contents{letter-spacing: -1px;}
.pop_page_8 .popup_contents{letter-spacing: -1px;}


