.toggle-img.on,
[class*="img"].on .toggle-img{opacity: 1;}
.click-finger-Btn.complete{display: none;}
.toggle-img{opacity: 0;}



.page_1 .img-wrap {width:100%;position: relative;height: 460px;}
.page_1 .img-wrap > div{position: absolute;}
.page_1 .img-wrap img{width:100%;display:block;}
.page_1 .img-wrap .img1{width: 940px;top: 43px;left: 90px;}
.page_1 .img-wrap .img1 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}
.page_1 .img-wrap .img2{width: 220px;top: 43px;left: 420px;}
.page_1 .img-wrap .img2 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}
.page_1 .img-wrap .img3{width: 220px;top: 43px;left: 750px;}
.page_1 .img-wrap .img3 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}
.page_1 .img-wrap .colorBox{position: absolute;top: -40px; left:50%;transform: translate(-50%, 0);white-space: nowrap;}
.page_1 .img-wrap .n1{position: absolute;top: 214px;left: 550px;}
.page_1 .img-wrap .n2{position: absolute;top: 164px;left: 40px;text-align: center;}
.page_1 .img-wrap .n3{position: absolute;top: 114px;left: 690px;text-align: center;}


.page_1 .f1{top: 250px;left: 510px;position: absolute;}
.page_1 .f2{top: 40px;left: 670px;position: absolute;}


.popup_pages .img-wrap{width:500px}
.popup_pages .img-wrap img{width: 100%;}
.popup_pages > .image {top:50%; left:50%;margin: -200px 0 0 -250px;}

#wrap header .title{margin-bottom:50px}
.supply_guide{top: 60px;left: 700px;}