#wrap header .title:before{top: 20px;}
.pop_page_1 img{margin: 100px auto 0;width: 100%;}
.pop_page_1 .left{top:100px;right: 30px;text-align: center;}
.pop_page_1 .right{top:100px;left: 30px;text-align: center;}

.page_2 .toggle .bullet.exam{margin-top: 20px;}

/* 비커 */
.flexContainer{display:flex;margin:0 auto;width:800px;height:380px;align-items:center;justify-content:space-between;}
.flexContainer > li{display:flex;flex-direction:column;align-items:center;justify-content:flex-start;}
.flexContainer .graph{position:relative;margin-bottom:30px;}
.flexContainer .click-finger-Btn{position:absolute;top:calc(50% - 15px);left:calc(50% - 26px);display:block;}
.flexContainer .click-finger-Btn.complete{display:none;}
.flexContainer .flex-box{align-items:center;}
.flexContainer > li:nth-child(1) .graph{width:400px;height:190px;background:url(../images/suh_0501_05_0006_201_1_01.png) no-repeat center / contain;}
.flexContainer > li:nth-child(1) .graph.on{background:url(../images/suh_0501_05_0006_201_1_1.png) no-repeat center / contain;}
.flexContainer > li:nth-child(2) .graph{width:400px;height:190px;background:url(../images/suh_0501_05_0006_201_1_02.png) no-repeat center / contain;}
.flexContainer > li:nth-child(2) .graph.on{background:url(../images/suh_0501_05_0006_201_1_2.png) no-repeat center / contain;}