.math_formula {margin:10px 0 0;text-align:center;}
.math_formula .math_formula_inner {display:inline-block;position:relative;}
.math_formula .line {position:absolute;border:3px solid skyblue;}
.math_formula .line.v01 {left:115px;top:60px;width:70px;height:50px;border-top:none;}
.math_formula .line.v02 {left:25px;top:60px;width:125px;height:130px;border-top:none;border-right:none;}
.math_formula .line.v02:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:3px solid skyblue;}
.math_formula .num {position:absolute;font-size:52px;}
.math_formula .num.v01 {left:130px;top:110px;}
.math_formula .num.v02 {left:65px;top:190px;}
