.contentsBox section{padding:0;}
.contentsBox .toggle .answer{position: relative;text-align: justify;}
.contentsBox .toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

.contentsBox .imgContainer {text-align:center;}
.contentsBox .imgContainer .img-box {display:inline-block;width:470px;height:260px;overflow:hidden;position:relative}
.contentsBox .imgContainer .img-box .imgCon {height:100%}
.contentsBox .imgContainer .img-box .imgCon .popBtn {width:100%;height:100%;background:url("../images/suh_0501_01_0002_202_1.png") no-repeat left center / auto 100%;}
.contentsBox .imgContainer .img-box .imgCon .popBtn .balloon1 {right:5px;top:10px;}
.contentsBox .imgContainer .img-box .imgCon .popBtn .balloon1:after {left:10px;}

.page_3 .textAlignC .lineBox {display:inline-block;}
.page_3 .toggle .answer{padding-left:60px;}

.popup_container .imgContainer {height:700px;text-align:center;}
.popup_container .imgContainer img {height:100%;}
.popup_container .balloon1 {top:250px;left:auto;right:210px;}