@charset "utf-8";

fomula.vertical {
  width: 320px;
  margin: 0 auto;
}
fomula.vertical > ul {
  width: calc(90px * 4);
}
fomula.vertical > ul > li {
  flex: 1 0 auto;
}
.flexListContainer {
  display: flex;
  align-items: center;
  height: 420px;
  margin: 0 auto 0;
  width: 1070px;
}
.flexListContainer > li {
  flex: 1 0 auto;
}
.flexListContainer fomula.vertical {
  width: 320px;
  margin: 0 auto;
}
/* ins{display: inline-block;} */
.cont{display:flex;padding-top:20px;align-items: center}
.spaceAround{justify-content: space-around;}
.inputQuizContainer1 figure{width:500px;margin:0 auto 30px}
.popup_pages > .solve figure {
  width: 700px;
  margin: 0 auto 20px;
}
.contentsArea .flexListContainer fomula.vertical input {
  text-align: right;
  padding-right: 18px;
  letter-spacing: 50px;
}
.contentsArea .flexListContainer fomula.vertical input.textLength_1 {
  letter-spacing: 5px;
}
.contentsArea .flexListContainer fomula.vertical input.textLength_2 {
  padding-left: 103px;
  text-indent: 102px;
  letter-spacing: 59px;
}
.contentsArea .flexListContainer fomula.vertical input.textLength_3 {
  padding-left: 58px;
  text-indent: 58px;
  letter-spacing: 59px;
}
.contentsArea .flexListContainer fomula.vertical input.textLength_4,
.contentsArea .flexListContainer fomula.vertical input.answerMode {
  padding-left: 13px;
  text-indent: 13px;
  letter-spacing: 59px;
}

.page2 .cont input {
  text-align: center;
  width: 200px;
}

input.answerMode[disabled] {
  opacity: 1;
  -webkit-text-fill-color: #0060e3;
}