@charset "utf-8";

fomula.vertical {
  width: 400px;
  margin: 0 auto;
}
fomula.vertical > ul {
  width: calc(80px * 5);
}
fomula.vertical > ul > li {
  flex: 1 0 auto;
}
.flexListContainer {
  display: flex;
  align-items: center;
  height: 420px;
  margin: 0 auto 0;
  width: 1070px;
}
.flexListContainer > li {
  flex: 1 0 auto;
}
.flexListContainer fomula.vertical {
  width: 400px;
  margin: 0 auto;
}
.inputQuizContainer1 figure{width:860px;margin:0 auto 30px}

.contentsArea .flexListContainer fomula.vertical input {
  text-align: right;
  padding-right: 18px;
  letter-spacing: 50px;
}
.contentsArea .flexListContainer fomula.vertical input.textLength_1 {
  letter-spacing: 0;
}
.contentsArea .flexListContainer fomula.vertical input.textLength_2 {
  padding-left: 130px;
  text-indent: 130px;
}
.contentsArea .flexListContainer fomula.vertical input.textLength_3 {
  padding-left: 89px;
  text-indent: 90px;
}
.contentsArea .flexListContainer fomula.vertical input.textLength_4 {
  padding-left: 50px;
  text-indent: 49px;
}
.contentsArea .flexListContainer fomula.vertical input.answerMode,
.contentsArea .flexListContainer fomula.vertical input.textLength_5 {
  padding-left: 10px;
  text-indent: 9px;
  letter-spacing: 50px;
}
.page2 .cont input {
  text-align: center;
  width: 200px;
}

input.answerMode[disabled] {
  opacity: 1;
  -webkit-text-fill-color: #0060e3;
}