@charset "utf-8";
fomula.vertical {
  width: 240px;
  margin: 0 auto;
}
fomula.vertical > ul {
  width: calc(80px * 3);
}
fomula.vertical > ul > li {
  flex: 1 0 auto;
}
.flexListContainer {
  display: flex;
  align-items: center;
  height: 420px;
  margin: 0 auto 0;
  width: 1070px;
}
.flexListContainer > li {
  flex: 1 0 auto;
}
.flexListContainer fomula.vertical {
  width: 240px;
  margin: 0 auto;
}
figure{width:560px;margin:0 auto}
.small{width:60px;background-position:50%}
.inp1,
.inp2,
.inp3 {
  width: 265px;
}
.inp1 {
  position: absolute;
  left: 348px;
  top: 196px;
}

.inp2 {
  position: absolute;
  left: 348px;
  top: 292px
}

.inp3 {
  position: absolute;
  left: 348px;
  top: 412px
}
.inputQuizContainer1 figure{width:500px;margin:0 0 20px}

.contentsArea input {
  width: 100%;
  height: 69px;
  font-size: 44px;
  text-align: right;
  padding-right: 18px;
  letter-spacing: 36px;
}
.contentsArea input.textLength_1 {
  letter-spacing: 0;
  padding-right: 28px;
}
.contentsArea input.textLength_2 {
  padding-left: 72px;
  text-indent: 72px;
}
.contentsArea input.textLength_3 {
  padding-left: 40px;
  text-indent: 41px;
}
.contentsArea input.answerMode,
.contentsArea input.textLength_4 {
  padding-left: 9px;
  text-indent: 9px;
  letter-spacing: 36px;
}


input.answerMode[disabled] {
  opacity: 1;
  -webkit-text-fill-color: #0060e3;
}