
.img_01 {
  height: 320px;
}

.page2 input {
  position: absolute;
  width: 172px;
  text-align: center;
}
.posInput_1 {
  top: 128px;
  left: 900px;
}
.posInput_2 {
  top: 252px;
  left: 525px;
}

.lesson_6 ul.list.dot > li:before {
  background-color: #8f8bb6;
}