
@charset "utf-8";

.basicSlider_slides > li > flex {
  align-items: flex-start;
}
.mainImg {
  height: 500px;
  margin-right: 30px;
}
.openAnswerContainer img {
  position: absolute;
}

.basicSlider_slides > li > flex .right .list { margin-top: 20px; }


/* page1 */
.page1 .clickButton {
  top: -28px;
  left: 617px;
}
.page1 .openAnswerContainer img {
  height: 93px;
  opacity: 0;
}
.page1 .right .img_1 {
  top: 68px;
  left: 162px;
}
.page1 .right .img_2 {
  top: 135px;
  left: 123px;
}
.page1 .right .img_3 {
  top: 203px;
  left: 84px;
}
.page1 .right .img_4 {
  top: 271px;
  left: 123px;
}
.page1 .right .img_5 {
  top: 338px;
  left: 162px;
}


/* page2 */
.page2 .clickButton {
  top: -28px;
  left: 510px;
}
.page2 .openAnswerContainer img {
  height: 295px;
  opacity: 0;
}
.page2 .right .img_1 {
  top: 1px;
  left: 84px;
}
.page2 .right .img_2 {
  top: 68px;
  left: 123px;
}
.page2 .right .img_3 {
  top: 136px;
  left: 162px;
}
.page2 .right .img_4 {
  top: 203px;
  left: 201px;
}


/* page3 */
.page3 .clickButton {
  top: -28px;
  left: 510px;
}
.page3 .openAnswerContainer img {
  height: 295px;
  /* opacity: 0; */
}
.page3 .right .img_1 {
  top: 1px;
  left: 201px;
}
.page3 .right .img_2 {
  top: 68px;
  left: 162px;
}
.page3 .right .img_3 {
  top: 136px;
  left: 123px;
}
.page3 .right .img_4 {
  top: 203px;
  left: 84px;
}


/* page4 */
.page4 input {
  position: absolute;
  width: 87px;
  text-align: center;
}
.posInput_1 {
  top: 285px;
  left: 198px;
}
.posInput_2 {
  top: 421px;
  left: 195px;
}





[class *= 'openAnswer_'] {
  opacity: 0;
}
.on[data-toggle-target] > .openAnswer_1 {
  -webkit-animation: opacityOne 1s ease-in 0.5s backwards;
  -ms-animation: opacityOne 1s ease-in 0.5s backwards;
  -moz-animation: opacityOne 1s ease-in 0.5s backwards;
  -o-animation: opacityOne 1s ease-in 0.5s backwards;
  animation: opacityOne 1s ease-in 0.5s backwards;
}
.on[data-toggle-target] > .openAnswer_2 {
  -webkit-animation: opacityOne 1s ease-in 1.5s backwards;
  -ms-animation: opacityOne 1s ease-in 1.5s backwards;
  -moz-animation: opacityOne 1s ease-in 1.5s backwards;
  -o-animation: opacityOne 1s ease-in 1.5s backwards;
  animation: opacityOne 1s ease-in 1.5s backwards;
}
.on[data-toggle-target] > .openAnswer_3 {
  -webkit-animation: opacityOne 1s ease-in 2.5s backwards;
  -ms-animation: opacityOne 1s ease-in 2.5s backwards;
  -moz-animation: opacityOne 1s ease-in 2.5s backwards;
  -o-animation: opacityOne 1s ease-in 2.5s backwards;
  animation: opacityOne 1s ease-in 2.5s backwards;
}
.on[data-toggle-target] > .openAnswer_4 {
  -webkit-animation: opacityOne 1s ease-in 3.5s backwards;
  -ms-animation: opacityOne 1s ease-in 3.5s backwards;
  -moz-animation: opacityOne 1s ease-in 3.5s backwards;
  -o-animation: opacityOne 1s ease-in 3.5s backwards;
  animation: opacityOne 1s ease-in 3.5s backwards;
}
.on[data-toggle-target] > .openAnswer_5 {
  -webkit-animation: opacityOne 1s ease-in 4.5s backwards;
  -ms-animation: opacityOne 1s ease-in 4.5s backwards;
  -moz-animation: opacityOne 1s ease-in 4.5s backwards;
  -o-animation: opacityOne 1s ease-in 4.5s backwards;
  animation: opacityOne 1s ease-in 4.5s backwards;
}
@keyframes opacityOne {
  0% {opacity: 0;}
  25% {opacity: 1;}
  50% {opacity: 0;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes opacityOne {
  0% {opacity: 0;}
  25% {opacity: 1;}
  50% {opacity: 0;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}
@-ms-keyframes opacityOne {
  0% {opacity: 0;}
  25% {opacity: 1;}
  50% {opacity: 0;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}