
.img_01 {
  height: 247px;
  margin-bottom: 30px;
}

.page2 input {
  position: absolute;
  top: 79px;
  left: 1004px;
  width: 127px;
  text-align: center;
}

.page2 .square {
  display: inline-block;
  padding: 0 28px;
  height: 56px;
  margin: -5px 0 0 0;
  border: 3px solid #008dd0;
  border-radius: 10px;
  vertical-align: middle;
}

.lesson_6 ul.list.dot > li:before {
  background-color: #8f8bb6;
}