
@charset "utf-8";

.page1 .toggleContainer img {
  position: absolute;
  top: 90px;
  left: 63px;
  height: 387px;
}

.page1 .toggleContainer .arrow {
  position: absolute;
  top: 170px;
}
.page1 .toggleContainer .arrow:first-of-type {
  left: 190px;
}
.page1 .toggleContainer .arrow:nth-of-type(2) {
  left: 475px;
}
.page1 .toggleContainer .arrow:nth-of-type(3) {
  left: 780px;
}


.page1 .dragContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 500px;
}
.page1 .dragBox {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 122px;
  height: 112px;
}
.page1 .rotateContainer {
  position: absolute;
  top: 14px;
  left: 21px;
  width: 80px;
  height: 80px;
}
.page1 .dragObj {
  /* outline: 1px solid tomato; */
  background: url(../images/6_4/6_4_04_02.svg) center/ 100% auto no-repeat;
}
.page1 .rotateButton {
  width: 30px;
  height: 30px;
}
.page1 .answerImage {
  position: absolute;
  top: 172px;
  right: 23px;
  width: 320px;
  height: 280px;
  background: url(../images/6_4/6_4_04_answer.svg) center/ contain no-repeat;
}


/* page2 */
.page2 ul.list > li {
  letter-spacing: -3px;
}
.page2 .popupButton.head { top: -75px; }

.page2 .table {
  width: 1160px;
  margin-bottom: 20px;
}
.page2 .table ul {
  width: 20%
}
.page2 .table > ul > li {
  height: 78px;
}
.page2 .table input {
  display: inline-block;
  width: 210px;
}
.page2 .inputQuizContainer textarea {
  height: 188px;
}

/* page3 */
.page3 .img_01 {
  height: 240px;
}

.page3 .table {
  width: 1160px;
  margin-bottom: 20px;
}
.page3 .table ul {
  width: 20%
}
.page3 .table > ul > li {
  height: 78px;
}
.page3 .inputQuizContainer {
  position: absolute;
  top: 427px;
  right: 20px;
  text-align: center;
}
.page3 .inputQuizContainer input {
  width: 100px;
  text-align: center;
}
.page3 .table > ul > li:first-child {
  font-family: MaplestoryL;
}

/* page3 */

/* popup_1 */
.popup_pages .head[data-popup-page="1"] {
  top: 105px;
  right: 80px;
}
.popup_pages .head[data-popup-page="1"] .arrow {
  position: absolute;
  top: 67px;
}
.popup_pages .head[data-popup-page="1"] .arrowGroup .arrow:first-of-type {
  left: 120px;
}
.popup_pages .head[data-popup-page="1"] .arrowGroup .arrow:nth-of-type(2) {
  left: 370px;
}