
@charset "utf-8";

.table {
  width: 600px;
  border: 6px solid #dcd1ae;
  border-radius: 20px;

  transform: scale(0.8);
  position: relative;
  top: -40px;
  margin-bottom: -50px;
}
.table > ul > li {
  justify-content: flex-end;
  height: 66px;
  padding-right: 20px;
}
.table > ul > li:first-child,
.table > ul > li:nth-child(2) {
  padding-right: 50px;
}

textarea {
  height: 190px;
}


.lesson_6 ul.list.dot > li:before {
  background-color: #8f8bb6;
}

[data-after-target="input_1"] {
  position: absolute;
  top: 302px;
  padding: 5px 14px 4px;
  line-height: 1.15;
}
[data-after-target="input_1"] ul > li.flexBox {
  display: flex;
}
[data-after-target="input_1"] .pr_10 {
  padding-right: 10px;
}