
@charset "utf-8";

.table {
  position: relative;
  top: -30px;
  left: 15px;
  width: 940px;
  margin: 0 0 -37px;
  transform: scale(0.85);
}
.table > ul:last-child {
  width: 750px;
  flex-shrink: 0;
}
.table > ul > li {
  height: 66px;
}
.img_01 {
  top: 0;
  left: 820px;
  position: absolute;
  width: 410px;
}