
@charset "utf-8";
.finish.quiz .contentsArea h2 {
    word-break: break-all;
}
.triangleWrap {
    margin-top: 70px;
    text-align: center;
    padding-left: 60px;
}
.triangleWrap ul li {
    display: inline-block;
    height: 190px;
}
.triangleWrap ul li div {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 181px;
    background: url("../images/6_8/5_finish_quiz_3_01.svg") center/contain no-repeat;
}
.triangleWrap ul li:not(:last-child) {
    margin-right: 20px;
}
.triangleWrap ul li span {
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 50%;   
    transform: translate(-50%); 
    font-size: 34px;
    font-family: MapleStoryL;
}
.triangleWrap ul li span.left {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    left: 20px;   
    top: auto;
    transform: translate(0); 
}
.triangleWrap ul li span.right {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    right: 20px;   
    left: auto;
    top: auto;  
    transform: translate(0); 
}
.triangleWrap ul li span input {
    width: 90px;
    font-size: 50px;
    text-align: center;
    padding: 5px 0 4px;
}
.triangleWrap ul li:last-child .top {
    top: 38px;
}