
@charset "utf-8";
.finish.quiz .contentsArea h2 {
  word-break: break-all;
}
.quizWrap {
    position: relative;
    width: 1150px;
    margin: 0 auto;
    display: flex;
    margin-top: -45px;
    padding-top: 90px;
}
.quizWrap .quizInfo {
    width: 788px; 
    box-sizing: border-box;
    padding-left: 37px;;
    padding-top: 61px;
}
.quizWrap .quizInfo li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-right: 57px;
}
.quizWrap .quizInfo li:last-child{
    padding-right: 0;
}
.quizWrap .quizInfo li:not(:last-child):after{
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-block;
    content: '';
    width: 55px;
    height: 30px;
    background: url(../images/6_8/5_finish_quiz_5_05.svg) center / contain no-repeat;
}
.quizWrap .quizInfo li .tit {
    font-size: 32px;
    font-family: MapleStoryL;
}
.quizArea {
    position: relative;
}
.quizArea .tit {
    position: absolute;
    top: 20px;
    left: 170px;
    font-size: 32px;
    font-family: MapleStoryL;
}
.icon_cube {
    width: 60px;
    height: 65px;
    background: url(../images/6_8/5_finish_quiz_5_04.svg) center / contain no-repeat;
}

.dragBox {
    position: absolute;
    top: -10px;
    right: 40px;
    width: 120px;
    height: 120px;
    z-index: 1;
}
.dragBox .dragObj {
    position: absolute;
    top: 25px;
    left: 30px;
}
  
.dragBox .dragObjComplete {
  opacity: .3;
}
.page2 .quizWrap {
  padding-top: 0;
}

.inputWrap {
    padding-left: 100px;
}
.inputWrap input {
      display: inline-block;
      width: 300px;
}

/*add*/
.imageBox {
  width: 410px;
  height: 335px;
  padding-top: 66px;
  box-sizing: border-box;
  background: url(../images/6_8/5_finish_quiz_5_06.svg) center / contain no-repeat;
}
.imageBox .dropArea {
  position: absolute;
  width: 34px;
  height: 37px;
}
.imageBox .dropArea:not(.drag_1) {
  height: 34px;
}
.imageBox .dropArea .dragObj {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 38px;
}
.imageBox .dropArea:not(.drag_1) .dragObj {
  background-image: url(../images/6_8/5_finish_quiz_5_04_1.svg);
  background-position: center -6px;
}
.imageBox .dropArea.drag_1 { top: 119px; }
.imageBox .dropArea.drag_2 { top: 153px; }
.imageBox .dropArea.drag_3 { top: 184px; }
.imageBox .dropArea.drag_4 { top: 216px; }
.imageBox .dropArea.drag_5 { top: 248px; }
.imageBox .dropArea.dropArea_1 { left: 60px; }
.imageBox .dropArea.dropArea_2 { left: 92px; }
.imageBox .dropArea.dropArea_3 { left: 124px; }
.imageBox .dropArea.dropArea_4 { left: 157px; }
.imageBox .dropArea.dropArea_5 { left: 188px; }
.imageBox .dropArea.dropArea_6 { left: 219px; }
.imageBox .dropArea.dropArea_7 { left: 251px; }
.imageBox .dropArea.dropArea_8 { left: 283px; }
.imageBox .dropArea.dropArea_9 { left: 315px; }

.imageBox .dropArea.drag_1 .dragObj { z-index: 5; }
.imageBox .dropArea.drag_2 .dragObj { z-index: 4; }
.imageBox .dropArea.drag_3 .dragObj { z-index: 3; }
.imageBox .dropArea.drag_4 .dragObj { z-index: 2; }
.imageBox .dropArea.drag_5 .dragObj { z-index: 1; }
