
@charset "utf-8";
.finish.quiz .contentsArea h2 {
    word-break: break-all;
}
.targetWrap {
    text-align: center;
}
.targetWrap .target {
    position: relative;
    display: inline-block;
    width: 485px;
    height: 500px;
    margin-top: -15px;
    background: url("../images/6_8/5_finish_quiz_4_01.svg") center/contain no-repeat;
}
.targetWrap .target input {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    padding: 5px 4px 4px;
    text-align: center;
}
.targetWrap .target .input_1 {
    top: 34px;
    left: 50%;
    margin-left: -28px;
}
.targetWrap .target .input_2 {
    top: 50%;
    left: 77px;
    margin-top: -10px;    
}