@charset "utf-8";

.finish .contentsArea > h1:before {
  background-position: -300px 0;
}


.page1 .stepBg {
  position: relative;
  margin: 0 auto;
  width: 974px;
  height: 478px;
  text-align: center;
  box-sizing: border-box;
  background: url(../images/6_finish_arrange/step1.svg) center/contain no-repeat;
}

.page1 .questionTitle1,.page1 .questionTitle2,.page1 .questionTitle3,.page1 .questionTitle4{
  top: 80px;
  font-size: 30px;
  position: absolute;
  top: 100px;
  left: 190px;
}

.page1 .questionTitle2{
  left: 400px;
  top: 290px;
}
.page1 .questionTitle3{
  left: 695px;
  top: 187px;
}
.page1 .questionTitle4{
  left: 695px;
  top: 420px;
}
.page1 .questionTitle3 span,.page1 .questionTitle4 span{
  width: 90px;
  display: inline-block;
}

.page1 input {
  position: absolute;
  text-align: center;
}

.page1 [data-input-obj="1"] {
  left: 202px;
  top: 275px;
  width: 130px;
}

.page1 [data-input-obj="2"] {
  top: 181px;
  left: 813px;
  width: 75px;
  font-size: 35px;
}

.page1 [data-input-obj="3"] {
  top: 412px;
  left: 813px;
  width: 75px;
  font-size: 35px;
}

.quizButtons {
  right: 100px;
}
.quizButtons.off {
  pointer-events: none !important;
}

.page2 .stepBg {
  position: relative;
  margin: -28px auto 0;
  width: 1113px;
  height: 504px;
  text-align: center;
  box-sizing: border-box;
  background: url(../images/6_finish_arrange/step2.svg) center/contain no-repeat;
}

.page2 .inputWrap {
  margin-top: 118px;
  margin-left: 1px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px 0 0;
  z-index: 2;
  box-sizing: border-box;
}

.page2 .inputWrap input {
  position: relative;
  height: 76px;
  border: none;
  text-align: center;
  box-shadow: none;
  background-color: transparent;
}
.page2 .inputWrap > input:nth-of-type(5n){
  width: 192px;
}
.page2 .inputWrap > input:nth-of-type(5n-1){
  width: 226px;
}
.page2 .inputWrap > input:nth-of-type(5n-2){
  width: 258px;
}
.page2 .inputWrap > input:nth-of-type(5n-3){
  width: 234px;
}
.page2 .inputWrap > input:nth-of-type(5n-4){
  width: 192px;
}
.page2 .inputWrap > input:nth-of-type(n+16):nth-of-type(-n+20) {
  height: 80px;
}
.numView1, .numView2 {
  width: 80px;
  height: 52px;
  display: inline-block;
  border: 1px solid #25b1ef;
  border-radius: 10px;
  text-align: center;
  margin: 0px 10px;
}
.numView2 {
  top: 54px;
  margin-left: 20px;
}

[data-input-obj="4"] {
  background-image: none;
}


.page2 .flexContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  margin-left: 50px;
}
.page2 .flexContainer .table {
  width: 1100px;
  margin: 0;
  border-color: #f4af8d;
}
.page2 .flexContainer .table:after {
  /* z-index: 1; */
  content: '';
  position: absolute;
  top: -94px;
  left: 10px;
  width: 210px;
  height: 110px;
  background: url(../images/6_8/char.svg) 0 0/100% auto no-repeat;
}
.page2 .flexContainer .table .shrink, .popup_pages .table .shrink {
  width: 220px;
}
.page2 .flexContainer .table > ul > li {
  font-size: 45px;
  height: 74px;
  border-bottom: 2px solid #f4af8d;
}

.page2 .table > ul {
  width: 100px;
  border: 2px solid #f4af8d;
}

.page2 .table > ul > li > input{
  width: 100%;
  box-shadow: none;
  border: none;
  text-align: center;
}

.page2 .table > ul:nth-of-type(1){
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.page2 .table > ul:nth-of-type(5){
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.border-none{
  border-bottom: none !important;
}

.tableIco{
  background: url(../images/6_finish_arrange/ico_1.png) no-repeat;
  width: 253px;
  height: 100px;
  z-index: 9;
  position: absolute;
  top: -90px;
  left: 0px;
}

.page2 .questionTitle1,.page2 .questionTitle2{
  display: flex;
  position: absolute;
  top: 70px;
  right: 80px;
  font-size: 40px;
  font-family: 'NSquareREB';
}

.page2 .questionTitle2{
  top: 130px;
}
li.bg{
  background-color: #f4af8d;
}