
@charset "utf-8";

.h2Side {
  position:relative;
  top:-7px;
  width:98%;
  text-indent:200px;
  margin:-60px 10px 0;
  word-break: break-word;
}
.h2Side:before {
  display:none !important;
}
/* 1 page */


/* 2 page */
.page2 .clickButton {
  top: 30px;
  left: 630px;
}

.textBox {
  position: relative;
  top: 34px;
  width: 500px;
  text-align: center;
  margin-left: 100px;
  padding: 32px 30px 32px 40px;
  border: 2px solid #ef8999;
  border-radius: 30px;
  line-height: 60px;
  box-sizing: border-box;
}

.cont2 .textBox {border-color:#6bc1a1}
.cont3 .textBox {border-color:#7899cf}


.textBox .number {
  display: block;
  position: absolute;
  left: -24px;
  top: 25px;
  padding-top: 5px;
}


.page2 .pwu_exCont {
  position: absolute;
  width: 510px;
  top:30px;
  left: 654px;
  text-align: center;
  padding-left: 20px;
  background:url(../images/6_powerup/6_powerup_page2_icon.svg) 50px 0 / 58px 50px no-repeat
}

.page2 .pwu_exCont.exCont1 {
  top: 30px;
}

.page2 .basicSlider_btn.next {
  right:25px !important;
}
.page2 .basicSlider_btn.prev {
  left:25px !important;
}

.pwu_exCont .txt {
  margin-bottom:30px;
} 
.pwu_exCont .txt img {
  vertical-align:middle;
}

.pwu_exCont .img {
  text-align:center;
  top:30px;
}

/* page 3 */
.page3 .supplies {
  top: 75px;
  right: 0;
}
.page3 .h2Side {
  margin-bottom:0 !important;
}
.page3 .table {
  padding-left:60px;
}
.page3 .table > ul li:nth-child(1) {
  height:66px;
}
.page3 .table > ul li:nth-child(2) {
  height: 355px;
}
.list {
  margin-left:50px;
}
.exContToggle {
  position: absolute;
  top: 240px;
  left: 360px;
}
.quizButtons.solve.reset {
  background-color: #f4ad0f;
  background-image: url(../../include/math/images/quiz/icon_reset.svg);
}

/* page 4 */
.page4 .h2Side {
  margin-bottom:0 !important;
}
.page4 .table {
  padding-left:60px;
  margin-top:20px;
}
.page4 .table > ul > li {
  height:80px;
  
}

.page4 .exIcon {
  position: absolute;
  width: 58px;
  height: 50px;
  top: 240px;
  left: 14px;
  background: url(../images/6_powerup/6_powerup_page2_icon.svg) 0px 0 / 58px 50px no-repeat;
}