.complete_txt {display:none;}
.complete .complete_txt {display:block;}

.suhi h2 .icon_x_title, .suhi h2 .icon_tri_title {margin:11px 0 0;}

.divide_box {display:inline-flex;align-items:start;}
.divide_box .row span {display:block;width:60px;height:48px;padding:5px;text-align:center;}
.divide_box .row span {border-bottom:3px solid #000;}
.divide_box .row span:last-child {border-bottom:3px solid transparent;}
.divide_box .row.integer span {width:auto;}
.divide_box .row.integer span {border-bottom:3px solid transparent;}
.divide_box .row.integer + .row span {position:relative;}
.divide_box .row.integer + .row span:after {display:block;content:"";position:absolute;left:-6px;bottom:-3px;width:18px;height:58px;background:url('../images/divide-black.png') no-repeat center/contain;}
.divide_box .row.integer + .row span:last-child:after {display:none;}

.toggle .answer {line-height:48px;}
.toggle .answer .divide_box .row span {border-bottom:3px solid #00a0ff;}
.toggle .answer .divide_box .row span:last-child {border-bottom:3px solid transparent;}
.toggle .answer .divide_box .row.integer span {border-bottom:3px solid transparent;}
.toggle .answer .divide_box .row.integer + .row span:after {display:block;content:"";position:absolute;left:-6px;bottom:-3px;width:18px;height:58px;background:url('../images/divide-blue.png') no-repeat center/contain;}
.toggle .answer .divide_box .row.integer + .row span:last-child:after {display:none;}

.suhi .page_13 h2>ins.number {margin:8px 0 0;}
.suhi .page_13 .lineBox {width:470px;margin:0 auto 20px;}
.suhi .page_13 .lineBox > div {display:flex;}
.suhi .page_13 .lineBox > div > div:first-child {width:50%;}

.page_1 .quizBox {position:relative;width:255px;margin:0 auto;}
.page_1 .quizBox .line {position:absolute;left:-55px;top:30px;width:40px;height:75px;border:2px solid #000;border-right:none;}
.page_1 .quizBox > div {margin:20px 0 0;}
.page_1 .quizBox > div:first-child {margin:0;}

.page_2 .quizBox {position:relative;width:320px;margin:0 auto;}
.page_2 .quizBox .line {position:absolute;left:-55px;top:30px;width:40px;height:75px;border:2px solid #000;border-right:none;}
.page_2 .quizBox > div {margin:20px 0 0;}
.page_2 .quizBox > div:first-child {margin:0;}

.page_4 .quizBox {position:relative;width:730px;margin:0 auto;}
.page_4 .quizBox > div {display:flex;justify-content:space-around;margin:20px 0 0;}

.page_5 .contentsList > li {align-items:start;}
.page_5 .contentsList .bunsuContainer {margin:0;}
.page_5 .contentsList .bunsuContainer .toggle .answer {text-align:justify;}
.page_5 .toggle[data-toggle-obj="2"] .answer {display:flex;align-items:center;}
.page_5 .toggle[data-toggle-obj="2"] .answer .icon_arrow {margin:0 10px;}

.page_6 .textAlignC + .textAlignC {margin:20px 0 0;}
