.content-container > .content > .bg {
    /* background-image: url(../images/mm_31_1_02_06_01/bg.png); */
    /* background-image: url(../images/01.png); opacity: 1; */
}


.ico-video-02{
    position: static;
    width:56px;
    height:63px;
    background-size: 56px auto;
    cursor: pointer;
}