/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 80px;
    left: 465px;
    top: 522px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 80px;
    left: 598px;
    top: 522px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 100px;
    left: 731px;
    top: 522px;
}