.content-container > .content > .bg {
    background-image: url(../images/mm_31_4_06_06_01/bg.png);
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 쌍둥이 문제 bg */
.popup-twins.twins-01 > .bg {
    background-image: url(../images/mm_31_4_06_06_01/bg_twins_01.svg);
}
.popup-twins.twins-02 > .bg {
    background-image: url(../images/mm_31_4_06_06_01/bg_twins_02.svg);
}


/* 입력 퀴즈 */
#quiz-02 .input-cont:nth-child(1) {
    width: 60px;
    left:225px;
    top: 276px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 60px;left: 290px;top: 276px;
}
#quiz-02 .input-cont:nth-child(3) {
    width: 60px;left: 400px;top: 276px;
}

#quiz-02 .input-cont:nth-child(4) {
    width: 100px;left: 510px;
    top: 276px;
}

.btn-answer-part:nth-child(2) {
    left: 620px;
    top: 279px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 172px;
    top: 400px;
    width: 1038px;
}

.icn-num{
    display: inline-block;
    width:51px;
    height:60px;
    vertical-align: -13px;
}
.icn-num.num01{
    background: url(../images/mm_31_4_06_06_01/num1.png) 0 0 no-repeat;
    background-size: 51px 60px;
    margin-right: 2px;
}
.icn-num.num02{
    background: url(../images/mm_31_4_06_06_01/num2.png) 0 0 no-repeat;
    background-size: 51px 60px;
    margin-right: 2px;
}
.icn-num.num03{
    background: url(../images/mm_31_4_06_06_01/num3.png) 0 0 no-repeat;
    background-size: 51px 60px;
}



/* ------------------ 팝업 퀴즈 1 */
#twins-01-quiz-01 .input-cont {
    /* margin: -324px 0 0 -40px; */
}
#twins-01-quiz-01 .input-cont:nth-child(1) {
    width: 60px;
    left: 447px;
    top: 546px;
}
#twins-01-quiz-01 .input-cont:nth-child(2) {
    width: 60px;
    left: 512px;
    top: 546px;
}
#twins-01-quiz-01 .input-cont:nth-child(3) {
    width: 60px;
    left: 622px;
    top: 546px;
}
#twins-01-quiz-01 .input-cont:nth-child(4) {
    width: 100px;
    left: 732px;
    top: 546px;
}

/* ------------------ 팝업 퀴즈 2 */
#twins-02-quiz-01 .input-cont {
    /* margin: -448px 0 0 -40px; */
}
#twins-02-quiz-01 .input-cont:nth-child(1) {
    width: 60px;
    left: 447px;
    top: 546px;
}
#twins-02-quiz-01 .input-cont:nth-child(2) {
    width: 60px;
    left: 512px;
    top: 546px;
}
#twins-02-quiz-01 .input-cont:nth-child(3) {
    width: 60px;
    left: 622px;
    top: 546px;
}
#twins-02-quiz-01 .input-cont:nth-child(4) {
    width: 100px;
    left: 732px;
    top: 546px;
}