/* 쌍둥이 문제 bg */
.popup-twins.twins-01 > .bg {
    background-image: url(../images/mm_31_4_06_01_01/bg_twins_01.svg);
}
.popup-twins.twins-02 > .bg {
    background-image: url(../images/mm_31_4_06_01_01/bg_twins_02.svg);
}

#quiz-01 .input-cont:nth-child(1) {left: 428px;top: 218px;width: 108px;}
#quiz-01 .input-cont:nth-child(2) {left: 908px;top: 218px;width: 108px;}
#quiz-01 .input-cont:nth-child(3) {left: 279px;top: 518px;width: 208px;}
#quiz-01 .input-cont:nth-child(4) {left: 831px;top: 518px;width: 148px;}


/* ------------------ 팝업 퀴즈 1 */
#twins-01-quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#twins-01-quiz-01 .input-cont:nth-child(1) {
    left: 466px;
    top: 258px;
    width: 110px;
}
#twins-01-quiz-01 .input-cont:nth-child(2) {
    left: 906px;
    top: 258px;
    width: 110px;
}
#twins-01-quiz-01 .input-cont:nth-child(3) {
    left: 326px;
    top: 579px;
    width: 210px;
}
#twins-01-quiz-01 .input-cont:nth-child(4) {
    left: 766px;
    top: 579px;
    width: 210px;
}

.twins-01 .btn-answer-part:nth-child(3) {
    left: 525px;
    top: 426px;
}
.twins-01 .btn-answer-part:nth-child(4) {
    left: 965px;
    top: 426px;
}


/* ------------------ 팝업 퀴즈 2 */
#twins-02-quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#twins-02-quiz-01 .input-cont:nth-child(1) {
    left: 466px;
    top: 258px;
    width: 110px;
}
#twins-02-quiz-01 .input-cont:nth-child(2) {
    left: 906px;
    top: 258px;
    width: 110px;
}
#twins-02-quiz-01 .input-cont:nth-child(3) {
    left: 326px;
    top: 579px;
    width: 210px;
}
#twins-02-quiz-01 .input-cont:nth-child(4) {
    left: 766px;
    top: 579px;
    width: 210px;
}

.twins-02 .btn-answer-part:nth-child(3) {
    left: 525px;
    top: 426px;
}
.twins-02 .btn-answer-part:nth-child(4) {
    left: 965px;
    top: 426px;
}
