.check-item.btn-.content-con.active .answer-text .ico-box-text-02 {
    position: absolute;
    left: -47px;
}
.check-item.btn-.content-con.answered .answer-text .ico-box-text-02 {
    position: absolute;
    left: -47px;
}