.content-container > .content > .bg {
    background-image: url(../images/mm_31_4_04_05_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}


/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 150px;
    left: 96px;
    top: 419px;
    /* background: #eaeaea; */
}
#quiz-02 .input-cont:nth-child(1) {
    width: 150px;
    left: 346px;
    top: 419px;
}
#quiz-03 .input-cont:nth-child(1) {
    width: 110px;
    left: 732px;
    top: 338px;
}
#quiz-03 .input-cont:nth-child(2) {
    width: 110px;
    left: 1092px;
    top: 338px;
}

.quiz-01-answer {
    position: absolute;
    left: 129px;
    top: 259px;
    visibility: hidden;
}
.quiz-01-answer.show, .quiz-02-answer.show{
    visibility: visible;
}


.quiz-02-answer {
    position: absolute;
    left: 378px;
    top: 259px;
    visibility: hidden;
}

