/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: -216px 0 0 -40px;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 50px;
    left: 378px;
    top: 357px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 50px;
    left: 438px;
    top: 357px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 50px;
    left: 378px;
    top: 427px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 50px;
    left: 438px;
    top: 427px;
}
#quiz-01 .input-cont:nth-child(5) {
    width: 50px;
    left: 378px;
    top: 507px;
}
#quiz-01 .input-cont:nth-child(6) {
    width: 50px;
    left: 438px;
    top: 507px;
}

/* 입력 퀴즈 */
#quiz-02 .input-cont {
    margin: -216px 0 0 -40px;
}
#quiz-02 .input-cont:nth-child(1) {
    width: 50px;
    left: 958px;
    top: 357px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 50px;
    left: 1018px;
    top: 357px;
}
#quiz-02 .input-cont:nth-child(3) {
    width: 50px;
    left: 958px;
    top: 427px;
}
#quiz-02 .input-cont:nth-child(4) {
    width: 50px;
    left: 1018px;
    top: 427px;
}
#quiz-02 .input-cont:nth-child(5) {
    width: 50px;
    left: 958px;
    top: 507px;
}
#quiz-02 .input-cont:nth-child(6) {
    width: 50px;
    left: 1018px;
    top: 507px;
}

/* 입력 퀴즈 */
#quiz-03 .input-cont {
    margin: -216px 0 0 -40px;
}
#quiz-03 .input-cont:nth-child(1) {
    width: 50px;
    left: 668px;
    top: 639px;
}
#quiz-03 .input-cont:nth-child(2) {
    width: 50px;
    left: 728px;
    top: 839px;
}
#quiz-03 .input-cont:nth-child(3) {
    width: 50px;
    left: 958px;
    top: 639px;
}
#quiz-03 .input-cont:nth-child(4) {
    width: 150px;
    left: 943px;
    top: 839px;
}



.btn-answer-part {
    margin: -220px 0 0 -40px;
}
.btn-answer-part:nth-child(1) {
    left: 492px;
    top: 203px;
}
.btn-answer-part:nth-child(2) {
    left: 1072px;
    top: 203px;
}
.btn-answer-part:nth-child(3) {
    left: 1084px;
    top: 685px;
}