/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 100px;
    left: 476px;
    top: 223px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 100px;
    left: 886px;
    top: 223px;
}

/* 입력 퀴즈 */
#quiz-02 .input-cont:nth-child(1) {
    width: 208px;
    left: 324px;
    top: 548px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 208px;
    left: 734px;
    top: 548px;
}