.content-container > .content > .bg {
    background-image: url(../images/mm_31_4_05_04_01/bg.png);
    /* background-image: url(../images/01.png); opacity: 1; */
}

#btn-hint-01 {
    right: 186px;
    top: 434px;
}
.in-title{cursor: pointer;}