@charset "utf-8";
.lineContainer {
  display: flex;
  align-items: center;
  position: relative;
  height: 252px;
  margin: 0 0 0 50px;
  padding: 0 0 67px 191px;
  background: url(../images/3_1/3_1_3.svg) center/contain no-repeat;
  box-sizing: border-box;
}
.lineContainer > li {
  position: relative;
  width: 24px;
  height: 50px;
  margin-top: 41px;
  cursor: pointer;
}
.lineContainer > li:nth-of-type(1) {
  margin-right: 11px;
}
.lineContainer > li:nth-of-type(2) {
  margin-right: 10px;
}
.lineContainer > li:nth-of-type(3) {
  margin-right: 11px;
}
.lineContainer > li:nth-of-type(4) {
  margin-right: 10px;
}
.lineContainer > li:nth-of-type(5) {
  margin-right: 10px;
}
.lineContainer > li:nth-of-type(6) {
  margin-right: 11px;
}
.lineContainer > li:nth-of-type(7) {
  margin-right: 10px;
}
.lineContainer > li:nth-of-type(8) {
  margin-right: 10px;
}
.lineContainer > li:nth-of-type(9) {
  margin-right: 10px;
}
.lineContainer > li:nth-of-type(10) {
  margin-right: 11px;
}
.lineContainer > li:nth-of-type(11) {
  margin-right: 10px;
}
.lineContainer > li:nth-of-type(12) {
  margin-right: 10px;
}
.lineContainer > li:nth-of-type(13) {
  margin-right: 11px;
}
.lineContainer > li:nth-of-type(14) {
  margin-right: 10px;
}
.lineContainer > li:nth-of-type(15) {
  margin-right: 11px;
}
.lineContainer > li:nth-of-type(16) {
  margin-right: 10px;
}
.lineContainer > li:nth-of-type(17) {
  margin-right: 11px;
}
.lineContainer > li:nth-of-type(18) {
  margin-right: 10px;
}
.lineContainer > li:nth-of-type(19) {
  margin-right: 11px;
}
.lineContainer > li:nth-of-type(20) {
  margin-right: 10px;
}
.lineContainer > li:nth-of-type(21) {
  margin-right: 11px;
}
.lineContainer > li:nth-of-type(22) {
  margin-right: 10px;
}
.lineContainer > li:nth-of-type(23) {
  margin-right: 10px;
}
.lineContainer > li:nth-of-type(24) {
  margin-right: 11px;
}
.lineContainer > li:nth-of-type(25) {
  margin-right: 10px;
}
.lineContainer > li:nth-of-type(26) {
  margin-right: 10px;
}
.oxObj {
  pointer-events: none;
}
.oxObj[data-ox-obj] {
  pointer-events: auto;
}

.lineContainer .thinArrow {
  position: absolute;
  bottom: -55px;
  left: calc(50% - 2px);
  width: 44px;
  transform: translateY(-50%) rotate(
      90deg
  );
  border-color: #00A0E9;
  opacity: 0;
  visibility: hidden;
}
.lineContainer > li:nth-of-type(4) .thinArrow,
.lineContainer > li:nth-of-type(14) .thinArrow,
.lineContainer > li:nth-of-type(24) .thinArrow {
  bottom: -105px;
}
.lineContainer .thinArrow:after {
  background-image: url("../images/3_1/icon_thinArrow.svg");
}
.lineContainer .on .thinArrow {
  opacity: 1;
  visibility: visible;
}
.complete .lineContainer .oxObj.on:not([data-answer]) .thinArrow {
  opacity: 0;
  visibility: hidden;
}
.complete .oxObj[data-answer].on:after {
  content: '5.82';
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  font-size: 40px;
  color: #00A0E9;
  text-align: center;
}
.complete .oxObj {
  pointer-events: none;
}
.displayN {
  display: none;
}