@charset "utf-8";
.flexWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.flexWrap .imgWrap {
  display: flex;
  align-items: center;
  width: 660px;
  height: 330px;
  line-height: 1.4;
  padding: 0 30px;
  background: url(../images/3_1/3_1_5_1.svg) center/contain no-repeat;
  box-sizing: border-box;
}
.flexWrap figure {
  width: 450px;
}



input.inlineBox {
  width: 150px;
  vertical-align: middle;
  margin: -8px 0 0 0;
}


.imgWrap > div {
  line-height: 1.6;
}