@charset "utf-8";
.flexWrap {
  display: flex;
}

.arrow.pink {
  position: relative;
  top: -2px;
  margin-right: 10px;
}

.dragBox {
  width: 1070px;
  height: 145px;
  /* border: none;
  border-radius: 0; */
  margin: 30px auto 110px;
  background: url(../images/3_8/3_8_4.svg) center/1050px no-repeat;
}
/* .dragBox.top:before {
  top: -31px;
  right: 66px;
}
.dragBox.top:after {
  top: -36px;
  right: 71px;
} */
.colorBox {
  position:relative;
  width: 1070px;
  height:115px;
  margin: 0 5px;
  padding-left:50px;
  box-sizing: border-box;
}
.dropArea {
  position:relative;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.dropArea.blue {
  color: #0060e3;
}
.dragObj {
  top: 44px;
  width: auto;
  height: auto;
}

.dragObj[data-index="1"] {
  left: 53px;
}
.dragObj[data-index="2"] {
  left: 620px;
}
.dropArea .dragObj.dragObjComplete {
  position: static;
}

.isDragging.dragObjComplete {
  z-index: 0;
}
.popup_pages > li.solve > *:not(:first-child) {
  display: inline-block;
}

.arrow.pink {
  position: relative;
  top: 7px;
  margin-right: 10px;
  display: inline-block;
}