
@charset "utf-8";


.imageBox {
  width: 100%;
  height: 400px;
  background: url(../images/3_3/3_3_4_01.svg) center / contain no-repeat;
}


.dragBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 130px;
}
.rotateContainer {
  position: absolute;
  top: 10px;
  left: 32px;
  width: 140px;
  height: 110px;
}
.rotateContainer.showRotate {
  width: 265px;
  height: 184px;
}

.char {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 400px;
  height: 300px;
}





/* page1 */
.page1 .rotateContainer {
  position: absolute;
  top: 10px;
  left: 32px;
  width: 140px;
  height: 110px;
}
.page1 .rotateContainer.showRotate {
  width: 317px;
  height: 234px;
}
.page1 .char {
  background: url(../images/3_3/3_3_4_02.svg)  center / contain no-repeat;
}
.page1 .char .balloonText {
  position: absolute;
  top: 18px;
  left: 70px;
}


/* page2 */
.page2 .rotateContainer {
  position: absolute;
  top: 50px;
  left: 22px;
  width: 160px;
  height: 32px;
}
.page2 .rotateContainer.showRotate {
  width: 858px;
  height: 159px;
}
.page2 .char {
  background: url(../images/3_3/3_3_4_03.svg)  center / contain no-repeat;
}
.page2 .char .balloonText {
  position: absolute;
  top: 30px;
  left: 182px;
}



/* page3 */
.page3 .imageBox {
  height: 300px;
  margin-top: -36px;
  margin-bottom: 10px;
}