.content-container > .content > .bg {
    /* background-image: url(../images/ms_41_4_03_04_01/bg.svg); */
    /* background-image: url(../images/04.png); opacity: 0.7; */
}

/* 보충 문제 bg */
.popup-more-one > .bg {
    /* background-image: url(../images/ms_41_4_03_04_01/bg_popup_more.svg); */
}


/* 색칠하세요 버튼 위치 */
.app-drawing-tool .tool-container {
    top: 165px;
    right: 470px;
}


/* 색칠하세요 버튼 위치 */
.app-drawing-tool.popuptool .tool-container {
    top: 245px;
    right: 648px;
}



/* 퀴즈 */
.quiz-check.image-answer .check-item {
    width: 85px;
    height: 85px;

    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: #FF913C;

    background: none;

    animation: ani-flash-01 1s linear 0s infinite;
}
.quiz-check.image-answer .check-item.active {
    animation: none;
}


#quiz-01 .check-item {
    left: 597px;
    top: 299px;
}
#quiz-02 .check-item {
    left: 398px;
    top: 492px;
}
#quiz-03 .check-item {
    left: 596px;
    top: 686px;
}
#quiz-04 .check-item {
    left: 801px;
    top: 492px;
}

#pop-01-quiz-01 .check-item {
    left: 597px;
    top: 299px;
}
#pop-01-quiz-02 .check-item {
    left: 801px;
    top: 492px;
}
#pop-01-quiz-03 .check-item {
    left: 596px;
    top: 686px;
}
#pop-01-quiz-04 .check-item {
    left: 398px;
    top: 492px;
}