.content-container > .content > .bg {
    /* background-image: url(../images/ms_41_4_06_01_01/bg.png); */
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 스크롤 박스 */

.scroll-box-01 .scroll-inner {
    height: 1260px;
}
.scroll-box-01 .scroll-bg {
	height: 1260px;
    background-size: 1200px 1260px;
    background-image: url(../images/ms_41_4_06_01_01/bg_scroll_01.png);
    /* background-image: url(../images/01_scroll.png); */
    /* opacity: 0.5; */
}

/* 팝업 퀴즈 문제, 보기 위치 수정 */
.popup-ms-unit-last .slide-item .text-content {
    margin: -12px 0 0 0;
}
.popup-ms-unit-last .slide-item.type2 .check-item > span {
    padding: 3px 0 0 0;
}


/* check 퀴즈  */
#quiz-content-01 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#quiz-content-01 .quiz-check .check-item {
    position: absolute;
    width: 148px;
    height: 148px;
    /* background-color: rgba(255,0,0,0.5); */
    box-sizing: border-box;
    z-index: 2;
    
}
#quiz-content-01 .quiz-check .check-item::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 148px;
    height: 148px;
    border: 5px solid #FFFF00;
    border-radius: 75px;
    visibility: hidden;
}

#quiz-content-01 .quiz-check .check-item.ani {
    animation: ani-flash-01 1s linear infinite;
}
#quiz-content-01 .quiz-check .check-item.ani::before {
    visibility: visible;
}

#quiz-01 .check-item:nth-child(1) {
    left: 529px;
    top: 316px;
}
#quiz-01 .check-item:nth-child(2) {
    left: 776px;
    top: 168px;
}

#quiz-02 .check-item:nth-child(1) {
    left: 170px;
    top: 618px;
}
#quiz-02 .check-item:nth-child(2) {
    left: 354px;
    top: 562px;
}

#quiz-03 .check-item:nth-child(1) {
    left: 835px;
    top: 584px;
}
#quiz-03 .check-item:nth-child(2) {
    left: 1016px;
    top: 588px;
}

#quiz-04 .check-item:nth-child(1) {
    left: 409px;
    top: 812px;
}
#quiz-04 .check-item:nth-child(2) {
    left: 660px;
    top: 877px;
}

#quiz-05 .check-item:nth-child(1) {
    left: 87px;
    top: 1098px;
}
#quiz-05 .check-item:nth-child(2) {
    left: 292px;
    top: 1086px;
}


/* 스프라이트 시퀀스 애니 */
.sprite-sequence.ani-01 {
    position: absolute;
    left: 0px;
    top: 0px;
    /* width: 240px; */
    /* height: 291px; */
    background-position: 4px 4px;
    background-image: url(../images/ms_41_4_06_01_01/ms_41_4_06_ani.png);
    transform: translate(37px, -4px);
}


.btns-popup > .button {
    position: absolute;
    width: 260px;
    height: 260px;
    /* background: rgba(255,0,0,0.5); */
    z-index: 1;
}
.btns-popup > .btn-popup-01 {
    left: 504px;
    top: 62px;
}
.btns-popup > .btn-popup-02 {
    left: 184px;
    top: 348px;
    height: 240px;
}
.btns-popup > .btn-popup-03 {
    left: 863px;
    top: 334px;
    height: 220px;
}
.btns-popup > .btn-popup-04 {
    left: 546px;
    top: 640px;
    height: 240px;
}
.btns-popup > .btn-popup-05 {
    left: 106px;
    top: 810px;
}