.checkContainer .study_guide {top:0}
.box-flex {display:flex}
.img-answer {position:relative}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;transition:opacity 1s;z-index:-1}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {opacity:1;z-index:1}

.img-answer.n1 {width:390px;height:365px}
.img-answer.n1 .toggle {background:url("../images/suh_0601_02_0006_401_1_2.png") no-repeat 50% 50% / 100%}
.img-answer.n2 {width:420px;height:379px}
.img-answer.n2 .toggle {background:url("../images/suh_0601_02_0006_401_2_2.png") no-repeat 50% 50% / 100%}
.img-answer.n3 {width:330px;height:355px}
.img-answer.n3 .toggle {background:url("../images/suh_0601_02_0006_401_3_2.png") no-repeat 50% 50% / 100%}

.img-answer.n4 {width:468px;height:406px}
.img-answer.n4 .toggle {background:url("../images/suh_0601_02_0006_401_1_1_3.png") no-repeat 50% 50% / 100%}

.img-answer.n5 {width:400px;height:342px}
.img-answer.n5 .toggle {background:url("../images/suh_0601_02_0006_401_1_2_3.png") no-repeat 50% 50% / 100%}

.page_1 .box-flex {justify-content:center;margin-top:20px}
.page_2 .box-flex {justify-content:center;margin-top:20px}
.page_3 .box-flex {justify-content:center}
.page_1 .img-answer .toggle,
.page_2 .img-answer .toggle,
.page_3 .img-answer .toggle {z-index:1}

.page_3 .study_guide {top:-52px}

.page_4 .box-flex {align-items:center;justify-content:center}
.page_4 .txt-item {position:absolute}
.page_4 .icon_arrow {margin:0 40px}
.page_4 .tn1 {top:34px;left:40px}
.page_4 .tn2 {top:41px;left:250px}
.page_4 .tn3 {top:350px;left:140px}
.page_4 .tn4 {top:210px;left:300px}
.page_4 .tn5 {top:-33px;left:478px;font-size:30px}
.page_4 .tn6 {top:0;left:397px;font-size:30px}

.tableContainer .toggle {background-color:transparent;text-align:center}

.img-answer {position:relative}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;transition:opacity 1s}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {opacity:1}

.page_5 .box-flex {align-items:center;justify-content:center}
.page_5 .txt-item {position:absolute}
.page_5 .icon_arrow {margin:0 40px}
.page_5 .tn1 {top:80px;left:30px}
.page_5 .tn2 {top:80px;left:320px}
.page_5 .tn3 {top:290px;left:180px}
.page_5 .tn4 {top:350px;left:139px}
.page_5 .tn5 {top:-33px;left:536px;font-size:30px}
.page_5 .tn6 {top:0;left:460px;font-size:30px}


.contentsList>li {font-size:36px}
