.study_guide {right:0;top:-40px}

.img-box-a {width:100%;overflow:hidden;position:relative;margin:20px auto 0;height:400px}
.img-box-a .imgCon {height:100%}
.img-box-a .imgCon .popBtn {width:100%;height:100%;background:url("../images/suh_0601_02_0006_201_1_1.png") no-repeat 50% 50% / auto 80%}

.box-type-b {display:flex;align-items:center;justify-content:center;margin-top:-80px}
.box-type-b .characterImg {position:static;margin-right:40px}
.box-type-b .balloon {position:relative;margin-top:100px}
.balloon.left:after {top:65px}

.popup_pages .full-img {width:100%;height:100%;}
.popup_pages .full-img img {width:100%;height:100%;object-fit:contain}

.pop_page_1 .full-img {position:relative}
.pop_page_1 .exam {position:absolute;left:530px;top:90px}