body {
	background: url("../images/bgImg.png") center / cover no-repeat;
	/* background-position: 0 -116px;	 */
}

#bgCanvas {
	position: absolute;
	width: 1280px;
	height: 720px;
	top: -10px;
	left: 0px;
}

/*#pierrotboxContainer{*/
/*margin-left: 70px;*/
/*margin-top: 50px;*/
/*}*/

#pierrotboxBg {
	position: absolute;
	top: -10px;
	left: -39px;
	z-index: -5;
}

.rect {
	width: 239px;
	height: 150px;
	border: 0;
	border-radius: 0px;
	line-height: 216px;
	font-size: 45px;
	background: none;
	z-index: 10;
}

.txt {
	font-family: NanumGothicExtraBold;
	position: absolute;
	bottom: 22px;
	width: 100px;
	height: 89px;
	font-size: 50px;
	line-height: 82px;
	text-align: center;
	z-index: 10;
	color: #333333;
}

#coicetxt2,
#coicetxt4,
#coicetxt7 {
	position: absolute;
	width: 237px;
	text-align: center;
	top: 0px;
	left: 0px;
	line-height: 78px;
}

#coicetxt1,
#coicetxt3,
#coicetxt6 {
	position: absolute;
	left: 0px;
	width: 160px;
	text-align: center;
	top: 14px;
	line-height: 118px;
}

.queText {
	position: absolute;
	font-family: NanumGothicExtraBold;
	font-size: 50px;
	color: #333333;
	line-height: 110px;
	text-align: center;
	cursor: default;
	z-index: 10;
}

.answerText {
	position: absolute;
	bottom: 214px;
	left: 246px;
	font-family: NanumGothicExtraBold;
	font-size: 55px;
	color: #000;
	text-align: center;
	cursor: default;
	z-index: 10;
}


#lineTxt {
	position: absolute;
	left: 128px;
	top: -32px;
	letter-spacing: -28px;
}

#choiceBg {
	position: absolute;
	top: 25px;
	left: 5px;
	z-index: -15;
}

#queTxt {
	position: absolute;
	width: 148px;
	height: 114px;
	left: 302px;
	top: 411px;
	z-index: 5;

}

#queTxt div {
	width: 148px;
	text-align: center;
}

#queText0 {
	left: -30px;
}

#queText1 {
	left: 0px;
	top: -28px;
}

#queText2 {
	left: 0px;
	top: 32px;
}