#quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 421px;
    left: 806px;
    top: 362px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 192px;
    left: 994px;
    top: 439px;
}



#pop-01-quiz-01 .input-cont {
    margin: 35px 0 0 0;
}
#pop-01-quiz-01 .input-cont:nth-child(1) {
    width: 425px;
    left: 786px;
    top: 379px;
}
#pop-01-quiz-01 .input-cont:nth-child(2) {
    width: 192px;
    left: 987px;
    top: 457px;
}