#quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 1040px;
    left: 157px;
    top: 490px;
}

.btn-answer-part:nth-child(2) {
    left: 1010px;
    top: 230px;
}



#pop-01-quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#pop-01-quiz-01 .input-cont:nth-child(1) {
    width: 1040px;
    left: 157px;
    top: 525px;
}

.popup .btn-answer-part:nth-child(2) {
    left: 1010px;
    top: 260px;
}