#quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 128px;
    left: 819px;
    top: 525px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 128px;
    left: 1039px;
    top: 525px;
}


#pop-01-quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#pop-01-quiz-01 .input-cont:nth-child(1) {
    width: 128px;
    left: 819px;
    top: 558px;
}
#pop-01-quiz-01 .input-cont:nth-child(2) {
    width: 128px;
    left: 1039px;
    top: 558px;
}
