.content-container > .content > .bg {
    /* background-image: url(../images/mm_42_1_03_06_03/bg.svg); */
    /* background-image: url(../images/mm_42_1_03_06_02.png); opacity: 1; */
}
#quiz-01 .input-cont {
    width: 60px;
}
#quiz-01 .input-cont:nth-child(1) {
    left: 430px;
    top: 224px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 504px;
    top: 2px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 778px;
    top: 224px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 415px;
    top: 395px;
}
#quiz-01 .input-cont:nth-child(5) {
    left: 522px;
    top: 395px;
}
#quiz-01 .input-cont:nth-child(6) {
    left: 641px;
    top: 395px;
}
#quiz-01 .input-cont:nth-child(7) {
    left: 744px;
    top: 395px;
}
#quiz-01 .input-cont:nth-child(8) {
    left: 869px;
    top: 395px;
}
#quiz-01 .input-cont:nth-child(9) {
    left: 1009px;
    top: 395px;
}
.btn-answer-part:nth-child(1) {
    left: 1117px;
    top: 143px;
}
.btn-answer-part:nth-child(2) {
    left: 1073px;
    top: 390px;
}
