.ico-box-text.bb-cus-01::before {
    background-image: url(../images/mm_42_1_03_04_03/ico_boxText_01.svg);
}
.ico-box-text.bb-cus-02::before {
    background-image: url(../images/mm_42_1_03_04_03/ico_boxText_02.svg);
}

.ico-box-text::before {
    top: 10px;
    width: 61px;
    height: 32px;
}