.quiz-check.image-answer {
    position: absolute;
    left: 0;
    top: 0;
}

.quiz-check.type-box .check-item::after {
    z-index: 50;
}

.btn-answer-part:nth-child(2) {
    left: 1158px;
    top: 396px;
}

#quiz-02 .quiz-00-answer.answer-part-00 {
    visibility: hidden;
}

#quiz-02.active .quiz-00-answer.answer-part-00 {
    position: absolute;
    left: 840px;
    top: 418px;
    visibility: visible;
}