.content-container > .content > .bg {
    /* background-image: url(../images/mm_42_1_07_01_01/bg.svg); */
    /* background-image: url(../images/mm_42_1_06_03_01.png); opacity: 1; */
}

/* 쌍둥이 문제 bg */
.popup-twins.twins-01 > .bg {
    /* background-image: url(../images/mm_42_1_07_01_01/bg_twins_01.svg); */
}
.popup-twins.twins-02 > .bg {
    /* background-image: url(../images/mm_42_1_07_01_01/bg_twins_02.svg); */
}


#quiz-01 .input-cont {
    width: 60px;
}
#quiz-02 .input-cont {
    width: 60px;
}
#quiz-03 .input-cont {
    width: 60px;
}
#quiz-01 .input-cont:nth-child(1) {
    left: 519px;
    top: 42px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 589px;
    top: 2px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 589px;
    top: 82px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 696px;
    top: 263px;
}
#quiz-01 .input-cont:nth-child(5) {
    left: 766px;
    top: 223px;
}
#quiz-01 .input-cont:nth-child(6) {
    left: 766px;
    top: 302px;
}
#quiz-01 .input-cont:nth-child(7) {
    left: 395px;
    top: 466px;
}
#quiz-01 .input-cont:nth-child(8) {
    left: 465px;
    top: 426px;
}
#quiz-01 .input-cont:nth-child(9) {
    left: 465px;
    top: 506px;
}
#quiz-01 .input-cont:nth-child(10) {
    left: 575px;
    top: 466px;
}
#quiz-01 .input-cont:nth-child(11) {
    left: 645px;
    top: 426px;
}
#quiz-01 .input-cont:nth-child(12) {
    left: 645px;
    top: 506px;
}
#quiz-01 .input-cont:nth-child(13) {
    left: 764px;
    top: 466px;
}
#quiz-01 .input-cont:nth-child(14) {
    left: 834px;
    top: 426px;
}
#quiz-01 .input-cont:nth-child(15) {
    left: 834px;
    top: 506px;
}

.btn-answer-part:nth-child(1) {
    left: 1166px;
    top: 141px;
}
.btn-answer-part:nth-child(2) {
    left: 899px;
    top: 471px;
}


#quiz-02 .input-cont:nth-child(1) {
    left: 493px;
    top: 42px;
}
#quiz-02 .input-cont:nth-child(2) {
    left: 562px;
    top: 2px;
}
#quiz-02 .input-cont:nth-child(3) {
    left: 563px;
    top: 82px;
}
#quiz-02 .input-cont:nth-child(4) {
    left: 696px;
    top: 263px;
}
#quiz-02 .input-cont:nth-child(5) {
    left: 766px;
    top: 223px;
}
#quiz-02 .input-cont:nth-child(6) {
    left: 766px;
    top: 302px;
}
#quiz-02 .input-cont:nth-child(7) {
    left: 395px;
    top: 466px;
}
#quiz-02 .input-cont:nth-child(8) {
    left: 465px;
    top: 426px;
}
#quiz-02 .input-cont:nth-child(9) {
    left: 465px;
    top: 506px;
}
#quiz-02 .input-cont:nth-child(10) {
    left: 575px;
    top: 466px;
}
#quiz-02 .input-cont:nth-child(11) {
    left: 645px;
    top: 426px;
}
#quiz-02 .input-cont:nth-child(12) {
    left: 645px;
    top: 506px;
}
#quiz-02 .input-cont:nth-child(13) {
    left: 764px;
    top: 466px;
}
#quiz-02 .input-cont:nth-child(14) {
    left: 834px;
    top: 426px;
}
#quiz-02 .input-cont:nth-child(15) {
    left: 834px;
    top: 506px;
}

.twins-01 .btn-answer-part:nth-child(1) {
    left: 1166px;
    top: 141px;
}
.twins-01 .btn-answer-part:nth-child(2) {
    left: 899px;
    top: 473px;
}


#quiz-03 .input-cont:nth-child(1) {
    left: 490px;
    top: 42px;
}
#quiz-03 .input-cont:nth-child(2) {
    left: 560px;
    top: 2px;
}
#quiz-03 .input-cont:nth-child(3) {
    left: 560px;
    top: 82px;
}
#quiz-03 .input-cont:nth-child(4) {
    left: 648px;
    top: 263px;
}
#quiz-03 .input-cont:nth-child(5) {
    left: 718px;
    top: 223px;
}
#quiz-03 .input-cont:nth-child(6) {
    left: 718px;
    top: 302px;
}
#quiz-03 .input-cont:nth-child(7) {
    left: 395px;
    top: 466px;
}
#quiz-03 .input-cont:nth-child(8) {
    left: 465px;
    top: 426px;
}
#quiz-03 .input-cont:nth-child(9) {
    left: 465px;
    top: 506px;
}
#quiz-03 .input-cont:nth-child(10) {
    left: 575px;
    top: 466px;
}
#quiz-03 .input-cont:nth-child(11) {
    left: 645px;
    top: 426px;
}
#quiz-03 .input-cont:nth-child(12) {
    left: 645px;
    top: 506px;
}
#quiz-03 .input-cont:nth-child(13) {
    left: 764px;
    top: 466px;
}
#quiz-03 .input-cont:nth-child(14) {
    left: 834px;
    top: 426px;
}
#quiz-03 .input-cont:nth-child(15) {
    left: 834px;
    top: 506px;
}

.twins-02 .btn-answer-part:nth-child(1) {
    left: 1166px;
    top: 141px;
}
.twins-02 .btn-answer-part:nth-child(2) {
    left: 899px;
    top: 472px;
}
