.content-container > .content > .bg {
    background-image: url(../images/mm_42_1_07_02_01/bg.svg);
    /* background-image: url(../images/mm_42_1_06_03_01.png); opacity: 1; */
}

.popup-twins.twins-01 > .bg {
    background-image: url(../images/mm_42_1_07_02_01/bg_twins_01.svg);
}
.popup-twins.twins-02 > .bg {
    background-image: url(../images/mm_42_1_07_02_01/bg_twins_02.svg);
}

#quiz-01 .input-cont {
    width: 60px;
}
#quiz-02 .input-cont {
    width: 60px;
}
#quiz-03 .input-cont {
    width: 60px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 383px;
    top: 214px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 383px;
    top: 294px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 894px;
    top: 255px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 384px;
    top: 494px;
}
#quiz-01 .input-cont:nth-child(5) {
    left: 454px;
    top: 454px;
}
#quiz-01 .input-cont:nth-child(6) {
    left: 454px;
    top: 534px;
}
#quiz-01 .input-cont:nth-child(7) {
    left: 895px;
    top: 494px;
}
#quiz-01 .input-cont:nth-child(8) {
    left: 966px;
    top: 454px;
}
#quiz-01 .input-cont:nth-child(9) {
    left: 966px;
    top: 534px;
}

.btn-answer-part:nth-child(1) {
    left: 449px;
    top: 259px;
}
.btn-answer-part:nth-child(2) {
    left: 963px;
    top: 258px;
}
.btn-answer-part:nth-child(3) {
    left: 520px;
    top: 499px;
}
.btn-answer-part:nth-child(4) {
    left: 1032px;
    top: 499px;
}

#quiz-02 .input-cont:nth-child(1) {
    left: 383px;
    top: 270px;
}
#quiz-02 .input-cont:nth-child(2) {
    left: 383px;
    top: 350px;
}
#quiz-02 .input-cont:nth-child(3) {
    left: 897px;
    top: 311px;
}
#quiz-02 .input-cont:nth-child(4) {
    left: 967px;
    top: 269px;
}
#quiz-02 .input-cont:nth-child(5) {
    left: 967px;
    top: 349px;
}
#quiz-02 .input-cont:nth-child(6) {
    left: 384px;
    top: 539px;
}
#quiz-02 .input-cont:nth-child(7) {
    left: 454px;
    top: 499px;
}
#quiz-02 .input-cont:nth-child(8) {
    left: 454px;
    top: 579px;
}
#quiz-02 .input-cont:nth-child(9) {
    left: 896px;
    top: 540px;
}
#quiz-02 .input-cont:nth-child(10) {
    left: 966px;
    top: 499px;
}
#quiz-02 .input-cont:nth-child(11) {
    left: 966px;
    top: 579px;
}

.twins-01 .btn-answer-part:nth-child(1) {
    left: 449px;
    top: 315px;
}
.twins-01 .btn-answer-part:nth-child(2) {
    left: 1032px;
    top: 266px;
}
.twins-01 .btn-answer-part:nth-child(3) {
    left: 520px;
    top: 545px;
}
.twins-01 .btn-answer-part:nth-child(4) {
    left: 1032px;
    top: 546px;
}

#quiz-03 .input-cont:nth-child(1) {
    left: 383px;
    top: 270px;
}
#quiz-03 .input-cont:nth-child(2) {
    left: 383px;
    top: 350px;
}
#quiz-03 .input-cont:nth-child(3) {
    left: 897px;
    top: 311px;
}
#quiz-03 .input-cont:nth-child(4) {
    left: 967px;
    top: 269px;
}
#quiz-03 .input-cont:nth-child(5) {
    left: 967px;
    top: 349px;
}
#quiz-03 .input-cont:nth-child(6) {
    left: 384px;
    top: 539px;
}
#quiz-03 .input-cont:nth-child(7) {
    left: 454px;
    top: 499px;
}
#quiz-03 .input-cont:nth-child(8) {
    left: 454px;
    top: 579px;
}
#quiz-03 .input-cont:nth-child(9) {
    left: 896px;
    top: 540px;
}
#quiz-03 .input-cont:nth-child(10) {
    left: 966px;
    top: 499px;
}
#quiz-03 .input-cont:nth-child(11) {
    left: 966px;
    top: 579px;
}

.twins-02 .btn-answer-part:nth-child(1) {
    left: 449px;
    top: 315px;
}
.twins-02 .btn-answer-part:nth-child(2) {
    left: 1032px;
    top: 266px;
}
.twins-02 .btn-answer-part:nth-child(3) {
    left: 520px;
    top: 546px;
}
.twins-02 .btn-answer-part:nth-child(4) {
    left: 1032px;
    top: 546px;
}