.content-container > .content > .bg {
    background-image: url(../images/mm_42_1_01_05_01/bg.svg);
    /* background-image: url(../images/mm_42_1_01_05_01.png); opacity: 1; */
}

#quiz-01 .input-cont {
    width: 60px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 369px;
    top: 331px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 369px;
    top: 411px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 841px;
    top: 331px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 841px;
    top: 411px;
}
#quiz-01 .input-cont:nth-child(5) {
    left: 951px;
    top: 371px;
}
#quiz-01 .input-cont:nth-child(6) {
    left: 1021px;
    top: 331px;
}
#quiz-01 .input-cont:nth-child(7) {
    left: 1021px;
    top: 411px;
}

.btn-answer-part:nth-child(1) {
    left: 439px;
    top: 378px;
}

.btn-answer-part:nth-child(2) {
    left: 1091px;
    top: 378px;
}