.content-container > .content > .bg {
    background-image: url(../images/mm_42_1_06_06_02/bg.svg);
    /* background-image: url(../images/03.png); opacity: 1; */
}

#quiz-01 .input-cont {
    width: 60px;
}
#quiz-01 .input-cont:nth-child(1) {
    left: 338px;
    top: 495px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 408px;
    top: 456px;
}