
.popup_pages .flex-wrap{justify-content:space-around; width: 80%; margin:0 auto}

.math_calc_table.type-2{width:150px;}
.math_calc_table .answer{letter-spacing: 29px;}

.picture-box {position:relative;background-repeat:no-repeat;background-position:50% 50%;height: 530px;margin:0 auto}
.picture-box .txt-box {position:absolute;text-align:center;font-size:34px;line-height:40px;/* letter-spacing:-1px */}

.innerTab_1 .picture-box {background-image:url("../images/suhi_h_0302_01_0001/suhi_h_0302_01_0001_1.png");width: 100%;background-size:auto 530px;}
.innerTab_1 .n1 {top: 28px;left: 293px;}
.innerTab_1 .n2 {top: 101px;left: 613px;}

.innerTab_2 .picture-box {background-image:url("../images/suhi_h_0302_01_0001/suhi_h_0302_01_0001_2.png");width:100%;background-size:auto 530px;}
.innerTab_2 .n1 {top: 29px;left: 443px;font-size: 36px;line-height: 44px;letter-spacing: -2px;}
.innerTab_2 .n2 {top: 127px;left: 577px;}

.innerTab_3 .picture-box {background-image:url("../images/suhi_h_0302_01_0001/suhi_h_0302_01_0001_3.png");width: 100%;background-size:auto 530px;}
.innerTab_3 .n1 {top: 138px;left: 250px;}
.innerTab_3 .n2 {top: 200px;left: 678px;}

.innerTab_4 .picture-box {background-image:url("../images/suhi_h_0302_01_0001/suhi_h_0302_01_0001_4.png");width:100%;background-size:auto 530px;}
.innerTab_4 .n1 {top: 30px;left: 220px;}
.innerTab_4 .n2 {top: 191px;left: 763px;}

.innerTab_5 .picture-box {background-image:url("../images/suhi_h_0302_01_0001/suhi_h_0302_01_0001_5.png");width:100%;background-size:auto 530px;}
.innerTab_5 .n1 {top: 34px;left: 225px;}
.innerTab_5 .n2 {top: 31px;left: 649px;/* letter-spacing: -4px; */}
.innerTab_5 .n3 {top: 353px;left: 709px;}

.innerTab_6 .picture-box {background-image:url("../images/suhi_h_0302_01_0001/suhi_h_0302_01_0001_6.png");width:100%;background-size:auto 530px;}
.innerTab_6 .n1 {top: 63px;left: 481px;/* letter-spacing: -3px; */}
.innerTab_6 .n2 {top: 22px;left: 539px;letter-spacing: -3px;}

.box-flex {display:flex}

.page_2 .img{float:right;width: 720px;}
.page_2 .bogi_wrap{position:absolute;top:0;left: 50px;}
.page_2 .bogi_wrap img{width: 130px;}
.page_2 .img img{width:100%}
.page_2 .bogi_wrap .inner{text-align: center;}
.page_2 .n1{position:absolute;top: 320px;left: 480px;}
.page_2 .n2{position:absolute;top: 320px;left: 830px;}

.pop_page_1 .flex-wrap{align-items: center; justify-content: flex-start;}
.pop_page_1 .flex-wrap img{display: block; width:100px; margin-right:20px}
.pop_page_1 .flex-wrap + .flex-wrap{margin-top:20px}

.page_3 .img-wrap{width:900px; margin:30px auto 30px;}
.page_3 .img-wrap img{display: block; width:100%; }

.page_4 .lineBox { padding:70px 10px 30px; transform: translate(0,-20px);}



.page_5 .dragLineArea::after{background-color: transparent;}
.page_5 img{width:850px;margin-top: 0;transform: translate(0px, 35px);}
.page_5 .study_guide {top:0 !important; right: 0;}
.page_5 .dragLineContainer {margin-top:0; flex-direction: column;}
.page_5 .colorBox{position: absolute; width:160px; text-align: center; background-color: transparent; }
.page_5 .colorBox.col1{left: 186px;}
.page_5 .colorBox.col2{left: 473px;}
.page_5 .colorBox.col3{left: 759px;}
.page_5 .colorBox.row1{top: 74px;}
.page_5 .colorBox.row2{top: 340px;}

.page_5 .dragLineObj.col1,
.page_5 .dragLineArea.col1{left: 269px;}
.page_5 .dragLineObj.col2,
.page_5 .dragLineArea.col2{left: 554px;}
.page_5 .dragLineObj.col3,
.page_5 .dragLineArea.col3{left: 839px;}

.page_5 .dragLineObj.row1,
.page_5 .dragLineArea.row1{top: 156px;}

.page_5 .dragLineObj.row2,
.page_5 .dragLineArea.row2{top: 315px;}
