.box-flex {display:flex}
.box-flex .group-a {width:50%;display:flex;align-items:center;margin-bottom:40px}
.page_1 .box-flex {justify-content:center;margin-top:40px}
.bunsuWrap .toggle {margin:4px 0}

.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important;}

.page_1 .buttonContainer,
.page_3 .buttonContainer {z-index:2}
.page_1 section {padding-right:0}
.page_1 .img-box {height:160px;text-align:center;margin-bottom:20px}
.page_1 .img-box img {height:100%;vertical-align:top}
.page_1 .innerTab_3 .toggle {height:195px}
.page_1 .innerTab_4 .toggle {margin-left:30px;width:calc(100% - 30px)}
.tableContainer .toggle {width:100%;background-color:transparent}

.suhi .page_2 h2+section .study_guide {top:0}

.page_3 .box-flex {margin:60px auto 0;width:800px;flex-wrap:wrap}

.pop_page_3 .box-flex {align-items:center}
.pop_page_3 .contentsList .dot.deepGreen {margin-top:34px}

.img-answer {position:relative}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;transition:opacity 1s}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {opacity:1}

.img-answer.n1 {width:220px;height:159px;margin:30px auto 20px}
.img-answer.n1 .toggle {background:url("../images/suhi_0601_04_0002_02_2.png") no-repeat 50% 50% / 100%}
.img-answer.n1 .exam {position:absolute;left:-60px;top:0}

.box-character {position:relative;height:180px}
.box-character .colorBox {position:absolute;width:110px;top:180px;text-align:center;color:#000}
.contentsBox .page_3 section {padding-right:0}
.page_3 .colorBox.in-box {display:inline-block}

.page_3 .innerTab_1 .box-character .characterImg {top:0;left:0}
.page_3 .innerTab_1 .box-character .colorBox {left:25px}
.page_3 .innerTab_1 .balloon:after {top:45px}
.page_3 .innerTab_1 .balloon {top:10px;left:200px;right:200px}
.page_3 .innerTab_1 .tableContainer {padding-left:200px;margin-top:-45px}
.page_3 .innerTab_1 .colorBox.in-box {margin-top:5px}

.page_3 .innerTab_2 .box-character .characterImg {top:0;left:auto;right:0}
.page_3 .innerTab_2 .box-character .colorBox {right:25px}
.page_3 .innerTab_2 .balloon:after {top:45px}
.page_3 .innerTab_2 .balloon {top:10px;left:200px;right:200px}
.page_3 .innerTab_2 .tableContainer {padding-right:200px}
.page_3 .innerTab_2 .colorBox.in-box {margin-top:12px}

