.content .bg{
    /* background: url(../images/mm_42_2_07_06_01/bg.png) 0 0 no-repeat; */
}
.twins-01 .bg{
    background: url(../images/mm_42_2_07_06_01/bg_popup_more01_02.png) 0 0 no-repeat;
}
.twins-02 .bg{
    background-image: url(../images/mm_42_2_07_06_01/bg_popup_more02.png);
}

.quiz-answer {
    left: 625px;
    top: 267px;
}
.quiz-02-answer {
    top: 317px;
}
.quiz-03-answer {
    top: 317px;
}


.box-01{
    position: absolute;
    width: 1280px;
    height: 720px;
    top: 0px;
    left: 0px;
}
.box-02{
    position: absolute;
    width: 1280px;
    height: 720px;
    top: 0px;
    left: 0px;
}
.box-03{
    position: absolute;
    width: 1280px;
    height: 720px;
    top: 0px;
    left: 0px;
}

.quiz-check.type-box .check-item {pointer-events: none;}
.quiz-check.type-box .check-item::after{display: none;}

.btns-answer-part .btn-answer-part{
    position: absolute;
    top:234px;
    left: 1190px;
}
.twins-01 .btns-answer-part .btn-answer-part{
    position: absolute;
    top: 279px;
    left: 1190px;
}
.twins-02 .btns-answer-part .btn-answer-part{
    position: absolute;
    top: 279px;
    left: 1190px;
}