#btn-hint-01 {
    left: 992px;
    top: 410px;
}

#quiz-02 .input-cont:nth-child(1) {
    width: 140px;
    left: 1098px;
    top: 161px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 240px;
    left: 849px;
    top: 324px;
}