#quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 100px;
    left: 354px;
    top: 273px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 100px;
    left: 737px;
    top: 273px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 100px;
    left: 289px;
    top: 343px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 100px;
    left: 423px;
    top: 443px;
}
