/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 180px;
    left: 325px;
    top: 514px;
}

.popup-mission .title:after{
    content:"";
    background: #FF7555;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius:2px;
    position: absolute;
    left: 465px;
    top: 31px;
}