#quiz-02 .input-cont:nth-child(1) {
    width: 140px;
    left: 261px;
    top: 578px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 140px;
    left: 621px;
    top: 578px;
}
#quiz-02 .input-cont:nth-child(3) {
    width: 140px;
    left: 981px;
    top: 578px;
}