.content > .bg{
    background: url(../images/mm_42_2_07_02_01/bg.svg) 0 0 no-repeat;
}



#quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 60px;
    left:346px;
    top: 408px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 60px;
    left: 221px;
    top: 563px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 80px;
    left: 802px;
    top: 563px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 80px;
    left: 1072px;
    top: 425px;
}

#quiz-02 .input-cont:nth-child(1) {
    width: 60px;
    left: 239px;
    top: 627px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 60px;
    left:366px;
    top: 444px;
}
#quiz-02 .input-cont:nth-child(3) {
    width: 80px;
    left: 567px;
    top: 501px;
}
#quiz-02 .input-cont:nth-child(4) {
    width: 80px;
    left: 988px;
    top: 360px;
}
#quiz-02 .input-cont:nth-child(5) {
    width: 80px;
    left:802px;
    top: 639px;
}
#quiz-02 .input-cont:nth-child(6) {
    width: 80px;
    left: 1098px;
    top: 501px;
}
#quiz-02 .input-cont{
    margin: -250px 0 0 1px;
}

#quiz-03 .input-cont:nth-child(1) {
    width: 80px;
    left: 223px;
    top: 624px;
}
#quiz-03 .input-cont:nth-child(2) {
    width: 80px;
    left: 351px;
    top: 453px;
}
#quiz-03 .input-cont:nth-child(3) {
    width: 80px;
    left: 591px;
    top: 481px;
}
#quiz-03 .input-cont:nth-child(4) {
    width: 80px;
    left: 978px;
    top: 364px;
}
#quiz-03 .input-cont:nth-child(5) {
    width: 80px;
    left: 802px;
    top: 619px;
}
#quiz-03 .input-cont:nth-child(6) {
    width: 80px;
    left: 1072px;
    top: 481px;
}

#quiz-03 .input-cont{
    margin: -247px 0 0 0;
}


.btn-answer-part:nth-child(1) {
    left: 414px;
    top: 348px
}
.btn-answer-part:nth-child(2) {
    left: 1020px;
    top: 208px;
}

.twins-01 .btn-answer-part:nth-child(1) {
    left: 414px;
    top: 384px;
}
.twins-01 .btn-answer-part:nth-child(2) {
    left: 1020px;
    top: 264px;
}
.twins-01 .btn-answer-part{
    margin: -261px 0 0 -72px;
}

.twins-02 .btn-answer-part:nth-child(1) {
    left: 414px;
    top: 384px;
}
.twins-02 .btn-answer-part:nth-child(2) {
    left: 1020px;
    top: 264px;
}
.twins-02 .btn-answer-part{
    margin: -268px 0 0 -43px;
}


.text-content div {
    position: relative;
}

.text-content div img {
    position: absolute;
    left: -30px;
    top: 17px;
}