.star-icon {
    position: absolute;
    width: 13px;
    height: 13px;
    background: url('../images/mm_42_2_05_03_03/star.svg')no-repeat center;
    background-size: contain;
}

.pos-01 {
    left: 216px;
    top: 0;
}
.pos-02 {
    left: 129px;
    top: 0;
}