.quiz-01-answer {
    position: absolute;
    left: 110px;
    top: 430px;
    visibility: hidden;
}
.quiz-01-answer.show {
    visibility: visible;
}

#quiz-01 .input-cont:nth-child(1) {
    width: 510px;
    left: 160px;
    top: 582px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 510px;
    left: 670px;
    top: 582px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 510px;
    left: 160px;
    top: 682px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 510px;
    left: 670px;
    top: 682px;
}

.btns-answer-part .btn-answer-part{
    position: absolute;
    left: 1164px;
    top: 379px;
}

.quiz-input-text .input-cont{
    margin: -177px 0 0 11px;
}