#quiz-01 .input-cont {
    width: 224px;
    margin: -280px 0 0 0;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 537px;
    top: 788px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 761px;
    top: 788px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 985px;
    top: 788px;
}

#quiz-01 .input-cont:nth-child(4) {
    left: 537px;
    top: 872px;
}
#quiz-01 .input-cont:nth-child(5) {
    left: 761px;
    top: 872px;
}
#quiz-01 .input-cont:nth-child(6) {
    left: 985px;
    top: 872px;
}

#quiz-01 .input-cont:nth-child(7) {
    left: 537px;
    top: 956px;
}
#quiz-01 .input-cont:nth-child(8) {
    left: 761px;
    top: 956px;
}
#quiz-01 .input-cont:nth-child(9) {
    left: 985px;
    top: 956px;
}

#quiz-01 .input-cont:nth-child(10) {
    left: 537px;
    top: 1040px;
}
#quiz-01 .input-cont:nth-child(11) {
    left: 761px;
    top: 1040px;
}
#quiz-01 .input-cont:nth-child(12) {
    left: 985px;
    top: 1040px;
}

.btn-answer-part {
    margin: -97px 0 0 0;
}
.btn-answer-part:nth-child(1) {
    left: 720px;
    top: 567px;
}
.btn-answer-part:nth-child(2) {
    left: 945px;
    top: 567px;
}
.btn-answer-part:nth-child(3) {
    left: 1170px;
    top: 567px;
}