.content > .bg{
    background: url(../images/mm_42_2_07_03_01/bg.svg) 0 0 no-repeat;
}

.twins-01 > .bg{
    background: url(../images/mm_42_2_07_03_01/bg_popup_more01.svg) 0 0 no-repeat;
}
.twins-02 > .bg{
    background: url(../images/mm_42_2_07_03_01/bg_popup_more02.svg) 0 0 no-repeat;
}

#quiz-01 .input-cont:nth-child(1) {
    width: 497px;
    left: 692px;
    top: 307px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 497px;
    left: 692px;
    top: 467px;
}

#quiz-02 .input-cont:nth-child(1) {
    width: 617px;
    left: 572px;
    top: 341px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 617px;
    left: 572px;
    top: 501px;
}

#quiz-03 .input-cont:nth-child(1) {
    width: 547px;
    left: 622px;
    top: 402px;
}

.text-content div {
    position: relative;
}

.text-content div img {
    position: absolute;
    left: -30px;
    top: 17px;
}