#quiz-01 .input-cont:nth-child(1) {
    width: 373px;
    left: 79px;
    top: 760px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 373px;
    left: 453px;
    top: 760px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 373px;
    left: 823px;
    top: 760px;
}

.quiz-input-text .input-cont{
    margin: -144px 0 0 -40px;
}

.btn-answer-part:nth-child(1) {
    left: 1135px;
    top: 490px;
}