@charset "utf-8";
@import "7_css.css";

.act .contentsArea > h1 {
  padding-left: 350px;
  padding-top: 13px;
}
.lesson_7.grade_4 .act .contentsArea > h1:before {
  top: -8px;
  width: 379px;
  height: 90px;
  background: url(../images/7_0/7_0_3_title.svg) center/contain no-repeat;
}

.imageContainer {
  height: 100%;
  font-family: MapleStoryL;
  background-position: 380px center;
}
.imageContainer h2,
.imageContainer p {
  position: absolute;
}
.imageContainer h2 {
  font-size: 34px;
  transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
}
.imageContainer p {
  top: 90px;
  font-size: 28px;
  text-align: center;
}
.inner_page1 .imageContainer {
  background-image: url("../images/7_0/7_0_3_01.svg");
}
.inner_page1 .imageContainer h2 {
  top: 25px;
  left: 464px;
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
}
.inner_page1 .imageContainer p {
  left: 471px;
}
.inner_page2 .imageContainer {
  background-image: url("../images/7_0/7_0_3_02.svg");
}
.inner_page2 .imageContainer h2 {
  top: 20px;
  left: 479px;
}
.inner_page2 .imageContainer p {
  left: 486px;
}
.inner_page3 .imageContainer {
  background-image: url("../images/7_0/7_0_3_03.svg");
}
.inner_page3 .imageContainer h2 {
  top: 20px;
  left: 490px;
}
.inner_page3 .imageContainer p {
  left: 492px;
}
.inner_page4 .imageContainer {
  background-image: url("../images/7_0/7_0_3_04.svg");
}
.inner_page4 .imageContainer h2 {
  top: 20px;
  left: 485px;
}
.inner_page4 .imageContainer p {
  left: 472px;
}
