@charset "utf-8";
@import "7_css.css";
.flexContainer {
  align-items: center;
}
.flexContainer figure {
  flex-shrink: 0;
  width: 530px;
  margin-right: 20px;
}
.flexContainer figure img[src*="svg"] {
  position: absolute;
  top: 0;
  left: 0;
}

.flexContainer .right {
  width: 100%;
}
.flexContainer .right .imageContainer {
  height: 80px;
  margin-bottom: 20px;
  background-image: url(../images/7_1/7_1_3_text2.svg);
}
.flexContainer .flexList {}
.flexContainer .flexList > li {
  display: flex;
}
.flexContainer .flexList > li:nth-of-type(1) {
  margin-bottom: 20px;
}
.flexContainer .flexList > li > ins {
  flex-shrink: 0;
  margin-right: 10px;
  margin-top: 8px;
}
.flexContainer .flexList > li > ins + * {
  width: 100%;
}
.flexContainer .flexList > li:nth-of-type(1) input {
  display: inline-block;
  text-align: center;
}
.flexContainer .flexList > li:nth-of-type(1) input:nth-of-type(1) {
  width: 90px;
}
.flexContainer .flexList > li:nth-of-type(1) input:nth-of-type(2) {
  width: 150px;
}
.flexContainer .flexList > li input {

}

section > img {
  position: absolute;
  left: -30px;
  bottom: 0;
  width: 187px;
}