@charset "utf-8";
@import "7_css.css";
.act .contentsArea h1 img {
  vertical-align: middle;
  width: 190px;
  margin: -11px 0 0 0;
}
.supplies {
  top: -75px;
}
.popupButton.head { top: -75px; }
.popup_container.zIndex {
  z-index: 10;
}
.popup_pages > li.head {
  width: 1130px;
  top: 165px;
  right: 80px;
}
.popup_pages .flexContainer .shrink { margin-right: 10px; }

.popup_pages > li.solve {
  font-size: 42px;
}

.popup_pages .flexBox {}
.popup_pages .flexBox img {
  width: 100%;
}
.popup_pages ins.exam.circle {
  margin-top: 7px;
  margin-right: 10px;
}
.popup_pages ins.exam.circle + * {
  letter-spacing: -2px;
}

[data-popup-page="3"] ins.exam.circle {
  margin-top: 2px;
  margin-right: 16px;
}
[data-popup-page="3"] ins.exam.circle + * {
  letter-spacing: -3px;
}

.page1 .supplies { right: 46px; }
.page1 .imageContainer {
  margin: 0 auto;
  width: 630px;
  height: 430px;
  background: url(../images/7_2/7_2_5_01.svg) center/contain no-repeat, url(../images/7_2/7_2_5_01.png) center/contain no-repeat;
}
.page1 .induceLight {
  top: 357px;
  left: 451px;
}
.page1 .movieBtn {
  position: absolute;
  top: 367px;
  right: 118px;
  width: 46px;
  height: 45px;
  cursor: pointer;
}

/* 2 */
.page2 .supplies { right: 0;}
.page2 .quizButtons[data-type="reset"] {
  right: 48px;
}

.page2 .noteContainer {
  position: relative;
  width: 1010px;
  height: 440px;
  margin: 0 auto;
  padding: 10px 30px;
  border: 3px solid #FBF9F6;
  background: #F8F7EF url(../images/7_2/7_2_5_card.svg) 6px 6px/140px no-repeat;
  box-sizing: border-box;
}
.page2 .noteContainer h2 {
  text-align: center;
  font-size: 34px;
  font-family: MapleStoryL;
}
.page2 .noteContainer p {
  font-size: 32px;
  word-break: break-all;
}
.page2 .noteContainer p.right {
  text-align: right;
  margin-bottom: 25px;
}
.page2 .noteContainer p.indent {
  text-indent: 0.9em;
}
.page2 .noteContainer input {
  display: inline-block;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 5px 4px 4px;
  text-indent: 0;
  text-align: center;
  background-color: transparent;
  border-bottom: 1px solid #000;
}
.page2 .noteContainer p.right input {
  width: 82px;
}

.page2 .noteContainer textarea {
  width: 100%;
  height: 236px;
  font-size: 32px;
  line-height: 1.5;
  text-align: justify;
  padding: 0;
  border-radius: 0;
  background: url(../images/7_2/7_2_5_line.png) center 41px/100% 240px no-repeat;
}

