@charset "utf-8";
@import "7_css.css";

input.inlineBox {
  width: 150px;
  margin-right: 3px;
}
.flexContainer figure {
  flex-shrink: 0;
  width: 670px;
  margin-right: 20px;
}
.flexContainer .right {
  width: 100%;
  margin-top: 30px;
}
