@charset "utf-8";
@import "7_css.css";
.act .contentsArea > h1 {
  letter-spacing: -3px;
}

.page1 .imageContainer {
  height: 490px;
  background: url("../images/7_3/7_3_4_01.svg") center/contain no-repeat, url("../images/7_3/7_3_4_01.png") center/contain no-repeat;
}
.page1 .popupButton { z-index: 1;}
/* 2 */
.page2 ins.draw {
  right: auto;
  top: 170px;
  left: 160px;
}
.page2 ins.draw:after {
  content: '각을 그려 보세요.';
}
.page2 .flexContainer {}
.page2 .flexContainer .table {
  margin: 0;
  width: 100%;
}
.page2 .flexContainer .table .shrink {
  width: 200px;
}
.page2 .flexContainer .table .title { text-align: center; }
.page2 .flexContainer .table ul > li:nth-of-type(2){
  height: 280px;
}
.page2 .flexContainer .drawLine {
  width: 100%;
  height: 100%;
}
.page2 .flexContainer .drawLine ins.exam.circle {
  position: absolute;
  display: none;
  top: 19px;
  left: 150px;
}
.page2 .flexContainer .drawLine.pointerOff ins.exam.circle {
  display: block;
}
.page2 .flexContainer .drawLine .dragObj {
  top: 200px;
  left: 420px;
}
.page2 .flexContainer .drawLine .induceLight {
  top: 189px;
  left: 406px;
}
.page2 .flexContainer .drawLine .resetButton {
  bottom: 5px;
  right: 0;
}
.page2 .flexContainer .left {
  width: 280px;
  height: 140px;
  flex-shrink: 0;
  margin-right: 20px;
}
.page2 .dragBox {
  position: absolute;
  top: 0;
  left: 62px;
  width: 280px;
  height: 140px;
}
.page2 .rotateContainer {
  top: 14px;
  left: 40px;
  width: 200px;
  height: 110px;
}
.page2 .rotateContainer.showRotate {
  width: 470px;
  height: 250px;
}

.page2 input.inlineBox {
  width: 300px;
}
.page2 .answerText {
  position: absolute;
  top: 23px;
  left: 50%;
  width: 160px;
  text-align: center;
  line-height: normal;
  transform: translate(-50%);
}
.page2 .answerText ins.exam {
  text-align: left;
}
