@charset "utf-8";
@import "7_css.css";
.flexContainer {
  align-items: flex-end;
}
.flexContainer figure {
  flex-shrink: 0;
  width: 610px;
  margin-right: 150px;
}

.flexContainer > .right {
  width: 100%;
}
.flexContainer .flexList {}
.flexContainer .flexList > li {
  display: flex;
}
.flexContainer .flexList > li:not(:last-of-type) {
  margin-bottom: 20px;
}
.flexContainer .flexList > li > ins {
  flex-shrink: 0;
  margin-right: 10px;
}
.flexContainer .flexList > li > ins + * {
  width: 100%;
}
.flexContainer .flexList > li input {
  display: inline-block;
  text-align: center;
  width: 190px;
}

.dragBox {
  width: 280px;
  height: 140px;
  margin-bottom: 27px;
}
.rotateContainer {
  top: 14px;
  left: 40px;
  width: 200px;
  height: 110px;
}
.rotateContainer.showRotate {
  width: 470px;
  height: 250px;
}