@charset "utf-8";
@import "7_css.css";
.act .contentsArea h1 img {
  vertical-align: middle;
  width: 190px;
  margin: -11px 0 0 0;
}
.supplies {
  top: -75px;
  right: 0;
}

.page1 ins.draw {
  top: 0px;
  right: 0;
  width: 260px;
  padding: 5px 18px 5px 36px;
  line-height: 1.1;
  word-break: break-all;
}
.page1 ins.draw:before {
  top: -2px;
}
.page1 ins.draw:after { content: '음식을 알맞은 곳에 드래그하세요.'; }
.page1 .dragContainer {
  position: relative;
  margin: 0 auto;
  width: 620px;
  height: 430px;
  background: url(../images/7_4/7_4_5_bg.svg) center/contain no-repeat, url(../images/7_4/7_4_5_bg.png) center/contain no-repeat;
}

.page1 .dragContainer .dragObj {
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.page1 .dragContainer .can {
  top: 30px;
  left: 104px;
  width: 57px;
  height: 52px;
  background-image: url("../images/7_4/7_4_5_01.png");
}
.page1 .dragContainer .bread {
  top: 7px;
  left: 321px;
  width: 49px;
  height: 51px;
  background-image: url("../images/7_4/7_4_5_02.png");
}
.page1 .dragContainer .water {
  top: 3px;
  left: 426px;
  width: 33px;
  height: 60px;
  background-image: url("../images/7_4/7_4_5_03.png");
}
.page1 .dragContainer .dropArea_1 .can {
  width: 80px;
  height: 80px;
}
.page1 .dragContainer .dropArea_2 .bread {
  width: 75px;
  height: 70px;
}
.page1 .dragContainer .dropArea_3 .water {
  width: 65px;
  height: 107px;
}
.page1 .dragContainer .dropArea_1 .dragObj:nth-child(1) {
  top: 12px;
  left: 0px;
}
.page1 .dragContainer .dropArea_1 .dragObj:nth-child(2) {
  top: 7px;
  left: 66px;
}
.page1 .dragContainer .dropArea_1 .dragObj:nth-child(3) {
  top: 1px;
  left: 128px;
}
.page1 .dragContainer .dropArea_1 .dragObj:nth-child(4) {
  top: 87px;
  left: 0px;
}
.page1 .dragContainer .dropArea_1 .dragObj:nth-child(5) {
  top: 79px;
  left: 66px;
}
.page1 .dragContainer .dropArea_1 .dragObj:nth-child(6) {
  top: 72px;
  left: 129px;
}
.page1 .dragContainer .dropArea_1 .dragObj:nth-child(7) {
  top: 162px;
  left: 0px;
}
.page1 .dragContainer .dropArea_1 .dragObj:nth-child(8) {
  top: 152px;
  left: 66px;
}
.page1 .dragContainer .dropArea_1 .dragObj:nth-child(9) {
  top: 143px;
  left: 129px;
}
.page1 .dragContainer .dropArea_2 .dragObj:nth-child(1) {
  top: -3px;
  left: 0px;
}
.page1 .dragContainer .dropArea_2 .dragObj:nth-child(2) {
  top: -3px;
  left: 57px;
}
.page1 .dragContainer .dropArea_2 .dragObj:nth-child(3) {
  top: -3px;
  left: 115px;
}
.page1 .dragContainer .dropArea_2 .dragObj:nth-child(4) {
  top: 63px;
  left: 0px;
}
.page1 .dragContainer .dropArea_2 .dragObj:nth-child(5) {
  top: 63px;
  left: 57px;
}
.page1 .dragContainer .dropArea_2 .dragObj:nth-child(6) {
  top: 63px;
  left: 115px;
}
.page1 .dragContainer .dropArea_3 .dragObj:nth-child(1) {
  top: -3px;
  left: 2px;
}
.page1 .dragContainer .dropArea_3 .dragObj:nth-child(2) {
  top: -3px;
  left: 61px;
}
.page1 .dragContainer .dropArea_3 .dragObj:nth-child(3) {
  top: -3px;
  left: 120px;
}
.page1 .dragContainer .dropArea_3 .dragObj:nth-child(4) {
  top: 101px;
  left: 2px;
}
.page1 .dragContainer .dropArea_3 .dragObj:nth-child(5) {
  top: 101px;
  left: 61px;
}
.page1 .dragContainer .dropArea_3 .dragObj:nth-child(6) {
  top: 101px;
  left: 120px;
}
.page1 .dragContainer .dropArea {
  position: absolute;
}
.page1 .dragContainer .dropArea .dragObj {
  pointer-events: none;
}
.page1 .dragContainer .dropArea_1 {
  top: 110px;
  left: 44px;
  width: 202px;
  height: 230px;
}
.page1 .dragContainer .dropArea_2 {
  top: 80px;
  left: 327px;
  width: 185px;
  height: 130px;
}
.page1 .dragContainer .dropArea_3 {
  top: 212px;
  left: 327px;
  width: 185px;
  height: 205px;
}
.page1 .induceLight {}
.page1 .induceLight.light_1 {
  top: 19px;
  left: 95px;
}
.page1 .induceLight.light_2 {
  top: -2px;
  left: 308px;
}
.page1 .induceLight.light_3 {
  top: -2px;
  left: 405px;
}

.page2 .quizButtons[data-type="reset"] {
  right: 48px;
}
.page2 .noteContainer {
  position: relative;
  width: 1010px;
  height: 440px;
  margin: 0 auto;
  padding: 10px 30px;
  border: 3px solid #FBF9F6;
  background: #F8F7EF url(../images/7_4/7_4_5_card.svg) 6px 6px/140px no-repeat;
  box-sizing: border-box;
}
.page2 .noteContainer h2 {
  text-align: center;
  font-size: 34px;
  font-family: MapleStoryL;
}
.page2 .noteContainer p {
  font-size: 32px;
  word-break: break-all;
}
.page2 .noteContainer p.right {
  text-align: right;
  margin-bottom: 25px;
}
.page2 .noteContainer p.indent {
  text-indent: 0.9em;
}
.page2 .noteContainer input {
  display: inline-block;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 5px 4px 4px;
  text-indent: 0;
  text-align: center;
  background-color: transparent;
  border-bottom: 1px solid #000;
}
.page2 .noteContainer p.right input {
  width: 82px;
}

.page2 .noteContainer textarea {
  width: 100%;
  height: 142px;
  font-size: 32px;
  line-height: 1.5;
  text-align: justify;
  padding: 0;
  border-radius: 0;
  background: url(../images/7_2/7_2_5_line.png) center 41px/100% 240px no-repeat;
}

.popup_pages > li.min.solve {
  font-size: 45px;
}

.popup_pages .flexContainer ins.exam.circle {
  margin-top: 5px;
  margin-right: 10px;
}
.popup_pages .flexContainer ins.exam.circle + * {}