@charset "utf-8";
@import "7_css.css";
.imageContainer {
  width: 100%;
  height: 430px;
  background: url(../images/7_4/7_4_3_01.svg) center bottom/contain no-repeat, url(../images/7_4/7_4_3_01.png) center bottom/contain no-repeat;
}

.imageContainer .balloon {
  position: absolute;
  top: 0;
  right: 0;
  width: 390px;
  height: 230px;
  font-size: 42px;
  padding: 50px 0 0 0;
  text-align: center;
  font-family: MapleStoryL;
  background: url(../images/7_4/7_4_3_balloon.svg) center/contain no-repeat;
  box-sizing: border-box;
}
.imageContainer .balloon input {
  display: inline-block;
  width: 100px;
  text-align: center;
}
