@charset "utf-8";
@import "7_css.css";
.table {
  font-size: 44px;
  margin: 0;
}
.table input {
  width: 120px;
  font-family: NSquareRB;
}
.table ul > li {
  font-family: 'MapleStoryL';
}
.table ul > li img {
  vertical-align: middle;
}
.table ul.shrink {
  width: 340px;
}
.table ul > li.title {
  font-size: 35px;
  text-align: center;
}
.table ul > li:not(:nth-of-type(1)) {
  height: 86px;
}