.math-play .title-h1 {
	position: relative;
	top: auto;
	margin-top: -5px;
	padding: 0;
	margin-left: 0px;
}
.math-play .title-h1 > .left-inner {
	padding: 0 4px 0 11px;
}
.math-play .title-h1 .ico-title-h1.num-01::before {	
	height: 48px;
	margin: 0 0 0 0;
	background: #D75C19;
	border-radius: 20px;
	border-bottom-right-radius: 0;
}

.color-type-blue .math-play .title-h1 .ico-title-h1.num-01::before {
    background: #00A5E5;
}

.scroll-box.w-1200 .scroll-inner > .q-box {
    padding: 0 0 0 8px;
    text-indent: 36px;
}