.content-container > .content > .bg {
    background-image: url(../images/mm_42_4_02_07_04/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 체크 퀴즈 */
#quiz-01 .check-item {
    width: 200px;
    height: 100px;
    position: absolute;
    /* background-color: rgba(255,0,0,0.5); */
}
#quiz-01 .check-item:nth-child(1) {
    left: 433px;
    top: 547px;
}
#quiz-01 .check-item:nth-child(2) {
    left: 952px;
    top: 547px;
}


/* 체크 퀴즈 */
#quiz-02 .check-item {
    width: 200px;
    height: 100px;
    position: absolute;
    /* background-color: rgba(255,0,0,0.5); */
}
#quiz-02 .check-item:nth-child(1) {
    left: 167px;
    top: 375px;
}
#quiz-02 .check-item:nth-child(2) {
    left: 544px;
    top: 375px;
}
#quiz-02 .check-item:nth-child(3) {
    left: 915px;
    top: 375px;
}