.content-container > .content > .bg {
    /* background-image: url(../images/mm_42_4_03_05_01/bg.svg); */
    /* background-image: url(../images/mm_42_4_03_05_01.png); opacity: 1; */
}
.app-angle-tool .tool-container {
    top: 160px;
}

.btn-answer-part:nth-child(1) {
    left: 565px;
    top: -1px;
}

.btn-answer-part:nth-child(2) {
    left: 1086px;
    top: -1px;
}

.quiz-check.image-answer {
    position: relative;
    left: 180px;
    top: 0px;
}


#quiz-02.quiz-check.image-answer {
    position: absolute;
    left: 700px;
    top: 0;
}