.content-container > .content > .bg {
    background-image: url(../images/mm_42_4_06_06_01/bg.svg);
    /* background-image: url(../images/mm_42_4_06_06_01.png); opacity: 1; */
}

#quiz-01 .input-cont {
    width: 60px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 117px;
    top: 397px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 434px;
    top: 424px;
    width: 100px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 1025px;
    top: 320px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 976px;
    top: 490px;
    width: 80px;
}