.content-container > .content > .bg {
    /* background-image: url(../images/mm_42_4_08_05_01/bg.svg); */
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 쌍둥이 문제 bg */
.popup-twins.twins-01 > .bg {
    /* background-image: url(../images/mm_42_4_08_05_01/bg_twins_01.svg); */
}
.popup-twins.twins-02 > .bg {
    /* background-image: url(../images/mm_42_4_08_05_01/bg_twins_02.svg); */
}

#quiz-01 .input-cont {
    width: 808px;
    margin: -6px 0 0 -9px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 162px;
    top: 416px;
    width: 190px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 162px;
    top: 486px;
    width: 1020px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 396px;
    top: 670px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 396px;
    top: 750px;
}
#quiz-01 .input-cont:nth-child(5) {
    left: 396px;
    top: 830px;
}
#quiz-01 .input-cont:nth-child(6) {
    left: 396px;
    top: 910px;
}
#quiz-01 .input-cont:nth-child(7) {
    left: 396px;
    top: 990px;
}

.btn-answer-part:nth-child(3) {
    left: 1183px;
    top: 634px;
}

#quiz-02 .input-cont {
    width: 808px;
    /* margin-top: 62px; */
    margin: 14px 0 0 -9px;
}

#quiz-02 .input-cont:nth-child(1) {
    left: 162px;
    top: 376px;
    width: 350px;
}
#quiz-02 .input-cont:nth-child(2) {
    left: 162px;
    top: 446px;
    width: 1020px;
}
#quiz-02 .input-cont:nth-child(3) {
    left: 396px;
    top: 630px;
}
#quiz-02 .input-cont:nth-child(4) {
    left: 396px;
    top: 710px;
}
#quiz-02 .input-cont:nth-child(5) {
    left: 396px;
    top: 790px;
}
#quiz-02 .input-cont:nth-child(6) {
    left: 396px;
    top: 870px;
}
#quiz-02 .input-cont:nth-child(7) {
    left: 396px;
    top: 949px;
}

.twins-01 .btn-answer-part:nth-child(3) {
    left: 1183px;
    top: 600px;
}

#quiz-03 .input-cont {
    width: 808px;
    margin: 132px 0 0 -9px;
}

#quiz-03 .input-cont:nth-child(1) {
    left: 162px;
    top: 376px;
    width: 350px;
}
#quiz-03 .input-cont:nth-child(2) {
    left: 162px;
    top: 446px;
    width: 1020px;
}
#quiz-03 .input-cont:nth-child(3) {
    left: 396px;
    top: 630px;
}
#quiz-03 .input-cont:nth-child(4) {
    left: 396px;
    top: 710px;
}
#quiz-03 .input-cont:nth-child(5) {
    left: 396px;
    top: 790px;
}
#quiz-03 .input-cont:nth-child(6) {
    left: 396px;
    top: 870px;
}
#quiz-03 .input-cont:nth-child(7) {
    left: 396px;
    top: 949px;
}

.twins-02 .btn-answer-part:nth-child(3) {
    left: 1183px;
    top: 735px;
}