.content-container > .content > .bg {
    background-image: url(../images/mm_42_4_02_07_01/bg.png);
    /* background-image: url(../images/01.png); opacity: 1; */
}
#quiz-01 .input-cont:nth-child(1) {
    width: 60px;
    left: 86px;
    top: 291px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 60px;
    left: 257px;
    top: 431px;
}

.btn-answer-part:nth-child(1) {
    left: 496px;
    top: 296px;
}

.btn-answer-part:nth-child(2) {
    left: 454px;
    top: 433px;
}