.content-container > .content > .bg {
    background-image: url(../images/mm_42_4_08_03_01/bg.svg);
    /* background-image: url(../images/mm_42_4_08_03_01.png); opacity: 1; */
}

/* 쌍둥이 문제 bg */
.popup-twins.twins-01 > .bg {
    background-image: url(../images/mm_42_4_08_03_01/bg_twins_01.svg);
}
.popup-twins.twins-02 > .bg {
    background-image: url(../images/mm_42_4_08_03_01/bg_twins_02.svg);
}

#quiz-01 .input-cont {
    width: 60px;
}
#quiz-02 .input-cont {
    width: 60px;
}
#quiz-03 .input-cont {
    width: 60px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 330px;
    top: 429px;
    width: 100px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 478px;
    top: 488px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 954px;
    top: 245px;
    width: 80px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 1013px;
    top: 425px;
}

#quiz-02 .input-cont:nth-child(1) {
    left: 324px;
    top: 451px;
    width: 100px;
}
#quiz-02 .input-cont:nth-child(2) {
    left: 499px;
    top: 518px;
}
#quiz-02 .input-cont:nth-child(3) {
    left: 921px;
    top: 439px;
    width: 100px;
}
#quiz-02 .input-cont:nth-child(4) {
    left: 864px;
    top: 533px;
}

#quiz-03 .input-cont:nth-child(1) {
    left: 175px;
    top: 531px;
    width: 80px;
}
#quiz-03 .input-cont:nth-child(2) {
    left: 485px;
    top: 314px;
}
#quiz-03 .input-cont:nth-child(3) {
    left: 1018px;
    top: 399px;
    width: 80px;
}
#quiz-03 .input-cont:nth-child(4) {
    left: 1054px;
    top: 288px;
}