.sup {font-size:24px;position:relative;top:-8px}
.suhi header h1 .sub-text .sup {font-size:11px;top:-6px}
h2 .sup,
th .sup,
.lineBox .sup,
.textAlignC .sup,
.flex-item .sup,
.toggle .sup {top:-12px}

.complete .sub-answer {opacity:1}
.sub-answer {opacity:0;transition: opacity 0.5s ease-in-out;}
.sub-answer.complete {opacity:1}


.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important}

.tableContainer .toggle {padding:0;background-color:transparent}
.tableContainer th {height:60px}

.img-content {position:relative}
.img-content img {vertical-align:top}
.img-content .txt-item {position:absolute;white-space:nowrap;font-size:40px}

.toggle.type-b {padding:0;background-color:transparent}
.toggle.type-b::after {content:none}

.popup_pages .solve {width:1060px}

.page_1 .zoom-area {position:relative;width:360px;height:120px;margin:0 auto 10px}
.page_1 .zoom-area .img-content {position:absolute;top:-160px;left:-150px;transform:scale(.25)}
.page_1 .zoom-area .zoomBtn {width:100%;height:100%}
.page_1 .img-content img {height:441px}
.page_1 .img-content .txt-item.n1 {top:215px;left:32px}
.page_1 .img-content .txt-item.n2 {top:180px;left:187px}
.page_1 .img-content .txt-item.n3 {top:50px;left:230px}
.page_1 .img-content .txt-item.n4 {top:230px;left:285px}
.page_1 .img-content .txt-item.n5 {top:210px;left:411px}
.page_1 .img-content .txt-item.n6 {top:138px;left:435px}
.page_1 .lineBox {padding:10px 20px;line-height:1.2;letter-spacing:-1px}

.page_2 .img-content {margin-bottom:50px;text-align:center}
.page_2 .img-content img {height:160px}
.page_2 .img-content .txt-item {font-size:36px}
.page_2 .img-content .txt-item.n1 {top:145px;left:380px}
.page_2 .img-content .txt-item.n2 {top:125px;left:523px}
.page_2 .img-content .txt-item.n3 {top:43px;left:546px}
.page_2 .quiz-content {margin-top:10px;text-align:center}
.page_2 .quiz-content dl {display:inline-flex}
.page_2 .quiz-content dl ~ dl {margin-left:40px}
.page_2 .quiz-content dd {margin-left:10px}
.page_2 .contentsList li {margin-bottom:20px}

.page_3 .quiz-content {display:flex;align-items:center;height:400px}
.page_3 .quiz-content .flex-wrap {flex-wrap:wrap;width:100%}
.page_3 .quiz-content .flex-item {flex:1 450px;margin:20px 40px 20px 0}

.page_4 .contentsList {letter-spacing:-2px}
.page_4 .bullet.green.number {color:#a3d48e;line-height:36px}

.pop_page_1 .full-img {display:flex;justify-content:center;align-items:center;width:100%;height:100%}
.pop_page_1 .img-content img {height:441px}
.pop_page_1 .img-content .txt-item.n1 {top:215px;left:32px}
.pop_page_1 .img-content .txt-item.n2 {top:180px;left:187px}
.pop_page_1 .img-content .txt-item.n3 {top:50px;left:230px}
.pop_page_1 .img-content .txt-item.n4 {top:230px;left:285px}
.pop_page_1 .img-content .txt-item.n5 {top:210px;left:411px}
.pop_page_1 .img-content .txt-item.n6 {top:138px;left:435px}

.page_5 .img-content {height:300px}
.page_5 .img-content img {position:absolute;top:20px;right:100px;height:240px}
.page_5 .img-content .txt-item.n1 {top:75px;left:435px}
.page_5 .img-content .txt-item.n2 {top:225px;left:690px}
.page_5 .img-content .txt-item.n3 {top:215px;left:855px}
.page_5 .img-content .txt-item.n4 {top:95px;left:885px}
.page_5 .characterImg {top:200px;left:50px}
.page_5 .popBtn.speech {top:180px;left:170px}
.popup_pages>li.speech.popup_1 {top:280px;left:60px;width:370px;font-size:35px;padding:30px 20px;letter-spacing:-2px;text-align:center}
.popup_pages>li.speech.popup_1.bottom:after {left:40%}

.page_6 h2 img {height:40px;vertical-align:middle;position:relative;top:-4px}
.page_6 .toggle .answer {text-align:center}
.page_6 .toggle.type-b .bullet {margin:0}

.pop_page_2 .popup_contents {letter-spacing:-1px}
.pop_page_4 .bullet.green.number {color:#a3d48e;line-height:36px;vertical-align:middle}
.pop_page_5.on {z-index:4 !important}
