.content-container > .content > .bg {
    background-image: url(../images/mm_42_6_05_05_01/bg.png);
    /* background-image: url(../images/mm_42_6_05_05_01.png); opacity: 1; */
}
.quiz-check.image-answer {
    position: absolute;
    left: 0;
    top: 0;
}

.btn-answer-part:nth-child(1) {
    left: 461px;
    top: 333px;
}
