.content-container > .content > .bg {
    /* background-image: url(../images/mm_42_6_06_07_01/guide01.png); */
    /* background-image: url(../images/mm_42_6_06_07_01/guide01.png); opacity: 0.5; */
}

.app-mind-map .map.title {
    left: 483px;
    top: 318px;
}
.app-mind-map .map-01 {
    left: 75px;
    top: 114px;
}
.app-mind-map .map-02 {
    left: 844px;
    top: 114px;
}
.app-mind-map .map-03 {
    left: 473px;
    top: 507px;
}
/* .app-mind-map .map-04 {
    left: 913px;
    top: 336px;
}
.app-mind-map .map-05 {
    left: 722px;
    top: 522px;
}
.app-mind-map .map-06 {
    left: 331px;
    top: 538px;
}
.app-mind-map .map-07 {
    left: 45px;
    top: 345px;
} */