.content-container > .content > .bg {
    /* background-image: url(../images/mm_42_6_01_04_01/bg.svg); */
    /* background-image: url(../images/mm_42_6_01_04_01.png); opacity: 1; */
}
/* .quiz-check.image-answer {
    position: absolute;
    left: 0;
    top: -180px;
}
 */
/* 

.img-box .svg-img {
    position: absolute;
    left: 159px;
    top: 0px;
} */
