.quiz-check.image-answer {
    position: absolute;
    left: 0;
    top: 0px;
}
/* 
#quiz-02 {
    position: absolute;
    top: 236px;
    left: 73px;
} */

.btn-answer-part:nth-child(2) {
    left: 613px;
    top: 470px;
}
/* 
#quiz-01 .answer {
    top: -10px;
    left: 73px;
    z-index: 5;
} */