.content-container > .content > .bg {
    /* background-image: url(../images/mm_42_6_05_04_01/bg.svg); */
    /* background-image: url(../images/01.png); opacity: 1; */
}
#btn-hint-01 {
    left: 1013px;
    top: 328px;
    z-index: 1;
}

#quiz-01 .answer {
    left: 288px;
    top: 231px;
}

#quiz-02 .answer {
    left: 685px;
    top: -343px;
}
.btn-answer-part:nth-child(1) {
    left: 429px;
    top: 379px;
}
.btn-answer-part:nth-child(2) {
    left: 809px;
    top: 379px;
}

#quiz-01 div.quiz-00-answer.answer-part-00.answer .ico-box-text-02.bb-01 {
    left: -5px;
    top: 30px;
}
#quiz-02 div.quiz-00-answer.answer-part-00.answer .ico-box-text-02.bb-01 {
    left: -25px;
    top: 30px;
}