.content-container > .content > .bg {
    background-image: url(../images/mm_42_6_06_06_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 쌍둥이 문제 bg */
.popup-twins.twins-01 > .bg {
    background-image: url(../images/mm_42_6_06_06_01/bg_twins_01.svg);
}
.popup-twins.twins-02 > .bg {
    background-image: url(../images/mm_42_6_06_06_01/bg_twins_02.svg);
}

#quiz-01 .answer {
    left: 0px;
    top: -220px;
}

#quiz-02 .answer {
    left: 0px;
    top: -220px;
}

.btn-answer-part:nth-child(1) {
    left: 349px;
    top: 419px;
}
.btn-answer-part:nth-child(2) {
    left: 906px;
    top: 419px;
}

#quiz-03 .answer {
    left: 0px;
    top: -240px;
}

#quiz-04 .answer {
    left: 0px;
    top: -240px;
}

.popup-twins.twins-01 .btn-answer-part:nth-child(1) {
    left: 349px;
    top: 438px;
}
.popup-twins.twins-01 .btn-answer-part:nth-child(2) {
    left: 906px;
    top: 438px;
}

#quiz-05 .answer {
    left: 0px;
    top: -240px;
}

#quiz-06 .answer {
    left: 0px;
    top: -240px;
}

.popup-twins.twins-02 .btn-answer-part:nth-child(1) {
    left: 317px;
    top: 445px;
}
.popup-twins.twins-02 .btn-answer-part:nth-child(2) {
    left: 926px;
    top: 445px;
}


#quiz-01 div.quiz-00-answer.answer-part-00.answer .ico-box-text-02.bb-01 {
    left: 175px;
    top: 350px;
}
#quiz-02 div.quiz-00-answer.answer-part-00.answer .ico-box-text-02.bb-01 {
    left: 725px;
    top: 350px;
}

#quiz-03 div.quiz-00-answer.answer-part-00.answer .ico-box-text-02.bb-01 {
    left: 175px;
    top: 370px;
}
#quiz-04 div.quiz-00-answer.answer-part-00.answer .ico-box-text-02.bb-01 {
    left: 725px;
    top: 370px;
}

#quiz-05 div.quiz-00-answer.answer-part-00.answer .ico-box-text-02.bb-01 {
    left: 105px;
    top: 340px;
}
#quiz-06 div.quiz-00-answer.answer-part-00.answer .ico-box-text-02.bb-01 {
    left: 715px;
    top: 340px;
}