.content-container > .content > .bg {
    /* background-image: url(../images/mm_42_6_03_06_04/bg.svg); */
    /* background-image: url(../images/mm_42_6_03_06_02.png); opacity: 1; */
}
#quiz-01 .input-cont {
    width: 100px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 1003px;
    top: 492px;
}

#quiz-01 .input-cont:nth-child(2) {
    left: 1139px;
    top: 492px;
}
