.contentsBox section{padding:0;}
.contentsBox .toggle .answer{position: relative;text-align: justify;}
.contentsBox .toggle .answer.ico_exam{padding-left:60px;}
.contentsBox .toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

.page_2 .speech_view_box {display:flex;justify-content:space-around;}
.page_2 .speech_view_box > div {position:relative;text-align:center;}
.page_2 .speech_view_box > div .characterImg {display:block;position:relative;margin:0 auto;}
.page_2 .speech_view_box > div .colorBox {display:inline-block;}
.page_2 .speech_view_box > div .balloon {left:50%;min-width:300px;font-size:30px;transform:translate(-50%, 0);}

.page_3 .textAlignC .lineBox {display:inline-block;}
.page_3 .toggle .answer{padding-left:60px;}

.popup_container .speech {width:300px;}
.popup_container .speech:after {left:50%;transform:translate(-50%, 0);}
.popup_container .speech.popup_1 {left:50px;top:200px;letter-spacing: -3px;}
.popup_container .speech.popup_2 {left:400px;top:95px;letter-spacing: -3px;}
.popup_container .speech.popup_3 {left:750px;top:200px;letter-spacing: -3px;}


.popup_contents{font-size: 40px;text-align: center;}