.contentsBox section{padding:0;}
.contentsBox .toggle .answer{position: relative;text-align: justify;}
.contentsBox .toggle .answer .bullet.exam{position: absolute;top:0;left:0;}
.contentsBox .toggle.duplicate {position:static;padding:0;background:none;}
.contentsBox .toggle.duplicate .answer {position:static;padding:0;background:none;}
.contentsBox .toggle.duplicate:after {display:none;}
.contentsBox .toggleBlank {vertical-align:-3px;}
.contentsBox .complete_txt {display:none;color:#00a0ff;}
.contentsBox .complete .complete_txt {display:inline-block;}

.page_1 .lineBox {width:310px;margin:0 auto;}
.page_1 .multipleChoiceList.wrap {justify-content:space-around;margin:40px 0 0;}

.checkContainer .page_2  .study_guide {top:-15px;}
.page_2 .dragLineContainer {width:800px;margin:0 auto;}
.page_2 .dragLineContainer > ul > li {position:relative;margin:90px 0 0;}
.page_2 .dragLineContainer > ul > li:first-child {margin:0;}
.page_2 .dragLineContainer > ul > li .complete_txt {position:absolute;left:12px;top:65px;text-align:left;}
.page_2 .dragLineContainer > ul.yellow > li {position:relative;margin:50px 0 0;}
.page_2 .dragLineContainer > ul.yellow > li:first-child {margin:50px 0 0;}
.page_2 .left_1 {left:430px;}
.page_2 .left_1.top_1 {top:32px;}
.page_2 .left_1.top_2 {top:186px;}
.page_2 .left_1.top_3 {top:340px;}
.page_2 .left_2 {left:805px;}
.page_2 .left_2.top_1 {top:81px;}
.page_2 .left_2.top_2 {top:196px;}
.page_2 .left_2.top_3 {top:308px;}

.page_3 .quiz_formula {width:690px;margin:0 auto;}
.page_3 .quiz_formula > li {display:flex;align-items:center;justify-content:space-around;padding:30px 20px;margin:50px 0 0;}
.page_3 .quiz_formula > li:first-child {margin:0;}
.page_3 .quiz_formula > li .formula_item {position:relative;}
.page_3 .quiz_formula > li .complete_txt {position:absolute;top:110px;left:0;}

.page_4 .contentsList {margin: 50px 0 15px;}
.page_4 .contentsList li {display: inline-block;vertical-align:top;}
.page_4 .contentsList>li>.colorBox.check+* {width: auto;}
.page_4 .colorBox.check {display: inline-block;vertical-align: top;padding: 12px 18px;margin-right: 0;}
.page_4 .contentsList li+li {margin-left: 30px;}
.page_4 .contentsList .bunsuContainer {display: inline-block;margin: 0;}
.page_4 .contentsList > li:first-child .complete_txt {position:absolute;top:60px;left:0;}
.contentsBox .page_4 .contentsList > li:first-child .complete .complete_txt {display:block;text-align:left;}

.page_5 .contentsList {margin: 50px 0 15px;}
.page_5 .contentsList li {display: inline-block;vertical-align:top;}
.page_5 .contentsList>li>.colorBox.check+* {width: auto;}
.page_5 .colorBox.check {display: inline-block;vertical-align: top;padding: 12px 18px;margin-right: 0;}
.page_5 .contentsList li+li {margin-left: 30px;}
.page_5 .contentsList .bunsuContainer {display: inline-block;margin: 0;}
.page_5 .contentsList > li:first-child .complete_txt {position:absolute;top:60px;left:0;}
.contentsBox .page_5 .contentsList > li:first-child .complete .complete_txt {display:block;text-align:left;}

.pop_page_1 .contentsList li:nth-child(1) .nullBlank {display:inline-block;width:218px;height:50px;}
.pop_page_1 .contentsList li:nth-child(2) .nullBlank {display:inline-block;width:197px;height:50px;}
.pop_page_1 .contentsList li:nth-child(3) .nullBlank {display:inline-block;width:224px;height:50px;}