.contentsList {margin: 50px 0 15px;}
.contentsList li {display: inline-block;}
.contentsList>li>.colorBox.check+* {width: auto;}
.colorBox.check {display: inline-block;vertical-align: top;padding: 12px 18px;margin-right: 0;}
.contentsList li+li {margin-left: 30px;}
.contentsList .bunsuContainer {display: inline-block;margin: 0;}