.page_4 .flex-wrap,
.page_3 .flex-wrap {justify-content:space-around; align-items: center; height: 300px;}

.popup_pages .flex-wrap{justify-content:space-around; width: 80%; margin:0 auto}

.math_calc_table {width:200px;}
.math_calc_table .answer{letter-spacing: 29px;}

.box-flex {display:flex;align-items:center}
.box-flex .q-box,
.box-flex .lineBox {flex-shrink:0}
.box-flex .icon_arrow {margin:0 20px}
.box-flex .ex-img {width:620px}
.box-flex .ex-img img {width:100%}

.txt-blue {color:#00a0ff}
.greenT {color:green}
.math_calc_table .line_1{left:25%}
.math_calc_table .line_2{left:50%}
.math_calc_table .line_3{left:75%}
.math_calc_table .line_4{left:100%}

.img-box-a {text-align:center;margin-bottom:20px}
.img-box-a img {height:320px;vertical-align:top}

.bg-box-d {background:url("../images/suhi_h_0301_01_0008_2.png") no-repeat 50% 50%;background-size:contain;height:94px;width:137px;display:flex;align-items:center;justify-content:center;margin:0 40px}

.pop_page_1 .math_calc_table {width:200px;flex-shrink:0}
.pop_page_1 .contentsList {margin-left:40px}
.toggle.type-b {background-color:transparent}
.toggle.type-b:after {display:none}

.pop_page_2 .math_calc_table {width:200px}

.page_7 .box-flex {justify-content:center;margin-top:40px}

.popup_pages .solve .math_calc_table .del {opacity:1}
.popup_pages .pop_page_2 .flex-wrap {width:100%}
h2 img {vertical-align:middle;position:relative;top:-6px}


.math_calc_table .sup + .sup {top:-60px}
.page_4 .box-flex {justify-content:center;margin-top:40px}
.page_5 .img-box-a {margin-top:-20px; margin-bottom:0;}

.bg-box-a {background:url("../images/suhi_h_0301_01_0008_4.png") no-repeat 50% 50%;background-size:contain;height:420px;width:490px;margin:20px auto 0;position:relative;padding-top:100px;padding-right:20px;box-sizing:border-box}
.page_7 .math_calc_table {width:300px;margin:0 auto}
.page_7 .math_calc_table td {padding:12px 0;text-align:center}
.page_7 .math_calc_table .toggle {text-align:center}
.page_7 .math_calc_table .answer {letter-spacing:0}
.page_7 .math_calc_table .sup {top:-40px}
.page_7 .math_calc_table .sup .answer {color:#e94d40}

.greenT{color:green}
.page_1 .math_calc_table .rowLine{top:0; z-index: 1;}
.page_1 .math_calc_table .line_1{left:25%}
.page_1 .math_calc_table .line_2{left:50%}
.page_1 .math_calc_table .line_3{left:75%}
.page_1 .math_calc_table .line_4{left:100%}
.page_1 .math_calc_table{position: relative; top:0 !important; right:0 !important; transform: scale(.85);}
.page_1 .math_calc_table{width:200px; font-size: 34px; line-height: 1.1;}
.page_1 .math_calc_table td{padding:5px 0;}
.page_1 .math_calc_table .line td{padding: 0 !important;}
.page_1 .flex-wrap{justify-content:space-between; }
.page_1 .flex-item{position: relative;}
.page_1 .flex-item + .flex-item{margin-left:50px;}
.page_1 .flex-wrap .icon_arrow{margin:0;}
.page_1 td.bg{background: #e3e3e3;}
.page_1 .icon_arrow {position:absolute; right:-60px; top:90px; cursor: pointer;}
.sup.s2{top:-50px}

.page_6 .math_calc_table{width:200px; font-size:40px; transform: scale(1.2);}
.page_6 .math_calc_table .answer {letter-spacing: 25px;}
.page_6 .flex-wrap{width: 80%; background: url(../images/suh_h_0301_01_1011_203_1.png) no-repeat 50% 50% / cover; height: 320px; margin:0 auto; position: relative;}
.page_6 .flex-wrap .n1{position: absolute; top:100px; left:100px; width:190px}
.page_6 .flex-wrap .n2{position: absolute; top:100px; right:70px; width:190px}
.page_6 .blackT{color:#000;}
.page_6 .lay-tbl td{vertical-align: top;padding-bottom: 30px;}
.page_6 .lay-tbl .colorBox.check{margin-top:3px}
.page_6 .lay-tbl .colorBox{text-align: center;}

.vOn .icon_arrow {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}