#wrap header .title {display: inline-flex;height:52px;align-items: center;}
.operator{display:inline-block;padding:0 10px;vertical-align:middle;}
.pos-r{position:relative}
.pos-a{position:absolute}
.flex-center {display:flex;align-items:center;justify-content:center;}
.va-m{vertical-align:middle}
.ta-c {text-align:center}
.ta-l {text-align:left}
.width-auto {width:auto}
h2 .bunsuWrap {margin-top:-14px;}
.mr_100 {margin-right: 100px;}
.mr_200 {margin-right: 200px;}
.mr_300 {margin-right: 300px;}
.bunsuWrap.highlight {color: #00a0ff}
.bunsuWrap.highlight ul > li:first-of-type {border-bottom-color: #00a0ff;}
.icon_o_title.withBunsu {vertical-align: middle;display:inline-flex;align-items:center;justify-content:center;}

[class^='ex-'] {
    position: absolute;
}

.page_1 img {height: 150px;}
.page_1 .lineBox {padding: 30px; width: 800px; margin-top: 60px;}

.page_2 img {height: 300px;}
.page_2 .ex-label-1 {top: 70px;left: 182px;}
.page_2 .ex-label-2 {top: 70px;left: 442px;}
.page_2 .ex-label-3 {top: 32px;left: 755px;}
.page_2 .ex-label-4 {top: 240px;left: 213px;}
.page_2 .ex-label-5 {top: 192px;left: 429px;}
.page_2 .ex-label-6 {top: 231px;left: 792px;}

.page_3 img {height: 300px;}
.page_3 .ex-label-1 {top: 49px;left: 271px;}
.page_3 .ex-label-2 {top: 57px;left: 553px;}
.page_3 .ex-label-3 {top: 59px;left: 777px;}
.page_3 .ex-label-4 {top: 185px;left: 280px;}
.page_3 .ex-label-5 {top: 233px;left: 526px;}
.page_3 .ex-label-6 {top: 241px;left: 826px;}


.page_4 img {height: 250px;}
.page_4 .colorBox.sky {display: block; width: 250px; margin:50px auto; color: #000;}
.page_4 .flex-item {flex: 0 0 auto; width: 50%; text-align: center;}
.page_4 .n1 .ex-label-1 {top: 26px;left: 24px;}
.page_4 .n1 .ex-label-2 {top: 204px;left: 216px;}
.page_4 .n1 .ex-val-1 {top: 11px;left: 407px;width: 125px;}
.page_4 .n2 .ex-label-1 {top: -15px;left: 313px;}
.page_4 .n2 .ex-label-2 {top: 165px;left: 355px;}
.page_4 .n2 .ex-val-2 {top: 99px;left: 87px;}


.page_5 img {height: 150px;}
.page_5 .lineBox.blue {
    margin-top: 50px;
    border-color: #5ca2e7;
    padding: 0;
}
.page_5 .lineBox .n1,
.page_5 .lineBox .n2 {
    padding: 30px;
}
.page_5 .lineBox .n1 {
    border-right: 6px dashed #5ca2e7;
}

.page_6 img {height: 250px;}
.page_6 .lineBox {padding: 30px;}
.page_6 .ex-label-1 {top: 64px;left: -8px;}
.page_6 .ex-label-2 {top: 42px;left: 231px;width: 100px;}
.page_6 .ex-label-3 {top: 211px;left: 147px;}
.page_6 .lineBox {width: 600px;}
.page_6 .lineBox .n1,
.page_6 .lineBox .n2 { width: 50%; text-align: center;}
.page_6 .lineBox .icon {width: 80px; height: 80px;}
.page_6 .lineBox .n1 .ex-val-1 {top: -12px;left: 100px;}
.page_6 .lineBox .n2 .ex-val-2 {top: -12px;left: 100px;}