
.contentsBox .basicSlider_slides>li{display: flex; opacity: 0; visibility: hidden; position:absolute; z-index:-1; top:0}
.contentsBox .basicSlider_slides>li.on{display: flex; opacity: 1; visibility: visible; position:relative; z-index:0; top:0}.page_1 .flexListContainer{flex-direction: column; margin:200px 0 50px; padding-left:30px}



.page_1 .flexListContainer li{display: flex; align-items: center; margin:10px 0 }
.page_1 .flexListContainer .calcline .colorBox{display: inline-block; width:60px; height:60px; border-radius: 50%; padding:0; text-align: center;}
.page_1 .textBox {position: absolute;}

.page_1 .textBox .n1{position: absolute; width:230px; top:50px; left:20px; color: red;}
.page_1 .textBox .n1 .line{position:absolute; border-left:4px solid orange; border-bottom:4px solid orange; width:60px; height:50px; left:50%;}
.page_1 .textBox .n1 .line::after{content:"";
    display: block; position: absolute; width:1px; border-right:4px solid orange; height:50px; bottom:-50px; right:0;
}
.page_1 .textBox .n1 .line::before{
    content: "<";
    color:orange;
    position: absolute;
    top:-16px; left:-12px;
    transform: rotate(90deg);
}

.page_1 .textBox .n2{position: absolute; width:230px; top:50px; left:310px; color: green;}
.page_1 .textBox .n2 .line{position:absolute; border-right:4px solid orange; border-bottom:4px solid orange; width:60px; height:50px; left:10px;}
.page_1 .textBox .n2 .line::after{content:"";
    display: block; position: absolute; width:1px; border-left:4px solid orange; height:50px; bottom:-50px; left:0;
}
.page_1 .textBox .n2 .line::before{
    content: "<";
    color:orange;
    position: absolute;
    top:-16px; left:52px;
    transform: rotate(90deg);
}

.page_1 .textBox .n3{position: absolute;width: 40px;top: 213px;left: 580px;color: green;}
.page_1 .textBox .n3 .line{position:absolute;border-bottom:4px solid orange;width: 80px;height: 0;left: -100px;top: 25px;}

.page_1 .textBox .n3 .line::before{
    content: ">";
    color:orange;
    position: absolute;
    top: -26px;
    left: 57px;
}
.page_1 .colorBox.check.brown{margin-left:47px}

.page_2 h2 .circle{transform: translate(0,3px);}
.page_2 .circle{display: inline-block; width:30px; height:30px; border:3px solid #c83164; border-radius: 50%;}
.page_2 .lineBox{width:100%; display: flex; justify-content:space-between; margin-top:30px}
.page_2 .img-wrap{width:100%; position: relative; margin: 30px 0;}
.page_2 .img-wrap img{width:100%}
.page_2 .img-wrap .group{position: absolute; top:0;left:0; }
.page_2 .img-wrap .group .circle{position: absolute;}
.page_2 .img-wrap .group .circle.n1{top:0;left: 50px;}
.page_2 .img-wrap .group .circle.n2{top: 13px;left: 20px;}
.page_2 .img-wrap .group .circle.n3{top: 37px;left:0;}
.page_2 .img-wrap .group .circle.n4{top: 70px;left: -7px;}
.page_2 .img-wrap .group .circle.n5{top: 93px;left: 20px;}
.page_2 .group.n1{top:0; left:0;}
.page_2 .group.n2{top:0;left: 208px;}
.page_2 .group.n3{top:0;left: 414px;}
.page_2 .wrap{display: none;}
.page_2 .wrap.complete{display: block;}
.page_2.complete .lineBox .circle{opacity: .1;}

.page_3 .img-wrap{text-align: center; padding-bottom:20px}
.page_3 .img-wrap img{display: inline-block; width:850px}
.page_3 .textAlignC .n1{height: 84px; display: inline-block; vertical-align: middle; transform: translate(0,-7px);}
.page_3 .textAlignC .n2{height: 84px; display: inline-block; vertical-align: middle; transform: translate(0,-7px);}
.page_3 .contentsBox{padding-top:0;}
.page_3 .flex-wrap{justify-content: center; align-items: center;}
.page_3 .flex-wrap > * {margin: 10px 0 0;}
.page_3 .flex-wrap .colorBox{margin-right:20px}
.page_3 .flex-wrap .toggle{width:80px; transform: translate(0,-3px);}
.page_3 .flex-wrap .icon_arrow{margin-right:10px;}

.pop_page_1 .img-wrap{position: relative; width:700px; margin: 0 auto;}
.pop_page_1 .img-wrap img{width: 100%;}
.pop_page_1 .img-wrap .line{border:5px solid #00a0ff;border-radius: 10px;width: 340px;height: 40px;position: absolute;}
.pop_page_1 .img-wrap .line.n1{top: -3px;left:0;}
.pop_page_1 .img-wrap .line.n2{top: -3px;left: 350px;}
.pop_page_1 .img-wrap .line.n3{top: 60px;left:0;}
.pop_page_1 .img-wrap .line.n4{top: 60px;left: 350px;}
.pop_page_1 .flex-wrap {align-items: center; margin-top:10px}

.pop_page_2 .img-wrap{position: relative; width:700px; margin: 0 auto;}
.pop_page_2 .img-wrap img{width: 100%;}
.pop_page_2 .img-wrap .line{border:5px solid #00a0ff;border-radius: 10px;width: 340px;height: 40px;position: absolute;}
.pop_page_2 .img-wrap .line.n1{top: -3px;left:0;}
.pop_page_2 .img-wrap .line.n2{top: -3px;left: 350px;}
.pop_page_2 .img-wrap .line.n3{top: 60px;left:0;}
.pop_page_2 .img-wrap .line.n4{top: 60px;left: 350px;}
.pop_page_2 .flex-wrap {align-items: center; margin-top:10px}











.page_4 .circle{display: inline-block; width:30px; height:30px; border:3px solid #c83164; border-radius: 50%;}
.page_4 h2{z-index: 1;}
.page_4 .iframe-wrap{
    position: absolute;
    top:0; left:-56px;
    width:1224px;
    height:460px;
    z-index: 0;
    overflow: hidden;
}
.page_4 .page-iframe{width:1280px; height: 590px;
position: absolute;     
top: -130px;
left: -40px;}
.page_4  .contentsBox .basicSlider_slides{
    height: 460px;
}

.page_4 .basicSlider.contentsBox{padding: 0; height: 580px;}

.pop_page_3 .circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #c83164;
    box-sizing: border-box;
    display: inline-block;
}
.page_4 .innerTab_3 .contentsList,
.page_4 .innerTab_2 .contentsList{padding-left:50px; margin: 30px 0;}
.moveButtonContainer{width: auto; left:50%; transform: translate(-50%, 0);}

.pop_page_3 .img-wrap{width:600px; margin:30px auto 0; position:relative;}
.pop_page_3 .img-wrap img{width:100%}
.pop_page_3 .img-wrap .n1{position: absolute; top:-20px; left:10px;}
.pop_page_3 .img-wrap .n2{position: absolute; top:-20px; left:180px;}
.pop_page_3 .img-wrap .n3{position: absolute; top:-20px; left:350px;}
.pop_page_3 .img-wrap .n4{position: absolute; top:-20px; left:520px;}


.page_5 .img-wrap{text-align: center;}

.page_5 .img-wrap img{display: inline-block; width:500px}
.page_5 .textAlignC .n1{height: 84px; display: inline-block; vertical-align: middle; transform: translate(0,-7px);}
.page_5 .textAlignC .n2{height: 84px; display: inline-block; vertical-align: middle; transform: translate(0,-7px);}
.page_5 .contentsBox{padding-top:0;}
.page_5 .flex-wrap{justify-content: center; align-items: center;}
.page_5 .flex-wrap > * {margin: 10px 0 0;}
.page_5 .flex-wrap .colorBox{margin-right:20px}
.page_5 .flex-wrap .toggle{width:80px}

.page_6 .img-wrap{text-align: center; margin: 50px auto ;}
.page_6 .img-wrap img{display: inline-block; width:990px}
.page_6 .textAlignC .toggle{width:80px}











