.greenT{color:green}
.page_1 .math_calc_table .rowLine{top:0; z-index: 1;}
.page_1 .math_calc_table .line_1{left:50px}
.page_1 .math_calc_table .line_2{left:100px}
.page_1 .math_calc_table .line_3{left:150px}
.page_1 .math_calc_table{position: relative; top:0 !important; right:0 !important;}
.page_1 .math_calc_table{width:200px;  line-height: 1.1;}
.page_1 .math_calc_table td{padding:5px 0;}
.page_1 .math_calc_table .line td{padding: 0 !important;}
.page_1 .math_calc_table.class3 tr.line-tr td, .math_calc_table.class3 tr.line td{height: 2px !important;}
.page_1 .flex-wrap{justify-content:space-between; }
.page_1 .flex-item{position: relative;}
.page_1 .flex-item + .flex-item{margin-left:50px;}
.page_1 .flex-wrap .icon_arrow{margin:0;}
.page_1 td.bg{background: #e3e3e3;}
.page_1 .icon_arrow {position:absolute; right: -10px; top: 85px; cursor: pointer;}
.page_1 .icon_arrow.big{width: 41px; height: 35px;}
.page_1 .lineBox{padding-top:30px}
.page_1 .vOn .icon_arrow {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}

.page_1 .b3::after{left:30% !important}
.page_1 .flex-wrap{padding: 0 80px 0 140px;}
.page_1 .b1{bottom: -50px;left: 43px;text-align: center;z-index: 4;}
.page_1 .b2{bottom: -103px;left: -27px;text-align: center;z-index: 4;}
.page_1 .lineBox.box{height: 420px; padding-top: 50px;}

.page_2 .box-flex {display:flex;align-items:center}
.page_2 .box-flex.n1 {justify-content:space-around}
.page_2 .box-flex.n2 {justify-content:center;margin-top:20px}
.page_2 .img-box {height:350px}
.page_2 .img-box img {height:100%;vertical-align:top}
.page_2 .icon_arrow {margin-right:20px}

.page_3 .box-flex {display:flex;align-items:center;margin-top:30px;justify-content:center;position:relative}
/*.page_3 .center {margin:0 30px}*/
.page_3 .sub-help {position:absolute;top:90px}
.page_3 .sub-help:before {content:'';width:3px;height:30px;position:absolute;margin-left:-1px;top:-30px}
.page_3 .sub-help.n1:before {background-color:#c1e8ec;left:72%;}
.page_3 .sub-help.n2:before {background-color:#f7c1c9;left:30%;}
.page_3 .sub-help.n1 {left:85px}
.page_3 .sub-help.n1 span {color:#00a0ff}
.page_3 .sub-help.n2 {left:255px}
.page_3 .sub-help.n2 span {color:#ff0000}

.page_4 .box-flex {display:flex;justify-content:space-around;margin-top:80px}

.page_5 .img-bg {background:url("../images/suhi_h_0301_04_0003_3.png") no-repeat 50% 50%;height:120px;background-size:contain;position:relative;margin-top:30px}
.page_5 .img-bg .txt-item {position:absolute;left:310px;top:32px}
.page_5 .toggle {position:absolute;left:620px;top:7px;background-color:transparent;width:210px;height:106px;display:flex;align-items:center;justify-content:center}

.page_6 .img-bg {background:url("../images/suhi_h_0301_04_0003_4.png") no-repeat 50% 50%;height:121px;width:488px;background-size:contain;margin:40px auto 0;display:flex;align-items:center;box-sizing:border-box;padding-bottom:10px}
.page_6 .txt1 {width:210px;text-align:center}
.page_6 .txt2 {width:110px;text-align:center;transform: translate(2px, 2px);}
.page_6 .toggle {margin:0 50px}

.page_7 .img-bg {background:url("../images/suhi_h_0301_04_0003_5.png") no-repeat 50% 50%;height:320px;background-size:contain;width:340px;position:relative;margin:20px auto 40px;box-sizing:border-box;padding-top:80px}
.page_7 .img-bg .math_calc_table {margin-left:100px}

.page_8 .img-bg {background:url("../images/suhi_h_0301_04_0003_6.png") no-repeat 50% 50%;height:300px;background-size:auto 100%;position:relative;margin:20px auto 40px}
.page_8 .img-bg .txt-item {position:absolute;text-align:center;font-size:28px;line-height:1.1;letter-spacing:-2px}
.page_8 .txt-item.n1 {top: 173px;left: 11px;}
.page_8 .txt-item.n2 {top: 183px;left: 312px;}
.page_8 .txt-item.n3 {top: 212px;left: 540px;}
.page_8 .txt-item.n4 {top: 167px;left: 820px;}

.pop_page_2 .box-flex {display:flex;align-items:flex-start;margin-top:8px}
.pop_page_2 .box-flex .icon_arrow {position:relative;top:8px;margin-right:10px}

.pop_page_3 .box-flex {display:flex;justify-content:space-around}

.pop_page_4 .box-flex {display:flex;align-items:center}
.pop_page_4 .box-flex ~ .box-flex {margin-top:10px}
.pop_page_4 .box-flex .icon_arrow {margin:0 20px}
.pop_page_4 .round-box {width:42px;height:42px;display:inline-flex;text-align:center;justify-content:center;border:4px solid #3bb5fe;border-radius:50%;box-sizing:border-box;margin:0 8px;position:relative;top:2px}
.pop_page_4 .round-box img {height:30px;vertical-align:middle;position:relative;top:2px}

.pop_page_5 .box-flex {display:flex;align-items:flex-start;margin-top:8px}
.pop_page_5 .box-flex .icon_arrow {position:relative;top:8px;margin-right:10px}