@charset "utf-8";
.dragBox {
  width: 870px;
  height: 210px;
  margin: 50px auto 50px;
}
.colorBox {
  position: relative;
  margin: 0 auto;
  width: 1080px;
  height:115px;
  padding-left: 50px;
  box-sizing: border-box;
}
.dropArea {
  position:relative;
  padding-top: 20px;
  width: 100%;
  height: 100%;
}
.dropArea.blue {
  color: #0060e3;
}
.dragObj {
  width: 320px;
  height: auto;
}
.dragObj[data-index="1"] {
  top: 36px;
  left: 90px;
}
.dragObj[data-index="2"] {
  top: 36px;
  left: 495px;
  width: 260px;
}
.dragObj[data-index="3"] {
  top: 124px;
  left: 90px;
}
.dragObj[data-index="4"] {
  top: 124px;
  left: 495px;
}
.dropArea span,
.dropArea .dragObj.dragObjComplete {
  display: none;
}