@charset "utf-8";
/* page */
.dragBox {
  width: 680px;
  height: 120px;
  margin: 10px auto 20px;
}
.dragObj {
  position: absolute;
  top: 36px;
  font-size: 43px;
  width: 260px;
}
.dragBox .dragObj:nth-child(1) {
  left: 70px;
  width: 290px;
}
.dragBox .dragObj:nth-child(2) {
  left: 410px;
  width: 200px;
}
.dragObj > span {
  padding-left: 10px;
}
.dragBox .dragObj.dragObjComplete { opacity: 0.3; }

.dropContainer {
  position: relative;
  margin: 0 auto;
  width: 1080px;
  height: 160px;
  background: url(../images/1_6/1_6_2.svg) center 0/contain no-repeat;
}
.dropContainer .dropArea {
  position: absolute;
  display: flex;
  align-items: center;
  line-height: 54px;
  top: 40px;
  width: 82px;
  height: 78px;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #c6c6cc;
  box-sizing: border-box;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, .1);
  background-color: #fff;
}
.dropContainer .dropArea:nth-child(1) {
  left: 220px;
}
.dropContainer .dropArea:nth-child(2) {
  left: 776px;
}
.dropContainer .dropArea .dragObj {
  position: static;
  width: 100%;
  color: #0060e3;
  font-size: 50px;
  text-align: center;
}
.dropContainer .dropArea .dragObj > span {
  display: none;
}


.clickButton {
  top: 260px;
  left: 450px;
}