
@charset "utf-8";

/***********************
* 초등 전자저작물 *
* 수학 3-4학년 *
* ready.css *
***********************/

.ready .basicSlider_slides > li.on {
  display: flex;
  flex-direction: column;
}
.ready .basicSlider_slides > li > section {
  flex: 1 1 auto;
  position: relative;
}

/************************* title *************************/
.ready .contentsArea h1 {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  padding-left: 52px;
  font-family: NSquareREB;
}
.ready .contentsArea h1:before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: .9em;
  height: .9em;
  border-radius: 50%;
}
.ready .contentsArea h1:after {
  position: absolute;
  top: 12px;
  left: 11px;
  color: #fff;
  font-size: .7em;
  text-align: center;
}
.lesson_1 .ready .contentsArea h1:before {
  background-color: #F6871E;
}
.lesson_2 .ready .contentsArea h1:before {
  background-color: #6A75B0;
}
.lesson_3 .ready .contentsArea h1:before {
  background-color: #00ACB1;
}
.lesson_4 .ready .contentsArea h1:before {
  background-color: #AA5FA5;
}
.lesson_5 .ready .contentsArea h1:before {
  background-color: #56AF46;
}
.lesson_6 .ready .contentsArea h1:before {
  background-color: #F37048;
}

.ready .contentsArea h1[data-index="1"]:after { content: '1'; }
.ready .contentsArea h1[data-index="2"]:after { content: '2'; }
.ready .contentsArea h1[data-index="3"]:after { content: '3'; }
.ready .contentsArea h1[data-index="4"]:after { content: '4'; }
.ready .contentsArea h1[data-index="5"]:after { content: '5'; }
.ready .contentsArea h1[data-index="6"]:after { content: '6'; }
.ready .contentsArea h1[data-index="7"]:after { content: '7'; }
.ready .contentsArea h1[data-index="8"]:after { content: '8'; }
.ready .contentsArea h1[data-index="9"]:after { content: '9'; }

/*********************** title END ***********************/

.ready .titleIndent {
  margin-left: 54px;
}
.ready .titleIndent input.maxWidth {
  width: 1124px;
}

.ready ins.titleNumber {
  display: inline-block;
  position: relative;
  top: 10px;
  vertical-align: top;
  width: calc(80px * 0.6);
  height: calc(70px * 0.6);
  margin: 0 4px;
  background-size: auto calc(70px * 0.6);
  background-position: 0 0;
}
.ready ins.titleNumber:before{
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: 3px;
  width: .9em;
  height: .9em;
  border-radius: 50%;
}
.ready ins.titleNumber:after{
  content:'';
  color: #fff;
  font-size: .7em;
  text-align: center;
  position:relative;
  display:block;
  font-family: 'NSquareREB';
}
.lesson_5 .ready ins.titleNumber:before {
  background-color: #56AF46;
}
.ready ins.titleNumber[data-index="1"]:after {content:'1'}
.ready ins.titleNumber[data-index="2"]:after {content:'2'}
.ready ins.titleNumber[data-index="3"]:after {content:'3'}
.ready ins.titleNumber[data-index="4"]:after {content:'4'}
.ready ins.titleNumber[data-index="5"]:after {content:'5'}
.ready ins.titleNumber[data-index="6"]:after {content:'6'}
.ready ins.titleNumber[data-index="7"]:after {content:'7'}
.ready ins.titleNumber[data-index="8"]:after {content:'8'}
.ready ins.titleNumber[data-index="9"]:after {content:'9'}