body {
	background-color: rgba(255, 255, 255, 1);
}

.ui-container .bg {
	background-color: rgba(179, 210, 92, 1);
}

nav.global {
	/* background-color: rgba(76, 200, 230, 1); */
}

nav.global h1 {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(93, 135, 80, 1);
}

nav.global h1 span.number {
	color: rgba(33, 55, 61, 1);
	background-color: rgba(212, 226, 68, 1);
}

aside.sidenav .books {
	/* background-color: rgba(226, 240, 187, 1); */
}
aside.sidenav div.books .nav-area {
	/* background-color: rgba(226, 240, 187, 1); */
}
aside.sidenav div.books .os-viewport {
	/* background-image: rgba(226, 240, 187, 1); */
	background-image: linear-gradient(90deg, rgba(226, 240, 187, 1) 0px, rgba(226, 240, 187, 1) 340px)
}
aside.sidenav .books.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle
{
	background: #047970;
}

.volume .index {
	color: rgba(2, 58, 100, 1);
	background-color: rgba(111, 191, 249, 1);
}

.volumes > li.focus .volume .index {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(236, 92, 124, 1);
}

.parts > li .part {
	background-color: rgba(250, 255, 238, 1);
}

.parts > li > .part .index {
	background: rgba(124, 173, 42, 1);
	border-color: rgba(124, 173, 42, 1);
	color: rgba(255, 255, 255, 1);
}

.parts > li > .part .index:after {
	background: rgba(124, 173, 42, 1);
}

.parts > li.active > .part {
	background-color: rgba(255, 224, 0, 1);
}

.parts > li.active > .part .index {
	background: rgba(255, 126, 0, 1);
	border-color: rgba(255, 126, 0, 1);
}

.parts > li.active > .part .index:after {
	background: rgba(255, 126, 0, 1);
}

.chapters > li:before {
	color: rgba(206, 222, 163, 1);
}

.chapters > li + li {
	border-top: 2px dashed rgba(191, 208, 147, 1);
}

.chapters > li.active:before {
	color: rgba(255, 255, 255, 1);
}

.chapters > li.active:after {
}

.chapters > li.active .number {
	background-color: rgba(236, 92, 125, 1);
	border-color: rgba(236, 92, 125, 1);
}

.chapters > li.active .title {
	color: rgba(255, 255, 255, 1);
}

.chapters > li.active > .over-box,
.chapters > li.active .title:after {
	background-color: rgba(4, 121, 112, 1);
}

.corners {
	background-color: rgba(185, 217, 153, 1);
}

.corners .corners-header:nth-child(1) {
	background-color: rgba(255, 117, 85, 1);
}

.corners .corners-header:nth-child(1):after {
	background-image: url('../images/char04.svg');
}

.corners .corners-header:nth-child(3) {
	background-color: rgba(222, 168, 34, 1);
}

.corners .corners-header:nth-child(3):after {
	background-image: url('../images/char05.svg');
}

.corners .corners-header:nth-child(5) {
	background-color: rgba(181, 146, 98, 1);
}

.corners .corners-header:nth-child(5):after {
	background-image: url('../images/char06.svg');
}

.corners-body {
	background-color: rgba(255, 255, 255, 1);
}

.corners-body li:before {
	color: rgba(206, 222, 163, 1);
}

.corners-body li + li {
	border-top: 2px dashed rgba(191, 208, 147, 1);
}

.corners-body li.active .title {
	color: rgba(255, 255, 255, 1);
}

.corners-body li.active .title:after {
	background-color: rgba(4, 121, 112, 1);
}

.sidenav.extend .corners-pointer,
#moreApps:before {
	background-image: url('../images/ms_corners_pointer_04.svg');
}

.pager > div:nth-child(1) {
	color: rgba(51, 78, 40, 1);
	background-color: rgba(213, 240, 139, 1);
}

nav .btn-flat,
aside .btn-close {
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 4px rgba(255, 255, 255, 0.5);
}

nav .btn-flat:hover {
	background-color: rgba(4, 121, 112, 1);
	box-shadow: 0 4px rgba(41, 71, 112, 1);
}

nav .btn-flat:active,
nav .btn-flat:focus,
aside .btn-close:active,
aside .btn-close:focus {
	background-color: rgba(4, 121, 112, 1);
	box-shadow: 0 4px rgba(41, 71, 112, 1);
}

nav .btn-ext.type1 {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(76, 168, 13, 1);
	box-shadow: 0 5px rgba(63, 147, 5, 1);
}

nav .btn-ext.type1:hover,
nav .btn-ext.type1:focus,
nav .btn-ext.type1:active {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(76, 168, 13, 1);
	box-shadow: 0 5px rgba(63, 147, 5, 1);
}

nav .btn-ext.type2 {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(164, 102, 255, 1);
	box-shadow: 0 5px rgba(135, 86, 205, 1);
}

nav .btn-ext.type2:hover,
nav .btn-ext.type2:focus,
nav .btn-ext.type2:active {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(164, 102, 255, 1);
	box-shadow: 0 5px rgba(135, 86, 205, 1);
}

nav .btn-flat.btn-ext.disabled,
nav .btn-flat.btn-ext:disabled,
nav .btn-flat.btn-ext[disabled] {
	color: rgba(84, 174, 196, 1) !important;
	background-color: rgba(173, 238, 255, 1) !important;
	box-shadow: 0 5px rgba(135, 226, 250, 1) !important;
	pointer-events: none;
}

nav .btn-flat.btn-ext.disabled i,
nav .btn-flat.btn-ext:disabled i,
nav .btn-flat.btn-ext[disabled] i {
	background-image: url('../images/icon_forward_99.svg');
}
/*  
nav .sidenav-trigger:hover i,
nav .sidenav-trigger:focus i,
nav .sidenav-trigger:active i {
	background-image: url('../images/icon_contents_04.svg');
}

nav .btn-more:hover i,
nav .btn-more:focus i,
nav .btn-more:active i {
	background-image: url('../images/icon_more_04.svg');
}
*/

nav .btn-more,
nav .sidenav-trigger {
	background-color: rgba(255, 255, 255, 1) !important;
	box-shadow: 0 4px rgba(255, 255, 255, 0.5) !important;
}
nav .btn-more:hover,
nav .btn-more.open,
nav .sidenav-trigger:hover,
nav .sidenav-trigger.open {
	background-color: rgba(4, 121, 112, 1) !important;
	box-shadow: 0 4px rgba(41, 71, 112, 1) !important;
}

nav .btn-more:hover i,
nav .btn-more.open i {
	background-image: url('../images/icon_more_04.svg');
}

nav .sidenav-trigger:hover i,
nav .sidenav-trigger.open i {
	background-image: url('../images/icon_contents_04.svg')
	
}

nav .btn-ebook:hover i,
nav .btn-ebook:focus i,
nav .btn-ebook:active i {
	background-image: url('../images/icon_ebook_04.svg');
}

nav .btn-close:hover i,
nav .btn-close:focus i,
nav .btn-close:active i,
aside .btn-close:hover i,
aside .btn-close:focus i,
aside .btn-close:active i {
	background-image: url('../images/icon_close_04.svg');
}

#moreApps ul {
    background-color: rgba(185, 217, 153, 1);
    border-radius: 15px;
}

#moreApps ul::after {
	background: linear-gradient(90deg, rgba(185, 217, 153, 0.15) 0%, rgba(185, 217, 153, 0) 100%);
}

#moreApps li:hover a:after {
	background-color: rgba(4, 121, 112, 1);
}

#moreApps li+li+li a {
	border-top: 2px dotted rgba(191, 208, 147, 1);
}

#moreApps li a i.icon-01 {
    background-image: url('../images/ms_icon_moreapps_01_01.svg');
}
#moreApps li a:hover i.icon-01,
#moreApps li a:focus i.icon-01,
#moreApps li a:active i.icon-01,
#moreApps li.active a i.icon-01 {
    background-image: url('../images/icon_moreapps_01_02.svg');
}

#moreApps li a i.icon-02 {
    background-image: url('../images/ms_icon_moreapps_02_01.svg');
}
#moreApps li a:hover i.icon-02,
#moreApps li a:focus i.icon-02,
#moreApps li a:active i.icon-02,
#moreApps li.active a i.icon-02 {
    background-image: url('../images/icon_moreapps_02_02.svg');
}

#moreApps li a i.icon-03 {
    background-image: url('../images/ms_icon_moreapps_03_01.svg');
}
#moreApps li a:hover i.icon-03,
#moreApps li a:focus i.icon-03,
#moreApps li a:active i.icon-03,
#moreApps li.active a i.icon-03 {
    background-image: url('../images/icon_moreapps_03_02.svg');
}

#moreApps li a i.icon-04 {
    background-image: url('../images/ms_icon_moreapps_04_01.svg');
}
#moreApps li a:hover i.icon-04,
#moreApps li a:focus i.icon-04,
#moreApps li a:active i.icon-04,
#moreApps li.active a i.icon-04 {
    background-image: url('../images/icon_moreapps_04_02.svg');
}

#moreApps li a i.icon-04.grade-4 {
    background-image: url('../images/ms_icon_moreapps_04_01_b.svg');
}
#moreApps li a:hover i.icon-04.grade-4,
#moreApps li a:focus i.icon-04.grade-4,
#moreApps li a:active i.icon-04.grade-4,
#moreApps li.active a i.icon-04.grade-4 {
    background-image: url('../images/icon_moreapps_04_02_b.svg');
}

#moreApps li a i.icon-05 {
    background-image: url('../images/ms_icon_moreapps_05_01.svg');
}
#moreApps li a:hover i.icon-05,
#moreApps li a:focus i.icon-05,
#moreApps li a:active i.icon-05,
#moreApps li.active a i.icon-05 {
    background-image: url('../images/icon_moreapps_05_02.svg');
}

#moreApps li a i.icon-06 {
    background-image: url('../images/ms_icon_moreapps_06_01.svg');
}
#moreApps li a:hover i.icon-06,
#moreApps li a:focus i.icon-06,
#moreApps li a:active i.icon-06,
#moreApps li.active a i.icon-06 {
    background-image: url('../images/icon_moreapps_06_02.svg');
}

#moreApps li a i.icon-07 {
    background-image: url('../images/ms_icon_moreapps_07_01.svg');
}
#moreApps li a:hover i.icon-07,
#moreApps li a:focus i.icon-07,
#moreApps li a:active i.icon-07,
#moreApps li.active a i.icon-07 {
    background-image: url('../images/icon_moreapps_07_02.svg');
}

#moreApps li a i.icon-08 {
    background-image: url('../images/ms_icon_moreapps_08_01.svg');
}
#moreApps li a:hover i.icon-08,
#moreApps li a:focus i.icon-08,
#moreApps li a:active i.icon-08,
#moreApps li.active a i.icon-08 {
    background-image: url('../images/icon_moreapps_08_02.svg');
}


nav.tabs:before,
nav.tabs:after {
	background-image: url('../images/ms_bg_tabs_04.svg');
}

nav.tabs button {
	height: 69px;
}
nav.tabs button.type1 {
	padding-top: 0px;
	color: rgba(35, 62, 81, 1);
	background-image: url('../images/ms_bg_nav_m_04.svg');
	background-size: 50px auto;
}

nav.tabs button.type1.active,
nav.tabs button.type1:hover,
nav.tabs button.type1:focus,
nav.tabs button.type1:active {
	padding-top: 25px;
	color: rgba(133, 48, 20, 1);
	background-image: url('../images/ms_bg_nav_m_00.svg');
}

nav.tabs button.type2 {
	color: rgba(35, 62, 81, 1);
	background-image: url('../images/ms_bg_nav_s_04.svg');
}

nav.tabs button.type2.active,
nav.tabs button.type2:hover,
nav.tabs button.type2:focus,
nav.tabs button.type2:active {
	padding-top: 27px;
	color: rgba(133, 48, 20, 1);
	background-image: url('../images/ms_bg_nav_s_00.svg');
}

.os-theme-dark > .os-scrollbar:hover > .os-scrollbar-track > .os-scrollbar-handle {
	background: rgba(4, 121, 112, 1);
}
