@charset "utf-8";

.popup_pages .pop_page_3 .h2Side {
    position:
    relative;
    top: 0px;
    width:94%;
    text-indent:200px;
    margin:-60px 10px 0 !important;
    line-height: 1.3;
  }
  .popup_pages .pop_page_3 .h2Side:before {
display:none !important;
}
/* 1 page */

/* 2 page */
.popup_pages .pop_page_3 .flexBox {
    position: absolute;
    display: flex;
    left: 120px;
    top: 100px;
}
.popup_pages .pop_page_3 .flexBox > div {
    padding:0 15px;
}
.popup_pages .pop_page_3 .flexBox .left bunsu {
    margin-left: 130px;
    margin-top: 20px;
}
.popup_pages .pop_page_3 .flexBox .right fomula {
    margin-left: 60px;
    margin-top: 20px;
}

.popup_pages .pop_page_3 input.num1 {width:100px !important}
.popup_pages .pop_page_3 input.num3 {width:130px !important}
.popup_pages .pop_page_3 .basicSlider_slides > li > .list {
    margin-left:50px;
}
.popup_pages .pop_page_3 .exContBox {
    position:relative;
    width:1041px;
    height:375px;
    font-size:32px;
    margin:0 auto;
    background:url(../images/1_powerup/1_powerup_page2_ex4.svg) center / contain no-repeat, url(../images/1_powerup/1_powerup_page2_ex4.png) center / contain no-repeat
}
.popup_pages .pop_page_3 .exContBox .cell1 {
    position:absolute;
    top:170px;
    left: 230px;
}
[data-quiz-name="input_3"] .exContBox .cell2 {
    position: absolute;
    top: 170px;
    left: 660px;
}
.popup_pages .pop_page_3 .exContBox .cell2 {
    position: absolute;
    top: 170px;
    left: 650px;
}
.popup_pages .pop_page_3 .exContBox .cell3 {
    position: absolute;
    top: 272px;
    left: 113px;
}

.popup_pages .pop_page_3 .exContBox symbol {
    transform: scale(.7);
}

.popup_pages .pop_page_3 .exContBox input.num1 {width:70px !important}
.popup_pages .pop_page_3 .exContBox input.num3 {width:100px !important}

.popup_pages .pop_page_3 .exContBox.cont4 input,
.popup_pages .pop_page_3 .exContBox.cont4 fomula {
    display:inline-block;
    text-align:center;
}
.popup_pages .pop_page_3 .exContBox.cont4 fomula {
    margin-left:10px;
}

/* 3 page */

.popup_pages .pop_page_3 .dragBox {
    width:420px;
    height:374px;
    position: absolute;
    right: 0px;
    top: 137px;
}

.popup_pages .pop_page_3 .rotateContainer {
    width:40px;
    height:40px;
    z-index:99;
}
.popup_pages .pop_page_3 .item1 .rotateContainer {
    background-color:#57b2ea;
}
.popup_pages .pop_page_3 .item2 .rotateContainer {
    background-color:#ce7ca5;
}
.popup_pages .pop_page_3 .item3 .rotateContainer {
    background-color:#95c453;
}
.popup_pages .pop_page_3 .item4 .rotateContainer {
    background-color:#b667d3;
}
.popup_pages .pop_page_3 .item5 .rotateContainer {
    background-color:#19cccc;
}
.popup_pages .pop_page_3 .item6 .rotateContainer {
    background-color:#e8cf3d;
}
.popup_pages .pop_page_3 .item7 .rotateContainer {
    background-color:#cecece;
}

.popup_pages .pop_page_3 .showRotate .rotateButton { display: none; }

.popup_pages .pop_page_3 .dropAreaFlex {
    position:relative;
    display:flex;
}

.popup_pages .pop_page_3 .dropArea {
    position: relative;
    width: 610px;
    height: 425px;
    margin: 44px 0 0 35px;
}
.popup_pages .pop_page_3 .dropArea[data-drop-area-answer="1"] {
    background:url(../images/1_powerup/1_powerup_page3_bg1.svg) center / contain no-repeat
}
.popup_pages .pop_page_3 .dropArea[data-drop-area-answer="2"] {
    margin-left:100px;
    background:url(../images/1_powerup/1_powerup_page3_bg2.svg) center / contain no-repeat
}
.popup_pages .pop_page_3 .dropArea .quizButtons {
    right:20px;
    bottom:20px;
}

.popup_pages .pop_page_3 .dropArea .js-dragObj.dragObjComplete {
    position: static;
    display: inline-block;
}

/* 4 page */
.popup_pages .pop_page_3 .supplies {
    top: 3px;
    right: 28px;
}
.popup_pages .pop_page_3 .pwu_page3Box {
    width:1037px;
    height:420px;
    margin:0 auto;
    background:url(../images/1_powerup/1_powerup_page4_bg.svg) center / contain no-repeat
}

.popup_pages .pop_page_3 .flexBox4 {
    display:flex;
    align-items: center;
}
.popup_pages .pop_page_3 .flexBox4 > div {
    flex: 50%;
    box-sizing: border-box;
    padding: 40px 0 0 96px;
}
.popup_pages .pop_page_3 .flexBox4 > div * {
    font-size:38px;
}

.popup_pages .pop_page_3 .flexBox4 fomula {
    justify-content: flex-start;
}
.popup_pages .pop_page_3 .flexBox4 div > bunsu,
.popup_pages .pop_page_3 .flexBox4 fomula {
    margin-left: 100px;
}

.popup_pages .pop_page_3 .arrow_1 { top: 319px; }
.popup_pages .pop_page_3 .arrow_2 { top: 494px; }

/* 5, 6 page */
.popup_pages .pop_page_3 .dragBox > div {position: absolute;}
.popup_pages .pop_page_3 .dragBox .item1 {top:calc(50px * 0 + 15px)}
.popup_pages .pop_page_3 .dragBox .item2 {top:calc(50px * 1 + 15px)}
.popup_pages .pop_page_3 .dragBox .item3 {top:calc(50px * 2 + 15px)}
.popup_pages .pop_page_3 .dragBox .item4 {top:calc(50px * 3 + 15px)}
.popup_pages .pop_page_3 .dragBox .item5 {top:calc(50px * 4 + 15px)}
.popup_pages .pop_page_3 .dragBox .item6 {top:calc(50px * 5 + 15px)}
.popup_pages .pop_page_3 .dragBox .item7 {top:calc(50px * 6 + 15px)}

/* .dragBox > div > div:nth-child(1) {left:calc(50px * 0 + 40px)}
.popup_pages .pop_page_3 .dragBox > div > div:nth-child(2) {left:calc(50px * 1 + 40px)}
.popup_pages .pop_page_3 .dragBox > div > div:nth-child(3) {left:calc(50px * 2 + 40px)}
.popup_pages .pop_page_3 .dragBox > div > div:nth-child(4) {left:calc(50px * 3 + 40px)}
.popup_pages .pop_page_3 .dragBox > div > div:nth-child(5) {left:calc(50px * 4 + 40px)}
.popup_pages .pop_page_3 .dragBox > div > div:nth-child(6) {left:calc(50px * 5 + 40px)}
.popup_pages .pop_page_3 .dragBox > div > div:nth-child(7) {left:calc(50px * 6 + 40px)} */

/* 수정 */
.popup_pages .pop_page_3 .dragBox > div > div:nth-child(1) {left:67px}
.popup_pages .pop_page_3 .dragBox > div > div:nth-child(2) {left:108px;}
.popup_pages .pop_page_3 .dragBox > div > div:nth-child(3) {left:149px;}
.popup_pages .pop_page_3 .dragBox > div > div:nth-child(4) {left:calc(50px * 3 + 40px);}
.popup_pages .pop_page_3 .dragBox > div > div:nth-child(5) {left:231px;}
.popup_pages .pop_page_3 .dragBox > div > div:nth-child(6) {left:272px;}
.popup_pages .pop_page_3 .dragBox > div > div:nth-child(7) {left:313px;}


/* .pop_page_3 .h2Side, */
.popup_pages .pop_page_3 h2.partner {
    position: absolute;
    top: 54px !important;
    left: 166px;
    width: 67px;
    height: 26px;
    background-image: url(../images/1_powerup/act_quiz_partner_icon.svg);
    background-position: 0 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.popup_pages .pop_page_3 h2.partner {
    left: 200px;
}
