figure {
    text-align: center;
}
figure img {
    height: 480px;
}
[class^='ex-'] {
    position: absolute;
}
.ex-label-1 {
    top: 24%;
    left: 12%;
}
.ex-label-2 {
    top: 24%;
    left: 78%;
}

.ex-balloon-1,
.ex-balloon-2 {
    text-align: center;
    font-size: 35px !important;
}

.innerTab_1 .ex-balloon-1 {
    top: 0;
    left: 7%;
}

.innerTab_2 .ex-balloon-1 {
    top: 0;
    left: 66%;
}
.innerTab_2 .ex-balloon-2 {
    top: 5%;
    left: 15%;
}

.innerTab_3 .ex-balloon-1 {
    top: -6%;
    left: 34%;
}
.innerTab_3 .ex-balloon-2 {
    top: 20%;
    left: 39%;
}