@charset "utf-8";

#wrap header .title .bullet.number {
    margin-top: 5px;
}

.title .blankBox.w50 {
    border: 5px solid #efefef;
    background-color: #fff;
    box-sizing: border-box;
}
.title .icon_bogi {
    height: 36px;
    margin: -5px 0 0 0;
    vertical-align: top;
    border: 2px solid;
    border-radius: 30px;
    background-color: #fcf7f4;
    vertical-align: middle;
}
.title .icon_bogi:after {
    font-size: 21px;
    line-height: 25px;
}
.title .icon_bogi:after {
    line-height: 36px;
}
.title img{
    vertical-align: middle;
    transform: translate(0,-3px);
}
.q1 .img-wrap img{width: 270px;}
.q1 .flex-item{margin:0 20px; position: relative;}
.q1 .answer{text-align: center;}
.q1 .f1 .n1{position: absolute; top:130px; left:10px;}
.q1 .f1 .n2{position: absolute; top:50px; right:20px;}
.q1 .f2 .n1{position: absolute; top:80px; left:10px;}
.q1 .f2 .n2{position: absolute; top:110px; right:40px;}
.q1 .f3 .n1{position: absolute; top:130px; left:0;}
.q1 .f3 .n2{position: absolute; top:130px; right:20px;}
.q1 .pop_page_1 .dotList{width: 610px; margin-right:30px}
.q1 .pop_page_1 .group{width:300px}
.q1 .pop_page_1 img{width: 300px;}
.q1 .pop_page_1 .img{position: relative; height: 50px;}
.q1 .pop_page_1 .img > div{position: absolute;}
.q1 .pop_page_1 .img.i1{margin:20px 0 10px}
.q1 .pop_page_1 .img.i2{margin:0 0 60px}
.q1 .pop_page_1 .img .n1{top:0; left:0;}
.q1 .pop_page_1 .img .n2{top:0; right:0;}
.q1 .pop_page_1 .img.i1 .n1{left:40px;}
.q1 .pop_page_1 .img.i1 .n2{right:40px;}
.q1 .pop_page_1 .img.i2 .n1{left:20px;}
.q1 .pop_page_1 .img.i2 .n2{right:60px;}
.q1 .pop_page_1 .img.i3 .n1{left:40px;}
.q1 .pop_page_1 .img.i3 .n2{right:40px;}


.q2 .img-wrap{ position: relative; padding-bottom: 90px;}
.q2 .img-wrap img{width:300px; display: block; margin: 0 auto ;}
.q2 .img-wrap > div{position: absolute;}
.q2 .img-wrap .n1{top:10px; left:470px}
.q2 .img-wrap .n2{top:200px; left:310px}
.q2 .img-wrap .n3{top:230px; left:585px}
.q2 .img-wrap .n4{top:50px; left:330px}
.q2 .img-wrap .n5{top:130px; left:490px}
.q2 .img-wrap .n6{top:280px; left:290px}
.q2 .contentsList >  li {padding-left: 250px;}

.q3 .contentsBox{padding:0 ;}
.q3 .page-iframe{width:100%; height: 575px;}
.q3.lesson_2 .page3 .contentsArea > section{padding:110px 0}
.q3.lesson_2 #wrap{width:100%; height: 575px;}
.q3 section{padding:0}
.q3 .flex-wrap{width:100%; justify-content: space-between; margin-top: 100px;}
.q3 .lineBox{padding:30px 30px 25px; position:relative;}
.q3 .f1 img{width:200px}
.q3 .f2 img{width:620px}
.q3 .f1 .icon_bogi{position: absolute; top:-14px; left:50%; transform: translate(-50%, 0);}
.q3 .f2 >div{position: absolute; width:40px; height: 40px; border: 1px solid red;}
.q3 .f2 >div .icon{width:100%; height: 100%;}
.q3 .f2 .n1{top:60px; left:60px;}

.q3.lesson_2 .page3 .quizContainer{position: relative; padding:0;}
.q3.lesson_2 .page3 .oxObj[data-ox-obj="1"] { top: 18px; left: 17px; }
.q3.lesson_2 .page3 .oxObj[data-ox-obj="2"] { top: 132px; left: 17px; }
.q3.lesson_2 .page3 .oxObj[data-ox-obj="3"] { top: 18px; left: 175px; }
.q3.lesson_2 .page3 .oxObj[data-ox-obj="4"] { top: 132px; left: 175px; }
.q3.lesson_2 .page3 .oxObj[data-ox-obj="5"] { top: 18px; left: 271px; }
.q3.lesson_2 .page3 .oxObj[data-ox-obj="6"] { top: 132px; left: 271px; }
.q3.lesson_2 .page3 .oxObj[data-ox-obj="7"] { top: 18px; left: 595px; }
.q3.lesson_2 .page3 .oxObj[data-ox-obj="101"] { top: 12px; left: 392px; }
.q3.lesson_2 .page3 .oxObj[data-ox-obj="102"] { top: 132px; left: 432px; }
.q3.lesson_2 .page3 .oxObj[data-ox-obj="103"] { top: 12px; left: 473px; }
.q3.lesson_2 .page3 .oxObj[data-ox-obj="104"] { top: 93px; left: 513px; }
.q3.lesson_2 .page3 .oxObj[data-ox-obj="105"] { top: 132px; left: 598px; }
.q3.lesson_2 .page3 .contentsArea > section{display: block; padding-left:20px}
.q3.lesson_2 .lineBox img{width:auto; height:220px}
.q3.lesson_2 .lineBox.n1{width: auto; margin-right:30px}
.page3 .contentsArea > section > * {display: block; float:left; position: relative;}
.q3 h2{position: relative; width: 100%; }
.q3 .study_guide{
    bottom: -60px !important;
    right: 50px !important;
}

.q4 .contentsBox{padding:0 ;}
.q4 .page-iframe{width:100%; height: 545px;}
.title.active.flex-wrap .bullet{margin-right:10px}

.q4.lesson_2 #wrap{width:100%; height: 545px;}
.q4.lesson_2 .right.lineBox {position: absolute; width:200px; height:200px; right:80px; top:20px;}
.q4.lesson_2 .right.lineBox  .rotateContainer{
    top: 20px;
    left: 25px;
    width: 130px;
    height: 130px;
}

.q4.lesson_2 section.rightArea{transform: scale(1) translate(0,0);}
.q4.lesson_2 .sectionPaper{width:610px; height:320px; background: none; border:0;}
.q4.lesson_2 .drawContainer{background: none; top: 20px;
    left: 100px;
    width: 680px;
    height: 400px;}

.ex-on .exline {display: block;}
.exline {display: none;}
.q4.lesson_2 .draw_1 .line{
    transform: rotate(90deg); 
    top:75px;
    width:242px;
    height: 6px;
    background-color: #000;
    border-radius: 10px;
}
.q4.lesson_2 .exline .n1{
    position: absolute; 
    width: 420px;
    height: 6px;
    background-color: #00a0ff;
    border-radius: 10px;
    top: 311px;
    left: 120px;
}
.q4.lesson_2 .exline .n2{
    position: absolute; 
    width: 480px;
    height: 6px;
    background-color: #00a0ff;
    border-radius: 10px;
    top: 72px;
    left: 123px;
    transform: rotate(30deg);
    transform-origin: top left;
}

.q4.lesson_2 .js-quizButton.resetButton.exBtn{z-index: 9; position: absolute; bottom:0; right:0;}

.q4 section.leftArea{width:24%; padding:0;}
.q4 .moveButtonContainer{width: auto; left:50%; transform: translate(-50%, 0);}

.q4.t2.lesson_2 .draw_1 .line{
    width: 420px;
    height: 6px;
    background-color: #000;
    border-radius: 10px;
    top: 311px;
    left: 120px;
    transform: rotate(0); 
}
.q4.t2.lesson_2 .exline .n1{
    position: absolute; 
    transform: rotate(90deg); 
    top:192px;
    width:242px;
    height: 6px;
    background-color: #00a0ff;
    border-radius: 10px;
    left:416px;
}
.q4.t2.lesson_2 .exline .n2{
    position: absolute; 
    width: 480px;
    height: 6px;
    background-color: #00a0ff;
    border-radius: 10px;
    top: 75px;
    left: 540px;
    transform: rotate(150deg);
    transform-origin: top left;
}

.q5 .img-wrap{margin:0 auto 20px; display: flex; width: 100%; justify-content: center;}

.q5 .popup_contents .flex-wrap{justify-content: center;}


.q6 .figureBox{
    position: relative;
    top: 40px;
    left: 20px;
    width: 974px;
    height: 290px;
    background: url(../images/2_finish_quiz_6_bg.svg) center top / contain no-repeat;
}


.q6 .figureBox > div {
position: absolute;
background-size: 100%;
background-repeat: no-repeat;
}
.q6 .figureBox .text{position: absolute; top:90px;}
.q6 .figureBox .n1{left:55px}
.q6 .figureBox .n2{left:207px}
.q6 .figureBox .n3{left:395px; top:130px;}
.q6 .figureBox .n4{left:578px}
.q6 .figureBox .n5{left:765px; top:130px;}
.q6 .figureBox .n6{left:890px}
.q6 .figure_1 {
top: 40px;
left: 36px;
width: 79px;
height: 185px;
background-image: url(../images/2_finish_quiz_6_01.svg);
}
.q6 .figure_2 {
    top: 40px;
    left: 185px;
    width: 79px;
    height: 185px;
background-image: url(../images/2_finish_quiz_6_02.svg);
}
.q6 .figure_3 {
    top: 80px;
    left: 337px;
    width: 113px;
    height: 140px;
background-image: url(../images/2_finish_quiz_6_03.svg);
}
.q6 .figure_4 {
    top: 40px;
    left: 520px;
    width: 155px;
    height: 185px;
background-image: url(../images/2_finish_quiz_6_04.svg);
}
.q6 .figure_5 {
    top: 40px;
    left: 747px;
    width: 79px;
    height: 185px;
background-image: url(../images/2_finish_quiz_6_05.svg);
}
.q6 .figure_6 {
    top: 80px;
    left: 859px;
    width: 77px;
    height: 140px;
background-image: url(../images/2_finish_quiz_6_06.svg);
}
.q6 .dropBox {
width: 1130px;
height: 70px;
padding: 0px 14px;
margin-left: 40px;
margin-top: 10px;
box-sizing: border-box;
border: 4px solid pink;
border-radius: 10px;
}
.q6 .popup_contents .flex-wrap div + div{
    padding:0 20px;
}
.q6 .popup_contents .flex-wrap{justify-content: space-between; align-items: center;}
.q6 .popup_pages img{height:90px; margin-left:30px ; width: auto;}

.q7 .answer .bullet{display: inline-block; vertical-align: middle; transform: translate(0,-3px);}
.q7 .bogiContainer .bullet{transform: translate(0,4px);}
.q7 .bogi_wrap{ width:610px; margin:0 auto 20px;}
.q7 .bogiContainer .flex-wrap{margin-top:10px}
.q7 .popup_pages img{height:90px; margin-left:30px ; width: auto;}

.q8 .contentsBox .flex-wrap{justify-content:space-around;}
.q8 .img-wrap{position: relative; flex:1}
.q8 .img-wrap .balloon{position: absolute; top:0; text-align: center;}
.q8 .img-wrap .b2{left:50px; top:0;}
.q8 .img-wrap .b1{left:-60px}
.q8 .img-wrap.n1{text-align: right;}
.q8 .img-wrap.n1 img{width:200px; margin:30px 40px 0 0;}
.q8 .img-wrap.n2 img{width:200px; margin:120px 0 0 60px;}
.lay-tbl td{vertical-align: top;padding-bottom: 30px;}
.lay-tbl .colorBox.check{margin-top:7px}
.lay-tbl .colorBox{text-align: center;}
.q8 .pop_page_1 .dotList {margin-right:30px}
.q8 .pop_page_1 .dotList li + li{margin-top: 70px;}
.q8 .pop_page_1 img{width:150px}
.q8 .pop_page_1 img + img{width: 110px;margin-top:50px; display: inline-block;}
.q8 .pop_page_1 .flex-wrap > div + div{text-align: center;}


















