@charset "utf-8";

.contentsBox{padding:0;}
.page_2 .page-iframe{width:100%; height:584px;}
.page_1 .page-iframe{width:100%; height:584px;}

.lesson_2 .contentsArea{top:0; left:0; right:0; bottom:0;}
.page1 .dragBox{left:130px; width:310px; top:40px}
.page1 .dropBox{
    width: 380px;
    height: 380px;
    top: 80px;
    right:100px;
    padding-top: 70px;
}
.page1 .dropArea{
    padding-top: 160px;
}
h2 .study_guide{
    bottom: -30px !important;
}

.lesson_2 #wrap{
    width:100%;
    height: 584px;
    padding:30px 56px 0;
}

.lesson_2 .page2 .contentsArea{
     background-size: 100%;
}

.lesson_2 .tit{position: relative; z-index: 3; display: flex;}
.lesson_2 .page1 .dragBox > .dragObj[data-value="1"] {left:125px}
.lesson_2 .finish.arrange .drawLine.myFigure{left: 100px; top:60px;}
.lesson_2 .finish.arrange .drawLine.myFigure.viewMode{left:-10px; top:20px;}

.lesson_2 .page3 .figureBox{top:70px}
.finish.arrange .page3 .contentsArea ul.list.dot {margin:-70px 0 0 620px;}

.page3 .dotList.orange{position: absolute; top:150px; left:630px;}

.finish.arrange .page3 .inputQuizContainer input[data-input-obj="1"] {top:140px}
.finish.arrange .page3 .inputQuizContainer input[data-input-obj="2"] {top:210px}
.finish.arrange .page3 .inputQuizContainer input[data-input-obj="3"] {top:280px}
.page3 .dotList>li:not(:last-of-type){margin-bottom: 20px;}
.js-resetButton.resetButton{display: none;}
.lesson_2 .finish.arrange .page4 .drawLine.moreFigure{
    top: 100px;
    left: 30px;
}
.page4 .contentsArea{background-position: 30px 50px;}

.page1 .js-resetButton.resetButton{right:0; display: block; position: absolute; bottom:10px}

.page_2{padding:70px 56px 0;}
.page_2 .flex-wrap{justify-content: space-around; align-items: flex-end;}
.page_2 .lineBox{
    position: relative;
    top:70px;
    margin-right:30px;
    width: 510px;
    height: 290px;
    background: url(../images/suh_h_0301_02_0910_101_1_3.png) no-repeat 30px 20px / 433px;
}
.page_2 .lineBox .ex .bullet{transform: translate(0, 5px);}
.page_2 .lineBox .ex{position:absolute; top:-70px; left:0;}
.page_2 .lineBox img{position: absolute; top: 20px;left: 30px; width:433px;}
.page_2 .dotList{transform: translate(0,40px);}
.page_2 .dotList li{margin-top:30px;}
.page_2 .dotList li > div:first-child{width:300px;}
.writeBtn{right:56px;}
.page_2 .lineBox .toggle{position: static; padding:0;}

.page_2 .box-toggle .toggle:after,
.page_2 .lineBox .toggle:after{display: none;}
.page_2 .box-toggle{background-color: #efefef; position: relative;}
.page_2 .box-toggle::after{content:""; display:block; position:absolute; top:0; left:0; width:100%; height: 100%; z-index: 10;}
.writeBtn.reset:before {
    content: "예 보기";
}

.page_3{padding:30px 56px 0;}
.page_3 .writeBtn.reset:before {
    content: "예 보기";
}
.page_3 .img-box{width:100%; height:250px; background: url(../images/suh_h_0301_02_0910_101_1_5.png) no-repeat 0 0 / auto 100%; margin:110px 0 0 155px; box-sizing: border-box;}
.page_3 .flex-wrap{width:100%; height:420px; background: url(../images/suh_h_0301_02_0910_101_1_2.png) no-repeat 50% 0 / auto 100%; position: relative;}

.page_3 .img-box .toggle{position: static; padding:0;}
.page_3 .img-box .toggle:after{display: none;}
.page_3 .img-box .ex .bullet{transform: translate(0, 5px);}
.page_3 .img-box .ex{position:absolute; top:120px; left:40px;}
.page_3 .img-box img{    position: absolute;
    top: 152px;
    left: 154px;
    width: 755px;}

