.contentsBox section{padding:0;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}
.toggle.duplicate {display:block;position:static;width:0;height:0;padding:0;background:none;}
.toggle.duplicate:after {display:none;}
.toggle.duplicate .answer {position:static;width:0;height:0;padding:0;}

header .title .popBtn.textInBtn.inline {top:4px;}

.page_1 .calc_guid {display:flex;margin:10px 0 0;}
.page_1 .calc_guid .imgContainer {flex-shrink:0;width:195px;margin:0 30px 0 0;}
.page_1 .calc_guid .imgContainer img{width:100%;}
.page_1 .calc_guid .dotList img{margin:0 4px 0 0;}

.page_2 .sequence_formula {display:flex;justify-content:center;align-items:center;margin:10px 0 0;}
.page_2 .sequence_formula > div.imgContainer {padding:0;margin:0 10px 0 0;line-height:0;border:none;}
.page_2 .sequence_formula > div {margin:0 -2px 0 0;padding:0 10px;line-height:71px;border: 2px solid brown;border-left:none;padding:5px 10px;}
.page_2 .sequence_formula > div:nth-child(2) {border-left:2px solid brown;}

.page_3 .exam_formula {display:inline-block;position:relative;text-align:center;}
.page_3 .exam_formula .line {position:absolute;border:3px solid skyblue;}
.page_3 .exam_formula .line.v01 {left:82px;top:60px;width:88px;height:20px;border-top:none;}
.page_3 .exam_formula .line.v02 {left:245px;top:60px;width:90px;height:20px;border-top:none;}
.page_3 .exam_formula .line.v03 {left:23px;top:60px;width:106px;height:90px;border-top:none;border-right:none;}
.page_3 .exam_formula .line.v03:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:3px solid skyblue;}
.page_3 .exam_formula .line.v04 {left:80px;top:60px;width:215px;height:157px;border-top:none;border-left:none;border-right:none;}
.page_3 .exam_formula .line.v04:before {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid skyblue;}
.page_3 .exam_formula .line.v04:after {display:block;content:"";position:absolute;right:0;bottom:0;height:77px;border-left:3px solid skyblue;}
.page_3 .exam_formula .num {position:absolute;font-size:52px;}
.page_3 .exam_formula .num.v01 {left:107px;top:80px;}
.page_3 .exam_formula .num.v02 {left:270px;top:80px;}
.page_3 .exam_formula .num.v03 {left:60px;top:147px;}
.page_3 .exam_formula .num.v04 {left:164px;top:215px;}

.page_4 .exam_formula {display:inline-block;position:relative;text-align:center;}
.page_4 .exam_formula .line {position:absolute;border:3px solid skyblue;}
.page_4 .exam_formula .line.v01 {left:21px;top:60px;width:88px;height:20px;border-top:none;}
.page_4 .exam_formula .line.v02 {left:161px;top:60px;width:90px;height:20px;border-top:none;}
.page_4 .exam_formula .line.v03 {left:67px;top:60px;width:140px;height:90px;border-top:none;border-left:none;border-right:none;}
.page_4 .exam_formula .line.v03:before {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid skyblue;}
.page_4 .exam_formula .line.v03:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:3px solid skyblue;}
.page_4 .exam_formula .line.v04 {left:135px;top:60px;width:190px;height:157px;border-top:none;border-left:none;}
.page_4 .exam_formula .line.v04:before {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid skyblue;}
.page_4 .exam_formula .num {position:absolute;font-size:52px;}
.page_4 .exam_formula .num.v01 {left:45px;top:80px;}
.page_4 .exam_formula .num.v02 {left:184px;top:80px;}
.page_4 .exam_formula .num.v03 {left:116px;top:147px;}
.page_4 .exam_formula .num.v04 {left:210px;top:215px;}