.contentsBox section{padding:0;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}
.toggle.duplicate {display:block;position:static;width:0;height:0;padding:0;background:none;}
.toggle.duplicate:after {display:none;}
.toggle.duplicate .answer {position:static;width:0;height:0;padding:0;}

header .title .popBtn.textInBtn.inline {top:4px;}

.page_1 .calc_guid {display:flex;margin:10px 0 0;}
.page_1 .calc_guid .imgContainer {flex-shrink:0;width:195px;margin:0 30px 0 0;}
.page_1 .calc_guid .imgContainer img{width:100%;}
.page_1 .calc_guid .dotList img{margin:0 4px 0 0;}

.page_2 .sequence_formula {display:flex;justify-content:center;align-items:center;margin:10px 0 0;}
.page_2 .sequence_formula > div.imgContainer {padding:0;margin:0 10px 0 0;line-height:0;border:none;}
.page_2 .sequence_formula > div {margin:0 -2px 0 0;line-height:71px;border: 2px solid brown;border-left:none;padding:5px 10px;}
.page_2 .sequence_formula > div:nth-child(2) {border-left:2px solid brown;}

.page_3 .exam_formula {display:inline-block;position:relative;text-align:center;}
.page_3 .exam_formula .line {position:absolute;border:3px solid skyblue;}
.page_3 .exam_formula .line.v01 {left:86px;top:60px;width:84px;height:20px;border-top:none;box-sizing:border-box}
.page_3 .exam_formula .line.v02 {left:245px;top:60px;width:94px;height:20px;border-top:none;box-sizing:border-box}
.page_3 .exam_formula .line.v03 {left:23px;top:60px;width:106px;height:83px;border-top:none;border-right:none;box-sizing:border-box}
.page_3 .exam_formula .line.v04 {left:74px;top:67px;width:220px;height:135px;border-top:none;border-left:none;border-right:none;box-sizing:border-box}
.page_3 .exam_formula .line.v03:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:3px solid skyblue;}
.page_3 .exam_formula .line.v04:before {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid skyblue;}
.page_3 .exam_formula .line.v04:after {display:block;content:"";position:absolute;right:0;bottom:0;height:69px;border-left:3px solid skyblue;}
.page_3 .exam_formula .num {position:absolute;font-size:40px;}
.page_3 .exam_formula .num.v01 {left:86px;top:80px;width:84px;text-align:center}
.page_3 .exam_formula .num.v02 {left:245px;top:80px;width:94px;text-align:center}
.page_3 .exam_formula .num.v03 {left:23px;top:138px;width:106px;text-align:center}
.page_3 .exam_formula .num.v04 {left:74px;top:200px;width:220px;text-align:center}
.page_3 .textAlignC + .textAlignC {margin:210px 0 0;}

.page_4 .exam_formula {display:inline-block;position:relative;text-align:center;}
.page_4 .exam_formula .line {position:absolute;border:3px solid skyblue;}
.page_4 .exam_formula .line.v01 {left:19px;top:50px;width:96px;height:15px;border-top:none;box-sizing:border-box}
.page_4 .exam_formula .line.v02 {left:166px;top:50px;width:86px;height:15px;border-top:none;box-sizing:border-box}
.page_4 .exam_formula .line.v03 {left:67px;top:50px;width:144px;height:77px;border-top:none;border-left:none;border-right:none;box-sizing:border-box}
.page_4 .exam_formula .line.v04 {left:137px;top:50px;width:192px;height:140px;border-top:none;border-left:none;box-sizing:border-box}
.page_4 .exam_formula .line.v03:before {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid skyblue;}
.page_4 .exam_formula .line.v03:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:3px solid skyblue;}
.page_4 .exam_formula .line.v04:before {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid skyblue;}
.page_4 .exam_formula .num {position:absolute;font-size:40px;}
.page_4 .exam_formula .num.v01 {left:19px;top:64px;width:96px;text-align:center}
.page_4 .exam_formula .num.v02 {left:166px;top:64px;width:86px;text-align:center}
.page_4 .exam_formula .num.v03 {left:67px;top:126px;width:144px;text-align:center}
.page_4 .exam_formula .num.v04 {left:137px;top:185px;width:192px;text-align:center}
.page_4 .sequence_formula {display:flex;justify-content:center;align-items:center;margin:180px 0 0;}
.page_4 .sequence_formula > div {overflow:hidden;line-height:71px;border: 2px solid brown;border-right:none;}
.page_4 .sequence_formula > div:last-child {border-right:2px solid brown;}
.page_4 .sequence_formula > div.imgContainer {padding:0;margin:0 10px 0 0;line-height:0;border:none;}
.page_4 .sequence_formula > div .toggle {padding:0 10px;vertical-align:top;border-radius:0;}
.page_4 .sequence_formula > div .toggle .answer {text-align:center;line-height:71px;}