.ex-box {display:flex}
.ex-box.a-c {align-items:center}
.ex-box.a-c .bullet.exam {align-self:inherit;margin-top:0}
.ex-box .bullet.exam {flex-shrink:0}
.ex-box .inline-flex-box {align-items:center}
.img-answer {width:330px;height:321px;position:relative;margin-right:40px}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;background:url("../images/suh_0601_01_0002_204_1_02.jpg") no-repeat 50% 50% / 100%;opacity:0;transition:opacity 1s}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {z-index:2;opacity:1}
.box-flex {display:flex;justify-content:center;align-items:center}
.box-flex .bunsuWrap .toggle {margin:8px 0}
.innerTab_2 .img-answer {width:580px;height:84px}
.innerTab_2 .img-answer .toggle {background:url("../images/suh_0601_01_0002_204_1_04.jpg") no-repeat 50% 50% / 100%}
.study_guide {right:0}
.lineBox {margin-top:48px;height:430px;position:relative;display:flex;align-items:center;justify-content:center}
.lineBox .colorBox {position:absolute;top:10px;left:10px;}
.contentsBox .basicSlider_slides.inner {padding:0}
.dapCheckBtn {z-index:10}
.data-group {display:flex;justify-content:space-between;margin-top:-10px}
.group-a {margin-right:40px}
.group-a .img-answer {margin-right:0}
.group-a .bunsuWrap ul {display:block}
.group-a .bunsuWrap ul ~ ul {margin-top:6px}
.innerTab_2 .cssLine {position: relative;width: 10px;height: 294px;border: 3px solid #000;border-left: 0;}
.innerTab_2 .cssLine::after {content: '';position: absolute;top: 146px;left: 10px;width: 15px;height: 3px;background-color: #000;}
.innerTab_2 .box-flex {margin-left:48px}

.colorBox.purple {color:#000}