#wrap header .title.active {
    display: flex;
    justify-content: flex-start;
    text-align: justify;

}

#wrap header .title.active .bullet.number {
    margin-top: 9px;
    margin-right: 10px;
}












