
@charset "utf-8";

/***********************
* 초등 전자저작물 *
* 수학 3-4학년 *
* finish.css *
***********************/

/************************* title *************************/
.finish .contentsArea > h2 {
  margin-bottom: 20px;
}
.finish .contentsArea > h1 {
  /* display: flex; */
  padding-left: 62px;
  text-align: justify;
}
.finish .contentsArea > h1:before {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 6px;
  left: 0;
  width: calc(80px * 0.7);
  height: calc(70px * 0.7);
  background-size: auto calc(70px * 0.7);
  background-position: 0 0;
}

.lesson_1 .finish .contentsArea > h1:before {
  background-image: url(../../sub/images/finish/finish_q_number_lesson_1.svg);
}
.lesson_2 .finish .contentsArea > h1:before {
  background-image: url(../../sub/images/finish/finish_q_number_lesson_2.svg);
}
.lesson_3 .finish .contentsArea > h1:before {
  background-image: url(../../sub/images/finish/finish_q_number_lesson_3.svg);
}
.lesson_4 .finish .contentsArea > h1:before {
  background-image: url(../../sub/images/finish/finish_q_number_lesson_4.svg);
}
.lesson_5 .finish .contentsArea > h1:before {
  background-image: url(../../sub/images/finish/finish_q_number_lesson_5.svg);
}
.lesson_6 .finish .contentsArea > h1:before {
  background-image: url(../../sub/images/finish/finish_q_number_lesson_6.svg);
}

.finish .contentsArea > h1[data-index="1"]:before {
  background-position-x: calc(-56px * (1 - 1));
}
.finish .contentsArea > h1[data-index="2"]:before {
  background-position-x: calc(-56px * (2 - 1));
}
.finish .contentsArea > h1[data-index="3"]:before {
  background-position-x: calc(-56px * (3 - 1));
}
.finish .contentsArea > h1[data-index="4"]:before {
  background-position-x: calc(-56px * (4 - 1));
}
.finish .contentsArea > h1[data-index="5"]:before {
  background-position-x: calc(-56px * (5 - 1));
}
.finish .contentsArea > h1[data-index="6"]:before {
  background-position-x: calc(-56px * (6 - 1));
}
.finish .contentsArea > h1[data-index="7"]:before {
  background-position-x: calc(-56px * (7 - 1));
}
.finish .contentsArea > h1[data-index="8"]:before {
  background-position-x: calc(-56px * (8 - 1));
}
.finish .contentsArea > h1[data-index="9"]:before {
  background-position-x: calc(-56px * (9 - 1));
}
.finish .contentsArea > h1[data-index="10"]:before {
  background-position-x: calc(-56px * (10 - 1));
}
.finish .contentsArea > h1[data-index="11"]:before {
  background-position-x: calc(-56px * (11 - 1));
}
.finish .contentsArea > h1[data-index="12"]:before {
  background-position-x: calc(-56px * (12 - 1));
}
.finish .contentsArea > h1[data-index="13"]:before {
  background-position-x: calc(-56px * (13 - 1));
}
.finish .contentsArea > h1[data-index="14"]:before {
  background-position-x: calc(-56px * (14 - 1));
}
.finish .contentsArea > h1[data-index="15"]:before {
  background-position-x: calc(-56px * (15 - 1));
}
.finish .contentsArea > h1[data-index="16"]:before {
  background-position-x: calc(-56px * (16 - 1));
}
.finish .contentsArea > h1[data-index="17"]:before {
  background-position-x: calc(-56px * (17 - 1));
}
.finish .contentsArea > h1[data-index="18"]:before {
  background-position-x: calc(-56px * (18 - 1));
}
.finish .contentsArea > h1[data-index="19"]:before {
  background-position-x: calc(-56px * (19 - 1));
}
.finish .contentsArea > h1[data-index="20"]:before {
  background-position-x: calc(-56px * (20 - 1));
}


.finish ins.titleNumber {
  display: inline-block;
  position: relative;
  top: 10px;
  vertical-align: top;
  width: calc(80px * 0.6);
  height: calc(70px * 0.6);
  margin: 0 4px;
  background-size: auto calc(70px * 0.6);
  background-position: 0 0;
}
.lesson_1 .finish ins.titleNumber {
  background-image: url(../../sub/images/finish/finish_q_number_lesson_1.svg);
}
.lesson_2 .finish ins.titleNumber {
  background-image: url(../../sub/images/finish/finish_q_number_lesson_2.svg);
}
.lesson_3 .finish ins.titleNumber {
  background-image: url(../../sub/images/finish/finish_q_number_lesson_3.svg);
}
.lesson_4 .finish ins.titleNumber {
  background-image: url(../../sub/images/finish/finish_q_number_lesson_4.svg);
}
.lesson_5 .finish ins.titleNumber {
  background-image: url(../../sub/images/finish/finish_q_number_lesson_5.svg);
}
.lesson_6 .finish ins.titleNumber {
  background-image: url(../../sub/images/finish/finish_q_number_lesson_6.svg);
}

.finish ins.titleNumber[data-index="1"] {
  background-position-x: calc((-80px * 0.6) * (1 - 1));
}
.finish ins.titleNumber[data-index="2"] {
  background-position-x: calc((-80px * 0.6) * (2 - 1));
}
.finish ins.titleNumber[data-index="3"] {
  background-position-x: calc((-80px * 0.6) * (3 - 1));
}
.finish ins.titleNumber[data-index="4"] {
  background-position-x: calc((-80px * 0.6) * (4 - 1));
}
.finish ins.titleNumber[data-index="5"] {
  background-position-x: calc((-80px * 0.6) * (5 - 1));
}
.finish ins.titleNumber[data-index="6"] {
  background-position-x: calc((-80px * 0.6) * (6 - 1));
}
.finish ins.titleNumber[data-index="7"] {
  background-position-x: calc((-80px * 0.6) * (7 - 1));
}
.finish ins.titleNumber[data-index="8"] {
  background-position-x: calc((-80px * 0.6) * (8 - 1));
}
.finish ins.titleNumber[data-index="9"] {
  background-position-x: calc((-80px * 0.6) * (9 - 1));
}
.finish ins.titleNumber[data-index="10"] {
  background-position-x: calc((-80px * 0.6) * (10 - 1));
}
.finish ins.titleNumber[data-index="11"] {
  background-position-x: calc((-80px * 0.6) * (11 - 1));
}
.finish ins.titleNumber[data-index="12"] {
  background-position-x: calc((-80px * 0.6) * (12 - 1));
}
.finish ins.titleNumber[data-index="13"] {
  background-position-x: calc((-80px * 0.6) * (13 - 1));
}
.finish ins.titleNumber[data-index="14"] {
  background-position-x: calc((-80px * 0.6) * (14 - 1));
}
.finish ins.titleNumber[data-index="15"] {
  background-position-x: calc((-80px * 0.6) * (15 - 1));
}
.finish ins.titleNumber[data-index="16"] {
  background-position-x: calc((-80px * 0.6) * (16 - 1));
}
.finish ins.titleNumber[data-index="17"] {
  background-position-x: calc((-80px * 0.6) * (17 - 1));
}
.finish ins.titleNumber[data-index="18"] {
  background-position-x: calc((-80px * 0.6) * (18 - 1));
}
.finish ins.titleNumber[data-index="19"] {
  background-position-x: calc((-80px * 0.6) * (19 - 1));
}
.finish ins.titleNumber[data-index="20"] {
  background-position-x: calc((-80px * 0.6) * (20 - 1));
}

/*********************** title END ***********************/

.finish .titleIndent {
  margin-left: 62px;
}
.finish .titleIndent input.maxWidth {
  width: 1114px;
}

