/* .content-container > .content > .bg {
	background-image: url('../../images/ms_41_2_06/ms_41_2_06_05_01/bg.svg');
}

.popup-more-one .bg {
	background-image: url('../../images/ms_41_2_06/ms_41_2_06_05_01/bg_more.svg');
} */

.content .tool-container {
	top: 160px;
}
.popup .tool-container {
	top: 240px;
}

#quiz-content-01 .scroll-bg {
	background-image: url('../../images/ms_41_2_06/ms_41_2_06_05_01/bg.png');
    background-size: 100%;
	height: 710px;
}

#quiz-content-02 .scroll-bg {
    background-image: url('../../images/ms_41_2_06/ms_41_2_06_05_01/bg_more.png');
    background-size: 100%;
	height: 710px;
}


.answer {
    position: absolute;
    left: 0;
    top: 0;
}
