#wrap main {z-index:0}
.popup_container{z-index: 1;}
.content-container{height: 530px;;}
.suhi h2 .blankBox{margin-top:8px;}
.popup_pages>li.whole h2.pop-tit{background-color:transparent !important; align-self:flex-start; padding:20px; }
.popup_pages .buttonContainer{right: 40px;}
.type-iframe .buttonContainer.left{left:56px; right: auto;}
.type-iframe .buttonContainer{right:225px;}
.btns-bottom-right {bottom:10px}
b{font-weight: 400;}
.popup_pages>li.whole{
    font-size:40px;
}
.whole .bullet.circleDot {margin-top:18px}
.whole .icon_o_title{transform: translate(0,3px);}
.blankBox.w40{
    min-width:40px !important;
    min-height:40px !important;
    max-width:40px !important;
    max-height:40px !important;
    transform: translate(0px, 6px);

}

.page_0 .b1{
    top: 60px;
    left: 184px;
    text-align: center;
}
.page_0 .b2{
    top: 100px;
    left: 570px;
    text-align: center;
}
.page_0 .img-wrap{
    width:100%;
    padding-top:110px;
}
.page_0 .img-wrap img{  
    width:50%;
    margin:0 auto;
    display: block;

}

.page_1 .flex-wrap{
    width: 100%;
    justify-content: center;
    margin-top:50px;
    align-items: center;
}
.page_1 .flex-item-1{width:260px}
.page_1 .flex-item-1 img{width:210px}
.page_1 .lineBox{padding:50px 50px; line-height:1.6}
.page_1 .answer{line-height: 1.2;}

.pop_page_1.whole .flex-wrap{
    width: 100%;
    justify-content: center;
    margin-top:50px;
}




.pop_page_1.whole .flex-item-1{width:260px;margin-right: 50px;}
.pop_page_1.whole .flex-item-1 img{width:210px}
.pop_page_1.whole .lineBox{padding: 40px 50px;}



.page_2 .ox-wrap{
    position: relative;
    width:100%;
    background: url(../images/suhi_p_0301_02_0007_4.png) no-repeat 0 0 / 100%;
    height: 320px;
    margin-top:40px;
}
.page_2 .ox-wrap .grayBox {
    position: absolute;
    top:58px;
    width:150px;
    height: 150px;
}
.page_2 .ox-wrap .grayBox.n1{ left:29px; }
.page_2 .ox-wrap .grayBox.n2{ left:215px; }
.page_2 .ox-wrap .grayBox.n3{ left:450px; }
.page_2 .ox-wrap .grayBox.n4{ left:664px; }
.page_2 .ox-wrap .grayBox.n5{ left:850px; }
.page_2 .icon{
    width:120px;
    height: 120px;
    left:50%;
    top:50%;
    margin:-60px 0 0 -60px;
    position: absolute;
}
.pop_page_2.whole .ox-wrap{
    position: relative;
    width:100%;
    background: url(../images/suhi_p_0301_02_0007_5.png) no-repeat 0 0 / 100%;
    height: 340px;
    margin-top:40px;
}
.pop_page_2.whole .ox-wrap .grayBox {
    position: absolute;
    top:90px;
    width:150px;
    height: 150px;
}
.pop_page_2.whole .ox-wrap .grayBox.n1{ left:130px; }
.pop_page_2.whole .ox-wrap .grayBox.n2{ left:413px; }
.pop_page_2.whole .ox-wrap .grayBox.n3{ left:632px; }
.pop_page_2.whole .ox-wrap .grayBox.n4{ left:821px; }
.pop_page_2.whole .icon{
    width:120px;
    height: 120px;
    left:50%;
    top:50%;
    margin:-60px 0 0 -60px;
    position: absolute;
}

.page_3 .page-iframe{width:1058px; height:500px; overflow: hidden; border:0; position:absolute;top: 110px;}
.whole.pop_page_3 .page-iframe{width:1089px; height:560px; overflow: hidden; border:0; position:absolute;top:190px;}
.page_3 .q-bg{
    background: url(../images/suhi_p_0301_02_0007_6.png) no-repeat 0 0 / 100%;
    width: 100%;
    height: 340px;
}
.page_3 .exam{top:80px; left:30px;}
.page_3 .ex-bg{
    background: url(../images/suhi_p_0301_02_0007_7.png) no-repeat 0 0 / 100%;
    width: 100%;
    height: 340px;
}
.page_3.t-2 .q-bg{margin-top:90px;}
.page_3.t-2 .exam{top:80px; left:30px;}
.page_3.t-2 .ex-bg{
    background: url(../images/suhi_p_0301_02_0007_8.png) no-repeat 0 0 / 100%;
    width: 100%;
    height: 340px;
}
.page_3.t-2 .quiz-check{
    top: 38px;
    height: auto;
}
.page_3.t-2 .app-drawing-tool {height: 80%;}

.page_4 .img-wrap{width:1000px; margin:30px auto}
.page_4 .img-wrap img{width:100%}

.whole.pop_page_4 .img-wrap{width:1000px; margin:30px auto}
.whole.pop_page_4 .img-wrap img{width:100%}


.pop_page_4.solve .flex-wrap{ justify-content: center; align-items: center; margin-bottom:30px;}
.pop_page_4.solve .flex-wrap img{width:200px}
.pop_page_4.solve .flex-wrap > *{margin:0 10px;}
.pop_page_4.solve .flex-wrap .o{display:inline-block; width:20px; height: 20px; border:4px solid #00a0ff; border-radius: 50%; transform: translate(0 , 0);}



.popup_pages .textBookPopup .popupInner{height: auto;}
.popup_pages .textBookPopup .popupInner .bullet {transform: translate(0,6px);}
.icon_bogi.tit {
    height: 36px;
    margin: 8px 4px 0 4px!important;
    border-radius: 10px;
    vertical-align: top;
}
.icon_bogi.tit:after {
    font-size: 21px;
    line-height: 36px;
}

.bullet.number.green {
    color: #6dbc4b;
    border: 2px solid #6dbc4b;
    background-color: #fff;
}


.page_5 .img-wrap{margin-top:10px}
.page_5 .img-wrap img{
    width: 85%;
    display: block;
    margin: 0 auto 20px;
}
.page_5 .flexListContainer {
    flex-direction: column;
}
.page_5 .flexListContainer li{
    display: flex;
    justify-content: center;
    margin-bottom:10px;
}
.page_5 .flexListContainer .toggle{width:100%; text-align: left;}
.page_5 .flexListContainer li > div:first-child{width:126px}
.page_5 .flexListContainer li > div:last-child{width:600px}

.pop_page_5.whole .img-wrap{margin-top:10px}
.pop_page_5.whole .img-wrap img{
    width: 65%;
    display: block;
    margin: 20px auto 30px;
}
.pop_page_5.whole .flexListContainer {
    flex-direction: column;
}
.pop_page_5.whole .flexListContainer li{
    display: flex;
    justify-content: center;
    margin-bottom:10px;
}
.pop_page_5.whole .flexListContainer .answer{display: flex; text-align:justify;}
.pop_page_5.whole .flexListContainer .toggle{width:100%; text-align: left; }
.pop_page_5.whole .flexListContainer li > div:first-child{width:130px}
.pop_page_5.whole .flexListContainer li > div:last-child{width:610px; margin-top:-9px;}



.page_6 .img-wrap{width:500px; margin: 10px auto 30px;}
.page_6 .img-wrap img{width: 100%;}
.whole.pop_page_6 .img-wrap{width:500px; margin: 10px auto 30px;}
.whole.pop_page_6 .img-wrap img{width: 100%;}

.solve.pop_page_6  img{width: 240px;}


.box-flex {display:flex;align-items:flex-start;margin:70px auto 0}
.box-flex .tit-box {width:200px;text-align:right;flex-shrink:0}
.box-flex .tit-box .colorBox {display:inline-flex}
.box-flex .txt {margin:0 10px}
.box-flex .ex-box{display: flex; text-align:justify;}
.whole.pop_page_6 .box-flex {display:flex;align-items:flex-start;margin:20px auto 0}
.whole.pop_page_6 .flex-wrap{width: 100%; display: flex; justify-content: center; padding-top:30px}
.whole.pop_page_6 .flex-item-2 .lineBox{padding:50px;}
.whole.pop_page_6 .flex-item-2 .lineBox img{width:640px;}


