


@charset "utf-8";




section {
  padding: 20px 50px;
}



.flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
}


.imageBox {
  position: relative;
  width: 640px;
  height: 300px;
  background: url(../images/2_1/2_1_5_01.svg) center / contain no-repeat;
}
.answerBox {
  position: relative;
  width: 300px;
  height: 300px;
  background: url(../images/2_1/2_1_5_01_answer.svg) center / contain no-repeat;
}

.arrow {
  margin: 0 40px;
}


.toggleObj[data-toggle-obj="1"] {
  top: 120px;
  left: 876px;
  width: 274px;
  height: 274px;
}