
@charset "utf-8";



.list.dot {
  margin-bottom: 0.5em;
}

.colorBox {
  height: 180px;
}

.colorBox:after {
  background-size: auto 190px;
  background-image: url(./images/2_1/2_1_4_01.svg);
}

/* toggle */
.list.dot > li .toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 272px;
  width: 86px;
}
.list.dot > li .toggleObj[data-toggle-obj="2"] {
  top: 0;
  left: 540px;
  width: 46px;
}
.list.dot > li .toggleObj[data-toggle-obj="3"] {
  top: 0;
  left: 965px;
  width: 72px;
}
.list.dot > li .toggleObj[data-toggle-obj="4"] {
  top: 60px;
  left: 30px;
  width: 48px;
}
.list.dot > li .toggleObj[data-toggle-obj="5"] {
  top: 0;
  left: 316px;
  width: 70px;
}



.page2 {
  background: url(../images/2_2/2_2_4_01.svg) center / auto no-repeat;
}