@charset "utf-8";



.imageBox {
  position: relative;
  width: 100%;
  height: 440px;
}
.imageBox > figure {}
.imageBox > figure img {
  width: 100%;
}


.inputQuizContainer {
  display: flex;
  position: absolute;
  top: 400px;
  width: 100%;
}
.inputQuizContainer > div {
  display: flex;
  justify-content: center;
  position: relative;
}
input {
  width: 150px;
  margin-right: 10px;
}




.dragBox {
  position: absolute;
  top: -100px;
  right: 0;
  width: 200px;
  height: 100px;
}
.rotateContainer {
  top: 14px;
  left: 40px;
}
.rotateContainer.showRotate {
  width: 420px;
  height: 240px;
}

/* page1 */
.page1 .imageBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1090px;
}
.page1 .imageBox > figure {
  width: 520px;
}
.page1 .imageBox > figure img {
  width: 100%;
}
.page1 .inputQuizContainer > div:nth-of-type(1) {
  left: 234px;
}
.page1 .inputQuizContainer > div:nth-of-type(2) {
  left: 662px;
}
/* page2 */
.page2 .imageBox {
  background: url(../images/2_2/2_2_6_02.svg) center / auto 500px no-repeat;
}
.page2 .inputQuizContainer > div:nth-of-type(1) {
  left: 300px;
}
.page2 .inputQuizContainer > div:nth-of-type(2) {
  left: 650px;
}

/* page3 */
.page3 .imageBox {
  background: url(../images/2_2/2_2_6_03.svg) center / auto 500px no-repeat;
}
.page3 .inputQuizContainer > div:nth-of-type(1) {
  left: 180px;
}
.page3 .inputQuizContainer > div:nth-of-type(2) {
  left: 650px;
}