@charset "utf-8";

.act.quiz .contentsArea > h1 {
  word-break: break-all;
  letter-spacing: -4px;
  margin-bottom: 40px;
}
.imageBox {
  position: relative;
  width: 100%;
  height: 440px;
  background: url(../images/2_2/2_2_8_01.png) center / contain no-repeat;
}



.inputQuizContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 450px;
  width: 100%;
}
.inputQuizContainer > div {
  display: flex;
  justify-content: center;
  position: relative;
}
.inputQuizContainer > div:nth-of-type(1) {
  left: 250px;
}
.inputQuizContainer > div:nth-of-type(2) {
  left: 650px;
}
input {
  width: 150px;
  margin-right: 10px;
}



.dragBox {
  position: absolute;
  top: 6px;
  right: 0;
  width: 200px;
  height: 100px;
}
.rotateContainer {
  top: 14px;
  left: 40px;
}
.rotateContainer.showRotate {
  width: 420px;
  height: 240px;
}



.clickButton[data-index="1"] {
  top: 285px;
  left: 313px;
}
.clickButton[data-index="2"] {
  top: 146px;
  left: 338px;
}
.clickButton[data-index="3"] {
  top: 31px;
  left: 463px;
}
.clickButton[data-index="4"] {
  top: 52px;
  left: 742px;
}
.clickButton[data-index="5"] {
  top: 156px;
  left: 902px;
}
.clickButton[data-index="6"] {
  top: 284px;
  left: 994px;
}



.popup_pages .imageBox {
  width: 100%;
  height: 300px;
  margin-top: 100px;
}
.page1 .imageBox {
  background: url(../images/2_2/2_2_8_01_1.png) center / contain no-repeat;
}
.page2 .imageBox {
  background: url(../images/2_2/2_2_8_01_2.png) center / contain no-repeat;
}
.page3 .imageBox {
  background: url(../images/2_2/2_2_8_01_3.png) center / contain no-repeat;
}
.page4 .imageBox {
  background: url(../images/2_2/2_2_8_01_4.png) center / contain no-repeat;
}
.page5 .imageBox {
  background: url(../images/2_2/2_2_8_01_5.png) center / contain no-repeat;
}
.page6 .imageBox {
  margin-top: 156px;
  background: url(../images/2_2/2_2_8_01_6.png) center / contain no-repeat;
}