@charset "utf-8";

.popupButton.movie {
  top: -75px;
}



.imageBox {
  position: relative;
  width: 100%;
  height: 550px;
  margin-top: -20px;
  background: url(../images/2_3/2_3_3_01.png) center / contain no-repeat;
}

.imageBox > p {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  font-family: MapleStoryL;
}
.imageBox > p:nth-of-type(1) {
  text-align: right;
  top: 83px;
  left: 378px;
}
.imageBox > p:nth-of-type(2) {
  top: 41px;
  left: 627px;
}
.imageBox > p:nth-of-type(3) {
  top: 290px;
  left: 334px;
  text-align: right;
}
.imageBox > p:nth-of-type(4) {
  top: 288px;
  left: 685px;
  text-align: right;
}