
@charset "utf-8";

.supplies {
  top: -75px;
  right: 0;
}

.contentsArea > h1 {
  word-break: normal;
}

.imageBox {
  position: relative;
  width: 100%;
  height: 340px;
  margin-top: 0px;
  background: url(../images/2_4/2_4_8_bg.svg) center / contain no-repeat, url(../images/2_4/2_4_8_bg.png) center / contain no-repeat;
}

.clickButton {
  top: 0;
  left: 1094px;
}




/* popup */
.popup_pages .imageBox {
  height: 520px;
  margin-top: 60px;
  background: url(../images/2_4/2_4_8_01.png) center / contain no-repeat;
}


.quizContainer {
  position: absolute;
  text-align: center;
  top: 120px;
  left: 490px;
  line-height: 2;
}
.popup_pages  input {
  width: 150px;
}

.oxObj {
  cursor: pointer;
}
.oxObj[data-toggle-obj="1"] {
  top: 115px;
  left: 76px;
}
.oxObj[data-toggle-obj="2"] {
  top: 115px;
  left: 203px;
}
.oxObj[data-toggle-obj="3"] {
  top: 116px;
  left: 326px;
}

.popup_pages .quizButtons {
  bottom: 10px;
  right: 10px;
}



canvas {
  position: absolute;
  top: 166px;
  left: 123px;
}
.drawBtn {
  position: absolute;
  top: 95px;
  left: 93px;
}
/* 펜 옵션 팝업 */
.pen_tool {
  left: 146px;
  top: 98px;
}
/* 정답 보기 상태일 때 그리기 안되도록 블럭 처리 */
canvas.pointerOff {
  pointer-events: none;
}