
@charset "utf-8";



/* toggle */
.list.dot > li .toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 790px;
  width: 86px;
}
.list.dot > li .toggleObj[data-toggle-obj="2"] {
  top: 0;
  left: 900px;
  width: 96px
}