


@charset "utf-8";



h1 p {
  word-break: normal;
}




.imageBox {
  position: absolute;
  top: -96px;
  left: 0;
  width: 100%;
  height: 560px;
  background: url(../images/2_6/2_6_6_01.png) center / contain no-repeat;
  z-index: -1;
}


fomula.horizon {
  position: absolute;
  transform: scale(0.76);
}
fomula.horizon.fomula_1 {
  top: 232px;
  left: 102px;
}
fomula.horizon.fomula_2 {
  top: 376px;
  left: 314px;
}
fomula.horizon.fomula_3 {
  top: 258px;
  left: 650px;
}

input.inlineBox {
  width: 120px;
}