


@charset "utf-8";


.popupButton {
  top: -75px;
}

/* 짝 활동 */
.icon_coupleAct {
  position: absolute;
  display: block;
  top: 291px;
  left: -24px;
  width: 92px;
  height: 36px;
  background: url(../images/coupleAct_icon.svg) center / contain no-repeat;
}

.imageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 40px;
}

.imageBox > div.image {
  width: 300px;
  height: 100%;
  background: url(../images/2_7/2_7_4_01.svg) center / contain no-repeat;
}
.imageBox > div.image:nth-child(3) {
  width: 300px;
  height: 100%;
  background: url(../images/2_7/2_7_4_02.svg) center / contain no-repeat;
}
.imageBox > div.image:nth-child(5) {
  flex: 0 0 auto;
  width: 570px;
  height: 100%;
  background: url(../images/2_7/2_7_4_03.svg) center / contain no-repeat;
}


.imageBox > div.arrow {
  margin: 80px 20px 0;
  align-self: flex-start;
}



.balloonText {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 248px;
  width: 246px;
  height: 128px;
}




/* page1 */
/* page2 */
.page2 .imageBox {
  transform: scale(0.7);
  position: absolute;
  top: -100px;
}
.page2 .balloonText {
  font-size: 35px;
}
.page2 .list.dot > li {
  word-break: break-all;
  letter-spacing: -2px;
}
ul.list.dot {
  margin-top: 280px;
}



/* page3 */
.page3 .balloonText {
  font-size: 35px;
}
.page3 .imageBox {
  transform: scale(0.7);
  position: absolute;
  top: -100px;
}