@charset "utf-8";

figure { 
  position: relative;
  margin: 50px auto 20px;
  width: 1124px;
  text-align: center
}
figure img {
  width: auto;
  height: 100%;
  vertical-align: top;
  
}
.inputQuizContainer input{
  width: 100%;  
}
