@charset "utf-8";

figure { 
  position: relative;  
  text-align: center;
  height: 280px;
}
figure img {
  width: auto;
  height: 100%;
  vertical-align: top;
  
}
.quizContainer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.quizContainer > div{
  flex: 1 0 50%;  
}
.inputQuizContainer{
    padding-top: 20px;
}
.inputQuizContainer input{
    width: 150px;
    margin: 0 auto;
}
.inputBox {
    position: absolute;
  }
.inputBox > input {
    width: 150px;
    margin-right: 10px;
}

.inputBox.box_1 {
    top: 285px;
    left: 355px;
}
.inputBox.box_2 {
    top: 327px;
    left: 783px;
}
.inputBox.box_2 input{
    width: 120px;
}
.left{
    border-right: 3px dotted #8f8bb6;
}
.left figure{
    padding-right: 120px;
}

