@charset "utf-8";
figure { 
  position: relative;
  margin: 50px auto 20px;  
  text-align: center;
  text-indent: -65px;
}
figure img {
  width: auto;
  height: 100%;
  vertical-align: top;  
}
.inputBox {
    text-align: center;
    text-indent: 25px;
}
.inputBox input{    
    width: 150px;  
    margin-right: 10px;
}
