@charset "utf-8";

.quizContainer {  
  display: inline-block;
  position: relative;
  margin: 30px auto 0;
}
figure { 
  position: relative;  
  text-align: center;
  height: 340px;
  display: inline-block;
}
figure img {
  width: auto;
  height: 100%;
  vertical-align: top;  
}
.inputQuizContainer input{
  width: 150px;
  margin: 0 0 0 471px;
  text-align: center;
}
.list.dot {
  margin-bottom: 0.5em;
}
.oxObj {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 80px;  
  pointer-events: none;
}
.oxObj[data-ox-obj] {
  pointer-events: auto;
  cursor: pointer;
}
.oxObj .icon {
  opacity: 0;
  width: 70px;
  height: 70px;
  pointer-events: none;
}
.oxObj[data-ox-obj="1"] {
  left: 7px;
  top: 95px;
}
.oxObj[data-ox-obj="2"] {
  left: 78px;
  top: 26px;
}
.oxObj[data-ox-obj="3"] {
  left: 231px;
  top: 0px;
}
.oxObj[data-ox-obj="4"] {
  left: 363px;
  top: 40px;
}
.oxObj[data-ox-obj="5"] {
  left: 450px;
  top: 124px;
}
