
@charset "utf-8";
.h2Side {
  position:relative;
  top:-7px;
  width:98%;
  text-indent:200px;
  margin:-60px 10px 0;
  word-break: break-word;
}
.h2Side:before {
  display:none !important;
}
/* page 1 */
.supplies {
  top: 0;
  right: 0;
  z-index: 1;
}
/* .powerup .page1 .mediaContainer {
  margin-top: -40px;
  height: 480px;
} */

/* page 2 */

img {
  vertical-align: middle;
}
.lineBox h4 {
    padding-left:83px;
}
.lineBox h4 img {
    position: absolute;
    left:45px;
}
.lineBox {
    display:block;
    position: relative;
    width:853px;
    margin:10px auto 0;
    padding:30px 45px;
    border-color:#8f8bb6;
}

.exBox {
    width:100%;
    text-align:center;
}

.basicSlider_btn.prev {
  left:80px !important;
}
.basicSlider_btn.next {
  right:80px !important;
}

.contBox h4 {
  margin-top:10px;
  margin-left: 50px;
}
.contBox.cont1 h4 {
  margin: 10px 135px 0 220px;
  text-indent: -73px;
}
.spaceArea {
  position: absolute;
  top: 364px;
  left: 215px;
  width: 970px;
  font-size: 27px;
  display: flex;
}
.spaceArea > li {
  position: relative;
  width: 204px;
  margin-right: 105px;
  text-align:center;
  line-height: 1.6;
}
.spaceArea > li:last-child {
  margin-right:0;
}
.toggleObj.space {
  width:70px;
  height:50px;
  top: 40px;
  left: 27px;
}
.textColor.answer {
  width:70px;
  background-color:#fff;
  border-radius: 10px;
  border:1px solid #ccc;
}
.toggleObj.space[data-toggle-obj="2"] {
  top:-12px;
}
.toggleObj.space[data-toggle-obj="3"] {
  width:83px;
}

/* page 3 */
.contBox3 {
  position: relative;
  width: 100%;
  height: 520px;
  background: url(../images/2_powerup/2_powerup_page3_bg.svg) center 0 / contain no-repeat;
}
.contBox3 .question {
  position:absolute;
  left: 986px;
}

.popQuizWrap {
  position:relative;
  width: 100%;
  height:420px;
  background:url(../images/2_powerup/2_powerup_page3_bg.svg) center / 620px 420px no-repeat;
}

.drawLine {
  width: 620px;
  height: 100%;
  margin:0 auto;
  left:50%;
  transform:translateX(-50%);
}

.drawLine .resetButton {
  bottom:0;
  right:0;
}

.popup_pages .basicSlider_slides {
  position:relative;
}

/* page 4 */
.inputArea {
  margin-left:40px;
}
.page4 ins.exam {
  top: 10px;
  left: 180px;
}
/* pop2 */
.popup_pages .basicSlider_slides > li {
  padding-bottom:55px;
  height: 570px;
}
.pop2 .dragBox {
  width:260px;
  height:435px;
}
.pop2 .signBox {
  position:absolute;
  width:200px;
  height:157px;
  margin: 15px 0 0 30px;
  font-size:26px;
  background:url(../images/2_powerup/2_powerup_pop2_bg2.svg) center / contain no-repeat;
}
.pop2 .signBox[data-index="1"] {

}
.pop2 .signBox[data-index="2"] {
  top:240px;
}
.pop2 .dragBox {
  position:relative;
  left:18px;
}
.pop2 .signBox .txt {
  padding: 21px 0 0 28px;
  line-height: 50px;
}
.pop2 .signBox input {
  display: inline-block;
  width: 60px;
  vertical-align: top;
  padding: 5px;
  text-align:center;
}
.pop2 .arrIcon {
  width:58px;
  height:58px;
  top:180px;
}
.pop2 .arrIcon[data-index="3"] {
  left:calc(58px * 0 + 10px);
  background:url(../images/2_powerup/2_powerup_page3_arr1.svg) center / contain no-repeat;
}
.pop2 .arrIcon[data-index="4"] {
  left:calc(58px * 1 + 10px);
  background:url(../images/2_powerup/2_powerup_page3_arr2.svg) center / contain no-repeat;
}
.pop2 .arrIcon[data-index="5"] {
  left:calc(58px * 2 + 10px);
  background:url(../images/2_powerup/2_powerup_page3_arr3.svg) center / contain no-repeat;
}
.pop2 .arrIcon[data-index="6"] {
  left:calc(58px * 3 + 10px);
  background:url(../images/2_powerup/2_powerup_page3_arr4.svg) center / contain no-repeat;
}
.pop2 .dragArea {
  position:absolute;
  right:10px;
  top:135px;
  left:auto;
  width:750px;
  height:440px;
  padding-left: 15px;
  border:3px solid #7ccc48;
  border-radius: 20px;
}
.pop2 .dragArea .js-dragObj.dragObjComplete {
  position: static;
  margin: 0 -10px;
  display:inline-block;
  transform: scale(0.8);
  pointer-events: auto;
}
.pop2 .dragArea .js-dragObj.dragObjComplete.signBox {
  margin: 0 -30px;
}
.pop2 .dragArea .js-dragObj > * {
  pointer-events: none !important;
}
.pop2 .dragArea .js-dragObj.arrIcon {
  height: 157px;
  vertical-align: middle;
  margin: -18px -10px 0;
}
.pop2 .popupButton.head {
  top:70px;
}

.popup_pages > li.head {
  top: 96px;
  right: 160px;
}

.popSize {
  width:710px;
  vertical-align: middle;
  display:block;
  margin-right:20px;
}


.popup_container.on {
  background-color: transparent;
}
.popup_pages .min.solve.on {
  box-shadow: rgba(0, 0, 0, .7) 0 0 0 9999px;
}
/* page 4 */
.page4Img {
  position: relative;
  width: 100%;
  display: block;
  margin: 0 auto;
}
.page4Img img {
  width: 100%;
  vertical-align: top;
}
.page4Img img[src*="svg"] {
  position: absolute;
  top: 0;
  left: 0;
}


/*add*/
.pop2 .quizButtons {
  background-color: #f4ad0f;
  background-image: url(../../include/math/images/quiz/icon_reset.svg);
}
.pop2 .js-dragObj.isDragging input {
  pointer-events: none !important;
}
.copyPopup .popQuizWrap {
  width: 620px;
}


