


@charset "utf-8";




section {
  padding: 20px 50px;
}


.list.dot > li {
  word-break: normal;
}

.noBullet {
  height: 240px;
  background: url(../images/2_5/2_5_5_01.png) center / contain no-repeat;
}

/* toggle */
.toggleObj[data-toggle-obj="1"] {
  top: 20px;
  left: 30px;
  width: 1164px;
  height: 400px;
}