@charset "utf-8";

.eye.popBtn {
    transform: translate(0, 9px);
}

.popup_pages>li.whole.pop_page_1 .popup_contents{
    padding:0;
    background-color: #c6c6e0;
}
.pop_page_1 .img2{width:100%; height: 480px; background: url(../images/suh_h_0301_02_0008_201_1_2.png) no-repeat -18px 50px / 100%; position: relative;margin-top:120px}
.pop_page_1 .img2 .text{
    position: absolute;
    top: 125px;
    left: 176px;
    width: 530px;
    line-height: 1.4;
        }
.pop_page_1 .img2 .balloon{text-align: center; }
.pop_page_1 .img2 .b1{top:120px; left: 720px; width:120px;}
.pop_page_1 .img2 .b2{top: 40px; left: 850px; width:250px;}

.tit-wrap{width:600px;height:220px;background: url(../images/suh_h_0301_02_0008_201_2_1.png) no-repeat 0 0 / 100%; padding:43px 0 0 130px; position: relative; box-sizing: border-box; margin: 0 auto;}
.tit-wrap b{position: absolute; top:42px; left:56px;}

.page_2 .innerTab_3 .popBtn,
.page_2 .innerTab_2 .popBtn,
.page_2 .innerTab_1 .popBtn{position: absolute; top:330px; left:490px}
.page_2 .innerTab_1 .tableContainer th,
.page_2 .innerTab_1 .tableContainer td{font-size: 30px; padding:10px}

.page_2 .innerTab_2 .single{position: absolute; top:50px; left:580px;}
.page_2 .innerTab_2 .balloon{top:290px; left:240px; text-align: center;}

.page_2 .innerTab_3 .girl_2-wrap{position: absolute; top:230px; left:0;}
.page_2 .innerTab_3 .b1{top:250px; left:200px; text-align: center;}
.page_2 .innerTab_3 .boy_2-wrap{position: absolute; top:360px; left:830px;}
.page_2 .innerTab_3 .b2{top:380px; left:280px; text-align: center;}

.page_3 .innerTab_1 td,
.page_3 .innerTab_2 td{height:100px;}
.page_3 .innerTab_1 td .toggle{width:100%; height:100px;  display: flex; justify-content: center; align-items: center; background-color: transparent; padding:0}
.page_3 .innerTab_3 .toggle .answer{text-align: left; display: flex;}
.page_3 .innerTab_3 section{margin: 10px;}









