@charset "utf-8";

.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
.contentsList .icon_arrow{width:auto !important; margin:0 10px;}
.lineBox .bullet.number,
h2 .bullet.number{margin-top:5px;}
.buttonContainer.iframe{right:170px;}
.checkContainer h2 .toggleBlank{margin-top:8px;}
.checkContainer .contentsBox .basicSlider_tabs {width: 600px}

.textAlignC + .textAlignC {
    margin-top: 30px;
}
.lineBox.inline, 
.colorBox.inline {
    display: inline-block;
    min-width: 40%;
    padding: 30px 40px;
    text-align: center;
}

.page_1 .img-wrap {
    padding: 0 7px;
    box-sizing: border-box;
}
.page_1 .toggle-wrap {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background: url(../images/suh_p_0301_03_0002_401_1/suh_p_0301_03_0002_401_1_1.png) 50% /100% no-repeat;
}
.page_1 .toggle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 84px;
    padding: 0;
    margin: 0 auto;
    background: none;
}
.page_1 .toggle::after {
    display: none;
}
.page_1 .toggle .answer {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    z-index: 1;
} 
.page_1 .answer .flex-wrap {
    position: relative;
    left: -7px;
    justify-content: space-between;
    width: calc(100% + 14px);
    height: 84px;
}
.page_1 .toggle.n2  {
    top: 110px;
}
.page_1 .toggle.n3  {
    top: 220px;
}
.page_1 .answer .flex-wrap .lineBox {
    width: 100%;
    margin: 0 2px 0 0;
    background: transparent;
}
.page_1 .answer .flex-wrap .lineBox:last-child {
    margin: 0;
}
.page_2 .flexListContainer.jcenter {
    align-items: center;
    margin-top: 30px;
}
.page_3 .flexListContainer.jcenter  {
    align-items: center;
}
.page_3 .flexListContainer.jcenter:nth-child(2) {
    position: relative;
    margin-top: 20px;
}
.page_2 .flexListContainer.jcenter > li,
.page_3 .flexListContainer.jcenter > li {
    display: flex;
    align-items: center;
}
.page_2 .flexListContainer.jcenter > li + li,
.page_3 .flexListContainer.jcenter > li + li {
    margin-left: 15px;
}
.page_3 .img-wrap{width: 100%; height:100%; position: relative;}
.page_3 .img-wrap .text + .toggle {
    margin: 0 10px;
}
.page_3 .icon_arrow {
    position: absolute;
    top: 50%;
    left: 285px;
    transform: translateY(-50%);
}
.page_4 .lineBox {
    width: 540px;
}
.page_5 .lineBox {
    width: 420px;
    padding: 10px 10px;
}
.page_4,
.page_5 {
    position: relative;
    height: 300px;
}
.page_4 .lineBox,
.page_5 .lineBox {
    height: auto;
    text-align: center;
    border-color: transparent;
    box-sizing: border-box;
}
.page_4 .lineBox,
.page_5 .lineBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0 auto;
}
.page_4 .lineBox + .lineBox {
    margin-top: 5px;
}
.page_5 .flexListContainer {
    margin-top: 25px;
}
.page_5 .lineBox + .lineBox {
    margin-left: 5px;
}
.page_4 .lineBox img {
    width: 80px;
    height: auto;
}
.page_5 .lineBox img {
    width: 80px;
    height: auto;
}
.page_4.complete .lineBox,
.page_5.complete .lineBox {
    border-color: #c1e8ec;
}
.page_6 .oxContainer {
    padding: 10px 20px;
}
.page_6 .oxContainer.lineBox li {
    padding: 30px 10px;
    text-align: center;
}
.page_6 .oxContainer.lineBox li + li {
    margin-left: 30px;
}
.page_6 .oxContainer.lineBox li .icon  {
    position: absolute;
    top: 0;
    left: 0;
}
.page_6 .textAlignC .text {
    margin: 0 10px;
}