@charset "utf-8";

.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
.contentsList .icon_arrow{width:auto !important; margin:0 10px;}
.lineBox .bullet.number,
h2 .bullet.number{margin-top:5px;}
.buttonContainer.iframe{right:170px;}
.checkContainer h2 .toggleBlank{margin-top:8px;}
.checkContainer .contentsBox .basicSlider_tabs {width: 600px}

.page_1 .toggle {
    width: 100%;
    height: 300px;
    padding: 0;
    background: url(../images/suh_p_0301_03_0002_401_1/suh_p_0301_03_0002_401_1_1.png) no-repeat 100px 50% / 84%;
}
.page_1 .toggle::after {
    display: none;
}
.page_1 .answer {
    position: absolute;
    width: 100%;
    height: 300px;
    background: url(../images/suh_p_0301_03_0002_401_1/suh_p_0301_03_0002_401_1_1.svg) no-repeat 50% -180px / 100%;
    z-index: 1;
}
.page_2 .contentsList .colorBox.green {
    width: 50%;
    margin-bottom: 30px;
    padding: 20px 20px;
    text-align: center;
}
.page_2 .contentsList .colorBox.check {
    display: inline-block;
    vertical-align: top;
    padding: 12px 18px;
    margin-right: 0;
    line-height: 36px;
}

.page_2 .contentsList li {
    display: inline-block;
}

.page_2 .contentsList li+li {
    margin-left: 30px;
}

.page_2 .contentsList .bunsuContainer {
    display: inline-block;
    margin: 0;
}
.page_2 .contentsList>li>.colorBox.check+* {
    width: auto;
}
.page_2 .flexListContainer.jcenter {
    align-items: center;
    margin-top: 30px;
}
.page_3 .flexListContainer.jcenter  {
    align-items: center;
}
.page_3 .flexListContainer.jcenter:nth-child(2) {
    position: relative;
    margin-top: 20px;
}
.page_2 .flexListContainer.jcenter > li,
.page_3 .flexListContainer.jcenter > li {
    display: flex;
    align-items: center;
}
.page_2 .flexListContainer.jcenter > li + li,
.page_3 .flexListContainer.jcenter > li + li {
    margin-left: 10px;
}
.page_3 .img-wrap{width: 100%; height:100%; position: relative;}
.page_3 .img-wrap .text + .toggle {
    margin: 0 10px;
}
.page_3 .icon_arrow {
    position: absolute;
    top: 50%;
    left: 290px;
    transform: translateY(-50%);
}
.page_4,
.page_5 {
    position: relative;
    height: 300px;
}
.page_4 .lineBox,
.page_5 .lineBox {
    height: auto;
    text-align: center;
    border-color: transparent;
    box-sizing: border-box;
}
.page_4 .lineBox,
.page_5 .lineBox {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    margin: 0 auto;
}
.page_5 .lineBox {
    padding: 10px 15px;
}
.page_4 .lineBox + .lineBox {
    margin-top: 10px;
}
.page_5 .lineBox + .lineBox {
    margin-left: 10px;
}
.page_4 .lineBox img {
    width: 100px;
    height: auto;
    padding: 0 20px;
}
.page_5 .lineBox img {
    width: 80px;
    height: auto;
    padding: 0 10px;
}
.page_4.complete .lineBox,
.page_5.complete .lineBox {
    border-color: #91c6e9;
}
.page_6 .oxContainer.lineBox.orange {
    padding: 20px 40px;
}
.page_6 .oxContainer.lineBox.orange li {
    text-align: center;
}
.page_6 .oxContainer.lineBox.orange li + li {
    margin-left: 30px;
}
.page_6 .oxContainer.lineBox.orange li .icon  {
    position: absolute;
    top: 0;
    left: 0;
}
.page_6 .textAlignC .text {
    margin: 0 10px;
}
.page_8 .colorBox.inline {
    display: inline-block;
    padding: 20px 40px;
    margin: 0 auto;
}
.textAlignC + .textAlignC {
    margin-top: 30px;
}
.lineBox.inline {
    display: inline-block;
    min-width: 55%;
    padding: 20px 40px;
    text-align: center;
}