.sq{display: inline-block; width:40px; height:40px; background:#000; vertical-align: middle; margin:0 5px;}
.contentsBox {word-break: keep-all; }

.flex-wrap{justify-content: space-around;align-items: center;margin-top: 90px;}
.flex-wrap .n1{width: 650px;height: 140px; position: relative;}
.flex-wrap .n2{width:260px; position: relative;}
.n3{position: absolute;top: 360px;left: 390px;}
.flex-wrap  img{width: 100%;}


.flex-wrap .n1 .txt{position: absolute;top: 37px;left: 40px;font-size: 100px;font-weight: 400;font-family: NotoL;}

.flex-wrap .n1 .txt2{position: absolute;top: 37px;left: 330px;font-size: 100px;font-weight: 400;font-family: NotoL;color: #fff;text-shadow: 0 0 3px black;}

.p{letter-spacing: 1px;}
.flex-wrap .n2 > div{position: absolute;}
.flex-wrap .n2 .t0{top: 130px;left: 37px;}
.flex-wrap .n2 .t1{top: 130px;left: 181px;}

.flex-wrap .n2 .tt0{top: 280px; left: 88px;font-size: 19px;}
.flex-wrap .n2 .tt1{top: 280px;left: 142px;font-size: 19px;}
.flex-wrap .n2 .tt2{top: 280px;left: 196px;font-size: 19px;}








