


@charset "utf-8";




.imageBox {
  position: relative;
  width: 100%;
  height: 290px;
  margin: 40px 0 80px;
  background: url(../images/2_1/2_1_3_01.svg) center / contain no-repeat;
}


/* page1 */
.clickButton[data-toggle-obj="1"] {
  top: 182px;
  left: 224px;
}
.clickButton[data-toggle-obj="2"] {
  top: 70px;
  left: 380px;
}
.clickButton[data-toggle-obj="3"] {
  top: 76px;
  left: 564px;
}
.clickButton[data-toggle-obj="4"] {
  top: 239px;
  left: 582px;
}
.clickButton[data-toggle-obj="5"] {
  top: 122px;
  left: 784px;
}
.clickButton[data-toggle-obj="6"] {
  top: 209px;
  left: 964px;
}
.clickButton[data-toggle-obj="7"] {
  top: 30px;
  left: 1134px;
}


.answerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.answerImage[data-toggle-target="1"] {
  background: url(../images/2_1/2_1_3_01_answer_1.svg) center / contain no-repeat;
}
.answerImage[data-toggle-target="3"] {
  background: url(../images/2_1/2_1_3_01_answer_2.svg) center / contain no-repeat;
}
.answerImage[data-toggle-target="6"] {
  background: url(../images/2_1/2_1_3_01_answer_3.svg) center / contain no-repeat;
}
.answerImage[data-toggle-target="7"] {
  background: url(../images/2_1/2_1_3_01_answer_4.svg) center / contain no-repeat;
}




/* page2 */
.page2 .imageBox {
  height: 250px;
  margin: -10px 0 30px;
}
.page2 .table {
  width: 1120px;
  margin-left: 98px;
}
.table > ul > li {
  height: 70px;
}

.table > ul:nth-of-type(1) {
  flex: 0 0 auto;
  width: 400px;
}


.icon.visibled {
  opacity: 1;
}

.table .js-click {
  cursor: pointer;
}

.oxPop {
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 350px;
  left: -7px;
  width: 120px;
  height: 50px;
}
.oxPop:before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  left: -11px;
  width: 150px;
  height: 96px;
  background: url(../images/2_1/ox_pop.svg) center / contain no-repeat;
}
.oxPop.on {
  opacity: 1;
  visibility: visible;
}

.oxPop > .icon {
  margin: 0 auto;
  opacity: 0.999999;
}
.oxPop[data-index="1"] { left: 696px; }
.oxPop[data-index="2"] { left: 796px; }
.oxPop[data-index="3"] { left: 900px; }
.oxPop[data-index="4"] { left: 1003px; }
.oxPop[data-index="5"] { left: 1103px; }


.clickBox {
  position: absolute;
  top: 420px;
  width: 100px;
  height: 60px;
  cursor: pointer;
}
.clickBox.complete {
  pointer-events: none;
}
.clickBox[data-index="1"] { left: 704px; }
.clickBox[data-index="2"] { left: 806px; }
.clickBox[data-index="3"] { left: 909px; }
.clickBox[data-index="4"] { left: 1012px; }
.clickBox[data-index="5"] { left: 1114px; }


li .oxBox {
  width: 100%;
  height: 100%;
}
li .oxBox > .oxObj {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.oxObj > .icon {
  opacity: 0;
  width: 50px;
  height: 50px;
}
.oxObj[data-ox-obj] {
  pointer-events: auto;
}



/* page3 */
/* .page3 .imageBox {
  margin: 0px 0 50px;
} */
.page3 .table,
.page4 .table {
  width: 1152px;
  margin-left: 66px;
  margin-bottom: 30px;
}


/* page4 */
/* .page4 .imageBox {
  margin: 0px 0 50px;
} */