


@charset "utf-8";


main section {
  background: url(../images/2_3/2_3_7_bg.png) center bottom 40px / auto 420px no-repeat;
}



.popupButton {
  top: -75px;
  right: 0;
}

.supplies {
  top: -75px;
  right: 0; /* 팝업 버튼 옆에 다른 버튼이 1개 있을 때 위치 */
}
.supplies_1 {
  top: -28px;
}
.supplies_2 {
  top: 18px;
}
