


@charset "utf-8";





.angle_1 {
  width: 60px;
  height: 50px;
  background: url(../images/2_4/angle_1.svg) center / contain no-repeat;
}
.angle_2 {
  width: 60px;
  height: 50px;
  background: url(../images/2_4/angle_2.svg) center / contain no-repeat;
}
.angle_3 {
  width: 90px;
  height: 50px;
  background: url(../images/2_4/angle_3.svg) center / contain no-repeat;
}


ins.angle_1,
ins.angle_2,
ins.angle_3 {
  display: inline-block;
  position: relative;
  top: 8px;
}


.imageBox {
  position: relative;
  width: 100%;
  height: 310px;
  margin: 0 0 50px;
  background: url(../images/2_4/2_4_3_01.svg) center / contain no-repeat;
}


/* page1 */
.page1 .quizContainer {
  position: relative;
  top: -120px;
  height: 580px;
  padding-top: 150px;
  box-sizing: border-box;
}
.dragBox {
  position: absolute;
  top: 70px;
  right: 0;
  width: 330px;
  height: 80px;
}

.dragBox .dragObj {
  top: 14px;
}
.dragBox .dragObj[data-drag-obj-answer="1"] {
  left: 30px;
}
.dragBox .dragObj[data-drag-obj-answer="2"] {
  left: 130px;
}
.dragBox .dragObj[data-drag-obj-answer="3"] {
  left: 210px;
}


.imageBox .dropArea {
  opacity: 0;
  position: absolute;
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
.imageBox .dropArea[data-index="1"] {
  top: 175px;
  left: 102px;
  background-image: url(../images/2_4/2_4_3_answer_01.svg);
}
.imageBox .dropArea[data-index="2"] {
  top: 43px;
  left: 209px;
  background-image: url(../images/2_4/2_4_3_answer_02.svg);
}
.imageBox .dropArea[data-index="3"] {
  top: 177px;
  left: 320px;
  background-image: url(../images/2_4/2_4_3_answer_03.svg);
}
.imageBox .dropArea[data-index="4"] {
  top: -19px;
  left: 290px;
  background-image: url(../images/2_4/2_4_3_answer_04.svg);
}
.imageBox .dropArea[data-index="5"] {
  top: -15px;
  left: 546px;
  background-image: url(../images/2_4/2_4_3_answer_05.svg);
}
.imageBox .dropArea[data-index="6"] {
  top: 204px;
  left: 386px;
  background-image: url(../images/2_4/2_4_3_answer_06.svg);
}
.imageBox .dropArea[data-index="7"] {
  top: 270px;
  left: 602px;
  background-image: url(../images/2_4/2_4_3_answer_07.svg);
  background-size: auto 14px;
}
.imageBox .dropArea[data-index="8"] {
  top: 140px;
  left: 535px;
  background-image: url(../images/2_4/2_4_3_answer_08.svg);
}
.imageBox .dropArea[data-index="9"] {
  top: 48px;
  left: 675px;
  background-image: url(../images/2_4/2_4_3_answer_09.svg);
}
.imageBox .dropArea[data-index="10"] {
  top: 194px;
  left: 705px;
  background-image: url(../images/2_4/2_4_3_answer_10.svg);
}
.imageBox .dropArea[data-index="11"] {
  top: 103px;
  left: 788px;
  background-image: url(../images/2_4/2_4_3_answer_11.svg);
}
.imageBox .dropArea[data-index="12"] {
  top: 257px;
  left: 935px;
  background-image: url(../images/2_4/2_4_3_answer_12.svg);
}
.imageBox .dropArea[data-index="13"] {
  top: 131px;
  left: 974px;
  background-image: url(../images/2_4/2_4_3_answer_13.svg);
}
.imageBox .dropArea[data-index="14"] {
  top: -3px;
  left: 846px;
  background-image: url(../images/2_4/2_4_3_answer_14.svg);
}
.imageBox .dropArea[data-index="15"] {
  top: -2px;
  left: 1060px;
  background-image: url(../images/2_4/2_4_3_answer_15.svg);
}
.imageBox .dropArea[data-index="16"] {
  top: 257px;
  left: 789px;
  background-image: url(../images/2_4/2_4_3_answer_16.svg);
}
.imageBox .dropArea[data-index="17"] {
  top: 60px;
  left: 475px;
  background-image: url(../images/2_4/2_4_3_answer_17.svg);
}
.imageBox .dropArea[data-index="18"] {
  top: 267px;
  left: 426px;
  background-image: url(../images/2_4/2_4_3_answer_18.svg);
}


.imageBox .dropArea .dragObj {
  display: none;
}

.imageBox .dropArea.complete {
  opacity: 1;
  pointer-events: none;
}

/* page2 */
.page2 .imageBox {
  position: relative;
  width: 100%;
  height: 260px;
  margin: 0 0 24px;
  background: url(../images/2_4/2_4_3_answer_all.svg) center / contain no-repeat;
}
.page2 .table {
  width: 1130px;
  margin-left: 96px;
}
.page2 .table > ul > li {
  height: 64px;
}



/* page3 */
.page3 .table {
  width: 1160px;
  margin-bottom: 40px;
}



/* page4 */
.page4 .table {
  width: 1160px;
  margin-bottom: 40px;
}