
@charset "utf-8";

h3 span{color:#616b9d; padding-right:10px;}

div.table{
    width: 900px;
}
div.table li {
    width: 350px;
    }
div.table li input{
    width: 330px;
}

input.noBox {
    border: none;
    box-shadow: none;
    background-color: transparent;
}
