
@charset "utf-8";

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}
.flexCenter > img {
  /* width: 100%; */
  height: 200px;
 }
 div.table{
  width: 900px;
  margin-top:20px;
}
div.table li {
  width: 350px;
  }
div.table li input{
  width: 330px;
}

input.noBox {
  border: none;
  box-shadow: none;
  background-color: transparent;
}
