@charset "utf-8";

h3 span{color:#616b9d; padding-right:10px;}

figure {
  position: relative;
  margin: 0 auto;
  width: 746px;
}
figure img {
  width: 100%;
  vertical-align: top;
}
section .btn_1 {
  top: 13px;
  left: 97px;
}
section .btn_2 {
  top: 13px;
  left: 292px;
}
section .btn_3 {
  top: 13px;
  left: 492px;
}
section .btn_4 {
  top: 13px;
  left: 738px;
}
section .btn_5 {
  top: 110px;
  left: 123px;
}
section .btn_6 {
  top: 110px;
  left: 331px;
}
section .btn_7 {
  top: 140px;
  left: 481px;
}
section .btn_8 {
  top: 110px;
  left: 690px;
}

.popup_pages .dragBox {
  position: absolute;
  bottom: 6px;
  right: 0;
  width: 330px;
  height: 120px;
}
.popup_pages .dragBox .rotateContainer.rotate_protractor {
  top: 25px;
  left: 20px;
}
.popup_pages .dragBox .rotateContainer.rotate_triangle_2 {
  top: 62px;
  left: 164px;
}

.popup_pages .rotateContainer.rotate_protractor.showRotate {
  width: 420px;
  height: 240px;
}
.popup_pages .rotateContainer.rotate_triangle_2.showRotate {
  width: 540px;
  height: 100px;
}
.popup_pages .imageBox {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: url("../images/2_8/2_8_2_01.svg") 0 0/2650px no-repeat;
}
.popup_pages .page1 .imageBox {
  width: 980px;
  background-position: 250px 40px;
  background-size: 2660px;
}
.popup_pages .page2 .imageBox {
  width: 780px;
  background-position: -490px 41px;
}
.popup_pages .page3 .imageBox {
  width: 710px;
  background-position: -1230px 70px;
}
.popup_pages .page4 .imageBox {
  width: 710px;
  height: 490px;
  background-position: -1930px 50px;
}
.popup_pages .page5 .imageBox {
  width: 790px;
  height: 450px;
  margin: 60px auto 0;
  background-position: 160px -430px;
  background-size: 2650px;
}
.popup_pages .page6 .imageBox {
  width: 780px;
  background-position: -530px -450px;
  height: 450px;
  margin: 70px auto 0;
}
.popup_pages .page7 .imageBox {
  width: 730px;
  background-position: -1210px -450px;
  height: 450px;
  margin: 70px auto 0;
}
.popup_pages .page8 .imageBox {
  width: 730px;
  background-position: -1860px -460px;
  height: 470px;
  margin: 70px auto 0;
}