
@charset "utf-8";


div.box ul{
    
    width:480px;
    float: left;
    margin-left:100px;
    margin-top:20px;
    height: 450px;
}
div.box li.b01{
    width: 430px;
    height: 400px;
    background: url(../images/2_8/2_8_6_01.svg) center / auto no-repeat ;
    background-size: contain;

}
div.box li.b01 p{
    width: 200px;
    margin-top:20px;
    padding:190px 280px 0  ;

}

div.box li.b02{
    width: 430px;
    height: 400px;
    background: url(../images/2_8/2_8_6_02.svg) center / auto no-repeat ;
    background-size: contain;

}
div.box li.b02 p{
    width: 200px;
    margin-top:50px;
    padding:115px 275px 0  ;

}
input {
    display: inline-block;
    width: 90px;
    text-align: center;
    vertical-align: middle;
  }
  

div.box ul.dotLine{
    border-right: 3px dotted #a5b6e5;   
}

