
@charset "utf-8";

div.box ul{
    
  width:285px;
  float: left;
  margin-left:40px;
  margin-top:50px;
}

div.box ul.b01{
  font-family: MapleStoryL;
  font-size: 50px;
  padding-left:80px;
  width: 250px;
 
  background: url(../images/2_8/2_8_11_01.svg) center / auto no-repeat ;
  background-size: contain;
  height: 220px;
  line-height: 220px;
}
div.box ul.b02{
  font-family: MapleStoryL;
  font-size: 50px;
  padding-left:80px;
  width: 250px;
 
  background: url(../images/2_8/2_8_11_02.svg) center / auto no-repeat ;
  background-size: contain;
  height: 220px;
  line-height: 220px;
}
div.box ul.b03{
  font-family: MapleStoryL;
  font-size: 50px;
  padding-left:80px;
  width: 250px;

  background: url(../images/2_8/2_8_11_03.svg) center / auto no-repeat ;
  background-size: contain;
  height: 220px;
  line-height: 220px;
}

.icon.icon_o,
.icon.icon_x {
  opacity: 0;
}
.oxBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 162px;
  cursor: pointer;

}

.oxBox[data-ox-obj="1"] {
  top: 70px;
  left: 80px;
  width: 300px;
  height: 180px;
 }
.oxBox[data-ox-obj="2"] {
  top: 70px;
  left: 450px;
  width: 300px;
  height: 180px;
}
.oxBox[data-ox-obj="3"] {
  top: 70px;
  left: 820px;
  width: 300px;
  height: 180px;
}

.oxBox > .oxObj {
  position: static;
}