
@charset "utf-8";


.char {
  position: absolute;
  top: 90px;
  left: 20px;
  width: 610px;
  height: 320px;
  background: url(../images/2_8/2_8_7_01.svg) center / contain no-repeat;
}

  
.balloonText {
  position: absolute;
  top: 34px;
  left: 64px;
}
    


/* 자 이동 */
.dragBox {
  position: absolute;
  top: -70px;
  right: 0;
  width: 360px;
  height: 100px;
  z-index: 1;
}
.dragBox .rotate_protractor {
  top: 14px;
  left: 20px;
}
.dragBox .rotate_ruler {
  top: 36px;
  right: 20px;
  width: 150px;
  height: 30px;
}
.dragBox .rotate_protractor.showRotate {
  width: 420px;
  height: 224px;
}
.dragBox .rotate_ruler.showRotate {
  width: 1090px;
  height: 202px;
}






/* 그리기 */
.imageBox {
  position: absolute;
  top: 48px;
  left: 670px;
  width: 460px;
  height: 430px;
  background: url(../images/2_8/2_8_7_02.svg) center / contain no-repeat;
}

.drawLine {
  top: 48px;
  left: 670px;
  width: 460px;
  height: 430px;
}
.resetButton {
  right: -40px;
  bottom: -67px;
}

.dropObj {
  position: absolute;
  width: 30px;
  height: 30px;
  /* outline: 1px solid; */
}

.dropObj.horizon_1 { left: calc(55px * (1 - 1) + 0px); }
.dropObj.horizon_2 { left: calc(55px * (2 - 1) + 0px); }
.dropObj.horizon_3 { left: calc(55px * (3 - 1) + 0px); }
.dropObj.horizon_4 { left: calc(55px * (4 - 1) + 0px); }
.dropObj.horizon_5 { left: calc(55px * (5 - 1) + 0px); }
.dropObj.horizon_6 { left: calc(55px * (6 - 1) + 0px); }
.dropObj.horizon_7 { left: calc(55px * (7 - 1) + 0px); }
.dropObj.horizon_8 { left: calc(55px * (8 - 1) + 0px); }
.dropObj.horizon_9 { left: calc(55px * (9 - 1) + 0px); }
.dropObj.horizon_10 { left: calc(55px * (10 - 1) + 0px); }
.dropObj.horizon_11 { left: calc(55px * (11 - 1) + 0px); }
.dropObj.horizon_12 { left: calc(55px * (12 - 1) + 0px); }

.dropObj.vertical_1 { top: calc(55px * (1 - 1) + 0px); }
.dropObj.vertical_2 { top: calc(55px * (2 - 1) + 0px); }
.dropObj.vertical_3 { top: calc(55px * (3 - 1) + 0px); }
.dropObj.vertical_4 { top: calc(55px * (4 - 1) + 0px); }
.dropObj.vertical_5 { top: calc(55px * (5 - 1) + 0px); }
.dropObj.vertical_6 { top: calc(55px * (6 - 1) + 0px); }
.dropObj.vertical_7 { top: calc(55px * (7 - 1) + 0px); }
.dropObj.vertical_8 { top: calc(55px * (8 - 1) + 0px); }
.dropObj.vertical_9 { top: calc(55px * (9 - 1) + 0px); }
.dropObj.vertical_10 { top: calc(55px * (10 - 1) + 0px); }