@charset "utf-8";
.h2Side {
  position: relative;
  top: -7px;
  left: 200px;
  width: 1000px;
  margin: -60px 10px 0;
  word-break: break-word;
}

.h2Side:before {
  display: none !important;
}

.page2 .basicSlider_slides > li {
  height: 482px;
}

/* 1 page */


/* 2 page */
.page2 .basicSlider_btn.next {
  right: 25px !important;
}

.page2 .basicSlider_btn.prev {
  left: 25px !important;
}

.pwu_page2Box {
  position: relative;
  display: flex;
  align-items: center;
  width: 975px;
  height: 293px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  background: url(../images/2_powerup/2_powerup_page2_bg.svg) center / contain no-repeat
}

.textArea {
  flex: 55%;
}

.textArea .num {
  position: absolute;
  top: 3px;
  left: 11px;
  font-size: 36px;
}

.targetCont {
  position: relative;
  flex: 45%;
  padding: 0 0 0 37px;
  font-size: 40px;
  box-sizing: border-box;
  background: url(../images/2_powerup/2_powerup_page2_icon.svg) center / 58px 50px no-repeat
}

.clickButton.example {
  left: 570px;
  top: -70px;
}

.cont1 .targetCont {
  background-position: 70px 0;
}

.cont2 .targetCont {
  padding-top: 45px;
  background-position: 50px 0;
}

.cont3 .targetCont {
  background-position: 70px 50px;
}

.drawContainer {
  position: absolute;
  top: 110px;
  left: 0px;
  width: 100%;
  height: 480px;
  background: url(../images/2_powerup/2_powerup_page3_bg.svg) center 0/ 1115px 460px no-repeat;
}
.drawContainer canvas {
  position: absolute;
  top: 60px;
  left: 80px;
}
.drawContainer .drawBtn {
  top: -30px;
  right: 80px;
}
.drawContainer .pen_tool{
  top: -26px;
  left: 780px;
}


.dragObj {
  width: 50px;
  height: 46px;
}

.dragObj:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #af7120;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.dragObj.horizon_1 {
  left: calc(45px * (1 - 1) + 80px);
}

.dragObj.horizon_2 {
  left: calc(45px * (2 - 1) + 80px);
}

.dragObj.horizon_3 {
  left: calc(45px * (3 - 1) + 80px);
}

.dragObj.horizon_4 {
  left: calc(45px * (4 - 1) + 80px);
}

.dragObj.horizon_5 {
  left: calc(45px * (5 - 1) + 80px);
}

.dragObj.horizon_6 {
  left: calc(45px * (6 - 1) + 80px);
}

.dragObj.horizon_7 {
  left: calc(45px * (7 - 1) + 80px);
}

.dragObj.horizon_8 {
  left: calc(45px * (8 - 1) + 80px);
}

.dragObj.horizon_9 {
  left: calc(45px * (9 - 1) + 80px);
}

.dragObj.horizon_10 {
  left: calc(45px * (10 - 1) + 80px);
}

.dragObj.horizon_11 {
  left: calc(45px * (11 - 1) + 80px);
}

.dragObj.horizon_12 {
  left: calc(45px * (12 - 1) + 80px);
}

.dragObj.horizon_13 {
  left: calc(45px * (13 - 1) + 80px);
}

.dragObj.horizon_14 {
  left: calc(45px * (14 - 1) + 80px);
}

.dragObj.horizon_15 {
  left: calc(45px * (15 - 1) + 80px);
}

.dragObj.horizon_16 {
  left: calc(45px * (16 - 1) + 80px);
}

.dragObj.horizon_17 {
  left: calc(45px * (17 - 1) + 80px);
}

.dragObj.horizon_18 {
  left: calc(45px * (18 - 1) + 80px);
}

.dragObj.horizon_19 {
  left: calc(45px * (19 - 1) + 80px);
}

.dragObj.horizon_20 {
  left: calc(45px * (20 - 1) + 80px);
}

.dragObj.horizon_21 {
  left: calc(45px * (21 - 1) + 80px);
}

.dragObj.vertical_1 {
  top: calc(46px * (1 - 1) + 96px);
}

.dragObj.vertical_2 {
  top: calc(46px * (2 - 1) + 96px);
}

.dragObj.vertical_3 {
  top: calc(46px * (3 - 1) + 96px);
}

.dragObj.vertical_4 {
  top: calc(46px * (4 - 1) + 96px);
}

.dragObj.vertical_5 {
  top: calc(46px * (5 - 1) + 96px);
}

.dragObj.vertical_6 {
  top: calc(46px * (6 - 1) + 96px);
}

.dragObj.vertical_7 {
  top: calc(46px * (7 - 1) + 96px);
}

.dragObj.vertical_8 {
  top: calc(46px * (8 - 1) + 96px);
}

.dragObj.vertical_9 {
  top: calc(46px * (9 - 1) + 96px);
}

.dragObj.vertical_10 {
  top: calc(46px * (10 - 1) + 96px);
}

.dragObj.vertical_11 {
  top: calc(46px * (11 - 1) + 96px);
}

.dragObj.vertical_12 {
  top: calc(46px * (12 - 1) + 96px);
}

.dragObj.vertical_13 {
  top: calc(46px * (13 - 1) + 96px);
}

.dragObj.vertical_14 {
  top: calc(46px * (14 - 1) + 96px);
}

.dragObj.vertical_15 {
  top: calc(46px * (15 - 1) + 96px);
}

.dragObj.vertical_16 {
  top: calc(46px * (16 - 1) + 96px);
}

.dragObj.vertical_17 {
  top: calc(46px * (17 - 1) + 96px);
}

.dragObj.vertical_18 {
  top: calc(46px * (18 - 1) + 96px);
}

.dragObj.vertical_19 {
  top: calc(46px * (19 - 1) + 96px);
}

.dragObj.vertical_20 {
  top: calc(46px * (20 - 1) + 96px);
}

.dragObj.vertical_21 {
  top: calc(46px * (21 - 1) + 96px);
}

.exCont {
  position: absolute;
  z-index: 1;
  left: 51%;
  top: 62%;
  transform: translate(-50%, -50%);
}
.exCont img {
  pointer-events: none;
}

.page3 ins.draw {
  top: 80px;
}
.page3 .quizButtons[data-type="reset"] {
  right: 48px;
}


.page3 .resetButton {
  position: absolute;
  right: 64px;
  top: 532px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff9603;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../include/math/images/quiz/icon_replay.svg);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, .2);
  pointer-events: auto;
  cursor: pointer;
  z-index: 1;
}
.page3 .resetButton.hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.page3 .resetButton.off {
  opacity: 0.6;
  pointer-events: none;
}
.page4 .inputBox {
  padding-left: 20px;
}

