


@charset "utf-8";




section {
  padding: 20px 50px;
}


.toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 354px;
  width: 232px;
}
.toggleObj[data-toggle-obj="2"] {
  top: -20px;
  left: 644px;
  width: 342px
}


.noBullet {
  height: 120px;
  background: center / contain no-repeat;
}


ul.list.dot > li:nth-of-type(2) .answer {
  position: absolute;
  top: -20px;
  left: 650px;
}

ul.list.dot > li:nth-of-type(2) {
  height: 190px;
  margin-top: 80px;
  background-image: url(../images/2_2/2_2_6_01.svg);
}


