


@charset "utf-8";




section {
  padding: 20px 50px;
}


.toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 264px;
  width: 232px;
}

.noBullet {
  height: 260px;
  margin-top: 40px;
  background: center / contain no-repeat;
  background-image: url(../images/2_3/2_3_6_01.svg);
}
