


@charset "utf-8";




section {
  padding: 20px 50px;
}


.toggleObj[data-toggle-obj="1"] {
  top: -5px;
  left: 590px;
  width: 292px;
}
.toggleObj[data-toggle-obj="2"] {
  top: 75px;
  left: 590px;
  width: 292px;
}
.toggleObj[data-toggle-obj="3"] {
  top: 155px;
  left: 590px;
  width: 292px;
}


.imageBox {
  height: 220px;
  background: url(../images/2_5/2_5_5_01.svg) center left 210px / contain no-repeat;
}


.arrow {
  position: absolute;
  left: 530px;
}
.arrow.arrow_1 { top: 5px; }
.arrow.arrow_2 { top: 85px; }
.arrow.arrow_3 { top: 165px; }


.answer {
  position: absolute;
  left: 600px;
}

.answer[data-toggle-target="1"] { top: 0; }
.answer[data-toggle-target="2"] { top: 80px; }
.answer[data-toggle-target="3"] { top: 160px; }