.contentsBox .toggle .answer{position: relative;text-align: justify;}
.contentsBox .toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

.contentsBox .imgContainer {position:relative;height:250px;margin:0 0 20px;text-align:center;}
.contentsBox .imgContainer img {height:100%;}
.contentsBox .imgContainer .balloon_1 {left:90px;top:-19px;}
.contentsBox .imgContainer .balloon_2 {left:auto;right:90px;top:-19px;}
.contentsBox .imgContainer .colorBox {position:absolute;bottom:0;}
.contentsBox .imgContainer .colorBox.calBox1 {left:50px;}
.contentsBox .imgContainer .colorBox.calBox2 {right:50px;}
.contentsBox .tableContainer table th {font-size:30px;}
.contentsBox .tableContainer .toggle {background-color:transparent;padding:0}
.contentsBox .tableContainer .toggle .answer {font-size:30px;}
.contentsBox .tableContainer .toggle.vExam .answer {padding-left:60px;}


.img_formula {position:absolute;top:0;left:50%;width:500px;padding:10px 0 0;text-align:center;color:#fff;font-size:35px;transform:translate(-50%, 0);}
.img_formula .line {position:absolute;border:2px solid #fff;}
.img_formula .line.v01 {left:218px;top:55px;width:59px;height:10px;border-top:none;box-sizing:border-box}
.img_formula .line.v02 {left:96px;top:55px;width:40px;height:10px;border-top:none;box-sizing:border-box}
.img_formula .line.v03 {left:117px;top:55px;width:135px;height:55px;border-top:none;border-left:none;border-right:none;box-sizing:border-box}
.img_formula .line.v04 {left:184px;top:56px;width:161px;height:100px;border-top:none;border-left:none;box-sizing:border-box}
.img_formula .line.v03:before {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:2px solid #fff;}
.img_formula .line.v03:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:2px solid #fff;}
.img_formula .line.v04:after {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:2px solid #fff;}
.img_formula .num {position:absolute;font-size:25px;}
.img_formula .num.v01 {left:229px;top:67px;width:44px;text-align:center}
.img_formula .num.v02 {left:98px;top:67px;width:40px;text-align:center}
.img_formula .num.v03 {left:124px;top:113px;width:121px;text-align:center}
.img_formula .num.v04 {left:184px;top:156px;width:150px;text-align:center}

.tableContainer table td {padding:0;}
.tableContainer table td .toggle {display:block;width:100%;padding:10px;text-align:center;}
.tableContainer table td .toggle .answer {display:inline-block;text-align:justify;}