
.math_formula_flex {display:flex;justify-content:space-around;margin:0 0 30px;}
.math_formula_flex .lineBox {position:relative;width:447px;font-size:33px;}
.math_formula_flex .toggle {vertical-align:2px;}
.math_formula_flex .toggle .answer {padding-left:0;font-size:33px;}
.math_formula_flex .toggle.duplicate {display:block;padding:0;position:static;background:none;}
.math_formula_flex .toggle.duplicate:after {display:none;}
.math_formula_flex .toggle.duplicate .answer {position:static;}
.math_formula_flex .formula_line {position:absolute;border:3px solid #00a0ff;}
.math_formula_flex .formula_num {position:absolute;line-height:42px;color:#00a0ff;}

.math_formula_flex .formula1 .formula_line.v01 {left:39px;top:70px;width:74px;height:20px;border-top:none;box-sizing:border-box}
.math_formula_flex .formula1 .formula_line.v02 {left:203px;top:70px;width:64px;height:20px;border-top:none;box-sizing:border-box}
.math_formula_flex .formula1 .formula_line.v03 {left:72px;top:70px;width:80px;height:75px;border-top:none;border-left:none;box-sizing:border-box}
.math_formula_flex .formula1 .formula_line.v04 {left:111px;top:75px;width:126px;height:126px;border-top:none;border-left:none;border-right:none;box-sizing:border-box}
.math_formula_flex .formula1 .formula_line.v03:after {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.math_formula_flex .formula1 .formula_line.v04:before {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.math_formula_flex .formula1 .formula_line.v04:after {display:block;content:"";position:absolute;right:0;bottom:0;height:65px;border-left:3px solid #00a0ff;}
.math_formula_flex .formula1 .formula_num.v01 {left:39px;top:90px;width:74px;text-align:center}
.math_formula_flex .formula1 .formula_num.v02 {left:203px;top:90px;width:64px;text-align:center}
.math_formula_flex .formula1 .formula_num.v03 {left:72px;top:145px;width:80px;text-align:center}
.math_formula_flex .formula1 .formula_num.v04 {left:111px;top:196px;width:126px;text-align:center}

.math_formula_flex .formula2 .formula_line.v01 {left:160px;top:70px;width:60px;height:20px;border-top:none;box-sizing:border-box}
.math_formula_flex .formula2 .formula_line.v02 {left:39px;top:70px;width:64px;height:20px;border-top:none;box-sizing:border-box}
.math_formula_flex .formula2 .formula_line.v03 {left:190px;top:70px;width:102px;height:76px;border-top:none;border-left:none;box-sizing:border-box}
.math_formula_flex .formula2 .formula_line.v04 {left:70px;top:75px;width:172px;height:125px;border-top:none;border-left:none;border-right:none;box-sizing:border-box}
.math_formula_flex .formula2 .formula_line.v03:after {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.math_formula_flex .formula2 .formula_line.v04:before {display:block;content:"";position:absolute;left:0;bottom:0;height:62px;border-left:3px solid #00a0ff;}
.math_formula_flex .formula2 .formula_line.v04:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.math_formula_flex .formula2 .formula_num.v01 {left:160px;top:90px;width:60px;text-align:center}
.math_formula_flex .formula2 .formula_num.v02 {left:39px;top:90px;width:64px;text-align:center}
.math_formula_flex .formula2 .formula_num.v03 {left:190px;top:144px;width:102px;text-align:center}
.math_formula_flex .formula2 .formula_num.v04 {left:70px;top:194px;width:172px;text-align:center}

.speech_bubble_box {display:flex;justify-content:center;align-items:center;}
.speech_bubble_box .characterImg {position:relative;margin:0 40px 0 0;}
.speech_bubble_box .characterImg span {display:block;position:absolute;top:-141px;left:50%;width:340px;height:421px;background:url("../../common/contents/images/character/girl_3.png") no-repeat center;transform:translate(-50%, 0) scale(0.75);}
.speech_bubble_box .balloon {position:relative;left:0;top:0;width:500px;}
