.math_formula {margin:10px 0 0;text-align:center;}
.math_formula .null_blank {display:inline-block;width:372px;height:38px;vertical-align:middle;}
.math_formula .math_formula_inner {display:inline-block;position:relative;text-align:left;}
.math_formula .line {position:absolute;border:3px solid skyblue;}
.math_formula .line.v01 {left:185px;top:60px;width:70px;height:20px;border-top:none;}
.math_formula .line.v02 {left:22px;top:60px;width:90px;height:20px;border-top:none;}
.math_formula .line.v03 {left:222px;top:60px;width:137px;height:98px;border-top:none;border-left:none;}
.math_formula .line.v03:after {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid skyblue;}
.math_formula .line.v04 {left:66px;top:60px;width:225px;height:170px;border-top:none;border-left:none;border-right:none;}
.math_formula .line.v04:before {display:block;content:"";position:absolute;left:0;bottom:0;height:85px;border-left:3px solid skyblue;}
.math_formula .line.v04:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:3px solid skyblue;}
.math_formula .num {position:absolute;font-size:52px;}
.math_formula .num.v01 {left:200px;top:80px;}
.math_formula .num.v02 {left:46px;top:80px;}
.math_formula .num.v03 {left:266px;top:157px;}
.math_formula .num.v04 {left:150px;top:228px;}

.img_content{position: absolute;top: 262px;width: 100%;}
.txt_mark1{position: absolute;top: -40px;left: 528px;font-size: 40px;color: #ffffff;}
.txt_mark2{position: absolute;font-size: 40px;top: 195px;left: 284px;color: #ffffff;}
.txt_mark3{position: absolute;font-size: 40px;top: 195px;left: 780px;color: #ffffff;}