
.popup_pages .flex-wrap{justify-content:space-around; width: 80%; margin:0 auto}

.math_calc_table.type-2{width:150px;}
.math_calc_table .answer{letter-spacing: 29px;}

.picture-box {position:relative;background-repeat:no-repeat;background-position:50% 50%;height: 530px;margin:0 auto}
.picture-box .txt-box {position:absolute;text-align:center;font-size:34px;line-height:40px;letter-spacing:-1px}

.innerTab_1 .picture-box {background-image:url("../images/suhi_h_0301_03_0001_1_1.png");width: 100%;background-size: 500px;}
.innerTab_1 .n1 {top: 80px;left: 358px;}
.innerTab_1 .n2 {top: 47px;left: 600px;}

.innerTab_2 .picture-box {background-image:url("../images/suhi_h_0301_03_0001_1_2.png");width:100%;background-size: 740px;}
.innerTab_2 .n1 {top: 67px;left: 262px;font-size: 36px;line-height: 44px;}
.innerTab_2 .n2 {top: 52px;left: 564px;font-size: 35px;line-height: 42px;letter-spacing:-1.5px}

.innerTab_3 .picture-box {background-image:url("../images/suhi_h_0301_03_0001_1_3.png");width: 100%;background-size: 1060px;}
.innerTab_3 .n1 {top: 86px;left: 121px;font-size: 28px;line-height: 1.2;}
.innerTab_3 .n2 {top: 78px;left: 666px;font-size: 28px;line-height: 1;letter-spacing: -1.4px;}

.innerTab_4 .picture-box {background-image:url("../images/suhi_h_0301_03_0001_1_4.png");width:100%;background-size: 600px;}
.innerTab_4 .n1 {top: 85px;left: 260px;}
.innerTab_4 .n2 {top: 74px;left: 563px;}

.innerTab_5 .picture-box {background-image:url("../images/suhi_h_0301_03_0001_1_5.png");width:100%;background-size: 730px;}
.innerTab_5 .n1 {top: 63px;left: 247px;}
.innerTab_5 .n2 {top: 64px;left: 604px;}

.box-flex {display:flex;align-items:center}
.box-flex .lineBox {flex-shrink:0}
.box-flex .icon_arrow {margin:0 20px}

.img-box {position:relative; margin-bottom:20px}
.img-box img{width:100%;}
.dotList{margin-left:60px}

.page_3 .textAlignC{display:flex; align-items: center; justify-content: center;}
.page_3 .textAlignC > *{margin:0 10px;}

.page_4 .lineBox{margin:40px auto 0;}
.page_4 .flex-wrap{width:100%; justify-content: space-around; margin:20px 0}





















