.basicSlider_slides .page_2  h2 > span{margin-left:10px;}
.lineBox.sky{display:inline-block;padding:5px 10px;font-size:40px;}
.conImg{text-align:center;}
.conImg img{width:auto;height:100%;}
.popBtn.textInBtn.inline{margin:6px 0 0 7px;}
.page_2{text-align:center;}
.page_2 h2>ins.number{margin-right:0;}
.page_2 .conImg{height:340px;}
.contentsList .colorBox.check{height:57px;}
.icon_apple{text-align: left;}
.flexListContainer > li{text-align:center;}
.flexListContainer > li:nth-child(1){width: 55%;padding-right:20px;}
.flexListContainer > li:nth-child(2){width: 45%;}
.flexListContainer .conImg img{height:285px;}

.dlTbl{display:flex;width:100%;margin:20px auto 0;align-items:flex-start;padding:0 50px;box-sizing: border-box}
.dlTbl dt{width:87px;flex-shrink:0;text-align:center}
.dlTbl dd{flex:1 auto}
.box-flex {display:flex;align-items:center}
.mr-s {margin-right:12px}

.box-flex {display:flex;align-items:center}
.box-flex ~ .box-flex {margin-top:40px}
.box-flex .img-a {width:200px}
.box-flex .img-b {width:400px}
.box-flex img {width:100%;vertical-align:top}
.box-flex .bunsuWrap {display:flex;align-items:center}
.page_2 .box-flex .bunsuWrap {margin-left:40px}
.box-flex .bunsuWrap .toggle {margin:8px 0}
.group-a {display:flex;align-items:center;box-sizing:border-box}
.group-a .img-answer {margin-right:0}
.group-a .bunsuWrap ul {display:block}
.group-a .bunsuWrap ul ~ ul {margin-top:6px}

.page_3 .box-flex.w-01  {flex-wrap:wrap;justify-content:space-between;width:800px;margin:60px auto 0;padding-left:100px}
.page_5 .box-flex.w-01 {flex-wrap:wrap;justify-content:space-between;width:800px;margin:60px auto 0}
.page_5 .box-flex.w-01 .group-a:nth-of-type(2n) {padding-left:80px}
.page_3 .box-flex.w-01 .group-a,
.page_5 .box-flex.w-01 .group-a {width:50%;margin-bottom:40px}
.answer .bunsuWrap ul > li:first-of-type {border-color:#00a0ff}
.page_4 .box-flex ~ .box-flex {margin-top:0}
.page_4 .box-flex.w-01 {justify-content: space-between;width:800px;margin:60px auto 0}
.pt-s {padding-top:24px}
.pb-s {padding-bottom:24px}
.group-a.ex {position:relative}
.group-a.ex .bullet.exam {position:absolute;top:-30px;left:40px}

.gray-box {background-color:#efefef;border-radius:8px;height:44px;width:44px;display:inline-block;position:relative;top:4px;margin-right:4px}
