.page_4 .flex-wrap,
.page_3 .flex-wrap {justify-content:space-around; align-items: center; height: 300px;}

.popup_pages .flex-wrap{justify-content:space-around; width: 80%; margin:0 auto}

.math_calc_table {width:200px;}
.math_calc_table .answer{letter-spacing: 29px;}

.box-flex {display:flex;align-items:center}
.box-flex .q-box,
.box-flex .lineBox {flex-shrink:0}
.box-flex .icon_arrow {margin:0 20px}
.box-flex .ex-img {width:620px}
.box-flex .ex-img img {width:100%}

.txt-blue {color:#00a0ff}
.greenT {color:green}
.math_calc_table .line_1{left:25%}
.math_calc_table .line_2{left:50%}
.math_calc_table .line_3{left:75%}
.math_calc_table .line_4{left:100%}

.img-box-a {text-align:center;margin-bottom:20px}
.img-box-a img {height:320px;vertical-align:top}


.bg-box-b {background:url("../images/suhi_h_0301_01_0007_4.png") no-repeat 50% 50%;background-size:contain;height:87px;width:444px;margin-bottom:40px;display:flex;align-items:center;justify-content:center;padding-right:16px}
.bg-box-c {background:url("../images/suhi_h_0301_01_0007_5.png") no-repeat 50% 50%;background-size:contain;height:87px;width:304px;margin-bottom:40px;display:flex;align-items:center;justify-content:center;padding-left:16px}
.bg-box-b .blankBox {width:100px}

.pop_page_1 .math_calc_table {width:200px;flex-shrink:0}
.pop_page_1 .contentsList {margin-left:40px}
.toggle.type-b {background-color:transparent}
.toggle.type-b:after {display:none}

.pop_page_2 .math_calc_table {width:200px}
.dragLineContainer {margin-top:40px}

.top_1 {top:83px}
.top_2 {top:211px}
.top_3 {top:339px}
.left_1 {left:498px}
.right_1 {left:754px}
.dragLineArea.left_1::after {background-color:#a58bbf}
.dragLineArea.right_1::after {background-color:#10b3b0}

.page_7 .box-flex {justify-content:center;margin-top:40px}

.popup_pages .solve .math_calc_table .del {opacity:1}
.popup_pages .pop_page_2 .flex-wrap {width:100%}
h2 img {vertical-align:middle;position:relative;top:-6px}
h2{position: relative}
h2 .study_guide{bottom:-30px; right:0;}

.greenT{color:green}
.page_1 .math_calc_table .rowLine{top:0; z-index: 1;}
.page_1 .math_calc_table .line_1{left:25%}
.page_1 .math_calc_table .line_2{left:50%}
.page_1 .math_calc_table .line_3{left:75%}
.page_1 .math_calc_table .line_4{left:100%}
.page_1 .math_calc_table{position: relative; top:0 !important; right:0 !important;}
.page_1 .math_calc_table{width:200px;  line-height: 1.1;}
.page_1 .math_calc_table td{padding:5px 0;}
.page_1 .math_calc_table .line td{padding: 0 !important;}
.page_1 .math_calc_table.class3 tr.line-tr td, .math_calc_table.class3 tr.line td{height: 2px !important;}
.page_1 .flex-wrap{justify-content:space-between; }
.page_1 .flex-item{position: relative;}
.page_1 .flex-item + .flex-item{margin-left:50px;}
.page_1 .flex-wrap .icon_arrow{margin:0;}
.page_1 td.bg{background: #e3e3e3;}
.page_1 .icon_arrow {position:absolute; right: -41px; top: 85px; cursor: pointer;}
.page_1 .icon_arrow.big{width: 41px; height: 35px;}
.page_1 .lineBox{padding-top:30px}
.page_1 .b3.balloon::after {left:32%}

.oxCheckContainer{width:100%; height: 400px; background:url(../images/suhi_h_0301_01_0007_2.png) no-repeat 50% 50% / 100%; padding: 0px 200px 30px 180px;box-sizing: border-box;}
.oxCheckContainer .icon.icon_o, 
.oxCheckContainer .icon.icon_tri, 
.oxCheckContainer .icon.icon_x{width:150px; height: 150px; position: absolute; z-index: 1; top:-20px; left:30px;}

.vOn .icon_arrow {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}