.page_4 .flex-wrap,
.page_3 .flex-wrap {justify-content:space-around; align-items: center; height: 300px;}

.popup_pages .flex-wrap{justify-content:space-around; width: 80%; margin:0 auto}

.math_calc_table {width:200px;}
.math_calc_table .answer{letter-spacing: 29px;}

.box-flex {display:flex;align-items:center}
.box-flex .q-box,
.box-flex .lineBox {flex-shrink:0}
.box-flex .icon_arrow {margin:0 20px}
.box-flex .ex-img {width:620px}
.box-flex .ex-img img {width:100%}

.txt-blue {color:#00a0ff}
.greenT {color:green}
.math_calc_table .line_1{left:25%}
.math_calc_table .line_2{left:50%}
.math_calc_table .line_3{left:75%}
.math_calc_table .line_4{left:100%}

.img-box-a {text-align:center;margin-bottom:20px}
.img-box-a img {height:320px;vertical-align:top}


.bg-box-b {background:url("../images/suhi_h_0301_01_0007_4.png") no-repeat 50% 50%;background-size:contain;height:87px;width:444px;margin-bottom:40px;display:flex;align-items:center;justify-content:center;padding-right:16px}
.bg-box-c {background:url("../images/suhi_h_0301_01_0007_5.png") no-repeat 50% 50%;background-size:contain;height:87px;width:304px;margin-bottom:40px;display:flex;align-items:center;justify-content:center;padding-left:16px}
.bg-box-b .blankBox {width:100px}

.pop_page_1 .math_calc_table {width:200px;flex-shrink:0}
.pop_page_1 .contentsList {margin-left:40px}
.toggle.type-b {background-color:transparent}
.toggle.type-b:after {display:none}

.pop_page_2 .math_calc_table {width:200px}
.dragLineContainer {margin-top:40px}

.top_1 {top:83px}
.top_2 {top:211px}
.top_3 {top:339px}
.left_1 {left:498px}
.right_1 {left:754px}
.dragLineArea.left_1::after {background-color:#a58bbf}
.dragLineArea.right_1::after {background-color:#10b3b0}

.page_7 .box-flex {justify-content:center;margin-top:40px}

.popup_pages .solve .math_calc_table .del {opacity:1}
.popup_pages .pop_page_2 .flex-wrap {width:100%}
h2 img {vertical-align:middle;position:relative;top:-6px}