#wrap main {z-index:0}
.popup_container{z-index: 1;}
.content-container{height: 530px;}
.suhi h2 .blankBox{margin-top:8px;}
.suhi h2+section {padding-left: 0;}
.suhi , .popup_pages div {font-size: 40px;}
.solve .contentsList div {font-size:35px;}
.blankBox {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    margin-top: 6px;
}
.blankBox.w50 {margin-top: 0;}
.ex-box {display:flex}
.ex-box .bullet.exam {flex-shrink:0}
.contentsBox .basicSlider {padding: 0 !important;}
.popup_pages > li.whole h2.pop-tit {background-color:transparent !important;align-self:flex-start;padding:20px}
.whole .buttonContainer {right: 40px;bottom: 20px;}

.h2-type img[src*="equalIcon"] {
    height: 11px;
    vertical-align: middle;
    margin: -7px 0 0 0
}

.h2-type img[src*="inequalIcon"] {
    height: 30px
}
.pop_page_2.whole .iframe-wrap{width: 1280px;height: 746px;left: 0;z-index: 1!important;}
.pop_page_2.whole .page-iframe{width: 1280px;height: 746px;top: 0;left: 0;}

.page_1 .img-content {position:relative;display:flex;align-items:center;height:480px;text-align: center;}
.page_1 .img-content > img {width:90%}

.page_3 h2 .toggleBlank {margin-top: 19px;}
/* .page_3 .buttonContainer:not(.left) {right: 170px;} */

.page_2 .contentsList {padding-left: 30px; z-index: 2;}
.page_2 .flex-wrap {justify-content: center;align-items: center;width: 800px;margin: 100px auto 0;}
.page_2 .flex-wrap .inline, 
.page_2 .flex-wrap .toggle {margin: 0 10px;}
.page_2 .innerTab_1 .iframe-wrap{width: 1170px;position: absolute !important;top: 0px;left: -56px;height: 514px;overflow: hidden;z-index: 0 !important;}
.page_2 .innerTab_1 .page-iframe {width: 1280px;height: 714px;overflow: hidden;border: 0;position: absolute;z-index: 1;top: -180px;left: -56px;}
.page_2 .innerTab_1 .buttonContainer{right:170px}
.page_2 .innerTab_1 .buttonContainer.left{right:auto}
.page_2 .innerTab_3 .iframe-wrap{width: 1170px;position: absolute !important;top: 0px;left: -56px;height: 514px;overflow: hidden;z-index: 0 !important;}
.page_2 .innerTab_3 .page-iframe {width: 1280px;height: 714px;overflow: hidden;border: 0;position: absolute;z-index: 1;top: -180px;left: -56px;}
.page_2 .innerTab_3 .toggle{padding:0 16px}
.moveButtonContainer{width:auto; left:50%; transform: translate(-50%, 0);}

.page_2 .q-wrap.flex-wrap{position: absolute; top: 259px; lefT: 58px; z-index: 2 ; width: 739px; justify-content: space-around;}
.page_2 .q-wrap.flex-wrap > div{width:calc(100% / 7); text-align: center;}
.pop_page_1.whole .popup_contents > .contentsList,
.pop_page_1.whole .popup_contents > .contentsList li div {z-index: 3;} 
.pop_page_1.whole .innerTab_1 .dotList.deepGreen li,
.pop_page_1.whole .innerTab_3 .dotList.deepGreen li {position: absolute;top: 170px;z-index: 1;letter-spacing: -1px;}
.pop_page_1.whole .innerTab_3 .dotList.deepGreen li .toggle {margin: 6px 12px 0 11px;}
.pop_page_1.whole .innerTab_1 .iframe-wrap{width: 1170px;position: absolute !important;top:150px;left: -56px;height: 667px;overflow: hidden;z-index: 0 !important;}
.pop_page_1.whole .innerTab_1 .page-iframe {width: 1280px;height: 810px;overflow: hidden;border: 0;position: absolute;z-index: 1;top: -150px;left: -47px;}
.pop_page_1.whole .innerTab_2 .flex-wrap {align-items: center;justify-content: center;margin-top: 100px;}
.pop_page_1.whole .innerTab_2 .flex-wrap .inline,
.pop_page_1.whole .innerTab_2 .flex-wrap .toggle {margin: 0 5px;}
.pop_page_1.whole .innerTab_3 .iframe-wrap{width: 1170px;position: absolute !important;top:100px;left: -56px;height: 667px;overflow: hidden;z-index: 0 !important;}
.pop_page_1.whole .innerTab_3 .page-iframe {width: 1280px;height: 810px;overflow: hidden;border: 0;position: absolute;z-index: 1;top: -150px;left: -47px;}
.pop_page_1.whole .moveButtonContainer {bottom: 25px;}
.pop_page_1.whole .innerTab_1 .flex-wrap {z-index: 1;position: absolute;bottom: 105px;left: 110px;width: 675px;justify-content: space-between;}
.pop_page_1.whole .innerTab_3 .flex-wrap {z-index: 1;position: absolute;bottom: 105px;left: 110px;width: 675px;justify-content: space-between;}

.page_3 .innerTab_1 .iframe-wrap{width: 1170px;position: absolute !important;top: 0px;left: -56px;height: 474px;overflow: hidden;z-index: 0 !important;}
.page_3 .innerTab_1 .page-iframe {width: 1280px;height: 714px;overflow: hidden;border: 0;position: absolute;z-index: 1;top: -180px;left: -56px;}
.page_3 .innerTab_1 .buttonContainer.left{right:auto}
.page_3 .innerTab_1 .buttonContainer{right:170px}
.page_3 .innerTab_2 .iframe-wrap{width: 1170px;position: absolute !important;top: 0px;left: -56px;height: 474px;overflow: hidden;z-index: 0 !important;}
.page_3 .innerTab_2 .page-iframe {width: 1280px;height: 714px;overflow: hidden;border: 0;position: absolute;z-index: 1;top: -180px;left: -56px;}
.page_3 .innerTab_2 .toggle{position: absolute; top: 173px; lefT: 500px; z-index: 3;}

.pop_page_102 .innerTab_1 .iframe-wrap{width: 1170px;position: absolute !important;top: 100px;left: -56px;height: 528px;overflow: hidden;z-index: 0 !important;}
.pop_page_102 .innerTab_1 .page-iframe {width: 1280px;height: 714px;overflow: hidden;border: 0;position: absolute;z-index: 1;top: -180px;left: -56px;}
.pop_page_102 .innerTab_1 .buttonContainer.left{right:auto}
.pop_page_102 .innerTab_1 .buttonContainer{right:170px}
.pop_page_102 .innerTab_2 .iframe-wrap{width: 1170px;position: absolute !important;top: 100px;left: -56px;height: 528px;overflow: hidden;z-index: 0 !important;}
.pop_page_102 .innerTab_2 .page-iframe {width: 1280px;height: 714px;overflow: hidden;border: 0;position: absolute;z-index: 1;top: -180px;left: -56px;}
.pop_page_102 .innerTab_2 .toggle{position: absolute; top: 273px; lefT: 500px; z-index: 3;}
.pop_page_102 .innerTab_2 .buttonContainer{right: 33px; bottom: 10px;}
.pop_page_102 .popup_contents .contentsBox {padding: 0;}

.page_4 .innerTab_1 .iframe-wrap{width: 1170px;position: absolute !important;top: 0px;left: -56px;height: 423px;overflow: hidden;z-index: 0 !important;}
.page_4 .innerTab_1 .page-iframe {width: 1280px;height: 714px;overflow: hidden;border: 0;position: absolute;z-index: 1;top: -240px;left: -146px;}
.page_4 .innerTab_1 .buttonContainer.left{right:auto}
.page_4 .innerTab_1 .buttonContainer{right:170px}
.page_4 .innerTab_2 .iframe-wrap{width: 1170px;position: absolute !important;top: 0px;left: -56px;height: 423px;overflow: hidden;z-index: 0 !important;}
.page_4 .innerTab_2 .page-iframe {width: 1280px;height: 714px;overflow: hidden;border: 0;position: absolute;z-index: 1;top: -240px;left: -146px;}
.page_4 .flex-wrap {position: absolute;top: 260px;left: 470px;z-index: 1;align-items: center;}

.pop_page_103 .innerTab_1 .iframe-wrap{width: 1170px;position: absolute !important;top:95px;left: -56px;height: 529px;overflow: hidden;z-index: 0 !important;}
.pop_page_103 .innerTab_1 .page-iframe {width: 1280px;height: 714px;overflow: hidden;border: 0;position: absolute;z-index: 1;top: -180px;left: -136px;}
.pop_page_103 .innerTab_1 .buttonContainer.left{right:auto}
.pop_page_103 .innerTab_1 .buttonContainer{right:170px}
.pop_page_103 .innerTab_2 .iframe-wrap{width: 1170px;position: absolute !important;top:95px;left: -56px;height: 529px;overflow: hidden;z-index: 0 !important;}
.pop_page_103 .innerTab_2 .page-iframe {width: 1280px;height: 714px;overflow: hidden;border: 0;position: absolute;z-index: 1;top: -180px;left: -136px;}
.pop_page_103 .flex-wrap {position: absolute;top: 440px;left: 470px;z-index: 1;align-items: center;}


.pop_page_103 .innerTab_2 .buttonContainer{right: 33px; bottom: 0;}
.pop_page_103 .popup_contents .contentsBox {padding: 0;}

.page_4 h2 .toggleBlank {
    margin-top: 19px;
}


span.line {display: inline-block;width: 35px;height: 12px;margin-bottom: 10px;background: red;}

.st3 .flexListContainer.center {height: calc(100% - 100px);width: 80%;margin: 0 auto;}
.st3 .flexListContainer.center li .flex-wrap {align-items: center;}
.st4 .textAlignC.bg {position: relative;margin: 10px auto 0;}
.st4 .textAlignC.bg > img {width: 600px;}
.st4 .textAlignC.bg .bunsuWrap,.page_5 .textAlignC.bg .toggle{position: absolute;z-index: 1;}
.st4 .textAlignC.bg .bunsuWrap.n1 {left: 262px;top: 22px;}
.st4 .textAlignC.bg .bunsuWrap.n2 {left: 415px;top: 22px;}
.st4 .textAlignC.bg .bunsuWrap.n3 {left: 611px;top: 22px;}
.st4 .textAlignC.bg .bunsuWrap.n4 {left: 766px;top: 22px;}
.st4 .textAlignC.bg .toggle.n1 {left: 336px;bottom: 94px;}
.st4 .textAlignC.bg .toggle.n2 {left: 684px;bottom: 94px;}
.st4 .textAlignC.bg .toggle.n1 .bunsuWrap {top: -50px;left: 6px;}
.st4 .textAlignC.bg .toggle.n2 .bunsuWrap {top: -50px;left: 6px;}
.pop_page_4.whole .st4 .textAlignC.bg .bunsuWrap.n1 {left: 32px;top: 22px;}
.pop_page_4.whole .st4 .textAlignC.bg .bunsuWrap.n2 {left: 186px;top: 22px;}
.pop_page_4.whole .st4 .textAlignC.bg .bunsuWrap.n3 {left: 379px;top: 22px;}
.pop_page_4.whole .st4 .textAlignC.bg .bunsuWrap.n4 {left: 532px;top: 22px;}
.pop_page_4.whole .st4 .textAlignC.bg .toggle.noBg {position: absolute;}
.pop_page_4.whole .st4 .textAlignC.bg .toggle.noBg.n1 {left: 106px;bottom: 94px;}
.pop_page_4.whole .st4 .textAlignC.bg .toggle.noBg.n2 {left: 454px;bottom: 94px;}

.page_6 .lineBox {width: 90%;margin: -30px auto 0; padding: 12px 30px;}
.page_6 .lineBox .dotList>li:not(:last-of-type) {margin-bottom: 0;}
.page_6 .flex-wrap {justify-content: center;margin-top: 10px; align-items: center;}
.page_6 .flex-wrap .toggle {margin: 0 10px;}
.page_6 .dotList>li:before{margin-top:37px}

.pop_page_4 .lineBox {width: 90%;margin: -20px auto 0; padding:12px 30px}
.pop_page_4 .lineBox .dotList>li:not(:last-of-type) {margin-bottom: 0;}
.pop_page_4 .flex-wrap {justify-content: center;margin-top: 10px; align-items: center;}
.pop_page_4 .flex-wrap .toggle {margin: 0 10px;}
.pop_page_4 .dotList>li:before{margin-top:37px}

.page_7 h2 {z-index: 2;}
.page_7 .buttonContainer:not(.left) {right: 170px;}

.pop_page_6.whole .flexListContianer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px;
    margin: 0 auto 0;
}
.pop_page_6.whole .characterList {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.pop_page_6.whole .characterList>li {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pop_page_6.whole .characterList>li .balloon {
   width: 220px;
   margin-top: 20px;
   text-align: center;
   line-height: 1;
}
.pop_page_6.whole .characterImg {
    margin: 30px auto 5px;
}
.pop_page_6.whole .nameBox {
    width: 100px;
    text-align: center;
}
.pop_page_6.whole .toggle-wrap {margin-top: 20px;}

.solve.pop_page_6 .flexListContainer {width: 70%;margin: 0 auto;}
.solve.pop_page_6 .flexListContainer {width: 50%;margin: 0 auto;}
.solve.pop_page_6 .flexListContainer li,
.solve.pop_page_6 .flexListContainer li {display: flex;flex-direction: column;align-items: center;justify-content: space-around;}
.solve.pop_page_6 .flexListContainer li > div:not(.arrow),
.solve.pop_page_6 .flexListContainer li > div:not(.arrow) {display: flex;align-items: center;justify-content: center;}
.solve.pop_page_6 .flexListContainer li > div img,
.solve.pop_page_6 .flexListContainer li > div img {margin: 3px 10px 0;}
.solve .popup_contents .arrow {position: relative;width: 65px;height: 2px;background: red;margin-bottom: 20px;}
.solve .popup_contents .arrow > span {position: absolute;top: 0;display: inline-block;width: 2px;height: 15px;background: red;}
.solve .popup_contents .arrow > span:nth-child(1) {left: 0;}
.solve .popup_contents .arrow > span:nth-child(1):before {position: absolute;top: 15px;left: -8px;content: '';display: inline-block;width: 20px;height: 2px;background: red;}
.solve .popup_contents .arrow > span:nth-child(2) {right: 0;}
.solve .popup_contents .arrow > span:nth-child(2):after {content: '';position: absolute;top: 15px;left: -8px;display: inline-block;width: 20px;eight: 2px;background: red;}
.solve.pop_page_7 .dotList li div {font-size: 35px;}
.solve.pop_page_7 .dotList li::before {margin: .8em 10px 0 0;}
