@charset "utf-8";
@import "7_css.css";

.act .contentsArea > h1 {
  padding-left: 350px;
  padding-top: 13px;
}
.lesson_7.grade_4 .act .contentsArea > h1:before {
  top: -8px;
  width: 379px;
  height: 90px;
  background: url(../images/7_0/7_0_2_title.svg) center/contain no-repeat;
}

.imageContainer {
  height: 100%;
  font-family: MapleStoryL;
  background-position: 380px center;
}
.imageContainer h2,
.imageContainer p {
  position: absolute;
}
.imageContainer h2 {
  font-size: 34px;
  transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
}
.imageContainer p {
  font-size: 28px;
  word-break: break-all;
}
.inner_page1 .imageContainer {
  background-image: url("../images/7_0/7_0_2_01.svg");
}
.inner_page1 .imageContainer h2 {
  top: 46px;
  left: 456px;
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
}
.inner_page1 .imageContainer p {
  top: 122px;
  left: 452px;
  width: 378px;
}
.inner_page2 .imageContainer {
  background-position: 330px center;
  background-image: url("../images/7_0/7_0_2_02.svg");
}
.inner_page2 .imageContainer h2 {
  top: 20px;
  left: 449px;
}
.inner_page2 .imageContainer p {
  top: 100px;
  left: 421px;
  width: 400px;
}
.inner_page3 .imageContainer {
  background-position: left 350px top -20px;
  background-image: url("../images/7_0/7_0_2_03.svg");
}
.inner_page3 .imageContainer h2 {
  top: 40px;
  left: 459px;
}
.inner_page3 .imageContainer p {
  top: 113px;
  left: 429px;
  width: 360px;
}
.inner_page4 .imageContainer {
  background-position: 270px center;
  background-image: url("../images/7_0/7_0_2_04.svg");
}
.inner_page4 .imageContainer h2 {
  top: 20px;
  left: 350px;
  transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
}
.inner_page4 .imageContainer p {
  top: 100px;
  left: 409px;
  width: 390px;
}
