@charset "utf-8";
@import "7_css.css";

.popupButton.head {
  top: -75px;
  right: 0;
}
.popup_pages > li.head {
  width: 1120px;
  top: 105px;
  right: 80px;
}
.popup_pages .imageContainer {
  width: 100%;
  height: 276px;
  background: url(../images/7_1/7_1_3_02.svg) center 0px/contain no-repeat, url(../images/7_1/7_1_3_01.svg) center 150px/contain no-repeat;
}

.table {}
.table .shrink {
  width: 450px;
}
.table > ul > li:nth-of-type(1) {
  height: 80px;
}
.table > ul > li:nth-of-type(2) {
  height: 330px;
}

.table .circleNum { margin-right: 6px; }
.table symbol { top: 0px; }

.table input {
  width: 96px;
  height: 98px;
  border: none;
  border-radius: 0;
  padding: 5px 14px 4px 12px;
  background: url(../../include/math/images/quiz/icon_input.svg) 10px center / auto 1em no-repeat, url(../images/7_1/7_1_4_box.png) center/contain no-repeat;
  box-shadow: none;
}

.table input.answerMode,
.table input.onFocus,
.table input.offBg {
  background: url(../images/7_1/7_1_4_box.png) center/contain no-repeat;
}
.table img {
  width: 320px;
}


.page9 .tableContainer {}
.page9 .tableContainer table {
  border: 2px solid #B78327;
}
.page9 .tableContainer table tr td {
  height: 90px;
  text-align: center;
  background-color: #FFFBF0;
  box-sizing: border-box;
}
.page9 .tableContainer table tr td:not(:last-of-type) {
  border-right: 2px solid #B78327;
}
.page9 .tableContainer table tr:nth-of-type(1) td {
  border-bottom: 2px solid #B78327;
}
.page9 .tableContainer input {
  width: 100%;
  text-align: center;
}

.page9 .dotListIndent p {
  color: #BA5100;
}
.page9 .dotListIndent p:nth-of-type(1) {
  margin-top: 30px;
}
.page9 .dotListIndent p:nth-of-type(2) {
  text-align: right;
}
