@charset "utf-8";
@import "7_css.css";

figure {
  margin: 0 auto;
}
figure img {
  pointer-events: auto;
}
.complete figure img {
  pointer-events: none;
}
figure .icon.icon_o,
figure .icon.icon_x {
  position: absolute;
  width: 90px;
  height: 90px;
  opacity: 0;
  pointer-events: none;
}
figure .icon[data-ox-target="4"] {
  top: 221px;
  left: 190px;
}
figure .icon[data-ox-target="3"],
figure .icon[data-ox-target="5"] {
  top: 325px;
  left: 515px;
}
figure .icon[data-ox-target="2"] {
  top: 221px;
  left: 830px;
}
figure .icon[data-ox-target="1"] {
  top: 85px;
  left: 515px;
}
area {
  cursor: pointer;
}


.clickObj {
  position: absolute;
  width: 320px;
  height: 140px;
  cursor: pointer;
}
.clickObj[data-ox-obj="1"] {
  top: 46px;
  left: 398px;
}
.clickObj[data-ox-obj="2"] {
  top: 188px;
  left: 746px;
}
.clickObj[data-ox-obj="3"] {
  top: 334px;
  left: 398px;
}
.clickObj[data-ox-obj="4"] {
  top: 188px;
  left: 51px;
}
.clickObj[data-ox-obj="5"] {
  display: none;
  top: 334px;
  left: 398px;
}