@charset "utf-8";
@import "7_css.css";
.imageContainer {
  margin: -14px 0 0 0;
  height: 540px;
  padding: 350px 40px 0;
  background: url(../images/7_1/7_1_3_01.svg) center 190px/1070px no-repeat, url(../images/7_1/7_1_3_02.svg) center 40px/1070px no-repeat, url(../images/7_1/7_1_3_bg.png) center/100% 100% no-repeat;
}

.imageContainer .flexContainer {

}
.imageContainer .container,
.imageContainer .clickArea {
  position: relative;
  height: 114px;
}
.imageContainer .container.container_1 {
  width: 268px;
}
.imageContainer .clickArea.clickArea_1 {
  width: 54px;
  background: url("../images/7_1/7_1_3_bunsu_01.svg") 0 center/auto 100% no-repeat;
}
.imageContainer .clickArea.clickArea_1.step_1 {
  width: 184px;
}
.imageContainer .clickArea.clickArea_1.step_2 { width: 100%; }

.imageContainer .container.container_2 {
  width: 361px;
}
.imageContainer .clickArea.clickArea_2 {
  width: 85px;
  background: url("../images/7_1/7_1_3_bunsu_02.svg") 0 center/auto 100% no-repeat;
}
.imageContainer .clickArea.clickArea_2.step_1 { width: 270px; }
.imageContainer .clickArea.clickArea_2.step_2 { width: 100%; }

.imageContainer .container.container_3 {
  width: 369px;
}
.imageContainer .clickArea.clickArea_3 {
  width: 85px;
  background: url("../images/7_1/7_1_3_bunsu_03.svg") 0 center/auto 100% no-repeat;
}
.imageContainer .clickArea.clickArea_3.step_1 { width: 268px; }
.imageContainer .clickArea.clickArea_3.step_2 { width: 100%; }

.imageContainer .clickArea .arrow.pink {
  position: absolute;
  top: 33px;
}
.imageContainer .clickArea .arrow.pink.complete {
  cursor: default;
  pointer-events: none;
}
.imageContainer .clickArea .arrow.pink[data-toggle-target].on:after {
}
.imageContainer .clickArea .arrow.pink:after {
  background-image: url("../images/7_1/7_1_3_arrow.svg");
}

.imageContainer .clickArea_1 .arrow_1 {
  left: 50px;
}
.imageContainer .clickArea_1 .arrow_2 {
  left: 177px;
}

.imageContainer .clickArea_2 .arrow_1 {
  left: 80px;
}
.imageContainer .clickArea_2 .arrow_2 {
  left: 266px;
}

.imageContainer .clickArea_3 .arrow_1 {
  left: 80px;
}
.imageContainer .clickArea_3 .arrow_2 {
  left: 266px;
}