@charset "utf-8";
@import "7_css.css";
.imageContainer {
  margin: -14px 0 0 0;
  height: 540px;
  padding: 390px 40px 0;
  background: url(../images/7_2/7_2_3_bg.svg) center 40px/692px no-repeat, url(../images/7_2/7_2_3_bg.png) center/100% 100% no-repeat;
}

.imageContainer .flexContainer {
  justify-content: center;
}
.imageContainer .container,
.imageContainer .clickArea {
  position: relative;
  height: 60px;
}
.imageContainer .container.container_1 {
  width: 368px;
  margin-right: 140px;
}
.imageContainer .clickArea.clickArea_1 {
  width: 68px;
  background: url("../images/7_2/7_2_3_01.svg") 0 center/auto 100% no-repeat;
}
.imageContainer .clickArea.clickArea_1.step_1 {
  width: 278px;
}
.imageContainer .clickArea.clickArea_1.step_2 { width: 100%; }

.imageContainer .container.container_2 {
  width: 420px;
}
.imageContainer .clickArea.clickArea_2 {
  width: 90px;
  background: url("../images/7_2/7_2_3_02.svg") 0 center/auto 100% no-repeat;
}
.imageContainer .clickArea.clickArea_2.step_1 {
  width: 340px;
}
.imageContainer .clickArea.clickArea_2.step_2 { width: 100%; }


.imageContainer .clickArea .arrow.pink {
  position: absolute;
  top: 5px;
}
.imageContainer .clickArea .arrow.pink.complete {
  cursor: default;
  pointer-events: none;
}
.imageContainer .clickArea .arrow.pink[data-toggle-target].on:after {
}
.imageContainer .clickArea .arrow.pink:after {
  background-image: url("../images/7_1/7_1_3_arrow.svg");
}

.imageContainer .clickArea_1 .arrow_1 {
  left: 67px;
}
.imageContainer .clickArea_1 .arrow_2 {
  left: 271px;
}

.imageContainer .clickArea_2 .arrow_1 {
  left: 84px;
}
.imageContainer .clickArea_2 .arrow_2 {
  left: 325px;
}