@charset "utf-8";
@import "7_css.css";

.flexContainer {}
.flexContainer .list.dot {
  width: 100%;
}
.flexContainer .list.dot input {
  display: inline-block;
  width: 180px;
  text-align: center;
}

.circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #E53287;
}
figure {
  width: 690px;
  flex-shrink: 0;
  margin-right: -90px;
}
figure img {
  pointer-events: auto;
}
figure.complete img {
  pointer-events: none;
}

figure .icon.icon_x,
figure .icon.icon_o,
figure .circle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
figure .star:after {}
figure .icon.icon_x.on,
figure .circle.on {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}
figure .icon.icon_x {
  width: 70px;
  height: 70px;
}
figure .circle {
  width: 60px;
  height: 60px;
  border-width: 4px;
}
figure .icon.icon_o {
  position: absolute;
  width: 70px;
  height: 70px;
}

area {
  cursor: pointer;
}

figure [data-ox-target="1"] {
  top: 140px;
  left: 74px;
}
figure [data-ox-target="2"] {
  top: 142px;
  left: 150px;
}
figure [data-ox-target="3"] {
  top: 243px;
  left: 110px;
}
figure [data-ox-target="4"] {
  top: 225px;
  left: 190px;
}
figure [data-ox-target="5"] {
  top: 168px;
  left: 220px;
}
figure [data-ox-target="6"] {
  top: 274px;
  left: 212px;
}
figure [data-ox-target="7"] {
  top: 199px;
  left: 282px;
}
figure [data-ox-target="8"] {
  top: 285px;
  left: 296px;
}
figure [data-ox-target="9"] {
  top: 224px;
  left: 353px;
}
figure [data-ox-target="10"] {
  top: 275px;
  left: 423px;
}




.clickObj {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  /* outline: 1px solid tomato; */
}


.clickObj[data-ox-obj="1"] {
  top: 151px;
  left: 83px;
}
.clickObj[data-ox-obj="2"] {
  top: 152px;
  left: 159px;
}
.clickObj[data-ox-obj="3"] {
  top: 257px;
  left: 119px;
}
.clickObj[data-ox-obj="4"] {
  top: 237px;
  left: 201px;
}
.clickObj[data-ox-obj="5"] {
  top: 182px;
  left: 230px;
}
.clickObj[data-ox-obj="6"] {
  top: 309px;
  left: 212px;
}
.clickObj[data-ox-obj="7"] {
  top: 212px;
  left: 291px;
}
.clickObj[data-ox-obj="8"] {
  top: 297px;
  left: 304px;
}
.clickObj[data-ox-obj="9"] {
  top: 246px;
  left: 362px;
}
.clickObj[data-ox-obj="10"] {
  top: 289px;
  left: 432px;
}