@charset "utf-8";
@import "7_css.css";

.popupButton.head {
  top: -75px;
  right: 0;
}
.popup_pages > li.head {
  width: 1120px;
  top: 105px;
  right: 80px;
}
.popup_pages .imageContainer {
  width: 100%;
  height: 414px;
  background: url(../images/7_4/7_4_4_pop.svg) center 0px/contain no-repeat;
}



.flexList {
  margin: -26px 0 0 0;
}
.flexList .arrow.pink:after {
  background-image: url("../images/7_4/7_4_3_arrow.svg");
}
.flexList > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 36px;
}
.flexList > li:nth-of-type(1) {
  margin-bottom: 10px;
}
.flexList > li .icon_exam {
  width: 46px;
  height: 39px;
  background: url("../images/7_4/7_4_3_exam.svg") center/contain no-repeat;
}
.flexList > li:nth-of-type(2) > .icon_exam {
  background: none;
}
.flexList > li .inFlex {
  display: flex;
  align-items: center;
}
.flexList .dot {
  position: relative;
  line-height: 1;
  top: 9px;
  margin: 0 4px 0 2px;
}
.flexList .lineBox,
.flexList .text {
  font-family: MapleStoryL;
}
.flexList .lineBox {
  padding: 5px 18px;
}
.flexList .text {
  font-size: 30px;
}
.flexList > li > bunsu.hasInput {
  margin: 0;
}
.flexList .yellowBox {
  position: relative;
  width: 420px;
  height: 180px;
  padding: 72px 0 0 0;
  background: url(../images/7_4/7_4_3_box.svg) center/contain no-repeat;
  box-sizing: border-box;
}
.flexList .yellowBox [data-toggle-target]{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.flexList .yellowBox .toggle.space {
  top: 86px;
  left: 20px;
  width: 378px;
  height: 80px;
}
.flexList > li:nth-of-type(2) .yellowBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexList .box,
.flexList input {
  width: 48px;
  height: 46px;
  padding: 0px 2px 0 0;
  border-radius: 0;
  text-align: center;
  box-sizing: border-box;
}
.flexList .box {
  background: url(../images/7_4/7_4_3_box.png) center/100% 100% no-repeat;
}
.flexList input {
  border: none;
  background: url(../../include/math/images/quiz/icon_input.svg) 10px center / auto 1em no-repeat, url(../images/7_4/7_4_3_box.png) center/100% 100% no-repeat;
  box-shadow: none;
}

.flexList input.answerMode,
.flexList input.onFocus,
.flexList input.offBg {
  background: url(../images/7_4/7_4_3_box.png) center/100% 100% no-repeat;
}

.flexList .inFlex .box:nth-of-type(2),
.flexList .yellowBox input:nth-of-type(2),
.flexList .yellowBox input:nth-of-type(5) {
  margin-right: 3px;
}