.content-container > .content > .bg {
    background-image: url(../images/ms_41_1_03_04_01/bg.svg);
    /* background-image: url(../images/04.png); opacity: 0.7; */
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 80px;
    left: 261px;
    top: 261px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 80px;
    left: 541px;
    top: 261px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 220px;
    left: 334px;
    top: 540px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 220px;
    left: 810px;
    top: 540px;
}

#pop-01-quiz-01 .input-cont {
    margin: 38px 0 0 0;
}
#pop-01-quiz-01 .input-cont:nth-child(1) {
    width: 80px;
    left: 261px;
    top: 274px;
}
#pop-01-quiz-01 .input-cont:nth-child(2) {
    width: 80px;
    left: 541px;
    top: 274px;
}
#pop-01-quiz-01 .input-cont:nth-child(3) {
    width: 220px;
    left: 334px;
    top: 540px;
}
#pop-01-quiz-01 .input-cont:nth-child(4) {
    width: 220px;
    left: 810px;
    top: 540px;
}