.content-container > .content > .bg {
    /* background-image: url(../images/ms_41_1_08_01_01/bg.png); */
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 스크롤 박스 */

.scroll-box-01 .scroll-inner {
    height: 1260px;
}
.scroll-box-01 .scroll-bg {
	height: 1260px;
    background-size: 1200px 1260px;
    background-image: url(../images/ms_41_1_08_01_01/bg_scroll_01.png);
    /* background-image: url(../images/01_scroll.png); */
    /* opacity: 0.5; */
}


/* check 퀴즈  */
#quiz-content-01 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#quiz-content-01 .quiz-check .check-item {
    position: absolute;
    width: 100px;
    height: 100px;
    /* background-color: rgba(255,0,0,0.5); */
    box-sizing: border-box;
    z-index: 2;
    
}
#quiz-content-01 .quiz-check .check-item::before {
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border: 5px solid #FFFF00;
    border-radius: 5px;
    visibility: hidden;
}

#quiz-content-01 .quiz-check .check-item.ani {
    animation: ani-flash-01 1s linear infinite;
}
#quiz-content-01 .quiz-check .check-item.ani::before {
    visibility: visible;
}

#quiz-01 .check-item:nth-child(1) {
    width: 87px;
    height: 44px;
    left: 524px;
    top: 218px;
}
#quiz-01 .check-item:nth-child(2) {
    width: 72px;
    height: 44px;
    left: 646px;
    top: 153px;
}

#quiz-02 .check-item:nth-child(1) {
    width: 127px;
    height: 44px;
    left: 834px;
    top: 448px;
}
#quiz-02 .check-item:nth-child(2) {
    width: 102px;
    height: 44px;
    left: 972px;
    top: 448px;
}

#quiz-03 .check-item:nth-child(1) {
    width: 107px;
    height: 44px;
    left: 192px;
    top: 604px;
}
#quiz-03 .check-item:nth-child(2) {
    width: 122px;
    height: 44px;
    left: 310px;
    top: 604px;
}

#quiz-04 .check-item:nth-child(1) {
    width: 87px;
    height: 44px;
    left: 612px;
    top: 799px;
}
#quiz-04 .check-item:nth-child(2) {
    width: 87px;
    height: 44px;
    left: 612px;
    top: 624px;
}

#quiz-05 .check-item:nth-child(1) {
    width: 147px;
    height: 44px;
    left: 186px;
    top: 1109px;
}
#quiz-05 .check-item:nth-child(2) {
    width: 102px;
    height: 44px;
    left: 342px;
    top: 1109px;
}


/* 스프라이트 시퀀스 애니 */
.sprite-sequence.ani-01 {
    position: absolute;
    left: 0px;
    top: 0px;
    /* width: 240px; */
    /* height: 291px; */
    background-position: 4px 4px;
    background-image: url(../images/ms_41_1_08_01_01/ms_41_1_08_ani.png);
    transform: translate(37px, -4px);
}


.btns-popup > .button {
    position: absolute;
    width: 264px;
    height: 170px;
    /* background: rgba(255,0,0,0.5); */
    z-index: 1;
}
.btns-popup > .btn-popup-01 {
    left: 420px;
    top: 70px;
}
.btns-popup > .btn-popup-02 {
    left: 825px;
    top: 295px;
}
.btns-popup > .btn-popup-03 {
    left: 144px;
    top: 436px;
}
.btns-popup > .btn-popup-04 {
    left: 500px;
    top: 630px;
}
.btns-popup > .btn-popup-05 {
    left: 200px;
    top: 960px;
}