
/* 그리기 툴 위치 */
.app-drawing-tool .tool-container {
    top: 160px;
}

.btn-answer-part {
    margin: -240px 0 0 0;
}
.btn-answer-part:nth-child(2) {
    left: 555px;
    top: 314px;
}
.btn-answer-part:nth-child(3) {
    left: 1135px;
    top: 314px;
}