#quiz-02 .input-cont:nth-child(1) {
    width: 120px;
    left: 773px;
    top: 180px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 200px;
    left: 983px;
    top: 269px;
}

.btn-answer-part:nth-child(2) {
    left: 1185px;
    top: 276px;
}