/* 선택 퀴즈 */
#quiz-01 {
    left: 0;
    top: 0;
}
#quiz-01 .quiz-cont {
    position: absolute;
    margin: -160px 0 0 0;
}
#quiz-01 .quiz-cont:nth-child(1) {
    left: 185px;
    top: 385px;
}
#quiz-01 .quiz-cont:nth-child(2) {
    left: 607px;
    top: 475px;
}
#quiz-01 .quiz-cont:nth-child(3) {
    left: 1029px;
    top: 565px;
}

.btn-answer-part {
    margin: -160px 0 0 -4px;
}
.btn-answer-part:nth-child(1) {
    left: 369px;
    top: 351px;
}
.btn-answer-part:nth-child(2) {
    left: 790px;
    top: 441px;
}
.btn-answer-part:nth-child(3) {
    left: 1211px;
    top: 532px;
}