/* 조건 아이콘 */
.ico-box-text {
	width: 90px;
	height: 60px;
}
.ico-box-text::before {
	width: 90px;
	height: 60px;
}
.ico-box-text.bb-08::before {
	background-image: url(../images/mm_42_3_11_02_01/ico_01.svg);
}

/* 예 */
.quiz-01-answer {
    left: 37px;
    top: 1083px;
}

#quiz-01 .input-cont {
    width: 224px;
    margin: 305px 0 0 0;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 537px;
    top: 788px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 761px;
    top: 788px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 985px;
    top: 788px;
}

#quiz-01 .input-cont:nth-child(4) {
    left: 537px;
    top: 872px;
}
#quiz-01 .input-cont:nth-child(5) {
    left: 761px;
    top: 872px;
}
#quiz-01 .input-cont:nth-child(6) {
    left: 985px;
    top: 872px;
}

#quiz-01 .input-cont:nth-child(7) {
    left: 537px;
    top: 956px;
}
#quiz-01 .input-cont:nth-child(8) {
    left: 761px;
    top: 956px;
}
#quiz-01 .input-cont:nth-child(9) {
    left: 985px;
    top: 956px;
}

#quiz-01 .input-cont:nth-child(10) {
    left: 537px;
    top: 1040px;
}
#quiz-01 .input-cont:nth-child(11) {
    left: 761px;
    top: 1040px;
}
#quiz-01 .input-cont:nth-child(12) {
    left: 985px;
    top: 1040px;
}

.btn-answer-part {
    margin: -97px 0 0 0;
}
.btn-answer-part:nth-child(1) {
    left: 720px;
    top: 567px;
}
.btn-answer-part:nth-child(2) {
    left: 1185px;
    top: 1159px;
}
.btn-answer-part:nth-child(3) {
    left: 1170px;
    top: 567px;
}