.ico-circle-01 {
    width: 60px;
}

/* 선택 퀴즈 */
#quiz-01 {
    left: 0;
    top: 0;
}
#quiz-01 .quiz-cont {
    position: absolute;
    margin: 0 0 0 0;
}
#quiz-01 .quiz-cont:nth-child(1) {
    left: 236px;
    top: 372px;
}
#quiz-01 .quiz-cont:nth-child(2) {
    left: 604px;
    top: 372px;
}
#quiz-01 .quiz-cont:nth-child(3) {
    left: 1011px;
    top: 372px;
}

.btn-answer-part {
    margin: 0 0 0 0;
}
.btn-answer-part:nth-child(1) {
    left: 393px;
    top: 382px;
}
.btn-answer-part:nth-child(2) {
    left: 780px;
    top: 382px;
}
.btn-answer-part:nth-child(3) {
    left: 1217px;
    top: 382px;
}