#quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 100px;
    left: 576px;
    top: 553px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 100px;
    left: 716px;
    top: 553px;
}
