.tableContainer .toggle {background-color:transparent;padding:0}
.page_1 .tableContainer img {padding:10px 0}

.page_2 .box-flex {display:flex;justify-content:space-around}

.img-box-2 {position:relative;margin:30px auto 0;padding:0 340px}
.img-box-2 img {width:100%;vertical-align:top}
.img-box-2 .toggle {position:absolute;}
.img-box-2 .n1 {left:680px;top:-20px}
.img-box-2 .n2 {left:680px;top:50px}
.img-box-2 .n3 {left:680px;top:125px}
.img-box-2 .n4 {left:680px;top:200px}
.img-box-2 .n5 {left:680px;top:280px}

.img-box-3 {position:relative;margin:20px auto;padding:0 290px}
.img-box-3 img {width:100%;vertical-align:top}

.innerTab_1 .tableContainer {width:100%}
.innerTab_1 .tableContainer th {font-size:32px;letter-spacing:-1.5px}
.innerTab_1 .tableContainer .toggle {text-align:center}
.page_3 .dapCheckBtn {z-index:2}

/*.innerTab_2 .oxBoxListContainer>li .oxBox>li {height:140px}*/

.page_4 .dapCheckBtn {z-index:2}
.page_4 .ex-box,
.page_4 .box-flex {display:flex;align-items:flex-start}
.page_4 .ex-box .ex-box,
.page_4 .box-flex .check {flex-shrink:0;margin-right:10px}
.page_4 .ex-box p {text-align:justify;letter-spacing:-1.5px}
.page_4 .box-flex {margin-top:10px}
.page_4 .answer .green {position:relative;top:-4px}

.pop_page_1 .tableContainer {width:94%}
.pop_page_1 .tableContainer th {font-size:32px;letter-spacing:-1.5px;padding:10px}

.ex-box {display:flex;align-items:center}
.ex-box .exam {margin-top:0;align-self:inherit}

.bullet.green.number {color:#6dbc4b;border: 2px solid #6dbc4b;display:inline-block}

.list-item {display:flex;align-items:flex-start}
.list-item .bullet {flex-shrink:0;margin-right:10px;margin-top:8px}
.list-item p {flex:1 auto;font-size:40px}