
@charset "utf-8";

.box{

  width: 1000px;
  height: 110px;
  margin-left:100px;
  margin:50px auto;
  background: url(../images/3_10/3_10_10.png) center / contain no-repeat;

}
.box li{margin:8px 70px;width: 1000px;}
.box dd{
  float: left;
  width: 200px;
  text-align: center;
  line-height: 80px;
}
.b01{
  position: absolute;
  top:200px; 
  left:400px;
  width: 400px;

}
.b01 dt{
  float: left;
  width: 80px;
}
.b01 dd{
  float: left;
  width: 250px;
}
input{
  width:200px;
  text-align: center;
}
