
@charset "utf-8";


ul.list.dot {
  margin-bottom: 10px;
}

/* page4 */
.page4 .dragLineContainer {
  width: 100%;
  height: 400px;
  margin-top:40px;
  background: url(../images/3_10/3_8_9_01.svg) center / contain no-repeat;
}
.page4 .dragLineArea:after { content: none ; }
.page4 .dragObj[data-group="1"] {
  left:405px;
}
.page4 .dragObj[data-group="1"][data-answer="1"] {
  top: 105px; 
}
.page4 .dragObj[data-group="1"][data-answer="2"] {
  top: 235px;
}
.page4 .dragObj[data-group="1"][data-answer="3"] {
  top: 355px;
}
.page4 .dragObj[data-group="2"] {
 left:812px;
}
.page4 .dragObj[data-group="2"][data-answer="2"] {
  top: 105px; 
}
.page4 .dragObj[data-group="2"][data-answer="1"] {
  top: 235px;
}
.page4 .dragObj[data-group="2"][data-answer="3"] {
  top: 355px;
}
