
@charset "utf-8";

.box{

  background: url(../images/3_10/3_8_4_01.svg) center / auto no-repeat ;
  background-size: contain;
  width: 800px;
  height: 300px;
  margin-left:200px;
  margin-top:50px;
  
}

.b01{
  position: absolute;
  top:230px; 
  left:340px;
  width: 200px;

}
input{
  width: 170px;
  text-align: center;  
}

.b02{
  position: absolute;
  top:230px; 
  left:620px;
  width: 200px;

}
