
@charset "utf-8";

.flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mathSymbols {
  margin: 0 10px;
}

.titleIndent {
  margin-left: 70px;
}

/* page9 */
.page9 h2 > ins.inputBox { top: 4px; z-index: 1 }
.page9 .flexBox > .vertical {
  margin: 110px 150px;
}