
@charset "utf-8";


.box{

  background: url(../images/3_10/3_8_7_01.svg) center / auto no-repeat ;
  background-size: contain;
  height: 120px;
 
}

.b01{
  width: 550px;
  height: 80px;
  margin-left:300px ;

}
dt{
  width: 300px;
  text-align: right;
  float: left;
}
dd{
  width: 200px;
  margin-left:10px;
  float: left;
}
input{
  width: 170px;
  text-align: center;  
}


