
@charset "utf-8";


.box{
  margin-top:50px;
  background: url(../images/3_10/3_8_8_01.svg) center / auto no-repeat ;
  background-size: contain;
  height: 320px;
}

input{
  width: 170px;
  text-align: center;  
}
.box li.b01{
  position: absolute;
  height: 80px;
  top:195px;
  left:170px;
   width: 200px;
  float: left;

}
.box li.b02{
  position: absolute;
  width: 200px;
  height: 90px;
  left:885px;
  top:195px;
}

