@charset "utf-8";
.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* page */
.finish.quiz .contentsArea h2 {
  word-break: break-all;
  letter-spacing: -4px;
}
.finish.quiz .contentsArea > h2 symbol,
.finish.quiz .contentsArea > h2 ins.mathSymbols {
  margin: 0;
}
ins.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: -5px 6px 0 10px;
  border-radius: 50%;
  border: 3px solid #008dd0;
  box-sizing: border-box;
  vertical-align: middle;
}
.flexContainer {
  width: 640px;
  margin: 0 auto;
  height: 140px;
  
}
.flexContainer.top {
  margin: 20px auto 130px;
}
.flexContainer .left,
.flexContainer .right {
  width: 228px;
  text-align: center;
}

.signPop {
  left: 515px;
}
.pop_1 {
  top: -75px;
}
.pop_2 {
  top: 65px;
}
.pop_3 {
  top: 204px;
}

.displayN { display: none; }