
@charset "utf-8";

.promise .contentsArea > section {
  /* padding-top: 15px; */
  /* padding-bottom: 0; */
}
ul.list > li {
  margin-bottom: 10px;
}

/* toggle */
.list.dot > li .toggleObj[data-toggle-obj="1"] {
  top: 27px;
  left: 444px;
  width: 104px;
}
.list.dot > li .toggleObj[data-toggle-obj="2"] {
  top: 27px;
  left: 757px;
  width: 200px;
}

.clickButton,
.balloon { position: absolute; }

.clickButton[data-toggle-obj="3"] {
  top: 184px;
  left: 471.489px;
}
.clickButton[data-toggle-obj="4"] {
  top: 184px;
  left: 692.766px;
}
.clickButton[data-toggle-obj="5"] {
  top: 184px;
  left: 920.851px;
}
.balloon {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 430px;
  width: 190px;
  height: 81px;
  font-family: NSquareRB;
}
.balloon bunsu > span.bar {
  height: 2px;
}
.balloon_1 {
  left: 288px;
  /* padding-top: 9px; */
  /* background: url(../images/3_1/3_1_04_02.svg) 0 0/ 100% auto no-repeat; */
}
.balloon_2 {
  left: 518px;
  /* padding-top: 20px; */
  /* background: url(../images/3_1/3_1_04_03.svg) 0 0/ 100% auto no-repeat; */
}
.balloon_3 {
  left: 740px;
  /* padding-top: 20px; */
  /* background: url(../images/3_1/3_1_04_03.svg) 0 0/ 100% auto no-repeat; */
}

.balloonText {
  font-size: 36px;
}

img.img {
  width: 650px;
  margin: 0 auto;
}