@charset "utf-8";

figure {
  position: relative;
  margin: 0 auto 30px;
  width: 1080px;
}
figure img {
  width: 100%;
  vertical-align: top;
}
figure img[src*=".svg"] {
  position: absolute;
  top: 0;
  left: 0;
}

input {
  width: 120px;
}
.list.dot > li:last-child:before {
  top: 1.3em;
}
.list.dot > li:last-child bunsu {
  margin: 0 8px 0 28px;
}
.list.dot > li:last-child bunsu input {
  width: 120px;
}
