
@charset "utf-8";

section {
  padding: 0px 20px;
}
ul.list > li {
  margin-bottom: 10px;
}

.topFlex {
  position: absolute;
  top: 30px;
  left: 290px;
}
.topFlex .arrow {
  margin-right: 40px;
}
.topFlex .read {
  margin-left: 40px;
}

/* toggle */
.list.dot > li .toggleObj[data-toggle-obj="1"] {
  top: 0px;
  left: 212px;
  width: 96px;
}
.list.dot > li .toggleObj[data-toggle-obj="2"] {
  top: 0;
  left: 464px;
  width: 196px;
}


.groupContainer {
  position: absolute;
  left: 0px;
  top: -24px;
}

.question_1 {
  top: 227px;
  left: 134px;
}
.posText_1 {
  position: absolute;
  top: 205px;
  left: 110px;
  font-size: 40px;
}
.posImg {
  position: absolute;
  top: 140px;
  left: 200px;
  height: 325px;
}

.leftTable {
  flex-direction: column;
  position: absolute;
  top: 147px;
  left: 206px;
  font-size: 26px;
  width: 346px;
  height: 130px;
}
.leftTable > flex {
  width: 100%;
}
.leftTable > flex:nth-of-type(1) {
  height: 84px;
  flex-shrink: 0;
}
.leftTable > flex:nth-of-type(2) {
  height: 100%;
}
.leftTable > flex > div {
  flex: 1 0 auto;
  text-align: center;
  line-height: 1.1;
}
.leftTable .decimalPoint {
  padding: 10px 30px;
}
.firstBox .arrow {
  position: absolute;
  top: 273px;
  left: 355px;
}
.leftTable .secondSpace { height: 43px; }




.leftTable.bottom {
  top: 330px;
  height: 133px;
}
.leftTable.bottom flex {
  height: 45px;
}
.leftTable.bottom flex.secondSpace {
  height: 40px;
}
.textNone { color: transparent; }

.arrow_3.right {
  position: absolute;
  top: 382px;
  left: 590px;
}
.posText_2 {
  position: absolute;
  top: 380px;
  left: 640px;
  width: 450px;
  font-size: 40px;
  text-align: left;
}
.posText_2 .textColor.answer {
  margin: 0 0 0 10px;
}

.toggle[data-toggle-obj="3"] {
  top: 370px;
  left: 810px;
  width: 50px;
  transform: scale(0.7);
}
.toggle[data-toggle-obj="4"] {
  top: 370px;
  left:986px;
  width: 50px;
  transform: scale(0.7);
}
.toggle[data-toggle-obj="5"] {
  top: 422px;
  left: 746px;
  width: 50px;
  transform: scale(0.7);
}



[class *= 'openShow_'] {
  /* opacity: 0; */
}
.on[data-toggle-target] .openShow_1 {
  -webkit-animation: opacityOne 0.5s ease-in 0.5s forwards;
  -ms-animation: opacityOne 0.5s ease-in 0.5s forwards;
  -moz-animation: opacityOne 0.5s ease-in 0.5s forwards;
  -o-animation: opacityOne 0.5s ease-in 0.5s forwards;
  animation: opacityOne 0.5s ease-in 0.5s forwards;
}
.on[data-toggle-target] .openShow_2 {
  -webkit-animation: opacityOne 0.5s ease-in 1s forwards;
  -ms-animation: opacityOne 0.5s ease-in 1s forwards;
  -moz-animation: opacityOne 0.5s ease-in 1s forwards;
  -o-animation: opacityOne 0.5s ease-in 1s forwards;
  animation: opacityOne 0.5s ease-in 1s forwards;
}
.on[data-toggle-target] .openShow_3 {
  -webkit-animation: opacityOne 0.5s ease-in 1.5s forwards;
  -ms-animation: opacityOne 0.5s ease-in 1.5s forwards;
  -moz-animation: opacityOne 0.5s ease-in 1.5s forwards;
  -o-animation: opacityOne 0.5s ease-in 1.5s forwards;
  animation: opacityOne 0.5s ease-in 1.5s forwards;
}
.on[data-toggle-target] .openShow_4 {
  -webkit-animation: opacityOne 0.5s ease-in 2s forwards;
  -ms-animation: opacityOne 0.5s ease-in 2s forwards;
  -moz-animation: opacityOne 0.5s ease-in 2s forwards;
  -o-animation: opacityOne 0.5s ease-in 2s forwards;
  animation: opacityOne 0.5s ease-in 2s forwards;
}
@keyframes opacityOne {
  from {opacity: 0;} to {opacity: 1;}
}
@-webkit-keyframes opacityOne {
 from {opacity: 0;} to {opacity: 1;}
}
@-ms-keyframes opacityOne {
 from {opacity: 0;} to {opacity: 1;}
}