
@charset "utf-8";

.contentsArea h1 > p {
  position: relative;
  top: -24px;
}
bunsu input, 
input {
  width: 130px;
}

.page1 .list.dot > li.hasInputBunsu:before {
  top: 1.3em;
}
.page2 .list.dot > li.hasBunsu:before {
  top: 54px;
}