
@charset "utf-8";

bunsu > span:nth-of-type(1) {
  line-height: 1.1;
}
ul.list > li {
  margin-bottom: 10px;
}
.list.dot > li bunsu {
  position: relative;
  top: 3px;
}

/* toggle */
.list.dot > li .toggleObj[data-toggle-obj="1"] {
  top: 22px;
  left: 468px;
  width: 128px;
}
.list.dot > li .toggleObj[data-toggle-obj="2"] {
  top: 22px;
  left: 755px;
  width: 243px;
}
.promise .colorBox {
  width: 390px;
  text-align: center;
  margin: 40px auto;
  padding: 26px 0 13px;
}
.toggleObj[data-toggle-obj="3"] {
  top: 251px;
  left: 420px;
  width: 378px;
  height: 158px;
}