@charset "utf-8";
.act .contentsArea > h1 {
  word-break: break-all;
}
ul.list > li {
  word-break: break-all;
  letter-spacing: -2px;
}
.page1 .inlineBox {
  width: 200px;
  margin-right: 3px;
}
.page2 img {
  height: 290px;
}
.page2 bunsu {
  position: absolute;
  top: 250px;
  left: 890px;
}
.page2 bunsu input {
  width: 146px;
  text-align: center;
}
