
@charset "utf-8";

[class *= 'posText_'] {
  position: absolute;
  font-family: MapleStoryL;
}
.yellowText {
  font-size: 31px;
}

.posText_1 {
top: 184.211px; left: 518.946px;
  font-family: NSquareRB;
}
.posText_2 {
top: 107.475px; left: 265.688px;
}
.posText_3 {
top: 213.188px; left: 238.295px;
}
.posText_4 {
top: 352.954px; left: 340.033px;
}
.posText_5 {
top: 38.204px; left: 670.489px;
}
.posText_6 {
top: 204.47px; left: 781.817px;
}
.posText_7 {
top: 380.47px; left: 671.349px;
}

input {
  position: absolute;
  width: 170px;
  text-align: center;
}
.input_1 {
top: 1.9759px; left: 203px;
}
.input_2 {
  top: 186.06px; left: 52px;
}
.input_3 {
  top: 330.06px; left: 97.1566px;
}
.input_4 {
  top: 10.8313px; left: 932px;
}
.input_5 {
  top: 125.337px; left: 987.181px;
}
.input_6 {
  top: 354px; left: 920px;

}