@charset "utf-8";
.act .contentsArea > h1 {
  margin: -20px 0 20px 0;
}
.act .contentsArea > h1:before {
  top: 26px;
}
.act .contentsArea > h1:after {
  top: 19px;
}
.act .contentsArea > h1 bunsu > span:nth-of-type(1){
  line-height: 1.1;
}
ul.list > li {
  position: relative;
  padding-left: 0.75em;
  margin-bottom: 0.2em;
}
bunsu input,
input {
  width: 160px;
}

.list.dot {}
ul.list > li {
  margin-bottom: 0;
}
.list.dot > li:not(:last-of-type) input {
  margin: 0 3px 0 28px;
}