

section {
  padding: 20px 50px;
}

.groupContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.groupContainer > div {
  width: 30%;
}
.colorBox {
  font-size: 35px;
  word-break: break-all;
  height: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.colorBox:after { content: none; }
.colorBox.pink {
  background-color: #e7c7c9;
  text-align: center;
}
.colorBox.green {
  background-color: #cfe5ae;
}
.colorBox.yellow {
  background-color: #efda9b;
}

.tAlign_center flex {
  margin: 26px 0;
  font-size: 40px;
}
.tAlign_center flex .left,
.tAlign_center flex .right {
  width: 96px;
}
.tAlign_center flex symbol,
.tAlign_center flex ins.circle {
  flex-shrink: 0;
}
.tAlign_center flex .right {}
.circle {
  padding: 0 22px;
  border: 3px solid #008dd0;
  border-radius: 50%;
  margin: 0 20px;
}

.arrow {
  position: absolute;
  top: 82px;
}
.arrow_1 { left: 390px; }
.arrow_2 { left: 780px; }

.textColor.orange {
  color: #ff7600;;
}
.underLine {
  border-bottom: 2px solid #C83164;
}

[class *= 'openShow_'] {
  opacity: 0;
}
.on .openShow_1 {
  -webkit-animation: opacityOne 0.5s ease-in 0.5s forwards;
  -ms-animation: opacityOne 0.5s ease-in 0.5s forwards;
  -moz-animation: opacityOne 0.5s ease-in 0.5s forwards;
  -o-animation: opacityOne 0.5s ease-in 0.5s forwards;
  animation: opacityOne 0.5s ease-in 0.5s forwards;
}
.on .openShow_2 {
  -webkit-animation: opacityOne 0.5s ease-in 1s forwards;
  -ms-animation: opacityOne 0.5s ease-in 1s forwards;
  -moz-animation: opacityOne 0.5s ease-in 1s forwards;
  -o-animation: opacityOne 0.5s ease-in 1s forwards;
  animation: opacityOne 0.5s ease-in 1s forwards;
}
.on .openShow_3 {
  -webkit-animation: opacityOne 0.5s ease-in 1.5s forwards;
  -ms-animation: opacityOne 0.5s ease-in 1.5s forwards;
  -moz-animation: opacityOne 0.5s ease-in 1.5s forwards;
  -o-animation: opacityOne 0.5s ease-in 1.5s forwards;
  animation: opacityOne 0.5s ease-in 1.5s forwards;
}
.on .openShow_4 {
  -webkit-animation: opacityOne 0.5s ease-in 2s forwards;
  -ms-animation: opacityOne 0.5s ease-in 2s forwards;
  -moz-animation: opacityOne 0.5s ease-in 2s forwards;
  -o-animation: opacityOne 0.5s ease-in 2s forwards;
  animation: opacityOne 0.5s ease-in 2s forwards;
}
@keyframes opacityOne {
  from {opacity: 0;} to {opacity: 1;}
}
@-webkit-keyframes opacityOne {
 from {opacity: 0;} to {opacity: 1;}
}
@-ms-keyframes opacityOne {
 from {opacity: 0;} to {opacity: 1;}
}



.on[data-toggle-target] .openBlink {
  -webkit-animation: opacityBlink 1s ease-in 0.5s 2;
  -ms-animation: opacityBlink 1s ease-in 0.5s 2;
  -moz-animation: opacityBlink 1s ease-in 0.5s 2;
  -o-animation: opacityBlink 1s ease-in 0.5s 2;
  animation: opacityBlink 1s ease-in 0.5s 2;
}
@keyframes opacityBlink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes opacityBlink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes opacityBlink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}