
@charset "utf-8";

.popupButton.head { top: -75px; }

ins.draw:after {
  content: '모눈종이를 클릭해 보세요.';
}
.page1 ins.draw {
  top: 11px;
  right: 10px;
}


.fillContainer {
  position: relative;
  width: 400px;
  height: 400px;
  border: 2px solid #6dcef5;
  margin: 0 40px;
}
.fillContainer .square {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
.fillContainer .square div.target {
  width: 40px;
  height: 40px;
  background-image: url(../images/sectionPaper_repeat.svg);
  background-size: 40px auto;
  cursor: pointer;
}
.fillContainer .square.complete {
  pointer-events: none;
}
.square_1 .target.fill {
  background-color: #caebf9;
}
.square_2 .target.fill {
  /* background-color:#f4d0e4; */
  background-color:#caebf9;
}

.page1 .img_01 {
  position: relative;
  left: 320px;
}
.page1 .img_02 {
  position: relative;
  left: 530px;
}
.page1 .fillContainer {
  width: 350px;
  height: 350px;
}
.page1 .fillContainer .square div.target {
  width: 35px;
  height: 35px;
  background-size: 35px auto;
}
.page1 .square_1.complete div:nth-of-type(n+31):nth-of-type(-n+35) {
  /* background-color: #D7E8AE; */
}
.page1 .square_2.complete div:nth-of-type(n+31):nth-of-type(-n+37) {
  /* background-color: #D7E8AE; */
}
/* page2 */
/* page2 */
/* page2 */
.page2 .fillContainer {
  position: absolute;
  top: 0;
  left: 740px;
  width: 400px;
  height: 400px;
}
.page2 .fillContainer .square div.target {
  background-size: 40px auto;
}
.page2 .img_01 {
  position: absolute;
  left: 856px;
  top: 400px;
}
.page2 .square_1 {
  pointer-events: none;
}
.page2 .square_1 > div:nth-of-type(n+1):nth-of-type(-n+30) {
  background-color: #caebf9;
}
.page2 .square_1 > div:nth-of-type(n+31):nth-of-type(-n+35) {
  background-color: #D7E8AE;
  background-color: #caebf9;
}
/* page3 */
/* page3 */
/* page3 */
.page3 .fillContainer {
  position: absolute;
  top: 0;
  left: 740px;
  width: 400px;
  height: 400px;
}
.page3 .fillContainer .square div.target {
  background-size: 40px auto;
}
.page3 .square_2 {
  pointer-events: none;
}
.page3 .square_2 > div:nth-of-type(n+1):nth-of-type(-n+30) {
  background-color: #caebf9;
}
.page3 .square_2 > div:nth-of-type(n+31):nth-of-type(-n+37) {
  background-color: #D7E8AE;
  background-color: #caebf9;
}
.page3 .img_01 {
  position: absolute;
  left: 856px;
  top: 400px;
}


.page4 .list.dot > li:nth-of-type(1) {
  margin-bottom: 80px;
}
.page4 .list.dot input {
  margin-top: 10px;
}

/* popup */
.popup_pages li.head[data-popup-page="1"] {
  top: 105px;
  right: 80px;
  width: 1010px;
}

.page2 .inputQuizContainer input,
.page3 .inputQuizContainer input {
  width: 180px;
  margin-right: 3px;
}
.page2 .inputQuizContainer,
.page3 .inputQuizContainer {
  width: 620px;
}