
@charset "utf-8";





.imageBox > * {
  position: absolute;
}

.imageBox div > input {
  width: 100px;
  margin: 0 4px;
}



/* page1 */
.page1 .imageBox {
  position: relative;
  width: 100%;
  height: 350px;
  margin: 80px 0 0;
  background: url(../images/3_4/3_4_3_01.svg) center / contain no-repeat;
}


.page1 .imageBox > bunsu:nth-of-type(1) {
  top: -69px;
  left: 507px;
}

.page1 .imageBox > bunsu:nth-of-type(2) {
  top: -69px;
  left: 761px;
}

.page1 .imageBox > div:nth-of-type(1) {
  top: 336px;
  left: 482px;
}
.page1 .imageBox > div:nth-of-type(2) {
  top: 336px;
  left: 733px;
}



/* page2 */
.page2 .imageBox {
  position: relative;
  width: 100%;
  height: 420px;
  margin: 30px 0 0;
  background: url(../images/3_4/3_4_3_02.svg) center / contain no-repeat;
}

.page2 .char {
  position: absolute;
  bottom: 50px;
  width: 151px;
  height: 130px;
  background: center / contain no-repeat;
}
.page2 .char_1 {
  left: 190px;
  background-image: url(../images/3_4/3_4_3_char_2.png);
}
.page2 .char_2 {
  right: 280px;
  background-image: url(../images/3_4/3_4_3_char_1.png);
}


.page2 .imageBox > div:nth-of-type(1) {
  top: 280px;
  left: 728px;
}
.page2 .imageBox > div:nth-of-type(2) {
  top: 188px;
  left: 827px;
}
.page2 .imageBox > div:nth-of-type(2) input {
  width: 130px;
}
.page2 .imageBox > div:nth-of-type(3) {
  top: 71px;
  left: 877px;
}
.page2 .imageBox > div:nth-of-type(3) input {
  width: 150px;
}