
@charset "utf-8";
/* .target.on .grayBox{
  animation: none;
  opacity: 1;
} */
.imageFomula {
  width: 100%;
  height: 100%;
  background: url(../images/3_5/3_5_4_01.svg) left 60px center / contain no-repeat;
  pointer-events: none;
}
[data-toggle-obj="1"].complete ~ .imageFomula {
  background: url(../images/3_5/3_5_4_01_01.svg) left 60px center / contain no-repeat,
  url(../images/3_5/3_5_4_01.svg) left 60px center / contain no-repeat;
}
[data-toggle-obj="2"].complete ~ .imageFomula {
  background: url(../images/3_5/3_5_4_01_02.svg) left 60px center / contain no-repeat,
  url(../images/3_5/3_5_4_01_01.svg) left 60px center / contain no-repeat,
  url(../images/3_5/3_5_4_01.svg) left 60px center / contain no-repeat;
}
[data-toggle-obj="3"].complete ~ .imageFomula {
  background: url(../images/3_5/3_5_4_01_03.svg) left 60px center / contain no-repeat,
  url(../images/3_5/3_5_4_01_02.svg) left 60px center / contain no-repeat,
  url(../images/3_5/3_5_4_01_01.svg) left 60px center / contain no-repeat,
  url(../images/3_5/3_5_4_01.svg) left 60px center / contain no-repeat;
}
[data-toggle-obj="4"].complete ~ .imageFomula {
  background: url(../images/3_5/3_5_4_01_04.svg) left 60px center / contain no-repeat,
  url(../images/3_5/3_5_4_01_03.svg) left 60px center / contain no-repeat,
  url(../images/3_5/3_5_4_01_02.svg) left 60px center / contain no-repeat,
  url(../images/3_5/3_5_4_01_01.svg) left 60px center / contain no-repeat,
  url(../images/3_5/3_5_4_01.svg) left 60px center / contain no-repeat;
}
.hideImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.formula {
  position: absolute;
  top: 61px;
  left: 732px;
  width: 232px;
  height: 320px;
  background: url(../images/1_1/1_1_6_02.svg) 0 0 / auto 320px no-repeat;
}
.formula[data-step="1"] {
  background-position-x: -232px;
}
.formula[data-step="2"] {
  background-position-x: calc(-232px * 2);
}
.formula[data-step="3"] {
  background-position-x: calc(-232px * 3);
}
.formula[data-step="4"] {
  background-position-x: calc(-232px * 3);
}


/* connectLine */
.connectLine {
  left: 524px;
}
.connectLine.one > p , 
.connectLine.ten > p {
  left: 35px;
}

.connectLine.one {
  top: 183px;
}
.connectLine.one:before {
  width: 150px;
  border-right: none;
  border-bottom-right-radius: 0;
}
.connectLine.one:after {
  bottom: 15px;
  left: 150px;
  width: 215px;
  height: 7px;
  border-top: none;
  border-bottom: 2px dashed #c83164;
  border-top-left-radius: 0;
  border-bottom-left-radius: 8px;
}


.connectLine.ten {
  top: 268px;
}
.connectLine.ten:before {
  width: 160px;
}
.connectLine.ten:after {
  bottom: 34px;
  left: 160px;
  width: 149px;
  height: 27px;
}

.connectLine.hundred {
  top: 360px;
}
.connectLine.hundred:before {
  width: 160px;
}
.connectLine.hundred:after {
  bottom: 24px;
  left: 160px;
  width: 85px;
  height: 80px;
}

/* grayBox */
.target {
  /* opacity: 1; */
}
.grayBox {
  /* opacity: 1; */
  top: 62px;
  right: 265px;
  width: 62px;
  height: 62px;
}
.grayBox.vertical_2 {
  height: calc(62px * 2);
}
.grayBox.horizon_2 {
  width: calc(62px * 2);
}
.grayBox.horizon_3 {
  width: calc(62px * 3);
}
.grayBox.horizon_4 {
  width: calc(62px * 4);
}

.target_1 .grayBox.down {
  top: 184px;
}
.target_2 .grayBox.vertical_2 {
  right: calc(218px + 62px);
}
.target_2 .grayBox.one {
  top: 126px;
}
.target_2 .grayBox.ten {
  right: 325px;
}
.target_2 .grayBox.down {
  top: 230px;
  height: 52px;
}
.target_3 .grayBox.vertical_2 {
  right: calc(218px + (62px * 2));
}
.target_3 .grayBox.down {
  top: 276px;
  height: 47px;
}
.target_4 .grayBox.vertical_2 {
  right: calc(218px + (62px * 3));
}
.target_4 .grayBox.down {
  top: calc(190px + (62px * 3));
}


/* clickButton */
.clickButton[data-toggle-obj="1"] {
  top: 158px;
  left: 514px;
}
.clickButton[data-toggle-obj="2"] {
  top: 231px;
  left: 417px;
}
.clickButton[data-toggle-obj="3"] {
  top: 310px;
  left: 265px;
}
.clickButton[data-toggle-obj="4"] {
  top: 440px;
  left: 515px;
}

/* popupFomula */
.lastFormula,
.lastFormula.active.on {
  top: 320px;
  left: 992px;
  width: 254px;
  height: 255px;
}
.lastFormula.active.on:after,
.lastFormula:after {
  width: 254px;
  height: 255px;
  background: url(../images/1_1/1_1_6_03.svg) center / contain no-repeat;
}