@charset "utf-8";
ins.icon.icon_x {
  top: 9px;
}
fomula.inline.horizon {
  display: inline-flex;
}
.flexContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.inputQuizContainer textarea,
.inputQuizContainer input {
  width: 100%;
}
.inputQuizContainer textarea,
.inputQuizContainer textarea.answerMode + .answerValue {
  height: 100%;
}
.inputQuizContainer textarea.answerMode {
  display: none;
}
.inputQuizContainer .answerValue {
  display: none;
  width: 100%;
  padding: 5px 14px 4px;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #c6c6cc;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, .1);
}
.inputQuizContainer textarea.answerMode + .answerValue {
  display: block;
}

.popupButton.head {
  top: -75px;
}
.popup_pages > li.head {
  width: 940px;
  top: 105px;
  right: 80px;
}

.page2 .list.dot > li {
  word-break: break-all;
}
.page2 .list.dot .inputQuizContainer {
  height: 274px;
  margin: 10px 0 0 0;
}
.page2 .flexContainer {}
.page2 .flexContainer .checkContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  width: 436px;
  height: 436px;
  margin-left: 30px;
  flex-shrink: 0;
  border: 3px solid #069ee7;
  box-sizing: border-box;
}
.page2 .flexContainer .checkContainer > .clickObj {
  position: relative;
  width: 43px;
  height: 43px;
  box-sizing: border-box;
  cursor: pointer;
}
.page2 .flexContainer .checkContainer > .clickObj .icon_x {
  opacity: 1;
  width: 100%;
  height: 100%;
  background-size: 36px;
}
.page2 .flexContainer .checkContainer > .clickObj:after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 100%;
  height: 100%;
  border-right: 2px dashed #7dcbf2;
  border-bottom: 2px dashed #7dcbf2;
  pointer-events: none;
}
.page2 .flexContainer .checkContainer > .clickObj:nth-of-type(n+91):nth-of-type(-n+100):after {
  border-right: 0;
}
.page2 .flexContainer .checkContainer > .clickObj:nth-of-type(10n) {
  border-bottom: 0;
}
.page2 .flexContainer .checkContainer > .clickObj:nth-of-type(n+1):nth-of-type(-n+30) {
  background-color: #C0DDF3;
}
.page2 .flexContainer .checkContainer > .clickObj:nth-of-type(n+31):nth-of-type(-n+38) {
  background-color: #D5E6AD;
}
.page2 .flexContainer .checkContainer > .clickObj:nth-of-type(39),
.page2 .flexContainer .checkContainer > .clickObj:nth-of-type(40) {
  pointer-events: none;
}
.page2 .flexContainer .checkContainer.complete > div,
.page2 .flexContainer .checkContainer > .clickObj:nth-of-type(n+39):nth-of-type(-n+100) {
  pointer-events: none;
}
.page2 .flexContainer .checkContainer.complete > div:nth-of-type(n+1):nth-of-type(-n+20) .icon,
.page2 .flexContainer .checkContainer.complete > div:nth-of-type(n+1):nth-of-type(-n+23) .icon{
  display: none;
}
.page2 .flexContainer .checkContainer.complete > div:nth-of-type(3),
.page2 .flexContainer .checkContainer.complete > div:nth-of-type(13),
.page2 .flexContainer .checkContainer.complete > div:nth-of-type(23) {
  background-image: none;
}

.page3 .lineBox {
  display: block;
  padding: 10px 30px;
  margin: 0 0 0 47px;
  word-break: break-all;
  letter-spacing: -1px
}
.page3 .lineBox input {
  display: inline-block;
  width: 125px;
  text-align: center;
  padding: 5px 4px 4px;
}


.page4 .inputQuizContainer input {
  width: 180px;
}