@charset "utf-8";

.finish .contentsArea > h1:before {
  background-position: -120px 0;
}

.contentsArea > div[data-quiz="dragDrop"] {
  width: 100%;
  height: 100%;
}

.questionChoice{
  position: absolute;
  width: 953px;
  height: 130px;
  top: 190px;
  left: 50%;
  margin-left: -487px;
  padding-top: 80px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
.questionChoice.select_on,
.questionChoice.hover {
  transform: scale(1.05);
}
.questionChoice:nth-of-type(1){     
  background: url(../images/3_finish_arrange/step1_1.svg) center / contain no-repeat;
}
.questionChoice:nth-of-type(2){     
  top: 330px;
  background: url(../images/3_finish_arrange/step1_2.svg) center / contain no-repeat;
}


.page2 .decimal{
    line-height: 100px;
    padding-right: 3px;
}
.numCard{
  position: relative;
  margin-right: 30px;
}

.dropArea .numCard {
  margin-right: 0px;
}

.dropBg{
  position: absolute;
  width: 100%;
  height: 315px;
  text-align: center;
  box-sizing: border-box;
  background: url(../images/3_finish_arrange/drag_bg.png) no-repeat;
  bottom: 0px;
  background-size: contain;
}

.page1 .dropArea {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.quizButtons{
  /* right: 100px; */
  /* bottom: 10px; */
}

.page1 .quizButtons.reset{
  right: 100px;
  bottom: 10px;
  display: block;
}

.drag_num{
  position: relative;
  margin-right: 0px;
}

.dragWrap{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  left: 30px;
  right: 30px;
  bottom: 5px;
  word-break: keep-all;
  width: 500px;
}
.page2 .contentsArea{
  background: url(../images/3_finish_arrange/step2.svg) center / auto 100% no-repeat;
  
} 
[data-quiz="dragDrop"].dragContainer {
  width: 100%;
  height: 100%;
}     
.page2 .dragBox{
  border: none;
  background-color: transparent;
}

.page2 .dropBg {
  background: none;
  height: 140px;
  bottom: 180px;
  
}
.page2 .dropBox {
  width: 230px;
  height: 70px;
  position: absolute;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
}
.page2 .dropArea {
  left: -10px;
  width: 254px;
  height: 70px;
  padding: 0 0 0 11px;
  box-sizing: border-box;
}
.page2 .dropArea[class *= 'dropComplete_'] {
    width: 0;
}
.page2 .dropWrap1 .drop1 {
  top: 20px;
  left: 221px;
}
.page2 .dropWrap1 .drop2 {
  top: 95px;
  left: 221px;
}
.page2 .dropWrap2 .drop1 {
  top: 20px;
  left: 213px;
}
.page2 .dropWrap2 .drop2 {
  top: 95px;
  left: 213px;
}

.page2 .dragBox.top:before {
  display: none;;
}

.page2 .quizButtons {
  right: 50px;
  bottom: 100px;
}



.dropWrap1{
  position: absolute;
  /* left: 500px; */
  top: 300px;
  width: 50%;
  height: 320px;
  box-sizing: border-box;
  display: flex;
}
.dropWrap2{
  position: absolute;
  left: 595px; 
  top: 300px;
  width: 50%;
  height: 320px;
  box-sizing: border-box;
  display: flex;
}

.page2 .dragObj {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 86px;
  width: 270px;
  height: 87px;
}
.page2 .dragObj input:nth-last-of-type(2) {
  margin-right: 7px;
}
.page2 .dragObj.left {
  left: 175px;
}
.page2 .dragObj.right {
  left: 768px;
}
.page2 .dragObj input{
  width: 70px;
  height: 70px;
  text-align: center;
}
.page2 .dragObj input:nth-child(2){
  margin: 0 10px 0 20px;
}
.page2 .dropArea .dragObjComplete {
  position: relative;
  top: -10px;
  left: -21px;
}
.page2 .dropArea .dragObjComplete input:nth-child(2){
  margin: 0 10px 0 10px;
}
.page2 .dropArea > .dragObj {
  display: none;
}
.page2 .dropArea > .dragObj:first-child {
  display: flex;
}
.page2 .dragReset{
    top: 110px;
    left: 430px;
}
.page2 .dragReset[data-index="2"]{
    left: 1030px;
}
.page2 .inputQuizContainer {
  position: absolute;
  top: 473px;
  width: 300px;
}
.page2 .inputQuizContainer input {
  width: 100%;
  letter-spacing: 26.5px;
  text-align: right;
  text-indent: 14px;
}
.page2 .inputQuizContainer input.answerMode  {
  pointer-events: none;
}
.page2 .inputQuizContainer.input1 {
  left: 163px;
}
.page2 .inputQuizContainer.input2 {
  left: 750px;
}
.page2 .inputQuizContainer .quizButtons {
  right: -50px;
  bottom: 11px;
}
.page2 .dragReset[data-index="1"],
.page2 .dragReset[data-index="2"] {
  display: none;
}
.quizButtons.off {
  pointer-events: none;
}
.middleSize{
  text-align: center;
  padding: 20% !important;
}

.page3 .clickButton, .page5 .clickButton {
  left: 890px;
  top: 370px;
}


.page5 .clickButton[data-toggle-obj="1"]{
    left: 310px;
    top: 120px;
}
.page5 .clickButton[data-toggle-obj="2"]{
    left: 1020px;
    top: 120px;
}

.page3 .right input{
  width: 100%;
}

.page3 .quizButtons,
.page5 .quizButtons {
  right: 0px;
  bottom: 326px;
}

ins.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: -5px 6px 0 10px;
  border-radius: 50%;
  border: 3px solid #008dd0;
  box-sizing: border-box;
  vertical-align: middle;
}
.flexContainer {
  width: 100%;
  height: 384px;
  /* margin: 0 auto; */
  margin-top: 60px;
  background: url(../images/3_finish_arrange/step3.svg) center /auto 100% no-repeat;
}
.flexContainer.top {
  margin: 100px auto 130px;
}

.page5 .flexContainer {
  background: url(../images/3_finish_arrange/step5.svg) center /auto 100% no-repeat;
}


[data-option="toggle"] .numBg {
  position: absolute;
  top: 207px;
  left: 279px;
  color: #e84443;
  width: 222px;
  text-align: center;
}
[data-option="toggle"] .numBg:nth-of-type(2) {
  left: 725px;
}

.flexContainer .left,
.flexContainer .right {
  width: 228px;
  text-align: center;
  top: 295px;
  position: absolute;
  color: #e84443;
}
.flexContainer .left {
  left: 200px;
  position: absolute;
  color: #e84443;
}
.flexContainer .right{
  left: 560px;
  width: 260px;
}
[data-quiz="ox"] {
  position: absolute;
}
.sign_circle {
  left: 500px;
  top: 198px;
  border: none;
  width: 155px;
  border-radius: 0%;
}
.signPop {
  top: 80px !important;
  left: 513px;
}
.pop_1,.pop_2 {
  top: -7px;
}



.page4 .contentsArea{
  background: url(../images/3_finish_arrange/step4.svg) center / auto 600px no-repeat;
  /* top: -20px; */
  /* left: 50px; */
  /* width: 1100px; */
  
} 
.inputWrap{
  width: 100%;
  height: 100px;
  position: absolute;
  left: 105px;
  top: 120px;
}

.inputWrap input {
  width: 70px;
  display: inline-block;
  top: 100px;
  text-align: center;
}


.inputWrap .inputWrap1{
  position: absolute;
  left: 38px;
  z-index: 9;
}
.inputWrap .inputWrap2{
  position: absolute;
  left: 652px;
  z-index: 9;
}
.inputWrap .inputWrap3 {
  position: absolute;
  top: 305px;
  left: 330px;
}
.inputWrap .inputWrap4 {
  position: absolute;
  top: 376px;
  left: 330px;
}
.inputWrap3 input,.inputWrap4 input {
  width: 160px;
  box-shadow: none;
  border:none;
  background-color: transparent;
}

.inputWrap3 input:nth-of-type(2) ,.inputWrap4 input:nth-of-type(2) {
  margin-left: 30px;
}

.page4 .inputWrap .quizButtons{
  position: absolute;
  bottom: -430px;
  right: 100px;
}

.page4 .inputWrap .quizButtons {
  bottom: -30px;
  right: -46px;
}
.page4 .inputWrap2 .quizButtons {
  bottom: -30px;
  right: -46px;
  
}

.page4 .quizButtons {
  right: 30px;
  bottom: 310px;
}


.alertContainer {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 5;
}
.alertContainer > p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 250px;
  font-size: 40px;
  font-family: BMJUA;
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
.alertContainer.on {
  display: flex;
}
.alertContainer.on > p {
  animation: zoomInAlert .5s ease-in-out;
}
@keyframes zoomInAlert {
  0% { transform: scale(0); }
  50% { transform: scale(1.1); }
}
@-o-keyframes zoomInAlert {
  0% { transform: scale(0); }
  50% { transform: scale(1.1); }
}
@-moz-keyframes zoomInAlert {
  0% { transform: scale(0); }
  50% { transform: scale(1.1); }
}
@-webkit-keyframes zoomInAlert {
  0% { transform: scale(0); }
  50% { transform: scale(1.1); }
}


.quizButtons.off {
  pointer-events: none !important;
}

.displayN {
  display: none;
}