@charset "utf-8";
.flexContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1144px;
  margin: 18px auto 0;
}
.flexContainer figure {
  width: 319px;
}
.flexContainer figure img {
  width: 100%;
  vertical-align: top;
}
.flexContainer .arrow.pink.right {
  margin: 210px 0 0 0;
}
.flexContainer .arrow.pink.right:after {
  background-image: url("../images/icon_arrow_purple.svg");
}
