/* .contentsBox h2{height: 110px;} */
.title .supply_guide{position: absolute;top: 10px;left: 950px;white-space: nowrap;}
.img-wrap {width:100%;position: relative;height: 350px;}
.img-wrap > div{position: absolute;}
.img-wrap img{width:100%;display:block;}
.img-wrap .img1{width: 260px;top: 43px;left: 400px;}
.img-wrap .img1 img.toggle-img{position: absolute; width: 100%; top:0; left:0;}
.img-wrap .n1{top: -250px;left: -40px;}
.img-wrap .n2{top: 170px;left: 520px;}
.img-wrap .n3{top: 130px;left: 259px;}
.img-wrap .n4{top: 130px;left: 725px;}
.study_guide{position: absolute;top: 0; right:0;}
.videoSubPlayBtn{position: absolute; right:0;top: -40px;}

.iframe-wrap{position: absolute;top: -90px;left: -56px;width: calc(100% + 116px);height: 577px;overflow: hidden; }

.toggle-img{opacity: 0;}
.img1.on .toggle-img{opacity: 1;}

.f1{position: absolute;top: 150px;left: 540px;}
.complete.f1{display: none;}


