#wrap main {z-index:0}
.popup_container{z-index: 1;}
.content-container{height: 530px;}
.suhi h2 .blankBox{
    min-width:40px;
    min-height:40px;
    max-width:40px;
    max-height:40px;
}
.suhi {font-size: 40px;}
.popup_contents div {font-size: 40px;}
.suhi .icon_o_title {position: relative;top: 3px;}
.popup_pages>li.whole h2.pop-tit{background-color:transparent !important; align-self:flex-start; padding:20px; }
.popup_pages .buttonContainer{right: 40px; bottom:20px}
.btns-bottom-right {bottom:10px}
.img-wrap {width: 100%;margin: 0 auto;text-align: center;}
.flexListContainer.wrap {justify-content: flex-start;margin: 0 auto;}
.flexListContainer.wrap > li {display: flex;align-items: center;}
.flexListContainer.wrap li + li {margin-top: 15px;}

.page_0 .flex-wrap{width: 100%; justify-content: space-around; text-align: center;}
.page_0 .flex-wrap > div{flex:1; margin:0 20px; position: relative;}
.page_0 .flex-wrap .img-wrap {width:100%;}
.page_0 .flex-wrap .img-wrap > img {width: 100%;height: auto;}
.page_0 .flex-wrap .balloon{top:0; width:100%; text-align: center;}
.page_0 .balloon{position: absolute;}
.page_0 .balloon.b3{top: 110px;left: 410px;width: 140px;}
.page_0 .balloon.b3::after{left:40%;}
.page_0 .balloon.b2{top: 66px;left: 170px;width: 230px;}
.page_0 .balloon.b1{top: 110px;left: 15px;width: 140px;}
.page_0 .text {position: absolute;right: 15px;top: 32px;}

.page_1 .img-wrap {position: relative;width: 883px;height: 400px;margin-top: -60px;background: url(../images/Suhi_p_0301_03_0003_2.png) 50% 50% /100% no-repeat;}
.page_1 .img-wrap .toggle {position: absolute;bottom: 12px;width: 360px;height: 165px;}
.page_1 .img-wrap .toggle:after {display: none;}
.page_1 .img-wrap .toggle.n1 {left: 80px;}
.page_1 .img-wrap .toggle.n2 {right: 80px;}
.page_1 .img-wrap .answer {width: 100%;height: 100%;box-sizing: border-box;}
.page_1 .img-wrap .toggle.n1 .answer {padding: 50px 20px 50px 10px;}
.page_1 .img-wrap .toggle.n2 .answer {padding: 50px 10px 50px 20px;}
.page_1 .img-wrap .answer .flex-wrap {flex-wrap: wrap;justify-content: center;}
.page_1 .img-wrap .answer .flex-wrap span {margin: 0 5px;}
.page_1 .img-wrap .answer .icon_o_title {width: 40px;height: 40px;}

.page_2 .img-wrap > img {width: 900px;height: auto;}
.page_3 .flexListContainer.wrap {width: 280px;margin-top: 65px;}
.page_4 .flex-wrap .text {margin-left: 10px;}
.page_4 .flex-wrap {align-items: center;height: 140px;}
.page_4 .img-wrap {position: relative;width: 350px;margin: 0;text-align: left;}
.page_4 .img-wrap > img {width: 80px;height: auto;}
.page_4 .balloon {position: absolute;top: -20px;right: 0;text-align: center;}

.page_5 h2 {z-index: 1;}
.page_5 .innerTab_1 .img-wrap {width: 100%;height: 425px;background: url(../images/Suhi_p_0301_03_0003_7.png) 50% 0 /100% no-repeat;}
.page_5 .innerTab_2 .img-wrap {width: 1190px;height: 419px;margin-left: -130px;background: url(../images/Suhi_p_0301_03_0003_8.png) 50% 0 /100% no-repeat;}
.page_5 .contentsBox {padding: 0!important;}
.page_5 .flexListContainer {position: relative;width: 763px;height: 100%;margin: 0 auto;}
.page_5 .flexListContainer li {display: flex;justify-content: space-between;}
.page_5 .flexListContainer li .text {position: absolute;line-height: 1;}
.page_5 .innerTab_1 .flexListContainer li .text.n1 {top: 118px;left: 61px;}
.page_5 .innerTab_1 .flexListContainer li .text.n2 {top: 80px;left: 189px;}
.page_5 .innerTab_1 .flexListContainer li .text.n3 {bottom: 69px;left: 210px;}
.page_5 .innerTab_1 .flexListContainer li .text.n4 {bottom: 55px;right: 35px;}

.page_5 .innerTab_2 .flexListContainer li .text.n1 {top: 87px;left: 26px;}
.page_5 .innerTab_2 .flexListContainer li .text.n2 {top: 29px;left: 215px;}
.page_5 .innerTab_2 .flexListContainer li .text.n3 {top: 168px;left: 212px;}
.page_5 .innerTab_2 .flexListContainer li .text.n4 {top: 212px;right: -6px;}
.page_5 .innerTab_2 .flexListContainer li .text.n5 {bottom: 50px;left: 26px;}
.page_5 .innerTab_2 .flexListContainer li .text.n6 {bottom: 35px;left: 235px;}

.solve.pop_page_1 .icon_o_title, 
.textBookPopup .icon_o_title {position: relative;top: 3px;}
.solve.pop_page_1 .popup_contents {letter-spacing: -.5px;}
.solve.pop_page_2 .flex-wrap,
.solve.pop_page_3 .flex-wrap {align-items: center;margin-top: 10px;}
.solve.pop_page_2 .flex-wrap .icon_arrow,
.solve.pop_page_3 .flex-wrap .icon_arrow {margin-right: 10px;}

.pop_page_1.whole .img-wrap {position: relative;width: 883px;height: 335px;margin-top: 20px;background: url(../images/Suhi_p_0301_03_0003_3.png) 50% 50% /100% no-repeat;}
.pop_page_1.whole .img-wrap .toggle {position: absolute;bottom: 12px;width: 296px;height: 152px;}
.pop_page_1.whole .img-wrap .toggle:after {display: none;}
.pop_page_1.whole .img-wrap .toggle.n1 {left: 110px;}
.pop_page_1.whole .img-wrap .toggle.n2 {right: 110px;}
.pop_page_1.whole .img-wrap .answer {width: 100%;height: 100%;padding: 35px 50px;box-sizing: border-box;}
.pop_page_1.whole .img-wrap .answer .flex-wrap {flex-wrap: wrap;justify-content: center;}
.pop_page_1.whole .img-wrap .answer .flex-wrap span {margin: 0 5px;}
.pop_page_1.whole .img-wrap .answer .icon_o_title {width: 40px;height: 40px;}
.pop_page_1.whole .textAlignC {font-size: 40px;}

.pop_page_3.whole .flexListContainer.wrap {width: 280px;margin-top: 170px;}

.pop_page_4.whole .contentsList + div > .contentsList {padding-left: 30px;margin-top: 50px;}
.pop_page_5.whole .lineBox {width: 90%;margin: 30px auto;padding: 20px;font-size: 40px;letter-spacing: -1px;}