.contentsBox section {padding: 0;}
#wrap header .title{display: flex;justify-content: flex-start;text-align: justify;}
#wrap header .title .bullet.number {margin-top: 5px;margin-right:10px;}
#wrap.q5 header .title .bullet.number + .bullet.number{margin-right:2px}
.contentsBox .flex-wrap {width: 1000px;height: 260px;align-items: flex-end;margin: 0 auto;}
.flex-item {text-align: center;}
.flex-item.n1 img {width: 58px;}
.flex-item.n2 img {width: 466px;}
.img-wrap {margin-bottom: 10px;}
.popup_pages>li.whole .popup_contents {height: 100%;}
.popup_pages>li.whole .dapCheckBtn {right: 40px;bottom: 20px;}
.popup_pages>li.whole .popup_contents .flex-wrap div {font-size: 40px;}
.popup_contents .textAlignC {width: 800px;margin: 10px auto 0;}
.popup_contents .textAlignC img {width: 655px;}
.whole.pop_page_3 .popup_contents .textAlignC img {width: 659px;}
.popup_contents .flex-wrap {width: 1050px;margin: 0 auto;}
.pop_page_3 .popup_contents .textAlignC {margin-top: 60px;}

.dragitem{
	visibility: visible !important;
	opacity: 1 !important;
	z-index: 1 !important;
	box-shadow: none !important;
	top: 67%;
	/* left:24%; */
	left: 50%;
	transform: translateX(-50%);
	z-index: 100 !important;
	background-color: transparent !important;
}

.solve {z-index: 101 !important;}
.ruler-bg {margin-top: 80px;text-align: center;}
.ruler {height: 120px;width: 690px;margin: 0 auto;background-color: #FFF3A8;border-radius: 10px;}
.popup_pages>li.min .popup_closeBtn {display: none;}
.pop_page_2.whole .ruler-bg {margin-top: 35px;}
.pop_page_3.whole .ruler-bg {margin-top: 78px;}
