.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_6_06_07_01/bg.svg); */
    /* background-image: url(../images/01.png); opacity: 0.5; */
}

.app-mind-map .map.title {
    left: 483px;
    top: 318px;
}

.app-mind-map .map-01 {
    left: 145px;
    top: 80px;
}
.app-mind-map .map-02 {
    left: 806px;
    top: 125px;
}
.app-mind-map .map-03 {
    left: 831px;
    top: 378px;
}
.app-mind-map .map-04 {
    left: 435px;
    top: 529px;
}
.app-mind-map .map-05 {
    left: 24px;
    top: 337px;
}