.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_6_02_06_03/bg.svg); */
    /* background-image: url(../images/mm_41_6_02_06_03.png); opacity: 1; */
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 120px;
    left: 1046px;
    top: 568px;
}
