.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_6_02_08_01/bg.svg); */
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 150px;
    left: 833px;
    top: 481px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 150px;
    left: 983px;
    top: 481px;
}
