.content-container > .content > .bg {
    background-image: url(../images/mm_41_6_04_05_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 415px;
    left: 195px;
    top: 548px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 605px;
    left: 625px;
    top: 548px;
}