.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_6_04_03_01/bg.svg); */
    /* background-image: url(../images/mm_41_6_04_03_01.png); opacity: 1; */
}

#btn-hint-01 {
    left: 1138px;
    top: 301px;
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 190px;
    left: 663px;
    top: 189px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 230px;
    left: 663px;
    top: 259px;
}

#quiz-03 .input-cont:nth-child(1) {
    width: 726px;
    left: 308px;
    top: 329px;
}
