.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_6_07_02_01/bg.jpg); */
    /* background-image: url(../images/01.png); opacity: 1; */
}

.img-box,
.quiz-01-answer {
    position: absolute;
    padding: 0 !important;
    margin: 0 !important;
    left: 0;
    top: 0;
}

/* 그냥 퀴즈 */
.quiz-01-answer {
    pointer-events: none;
    visibility: hidden;
}
.quiz-01-answer.show {
    visibility: visible;
}

.btn-answer-part {
    left: 1090px;
    top: 214px;
}