.content-container > .content > .bg {
    background-image: url(../images/mm_41_6_05_04_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

#btn-hint-01 {
    left: 1005px;
    top: 113px;
}


.q-box > .a-box {
    padding: 0 0 0px 280px !important;
}
.quiz-check .check-list {
    height: 128px;
}

.img-02 {
    position: absolute;
    left: 110px;
    top: 434px;
}

.ico-dd {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 60px;
}
.ico-dd::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 56px; 
    height: 56px;
    background-repeat: no-repeat;
    background-size: 56px 56px;
    background-position: center center;
    background-image: url(../images/mm_41_6_05_04_01/ico_dd_01.svg);
}
.ico-dd-01::before { background-image: url(../images/mm_41_6_05_04_01/ico_dd_01.svg); }
.ico-dd-02::before { background-image: url(../images/mm_41_6_05_04_01/ico_dd_02.svg); }
.ico-dd-03::before { background-image: url(../images/mm_41_6_05_04_01/ico_dd_03.svg); }