.content-container > .content > .bg {
    background-image: url(../images/mm_41_6_03_06_02/bg.svg);
    background-position-y: -11px;
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 420px;
    left: 430px;
    top: 424px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 420px;
    left: 430px;
    top: 484px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 420px;
    left: 430px;
    top: 544px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 420px;
    left: 430px;
    top: 604px;
}

/* 부분 정답 버튼 */
.btn-answer-part:nth-child(1) {
    left: 860px;
    top: 184px;
}