.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_6_03_03_01/bg.svg); */
    /* background-image: url(../images/mm_41_6_03_03_01.png); opacity: 1; */
}

/* 그냥 퀴즈 */
#quiz-02 .answer,
#quiz-03 .answer {
    pointer-events: none;
    position: absolute;
    left: 210px;
    top: 65px;
}

.btn-answer-part:nth-child(1) {
    left: 532px;
    top: 225px;    
}
.btn-answer-part:nth-child(2) {
    left: 962px;
    top: 225px;    
}