.content-container > .content > .bg {
	background-image: url('../../images/ms_41_6_05/ms_41_6_05_04_01/bg.svg');
}

.popup-more-one .bg {
	background-image: url('../../images/ms_41_6_05/ms_41_6_05_04_01/bg_more.svg');
}

.quiz-input-text .input-cont .answer {
	line-height: 56px;
}

.input-cont .btn-check {
	margin: -20px -25px 0 0;
}

#quiz-01 .input-cont:nth-child(1) {
	left: 457px;
	top: 295px;
	width: 55px;
	height: 56px;
}

#quiz-01 .input-cont:nth-child(2) {
	left: 1097px;
	top: 295px;
	width: 55px;
	height: 56px;
}

#quiz-01 .input-cont:nth-child(3) {
	left: 340px;
	top: 426px;
	width: 119px;
	height: 56px;
}

#quiz-01 .input-cont:nth-child(4) {
	left: 992px;
	top: 426px;
	width: 115px;
	height: 56px;
}

#quiz-02 .input-cont:nth-child(1) {
	left: 427px;
	top: 334px;
	width: 55px;
	height: 56px;
}

#quiz-02 .input-cont:nth-child(2) {
	left: 1067px;
	top: 334px;
	width: 55px;
	height: 56px;
}

#quiz-02 .input-cont:nth-child(3) {
    left: 331px;
    top: 465px;
	width: 96px;
	height: 56px;
}

#quiz-02 .input-cont:nth-child(4) {
    left: 982px;
    top: 465px;
    width: 95px;
    height: 56px;
}

.ico-figure-01.bb-61:before {
	background-image: url('../../images/ico_figure_1_0061.svg');
}

.ico-figure-01.bb-62:before {
	background-image: url('../../images/ico_figure_1_0062.svg');
}
