.suhi [class^="page_"] section {padding:0;}

.complete_txt {display:none;}
.complete .complete_txt {display:block;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:7px;left:0;margin:0;}

.suhi h2 .icon_x_title, .suhi h2 .icon_tri_title {margin:11px 0 0;}

.arrayNum {border-collapse:collapse;}
.arrayNum td {padding:10px;text-align:center;border:3px solid #000;}

.suhi .page_12 h2>ins.number {margin:8px 0 0;}

.suhi .page_34 h2>ins.number {margin:8px 0 0;}
.suhi .page_34 .imgContainer {display:flex;justify-content:space-around;}
.suhi .page_34 .imgContainer > div {position:relative;width:160px;height:440px;}
.suhi .page_34 .imgContainer > div span {display:block;text-align:center;}
.suhi .page_34 .imgContainer > div .img {position:absolute;left:0;right:0;bottom:0;}
.suhi .page_34 .imgContainer > div .img img {width:100%;}
.suhi .page_34 .imgContainer > div:first-child .img {text-align:center;}
.suhi .page_34 .imgContainer > div:first-child .img img {width:50%;}
.suhi .page_34 .imgContainer > div .lineBox {box-sizing:border-box;margin:20px 0 0;height:365px;}

.page_1 .arrayNum .toggle {display:block;margin:-10px;background:none;}
.page_1 .arrayNum .toggle .answer {text-align:center;}

.page_2 .quizBox {position:relative;width:320px;margin:0 auto;}
.page_2 .quizBox .line {position:absolute;left:-55px;top:30px;width:40px;height:75px;border:2px solid #000;border-right:none;}
.page_2 .quizBox > div {margin:20px 0 0;}
.page_2 .quizBox > div:first-child {margin:0;}

.page_3 .imgContainer {display:flex;justify-content:space-around;}
.page_3 .imgContainer > div {position:relative;width:160px;height:440px;}
.page_3 .imgContainer > div span {display:block;text-align:center;}
.page_3 .imgContainer > div .img {position:absolute;left:0;right:0;bottom:0;}
.page_3 .imgContainer > div .img img {width:100%;}
.page_3 .imgContainer > div:first-child .img {text-align:center;}
.page_3 .imgContainer > div:first-child .img img {width:50%;}
.page_3 .imgContainer > div .lineBox {box-sizing:border-box;margin:20px 0 0;padding:5px;height:365px;}
.page_3 .imgContainer > div .lineBox .toggle {background:none;padding:0;}
.page_3 .imgContainer > div .lineBox img {width:100%;}

.page_4 .toggle + .toggle {margin:20px 0 0;}
