body {
	background: url("../images/bgImg.png") center / cover no-repeat;
	/* background-position: 0 -116px;	 */
}

#bgCanvas {
	position: absolute;
	width: 1280px;
	height: 720px;
	top: -20px;
	left: 120px;
	/* left: 285px; */
}

#UiText {
	position: absolute;
	top: 59%;
	left: 5%;
	font-family: NanumGothicExtraBold;
	font-size: 100px;
	color: #66d1f1;
}

#calculation {
	position: absolute;
	top: 31%;
	left: 31%;
	font-family: NanumGothicExtraBold;
	font-size: 60px;
	color: #ccc;
}

#equalsSign {
	position: absolute;
	top: 47%;
	left: 14%;
	font-family: NanumGothicExtraBold;
	font-size: 60px;
	color: #ccc;
}

#equalsSignV {
	position: absolute;
	width: 300px;
	height: 13px;
	top: 47%;
	left: 181px;
	background: url('../images/line.png');
}

.line {
	width: 9px;
	height: 100%;
	top: 0px;
	left: 588px;
}

.question {
	font-family: NanumGothicExtraBold;
	position: absolute;
	font-size: 90px;
	color: #333333;
}

.key {
	display: inline-block;
	cursor: pointer;
	width: 92px;
	height: 80px;
	padding-right: 14px;
	padding-bottom: 13px;
}

#answer {
	font-family: NanumGothicExtraBold;
	position: absolute;
	font-size: 90px;
	color: #333333;
	width: 292px;
	height: 113px;
	line-height: 113px;
	background: url('../images/keypad_dapbox.png') no-repeat;
	width: 277px;
	padding: 0 24px;
	overflow: hidden;
	letter-spacing: 0px;
}

.question {}

#keypadContainerGroup {
	position: absolute;
	width: 342px;
	height: 445px;
	background: url('../images/calculator.png') no-repeat;
	padding-top: 36px;
	padding-left: 34px;
	left: 61%;
	top: 14%;
}

#note {
	position: absolute;
	top: 10%;
	left: 1%;
	width: 587px;
	height: 530px;
	background: url('../images/note.png') no-repeat;
}

#keypad {
	position: absolute;
	width: 1024px;
	height: 768px;
	top: 62px;
	left: 10px;
}