.title .bunsuWrap ul > li:first-of-type {border-color:#845e4d}

.gray-box {background-color:#efefef;border-radius:8px;height:44px;width:44px;display:inline-block;position:relative;top:4px;margin-right:4px}

.ex-img-box {display:flex;margin:0 auto;text-align:center}
.ex-img-box .img {width:200px}
.ex-img-box .img img {width:100%}
.ex-img-box .arrow {margin:0 40px}

.divide {position:relative;display:flex;justify-content:space-between;flex:1 0 100%;margin-top:10px;padding:0 2px}
.divide::before {content:'';position:absolute;top:3px;left:2px;right:2px;height:2px;background-color:#000}
.divide .divide-item {position:relative;width:2px;padding-top:10px}
.divide .divide-item .d-line {position:absolute;top:0;width:2px;height:8px;background-color:#000}
.divide .divide-item .num,
.divide .divide-item .bunsuWrap {position:absolute;top:10px;left:1px;transform:translateX(-50%);display:flex;align-items:center;height:80px;}

.innerTab_2 .lineBox {padding-left:20px;padding-right:20px;}
.innerTab_2 .lineBox .bunsuWrap .toggle {margin:8px 0}

.page_2 .bunsuWrap .num {display:inline-flex;justify-content:center;align-items:center;min-width:50px;min-height:52px;margin:8px 0}
.page_2 .bunsuWrap .toggle {margin:8px 0}
.page_2 .qBox {color:#00a0ff}