.content-container > .content > .bg {
    /* background-image: url(../images/mm_42_1_04_03_03/bg.png); */
    /* background-image: url(../images/mm_42_1_04_03_03.png); opacity: 1; */
}
.ico-oxt-01::before {
    width: 36px;
    height: 36px;
    top: 11px;
    left: 7px;
}

.ico-oxt-01.bb-02::before {
    background: url(../images/mm_42_1_02_03_02/x.svg);
}


#quiz-02 .answer{
    left: 189px;
    top: -10px;
}

.btn-answer-part:nth-child(2) {
    left: 1059px;
    top: 490px;
}


.quiz-check.image-answer {
    position: relative;
    left: 0;
    top: 30px;
}

#quiz-02 .quiz-00-answer.answer-part-00 {
    visibility: hidden;
}

#quiz-02.active .quiz-00-answer.answer-part-00 {
    position: absolute;
    left: 130px;
    top: 8px;
    visibility: visible;
}
