.content-container > .content > .bg {
    /* background-image: url(../images/mm_31_2_07_08_01/guide01.png); */
    /* background-image: url(../images/mm_31_2_07_08_01/guide01.png); opacity: 0.5; */
}

.app-mind-map .map.title {
    left: 483px;
    top: 318px;
}
.app-mind-map .map-01 {
    left: 99px;
    top: 175px;
}
.app-mind-map .map-02 {
    left: 529px;
    top: 78px;
}
.app-mind-map .map-03 {
    left: 853px;
    top: 185px;
}
.app-mind-map .map-04 {
    left: 853px;
    top: 487px;
}
.app-mind-map .map-05 {
    left: 472px;
    top: 537px;
}
.app-mind-map .map-06 {
    left: 60px;
    top: 379px;
}