.content-container > .content > .bg {
    /* background-image: url(../images/mm_42_1_02_04_02/bg.svg); */
    /* background-image: url(../images/01.png); opacity: 1; */
}

#quiz-01 .input-cont {
    width: 60px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 587px;
    top: 94px;
}

#quiz-01 .input-cont:nth-child(2) {
    left: 587px;
    top: 174px;
}

#quiz-01 .input-cont:nth-child(3) {
    left: 488px;
    top: 286px;
}

#quiz-01 .input-cont:nth-child(4) {
    left: 489px;
    top: 365px;
}
#quiz-01 .input-cont:nth-child(5) {
    left: 880px;
    top: 286px;
}

#quiz-01 .input-cont:nth-child(6) {
    left: 880px;
    top: 366px;
}

#quiz-01 .input-cont:nth-child(7) {
    left: 458px;
    top: 479px;
}

#quiz-01 .input-cont:nth-child(8) {
    left: 563px;
    top: 479px;
}
#quiz-01 .input-cont:nth-child(9) {
    left: 689px;
    top: 479px;
}

#quiz-01 .input-cont:nth-child(10) {
    left: 792px;
    top: 479px;
}

#quiz-01 .input-cont:nth-child(11) {
    left: 915px;
    top: 479px;
}
.btn-answer-part:nth-child(1) {
    left: 1070px;
    top: 233px;
}

.btn-answer-part:nth-child(2) {
    left: 984px;
    top: 477px;
}