.content-container > .content > .bg {
    /* background-image: url(../images/mm_42_1_04_04_01/bg.svg); */
    /* background-image: url(../images/01.png); opacity: 1; */
}
#quiz-01 .input-cont {
    width: 60px;
    margin-left: -42px;
    margin-top: 2px;
}
#quiz-01 .input-cont:nth-child(1) {
    left: 672px;
    top: 95px;
}

#quiz-01 .input-cont:nth-child(2) {
    left: 842px;
    top: 340px;
}

#quiz-01 .input-cont:nth-child(3) {
    left: 424px;
    top: 500px;
}

#quiz-01 .input-cont:nth-child(4) {
    left: 534px;
    top: 500px;
}

#quiz-01 .input-cont:nth-child(5) {
    left: 657px;
    top: 500px;
}

#quiz-01 .input-cont:nth-child(6) {
    left: 779px;
    top: 539px;
}

#quiz-01 .input-cont:nth-child(7) {
    left: 849px;
    top: 500px;
}
.btn-answer-part:nth-child(1) {
    left: 1059px;
    top: 259px;
}

.btn-answer-part:nth-child(2) {
    left: 885px;
    top: 547px;
}
