.content-container > .content > .bg {
    background-image: url(../images/mm_42_1_02_06_03/bg.svg);
    /* background-image: url(../images/03.png); opacity: 1; */
}

#quiz-01 .input-cont:nth-child(1) {
    left: 394px;
    top: 366px;
    width: 60px;
}

#quiz-01 .input-cont:nth-child(2) {
    left: 585px;
    top: 521px;
    width: 60px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 688px;
    top: 521px;
    width: 60px;
}

#quiz-01 .input-cont:nth-child(4) {
    left: 811px;
    top: 521px;
    width: 60px;
}

.btn-answer-part:nth-child(1) {
    left: 1069px;
    top: 315px;
}


.btn-answer-part:nth-child(2) {
    left: 878px;
    top: 567px;
}
