.title {position: relative;}
.title .supply_guide {position: absolute;left: 317px;bottom: 18px;}
.tableContainer {width: 1050px;margin: 0 auto;}
.tableContainer table {width: 100%;table-layout: fixed;}
.it-start-wrap{position:relative; z-index:2; min-height:180px; margin-top:40px;}
.dragObj{position:absolute; top:70px; width:80px; height:80px;text-align: center;}
.dragObj > img{width: 90%;}
.dragObj_1{left: 30px;}
.dragObj_2{left: 110px;}
.dragObj_3{left: 190px;}
.dragObj_4{left: 30px;}
.dragObj_5{left: 110px;}
.dragObj_6{left: 190px;}
.dragObj_7{left: 30px;}
.dragObj_8{left: 110px;}
.dragObj_9{left: 190px;}
.dropArea{width:100%; min-width:300px; min-height:150px;}
.dropArea_1{min-width:375px;}
.dropArea_2{min-width:250px;}
.dropArea_3{min-width:375px;}
.it-start-wrap .dragObj.dragObjComplete{opacity:.25;}
.it-end-wrap .dragObj.dragObjComplete{position:static; top:0; left:0;}
.it-end-wrap .textContainer li{font-size:35px; transform: translateX(-25px);}
.flex-wrap .lineBox {position: relative;flex: 1;height: 200px;padding: 20px;margin: 0 10px;}
.flex-wrap .lineBox .colorBox {position: absolute;left: 30px;top: -30px;width: 80%;text-align: center;}


.iframe-wrap{position: relative; width: 100%; height: 502px;overflow: hidden;}
.page-iframe{position: absolute; top:0; left:0;width: 1280px; height: 720px; margin: -191px 0 0 -110px;border:0;}