.page_1 .line-arrow{
    position: absolute;
    top: 64px;
    left: 318px;
    width: 550px;
    height:50px;
    border:4px solid #ff6400;
    border-bottom:0;
}
.page_1 .line-arrow .colorBox{position: absolute;left: 40%;top: -32px;}
.page_1 .line-arrow.n2 .colorBox{position: absolute;left: 40%;top: 19px;}
.page_1 .line-arrow.n2 {
    border:4px solid #37a259;
    border-top:0;
    top: 171px;
    left: 167px;
    width: 529px;
}
.page_1 .line-arrow::after{
    content: "";
    width:20px;
    height: 20px;
    border:4px solid #ff6400;
    border-right:0;
    border-bottom:0;
    position: absolute;
   
}
.page_1 .line-arrow.n2::after{
 border-color: #37a259;
}
.page_1 .line-arrow.rb::after{
    bottom: 0px;
    right: -14px;
    transform: rotate(-135deg);
}
.page_1 .line-arrow.rt::after{
    top: 0px;
    right: -14px;
    transform: rotate(45deg);
}
.page_1 .icon_arrow.big{width:100px}


.page_2 .img-wrap{width: 880px; margin:0 auto;position: relative;}
.page_2 .img-wrap img{width: 100%;}
.page_2 .img-wrap .icon_arrow.big{position: absolute;top: 80px;lefT: 380px;}


.page_3 .icon_arrow{transform: rotate(90deg); margin:30px}
.page_3 .lineBox{width:320px; display: flex; justify-content:center; align-items: center;}


.page_4 .img-wrap{width: 350px; margin:0 auto;position: relative;}
.page_4 .img-wrap img{width: 100%;}
.page_5 .img-wrap{width: 700px; margin:0 auto;position: relative;}
.page_5 .img-wrap img{width: 100%;}


.page_6 .img-wrap{width:880px; margin:30px auto 0;position: relative;}
.page_6 .img-wrap img{width: 100%;}
.page_6 .img-wrap > div{position: absolute; text-align: center;}
.page_6 .n1{top:20px;left:30px;}
.page_6 .n2{top:20px;left:274px;}
.page_6 .n3{top: 190px;left: 30px;}
.page_6 .n4{top: 190px;left: 274px;}
.page_6 .n5{top: 140px;left: 569px;}
.page_6 .img-wrap > div:not(.n5) div{margin-bottom:22px}








