.operator {display:inline-block;padding: 0 2px;vertical-align: middle;}
.pos-r{position:relative}
.pos-a{position:absolute}
.flex-center {display:flex;align-items:center;justify-content:center;}
.alignCneter {align-items: center;}
.justifySB {justify-content: space-between;}
.ta-c {text-align:center !important}
.ta-l {text-align:left !important}
.ta-r {text-align:right !important}
h2 .bunsuWrap {margin-top:-14px;}
#wrap header .title {display: inline-flex;height:52px;align-items: center;}
.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}

[class^='ex-'] {
    position: absolute;
}
.ex-gradation {position: absolute; top:0; left:0;font-size:30px;line-height:1;width: 100%;display: flex;align-items: center;justify-content: space-between;}

.labelBox > .colorBox {font-size: 40px;}

.page_1 img {height: 175px;}
.page_1 {font-size: 34px;}
.page_1 .top-item .flex-item {flex: 1 1 auto;width: 20%;}
.page_1 .top-item figure {flex: 1 1 auto;}

.page_2 img {height: 210px;margin: 0 auto;}
.page_2 .ex-gradation {left: -8px;width: 770px;}
.page_2 .ex-val-1 {top: 73%;left: 12.5%;}
.page_2 .ex-val-2 {top: 74%;left: 55%;}
.page_2 .ex-val-3 {top: 14%;left: 18%;}

.lineBox .colorBox {display: inline-block;}

.page_3 .colorBox {display: inline-block;}

.labelBox {position: relative;padding-top: 25px;}
.labelBox > .colorBox {position: absolute;top: 0;left:5%;}
.labelBox > .lineBox {padding-top: 40px;}
