.operator {display:inline-block;padding: 0 2px;vertical-align: middle;}
.flex-center {display:flex;align-items:center;justify-content:center;}
.alignCneter {align-items: center;}
.justifySB {justify-content: space-between;}
.ta-c {text-align:center !important}
.ta-l {text-align:left !important}
.ta-r {text-align:right !important}

[class^='ex-'] {
    position: absolute;
}

.page_2 .flex-item.n1 {
    width: 20%;
    flex: 1 1 auto;
}
.page_2 .flex-item.n1 div + div {
    margin-top: 30px;
}
.page_2 .flex-item.n2 {flex: 1 1 auto;}
.page_2 figure img {height: 365px;}
.page_2 .n2 .ex-val-1,
.page_2 .n2 .ex-val-2,
.page_2 .n2 .ex-val-3 {width: 100%;}
.page_2 .n2 .ex-val-1 {top: 4.5%;left: 0;}
.page_2 .n2 .ex-val-1 .toggle {width: 100%;}
.page_2 .n2 .ex-val-2 {top: 35.5%;left: 0;}
.page_2 .n2 .ex-val-2 .toggle {width: 100%;}
.page_2 .n2 .ex-val-3 {top: 69%;left: 0;}
.page_2 .n2 .ex-val-3 .toggle {width: 100%;}
.page_2 .n2 .ex-val-1 .click-finger-Btn,
.page_2 .n2 .ex-val-2 .click-finger-Btn,
.page_2 .n2 .ex-val-3 .click-finger-Btn {top:22%; left: 80%;}
.page_2 .n2 .ex-val-1 .toggle::after,
.page_2 .n2 .ex-val-2 .toggle::after,
.page_2 .n2 .ex-val-3 .toggle::after {display: none;}
.page_2 .n2 .ex-val-1 .answer.on,
.page_2 .n2 .ex-val-2 .answer.on,
.page_2 .n2 .ex-val-3 .answer.on {height: 100px;}

.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}

.pop_page_1 .ex-balloon-1 {top: 12%;left: 11%;}
.pop_page_1 .ex-balloon-1::after {left: 80% !important;}
.pop_page_1 .ex-balloon-2 {top: 0%;left: 40%;}
.pop_page_1 .ex-balloon-3 {top: 7%;left: 65%;}
.pop_page_1 .ex-balloon-3::after {left: 20% !important;}

.popup_pages .pop_page_1 img {margin-top: 30px;}