.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}


.img-wrap {width: 610px; margin: 0 auto ; position: relative;}
.img-wrap img{width: 100%; display: block;}
.img-wrap > div{position: absolute;}

.b1{top:0; left:0;}
.b2{top:0; left:0;}















