.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}


.img-wrap {width: 610px; margin: 0 auto ; position: relative;}
.img-wrap img{width: 100%; display: block;}
.img-wrap > div{position: absolute;}

.b1{top: 50px; left: -40px;width: 270px;}
.b2{top: 50px; left: 710px;width: 300px;}

.page_4 .img-wrap{position:relative; width:90%; margin:0 auto;}
.page_4 .img-wrap img{width: 100%;}
.page_4 .balloon{text-align: center;}











