.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}


.img-wrap {width: 610px; margin: 0 auto ; position: relative;}
.img-wrap img{width: 100%; display: block;}
.img-wrap > div{position: absolute;}

.b1{top: 50px; left: -40px;width: 270px;}
.b2{top: 50px; left: 710px;width: 300px;}

.page_4 .img-wrap{position:relative; width:90%; margin:0 auto;}
.page_4 .img-wrap img{width: 100%;}
.page_4 .balloon{text-align: center;}

.page_4 .toggle.complete .click-finger-Btn{display: none;}
.page_4 .toggle{background-color: transparent; padding:0; position: absolute;}
.page_4 .toggle::after{display: none;}
.page_4 .t1{top: 230px; left: 220px;}
.page_4 .t2{top: 210px; left: 790px;}

.page_4 .line.n1{position: absolute; top: -80px; left: 214px; width: 184px; height: 99px; border-top: 6px solid yellow;  border-bottom: 6px solid yellow;}
.page_4 .line.n2{position: absolute; top: -56px; left: -359px; width: 177px; height: 102px; border-left:6px solid yellow;  border-right:6px solid yellow;}



