.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}


.img-wrap {width: 610px; margin: 0 auto ; position: relative;}
.img-wrap img{width: 100%; display: block;}
.img-wrap > div{position: absolute;}
.img-wrap .answer >div{position: absolute;}
.tableContainer {width:900px}
.balloon{text-align: center;}

.b1{top: -10px; left: -130px;}
.b2{top: 50px; left: 570px;width: 280px;}
.img-wrap .toggle.complete .click-finger-Btn{display :none}
.img-wrap .toggle::after{display: none;}
.t1{top: 210px; left: 200px;padding: 0;background: transparent;}
.t2{top: 230px; left: 450px;padding: 0;background: transparent;}
.n1{top: -30px; left: -60px;width: 200px;}
.n2{top: 10px; left: -10px;width: 160px;}
.n3{top: -10px; left: -60px;width: 200px;}
.n4{top: 10px; left: 100px;width: 160px;}

table .toggle{width:100%; height: 100%; background-color: transparent; display: flex; justify-content: center; align-items: center;}
















