.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}

.flex-wrap{justify-content: space-between;}
.img-wrap { position: relative;}
img{width: 500px; display: block;}
.toggle{background-color: transparent; padding: 0; width: 500px;}
.toggle.complete .icon_arrow{animation: none;}
.icon_arrow {position:absolute; left: -50px; top: 239px; cursor: pointer;}
.icon_arrow {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}

.toggle::after{display: none;}

.txt{
    position: absolute;
    top: 290px;
    lefT: 0;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    text-align: justify;
    color:#000 !important;
    font-family: NotoM !important;
    font-weight: 400 !important;
}










