#wrap header .title{padding-bottom: 10px;}
.title .blankBox.w50 {
    border: 5px solid #efefef;
    background-color: #fff;
    box-sizing: border-box;
}

.img-wrap img{width: 100%;}

.img-wrap{width:400px; margin:0 auto; padding:20px 0 0}
.examViewBtn.reset:before {
    padding-left: 21px;
    content: "다시하기"
}
.examViewBtn:before, .writeBtn:before{
    padding-left: 27px;
}

.page_1 .dragDropContainer {
	height: 300px;
}
.page_1 .bogiContainer {
	margin: 10px auto 0;
}
.page_1 .bogiContainer .inner {
	height: 150px;
}
.page_1 .study_guide {
    right:0;
    top:-20px
}
.page_1 .dropArea,
.page_1 .dragObj {
	position: absolute;
	font-size: 32px;
	box-sizing: border-box;
}
.page_1 .dragObjUL{
    width:500px;
    margin:30px auto 30px;
    height: 100px;
    position: relative;
   
}
.page_1 .dragObj {
	text-align: center;
	position: absolute;
	top:12px;
	left: 20px;
}
.page_1 .dragObj_2 {
    left: 120px;
}
.page_1 .dragObj_3 {
    left: 220px;
}
.page_1 .dragObj_4 {
    left: 320px;
}
.page_1 .dragObj_5 {
    left: 420px;
}
.page_1 .dropAreaUL{
    position: relative;
    width: 800px;
    margin:0 auto;
    background: url(../images/suh_h_0301_04_0809_101_1/suh_h_0301_04_0809_101_1_2.png) no-repeat 50% 0 / 100%;
    height:300px
}

.page_1 .dragObjUL .dragObjComplete {
	opacity:0;
    visibility: hidden;
}
.page_1 .dropAreaUL .dropArea {
	top: 110px;
	left: 0;
	width:80px;
	height: 100px;
	border:5px solid #ccc;
	border-radius: 8px;
}
.page_1 .dropAreaUL .dropArea_1{left: 33px;}
.page_1 .dropAreaUL .dropArea_2{left: 113px;}
.page_1 .dropAreaUL .dropArea_3{left: 645px;}


.page_2 .bullet.exam{position:absolute;top: 4px;left: 30px;}
.page_2 .sup{pointer-events: none;}
.page_2 .layout-tbl{width: auto; margin:0 auto;}
.page_2 .layout-tbl td{vertical-align: top;}
.page_2 .layout-tbl td.n1{width:113px; padding-right:20px; padding-top:6px}
.page_2 .layout-tbl td.n2{width:300px}
.page_2 .layout-tbl tr > *{padding-bottom:50px}
.page_2 .layout-tbl tr:last-child > *{padding-bottom:0;}
.page_2 .layout-tbl .flex-wrap{align-items: center;}
.page_2 .layout-tbl img + img{margin-left:10px}


.page_3 .toggle .answer{justify-content: flex-start; text-align: left; display: flex;}








