.contentsBox section{padding:0;}
.toggle .answer{position: relative;text-align: justify;}

header .title .popBtn.textInBtn.inline {top:4px;}

.page_1 .tableContainer {width:100%;}
.page_1 .tableContainer table td,
.page_1 .tableContainer table th {font-size:35px;}
.page_1 .tableContainer table td {padding:10px 0;}
.page_1 .tableContainer .toggle {padding:0;background:none;}
.page_1 .tableContainer .toggle .answer {font-size:35px;text-align:center;}

.page_2 .textAlignC .toggle {margin:20px 0 0;}
.page_2 .textAlignC .toggle:first-child {margin:0;}

.pop_page_1 .full-img {padding:100px 0 0;}

.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {flex-shrink:0;margin:7px 10px 0 0 !important;;align-self:flex-start}