.contentsBox section{padding:0;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

header .title .popBtn.textInBtn.inline {top:4px;}
header .title .supply_guide.inline {margin:7px 0 0 5px;}

.page_1 .imgContainer {text-align:center;}
.page_1 .imgContainer > div {display:inline-block;position:relative;height:500px;}
.page_1 .imgContainer > div img {height:100%;}
.page_1 .imgContainer > div .text {position:absolute;}
.page_1 .imgContainer > div .text.text_1 {left:36px;top:13px;font-size:18px;}
.page_1 .imgContainer > div .text.text_2 {display:flex;justify-content:space-between;right:94px;top:20px;width:154px;font-size:20px;}
.page_1 .imgContainer > div .text.text_2 > div > div:nth-child(1) {padding:15px 0 0;}
.page_1 .imgContainer > div .text.text_2 > div > div:nth-child(2) {margin:58px 0 0;}
.page_1 .imgContainer > div .text.text_2 > div > div:nth-child(3) {margin:57px 0 0;}
.page_1 .imgContainer > div .text.text_3 {left:99px;bottom:94px;}
.page_1 .imgContainer > div .text.text_3 .tableContainer table th,
.page_1 .imgContainer > div .text.text_3 .tableContainer table td {font-size:20px;}
.page_1 .imgContainer > div .text.text_3 .tableContainer table th img {height:28px;vertical-align:-5px;}
.page_1 .imgContainer > div .text.text_4 {display:flex;justify-content:space-between;right:38px;bottom:160px;width:241px;font-size:18px;}
.page_1 .imgContainer > div .text.text_4 img {height:25px;vertical-align:-7px;}
.page_1 .imgContainer > div .text.text_4 > div:nth-child(2) {margin:23px 0 0;}

.page_2 .textAlignC .toggle {margin:20px 0 0;}

.page_3 .tableContainer {display:flex;justify-content:center;}
.page_3 .tableContainer .bullet {flex-shrink:0;margin:0 20px 0 0;}
.page_3 .tableContainer .toggle {background:none;}

.page_4 .lineBox {display:flex;justify-content:center;}
.page_4 .lineBox .bullet {flex-shrink:0;margin:10px 20px 0 0;}
.page_4 .lineBox .toggle {padding:5px 10px;}