.contentsBox section{padding:0;}
.contentsBox .toggle .answer{position: relative;text-align: justify;}
.contentsBox .toggle .answer .bullet.exam{position: absolute;top:0;left:0;}
.contentsBox .toggle.duplicate {position:static;padding:0;background:none;}
.contentsBox .toggle.duplicate .answer {position:static;padding:0;background:none;}
.contentsBox .toggle.duplicate:after {display:none;}
.contentsBox .toggleBlank {vertical-align:-3px;}

.page_1 .tableContainer {width:800px;}
.page_1 .tableContainer .toggle {padding:0;background:none;}
.page_1 .textAlignC {margin:20px 0 0;}

.page_2 .tableContainer {width:800px;}
.page_2 .textAlignC {margin:20px 0 0;}

.page_3 .tableContainer {width:800px;}
.page_3 .tableContainer .toggle {padding:0;background:none;}
.page_3 .textAlignC .toggle {margin:20px 0 0;}

.page_4 .tableContainer {width:800px;}
.page_4 .tableContainer .toggle {padding:0;background:none;}
.page_4 .textAlignC {margin:20px 0 0;}

.page_5 .tableContainer {width:800px;}
.page_5 .tableContainer .toggle {padding:0;background:none;}
.page_5 .textAlignC {margin:20px 0 0;}