.page_2 .formula_box{display: flex;align-items: center;}
.page_2 .formula_box > li{display: flex;align-items: center;}


.page_4 .dragLineContainer {width:700px;margin:0 auto;}
.page_4 .dragLineContainer > ul > li {position:relative;margin:20px 0 0;}
.page_4 .left_1 {left:380px;}
.page_4 .left_2 {left:780px;}
.page_4 .top_1 {top:80px;}
.page_4 .top_2 {top:220px;}
.page_4 .top_3 {top:360px;}


.page_6 .img_box{position: relative;margin: 0 auto;}
.page_6 .img_box img{width: 600px;}
.page_6 .img_box .text_01{position: absolute;top: 180px;left: 0px;font-size: 25px;}
.page_6 .img_box .text_02{position: absolute;top: 100px;left: 290px;font-size: 25px;}
.page_6 .img_box .text_03{position: absolute;top: 180px;right: 20px;font-size: 25px;}
.page_6 .img_box .text_04{position: absolute;top: 50px;left: 170px;font-size: 25px;}
.page_6 .img_box .text_05{position: absolute;top: 50px;left: 420px;font-size: 25px;}

.page_6 .flex-box{margin-top: 45px;}
.page_6 .colorBox{margin-top: -10px;}
.page_6 .answer{text-align: justify;}

.popup_container .popup_pages .contentsList .dot{margin-top: 35px;}
.pop_page_1 .flex-box{align-items: center;}