.page_4 .dragLineContainer {width:700px;margin:0 auto;}
.page_4 .dragLineContainer > ul > li {position:relative;margin:20px 0 0;}
/* .page_4 .dragLineContainer > ul > li:first-child {margin:0;} */
/* .page_4 .dragLineContainer > ul > li .complete_txt {position:absolute;left:12px;top:65px;text-align:left;} */
.page_4 .left_1 {left:380px;}
.page_4 .left_2 {left:780px;}
.page_4 .top_1 {top:80px;}
.page_4 .top_2 {top:220px;}
.page_4 .top_3 {top:360px;}


.popup_container .popup_pages .contentsList .dot{margin-top: 35px;}