#wrap main {
    z-index: 0
}
.contentsBox .basicSlider.contentsBox {
    padding: 0;
}

.popup_container {
    z-index: 1;
}

.content-container {
    height: 530px;
}

.suhi h2 .blankBox.w40 {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
}
.popup_contents .colorBox:not(.check),
.popup_contents .lineBox {
    font-size: 40px;
}

.popup_pages>li.whole h2.pop-tit {
    background-color: transparent !important;
    align-self: flex-start;
    padding: 20px;
}

.popup_pages .buttonContainer {
    right: 40px;
    bottom: 20px
}

.btns-bottom-right {
    bottom: 10px
}

.img-wrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* .flexListContainer.wrap {
    justify-content: flex-start;
    margin: 0 auto;
}

.flexListContainer>li {
    display: flex;
    align-items: center;
}

.flexListContainer.wrap li+li {
    margin-top: 15px;
}

.flex-wrap {
    align-items: center;
}

.flex-wrap .icon_arrow {
    margin-right: 10px;
}

.flexListContainer.column li {
    display: flex;
    align-items: center;
}

.flexListContainer.column li+li {
    margin-top: 15px;
}

.flexListContainer.column li>div {
    display: flex;
}

.flexListContainer.column li>div:first-child {
    display: flex;
    justify-content: flex-end;
    min-width: 132px;
    margin-right: 10px;
}

.flexListContainer.column li .colorBox.check {
    margin-right: 0;
}

.flexListContainer.column li .colorBox.check.skyBlue {
    width: 132px;
    text-align: center;
} */

.colorBox.inline,
.lineBox.inline {
    min-width: 40%;
    display: inline-block;
    margin: 0 auto;
    padding: 30px 40px;
    text-align: center;
}

.st1 .img-wrap {position: relative;}
.st1 .flexListContainer .toggle.bg {width: 600px;height: 200px;background: url(../images/img_01.png) 50% 50% /100% no-repeat;}
.st1 .flexListContainer .toggle.bg:after {display: none;}
.st1 .flexListContainer .toggle.bg.complete {background: none;}
.st1 .flexListContainer .toggle .answer {width: 731px;height: 210px;background: url(../images/suhi_p_0301_05_0004_1.png) 50% 50% /100% no-repeat;margin-left: -78px;}
.st1 .tableContainer {margin: 30px auto 0;padding: 0 30px;}
.st1 .tableContainer .toggle.noBg {width: 100%;padding: 6px;}
.st1 .tableContainer .answer .contentsList li {justify-content: center;}
.st1 .tableContainer .answer .contentsList .exam + div {width: auto;}

.pop_page_1.whole .flexListContainer .toggle.bg {width: 660px;height: 232px;background: url(../images/img_02.png) 50% 50% /cover no-repeat;}
.pop_page_1.whole .flexListContainer .toggle.bg:after {display: none;}
.pop_page_1.whole .flexListContainer .toggle.bg.complete {background: none;}
.pop_page_1.whole .flexListContainer .toggle .answer {width: 784px;height: 232px;background: url(../images/suhi_p_0301_05_0004_2.png) 50% 50% /100% no-repeat;margin-top: -10px;margin-left: -25px;}

.suhi h2+section .study_guide {
    top: 0 !important;
}

.st2 .dragLineContainer {
    margin-top: 60px;
}

.dragLineContainer .colorBox+.colorBox {
    margin-top: 40px;
}
.dragLineContainer .colorBox {
 padding: 18px 12px;
}
.dragLineContainer>div>div {
    margin: 10px 0;
    text-align: center;
}

.dragLineContainer>.right>div {
    width: 280px;
}

.dragLineContainer>.left>div {
    width: 320px;
}

.st2 .left_1 {
    left: 404px;
}

.st2 .right_1 {
    left: 744px;
}

.st2 .top_1 {
    top: 117px;
}

.st2 .top_2 {
    top: 242px;
}

.st2 .top_3 {
    top: 372px;
}

.st3 .lineBox.flex-wrap {justify-content: space-around;width: 90%;margin: 30px auto;padding: 20px;}
.st3 .lineBox.flex-wrap div > div {margin: 10px 0;}

.popup_contents .contentsList li .icon_o_title {position: relative;top: 3px;}
.page_3 .bullet.number.green, 
.pop_page_2.solve .bullet.number.green,
.pop_page_3.whole .bullet.number.green {
    position: relative;
    top: -3px;
    display: inline-block;
    margin-top: 0;
    border: 2px solid #6dbc4b;
    color: #6dbc4b;
}
.pop_page_2.solve .bullet.number.green {margin-top: 0;position: relative;top: -3px;}
.page_5 figure {position: relative;width: 100%;height: 340px;text-align: center;margin: -10px auto 5px;}
.page_5 figure .text {position: absolute;z-index: 1;font-size: 22px;letter-spacing: -1.5px;}
.page_5 figure .text.n1 {top: 10px;left: 552px;}
.page_5 figure .text.n2 {top: 174px;left: 180px;}
.page_5 figure .text.n3 {top: 184px;left: 348px;}
.page_5 figure .text.n4 {top: 168px;left: 625px;}
.page_5 figure .text.n5 {top: 179px;left: 726px;}
.page_5 figure .text.n6 {top: 162px;left: 834px;}
.page_5 figure .text.n7 {top: 301px;left: 569px;}
.page_5 .btn_1.zoomBtn {
    width: 800px;
    height: 330px;
    margin-left: -40px;
    background: url(../images/suhi_p_0301_05_0004_6.png) 50% 50% /100% no-repeat;
    border: none;
}
.page_5 .btn_1.zoomBtn:after {right: -40px;bottom: 0;}

.page_4 .flexListContainer li {display: flex;align-items: center;height: auto;padding-right: 30px;}
.page_4 .flexListContainer li + li {margin-top: 5px;}
.page_4 .flexListContainer li > div {display: flex;align-items: center;width: 100%;}
.page_4 .flexListContainer li .name {display: flex;justify-content: center;flex-wrap: wrap;width: 100px;text-align: center;}
.page_4 .flexListContainer li .name img {width: 70px;}
.page_4 .flexListContainer li .ox-wrap {display: flex;align-items: center;justify-content: center;width: calc(100% - 120px);margin-left: 10px;}
.page_4 .flexListContainer li .ox-wrap span {text-decoration: underline;}
.page_4 .flexListContainer li .ox-wrap .balloon {width: 100%;}
.page_4 .flexListContainer li .ox-wrap .icon {position: absolute;padding: 10px;z-index: 1;}
[data-quiz="ox"] .complete .balloon {background-color: #fff;color: #000;}

.page_4 h2 + section {padding-left: 0;}
.page_4 .innerTab_2 .flex-wrap {align-items: center;margin: 40px auto 0;}
.page_4 .innerTab_2 .flex-wrap .colorBox {margin-right: 10px;padding: 12px 12px;font-family: 'YGJAL';font-size: 24px;}
.page_4 .innerTab_2 .flex-wrap .toggle {padding: 8px 16px;}

.page_5 .bullet.circleDot {margin: .5em 10px 0 0;}
.page_5 h2 + section {padding-left: 0;}

.pop_page_2.whole section {position: relative;}
.pop_page_2.whole .study_guide {top: -50px;right: 0;}
.pop_page_2.whole .dragLineContainer>.left>div {width: 340px;}
.pop_page_2.whole .dragLineContainer .colorBox {padding: 18px 12px;}
.pop_page_2.whole .st2 .dragLineContainer {padding: 0 30px;}
.pop_page_2.whole .st2 .left_1 {left: 405px;}
.pop_page_2.whole .st2 .right_1 {left: 745px;}
.pop_page_2.whole .st2 .top_1 {top: 56px;}
.pop_page_2.whole .st2 .top_2 {top: 182px;}
.pop_page_2.whole .st2 .top_3 {top: 316px;}

.pop_page_4.whole .flexListContainer {align-items: center;width: 80%;margin: 50px auto 0;padding-right: 80px;box-sizing: border-box;}
.pop_page_4.whole .flexListContainer li {display: flex;align-items: center;width: 100%;height: 90px;}
.pop_page_4.whole .flexListContainer li div {display: flex;align-items: center;}
.pop_page_4.whole .flexListContainer li .nameBox {min-width: 90px;font-size: 40px;}
.pop_page_4.whole .flexListContainer li + li {margin-top: 15px;}
.pop_page_4.whole .flexListContainer li .ox-wrap {justify-content: center;width: 90%;margin-left: 30px;}
.pop_page_4.whole .flexListContainer li .ox-wrap .icon {position: absolute;padding: 10px;z-index: 1;}
.pop_page_4.whole .flexListContainer li .ox-wrap .balloon {display: block;width: 100%;text-align: center;}

.pop_page_5.whole .img-wrap {margin: 0 auto 20px;text-align: center;}
.pop_page_5.whole img {width: 450px;}
.pop_page_5.whole .dotList {padding-left: 30px;}
.pop_page_5.whole .dotList li {font-size: 40px;}

.pop_page_4.solve .popup_contents > p,
.pop_page_5.solve .popup_contents > p,
.pop_page_6.solve .popup_contents > p {padding-left: 20px;}

.whole.image {padding-top: 50px;}
.whole.image .img-wrap {position: relative;text-align: center;}
.whole.image .img-wrap > img {width: 100%;}
.whole.image .img-wrap .text {position: absolute;z-index: 1;font-size: 40px;letter-spacing: -1.6px;}
.whole.image .img-wrap .text.n1 {top: 38px;left: 635px;}
.whole.image .img-wrap .text.n2 {top: 279px;left: 97px;}
.whole.image .img-wrap .text.n3 {top: 293px;left: 343px;}
.whole.image .img-wrap .text.n4 {top: 271px;left: 747px;}
.whole.image .img-wrap .text.n5 {top: 287px;left: 890px;}
.whole.image .img-wrap .text.n6 {top: 262px;left: 1047px;}
.whole.image .img-wrap .text.n7 {top: 464px;left: 662px;}

[data-quiz="ox"].complete .characterImg, 
[data-quiz="ox"].complete .balloon {pointer-events: inherit;}