
.popup_pages .flex-wrap{justify-content:space-around; width: 80%; margin:0 auto}
.page_1 .icon_arrow {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}
.icon_arrow {cursor: pointer;}
.icon_arrow.complete{animation: none;}
.hid{opacity: 0;}
.hid.on{opacity: 1;}

.math_calc_table.type-2{width:150px;}
.math_calc_table .answer{letter-spacing: 29px;}
.page_1 .lineBox.sky{padding:30px 40px;height: 430px; }
.page_1 .lineBox img{width:240px}
.page_1 .flex-wrap{margin:0 auto; justify-content: space-around;align-items: center; padding:0 100px}
.page_1 .textAlignC{margin:50px auto 0;}

.pop_page_1  li{align-items: center;}
.pop_page_1 img{width:100px; margin-right:20px}
.pop_page_1 .contentsList .dot.deepGreen, 
.pop_page_1 .dotList.deepGreen>li:before{
    margin-top:45px
}

.page_2 .textAlignC{margin:40px 0}
.page_2 .math_calc_table.class3.type-time tr td.gap2{
    min-width: 40px;
    max-width: 40px;
}

.page_3 .txt{position: absolute; top: 80px; left: 448px;}
.page_3 .flex-wrap{justify-content: space-around;padding: 0 90px;}
.page_3 .textAlignC img{
    width: 620px;
    display: block;
    margin: 0 auto;
}
.page_3 .math_calc_table{position: absolute;top: 200px;left: 270px;}
.page_3 .colorBox.check{margin:-12px auto 10px;}
/* 
.page_3 .lineBox{width:280px; text-align: center;}
.page_3 .flex-wrap{align-items: center; margin:20px auto; }
.page_3 .flex-wrap > div{margin:0 20px}
.page_3 .list-check-item{display: flex; align-items: center; margin: 20px 0;}
.page_3 .list-check-item > div{position:relative}
.page_3 .list-check-item img{width:380px; height: 50px;}
.page_3 .list-check-item  .n1 .toggle{position: absolute;background-color: transparent;top: -16px;left: 1px;width: 100%;padding: 0;}
.page_3 .list-check-item  .n1 .toggle::after{display: none;}
.page_3 .list-check-item .check{margin-right:20px}
.page_3 .list-check-item  .n1 .toggle .answer{font-size: 65px;font-weight: 400;font-family: 'NotoM';letter-spacing: -3px; text-align: left; padding-left: 20px;}
.page_3 .toggle .click-finger-Btn{top: 20px;left: 170px;}
.page_3 .toggle.complete .click-finger-Btn{display: none;} */


.page_4 .flex-wrap{justify-content: space-around; margin-top:60px}
.page_4 .flex-wrap > div >div{margin:50px 0}



.page_5 .tableContainer{margin:30px auto 30px}

.page_6 img{display: block; float:right; width:570px}
.page_6 .flex-wrap{align-items: flex-start;}
.page_6 .img-wrap{position: relative; display: inline-block; width: 100%; margin-bottom:30px}
.page_6 .balloon{top:0; left:0; text-align: center;}
.page_6 .img-wrap .math_calc_table{
    position: absolute;
    top: 10px;
    right: 40px;
}

.page_7 .flex-wrap{justify-content: space-around; width:800px; margin: 50px auto 30px}
.page_7 .flex-wrap .bullet{transform: translate(0, 8px);}

.pop_page_6 .bullet {
    transform: translate(0, 4px);
}
.greenT{color:green !important;}


.math_calc_table.class3.type-time  tr td{padding:5px 1px !important; height: 60px; min-width:60px;max-width:60px; text-align: right;}
.math_calc_table.class3.type-time  tr td[colspan="2"]{min-width:60px;max-width:60px;}
.math_calc_table.class3.type-time  tr td.gap{min-width: 80px;max-width: 80px;text-align: left;}
.math_calc_table.class3.type-time  tr td.gap:last-child{min-width:55px;max-width:55px; text-align: left;}
.math_calc_table.class3.type-time  tr:first-child td{ height: 75px;}
.math_calc_table.class3.type-time .toggle .answer {
    position: absolute;
    right: 5px;
    letter-spacing: 0 !important;
    text-align: right !important;
    top: 2px;
}
.math_calc_table.class3.type-time .toggle {
    height: calc(100% - 4px);
    margin-top: 2px;
    width: 100%;
    margin-left: 4px;
}


.popup_pages .textBookPopup .popupInner{min-height: 240px;}
.popup_pages .textBookPopup .bullet.green.number{
    transform: translate(0, 9px);
}

.bullet.green.number {
    color: #6dbc4b;
    border: 2px solid #6dbc4b
}







