.sup {font-size:24px;position:relative;top:-8px}
.box-flex {display:flex}

.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important}

.tableContainer .toggle {width:100%;background-color:transparent}
.tableContainer th {height:60px}

.img-box {position:relative;margin-top:40px;text-align:center}
.img-box img {width:90%;vertical-align:top}
.img-box .txt-item {position:absolute;white-space:nowrap}
.img-box .txt-item.n1 {top:-10px;left:10px}
.img-box .txt-item.n2 {top:-10px;left:350px}
.img-box .txt-item.n3 {top:-10px;left:770px}
.img-box .txt-item.n4 {top:180px;left:240px}
.img-box .txt-item.n5 {top:71px;left:270px}
.img-box .txt-item.n6 {top:180px;left:660px}
.img-box .txt-item.n7 {top:74px;left:690px}
.img-box .txt-item.n8 {top:170px;left:960px}
.img-box .txt-item.n9 {top:71px;left:980px}

.img-box2 {position:relative;margin-top:40px;text-align:center}
.img-box2 img {width:70%;vertical-align:top}
.img-box2 .txt-item {position:absolute;white-space:nowrap}
.img-box2 .txt-item.n1 {top:-10px;left:170px}
.img-box2 .txt-item.n2 {top:-10px;left:580px}

.img-box3 {position:relative;margin:20px 0;text-align:center;height:220px}
.img-box3 img {width:56%;vertical-align:top}
.img-box3 .txt-item {position:absolute;white-space:nowrap}
.img-box3 .txt-item.n1 {top:10px;left:200px}
.img-box3 .txt-item.n2 {top:10px;left:620px}

.page_4 .box-flex {margin-top:20px;align-items:center;justify-content:center}
.page_4 .box-flex .toggle {margin:0 100px}

.page_5 .toggle {margin-top:20px}
.page_5 .basicSlider_slides {padding-left:60px;height:calc(100% - 260px);width:calc(100% - 60px)}
.page_5 .buttonContainer {z-index:2}

.page_5 .img-box2 {position:relative;text-align:center;height:300px;margin-top:40px}
.page_5 .img-box2 img {height:100%;vertical-align:top}
.page_5 .img-box2 .txt-item {position:absolute}
.page_5 .img-box2 .txt-item.n1 {top:135px;left:150px}
.page_5 .img-box2 .txt-item.n2 {top:-20px;left:329px}
.page_5 .img-box2 .txt-item.n3 {top:130px;left:870px}
.page_5 .img-box2 .txt-item.n4 {top:-25px;left:650px}
.page_5 .box-flex {align-items:center;justify-content:center;margin-top:20px}

.page_6 .innerTab_1 .box-flex {margin-bottom:40px}
.page_6 .innerTab_2 .box-flex {align-items:flex-start}
.page_6 .character-box {width:360px;position:relative}
.page_6 .lineBox {padding:20px 40px 60px;text-align:center;position:relative}
.page_6 .lineBox .txt-item {position:absolute;white-space:nowrap;letter-spacing:-2px}
.page_6 .lineBox .txt-item.n1 {top:10px;left:10px}
.page_6 .lineBox .txt-item.n2 {top:10px;left:250px}
.page_6 .lineBox .txt-item.n3 {top:10px;left:550px}
.page_6 .lineBox .txt-item.n4 {top:170px;left:20px}
.page_6 .lineBox .txt-item.n5 {top:155px;left:130px}
.page_6 .lineBox .txt-item.n6 {top:68px;left:155px}
.page_6 .lineBox .txt-item.n7 {top:180px;left:280px}
.page_6 .lineBox .txt-item.n8 {top:155px;left:385px}
.page_6 .lineBox .txt-item.n9 {top:60px;left:410px}
.page_6 .lineBox .txt-item.n10 {top:165px;left:680px}
.page_6 .lineBox .txt-item.n11 {top:125px;left:550px}
.page_6 .lineBox .txt-item.n12 {top:60px;left:525px}

.page_6 .lineBox img {width:100%;vertical-align:top}
.character-box .balloon {top:0;left:10px;right:0}
.character-box .balloon .textAlignC {letter-spacing:-1.5px;word-break:keep-all}
.character-box .balloon.bottom:after {left:110px}
.character-box .characterImg {bottom:-110px;left:50px}

.page_6 .buttonContainer {z-index:2}

