.tableContainer .toggle {background-color:transparent;padding:0}

.img-box-1 {position:relative;margin:20px auto;padding:0 260px}
.img-box-1 img {width:100%;vertical-align:top}
.img-box-1 .text-item {position:absolute;}
.img-box-1 .n1 {left:220px;top:0}
.img-box-1 .n2 {left:420px;top:0}
.img-box-1 .n3 {left:610px;top:0}
.img-box-1 .n4 {left:220px;top:150px}
.img-box-1 .n5 {left:420px;top:150px}
.img-box-1 .n6 {left:610px;top:150px}
.page_1 .dapCheckBtn,
.page_2 .dapCheckBtn {z-index:2}

.page_2 .box-flex {display:flex;justify-content:space-around}

.img-box-2 {position:relative;margin:20px auto 50px;padding:0 370px}
.img-box-2 img {width:100%;vertical-align:top}
.img-box-2 .text-item {position:absolute;}
.img-box-2 .n1 {left:490px;top:-40px}
.img-box-2 .n2 {left:340px;top:225px}
.img-box-2 .n3 {left:520px;top:270px}
.img-box-2 .n4 {left:640px;top:185px}
.img-box-2 .n5 {left:460px;top:170px}

.img-box-3 {position:relative;margin:20px auto;padding:0 210px}
.img-box-3 img {width:100%;vertical-align:top}
.img-box-3 .txt-item {position:absolute;white-space:nowrap}
.img-box-3 .n1 {left:160px;top:0}
.img-box-3 .n2 {left:590px;top:0}

.tableContainer {width:100%}
.tableContainer .toggle {text-align:center}

.page_4 .buttonContainer {z-index:2}
.page_4 .box-flex {display:flex;align-items:flex-start}
.page_4 .box-flex .check {flex-shrink:0;margin-right:10px}
.img-box-4 {position:relative;margin-bottom:20px;padding:0 360px}
.img-box-4 img {width:100%;vertical-align:top}
.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {flex-shrink:0}