
@charset "utf-8";

/***********************
* 초등 전자저작물 *
* 수학 3-4학년 *
* index.css *
***********************/



/************************* lesson BG *************************/
.lesson_1:before {
  background: url(../images/bg/contents_bg_lesson1.png) 666px 140px / auto no-repeat;
}
.lesson_2:before {
  background: url(../images/bg/contents_bg_lesson2.png) 666px 140px / auto no-repeat;
}
.lesson_3:before {
  background: url(../images/bg/contents_bg_lesson3.png) 666px 140px / auto no-repeat;
}
.lesson_4:before {
  background: url(../images/bg/contents_bg_lesson4.png) 666px 140px / auto no-repeat;
}
.lesson_5:before {
  background: url(../images/bg/contents_bg_lesson5.png) 666px 140px / auto no-repeat;
}
.lesson_6:before {
  background: url(../images/bg/contents_bg_lesson6.png) 666px 140px / auto no-repeat;
}
.creative:before {
  background: url(../images/bg/contents_bg_lesson7.png) 666px 140px / auto no-repeat;
}
/*********************** lesson BG END ***********************/




/* imageLineBox */
.imageLineBox {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid lightgray;
  background-color: #fff;
}
.imageLineBox:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.sameThing,
.differenceThing {
  width: 166px;
  height: 84px;
  background: url(../images/icon_sameThing_differenceThing.svg) center left / auto 100% no-repeat;
}
.sameThing {
  background-position-x: left;
}
.differenceThing {
  background-position-x: right;
}