@charset "utf-8";
figure { position: relative; }
figure img {
  width: 100%;
  vertical-align: top;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
}
.flexContainer.wrap { flex-wrap: wrap; }
.flexContainer .shrink { flex-shrink: 0; }
.displayN { display: none !important; }

.inputQuizContainer {}
.inputQuizContainer input {
  width: 100%;
}

.contentsArea section figure {
  position: relative;
  margin: 0 auto 10px;
  width: 490px;
}
.clickButton[data-popup-btn="1"] {
  left: 840px;
}
.page1 .flexContainer {
  width: 1150px;
}
.page1 .flexContainer input {
  display: inline-block;
  width: 404px;
}

.page2 .inputQuizContainer input {
  width: 150px;
  margin-right: 5px;
}
.page3 .popupButton.head {
  top: -75px;
}

.popup_pages > li[data-popup-page="1"] figure {
  width: 900px;
  margin: 0 auto;
}
.popup_pages > li[data-popup-page="2"] {
  width: 1080px;
  top: 105px;
  right: 80px;
}
.popup_pages > li[data-popup-page="2"] img {
  width: 100%;
}