@charset "utf-8";
figure { position: relative; }
figure img {
  width: 100%;
  vertical-align: top;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
}
.flexContainer.wrap { flex-wrap: wrap; }
.flexContainer .shrink { flex-shrink: 0; }

.popupButton.head {
  top: -75px;
}
.popup_pages > li.head {
  width: 980px;
  top: 105px;
  right: 80px;
}
.popup_pages > li.head img {
  width: 100%;
}

.popup_pages .shrink {
  margin-right: 10px;
}
.popup_pages .shrink + * { width: 100%; }

.act .contentsArea > h1 {
  word-break: break-all;
  letter-spacing: -3px;
}
/* page */
.dotListIndent > input {
  width: 100%;
}


.page0 figure {
  margin: 0 auto;
  width: 740px;
}
/* 1 */
.page1 .dotListIndent {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  height: 260px;
}
.page1 .dotListIndent > li {
 width: 49%;
}
.page1 .dotListIndent > li input {
  width: 210px;
  margin-right: 3px;
}
.page2 .list.dot > li {
  word-break: break-all;
  letter-spacing: -3px;
}
.page3 .titleIndent > p {
  margin: 30px 0 10px;
}

.page3 .inputQuizContainer textarea {
  width: 100%;
  height: 210px;
}

.page3 .answerText {
  position: absolute;
  top: 147px;
  left: 116px;
  width: 1090px;
  line-height: normal;
}