@charset "utf-8";
figure { position: relative; }
figure img {
  width: 100%;
  vertical-align: top;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
}

.actTitleIcon {
  display: inline-block;
  position: relative;
  top: -5px;
  left: 0;
  width: 39px;
  height: 40px;
  color: #FFF;
  text-align: center;
  font-size: 0.7em;
  font-family: NSquareREB;
  box-sizing: border-box;
  background: url(../../include/math/images/act/act_icon.svg) calc(-40px * (5 - 1)) 0/auto 100% no-repeat;
}

ul.list > li {
  word-break: break-all;
}

.popupButton.head {
  top: -75px;
}
.popup_pages > li.head {
  width: 910px;
  top: 105px;
  right: 80px;
}
.popup_pages > li.head img {
  width: 100%;
}

.popup_pages [data-popup-page="2"] p {
  letter-spacing: -2px;
}
/* page */
.dotListIndent > input {
  width: 100%;
}
.dotListIndent > textarea {
  width: 100%;
  height: 280px;
}

.page1 input.inlineBox {
  width: 150px;
  margin-right: 3px;
}

.page3 .answerText {
  position: absolute;
  top: 82px;
  left: 142px;
  width: 1062px;
  line-height: normal;
  word-break: break-all;
}