@charset "utf-8";
figure { position: relative; }
figure img {
  width: 100%;
  vertical-align: top;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
}
.flexContainer.wrap { flex-wrap: wrap; }
.flexContainer .shrink { flex-shrink: 0; }

.popupButton.head {
  top: -75px;
}
.popup_pages > li.head {
  width: 750px;
  top: 105px;
  right: 80px;
  padding-top: 20px;
}
.popup_pages > li.head img {
  width: 100%;
}
.dotListIndent > input,
.dotListIndent > textarea {
  width: 100%;
}
.dotListIndent > textarea {
  position: relative;
  z-index: 1;
  height: 190px;
}
/* page */
.page1 .answerText.on {
  position: absolute;
  top: 83px;
  left: 116px;
  line-height: normal;
  width: 1088px;
}
.page1 .answerText.on {
  z-index: 1;
}

.page2 .dotListIndent > textarea {
  height: 190px;
}
.page2 figure {
  width: 490px;
  margin: 0px auto 0;
}

.popup_pages ins.exam.circle {
  position: absolute;
  top: 12px;
  left: 21px;
}