@charset "utf-8";
figure { position: relative; }
figure img {
  width: 100%;
  vertical-align: top;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
}
.flexContainer.wrap { flex-wrap: wrap; }
.flexContainer .shrink { flex-shrink: 0; }

.popupButton.head {
  top: -75px;
}
.popup_pages > li.head {
  width: 1080px;
  top: 105px;
  right: 80px;
}
.popup_pages > li.head img {
  width: 100%;
}
.supplies {
  top: -75px;
  right: 0px;
  width: 200px;
}
.dotListIndent > input {
  width: 100%;
}
/* page */

.page1 .flexContainer {
  margin-top: 60px;
  align-items: center;
}
.page1 .flexContainer .dropContainer {
  position: relative;
  width: 643px;
  height: 424px;
  margin: -60px 0 0 0;
  background: url(../images/5_4/5_4_4_01.svg) center/contain no-repeat,url(../images/5_4/5_4_4_01.png) center/contain no-repeat;
}
.page1 .dragBox {
  width: 332px;
  height: 254px;
  margin: -10px 0 0 0;
}
.page1 .dragObj {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.page1 .dragObj:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  pointer-events: none;
}
.page1 .dragObj.red:before { background-color: #eb2c00; }
.page1 .dragObj.yellow:before { background-color: #eb2c00; }
.page1 .dragObj.green:before { background-color: #349cea; }
.page1 .dragObj.blue:before { background-color: #349cea; }

.page1 .dragObj.red {
  top: 30px;
}
.page1 .dragObj.yellow {
  top: 84px;
}
.page1 .dragObj.green {
  top: 137px;
}
.page1 .dragObj.blue {
  top: 190px;
}

.page1 .dragObj[class*="_1"] {
  left: 44px;
}
.page1 .dragObj[class*="_2"] {
  left: 95px;
}
.page1 .dragObj[class*="_3"] {
  left: 147px;
}
.page1 .dragObj[class*="_4"] {
  left: 198px;
}
.page1 .dragObj[class*="_5"] {
  left: 248px;
}

.page1 .dropContainer .dropArea {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 117px;
  height: 37px;
}
.page1 .dropContainer .dropArea.topArea {
  top: 265px;
}
.page1 .dropContainer .dropArea.bottomArea {
  top: 383px;
}
.page1 .dropContainer .dropArea_1 {
  left: 57px;
}
.page1 .dropContainer .dropArea_2 {
  left: 176px;
}
.page1 .dropContainer .dropArea_3 {
  left: 293px;
}
.page1 .dropContainer .dropArea_4 {
  left: 411px;
}
.page1 .dropContainer .dropArea_5 {
  left: 57px;
}
.page1 .dropContainer .dropArea_6 {
  left: 176px;
}
.page1 .dropContainer .dropArea_7 {
  left: 293px;
}
.page1 .dropContainer .dropArea_8 {
  left: 411px;
}
.page1 .dropContainer .dropArea .dragObj {
  position: static;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.page1 .dropContainer .dropArea .dragObj:before {
  width: 10px;
  height: 10px;
}
.page2 figure {
  width: 1032px;
  margin: 30px 0 0 40px;
}
.page2 figure img[src*="svg"]{
  position: absolute;
  top: 0;
  left: 0;
}