
@charset "utf-8";

.h2Side {
  position:relative;
  top:-7px;
  width:98%;
  text-indent:200px;
  margin:-60px 10px 0;
  word-break: break-word;
}
.h2Side:before {
  display:none !important;
}
/* 1 page */


/* 2 page */
.page2 .clickButton {
  top: -20px;
  left: 615px;
}

.page2 .basicSlider_btn.next {
    right:25px !important;
}
.page2 .basicSlider_btn.prev {
left:25px !important;
}
  

.textBox {
  position: relative;
  top: 34px;
  width: 364px;
  height:424px;
  margin-left: 100px;
}
.balloonText {
  font-size: 25px;
  width: 178px;
  position: absolute;
}

.page2 .pwu_exCont {
  position: absolute;
  top: 6px;
  left: 490px;
}

.pwu_exCont .txt {
  margin-bottom:30px;
} 
.pwu_exCont .txt img {
  vertical-align:middle;
}

.pwu_exCont .img {
  text-align:center;
  top:30px;
}

.cont1 .textBox {
  background:url(../images/5_powerup/5_powerup_page2_img1.svg) center / 364px 424px no-repeat
}
.cont2 .textBox {
  background:url(../images/5_powerup/5_powerup_page2_img2.svg) center / 364px 424px no-repeat
}
.cont3 .textBox {
  background:url(../images/5_powerup/5_powerup_page2_img3.svg) center / 364px 424px no-repeat
}

.balloonText .num {
  display:inline-block;
  vertical-align: middle;
  width:34px;
  height:34px;
  border-radius:10px;
} 

.cont1 .balloonText {
  top: 21px;
  left: 45px;  
}
.cont2 .balloonText {
  width: 187px;
  top: 17px;
  left: 43px;
}
.cont3 .balloonText {
  width: 170px;
  top: 36px;
  left: 45px;
}

.cont1 .balloonText .num {
  background-color:#f299eb;
}
.cont2 .balloonText .num {
  background-color:#9ad3ef;
}
.cont3 .balloonText .num {
  background-color:#b5ea7d;
}


/* 3 page */
.pwu_page3Box {
  position: relative;
  width: 1190px;
  height: 516px;
  margin-left: 20px;
  font-size:40px;
  background: url(../images/5_powerup/5_powerup_page3_bg.svg) center / contain no-repeat;
}
.pwu_page3Box .tx1 {
  padding: 124px 0 0 112px;
}
.pwu_page3Box .tx1 input {
  display: inline-block;
  width: 137px;
  text-align: center;
}
.pwu_page3Box .tx2 {
  padding: 18px 0 0 112px;
}
.pwu_page3Box textarea {
  width: 1030px;
  height: 255px;
  position: absolute;
  top: 261px;
  left: 100px;
  letter-spacing: -4px;
  word-break: break-word;
  line-height: 70px;
  font-size: 40px;
}
.popup_pages > li.min[data-popup-page="4"] {
  top: 10px;
  right: 80px;
}
.popup_pages > li.min.solve {
  top: 10px;
  right: 80px;
}
.popImgSize {
  display:block;
  width:880px;
  margin:0 auto;
  vertical-align:middle;
}



.page3 .exam.circle {
  position: absolute;
  top: 126px;
  left: 132px;
}