.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}


.page_1 .img-wrap {width:800px; margin: 20px auto 20px; position: relative;}
.page_1 .img-wrap img{width: 100%; display: block;}
.page_1 .popBtn{position: absolute;}
.page_1 .popBtn.n1{top: 90px;left: 100px;}
.page_1 .popBtn.n2{top: 90px;left: 390px;}
.page_1 .popBtn.n3{top: 90px;left: 670px;}

.page_1 .characterImg{position: absolute;top: 270px;left: 210px;}
.page_1 .b1{top: 310px;left: 410px;}

.page_1 .click-finger-Btn{top:46%; left:46%;}


.popup_pages .pop_page_1{display: flex; justify-content: center; align-items: center;}
.popup_pages .pop_page_1 img{width:600px; display: block; margin: 0 auto;}

/* .popup_pages .pop_page_1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 */

 .page_2 .img-wrap {width:800px; margin: 20px auto 20px; position: relative;}
 .page_2 .img-wrap img{width: 100%; display: block;}
 .page_2 .img-wrap .toggle{position: absolute; background-color: transparent; padding:0;width: 218px;}
 .page_2 .img-wrap .toggle::after{display: none}
 .page_2 .toggle.n1{top: 4px;left: 2px;width: 218px;}
 .page_2 .toggle.n2{top:4px;left: 290px;}
 .page_2 .toggle.n3{top:4px;left: 580px;}



 .page_2 .img-wrap .toggle.complete .click-finger-Btn{display: none;}
 .page_2 .toggle .click-finger-Btn{top: 86px;left: 94px;}

 .page_3 .img-wrap {width:800px; margin: 20px auto 20px; position: relative;}
 .page_3 .img-wrap img{width: 100%; display: block;position: absolute; width: 218px;}
 .page_3 .img-wrap img.n1{top: 4px;left: 2px;width: 218px;}
 .page_3 .img-wrap img.n2{top:4px;left: 290px;}
 .page_3 .img-wrap img.n3{top:4px;left: 580px;}
 .page_3 .img-wrap .toggle.complete .click-finger-Btn{display: none;}



