@charset "utf-8";

.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
.contentsList .icon_arrow{width:auto !important; margin:0 10px;}
.lineBox .bullet.number,
h2 .bullet.number{margin-top:5px;}
h2 .blankBox.w50{
    max-width: 40px !important;
    min-width: 40px !important;
    max-height: 40px !important;
    min-height: 40px !important;
    transform: translate(0,4px);
}
.buttonContainer.iframe{right:170px;}
.checkContainer h2 .toggleBlank{margin-top:8px;}
.checkContainer .contentsBox .basicSlider_tabs {width: 600px}
.ico-circle{display: inline-block; width:40px; height: 40px; border:5px solid #008dd0; border-radius: 50%; vertical-align: middle; transform: translate(0,-4px);}
.downloadBtn{bottom:10px;}


.page_1 .ex.flex-wrap {width: 100%;justify-content: space-around; align-items: stretch; margin-top:10px}
.page_1 .ex.flex-wrap img{width:160px; display: block;}
.page_1 .ex.flex-wrap > div{position: relative; display: flex; align-items: center; padding-bottom:40px}
.page_1 .ex.flex-wrap .bullet{position: absolute; bottom:0; left:50%; margin-left:-6px;}
/* .page_1 .toggle .bullet{transform: translate(0,4px);} */

.page_2 .flex-wrap{justify-content: space-around; margin-top:80px;}
.page_2 .flex-wrap img {width:100%;}
.page_2 .flex-wrap .toggle{background-color: transparent; padding: 0; width:200px}
.page_2 .flex-wrap .toggle.complete .click-finger-Btn,
.page_2 .flex-wrap .toggle::after{display: none;}
.page_2 .click-finger-Btn{top:50%; left:50%;}
.page_2 .flex-wrap .toggle .answer{position:absolute; top:0;}

.page_2 .img-wrap{width:900px; margin:60px auto 0; position: relative;}
.page_2 .img-wrap img {width:100%}
.page_2 .dap{position:absolute; top:0; left:0;}
.page_2 h2 span{letter-spacing: 1px;}

.page_3 .flex-wrap{width:100%; justify-content: space-around; padding:90px auto; align-items: center;}
.page_3 .flex-wrap img{width: 200px;}
.page_3 .icon.icon_o, .icon.icon_tri, .icon.icon_x{
    position: absolute;
    top:50%;
    left:50%;
    width:160px;
    height: 160px;
    margin:-80px 0 0 -80px;
}
.page_3 h2 img{display: inline-block; vertical-align: middle; transform: translate(0,-8px);}


.txtBox div{position:absolute;}
.page_4 .txtBox .txt01{top: 20px;left: 70px;}
.page_4 .txtBox .txt02{top:20px;left: 520px;}
.flex-box{margin:30px auto 20px;width:900px}
.flex-box figure{flex:1;text-align:center;}

.bullet{display:inline-block;vertical-align: top;margin-top: 3px;}
.page_7 .lineBox li{display:inline-block;width: 22%;margin:0 10px;}
.page_7 .lineBox li .bullet{margin:0 auto;display: block;}
.page_7 .lineBox li img{width:auto;height:130px;}
.page_7 .contentsBox {padding: 0 !important;    height: 230px;}
.moveButtonContainer{width:auto; left:50%; transform: translate(-50%, 0);}
.page_7 .toggle{margin-top:20px}
.page_7 .dotList.orange>li:before{margin-top:18px}

.colorBox{width: 99px;margin:20px auto;}
.balloon.left{top: -20px;right: 130px;}
.balloon.right{top: -20px;right: 590px;}
.balloon.left:after{top: 161px;}
.balloon.right:after{top: 61px;}
/* page_2 */
.page_5 .flex-box{position: relative;}
.page_5 .flex-box .number{position: absolute;}
.page_5 .flex-box .number.no01{top:143px;left:225px;}
.page_5 .flex-box .number.no02{top:-7px;left:317px}
.page_5 .flex-box .number.no03{top:-7px; left:552px;}

.page_6 .textAlignL{margin-top: 75px;}
/* page_5 */
.checkContainer .study_guide{top:-70px}
.page_8 .flex-box{width: 940px;margin: 10px auto;}
.page_8 .flex-box .box{position:relative;flex:1;vertical-align:middle;text-align: center;}
.page_8 .flex-box .toggle{position:absolute;top: -10px;left: 101px;border-radius: 50%;}
.page_8 .flex-box .box:nth-child(2) .toggle{left:110px;}
.page_8 .lineBox{width: 280px;margin:10px auto;padding: 7px 20px;}
.page_8 .toggleUL .toggle{width:70px}
.page_8 .flex-box .toggle:after{display:none;}
.page_8 .flex-box .toggle.complete .click-finger-Btn,
.page_8 .flex-box .toggle::after{display: none;}
.page_8 .flex-box .toggle .click-finger-Btn{top: 45%; left: 46%;}

.pop_page_7 .popup_contents{letter-spacing: -.6px;}

.pop_page_1 .popup_contents{letter-spacing: -.6px;}
.pop_page_3 .img-wrap{position: relative; margin:0 auto; width:310px}
.pop_page_3 .line{position: absolute;width: 149px;border-top:5px solid #00a0ff;transform: rotate(0);transform-origin: top left;bottom:0;left:153px}
.pop_page_3 .line.n1{transform: rotate(-122deg);}
.pop_page_3 .line.n2{transform: rotate(-59deg);}


.pop_page_5 .bullet{transform: translate(0,1px);}











