

.wordCard {
  margin: 0 -28px;
}

.area-slide.level-1 .swiper-container .swiper-pagination,
.area-slide.level-2 .swiper-container .swiper-pagination {
  width: 765px;
  left: 46%
}

.area-slide.level-5 .swiper-container .swiper-pagination {
  width: 640px;
  left: 56%;
}

.area-slide.level-5 .swiper-slide:nth-of-type(1) .contBody > dl > dd:nth-child(6){
  height: 256px;
}

.wordCard.lesson_5 .back:after {
  top: 64px;
}

.wordCard.lesson_1 > div {
  /* background-color:#F29133; */
  background-image: linear-gradient(to right top,#FFC86A, #F29133);
  background-image: -o-linear-gradient(to right top,#FFC86A, #F29133);
  background-image: -moz-linear-gradient(to right top,#FFC86A, #F29133);
  background-image: -webkit-linear-gradient(to right top,#FFC86A, #F29133);
}
.wordCard.lesson_2 > div {
  /* background-color:#828AD9; */
  background-image: linear-gradient(to right top,#CCD4FF, #828AD9);
  background-image: -o-linear-gradient(to right top,#CCD4FF, #828AD9);
  background-image: -moz-linear-gradient(to right top,#CCD4FF, #828AD9);
  background-image: -webkit-linear-gradient(to right top,#CCD4FF, #828AD9);
}
.wordCard.lesson_3 > div {
  /* background-color:#34BABA; */
  background-image: linear-gradient(to right top,#91F2EA,#34BABA);
  background-image: -o-linear-gradient(to right top,#91F2EA,#34BABA);
  background-image: -moz-linear-gradient(to right top,#91F2EA,#34BABA);
  background-image: -webkit-linear-gradient(to right top,#91F2EA,#34BABA);
}
.wordCard.lesson_4 > div {
  /* background-color: #D17DCE; */
  background-image: linear-gradient(to right top, #FFC7FD, #D17DCE);
  background-image: -o-linear-gradient(to right top, #FFC7FD, #D17DCE);
  background-image: -moz-linear-gradient(to right top, #FFC7FD, #D17DCE);
  background-image: -webkit-linear-gradient(to right top, #FFC7FD, #D17DCE);
}
.wordCard.lesson_5 > div {
  /* background-color: #68B368; */
  background-image: linear-gradient(to right top,#ADF0A8, #68B368);
  background-image: -o-linear-gradient(to right top,#ADF0A8, #68B368);
  background-image: -moz-linear-gradient(to right top,#ADF0A8, #68B368);
  background-image: -webkit-linear-gradient(to right top,#ADF0A8, #68B368);
}
.wordCard.lesson_6 > div {
  /* background-color:#F27B5C; */
  background-image: linear-gradient(to right top,#FFB885,#F27B5C);
  background-image: -o-linear-gradient(to right top,#FFB885,#F27B5C);
  background-image: -moz-linear-gradient(to right top,#FFB885,#F27B5C);
  background-image: -webkit-linear-gradient(to right top,#FFB885,#F27B5C);
}

.wordCard .front .cont {
  background-repeat: no-repeat;
  background-size: auto 78%;
  background-position: 20px 160px;
}


/* 카드 앞면 캐릭터 */
.wordCard.lesson_1 .front .cont {
  background-image: url(../img/main/4-1/main_char_lesson1.png);
}
.wordCard.lesson_2 .front .cont {
  background-image: url(../img/main/4-1/main_char_lesson2.png);
}
.wordCard.lesson_3 .front .cont {
  background-image: url(../img/main/4-1/main_char_lesson3.png);
}
.wordCard.lesson_4 .front .cont {
  background-image: url(../img/main/4-1/main_char_lesson4.png);
}
.wordCard.lesson_5 .front .cont {
  background-position: 50px 160px;
  background-image: url(../img/main/4-1/main_char_lesson5.png);
}
.wordCard.lesson_6 .front .cont {
  background-position: 0px 150px;
  background-image: url(../img/main/4-1/main_char_lesson6.png);
}



/* 카드 뒷면 캐릭터 */
.wordCard .back:after {
  background-image: url(../img/main/4-1/lessonChar.svg);
  background-size: auto 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.lesson_1.wordCard .back:after {
  background-position-x: calc(-100px * (1 - 1));
  /* background-image: url(../img/main/4-1/main_char_lesson1.png); */
}
.lesson_2.wordCard .back:after {
  background-position-x: calc(-100px * (2 - 1));
  /* background-image: url(../img/main/4-1/main_char_lesson2.png); */
}
.lesson_3.wordCard .back:after {
  background-position-x: calc(-100px * (3 - 1));
  /* background-image: url(../img/main/4-1/main_char_lesson3.png); */
}
.lesson_4.wordCard .back:after {
  background-position-x: calc(-100px * (4 - 1));
  /* background-image: url(../img/main/4-1/main_char_lesson4.png); */
}
.lesson_5.wordCard .back:after {
  background-position-x: calc(-100px * (5 - 1));
  /* background-image: url(../img/main/4-1/main_char_lesson5.png); */
}
.lesson_6.wordCard .back:after {
  background-position-x: calc(-100px * (6 - 1));
  /* background-image: url(../img/main/4-1/main_char_lesson6.png); */
}



/* 카드 팝업 캐릭터 */
.area-slide.level-1 .character {
  background-image: url(../img/main/4-1/main_char_lesson1.png);
}
.area-slide.level-2 .character {
  background-image: url(../img/main/4-1/main_char_lesson2.png);
}
.area-slide.level-3 .character {
  background-image: url(../img/main/4-1/main_char_lesson3.png);
}
.area-slide.level-4 .character {
  background-image: url(../img/main/4-1/main_char_lesson4.png);
}
.area-slide.level-5 .character {
  background-image: url(../img/main/4-1/main_char_lesson5.png);
}
.area-slide.level-6 .character {
  background-image: url(../img/main/4-1/main_char_lesson6.png);
}