.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}
.btn_1.zoomBtn{background: url(../images/suh_h_0301_07_0005_102_1/suh_h_0301_07_0005_102_1_1.png) no-repeat 0 0 / cover; width:100%; height: 440px;}

.page_1 .toggle{background-color: transparent; padding:0; margin:40px auto 0; width:400px;}
.page_1 .toggle .answer{position: absolute; top:0; left:0;}
.page_1 .toggle img{width: 100%;}
.page_1 .exam{position: absolute; top:0; left:0}

.page_2 h2 > span{transform: translate(0px, -20px);}
.page_2 h2 .toggle{margin:0}

.page_3 .toggle{background-color: transparent; position: relative; width: 100%; margin:30px auto 0; padding: 0;}
.page_3 .toggle img{width:100%;}
.page_3 .toggle::after{display: none;}
.page_3 .toggle .answer{position:absolute; top:0; left:0;} 
.page_3 .toggle .click-finger-Btn{position:absolute; top: 160px; lefT: 310px; }
.page_3 .toggle .txt{position: absolute; top: 120px; left: 600px; z-index: 4;}
