.sup {font-size:24px;position:relative;top:-8px}
.material .sup {font-size:12px;top:-11px}
.suhi header h1 .sub-text .sup {font-size:11px;top:-6px}
th .sup,
.lineBox .sup,
.textAlignC .sup,
.flex-item .sup,
.tableContainer .sup,
.toggle .sup,
.mainContents .sup,
.oxBoxText .sup,
.quiz-content .sup {top:-16px;display:inline-block;margin-bottom:-12px}
header .title .sup,
h2 .sup {top:-16px}

.balloon .sup,
.solve .sup {top:-14px;font-size:20px}

#wrap header .title {padding-bottom:10px}

.ex-box {display:flex}
.ex-box .bullet.exam {flex-shrink:0}

.icon_arrow {flex-shrink:0}

/*.page_1 .img-box-1 {margin-top:-40px}*/
.img-box-1 {position:relative;display:inline-block}
.img-box-1 img {height:200px}
.img-box-1 .txt-item {position:absolute;white-space:nowrap;font-size:40px}
.img-box-1 .txt-item.n1 {top:180px;left:25px}
.img-box-1 .txt-item.n2 {top:145px;left:180px}
.img-box-1 .txt-item.n3 {top:20px;left:215px}

.img-box-2 {display:flex;justify-content:space-around;align-items:center;width:800px;margin:30px auto 0}
.img-box-2 img {height:150px}

.img-box-3 {display:flex;justify-content:space-around;align-items:center;margin:60px auto 0}
.img-box-3 img {height:200px}

.img-box-4 {position:relative;margin-top:40px}
.img-box-4 img {height:240px}
.img-box-4 .txt-item {position:absolute;white-space:nowrap}
.img-box-4 .txt-item.n1 {top:212px;left:425px}
.img-box-4 .txt-item.n2 {top:190px;left:595px}
.img-box-4 .txt-item.n3 {top:65px;left:635px}

.img-box-5 {position:relative;margin-top:20px}
.img-box-5 img {height:260px}
.img-box-5 .txt-item {position:absolute;white-space:nowrap;font-size:40px}
.img-box-5 .txt-item.n1 {top: 230px;left: 64px;}
.img-box-5 .txt-item.n2 {top: 207px;left: 211px;}
.img-box-5 .txt-item.n3 {top: 115px;left: 235px;}
.img-box-5 .txt-item.n4 {top: 238px;left: 415px;}
.img-box-5 .txt-item.n5 {top: 200px;left: 535px;}
.img-box-5 .txt-item.n6 {top: 79px;left: 570px;}
.img-box-5 .txt-item.n7 {top: 237px;left: 880px;}
.img-box-5 .txt-item.n8 {top: 205px;left: 715px;}
.img-box-5 .txt-item.n9 {top: 162px;left: 985px;}

.page_5 .quiz-content {position:relative;left:-20px;display:inline-block;margin-top:20px;text-align:left}
.page_5 .quiz-content .toggle {margin:4px}
.page_5 .quiz-content .blank {display:inline-block;width:295px}
