#wrap header .title {padding-bottom:10px}

.ex-box {display:flex}
.ex-box .bullet.exam {flex-shrink:0}

.icon_arrow {flex-shrink:0}

.page_1 .img-box-1 {margin-top:-40px}
.img-box-1 {position:relative;display:inline-block}
.img-box-1 img {height:120px}
.img-box-1 .txt-item {position:absolute;white-space:nowrap;font-size:36px}
.img-box-1 .txt-item.n1 {top:100px;left:5px}
.img-box-1 .txt-item.n2 {top:85px;left:106px}
.img-box-1 .txt-item.n3 {top:22px;left:128px}

.img-box-2 {display:flex;justify-content:space-around;align-items:center;width:800px;margin:30px auto 0}
.img-box-2 img {height:120px}

.img-box-3 {display:flex;justify-content:space-around;align-items:center;margin:60px auto 0}
.img-box-3 img {height:200px}

.img-box-4 {position:relative;margin-top:40px}
.img-box-4 img {height:240px}
.img-box-4 .txt-item {position:absolute;white-space:nowrap}
.img-box-4 .txt-item.n1 {top:212px;left:425px}
.img-box-4 .txt-item.n2 {top:190px;left:595px}
.img-box-4 .txt-item.n3 {top:65px;left:635px}

.img-box-5 {position:relative;margin-top:20px}
.img-box-5 img {height:200px}
.img-box-5 .txt-item {position:absolute;white-space:nowrap;font-size:36px}
.img-box-5 .txt-item.n1 {top:180px;left:155px}
.img-box-5 .txt-item.n2 {top:160px;left:275px}
.img-box-5 .txt-item.n3 {top:85px;left:305px}
.img-box-5 .txt-item.n4 {top:180px;left:425px}
.img-box-5 .txt-item.n5 {top:160px;left:525px}
.img-box-5 .txt-item.n6 {top:57px;left:560px}
.img-box-5 .txt-item.n7 {top:180px;left:790px}
.img-box-5 .txt-item.n8 {top:160px;left:660px}
.img-box-5 .txt-item.n9 {top:122px;left:880px}

.page_5 .quiz-content {position:relative;left:-20px;display:inline-block;margin-top:60px;text-align:left}
.page_5 .quiz-content .toggle {margin:4px}
.page_5 .quiz-content .blank {display:inline-block;width:295px}
