
@charset "utf-8";

.contentsArea > section {
  
}

.imageBox {
  position: absolute;
  top: -66px;
  left: 0;
  width: 100%;
  height: 540px;
  background: url(../images/2_1/2_1_1_01.png) center / auto 100% no-repeat;
}

.inputQuizContainer {
  position: relative;
  top: -64px;
}
.inputQuizContainer > input {
  position: absolute;
  width: 180px;
  text-align: center;
  transform: scale(.8);
}
.inputQuizContainer > input[data-input-obj="1"] {
  top: 106px;
  left: 266px;
}
.inputQuizContainer > input[data-input-obj="2"] {
  top: 106px;
  left: 500px;
}
.inputQuizContainer > input[data-input-obj="3"] {
  top: 106px;
  left: 734px;
}
.inputQuizContainer > input[data-input-obj="4"] {
  top: 294px;
  left: 266px;
}
.inputQuizContainer > input[data-input-obj="5"] {
  top: 294px;
  left: 500px;
}
.inputQuizContainer > input[data-input-obj="6"] {
  top: 294px;
  left: 734px;
}
.inputQuizContainer > input[data-input-obj="7"] {
  top: 470px;
  left: 266px;
}
.inputQuizContainer > input[data-input-obj="8"] {
  top: 470px;
  left: 500px;
}
.inputQuizContainer > input[data-input-obj="9"] {
  top: 470px;
  left: 734px;
}

.solve > p:first-child {
  letter-spacing: -2px;
}
.solve p > span {
  display: inline-block;
  width: 200px;
  text-align: center;
}