
@charset "utf-8";

.drawContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 810px;
  height: 440px;
  background: url(../images/2_1/2_1_3_02.svg) center / contain no-repeat;
}
.drawLine {
  width: 100%;
  height: 100%;
  /* background: url(../images/2_1/2_1_3_01.svg) center / auto 70% no-repeat; */
}
.drawLine > .resetButton {
  bottom: 0;
  right: 10px;
}
.drawLine > .resetButton.off {
  pointer-events: none;
}

ul.list.dot {
  margin-left: 42px;
}

.dot_1 {
  top: 51px;
  left: 297px;
}
.dot_2 {
    top: 96px;
    left: 575px;
  }
.dot_3 {
  top: 335px;
  left: 115px;
}
.dot_4 {
  top: 284px;
  left: 297px;
}
.dot_5 {
  top: 311px;
  left: 477px;
}
.dot_6 {
  top: 335px;
  left: 657px;
}
.drawDotBox > .dot_1.text:before,
.drawDotBox > .dot_2.text:before {
  top: 52px;
}




.solve .solveImage {
  width: 100%;
  height: 300px;
  background: url(../images/2_1/2_1_3_solve_01.png) center / contain no-repeat;
}