
@charset "utf-8";


.contentsArea section {
  background: url(../images/2_2/2_2_3_bg.png) center top 10px/ auto 470px no-repeat;
}

.colorBox {
  position: absolute;
  top: 40px;
  left: 209px;
  padding: 4px 20px;
}
.colorBox + .colorBox {
  left: 736px;
}


.drawLine {
  top: 60px;
  left: 75px;
  width: 500px;
  height: 410px;
  /* outline: 1px solid; */
}
.draw_2 {
  left: 605px;
}
.resetButton {
  right: -15px;
  bottom: -15px;
}

.dragObj {
  /* outline: 1px solid; */
}

/* draw_1 */
.draw_1 {
  background: url(../images/2_2/2_2_3_01.svg) center / auto 300px no-repeat;
}
.draw_1 .dragObj[data-index="1"] {
  top: 63px;
  left: 231px;
}
.draw_1 .dragObj[data-index="2"] {
  top: 297px;
  left: 368px;
}


/* draw_2 */
.draw_2 {
  background: url(../images/2_2/2_2_3_02.svg) center / auto 300px no-repeat;
}
.draw_2 .dragObj[data-index="1"] {
  top: 63px;
  left: 232px;
}
.draw_2 .dragObj[data-index="2"] {
  top: 295px;
  left: 98px;
}
.draw_2 .dragObj[data-index="3"] {
  top: 295px;
  left: 368px;
}









/* solve */
.popup_pages p + div {
  justify-content: center;
}
.popup_pages p + div img {
  height: 300px;
}