
@charset "utf-8";

ins.exam {
  top: 18px;
  left: 677px
}


.solve ins.exam {
  top: 152px;
  left: 354px;
}


main section {
  background: url(../images/2_3/2_3_3_bg.svg) top 0px left 665px / auto 440px no-repeat;
}

.imageBox {
  height: 440px;
  background: url(../images/2_3/2_3_3_01.png) center left 60px / contain no-repeat;
}
.balloonText {
  position: absolute;
  top: 181px;
  left: 395px;
}


.drawLine {
  top: 0px;
  left: 656px;
  width: 460px;
  height: 440px;
}
.draw_2 {
  left: 605px;
}
.resetButton {
  right: -5px;
  bottom: 35px
}

.dragObj {
  top: 176px;
  left: 201px;
  /* outline: 1px solid; */
}

/* draw_1 */
.drawLine {
}
.draw_1 .dragObj {
  top: 63px;
  left: 231px;
}





.solve div {
  justify-content: center;
}
.solve div img {
  height: 200px;
}



.dragBox {
  position: absolute;
  top: 0px;
  right: 540px;
  width: 150px;
  height: 120px;
}

.dragBox .rotateContainer.rotate_triangle_1 {
  top: 10px;
  left: 30px;
}

.dragBox .rotate_triangle_1.showRotate {
  width: 260px;
  height: 260px;
}
