
@charset "utf-8";

.contentsArea > section {
  background: url(../images/2_5/2_5_1_01.png) center / auto 100% no-repeat;
}

ins.icon.icon_o, ins.icon.icon_x, ins.icon.icon_tri { top: 0; }

.toggleButton {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  /* outline: 1px solid tomato; */
}
.toggleButton[data-toggle-obj="1"] {
  top: 214px;
  left: 325px;
}
.toggleButton[data-toggle-obj="2"] {
  top: 472px;
  left: 325px;
}
.toggleButton[data-toggle-obj="3"] {
  top: 214px;
  left: 564px;
}
.toggleButton[data-toggle-obj="4"] {
  top: 214px;
  left: 803px;
}
.toggleButton[data-toggle-obj="5"] {
  top: 472px;
  left: 564px;
}
.toggleButton[data-toggle-obj="6"] {
  top: 472px;
  left: 803px;
}

.toggleButton > .icon {
  opacity: 0;
}
.toggleButton.complete .icon {
  opacity: 1;
}

.solve p > span {
  display: inline-block;
  width: 130px;
  text-align: center;
}
.complete .toggleButton {
  pointer-events: none !important;
}
.complete .toggleButton:not([data-answer]) .icon.on,
.complete .toggleButton:not([data-answer]) .icon {
  opacity: 0;
}
.displayN {display: none;}
