
@charset "utf-8";




.imageBox {
  height: 340px;
  margin-top: 60px;
  background: url(../images/2_6/2_6_4_01.png) center / contain no-repeat;
}

.oxObj {
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.oxObj .icon {
  opacity: 0;
  width: 50px;
  height: 50px;
}
.oxObj.complete .icon {
  opacity: 1;
}


.solve div {
  justify-content: center;
}
.solve div img {
  height: 300px;
}

.quizContainer {
  text-align: center;
  margin-top: 50px;
}

.scaleBox {
  transform: scale(1.15);
}

.obj_o_1 {top: 93px; left: 257px;}
.obj_o_2 {top: 82px; left: 330px;}
.obj_o_3 {top: 159px; left: 315px;}
.obj_o_4 {top: 211px; left: 315px;}
.obj_o_5 {top: 186px; left: 390px;}
.obj_o_6 {top: 145px; left: 462px;}
.obj_o_7 {top: 196px; left: 469px;}
.obj_o_8 {top: 117px; left: 507px;}
.obj_o_9 {top: 41px; left: 620px;}
.obj_o_10 {top: 22px; left: 673px;}
.obj_o_11 {top: 68px; left: 700px;}
.obj_o_12 {top: 121px; left: 687px;}
.obj_o_13 {top: 174px; left: 685px;}
.obj_o_14 {top: 201px; left: 731px;}
.obj_o_15 {top: 201px; left: 795px;}
.obj_o_16 {top: 133px; left: 756px;}
.obj_o_17 {top: 105px; left: 830px;}
.obj_o_18 {top: 159px; left: 831px;}
.obj_o_19 {top: 96px; left: 884px;}

[data-quiz="ox"].complete [data-ox-obj],
[data-quiz="ox"].complete map area {
  pointer-events: none;
}