
@charset "utf-8";

.drawContainer {
  position: relative;
  top: -20px;
  width: 347px;
  margin: 0 auto;
  height: 306px;
  background: url(../images/2_7/2_7_8_01.svg) center / auto calc(104px * 3) no-repeat;
}
.drawLine {
  width: 100%;
  height: 100%;
}
.drawLine > .resetButton {
  bottom: 0px;
  right: -44px;
}
.drawLine > .resetButton.off {
  pointer-events: none;
}
.drawContainer .line {
  position: absolute;
  width: 100px;
  height: 6px;
  background-color: #000;
  border-radius: 10px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  pointer-events: none;
}

/* draw_1 */
.draw_1 .light_1 {
  top: 8px;
  left: 179px;
}
.draw_1 .light_2 {
  top: 138px;
  left: 50px;
}
.draw_1 .dragObj[data-index="1"] {
  top: 24px;
  left: 193px;
}
.draw_1 .dragObj[data-index="2"] {
  top: 149px;
  left: 66px;
}
.induceLight {
  /* pointer-events: auto; */
}


.solve .flexBox {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.solve .solveImage {
  flex: 0 0 auto;
  width: 400px;
  height: 362px;
  margin-left: 30px;
  background: url(../images/2_7/2_7_8_solve.png) center / contain no-repeat;
}