
@charset "utf-8";

.image {
  height: 270px;
  background: url(../images/2_7/2_7_14_01.svg) center / auto calc(70px * 3.6) no-repeat;
}

.titleIndent > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.titleIndent > div > div:first-child {
  flex: 0 0 auto;
}

.titleIndent textarea,
.titleIndent input {
  width: 100%;
}
.titleIndent textarea.answerMode,
.titleIndent input.answerMode {
  /* text-indent: 50px; */ 
  padding-left: 70px;
}

.titleIndent > div:first-child ins.exam {
  top: 288px;
  left: 238px;
}
.titleIndent > div ins.exam {
  top: 372px;
  left: 238px;
}




.solve ins.exam {
  position: relative;
  top: -62px;
}
.solve .flexBox {
  display: flex;
  align-items: center;
}

.sameThing {
  position: relative;
  top: -6px;
}
.differenceThing {
  align-self: flex-start;
  position: relative;
  top: -14px;
}