
@charset "utf-8";

.drawLine {
  left: 280px;
  width: 670px;
  height: 450px;
  background: url(../images/2_7/2_7_6_01.svg) center / contain no-repeat;
}

.resetButton {
  right: 0;
  bottom: 10px;
}

.dot_1 {
  top: 288px;
  left: 98px;
}
.dot_2 {
  top: 289px;
  left: 361px;
}
.dot_3 {
  top: 93px;
  left: 519px;
}
.drawDotBox > .dot_3.text:before {
  top: 24px;
  left: -18px;
}


.solve .solveImage {
  height: 300px;
  background: url(../images/2_7/2_7_6_solve.png) center / contain no-repeat;
}