.formula_box{display: flex;justify-content: space-evenly;}
.formula_box > li{display: flex; align-items: center;width: calc(100% / 3);justify-content: inherit;}

.contentsList .dot{margin-top:32px;width:15px;height:15px;border:4px solid #f60;}
.contentsList .bunsuWrap{margin:0 2px;}
.flexBox{display:flex;align-items:center;}
.flexBox img{margin:0 30px;width:24px;}