.formula_box > li{display: flex; align-items: center;width: calc(100% / 3);justify-content: inherit;}
.formula_box.line2{margin-top: 60px;}
.formula_box{display: flex;justify-content: space-evenly;width: 60%;margin: 0 auto;}
.bunsuWrap.separation > ul{min-width: 70px;}
.bunsuWrap.separation li{width:100%;}
.bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.bunsuWrap.separation .toggle{width:100%;}
