	img{width:100%;}
	.pop_page_1{top:110px; left:24px;}
	.pop_page_1 .tit{width: auto; background-color: #d4f3f6; display: inline-block; padding:5px 20px 7px; border-radius:20px;;font-size:40px}
	.pop_page_1 .basicSlider_slides > li{padding:20px; box-sizing: border-box;}
	.pop_page_1 .basicSlider_slides{width:1127px; height: 590px; box-sizing: border-box;}

	.tit-box{position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); padding: 10px 30px 14px; z-index: 1;}

	.lineBox{width: 340px; position:absolute; height: 170px;padding:10px 15px; z-index: 1;overflow: hidden;line-height: 0}
	.lineBox .popBtn{position: absolute; right:10px; bottom:10px;}
	.lineBox.n1{top:212px; left:0;}
	.lineBox.n2{top:-10px; left:24%;}
	.lineBox.n3{top:155px; right:0;}
	.lineBox.n4{bottom:0; right:10%;}
	.lineBox.n5{bottom:0; left:10%;}
	.lineBox .text {position: absolute;}
	.lineBox .text.ty2 {left: 30px;top: 55px;font-size: 14px;letter-spacing:-2px}
	.lineBox .text.ty3 {right: 19px;top: 55px;font-size: 13px;letter-spacing:-2px}
	.lineBox.n4 img,
	.lineBox.n5 img {height: 110px;}
	.pointContainer .contentsBox {padding-top:25px;}
	.lineBox .tit {width: auto;background-color: #d4f3f6;display: inline-block;padding: 5px 10px 7px;border-radius: 0 0 10px 10px;font-size: 12px;line-height: 1.2;margin-bottom: 5px;}
	.lineBox .lineBox-txt {font-size: 12px;position: absolute;left: 80px;bottom: 58px;}
	
	svg{position: absolute;top:50%; left:50%; transform: translate(-50%, -50%); z-index: 0;}
	
	.popup_pages .flex-wrap {position: relative;}
	.popup_pages .flex-wrap .text {position: absolute;}
	.popup_pages .flex-wrap .text.ty1 {left: 250px;bottom: 35px;}
	.popup_pages .flex-wrap .text.ty2 {left: 120px;top: 62px;font-size: 40px;letter-spacing:-2px}
	.popup_pages .flex-wrap .text.ty3 {right: 89px;top: 64px;font-size: 36px;letter-spacing:-4px}

	.popup_pages .flex-wrap {width: 100%;height: auto;text-align: center;justify-content: space-around;font-size: 40px;}
	.popup_pages .flex-wrap {padding-top: 60px;}
	.popup_pages .flex-wrap.fx-ty1 {padding-top: 100px;}
	.popup_pages .flex-wrap.fx-ty2 {padding-top: 40px;}



