/*#wrap header .title {display: inline-flex;height:52px;align-items: center;}*/
.operator{display:inline-block;padding:0 2px;vertical-align:middle;}
.pos-r{position:relative}
.pos-a{position:absolute}
.flex-center {display:flex;align-items:center;justify-content:center;}
.va-m{vertical-align:middle}
.ta-c {text-align:center}
.ta-l {text-align:left}
.width-auto {width:auto}
.width-full {width:100%}
h2 .bunsuWrap {margin-top:-14px;}
.mr_100 {margin-right: 100px;}
.mr_200 {margin-right: 200px;}
.mr_300 {margin-right: 300px;}
.bunsuWrap.highlight {color: #00a0ff}
.bunsuWrap.highlight ul > li:first-of-type {border-bottom-color: #00a0ff;}
.icon_o_title.withBunsu {vertical-align: middle;display:inline-flex;align-items:center;justify-content:center;}

.labelBox {position: relative;}
.labelBox .colorBox {position: absolute; top:-20px;left:5%;}
.labelBox .lineBox {padding-top: 50px;}
.labelBox .lineBox .bullet.exam {margin: 0 10px 0 0;align-self: center;}

.colorBox.deepPurple {
    color: #000;
}

.numCard.etc{
    width:54px; height:66px;
    background-image:url(../../common/contents/images/numcard/numCard_etc.png);
    background-size:auto 66px;
    background-position-x:calc(-54px * 10);
}
.numCard.etc[data-index="0"]{background-position-x:calc(-54px * (1 - 1));}
.numCard.etc[data-index="1"]{background-position-x:calc(-54px * (2 - 1));}
.numCard.etc[data-index="2"]{background-position-x:calc(-54px * (3 - 1));}
.numCard.etc[data-index="3"]{background-position-x:calc(-54px * (4 - 1));}
.numCard.etc[data-index="4"]{background-position-x:calc(-54px * (5 - 1));}
.numCard.etc[data-index="5"]{background-position-x:calc(-54px * (6 - 1));}
.numCard.etc[data-index="6"]{background-position-x:calc(-54px * (7 - 1));}
.numCard.etc[data-index="7"]{background-position-x:calc(-54px * (8 - 1));}
.numCard.etc[data-index="8"]{background-position-x:calc(-54px * (9 - 1));}
.numCard.etc[data-index="9"]{background-position-x:calc(-54px * (10 - 1));}
.numCard.etc.dot{background-position-x:calc(-54px * (11 - 1));}

.page_1 .study_guide{top: 55px; right:0;}
.page_1 .dragDropContainer{margin-top:40px}
.page_1 .it-start-wrap{position:relative; z-index:1; width:550px; height:120px;margin: 0 auto;}
.page_1 .numCard.etc{position:absolute; top:20px;}
.page_1 .numCard.etc[data-index="1"] {left: 5%;}
.page_1 .numCard.etc[data-index="2"] {left: 21%;}
.page_1 .numCard.etc[data-index="3"] {left: 37%;}
.page_1 .numCard.etc[data-index="4"] {left: 54%;}
.page_1 .numCard.etc[data-index="5"] {left: 70%;}
.page_1 .numCard.etc[data-index="6"] {left: 85%;}
.page_1 .it-start-wrap .dragObjComplete {opacity: .25;}
.page_1 .dragObj > div{display:flex; align-items:center; justify-content:center; height:100%; padding:0 20px 0 40px;}
.page_1 .it-end-wrap{position:relative; height:120px;margin: 15px 0 0;}
.page_1 .dropArea_1{left: 0;top: 21%;}
.page_1 .dropArea_2{left: -18px;top: -89px;}
.page_1 .it-end-wrap .dragObj.dragObjComplete{position:static; top:0; left:0;}
/*.page_1 .it-btn,
.page_1 .it-btn.reset{background:#236cbb url(../../common/contents/images/icon/icon_check.svg) no-repeat 15px center / 22px auto;}*/
.page_1 .it-btn:before,
.page_1 .it-btn.reset:before{content:"다시하기";padding-left:18px;}
/*.page_1 .it-btn.hover {background-color: #9d00c4;}*/
.page_1 .colorBox {
    display: inline-block;
    margin-right: 30px;
}
.page_1 .innerTab_1 .bunsuWrap {
    position: relative;
    width: 161px;
    height: 160px;
}
.page_1 .innerTab_1 .bunsuWrap ul {
    position: absolute;
    bottom: 25px;
    right: 20px;
}
.page_1 .innerTab_2 .flex-center.n1 {margin-top: 50px;}

.page_2 .study_guide{top: 55px; right:0;}
.page_2 .dragDropContainer{margin-top:40px;}
.page_2 .it-start-wrap{position:relative; z-index:1;width: 340px; height:120px;margin: 0 auto;}
.page_2 .numCard.etc{position:absolute; top:20px;}
.page_2 .numCard.etc[data-index="7"] {left: 10%;}
.page_2 .numCard.etc[data-index="8"] {left: 42%;}
.page_2 .numCard.etc[data-index="9"] {left: 75%;}
.page_2 .it-start-wrap .dragObjComplete {opacity: .25;}
.page_2 .dragObj > div{display:flex; align-items:center; justify-content:center; height:100%; padding:0 20px 0 40px;}
.page_2 .it-end-wrap{position:relative; height:120px;margin: 15px 0 0;}
.page_2 .dropArea_3{left: -16px;top: -89px;}
.page_2 .it-end-wrap .dragObj.dragObjComplete{position:static; top:0; left:0;}
.page_2 .it-btn,
.page_2 .it-btn.reset{background: #236cbb url(../../common/contents/images/icon/icon_check.svg) no-repeat 15px center / 22px auto;}
.page_2 .it-btn:before,
.page_2 .it-btn.reset:before{content:"다시하기";padding-left:18px;}
.page_2 .it-btn.reset.hover {background-color: #9d00c4;}
.page_2 .colorBox {
    display: inline-block;
    margin-right: 30px;
}
.page_2 .innerTab_1 .bunsuWrap {
    position: relative;
    width: 72px;
    height: 160px;
}
.page_2 .innerTab_1 .bunsuWrap ul {
    position: absolute;
    bottom: 25px;
    right: 20px;
}

.page_1 .dropArea,
.page_2 .dropArea{display:flex; align-items:center; justify-content:center; position:absolute;width: 70px;height: 80px; border:1px solid #ccc; border-radius:10px;}

.page_1 .innerTab_2 .bullet.exam,
.page_2 .innerTab_2 .bullet.exam {align-self: center; margin:0; margin-right: 20px;}

.page_1 .flex-wrap.n1,
.page_2 .flex-wrap.n1 {
    margin-top: 30px;
}
.page_1 .flex-wrap.n1 .flex-item.n2,
.page_2 .flex-wrap.n1 .flex-item.n2 {
    height: 130px;
}
.page_1 .flex-wrap .flex-item,
.page_2 .flex-wrap .flex-item {
    display: inline-flex;
    align-items: center;
    flex: 1 1 auto;
}
.page_1 .flex-wrap .flex-item.n1,
.page_2 .flex-wrap .flex-item.n1 {
    width: 60%;
    justify-content: flex-end;
}
.page_1 .flex-wrap .flex-item.n2,
.page_2 .flex-wrap .flex-item.n2 {
    width: 40%;
}

.page_3 .flex-wrap,
.page_4 .flex-wrap {gap: 40px}
.page_3 .flex-wrap .flex-item,
.page_4 .flex-wrap .flex-item {
    display: flex; flex: 1 1 auto;
    align-items: stretch;
    width:100%;
}
.page_3 .flex-item .labelBox,
.page_4 .flex-item .labelBox {width:100%; height:100%;}
.page_3 .flex-item .labelBox .lineBox,
.page_4 .flex-item .labelBox .lineBox {width:100%; height:100%;}
.page_3 .labelBox .contentsList>li:first-of-type,
.page_4 .labelBox .contentsList>li:first-of-type {height: 90px;}