/*#wrap header .title {display: inline-flex;height: 110px;}
#wrap header .title.active {margin-top: 0;margin-bottom: 0;align-items:center;}
#wrap header .title .bullet.number {margin-bottom: 0px;}*/
.operator{display:inline-block;padding:0 2px;vertical-align:middle;}
.pos-r{position:relative}
.pos-a{position:absolute}
.flex-center {display:flex;align-items:center;justify-content:center;}
.align-center {align-items: center;}
.va-m{vertical-align:middle}
.ta-c {text-align:center}
.ta-l {text-align:left}
.width-auto {width:auto}
h2 .bunsuWrap {margin-top:-14px;}
.mr_100 {margin-right: 100px;}
.mr_200 {margin-right: 200px;}
.mr_300 {margin-right: 300px;}
.bunsuWrap.highlight {color: #00a0ff}
.bunsuWrap.highlight ul > li:first-of-type {border-bottom-color: #00a0ff;}
.icon_o_title.withBunsu {vertical-align: middle;display:inline-flex;align-items:center;justify-content:center;}
/*header .bullet.number {align-self:center;margin-right:10px;font-size: 26px;}*/
/*.bullet.number {margin-top:-4px;line-height:1.5;vertical-align: middle;}*/

.textBookPopup .bullet.number {line-height: 1.8;}

.popup_container {z-index: 3;}

.ex-gradation {position: absolute; top:0; left:0;font-size: 40px;width: 100%;display: flex;align-items: center;justify-content: space-between;}

.contentsList .bullet.circleDot {align-self:center;}
.contentsList .dot {align-self:center;}

.tableContainer table tbody tr:first-of-type>:first-child {
    border-radius: 0;
}

.tableContainer table tbody tr:first-of-type>:last-child {
    border-radius: 0;
}

figure {
    padding-top: 50px;
}
.innerTab_1 figure img {
    height: 150px;
}
.innerTab_1 .ex-gradation {
    left: -4px;
    width: 860px;
}
.innerTab_2 figure img {
    height: 210px;
}
.innerTab_2 .ex-gradation {
    left: -9px;
    width: 840px;
}

.page_203 .ex-label-1 {
    top: 40%;
    left: 8.6%;
}
.page_203 .ex-val {
    top: 30%;
    left: 52%;
}
.page_203 .n1 .ex-val .toggle .answer {
    width: 158px;
    height: 130px;
}
.page_203 .n2 .ex-val .toggle .answer {
    width: 155px;
    height: 130px;
}