body {
	/* background: url("../images/bgImg.png") no-repeat; */
	background: url(../../include/images/contentsUIBG_0.png) no-repeat;
	background-position: 0 -116px;
}

#bgCanvas {
	position: absolute;
	width: 1280px;
	height: 720px;
	/* left: 0px; */
	background: url(../../include/images/contentsUIBG_0.png) center / cover no-repeat;
}

#trainContainer {
	/*position: absolute;*/
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 400px;
	left: 106px;
	height: 506px;
	/*line-height: 502px;*/
	/*background:#ddd;*/
}

.train {
	position: absolute;
	cursor: pointer;
}

#bgObject {
	position: absolute;
	text-align: center;
	background: #000;
	height: 8px;
	top: 20px;
	border-radius: 30px;
	top: 306px;
	right: 408px;
}

.trainText {
	position: absolute;
	font-family: NanumGothicExtraBold;
	font-size: 45px;
	color: #333333;
	width: 211px;
	text-align: right;
	letter-spacing: 28px;
	z-index: 10;
	direction: rtl;
}

#contentBox_0,
#contentBox_1 {
	position: absolute;
}



.blockAnswerText {
	position: absolute;
	font-family: NanumGothicExtraBold;
	font-size: 45px;
	color: #333333;
	width: 87px;
	text-align: center;
}

.block {
	position: absolute;
	cursor: pointer;
}


.blockText {
	position: absolute;
	font-family: NanumGothicExtraBold;
	font-size: 45px;
	color: #333333;
	width: 87px;
	direction: rtl;
	/*text-align: center;*/
}

.trainAnswer {
	position: absolute;
	/*left:490px;*/
	top: 320px;
}

#additionWrap {
	position: absolute;

}

/*#choiceQuestionGroup_0, #choiceQuestionGroup_1, #choiceQuestionGroup_2 {*/
/*top:324px;*/
/*}*/

#trainHead {
	position: absolute;
	top: 180px;
	left: 430px;
}

#trainRoad {
	position: absolute;
	left: 504px;
	top: 305px;
	z-index: 1;
}

#calculation {
	position: absolute;
	top: 200px;
}

#trainHead {
	position: absolute;
	top: 200px;
}

#block_0 {
	z-index: 3;
}

#block_1 {
	z-index: 2;
}

#block_Wrap {
	position: absolute;
	width: 1113px;
	height: 500px;
	left: 104px;
	text-align: center;
	/*background: #fff;*/
	top: -10px;
}

/*#additionWrap{
	left:356px;
}


*/



/*.trainText_0 {
	position: absolute;
	font-family: NanumGothicExtraBold;
	font-size: 45px;
	color: #333333;
	width: 87px;
	text-align: center;
}

.trainText_1 {
	position: absolute;
	font-family: NanumGothicExtraBold;
	font-size: 45px;
	color: #333333;
	width: 87px;
	text-align: center;
}*/