.vcd1 .icon_arrow{margin:0 50px}
.vcd1 .wrap{position: relative;}
.vcd1 .line-arrow.n2 {
    top: 123px;
    left: 290px;
    width: 416px;
    height: 130px;
}
.vcd1 .line-arrow.n3 {
    top: 123px;
    left: 358px;
    width: 277px;
    height: 60px;
}
.vcd1 .line-arrow.n4 {
    top: 20px;
    left: 358px;
    width: 277px;
    height: 40px;
}
.vcd1 .line-arrow.brt > div{position: absolute; bottom:0; left:50%;transform: translate(-50%, 25px);background: #fff; padding:0 20px; white-space: nowrap;}
.vcd1 .line-arrow.tr > div{position: absolute; top:0; left:50%;transform: translate(-50%, -25px);background: #fff; padding:0 20px; white-space: nowrap;}

.page_1 .innerTab_2 .flex-item{position: relative;}
.page_1 .innerTab_2 .flex-item.n1,
.page_1 .innerTab_2 .flex-item.n2{min-width:370px; }
.page_1 .innerTab_2 .flex-item .icon_arrow{
    right:0;
    top:50px;
    position: absolute;
}
.page_1 .innerTab_2 .flex-item.n2 .icon_arrow{
    top:100px;
}
.page_1 .innerTab_2 .flex-item.n1,
.page_1 .innerTab_2 .flex-item.n3{top:50px}

.page_1 .bg{background:#e3e3e3;}

.vcd1 .lineBox{height: 470px;}
.page_1 .innerTab_2 .lineBox{height: 470px;}

.page_2 .img-wrap{width: 960px; margin:0 auto;position: relative;}
.page_2 .img-wrap img{width: 100%;}
.page_2 .img-wrap .icon_arrow.big{position: absolute;top: 110px;lefT: 350px;}

.oxContainer{cursor: pointer;}
.oxContainer .icon_o, .oxContainer .icon_x{width:80px; height:80px; margin:-40px 0 0 -40px;}


.pop_page_3 .vcd1 > .flex-wrap{margin-bottom:100px}
.pop_page_3 .vcd1 .line-arrow.n2 {
    top: 87px;
    left: 256px;
    width: 383px;
    height: 70px;
}
.pop_page_3 .vcd1 .line-arrow.n3 {
    top: 87px;
    left: 317px;
    width: 262px;
    height: 40px;
}
.pop_page_3 .vcd1 .line-arrow.n4 {
    top: 20px;
    left: 384px;
    width: 207px;
    height: 25px;
}

.page_4 .icon_arrow{margin:0 40px}
.page_4 .ms1{padding-top:160px}
.page_4 .ms1-2{margin-top:60px}
.page_4 .ms1 .flex-wrap{justify-content: flex-start;}

.page_6 .img img{width: 100%;}
.page_6 .img{
    position:
    absolute;
    top: 50px;
    left: 140px;
    width: 770px;
}
.page_6 .study_guide {top:0 !important; right: 0;}
.page_6 .dragLineContainer {margin-top:0; flex-direction: column;}
.page_6 .colorBox{position: absolute; width:200px; text-align: center; background-color: transparent !important;}
.page_6 .colorBox.col1{left: 139px;}
.page_6 .colorBox.col2{right: 99px;}
.page_6 .colorBox.row1{top: 90px;}
.page_6 .colorBox.row2{top: 301px;}
.page_6 .colorBox.row3{top: 402px;}
.page_6 .dragLineObj.col1,
.page_6 .dragLineArea.col1{left: 358px;}
.page_6 .dragLineObj.col2,
.page_6 .dragLineArea.col2{left: 768px;}
.page_6 .dragLineObj.row1,
.page_6 .dragLineArea.row1{top: 120px;}
.page_6 .dragLineObj.row2,
.page_6 .dragLineArea.row2{top: 329px;}
.page_6 .dragLineObj.row3,
.page_6 .dragLineArea.row3{top: 430px;}
.page_6 .dragLineArea::after{background-color: transparent;}


.page_7 .img-wrap{width: 510px; margin:0 auto;position: relative;}
.page_7 .img-wrap img{width: 100%;}
.page_7 .img-wrap .icon_arrow.big{position: absolute;top: 80px;lefT: 380px;}

