.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important}

.tableContainer .toggle {padding:0;background-color:transparent}
.tableContainer th {height:60px}

.img-content {position:relative}
.img-content img {vertical-align:top}
.img-content .txt-item {position:absolute;white-space:nowrap}

.toggle.type-b {padding:0;background-color:transparent}
.toggle.type-b::after {content:none}

.popup_pages .solve {width:1060px}

.page_1 .lineBox {margin-top:30px;padding:20px}
.page_1 .lineBox .flex-wrap {align-items:center}
.page_1 .lineBox .img-content {padding:0 20px}
.page_1 .lineBox .img-content img {height:240px}
.page_1 .lineBox .img-content .txt-item.n1 {top:190px;left:32px}
.page_1 .lineBox .img-content .txt-item.n2 {top:170px;left:177px}
.page_1 .lineBox .img-content .txt-item.n3 {top:58px;left:212px}
.page_1 .lineBox .quiz-content {margin-left:60px}
.page_1 .lineBox .toggle {margin:4px 0}

.page_2 .img-box {margin:40px 0;text-align:center}
.page_2 .img-box img {height:200px}

.page_3 .img-content {margin:20px 0 30px;text-align:center}
.page_3 .img-content img {height:160px}
.page_3 .img-content .txt-item.n1 {top:-10px;left:80px}
.page_3 .img-content .txt-item.n2 {top:-10px;left:410px}
.page_3 .img-content .txt-item.n3 {top:-10px;left:690px}
.page_3 .tableContainer td {font-size:38px}

.page_4 .quiz-content {margin-top:20px}
.page_4 .quiz-content .toggle {margin:8px}
.page_4 .quiz-content .blank {display:inline-block;width:40px}

.page_5 .quiz-content {display:inline-block}
.page_5 .quiz-content dl {display:flex}
.page_5 .quiz-content dl ~ dl {margin-top:20px}
.page_5 .quiz-content dd {flex:1 auto;margin-left:10px;text-align:left}
.page_5 .quiz-content dd .toggle {vertical-align:top}

.page_6 .img-content {text-align:center}
.page_6 .img-content img {height:300px}
.page_6 .img-content .txt-item.num {font-size:30px}
.page_6 .img-content .txt-item.n1 {top:90px;left:230px}
.page_6 .img-content .txt-item.n2 {top:146px;left:192px}
.page_6 .img-content .txt-item.n3 {top:182px;left:200px}
.page_6 .img-content .txt-item.n4 {top:205px;left:340px}
.page_6 .img-content .txt-item.n5 {top:20px;left:430px}
.page_6 .img-content .txt-item.n6 {top:82px;left:650px}
.page_6 .img-content .txt-item.n7 {top:110px;left:410px}
.page_6 .img-content .txt-item.n8 {top:124px;left:560px}
.page_6 .img-content .txt-item.n9 {top:70px;left:740px}
.page_6 .img-content .txt-item.n10 {top:155px;left:612px}
.page_6 .img-content .txt-item.n11 {top:200px;left:680px}
.page_6 .img-content .txt-item.n12 {top:185px;left:755px}

.page_7 .img-content {text-align:center}
.page_7 .img-content img {height:280px}
.page_7 .img-content .txt-item.n1 {top:255px;left:390px}
.page_7 .img-content .txt-item.n2 {top:200px;left:600px}

.page_8 .img-content {margin-top:40px;text-align:center}
.page_8 .img-content img {height:400px}
.page_8 .img-content .txt-item.n1 {top:335px;left:92px}
.page_8 .img-content .txt-item.n2 {top:300px;left:367px}
.page_8 .img-content .txt-item.n3 {top:175px;left:410px}
.page_8 .img-content .txt-item.n4 {top:327px;left:678px}
.page_8 .img-content .txt-item.n5 {top:307px;left:860px}
.page_8 .img-content .txt-item.n6 {top:127px;left:910px}

.page_9 .img-content {text-align:center}
.page_9 .img-content img {height:240px}

.page_10 .innerTab_1 .img-content {display:flex;justify-content:center;align-items:center;height:320px;margin-top:20px}
.page_10 .innerTab_1 .img-content img {position:relative;top:-10px;left:20px;height:200px}
.page_10 .innerTab_1 .img-content .txt-item.n1 {top:230px;left:350px}
.page_10 .innerTab_1 .img-content .txt-item.n2 {top:175px;left:545px}
.page_10 .innerTab_1 .img-content .txt-item.n3 {top:70px;left:610px}
.page_10 .innerTab_1 .img-content .balloon {line-height:1.2}
.page_10 .innerTab_1 .img-content .balloon.n1::after {left:37%}
.page_10 .innerTab_1 .img-content .balloon.n2::after {left:80%}
.page_10 .innerTab_2 .quiz-content dl {display:flex;margin-top:20px}
.page_10 .innerTab_2 .quiz-content dt {flex-shrink:0;width:100px;text-align:right}
.page_10 .innerTab_2 .quiz-content .colorBox {display:inline-block}
.page_10 .innerTab_2 .quiz-content .toggle {vertical-align:top}

.page_11 .toggle.type-b {position:absolute;top:0;left:-50px}
.page_11 .toggle.type-b .bullet {margin:0}
.page_11 .tableContainer {margin-top:20px}

.pop_page_1 .popup_contents {letter-spacing:-1.8px}
.pop_page_4 .popup_contents .icon_arrow,
.pop_page_5 .popup_contents .icon_arrow {margin:0;vertical-align:middle}
.pop_page_6 .popup_contents {letter-spacing:-1.8px}
