#wrap main {z-index:0}
.popup_container{z-index: 1;}
.suhi h2 {z-index: 2;}
.popup_pages>li.whole h2.pop-tit{background-color:transparent !important; align-self:flex-start; padding:20px; }
.popup_pages .buttonContainer{right: 40px;bottom: 20px;}
/* .type-iframe .buttonContainer.left{left:56px; right: auto;}
.type-iframe .buttonContainer{right:225px;} */

.iframe-wrap{position: relative !important; width: 1280px; height: 513px;overflow: hidden;margin-left: -100px;}
.page-iframe{position: absolute; top:0; left:0;width: 1280px; height: 720px; margin: 0 auto;overflow: hidden; border:0;}
.lineBox.inline,
.colorBox.inline {display: inline-block;margin: 0 auto;padding: 30px 40px;text-align: center;}
.colorBox.inline {min-width: 300px;}
.flexListContainer li {display: flex;align-items: center;}
.flexListContainer li + li {margin-left: 15px;}

.page_0 .img-box {position:relative;height:320px;text-align:center;margin-top:40px}
.page_0 .img-box img {height:100%;vertical-align:top}
.page_0 .img-box .txt-item {position:absolute;bottom:40px;left:240px}


.page_1 .img-box  {position:relative;height:180px;text-align:center}
.pop_page_1 .img-box {position:relative;height:240px;text-align:center}
.page_1 .img-box img,
.pop_page_1 .img-box img {height:100%;vertical-align:top}
.pop_page_1 .contentsList.v2 .circleDot {position:relative;top:4px}
.pop_page_1 .contentsList .blankBox {min-width:40px;min-height:40px;height:40px;position:relative;top:5px}

.page_2 .img-box {height:250px;text-align:center}
.pop_page_2 .img-box {height:280px;text-align:center}
.page_2 .img-box img,
.pop_page_2 .img-box img {height:100%;vertical-align:top}
.pop_page_2 .contentsList .blankBox {min-width:40px;min-height:40px;height:40px;position:relative;top:5px}

.page_3 .box-flex,
.pop_page_3 .box-flex {display:flex;justify-content:space-around;margin-top:100px}
.page_3 .box-flex .item,
.pop_page_3 .box-flex .item {display:flex;align-items:center}
.pop_page_3 img {vertical-align:middle;position:relative;top:-2px;margin:0 8px}

.page_4 .box-flex {display:flex;margin-top:140px}
.page_4 .box-flex li {display: flex;align-items: center;justify-content:center;width:50%}
.page_4 .box-flex li > div {position:relative}
.page_4 .box-flex .circle {margin:0 40px}
.page_4 .box-flex .noBox {pointer-events:none;position:absolute;top:50px;left:0}

.pop_page_4 .contentsList img[src*="equalIcon"] {height:11px;vertical-align:middle;margin-top:-7px}
.pop_page_4 .contentsList img[src*="inequalIcon"] {height:30px}
.pop_page_4 .toggleBlank.circle {position:relative;top:6px}
.pop_page_4 .box-flex {display:flex;margin-top:140px}
.pop_page_4 .box-flex li {display: flex;align-items: center;justify-content:center;width:50%;font-size:40px}
.pop_page_4 .box-flex li > div {position:relative}
.pop_page_4 .box-flex .circle {margin:0 40px}
.pop_page_4 .box-flex .noBox {pointer-events:none;position:absolute;top:50px;left:0}

.page_5 .toggle {margin-top:20px}
.page_5 .img-bg {position:relative}
.page_5 .img-bg .txt-item {position:absolute}
.page_5 .innerTab_1 .img-bg {background:url("../images/suhi_p_0301_04_0003_6.png") no-repeat 50% 0;height:430px;background-size:100% 100%;margin-top:20px}
.page_5 .innerTab_1 .txt-item.n1 {top:218px;left:112px}
.page_5 .innerTab_1 .txt-item.n2 {top:375px;left:112px}
.page_5 .innerTab_1 .txt-item.n3 {top:160px;left:285px}
.page_5 .innerTab_1 .txt-item.n4 {top:313px;left:285px}
.page_5 .innerTab_2 .img-bg {background:url("../images/suhi_p_0301_04_0003_7.png") no-repeat 50% 0;height:320px;background-size:100% 100%;margin-top:20px}
.page_5 .innerTab_2 .txt-item.n1 {top:255px;left:810px}
.page_5 .innerTab_2 .txt-item.n2 {top:195px;left:112px}
.page_5 .buttonContainer {z-index:2}

.pop_page_5 .img-bg .txt-item {position:absolute;font-size:40px}
.pop_page_5 .innerTab_1 .img-bg {background:url("../images/suhi_p_0301_04_0003_8.png") no-repeat 50% 0;height:480px;background-size:100% 100%;margin-top:20px}
.pop_page_5 .innerTab_1 .txt-item.n1 {top:337px;left:170px}
.pop_page_5 .innerTab_1 .txt-item.n2 {top:514px;left:170px}
.pop_page_5 .innerTab_1 .txt-item.n3 {top:370px;left:370px}
.pop_page_5 .innerTab_1 .txt-item.n4 {top:555px;left:370px}
.pop_page_5 .innerTab_2 .img-bg {background:url("../images/suhi_p_0301_04_0003_9.png") no-repeat 50% 0;height:390px;background-size:100% 100%;margin-top:20px;margin-bottom:20px}
.pop_page_5 .innerTab_2 .txt-item.n1 {top:410px;left:930px}
.pop_page_5 .innerTab_2 .txt-item.n2 {top:436px;left:173px}

.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {position:relative}

.page_6 .box-flex {display:flex;align-items:flex-start;margin-top:20px}
.page_6 .img-box {height:320px;text-align:center;position:relative;margin-bottom:40px;margin-top:60px}
.page_6 .img-box .colorBox {position:absolute;top:270px;display:inline-flex}
.page_6 .img-box .colorBox.n1 {left:300px}
.page_6 .img-box .colorBox.n2 {left:430px}
.page_6 .img-box .colorBox.n3 {left:600px}
.page_6 .img-box .balloon {position:absolute}
.page_6 .img-box .balloon.n1 {top:30px;left:0}
.page_6 .img-box .balloon.n1:after {top:45px}
.page_6 .img-box .balloon.n2 {top:-70px;left:330px}
.page_6 .img-box .balloon.n2:after {left:70px}
.page_6 .img-box .balloon.n3 {top:0;left:770px}
.page_6 .img-box .balloon.n3:after {top:45px}
.page_6 .img-box img {height:100%;vertical-align:top}

.pop_page_6 .lineBox {width:90%;margin: 30px auto 0;padding:30px;}
.pop_page_6 .box-flex {display:flex;align-items:center;font-size:40px}
.pop_page_6 .box-flex ~ .box-flex {margin-top:10px}
.pop_page_6 .box-flex .colorBox {margin-right:10px;width:140px;text-align:center}


.pop_page_2.whole .flexListContainer {margin-top: 30px;}
.pop_page_2.whole .icon_bogi {height: 36px;margin: 8px 4px 0 4px;border-radius: 10px;vertical-align: top;}
.pop_page_2.whole .icon_bogi:after {font-size: 21px;line-height: 36px;}
.pop_page_2.whole .contentsList {margin-bottom: 60px;}
.pop_page_2.whole .lineBox {position: relative;}
.pop_page_2.whole .lineBox .icon_bogi {position: absolute;top: -30px;left: 22px;}
.pop_page_2.whole .textAlignC {margin-bottom: 20px;}

.pop_page_4.whole .lineBox {width: 84%;margin-top: 30px;}
.pop_page_5.whole .lineBox {width: 40%;margin-top: 30px;}

.pop_page_3.whole .lineBox {width: 90%;padding: 20px;margin: 50px auto 0;}
.pop_page_3.whole .ox-wrap {display: flex;justify-content: space-between;align-items: center;width: 100%;}
.pop_page_3.whole .ox-wrap div {position: relative;width: 100%;padding: 15px 0;text-align: center;}
.pop_page_3.whole .ox-wrap .icon {position: absolute;top: 4px;}
.pop_page_3.solve .dotList li {display: flex;align-items: center;}
.pop_page_3.solve .dotList .icon_arrow {margin: 0 10px;}