.img-wrap {
    width: 100%;
}

.btn_1 {
    width: 100%;
    height: 360px;
    background: #fff url(../images/suh_h_0302_01_0004_201_1/suh_h_0302_01_0004_201_1_1.png) no-repeat 50% 0 / cover;
    margin-bottom: 20px;
    border-radius: 20px;
    pointer-events: none;
}

.btn_1 .b1 {
    top: 190px;
    left: -30px;
    z-index: 2;
    text-align: center;
    width: 520px; pointer-events: none;
}

.btn_1 .b2 {
    top: 190px;
    left: 650px;
    z-index: 2;
    text-align: center; pointer-events: none;
    width: 450px;
}
.btn_1 .b1::after {
    left: 66% !important;
}
.btn_1 .b2::after {
    left: 51% !important;
}

/* page2 */

.item-1 {
    position: absolute;
    top: 100px;
    left: 0;
    width: 160px;
    text-align: center;
}

.item-1 img {
    width: 100%;
}

.item-1>span {
    display: inline-block;
}

.item-2 {
    position: absolute;
    top: 150px;
    left: 170px;
}

.item-3 {
    position: absolute;
    top: 0;
    left: 270px;
    opacity: 0;
}

.item-3 .img1 {
    position: absolute;
    width: 540px;
}

.item-3 .toggle {
    display: inline-flex;
}

.item-3.on {
    opacity: 1;
    width: 10;
}

.item-3 .group {
    position: absolute;
    width: 320px;
    top: 0;
    left: 477px;
}
.item-3 .group-item.i1{margin-top: 0;}
.item-3 .group-item.i2{margin-top: 12px;}
.item-3 .group-item.i3{margin-top: 11px;}

.item-3 .group-item {
    margin-bottom: 10px;
}

.item-3 .group-txt {
    display: inline-block;
    width: 200px;
    text-align: right;
}


.type-linebox-b .s1 {
    width: 150px;
    left: -45px;
}

.type-linebox-b .s2 {
    width: 130px;
    left: -30px;
}

.type-linebox-b .s3 {
    width: 110px;
    left: -13px;
}

.item-3 .a1 {
    position: absolute;
    top: 150px;
    left: 283px;
    z-index: 2
}

.item-3 .a2 {
    position: absolute;
    top: 45px;
    left: 283px;
    z-index: 2
}

.item-3-1 {
    position: absolute;
    top: 230px;
    left: 0;
    width: 790px;
    height: 190px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
}

.toggle.colorBox{line-height: 52px !important;}
.type-linebox-b{position: absolute;top: 81px;}
.type-linebox-b .lineBox{position: static;}
.lbx1{left: -37px;}
.lbx2{left: -16px;}
.type-linebox-b.lbx3{left: -18px;}
.type-linebox-b.lbx1::before{left: 85px;}
.type-linebox-b.lbx3::before{left: 44px;}
.type-linebox-b::before {
    content: "";
    display: block;
    width: 1px;
    height: 21px;
    border-left: 4px dashed #ccc;
    position: absolute;
    bottom: 78px;
    left: 50%;
}
