.calc-group {
    position: relative;
    width: 100%;
}

.calc-group img {
    width: 100%;
    pointer-events: none;
}

.calc-group .item1 {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 510px;
}

.calc-group .item2 {
    position: absolute;
    top: 108px;
    left: 701px;
    width: auto;
}

.calc-group .item3 .lineBox {
    position: relative;
    width: auto;
    padding: 40px 20px;
    box-shadow: 5px 5px 0 #Ae7c65;
    border-radius: 46px;
    border-width: 3px;
}

.calc-item {
    position: absolute;
}

.calc-item.col0 {
    left: 10px;
}

.calc-item.col1 {
    left: 150px;
}

.calc-item.col2 {
    left: 320px;
}

.calc-item.col3 {
    left: 440px;
}

.calc-item.row1 {
    top: 12px;
}

.calc-item.row2 {
    top: 87px;
}

.calc-item.row3 {
    top: 197px;
}

.calc-item.row4 {
    top: 287px;
}

.calc-item.row5 {
    top: 347px;
}

.calc-item.row6 {
    top: 487px;
}

.calc-item.s1 {
    position: absolute;
    top: 170px;
    left: 290px;
}

.calc-toggle1 {
    z-index: 2;
    position: absolute;
    top: 210px;
    left: 410px;
}

.calc-toggle2 {
    z-index: 2;
    position: absolute;
    top: 280px;
    left: 267px;
}

.calc-toggle3 {
    z-index: 2;
    position: absolute;
    top: 360px;
    left: 90px;
}

.calc-toggle4 {
    z-index: 2;
    position: absolute;
    top: 480px;
    left: 410px;
}

.calc-group .item1 .answer {
    pointer-events: inherit;
    color: #000;
    font-family: NotoM;
    font-weight: 400;
}

.calc-group .item1 .answer.on {
    z-index: 2;
}

.calc-group .item1 table {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.calc-group .item1 table td:nth-child(2) {
    width: 149px;
    padding-left: 0
}

.calc-group .item1 table td:first-child {
    width: 189px;
    padding-left: 0
}

.calc-group .item1 table td {
    width: 116px;
    text-align: right;
    box-sizing: border-box;
    font-size: 35px;
    padding: 0 20px 0 20px;
    vertical-align: middl;
}

.calc-group .item1 tbody.top td {
    height: 65px;
}

.calc-group .item1 tbody.middle td {
    height: 127px;
}

.calc-group .item1 tbody.bottom td {
    height: 61px;
}

.calc-group .item1 tbody.space td {
    height: 29px;
}


.hid {
    opacity: 0;
    transition: opacity .2s ease-out;
}

.hid.on {
    opacity: 1;
}

.calc-group .click-finger-Btn.complete {
    display: none;
}

.calc-group .click-finger-Btn {
    position: absolute;
}

.calc-group .click-finger-Btn.n1 {
    top: 260px;
    left: 340px;
}

.calc-group .click-finger-Btn.n2 {
    top: 320px;
    left: 220px;
}

.calc-group .click-finger-Btn.n3 {
    top: 470px;
    left: 330px;
}

.calc-group .click-finger-Btn.n4 {
    top: 230px;
    left: 870px;
}

.calc-group .join.n1 {
    position: absolute;
    top: 240px;
    left: 500px;
}

.calc-group .join.n1 .line {
    position: absolute;
    width: 160px;
    height: 0px;
    border-bottom: 4px dashed #f7c1c9;
    border-right: 4px dashed #f7c1c9
}

.calc-group .join.n1 .line::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 89px;
    border-top: 4px dashed #f7c1c9;
}


.calc-group .join.n2 {
    position: absolute;
    top: 307px;
    left: 500px;
}

.calc-group .join.n2 .line {
    position: absolute;
    width: 180px;
    height: 46px;
    top: -17px;
    border-bottom: 4px dashed #c1e8ec;
    border-right: 4px dashed #c1e8ec;
}

.calc-group .join.n2 .line::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 68px;
    border-top: 4px dashed #c1e8ec;
}

.calc-group .join.n3 {
    position: absolute;
    top: 424px;
    left: 500px;
}

.calc-group .join.n3 .line {
    position: absolute;
    width: 196px;
    height: 88px;
    border-bottom: 4px dashed #cee492;
    border-right: 4px dashed #cee492;
    top: -84px;
}

.calc-group .join.n3 .line::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 54px;
    border-top: 3px dashed #cee492;
}




.calc-group .join .lineBox {
    position: absolute;
    top: -39px;
    left: 20px;
}

.calc-group .img2 {
    position: absolute;
    width: 246px !important;
    top: 260px;
    left: 40px;
}

.calc-group .txt2 {
    position: absolute;
    top: 280px;
    left: 155px;
}

.calc-group .join.n2 .lineBox {
    top: -13px;
}

.calc-group .img1 {
    position: absolute;
    width: 200px !important;
    top: 170px;
    left: 205px;
}

.calc-group .txt1 {
    position: absolute;
    top: 165px;
    left: 295px;
}

.calc-group .txt0 {
    position: absolute;
    top: 188px;
    left: 415px;
}

.calc-group .txt3 {
    position: absolute;
    top: 313px;
    left: 298px;
}

.math_calc_table .rowLine {
    top: 0;
    z-index: 1;
}

.math_calc_table .line_1 {
    left: 50px
}

.math_calc_table .line_2 {
    left: 100px
}

.math_calc_table .line_3 {
    left: 150px
}

/* .calc-group .item2 td.on.step1{color: #e94d40;}
.calc-group .item2 td.on.step2{color: #00a0ff;} */
.calc-group .item2 td.on {
    animation-name: bg;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.calc-group .step2.on .step1 {
    background-color: #fff !important;
}

.calc-group .step3.on .step2 {
    background-color: #fff !important;
}

.calc-group .step4.on .step3 {
    background-color: #fff !important;
}

.moveButtonContainer {
    display: none;
}

.calc-group .item3 {
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    margin-top: 100px;
    margin-left: -123px;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
}

.calc-group .item3.on {
    animation-name: show;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.calc-group .dim {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    pointer-events: none;

}

.calc-group .dim.on {
    animation-name: dim;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes dim {
    0% {
        z-index: 2;
        opacity: 0;
    }

    20% {
        z-index: 2;
        opacity: 1;
    }

    60% {
        z-index: 2;
        opacity: 1;
    }

    80% {
        z-index: 2;
        opacity: 0;
    }

    100% {
        z-index: 0;
        opacity: 0;
    }
}

@keyframes bg {
    0% {
        background: #fff;
    }

    20% {
        background: #e3e3e3;
    }

    40% {
        background: #fff;
    }

    60% {
        background: #e3e3e3;
    }

    80% {
        background: #fff;
    }

    100% {
        background: #e3e3e3;
    }
}

@keyframes show {
    0% {
        transform: scale(0) translate(0, 0);
        opacit: 0
    }

    20% {
        transform: scale(1.2) translate(0, 0);
        opacity: 1;
    }

    29% {
        transform: scale(1) translate(0, 0);
        opacity: 1;
    }

    70% {
        transform: scale(1) translate(0, 0);
        opacity: 1;
    }

    100% {
        transform: scale(1) translate(450px, 50px);
        opacity: 1;
    }
}

.anibox {
    position: absolute;
    top: 345px;
    right: 220px;
}
.anibox .balloon.right:after {
    top: 80px;
}

.item3 .math_calc_table .sup{top:-40px}