.content-container > .content > .bg {
    background-image: url('../../images/ms_41_2_03/ms_41_2_03_05_01/bg.svg');
    background-size: 100%;
}

/* .popup-more-one .bg {
    background-image: url('../../images/ms_41_2_03/ms_41_2_03_05_01/bg_more.svg');
} */


.content .app-angle-tool .tool-container {
	top: 160px;
}

#quiz-content-02 .scroll-bg {
    background-image: url('../../images/ms_41_2_03/ms_41_2_03_05_01/bg_more.svg');
    background-size: 100%;
	height: 410px;
}

.answer {
    position: absolute;
    left: 0;
    top: 0;
}

#quiz-content-01 .btn-answer-part {
    left: 1170px;
}

#quiz-01 .check-item {
    left: 900px;
    top: 400px;
}

#quiz-02 .check-item {
    left: 861px;
    top: 159px;
}

.quiz-check.image-answer {
    position: absolute;
    left: 0;
    top: 0;
}
