.content-container > .content > .bg {
    background-image: url('../../images/ms_41_2_03/ms_41_2_03_04_01/bg.png');
    background-size: 100%;
}

.popup-more-one .bg {
    background-image: url('../../images/ms_41_2_03/ms_41_2_03_04_01/bg_more.png');
}

.content .app-angle-tool .tool-container {
    top: 160px;
}

.answer {
    position: absolute;
    left: 0;
    top: 0;
}

#quiz-01 .check-item {
    left: 0;
    top: 0;
}

#quiz-01 .check-item {
    left: 850px;
    top: 412px;
}

#quiz-02 .check-item {
    left: 850px;
    top: 462px;
}

.quiz-check.image-answer {
    position: absolute;
    left: 0;
    top: 0;
}