
@charset "utf-8";


section {
  padding: 20px 50px;
}

symbol {
  margin: 0 4px;
}


.list.dot {
  background: url(../images/3_1/3_1_8_arrow.svg) center 128px / auto 130px no-repeat;
}

.list.dot > li.noDot {
  margin: 150px 0 0;
}
.list.dot > li.noDot:before {
  content: none;
}
.flexBox {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  padding-left: 170px;
  box-sizing: border-box;
}
.fomulaBox,
.readBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 194px;
  height: 78px;
  font-size: .9em;
  margin-right: 20px;
  border-radius: 10px;
}
.fomulaBox {
  background-color: #D1E9EA;
}
.readBox {
  color: #FFF;
  background-color: #7B87C2;
}

.target {
  opacity: 0;
}
.target.on {
  opacity: 1;
}
.toggle[data-toggle-obj="1"] {
  width: 270px;
  top: 122px;
  left: 164px;
}
.toggle[data-toggle-obj="2"] {
  top: 122px;
  left: 630px;
  width: 200px;
}
.toggle[data-toggle-obj="3"] {
  top: 240px;
  left: 775px;
  width: 60px;
}

.answer.toggleAnswer {
  position: absolute;
}
[data-toggle-target="1"] {
  top: 125px;
  left: 163px;
}
[data-toggle-target="2"] {
  top: 125px;
  left: 635px;
}
[data-toggle-target="3"] {
  top: 240px;
  left: 783px;
}