
@charset "utf-8";

.list.dot {
  margin-bottom: 10px;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #c83164;
  box-sizing: border-box;
}
input.small {
  width: 90px;
}

/* page1 */
.page1 .dragBox {
  width: 1080px;
  height: 100px;
  margin: 50px auto 0;
}
.page1 ins.circle {
  position: relative;
  display: inline-block;
  top: 10px;
  margin-right: 4px;
  cursor: default;
  vertical-align: top;
  border-color: #c83164;
}
.page1 .dragBox .circle {
  position: absolute;
  top: 26px;
  left: 200px;
}
.page1 .dragBox .circle:nth-of-type(2) { left: calc(200px + (88px * (2 - 1)))}
.page1 .dragBox .circle:nth-of-type(3) { left: calc(200px + (88px * (3 - 1)))}
.page1 .dragBox .circle:nth-of-type(4) { left: calc(200px + (88px * (4 - 1)))}
.page1 .dragBox .circle:nth-of-type(5) { left: calc(200px + (88px * (5 - 1)))}
.page1 .dragBox .circle:nth-of-type(6) { left: calc(200px + (88px * (6 - 1)))}
.page1 .dragBox .circle:nth-of-type(7) { left: calc(200px + (88px * (7 - 1)))}
.page1 .dragBox .circle:nth-of-type(8) { left: calc(200px + (88px * (8 - 1)))}
.page1 .dragBox .circle:nth-of-type(9) { left: calc(200px + (88px * (9 - 1)))}
.page1 .dragBox .circle:nth-of-type(10) { left: calc(200px + (88px * (10 - 1)))}
.page1 .dragBox .circle:nth-of-type(11) { left: calc(200px + (88px * (11 - 1)))}
.page1 .dragBox .circle:nth-of-type(12) { left: calc(200px + (88px * (12 - 1)))}

.page1 .dropAreaBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 200px;
  width: 100%;
  height: 230px;
  background-position: center center;  
  background-repeat: no-repeat;
  background-image: url(../images/sub/1_1/1_1_3.svg);
}
.page1 .dropAreaBox > .char {
  display: flex;    
  width: 174px;
  height: 101px;
  box-sizing: border-box; 
  align-items: top;
  justify-content: center;
  margin-left: 125px;
}
.page1 .dropAreaBox > .char_1{
    margin-left: 0
}
.page1 .dropAreaBox > .char_2 {
  background-position-x: -193px;
}
.page1 .dropAreaBox > .char_3 {
  background-position-x: calc(-193px * 2);
}

.page1 .dragBox .dragObj.dragObjComplete {
  opacity: .2;
}
.page1 .dropAreaBox .dragObj {
  flex: 0 0 auto;
  position: static;
  margin: 2px;
}
.page2 .inputBox{margin-left:100px}
.page2 .inputBox input{display: inline-block}

