

.toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 153px;
  width: 272px;
}
.toggleObj[data-toggle-obj="2"] {
  top: 0;
  left: 539px;
  width: 185px;
}
.toggleObj[data-toggle-obj="3"] {
  top: 0;
  left: 1145px;
  width: 56px;
}

.list.dot > li.noDot {
  margin: 30px 0;
}
.list.dot > li.noDot:before {
  content: none;
}
.flexBox {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  /*padding-left: 170px;*/
  box-sizing: border-box;
}
.fomulaBox,
.readBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 194px;
  height: 78px;
  font-size: .9em;
  margin-right: 20px;
  border-radius: 10px;
}
.fomulaBox {
  background-color: #D1E9EA;
}
.readBox {
  color: #FFF;
  background-color: #7B87C2;
}

.target {
  opacity: 0;
}
.target.on {
  opacity: 1;
}

.clickButton[data-toggle-obj="4"],
.clickButton[data-toggle-obj="5"] {
  top: -20px;
  left: 356px;
  transition: none;
}

.clickButton.complete {
  opacity: 0;
  display: block;
  height: 60px;
  top: 6px;
  left: 380px;
  animation: none;
  transition: none;
}
.clickButton[data-toggle-obj="4"].complete {
  width: 230px;
}
.clickButton[data-toggle-obj="5"].complete {
  width: 560px;
}

.balloonText {
  position: absolute;
  top: 20px;
  right: 0;
  width: 360px;
  height: 270px;
  padding: 30px 0 0 0;
  background: url(../images/3_1/3_1_4.svg) center/contain no-repeat;
  box-sizing: border-box;
}
.balloonText .mathSymbols {
  width: 18px;
  height: 18px;
  background-size: auto 18px;
}
.balloonText .mathSymbols.division {
  background-position-x: calc(-18px * 3);
}
.balloonText .mathSymbols.equal {
  background-position-x: calc(-18px * 4);
}
