
@charset "utf-8";

/* page1 */
main .page1 {
  background: url(../images/3_1/3_1_6_01.png) center 0px / auto 490px no-repeat;
}
.balloonText {
  position: absolute;
  font-size: 28px;
}
.balloonText_1 {top: 23px; left: 399px;}
.balloonText_2 {
  top: 186px;
  left: 585px;
}
.balloonText_3 {
  top: 155px;
  left: 829px;
}
/* page2 */
main .page2 {}
main .page2 .group_5,
main .page2 .group_4 {
  position: relative;
  float: left;
  width: 347px;
  height: 347px;
  margin-top: 50px;
  padding-top: 347px;
  text-align: center;
  background: center / contain no-repeat;
  box-sizing: border-box;
}
main .page2 .group_5 {
  margin-left: 200px;
  background-image: url(../images/3_1/3_1_6_02.png);
}
main .page2 .group_4 {
  margin-left: 100px;
  background-image: url(../images/3_1/3_1_6_03.png);
}
main .page2 .clickButton {
  top: 326px;
  left: 240px;
}

/* popup */
.popup_pages > li.min .groupContainer {
  width: 500px;
  height: 360px;
  margin: 20px auto;
  background: url(../images/3_1/3_1_6_04.png) center / contain no-repeat;
}

.popup_pages > li.min h5 {
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  color: #fff;
  font-size: .6em;
  padding: 6px 26px 4px 70px;
  border-radius: 50px;
}
.popup_pages > li.min h5:before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-width: 6px;
  border-style: solid;
  box-sizing: border-box;
  background: center / auto 72px no-repeat;
}
.popup_pages > li.min[data-popup-page="2"] h5 {
  background-color: #ff6fde;
}
.popup_pages > li.min[data-popup-page="2"] h5:before {
  border-color: #ff6fde;
  background-image: url(../images/3_1/3_1_6_02.png);
}
.popup_pages > li.min[data-popup-page="3"] h5 {
  background-color: #6fa5ff;
}
.popup_pages > li.min[data-popup-page="3"] h5:before {
  border-color: #6fa5ff;
  background-image: url(../images/3_1/3_1_6_03.png);
}

.popup_pages .groupContainer .clickButton {
  top: -10px;
}
[data-toggle-target],
.clickButton[data-toggle-target].complete {
  display: none;
}
[data-toggle-target].on {
  display: block;
}
.popup_pages .groupContainer .line {
  /* opacity: 0; */
  position: absolute;
  top: 12px;
  left: 300px;
  border-width: 3px;
  border-style: solid;
  border-radius: 14px;
  box-sizing: border-box;
}
.popup_pages .groupContainer .line.on {
  opacity: 1;
}

/* popup - page2 */
[data-popup-page="2"] .groupContainer .clickButton[data-toggle-obj="1"] {
  left: 370px;
}
[data-popup-page="2"] .groupContainer .clickButton[data-toggle-obj="2"] {
  left: calc(370px + (95px * 1));
}
[data-popup-page="2"] .groupContainer .clickButton[data-toggle-obj="3"] {
  left: calc(370px + (95px * 2));
}
[data-popup-page="2"] .groupContainer .clickButton[data-toggle-obj="4"] {
  left: calc(370px + (95px * 3));
}
[data-popup-page="2"] .groupContainer .clickButton[data-toggle-obj="5"] {
  left: calc(370px + (95px * 4));
}

[data-popup-page="2"] .groupContainer .line {
  width: 87px;
  height: 374px;
  border-color: #ff6fde;
}
[data-popup-page="2"] .groupContainer .line[data-toggle-target="2"] {
  left: calc(300px + (96px * 1));
}
[data-popup-page="2"] .groupContainer .line[data-toggle-target="3"] {
  left: calc(300px + (96px * 2));
}
[data-popup-page="2"] .groupContainer .line[data-toggle-target="4"] {
  left: calc(300px + (96px * 3));
}
[data-popup-page="2"] .groupContainer .line[data-toggle-target="5"] {
  left: calc(300px + (96px * 4));
}


/* popup - page3 */
[data-popup-page="3"] .groupContainer .clickButton {
  left: 750px;
}
[data-popup-page="3"] .groupContainer .clickButton[data-toggle-obj="2"] {
  top: calc(-10px + (95px * 1));
}
[data-popup-page="3"] .groupContainer .clickButton[data-toggle-obj="3"] {
  top: calc(-10px + (95px * 2));
}
[data-popup-page="3"] .groupContainer .clickButton[data-toggle-obj="4"] {
  top: calc(-10px + (95px * 3));
}

[data-popup-page="3"] .groupContainer .line {
  width: 472px;
  height: 87px;
  border-color: #6fa5ff;
}
[data-popup-page="3"] .groupContainer .line[data-toggle-target="2"] {
  top: calc(12px + (96px * 1));
}
[data-popup-page="3"] .groupContainer .line[data-toggle-target="3"] {
  top: calc(12px + (96px * 2));
}
[data-popup-page="3"] .groupContainer .line[data-toggle-target="4"] {
  top: calc(12px + (96px * 3));
}

.popupSlidePage2 .dotListIndent {
  margin-left: 40px;
  box-sizing: border-box;
}
.popupSlidePage2 .dotListIndent input {
  width: 150px;
  margin-right: 5px;
}
