
@charset "utf-8";
.act .contentsArea > h1 {
  word-break: break-all;
  letter-spacing: -4px;
}
.inputQuizContainer {
  padding-left: 40px;
  margin-top: 10px;
  box-sizing: border-box;
}

/* page1 */
main .page1 .groupContainer {
  position: relative;
  top: 60px;
  width: 100%;
  height: 210px;
  background: url(../images/3_2/3_2_04_01.png) center 0px /auto 100% no-repeat;
}

[data-toggle-target],
.clickButton[data-toggle-target].complete {
  display: none;
}
[data-toggle-target].on {
  display: block;
}
main .page1 .groupContainer .line {
  /* opacity: 0; */
  position: absolute;
  width: 360px;
  height: 234px;
  top: -12px;
  left: 67px;
  border-width: 3px;
  border-style: solid;
  border-color: #ff6fde;
  border-radius: 14px;
  box-sizing: border-box;
}
main .page1 .groupContainer .line.on {
  opacity: 1;
}

main .page1 .groupContainer .clickButton {
  top: -60px;
}
main .page1 .groupContainer .clickButton[data-toggle-obj="1"] {
  left: 90px;
}
main .page1 .groupContainer .clickButton[data-toggle-obj="2"] {
  left: 450px;
}
main .page1 .groupContainer .clickButton[data-toggle-obj="3"] {
  left: 805px;
}

main .page1 .groupContainer .line[data-toggle-target="2"] {
  left: 430px;
}
main .page1 .groupContainer .line[data-toggle-target="3"] {
  left: 793px;
}

.page2 .inlineBox {
  width: 150px;
  margin-right: 5px;
}

/* page3 */
.page3 .dragLineContainer {
  width: 100%;
  height: 360px;
  background: url(../images/3_2/3_2_04_02.png) center / contain no-repeat;
}
.page3 .dragLineArea:after { content: none; }
.page3 .dragObj[data-group="1"] {
  top: 151px;
}
.page3 .dragObj[data-group="1"][data-answer="1"] {
  left: 412px;
}
.page3 .dragObj[data-group="1"][data-answer="2"] {
  left: 606px;
}
.page3 .dragObj[data-group="1"][data-answer="3"] {
  left: 796px;
}
.page3 .dragObj[data-group="2"] {
  top: 268px;
}
.page3 .dragObj[data-group="2"][data-answer="1"] {
  left: 608px;
}
.page3 .dragObj[data-group="2"][data-answer="2"] {
  left: 994px;
}
.page3 .dragObj[data-group="2"][data-answer="3"] {
  left: 226px;
}

.page3 .svgContainer > line {
  stroke: #ee5367;
}
.page3.complete .svgContainer > line {
  stroke: #0060e3;
}

.page3 fomula {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 80px;
  left: 350px;
  width: 510px;
  height: 54px;
}
.page3 textarea, input {
  padding: 9px 14px 4px;
}
.page3 fomula > input {
  width: 120px;
  text-align: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.page3 fomula symbol {
  margin: 0 20px;
}


.page3 .text {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 28px;
  font-family: MapleStoryL;
}
.page3 .text_1 {
  top: 330px;
  left: 80px;
}
.page3 .text_2 {
  top: 330px;
  left: 469px;
}
.page3 .text_3 {
  top: 330px;
  left: 852px;
}