
@charset "utf-8";

.supplies {
  top: -75px;
  right: 0px;
}
ul.list.dot {
  margin-bottom: 10px;
}

/* page1 */
.page1 .dragBox {
  width: 1080px;
  height: 200px;
  margin: 0 auto;
}
.page1 .bagContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 295px;
  width: 1000px;
  left: 100px;
  /* outline: 1px solid blue; */
  flex-wrap: wrap;
}
.page1 .js-dropArea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 332px;
  height: 100px;
  /* padding: 20px; */
  box-sizing: border-box;
  /* background: url(../images/3_1/3_1_3_01.png) center / contain no-repeat; */
  /* outline: 1px solid red; */
}
.page1 .bag > .bread {
  position: static;
}
.page1 .dragObj.bread {
  position: absolute;
  top: 20px;
  left: 385px;
  width: 310px;
  height: 160px;
  background: url(../images/3_2/3_2_03_fishBread.png) center / contain no-repeat;
  cursor: pointer;
}
.page1 .js-dropArea .dragObj.bread.dragObjComplete,
.page1 .js-dropArea .dragObj.bread {
  position: relative;
  top: 0;
  left: 0;
  height: 96px;
  background: #fff url(../images/3_2/3_2_03_fishBread.png) center / contain no-repeat;
}


.page1 .imgContainer {
  position: absolute;
  top: 290px;
  left: 60px;
}
.page1 .imgContainer .bread {
  position: absolute;
  top: 20px;
  left: 385px;
  width: 80px;
  height: 60px;
  background: url(../images/3_2/3_2_03_bread.png) center / contain no-repeat;
  cursor: pointer;
}
.page1 .imgContainer .bread.bottom {
  top: 120px;
}
.page1 .imgContainer > .bread:nth-of-type(1) { left: calc(110px * (1 - 1) + 60px); }
.page1 .imgContainer > .bread:nth-of-type(2) { left: calc(110px * (2 - 1) + 60px); }
.page1 .imgContainer > .bread:nth-of-type(3) { left: calc(110px * (3 - 1) + 60px); }
.page1 .imgContainer > .bread:nth-of-type(4) { left: calc(110px * (4 - 1) + 60px); }
.page1 .imgContainer > .bread:nth-of-type(5) { left: calc(110px * (5 - 1) + 60px); }
.page1 .imgContainer > .bread:nth-of-type(6) { left: calc(110px * (6 - 1) + 60px); }
.page1 .imgContainer > .bread:nth-of-type(7) { left: calc(110px * (7 - 1) + 60px); }
.page1 .imgContainer > .bread:nth-of-type(8) { left: calc(110px * (8 - 1) + 60px); }
.page1 .imgContainer > .bread:nth-of-type(9) { left: calc(110px * (9 - 1) + 60px); }

.page1 .imgContainer > .bread:nth-of-type(10) { left: calc(110px * (1 - 1) + 60px); }
.page1 .imgContainer > .bread:nth-of-type(11) { left: calc(110px * (2 - 1) + 60px); }
.page1 .imgContainer > .bread:nth-of-type(12) { left: calc(110px * (3 - 1) + 60px); }
.page1 .imgContainer > .bread:nth-of-type(13) { left: calc(110px * (4 - 1) + 60px); }
.page1 .imgContainer > .bread:nth-of-type(14) { left: calc(110px * (5 - 1) + 60px); }
.page1 .imgContainer > .bread:nth-of-type(15) { left: calc(110px * (6 - 1) + 60px); }
.page1 .imgContainer > .bread:nth-of-type(16) { left: calc(110px * (7 - 1) + 60px); }
.page1 .imgContainer > .bread:nth-of-type(17) { left: calc(110px * (8 - 1) + 60px); }
.page1 .imgContainer > .bread:nth-of-type(18) { left: calc(110px * (9 - 1) + 60px); }


.page1 .dragBox .bread.dragObjComplete {
  opacity: .2;
}

/* page2 */
.page2 .inputQuizContainer {
  padding-left: 40px;
  /* margin-top: 10px; */
  /* box-sizing: border-box; */
}
.page2 .inputQuizContainer input {
  width: 150px;
  margin-right: 5px;
}
.page2 .imgBg {
  position: relative;
  top: 30px;
  left: 100px;
  width: 100%;
  height: 295px;
  background: url(../images/3_2/3_2_03_01.png) 0px 0px / auto 100% no-repeat;
}

.page2 .toggleAnswer {
  position: absolute;
  top: 185px;
  left: 100px;
  width: 1113px;
  height: 272px;
  padding: 40px 40px;
  box-sizing: border-box;
  background: url(../images/3_2/3_2_03_02.png) 720px 60px / auto 87px no-repeat;
}

.page2 .posText {
  position: absolute;
  top: 150px;
  text-align: center;
  font-size: 30px;
  color: #c8245b;
}
.page2 .posText_1 {
   left: 704px
}
.page2 .posText_2 {
  left: 873px
}
.page2 .posText_3 {
  left: 1034px;
}