
@charset "utf-8";


section > flex:nth-child(1) { margin: 60px 0; }
input {
  display: inline-block;
  width: 100px;
  margin: 0 15px;
  text-align: center;
}
.arrow {
  margin: 0 30px;
  cursor: none;
}
.arrow.pink:after {animation: none;}