
@charset "utf-8";

ul.list.dot {
  margin-bottom: 10px;
}


/* page1 */
.page1 .quizText { margin-top: 70px; }
.page1 input {
  display: inline-block;
  position: relative;
  width: 100px;
  text-align: center;
}
.page1 .heart {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: -14px;
  background: url(../images/3_4/3_4_4_heart.png) center/ auto 100% no-repeat;
  vertical-align: middle;
}
.page1 .arrow {
  display: inline-block;
  margin-top: -10px;
  vertical-align: middle;
  cursor: default;
}
.page1 .arrow:after {animation: none;}

/* page2 */
.page2 .imgBg {
  position: relative;
  top: 35px;
  width: 100%;
  height: 375px;
  background: url(../images/3_4/3_4_04_01.svg) center/ auto 100% no-repeat;
}
.page2 input {
  position: absolute;
  top: 36px;
  left: 792px;
  width: 100px;
  text-align: center;
}
.clickButton[data-toggle-obj="1"] {
  top: -40px;
  left: 543px;
}
.clickButton[data-toggle-obj="2"] {
  top: 87px;
  left: 338px;
}

.page2 img.img {
  position: absolute;
  height: 375px;
  left: 376px;
  z-index: -1;
}

/* page3 */
.page3 .imgBg {
  position: relative;
  top: 35px;
  width: 100%;
  height: 325px;
  padding: 20px 50px 0px 140px;
  background: url(../images/3_4/3_4_03_03.png) 90px center/ auto 100% no-repeat;
  box-sizing: border-box;
}
.page3 .inputQuizContainer {
  padding-left: 40px;
}
.page3 textarea {
  height: 185px;
  word-break: normal;
}
.page3 .square {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: -5px;
  border: 2px solid #70a8fb;
  border-radius: 10px;
  background-color: #fff;
  vertical-align: middle;
}

.page3 .clickButton {
  top: 120px;
  left: 690px;
}
.page3 .imgBg img.img {
  position: absolute;
  top: 160px;
  left: 495px;
}
.page3 .textareaAnswer {
  position: absolute;
  top: 80px;
  left: 122px;
  height: 185px;
  width: 1075px;
  line-height: 1.18;
  letter-spacing: -2.5px;
  word-break: break-all;
  color: #0060e3;
  /* color: #00ffe3; */
  background-image: none;
  text-align: justify;
}