
@charset "utf-8";

.fns_contBox {
    position: relative;
    text-align:center;
}


.dragBox {
    width: 1060px;
    height: 180px;
    margin: 70px auto 70px;
}

.dropArea {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 78px;
    vertical-align: middle;
    margin: -12px 0 0 0;
    box-sizing: border-box;
}
.dropArea.blue {
    color: #0060e3;
}
.dragObj {
    top: 65px;
    width: 190px;
    text-align: center;
}
.dragObj[data-index="1"] {
    left: 100px;
}
.dragObj[data-index="2"] {
    left: 440px;
}
.dragObj[data-index="3"] {
    left: 770px;
}

.dropArea .dragObj.dragObjComplete {
    position: static;
    width: 100%;
}
.dropArea .dragObj.dragObjComplete span {
    display: none;
}
