
@charset "utf-8";

.contentsArea h2 {
    word-break: normal;
}

h1 span {
    color:#0f989e;
}
.inputArea {
    text-align:center;
}
.inputArea input {
    display:inline-block;
    width:150px;
    text-align:center;
}
.fns_imgBox {
    text-align:center;
}
.fns_imgBox > img {
    width:620px;
    flex: 0 0 auto;
    height: 200px;
}

h1.fns_noneIcon {
    padding-left:0 !important;
}
h1.fns_noneIcon::before {
    display:none !important;
}

.fns_noneIcon + section {
    flex: 0 0 auto;
    height: 200px;
}