
@charset "utf-8";

.contentsArea h2 {
  word-break: normal;
}

.imgIcon {
  width:51px;
  height:28px;
  background: url(../images/3_6/3_6_02_02.png) no-repeat 0 0;
}

.dragBox {
  position:absolute;
  width:350px;
  height:120px;
  right:0;
  bottom:202px;
}

.dragBox ul {
  padding-top:22px;
}
.dragBox li {
  position:relative;
  width:275px;
  height:50px;
  margin:0 auto;

}

.fns_imgBox {
  position:relative;
  left:25px;
  width:742px;
  height:153px;
  background: url(../images/3_6/3_6_02_01.svg) center / contain no-repeat;
}

.imgIcon.item1,
.imgIcon.item6 {}

.imgIcon.item2,
.imgIcon.item7 {left:56px}

.imgIcon.item3,
.imgIcon.item8 {left:112px}

.imgIcon.item4,
.imgIcon.item9 {left:168px}

.imgIcon.item5,
.imgIcon.item10 {left:224px}

.dragBox .imgIcon.dragObjComplete {
  opacity:.3;
}

.fns_contBox {
  margin-top:30px;
  padding-left:70px;
}

.dropArea {
  width: 271px;
  height: 44px;
}
.dropArea.item1 {left:100px;top:0}
.dropArea.item2 {left:100px;top:44px}
.dropArea.item3 {left:100px;top:88px}
.dropArea.item4 {left:421px;top:0}
.dropArea.item5 {left:421px;top:44px}

.dropArea .imgIcon {
  position: static;
  margin-top: 11px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}

.inputArea {
  text-align: center;
}
.inputArea .inlineBox {
  width: 150px;
  margin-right: 5px;
}