
@charset "utf-8";

[data-toggle-target] {
    opacity : 1 !important;
    visibility: visible;
}

.fns_contBox {
    margin-top:20px;
    text-align:center;
}
.fns_contBox img {
    width:52px;
    vertical-align:middle;
}

[data-click-target] {
    opacity: 1;
    visibility: visible;
}
.fns_contBox .clickButton {
    left: 60px;
    top: -28px;
    z-index:10;
    display:none;
}

.fns_contBox .clickButton.complete {
    display:block;
}
.fns_contBox li {
    position:relative;
    display:inline-block;
    border:3px solid transparent;
    border-radius: 10px;
    padding:10px;
    box-sizing: border-box;
}
.fns_contBox li.on {
    border-color:#70a8fb;
}

.fns_contBox li.on .clickButton{
    display:none !important;
}

.fns_contBox li.on + li .clickButton {
    display:block;
}

.inputArea {
    margin-top:30px;
    padding-left:70px;
    text-align: center;
}

.inputArea .inlineBox {
    width: 150px;
    margin-right: 5px;
}
