
@charset "utf-8";

.fns_imgBox {
    position:absolute;
    width:400px;
    margin-top:27px;
    margin-left:200px;
    

}
.fns_contBox {
    position: absolute;
    top: 164px;
    right: 200px;
}

input {
    width:150px;
}
