
@charset "utf-8";


section {
  padding: 20px 50px;
}

symbol {
  margin: 0 4px;
}

ins.square {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: -5px;
  border: 2px solid #70a8fb;
  border-radius: 10px;
  background-color: #fff;
  vertical-align: middle;
}

.left,.right {
  width: 50%;
  height: 100%;
}
.left { margin-right: 300px;}

.left .imgBg {
  position: relative;
  top: 35px;
  left: 80px;
  width: 395px;
  height: 315px;
  background-color: #fff;
  /* background: url(../images/3_4/3_4_04_01.svg) center 0px/ auto 100% no-repeat; */
}
.img_01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 395px;
}
.img_02 {
  position: relative;
  top: 60px;
}

[data-toggle-obj="1"] {
  top: 73px;
  left: 430px;
}
[data-toggle-obj="2"] {
  top: 310px;
  left: 90px;
}
[data-toggle-obj="3"] {
  top: 110px;
  left: 950px;
}

[data-toggle-target="1"] {
  position: absolute;
  width: 395px;
  height: 315px;
  background: url(../images/3_4/3_4_05_01.svg) center 0px/ auto 100% no-repeat;
}
[data-toggle-target="2"] {
  position: absolute;
  width: 395px;
  height: 315px;
  background: url(../images/3_4/3_4_05_02.svg) center 0px/ auto 100% no-repeat;

}
[data-toggle-target="3"] {
  position: relative;
  top: -90px;
  left: 3px;
}
.img_04[data-toggle-target="3"] {
  position: absolute;
  top: 310px;
  left: 680px;
}