body {
	background: url("../images/bgImg.png") no-repeat;
	background-position: 0 -116px;
}

#bgCanvas {
	position: absolute;
	width: 1280px;
	height: 720px;
	top: -20px;
	left: 0;
	background: url("../images/bgImg.png") center / cover no-repeat;
}

.donut {
	position: absolute;
	cursor: pointer;
	cursor: default;
}

#donutCounter {
	width: 473px;
	height: 169px;
	position: absolute;
	z-index: 1;
	top: 170px;
	left: 351px;
	background: url('../images/donutdevide_donutbox.png') center / cover no-repeat;
	padding: 25px 75px;
}

#donutPos {
	position: absolute;
	width: 1024px;
	height: 768px;
	top: 0px;
	left: 146px;
}

#questionTopWrp {
	position: absolute;
	width: 800px;
	height: 80px;
	font-family: NanumGothicExtraBold;
	font-size: 50px;
	text-align: center;
	line-height: 78px;
	background: url('../images/donutdevide_numbg.png') no-repeat;
}

.questionTop {
	display: inline-block;
}

#answerObject1Text,
#answerObject2Text,
#answerObject3Text,
#answerObject1,
#answerObject2,
#answerObject3 {
	position: absolute;
	width: 273px;
	height: 191px;
	padding: 19px 0px 1px 30px;
	pointer-events: none;
}

#answertxt1,
#answertxt2,
#answertxt3 {
	display: none;
	float: left;
	text-align: center;
	width: 82px;
	height: 87px;
	line-height: 80px;
	font-family: NanumGothicExtraBold;
	font-size: 50px;
	color: #000;
	text-shadow: 2px 2px 2px #fff;
}

#answerObject1Text,
#answerObject1 {
	top: 66%;
	left: calc((1280px - 303px * 3) / 4);

}

#answerObject2Text,
#answerObject2 {
	top: 66%;
	left: calc((1280px - 303px * 3) / 4 * 2 + 303px);

}

#answerObject3Text,
#answerObject3 {
	top: 66%;
	left: calc((1280px - 303px * 3) / 4 * 3 + 303px * 2);
}

#answerObject1 {

	background: url('../images/donutdevide_donuttray_blue.png') no-repeat;
}

#answerObject2 {

	background: url('../images/donutdevide_donuttray_green.png') no-repeat;
}

#answerObject3 {

	background: url('../images/donutdevide_donuttray_pink.png') no-repeat;
}