.contentsBox .buttonContainer {right:56px}

.flex-group {display:flex}
.flex-group .flex-item {display:flex;justify-content:center;align-items:center;height:400px;margin:0 40px}
.toggle.circle {margin:0 10px}

.pop_page_1 .contentsList li img[src*='inequalIcon'] {height:30px;margin:0 4px;vertical-align:-2px}
