.gate_container .downloadBtn {right:20px;left:auto}
.downloadBtn {left:0;}
.downloadBtn::before {content:attr(data-name)}

.txt-pink {color:#d53181}

.math-equal-wrap {position:relative}
.equal-group {display:flex;align-items:center}
.equal-group .num {width:120px;text-align:center}
.equal-group .toggleBlank.circle {display:inline-flex;justify-content:center;align-items:center;width:50px;height:50px}
.equal-group .toggleBlank.circle img {margin-top:0}
.equal-solve {position:relative;display:flex;flex-direction:column}
.equal-solve [class*='solve-line-'] {position:relative;height:20px;border:2px solid #d53181}
.equal-solve [class*='solve-line-']:before,
.equal-solve [class*='solve-line-']:after {content:'';position:absolute;width:20px;height:2px;background-color:#d53181}
.equal-solve [class*='solve-line-']:before {left:-10px}
.equal-solve [class*='solve-line-']:after {right:-10px}
.equal-solve .solve-line-top {border-bottom:none}
.equal-solve .solve-line-top:before,
.equal-solve .solve-line-top:after {bottom:0}
.equal-solve .solve-line-bottom {border-top:none}
.equal-solve .solve-line-bottom:before,
.equal-solve .solve-line-bottom:after {top:-2px}
.equal-solve .solve-num {text-align:center}
.equal-solve .solve-num img {width:16px;vertical-align:0}

.page_1 h2.title-01 .toggleBlank.circle {vertical-align:-4px}
.page_1 .flex-group {display:flex;flex-wrap:wrap}
.page_1 .flex-group .flex-item {flex:initial;display:flex;justify-content:center;align-items:center;width:50%;height:160px}
.page_1 .toggle.circle {margin:0 10px}
.page_1 .num {width:130px;text-align:center}
.pop_page_1 .contentsList {display:flex;flex-wrap:wrap}
.pop_page_1 .contentsList .dot {margin-top:24px}
.pop_page_1 .contentsList > li {width:50%;margin-bottom:0}
.pop_page_1 .contentsList > li:nth-child(n+3) {margin-top:20px}
.pop_page_1 .equal-solve.n1 {width:174px;margin-left:83px}
.pop_page_1 .equal-solve.n2 {width:174px;margin-left:33px}
.pop_page_1 .equal-solve.n3 {width:172px;margin-left:94px}

.page_2 .lineBox.purple {display:flex;padding:60px}
.page_2 .lineBox.purple .flex-item {display:flex;justify-content:center}
.pop_page_2 .math-equal-wrap {padding:60px 0}
.pop_page_2 .math-equal-wrap .equal-solve {position:absolute}
.pop_page_2 .equal-solve.n1 {top:107px;left:103px;width:194px}
.pop_page_2 .equal-solve.n2 {flex-direction:column-reverse;top:-5px;left:273px;width:174px}
.pop_page_2 .equal-solve.n3 {top:107px;left:464px;width:193px}
.pop_page_2 .equal-group .num {width:180px}

.page_3 .lineBox.green {display:block;width:400px;margin:20px auto 40px;text-align:center}
.page_3 .lineBox.green .blankBox {width:40px;height:40px;vertical-align:-6px}
.page_3 .lineBox.green img {width:18px;margin:0 10px}
.pop_page_3 .popup_contents > p {letter-spacing:-2px}
.pop_page_3 .popup_contents > p img {width:18px;margin:0 4px;vertical-align:-2px}
.pop_page_3 .popup_contents .blankBox {width:40px;height:40px;vertical-align:-7px}

.page_4 h2.title-01 .toggleBlank.circle {vertical-align:-4px}
.page_4 .flex-group {display:flex;flex-wrap:wrap}
.page_4 .flex-group .flex-item {flex:initial;display:flex;justify-content:center;align-items:center;width:50%;height:360px}
.page_4 .toggle.circle {margin:0 10px}
.page_4 .num {width:130px;text-align:center}
.pop_page_4 .contentsList {display:flex;flex-wrap:wrap}
.pop_page_4 .contentsList .dot {margin-top:24px}
.pop_page_4 .contentsList > li {width:50%;margin-bottom:0}
.pop_page_4 .equal-solve.n1 {width:173px;margin-left:54px}
.pop_page_4 .equal-solve.n2 {width:182px;margin-left:74px}

.page_5 .lineBox.deeppink {width:880px;margin:20px auto 0;padding:20px 40px}
.page_5 .lineBox.deeppink .toggle.circle {vertical-align:-6px}
.pop_page_5 .contentsList {display:flex;flex-wrap:wrap}
.pop_page_5 .contentsList .dot {margin-top:24px}
.pop_page_5 .contentsList > li {margin-bottom:0}
.pop_page_5 .equal-solve {width:184px;margin-left:63px}

.page_6 h2.title-01 .toggleBlank.circle {vertical-align:-4px}
.page_6 .flex-group {display:flex;flex-wrap:wrap}
.page_6 .flex-group .flex-item {flex:initial;display:flex;justify-content:center;align-items:center;width:50%;height:360px}
.page_6 .toggle.circle {margin:0 10px}
.page_6 .num {width:130px;text-align:center}
.pop_page_6 .contentsList {display:flex;flex-wrap:wrap}
.pop_page_6 .contentsList .dot {margin-top:24px}
.pop_page_6 .contentsList > li {width:50%;margin-bottom:0}
.pop_page_6 .equal-solve.n1 {width:166px;margin-left:82px}
.pop_page_6 .equal-solve.n2 {width:183px;margin-left:33px}

.page_7 .multipleChoiceList {flex-wrap:wrap;width:750px;margin:40px 0 0 200px}
.page_7 .multipleChoiceList li {width:50%}
.page_7 .multipleChoiceList li:nth-child(n+3) {margin-top:40px}
.page_7 .multipleChoiceList .choice {display:flex;align-items:center;letter-spacing:1px}
.page_7 .multipleChoiceList .underLine {display:inline-block}

.pop_page_8 .popup_contents > p {letter-spacing:-1.5px}
.pop_page_8 .popup_contents > p img {width:18px;margin:0 4px;vertical-align:-2px}

.page_9 .tableContainer.brown {width:600px}
.page_9 .tableContainer.brown th,
.page_9 .tableContainer.brown td {padding:5px}
.pop_page_9 .popup_contents > p {letter-spacing:-1.5px}
.pop_page_9 .popup_contents > p img {width:18px;margin:0 4px;vertical-align:-2px}

.page_10 .tableContainer.brown {width:860px;margin-top:20px}
.page_10 .tableContainer.brown table {table-layout:fixed}
.page_10 .tableContainer.brown th,
.page_10 .tableContainer.brown td {padding:5px}
.page_10 .q-group {display:flex;justify-content:center;align-items:center;margin-top:40px}
.page_10 .q-group > .toggle {width:120px}
.page_10 .q-group > img {width:18px;margin:0 10px}