
@charset "utf-8";

/***********************
* 초등 전자저작물 *
* 수학 3-4학년 *
* study_arrange.css *
***********************/


.study_arrange .contentsArea {
  background: url(../../math/images/arrange/arrange_bg.svg) center top 40px / auto 550px no-repeat;
}


.study_arrange h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 114px;
  margin-top: -18px;
  margin-bottom: 0;
  padding: 20px 0px 0px 116px;
  color: #222;
  font-size: 42px;
  font-family: JalNan;
  letter-spacing: -1px;
  box-sizing: border-box;
  background: url(../../math/images/arrange/arrange_title.svg) center / contain no-repeat;
}

.study_arrange h1 > span {
  color: #FFF;
  margin-right: 60px;
}
