.operator{display:inline-block;padding:0 2px;vertical-align:middle;}
.pos-r{position:relative}
.pos-a{position:absolute}
.flex-center {display:flex;align-items:center;justify-content:center;}
.align-center {align-items: center;}
.justify-sb {justify-content: space-between;}
.d-ib {display: inline-block;}
.va-m{vertical-align:middle}
.ta-c {text-align:center !important}
.ta-l {text-align:left !important}
.ta-r {text-align:right !important}
.width-auto {width:auto}
.width-full {width:100%}
.mr_100 {margin-right: 100px;}
.mr_200 {margin-right: 200px;}
.mr_300 {margin-right: 300px;}

[class^='ex-'] {
    position: absolute;
}
[class^='ex-balloon'] {
    text-align: center;
}

figure .click-finger-Btn.complete {display: none;}

.toggle .answer {text-align: justify;}

.dragBox {
    position: absolute;
    top: 90px;
    right: 0;
    width: 200px;
    height: 150px;
}
.dragBox .rotateContainer {
    top: 24px;
    left: 50px;
}
.dragBox .rotateContainer.showRotate {
    width: 300px;
    height: 300px;
}

.drawLine {
    position: absolute;
    top: 84px;
    left: 354px;
    width: 520px;
    height: 400px;
}
.drawLine .resetButton {
    bottom: 10px;
    right: 6px;
}


.page_1 .videoSubPlayBtn {right: 0;}
.page_1 figure img {height: 220px;}
.page_1 .icon_arrow {
    margin-top: 65px;
    animation: arrow-move .5s ease-in-out infinite;
}
@keyframes arrow-move { 50% { transform: translateX(4px); }}
.page_1 .icon_arrow.complete {
    animation: none;
}
.page_1 figure img[data-toggle-target="1"] {
    opacity: 0;
}
.page_1 figure img[data-toggle-target="1"].on {
    opacity: 1;
}
.page_1 .icon_arrow[data-toggle-target="1"] {
    opacity: 0;
}
.page_1 .icon_arrow[data-toggle-target="1"].on {
    opacity: 1;
}
.page_1 figure img[data-toggle-target="2"] {
    opacity: 0;
}
.page_1 figure img[data-toggle-target="2"].on {
    opacity: 1;
}
.page_1 .icon_arrow[data-toggle-target="2"] {
    opacity: 0;
}
.page_1 .icon_arrow[data-toggle-target="2"].on {
    opacity: 1;
}
.page_1 figure img[data-toggle-target="3"] {
    opacity: 0;
}
.page_1 figure img[data-toggle-target="3"].on {
    opacity: 1;
}
.page_1 .icon_arrow[data-toggle-target="3"] {
    opacity: 0;
}
.page_1 .icon_arrow[data-toggle-target="3"].on {
    opacity: 1;
}

.page_2 figure img {
    height: 250px;
}
.page_2 figure img.answer {
    position: absolute;
    top: 0;
}

.page_2 .click-finger-Btn {
    z-index: 1111;
}

.page_3 figure {text-align: center;}
.page_3 figure img {margin-top: 160px;height: 290px;}
.page_3 .videoSubPlayBtn {position: relative;top: -6px;}
.page_3 .ex-balloon-1 {top: 0;left: 22%;}
.page_3 .ex-balloon-2 {top: 0; left: 55%;}