.app-mind-map .map.title {
    left: 480px;
    top: 310px;
}

.app-mind-map .map-01 {
    left: 39px;
    top: 155px;
}
.app-mind-map .map-02 {
    left: 470px;
    top: 74px;
}
.app-mind-map .map-03 {
    left: 852px;
    top: 257px;
}
.app-mind-map .map-04 {
    left: 792px;
    top: 480px;
}
.app-mind-map .map-05 {
    left: 359px;
    top: 550px;
}
.app-mind-map .map-06 {
    left: 28px;
    top: 375px;
}