/* 체크 퀴즈 */
.quiz-check.type-ox-01 .check-item::before {
    transform: scale(0.9);
}
#quiz-01 .check-item {
    width: 180px;
    height: 80px;
    position: absolute;
    /* background-color: rgba(255,0,0,0.5); */
}
#quiz-01 .check-item:nth-child(1) {
    left: 223px;
    top: 286px;
}
#quiz-01 .check-item:nth-child(2) {
    left: 445px;
    top: 286px;
}
#quiz-01 .check-item:nth-child(3) {
    left: 663px;
    top: 286px;
}
#quiz-01 .check-item:nth-child(4) {
    left: 876px;
    top: 286px;
}
#quiz-01 .check-item:nth-child(5) {
    left: 231px;
    top: 403px;
}
#quiz-01 .check-item:nth-child(6) {
    left: 454px;
    top: 403px;
}
#quiz-01 .check-item:nth-child(7) {
    left: 675px;
    top: 403px;
}
#quiz-01 .check-item:nth-child(8) {
    left: 880px;
    top: 403px;
}