.content-container > .content > .bg {
    background-image: url(../images/mm_31_3_02_03_01/bg.png);
    /* background-position: 50% 100%;
    background-size: 100%; */
    /* background-image: url(../images/mm_31_3_02_03_01.png); opacity: 1; */
}

/* 인포 아이콘 */
.info-box {
    position: absolute;
    top: 166px;
    right: 10px;
}


/* 드래그 퀴즈 --- 위치 확인용 */
#quiz-01 .drag-area {
    /* background-color: rgba(255,0,0,0.5); */
}
#quiz-01 .drag-item {
    /* background-color: rgba(0,0,255,0.5); */
}


/* 드래그 퀴즈 */
/* 드래그 퀴즈 - 드래그될 영역 아이템 */
#quiz-01 .drag-area {
    position: absolute;
}
#quiz-01 .drag-area:nth-child(1){
    top: 460px;
    left: 130px;
    height: 182px;
    width: 295px;
}
#quiz-01 .drag-area:nth-child(2){
    top: 460px;
    left: 520px;
    height: 182px;
    width: 295px;
}
#quiz-01 .drag-area:nth-child(3){
    top: 460px;
    left: 910px;
    height: 182px;
    width: 295px;
}

/* 드래그 퀴즈 - 드래그하는 아이템 */
#quiz-01 .drag-item.active {
    visibility: hidden;
}
#quiz-01 .drag-item{
    background-image: url(../images/mm_31_3_02_03_01/img_02.png);
    background-size: contain;
    width: 65px;
    height: 161px;
    position: absolute;
}

/* 드래그 퀴즈 - 기본으로 깔려 있는 아이템 */
#quiz-01 .base-con {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 223px; 
    top: 253px;
}
#quiz-01 .base-item {
    background-image: url(../images/mm_31_3_02_03_01/img_03.png);
    background-size: contain;
    width: 65px;
    height: 161px;
    position: relative;
    margin: 0 5px 0 0;
}

/* 드래그 퀴즈 - 정답 보여지는 아이템 */
#quiz-01 .answer-item > .item {
    position: absolute;
    top: 471px;
    width: 65px;
    height: 161px;
    background-size: contain;
    background-image: url(../images/mm_31_3_02_03_01/img_02.png);
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(1) {
    left: 192px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(2) {
    left: 242px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(3) {
    left: 292px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(4) {
    left: 342px;
}

#quiz-01 .answer-item:nth-child(2) > .item:nth-child(1) {
    left: 582px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(2) {
    left: 632px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(3) {
    left: 682px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(4) {
    left: 732px;
}

#quiz-01 .answer-item:nth-child(3) > .item:nth-child(1) {
    left: 972px;
}
#quiz-01 .answer-item:nth-child(3) > .item:nth-child(2) {
    left: 1022px;
}
#quiz-01 .answer-item:nth-child(3) > .item:nth-child(3) {
    left: 1072px;
}
#quiz-01 .answer-item:nth-child(3) > .item:nth-child(4) {
    left: 1132px;
}

