/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: -233px 0 0 -40px;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 465px;
    left: 245px;
    top: 517px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 465px;
    left: 245px;
    top: 587px;
}

/* 입력 퀴즈 */
#quiz-02 .input-cont {
    margin: -226px 0 0 -40px;
}
#quiz-02 .input-cont:nth-child(1) {
    width: 160px;
    left: 964px;
    top: 583px;
}
