.content-container > .content > .bg {
    background-image: url(../images/mm_31_3_01_04_02/bg.svg);
    /* background-image: url(../images/mm_31_3_01_04_02.png); opacity: 1; */
}

#btn-hint-01 {
    left: 1045px;
    top: 260px;
}

#quiz-con-02{
    margin-top: 270px;
}

.check-item.btn-.content-con.one{
    position: absolute;
    width: 260px;
    top: 11px;
    left: 315px;
}
.check-item.btn-.content-con.two{
    position: absolute;
    width: 80px;
    top: 100px;
    left: 790px;
}
.check-item.btn-.content-con.three{
    position: absolute;
    width: 200px;
    top: 192px;
    left: 488px;
}