.content-container > .content > .bg {
    /* background-image: url(../images/mm_31_3_06_03_02/bg.svg); */
    /* background-image: url(../images/mm_31_3_06_03_02.png); opacity: 1; */
}

.ico-hint-01 {
    top: 648px;
    left: 1010px;
}

.ico-toggle-01 {
    position: absolute;
}


.btn-answer-part:nth-child(3) {
    left: 960px;
    top: 290px;
}