

#quiz-01 .input-cont:nth-child(1) {
    width: 80px;
    left: 900px;
    top: 281px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 80px;
    left: 1061px;
    top: 281px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 80px;
    left: 987px;
    top: 401px;
}