.content-container > .content > .bg {
    background-image: url(../images/mm_31_3_02_05_01/bg1.png);
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 인포 아이콘 */
.info-box {
    position: absolute;
    top: 165px;
    right: 380px;
}

/* 드래그 퀴즈 */
/* 드래그 퀴즈 - 드래그될 영역 아이템 */
#quiz-01 .drag-area {
    position: absolute;
}
#quiz-01 .drag-area:nth-child(1){
    top: 466px;
    left: 181px;
    height: 171px;
    width: 433px;
}
#quiz-01 .drag-area:nth-child(2){
    top: 466px;
    left: 711px;
    height: 171px;
    width: 433px;
}

/* 드래그 퀴즈 - 드래그하는 아이템 */
#quiz-01 .drag-item.active {
    visibility: hidden;
}
#quiz-01 .drag-item{
    background-image: url(../images/mm_31_3_02_05_01/img_0001.png);
    background-size: contain;
    width: 90px;
    height: 103px;
    position: absolute;
}


/* 드래그 퀴즈 - 정답 보여지는 아이템 */
#quiz-01 .answer-item > .item {
    position: absolute;
    top: 503px;
    width: 90px;
    height: 103px;
    background-size: contain;
    background-image: url(../images/mm_31_3_02_05_01/img_0001.png);
}

#quiz-01 .answer-item:nth-child(1) > .item:nth-child(1) {
    left: 260px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(2) {
    left: 290px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(3) {
    left: 320px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(4) {
    left: 350px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(5) {
    left: 380px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(6) {
    left: 410px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(7) {
    left: 440px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(8) {
    left: 470px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(9) {
    left: 500px;
}

#quiz-01 .answer-item:nth-child(2) > .item:nth-child(1) {
    left: 790px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(2) {
    left: 820px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(3) {
    left: 850px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(4) {
    left: 880px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(5) {
    left: 910px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(6) {
    left: 940px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(7) {
    left: 970px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(8) {
    left: 1000px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(9) {
    left: 1030px;
}

