.content-container > .content > .bg {
    background-image: url(../images/mm_31_3_04_03_01/bg1.svg);
    /* background-image: url(../images/mm_31_3_04_03_01.png); opacity: 1; */
}

.quiz-input-text .input-cont:nth-child(1){
    position: absolute;
    width: 79px;
    top: 603px;
    left: 442px;
}
.quiz-input-text .input-cont:nth-child(2){
    position: absolute;
    width: 79px;
    top: 603px;
    left: 595px;
}

.quiz-input-text .quiz-01-answer {
    pointer-events: none;
    width: auto;
    height: auto;
    text-align: left !important;
    left: 804px !important;
    top: 600px !important;
}

.btn-answer-part {
    left: 820px;
    top: 610px;
}