.content-container > .content > .bg {
    background-image: url(../images/mm_31_3_03_04_01/bg.svg);
}

#btn-play-ani {
    position: absolute;
    left: 83px;
    top: 240px;
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 100px;
    left: 431px;
    top: 498px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 100px;
    left: 585px;
    top: 498px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 100px;
    left: 744px;
    top: 498px;
}