.bullet-text.dot-blue::before {
    opacity: 0;
}

.img-box-01.abs {
    top: 490px;
}

/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: -182px 0 0 -40px;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 80px;
    left: 662px;
    top: 713px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 80px;
    left: 791px;
    top: 713px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 80px;
    left: 925px;
    top: 713px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 80px;
    left: 584px;
    top: 783px;
}
#quiz-01 .input-cont:nth-child(5) {
    width: 80px;
    left: 155px;
    top: 867px;
}
#quiz-01 .input-cont:nth-child(6) {
    width: 80px;
    left: 282px;
    top: 867px;
}
#quiz-01 .input-cont:nth-child(7) {
    width: 80px;
    left: 411px;
    top: 867px;
}