.ico-hint-01 {
    top: 252px;
    left: 1070px;
}


/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 80px;
    left: 592px;
    top: 81px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 80px;
    left: 751px;
    top: 81px;
}

.btn-answer-part:nth-child(3) {
    top: 70px;
    left: 800px;
}