.content-container > .content > .bg {
    background-image: url(../images/mm_31_3_07_06_01/img_01.png);
    /* background-image: url(../images/02.png); opacity: 1; */
}

/* 쌍둥이 문제 bg */
.popup-twins.twins-01 > .bg {
    /* background-image: url(../images/mm_31_3_07_06_01/bg_twins_01.svg); */
}
.popup-twins.twins-02 > .bg {
    /* background-image: url(../images/mm_31_3_07_06_01/bg_twins_02.svg); */
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 220px;
    left: 446px;
    top: 499px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 220px;
    left: 726px;
    top: 499px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 220px;
    left: 446px;
    top: 579px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 220px;
    left: 726px;
    top: 579px;
}


/* 입력 퀴즈 - 쌍둥이 문제 1 */
#twins-01-quiz-01 .input-cont {
    margin: -184px 0 0 -41px;
}
#twins-01-quiz-01 .input-cont:nth-child(1) {
    width: 220px;
    left: 446px;
    top: 499px;
}
#twins-01-quiz-01 .input-cont:nth-child(2) {
    width: 220px;
    left: 726px;
    top: 499px;
}
#twins-01-quiz-01 .input-cont:nth-child(3) {
    width: 220px;
    left: 446px;
    top: 579px;
}
#twins-01-quiz-01 .input-cont:nth-child(4) {
    width: 220px;
    left: 726px;
    top: 579px;
}

/* 입력 퀴즈 - 쌍둥이 문제 2 */
#twins-02-quiz-01 .input-cont {
    margin: -94px 0 0 -41px;
}
#twins-02-quiz-01 .input-cont:nth-child(1) {
    width: 220px;
    left: 446px;
    top: 499px;
}
#twins-02-quiz-01 .input-cont:nth-child(2) {
    width: 220px;
    left: 726px;
    top: 499px;
}
#twins-02-quiz-01 .input-cont:nth-child(3) {
    width: 220px;
    left: 446px;
    top: 579px;
}
#twins-02-quiz-01 .input-cont:nth-child(4) {
    width: 220px;
    left: 726px;
    top: 579px;
}
