#quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 300px;
    left: 374px;
    top: 464px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 300px;
    left: 724px;
    top: 464px;
}


.btn-answer-part:nth-child(1) {
    left: 1030px;
    top: 473px;
}