.content-container > .content > .bg {
    background-image: url(../images/mm_31_3_06_05_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}


/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 80px;
    left: 470px;
    top: 369px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 80px;
    left: 632px;
    top: 325px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 80px;
    left: 772px;
    top: 325px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 80px;
    left: 911px;
    top: 325px;
}
#quiz-01 .input-cont:nth-child(5) {
    width: 80px;
    left: 632px;
    top: 415px;
}
#quiz-01 .input-cont:nth-child(6) {
    width: 80px;
    left: 772px;
    top: 415px;
}
#quiz-01 .input-cont:nth-child(7) {
    width: 80px;
    left: 911px;
    top: 415px;
}

.q-box {
    position: absolute;
    top: 370px;
    left: 180px;
}