.content-container > .content > .bg {
    background-image: url(../images/mm_31_3_02_04_01/bg.svg);
    background-size: 100%;
    background-position: 50% 100%;
    /* background-image: url(../images/01.png); opacity: 1; */
}
/* 인포 아이콘 */
.info-box {
    position: absolute;
    top: 170px;
    right: 200px;
}

/* 드래그 퀴즈 */
/* 드래그 퀴즈 - 드래그될 영역 아이템 */
#quiz-01 .drag-area {
    position: absolute;
    /* background-color: rgba(255,0,0,0.5); */
}
#quiz-01 .drag-area:nth-child(1) {
    top: 187px;
    left: 336px;
    height: 180px;
    width: 180px;
}
#quiz-01 .drag-area:nth-child(2) {
    top: 187px;
    left: 542px;
    height: 180px;
    width: 180px;
}

/* 드래그 퀴즈 - 드래그하는 아이템 */
#quiz-01 .drag-item.active {
    visibility: hidden;
}
#quiz-01 .drag-item{
    background-image: url(../images/mm_31_3_02_04_01/img_2.png);
    background-size: contain;
    width: 51px;
    height: 55px;
    position: absolute;
}

/* 드래그 퀴즈 - 기본으로 깔려 있는 아이템 */
#quiz-01 .base-con {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 88px;
    top: 98px;
}
#quiz-01 .base-item {
    background-image: url(../images/mm_31_3_02_04_01/img_3.png);
    background-size: contain;
    width: 51px;
    height: 55px;
    position: relative;
    margin: 0 6px;
}

/* 드래그 퀴즈 - 정답 보여지는 아이템 */
#quiz-01 .answer-item {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 5px 0 5px 6px;
}
#quiz-01 .answer-item:nth-child(1) {
    top: 187px;
    left: 336px;
    width: 185px;
    height: 185px;
}
#quiz-01 .answer-item:nth-child(2) {
    top: 187px;
    left: 541px;
    height: 185px;
    width: 185px;
}
#quiz-01 .answer-item > .item {
    position: absolute;
    width: 52px;
    height: 55px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/mm_31_3_02_04_01/img_2.png);
}
#quiz-01 .answer-item > .item {
    position: relative;
    margin-right: 6px;
}
/* 
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(1) {
    left: 282px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(2) {
    left: 352px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(3) {
    left: 422px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(4) {
    left: 492px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(5) {
    top: 542px;
    left: 319px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(6) {
    top: 542px;
    left: 388px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(7) {
    top: 542px;
    left: 459px;
}

#quiz-01 .answer-item:nth-child(2) > .item:nth-child(1) {
    left: 742px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(2) {
    left: 812px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(3) {
    left: 882px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(4) {
    left: 952px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(5) {
    top: 542px;
    left: 779px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(6) {
    top: 542px;
    left: 849px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(7) {
    top: 542px;
    left: 919px;
}
 */

