/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: -188px 0 0 -40px;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 303px;
    left: 554px;
    top: 655px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 150px;
    left: 1007px;
    top: 655px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 80px;
    left: 825px;
    top: 659px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 80px;
    left: 1038px;
    top: 659px;
}

/* 입력 퀴즈 */
#quiz-02 .input-cont {
    margin: 34px 0 0 -40px;
}
#quiz-02 .input-cont:nth-child(1) {
    width: 300px;
    left: 554px;
    top: 635px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 149px;
    left: 1007px;
    top: 635px;
}
#quiz-02 .input-cont:nth-child(3) {
    width: 80px;
    left: 825px;
    top: 669px;
}
#quiz-02 .input-cont:nth-child(4) {
    width: 80px;
    left: 1068px;
    top: 669px;
}

/* 입력 퀴즈 */
#quiz-03 .input-cont {
    margin: 200px 0 0 -40px;
}
#quiz-03 .input-cont:nth-child(1) {
    width: 300px;
    left: 554px;
    top: 612px;
}
#quiz-03 .input-cont:nth-child(2) {
    width: 153px;
    left: 1004px;
    top: 615px;
}
#quiz-03 .input-cont:nth-child(3) {
    width: 80px;
    left: 825px;
    top: 669px;
}
#quiz-03 .input-cont:nth-child(4) {
    width: 80px;
    left: 1068px;
    top: 669px;
}


.btn-answer-part {
    margin: -220px 0 0 -40px;
}
.btn-answer-part:nth-child(1) {
    left: 1199px;
    top: 697px;
}
.btn-answer-part:nth-child(2) {
    left: 1199px;
    top: 900px;
}
.btn-answer-part:nth-child(3) {
    left: 1199px;
    top: 1045px;
}