/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 80px;
    left: 264px;
    top: 315px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 80px;
    left: 532px;
    top: 315px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 80px;
    left: 179px;
    top: 385px;
}