/* quiz-01 */
#quiz-01 .line-item {
    margin: -20px -19px;
}
#quiz-01 .start:nth-child(1) {
    left: 419px;
    top: 316px;
}

#quiz-01 .end:nth-child(1) {
    left: 859px;
    top: 316px;
}
#quiz-01 .end:nth-child(2) {
    left: 859px;
    top: 456px;
}
#quiz-01 .end:nth-child(3) {
    left: 502px;
    top: 535px;
}

/* quiz-02 */
#quiz-01 .start:nth-child(2) {
    left: 419px;
    top: 456px;
}
#quiz-01 .start:nth-child(3) {
    left: 798px;
    top: 395px;
}
#quiz-01 .start:nth-child(4) {
    left: 798px;
    top: 535px;
}

#quiz-01 .end:nth-child(4) {
    left: 948px;
    top: 255px;
}
#quiz-01 .end:nth-child(5) {
    left: 948px;
    top: 395px;
}
#quiz-01 .end:nth-child(6) {
    left: 948px;
    top: 535px;
}
