.img01{
    position: absolute;
    top: 355px;
    left: 535px;
}

#quiz-02 .check-item {
    top: 63px;
    left: 440px;
    width: 100px;
    padding: 5px 38px;
}
#quiz-02 .check-item .active{
    padding: 5px 38px
}
#quiz-02 .check-item .answered{
    padding: 5px 38px
}

.answer-text{
    color: #EC3131;
}

