.content-container > .content > .bg {
    background-image: url(../images/mm_31_3_06_03_01/bg1.svg);
    /* background-image: url(../images/mm_31_3_06_03_01.png); opacity: 1; */
}


/* 입력퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 80px;
    left: 593px;
    top: 325px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 80px;
    left: 752px;
    top: 325px;
}