/* 스크롤 박스 */
.scroll-box-01 .scroll-inner {
    height: 1260px;
}
.scroll-box-01 .scroll-bg {
	height: 1260px;
    background-size: 1200px 1260px;
    background-image: url(../images/ms_31_3_07_01_01/bg_scroll_01.png);
}


/* check 퀴즈  */
#quiz-content-01 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#quiz-content-01 .quiz-check .check-item {
    position: absolute;
    width: 100px;
    height: 100px;
    /* background-color: rgba(255,0,0,0.5); */
    box-sizing: border-box;
    z-index: 2;
    
}
#quiz-content-01 .quiz-check .check-item::before {
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border: 5px solid #FFFF00;
    border-radius: 5px;
    visibility: hidden;
}

#quiz-content-01 .quiz-check .check-item.ani {
    animation: ani-flash-01 1s linear infinite;
}
#quiz-content-01 .quiz-check .check-item.ani::before {
    visibility: visible;
}

#quiz-01 .check-item:nth-child(1) {
    width: 49px;
    height: 44px;
    left: 616px;
    top: 177px;
}
#quiz-01 .check-item:nth-child(2) {
    width: 49px;
    height: 44px;
    left: 511px;
    top: 335px;
}

#quiz-02 .check-item:nth-child(1) {
    width: 49px;
    height: 44px;
    left: 250px;
    top: 541px;
}
#quiz-02 .check-item:nth-child(2) {
    width: 49px;
    height: 44px;
    left: 103px;
    top: 614px;
}

#quiz-03 .check-item:nth-child(1) {
    width: 49px;
    height: 44px;
    left: 684px;
    top: 631px;
}
#quiz-03 .check-item:nth-child(2) {
    width: 49px;
    height: 44px;
    left: 845px;
    top: 649px;
}

#quiz-04 .check-item:nth-child(1) {
    width: 49px;
    height: 44px;
    left: 603px;
    top: 913px;
}
#quiz-04 .check-item:nth-child(2) {
    width: 49px;
    height: 44px;
    left: 685px;
    top: 1017px;
}

#quiz-05 .check-item:nth-child(1) {
    width: 72px;
    height: 44px;
    left: 341px;
    top: 1047px;
}
#quiz-05 .check-item:nth-child(2) {
    width: 72px;
    height: 44px;
    left: 457px;
    top: 1047px;
}


/* 스프라이트 시퀀스 애니 */
.sprite-sequence.ani-01 {
    position: absolute;
    left: 0px;
    top: 0px;
    /* width: 240px; */
    /* height: 291px; */
    background-position: 4px 4px;
    background-image: url(../images/ms_31_3_07_01_01/ms_31_3_07_ani.png);
    transform: translate(-17px, 0px);
}


.btns-popup > .button {
    position: absolute;
    width: 137px;
    height: 90px;
    /* background: rgba(255,0,0,0.5); */
    z-index: 1;
}
.btns-popup > .btn-popup-01 {
    left: 390px;
    top: 160px;
}
.btns-popup > .btn-popup-02 {
    left: 90px;
    top: 379px;
}
.btns-popup > .btn-popup-03 {
    left: 743px;
    top: 492px;
}
.btns-popup > .btn-popup-04 {
    left: 690px;
    top: 795px;
}
.btns-popup > .btn-popup-05 {
    left: 326px;
    top: 924px;
}