.content-container > .content > .bg {
	background-image: url('../../images/ms_41_2_07/ms_41_2_07_04_01/bg.svg');
}

.popup-more-one .bg {
	background-image: url('../../images/ms_41_2_07/ms_41_2_07_04_01/bg_more.svg');
}

/* #quiz-content-01 .scroll-bg {
	background-image: url('../../images/');
	height: 770px;
} */

/* #quiz-content-02 .scroll-bg {
	background-image: url('../../images/');
	height: 710px;
} */

/* #quiz-content-01 .tool-container {
	top: 165px;
}

#quiz-content-02 .tool-container {
	top: 245px;
} */

#quiz-01 .input-cont:nth-child(1) {
    left: 308px;
    top: 277px;
    width: 110px;
}

#quiz-01 .input-cont:nth-child(2) {
    left: 908px;
    top: 463px;
    width: 110px;
}

#quiz-02 .input-cont:nth-child(1) {
    left: 248px;
    top: 303px;
    width: 110px;
}

#quiz-02 .input-cont:nth-child(2) {
    left: 1014px;
    top: 434px;
    width: 110px;
}
