.ex-box {display:flex;align-items:center;text-align:justify;}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important;flex-shrink:0}

.img_text{position: relative;display: inline-block;vertical-align: middle;}
.img_text img{width: 45px;}
.img_text .text{position: absolute;left:2px;top:6px;font-size: 23px;}


.full-img{position: relative;display: flex;justify-content: center;margin-top: 200px;}
.full-img .text_01{position: absolute;top: 110px;left: 270px;}
.full-img .text_02{position: absolute;top: 110px;left: 635px;}
.full-img .text_03{position: absolute;top: 110px;left: 940px;}
.full-img .text_04{position: absolute;top: 8px;left: 82px;font-size: 23px;}

.page_1 .img_box{position: relative;display: flex;justify-content: center;margin-top: 200px;}
.page_1 .img_box .text_01{position: absolute;top: 110px;left: 270px;}
.page_1 .img_box .text_02{position: absolute;top: 110px;left: 635px;}
.page_1 .img_box .text_03{position: absolute;top: 110px;left: 940px;}
.page_1 .img_box .text_04{position: absolute;top: 8px;left: 82px;font-size: 23px;}