#wrap header .title:before{top: 20px;}
/* .page_1 h2 .dot {margin: 30px 10px 0 0!important;} */

.ex-box {display:flex;align-items:center;text-align:justify;}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important;flex-shrink:0}

.pop_page_1{}
.pop_page_1 .full-img{margin-top:100px;}
.pop_page_1 .full-img img{width: 100%;}
.pop_page_1 .full-img .balloon{text-align: center;width:250px;}
.pop_page_1 .full-img .bottom.line1{top: 100px;left: 190px;}
.pop_page_1 .full-img .bottom.line1:after{left:10%;}
.pop_page_1 .full-img .bottom.line2{top: 260px;left: 230px;}
.pop_page_1 .full-img .bottom.line2:after{left:10%;}
.pop_page_1 .full-img .bottom{top: 100px;right: 250px;}
.pop_page_1 .full-img .bottom:after{left:90%;}

/* 비커 */
.flexContainer{display:flex;margin:0 auto;width:800px;height:380px;align-items:center;justify-content:space-between;}
.flexContainer > li{display:flex;flex-direction:column;align-items:center;justify-content:flex-start;}
.flexContainer .graph{position:relative;margin-bottom:30px;}
.flexContainer .click-finger-Btn{position:absolute;top:calc(50% - 15px);left:calc(50% - 26px);display:block;}
.flexContainer .click-finger-Btn.complete{display:none;}
.flexContainer .flex-box{align-items:center;}
.flexContainer > li:nth-child(1) .graph{width:400px;height:190px;background:url(../images/suh_0501_05_0002_201_1_01.png) no-repeat center / contain;}
.flexContainer > li:nth-child(1) .graph.on{background:url(../images/suh_0501_05_0002_201_1_1.png) no-repeat center / contain;}
.flexContainer > li:nth-child(2) .graph{width:400px;height:190px;background:url(../images/suh_0501_05_0002_201_1_02.png) no-repeat center / contain;}
.flexContainer > li:nth-child(2) .graph.on{background:url(../images/suh_0501_05_0002_201_1_2.png) no-repeat center / contain;}