.img-box {height:360px;text-align:center;position: relative;}
.img-box img {vertical-align:top;height:80%;}

.balloon{text-align: center;width:250px;cursor:pointer;}
.balloon.right:after{top: 70px;}
.balloon.bottom:after{left: 10px;}
.balloon.right.line1{position:absolute;top: 50px;left:-70px;width: 220px;}
.balloon.bottom.line2{position:absolute;top: 70px;left: 250px;width:220px;}
.balloon.right{position:absolute;top: -20px;right: 260px;}

.zoomBtn{display:block;margin:0 auto;}
figure{position:relative;margin:0 auto;width:900px;}
figure img{display:block;width:100%;}
figure .balloon{padding:5px 6px;font-size:0.8em !important;}
figure .balloon:nth-child(2){top:-41px;right:189px;}
figure .balloon:nth-child(3){top:37px;left:180px;}
figure .balloon:nth-child(3):after{top:45px;}
figure .balloon:nth-child(4){top:134px;left:195px;}
figure .balloon:nth-child(4):after{top:45px;}

.pop_page_1{}
.pop_page_1 .full-img{margin-top:190px;}
.pop_page_1 .full-img img{width: 100%;}
.pop_page_1 .full-img .bottom.line1{top: 163px;left: 165px;}
.pop_page_1 .full-img .bottom.line1:after{left:10%;}
.pop_page_1 .full-img .bottom.line2{top: 354px;left: 230px;}
.pop_page_1 .full-img .bottom.line2:after{left:10%;}
.pop_page_1 .full-img .right{top: 208px;right: 250px;}
.pop_page_1 .full-img .bottom:after{left:90%;}


