
#wrap header .title{text-align: justify;}
#wrap header .title:before{top:20px}

.popBtn.textInBtn.eye{top: -25px;left: 907px;}

    
.page_1 .contentsBox{padding: 0;}
.page_3 .textAlignC{margin-top:30px}
.page_2 .textAlignC{margin-top:30px}
 
.page_1 .contentsList li.n2 .bullet{transform: translate(0,15px);}


.page_2 .flex-wrap img{width:100%}
.page_2 .flex-wrap > div{position: absolute;}
.page_2 .flex-wrap .a1{top: 41px; left: 123px;}
.page_2 .flex-wrap .a2{top:41px; left: 280px;}
.page_2 .flex-wrap .a3{top:41px; left: 438px;}
.page_2 .flex-wrap .a4{top:41px; left: 593px;}
.page_2 .flex-wrap .a5{top:41px; left: 749px;}
.page_2 .flex-wrap .a6{top:41px; left: 902px;}
.page_2 .flex-wrap .a7{top: 191px; left: 880px;transform: rotate(130deg);}
.page_2 .flex-wrap .a8{top: 255px; left: 749px;transform: rotate(180deg);}
.page_2 .flex-wrap .a9{top:255px; left: 590px;transform: rotate(180deg);}
.page_2 .flex-wrap .a10{top:255px; left: 436px;transform: rotate(180deg);}
.page_2 .flex-wrap .a11{top:255px; left: 278px;transform: rotate(180deg);}
.page_2 .flex-wrap .a12{top: 255px; left: 122px;transform: rotate(180deg);}

.page_2 .flex-wrap .n1{top: 114px; left: 42px;}
.page_2 .flex-wrap .n2{top: 114px; left: 185px;}
.page_2 .flex-wrap .n3{top: 114px; left: 355px;}
.page_2 .flex-wrap .n4{top: 114px; left: 496px;}
.page_2 .flex-wrap .n5{top: 114px; left: 653px;}
.page_2 .flex-wrap .n6{top: 114px; left: 821px;}
.page_2 .flex-wrap .n7{top: 114px; left: 963px;}
.page_2 .flex-wrap .n8{top: 327px; left: 821px;}
.page_2 .flex-wrap .n9{top: 327px; left: 666px;}
.page_2 .flex-wrap .n10{top: 327px; left: 496px;}
.page_2 .flex-wrap .n11{top: 327px; left: 355px;}
.page_2 .flex-wrap .n12{top: 327px; left: 185px;}
.page_2 .flex-wrap .n13{top: 327px; left: 42px;}


.page_3 .img-wrap{position: relative; width:520px; margin:0 auto; pointer-events: none;}
.page_3 .img-wrap img{width: 100%; display: block;}
.page_3 .img-wrap .img{position: absolute; top:0; left:0; display: none;}
.page_3 .img-wrap .img.on{display: block;}
.page_3 .img-wrap > div{position: absolute;}
.page_3 .img-wrap .bunsuWrap {transform: scale(.8);}
.page_3 .img-wrap .n1{top: -30px; left: 250px;}
.page_3 .img-wrap .n2{top:0; left: 150px;}
.page_3 .img-wrap .n3{top: 60px; left: 190px;}
.page_3 .img-wrap .n4{top: 40px; left: 280px;}
.page_3 .img-wrap .n5{top: 50px; left: 320px;}
.page_3 .img-wrap .n6{top: 70px; left: 100px;}
.page_3 .img-wrap .n7{top: 143px; left: 135px;}
.page_3 .img-wrap .n8{top: 150px; left: 220px;}
.page_3 .img-wrap .n9{top: 140px; left: 260px;}
.page_3 .img-wrap .n9a{top: 170px; left: 340px;}

.page_3 .img-wrap .n10{top: 240px; left: 240px;}
.page_3 .img-wrap .n11{top: 250px; left: 370px;}
.page_3 .img-wrap .n12{top: 310px; left: 310px;}
.page_3 .img-wrap .n13{top: 250px; left: 310px; color:red;font-size: 30px;}



.pop_page_1  .iframe-wrap{
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
    background: #e2f3fb;
    }
    #wrap header .title{text-align: justify;}
.pop_page_1  .iframe-wrap .page-iframe{width: 1284px;height: 780px;transform: scaleX(.92) scaleY(1.07) translate(-66px, 20px);}
.popup_pages>li.image .popup_closeBtn{z-index: 20000;}




