
#wrap header .title{text-align: justify;}
#wrap header .title:before{top:20px}

.popBtn.textInBtn.eye{top: -25px;left: 907px;}

    
.page_1 .contentsBox{padding: 0;}
.page_3 .textAlignC{margin-top:30px}
.page_2 .textAlignC{margin-top:30px}
 
.page_1 .contentsList li.n2 .bullet{transform: translate(0,15px);}


.page_2 .img-wrap{position: relative; width: 620px; margin:0 auto; pointer-events: none;}
.page_2 .img-wrap img{width: 100%; display: block;}
.page_2 .img-wrap .img{position: absolute; top:0; left:0; display: none;width: 100%;}
.page_2 .img-wrap .img.on{display: block;}
.page_2 .img-wrap > div{position: absolute;}
.page_2 .img-wrap .txt {font-size:30px;}
.page_2 .img-wrap .n1{top: 190px; left: 35px;}
.page_2 .img-wrap .n2{top: 160px; left: 20px;}
.page_2 .img-wrap .n3{top: 126px; left: -36px;}
.page_2 .img-wrap .n4{top: 70px; left: -20px;}
.page_2 .img-wrap .n5{top: 113px; left: 40px;}
.page_2 .img-wrap .n6{top: 2px; left: 50px;}
.page_2 .img-wrap .n7{top: 0px; left: 110px;}
.page_2 .img-wrap .n8{top: 80px; left: 94px;}
.page_2 .img-wrap .n9{top: 120px; left: 149px;}
.page_2 .img-wrap .n10{top: 170px; left: 150px;}

.page_2 .img-wrap .n11{top: 220px; left: 100px;}
.page_2 .img-wrap .n12{top: 220px; left:0;}
.page_2 .img-wrap .n13{top: 320px; left: 80px;}
.page_2 .img-wrap .n14{top: 260px; left: 120px;}
.page_2 .img-wrap .n15{top: 190px; left: 180px;}
.page_2 .img-wrap .n16{top: 220px; left: 220px;}
.page_2 .img-wrap .n17{top: 158px; left: 222px;}
.page_2 .img-wrap .n18{top: 114px; left: 190px;}
.page_2 .img-wrap .n19{top: 10px; left: 180px;}
.page_2 .img-wrap .n20{top: 80px; left: 230px;}


.page_2 .img-wrap .n21{top: 70px; left: 260px;}
.page_2 .img-wrap .n22{top: 140px; left: 320px;}
.page_2 .img-wrap .n23{top: 230px; left: 270px;}
.page_2 .img-wrap .n24{top: 210px; left: 310px;}
.page_2 .img-wrap .n25{top: 290px; left: 310px;}
.page_2 .img-wrap .n26{top: 310px; left: 250px;}
.page_2 .img-wrap .n27{top: 290px; left: 200px;}
.page_2 .img-wrap .n28{top: 350px; left: 170px;}
.page_2 .img-wrap .n29{top: 429px; left: 280px;}
.page_2 .img-wrap .n30{top: 380px; left: 310px;}
.page_2 .img-wrap .n31{top: 330px; left: 360px;}
.page_2 .img-wrap .n32{top: 440px; left: 390px;}
.page_2 .img-wrap .n33{top: 380px; left: 445px;}
.page_2 .img-wrap .n34{top: 400px; left: 540px;}
.page_2 .img-wrap .n35{top: 330px; left: 580px;}






.pop_page_1  .iframe-wrap{
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
    background: #e2f3fb;
    }
    #wrap header .title{text-align: justify;}
.pop_page_1  .iframe-wrap .page-iframe{width: 1284px;height: 780px;transform: scaleX(.92) scaleY(1.07) translate(-66px, 20px);}
.popup_pages>li.image .popup_closeBtn{z-index: 20000;}


.pop_page_2 .popup-title-wrap {display:flex;justify-content:center;margin:-20px auto 40px;}
.pop_page_2 .popup-title {display:inline-block;color:#fff;letter-spacing:0;background-color:#f60;box-sizing:border-box;padding:10px 80px 10px;font-size: 32px;border-radius: 0 0 100px 100px;text-align:center;font-family: 'YGJAL', 'sans-serif';}

    




