.content-container > .content > .bg {
	background-image: url('../../images/ms_41_2_02/ms_41_2_02_05_01/bg.svg');
}

.popup-more-one .bg {
	background-image: url('../../images/ms_41_2_02/ms_41_2_02_05_01/bg_more.svg');
}

/* #quiz-content-01 .scroll-bg {
	background-image: url('../../images/ms_41_2_02/ms_41_2_02_05_01/bg.svg');
	height: 770px;
} */

/* #quiz-content-02 .scroll-bg {
	background-image: url('../../images/ms_41_2_02/ms_41_2_02_05_01/bg_more.svg');
	height: 475px;
} */

/* #quiz-content-01 .tool-container {
	top: 165px;
} */

/* #quiz-content-02 .tool-container {
	top: 245px;
} */


#quiz-01 .input-cont:nth-child(1) {
    left: 358px;
    top: 341px;
    width: 140px;
}

#quiz-01 .input-cont:nth-child(2) {
    left: 245px;
    top: 438px;
    width: 140px;
}

#quiz-01 .input-cont:nth-child(3) {
    left: 825px;
    top: 460px;
    width: 140px;
}

#quiz-02 .input-cont:nth-child(1) {
    left: 342px;
    top: 447px;
    width: 140px;
}

#quiz-02 .input-cont:nth-child(2) {
    left: 487px;
    top: 291px;
    width: 140px;
}

#quiz-02 .input-cont:nth-child(3) {
    left: 850px;
    top: 484px;
    width: 140px;
}
