.content-container > .content > .bg {
	background-image: url('../../images/ms_41_2_02/ms_41_2_02_02_01/bg.svg');
}

.popup-more-one .bg {
    background-image: url('../../images/ms_41_2_02/ms_41_2_02_02_01/bg_more.svg');
}


/* #quiz-content-01 .scroll-bg {
	background-image: url('../../images/');
	height: 770px;
} */

/* #quiz-content-02 .scroll-bg {
	background-image: url('../../images/');
	height: 710px;
} */

/* #quiz-content-01 .tool-container {
	top: 165px;
} */

/* #quiz-content-02 .tool-container {
	top: 245px;
} */

#quiz-01 .check-list {
	position: absolute;
    top: 472px;
    left: 265px;
	display: flex;
}

#quiz-01 .check-list .check-item {
	position: relative;
	width: 170px;
	height: 153px;
}

#quiz-01 .check-list .check-item + .check-item {
    margin-left: 410px;
}


#quiz-02 .check-list {
	position: absolute;
    top: 502px;
    left: 265px;
	display: flex;
}

#quiz-02 .check-list .check-item {
	position: relative;
	width: 170px;
	height: 153px;
}

#quiz-02 .check-list .check-item + .check-item {
    margin-left: 410px;
}

