.content-container > .content > .bg {
	background-image: url('../../images/ms_41_2_02/ms_41_2_02_03_01/bg.svg');
}

.popup-more-one .bg {
	background-image: url('../../images/ms_41_2_02/ms_41_2_02_03_01/bg_more.svg');
}

/* #quiz-content-01 .scroll-bg {
	background-image: url('../../images/');
	height: 770px;
} */

/* #quiz-content-02 .scroll-bg {
	background-image: url('../../images/');
	height: 710px;
} */

/* #quiz-content-01 .tool-container {
	top: 165px;
} */

/* #quiz-content-02 .tool-container {
	top: 245px;
} */

#quiz-01 .input-cont:nth-child(1) {
    left: 260px;
    top: 526px;
    width: 140px;
}

#quiz-01 .input-cont:nth-child(2) {
    left: 870px;
    top: 526px;
    width: 140px;
}

#quiz-02 .input-cont:nth-child(1) {
    left: 260px;
    top: 556px;
    width: 140px;
}

#quiz-02 .input-cont:nth-child(2) {
    left: 870px;
    top: 556px;
    width: 140px;
}
