.page_1 .flex-item{position: relative;}
.page_1 .flex-item.n1,
.page_1 .flex-item.n2{min-width:390px; }
.page_1 .flex-item .icon_arrow{
    right:40px;
    top:50px;
    position: absolute;
}
.page_1 .flex-item.n2 .icon_arrow{
    top:100px;
}
.page_1 .flex-item.n1,
.page_1 .flex-item.n3{top:50px}
.page_1 .bg{background:#e3e3e3;}
.page_1 .bba.on{opacity: 1;}
.page_1 .bba{position: relative;width: 410px;height: 280px;}
.page_1 .bba .icon_arrow{position: absolute;top: 61px;left: 240px; transform: rotate(90deg);}
.page_1 .bba.lineBox .txt{position: absolute;}
.page_1 .bba.lineBox .txt-num{position: relative;z-index: 1;left: 30px;}
.page_1 .bba.lineBox .colorBox{position: absolute; width:40px; height:40px; border-radius: 50%;}
.page_1 .bba.lineBox .txt-num.n7{position: absolute;top: 120px;left: 168px;}
.page_1 .bba.lineBox .colorBox::after{
    content:"";
    display: block;
    position: absolute; top:100%; left:50%;
    margin-left:-1px;
    width:1px;
    height: 20px;
    border-left:2px dashed #ccc;
}
.page_1 .bba .h1{
    top: 16px;
    left: 96px;
}
.page_1 .bba .h2{
    top: 70px;
    left: 96px;
}
.page_1 .bba .h3{
    top: 65px;
    left: 166px;
}

.page_1 .bba .h5{
    top: 128px;
    left: 245px;
}

.page_1 .bba .h6{
    top: 185px;
    left: 209px;
}

.page_1 > .lineBox{padding-bottom:30px}




.page_2 .colorBox.check {
    width: 110px;
    text-align: center;
}
.page_2 .flex-wrap .check-tit{width: auto;}
.page_2 .flex-wrap.n1,
.page_2 .flex-wrap.n2{width: auto;}
.page_2 .colorBox.check{width:110px; text-align: center;}
.page_2 .flex-wrap.ps{position: absolute; top:-20px; left:56px}
.page_2 .abc {position: relative;}
.page_2 .abc .icon_arrow {position: absolute;top: 130px;left: 503px;transform: rotate(90deg);}
.page_2 .abc .txt{position: absolute; white-space: nowrap;}
.page_2 .abc .t1{top: 169px;left: 191px;}
.page_2 .abc .t2{top: 306px;left: 370px;}
.page_2 .abc .cc1{position: absolute;top: 200px;left: 489px;}


.check-tit .flex-wrap.asdf2{height:330px;align-items: flex-start;padding-top: 77px;}

.page_3 .lineBox.green .bullet {margin-top: 7px;}
.page_3 .lineBox.green{
    width: 750px;
    margin: 50px auto 0;
}

.iframe-wrap{overflow: hidden;width: calc(100% + 48px);margin-left: -48px;}
.iframe-wrap .iframe-item{
    transform: scale(1) translate(-56px, -424px);
}
.page_5 .solveCheckBtn{
    position: absolute;
    bottom: 0px;
    right: 170px;
}









.page_5 .img-wrap{width: 640px;margin: 100px auto 0;position: relative;}
.page_5 .img-wrap img{width: 100%;}
.page_5 .img-wrap > div{position: absolute; line-height: 1; text-align: center;}
.page_5 .img-wrap .b1{top: -28px;left: -240px;width: 303px;text-align: center;word-break: keep-all;}
.page_5 .img-wrap .b2{top: -88px;left: 80px;width: 300px;}
.page_5 .img-wrap .b3{top: 156px;left: -30px;}
.page_5 .img-wrap .b4{top: -28px;left: 390px;width: 260px;}
.page_5 .img-wrap .b5{top: 82px;left: 620px;width: 240px;}
.page_5 .img-wrap .n1{top: 232px;left: 290px;}
.page_5 .img-wrap .n2{top: 232px;left: 410px;}
.page_5 .img-wrap .n3{top: 212px;left: 520px;}
.page_5 .img-wrap .b4::after{left: 30% !important;}

.page_6 .a1{position: absolute;top: -10px;left: 20px;}
.page_6 .a2{position: absolute;top: 190px;left: 550px;}
.page_6 .b1{position: absolute;top: 0px; left:20px;}
.page_6 .b2{position: absolute; top:190px; left:550px;}
.page_6 .img-wrap img{width:100%}
.page_6 .img-wrap{
    width: 390px;
    margin: 0;
}
.page_6 .innerTab_2 .img-wrap{
    width: 410px;
    margin: 0;
}
.page_6 .img-wrap > div{ 
    position:absolute;
}
.page_6 .img-wrap .n1{
    top: 80px;
    left: 269px;
}
.page_6 .img-wrap .n2{
    top: 140px;
    left: 530px;
}
.page_6 .img-wrap .n3{
    top: 32px;
    left: 117px;
}
.page_6 .txt > *{display: block; font-size: 30px;}
.page_6 .txt b{color: #fff; font-weight: 400; font-family: notoM;}
.page_6 .txt b + span{margin-top:10px}
.page_6 .txt.n4{top: 71px;left: 34px;}
.page_6 .txt.n5{top: 106px;left: 34px;}

.page_6 .toggle.noicon{position: absolute; background-color: transparent;top: 100px;left: 80px;z-index: 1;}

.pop_page_2 .math-calc-side.ms1{
    padding-top: 0;
    white-space: nowrap;
}
.pop_page_2 .math-calc-side.ms1 .ms1-2{
    transform: translate(0px, 158px);
}
.pop_page_2 .v2 .math-calc-side.ms1 .ms1-2{
    transform: translate(0px, 242px);
}

.pop_page_2_1 .math-calc-side.ms1{
    padding-top: 0;
    white-space: nowrap;
}
.pop_page_2_1 .math-calc-side.ms1 .ms1-2{
    transform: translate(0px, 158px);
}
.pop_page_2_1 .v2 .math-calc-side.ms1 .ms1-2{
    transform: translate(0px, 242px);
}

.pop_page_6 .math_calc_table.class3 .bullet.number{position: absolute; left:-40px}
