.page_1 .flex-item{position: relative;}
.page_1 .flex-item.n1,
.page_1 .flex-item.n2{min-width:390px; }
.page_1 .flex-item .icon_arrow{
    right:40px;
    top:50px;
    position: absolute;
}
.page_1 .flex-item.n2 .icon_arrow{
    top:100px;
}
.page_1 .flex-item.n1,
.page_1 .flex-item.n3{top:50px}
.page_1 .bg{background:#e3e3e3;}
.page_1 .bba.on{opacity: 1;}
.page_1 .bba{position: relative;width: 410px;height: 280px;}
.page_1 .bba .icon_arrow{position: absolute;top: 61px;left: 240px; transform: rotate(90deg);}
.page_1 .bba.lineBox .txt{position: absolute;}
.page_1 .bba.lineBox .txt-num{position: relative;z-index: 1;left: 30px;}
.page_1 .bba.lineBox .colorBox{position: absolute; width:40px; height:40px; border-radius: 50%;}
.page_1 .bba.lineBox .txt-num.n7{position: absolute;top: 120px;left: 168px;}
.page_1 .bba.lineBox .colorBox::after{
    content:"";
    display: block;
    position: absolute; top:100%; left:50%;
    margin-left:-1px;
    width:1px;
    height: 20px;
    border-left:2px dashed #ccc;
}
.page_1 .bba .h1{
    top: 16px;
    left: 96px;
}
.page_1 .bba .h2{
    top: 70px;
    left: 96px;
}
.page_1 .bba .h3{
    top: 65px;
    left: 166px;
}

.page_1 .bba .h5{
    top: 128px;
    left: 245px;
}

.page_1 .bba .h6{
    top: 185px;
    left: 209px;
}

.page_1 > .lineBox{padding-bottom:30px}




.page_2 .colorBox.check {
    width: 110px;
    text-align: center;
}
.page_2 .flex-wrap .check-tit{width: auto;}
.page_2 .flex-wrap.n1,
.page_2 .flex-wrap.n2{width: auto;}
.page_2 .colorBox.check{width:110px; text-align: center;}
.page_2 .flex-wrap.ps{position: absolute; top:-20px; left:56px}
.page_2 .abc {position: relative;}
.page_2 .abc .icon_arrow {position: absolute;top: 130px;left: 503px;transform: rotate(90deg);}
.page_2 .abc .txt{position: absolute; white-space: nowrap;}
.page_2 .abc .t1{top: 169px;left: 191px;}
.page_2 .abc .t2{top: 306px;left: 370px;}
.page_2 .abc .cc1{position: absolute;top: 200px;left: 489px;}


.check-tit .flex-wrap.asdf2{height:330px;align-items: flex-start;padding-top: 77px;}

.page_3 .img img{width: 100%;}
.page_3 .img{
    position:
    absolute;
    top: 50px;
    left: 220px;
    width: 630px;
}

.page_3 .dragLineArea::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #adadad;
    border-radius: 50%;
}
.page_3 .study_guide {top:0 !important; right: 0;}
.page_3 .dragLineContainer {margin-top:0; flex-direction: column;}
.page_3 .lineBox{position: absolute;width: 380px;text-align: center;background-color: transparent !important;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.page_3 .lineBox.col1{left: 27px;}
.page_3 .lineBox.col2{left: 677px;margin-top: -44px;}
.page_3 .lineBox.row1{top: 150px;}
.page_3 .lineBox.row2{top: 319px;}
.page_3 .dragLineObj.col1,
.page_3 .dragLineArea.col1{left: 434px;}
.page_3 .dragLineObj.col2,
.page_3 .dragLineArea.col2{left: 650px;}
.page_3 .dragLineObj.col3,
.page_3 .dragLineArea.col3{left: 741px;}
.page_3 .dragLineObj.row1,
.page_3 .dragLineArea.row1{top: 190px;}
.page_3 .dragLineObj.row2,
.page_3 .dragLineArea.row2{top: 360px;}

.page_3 .colorBox{position: absolute;}
.page_3 .colorBox.green{top: 30px;left: 110px;}
.page_3 .colorBox.purple{top: 40px;left: 830px;}
.page_3 .lineBox .icon_arrow{transform: rotate(90deg);}
.page_3 .txt1{text-indent: -150px;}
.page_3 .txt2{text-indent: 140px;}



.page_4 .colorBox.check {
    width: 110px;
    text-align: center;
}
.page_4 .flex-wrap .check-tit{width: auto;}
.page_4 .flex-wrap.n1,
.page_4 .flex-wrap.n2{width: auto;}
.page_4 .colorBox.check{width:110px; text-align: center;}
.page_4 .flex-wrap.ps{position: absolute; top:-20px; left:56px}
.page_4 .abc {position: relative;}
.page_4 .abc .icon_arrow {position: absolute;top: 180px;left: 315px;transform: rotate(90deg);}
.page_4 .abc .txt{position: absolute; white-space: nowrap;}
.page_4 .abc .t1{top: 169px;left: 191px;}
.page_4 .abc .t2{top: 306px;left: 370px;}
.page_4 .abc .cc1{position: absolute;top: 240px;left: 300px;}


.page_5 .img-wrap{position: relative;width: calc(100% + 100px);margin: 0 0 0 -80px;}
.page_5 .img-wrap img{width: 100%;}
.page_5 .img-wrap > div{position: absolute;top: 30px;left: 120px;display: flex;align-items: center;}
.page_5 .img-wrap .g1{display: flex;align-items: center;position: absolute;top: 0px; left:0;width: 820px;letter-spacing: -1.3px;}
.page_5 .img-wrap .g2{display: flex;align-items: center;position: absolute;top: 125px;left: 580px;width: 300px;}
.page_5 .img-wrap .g3{display: flex;align-items: center;position: absolute;top: 70px;left: 594px;transform: rotate(90deg);}


.page_6 .img-wrap{position: relative;width: 740px;margin: 150px auto 20px;}
.page_6 .img-wrap img{width: 80%;display: block;margin: 0px auto 0;}
.page_6 .img-wrap .balloon{text-align: center;}
.page_6 .img-wrap .b1{top: -140px;left: -190px;width: 510px;letter-spacing: -1px;}
.page_6 .img-wrap .b2{top: 60px;left: 630px;width: 290px;letter-spacing: -1px;}
.page_6 .img-wrap .b3{top: -160px;left: 430px;width: 440px;letter-spacing: -3px;}

.page_6 .img-wrap .b1::after{left: 70% !important;}
.page_6 .img-wrap .b3::after{left: 30% !important;}


.pop_page_6 .icon_arrow{transform: rotate(90deg);position: relative;left: 113px;}


