@charset "utf-8";
.graphBox {
  position: relative;
  margin: 0 auto 0;
  width: 470px;
}


.right figure {
  width: 470px;
  margin: 0 auto
}

.graphContainer {
  position: absolute;
  left: -33px;
  top: 0;
}

.fillContainer {
  display: flex;
  justify-content: space-around;
  padding: 75px 8px 0 161px;
  width: 328px;
  height: 289px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.fillContainer .square {
  display: flex;
  width: 46px;
  flex-direction: column-reverse;
  border-bottom: none;
  box-sizing: border-box;
}

.square > .target {
  width: 100%;
  flex: 1;
  cursor: pointer;
}

.square > .target.fill[index] {
  background-color: #EDC6CA;
  border: 2px solid #c83164;
  border-bottom: 0;
  border-top: 0;
  animation: none;
}

.square > .target.fill.last {
  border-top: 2px solid #c83164;
}

.square > .target[index="0"] {
  animation: targetOpacity 1s ease-in-out infinite;
}
@keyframes targetOpacity { 50% { background-color: yellow; }}
@-o-keyframes targetOpacity { 50% { background-color: yellow; }}
@-ms-keyframes targetOpacity { 50% { background-color: yellow; }}
@-webkit-keyframes targetOpacity { 50% { background-color: yellow; }}
input {
  position: absolute;
  padding: 5px 4px 4px;
  font-size: 23px;
  height: 48px;
  text-align: center;
  z-index: 1;
}

.input_1 {
  top: 0;
  left: 18px;
  width: 505px;
  font-size: 44px;
  text-align: center;
  height: 60px;
}

.input_2 {
  top: 80px;
  left: 38px;
  width: 64px;
}

.input_3,
.input_4 {
  left: 110px;
  width: 58px;
  text-align: right;
  letter-spacing: 0;
}

.input_3 {
  top: 90px;
}

.input_4 {
  top: 218px;
}

.input_5 {
  top: 369px;
  left: 36px;
  width: 116px;
  text-align: left;
}

.input_6 {
  width: 80px;
  top: 400px;
  left: 109px;
  text-align: left;
}

.input_7,
.input_8,
.input_9,
.input_10 {
  width: 80px;
  top: 387px;
  font-size: 24px;
  padding: 5px 0px 4px;
}

.input_7 {
  left: 172px;
}

.input_8 {
  left: 255px;
}

.input_9 {
  left: 336px;
}

.input_10 {
  left: 420px;
}

.graphContainer > ins.exam {
  top: 5px;
  left: -40px;
}

.popup_pages > li.head {
  top: 90px;
  right: 100px;
  width: 770px;
}

.popupButton.head {
  top: -75px;
}

.ls4 {
  letter-spacing: -4px;
}

