@charset "utf-8";

.titleIndent {}
.titleIndent input {
  width: 150px;
  margin-right: 3px;
}


.popup_pages > li.head {
  top: 153px;
  right: 100px;
  width: 770px;
}

.popupButton.head {
  top: -75px;
}
