@charset "utf-8";

.eye.popBtn {
    transform: translate(0, 9px);
}

.popup_pages>li.whole.pop_page_1 .popup_contents{
    padding:0;
    background-color: #c6c6e0;
}

.pop_page_1 .img1{width:100%; height:770px; background: url(../images/suh_h_0301_03_0008_201_1_1.png) no-repeat 50% 50% / 120%; position: relative;}
.pop_page_1 .img1 .balloon{text-align: center; }
.pop_page_1 .img1 .b1{top: 100px;left: 20px;width:250px;}
.pop_page_1 .img1 .b2{top: 140px;left: 300px;width: 310px;}
.pop_page_1 .img1 .b3{top:10px; left:670px; width:430px;}
.pop_page_1 .img1 .b2::after{left:20% !important}
.pop_page_1 .img1 .b3::after{left:20% !important}


.tit-wrap{width:600px;height:220px;background: url(../images/suh_h_0301_02_0008_201_2_1.png) no-repeat 0 0 / 100%; padding:43px 0 0 130px; position: relative; box-sizing: border-box; margin: 0 auto;}
.tit-wrap b{position: absolute; top:42px; left:56px;}

.page_2 .step1{width:550px; margin:0 auto; position: relative;}
.page_2 .step1 img{width: 100%;}
.page_2 .innerTab_1 .click-finger-Btn{top:50%; left:50%;}
.page_2 .lineBox{height: 140px; display: flex; justify-content: flex-start; align-items: center;}
.page_2 .innerTab_2 .click-finger-Btn{top:50%; left:50%;}
.page_2 .innerTab_3 .click-finger-Btn.btn1{top:50%; left:50%;}
.page_2 .innerTab_2 .lineBox{
    width: 800px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
.page_2 .innerTab_3 .toggle.complete .click-finger-Btn{display: none;}
.page_2 .innerTab_3 .toggle .click-finger-Btn{top:-10px; left:-10px}
.page_2 .innerTab_3 .toggle{background-color: transparent;}
.page_2 .innerTab_3 .toggle::after{display: none;}
.page_2 .innerTab_3 .toggle.btn2{position:absolute; top:100px; left:200px;}
.page_2 .innerTab_3 .toggle.btn3{position:absolute; top:170px; left:450px;}
.page_2 .innerTab_3 .text.n1{position: absolute; top:92px; left:94px;}
.page_2 .innerTab_3 .text.n2{position: absolute; top:170px; left:348px;}
.page_2 .innerTab_3 .balloon.b1{position: absolute; top:-100px; width:80px; text-align: center;}
.page_2 .innerTab_3 .balloon.b2{position: absolute; top:0; width:80px; text-align: center;}
.page_2 .balloon.ctTail.bottom:after{
    left: -5%;
    transform: translate(-50%) rotate(45deg);
    top: 60px;
}

.page_2 .innerTab_4 .toggle.complete .click-finger-Btn{display: none;}
.page_2 .innerTab_4 .click-finger-Btn.btn1{top:278px; left:498px}
.page_2 .innerTab_4 .toggle{background-color: transparent;}
.page_2 .innerTab_4 .toggle::after{display: none;}
.page_2 .innerTab_4 .toggle.btn2{position:absolute; top:150px; left:166px;}
.page_2 .innerTab_4 .toggle.btn3{position:absolute; top:150px; left:296px;}
.page_2 .innerTab_4 .text.n1{position: absolute; top:166px; left:94px;}
.page_2 .innerTab_4 .text.n2{position: absolute; top:166px; left:224px;}
.page_2 .innerTab_4 .balloon.b1{position: absolute; top:-70px; width:80px; text-align: center;}
.page_2 .innerTab_4 .balloon.b2{position: absolute; top:0; width:80px; text-align: center;}
.page_2 .balloon.ctTail.bottom:after{
    left: -5%;
    transform: translate(-50%) rotate(45deg);
    top: 60px;
}


.page_3 .supply_guide{position: absolute; right:0; top:0;}
.page_3 .tableContainer{width: 590px;}


.page_3 .innerTab_1 td .toggle{width:100%; height:100px;  display: flex; justify-content: center; align-items: center; background-color: transparent;}
.page_3 .innerTab_3 .toggle .answer{text-align: left; display: flex;}
.page_3 .innerTab_3 section{margin: 10px;}
.page_3 .dapCheckBtn:before {
    content: "예 보기";
    padding-left: 26px
}
.page_3 .dapCheckBtn{
    background-color: #00a0ff;
}

.page_3 .dapCheckBtn.reset:before {
    padding-left: 19px;
    content: "다시하기"
}
.page_3 .dapCheckBtn.reset{
    background-color: #236cbb;
}







