.contentsBox section { padding:0; } 
.toggle .answer { position: relative; text-align: justify; } 
.toggle .answer.ico_exam { padding-left:60px; } 
.toggle .answer .bullet.exam { position: absolute; top:0; left:0; } 

header .title .textInBtn.inline { top:4px; } 

.suhi h2+section { padding-left: 0; } 
.formula_box > li { display: flex; align-items: center; width: calc(100% / 3); justify-content: inherit; } 
.formula_box .bunsuWrap > ul { display:inline-flex; min-width:50px; flex-direction:column; align-items:center; justify-content:center; } 
.formula_box { display: flex; justify-content: space-evenly; margin-top: 50px; } 
.bunsuWrap.separation > ul { min-width: 70px; } 
.bunsuWrap.separation li { width:100%; } 
.bunsuWrap.separation li:first-of-type { margin-bottom: 5px; padding-bottom: 5px; } 
.bunsuWrap.separation .toggle { width:100%; } 


.flex-box { align-items: center; justify-content: space-between; } 
.page_1 h2{margin-top: -20px;}
.page_2 h2{margin-top: -20px;}
.page_1 h2 .dot { margin: 30px 10px 0 0!important; top: 0!important; } 
.page_2 h2 .dot { margin: 30px 10px 0 0!important; top: 0!important; } 