.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}

.icon_arrow.eff.complete{animation:none;}
.icon_arrow.eff {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}
.page_1 h2{position: relative; z-index: 2;}
.page_1 .iframe-wrap{
    width: 1170px;
    position: absolute;
    top: -30px;
    left: -56px;
    height: 535px;
    overflow: hidden;
    }
.page_1  .page-iframe {
    width: 1250px;
    height: 582px;
    overflow: hidden;
    border: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -80px;
}
h2 .study_guide{
    bottom:0 !important;
}
.contentsBox .contentsBox{padding: 0 !important;}

.page_3 h2 .dot,
.page_1 h2 .dot{margin-top:31px !important}









