.flex-wrap{justify-content: space-around; padding: 80px 0 0;}

.flex-wrap > div{margin:0 20px}

.lineBox{position: relative;  padding:80px 80px 20px}
.lineBox .colorBox{position: absolute;top:0;left:50%;transform: translate(-50%, -59px);}

.toggle::after{display: none;}
.toggle{position: relative; width: 250px; padding:0; background-color: transparent; }
.toggle img{width:250px; }
.toggle .answer img{z-index: 2;position: absolute; top:0; left:0;}
.toggle.complete .click-finger-Btn{display: none;}

.toggle .click-finger-Btn{top: 43%; left: 44%;}
.toggle .bullet{position: absolute;top: -50px;left: -50px;}



