.box-flex {display:flex}

.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important}

.tableContainer .toggle {width:100%;background-color:transparent}

.img-answer {position:relative}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;transition:opacity 1s}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {opacity:1;z-index:1}


.page_1 .lineBox {margin:0 auto;width:700px;text-align:center}
.page_1 .bgCon {position:relative;width:400px;height:300px;margin:10px auto 0;background:url(../images/suhi_0601_05_0005_01.png) center 40%/auto 250px no-repeat}
.page_1 .bgCon .popBtn {position:absolute;top:0;left:0;width:100%;height:100%}
.page_1 .imgText {position:absolute;font-size:22px;text-align:center;white-space:nowrap;line-height:1.2;letter-spacing:-2px}
.page_1 .imgText.text_1 {left:210px;top:95px}
.page_1 .imgText.text_2 {left:189px;top:172px}
.page_1 .imgText.text_3 {left:100px;top:150px}
.page_1 .imgText.text_4 {left:89px;top:71px}
.page_1 .imgText.text_5 {left:55px;top:8px}
.page_1 .imgText li {position:absolute;font-size:24px;white-space:nowrap}
.page_1 .imgText li:nth-of-type(1) {left:193px;top:0}
.page_1 .imgText li:nth-of-type(2) {left:330px;top:133px}
.page_1 .imgText li:nth-of-type(3) {left:188px;top:270px}
.page_1 .imgText li:nth-of-type(4) {left:45px;top:133px}

.page_2 .lineBox {margin:0 auto 10px;width:500px;text-align:center}
.page_2 .box-flex {align-items:center}
.page_2 .circleDot {position:relative;top:22px}
.page_2 .tableContainer {margin-bottom:10px}
.page_2 .tableContainer .txt-s td {font-size:32px;letter-spacing:-1px}
.page_2 .tableContainer th {letter-spacing:-2px}

.page_3 .lineBox {margin:0 auto;width:500px;text-align:center}
.page_3 .bgCon {position:relative;width:400px;height:300px;margin:10px auto 0;background:url(../images/suhi_0601_05_0005_03.png) center 40%/auto 250px no-repeat}
.page_3 .bgCon .popBtn {position:absolute;top:0;left:0;width:100%;height:100%}
.page_3 .imgText {position:absolute;font-size:22px;text-align:center;white-space:nowrap;line-height:1.2;letter-spacing:-2px}
.page_3 .imgText.text_1 {left:220px;top:115px}
.page_3 .imgText.text_2 {left:139px;top:202px}
.page_3 .imgText.text_3 {left:100px;top:115px}
.page_3 .imgText.text_4 {left:141px;top:56px;font-size:17px}
.page_3 .imgText.text_5 {left:70px;top:8px}
.page_3 .imgText li {position:absolute;font-size:24px;white-space:nowrap}
.page_3 .imgText li:nth-of-type(1) {left:193px;top:0}
.page_3 .imgText li:nth-of-type(2) {left:330px;top:133px}
.page_3 .imgText li:nth-of-type(3) {left:188px;top:270px}
.page_3 .imgText li:nth-of-type(4) {left:45px;top:133px}

.page_4 .textAlignC {margin-top:180px}

.page_5 .textAlignC {margin-top:128px}
.page_5 .nemoBox {border:1px solid #000;border-radius:4px;height:40px;width:80px;display:inline-block;position:relative;top:4px}

.page_6 .lineBox {margin:52px auto 20px;width:600px;text-align:center}


.pop_page_1 .lineBox {margin:40px auto 60px;width:700px;text-align:center;font-size:40px}
.pop_page_1 .bgCon {position:relative;height:480px;background:url(../images/suhi_0601_05_0005_01.png) center no-repeat;background-size:contain}
.pop_page_1 .imgText {position:absolute;font-size:40px;text-align:center;white-space:nowrap;line-height:1.2;letter-spacing:-2px}
.pop_page_1 .imgText.text_1 {left:600px;top:140px}
.pop_page_1 .imgText.text_2 {left:565px;top:294px}
.pop_page_1 .imgText.text_3 {left:390px;top:260px}
.pop_page_1 .imgText.text_4 {left:361px;top:102px}
.pop_page_1 .imgText.text_5 {left:305px;top:-22px}
.pop_page_1 .imgText li {position:absolute;font-size:40px;white-space:nowrap}
.pop_page_1 .imgText li:nth-of-type(1) {left:573px;top:-30px}
.pop_page_1 .imgText li:nth-of-type(2) {left:825px;top:223px}
.pop_page_1 .imgText li:nth-of-type(3) {left:565px;top:480px}
.pop_page_1 .imgText li:nth-of-type(4) {left:305px;top:223px}

.pop_page_2 .lineBox {margin:40px auto 60px;width:500px;text-align:center;font-size:40px}
.pop_page_2 .bgCon {position:relative;height:480px;background:url(../images/suhi_0601_05_0005_03.png) center no-repeat;background-size:contain}
.pop_page_2 .imgText {position:absolute;font-size:40px;text-align:center;white-space:nowrap;line-height:1.2;letter-spacing:-2px}
.pop_page_2 .imgText.text_1 {left:619px;top:190px}
.pop_page_2 .imgText.text_2 {left:455px;top:345px}
.pop_page_2 .imgText.text_3 {left:390px;top:175px}
.pop_page_2 .imgText.text_4 {left:464px;top:62px;font-size:32px}
.pop_page_2 .imgText.text_5 {left:335px;top:-22px}
.pop_page_2 .imgText li {position:absolute;font-size:40px;white-space:nowrap}
.pop_page_2 .imgText li:nth-of-type(1) {left:573px;top:-30px}
.pop_page_2 .imgText li:nth-of-type(2) {left:825px;top:223px}
.pop_page_2 .imgText li:nth-of-type(3) {left:565px;top:480px}
.pop_page_2 .imgText li:nth-of-type(4) {left:305px;top:223px}


