


@charset "utf-8";




.basicSlider_slides > li {
  padding: 20px 50px;
  box-sizing: border-box;
}





/* toggle */
.list.dot > li .toggleObj[data-toggle-obj="1"] {
  top: 64px;
  left: 40px;
  width: 84px;
}
.list.dot > li .toggleObj[data-toggle-obj="2"] {
  top: 64px;
  left: 136px;
  width: 84px;
}




.noBullet {
  height: 390px;
  background: url(../images/4_1/4_1_8_01.svg) center / contain no-repeat;
}

.noBullet > div {
  position: absolute;
  top: 158px;
  left: 53px;
}