


@charset "utf-8";


section {
  padding: 20px 50px;
}


/* toggle */
.list.dot > li .toggleObj[data-toggle-obj="1"] {
  top: 192px;
  left: 40px;
  width: 84px;
}
.list.dot > li .toggleObj[data-toggle-obj="2"] {
  top: 0px;
  left: 376px;
  width: 124px;
}




.imageBox {
  position: absolute;
  top: 0;
  right: 90px;
  width: 200px;
  height: 390px;
  background: url(../images/4_2/4_2_8_01.svg) center / contain no-repeat;
}

.imageBox > div {
  position: absolute;
  top: 174px;
  left: 80px;
}