
@charset "utf-8";


.imageBox {
  position: relative;
  width: 100%;
  height: 520px;
  background: url(../images/4_1/4_1_7_bg.png) center / contain no-repeat;
}



.oxObj {
  cursor: pointer;
}
.complete .oxObj,
.oxObj.complete {
  pointer-events: none;
}
.oxObj[data-ox-obj="1"] {
  top: 20px;
  left: 80px;
  width: 1070px;
  height: 484px;
}

.oxObj[data-ox-obj="2"] {
  top: 284px;
  left: 135px;
}
.oxObj[data-ox-obj="3"] {
  top: 163px;
  left: 1048px;
}
.oxObj[data-ox-obj="4"] {
  top: 32px;
  left: 58px;
}
.oxObj[data-ox-obj="5"] {
  top: 157px;
  left: 38px;
}
.oxObj[data-ox-obj="6"] {
  top: 60px;
  left: 240px;
}
.oxObj[data-ox-obj="7"] {
  top: 175px;
  left: 210px;
}
.oxObj[data-ox-obj="8"] {
  top: 111px;
  left: 644px;
}
.oxObj[data-ox-obj="9"] {
  top: 280px;
  left: 653px;
  width: 50px;
  height: 50px;
}
.oxObj[data-ox-obj="10"] {
  top: 273px;
  left: 699px;
  width: 50px;
  height: 50px;
}
.oxObj[data-ox-obj="11"] {
  top: 267px;
  left: 778px;
  width: 50px;
  height: 50px;
}
.oxObj[data-ox-obj="12"] {
  top: 303px;
  left: 518px;
}

.oxObj .icon {
  opacity: 0;
}