


@charset "utf-8";



.popupButton {
  /* top: -75px; */
  right: 0; /* 팝업 버튼 기본 위치 */
}


.imageBox {
  position: relative;
  width: 100%;
  height: 530px;
  margin-top: -20px;
  background: url(../images/4_1/4_1_6_bg.png) center / contain no-repeat;
}
.imageBox .balloonText {
  position: absolute;
  font-size: 20px;
  text-align: right;
}
.imageBox .balloonText:nth-child(1) {
  top: 75px;
  left: 492px;
}
.imageBox .balloonText:nth-child(2) {
  top: 47px;
  left: 620px;
  text-align: left;
}
.imageBox .balloonText:nth-child(3) {
  top: 402px;
  left: 440px;
}
.imageBox .balloonText:nth-child(4) {
  top: 402px;
  left: 622px;
  text-align: left;
}




.dragBox {
  position: absolute;
  top: 90px;
  right: 0;
  width: 370px;
  height: 120px;
}
.dragBox .rotateContainer {}
.dragBox .rotateContainer.showRotate {}

.dragBox .rotateContainer.rotate_ruler {
  top: 48px;
  left: 30px;
}
.dragBox .rotateContainer.rotate_protractor {
  top: 22px;
  left: 212px;
}

.dragBox .rotate_ruler.showRotate {
  width: 444px;
  height: 84px;
}
.dragBox .rotate_protractor.showRotate {
  width: 400px;
  height: 210px;
}


.drawLine {
  position: absolute;
  top: 84px;
  left: 394px;
  width: 440px;
  height: 400px;
}
.drawLine .resetButton {
  bottom: 4px;
  right: -2px;
}
.drawLine .dragArea {
  /* z-index: 2; */
}



/* page2 */
.page2 {
  background: url(../images/4_1/4_1_6_01.svg) center top 84px / auto 400px no-repeat;
}



/* page3 */
.page3 {
  background: url(../images/4_1/4_1_6_02.svg) center top 84px / auto 400px no-repeat;
}

