
@charset "utf-8";


.imageBox {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: -30px;
  background: url(../images/4_2/4_2_7_bg.png) center / contain no-repeat;
}




.oxObj {
  cursor: pointer;
}
.complete .oxObj,
.oxObj.complete {
  pointer-events: none;
}
.oxObj[data-ox-obj="2"] {
  top: 94px;
  left: 418px;
}
.oxObj[data-ox-obj="3"] {
  top: 171px;
  left: 631px;
}
.oxObj[data-ox-obj="4"] {
  top: 241px;
  left: 418px;
}
.oxObj[data-ox-obj="5"] {
  top: 372px;
  left: 548px;
}
.oxObj[data-ox-obj="1"] {
  top: 10px;
  left: 90px;
  width: 1040px;
  height: 484px;
}

.oxObj .icon {
  opacity: 0;
}