@charset "utf-8";
.flexContainer {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  height: 410px;
}
.flexContainer .list.dot {
  width: 770px;
  word-break: break-all;
}

.flexContainer .imageBox {
  width: 350px;
  height: 440px;
  background: url(../images/4_2/4_2_4_01.svg) center 0/ contain no-repeat;
}

.toggleObj[data-toggle-obj="1"] {
  top: 194px;
  left: 36px;
  width: 84px;
}
.toggleObj[data-toggle-obj="2"] {
  top: 260px;
  left: 132px;
  width: 130px;
}
