@charset "utf-8";

.imageBox {
  height: 230px;
  margin: 70px 0 60px;
  background: url(../images/4_3/4_3_5_01.svg) center / contain no-repeat;
}



.dragBox {
  position: absolute;
  top: -50px;
  right: 0;
  width: 200px;
  height: 100px;
  z-index: 1;
}
.dragBox .rotateContainer {
  top: 34px;
  left: 26px;
}
.dragBox .rotateContainer.showRotate {
  width: 816px;
  height: 152px;
}


.inputQuizContainer {
  display: flex;
}
.inputQuizContainer > div {
  width: 276px;
  text-align: center;
}
.inputQuizContainer > div:nth-of-type(1) {
  margin-right: 97px;
}
.inputQuizContainer > div:nth-of-type(2) {
  margin-right: 167px;
}
.inputQuizContainer input {
  width: 190px;
}
