
@charset "utf-8";


.contentsArea > h1 {
  word-break: normal;
}

/*.icon_art {*/
/*  position: absolute;*/
/*  top: 54px;*/
/*  left: -7px;*/
/*  width: 60px;*/
/*  height: 40px;*/
/*  background: url(../images/icon_art.svg) center / contain no-repeat;*/
/*}*/

section {
  background: url(../images/4_4/4_4_5_bg.svg) center bottom 70px / auto 250px no-repeat;
}


.flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 290px;
  margin-top: 60px;
}
.paper {
  flex: 0 0 auto;
  opacity: 1;
  visibility: visible;
  width: 320px;
  height: 100%;
  margin: 0 auto;
}


.paper[data-toggle-target="1"] {
  background: url(../images/4_4/4_4_5_1.svg) center / contain no-repeat;
}
.paper[data-toggle-target="2"] {
  background: url(../images/4_4/4_4_5_2.svg) center / contain no-repeat;
}
.paper[data-toggle-target="3"] {
  background: url(../images/4_4/4_4_5_3.svg) center / contain no-repeat;
}

.paper[data-toggle-target="1"].on {
  background: url(../images/4_4/4_4_5_1_answer.svg) center / contain no-repeat;
}
.paper[data-toggle-target="2"].on {
  background: url(../images/4_4/4_4_5_2_answer.svg) center / contain no-repeat;
}
.paper[data-toggle-target="3"].on {
  background: url(../images/4_4/4_4_5_3_answer.svg) center / contain no-repeat;
}


.clickButton {
  top: 10px;
}
.clickButton[data-toggle-obj="1"] { left: 290px; }
.clickButton[data-toggle-obj="2"] { left: 710px; }
.clickButton[data-toggle-obj="3"] { left: 1120px; }