


@charset "utf-8";


.contentsArea > h1 {
  letter-spacing: -3.2px;
}



.imageBox {
  height: 250px;
  margin-bottom: 10px;
  background: url(../images/4_5/4_5_3_01.svg) center / contain no-repeat;
}


.table {
  width: 1160px;
}
.table > ul > li {
  height: 70px;
}


/* page1 */
.page1 .imageBox {
  height: 450px;
  margin: 20px 0;
}



/* page2 */

.page2 .dragBox {
  height: 250px;
  margin: 0 0 20px;
  border: none;
  border-radius: 0;
  background: url(../images/4_5/4_5_3_bg.svg) center / contain no-repeat;
}
.page2 .dragBox.right:after,
.page2 .dragBox.right:before {
  top: 0;
  right: 236px;
}
.page2 .dragBox .dragObjComplete {
  opacity: 0.3;
}
.page2 .dragBox span {
  display: none;
}
.page2 .colorBox {
  position: relative;
  height: 68px;
  padding-top: 6px;
  box-sizing: border-box;
}

.page2 .dropArea {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.page2 .dropArea.blue {
  color: #0060e3;
}
.page2 .dragObj {
  height: 92px;
}
.page2 .dragObj img {
  height: 100%;
  vertical-align: top;
  pointer-events: none;
}
.page2 .dragObj[data-index="1"],
.page2 .dragObj[data-index="2"],
.page2 .dragObj[data-index="3"],
.page2 .dragObj[data-index="4"] {
  top: 24px;
}
.page2 .dragObj[data-index="5"],
.page2 .dragObj[data-index="6"],
.page2 .dragObj[data-index="7"],
.page2 .dragObj[data-index="8"] {
  top: 136px;
}
.page2 .dragObj[data-index="1"] {
  left: 306px;
  width: 114px;
}
.page2 .dragObj[data-index="2"] {
  left: 463px;
  width: 137px;
}
.page2 .dragObj[data-index="3"] {
  left: 620px;
  width: 137px;
}
.page2 .dragObj[data-index="4"] {
  left: 800px;
  width: 114px;
}
.page2 .dragObj[data-index="5"] {
  left: 306px;
  width: 92px;
}
.page2 .dragObj[data-index="6"] {
  left: 463px;
  width: 137px;
}
.page2 .dragObj[data-index="7"] {
  left: 642px;
  width: 92px;
}
.page2 .dragObj[data-index="8"] {
  left: 800px;
  width: 114px;
}
.page2 .dropArea span {
  display: inline-block;
}
.page2 .dropArea img {
  display: none;
}
.page2 .dropArea .dragObj.dragObjComplete {
  display: none;
}


/* page3 */




/* popup */
.popup_pages > li.head {
  top: 105px;
  right: 80px;
}
.popup_pages .imageBox {
  width: 1120px;
  height: 450px;
  margin: 0;
}

.popupButton {
  top: -75px;
}