
@charset "utf-8";



.imageBox {
  position: relative;
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
  background: url(../images/4_6/4_6_5_01.svg) center / contain no-repeat;
}


/* page1 */
input.inlineBox {
  width: 180px;
}

.page1 .quizContainer {
  padding: 14px 20px;
  padding-left: 130px;
  font-size: 42px;
  letter-spacing: -3px;
  box-sizing: border-box;
  background: url(../images/4_6/4_6_5_bg.svg) center left 92px / contain no-repeat;
}
.page1 .quizContainer > div:not(:last-child) {
  margin-bottom: 8px;
}



/* page2 */
.page2 .imageBox {
  position: relative;
  width: 100%;
  height: 260px;
  margin-top: 140px;
  background: url(../images/4_6/4_6_5_01.svg) center / contain no-repeat;
}



.dragBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 370px;
  height: 120px;
}
.dragBox .rotateContainer {}
.dragBox .rotateContainer.showRotate {}

.dragBox .rotateContainer.rotate_ruler {
  top: 48px;
  left: 30px;
}
.dragBox .rotateContainer.rotate_protractor {
  top: 22px;
  left: 212px;
}

.dragBox .rotate_ruler.showRotate {
  width: 274px;
  height: 52px;
}
.dragBox .rotate_protractor.showRotate {
  width: 400px;
  height: 212px;
}



/* page3 */
.list.dot.answer {
  position: absolute;
  top: 150px;
  left: 110px;
  width: 1100px;
}
.list.dot.answer > li {
  margin-bottom: 10px;
}
textarea {
  height: 300px;
}
