
@charset "utf-8";


.toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 710px;
  width: 122px;
}


.imageBox {
  height: 270px;
  margin-top: 50px;
  background: url(../images/4_6/4_6_4_01.svg) center / contain no-repeat;
}