

@charset "utf-8";




.drawLine {
  top: 40px;
  left: 90px;
  width: 500px;
  height: 410px;
}
.draw_2 {
  left: 630px;
}
.resetButton {
  right: -15px;
  bottom: -15px;
}



/* draw_1 */
.draw_1.drawLine {
  background: url(../images/4_8/4_8_8_01.svg) center / contain no-repeat;
}
.draw_1 .dragObj[data-index="1"] {
  top: 68px;
  left: 24px;
}
.draw_1 .dragObj[data-index="2"] {
  top: 334px;
  left: 382px;
}






/* draw_2 */
.draw_2.drawLine {
  background: url(../images/4_8/4_8_8_02.svg) center / contain no-repeat;
}
.draw_2 .dragObj[data-index="1"] {
  top: 23px;
  left: 203px;
}
.draw_2 .dragObj[data-index="2"] {
  top: 158px;
  left: 426px;
}





.dropObj {
  position: absolute;
  width: 30px;
  height: 30px;
}

.dropObj.horizon_1 { left: calc(49px * (1 - 1) - 10px); }
.dropObj.horizon_2 { left: calc(49px * (2 - 1) - 10px); }
.dropObj.horizon_3 { left: calc(49px * (3 - 1) - 10px); }
.dropObj.horizon_4 { left: calc(49px * (4 - 1) - 10px); }
.dropObj.horizon_5 { left: calc(49px * (5 - 1) - 10px); }
.dropObj.horizon_6 { left: calc(49px * (6 - 1) - 10px); }
.dropObj.horizon_7 { left: calc(49px * (7 - 1) - 10px); }
.dropObj.horizon_8 { left: calc(49px * (8 - 1) - 10px); }
.dropObj.horizon_9 { left: calc(49px * (9 - 1) - 10px); }
.dropObj.horizon_10 { left: calc(49px * (10 - 1) - 10px); }
.dropObj.horizon_11 { left: calc(49px * (11 - 1) - 10px); }
.dropObj.horizon_12 { left: calc(49px * (12 - 1) - 10px); }

.dropObj.vertical_1 { top: calc(49px * (1 - 1) - -19px); }
.dropObj.vertical_2 { top: calc(49px * (2 - 1) - -19px); }
.dropObj.vertical_3 { top: calc(49px * (3 - 1) - -19px); }
.dropObj.vertical_4 { top: calc(49px * (4 - 1) - -19px); }
.dropObj.vertical_5 { top: calc(49px * (5 - 1) - -19px); }
.dropObj.vertical_6 { top: calc(49px * (6 - 1) - -19px); }
.dropObj.vertical_7 { top: calc(49px * (7 - 1) - -19px); }
.dropObj.vertical_8 { top: calc(49px * (8 - 1) - -19px); }
.dropObj.vertical_9 { top: calc(49px * (9 - 1) - -19px); }
.dropObj.vertical_10 { top: calc(49px * (10 - 1) - -19px); }

ins.exam {
  display: none;
  top: 30px;
  left: -60px;
}
.pointerOff ins.exam {
  display: block;
}
