@charset "utf-8";


h3 span{color:#8e4882; padding-right:10px;}

.popupButton {
  /* top: -75px; */
  right: 0; /* 팝업 버튼 기본 위치 */
}


.dragBox {
  position: absolute;
  top: 40px;
  left: 100px;
  width: 300px;
  height: 290px;
}
.dragBox .rotateContainer {
  top: 57px;
  left: 65px;
  height: 180px;
  width: 180px;
}
.dragBox .rotateContainer.showRotate {
  width: 380px;
  height: 380px;
}
.rotateContainer .rotateTarget:after {
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
}


.drawLine {
  position: absolute;
  top: 40px;
  left: 520px;
  width: 580px;
  height: 300px;
 
}
.drawLine .resetButton {
  bottom: 0px;
  right: 0px;
}

/* page4 */
.page2 {
  width:800px;

  background: url(../images/4_8/4_8_2_01.svg) 500px 30px  no-repeat;
}
