@charset "utf-8";


.contentsArea > h1 {
  letter-spacing: -3.2px;
}




.table {
  width: 1160px;
}
.table > ul > li {
  height: 70px;
}

.inputQuizContainer {
  position: absolute;
  top: 350px;
}
.inputQuizContainer input {
  display: inline-block;
  text-align: center;
}

.page1 .inputQuizContainer {
  width: 200px;
  left: 860px;
}
.page1 .inputQuizContainer input { width: 100%;}
.page2 .inputQuizContainer {
  left: 610px;
}
.page3 .inputQuizContainer {
  left: 770px;
}

/* page1 */
.imageBox {
  height: 280px;
  margin: 30px 0 50px 0;
  background: url(../images/4_8/4_8_9_01.svg) center / contain no-repeat;
}




/* popup */
.popup_pages > li.head {
  top: 160px;
  right: 80px;
}
.popup_pages .imageBox {
  width: 1120px;
  height: 450px;
  margin: 0;
  background: url(../images/4_4/4_4_3_01.svg) center / contain no-repeat;
}
