

@charset "utf-8";


.contentsArea h1 {
  letter-spacing: -3.5px;
}






/* page1 */
.page1 {
  background: url(../images/4_finish_arrange/4_finish_arrange_01.svg) center / contain no-repeat;
}
.quizButtons {
  right: 460px;
  bottom: 40px;
}

input {
  position: absolute;
  right: 28px;
  width: 100px;
  font-size: 45px;
  text-align: center;
  /* outline: 1px solid; */
}
input[data-input-obj="1"] {
  top: 56px;
}
input[data-input-obj="2"] {
  top: 180px;
}
input[data-input-obj="3"] {
  top: 306px;
}
input[data-input-obj="4"] {
  top: 430px;
}
input[data-input-obj="5"] {
  top: 360px;
  left: 500px;
  right: auto;
  width: 226px;
}

.page1 .drawLine {
  top: 20px;
  left: 58px;
  width: 346px;
  height: 346px;
  border-radius: 50%;
  overflow: hidden;
  /* outline: 1px solid tomato; */
}
.page1 .resetButton {
  right: -15px;
  bottom: -15px;
}

.page1 .dragObj {
  position: absolute;
  width: 20px;
  height: 20px;
  /* outline: 1px solid; */
}

.page1 [data-after-target] {
  position: absolute;
  top: 315px;
  left: 582px;
  font-size: 40px;
}

.dragObj.horizon_1 { left: calc(31.3px * (1 - 1) + 22px); }
.dragObj.horizon_2 { left: calc(31.3px * (2 - 1) + 22px); }
.dragObj.horizon_3 { left: calc(31.3px * (3 - 1) + 22px); }
.dragObj.horizon_4 { left: calc(31.3px * (4 - 1) + 22px); }
.dragObj.horizon_5 { left: calc(31.3px * (5 - 1) + 22px); }
.dragObj.horizon_6 { left: calc(31.3px * (6 - 1) + 22px); }
.dragObj.horizon_7 { left: calc(31.3px * (7 - 1) + 22px); }
.dragObj.horizon_8 { left: calc(31.3px * (8 - 1) + 22px); }
.dragObj.horizon_9 { left: calc(31.3px * (9 - 1) + 22px); }
.dragObj.horizon_10 { left: calc(31.3px * (10 - 1) + 22px); }
.dragObj.horizon_11 { left: calc(31.3px * (11 - 1) + 22px); }
.dragObj.horizon_12 { left: calc(31.3px * (12 - 1) + 22px); }

.dragObj.vertical_1 { top: calc(31.3px * (1 - 1) + 22px); }
.dragObj.vertical_2 { top: calc(31.3px * (2 - 1) + 22px); }
.dragObj.vertical_3 { top: calc(31.3px * (3 - 1) + 22px); }
.dragObj.vertical_4 { top: calc(31.3px * (4 - 1) + 22px); }
.dragObj.vertical_5 { top: calc(31.3px * (5 - 1) + 22px); }
.dragObj.vertical_6 { top: calc(31.3px * (6 - 1) + 22px); }
.dragObj.vertical_7 { top: calc(31.3px * (7 - 1) + 22px); }
.dragObj.vertical_8 { top: calc(31.3px * (8 - 1) + 22px); }
.dragObj.vertical_9 { top: calc(31.3px * (9 - 1) + 22px); }
.dragObj.vertical_10 { top: calc(31.3px * (10 - 1) + 22px); }



.page1 .answerImage {
  position: absolute;
  top: 92px;
  left: 29px;
  width: 286px;
  height: 162px;
  background: url(../images/4_finish_arrange/4_finish_arrange_01_answer.svg) center / contain no-repeat;
}



/* page2 */
.page2 {
  background: url(../images/4_finish_arrange/4_finish_arrange_02.svg) center / auto 540px no-repeat;
}

.page2 .drawLine {
  top: 124px;
  left: 18px;
  width: 1176px;
  height: 446px;
  /* outline: 1px solid tomato; */
}
.page2 .resetButton {
  right: -15px;
  bottom: 395px;
}

.page2 .dragObj {
  position: absolute;
  width: 20px;
  height: 20px;
  /* outline: 1px solid; */
}

.page2 .dragObj.horizon_1 { left: calc(37.9px * (1 - 1) + 28.5px); }
.page2 .dragObj.horizon_2 { left: calc(37.9px * (2 - 1) + 28.5px); }
.page2 .dragObj.horizon_3 { left: calc(37.9px * (3 - 1) + 28.5px); }
.page2 .dragObj.horizon_4 { left: calc(37.9px * (4 - 1) + 28.5px); }
.page2 .dragObj.horizon_5 { left: calc(37.9px * (5 - 1) + 28.5px); }
.page2 .dragObj.horizon_6 { left: calc(37.9px * (6 - 1) + 28.5px); }
.page2 .dragObj.horizon_7 { left: calc(37.9px * (7 - 1) + 28.5px); }
.page2 .dragObj.horizon_8 { left: calc(37.9px * (8 - 1) + 28.5px); }
.page2 .dragObj.horizon_9 { left: calc(37.9px * (9 - 1) + 28.5px); }
.page2 .dragObj.horizon_10 { left: calc(37.9px * (10 - 1) + 28.5px); }
.page2 .dragObj.horizon_11 { left: calc(37.9px * (11 - 1) + 28.5px); }
.page2 .dragObj.horizon_12 { left: calc(37.9px * (12 - 1) + 28.5px); }
.page2 .dragObj.horizon_13 { left: calc(37.9px * (13 - 1) + 28.5px); }
.page2 .dragObj.horizon_14 { left: calc(37.9px * (14 - 1) + 28.5px); }
.page2 .dragObj.horizon_15 { left: calc(37.9px * (15 - 1) + 28.5px); }
.page2 .dragObj.horizon_16 { left: calc(37.9px * (16 - 1) + 28.5px); }
.page2 .dragObj.horizon_17 { left: calc(37.9px * (17 - 1) + 28.5px); }
.page2 .dragObj.horizon_18 { left: calc(37.9px * (18 - 1) + 28.5px); }
.page2 .dragObj.horizon_19 { left: calc(37.9px * (19 - 1) + 28.5px); }
.page2 .dragObj.horizon_20 { left: calc(37.9px * (20 - 1) + 28.5px); }
.page2 .dragObj.horizon_21 { left: calc(37.9px * (21 - 1) + 28.5px); }
.page2 .dragObj.horizon_22 { left: calc(37.9px * (22 - 1) + 28.5px); }
.page2 .dragObj.horizon_23 { left: calc(37.9px * (23 - 1) + 28.5px); }
.page2 .dragObj.horizon_24 { left: calc(37.9px * (24 - 1) + 28.5px); }
.page2 .dragObj.horizon_25 { left: calc(37.9px * (25 - 1) + 28.5px); }
.page2 .dragObj.horizon_26 { left: calc(37.9px * (26 - 1) + 28.5px); }
.page2 .dragObj.horizon_27 { left: calc(37.9px * (27 - 1) + 28.5px); }
.page2 .dragObj.horizon_28 { left: calc(37.9px * (28 - 1) + 28.5px); }
.page2 .dragObj.horizon_29 { left: calc(37.9px * (29 - 1) + 28.5px); }
.page2 .dragObj.horizon_30 { left: calc(37.9px * (30 - 1) + 28.5px); }

.page2 .dragObj.vertical_1 { top: calc(37.9px * (1 - 1) + 24px); }
.page2 .dragObj.vertical_2 { top: calc(37.9px * (2 - 1) + 24px); }
.page2 .dragObj.vertical_3 { top: calc(37.9px * (3 - 1) + 24px); }
.page2 .dragObj.vertical_4 { top: calc(37.9px * (4 - 1) + 24px); }
.page2 .dragObj.vertical_5 { top: calc(37.9px * (5 - 1) + 24px); }
.page2 .dragObj.vertical_6 { top: calc(37.9px * (6 - 1) + 24px); }
.page2 .dragObj.vertical_7 { top: calc(37.9px * (7 - 1) + 24px); }
.page2 .dragObj.vertical_8 { top: calc(37.9px * (8 - 1) + 24px); }
.page2 .dragObj.vertical_9 { top: calc(37.9px * (9 - 1) + 24px); }
.page2 .dragObj.vertical_10 { top: calc(37.9px * (10 - 1) + 24px); }
.page2 .dragObj.vertical_11 { top: calc(37.9px * (11 - 1) + 24px); }




.page2 .answerImage {
  position: absolute;
  top: 144px;
  left: 111px;
  width: 954px;
  height: 160px;
  background: url(../images/4_finish_arrange/4_finish_arrange_02_answer.svg) center / contain no-repeat;
}
.page2 .quizButtons {
  right: 2px;
  bottom: 394px;
}

ins.exam_1 {
  left: 35px;
  top: 143px;
}