
@charset "utf-8";
.h2Side {
  position:relative;
  top:-7px;
  width:98%;
  text-indent:200px;
  margin:-60px 10px 0;
  word-break: break-word;
}
.h2Side:before {
  display:none !important;
}
/* 1 page */


/* 2 page */
.page2 .clickButton {
  top: 90px;
  left: 485px;
}
.page2 .clickButton[data-click-obj="3"] {
  top: 240px;
  left: 355px;
}

.textBox {
  position: relative;
  top: 5px;
  width: 944px;
  height:430px;
  margin-left: 130px;
  margin-top:30px;
  padding: 32px 30px 32px 40px;
  border: 2px solid #ef8999;
  border-radius: 30px;
  text-align:left;
  line-height:60px;
  box-sizing: border-box;
  word-break: break-word;
}

.cont2 .textBox {border-color:#6bc1a1}
.cont3 .textBox {border-color:#7899cf}


.textBox .number {
  display: block;
  position: absolute;
  left: -24px;
  top: 25px;
  padding-top: 5px;
}


.page2 .pwu_exCont {
  position: absolute;
  width: 500px;
  top: 100px;
  left: 560px;
  padding-left: 80px;
  background: url(../images/4_powerup/4_powerup_page2_icon.svg) 0 0 / 58px 50px no-repeat;
}

.page2 .cont3 .pwu_exCont {
  width: 510px;
  top: 100px;
  left: 440px;
  background-position: 0 50%;
}

.page2 .basicSlider_btn.next {
  right:25px !important;
  top: 250px !important;
}
.page2 .basicSlider_btn.prev {
  left:25px !important;
  top: 250px !important;
}

.pwu_exCont .txt {
  margin-bottom:30px;
} 
.pwu_exCont .txt img {
  vertical-align:middle;
}

.pwu_exCont .img {
  text-align:center;
  top:30px;
}

/* 3 page */
.drawingArea {
  position: relative;
  width: 1148px;
  height: 470px;
  margin: 50px auto 0;
  background: url(../images/4_powerup/4_powerup_page3_bg.svg) 0 0 / 100% no-repeat;
}

.page3 canvas {
  position: absolute;
  top: 0px;
  left: 56px;
}
.page3 .drawBtn {
  position: absolute;
  top: -56px;
  right: 57px;
}
.page3 .pen_tool {
  top: 64px;
  left: 768px;
}
.page3 canvas.pointerOff {
  pointer-events: none;
}

.page3 .exCont {
  position: absolute;
  top: 165px;
  left: 321px;
  width: 489px;
  height: 357px;
  background: url(../images/4_powerup/4_powerup_page3_ex.svg) 0 0 / contain no-repeat;
}
