


@charset "utf-8";


section {
  padding: 20px 50px;
}


/* toggle */
.list.dot > li .toggleObj[data-toggle-obj="1"] {
  top: 0px;
  left: 40px;
  width: 126px;
}




.imageBox {
  position: relative;
  height: 270px;
  margin-top: 50px;
  background: url(../images/4_6/4_6_4_01.svg) center / contain no-repeat;
}