.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}

.btn_1.zoomBtn{background:#b7dcdf url(../images/suh_h_0301_04_0003_102_1/suh_h_0301_04_0003_102_1_1.png) no-repeat 0 0 / cover; width:100%; height: 440px;}
.btn_2.zoomBtn{background:#b7dcdf url(../images/suh_h_0301_04_0003_102_1/suh_h_0301_04_0003_102_1_3.png) no-repeat 0 0 / cover; width:100%; height: 440px;}

.b1{top: -20px;left: 30px;z-index: 2;width:350px;text-align: center;}
.b2{top: 30px;left: 221px;z-index: 2;text-align: center;width: 260px;}


.popup_pages img{width:114%;margin-left: -160px;}
.popup_pages .b1{top: 140px;left: 120px;z-index: 2;text-align: center;}
.popup_pages .b2{top: 260px;left: 820px;z-index: 2;text-align: center;width: 250px;}

.page_3 h2 span{letter-spacing: -1px;}
.page_3 .textAlignC .toggle{width: 390px; }
.page_3 .textAlignC .toggle .answer{text-align: center;}














