@charset "utf-8";

.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
.contentsList .icon_arrow{width:auto !important; margin:0 10px;}
.lineBox .bullet.number,
h2 .bullet.number{margin-top:5px;}
h2 .blankBox.w50{
    max-width: 40px !important;
    min-width: 40px !important;
    max-height: 40px !important;
    min-height: 40px !important;
    transform: translate(0,0px);
}
.buttonContainer.iframe{right:170px;}
.checkContainer h2 .toggleBlank{margin-top:8px;}
.checkContainer .contentsBox .basicSlider_tabs {width: 600px}
.ico-circle{display: inline-block; width:40px; height: 40px; border:5px solid #008dd0; border-radius: 50%; vertical-align: middle; transform: translate(0,-4px);}
.downloadBtn{bottom:10px;}


.calc-group{position: absolute;width: 100%;top: 90px;left: 430px;}
.calc-group img{width:100%;}
.calc-group .item1{
    position: absolute;
    top:20px;
    left:0;
    width: 302px;
}
.calc-group .item1 table{
 position: absolute;
 width: 200px;
 top:0;
 left:0;
}
.calc-group .item1 table td:first-child{width: 21px;padding-left:0}
.calc-group .item1 table td{width: 20px;text-align: right;box-sizing: border-box;font-size: 30px;padding:0 15px 0 20px;vertical-align: middl;}
.calc-group .item1 tbody.top td{height: 67px;}
.calc-group .item1 tbody.middle td{height: 80px;}
.calc-group .item1 tbody.bottom td{height: 38px;}
.calc-group .item1 tbody.space td{height:29px;}
.calc-group .item1 table img{width: 33px; display: block; float: left;}



.page_1 .toggle{position: absolute; z-index: 2;}
.page_1 .toggle.n1{top: 284px;left: 660px;}
.page_1 .toggle.n2{top: 365px;left: 660px;}



.page_2 .group{padding-top:60px}
.page_2 .flex-wrap{width:100%; justify-content: space-around; padding:90px auto; align-items: center;}
.page_2 .flex-wrap + .flex-wrap{margin-top:90px}

.pop_page_1 .flex-wrap{justify-content: center;}




.tableContainer table td, .tableContainer table th{font-size:40px}
.page_3 .tableContainer {
    display:inline-block;
    margin-left: 10px;
    vertical-align: middle;
    margin-bottom: 5px;
}
.checkContainer .contentsBox h2{font-size: 40px;}
.page_3 .bullet.circle {
    display:inline-block;
    top: 10px;
    vertical-align:top;
}

.page_3 h2 {
    margin-bottom: 30px !important;
}

.page_3 > section {
    display:flex;
}

.page_3 > section .left{
    width:50%;
    padding-left: 20px;
}

.page_2 .checkContainer .contentsBox .page_3 h2+section {
    padding: 20px;
}

.page_4 .dragLineContainer {
    height: 300px;
}

.page_4 .dragLineContainer>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page_4 .dragLineContainer>ul>li {
    min-width: 245px;
}

.page_4 .top_1 {
    top: 48px;
}

.page_4 .top_2 {
    top: 170px;
}

.page_4 .top_3 {
    top: 290px;
}

.page_4 .left_1 {
    left: 300px;
}

.page_4 .left_2 {
    left: 700px;
}

.page_4 .imgCont {
    display: flex;
    justify-content: center;
}

.page_4 .txtCont {
    margin-top: 20px;
    text-align: center;
}

.page_4 .txtCont>div {
    display: block;
}

.page_4 .txtCont>div+div {
    margin-top: 15px;
}

.page_4 .icon_arrow.big{
    margin-top:5px;
    vertical-align:top;
}

.page_5 .imgCont {
    display: flex;
    justify-content: center;
}

.checkContainer .lineBox {
    width: 250px;
    height: 230px;
}

.page_5 h2{
    margin-bottom:0 !important;
}

.page_5 .verticalFormulaCon {
    margin:0 auto;
}


.checkContainer .lineBox+.lineBox {
    margin-left: 20px;
}


.checkContainer .lineBox img {
    width: 100%;
}

.page_5 .txtCont {
    margin-top: 20px;
    text-align: center;
}

.page_5 .txtCont>div {
    display: block;
}

.page_5 .txtCont>div+div {
    margin-top: 15px;
}

.page_5 .colorBox.check{
    margin-right: 9px;
    margin-top: -9px;
}

.page_5 .toggle{
    width:230px;
}

.page_6 .contentsList li {
    display: inline-block;
}

.page_6 .contentsList li+li {
    margin-left: 30px;
}

.page_6 .contentsList li:nth-child(1) .toggle{
    width: 220px;
}


.contentsList>li>.colorBox.check+* {
    width: auto;
}

.colorBox.check {
    display: inline-block;
    vertical-align: top;
    padding: 12px 18px;
    margin-right: 0;
}

.page_6 .contentsList {
    margin-top:50px;
}
.page_6 .contentsList .bunsuContainer {
    display: inline-block;
    margin: 0;
}

.page_7 .topBox{
    width:950px;
    margin:0 auto;
}
.page_7 .flexListContainer{
    justify-content:flex-start;
    font-size: 40px;
    align-items: baseline;
    margin-top:-0;
}
.page_7 .nameBox {
    margin-right:20px;
    width: 115px;
    height: 40px;
    flex:none;
}

.page_7 .bottomBox {
    text-align:center;
    margin:20px auto 0;
}
.page_7 .bottomBox li{
    display: inline-block;
}
.page_7 .bottomBox li + li {
    margin-left: 30px;
}
.page_7 .lineBox{
    width: 100%;
    height: auto;
    margin:0;
}
.checkContainer h2 .toggleBlank {
    margin-top: 4px;
}

.lineBox {
    position: relative;
    display: flex;
    margin: 30px auto;
    width: 954px;
    height: 407px;
    align-items: flex-start;
    justify-content: center;
}

.lineBox .bullet {
    position: absolute;
    top: 5px;
    left: 15px;
}

.calcPlus {
    position: relative;
}

.calcPlus .depth1 {
    position: absolute;
    top: 100px;
    left: 50%;
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: space-between;
    transform: translateX(-50%);
}

.calcPlus .depth1:before {
    position: absolute;
    top: -50px;
    left: -2px;
    content: "";
    width: 150px;
    height: 45px;
    background: url(images/suh_0102_06_0007_301/suh_0102_06_0007_301_01.png) no-repeat center / contain;
}

.calcPlus .depth2 {
    position: absolute;
    top: 100px;
    left: 30px;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-between;
}

.calcPlus .depth2:before {
    position: absolute;
    top: -45px;
    left: -50px;
    content: "";
    width: 150px;
    height: 35px;
    background: url(images/suh_0102_06_0007_301/suh_0102_06_0007_301_02.png) no-repeat center / contain;
}

.minus {
    margin: -7px 2px 0;
}

.verticalFormulaCon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    margin: 0 100px 30px 0;
    vertical-align: top;
}
.verticalFormula {
    width: 180px;
    padding-bottom: 10px;
    text-align: center;
}
.verticalFormula_1 li, .verticalFormula_2 li {
    position: relative;
    display: inline-block;
    width: 50px;
}
.verticalFormula_2 {
    border-bottom: 4px solid #000000;
}
.verticalFormula_3 {
    padding-top: 10px;
    text-align: right;
    border-bottom: 4px solid #000000;
}

.verticalFormula_3 li + li {
    margin-top:10px;
}
.verticalFormula_3 li span {
    display: inline-block;
    width: 50px;
}

.verticalFormula_4 {
    margin-top: 10px;
}

.verticalFormula_5 .answer {
    letter-spacing:5px !important;
    text-align:center !important;
}

.verticalFormula_5 {
    position:absolute;
    top: 88px;
    left: 341px;
}

.verticalFormula_5 li:nth-child(1) {
    position:absolute;
    top: 44px;
    left: -23px;
    width: 180px;
}

.verticalFormula_5 li:nth-child(2) {
    position:absolute;
    top: 112px;
    left: -23px;
    width: 180px;
}

.verticalFormula_5 .movPos1{
    position:absolute;
    top:0;
    left: -50px;
}

.verticalFormula_5 .movPos2{
    position:absolute;
    top:0;
    left: -50px;
}

.page_3 .toggle {
    padding: 6px 0;
}
.page_3 .verticalFormulaCon .toggle .answer{
    margin-left: 8px;
    display: inline-block;
    width: 100%;
}

.flex {
    display:flex;
    align-items:center;
    justify-content:center;
}

.divide {
    margin-top : 50px;
}

.divide .toggle{
    width:100px;
}

.divide + .divide{
    margin-left:200px;
}

.verticalFormula .answer {
    letter-spacing: 0.8em;
    text-align: right;
}
.checkContainer h2 .blankBox{margin-top:8px;}


.pop_page_2 .flex-wrap{justify-content: space-around; align-items: center;}
.pop_page_2 .flex-wrap > div{margin: 0 20px;}









