.box-flex {display:flex}
.page_1 .box-flex {justify-content:space-between;align-items:flex-start}
.page_1 .box-flex .toggle {flex-shrink:0;margin-left:20px}
.box-flex .q-txt {padding-left:60px;text-indent:-60px}
.box-flex.j-c {justify-content:center}

.page_2 .box-flex {justify-content:center;align-items:center;flex-wrap:wrap;max-width:80%;margin:0 auto}
.box-flex .img-item {width:50%;position:relative;text-align:center}
.box-flex .img-item img {height:140px}
.box-flex .img-item .txt-item {position:absolute;top:0;left:80px}

.img-answer {position:relative}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;transition:opacity 1s}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {opacity:1}

.page_3 .img-answer {width:140px;height:188px;margin:0 auto}
.page_3 .img-answer .toggle {background:url("../images/suh_0601_02_0203_206_1_2.png") no-repeat 50% 50% / 100%}

.page_4 .box-flex {align-items:center}
.page_4 .box-flex .toggle {margin-right:10px}

.page_5 .box-flex {align-items:center;justify-content:center}
.page_5 .box-flex .icon_arrow {margin:0 60px}

.page_5 .img-answer {width:140px;height:188px}
.page_5 .img-answer .toggle {background:url("../images/suh_0601_02_0203_206_1_2.png") no-repeat 50% 50% / 100%}