.img-group {display:flex;flex-wrap:wrap;margin-top:20px}
.img-group .img-item {width:calc(100% / 3);display:flex;justify-content:center;margin-bottom:30px}
.img-group .img-item img {width:130px}
.img-group .img-item p {margin-right:20px}
