.box-a {display:flex;align-items:center}
.box-a img {height:60px}
.box-a img ~ img {margin-left:12px}

.img-box {width:20%;margin:30px auto;position:relative}
.img-box img {width:100%}
.img-box .txt-item {position:absolute;white-space:nowrap}
.img-box .n1 {top:20px;left:-20px}
.img-box .n2 {top:70px;left:70px;color:#000}
.img-box .n3 {top:20px;left:210px}
.img-box .n4 {top:187px;left:-20px}
.img-box .n5 {top:270px;left:95px}
.img-box .n6 {top:187px;left:210px}
.img-box .n7 {top:-32px;left:172px}
.img-box .n8 {top:235px;left:172px}
.img-box .n9 {top:110px;left:-115px}
