.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}

#wrap header .title{padding-bottom: 10px;}

.icon_arrow.eff.complete{animation:none;}
.icon_arrow.eff {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}

.contentsBox .contentsBox{padding: 0 !important;}

.popBtn{margin:0 auto 20px; width:570px; position: relative;}
.popBtn img{width:100%}
.popBtn .txt{position: absolute; top: 50px; left: 66px; letter-spacing: 15px;font-size: 25px;}
.popup_pages img{width: 100%;}

.page_4 h2 span{letter-spacing: -1.5px;}



.popup_pages .txt{position: absolute; top: 92px; left: 140px; letter-spacing: 41px;font-size: 25px;}





