.arrow-box{position: relative; padding-left: 80px; margin-top:20px}
.arrow-box .icon_arrow{position: absolute; left: 30px;top: 12px;}

.flex-wrap{align-items: center; margin-bottom:10px}

#wrap header .title.chukchuk:before {
    background: url(../../common/contents/images/icon/act_quiz_icon_06.png) center/contain no-repeat;
}
















