@charset "utf-8";

.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
/* .contentsList .icon_arrow{width:auto !important; margin:0 10px;} */
.lineBox .bullet.number,
h2 .bullet.number{margin-top:5px;}
h2 .blankBox.w50{
    max-width: 40px !important;
    min-width: 40px !important;
    max-height: 40px !important;
    min-height: 40px !important;
    transform: translate(0,0);
}
.buttonContainer.iframe{right:170px;}
.checkContainer h2 .toggleBlank{margin-top:8px;}
.checkContainer .contentsBox .basicSlider_tabs {width: 600px}
.ico-circle{display: inline-block; width:40px; height: 40px; border:5px solid #008dd0; border-radius: 50%; vertical-align: middle; transform: translate(0,-4px);}
.downloadBtn{bottom:10px;}


.calc-group{position: absolute;width: 100%;top: 90px;left: 430px;}
.calc-group img{width:100%;}
.calc-group .item1{
    position: absolute;
    top:20px;
    left:0;
    width: 310px;
}
.calc-group .item1 table{
 position: absolute;
 width: 200px;
 top:0;
 left:0;
}
.calc-group .item1 table td:first-child{width: 21px;padding-left:0}
.calc-group .item1 table td{width: 20px;text-align: right;box-sizing: border-box;font-size: 30px;padding:0 15px 0 20px;vertical-align: middl;}
.calc-group .item1 tbody.top td{height: 67px;}
.calc-group .item1 tbody.middle td{height: 85px;}
.calc-group .item1 tbody.bottom td{height: 38px;}
.calc-group .item1 tbody.space td{height:29px;}
.calc-group .item1 table img{width: 33px; display: block; float: left;}


.flex-wrap > .lineBox{position: relative; width: 50%; margin: 0 10px; height: 420px; display: flex; justify-content: center; align-items: center;}
.lineBox .tit{position: absolute; top:-40px; left:20px}

.toggle .lineBox{position: absolute;top: -140px;left:-10px;font-family: NotoM;font-weight: normal;color:#000}
.toggle.sky .lineBox{left:-50px;}


.toggle.complete.sky .click-finger-Btn,
.toggle.complete.pink .click-finger-Btn{display: none;}

.hid{opacity: 0;}

.sky.toggle .lineBox::before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 65%;
    border-left: 4px dashed #c1e8ec;
    width: 0;
    height: 50px;
}
.pink.toggle .lineBox::before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 30%;
    border-left: 4px dashed #f5e5e6;
    width: 0;
    height: 50px;
}

.page_1 .img-wrap{position: relative; width:800px; margin:30px auto;}
.page_1 .img-wrap img{width:100%; }
.page_1 .img-wrap > div{position: absolute; top:0;}

.page_1 .img-wrap.n1 .n1{top:90px; left: -4px;}
.page_1 .img-wrap.n1 .n2{top:90px; left: 388px;}
.page_1 .img-wrap.n1 .n3{top:90px; left: 780px;}
.page_1 .img-wrap.n2 .n1{top:90px; left: -4px;}
.page_1 .img-wrap.n2 .n2{top:90px; left: 257px;}
.page_1 .img-wrap.n2 .n3{top:90px; left: 520px;}
.page_1 .img-wrap.n2 .n4{top:90px; left: 780px;}
.page_1 .img-wrap.n1 .toggle{top: -21px; left: 240px;}
.page_1 .img-wrap.n2 .toggle{top: -21px; left: 323px;}

.page_2 .img-wrap{position: relative; width:800px; margin:30px auto;}
.page_2 .img-wrap img{width:100%; }
.page_2 .img-wrap > div{position: absolute; }
.page_2 .img-wrap.n2 .n1{top:90px; left: -4px;}
.page_2 .img-wrap.n2 .n2{top:90px; left: 257px;}
.page_2 .img-wrap.n2 .n3{top:90px; left: 520px;}
.page_2 .img-wrap.n2 .n4{top:90px; left: 780px;}

.page_2 .img-wrap.n2 .n6{top: -31px; left: 260px;}
.page_2 .img-wrap.n2 .n5{top: 160px; left: 473px; align-items: center;}
.page_2 .icon_arrow{transform: rotate(-90deg); position: absolute; top: -73px; left: 103px;}






.page_3 .dotList {padding: 20px 0 0 30px;}
.page_3 .lineBox{margin:0 auto 30px; width:480px}
.page_3 .toggle{transform: translate(0,-3px);}

.page_4 .dotList {padding: 20px 0 0 30px;}
.page_4 .lineBox{margin:0 auto 30px; width:480px}
.page_4 .toggle{transform: translate(0,-3px);}

.page_5 .dotList {padding: 20px 0 0 30px;}
.page_5 .lineBox{margin:0 auto 30px; width:480px}
.page_5 .toggle{transform: translate(0,-3px);}

.page_7 .dotList {padding: 20px 0 0 30px;}
.page_7 .lineBox{margin:0 auto 30px; width:480px}
.page_7 .toggle{transform: translate(0,-3px);}
.page_7 .icon_arrow{margin:0 10px; transform: translate(0,4px);}

.page_6 .img-wrap{position: relative; width:800px; margin: 140px auto;}
.page_6 .img-wrap img{width:100%; }
.page_6 .img-wrap > div{position: absolute; }
.page_6 .img-wrap.n2 .n1{top: 40px; left: -4px;}
.page_6 .img-wrap.n2 .n2{top: -40px; left: 227px;}
.page_6 .img-wrap.n2 .n3{top: -40px; left: 480px;}
.page_6 .img-wrap.n2 .n4{top: -40px; left: 730px;width: 100px;}
.page_6 .img-wrap.n2 .n5{top: 100px;left: 44px;}
.page_6 .img-wrap.n2 .n6{top: 100px; left: 351px;}
.page_6 .img-wrap.n2 .n7{top: 100px; left: 542px;}
.page_6 .icon_arrow{transform: rotate(-90deg); position: absolute; top: -53px; left: 63px;}
.page_6 .img-wrap.n2 .n8{top: -100px;
    left: 300px;
}

.page_6 .img-wrap.n2 .n8 .icon_arrow{transform: rotate(90deg);top:57px;left: 39px;}
.page_6 .img-wrap.n2 .n7 .icon_arrow{left: 0}



/* 



.page_3 .flex-wrap {justify-content: space-around;}
.page_3 .flex-item{width:400px; position: relative;}
.page_3 .lineBox{position: absolute;}
.page_3 .toggle{padding:0; background-color: transparent;}
.page_3 .n1{left:50%; transform: translate(-50%, 0);}
.page_3 .n2{left:20%; top:200px}
.page_3 .n3{right:20%; top:200px}
.page_3 .line{position: absolute; border:4px solid #c1e8ec; width: 210px; left:50%; transform: translate(-50%, 170px); height: 50px;border-bottom: 0;}
.page_3 .line::before{
    content:""; display: block;
    position: absolute; top:-40px;
    border-left:4px solid #c1e8ec;
    height:40px; left:50%
} */
/* .pop_page_1 .popup_contents{padding-top:60px !important}
.pop_page_1 .bunsuWrap{transform: translate(0, -14px);}
/* .pop_page_4 .popup_contents{padding-top:60px !important} */
.pop_page_4 .bunsuWrap{transform: translate(0, -14px);}

.page_7 .click-finger-Btn{top:50%}
.pop_page_7 img{width:20px; vertical-align: middle;} */












ul.fNum {position: relative;display: inline-block;vertical-align: middle;}
ul.fNum li {text-align: center;padding: 0 10px;}
ul.fNum.black li:first-child {border-bottom: 3px solid #000000;}
ul.fNum.blue li:first-child {border-bottom: 3px solid #00a0ff;}
span.fNum {position: relative;display: inline-block;vertical-align: middle;}
span.fNum span {display: block;text-align: center;padding: 0 15px;line-height: 52px;width: 30px;}
span.fNum.blue span:first-child {border-bottom: 3px solid #00a0ff;}


.page_7 .img-wrap{width: 1000px; position: relative; margin: 130px auto 0 30px;}
.page_7 .img-wrap img{width: 967px;margin: 0;display: block;}
.page_7 .img-wrap > .txt{position: absolute; display: flex; justify-content: space-between;width:100%;align-items: center;}
.page_7 .img-wrap > .txt > div{flex:0; min-width:80px; text-align: center;}
.page_7 .img-wrap > .txt.n1{top: -90px; left: -29px; }
.page_7 .img-wrap > .txt.n2{bottom: -50px; left: -29px; }
.page_7 .img-wrap .toggle{position: absolute;}
.page_7 .img-wrap .t1{top: -93px; left: 342px; }
.page_7 .img-wrap .t2{top: -93px; left: 614px; }
.page_7 .img-wrap .t3{top:50px; left: 148px; }
.page_7 .img-wrap .t4{top: 50px; left: 796px; }
.page_8 .balloon{text-align: center;}

.characterList>li .balloon{font-size: 35px;padding:5px;}
.characterImg.new-character.circle{width:120px;height:120px;}
.checkContainer .page_4 .study_guide {top:-50px}
.balloon.bottom:after{left:50%;margin-left: -10px;}
.page_8 .c1{position: absolute; top: 200px; left: 90px;}
.page_8 .c2{position: absolute; top: 200px; left: 410px;}
.page_8 .c3{position: absolute; top: 200px; left: 750px;}
.page_8 .b1{position: absolute; top:0; left: 9px;}
.page_8 .b2{position: absolute; top: 100px; left: 366px;}
.page_8 .b3{position: absolute; top:0; left: 645px;}
