.img-wrap{position:relative; margin:0 auto 60px; width:1000px;}

.img-wrap img{width:100%}
.img-wrap .txt{position: absolute; bottom: -40px; left: -11px; letter-spacing: 147px;width: 1240px;}

.flex-wrap{justify-content: space-around; padding:0 170px}
.flex-wrap > div{display:flex; align-items: center;}
















