#quiz-01 .check-list .check-item:nth-child(1){
    left:586px;
    top:219px;
}
#quiz-02 .check-list .check-item:nth-child(1){
    left:1076px;
    top:219px;
}

#quiz-03 .check-list .check-item:nth-child(1){
    left:586px;
    top:236px;
}
#quiz-04 .check-list .check-item:nth-child(1){
    left:1076px;
    top:236px;
}
