.quiz-check.image-answer {
    position: absolute;
}

.quiz:nth-child(1) .check-item {
    pointer-events: auto;
    left: 226px;
    top: 175px;
}
.quiz:nth-child(2) .check-item {
    pointer-events: auto;
    left: 507px;
    top: 166px;
}
.quiz:nth-child(3) .check-item {
    pointer-events: auto;
    left: 787px;
    top: 165px;
}
.quiz:nth-child(4) .check-item {
    pointer-events: auto;
    left: 1059px;
    top: 168px;
}
/* .quiz:nth-child(5) .check-item {
    pointer-events: auto;
    left: 1083px;
    top: 85px;
} */

.quiz .answer span {
    font-size: 27px;
    color: #3567D7;
    position: absolute;
}

.quiz:nth-child(1) span {
    left: 914px;
    top: 1128px;
}
.quiz:nth-child(2) span {
    left: 659px;
    top: 1128px;
}
.quiz:nth-child(3) span {
    left: 384px;
    top: 1128px;
}
.quiz:nth-child(4) span {
    left: 90px;
    top: 1128px;
}