#quiz-01 .input-cont:nth-child(1){
    width:299px;
    left:642px;
    top:267px;
}
#quiz-01 .input-cont:nth-child(2){
    width:299px;
    left:941px;
    top:267px;
}
#quiz-01 .input-cont:nth-child(3){
    width:299px;
    left:343px;
    top:347px;
}
#quiz-01 .input-cont:nth-child(4){
    width:299px;
    left:941px;
    top:347px;
}
#quiz-01 .input-cont:nth-child(5){
    width:299px;
    left:343px;
    top:427px;
}
#quiz-01 .input-cont:nth-child(6){
    width:299px;
    left:642px;
    top:427px;
}
#quiz-01 .input-cont{
    margin: 10px 0 0 0;
}


#quiz-02 .input-cont:nth-child(1){
    width:299px;
    left:642px;
    top:309px;
}
#quiz-02 .input-cont:nth-child(2){
    width:299px;
    left:941px;
    top:309px;
}
#quiz-02 .input-cont:nth-child(3){
    width:299px;
    left:343px;
    top:389px;
}
#quiz-02 .input-cont:nth-child(4){
    width:299px;
    left:941px;
    top:389px;
}
#quiz-02 .input-cont:nth-child(5){
    width:299px;
    left:343px;
    top:469px;
}
#quiz-02 .input-cont:nth-child(6){
    width:299px;
    left:642px;
    top:469px;
}

#quiz-02 .input-cont{
    margin: 10px 0 0 0;
}