#quiz-01 .check-item {
    width: 200px;
    height: 100px;
    position: absolute;
}
#quiz-01 .check-item:nth-child(1) {
    left: 363px;
    top: 502px;
}
#quiz-01 .check-item:nth-child(2) {
    left: 715px;
    top: 502px;
}
#quiz-02 .check-item {
    width: 200px;
    height: 100px;
    position: absolute;
}
#quiz-02 .check-item:nth-child(1) {
    left: 363px;
    top: 534px;
}
#quiz-02 .check-item:nth-child(2) {
    left: 715px;
    top: 534px;
}
