#quiz-01 .input-cont:nth-child(1){
    width: 314px;
    left: 877px;
    top:541px;
}
#quiz-01 .input-cont:nth-child(2){
    width:140px;
    left:1049px;
    top:541px;
}

#quiz-02 .input-cont:nth-child(1){
    width:100px;
    left: 934px;
    top: 575px;
    z-index: 1;
}