.operator{display:inline-block;padding:0 2px;vertical-align:middle;}
.pos-r{position:relative}
.pos-a{position:absolute}
.flex-center {display:flex;align-items:center;justify-content:center;}
.alignCneter {align-items: center;}
.justifySB {justify-content: space-between;}
.va-m{vertical-align:middle}
.ta-c {text-align:center !important}
.ta-l {text-align:left !important}
.ta-r {text-align:right !important}
.width-auto {width:auto}
.width-full {width:100%}
h2 .bunsuWrap {margin-top:-14px;}
.mr_100 {margin-right: 100px;}
.mr_200 {margin-right: 200px;}
.mr_300 {margin-right: 300px;}
.bunsuWrap.highlight {color: #00a0ff}
.bunsuWrap.highlight ul > li:first-of-type {border-bottom-color: #00a0ff;}
.icon_o_title.withBunsu {vertical-align: middle;display:inline-flex;align-items:center;justify-content:center;}
.solve .circle{
    width:40px;
    height:40px;
    border-radius:50%;
    border:4px solid #3bb5fe;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    margin:0 10px;
    font-size: 30px;
    line-height: 1;
}

[class^='ex-'] {
position: absolute;
}
.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}

[class^='ex-balloon'] {text-align: center;}

.btn_1.zoomBtn{background: url(../images/suh_h_0402_02_0001_202_1_1.png) no-repeat center / cover; width:100%; height: 500px;}
.btn_2.zoomBtn{background: url(../images/suh_h_0402_02_0001_202_1_2.png) no-repeat 0 0 / cover; width:100%; height: 500px;}

.btn_1 .ex-balloon-1 {top: 70%;left: 1%;width: 265px;}
.btn_1 .ex-balloon-1::after {left: 75% !important;}
.btn_1 .ex-balloon-2 {top: -1%;left: 29%;width: 367px;}
.btn_1 .ex-balloon-2::after {left: 75% !important;}
.btn_2 .ex-balloon-1 {top: 4%;left: -4%;width: 334px;}
.btn_2 .ex-balloon-2 {top: 83%;left: 37%;width: 246px;}
.btn_2 .ex-balloon-2::after {left: 35% !important;}

.pop_page_1 .ex-balloon-1 {top: 27%;left: 0%;width: 342px;}
.pop_page_1 .ex-balloon-1::after {left: 25% !important;}
.pop_page_1 .ex-balloon-2 {top: 50%;left: 24%;width: 265px;}
.pop_page_1 .ex-balloon-3 {top: 67%;left: 45%;width: 279px;}
.pop_page_1 .ex-balloon-3::after {top: 24% !important;}
.pop_page_1 .ex-balloon-4 {top: 21%; left: 70%; width: 350px;}
.pop_page_1 .ex-balloon-4::after {left: 75% !important;}