
@charset "utf-8";


.clickButton_left { top: 95px; }
.clickButton_left[data-toggle-obj="1"] { left: 240px;}
.clickButton_left[data-toggle-obj="2"] { left: 390px;}
.clickButton_left[data-toggle-obj="3"] { left: 510px;}

.clickButton_right { left: 783px; }
.clickButton_right[data-toggle-obj="1"] { top: 395px;}
.clickButton_right[data-toggle-obj="2"] { top: 320px;}
.clickButton_right[data-toggle-obj="3"] { top: 245px;}

[class *= 'posText_'] {
  position: absolute;
}
[class *= 'posText_'] ins { padding: 0 10px; }

.posText_1 {
  top: 132px;
  left: 137px;
}
.posText_2 {
  top: 132px;
  left: 327px;
}
.posText_3 {
  top: 132px;
  left: 475px;
}
.posText_4 {
  top: 263px;
  left: 708px;
}
.posText_5 {
  top: 338px;
  left: 708px;
}
.posText_6 {
  top: 416px;
  left: 660px;
}


input {
  position: absolute;
  top: 252px;
  width: 70px;
  text-align: center;
}
.input_1 {
  top: 220px;
  left: 105px;
  width: 150px;
}
.input_2 { left: 933px; }
.input_3 { left: 1014px; }
.input_4 { left: 1094px; }
.input_5 {
  top: 46px;
  left: 1014px;
}