
@charset "utf-8";
/* .target.on .grayBox{
  animation: none;
  opacity: 1;
} */
.imageFomula {
  width: 100%;
  height: 100%;
  background: url(../images/1_2/1_2_04_01.svg) left 60px center / contain no-repeat;
  pointer-events: none;
}
[data-toggle-obj="1"].complete ~ .imageFomula {
  background: url(../images/1_2/1_2_04_01_01.svg) left 60px center / contain no-repeat,
  url(../images/1_2/1_2_04_01.svg) left 60px center / contain no-repeat;
}
[data-toggle-obj="2"].complete ~ .imageFomula {
  background: url(../images/1_2/1_2_04_01_02.svg) left 60px center / contain no-repeat,
  url(../images/1_2/1_2_04_01_01.svg) left 60px center / contain no-repeat,
  url(../images/1_2/1_2_04_01.svg) left 60px center / contain no-repeat;
}
[data-toggle-obj="3"].complete ~ .imageFomula {
  background: url(../images/1_2/1_2_04_01_03.svg) left 60px center / contain no-repeat,
  url(../images/1_2/1_2_04_01_02.svg) left 60px center / contain no-repeat,
  url(../images/1_2/1_2_04_01_01.svg) left 60px center / contain no-repeat,
  url(../images/1_2/1_2_04_01.svg) left 60px center / contain no-repeat;
}
[data-toggle-obj="4"].complete ~ .imageFomula {
  background: url(../images/1_2/1_2_04_01_04.svg) left 60px center / contain no-repeat,
  url(../images/1_2/1_2_04_01_03.svg) left 60px center / contain no-repeat,
  url(../images/1_2/1_2_04_01_02.svg) left 60px center / contain no-repeat,
  url(../images/1_2/1_2_04_01_01.svg) left 60px center / contain no-repeat,
  url(../images/1_2/1_2_04_01.svg) left 60px center / contain no-repeat;
}


.hideImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
/* .hideImage.one {
  background: url(../images/1_2/1_2_04_01_1.svg) left 60px center / contain no-repeat;
}
.hideImage.ten {
  background: url(../images/1_2/1_2_04_01_2.svg) left 60px center / contain no-repeat;
}
.hideImage.last {
  background: url(../images/1_2/1_2_04_01_3.svg) left 60px center / contain no-repeat;
}
.hideImage.last {
  background: url(../images/1_2/1_2_04_01_4.svg) left 60px center / contain no-repeat;
} */

.formula {
  position: absolute;
  top: 61px;
  left: 732px;
  width: 232px;
  height: 320px;
  background: url(../images/1_2/1_2_04_02.svg) 0 0 / auto 320px no-repeat;
}
.formula[data-step="1"] {
  background-position-x: -230.5px;
}
.formula[data-step="2"] {
  background-position-x: calc(-230.5px * 2);
}
.formula[data-step="3"] {
  background-position-x: -690.5px;
}
.formula[data-step="4"] {
  background-position-x: -920.6px;
}


/* connectLine */
.connectLine {
  left: 516px;
}

.connectLine.one {
  top: 204px;
}
.connectLine.one:before {
  width: 160px;
  border-right: none;
  border-bottom-right-radius: 0;
}
.connectLine.one:after {
  bottom: 20px;
  left: 160px;
  width: 155px;
  height: 13px;
}
.connectLine.one > p {
  left: 34px;
}

.connectLine.ten {
  top: 300px;
}
.connectLine.ten:before {
  width: 146px;
}
.connectLine.ten:after {
  bottom: 34px;
  left: 145px;
  width: 170px;
  height: 53px;
}
.connectLine.ten > p {
  left: 35px;
}

.connectLine.hundred {
  top: 370px;
}
.connectLine.hundred:before {
  width: 160px;
}
.connectLine.hundred:after {
  bottom: 24px;
  left: 160px;
  width: 95px;
  height: 90px;
}

/* grayBox */
.target {
  /* opacity: 1; */
}
.grayBox {
  /* opacity: 1; */
  top: 62px;
  right: 265px;
  width: 62px;
  height: 62px;
}
.grayBox.vertical_2 {
  height: calc(62px * 2);
}
.grayBox.horizon_2 {
  width: calc(62px * 2);
}
.grayBox.horizon_3 {
  width: calc(62px * 3);
}
.grayBox.horizon_4 {
  width: calc(62px * 4);
}

.target_1 .grayBox.down {
  top: 185px;
  width: 122px;
}
.target_2 .grayBox.vertical_2 {
  right: calc(218px + 62px);
}
.target_2 .grayBox.one {
  top: 126px;
}
.target_2 .grayBox.ten {
  right: 325px;
}
.target_2 .grayBox.down {
  top: 230px;
  height: 52px;
}
.grayBox_1 {
  right: 387px;
}
.grayBox_2 {
  top: 125px;
}
.grayBox_3 {
  top: 275px;
  height: 51px;
  width: 186px;
}

/* clickButton */
.clickButton[data-toggle-obj="1"] {
  top: 158px;
  left: 514px;
}
.clickButton[data-toggle-obj="2"] {
  top: 281px;
  left: 417px;
}
.clickButton[data-toggle-obj="3"] {
  top: 370px;
  left: 265px;
}
.clickButton[data-toggle-obj="4"] {
  top: 440px;
  left: 515px;
}

/* popupFomula */
.lastFormula,
.lastFormula.active.on {
  top: 320px;
  left: 992px;
  width: 254px;
  height: 255px;
}
.lastFormula.active.on:after,
.lastFormula:after {
  width: 254px;
  height: 255px;
  background: url(../images/1_2/1_2_04_03.svg) center / contain no-repeat;
}

/* ins.balloon {
  position: absolute;
  top: -80px;
  left: 950px;
  width: 306px;
  height: 217px;
  background-image: url(../images/1_2/1_2_04_balloonBg.svg);
  padding: 0 50px 20px 40px;
} */
ins.balloon symbol {
  top: 8px;
  transform: scale(0.8);
}
ins.balloon {
  opacity: 0;
  position: absolute;
  top: 100px;
  left: 984px;
  width: 323px;
  height: 237px;
  background: url(../images/1_2/1_2_04_balloonBg.svg) center /100% auto no-repeat;
  padding: 0 60px 20px 30px;
  box-sizing: border-box;
}
.lastFormula.active.on + ins.balloon {
  -webkit-animation: opacityOne 0.1s ease-in 0.5s forwards;
  -o-animation: opacityOne 0.1s ease-in 0.5s forwards;
  animation: opacityOne 0.1s ease-in 0.5s forwards;
}
@keyframes opacityOne {
  from {opacity: 0;} to {opacity: 1;}
}
@-webkit-keyframes opacityOne {
 from {opacity: 0;} to {opacity: 1;}
}
@-ms-keyframes opacityOne {
 from {opacity: 0;} to {opacity: 1;}
}