
@charset "utf-8";

flex {
  align-items: flex-start;
  margin-top: 60px;
}

.arrow { margin: 90px 110px 0; }


.vertical {
  justify-content: flex-start;
}
.vertical > ul {
  height: 80px;
}
.vertical > ul > li {
  width: 70px;
}
.vertical > ul > li.double {
  width: 140px;
}
.vertical > ul > li.double > div {
  width: 100%;
}
.vertical > ul > li.double > div ins {
  padding: 0 22px;
}
.vertical > ul > li.full {
  width: 225px;
}
.vertical > ul > li.full > div {
  width: 100%;
}
.vertical > ul > li.full > div ins {
  padding: 0 26px;
}
.vertical > ul > li.wide {
  width: 295px;
}
.vertical > ul > li.wide > div {
  width: 100%;
}
.vertical > ul > li.wide > div ins {
  padding: 0 26px;
}
.vertical > ul > li input {
  width: 70px;
}


.vertical > ul > li.wide,
.vertical > ul > li.full {
  /* margin-left: 15px; */
}

.greenBox,
.blueBox,
.pinkBox {
  padding: 6px 20px 2px;
  border-radius: 10px;
}
.greenBox {
  background-color: #e7f0db;
}
.blueBox {
  background-color: #B2D7F2;
}
.pinkBox {
  background-color: #E9BCC1;
}

.blueBox [data-toggle-target],
.pinkBox [data-toggle-target] {
  opacity: 0;
}
.blueBox [data-toggle-target].on,
.pinkBox [data-toggle-target].on {
  opacity: 1;
}

.blueLineBox,
.pinkLineBox {
  position: absolute;
  top: 30px;
  padding: 4px 10px 0px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  background-color: #FFF;
}
.blueLineBox:before,
.pinkLineBox:before {
  content: '';
  opacity: .5;
  display: block;
  position: absolute;
  bottom: -50px;
  left: 50%;
  height: 50px;
}
.blueLineBox symbol,
.pinkLineBox symbol {
  margin: 0 2px;
}
.blueLineBox {
  left: 266px;
  border-color: #008CCF;
}
.blueLineBox > span {
  color: #008CCF;
}
.blueLineBox:before {
  border-right: 2px dashed #008CCF;
}
.pinkLineBox {
  left: 434px;
  border-color: #C83164;
}
.pinkLineBox > span {
  color: #C83164;
}
.pinkLineBox:before {
  border-right: 2px dashed #C83164;
}


[data-toggle-obj="1"] {
  top: 210px;
  left: 480px;
}
[data-toggle-obj="2"] {
  top: 300px;
  left: 480px;
}
[data-toggle-obj="3"] {
  top: 380px;
  left: 480px;
}

.topInput {
  position: absolute;
  width: 70px;
  top: -5px;
  left: 832px;
}

[class *= 'pos_text_'] {
  position: absolute;
}
.pos_text_1 {
  top: 230px;
  left: 484px;
}
.pos_text_2 {
  top: 310px;
  left: 484px;
}
.pos_text_3 {
  top: 390px;
  left: 484px;
}