
@charset "utf-8";
.img_01 {
  position: relative;
  top: 40px;
  height: 328px;
}
input {
  position: absolute;
  width: 75px;
  text-align: center;
}
.input_1 {top: 65px; left: 279px;}
.input_2 {top: 270px; left: 197px;}
.input_3 {top: 270px; left: 279px;}
.input_4 {top: 270px; left: 360px;}
.input_5 {top: 65px; left: 846px;}
.input_6 {top: 270px; left: 764px;}
.input_7 {top: 270px; left: 846px;}
.input_8 {top: 270px; left: 926px;}