
@charset "utf-8";

.quizContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.quizContainer > div {
  flex: 1 0 auto;
  height: 400px;
}
.quizContainer > div.left {
  /* border-right: 3px dotted #f89637; */
}
.quizContainer fomula.horizon {
  margin-bottom: 90px;
}
.mathSymbols {
  margin: 0 10px;
}

fomula.vertical {
  width: 300px;
  margin: 0 auto;
}
fomula.vertical > ul {
  width: calc(80px * 3);
}
fomula.vertical > ul > li {
  flex: 1 0 auto;
}
fomula.vertical input {
  letter-spacing: 50px;
  padding-left: 16px;
}