@charset "utf-8";

[class *='posText'] {
  position: absolute;
}
[class *='posText'] ins {
  padding: 26px;
}

.posText_1 {
  top: 178px;
  left: 277px;
}
.posText_2 {
  top: 178px;
  left: 502px;
}
.posText_3 {
  top: 204px;
  left: 893px;
}
.posText_4 {
  top: 280px;
  left: 893px;
}

.click_1 {
  top: 140px;
  left: 398px;
}
.click_2 {
  top: 140px;
  left: 610px;
}
.click_3 {
  top: 165px;
  left: 1090px;
}
.click_4 {
  top: 241px;
  left: 1090px;
}

input {
  position: absolute;
  top: 358px;
  width: 72px;
  text-align: center;
}

.input_1 {
  width: 190px;
  top: 265px;
  left: 226px;
}


.input_2 {
  left: 868px;
}
.input_3 {
  left: 950px;
}
.input_4 {
  left: 1030px;
}
