
@charset "utf-8";

.hideImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
/* grayBox */
.grayBox {
  /* opacity: 1; */
  top: 62px;
  left: 542px;
  width: 62px;
  height: 60px;
}

.target_1 .box_1 {
  top: 79px;
  left: 567px;
  height: 190px;
}
.target_1 .box_2 {
  top: 79px;
  left: 507px;
}
.target_1 .box_3 {
  top: 206px;
  left: 446px;
  width: 122px;
  height: 63px;
}

.target_2 .box_1 {
  top: 78px;
  left: 507px;
  width: 120px;
}
.target_2 .box_2 {
  top: 134px;
  left: 507px;
  height: 70px;
}
.target_2 .box_3 {
  top: 265px;
  left: 447px;
  width: 180px;
}


/* clickButton */
.clickButton[data-toggle-obj="1"] {
  top: 190px;
  left: 640px;
}
.clickButton[data-toggle-obj="2"] {
  top: 250px;
  left: 640px;
}
.clickButton[data-toggle-obj="3"] {
  top: 310px;
  left: 640px;
}
.clickButton[data-toggle-obj="4"] {
  top: 120px;
  left: 640px;
}

/* popupFomula */
.lastFormula,
.lastFormula.active.on {
  top: 330px;
  left: 835px;
  width: 254px;
  height: 255px;
}
.lastFormula.active.on:after,
.lastFormula:after {
  width: 254px;
  height: 255px;
  background: url(../images/1_7/1_7_04_02.svg) center / contain no-repeat;
}




.formula {
  position: absolute;
  top: 44px;
  left: 432px;
  width: 210px;
  height: 353px;
  background: url(../images/1_7/1_7_04_01.svg) 0 0 / auto 353px no-repeat;
}
.formula[data-step="1"] {
  background-position-x: -207.5px;
}
.formula[data-step="2"] {
  background-position-x: -416px;
}
.formula[data-step="3"] {
  width: 361px;
  background-position-x:  -624px;
}
.formula[data-step="4"] {
  width: 361px;
  background-position-x:  -624px;
}