
@charset "utf-8";

ul.list.dot {
  margin-bottom: 10px;
}

[data-toggle-target],
.clickButton[data-toggle-target].complete {
  display: none;
}
[data-toggle-target].on {
  display: block;
}
[class *= 'posText'] { position: absolute; }

/* page1 */
.popupButton.head { top: -75px; }
.page1 fomula {
  margin-top: 70px;
}
.page1 .square {
  width: 150px;
  height: 68px;
  border: 3px solid #008dd0;
  border-radius: 10px;
  background: white;
}
fomula span:last-of-type {
  color: transparent
}


/* page2 */
.page2 .bgImg {
  margin-top: 20px;
}
.page2 .pt_5 { padding-top: 5px; }
.page2 input {
  position: absolute;
  top: 409px;
  right: 245px;
  width: 150px;
  text-align: center;
}
.page2 .clickButton.obj_1[data-toggle-obj="1"] {
  top: 135px;
  left: 1000px;
}
.page2 .clickButton.obj_1[data-toggle-obj="2"] {
  top: 264px;
  left: 1000px;
}

.page2 .clickButton.obj_2[data-toggle-obj="1"] {
  top: 370px;
  left: 565px;
}
.page2 .clickButton.obj_2[data-toggle-obj="2"] {
  top: 370px;
  left: 745px;
}

.page2 .target {
  opacity: 0;
  position: absolute;
}
.page2 .target.on {
  opacity: 1;
}
.page2 .target.target_1[data-toggle-target="1"] {
  top: 172px;
  left: 915px;
}
.page2 .target.target_1[data-toggle-target="2"] {
  top: 304px;
  left: 915px;
}

.page2 .target.target_2[data-toggle-target="1"] {
  top: 415px;
  left: 475px;
}
.page2 .target.target_2[data-toggle-target="2"] {
  top: 415px;
  left: 655px;
}

.page2 .balloonText {
  position: absolute;
  top: 217px;
  left: 770px;
  font-size: 28px;
}

/* page3 */
.page3 .inputQuizContainer input {
  width: 200px;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
/* .page3 .img_01 {
  position: relative;
  top: 40px;
  left: 260px;
}
.page3 [class *= 'posText'] ins {
  padding: 0 24px;
}
.page3 [data-toggle-obj="1"] {
  left: 710px;
  top: 170px;
}
.page3 [data-toggle-obj="2"] {
  left: 710px;
  top: 280px;
}
.page3 .posText_1 {
  top: 200px;
  left: 580px;
}
.page3 .posText_2 {
  top: 330px;
  left: 504px;
}
.page3 [data-quiz="input"] {
  position: absolute;
  top: 250px;
  left: 770px;
}
.page3 [data-quiz="input"] input { width: 120px; } */



/* popup */
.popup_pages > li.min[data-popup-page="1"] {
  width: 980px;
  top: 105px;
  right: 80px;
}