
@charset "utf-8";

.fns_imgBox {
    position:relative;
    width:100%;
    text-align:center;
    margin-top:30px;
}

.inputArea {
    margin-top:10px;
    padding-left:70px;
}

.dragLineArea:after { 
    width:28px;
    height:28px;
    background-color:transparent;
}
.dragObj[data-group="1"] {
    top: 137px;
}
.dragObj[data-group="1"][data-answer="1"] {
    left: 225px;
}
.dragObj[data-group="1"][data-answer="2"] {
    left: 230px;
    top: 128px;
}
.dragObj[data-group="1"][data-answer="3"] {
    left: 670px;
    top: 147px;
}
.dragObj[data-group="1"][data-answer="4"] {
    right: 108px;
}
.dragObj[data-group="2"] {
    top: 316px;
}
.dragObj[data-group="2"][data-answer="1"] {
left: 608px;
}
.dragObj[data-group="2"][data-answer="2"] {
    left: 534px;
    top: 246px;
}
.dragObj[data-group="2"][data-answer="3"] {
    left: 155px;
    top: 220px;
}
.dragObj[data-group="2"][data-answer="4"] {
    right: 105px;
    top: 206px;
}