
@charset "utf-8";

.dragBox {
    left:70px;
    width:1080px;
    height:138px;
    margin-top:70px;
    /* background:url(../images/1_9/1_9_07_1.svg) center / 824px 160px no-repeat; */
}

.colorBox {
    position:relative;
    margin:0 auto;
    width:1080px;
    height:115px;
    padding-left:50px;
    margin-top:70px;
    box-sizing: border-box;
}
.dropArea {
    position:relative;
    text-align:center;
}
.dragObj {
    top:40px;
    width: 210px;
}
.dragObj[data-index="1"] {
    left: 127px;
}
.dragObj[data-index="2"] {
    left: 434px;
}
.dragObj[data-index="3"] {
    left: 751px;
}

.dropArea .dragObj.blue {color: #0060e3;}
.dropArea .dragObj.blue,
.dropArea .dragObj.dragObjComplete {
    position:relative;
    display:inline-block;
    left:10px;
    top:15px;    
}
.dropArea .dragObj.blue span { display: none}
.dropArea .dragObj.dragObjComplete span { display: none}


.cursorNo {
    cursor: default;
}