
@charset "utf-8";

.fns_imgBox {
    position:relative;
    width:100%;
    text-align:center;
    margin-top:30px;
}

.inputArea input {
    position: absolute;
    text-align:center;
}
input[data-input-obj="1"] {
    top: 146px;
    left: 723px;
    width: 85px;
}
input[data-input-obj="2"] {
    top: 243px;
    left: 695px;
    width: 115px;
}
input[data-input-obj="3"] {
    top: 339px;
    left: 649px;
    width: 165px;
}
input[data-input-obj="4"] {
    top: 441px;
    left: 382px;
    width: 192px;
}