
@charset "utf-8";

.fns_imgBox {
    position:relative;
    width:100%;
    text-align:center;
    margin-top: -10px;
}

.inputArea input {
    position: absolute;
    text-align:center;
    width:154px;
}
input[data-input-obj="1"] {
    right: 186px;
    top: 120px;
}
input[data-input-obj="2"] {
    right: 214px;
    top: 298px;
}
.inputArea_row {
    position: absolute;
    bottom: 49px;
    left: 193px;
}


.bgColor.pink {
    background-color: #edc6c9;
}
.bgColor.blue {
    background-color: #c1dff5;
}