
@charset "utf-8";


 .flexBox {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.arrow {
  position: absolute;
  top: 130px;
}
.arrow.complete {
  animation: none;
  /* pointer-events: none; */
}




.imageBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 450px;
}
.imageBox.image_1 {
  background: url(../images/1_3/1_3_06_01.svg) center / contain no-repeat;
}
.imageBox.image_2 {
  background: url(../images/1_3/1_3_06_02.svg) center / contain no-repeat;
}
.imageBox.image_3 {
  background: url(../images/1_3/1_3_06_03.svg) center / contain no-repeat;
}
.imageBox.image_4 {
  background: url(../images/1_3/1_3_06_04.svg) center / contain no-repeat;
}


.arrow[data-toggle-obj="1"] {
  left: 250px;
}
.arrow[data-toggle-obj="2"] {
  left: 565px;
}
.arrow[data-toggle-obj="3"] {
  left: 880px;
}