
@charset "utf-8";


section {
  padding: 0 50px;
}

[data-after-target], [data-toggle-target], [data-click-target] {
  opacity: 1;
  visibility: visible;
}
[data-click-obj] {cursor: pointer;}

.flexBox {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.arrow {
  display: inline-block;
  top: 5px;
  position: relative;
}
.arrow.complete {
  animation: none;
  /* pointer-events: none; */
}


.pinkBg {
  background-color: #edc6c9;
  padding: 4px 10px 0;
  border-radius: 10px;
}
.greenBg {
  background-color: #d6e7b0;
  padding: 4px 10px 0;
  border-radius: 10px;
}

.top {
  position: relative;
  margin: 80px auto 130px;
  text-align: center;
}
.bottom {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.img_01 {
  position: absolute;
  top: 62px;
  left: 426px;
  pointer-events: none;
  width: 477px;
}
.img_02 {
  position: absolute;
  top: 270px;
  left: 426px;
  pointer-events: none;
  width: 477px;
}
.posText_1 {
  position: absolute;
  top: 85px;
  left: 270px;
  font-size: 40px;
}
.posText_2 {
  position: absolute;
  top: -82px;
  left: 400px;
  font-size: 40px;
}


.on.open_1 {
  -webkit-animation: opacityOne 0.5s ease-in 0.5s forwards 2;
  -ms-animation: opacityOne 0.5s ease-in 0.5s forwards 2;
  -moz-animation: opacityOne 0.5s ease-in 0.5s forwards 2;
  -o-animation: opacityOne 0.5s ease-in 0.5s forwards 2;
  animation: opacityOne 0.5s ease-in 0.5s forwards 2;
}
.on.open_2 {
  -webkit-animation: opacityOne 0.5s ease-in 2.5s forwards 2;
  -ms-animation: opacityOne 0.5s ease-in 2.5s forwards 2;
  -moz-animation: opacityOne 0.5s ease-in 2.5s forwards 2;
  -o-animation: opacityOne 0.5s ease-in 2.5s forwards 2;
  animation: opacityOne 0.5s ease-in 2.5s forwards 2;
}
@keyframes opacityOne {
  from {opacity: 0;} to {opacity: 1;}
}
@-webkit-keyframes opacityOne {
 from {opacity: 0;} to {opacity: 1;}
}
@-ms-keyframes opacityOne {
 from {opacity: 0;} to {opacity: 1;}
}