
@charset "utf-8";


 .flexBox {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.arrow {
  position: absolute;
  top: 130px;
}
.arrow.complete {
  animation: none;
  /* pointer-events: none; */
}




.imageBox {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 805px;
  height: 450px;
  margin: 0 auto;
}
.imageBox.image_1 {
  background: url(../images/1_6/1_6_06_01.svg) center / contain no-repeat;
}
.imageBox.image_2 {
  background: url(../images/1_6/1_6_06_02.svg) center / contain no-repeat;
}
.imageBox.image_3 {
  background: url(../images/1_6/1_6_06_03.svg) center / contain no-repeat;
}


.arrow[data-toggle-obj="1"] {
  left: 430px;
}
.arrow[data-toggle-obj="2"] {
  left: 735px;
}