.operator{display:inline-block;padding:0 2px;vertical-align:middle;}
.flex-center {display:flex;align-items:center;justify-content:center;}
.solve .contentsList>li {align-items:center;}
.solve .contentsList>li .operator {align-self:center;}
.solve .contentsList>li .dot {margin-top:0;align-self: center;}
.solve .contentsList>li ins+*:not(.bullet) {width:auto;}
.mr_100 {margin-right: 100px;}
.mr_200 {margin-right: 200px;}
.mr_300 {margin-right: 300px;}

.bunsuWrap.highlight {color: #00a0ff}
.bunsuWrap.highlight ul > li:first-of-type {border-bottom-color: #00a0ff;}
.icon_o_title.withBunsu {vertical-align: middle;display:inline-flex;align-items:center;justify-content:center;}
.solve .icon_o_title {margin:0 10px; font-size:20px;}
.solve .circle{
    width:40px;
    height:40px;
    border-radius:50%;
    border:4px solid #3bb5fe;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    margin:0 10px;
    font-size: 30px;
    line-height: 1;
}

.ex-labels {position:absolute;top:0;left:0;width:100%;z-index:2;display:flex;align-items:center;justify-content:space-between;}
.ex-label {position: absolute;z-index:2;}

h2 ins + span {letter-spacing: -1px;}
.contentsList .bullet.circleDot {align-self:center;}

.page_1 .basicSlider_slides>li.on {display: block;text-align: center;}
.page_1 .basicSlider_slides img {max-width:100%;width:auto;height:530px;}
.page_1 .basicSlider_slides > li {position: relative;}
.page_1 .basicSlider_slides .bubbleText {position: absolute; z-index: 2; font-size: 32px;}
.page_1 .innerTab_1 .txt1 {top: 3%; left: 53%;}
.page_1 .innerTab_2 .txt1 {top: 7%; left: 32%;}
.page_1 .innerTab_3 .txt1 {top: 4%; left: 6.5%; transform:scale(90%);}
.page_1 .innerTab_4 .txt1 {top: 10%; left: 27%; transform:scale(95%);}
.page_1 .innerTab_4 .txt2 {top: 21%; left: 61%;}
.page_1 .innerTab_5 .txt1 {top: 3%; left: 17%;}
.page_1 .innerTab_6 .txt1 {top: 6%; left: 16%;}
.page_1 .innerTab_6 .txt2 {top: 15%; left: 73%; transform:scale(90%);}
/* 1 */
.page_2 .figureUL .toggle.noBg {position:absolute;top:20px;left:0;z-index:1;}
.page_2 .figureUL .toggle.noBg::after{display:none;}
.page_2 .figureUL .click-finger-Btn {position:absolute;top: 62%;left: 57.7%;}
.page_2 figure {padding-top: 20px;}
.page_2 figure img {max-width: 100%;}
.page_2 figure .toggle {position: absolute;top:0;left:0;width:100%;z-index:2;}
.page_2 .ex-labels {top:0;left: 185px;width: 83%;}
.page_2 .ex-label.label1{top: 29%;left:4%;}
.page_2 .ex-label.label2{top: 29%;left: 3.5%;}
.page_2 .click-finger-Btn.complete {display: none;}
.page_2 .imgcheck {position: absolute;top: 20px;left:0;display: none;}
.page_2 .imgcheck.on {display: block;}
/* 2 */
.page_3 .flex-center {width: 100%;}
.page_3 .flex-center figure img {max-width: 100%;}
.page_3 [class*='ex-label-'] {position: absolute;top: 1%;font-size: 35px;}
.page_3 .ex-label-1{left: 3%;}
.page_3 .ex-label-2{left: 20.7%;}
.page_3 .ex-label-3{left: 38%;}
.page_3 .ex-label-4{left: 57%;}
.page_3 .ex-label-5{left: 74%;}
.page_3 .ex-label-6{left: 92.5%;}
.page_3 [class*='ex-val-'] {position: absolute;top: 60%;font-size: 35px;}
.page_3 .ex-val-1{left: 2%;}
.page_3 .ex-val-2{left: 20%;}
.page_3 .ex-val-3{left: 38.3%;}
.page_3 .ex-val-4{left: 56.4%;}
.page_3 .ex-val-5{left: 74.5%;}
.page_3 .ex-val-6{left: 92.5%;}
/* 3 */
.page_4 .flex-center {width: 45%;}
.page_4 section > .flex_list .lineBox {padding:10px 30px;display:flex;align-items:center;gap:50px}

.page_4 .flex-item {flex: 0 0 auto;}
.page_4 .flex-item.n1 {width: 100px; text-align: right;}
.page_4 .flex-item.n2 {width: 200px;}

.popup_container {z-index: 3;}
.solve .contentsList>li .dot {margin-top:0;}

.solve.pop_page_3 .basicSlider {padding-bottom: 60px;}
.solve.pop_page_4 .icon_o_title {margin:0 10px}