
@charset "utf-8";

/***********************
* 초등 전자저작물 *
* 수학 3-4학년 *
* list.css *
***********************/


/* dot */
.lesson_1 ul.list.dot > li:before { 
  background-color: #eea900; 
}
.lesson_2 ul.list.dot > li:before { 
  background-color: #8f8bb6; 
}
.lesson_3 ul.list.dot > li:before { 
  background-color: #51B1BF; 
}
.lesson_4 ul.list.dot > li:before { 
  background-color: #C07AAC; 
}
.lesson_5 ul.list.dot > li:before { 
  background-color: #81B440; 
}
.lesson_6 ul.list.dot > li:before { 
  background-color: #E9895C; 
}
.lesson_7.grade_3 ul.list.dot > li:before {
  background-color: #B15029;
}
.lesson_7.grade_4 ul.list.dot > li:before {
  background-color: #41638C;
}
ul.list.dot.answer > li:before { 
  background-color: #0060e3; 
}


/* list */
ul.list {
  position: relative;
  margin-bottom: 10px;
}
ul.list > li {
  position: relative;
  padding-left: 0.75em;
  margin-bottom: 0.5em;
}
ul.list > li:last-child {
  margin-bottom: 0;
}
ul.list > li.noBullet:before {
  content: none;
}
.list.dot > li:before {
  content: '';
  display: block;
  position: absolute;
  top: 0.5em;
  left: 10px;
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
}


.list.dot.bunsu > li:before {
  top: 54px;
}