
@charset "utf-8";

/***********************
* 초등 전자저작물 *
* 수학 3-4학년 *
* promise.css *
***********************/

/************************* title *************************/
/* contents title - promise */
.promise .contentsArea > h1 {
  position: relative;
  height: 65px;
  padding-left: 86px;
  margin-bottom: 0px;
  font-size: 30px;
  font-family: BMJUA;
  letter-spacing: 0;
  /* color: transparent; */
  background-size: auto 80px;
  background-position: left center;
}

.lesson_1 .promise .contentsArea > h1 {
  color: #e58c3b;
  background-image: url(../../math/images/promise/promise_icon_lesson1.svg);
}
.lesson_2 .promise .contentsArea > h1 {
  color: #8a8cc0;
  background-image: url(../../math/images/promise/promise_icon_lesson2.svg);
}
.lesson_3 .promise .contentsArea > h1 {
  color: #3BB5BE;
  background-image: url(../../math/images/promise/promise_icon_lesson3.svg);
}
.lesson_4 .promise .contentsArea > h1 {
  color: #C07AAC;
  background-image: url(../../math/images/promise/promise_icon_lesson4.svg);
}
.lesson_5 .promise .contentsArea > h1 {
  color: #7ABB68;
  background-image: url(../../math/images/promise/promise_icon_lesson5.svg);
}
.lesson_6 .promise .contentsArea > h1 {
  color: #E38254;
  background-image: url(../../math/images/promise/promise_icon_lesson6.svg);
}

.promise .contentsArea > h1:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 4px;
  width: 1130px;
  height: 20px;
  border: 3px solid;
  border-bottom: none;
  border-left: none;
  border-top-right-radius: 20px;
}
/*********************** title End ***********************/

.promise .basicSlider_pageMove {
  bottom: -20px;
}

/* section */
.promise .contentsArea > section {
  padding: 20px 15px 30px;
  /* box-sizing: border-box;
  box-shadow: 0 0 7px rgba(0, 0, 0, .25);
  border-radius: 20px; */
}
.promise .contentsArea > section:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 20px;
  border: 3px solid;
  border-top: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
/* .lesson_1 .promise .contentsArea > section:after { border-color: #e94d40; } */
.lesson_1 .promise .contentsArea > h1:after,
.lesson_1 .promise .contentsArea > section:after { border-color: #e58c3b; }
.lesson_2 .promise .contentsArea > h1:after,
.lesson_2 .promise .contentsArea > section:after { border-color: #8a8cc0; }
.lesson_3 .promise .contentsArea > h1:after,
.lesson_3 .promise .contentsArea > section:after { border-color: #3BB5BE; }
/* .lesson_4 .promise .contentsArea > section:after { border-color: #e94d40; } */
.lesson_4 .promise .contentsArea > h1:after,
.lesson_4 .promise .contentsArea > section:after { border-color: #C07AAC; }
.lesson_5 .promise .contentsArea > h1:after,
.lesson_5 .promise .contentsArea > section:after { border-color: #7ABB68; }
.lesson_6 .promise .contentsArea > h1:after,
.lesson_6 .promise .contentsArea > section:after { border-color: #E38254; }

.promise .dotListIndent {
  margin-left: 40px;
}

.promise section > ul.list {
  display: flex;
  flex-direction: column;
}
.promise section > ul.list > li {
  width: 100%;
  box-sizing: border-box;
}
.promise section > ul.list > li:before,
.promise .basicSlider_slides > li > ul.list > li:before {
  content: none;
}
.promise section > ul.list > li.noBullet:before {
  content: none;
}
.promise .colorBox {
  width: 100%;
  box-sizing: border-box;
}