.balloon{top: 120px;left:80px;text-align:center;}

.img_text{position: relative;display: inline-block;vertical-align: middle;}
.img_text img{width: 50px;}
.img_text .text{position: absolute;left: 1px;top: 0px;font-size: 25px;}
