.balloon{top: 50px;left: 80px;}

.img_text{position: relative;display: inline-block;vertical-align: middle;}
.img_text img{width: 50px;}
.img_text .text{position: absolute;left: 1px;top: 0px;font-size: 25px;}
