.ex-box {display:flex;align-items:center;text-align:justify;}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important;flex-shrink:0}

.page_1 .hide{display:none;}
.page_1 .graph{position:relative;width:100%;height:250px;background:url(../images/suh_0501_06_0011_202_1_1.png) no-repeat center / contain;}
.page_1 .graph .exam{position:absolute;top:100px;left:220px;display:none;}
.page_1 .graph .text{position:absolute;top:7px;left:307px;font-size: 23px;}
.page_1 .graph.on{background:url(../images/suh_0501_06_0011_202_1_2.png) no-repeat center / contain;}
.page_1 .graph.on .exam{display:block;}


.page_4 .colorBox{display: inline-block;}
.page_4 .toggle{background-color: #f6e7d4;padding: initial;}