.balloon:hover {border-color: #999;}
.balloon:hover::after {border-top-color: #999;}
.b1-1{top: -25px;left: -35px;z-index: 2;width: 460px; transform: scale(85%);}
.b1-2{top: 189px;left: 69px;z-index: 2;text-align: center;width: 350px;transform: scale(85%);}
.b1-1::after{left:20% !important;}
.b1-2::after{top:20% !important}

.b2-1{top: 252px;left: 22px;z-index: 2;width: 460px; transform: scale(85%);}

.b3-1{top: 101px;left: 15px;z-index: 2;width: 336px; transform: scale(85%);}

.popup_pages .b1-1::after{left:50% !important;}
.popup_pages .b1-2::after{top:100% !important}
.popup_pages .b1-1{top: 9px;left: 15px;z-index: 2;width: 420px;}
.popup_pages .b1-2{top: 53px;left: 690px;z-index: 2;text-align: center;width: 460px;}
.popup_pages .txt{position: absolute;top: 414px;left: 7px;z-index: 1;text-align: center;font-size: 19px;}

.popup_pages .b2-1{top: 314px;left:291px;z-index: 2;width: 420px;}

.popup_pages .b3-1{top: 115px;left: 178px;z-index: 2;width: 460px;}
