.contentsBox.board,
.contentsBox.board h2 {color:#fff;}
.icon_arrow{margin:0 50px}


.wrap{position: relative;width: 530px;margin: 0 0 0 161px;}
.fx{position: absolute;top: 58px; lefT:0;}
.math_calc_table{position: absolute; top:0; right:0}
.icon_arrow{position: absolute;top: 61px;left: 240px;}

.line-arrow,
.line-arrow::after,
.line-arrow.l,
.line-arrow.b{
    border-color: #fff;
}

.line-arrow.n2 {
    top: 82px;
    left: 550px;
    width: 50px;
    height: 0;
    border-color: #00a0ff;
}
.line-arrow.n2 > div{
    position: absolute;
    top: -26px;
    left: 60px;
    white-space: nowrap;
    color: #00a0ff;
}
.line-arrow.n2::after{
    border-color: #00a0ff;
}

.line-arrow.n3 {
    top: -17px;
    left: 402px;
    width: 0;
    height: 50px;
    border-color: #00a0ff;
}
.line-arrow.n3 > div{
    position: absolute;
    top: -46px;
    left: -72px;
    white-space: nowrap;
    color: #00a0ff;
}
.line-arrow.n3::after{
    border-color: #00a0ff;
}

.line-arrow.n4 {
    top: 23px;
    left: 550px;
    width: 50px;
    height: 0;
    border-color: #e85045;
}
.line-arrow.n4 > div{
    position: absolute;
    top: -26px;
    left: 60px;
    white-space: nowrap;
    color: #e85045;
}
.line-arrow.n4::after{
    border-color: #e85045;
}

.line-arrow.n5 {
    top: 190px;
    left: 550px;
    width: 50px;
    height: 0;
    border-color: #e85045;
}
.line-arrow.n5 > div{
    position: absolute;
    top: -26px;
    left: 60px;
    white-space: nowrap;
    color: #e85045;
}
.line-arrow.n5::after{
    border-color: #e85045;
}

.btn1{top: 90px;left: 0px;}
.btn2{top: 90px;left: 70px;}
.btn3{top: 90px;left: 132px;}
.btn4{top: 90px;left: 200px;}

.line-arrow.brt > div{position: absolute; bottom:0; left:50%;transform: translate(-50%, 25px);background: #385440; padding:0 20px; white-space: nowrap;}
.line-arrow.tr > div{position: absolute; top:0; left:50%;transform: translate(-50%, -25px);background: #385440; padding:0 20px; white-space: nowrap;}
.click-finger-Btn{z-index: 2;}
.click-finger-Btn.complete{display: none;}

.hidden-box.line-tr.on{display: table-row;}
.hidden-box.box{
    background-color:#e85045;
    color:#fff;
    padding:10px;
    border-radius: 6px;
    box-sizing: border-box;
    display: block;
}
.contentsBox.board .contentsBox {
    background-color:transparent
}

.balloon {color: #000 !important;}
.balloon::after{left:35% !important}




