.contentsBox .basicSlider_slides.inner {padding:0}

[class^='img-q'] {position:relative;text-align:center}
[class^='img-q'] > img {vertical-align:top}
[class^='img-q'] [class^='txt-'] {position:absolute}

.img-q1 {margin-top:-50px}
.img-q1 > img {height:380px}
.img-q1 .txt-1 {top:310px;left:130px}
.img-q1 .txt-2 {top:310px;left:355px}
.img-q1 .txt-3 {top:310px;left:581px}
.img-q1 .txt-4 {top:310px;left:822px}
.img-q1 .txt-5 {top:294px;left:218px;font-size:36px}
.img-q1 .txt-6 {top:294px;left:464px;font-size:36px}
.img-q1 .txt-7 {top:294px;left:706px;font-size:36px}
.img-q1 .txt-8 {top:376px;left:230px;font-size:36px}
.img-q1 .txt-9 {top:376px;left:478px;font-size:36px}
.img-q1 .txt-10 {top:376px;left:720px;font-size:36px}

.img-q2 {margin-top:20px}
.img-q2 > img {height:280px}
.img-q2 .txt-1 {top:12px;left:384px;letter-spacing:44px}
.img-q2 .txt-2 {top:82px;left:384px;letter-spacing:44px}
.img-q2 .txt-3 {top:152px;left:384px;letter-spacing:44px}
.img-q2 .txt-4 {top:220px;left:384px;letter-spacing:44px}
.img-q2 .txt-5 {top:46px;left:680px;font-size:36px}
.img-q2 .txt-6 {top:116px;left:680px;font-size:36px}
.img-q2 .txt-7 {top:186px;left:680px;font-size:36px}
.img-q2 .txt-8 {top:36px;left:280px;font-size:28px}
.img-q2 .txt-9 {top:108px;left:280px;font-size:28px}
.img-q2 .txt-10 {top:180px;left:280px;font-size:28px}
.img-q2 [class^='txt-'] .dot {display:inline-block;margin:0 -24px 0 -27px}

.page_1 .innerTab_2 .bullet.exam {margin-top:22px}
.page_1 .innerTab_2 .toggle .answer {display:flex}
.pop_page_1 .toggle-box {padding-left:30px}
.pop_page_1 .buttonContainer {right:40px}
.pop_page_1 .innerTab_2 .bullet.circleDot {margin-top:30px}

.q-group {display:flex;flex-wrap:wrap;margin-top:10px}
.q-group .q-item {display:flex;align-items:center;width:440px;margin:30px 0}
.q-group .q-item:nth-child(2n) {margin-left:80px}
.q-group .q-item > img {width:100px}
.q-group .q-item .balloon {flex:1 auto;position:relative;margin-left:40px;text-align:center}
.q-group .q-item .balloon:after {top:calc(50% - 10px)}
