.gate_container .downloadBtn {right:20px;left:auto}
.downloadBtn {left:0;}
.downloadBtn::before {content:attr(data-name)}

.page_1 .contentsList {padding-left:30px}
.page_1 .contentsList .dot {margin-top:26px}
.pop_page_1 .contentsList .dot {margin-top:26px}

.page_2 .img-q {position:relative;margin-top:140px;padding-left:30px}
.page_2 .img-q > img {height:122px;vertical-align:top}
.page_2 .img-q .num-group,
.page_2 .img-q [class*='txt-'] {position:absolute}
.page_2 .img-q .num-group {top:45px;display:flex;width:960px;height:72px}
.page_2 .img-q .num-group .num,
.page_2 .img-q .num-group .toggle {flex:1 100%}
.page_2 .img-q .num-group .num {display:inline-flex;justify-content:center;align-items:center}
.page_2 .img-q .num-group .toggle {padding:0;background-color:transparent}
.page_2 .img-q .num-group .toggle .answer {display:inline-flex;justify-content:center;align-items:center;width:100%;height:100%;padding:0}
.page_2 .img-q .txt-1 {top:-95px;left:200px}
.page_2 .img-q .txt-2 {top:-95px;left:390px}
.page_2 .img-q .txt-3 {top:-50px;left:565px}
.page_2 .img-q .txt-4 {top:-50px;left:755px}

.page_3 .study_guide {top:40px;right:0}
.page_3 .box-flex {display:flex;justify-content:space-between;margin-top:-10px}
.page_3 .colorBox {display:flex;justify-content:center;align-items:center;width:300px;height:110px;margin-top:20px}
.page_3 .dragLineObj.left,
.page_3 .dragLineArea.left {left:325px}
.page_3 .dragLineObj.right,
.page_3 .dragLineArea.right {left:670px}
.page_3 .dragLineObj.top1,
.page_3 .dragLineArea.top1 {top:148px}
.page_3 .dragLineObj.top2,
.page_3 .dragLineArea.top2 {top:278px}
.page_3 .dragLineObj.top3,
.page_3 .dragLineArea.top3 {top:408px}

.page_4 .contentsList {padding-left:30px}
.page_4 .contentsList .dot {margin-top:26px}
.page_4 .contentsList .bunsuWrap > ul > li {padding:8px 0}
.pop_page_4 .contentsList .dot {margin-top:26px}

.page_5 .bullet.orange.number {vertical-align:5px}
.page_5 .lineBox.green {position:relative;width:300px;margin:40px auto 60px;padding-bottom:80px;text-align:center}
.page_5 .lineBox.green .num-group {display:flex;justify-content:center}
.page_5 .lineBox.green .underLine {color:#ed1a3b;border-color:#ed1a3b}
.page_5 .lineBox.green .bullet.number {position:absolute;top:90px;display:inline-flex;justify-content:center;align-items:center}
.page_5 .lineBox.green .bullet.number.n1 {left:74px}
.page_5 .lineBox.green .bullet.number.n2 {left:155px}
.pop_page_5 .bullet.number {vertical-align:1px}

.page_6 h2.title-01 .toggleBlank.circle {vertical-align:-4px}
.page_6 .lineBox.deeppink {width:650px;margin:30px auto 0}
.page_6 .contentsList .dot {margin-top:28px}
.pop_page_6 .img-solve {position:relative;padding:60px 0}
.pop_page_6 .img-solve > img {width:100%;vertical-align:top}
.pop_page_6 [class*='txt-'] {position:absolute}
.pop_page_6 [class*='txt-top-'] {top:10px}
.pop_page_6 .txt-top-1 {left:110px}
.pop_page_6 .txt-top-2 {left:430px}
.pop_page_6 .txt-top-3 {left:750px}
.pop_page_6 [class*='txt-num-'] {top:90px}
.pop_page_6 .txt-num-1 {left:-10px}
.pop_page_6 .txt-num-2 {left:282px}
.pop_page_6 .txt-num-3 {left:580px}
.pop_page_6 .txt-num-4 {left:855px;background-color:#fff}
.pop_page_6 [class*='txt-bottom-'] {bottom:-20px}
.pop_page_6 .txt-bottom-1 {left:120px}
.pop_page_6 .txt-bottom-2 {left:440px}
.pop_page_6 .txt-bottom-3 {left:760px}

.page_7 .q-group {margin-top:-20px;padding-left:30px}
.page_7 .q-group .q-item {position:relative;display:flex;justify-content:space-between;align-items:center;margin-top:100px}
.page_7 .q-group .q-item .lineBox {width:240px;text-align:center}
.page_7 .q-group .q-item .toggle {width:240px}
.page_7 .q-group .q-item .bunsuWrap {position:absolute;bottom:75px;font-size:36px}
.page_7 .q-group .q-item .bunsuWrap.n1 {left:266px}
.page_7 .q-group .q-item .bunsuWrap.n2 {left:628px}
.page_7 .q-group .q-item .bunsuWrap ul {position:relative;top:-4px}
.pop_page_7 .img-solve {position:relative;padding:60px 0}
.pop_page_7 .img-solve > img {width:100%;vertical-align:top}
.pop_page_7 [class*='txt-'] {position:absolute}
.pop_page_7 [class*='txt-top-'] {top:10px}
.pop_page_7 .txt-top-1 {left:110px}
.pop_page_7 .txt-top-2 {left:430px}
.pop_page_7 .txt-top-3 {left:750px}
.pop_page_7 [class*='txt-num-'] {top:90px}
.pop_page_7 .txt-num-1 {left:-10px}
.pop_page_7 .txt-num-2 {left:282px}
.pop_page_7 .txt-num-3 {left:580px}
.pop_page_7 .txt-num-4 {left:855px;background-color:#fff}
.pop_page_7 [class*='txt-bottom-'] {bottom:-20px}
.pop_page_7 .txt-bottom-1 {left:120px}
.pop_page_7 .txt-bottom-2 {left:440px}
.pop_page_7 .txt-bottom-3 {left:760px}

.page_8 .contentsList {display:flex;flex-wrap:wrap}
.page_8 .contentsList > li {flex:1 auto;align-items:center;width:calc(50% - 40px);height:120px;margin:0 20px}
.page_8 .contentsList .dot {align-self:initial;margin:initial;margin-right:10px}
.pop_page_8 .contentsList .dot.orange + div {display:flex;align-items:center}
.pop_page_8 .q-item {width:224px;letter-spacing:-1px}
.pop_page_8 .icon_arrow {margin:0 20px}

.page_9 .bullet.orange.number {vertical-align:5px}
.page_9 .lineBox.sky {position:relative;width:300px;margin:40px auto 60px;padding-bottom:80px;text-align:center}
.page_9 .lineBox.sky .num-group {display:flex;justify-content:center}
.page_9 .lineBox.sky .underLine {color:#ed1a3b;border-color:#ed1a3b}
.page_9 .lineBox.sky .bullet.number {position:absolute;top:90px;display:inline-flex;justify-content:center;align-items:center}
.page_9 .lineBox.sky .bullet.number.n1 {left:97px}
.page_9 .lineBox.sky .bullet.number.n2 {left:155px}
.pop_page_9 .popup_contents {letter-spacing:0.5px}
.pop_page_9 .bullet.number {vertical-align:3px}

.page_10 .bullet.orange.number {vertical-align:5px}
.page_10 .lineBox.sky {position:relative;width:720px;margin:20px auto 40px;padding:30px 40px;text-align:center}
.page_10 .lineBox.sky .contentsList .dot.orange {margin-top:30px}
.page_10 .lineBox.sky .contentsList>li .bullet+*:not(.bullet) {width:initial}
.pop_page_10 .bullet.number {vertical-align:3px}