.contentsBox .basicSlider_slides.inner {padding:0}

[class^='img-q'] {position:relative;text-align:center}
[class^='img-q'] > img {vertical-align:top}
[class^='img-q'] [class^='txt-'] {position:absolute}

.img-q1 {margin-top:-10px}
.img-q1 > img {height:380px}
.img-q1 .txt-1 {top:310px;left:130px}
.img-q1 .txt-2 {top:310px;left:355px}
.img-q1 .txt-3 {top:310px;left:581px}
.img-q1 .txt-4 {top:310px;left:822px}
.img-q1 .txt-5 {top:294px;left:218px;font-size:36px}
.img-q1 .txt-6 {top:294px;left:464px;font-size:36px}
.img-q1 .txt-7 {top:294px;left:706px;font-size:36px}
.img-q1 .txt-8 {top:376px;left:230px;font-size:36px}
.img-q1 .txt-9 {top:376px;left:478px;font-size:36px}
.img-q1 .txt-10 {top:376px;left:720px;font-size:36px}