.flex-wrap{width:100%; justify-content: space-around; padding:90px auto;}
.flex-wrap + .flex-wrap{margin-top:90px}
.contentsBox section{padding:30px 0 0;}


.toggle.sky {
    background-color: #deecf8;
}
.toggle.pink {
    background-color: #f5e5e6;
}

.flex-wrap > .lineBox{position: relative; width: 50%; margin: 0 10px; height: 420px; display: flex; justify-content: center; align-items: center;}
.lineBox .tit{position: absolute; top:-40px; left:20px}
.toggle.sky .answer, 
.toggle.pink .answer{font-family: NotoM; font-weight: normal; color:#000}
.toggle .lineBox{position: absolute; top:-120px; left:-10px; font-family: NotoM; font-weight: normal; color:#000}
.toggle.sky .lineBox{left:-50px;}

.sky.toggle::after,
.pink.toggle::after{display:none;}

.toggle.complete.sky .click-finger-Btn,
.toggle.complete.pink .click-finger-Btn{display: none;}
.math_calc_table .toggle.sup{top:-50px; }
.math_calc_table .sup.toggle.complete .answer{font-size: 38px;}
.hid{opacity: 0;}

.sky.toggle .lineBox::before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 65%;
    border-left: 4px dashed #c1e8ec;
    width: 0;
    height: 50px;
}
.pink.toggle .lineBox::before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 30%;
    border-left: 4px dashed #f5e5e6;
    width: 0;
    height: 50px;
}

.math_calc_table .lineDotted.line_1{left:50px}
.math_calc_table .lineDotted.line_2{left:100px}
.math_calc_table .lineDotted.line_3{left:150px}

.lineBox .icon_arrow{margin:0 10px; transform: translate(0,70px);}






























