.flex-wrap{width:100%; justify-content: space-around; padding:90px auto; box-sizing: border-box;}
.flex-wrap + .flex-wrap{margin-top:90px}
.contentsBox section{padding-top:90px}

.pop_page_1 .flex-wrap{padding:0 80px; margin-top:30px}