.page_4 .flex-wrap,
.page_3 .flex-wrap {justify-content:space-around; align-items: center; height: 300px;}

.popup_pages .flex-wrap{justify-content:space-around; width: 80%; margin:0 auto}

.math_calc_table {width:200px;}
.math_calc_table .answer{letter-spacing: 29px;}

.box-flex {display:flex;align-items:center}
.box-flex .q-box,
.box-flex .lineBox {flex-shrink:0}
.box-flex .icon_arrow {margin:0 20px}
.box-flex .ex-img {width:530px}
.box-flex .ex-img img {width:100%}

.txt-blue {color:#00a0ff}

.img-wrap-a {position:relative;height:427px}
.img-wrap-a img {width:100%}
.img-wrap-a .txt-item {position:absolute;background-color:#fff;padding:0 20px;top:250px}
.img-wrap-a .n1 {left:170px}
.img-wrap-a .n2 {left:680px}
.img-wrap-a .toggle {position:absolute;top:120px;left:50%;margin-left:-40px}

.img-box-a {text-align:center;margin-bottom:20px}
.img-box-a img {height:320px;vertical-align:top}

.bg-box-a {background:url("../images/suhi_h_0301_01_0003_4.png") no-repeat 50% 50%;background-size:contain;height:420px;width:490px;margin:20px auto 0;position:relative;padding-right:20px;box-sizing:border-box;text-align: center;
    padding-top: 140px;}

.bg-box-b {background:url("../images/suhi_h_0301_01_0003_5.png") no-repeat 50% 50%;background-size:contain;height:200px;width:610px;margin:20px auto 0}
.bg-box-b .box-flex {padding-top:70px;justify-content:center;align-items:center}
.bg-box-b .sign {margin:0 20px}

.pop_page_1 .math_calc_table {width:200px;flex-shrink:0}
.pop_page_1 .contentsList {margin-left:40px}
.toggle.type-b {background-color:transparent}
.toggle.type-b:after {display:none}

.pop_page_2 .math_calc_table {width:200px}

/* .page_6 .math_calc_table {width:300px;margin:0 auto}
.page_6 .math_calc_table td {padding:12px 0;text-align:center}
.page_6 .math_calc_table .toggle {text-align:center}
.page_6 .math_calc_table .answer {letter-spacing:0}
.page_6 .math_calc_table .sup {top:-40px}
.page_6 .math_calc_table .sup .answer {color:#e94d40} */


.greenT{color:green}
.page_1 .math_calc_table .rowLine{top:0; z-index: 1;}
.page_1 .math_calc_table .line_1{left:25%}
.page_1 .math_calc_table .line_2{left:50%}
.page_1 .math_calc_table .line_3{left:75%}
.page_1 .math_calc_table .line_4{left:100%}
.page_1 .math_calc_table{position: relative; top:0 !important; right:0 !important;}
.page_1 .math_calc_table{width:200px;  line-height: 1.1;}
.page_1 .math_calc_table td{padding:5px 0;}
.page_1 .math_calc_table .line td{padding: 0 !important;}
.page_1 .math_calc_table.class3 tr.line-tr td, .math_calc_table.class3 tr.line td{height: 2px !important;}
.page_1 .flex-wrap{justify-content:space-between; }
.page_1 .flex-item{position: relative;}
.page_1 .flex-item + .flex-item{margin-left:50px;}
.page_1 .flex-wrap .icon_arrow{margin:0;}
.page_1 td.bg{background: #e3e3e3;}
.page_1 .icon_arrow {position:absolute; right: -41px; top: 85px; cursor: pointer;}
.page_1 .icon_arrow.big{width: 41px; height: 35px;}
.page_1 .lineBox{padding-top:30px}

.vOn .icon_arrow {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}