#quiz-01 .input-cont:nth-child(1){
    width:218px;
    left:229px;
    top:478px;
}
#quiz-01 .input-cont:nth-child(2){
    width:218px;
    left:229px;
    top:625px;
}
#quiz-01 .input-cont{
    
margin: -187px 0 0 -38px;
}
#quiz-content-01 .btns-answer-part .btn-answer-part:nth-child(1){
    left:737px;
    top:485px;
}
#quiz-content-01 .btns-answer-part .btn-answer-part:nth-child(2){
    left:737px;
    top:632px;
}
#quiz-content-01 .btns-answer-part .btn-answer-part{
margin: -187px 0 0 -38px;
}
#quiz-02 .input-cont:nth-child(1){
    width:218px;
    left: 485px;
    top:489px;
}
#quiz-02 .input-cont:nth-child(2){
    width:218px;
    left: 485px;
    top:572px;
}

#quiz-content-02 .btns-answer-part .btn-answer-part:nth-child(1){
    left: 1188px;
    top: 495px;
}
#quiz-content-02 .btns-answer-part .btn-answer-part:nth-child(2){
    left: 1103px;
    top: 574px;
}
