/* 체크 퀴즈 */
#quiz-01 .check-item {
    position: absolute;
    /* background-color: rgba(255,0,0,0.5); */
}
#quiz-01 .check-item:nth-child(1) {
    width:175px;
    height:151px;
    left: 138px;
    top: 323px;
}
#quiz-01 .check-item:nth-child(2) {
    width:162px;
    height:117px;
    left: 422px;
    top: 340px;
}
#quiz-01 .check-item:nth-child(3) {
    width:149px;
    height:149px;
    left:707px;
    top: 324px;
}
#quiz-01 .check-item:nth-child(4) {
    width:163px;
    height:163px;
    left: 978px;
    top: 317px;
}