/* 각도기 툴 위치 */
.app-angle-tool .tool-container {
    top: 160px;
}


.popup-more-one .bg{
    background: url(../images/ms_42_2_02_07_01/bg_popup_more.svg);
}
#quiz-01 .input-cont:nth-child(1) {
    width: 155px;
    left: 1003px;
    top: 531px;
}

#quiz-02 .input-cont:nth-child(1) {
    width: 140px;
    left: 975px;
    top: 541px;
}


.btn-answer-part:nth-child(1) {
    left: 1140px;
    top: 260px;
}