#quiz-01 .input-cont:nth-child(1) {
    width: 100px;
    left: 210px;
    top: 493px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 100px;
    left: 727px;
    top: 493px;
}


.btn-answer-part:nth-child(1) {
    left: 1125px;
    top: 227px;
}