.content .bg{
    background: url(../images/ms_42_2_03_06_01/bg.svg) 0 0 no-repeat;
}
.popup-more-one .bg{
    /* background: url(../images/ms_42_2_03_06_01/bg_popup_more02.png) 0 0 no-repeat; */
}

#quiz-01 .input-cont:nth-child(1) {
    width: 137px;
    left: 1006px;
    top: 551px;
}

#quiz-02 .input-cont:nth-child(1) {
    width: 134px;
    left: 1004px;
    top: 572px;
}
