#wrap header .title {padding-bottom:10px}

.ex-box {display:flex}
.ex-box .bullet.exam {flex-shrink:0}

.zoom-area {position:relative;height:300px}
.zoom-area .img-content {position:absolute;top:-40px;transform:scale(.8);margin-top:0}
.img-content {display:flex;align-items:center;margin-top:80px}
.img-content .icon_arrow {flex-shrink:0;margin:0 110px 0 150px;transform:scale(1.5)}
.img-content [class*='img-box-'] {position:relative}
.img-content [class*='img-box-'] img {height:360px}
.img-content [class*='img-box-'] .txt-item {position:absolute;white-space:nowrap}
.img-content .img-box-1 .txt-item.n1 {top:260px;left:10px}
.img-content .img-box-1 .txt-item.n2 {top:230px;left:150px}
.img-content .img-box-1 .txt-item.n3 {top:127px;left:180px}
.img-content .img-box-2 .txt-item.n1 {top:-40px;left:125px}
.img-content .img-box-2 .txt-item.n2 {top:70px;left:240px}
.img-content .img-box-2 .txt-item.n3 {top:165px;left:470px}

.page_4 .formula-content {display:flex;justify-content:center;align-items:center;height:240px}
.page_4 .formula-content .toggle {margin:0 8px}
