#wrap header .title {padding-bottom:10px}

.ex-box {display:flex}
.ex-box .bullet.exam {flex-shrink:0}

.img-content {display:inline-flex;align-items:center;margin-top:30px}
.img-content .icon_arrow {flex-shrink:0;margin:0 150px 0 110px;transform:scale(1.5)}
.img-content [class*='img-box-'] {position:relative}
.img-content [class*='img-box-'] img {display:block;width:100%}
.img-content [class*='img-box-'] .txt-item {position:absolute;white-space:nowrap;z-index:1}
.img-content .img-box-1 {width:200px;margin-left:10px}
.img-content .img-box-1 .txt-item.n1 {top:-30px;left:-10px}
.img-content .img-box-1 .txt-item.n2 {top:240px;left:0}
.img-content .img-box-1 .txt-item.n3 {top:210px;left:150px}
.img-content .img-box-1 .txt-item.n4 {top:80px;left:190px}
.img-content .img-box-2 {width:450px;margin-left:240px}
.img-content .img-box-2 .txt-item.n1 {top:-30px;left:5px;font-size:24px}
.img-content .img-box-2 .txt-item.n2 {top:-2px;left:-60px;font-size:24px}
.img-content .img-box-2 .toggle {position:absolute;left:0;bottom:0;padding:0;background-color:transparent}
.img-content .img-box-2 .toggle::after {display:none}
.img-content .img-box-2 .toggle.type-b {top:0;left:-120px}
.img-content .img-box-2 .toggle:not(.type-b) .answer {background-color:#fff}

.quiz-content > .toggle {padding-bottom:16px}
.quiz-content dl {display:flex;margin-top:20px}
.quiz-content dt {flex-shrink:0}
.quiz-content dt .colorBox {min-width:100px;color:#fff;text-align:center}
.quiz-content dd {flex:1 auto;font-size:38px}
.quiz-content.type-inline {position:relative;left:-80px;display:inline-block;margin-top:50px}
.quiz-content.type-inline dt {width:400px}
.quiz-content.type-inline dt .colorBox {display:inline-block;vertical-align:top}
.quiz-content.type-inline dd {text-align:left}
.quiz-content.type-inline dd .toggle {width:100px}
