#wrap header .title {padding-bottom:10px}

.ex-box {display:flex}
.ex-box .bullet.exam {flex-shrink:0}

.img-content {display:flex;align-items:center;margin-top:50px}
.img-content .icon_arrow {flex-shrink:0;margin:0 150px 0 110px;transform:scale(1.5)}
.img-content [class*='img-box-'] {position:relative}
.img-content [class*='img-box-'] img {height:320px}
.img-content [class*='img-box-'] .txt-item {position:absolute;white-space:nowrap}
.img-content .img-box-1 .txt-item.n1 {top:40px;left:0}
.img-content .img-box-1 .txt-item.n2 {top:220px;left:19px}
.img-content .img-box-1 .txt-item.n3 {top:190px;left:176px}
.img-content .img-box-1 .txt-item.n4 {top:104px;left:210px}
.img-content .img-box-1 .txt-item.n5 {top:90px;left:80px}
.img-content .img-box-1 .txt-item.n6 {top:165px;left:42px}
.img-content .img-box-1 .txt-item.n7 {top:136px;left:150px}
.img-content .img-box-2 .txt-item.n1 {top:-30px;left:160px}
.img-content .img-box-2 .txt-item.n2 {top:50px;left:272px}
.img-content .img-box-2 .txt-item.n3 {top:135px;left:-110px}
.img-content .img-box-2 .txt-item.n4 {top:50px;left:180px}
.img-content .img-box-2 .txt-item.n5 {top:142px;left:180px}
.img-content .img-box-2 .txt-item.n6 {top:142px;left:305px}
.img-content .img-box-2 .txt-item.n7 {top:142px;left:425px}
.img-content .img-box-2 .txt-item.n8 {top:142px;left:55px}
.img-content .img-box-2 .txt-item.n9 {top:238px;left:180px}

.character-content {position:relative;height:280px}
.character-content .girl_3-wrap {top:60px;left:0}
.character-content .girl_1-wrap {top:60px;right:0;left:auto}
.character-content .balloon p {font-size:32px;line-height:1.2;text-align:center}
.character-content .balloon::after {top:42%}
.character-content .balloon.left {top:50px;left:200px;width:340px}
.character-content .balloon.right {top:50px;right:200px;width:260px}

.quiz-content dl {display:flex;margin-top:20px}
.quiz-content dt {flex-shrink:0}
.quiz-content dt .colorBox {min-width:100px;text-align:center}
.quiz-content dd {flex:1 auto;margin-left:10px;font-size:38px}
.quiz-content dd .toggle {vertical-align:top}

.quiz-content .plus {margin:0 14px 0 13px}
