.contentsBox section {padding:0}
.buttonContainer {bottom:30px}

.ex-box {display:flex}
.ex-box .bullet.exam {flex-shrink:0}

.img-content {position:relative;left:-30px;display:flex;justify-content:center;align-items:center;height:380px;margin-top:20px}
.img-content img {height:280px}
.img-content .txt-item {position:absolute;white-space:nowrap}
.img-content .txt-item.n1 {top:30px;left:100px}
.img-content .txt-item.n2 {top:295px;left:150px}
.img-content .txt-item.n3 {top:245px;left:410px}
.img-content .txt-item.n4 {top:140px;left:470px}
.img-content .txt-item.n5 {top:30px;left:640px}
.img-content .txt-item.n6 {top:295px;left:705px}
.img-content .txt-item.n7 {top:265px;left:895px}
.img-content .txt-item.n8 {top:127px;left:945px}

.page_4 .formula-content {display:flex;justify-content:center;align-items:center;height:240px;line-height:1.5}
.page_4 .formula-content .toggle {margin:0 8px}
.pop_page_1 .blank {display:inline-block;width:180px}
