.sup {font-size:24px;position:relative;top:-8px}
.material .sup {font-size:12px;top:-11px}
.suhi header h1 .sub-text .sup {font-size:11px;top:-6px}
th .sup,
.lineBox .sup,
.textAlignC .sup,
.flex-item .sup,
.tableContainer .sup,
.toggle .sup,
.mainContents .sup,
.oxBoxText .sup,
.quiz-content .sup {top:-16px;display:inline-block;margin-bottom:-12px}
header .title .sup,
h2 .sup {top:-16px}

.balloon .sup,
.solve .sup {top:-14px;font-size:20px}

.ex-box {display:flex}
.ex-box .bullet.exam {flex-shrink:0}

[class*='img-box-'] {position:relative}
[class*='img-box-'] .txt-item {position:absolute}
.img-box-1 img {height:200px}
.img-box-1 .txt-item.n1 {top:165px;left:352px}
.img-box-1 .txt-item.n2 {top:158px;left:575px}
.img-box-1 .txt-item.n3 {top:58px;left:655px}
.img-box-2 img {height:200px}
.img-box-2 .txt-item.n1 {top:165px;left:382px}
.img-box-2 .txt-item.n2 {top:165px;left:555px}
.img-box-2 .txt-item.n3 {top:70px;left:322px}

.quiz-content {display:inline-block;margin-top:60px}
.quiz-content dl {display:flex}
.quiz-content dl + dl {margin-top:20px}
.quiz-content dd .toggle {vertical-align:top;margin-right:10px}
.quiz-content dd {display:flex;align-items:flex-end}

.page_3 .flex-wrap {align-items:center;height:350px}
.page_3 .flex-item {flex:1 auto;display:flex;justify-content:center;align-items:flex-end}
.img-box-3 img {height:324px}
.img-box-3 .txt-item.n1 {top:243px;left:230px}

.page_4 .flex-wrap {align-items:center;height:350px}
.page_4 .flex-item {flex:1 auto;display:flex;justify-content:center;align-items:flex-end}
.img-box-4 img {height:300px}
.img-box-4 .txt-item {background-color:#fff;white-space:nowrap}
.img-box-4 .txt-item.n1 {top:230px;left:30px}
.img-box-4 .txt-item.n2 {top:125px;left:440px}
.img-box-4 .txt-item.n3 {top:240px;left:360px}
.img-box-4 .txt-item.n4 {top:275px;left:65px}

.page_5 .flex-wrap {align-items:center;height:350px}
.page_5 .flex-item {flex:1 auto;display:flex;justify-content:center;align-items:flex-end}

.pop_page_2 .box-flex {display:flex;align-items:center}
.pop_page_2 .box-flex .img-box {width:320px;margin-left:40px}
.pop_page_2 .box-flex .img-box img {width:100%}
