.content-container > .content > .bg {
	background-image: url('../../images/ms_41_2_00/ms_41_2_00_02_01/bg.png');
}

.popup-more-one .bg {
	background-image: url('../../images/ms_41_2_00/ms_41_2_00_02_01/bg.png');
}

/* #quiz-content-01 .scroll-bg {
	background-image: url('../../images/');
	height: 770px;
} */

/* #quiz-content-02 .scroll-bg {
	background-image: url('../../images/');
	height: 710px;
} */

/* #quiz-content-01 .tool-container {
	top: 165px;
} */

/* #quiz-content-02 .tool-container {
	top: 245px;
} */

#quiz-01 .answer {
    position: absolute;
    top: 0;
    left: 0;
}

.ico-angle {
	display: inline-block;
	width: 50px;
	height: 50px;
}

.ico-angle::before {
	content: '';
	width: 50px;
	height: 50px;
	display: block;
	position: relative;
	left: 10px;
	top: 7px;
	background: url(../../images/ms_41_2_00/ms_41_2_00_02_01/ico.png) no-repeat;
}
