.img-box-1 {position:relative;margin:40px auto;padding:0 50px}
.img-box-1 img {width:100%;vertical-align:top}
.img-box-1 .txt-item {position:absolute;top:0}
.img-box-1 .n1 {left:20px}
.img-box-1 .n2 {left:25%}
.img-box-1 .n3 {left:50%}
.img-box-1 .n4 {left:75%}

.img-box-2 {position:relative;margin:40px auto;padding:0 200px}
.img-box-2 img {width:100%;vertical-align:top}
.img-box-2 .toggle {position:absolute;}
.img-box-2 .n1 {left:60px;top:30px}
.img-box-2 .n2 {left:130px;top:155px}
.img-box-2 .n3 {left:810px;top:150px}

.img-answer {position:relative;margin:40px auto}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;transition:opacity 1s/*;z-index:-1*/}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {opacity:1;z-index:1}

.img-answer.n1 {width:600px;height:351px}
.img-answer.n1 .toggle {background:url("../images/suhi_0601_02_0001_03_02.png") no-repeat 50% 50% / 100%}

.img-answer.n2 {width:800px;height:373px}
.img-answer.n2 .toggle {background:url("../images/suhi_0601_02_0001_04_02.png") no-repeat 50% 50% / 100%}
.img-answer.n2 .txt-item {position:absolute;pointer-events:none}
.img-answer.n2 .txt-item.n1 {top:162px;left:-70px}
.img-answer.n2 .txt-item.n2 {top:-39px;left:275px}
.img-answer.n2 .txt-item.n3 {top:-3px;left:175px}
.img-answer.n2 .exam {position:absolute;top:12px;left:280px;pointer-events:none}