.content-container > .content > .bg {
    /* background-image: url(../images/ms_42_1_05_06_01/bg.png); */
    /* background-image: url(../images/06.png); opacity: 0.7; */
}

.popup-more-one > .bg {
    /* background-image: url(../images/ms_42_1_05_06_01/bg_popup_more.svg); */
}

#quiz-01 .input-cont:nth-child(1) {
    left: 149px;
    top: 460px;
    width: 840px;
}

#quiz-01 > ul > li > textarea.input.scroll-none.limit-height {
    height: 190px !important;
    line-height: 79px !important;
}

#quiz-02 .input-cont:nth-child(1) {
    left: 149px;
    top: 460px;
    width: 840px;
}

#quiz-02 > ul > li > textarea.input.scroll-none.limit-height {
    height: 190px !important;
    line-height: 79px !important;
}

.img-box .svg-img {
    position: absolute;
    left: 45.6px;
    top: 0;
}

.quiz-input-text .answer {
    top: -22px;
}
.btn-answer-part:nth-child(1) {
    left: 599px;
    top: 519px;
}

.popup-more-one .btn-answer-part:nth-child(1) {
    left: 599px;
    top: 519px;
}