.content-container > .content > .bg {
    background-image: url(../images/ms_42_1_01_03_01/bg.svg);
    /* background-image: url(../images/03.png); opacity: 0.7; */
}

/* 보충 문제 bg */
.popup-more-one > .bg {
    background-image: url(../images/ms_42_1_01_03_01/bg_popup_more.svg);
}
/* 입력 문제 */
#quiz-01 .input-cont {
    width: 60px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 488px;
    top: 495px;
    z-index: 1;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 600px;
    top: 495px;
    z-index: 1;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 723px;
    top: 495px;
    z-index: 1;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 844px;
    top: 535px;
    z-index: 1;
}
#quiz-01 .input-cont:nth-child(5) {
    left: 916px;
    top: 496px;
    z-index: 1;
}

.btn-answer-part:nth-child(1) {
    left: 983px;
    top: 496px;
}

.btn-answer-part:nth-child(2) {
    left: 1218px;
    top: 174px;
}
.quiz-check.image-answer {
    position: absolute;
    left: 0;
    top: 0;
}

/* 입력 문제 */
#quiz-03 .input-cont {
    width: 60px;
    margin-top: 25px;
}

#quiz-03 .input-cont:nth-child(1) {
    left: 488px;
    top: 495px;
    z-index: 1;
}
#quiz-03 .input-cont:nth-child(2) {
    left: 600px;
    top: 495px;
    z-index: 1;
}
#quiz-03 .input-cont:nth-child(3) {
    left: 713px;
    top: 495px;
    z-index: 1;
    width: 80px;
}
#quiz-03 .input-cont:nth-child(4) {
    left: 844px;
    top: 535px;
    z-index: 1;
}
#quiz-03 .input-cont:nth-child(5) {
    left: 916px;
    top: 496px;
    z-index: 1;
}

.popup-more-one .btn-answer-part:nth-child(1) {
    left: 983px;
    top: 517px;
}

.popup-more-one .btn-answer-part:nth-child(2) {
    left: 1218px;
    top: 244px;
}


.app-drawing-tool .tool-container {
    top: 105px;
}

.popup-more-one .app-drawing-tool .tool-container {
    top: 185px;
}
