.content-container > .content > .bg {
    background-image: url(../images/ms_42_1_00_01_01/bg.svg);
    /* background-image: url(../images/00.png); opacity: 0.7; */
}

/* 입력 퀴즈 */
#quiz-01 .input-cont{
    width: 60px;
}
#quiz-01 .input-cont:nth-child(1) {
    left: 999px;
    top: 368px;
}
#quiz-01 .answer-part-00 img{
    position: absolute;
    top: -368px;
    left: -999px;
}

#quiz-01 .quiz-00-answer.answer-part-00 {
    visibility: hidden;
}

#quiz-01.active .quiz-00-answer.answer-part-00 {
    position: absolute;
    left: 60px;
    top: 288px;
    visibility: visible;
}
