@charset "utf-8";

.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
.contentsList .icon_arrow{width:auto !important; margin:0 10px;}
.lineBox .bullet.number,
h2 .bullet.number{margin-top:5px;}
.buttonContainer.iframe{right:170px;}
.checkContainer h2 .toggleBlank{margin-top:8px;}
.checkContainer .contentsBox .basicSlider_tabs {width: 600px}
.flexListContainer.wrap {justify-content: flex-start;margin: 0 auto;}
.flexListContainer.wrap > li {display: flex;align-items: center;}
.flexListContainer.wrap li + li {margin-top: 15px;}

.img-wrap {width: 100%;text-align: center;}
.lineBox.inline, .colorBox.inline {display: inline-block;min-width: 40%;padding: 30px 40px;text-align: center;}

.page_1 .img-wrap > img {width: 570px;height: auto;}
.page_1 .flexListContainer {justify-content: center;width: 430px;margin: 20px auto 0;}
.page_1 .flexListContainer .flex-wrap {align-items: center;}
.page_1 .flexListContainer .flex-wrap + .flex-wrap {margin-top: 15px;}

.page_2 .flexListContainer {margin-top: 100px;padding: 0 50px;}
.page_3 .flexListContainer {width: 290px;margin-top: 80px;}

.page_4 h2 {margin-bottom: 0 !important;}
.page_4 .flexListContainer {width: 700px;height: 80%;margin: 0% auto;padding: 50px 0;justify-content: space-around;box-sizing: border-box;}
.page_4 .flexListContainer li {display: flex;align-items: center;justify-content: space-between;width: 100%;}

.page_5 .study_guide {top: -40px;}
.page_5 .dragLineContainer {height: 300px;margin-top: 40px;}
.page_5 .dragLineContainer>ul {display: flex;flex-direction: column;justify-content: space-between;}
.page_5 .dragLineContainer>ul>li {min-width: 245px;font-size: 40px;}
.page_5 .top_1 {top: 68px;}
.page_5 .top_2 {top: 190px;}
.page_5 .top_3 {top: 310px;}
.page_5 .left_1 {left: 300px;}
.page_5 .left_2 {left: 700px;}

.page_6 .lineBox {width: 200px;height: 230px;}
.page_6 .lineBox img {width: 100%;}
.page_6 .imgCont {display: flex;justify-content: space-between;width: 600px;margin: 0 auto;}
.page_6 .txtCont {width: 300px;margin: 20px auto 0;text-align: center;}
.page_6 .txtCont>div {display: flex;align-items: center;font-size: 40px;}
.page_6 .txtCont .icon_arrow {margin-right: 10px;}
.page_6 .txtCont>div+div {margin-top: 15px;}

.page_7 .flexListContainer {width: 290px;margin: 30px auto 0;}

.page_8 h2 {margin-bottom: 15px!important;}
.page_8 .lineBox {padding: 12px 20px;border-radius: 60px;}
.page_8 .nameBox {height: 40px;text-align: center;}
.page_8 .flexListContainer.column li {display: flex;align-items: flex-start;}
.page_8 .flexListContainer.column li + li {margin-top: 15px;}
.page_8 .flexListContainer.column li > div {display: flex;}
.page_8 .flexListContainer.column li > div:first-child {display: flex;justify-content: flex-end;min-width: 100px;margin-right: 20px;}
.page_8 .flexListContainer.column li .nameBox {margin-top: 3px;}
.page_8 .flexListContainer.jcenter li + li {margin-left: 15px;} 

.pop_page_1.solve .popup_contents div + div {margin-top: 5px;}