@charset "utf-8";
.finish .contentsArea > h1 {
  word-break: break-all;
}
.contentsArea figure:nth-child(1) {
  width: 570px;
}
.contentsArea figure:nth-child(2) {
  width: 470px;
  margin: -60px 0 0 0;
}


ins.exam {
  top: 7px;
  left: 653px;
}
.list.dot > li {
  letter-spacing: -1px;
}

.lineGraph {
  position: absolute;
  top: 68px;
  left: 148px;
  width: 445px;
  height: 373px;
}
.lineGraph.pointerOff {
  pointer-events: none;
}
.lineGraph .resetButton {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff9603;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../include/math/images/quiz/icon_replay.svg);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, .2);
  pointer-events: auto;
  cursor: pointer;
  z-index: 1;
}
.lineGraph .resetButton.hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.lineGraph .resetButton.off {
  pointer-events: none;
}

.lineGraph .resetButton {
  bottom: -20px;
  right: -20px;
}
.graphDot {
  position: absolute;
  width: 20px;
  height: 10px;
  cursor: pointer;
  /*outline: 1px solid tomato;*/
}
.graphDot .induceLight {
  position: absolute;
  top: -13px;
  left: -10px;
  width: 40px;
  height: 40px;
  pointer-events: none;
}
.graphDot.lightOff .induceLight {
  /* display: none; */
  visibility: hidden;
}

.graphDot.horizon_1 { left: calc(66px * (1 - 1) + 44px); }
.graphDot.horizon_2 { left: calc(66px * (2 - 1) + 44px); }
.graphDot.horizon_3 { left: 174px; }
.graphDot.horizon_4 { left: 240px; }

.graphDot.vertical_1 { top: calc(19px * (1 - 1) + -5px); }
.graphDot.vertical_2 {
  top: 12px;
}
.graphDot.vertical_3 {
  top: 28px;
}
.graphDot.vertical_4 {
  top: 44px;
}
.graphDot.vertical_5 {
  top: 60px;
}
.graphDot.vertical_6 {
  top: 75px;
}
.graphDot.vertical_7 {
  top: 91px;
}
.graphDot.vertical_8 {
  top: 106px;
}
.graphDot.vertical_9 {
  top: 122px;
}
.graphDot.vertical_10 {
  top: 138px;
}
.graphDot.vertical_11 {
  top: 154px;
}
.graphDot.vertical_12 {
  top: 170px;
}
.graphDot.vertical_13 {
  top: 184px;
}
.graphDot.vertical_14 {
  top: 201px;
}
.graphDot.vertical_15 {
  top: 217px;
}
.graphDot.vertical_16 {
  top: 232px;
}
.graphDot.vertical_17 {
  top: 248px;
}
.graphDot.vertical_18 {
  top: 263px;
}
.graphDot.vertical_19 {
  top: 279px;
}


input {
  position: absolute;
  font-size: 25px;
  padding: 5px 2px 4px;
}
.input_1 {
  top: -1px;
  left: 0px;
  text-align: center;
  font-size: 34px;
  width: 470px;
  height: 58px;
}
.input_2 {
  top: 76px;
  left: 19px;
  width: 50px;
}
.input_3 {
  top: 400px;
  left: 4px;
  width: 90px;
}
.input_4 {
  top: 442px;
  left: 38px;
  width: 98px;
  text-align: right;
  letter-spacing: -1px;
}
input.left {
  left: 78px;
  width: 56px;
  text-align: right;
  letter-spacing: -1px;
}
.input_5 {
  top: 80px;
}
.input_6 {
  top: 159px;
}
.input_7 {
  top: 237px;
}
.input_8 {
  top: 315px;
}
input.bottom {
  top: 419px;
  width: 66px;
  text-align: center;
}
.input_10 {
  left: 169px;
}
.input_11 {
  left: 234px;
}
.input_12 {
  left: 300px;
}
.input_13 {
  left: 366px;
}


.popupButton.head {
  top: -75px;
}

.popup_pages > li.head {
  top: 105px;
  right: 80px;
  width: 1130px;
}