.ico-figure-this {
	position: relative;
	width: 50px;
	height: 50px;

	display: inline-block;
	vertical-align: middle;
	color: transparent;
	margin: 0 0 0 0;
}
.ico-figure-this::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.ico-figure-this.bb-01 {
    width: 40px;
    height: 40px;
    margin: 0 2px 0 0;
}
.ico-figure-this.bb-01::before {
    left: -5px;
    top: -5px;
    width: 50px;
    height: 50px;
    margin: -3px 0 0 0px;
    background-image: url(../images/ico/bb_01_0001.svg);
}
.ico-figure-this.bb-01.ss-02::before {
    background-image: url(../images/ico/bb_01_0002.svg);
}
.ico-figure-this.bb-01.ss-03::before {
    background-image: url(../images/ico/bb_01_0003.svg);
}
.ico-figure-this.bb-01.ss-04::before {
	width: 44px;
	height: 44px;
	margin: -1px 0 0 2px;
    background-image: url(../images/ico/bb_01_0004.svg);
}
.ico-figure-this.bb-01.ss-05::before {
    background-image: url(../images/ico/bb_01_0005.svg);
}
.ico-figure-this.bb-01.ss-06::before {
	margin: -3px 0 0 2px;
    background-image: url(../images/ico/bb_01_0006.svg);
}
.ico-figure-this.bb-01.ss-07::before {
    background-image: url(../images/ico/bb_01_0007.svg);
}


.ico-figure-this.bb-02 {
    width: 80px;
    height: 40px;
    margin: 0 2px 0 0;
}
.ico-figure-this.bb-02::before {
    width: 80px;
    height: 44px;
    margin: -4px 0 0 4px;
    background-image: url(../images/ico/bb_02.svg);
}