header .title .supply_guide.inline {margin-top:8px}
.imgCon  {
    position: relative;
    width: 647px;
    height: 425px;
    margin: 0 auto;
    top: 35px;
}
.imgCon .popBtn  {
    width:100%;height:100%;
    background: url(../images/suh_0601_01_0000_201_1_1.png) no-repeat;
    background-size: contain;
}

/* 팝업 */
.popup_pages .imgCon {
    position: relative;
    width: 1170px;
    height: 768px;
    background: url(../images/suh_0601_01_0000_202_1_1.png) no-repeat;
    background-size: contain;
}
.popup_pages .flex-box {height:100%;align-items:center;justify-content:center}
.popup_pages .flex-box .lineBox {margin:0 8px;width:540px}
.popup_pages .flex-box .lineBox img {width:100%}