.suhi h2+section{padding-left: 0;}
.formula_box > li{display: flex; align-items: center;width: calc(100% / 3);justify-content: inherit;}
.formula_box .bunsuWrap > ul{display:inline-flex;min-width:50px;flex-direction:column;align-items:center;justify-content:center;}
.formula_box.line2{margin-top: 60px;}
.formula_box{display: flex;justify-content: space-evenly;margin-top: 50px;}

.bunsuWrap.separation > ul{min-width: 70px;}
.bunsuWrap.separation li{width:100%;}
.bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.bunsuWrap.separation .toggle{width:100%;}

/* page_1 */
.page_1 .formula_box{margin-top:30px;}
.page_1 .formula_box > li{margin-right: 35px;}
.page_1 .img_box{margin:30px auto 0;width: 100%;}
.page_1 .img_box img{width: 100%;}

/* page_2 */
.page_2 .formula_box{margin-top: 50px; flex-flow: column;align-items: center;}
.page_2 .formula_box > li{margin-bottom: 30px;}
.page_2 .toggle{min-width: initial;}

/* page_3 */
.page_3 .lineBox {width:900px;margin:0 auto;}

/* page_4 */
.page_4 .formula_box{margin-top: 100px;}

/*page_5*/
.page_5 .lineBox { width: 500px; margin: 0 auto; margin-top: 60px; height: 150px; align-items: center; justify-content: space-evenly;} 
.page_5 .lineBox .qBox { width: 100%; } 
.page_5 .toggle{display: inline-flex; align-items: center; justify-content: space-evenly;}
.page_5 .toggle .answer{display: flex; align-items: center;}

/* page_6 */
.page_6 .img_box{margin-top:-25px;}
.page_6 .img_box img{width: 600px;}
.page_6 .card_img{display: flex;flex-flow: row wrap;justify-content: center;}
.page_6 .card_img li{position: relative;margin-right: 30px;}
.page_6 .card_img li:last-child{margin-right: 0;}
.page_6 .card_img li img{width: 60px;}
.page_6 .card_img li span{position: absolute;top: 10px;left: 18px;}
.page_6 .flex-box{margin-top: 20px;}

/* pop_page */
.pop_page_1 .bunsuWrap{display: inline-block;vertical-align: middle;}
.pop_page_2 .bunsuWrap{display: inline-block;vertical-align: middle;}