#wrap header .title:before{top: 20px;}
.pop_page_1 img{margin: 100px auto 0;width: 100%;height: 500px;}
.pop_page_1 .left{top:100px;right: 30px;text-align: center;}
.pop_page_1 .right{top:100px;left: 30px;text-align: center;}

.page_1 h2 > span{margin-top: -10px;}
.page_2 h2 > span{margin-top: -10px;}

.ex-box {display:flex;align-items:center;text-align:justify;}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important;flex-shrink:0}


.page_1 .new-character.circle div:not(.nameBox).charSpriteImg.girl_2{left: 520px;top: 40px;}
.page_1 .new-character.circle div:not(.nameBox).charSpriteImg.boy_4{left: 320px;top: 40px;}


.page_1 .innerTab_2 .balloon.left{right: 0;top: 150px;}
.page_1 .innerTab_2 .balloon.left::after{top: 100px;}
.page_1 .innerTab_2 .balloon.right::after{top: 90px;}
.page_1 .innerTab_2 .balloon.right{left: 0;top: 150px;}
.page_1 .innerTab_2 .flex-box{align-items: center;}
.page_1 .lineBox{font-size: 38px;}
.page_1 .innerTab_2 .toggle{margin-bottom: 3px;}

.bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.flexContainer{display:flex;margin-top:40px;width:100%;height:380px;align-items:flex-start;justify-content:space-between;}
.flexContainer > li{position:relative;display:flex;flex-direction:column;align-items:center;justify-content:flex-start;}
.flexContainer .graph{position:relative;margin-bottom:10px;}
.flexContainer .click-finger-Btn{position:absolute;top:calc(50% - 15px);left:calc(50% - 26px);display:block;}
.flexContainer .click-finger-Btn.complete{display:none;}
.flexContainer .icon_arrow{position:absolute;top:68px;right:-82px;}
.flexContainer .flex-box{align-items:center;}
.flexContainer > li:nth-child(1) .graph{width:400px;height:200px;background:url(../images/suh_0501_05_0007_202_1_01.png) no-repeat center / contain;}
.flexContainer > li:nth-child(1) .graph.on{background:url(../images/suh_0501_05_0007_202_1_1.png) no-repeat center / contain;}
.flexContainer > li:nth-child(2) .graph{width:260px;height:200px;background:url(../images/suh_0501_05_0007_202_1_02.png) no-repeat center / contain;}
.flexContainer > li:nth-child(2) .graph.on{background:url(../images/suh_0501_05_0007_202_1_2.png) no-repeat center / contain;}
.flexContainer > li:nth-child(3) .graph{width:115px;height:200px;background:url(../images/suh_0501_05_0007_202_1_03.png) no-repeat center / contain;}
.flexContainer > li:nth-child(3) .graph.on{background:url(../images/suh_0501_05_0007_202_1_3.png) no-repeat center / contain;}