/* #wrap header .title:before { top:20px; } */
.colorBox.check { display: inline-block; vertical-align: middle; margin: 0; } 
.flex-box { align-items: center; } 
.bullet.exam { margin-top: 8px; } 

h2 .dot { margin: 3px 10px 0 0!important; } 


.basicSlider_slides{height: 460px;}

.bunsuWrap { position:relative; margin:0 5px; } 
.calc { position:absolute; left:50%; font-size:0.7em; color:red; transform:translateX(-50%); } 
.calc:before { position:absolute; left:0; content:""; width:60px; height:3px; background:red; transform:rotatez(-40deg); } 
.calc:nth-child(1) { top:-40px; } 
.calc:nth-child(1):before { left:-15px; bottom:-10px; } 
.calc:nth-child(2) { bottom:-40px; } 
.calc:nth-child(2):before { left:-15px; top:-10px; } 

.bunsuWrap .colorBox { border-radius: 50%; padding: 0 17px; color: #000; } 