#wrap header .title:before{top:20px;}
.colorBox.check{display: inline-block;vertical-align: middle;margin: 0;}
.flex-box{align-items: center;}
.bullet.exam{vertical-align: middle;}

.pop_page_1{align-items: center;}
.pop_page_1 .dot{margin-top: 35px;}