header .title .num_card {display:inline-block;width:45px;height:45px;line-height:44px;text-align:center;background:url('../images/suh_0501_01_0008_206_1.png') no-repeat center/100% 100%;vertical-align:-1px;}

.textAlignC .lineBox {display:inline-block;}
.textAlignC .lineBox .blueBox {color:skyblue;}

.answer_box {display:flex;justify-content:center;margin:40px 0 0;}
.answer_box > div:nth-child(1) {margin:0 50px 0 0;}