.page_1 .lineBox{margin: 0 auto; width:400px; display: flex; justify-content: center; padding:40px}

.page_1 .line-arrow.n1{position: absolute;top: 57px;left: 164px;width: 160px;height: 130px;}
.page_1 .line-arrow.n2{position: absolute; top: 57px; right:164px; width:160px; height: 130px;}

.page_1 .b1{position: absolute; top:0; left:0;}
.page_1 .b2{position: absolute; top:0; right:0;}

.page_1 .colorBox .click-finger-Btn{left: 94%;}


.complete .h1{
    animation-name: sh;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.complete .h2{
    animation-name: sh;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.complete .h3{
    animation-name: sh;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes sh {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.popup_pages .toggle{z-index: 2;position: absolute;top: 170px;left: 610px;background-color: transparent;}
.popup_pages .a1{position: absolute;top: 93px;left: 400px;z-index: 1;}
.popup_pages .a2{margin: 0 auto; width:400px;display: flex;justify-content: center; padding:50px 40px 40px; margin-top:100px;height: 306px;align-items: flex-start;}

.popup_pages .balloon.left:after {
    top: 21px;
}













