.complete_txt {display:none;}
.complete .complete_txt {display:block;}

.page_1 .formula_box {display:flex;justify-content:space-around;}
.page_1 .formula_box .toggle {display:block;background:none;}
.page_1 .formula_box .toggle:after {display:none;}
.page_1 .formula_box .toggle .answer {position:absolute;left:0;top:0;right:0;bottom:0;}
.page_1 .formula_box .toggle .answer:before {display:block;content:"";position:absolute;width:50px;height:50px;background:url("../../common/contents/images/icon/icon_O.png") no-repeat center/100% auto;}
.page_1 .formula_box .formula_line {position:absolute;border:3px solid #00a0ff;}
.page_1 .formula_box .formula_num {position:absolute;line-height:42px;color:#00a0ff;}

.page_1 .formula_box .ex_item.v01 .toggle .answer:before {left:48px;top:50%;transform:translate(0, -50%);}
.page_1 .formula_box .ex_item.v01 .formula_line.v01 {left:40px;top:70px;width:60px;height:20px;border-top:none;}
.page_1 .formula_box .ex_item.v01 .formula_line.v02 {left:72px;top:70px;width:105px;height:80px;border-top:none;border-left:none;}
.page_1 .formula_box .ex_item.v01 .formula_line.v02:after {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.page_1 .formula_box .ex_item.v01 .formula_num.v01 {left:57px;top:95px;}
.page_1 .formula_box .ex_item.v01 .formula_num.v02 {left:108px;top:152px;}

.page_1 .formula_box .ex_item.v02 .toggle .answer:before {left:132px;top:50%;transform:translate(0, -50%);}
.page_1 .formula_box .ex_item.v02 .formula_line.v01 {left:122px;top:70px;width:60px;height:20px;border-top:none;}
.page_1 .formula_box .ex_item.v02 .formula_line.v02 {left:40px;top:70px;width:115px;height:80px;border-top:none;border-right:none;}
.page_1 .formula_box .ex_item.v02 .formula_line.v02:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.page_1 .formula_box .ex_item.v02 .formula_num.v01 {left:141px;top:95px;}
.page_1 .formula_box .ex_item.v02 .formula_num.v02 {left:82px;top:153px;}

.page_2 .bogi_wrap {text-align:center;}
.page_2 .bogi_wrap .bogiContainer {display:inline-block;}
.page_2 .bogi_wrap .bogiContainer .inner {height:220px;}
.page_2 .bogi_wrap .formula_line {position:absolute;border:3px solid #00a0ff;}
.page_2 .bogi_wrap .formula_num {position:absolute;line-height:42px;color:#00a0ff;}

.page_2 .bogi_wrap .toggle .answer:before {left:48px;top:50%;transform:translate(0, -50%);}
.page_2 .bogi_wrap .formula_line.v01 {left:123px;top:90px;width:60px;height:20px;border-top:none;}
.page_2 .bogi_wrap .formula_line.v02 {left:43px;top:90px;width:115px;height:75px;border-top:none;border-right:none;}
.page_2 .bogi_wrap .formula_line.v02:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.page_2 .bogi_wrap .formula_num.v01 {left:142px;top:111px;}
.page_2 .bogi_wrap .formula_num.v02 {left:84px;top:166px;}

.page_2 .toggle.duplicate {position:static;padding:0;background:none;}
.page_2 .toggle.duplicate:after {display:none;}
.page_2 .toggle.duplicate .answer {position:static;padding:0;}

.page_2 .formula_box {display:flex;justify-content:space-around;margin:20px 0 0;}
.page_2 .formula_box .formula_line {position:absolute;border:3px solid #00a0ff;}
.page_2 .formula_box .formula_num {position:absolute;line-height:42px;color:#00a0ff;}
.page_2 .formula_box .ex_item {position:relative;}

.page_2 .formula_box .ex_item.v01 .formula_line.v01 {left:25px;top:70px;width:60px;height:20px;border-top:none;}
.page_2 .formula_box .ex_item.v01 .formula_line.v02 {left:55px;top:70px;width:105px;height:80px;border-top:none;border-left:none;}
.page_2 .formula_box .ex_item.v01 .formula_line.v02:after {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.page_2 .formula_box .ex_item.v01 .formula_num.v01 {left:42px;top:95px;}
.page_2 .formula_box .ex_item.v01 .formula_num.v02 {left:90px;top:152px;}

.page_2 .formula_box .ex_item.v02 .formula_line.v01 {left:107px;top:70px;width:60px;height:20px;border-top:none;}
.page_2 .formula_box .ex_item.v02 .formula_line.v02 {left:20px;top:70px;width:121px;height:80px;border-top:none;border-right:none;}
.page_2 .formula_box .ex_item.v02 .formula_line.v02:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.page_2 .formula_box .ex_item.v02 .formula_num.v01 {left:126px;top:95px;}
.page_2 .formula_box .ex_item.v02 .formula_num.v02 {left:69px;top:153px;}

.page_3 .toggle.duplicate {position:static;padding:0;background:none;}
.page_3 .toggle.duplicate:after {display:none;}
.page_3 .toggle.duplicate .answer {position:static;padding:0;}

.page_3 .formula_box {display:flex;justify-content:space-around;margin:20px 0 0;}
.page_3 .formula_box .formula_line {position:absolute;border:3px solid #00a0ff;}
.page_3 .formula_box .formula_num {position:absolute;line-height:42px;color:#00a0ff;}
.page_3 .formula_box .ex_item {position:relative;}

.page_3 .formula_box .ex_item.v01 .formula_line.v01 {left:16px;top:70px;width:60px;height:20px;border-top:none;}
.page_3 .formula_box .ex_item.v01 .formula_line.v02 {left:48px;top:70px;width:91px;height:80px;border-top:none;border-left:none;}
.page_3 .formula_box .ex_item.v01 .formula_line.v02:after {display:block;content:"";position:absolute;left:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.page_3 .formula_box .ex_item.v01 .formula_num.v01 {left:32px;top:95px;}
.page_3 .formula_box .ex_item.v01 .formula_num.v02 {left:80px;top:152px;}

.page_3 .formula_box .ex_item.v02 .formula_line.v01 {left:95px;top:70px;width:60px;height:20px;border-top:none;}
.page_3 .formula_box .ex_item.v02 .formula_line.v02 {left:20px;top:70px;width:109px;height:80px;border-top:none;border-right:none;}
.page_3 .formula_box .ex_item.v02 .formula_line.v02:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.page_3 .formula_box .ex_item.v02 .formula_num.v01 {left:113px;top:95px;}
.page_3 .formula_box .ex_item.v02 .formula_num.v02 {left:65px;top:153px;}

.page_4 .contentsList {margin: 50px 0 15px;}
.page_4 .contentsList li {display: inline-block;vertical-align:top;}
.page_4 .contentsList>li>.colorBox.check+* {width: auto;}
.page_4 .colorBox.check {display: inline-block;vertical-align: top;padding: 12px 18px;margin-right: 0;}
.page_4 .contentsList li+li {margin-left: 30px;}
.page_4 .contentsList .bunsuContainer {display: inline-block;margin: 0;}
.page_4 .contentsList > li:first-child .complete_txt {position:absolute;top:60px;left:0;}
.contentsBox .page_4 .contentsList > li:first-child .complete .complete_txt {display:block;text-align:left;}

.page_5 .tableContainer.brown table tr td.noborderL:first-child {border-left:none;}
.page_5 .contentsList {margin: 50px 0 15px;}
.page_5 .contentsList li {display: inline-block;vertical-align:top;}
.page_5 .contentsList>li>.colorBox.check+* {width: auto;}
.page_5 .colorBox.check {display: inline-block;vertical-align: top;padding: 12px 18px;margin-right: 0;}
.page_5 .contentsList li+li {margin-left: 30px;}
.page_5 .contentsList .bunsuContainer {display: inline-block;margin: 0;}
.page_5 .contentsList > li:first-child .complete_txt {position:absolute;top:60px;left:0;}
.contentsBox .page_5 .contentsList > li:first-child .complete .complete_txt {display:block;text-align:left;}

.page_6 .lineBox {display:inline-block;}
.page_6 .explan_box {display:flex;align-items:start;flex-shrink:0;margin:40px 0 0;}
.page_6 .explan_box .toggle .answer .bullet {position:absolute;left:10px;top:0px;}
.page_6 .explan_box .toggle .answer {padding-left:60px;text-align:justify;}