.icon_arrow.eff.complete{animation:none;}
.icon_arrow.eff {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}
.oxCheckContainer .grayBox{cursor: pointer;}
.oxCheckContainer>li{cursor: default;}
.popup_pages .flex-wrap{justify-content:space-around; width: 80%; margin:0 auto}

.math_calc_table.type-2{width:150px;}
.math_calc_table .answer{letter-spacing: 29px;}

.page_1 .l2 .flex-wrap{padding-left:70px}
.page_1 .l1 .flex-wrap{padding-left:10px}
.page_1 .l2 .toggle{margin-left:88px}
.page_1 .l1 .toggle{margin-left:30px}

.page_1 .lineBox.sky{padding:30px 40px}
.page_1 .img1{width:30px}
.page_1 .lineBox .flex-wrap{margin:30px 0 0; justify-content: space-around; align-items: center;}
.page_1 .lineBox .flex-wrap img{width:100px}
.page_1 .lineBox .flex-wrap .flex-wrap{justify-content: flex-start;}
.page_1 .lineBox .flex-wrap .flex-wrap > div{margin-right:10px}
.page_1 .complete .icon_arrow{display: none;}
.page_1 .icon_arrow{top:30px; left:0; position: absolute;}
.page_1 .toggle{background-color: transparent; margin:20px 0 40px}
.page_1 .toggle::after{display: none;}
.page_1 .answer{text-align: left;}

.page_2 .lineBox{width:100%; overflow: hidden; padding:20px 40px}
.page_2 .lineBox > div{width:33%; position: relative; display:block; float:left; text-align: center;padding-right: 29px;box-sizing: border-box;}

.page_2 .lineBox > div:nth-child(1),
.page_2 .lineBox > div:nth-child(4){text-align: left;}
.page_2 .lineBox > div:nth-child(3),
.page_2 .lineBox > div:nth-child(6){text-align: right;}
.page_2 .lineBox img{width:160px}

.page_3 .oxCheckContainer{display: flex; justify-content: space-around; margin-top:60px}
.page_3 .oxCheckContainer img{width:260px}
.page_3 .oxCheckContainer .icon{position: absolute; top:50%; left:50%; width:160px; height:160px; margin:-80px 0 0 -80px}

.page_4 h2 {padding-right:230px; box-sizing: border-box;}
.page_4 h2 img{position:absolute; right:0; top:0; width:200px}


.page_4 .img-wrap{position: relative; }
.page_4 .img-wrap img{width:100%;}
.page_4 .img-wrap .bullet{position: absolute; top:40px; line-height: 1.8em !important;}
.page_4 .img-wrap .n1{left: 90px;}
.page_4 .img-wrap .n2{left: 370px;}
.page_4 .img-wrap .n3{left: 670px;}

.page_5 .contentsBox{padding:0; height: 512px;}
.page_5 .toggle{pointer-events: none;}
.page_5 .toggle::after{display: none;}
.page_5 .toggle{background:transparent; padding:0; position:relative; display: block; width: auto; width: 590px; margin:0 auto}
.page_5 .toggle .answer{position: absolute; top:0; left:0;}
.page_5 .toggle img{width:100%}
.page_5 .exam{position: absolute;top: 140px;left: 180px;z-index: 2;}
.page_5 .innerTab_2 .exam{position: absolute;top: 140px;left: 150px;z-index: 2;}

.page_5 .b1{top:0; left: 120px; text-align: center;}
.page_5 .b2{top:0; left: 680px; text-align: center;}

.page_6 .img-wrap{position: relative; width:300px; margin:0 auto 30px;}
.page_6 .img-wrap img{width: 100%;}
.page_6 .flex-wrap{justify-content: center; align-items: center;}

.pop_page_2 li{align-items: center;}
.pop_page_2 img{width:110px; margin-right:20px}
.pop_page_2 .dotList>li:before{margin-top:50px}

.pop_page_3 .bullet{transform: translate(0, 4px);}













