.abs {
    top: -40px !important;
}

.img-01 {
    position: absolute;
    left: 0 !important;
    top: -220px !important;
}
.img-02 {
    position: absolute;
    left: 50px !important;
    top: 0px !important;
}