.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_1_07_05_01/bg.svg); */
    /* background-image: url(../images/01.png); opacity: 1; */
}

.btn-popup-1 {
    position: absolute;
    left: 909px;
    top: 163px;
    z-index: 1;
}

/* 팝업 bg */
.popup-1 > .bg {
    background-image: url(../images/mm_41_1_07_05_01/bg_popup.svg);
    /* background-image: url(../images/01.png); */
}

/* 단위로 비교하기 팝업 */
.box-top-left {
    margin: 80px 0 14px 40px;
}
.box-top-left > .box-01 {
    overflow: hidden;
	background-color: #FFC4BD;
}
.box-top-left > .box-01 > span {
	margin: 0 23px 0 107px;
}
.box-top-left > .box-01::after {
    bottom: -41px;
    left: 22px;
    width: 70px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 110px 100px;
    background-position: center center;
	background-image: url(../images/mm_41_1_07_05_01/chara_01.svg);
}


/* 드래그 퀴즈 */
#pop-quiz-01 .drag-area .area {
    /* drop 영역 위치 확인 */
    /* background: rgba(255, 0, 0, 0.5); */
}
#pop-quiz-01 .drag-item .area {
    /* drag 영역 위치 확인 */
    /* background: rgba(0,255,0,0.5); */
}

#pop-quiz-01 .drag-area {
    left: 50px;
    width: 112px;
    height: 54px;
    background: url(../images/mm_41_1_07_05_01/drag_item_box1.svg) no-repeat;

    margin-top: 10px;
}
#pop-quiz-01 .drag-area:nth-child(1) {
    top: 200px;
}
#pop-quiz-01 .drag-area:nth-child(2) {
    top: 255px;
}
#pop-quiz-01 .drag-area:nth-child(3) {
    top: 310px;
}
#pop-quiz-01 .drag-area:nth-child(4) {
    top: 365px;
}
#pop-quiz-01 .drag-area:nth-child(5) {
    top: 420px;
}
#pop-quiz-01 .drag-area:nth-child(6) {
    top: 475px;
}
#pop-quiz-01 .drag-area:nth-child(7) {
    top: 530px;
}
#pop-quiz-01 .drag-area:nth-child(8) {
    top: 585px;
}

#pop-quiz-01 .drag-item.active {
    pointer-events: none;
}
#pop-quiz-01 .drag-item {
    top: 653px;
    width: 112px;
    height: 54px;
}
#pop-quiz-01 .drag-item[idx='0'] {
    background: url(../images/mm_41_1_07_05_01/drag_item_0001.svg) no-repeat;
}
#pop-quiz-01 .drag-item[idx='1'] {
    background: url(../images/mm_41_1_07_05_01/drag_item_0002.svg) no-repeat;
}
#pop-quiz-01 .drag-item[idx='2'] {
    background: url(../images/mm_41_1_07_05_01/drag_item_0003.svg) no-repeat;
}
#pop-quiz-01 .drag-item[idx='3'] {
    background: url(../images/mm_41_1_07_05_01/drag_item_0004.svg) no-repeat;
}
#pop-quiz-01 .drag-item[idx='4'] {
    background: url(../images/mm_41_1_07_05_01/drag_item_0005.svg) no-repeat;
}
#pop-quiz-01 .drag-item[idx='5'] {
    background: url(../images/mm_41_1_07_05_01/drag_item_0006.svg) no-repeat;
}
/*  
#pop-quiz-01 .drag-item[idx='6'] {
    background: url(../images/mm_41_1_07_05_01/drag_item_0007.svg) no-repeat;
}
#pop-quiz-01 .drag-item[idx='7'] {
    background: url(../images/mm_41_1_07_05_01/drag_item_0008.svg) no-repeat;
}
*/

#pop-quiz-01 .answer-item {
    /* visibility: visible !important; */
    left: 0px;
    width: 1280px;
    height: 55px;
    /* background: url(../images/mm_41_1_07_05_01/answer_0002.svg) no-repeat; */
    margin: 7px 0 0 77px; 
    background-size: contain;
}
#pop-quiz-01 .answer-item:nth-child(1) {
    top: 200px;
}
#pop-quiz-01 .answer-item:nth-child(2) {
    top: 255px;
}
#pop-quiz-01 .answer-item:nth-child(3) {
    top: 310px;
}
#pop-quiz-01 .answer-item:nth-child(4) {
    top: 365px;
}
#pop-quiz-01 .answer-item:nth-child(5) {
    top: 420px;
}
#pop-quiz-01 .answer-item:nth-child(6) {
    top: 475px;
}
#pop-quiz-01 .answer-item:nth-child(7) {
    top: 530px;
}
#pop-quiz-01 .answer-item:nth-child(8) {
    top: 585px;
}
#pop-quiz-01 .answer-item[idx='0'] {
    background: url(../images/mm_41_1_07_05_01/answer_0001.svg) no-repeat;
}
#pop-quiz-01 .answer-item[idx='1'] {
    background: url(../images/mm_41_1_07_05_01/answer_0002.svg) no-repeat;
}
#pop-quiz-01 .answer-item[idx='2'] {
    background: url(../images/mm_41_1_07_05_01/answer_0003.svg) no-repeat;
}
#pop-quiz-01 .answer-item[idx='3'] {
    background: url(../images/mm_41_1_07_05_01/answer_0004.svg) no-repeat;
}
#pop-quiz-01 .answer-item[idx='4'] {
    background: url(../images/mm_41_1_07_05_01/answer_0005.svg) no-repeat;
}
#pop-quiz-01 .answer-item[idx='5'] {
    background: url(../images/mm_41_1_07_05_01/answer_0006.svg) no-repeat;
}
/*  
#pop-quiz-01 .answer-item[idx='6'] {
    background: url(../images/mm_41_1_07_05_01/answer_0007.svg) no-repeat;
}
#pop-quiz-01 .answer-item[idx='7'] {
    background: url(../images/mm_41_1_07_05_01/answer_0008.svg) no-repeat;
}
*/