.content-container > .content > .bg {
    background-image: url(../images/mm_41_1_02_06_01/bg.png);
    /* background-image: url(../images/01.png); opacity: 1; */
}


/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 200px;
    left: 957px;
    top: 558px;
}

/* 숫자 */
#quiz-content-02 .check-item::after {
    content: '1';

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 23px);
    width: 40px;
    height: 40px;

    font-family: "NanumGothicEB";
    font-size: 31px;
    color: #fff;
    
    border-radius: 50%;
    background-color: #009A48;
    opacity: 0;
}
#quiz-content-02 .check-item:nth-child(1)::after { content: '1'; }
#quiz-content-02 .check-item:nth-child(2)::after { content: '2'; }
#quiz-content-02 .check-item:nth-child(3)::after { content: '3'; }
#quiz-content-02 .check-item:nth-child(4)::after { content: '4'; }
#quiz-content-02 .check-item:nth-child(5)::after { content: '5'; }
#quiz-content-02 .check-item:nth-child(6)::after { content: '6'; }
#quiz-content-02 .check-item:nth-child(7)::after { content: '7'; }
#quiz-content-02 .check-item:nth-child(8)::after { content: '8'; }
#quiz-content-02 .check-item:nth-child(9)::after { content: '9'; }

#quiz-content-02 .check-item.active {
    visibility: visible;
}
#quiz-content-02 .check-item.active::after {
    opacity: 1;
}

#quiz-02 .check-item::after {
    background-color: #009A48;
}
#quiz-03 .check-item::after {
    background-color: #327BE5;
}
#quiz-04 .check-item::after {
    background-color: #959595;
}
#quiz-05 .check-item::after {
    background-color: #EE6E32;
}

#quiz-content-02 .check-item {
    position: absolute;
    visibility: hidden;

    /* background-color: rgba(255,0,0,0.5); */
    /* visibility: visible !important; */
}
#quiz-content-02 .check-item.ani {
    visibility: visible;
    animation: ani-flash-01 1s infinite;
}
#quiz-content-02 .check-item.active img {
    visibility: hidden;
}

#quiz-02 .check-item:nth-child(1) {
    left: 140px;
    top: 188px;
}
#quiz-02 .check-item:nth-child(2) {
    left: 127px;
    top: 398px;
}
#quiz-02 .check-item:nth-child(3) {
    left: 574px;
    top: 362px;
}

#quiz-03 .check-item:nth-child(1) {
    left: 517px;
    top: 220px;
}
#quiz-03 .check-item:nth-child(2) {
    left: 960px;
    top: 404px;
}

#quiz-04 .check-item:nth-child(1) {
    left: 384px;
    top: 189px;
}
#quiz-04 .check-item:nth-child(2) {
    left: 419px;
    top: 306px;
}
#quiz-04 .check-item:nth-child(3) {
    left: 804px;
    top: 282px;
}
#quiz-04 .check-item:nth-child(4) {
    left: 922px;
    top: 211px;
}
#quiz-04 .check-item:nth-child(5) {
    left: 1048px;
    top: 310px;
}

#quiz-05 .check-item {
    margin: -2px 0 0 -1px;
}
#quiz-05 .check-item:nth-child(1) {
    left: 226px;
    top: 319px;
}
#quiz-05 .check-item:nth-child(2) {
    left: 387px;
    top: 416px;
}
#quiz-05 .check-item:nth-child(3) {
    left: 497px;
    top: 457px;
}
#quiz-05 .check-item:nth-child(4) {
    left: 780px;
    top: 189px;
}
#quiz-05 .check-item:nth-child(5) {
    left: 814px;
    top: 445px;
}
#quiz-05 .check-item:nth-child(6) {
    left: 922px;
    top: 309px;
}
#quiz-05 .check-item:nth-child(7) {
    left: 1076px;
    top: 199px;
}
