.content-container > .content > .bg {
    background-image: url(../images/mm_41_1_07_03_01/bg.svg);
    /* background-image: url(../images/mm_41_1_07_03_01.png); opacity: 1; */
}

/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: 9px 0 0 1px;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 77px;
    left: 316px;
    top: 434px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 77px;
    left: 469px;
    top: 434px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 77px;
    left: 240px;
    top: 514px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 77px;
    left: 393px;
    top: 514px;
}