.content-container > .content > .bg {
    background-image: url(../images/mm_41_1_06_05_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

#btn-hint-01 {
    left: 1048px;
    top: 190px;
}

/* 예 */
.quiz-01-answer {
    left: 80px;
    top: 276px;
}
.pop-quiz-01-answer {
    left: 108px;
    top: 29px;
}
.pop-quiz-03-answer {
    left: 108px;
    top: 329px;
}
.pop-quiz-05-answer {
    left: 108px;
    top: 629px;
}

/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: 2px 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 130px;
    left: 144px;
    top: 264px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 130px;
    left: 324px;
    top: 264px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 130px;
    left: 684px;
    top: 264px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 130px;
    left: 864px;
    top: 264px;
}

.btn-answer-part:nth-child(1) {
    left: 1000px;
    top: 270px;
}

/* 팝업 입력 퀴즈 */
#pop-quiz-01 .input-cont {
    margin: -244px 0 0 31px;
}
#pop-quiz-01 .input-cont:nth-child(1) {
    width: 130px;
    left: 144px;
    top: 264px;
}
#pop-quiz-01 .input-cont:nth-child(2) {
    width: 130px;
    left: 324px;
    top: 264px;
}
#pop-quiz-01 .input-cont:nth-child(3) {
    width: 130px;
    left: 684px;
    top: 264px;
}
#pop-quiz-01 .input-cont:nth-child(4) {
    width: 130px;
    left: 864px;
    top: 264px;
}

#pop-quiz-03 .input-cont {
    margin: 56px 0 0 31px;
}
#pop-quiz-03 .input-cont:nth-child(1) {
    width: 130px;
    left: 144px;
    top: 264px;
}
#pop-quiz-03 .input-cont:nth-child(2) {
    width: 130px;
    left: 324px;
    top: 264px;
}
#pop-quiz-03 .input-cont:nth-child(3) {
    width: 130px;
    left: 684px;
    top: 264px;
}
#pop-quiz-03 .input-cont:nth-child(4) {
    width: 130px;
    left: 864px;
    top: 264px;
}

#pop-quiz-05 .input-cont {
    margin: 356px 0 0 31px;
}
#pop-quiz-05 .input-cont:nth-child(1) {
    width: 130px;
    left: 144px;
    top: 264px;
}
#pop-quiz-05 .input-cont:nth-child(2) {
    width: 130px;
    left: 324px;
    top: 264px;
}
#pop-quiz-05 .input-cont:nth-child(3) {
    width: 130px;
    left: 684px;
    top: 264px;
}
#pop-quiz-05 .input-cont:nth-child(4) {
    width: 130px;
    left: 864px;
    top: 264px;
}

.popup .btn-answer-part:nth-child(1) {
    left: 1034px;
    top: 26px;
}
.popup .btn-answer-part:nth-child(3) {
    left: 1034px;
    top: 324px;
}
.popup .btn-answer-part:nth-child(5) {
    left: 1034px;
    top: 624px;
}