.content-container > .content > .bg {
    background-image: url(../images/mm_41_1_04_06_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

#btn-audio-01 {
    position: absolute;
    left: 979px;
    top: 472px;
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 460px;
    left: 488px;
    top: 427px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 460px;
    left: 488px;
    top: 517px;
}