.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_1_01_08_01/bg.svg); */
    /* background-image: url(../images/03.png); opacity: 1; */
}

/* 미션 > 선택활동 퀴즈 bg */
.popup-mission.type-quiz > .bg {
    background-image: url(../images/mm_41_1_04_08_01/bg_popup_01.png);
    /* background-image: url(../images/01.png); opacity: 0.5; */
}


/* ---------- 미션 > 선택활동 퀴즈 개별 CSS ---------- */
.title-box {
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
    position: absolute;
    width: 1190px;
    height: 173px;
    top: 236px;

    margin: 0 45px;
    /* border: 5px solid #EEEEEE; */
    border-radius: 10px;

    font-family: "NanumGothicB";
    font-size: 45px;
}
.title-box .title {
    display: flex;
    align-items: center;
}
.title-box .ico-img-01 {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/mm_41_1_04_08_01/img_01.png);
}
.title-box .ico-rect {
    width: 180px;
    height: 78px;
    margin: 0 10px;
    background-color: transparent;
}

/* 드래그 퀴즈 */
#quiz-01 .drag-area .area {
    /* drop 영역 위치 확인 */
    /* background: rgba(255, 0, 0, 0.5); */
}
#quiz-01 .drag-item .area {
    /* drag 영역 위치 확인 */
    /* background: rgba(0,255,0,0.5); */
}

/* 드래그 퀴즈 >> 드래그 아이템 */
#quiz-01 .drag-item {
    width: 180px;
    height: 78px;
    background-color: #0099FF;
    border-radius: 14px;
}
#quiz-01 .drag-item > .text { 
    font-family: "NanumGothicB";
    font-size: 40px;
    color: #FFF;
    line-height: 78px;
    text-align: center;
}
#quiz-01 .drag-item:nth-child(1) {
    left: 300px;
    top: 500px;
}
#quiz-01 .drag-item:nth-child(2) {
    left: 550px;
    top: 500px;
}
#quiz-01 .drag-item:nth-child(3) {
    left: 800px;
    top: 500px;
}


#quiz-01 .drag-area,
#quiz-01 .answer-item {
    width: 180px;
    height: 78px;
    background-color: #EEEEEE;
    border-radius: 14px;
}
#quiz-01 .drag-area:nth-child(1),
#quiz-01 .answer-item:nth-child(1) {
    left: 189px;
    top: 486px;
}
#quiz-01 .drag-area:nth-child(2),
#quiz-01 .answer-item:nth-child(2) {
    left: 509px;
    top: 486px;
}
#quiz-01 .drag-area:nth-child(3),
#quiz-01 .answer-item:nth-child(3) {
    left: 829px;
    top: 486px;
}