
.content-container > .content > .bg {
    background-image: url(../images/mm_41_1_07_06_04/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 120px;
    left: 799px;
    top: 558px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 120px;
    left: 959px;
    top: 558px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 120px;
    left: 1119px;
    top: 558px;
}



/* 미션 > 선택활동 퀴즈 bg ------------------------------------------ */
.popup-mission.type-quiz > .bg {
    background-image: url(../images/mm_41_1_07_select/bg_popup_01.png);
    /* background-image: url(../images/01.png); */
}

/* 미션 > 선택활동 퀴즈 개별 CSS */
.popup-mission.type-quiz .q-box-01 {
    position: absolute;
    top: 10px;
}

#select-quiz-01 .scroll-box {
    top: calc(220px - 20px);
    height: calc(430px + 20px);
}


#select-quiz-01 .img-01 {
    position: absolute;
    left: 822px;
    top: 80px;
}

#select-quiz-01 .answer-box-01 {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    position: absolute;
    left: 823px;
    top: 81px;
    width: 402px;
    height: 180px;
    font-family: "HUNemogulim170";
    font-size: 30px;
    color: #B6B6B6;
}
#select-quiz-01 .answer-box-01.active {
    color: #000000;
    text-align: center;
}

/* ------------ 정답 체크일 때 */
#select-quiz-01 .answer {
    display: none;
}
#select-quiz-01 .answer.show {
    display: block;
    position: absolute;
    left: 54px;
    top: 70px;
    z-index: 1;
}
#select-quiz-01.active .check-list {
    visibility: hidden;
}
#select-quiz-01.active .img-01 {
    visibility: hidden;
}
#select-quiz-01.active .answer-box-01 {
    visibility: hidden;   
}
/* ------------ 정답 체크일 때 */

#select-quiz-01 .check-item {
    position: relative;
    width: 179px;
    height: 179px;

    margin-right: 5px;

    background-repeat: no-repeat;
    background-size: contain;
}

#select-quiz-01 .check-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    position: absolute;
    left: 78px;
    top: 74px;
    width: 800px;
    height: 370px;
}

#select-quiz-01 .check-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
}
#select-quiz-01 .check-item.checked::after {
    opacity: 1;
}
#select-quiz-01 .check-item:nth-child(1)::after { background-image: url(../images/mm_41_1_07_select/text_item_1_0001.png); }
#select-quiz-01 .check-item:nth-child(2)::after { background-image: url(../images/mm_41_1_07_select/text_item_1_0002.png); }
#select-quiz-01 .check-item:nth-child(3)::after { background-image: url(../images/mm_41_1_07_select/text_item_1_0003.png); }
#select-quiz-01 .check-item:nth-child(4)::after { background-image: url(../images/mm_41_1_07_select/text_item_1_0004.png); }
#select-quiz-01 .check-item:nth-child(5)::after { background-image: url(../images/mm_41_1_07_select/text_item_1_0005.png); }
#select-quiz-01 .check-item:nth-child(6)::after { background-image: url(../images/mm_41_1_07_select/text_item_1_0006.png); }
#select-quiz-01 .check-item:nth-child(7)::after { background-image: url(../images/mm_41_1_07_select/text_item_1_0007.png); }
#select-quiz-01 .check-item:nth-child(8)::after { background-image: url(../images/mm_41_1_07_select/text_item_1_0008.png); }

#select-quiz-01 .check-item:nth-child(1) { background-image: url(../images/mm_41_1_07_select/check_item_1_0001.png); }
#select-quiz-01 .check-item:nth-child(2) { background-image: url(../images/mm_41_1_07_select/check_item_1_0002.png); }
#select-quiz-01 .check-item:nth-child(3) { background-image: url(../images/mm_41_1_07_select/check_item_1_0003.png); }
#select-quiz-01 .check-item:nth-child(4) { background-image: url(../images/mm_41_1_07_select/check_item_1_0004.png); }
#select-quiz-01 .check-item:nth-child(5) { background-image: url(../images/mm_41_1_07_select/check_item_1_0005.png); }
#select-quiz-01 .check-item:nth-child(6) { background-image: url(../images/mm_41_1_07_select/check_item_1_0006.png); }
#select-quiz-01 .check-item:nth-child(7) { background-image: url(../images/mm_41_1_07_select/check_item_1_0007.png); }
#select-quiz-01 .check-item:nth-child(8) { background-image: url(../images/mm_41_1_07_select/check_item_1_0008.png); }

#select-quiz-01 .check-item.active:nth-child(1) { background-image: url(../images/mm_41_1_07_select/check_item_2_0001.png); }
#select-quiz-01 .check-item.active:nth-child(2) { background-image: url(../images/mm_41_1_07_select/check_item_2_0002.png); }
#select-quiz-01 .check-item.active:nth-child(3) { background-image: url(../images/mm_41_1_07_select/check_item_2_0003.png); }
#select-quiz-01 .check-item.active:nth-child(4) { background-image: url(../images/mm_41_1_07_select/check_item_2_0004.png); }
#select-quiz-01 .check-item.active:nth-child(5) { background-image: url(../images/mm_41_1_07_select/check_item_2_0005.png); }
#select-quiz-01 .check-item.active:nth-child(6) { background-image: url(../images/mm_41_1_07_select/check_item_2_0006.png); }
#select-quiz-01 .check-item.active:nth-child(7) { background-image: url(../images/mm_41_1_07_select/check_item_2_0007.png); }
#select-quiz-01 .check-item.active:nth-child(8) { background-image: url(../images/mm_41_1_07_select/check_item_2_0008.png); }

#select-quiz-01 .check-item::before {
    visibility: hidden;
    top: -9999px;
    position: absolute;
    content: url(../images/mm_41_1_07_select/check_item_2_0001.png)
            url(../images/mm_41_1_07_select/check_item_2_0002.png)
            url(../images/mm_41_1_07_select/check_item_2_0003.png)
            url(../images/mm_41_1_07_select/check_item_2_0004.png)
            url(../images/mm_41_1_07_select/check_item_2_0005.png)
            url(../images/mm_41_1_07_select/check_item_2_0006.png)
            url(../images/mm_41_1_07_select/check_item_2_0007.png)
            url(../images/mm_41_1_07_select/check_item_2_0008.png);
}
