.content-container > .content > .bg {
    background-image: url(../images/mm_41_1_01_04_01/bg.svg);
    /* background-image: url(../images/mm_41_1_01_04_01.png); opacity: 1; */
}

/* 한 걸음 더 bg */
.popup-more-step > .bg {
    background-image: url(../images/mm_41_1_01_04_01/bg_popup_more.svg);
}

#btn-hint-01 {
    left: 1042px;
    top: 448px;
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    left: 567px;
    top: 256px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 928px;
    top: 256px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 613px;
    top: 356px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 613px;
    top: 431px;
}
#quiz-01 .input-cont:nth-child(5) {
    left: 613px;
    top: 506px;
}
#quiz-01 .input-cont:nth-child(6) {
    left: 613px;
    top: 581px;
}


/* 입력 퀴즈 */
#quiz-02 .input-cont:nth-child(1) {
    width: 200px;
    left: 576px;
    top: 263px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 160px;
    left: 656px;
    top: 337px;
}
#quiz-02 .input-cont:nth-child(3) {
    width: 138px;
    left: 718px;
    top: 411px;
}
#quiz-02 .input-cont:nth-child(4) {
    width: 118px;
    left: 798px;
    top: 483px;
}