.content-container > .content > .bg {
    background-image: url(../images/mm_41_1_04_05_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}


/* 입력 퀴즈 */
#quiz-01 .btn-check {
    margin-top: -27px;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 330px;
    left: 371px;
    top: 328px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 462px;
    left: 741px;
    top: 408px;
}
#quiz-01 .input-cont:nth-child(2) .btn-check,
#quiz-01 .input-cont:nth-child(4) .btn-check {
    margin-right: -8px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 330px;
    left: 371px;
    top: 488px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 462px;
    left: 741px;
    top: 568px;
}