
/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 210px;
    left: 180px;
    top: 491px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 1003px;
    left: 180px;
    top: 571px;
}


/* 입력 퀴즈 - 쌍둥이 문제 1 */
#quiz-02 .input-cont:nth-child(1) {
    width: 210px;
    left: 140px;
    top: 367px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 1003px;
    left: 140px;
    top: 447px;
}

/* 입력 퀴즈 - 쌍둥이 문제 2 */
#quiz-03 .input-cont:nth-child(1) {
    width: 210px;
    left: 140px;
    top: 367px;
}
#quiz-03 .input-cont:nth-child(2) {
    width: 1003px;
    left: 140px;
    top: 447px;
}