.content-container > .content > .bg {
    background-image: url(../images/mm_41_1_03_04_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}


/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 220px;
    left: 546px;
    top: 570px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 220px;
    left: 818px;
    top: 570px;
}