header .title .popBtn.textInBtn.inline {top:8px;margin-left:20px}

.ex-box {display:flex}
.ex-box .bullet.exam {flex-shrink:0}

.quiz-content .title {display:block;margin-bottom:30px;font-weight:bold;text-align:center}
.quiz-content h3 {display:block;margin-bottom:10px;text-align:center}
.quiz-content p {font-size:36px;text-align:justify}

.innerTab_1 .quiz-content {height:100%;padding:80px 100px;box-sizing:border-box;background:url(../images/suh_0601_06_0010_201_1_1.png) no-repeat left top / 100% auto}
.innerTab_1 .quiz-content .img-box {margin-top:30px;text-align:center}
.innerTab_1 .quiz-content .img-box img {height:280px}

.innerTab_2 .quiz-content {margin-top:-20px;padding:60px 100px 80px;box-sizing:border-box;background:url(../images/suh_0601_06_0010_201_1_1.png) no-repeat left bottom / 100% auto}
.innerTab_2 .quiz-content .lineBox {padding:40px}
