.contentsBox section{padding:0;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

#wrap header .title {margin:30px 0 55px;}
header .title .popBtn.textInBtn.inline {position:absolute;right:20px;top:50px;}

.page_1 .contentsList > li {display:block;}
.page_1 .contentsList > li .toggle {display:block;}
.page_1 .contentsList > li .toggle + .toggle {margin:10px 0 0;}

.page_3_1 .contentsList > li {display:block;margin:10px 0 0;}
.page_3_1 .contentsList > li:first-child {margin:0;}
.page_3_1 .contentsList > li .dot {margin-top:22px;}
.page_3_1 .contentsList > li .symbol_num {vertical-align:4px;}
.page_3_2 section {padding:0 0 0 25px;}
.page_3_2 section .dapCheckBtn {z-index:2;}
.page_3 .dapCheckBtn {z-index:2;}

.popup_container .pop_page_1 .contentsList {padding:50px 0 0;}
.popup_container .pop_page_1 .contentsList > li {display:block;margin:40px 0 0;}
.popup_container .pop_page_1 .contentsList > li:first-child {margin:0;}
.popup_container .pop_page_1 .contentsList > li .colorBox {display:block;width:135px;text-align:center;}
.popup_container .pop_page_1 .contentsList > li .bunsuContainer {margin:10px 0 0;}
.popup_container .pop_page_1 .question_box {display:flex;justify-content:space-between;}
.popup_container .pop_page_1 .question_box .item_case {display:flex;justify-content:center;box-sizing:border-box;width:355px;height:345px;text-align:justify;padding:20px 40px 25px;font-size:40px;background:url('../images/1.png') no-repeat center / 100% 100%;}
.popup_container .pop_page_1 .question_box .item_case span {text-align:justify;}
.popup_container .pop_page_1 .question_box .item_case:last-child {background-image:url('../images/2.png');}
.popup_container .pop_page_1 .formula_box {display:flex;justify-content:space-between;}
.popup_container .pop_page_1 .formula_box .item_case {display:flex;align-items:center;justify-content:center;box-sizing:border-box;width:360px;height:140px;padding:20px 10px;font-size:40px;background:url('../images/3.png') no-repeat center / 100% 100%;}
.popup_container .pop_page_1 .formula_box .item_case span {padding:8px 0 0;text-align:justify;letter-spacing:-1.5px;}

.popup_container .guide_txt{text-align:center;word-break:keep-all;}
.popup_pages>li.whole.on {z-index:4;}
.popup_container .speech.popup_1 {top:475px;left:215px;}
.popup_container .speech.popup_1 .guide_txt{width:200px;}
.popup_container .speech.popup_2 {top:475px;left:565px;}
.popup_container .speech.popup_2 .guide_txt{width:250px;}
.popup_container .speech.popup_3 {top:475px;left:680px;}
.popup_container .speech.popup_3 .guide_txt {width:250px;}
.popup_container .popup_pages>li.speech.popup_3.on:after {right:20px;}