.contentsList > li {display:block;margin:10px 0 0;}
.contentsList > li:first-child {margin:0;}
.contentsList > li .colorBox {display:block;width:135px;text-align:center;}
.contentsList > li .bunsuContainer {margin:10px 0 0;}


.question_box {display:flex;justify-content:space-between;}
.question_box .item_case {display:flex;justify-content:center;box-sizing:border-box;width:325px;height:255px;text-align:justify;padding:15px 30px 25px;font-size:35px;background:url('../images/1.png') no-repeat center / 100% 100%;}
.question_box .item_case span {text-align:justify;}
.question_box .item_case:last-child {background-image:url('../images/2.png');}

.formula_box {display:flex;justify-content:space-between;}
.formula_box .item_case {display:flex;align-items:center;justify-content:center;box-sizing:border-box;width:325px;height:120px;padding:20px 20px;font-size:35px;background:url('../images/3.png') no-repeat center / 100% 100%;}
.formula_box .item_case span {text-align:justify;}