.icon_way {
	position: relative;
	display: inline-block;
	height: 36px;
	padding:0 10px;
	color:#000;
	text-align: center;
	border-radius: 10px;
	background-color: #d4f3f6;
	box-sizing: border-box;
    font-family: YGJAL;
    font-size: 21px;
    line-height: 36px;
}
h2 .icon_way,h3 .icon_way {
    margin: 5px 0 0 0;
    vertical-align: 7px;
}
.wayContainer {
    position: relative;
    margin: 0 auto;
    min-width: 230px;
    padding: 4px;
    background-color: #d4f3f6;
    border-radius: 15px;
    box-sizing: border-box
}
.wayContainer .icon_way {
    position: absolute;
    top: 0;
    left: 0;
	height:28px;
	font-size: 15px;
    line-height: 28px;
	border-radius: 10px 0;
}
.wayContainer .inner {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    pointer-events: auto
}
.toggle .answer .icon_way {vertical-align:middle;}

.contentsBox section{padding:0;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

header .title .textInBtn.inline {top:4px;}
/* header .title .supply_guide.inline {vertical-align:4px;} */

.divide_box {display:inline-flex;align-items:start;}
.divide_box .row span {display:block;width:60px;height:48px;text-align:center;}
.divide_box .row span {border-bottom:3px solid #000;}
.divide_box .row span:last-child {border-bottom:none;}
.divide_box .row.integer span {width:auto;padding:0 5px 0 0;}
.divide_box .row.integer span {border-bottom:none;}
.divide_box .row.integer + .row {position:relative;}
.divide_box .row.integer + .row:after {display:block;content:")";position:absolute;left:-3px;top:0;width:5px;height:45px;}

.toggle_formula_box .row_case {display:flex;justify-content:space-around;margin:20px 0 0;align-items: center;}
.toggle_formula_box .row_case:first-child {margin:0;}

.page_1 .speechBox {display:flex;align-items:center;justify-content:center;margin:20px 0 0;}
.page_1 .speechBox .characterImg {position:relative;margin:0 30px 0 0;}
.page_1 .speechBox .balloon {position:relative;}

.page_4 .page_4_1,
.page_4 .page_4_2  {position:relative;padding:0 350px 0 0;}
.page_4 .page_4_1 .speechBox,
.page_4 .page_4_2 .speechBox {position:absolute;right:0;top:-40px;width:300px;}
.page_4 .page_4_1 .speechBox .balloon,
.page_4 .page_4_2 .speechBox .balloon {position:relative;width:100%;}
.page_4 .page_4_1 .speechBox .characterImg,
.page_4 .page_4_2 .speechBox .characterImg {display:block;position:relative;margin:30px auto 0;}
.page_4 .ex_box {letter-spacing:-1px;}
.page_4 .way_wrap .ex_box .txt_color {color:#e94d40;}
.page_4 .way_wrap .ex_box .txt_color2 {color:#107ce9;}
.page_4 .way_wrap .ex_box .txt_color3 {color:green;}
.page_4 .way_wrap .ex_box .colorBox {line-height:inherit;padding:0 10px}
.page_4 .page_4_1 .ex01 {display:flex;}
.page_4 .page_4_1 .ex01 p {margin:0 50px 0 0;}
.page_4 .page_4_1 .ex01 p:last-child {margin:0;}
.page_4 .page_4_1 .ex02 {margin:40px 0 0;}
.page_4 .page_4_2 .ex02 {margin:40px 0 0;}
.page_4 .page_4_3 .textAlignC + .textAlignC {margin:20px 0 0;}

