header .title .popBtn.textInBtn.inline {position:relative;top:4px}


.ex-box {display:flex;align-items:center;text-align:justify;}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important;flex-shrink:0}

.full-img {display:flex;align-items:center;height:100%}
.full-img img {width:100%;height:100%;object-fit:contain}
.full-img .balloon {top: 25px;right: 100px;}


.img-answer {width:620px;height:234px;position:relative;margin:0 40px}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;background:url("./images/suh_0501_04_0002_201_1.jpg") no-repeat 50% 50% / 100%;opacity:0;transition:opacity 1s}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {z-index:2;opacity:1}
.box-flex {display:flex;justify-content:center;align-items:center;margin-top:60px}


figure{position:relative;}
figure .single{position:absolute;top:-107px;left:-119px;}
figure .balloon{position:absolute;top:54px;left:146px;}


.page_4 .colorBox{display: inline-block;}
.page_4 .toggle{background-color: #f6e7d4;padding: initial;}
