.box-flex {display:flex}

.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important}

.tableContainer .toggle {width:100%;background-color:transparent}

[class*='img-box-'] {position:relative;margin:0 auto}
[class*='img-box-'] img {display:block;width:100%}
[class*='img-box-'] .txt-item {position:absolute;z-index:1}
[class*='img-box-'] .toggle {position:absolute;bottom:0;left:0;padding:0;background-color:transparent}
[class*='img-box-'] .toggle::after {display:none}
[class*='img-box-'] .toggle .answer {background-color:#fff}

.quiz-content {margin-top:20px}
.quiz-content dl {display:flex}
.quiz-content dl ~ dl {margin-top:20px}
.quiz-content dt {margin-right:10px}
.quiz-content dl.full {flex-direction:column}
.quiz-content dl.full dt {margin-bottom:10px}
.quiz-content .colorBox {display:inline-block}
.quiz-content .toggle {vertical-align:top}

.page_1 .box-flex {justify-content:space-between;align-items:flex-end}
.page_1 .box-flex .tableContainer {width:720px;margin:0}
.page_1 .box-flex .tableContainer table {width:100%}
.page_1 .lineBox {margin:0 auto 20px;width:400px;text-align:center}
.page_1 .tableContainer .label {margin-bottom:-10px;padding:10px;text-align:left}
.page_1 .tableContainer img,
.page_1 .tableUnit img {height:100px}
.page_1 .tableUnit .unit {display:flex;justify-content:space-around;align-items:center}
.page_1 .tableUnit .unit > div {width:110px;text-align:center}
.page_1 .tableUnit .unit img {margin-right:20px}

.page_2 .lineBox {margin:0 auto 20px;width:400px;text-align:center}
.page_2 .tableContainer .toggle {height:94px;display:flex;align-items:center;justify-content:center}

.page_3 .lineBox {margin:0 auto 20px;width:400px;text-align:center}
.page_3 .img-box-1 {width:800px}
.page_3 .img-box-1 .txt-item {font-size:36px}
.page_3 .img-box-1 .txt-item.n1 {top:5px;left:5px;font-size:35px}
.page_3 .img-box-1 .txt-item.n2 {top:90px;left:80px;font-size:35px}
.page_3 .img-box-1 .txt-item.n3 {top:215px;left:115px;font-size:35px}
.page_3 .img-box-1 .txt-item.n4 {top:258px;left:5px;font-size:24px}
.page_3 .img-box-1 .txt-item.n5 {top:285px;left:97px;font-size:24px}
.page_3 .img-box-1 .txt-item.n6 {top:265px;left:177px}
.page_3 .img-box-1 .txt-item.n7 {top:265px;left:311px;letter-spacing:-1px}
.page_3 .img-box-1 .txt-item.n8 {top:265px;left:520px}
.page_3 .img-box-1 .txt-item.n9 {top:265px;left:667px}

.page_4 .lineBox {margin:0 auto 20px;width:400px;text-align:center}
.page_4 .img-box-2 {width:1007px;margin-top:60px}
.page_4 .img-box-2 .txt-item {font-size:36px}
.page_4 .img-box-2 .txt-item.num {font-size:35px;white-space:nowrap;letter-spacing:-2px}
.page_4 .img-box-2 .txt-item.n1 {top:-40px;left:-3px}
.page_4 .img-box-2 .txt-item.n2 {top:-40px;left:85px}
.page_4 .img-box-2 .txt-item.n3 {top:-40px;left:185px}
.page_4 .img-box-2 .txt-item.n4 {top:-40px;left:285px}
.page_4 .img-box-2 .txt-item.n5 {top:-40px;left:385px}
.page_4 .img-box-2 .txt-item.n6 {top:-40px;left:485px}
.page_4 .img-box-2 .txt-item.n7 {top:-40px;left:585px}
.page_4 .img-box-2 .txt-item.n8 {top:-40px;left:685px}
.page_4 .img-box-2 .txt-item.n9 {top:-40px;left:785px}
.page_4 .img-box-2 .txt-item.n10 {top:-40px;left:885px}
.page_4 .img-box-2 .txt-item.n11 {top:-40px;left:950px}
.page_4 .img-box-2 .txt-item.n12 {top:40px;left:120px}
.page_4 .img-box-2 .txt-item.n13 {top:40px;left:420px}
.page_4 .img-box-2 .txt-item.n14 {top:40px;left:698px}
.page_4 .img-box-2 .txt-item.n15 {top:40px;left:872px}

.page_5 .lineBox {margin:0 auto 20px;width:400px;text-align:center}
.page_5 .img-box-3 {width:350px;margin-top:40px}
.page_5 .img-box-3 .txt-item {white-space:nowrap}
.page_5 .img-box-3 .txt-item.num {font-size:35px}
.page_5 .img-box-3 .txt-item.n1 {top:-40px;left:165px}
.page_5 .img-box-3 .txt-item.n2 {top:150px;left:355px}
.page_5 .img-box-3 .txt-item.n3 {bottom:-40px;left:155px}
.page_5 .img-box-3 .txt-item.n4 {top:150px;left:-45px}
.page_5 .img-box-3 .txt-item.n5 {top:90px;left:195px}
.page_5 .img-box-3 .txt-item.n6 {top:232px;left:90px;letter-spacing:-1px}
.page_5 .img-box-3 .txt-item.n7 {top:120px;left:20px;letter-spacing:-1px}
.page_5 .img-box-3 .txt-item.n8 {top:20px;left:65px;letter-spacing:-2px}

.page_6 .box-flex {display:flex;align-items:flex-start;margin-bottom:10px}

.popup_pages .pop_page_1.solve {width:1060px}
.popup_pages .pop_page_1 .contentList > li {display:flex}
.popup_pages .pop_page_1 .contentList > li ~ li {margin-top:30px}
