.ex-box {display:flex;align-items:center;text-align:justify;}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important;flex-shrink:0}


.page_1 .flex-box{align-items: center;justify-content: space-evenly;}


/* .innerTab_1 .flex-box > li{align-items: center;justify-content: space-evenly;} */
.innerTab_1 .img_box{position: relative;}
.innerTab_1 .img_box img{width:400px;}
.innerTab_1 .img_box .text_box{position:absolute;top: 0;left:0;}
.innerTab_1 .img_box .text_box li{}
.innerTab_1 .img_box .text_box .contentsList{align-items: center;justify-content: space-evenly;flex-flow:row wrap;}
.innerTab_1 .img_box .text_box .contentsList > li{width: 50%;}

.innerTab_2 .flex-box > li img{width:400px;}
