
@charset "utf-8";


.basicSlider_slides > li  {
  padding: 20px 50px;
}

fomula.vertical {
  width: 470px;
  margin: 0 auto;
}

.flexBox {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.flexBox > * {
  margin-right: 20px;
}
.flexBox .read {
  margin-left: 30px;
}

.arrow.pink.right {
  margin-right: 20px;
}
.arrow.pink.right:after {
  animation: none;
}


.answer bunsu > .bar {
  background-color: #0060e3;
}

/* page1 */
.page1 .toggleObj[data-toggle-obj="1"] {
  top: 73px;
  left: 240px;
  width: 56px;
  height: 104px;
}
.page1 .toggleObj[data-toggle-obj="2"] {
  top: 94px;
  left: 464px;
  width: 166px;
}


/* page2 */
.page2 .toggleObj[data-toggle-obj="1"] {
  top: 46px;
  left: 90px;
  width: 84px;
}
.page2 .toggleObj[data-toggle-obj="2"] {
  top: 126px;
  left: 616px;
  width: 92px;
}
.page2 .toggleObj[data-toggle-obj="3"] {
  top: 366px;
  left: 616px;
  width: 92px;
}


.imageBox {
  position: absolute;
  top: 130px;
  width: 100%;
  height: 300px;
  background: url(../images/6_2/6_2_6_01.svg) center / contain no-repeat;
}
.imageBox > span {
  position: absolute;
  left: 568px;
}
.imageBox > span[data-toggle-target="2"] { top: 0; }
.imageBox > span[data-toggle-target="3"] { top: 236px; }