
@charset "utf-8";


section  {
  padding: 20px 50px;
}

.imageBox {
  width: 100%;
  height: 190px;
  margin-bottom: 10px;
  background: url(../images/6_3/6_3_7_01.svg) center / contain no-repeat;
}

fomula.vertical {
  width: 470px;
  margin: 0 auto;
}

.flexBox {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.flexBox > * {
  margin-right: 20px;
}

.arrow.pink.right {
  margin: 0 20px;
}
.arrow.pink.right:after {
  animation: none;
}


.answer bunsu > .bar {
  background-color: #0060e3;
}
.answer bunsu {
  margin-left: 20px;
}

.toggleObj[data-toggle-obj="1"] {
  top: 9px;
  left: 490px;
  width: 56px;
  height: 104px;
}
.toggleObj[data-toggle-obj="2"] {
  top: 9px;
  left: 630px;
  width: 56px;
  height: 104px;
}

.list.dot > li {
  margin-bottom: -20px;
}