
@charset "utf-8";



.basicSlider_slides > li {
  padding: 20px 50px;
  box-sizing: border-box;
}


.image_1 {
  height: 270px;
  background: url(../images/6_1/6_1_5_01.svg) center / contain no-repeat;
  margin-top: 35px;
}
.image_2 {
  height: 250px;
  background: url(../images/6_1/6_1_5_02.svg) center / contain no-repeat;
}


.clickButton[data-click-obj="1"] {
  left: 518px;
  top: -10px;
}
.clickButton[data-click-obj="2"] {
  left: 676px;
  top: -10px;
}