
@charset "utf-8";


ul.list.dot {
  margin-bottom: 10px;
}
.list.dot > li:before {
  top: 0.7em;
}

li > img {
  height: 90px;
  vertical-align: middle;
  margin: 0 4px;
}

.imageBox {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
}
.imageBox > .image {
  width: 200px;
  height: 100%;
  margin: 0 40px;
}

.arrow {
  position: absolute;
  top: 150px;
}
.arrow[data-toggle-obj="1"] { left: 446px; }
.arrow[data-toggle-obj="2"] { left: 726px; }



/* page1 */
.page1 .imageBox > .image_1 {
  background: url(../images/6_2/6_2_3_01.png) center / contain no-repeat;
}
.page1 .imageBox > .image_2 {
  background: url(../images/6_2/6_2_3_02.png) center / contain no-repeat;
}

.imgShareBox {
  position: relative;
  width: 200px;
  height: 100%;
  margin: 0 40px;
}
.imgShareBox > div {
  position: absolute;
  top: 0px;
  left: 0px;
}
.page1 .imageBox > .imgShareBox > .image_3_1 {
  width: 200px;
    height: 100%;
  background: url(../images/6_2/6_2_3_03_1.png) center / contain no-repeat;
}
.page1 .imageBox > .imgShareBox > .image_3_2 {
  width: 200px;
    height: 100%;
  background: url(../images/6_2/6_2_3_03_2.png) center / contain no-repeat;
}
.page1 .clickButton {
  top: 64px;
  left: 80px;
  z-index: 1;
}
.clickButton.complete + .image_3_1 {
  transform: scale(1.2);
}

/* page2 */
.page2 .imageBox > .image_1 {
  background: url(../images/6_2/6_2_3_01.png) center / contain no-repeat;
}
.page2 .imageBox > .image_2 {
  background: url(../images/6_2/6_2_3_02_1.png) center / contain no-repeat;
}
.page2 .imageBox > .imgShareBox > .image_3_1 {
  width: 200px;
    height: 100%;
  background: url(../images/6_2/6_2_3_05.png) center / contain no-repeat;
}
.page2 .imageBox > .imgShareBox > .image_3_2 {
  width: 200px;
    height: 100%;
  background: url(../images/6_2/6_2_3_06.png) center / contain no-repeat;
}
.page2 li input {
  display: inline-block;
  width: 90px;
  text-align: center;
  vertical-align: middle;
}
.page2 .clickButton {
  top: 64px;
  left: 80px;
  z-index: 1;
}