
@charset "utf-8";


input {
  display: inline-block;
  width: 90px;
  text-align: center;
  vertical-align: middle;
}

bunsu > span.bar {
  margin-top: 4px;
  margin-bottom: 4px;
}


.imageBox {
  width: 440px;
  height: 480px;
  margin-left: 120px;
}

.quizContainer {
  position: absolute;
  top: 110px;
  left: 670px;
}
.quizContainer > div:nth-of-type(2) {
  margin-top: 30px;
}

.read + input {
  width: 220px;
  margin-left: 8px;
}


/* page1 */
.page1 .imageBox {
  background: url(../images/6_2/6_2_7_01.svg) center / auto no-repeat;
}
/* page2 */
.page2 .imageBox {
  background: url(../images/6_2/6_2_7_02.svg) center / auto no-repeat;
}
/* page3 */
.page3 .imageBox {
  background: url(../images/6_2/6_2_7_03.svg) center / auto no-repeat;
}