
@charset "utf-8";


.act .contentsArea > h1 {
  word-break: break-all;
}
h1 img {
  vertical-align: middle;
  height: 90px;
}

ul.list.dot {
  margin-bottom: 10px;
}
.list.dot > li:first-child {
  line-height: 1.8;
}
.list.dot > li:first-child:before {
  position: absolute;
  top: 0.8em;
}

li > img {
  vertical-align: middle;
  height: 90px;
  margin: 0 4px;
}

input {
  display: inline-block;
  width: 90px;
  text-align: center;
  vertical-align: middle;
}

bunsu > span.bar {
  margin-top: 4px;
  margin-bottom: 4px;
}

ul.list.dot > li:nth-of-type(2):before {
  top: 68px;
}