
@charset "utf-8";



section {
  background: url(../images/6_3/6_3_4_01.svg) center / auto 550px no-repeat;;
}


.quizContainer {
  position: absolute;
  top: 90px;
  left: 398px;
}
.quizContainer > p {
  margin: 0 0 20px 177px;
}