
@charset "utf-8";

.act .contentsArea > h1 symbol,
.act .contentsArea > h1 ins.mathSymbols {
  top: 0px;
  margin: 0 0px 0 4px;
}
/* .sign_circle.complete symbol.on[data-answer] {
  display: block;
  background-image: url(../../include/math/images/mathSymbols_blue.svg);
}
.sign_circle symbol.on {
  display: block;
}
.sign_circle.complete symbol.on {
  display: none;
} */
.displayN { display: none; }
.circle {
  position: relative;
  top: 26px;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #008dd0;
  box-sizing: border-box;
  margin: 0 30px;
}
ins.circle {
  position: relative;
  top: 10px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 0px;
  cursor: default;
}
.quizImg_bg {
  height: 250px;
  margin-left: 70px;
}
.quizContainer .areaFlex {
  position: relative;
  top: 240px;
  left: 80px;
  width: 1170px;
}
.left, .right { width: 50%; }
.left {
  margin-right: 50px;
}
flex > img {
  height: 230px;
  margin-left: 20px;
}
.areaFlex .quiz {
  text-align: center;
}
.sign_circle { top: 25px; }


.imgQuiz_1 {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 260px;
  height: 230px;
}
.imgQuiz_2 {
  position: absolute;
  top: 0px;
  left: 380px;
  width: 260px;
  height: 230px;
}
.imgQuiz_3 {
  position: absolute;
  top: 0px;
  left: 720px;
  width: 230px;
  height: 230px;
}
.imgQuiz_4 {
  position: absolute;
  top: 0px;
  left: 980px;
  width: 230px;
  height: 230px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center center / auto no-repeat;
  opacity: 0;
  visibility: hidden;
}
.image.on {
  opacity: 1;
  visibility: visible;
}

img[usemap] {
  position: absolute;
}

[class*="imgQuiz_"] img {
  position: absolute;
  top: 0;
  left: 0;
  height: 230px;
  z-index: 1;
  pointer-events: none;
}
[class*="imgQuiz_"] svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 230px;
}
svg [data-svg-obj] {
  cursor: pointer;
}
svg [data-svg-obj].pointerOff {
  pointer-events: none !important;
}
svg [data-svg-target]{
  fill: transparent !important;
  opacity: 1;
  visibility: visible;
}
.imgQuiz_1 svg  [data-svg-target].on,
.imgQuiz_2 svg  [data-svg-target].on {
  fill: #CFE5AE !important;
}
.imgQuiz_3 svg  [data-svg-target].on,
.imgQuiz_4 svg  [data-svg-target].on {
  fill: #A7C7E9 !important;
}
.imgQuiz_1 img {
  position: absolute;
  height: 230px;
  z-index: 1;
  pointer-events: none;
}
/*!* quiz_1 *!*/
/*.imgQuiz_1 .image[data-click-target="1"],*/
/*.imgQuiz_2 .image[data-click-target="7"] {*/
/*  background-image: url(../images/6_4/6_4_6_01_01.svg);*/
/*}*/
/*.imgQuiz_1 .image[data-click-target="2"],*/
/*.imgQuiz_2 .image[data-click-target="8"] {*/
/*  background-image: url(../images/6_4/6_4_6_01_02.svg);*/
/*}*/
/*.imgQuiz_1 .image[data-click-target="3"],*/
/*.imgQuiz_2 .image[data-click-target="9"] {*/
/*  background-image: url(../images/6_4/6_4_6_01_03.svg);*/
/*}*/
/*.imgQuiz_1 .image[data-click-target="4"],*/
/*.imgQuiz_2 .image[data-click-target="10"] {*/
/*  background-image: url(../images/6_4/6_4_6_01_04.svg);*/
/*}*/
/*.imgQuiz_1 .image[data-click-target="5"],*/
/*.imgQuiz_2 .image[data-click-target="11"] {*/
/*  background-image: url(../images/6_4/6_4_6_01_05.svg);*/
/*}*/
/*.imgQuiz_1 .image[data-click-target="6"],*/
/*.imgQuiz_2 .image[data-click-target="12"] {*/
/*  background-image: url(../images/6_4/6_4_6_01_06.svg);*/
/*}*/

/*!* quiz_2 *!*/
/*.imgQuiz_3 .image[data-click-target="13"],*/
/*.imgQuiz_4 .image[data-click-target="20"] {*/
/*  background-image: url(../images/6_4/6_4_6_02_01.svg);*/
/*}*/
/*.imgQuiz_3 .image[data-click-target="14"],*/
/*.imgQuiz_4 .image[data-click-target="21"] {*/
/*  background-image: url(../images/6_4/6_4_6_02_02.svg);*/
/*}*/
/*.imgQuiz_3 .image[data-click-target="15"],*/
/*.imgQuiz_4 .image[data-click-target="22"] {*/
/*  background-image: url(../images/6_4/6_4_6_02_03.svg);*/
/*}*/
/*.imgQuiz_3 .image[data-click-target="16"],*/
/*.imgQuiz_4 .image[data-click-target="23"] {*/
/*  background-image: url(../images/6_4/6_4_6_02_04.svg);*/
/*}*/
/*.imgQuiz_3 .image[data-click-target="17"],*/
/*.imgQuiz_4 .image[data-click-target="24"] {*/
/*  background-image: url(../images/6_4/6_4_6_02_05.svg);*/
/*}*/
/*.imgQuiz_3 .image[data-click-target="18"],*/
/*.imgQuiz_4 .image[data-click-target="25"] {*/
/*  background-image: url(../images/6_4/6_4_6_02_06.svg);*/
/*}*/
/*.imgQuiz_3 .image[data-click-target="19"],*/
/*.imgQuiz_4 .image[data-click-target="26"] {*/
/*  background-image: url(../images/6_4/6_4_6_02_07.svg);*/
/*}*/

.pop_1 {
  top: 97px;
  left: 198px;
}
.pop_2 {
  top: 97px;
  left: 797px;
}


/* 3차 검수서 수정 */
.left .quiz {
  padding-left: 24px;
}
.left .quiz .sign_circle {
  margin: 0 69px;
}
.right .quiz {
  padding-left: 0px;
}
.right .quiz .sign_circle {
  margin: 0 57px;
}


ins.exam {
  position: absolute;
  top: 0;
  left: 60px;
  display: none;
}
ins.exam.on {
  display: block;
}