
@charset "utf-8";


ul.list.dot {
  margin-bottom: 10px;
}

.supplies {
  top: -76px;
  right: 0px;
  z-index: 1;
}


/* page1 */
.page1 .imagebox {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 140px;
  left: 40px;
  width: 810px;
  height: 325px;
  background: url(../images/6_4/6_4_3_01.svg) center / contain no-repeat;
}
.dragContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dropArea {
  position: absolute;
  width: 115px;
  height: 115px;
  /* outline: 1px solid red; */
} 
.dropArea.noDrop {
  width: 0px;
  height: 0px;
} 
.dropArea[data-drop-area-answer="1"] {
  top: 48px;
  left: 111px;
}
.dropArea[data-drop-area-answer="2"] {
  top: 48px;
  left: 225px;
}
.dropArea[data-drop-area-answer="3"] {
  top: 162px;  
  left: 111px;
}
.dropArea[data-drop-area-answer="4"] {
  top: 162px;
  left: 225px;
}

.dropArea[data-drop-area-answer="5"] {
  top: 48px;
  left: 470px;
}
.dropArea[data-drop-area-answer="6"] {
  top: 48px;
  left: 584px;
}
.dropArea[data-drop-area-answer="7"] {
  top: 162px;  
  left: 470px;
}
.dropArea[data-drop-area-answer="8"] {
  top: 162px;
  left: 584px;
}

.dragBox {
  position: absolute;
  top: 0px;
  right: 70px;
  width: 260px;
  height: 520px;
}
.dragObj {
  width: 115px;
  height: 115px;
}
.dragObj[data-drag-obj-answer="1"] {
  top: 10px;
  left: 10px;
  background: url(../images/6_4/6_4_3_drag_01.svg) center / contain no-repeat;
}
.dragObj[data-drag-obj-answer="2"] {
  top: 10px;
  right: 10px;
  background: url(../images/6_4/6_4_3_drag_02.svg) center / contain no-repeat;
}
.dragObj[data-drag-obj-answer="3"] {
  left: 10px;
  top: 135px;
  background: url(../images/6_4/6_4_3_drag_03.svg) center / contain no-repeat;
}
.dragObj[data-drag-obj-answer="4"] {
  right: 10px;
  top: 135px;
  background: url(../images/6_4/6_4_3_drag_04.svg) center / contain no-repeat;
}

.dragObj[data-drag-obj-answer="5"] {
  top: 270px;
  left: 10px;
  background: url(../images/6_4/6_4_3_drag_01.svg) center / contain no-repeat;
}
.dragObj[data-drag-obj-answer="6"] {
  top: 270px;
  right: 10px;
  background: url(../images/6_4/6_4_3_drag_02.svg) center / contain no-repeat;
}
.dragObj[data-drag-obj-answer="7"] {
  left: 10px;
  top: 395px;
  background: url(../images/6_4/6_4_3_drag_03.svg) center / contain no-repeat;
}
.dragObj[data-drag-obj-answer="8"] {
  right: 10px;
  top: 395px;
  background: url(../images/6_4/6_4_3_drag_04.svg) center / contain no-repeat;
}
.dragBox .dragObj.dragObjComplete {
  opacity: .3;
}

.dropArea .dragObj {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  z-index: -1;
}


ins.exam {
  display: none;
  top: 147px;
  left: 250px;
}
ins.exam.exam_1 {
  top: 147px;
  left: -16px;
}
ins.exam.on {
  display: block;
}


/* page2 */
.page2 bunsu input {
  width: 90px;
  text-align: center;
}
.page2 flex {
  align-items: flex-start;
}
.page2 flex > div:first-child {
  width: 720px;
  margin: 0 90px 0 0px;
}
.page2 .img_01 {
  width: 380px;
}

/* page3 */
.page3 bunsu input {
  width: 90px;
  text-align: center;
}
.page3 flex {
  align-items: flex-start;
}
.page3 flex > div:first-child {
  width: 720px;
  margin: 0 90px 0 0px;
}
.page3 .img_01 {
  width: 380px;
}

/* page4 */
.page4 .inputQuizContainer,
.page5 .inputQuizContainer {
  padding-left: 40px;
  margin-top: 10px;
  box-sizing: border-box;
}


.page2 input.inlineBox,
.page3 input.inlineBox {
  width: 150px;
  margin-right: 5px;
}