
@charset "utf-8";

.act .contentsArea > h1 symbol,
.act .contentsArea > h1 ins.mathSymbols {
  margin-right: 0px;
}
.circle {
  position: relative;
  top: 26px;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #008dd0;
  box-sizing: border-box;
  margin: 0 30px;
}
ins.circle {
  position: relative;
  top: 10px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 0px;
  cursor: default;
}
.img_01 {
  position: absolute;
  height: 156px;
  top: 93px;
  left: 70px;
}
.act .contentsArea > h1 symbol,
.act .contentsArea > h1 ins.mathSymbols {
  top: 0px;
  margin: 0 0 0 4px;
}
.sign_circle {
  top: 22px;
  margin: 0 5px;
  background-color: #fff;
}
/* flex {
  position: relative;
  top: 100px;
} */
[class *= 'quiz_'] {
  position: absolute;
  top: 100px;
}
.quiz_1 {
  left: 100px;
}
.quiz_2 {
  left: 540px;
}
.quiz_3 {
  left: 985px;
}


.signPop {
  top: -100px;
  left: 4px;
}
/* 
.sign_circle symbol.on {
  display: block;
}
.sign_circle.complete symbol.on {
  display: none;
}
.sign_circle.complete symbol.on[data-answer] {
  display: block;
  background-image: url(../../include/math/images/mathSymbols_blue.svg);
} */

.displayN { display: none; }