
@charset "utf-8";

.inputQuizContainer {
  padding-left: 40px;
  margin-top: 10px;
  box-sizing: border-box;
}

/* page1 */
.img_01 {
  margin-left: 60px;
  margin-top: 154px;
  width: 1160px;
}

bunsu {
  position: absolute;
  top: 100px;
}
.bunsu_1 {
  left: 240px;
}
.bunsu_2 {
  left: 910px;
}

input[class *= 'input_'] {
  position: absolute;
  top: 300px;
  width: 100px;
  text-align: center;
}
.input_1 {
  left: 580px;
}
.input_2 {
  left: 805px;
}