
@charset "utf-8";

.promise .contentsArea > section {
  padding: 15px 15px 0;
}

ul.list > li {
  margin-bottom: 0px;
}

.toggleObj[data-toggle-obj="1"] {
  top: 1px;
  left: 574px;
  width: 88px;
}
.toggleObj[data-toggle-obj="2"] {
  top: 1px;
  left: 932px;
  width: 129px;
}