
@charset "utf-8";



.toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 436px;
  width: 80px;
}
.toggleObj[data-toggle-obj="2"] {
  top: 87px;
  left: 364px;
  width: 80px;
}
.toggleObj[data-toggle-obj="3"] {
  top: 175px;
  left: 413px;
  width: 80px;
}
.toggleObj[data-toggle-obj="4"] {
  top: 265px;
  left: 324px;
  width: 80px;
}

.toggleAnswer {
  width: 80px;
  text-align: center;
}

input.inlineBox {
  width: 120px;
}