
@charset "utf-8";


ul.list > li {
  margin-bottom: 0px;
}

.list.dot > li .toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 466px;
  width: 67px;
}
.list.dot > li .toggleObj[data-toggle-obj="2"] {
  top: 0;
  left: 684px;
  width: 151px;
}