
@charset "utf-8";

/* .inputQuizContainer {
  padding-left: 40px;
  margin-top: 10px;
  box-sizing: border-box;
} */

.img_01 {
  height: 200px;
}

.clickButton.exclamation {
  position: absolute;
  top: -30px;
  left: 710px;
}

[data-popup-page="1"] .img_01 {
  height: 500px;
  margin: 60px auto;
}

input.inlineBox {
  width: 120px;
  margin-right: 5px;
}