
@charset "utf-8";

.inputQuizContainer {
  padding-left: 40px;
  margin-top: 10px;
  box-sizing: border-box;
}

.img_01 {
  margin: 10px 0px 20px 60px;
  height: 210px;
}

.page1 input {
  width: 150px;
  margin-left: 20px;
}
.page1 .input_2 {
  width: 190px;
}
.page1 ins.space {
  padding: 0 40px;
}

.page2 input.inlineBox {
  width: 150px;
  margin-right: 5px;
}