
@charset "utf-8";

.inputQuizContainer {
  padding-left: 40px;
  margin-top: 10px;
  box-sizing: border-box;
}

/* page1 */
.img_01 {
  margin: 40px 0 80px 88px;
  width: 1130px;
}
.img_02 {
  margin-left: 88px;
  margin-top: 80px;
  width: 1130px;
}

input {
  position: absolute;
  width: 120px;
  text-align: center;
}
.input_1 {
  top: 0px;
  left: 310px;
}
.input_2 {
  top: 140px;
  left: 585px;
}
.input_3 {
  top: 295px;
  left: 570px;
}
.input_4 {
  top: 440px;
  left: 1054px;
}
.input_5 {
  top: 213px;
  left: 233px;
  width: 180px;
}
.input_6 {
  top: 458px;
  left: 233px;
  width: 180px;
}

[data-quiz="toggle"] {
  position: absolute;
  top: 0;
  left: 0;
}
ins.read {
  position: absolute;
  left: 100px;
}
.read_1 {
  top: 220px;
}
.read_2 {
  top: 464px;
}
/* .clickButton[data-toggle-obj="1"] {
  top: 194px;
  left: 708px;
}
.clickButton[data-toggle-obj="2"] {
  top: 418px;
  left: 880px;
} */

/* [data-toggle-target="1"] {
  position: absolute;
  top: 221px;
  left: 735px;
  width: 160px;
}
[data-toggle-target="2"] {
  position: absolute;
  top: 446px;
  left: 750px;
  width: 160px;
} */