
@charset "utf-8";
.act .contentsArea > h1 {
  word-break: break-all;
  letter-spacing: -4px;
}
.pointOff { pointer-events: none; }

.imageBox {
  width: 1060px;
  height: 150px;
}



/* page0 */
.page0 {
  background: url(../images/6_8/6_8_4_01.svg) center -20px/auto 100% no-repeat, url(../images/6_8/6_8_4_01.png) center -20px/auto 100% no-repeat;
}
.page0 .balloonText {
  position: absolute;
  top: 27px;
  left: 231px;
}


/* page1 */
.page1 .imageBox {
  position: relative;
  margin: 0 auto;
  pointer-events: none;
}

.page1 .imageBox:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.page1 .imageBox.box_1:after {
  background: url(../images/6_8/6_8_4_02.svg) center / contain no-repeat;
}
.page1 .imageBox.box_1 > .clickObj.complete {
  background-color: #D7E7AF;
}
.page1 .imageBox.box_2:after {
  background: url(../images/6_8/6_8_4_03.svg) center / contain no-repeat;
}
.page1 .imageBox.box_2 > .clickObj.complete {
  background-color: #FAD09E;
}

.page1 .drawLine {
  left: 272px;
  width: 880px;
  height: 150px;
}
.page1 .drawLine.line_1 {
  top: 74px;
}
.page1 .drawLine.line_2 {
  top: 223px;
}
.page1 .dragObj {
  left: -13px;
}
.page1 .drawLine .resetButton {
  right: -50px;
  top: 54px;
}

.page1 .induceLight {
  top: 114px;
  left: 238px;
}
.page1 .induceLight.light_2 { top: 264px; }

.page1 .pointerOff .dragObj {
  pointer-events: none;
}





/* page2 */
.page2 .imageBox {
  width: 940px;
  margin-left: 70px;
  margin-top: 0px;
}
.page2 .imageBox_1 {
  background: url(../images/6_8/6_8_4_04.svg) center / 100% auto no-repeat;
}
.page2 .imageBox_2 {
  background: url(../images/6_8/6_8_4_05.svg) center / 100% auto no-repeat;
}
.page2 .inputBox {
  position: absolute;
  right: 0;
  width: 230px;
  text-align: center;
}
.page2 .inputBox input {
  width: 120px;
  margin-right: 5px;
}
.page2 .inputBox.box_1 { top: 115px; }
.page2 .inputBox.box_2 { top: 265px; }



/* page4 */
.page4 .imageBox.image_1 {
  height: 120px;
  margin: 0 auto;
  background: url(../images/6_8/6_8_4_04.svg) center / contain no-repeat;
}
.page4 .imageBox.image_2 {
  height: 150px;
  margin: 0 auto;
  background: url(../images/6_8/6_8_4_05.svg) center / contain no-repeat;
}




/* page5 */
.page5 .imageBox.dragBox {
  width: 276px;
  height: 268px;
  background: url(../images/6_8/6_8_4_06.svg) center / contain no-repeat, url(../images/6_8/6_8_4_06.png) center / contain no-repeat;
  border-width: 3px;
  margin: 0 auto 10px;
}
.page5 .dragBox.right:before {
  right: -52px;
}
.page5 .dragBox.right:after {
  top: 16px;
  right: -48px;
}
.page5 .colorBox {
  position: relative;
  margin: 0 auto;
  width: 1080px;
  height: 70px;
  padding: 5px 10px;
  box-sizing: border-box;
}
.page5 .dropArea {
  position: relative;
}
.page5 .dropArea.blue {
  color: #0060e3;
}
.page5 .dragObj {
  left: 21px;
  width: 234px;
}
.page5 .dragBox .dragObj {}
.page5 .dragBox .dragObj img {
  pointer-events: none;
  width: 100%;
}
.page5 .dragBox .dragObj span {
  display: none;
}
.page5 .dragObj[data-index="1"] {
  top: 184px;
}
.page5 .dragObj[data-index="2"] {
  top: 220px;
}

.page5 .dropArea .dragObj {
  position: static;
  width: 100%;
  height: 100%;
}
.page5 .dropArea .dragObj span {
  display: block;
}
.page5 .dropArea .dragObj img {
  display: none;
}

/* page6 */
/* .page6 textarea {
  height: 270px;
} */
/* .page6 textarea.answerMode, .page6 input.answerMode {
  color: transparent;
  background-image: none;
} */
.page6 .displayN {
  display: none;
}
.page6 .answerText {
  position: absolute;
  top: 79px;
  left: 106px;
  width: 1098px;
  color: #0060e3
}
.page6 .answerText .list li { margin-bottom: 0;}