
@charset "utf-8";


h2 {
    word-break: normal;
    letter-spacing: -4px;
}



h2 .icon.icon_o {
    top: 9px;
}
.imgBox {
    width:100%;
    height:100%;
    background:url(../images/6_10/6_10_5_1.png) center 50% / 1080px 442px no-repeat
}
.oxObj {
    cursor: pointer;
}
.complete .oxObj {
    pointer-events: none;
}
.oxObj .icon {
    opacity: 0;
}
.oxObj[data-toggle-obj="1"] {
    left: 490px;
    top: 93px;
}
.oxObj[data-toggle-obj="2"] {
    left: 623px;
    top: 58px;
}
.oxObj[data-toggle-obj="3"] {
    left: 744px;
    top: 92px;
}
.oxObj[data-toggle-obj="4"] {
    left: 862px;
    top: 93px;
}
.oxObj[data-toggle-obj="5"] {
    left: 995px;
    top: 60px;
}

.txtBox {
    position: absolute;
    top: 128px;
    left: 134px;
}
.txtBox .i2 .inputBox {
    margin-bottom: 18px; 
    background-color:#fff; 
}


bunsu.i2 > span.bar {
    width: calc(100% + -8px);
}

.oxObj {
    position: absolute;
    width: 100px;
    height: 100px;
}

.complete .oxObj:not([data-answer]) .icon.on,
.complete .oxObj:not([data-answer]) .icon {
    opacity: 0;
}
.displayN {display: none;}