
@charset "utf-8";

.dragBox {
    left:70px;
    width:1080px;
    height:198px;
    margin-top:50px;
    background:url(../images/6_10/6_10_01_1.svg) center / 950px 122px no-repeat
}

.colorBox {
    position:relative;
    margin:0 auto;
    width:1080px;
    height:115px;
    padding-left:50px;
    margin-top:50px;
    box-sizing: border-box;
}
.dropArea {
    position:relative;
    padding-top: 20px;
}
.dropArea.blue {
    color: #0060e3;
}
.dragObj {
    top:28px;
}
.dragObj[data-index="1"] {
    left:35px;
}
.dragObj[data-index="2"] {
    left:330px;
}
.dragObj[data-index="3"] {
    left:570px;
}
.dragObj[data-index="4"] {
    left:810px;
}

.dropArea .dragObj.dragObjComplete {
    display: none;
}