
@charset "utf-8";

h2 {
    word-break: normal;
    letter-spacing: 0;
}

h2 .sign_circle {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 0;
    vertical-align: middle;
}


.fns_imgBox {
    position:relative;
    width:100%;
    text-align:center;
    margin-top:110px;
}
.contentsArea > section {
    flex-wrap: nowrap;
    flex-direction: row;
}
.quizWrap {
    width:33.33%;
    position:relative;
    text-align:center;
    background-color:#fff;
}
.quizWrap .quiz {
    position:relative;
    margin-top:150px;
}
.quizWrap .signPop {
    left:50%;
    margin-left:-93px;
    top:55px;
}



h2 symbol {
    margin: 0 0px;
}

.sign_circle {
    vertical-align: middle;
}

.displayN { display: none; }