
@charset "utf-8";

h1 {
    display:block !important;
    padding-left:0 !important;
}
h1::before {
    display:none !important;
    
}
h1 span {
    display:inline-block;
    color:#dc623d;
    margin-right: 15px;
}
.imgBox {
    width:100%;
    height:287px;
    background:url(../images/6_10/6_10_8_1.png) center 50% / 800px 287px no-repeat
}
.inputBox {
    text-align:center;
    margin-top:20px;
}
input {
    width:100px;
    display:inline-block;
    text-align:center;
}
