
@charset "utf-8";

.finish.quiz .contentsArea h2 {
  word-wrap: break-all;
}

/* page1 */
.page1 .stick {
  display: inline-block;
  width: 80px;
  height: 15px;
  background-color: #F0C279;
  vertical-align: middle;
}
.page1 .img_01 {
  position: relative;
  top: 0;
  left: 88px;
  width: 1052px;
}
.page1 .drawContainer.draw_1 {
  position: absolute;
  top: 60px;
  left: 269px;
  width: 836px;
  height: 25px;
}
.page1 .drawContainer.draw_2 {
  position: absolute;
  top: 225px;
  left: 268px;
  width: 836px;
  height: 25px;
}
.drawLine {
  width: 100%;
  height: 100%;
}
.page1 .induceLight {
  position: absolute;
  top: -25px;
  left: -38px;
  width: 74px;
  height: 74px;
  pointer-events: none;
}
.page1 .drawLine > .resetButton {
  bottom: -7px;
  right: -90px;
}
.page1 .draw_1 .dragObj[data-index="1"] {
  top: -13px;
  left: -27px;
}
.page1 .draw_2 .dragObj[data-index="2"] {
  top: -13px;
  left: -27px;
}

.page1 .clickObj .on {
  background-color:#d7e4bd;
}

.quizWrap {
  position:absolute;
  width:100%;
  bottom:0;
}

.quizWrap .quiz {
  position: absolute;
  bottom: 18px;
  left: 523px;
  text-align: center;
}

.quizWrap .signPop {
  top: -205px;
  left: 519px;
}

.quizWrap .quiz .sign_circle {
  vertical-align: middle;
  margin: 0 0px;
  background-color: #fff;
}

.tx1 {
  position: absolute;
  top: 33px;
  left: 120px;
  font-size: 40px;
}
.tx2 {
  position: absolute;
  top: 197px;
  left: 120px;
  font-size: 40px;
}

.displayN { display: none; }