
@charset "utf-8";

.table .title,
.table .subTitle {
  text-align: center;
  font-size: 32px;
}

.balloonText {
  position: absolute;
  font-family: MapleStoryL;
  text-align: center;
}

img {
    vertical-align:middle;
}

.powerup .basicSlider[data-slide-container="inner"] .basicSlider_btn.prev {
    left:170px
}
.powerup .basicSlider[data-slide-container="inner"] .basicSlider_btn.next {
    right:170px
}

/* 1 page */

/* 2 page */
.page2 .clickButton {
    top: 15px;
    left: 288px;
}

.page2 .pwu_exCont {
  position: relative;
  text-align:center;
  margin-top:10px;
}

.lineBox {
    display:block;
    position: relative;
    width: 510px;
    height:430px;
    margin: 0 auto;
    padding:20px;
    text-align:left;
    border:6px solid #a8d069;
    border-radius: 5px;
  }
.lineBox > p {
    width: 87%;
    padding-left: 60px;
    word-break: break-all;
    font-size: 43px;
}
.pwu_number {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
}

.lineBox.cont2 {border-color:#f9bc56}
.lineBox.cont3 {border-color:#f19bb5}
.lineBox.cont4 {border-color:#71afe0}

.lineBox.cont4 .balloonText {
    top: 38px;
    left: 198px;
    line-height: 1.1;
}

.lineBox.cont4 bunsu > span.bar {
    height: 2px;
    margin: -4px 0 -4px 1px;
}
/* 3 page */
.pwu_page3Img {
    position: absolute;
    left: 50%;
    bottom: 33px;
    padding: 55px 0 0 92px;
    box-sizing: border-box;
    transform: translateX(-50%);
    width: 1200px;
    height: 470px;
    background: url(../images/6_powerup/6_powerup_page3_bg.svg) center / contain no-repeat;
}
.page3 ins.exam {
    position: absolute;
    top: 154px;
    left: 370px;
}

ul.list > li {
    font-size:40px;
}

/* 4 page */
.pwu_page4Img {
    position: absolute;
    left: 50%;
    bottom: 33px;
    padding: 55px 0 0 92px;
    box-sizing: border-box;
    transform: translateX(-50%);
    width: 1200px;
    height: 470px;
    background: url(../images/6_powerup/6_powerup_page3_bg.svg) center / contain no-repeat;
}

/* add */
.page3 .flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px 0 0 45px;
    width: 980px;
}
.page3 .flagImage {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 421px;
    height: 325px;
    padding: 36px 14px 35px 34px;
    margin: 22px auto 0;
    background: url(../images/6_powerup/6_powerup_page3_image.svg) center/contain no-repeat;
    box-sizing: border-box;
}
.page3 canvas {
    position: absolute;
    /* outline: 1px solid orangered; */
    top: 163px;
    left: 468px;
    width: 378px;
    height: 260px;
}
.page3 .drawBtn {
    top: 150px;
    left: 865px;
}
.page3 .pen_tool {
    left: 877px;
    top: 321.8px;
}
.page3 img.img_01 {
    position: absolute;
    top: 164px;
    left: 465px;
    width: 381px;
}
.page3 .dragResetButton {
    bottom: 76px;
    right: 311px;
}
.page3 .quizButtons  {
    bottom: 68px;
    right: 35px;
}
.flagImage .clickContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border: 2px dashed #92ceff;
    border-right: none;
    border-bottom: none;
    box-sizing: border-box;
}
.flagImage .clickContainer > div {
    flex: 0 1 auto;
    width: calc(100% / 12);
    height: calc(100% / 8);
    border-right: 2px dashed #92ceff;
    border-bottom: 2px dashed #92ceff;
    box-sizing: border-box;
    cursor: pointer;
}
.flagImage .clickContainer > div.on.pink {background-color:#f4a2f4}
.flagImage .clickContainer > div.on.blue {background-color:#57a8ea}
.flagImage .clickContainer > div.on.green {background-color:#8bd15d}
.flagImage .clickContainer > div.on.orange {background-color:#e88842}
.flagImage .clickContainer > div.on.purple {background-color:#4c2a77}
.btnWrap {
    position: relative;
    width: 468px;
    height: 130px;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 30px 37px;
    box-sizing: border-box;
}
.btnWrap > div {
    display:inline-block;
    width:70px;
    height:70px;
    border-radius: 10px;
    vertical-align:middle;
    cursor: pointer;
    box-sizing:border-box;
}
.btnWrap > .complete {
    display:inline-block !important;
}

.btnWrap > .btn1 {background-color:#f4a2f4}
.btnWrap > .btn2 {background-color:#57a8ea}
.btnWrap > .btn3 {background-color:#8bd15d}
.btnWrap > .btn4 {background-color:#e88842}
.btnWrap > .btn5 {background-color:#4c2a77}

.btnWrap > .btn1.on {border:10px solid #e47bef}
.btnWrap > .btn2.on {border:10px solid #80bced}
.btnWrap > .btn3.on {border:10px solid #a7dd84}
.btnWrap > .btn4.on {border:10px solid #e3a578}
.btnWrap > .btn5.on {border:10px solid #604d78}


.page4 .flagImage {
    position: relative;
    width: 421px;
    height: 325px;
    margin: 22px auto 0;
    padding: 36px 14px 35px 34px;
    background: url(../images/6_powerup/6_powerup_page3_image.svg) center/contain no-repeat;
    box-sizing: border-box;
    pointer-events: none;
}

.page4 .quizButtons.answer  {
    bottom: 68px;
    right: 35px;
}

.supplies {
    right: 0; 
  } 
ins.draw {
    width: 500px;
    top: 148px;
    right: 84px;
}
ins.draw:after {
    content:'색을 선택 후에, 모눈종이 영역을 선택하면 색이 칠해집니다.'
}
