.balloon:hover {border-color: #999;}
.balloon:hover::after {border-top-color: #999;}

.colorBox {display: inline-block; position: absolute; z-index:2}

.popBtn .name1-1 {bottom: 15px; left: 100px; transform: scale(85%);}
.popBtn .name1-2 {bottom: 15px; left: 300px; transform: scale(85%);}

.b1-1{top: 3px;left: -35px;z-index: 3;width: 370px; transform: scale(85%);text-align: center;}
.b1-1::after{left:25% !important}

.b2-1::after{left:25% !important}
.b2-1{top: 308px;left: -34px;z-index: 3;width: 354px; transform: scale(85%);text-align: center;}
.b2-2::after{left:75% !important}
.b2-2{top: -5px;left: 125px;z-index: 3;width: 402px; transform: scale(85%);text-align: center;}

.popup_pages .name1-1 {bottom: 15px; left: 20%;}
.popup_pages .name1-2 {bottom: 15px; right: 10%;}
.popup_pages .pop_page_3 .name1-2 {right: 15%;}

.popup_pages .b1-1::after{left:50% !important;}
.popup_pages .b1-1{top: 180px;left: 42px;z-index: 2;width: 478px;}
.popup_pages .txt{position: absolute;top: 414px;left: 7px;z-index: 1;text-align: center;font-size: 19px;}

.popup_pages .b2-1::after{left:50% !important;}
.popup_pages .b2-1{top: 190px;left: 22px;z-index: 2;width: 420px;}
.popup_pages .b2-2::after{top:100% !important;}
.popup_pages .b2-2{top: 135px;left: 652px;z-index: 2;width: 420px;}
