.operator{display:inline-block;padding:0 2px;vertical-align:middle;}
.flex-center {display:flex;align-items:center;justify-content:center;}
.d-ib {display: inline-block;}
.va-m{vertical-align:middle}
.mr_100 {margin-right: 100px;}
.mr_200 {margin-right: 200px;}
.mr_300 {margin-right: 300px;}
.solve .contentsList>li {align-items:center;}
.solve .contentsList>li .operator {align-self:center;}
.solve .contentsList>li .dot {margin-top:0;align-self: center;}
.solve .contentsList>li ins+*:not(.bullet) {width:auto;text-align:left}
.checkContainer h2 .blankBox{margin-top:5px}
.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
.lineBox .bullet.number,
h2 .bullet.number{margin-top:5px;}
.contentsList .icon_arrow{margin:0 10px;}
.contentsList .icon_arrow.big{margin:30px 10px 0 0;}
.page_2 figure {width:100%}
.page_2 figure img {width:100%; height: 190px;}
.ex2-labels {display:flex;width:100%;align-items:center;justify-content:space-between;}
.ex2-val-1,
.ex2-val-2 {position: absolute;}
.ex2-val-1 {top:81%;left:17%;}
.ex2-val-2 {top:81%;left:56%;}
.ex4-labels {display:flex;width:100%;align-items:center;justify-content:space-between;}
.page_4 figure {width:100%}
.page_4 figure img {width:100%; height: 160px;}
.page_5 .tableContainer {width:460px}
.pop_page_10 .blankBox {vertical-align: middle;}
.pop_page_10 .icon_arrow {vertical-align: middle;}
.solve .icon_o_title {margin:0 10px; font-size:20px;}

#wrap.checkContainer .contentsBox {
    padding-top: 30px;
}

.popup_pages .solve .popup_contents {
    vertical-align: middle;
}