.operator {display:inline-block;padding: 0 2px;vertical-align: middle;}
.flex-center {display:flex;align-items:center;justify-content:center;}
h2 .bunsuWrap {margin-top:-14px;}
.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}

.colorBox {display: inline-block; position: absolute; z-index:2}

.btn_1.zoomBtn{background: url(../images/suh_h_0402_01_0002_102_1_1.png) no-repeat center / contain; width:100%; height: 500px;}
.btn_2.zoomBtn{background: url(../images/suh_h_0402_01_0002_102_1_2.png) no-repeat center / contain; width:100%; height: 500px;}

.page_1 .popBtn.textInBtn.eye {position:relative;display:inline-block;vertical-align:middle;}
.page_1 figure img {width: 100%;}
.page_1 .flex-item {flex: 1 1 auto;}
.page_1 .flex-item.n1 {position:relative;width:937px;max-width:none}
.page_1 .flex-item.n1 .click-finger-Btn {position:absolute;top:55%;left:62%;}
.click-finger-Btn.complete {display: none;}
.page_1 .flex-item.n1 .ex1-label {position:absolute;top:36%;left:11%;}
.page_1 .flex-item.n1 .toggle.noBg {position:absolute;top:0;left:0;}
.page_1 .flex-item.n1 .toggle.noBg::after{display:none;}
.page_1 .flex-item.n2 .figureUL > li {height: 188px;}
.page_1 .flex-item.n2 .bunsuWrap ul > li:first-of-type {padding-bottom:4px;margin-bottom:4px;}

.page_3 .flex-center .colorBox {position: relative;}

.page_5 .flex-center .bunsuWrap .toggle {margin-bottom:4px;}

.b1-1{text-align: center;}
.b1-2{text-align: center;}
.b1-3{text-align: center;}

.popup_pages .name1-1 {bottom: 10%; left: 5%;}
.popup_pages .name1-2 {bottom: 10%; left: 40%;}
.popup_pages .name2-1 {bottom: 10%; left: 55%;}
.popup_pages .name2-2 {bottom: 10%; right: 4%;}
.popup_pages .pop_page_3 .name1-2 {right: 15%;}

.popup_pages .b1-1::after{left:20% !important;}
.popup_pages .b1-1{top: 115px;left: 5px;z-index: 2;width: 378px;}
.popup_pages .b1-2::after{left:65% !important;}
.popup_pages .b1-2{top: 139px;left: 507px;z-index: 2;width: 268px;}
.popup_pages .b1-3::after{top:100% !important;}
.popup_pages .b1-3{top: 62px;left: 805px;z-index: 2;width: 364px;}

.popup_pages > li.image {justify-content: center;}