@charset "utf-8";

.eye.popBtn {
    transform: translate(0, 3px);
}
.popup_container {z-index:5}
.popup_pages>li.whole.pop_page_1 .popup_contents{
    padding:0;
    background-color: #c6c6e0;
}

.page_1 .contentsBox{padding:0;}
.page_1 .answer{text-align:justify !important}
.page_1 .colorBox{display: table; margin:30px 0 10px;}
.tit-wrap{width:600px;height:220px;background: url(../images/suh_h_0301_02_0008_201_2_1.png) no-repeat 0 0 / 100%; padding:43px 0 0 130px; position: relative; box-sizing: border-box; margin: 0 auto;}
.tit-wrap b{position: absolute; top:42px; left:56px;}

.page_1 .toggle.box {justify-content: flex-start; text-align: left; align-items: flex-start;}

.page_2 .tit{display: flex; align-items: flex-start; margin-bottom:30px}
.page_2 .num{min-width:60px; min-height: 60px; background:url(../images/suh_h_0301_06_0010_201_2/suh_h_0301_06_0010_201_2_1_1.png) no-repeat 0 0/ 100%; display: flex; justify-content: center; align-items: center;line-height: 1;padding-bottom: 3px;box-sizing: border-box; margin-right:20px}

.page_2 .innerTab_1 .num{background:url(../images/suh_h_0301_06_0010_201_2/suh_h_0301_06_0010_201_2_1_1.png) no-repeat 0 0/ 100%;}
.page_2 .innerTab_2 .num{background:url(../images/suh_h_0301_06_0010_201_2/suh_h_0301_06_0010_201_2_2_1.png) no-repeat 0 0/ 100%;}
.page_2 .innerTab_3 .num{background:url(../images/suh_h_0301_06_0010_201_2/suh_h_0301_06_0010_201_2_3_1.png) no-repeat 0 0/ 100%;}
.page_2 .innerTab_4 .num{background:url(../images/suh_h_0301_06_0010_201_2/suh_h_0301_06_0010_201_2_4_1.png) no-repeat 0 0/ 100%;}

.page_2 .blinkOn.blinkOpacity{top: 41%; left: 45%;}
.page_2 .lineBox{height: 430px; width: 800px;margin: 0 auto;}



.page_2 .innerTab_1 .toggle{background-color: transparent; padding: 0; width:980px;margin: 0 auto;display: block;height: 260px;}
.page_2 .innerTab_1 .toggle .answer {text-align:center}
.page_2 .innerTab_1 .toggle::after{display: none;}
.page_2 .innerTab_1 .toggle img{height: 100%;}
.page_2 .innerTab_1 .toggle.complete .click-finger-Btn {display: none;}
.page_2 .innerTab_1 .toggle table{position: absolute; top:0; left:0; margin:0 30px; width:calc(100% - 60px); font-weight:400; color:#222; font-family: NotoM;}
.page_2 .innerTab_1 .toggle .row1 td{height: 160px;}
.page_2 .innerTab_1 .toggle .row2 td{height: 80px;}
.page_2 .innerTab_1 .toggle .tb{vertical-align: bottom;}
.page_2 .innerTab_1 .toggle table td:nth-child(1){width:270px}
.page_2 .innerTab_1 .toggle .ts{font-size:20px}


.page_2 .innerTab_2 .toggle{background-color: transparent; padding: 0; width:980px;margin: 0 auto;display: block;height: 260px;}
.page_2 .innerTab_2 .toggle .answer {text-align:center}
.page_2 .innerTab_2 .toggle::after{display: none;}
.page_2 .innerTab_2 .toggle img{height: 100%;}
.page_2 .innerTab_2 .toggle .txt{position:absolute; color:#222; font-family: NotoM; font-weight: 400;}
.page_2 .innerTab_2 .toggle .txt.n1{top: 25px;left: 269px;}
.page_2 .innerTab_2 .toggle .txt.n2{top: 25px;left: 585px;}
.page_2 .innerTab_2 .toggle .txt.n3{top: 334px;left: 216px;}
.page_2 .innerTab_2 .toggle .txt.n4{top: 333px;left: 525px;}
.page_2 .innerTab_2 .popBtn{position: relative;transform: scale(.6);transform-origin: 440px 0;}

.page_2 .innerTab_3 .flex-wrap{margin-top:50px}
.page_2 .innerTab_3 .flex-wrap .flex-wrap{margin-top:0; width:auto;}
.page_2 .innerTab_3 .flex-wrap img{width:160px;}


.pop_page_2 .img-wrap{
    position: relative;
    width:968px;
    margin: 30px auto 0 110px;
}
.pop_page_2 .img-wrap img{width: 100%;}
.pop_page_2 .img-wrap .txt{position:absolute; color:#222; font-family: NotoM; font-weight: 400;}
.pop_page_2 .img-wrap .txt.n1{top: 34px;left: 280px;}
.pop_page_2 .img-wrap .txt.n2{top: 34px;left: 600px;}
.pop_page_2 .img-wrap .txt.n3{top: 347px;left: 220px;}
.pop_page_2 .img-wrap .txt.n4{top: 347px;left: 540px;}
.pop_page_2 .img-wrap .txt.n5{line-height: 1; text-align:center;top: 134px;left: 385px;transform: rotate(16deg);}
.pop_page_2 .img-wrap .txt.n6{line-height:1; text-align:center;top: 235px;left: 420px;transform: rotate(-16deg);}
.pop_page_2 .img-wrap .txt.n7{line-height:1; text-align:center;top: 482px;left: 96px;transform: rotate(-15deg);}
.pop_page_2 .img-wrap .txt.n8{line-height:1; text-align:center;top: 525px;left: 394px;transform: rotate(-16deg);}

.pop_page_3 .img-wrap{
    position: relative;
    width:968px;
    margin: 30px auto 0 110px;
}
.pop_page_3 .img-wrap img{width: 100%;}
.pop_page_3 .img-wrap .txt{position:absolute; color:#222; font-family: NotoM; font-weight: 400;}
.pop_page_3 .img-wrap .txt.n1{top: 34px;left: 280px;}
.pop_page_3 .img-wrap .txt.n2{top: 34px;left: 600px;}
.pop_page_3 .img-wrap .txt.n3{top: 347px;left: 220px;}
.pop_page_3 .img-wrap .txt.n4{top: 347px;left: 540px;}
.pop_page_3 .img-wrap .txt.n5{line-height: 1; text-align:center;top: 134px;left: 385px;transform: rotate(16deg);}
.pop_page_3 .img-wrap .txt.n6{line-height:1; text-align:center;top: 235px;left: 420px;transform: rotate(-16deg);}
.pop_page_3 .img-wrap .txt.n7{line-height:1; text-align:center;top: 482px;left: 96px;transform: rotate(-15deg);}
.pop_page_3 .img-wrap .txt.n8{line-height:1; text-align:center;top: 525px;left: 394px;transform: rotate(-16deg);}

.pop_page_3 .innerTab_2 .area{position: relative; box-sizing: border-box; top:200px}
.pop_page_3 .innerTab_2 .area *{box-sizing: border-box;}
.pop_page_3 .innerTab_2 img{width: 100%;}
.pop_page_3 .innerTab_2 table{position: absolute; top:0; left:0;margin: 0 20px;width: calc(100% - 40px); font-weight:400; color:#222;font-family: NotoM; text-align: center;}
.pop_page_3 .innerTab_2 .row1 td{height: 164px;}
.pop_page_3 .innerTab_2 .row2 td{height: 103px;}
.pop_page_3 .innerTab_2 .row3 td{height: 77px;}
.pop_page_3 .innerTab_2 .tb{vertical-align: bottom;}
.pop_page_3 .innerTab_2 table td:nth-child(1){width: 300px;}
.pop_page_3 .innerTab_2 .ts{font-size: 26px;}

.tableContainer table thead tr:first-of-type>:first-child{border-radius: 10px 0 0 0;}
.tableContainer table thead tr:first-of-type>:last-child{border-radius:  0 10px 0 0 ;}
.tableContainer table thead + tbody tr:first-of-type>:last-child,
.tableContainer table thead + tbody tr:first-of-type>:first-child{border-radius: 0 0 0 0;}
.tableContainer.brown table tr:first-of-type th {
    border-top: 2px solid #efe8e0;
}
.tableContainer table thead + tbody th{background-color: #ddc9b1 !important}
.page_3 td .toggle.n1::after{margin-left:-40px}
.page_3 td .toggle{width:100%; height:auto;  display: flex; justify-content: center; align-items: center; background-color: transparent;}
/* .page_3 .innerTab_3 .toggle .answer{text-align: left; display: flex;}
.page_3 .innerTab_3 section{margin: 10px;}
.page_3 .innerTab_1 .dapCheckBtn:before {
    content: "예 보기";
    padding-left: 26px
}
.page_3 .innerTab_1 .dapCheckBtn{
    background-color: #00a0ff;
}
.page_3 .innerTab_1 .dapCheckBtn:hover{
    background-color: #236cbb;
}
.page_3 .innerTab_1 .dapCheckBtn.reset:before {
    padding-left: 19px;
    content: "다시하기"
}
.page_3 .innerTab_1 .dapCheckBtn.reset{
    background-color: #236cbb;
} */


.page_3 .contentsBox{padding:0}
.page_3 .img-wrap{width:100%; position: relative; margin-top:30px}
.page_3 .img-wrap img{width:100%}
.page_3 .img-wrap .dotList{position: absolute; top: 30px; left: 100px;padding-right: 50px;}
.page_3 .img-wrap > div{position: absolute; width:300px; top: 150px; left: 360px;}
.page_3 .img-wrap > .toggle{position: absolute; width: 860px; top: 100px; left: 90px; padding-bottom:30px}
.page_3 .img-wrap > .toggle .answer{display: flex; align-items: flex-start;}
.page_3 .img-wrap > .toggle .answer .exam{transform: translate(0,14px);}


.balloon {
    text-align: center;
}
.pop_page_1 .img3 {
    width: 100%;
    height: 683px;
    background: url(../images/suh_h_0302_01_0009_201_2/suh_h_0302_01_0009_201_1_3.png) no-repeat 50% 50% / 100%;
    position: relative;
    margin: 30px auto;
    border-radius: 20px;
}
.pop_page_1 .img3 .b1 {
    top: 240px;
    left: 850px;
    width: 200px;
}
.pop_page_1 .img3 .b2 {
    top: 90px;
    left: -20px;
    width: 370px;
}
.pop_page_1 .img3 .b1::after {
    left:40% !important
}
.pop_page_1 .img3 .b2::after {
    left: 30% !important;
}
.pop_page_1 .img3 .txt{position: absolute;}
.pop_page_1 .img3 .txt.n1{top: 74px;left: 406px;}
.pop_page_1 .img3 .txt.n2{top: 74px;left: 706px;}
.pop_page_1 .img3 .txt.n3{top: 371px;left: 350px;}
.pop_page_1 .img3 .txt.n4{top: 370px;left: 647px;}
.pop_page_1 .img3 .txt.n5{line-height: 1; text-align:center;top: 168px;left: 511px;transform: rotate(16deg);}
.pop_page_1 .img3 .txt.n6{line-height:1; text-align:center;top: 257px;left: 550px;transform: rotate(-16deg);}
.pop_page_1 .img3 .txt.n7{line-height:1; text-align:center;top: 487px;left: 246px;transform: rotate(-15deg);}
.pop_page_1 .img3 .txt.n8{line-height:1; text-align:center;top: 530px;left: 514px;transform: rotate(-16deg);}


.pop_page_1 .img5 {
    width: 100%;
    height: 683px;
    background: url(../images/suh_h_0302_01_0009_201_2/suh_h_0302_01_0009_201_1_5.png) no-repeat 50% 50% / 100%;
    position: relative;
    margin: 30px auto;
    border-radius: 20px;
}
.pop_page_1 .img5 .b1 {
    top: 130px;
    left: 610px;
    width: 300px;
}
.pop_page_1 .img5 .b2 {
    top: -10px;
    left: 10px;
    width: 570px;
}
.pop_page_1 .img5 .b1::after {
    left:50% !important
}
.pop_page_1 .img5 .b2::after {
    left:70% !important
}
.page_1 .popBtn{transform: translate(0,0);}

.page_3 .textBookBtn,
.page_2 .innerTab_1 .textBookBtn {top:160px}


.page_2 .answer img{width:100%;}
.page_2 .answer table{position:absolute;top:0; left:0;}

.page_3 .answer{padding-right:0;}

.page_4 .charSpriteImg{top: 60px;left: 330px;position: absolute;}
.page_4 .balloon{top: 60px;left: 260px;}


























