.contentsBox {
    padding: 0;
}
.balloon {
    text-align: center;
}

.img1 {
    width: 70%;
    height: 453px;
    background: url(../images/suh_h_0302_01_0009_201_1/suh_h_0302_01_0009_201_1_1.png) no-repeat 50% 50% / 100%;
    position: relative;
    margin: 30px auto;
    border-radius: 20px;
}
.img1 .b1 {
    top: -10px;
    left: 110px;
    width: 320px;
}
.img1 .b2 {
    top: -10px;
    left: 450px;
    width: 400px;
}
.img1 .b1::after {
    left: 80% !important
}
.img1 .b2::after {
    left: 20% !important
}


.img2 {
    width: 70%;
    height: 453px;
    background: url(../images/suh_h_0302_01_0009_201_1/suh_h_0302_01_0009_201_1_2.png) no-repeat 50% 50% / 100%;
    position: relative;
    margin: 30px auto;
    border-radius: 20px;
}
.img2 .b1 {
    top: 10px;
    left: 140px;
    width: 170px;
}
.img2 .b2 {
    top: 90px;
    left: 430px;
    width: 200px;
}
.img2 .b1::after {
    left:60% !important
}
.img2 .b2::after {
    left: 20% !important
}

.img3 {
    width: 70%;
    height: 453px;
    background: url(../images/suh_h_0302_01_0009_201_1/suh_h_0302_01_0009_201_1_3.png) no-repeat 50% 50% / 100%;
    position: relative;
    margin: 30px auto;
    border-radius: 20px;
}
.img3 .b1 {
    top: 130px;
    left: 650px;
    width: 200px;
}
.img3 .b2 {
    top: -10px;
    left: -110px;
    width: 340px;
}
.img3 .b1::after {
    left:60% !important
}
.img3 .b2::after {
    left: 20% !important
}
.img3 .txt{position: absolute;}
.img3 .txt.n1{top: 12px;left: 310px;}
.img3 .txt.n2{top: 13px;left: 540px;}
.img3 .txt.n3{top: 241px;left: 270px;}
.img3 .txt.n4{top: 240px;left: 500px;}

.img4 {
    width: 70%;
    height: 453px;
    background: url(../images/suh_h_0302_01_0009_201_1/suh_h_0302_01_0009_201_1_4.png) no-repeat 50% 50% / 100%;
    position: relative;
    margin: 30px auto;
    border-radius: 20px;
}
.img4 .b1 {
    top: 130px;
    left: 490px;
    width: 130px;
}
.img4 .b2 {
    top: -10px;
    left: -50px;
    width: 470px;
}
.img4 .b1::after {
    left:50% !important
}
.img4 .b2::after {
    left:70% !important
}

.img5 {
    width: 70%;
    height: 453px;
    background: url(../images/suh_h_0302_01_0009_201_1/suh_h_0302_01_0009_201_1_5.png) no-repeat 50% 50% / 100%;
    position: relative;
    margin: 30px auto;
    border-radius: 20px;
}
.img5 .b1 {
    top: 20px;
    left: 430px;
    width: 280px;
}
.img5 .b2 {
    top: 10px;
    left: -150px;
    width: 370px;
}
.img5 .b1::after {
    left:50% !important
}












