.bunsuWrap{display: inline-block;}

.bunsuWrap.separation > ul{width: 70px;}
.bunsuWrap.separation li{width:100%;}
.bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.bunsuWrap.separation .toggle{width:100%;}


.page_3 .flex-box{margin: 50px auto; justify-content: space-evenly;}

.page_4 .lineBox {display:flex;justify-content:space-around;width:500px;margin:0 auto;}
.page_4 .lineBox .choice {position:relative;width:100px;text-align:center;}
.page_4 .lineBox .choice .icon {position:absolute;left:0;top:0;width:100%;height:100%;}
.page_4 .lineBox + .lineBox {margin:20px auto 0;}
.page_4 .flex-box{padding: 30px;}

.suhi h2+section .study_guide{top:-20px;}


.page_1 .flex-box{flex-flow: row;margin-top: 30px;align-items: center;}
.page_1 .flex-box .lineBox{width: 100px;margin-right:10px; text-align: center;}

.page_2 .flex-box{align-items: center;justify-content: center;margin-top: 50px;}