.bunsuWrap{display: inline-block;}

.bunsuWrap.separation > ul{width: 70px;}
.bunsuWrap.separation li{width:100%;}
.bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.bunsuWrap.separation .toggle{width:100%;}


.page_3 .flex-box{margin: 50px auto; justify-content: space-evenly;}

.page_4 .lineBox {display:flex;justify-content:space-around;width:500px;margin:0 auto;}
.page_4 .lineBox .choice {position:relative;width:100px;text-align:center;}
.page_4 .lineBox .choice .icon {position:absolute;left:0;top:0;width:100%;height:100%;}
.page_4 .lineBox + .lineBox {margin:20px auto 0;}
.page_4 .flex-box{padding: 30px;}

.suhi h2+section .study_guide{top:-20px;}


.page_1 .box-wrap {width:380px;margin:0 auto}
.page_1 .flex-box{flex-flow: row;margin-top: 30px;align-items: center;}
.page_1 .flex-box .lineBox{width: 100px;margin-right:10px; text-align: center;}

.page_2 .flex-box{align-items: center;justify-content: center;margin-top: 50px;}

.page_6 figure{position:relative;padding-top:135px;height:300px;text-align:center;}
.page_6 figure img{display:inline-block;;height:100%;}
.page_6 .balloon{position:absolute;font-size:0.8em;}
.page_6 .balloon:nth-child(2){top:-23px;left:86px;}
.page_6 .balloon:nth-child(3){top:-36px;left:326px;}
.page_6 .balloon:nth-child(4){top:-10px;right:51px;}
.page_6 .balloon:nth-child(4):after{left:40%;}
.page_6 .colorBox{position:absolute;}
.page_6 .colorBox:nth-child(5){bottom:0;left:76px;}
.page_6 .colorBox:nth-child(6){bottom:0;left:344px;}
.page_6 .colorBox:nth-child(7){bottom:0;right:239px;}

.innerTab_2 .contentsList{margin-top:30px;}
.innerTab_2 .contentsList > li{align-items: flex-start;}
.innerTab_2 .contentsList > li:nth-child(1) .toggle{align-self:center;}
.innerTab_2 .contentsList > li:nth-child(2) .answer{display:flex;align-items:flex-start;text-align:left;letter-spacing:1px;}
.innerTab_2 .contentsList .lineBox{margin-right: 15px; white-space: nowrap;}