
@charset "utf-8";


.contentsArea > h1 {
  padding-left: 0;
}
.contentsArea > h1 > img {
  position: relative;
  top: -6px;
  width: auto;
  height: 90px;
  margin-right: 10px;
  vertical-align: middle;
}


.balloonText {
  position: absolute;
  font-size: 36px;
  text-align: left;
}
.balloonText.title {
  font-size: 40px;
  text-align: center;
}

.balloonText.title {
  top: 102px;
  left: 375px;
  width: 380px;
}
.balloonText {
  top: 180px;
  left: 412px;
  width: 330px;
}

.page1 {
  background: url(../images/7_0/3-1-1_img01.png) center top 0px / auto 460px no-repeat;
}
.page2 {
  background: url(../images/7_0/3-1-1_img02.png) center top 0px / auto 460px no-repeat;
}
.page3 {
  background: url(../images/7_0/3-1-1_img03.png) center top 0px / auto 460px no-repeat;
}
.page4 {
  background: url(../images/7_0/3-1-1_img04.png) center top 0px / auto 460px no-repeat;
}
.page5 {
  background: url(../images/7_0/3-1-1_img05.png) center top 0px / auto 460px no-repeat;
}


.page5 .balloonText {
  top: 131px;
  left: 127px;
}
.page5 .balloonText + .balloonText {
  top: 85px;
  left: 630px;
}