

.page1 ul.list li {
  letter-spacing: -3.7px;
}
.inputQuizContainer  {
  margin-bottom: 50px;
}

input {
  width: 120px;
}
.supplies {
  top: -75px;
  right: 0;
}


.page3 .clickButton[data-toggle-obj="1"] {
  top: 147.153px;
  left: 325.839px;
}
.page3 .clickButton[data-toggle-obj="2"] {
  top: 145.401px;
  left: 846.131px;
}

.page3 .balloonText {
  position: absolute;
  box-sizing: border-box;
}
.page3 .balloonText_1 {
  top: 80px;
  left: 180px;
  width: 220px;
  height: 148px;
  padding: 21px 0px 0 0;
  background: url(../images/7_1/7_1_4_01_balloon_1.svg) center/ 100% auto no-repeat;
}
.page3 .balloonText_2 {
  top: 70px;
  left: 800px;
  width: 230px;
  height: 148px;
  padding: 32px 0 0 0;
  background: url(../images/7_1/7_1_4_01_balloon_2.svg) center/ 100% auto no-repeat;
}


.horizontal {
  position: absolute;
  width: 182px;
  height: 4px;
  background-color: yellow;
}
.vertical {
  position: absolute;
  width: 4px;
  height: 108px;
  background-color: yellow;
}

.line_1 {
  top: 227px;
  left: 500px;
}
.line_2 {
  top: 336px;
  left: 500px;
}
.line_3 {
  top: 230px;
  left: 499px;
}
.line_4 {
  top: 230px;
  left: 682px;
}



[class *= 'open_'] {
  opacity: 0;
}
.on[data-toggle-target].open_1 {
  -webkit-animation: opacityOne 0.5s ease-in 0s 4 forwards;
  -ms-animation: opacityOne 0.5s ease-in 0s 4 forwards;
  -moz-animation: opacityOne 0.5s ease-in 0s 4 forwards;
  -o-animation: opacityOne 0.5s ease-in 0s 4 forwards;
  animation: opacityOne 0.5s ease-in 0s 4 forwards;
}
/* .on[data-toggle-target] > .open_2 {
  -webkit-animation: opacityOne 0.5s ease-in 1s 4;
  -ms-animation: opacityOne 0.5s ease-in 1s 4;
  -moz-animation: opacityOne 0.5s ease-in 1s 4;
  -o-animation: opacityOne 0.5s ease-in 1s 4;
  animation: opacityOne 0.5s ease-in 1s 4;
}
.on[data-toggle-target] > .open_3 {
  -webkit-animation: opacityOne 0.5s ease-in 1.5s 4;
  -ms-animation: opacityOne 0.5s ease-in 1.5s 4;
  -moz-animation: opacityOne 0.5s ease-in 1.5s 4;
  -o-animation: opacityOne 0.5s ease-in 1.5s 4;
  animation: opacityOne 0.5s ease-in 1.5s 4;
}
.on[data-toggle-target] > .open_4 {
  -webkit-animation: opacityOne 0.5s ease-in 2s 4;
  -ms-animation: opacityOne 0.5s ease-in 2s 4;
  -moz-animation: opacityOne 0.5s ease-in 2s 4;
  -o-animation: opacityOne 0.5s ease-in 2s 4;
  animation: opacityOne 0.5s ease-in 2s 4;
} */
@keyframes opacityOne {
  0% {opacity: 1;} 100% {opacity: 0;}
}
@-webkit-keyframes opacityOne {
 0% {opacity: 1;} 100% {opacity: 0;}
}
@-ms-keyframes opacityOne {
 0% {opacity: 1;} 100% {opacity: 0;}
}



/* 검수서 2차 수정 추가 */
.supplies {
  top: -75px;
  right: 0; /* 팝업 버튼 기본 위치 */
}


.page2 .inputQuizContainer {
  text-align: center;
}
