
.img_01 {
  position: absolute;
  top: 20px;
  left: 80px;
}
.img_02 {
  position: absolute;
  top: 20px;
  left: 700px;
}
.arrow {
  position: absolute;
  top: 220px;
  left: 590px;
}

.balloonText {
  position: absolute;
  width: 360px;
  text-align: justify;
  word-break: break-all;
}
.balloonText_1 {
  top: 311px;
  left: 123px;
}
.balloonText_2 {
  top: 322px;
  left: 745px;
}



.supplies {
  top: -75px;
  right: 0; /* 팝업 버튼 기본 위치 */
}