
.table {
  width: 1090px;
}
.table ul:first-child {
  width: 380px;
}
.table ul:nth-child(2),
.table ul:nth-child(3) {
  width: 40%;
}

input {
  width: 120px;
}
.table > ul > li {
  height: 62px;
}
flex.jCenter { margin-top: 15px; }
.input_1 {
  width: 120px;
  margin-left: 20px;
}


.balloonText_1 {
  position: absolute;
  background: url(../images/7_1/7_1_3_01_balloon_1.svg) center/ 100% auto no-repeat;
  width: 220px;
  height: 148px;
  padding: 21px 20px 0 0;
  box-sizing: border-box;
  top: -29px;
  left: 280px;
}
.balloonText_2 {
  position: absolute;
  background: url(../images/7_1/7_1_3_01_balloon_2.svg) center/ 100% auto no-repeat;
  width: 200px;
  height: 148px;
  padding: 14px 0 0 0;
  box-sizing: border-box;
  top: -37px;
  left: 750px;
}


.clickButton[data-toggle-obj="1"] {
  top: 143px; left: 550px;
}
.clickButton[data-toggle-obj="2"] {
  top: 216px; left: 646px;
}
.clickButton[data-toggle-obj="3"] {
  top: 188px; left: 787px;
}
.clickButton[data-toggle-obj="4"] {
  top: 236px; left: 853px;
}

[class *= 'posText_'] {
  position: absolute;
  font-size: 35px;
}
.posText_1 {
  top: 198px;
  left: 429px;
  width: 216px;
  height: 48px;
  background: url(../images/7_1/7_1_3_line_1.svg) center / contain no-repeat;
}
.posText_2 {
  top: 199px;
  left: 508px;
  width: 146px;
  height: 119px;
  background: url(../images/7_1/7_1_3_line_2.svg) center / contain no-repeat;
}
.posText_3 {
  top: 246px;
  left: 759px;
  width: 119px;
  height: 32px;
  background: url(../images/7_1/7_1_3_line_3.svg) center / contain no-repeat;
}
.posText_4 {
  top: 247px;
  left: 878px;
  width: 92px;
  height: 71px;
  background: url(../images/7_1/7_1_3_line_4.svg) center / contain no-repeat;
}

[data-toggle-target]:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/7_1/7_1_3_line.svg) center / contain no-repeat;
}
.posText_1 {}



/* 검수서 2차 수정 추가 */
.supplies {
  top: -75px;
  right: 0; /* 팝업 버튼 기본 위치 */
}