

.table {
  width: 1160px;
  height: 410px;
}
.table .title,
.table .subTitle {
  font-size: 35px;
}

.table ul:first-child {
  width: 180px;
  flex-shrink: 0;
}
.table ul:nth-child(2) {
  width: 240px;
  flex-shrink: 0;
}
.table ul li:first-child {
  height: 70px;
}
.table ul:first-child li {
  background-size: auto 62px;
  background-repeat: no-repeat;;
  background-position: center;
}
.table ul:first-child li:nth-child(2) {
  background-image: url(../images/7_2/7_2_03_01.svg);
  background-size: auto 51px;
}
.table ul:first-child li:nth-child(3) {
  background-image: url(../images/7_2/7_2_03_02.svg);
}
.table ul:first-child li:nth-child(4) {
  background-image: url(../images/7_2/7_2_03_03.svg);
}
.table ul:first-child li:nth-child(5) {
  background-image: url(../images/7_2/7_2_03_04.svg);
}
.table ul li {
  height: 85px;
}


img {
  position: absolute;
}


.icon.visible {
  opacity: 1;
}


.sign_oxBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.signPop[data-index="1"] {
  top: 80px;
  left: 206px;
}
.signPop[data-index="2"] {
  top: 160px;
  left: 206px;
}
.signPop[data-index="3"] {
  top: 250px;
  left: 206px;
}
.signPop[data-index="4"] {
  top: 80px;
  left: 514px;
}
.signPop[data-index="5"] {
  top: 160px;
  left: 514px;
}
.signPop[data-index="6"] {
  top: 250px;
  left: 514px;
}


/* 검수서 2차 수정 추가 */
.supplies {
  top: -75px;
  right: 0; /* 팝업 버튼 기본 위치 */
}