
@charset "utf-8";



.lineBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 470px;
  /* background: url(../images/7_2/7_2_03_piece_8.svg) center / contain no-repeat; */
}

.imageBox {
  position: absolute;
  top: -20px;
  right: 0;
  width: 870px;
  height: 560px;
  background: url(../images/7_2/7_2_04_01.png) center / contain no-repeat;
}
.imageBox .balloonText {
  position: absolute;
  top: 447px;
  left: 315px;
}
.imageBox .balloonText + .balloonText {
  top: 447px;
  left: 561px;
}

.answerImage {
  position: absolute;
  top: 71px;
  left: 493px;
  width: 184px;
  height: 306px;
  background: url(../images/7_2/7_2_03_answer.svg) center / contain no-repeat;
}


.rotateContainer {
  position: absolute;
  transition: none;
  /* outline: 1px solid tomato; */
}


.piece_1 {
  top: 354px;
  left: 77px;
  width: 170px;
  height: 90px;
}
.piece_2 {
  top: 132px;
  left: 75px;
  width: 90px;
  height: 170px;
}
.piece_3 {
  top: 70px;
  left: 209px;
  width: 86px;
  height: 86px;
}
.piece_4 {
  top: 217px;
  left: 208px;
  width: 85px;
  height: 45px;
}
.piece_5 {
  top: 284px;
  left: 32px;
  width: 45px;
  height: 86px;
}
.piece_6 {
  top: 300px;
  left: 210px;
  width: 89px;
  height: 86px;
}
.piece_7 {
  top: 30px;
  left: 29px;
  width: 46px;
  height: 130px;
}
.piece_1 .rotateTarget {
  /* transform: rotate(135deg); */
  background: url(../images/7_2/7_2_03_piece_1.svg) center / contain no-repeat;
}
.piece_2 .rotateTarget {
  /* transform: rotate(45deg); */
  background: url(../images/7_2/7_2_03_piece_2.svg) center / contain no-repeat;
}
.piece_3 .rotateTarget {
  /* transform: rotate(90deg); */
  background: url(../images/7_2/7_2_03_piece_3.svg) center / contain no-repeat;
}
.piece_4 .rotateTarget {
  /* transform: rotate(-45deg); */
  background: url(../images/7_2/7_2_03_piece_4.svg) center / contain no-repeat;
}
.piece_5 .rotateTarget {
  /* transform: rotate(-135deg); */
  background: url(../images/7_2/7_2_03_piece_5.svg) center / contain no-repeat;
}
.piece_6 .rotateTarget {
  /* transform: rotate(45deg); */
  background: url(../images/7_2/7_2_03_piece_6.svg) center / contain no-repeat;
}
.piece_7 .rotateTarget {
  background: url(../images/7_2/7_2_03_piece_7.svg) center / contain no-repeat;
}

.rotateButton {
  width: 30px;
  height: 30px;
}



/* 검수서 2차 수정 추가 */
.supplies {
  top: -75px;
  right: 0; /* 팝업 버튼 기본 위치 */
}