
.img_01 {
  position: absolute;
  top: 10px;
  left: 80px;
}
.img_02 {
  position: absolute;
  top: 10px;
  left: 700px;
}
.arrow {
  position: absolute;
  top: 220px;
  left: 590px;
}

.balloonText {
  position: absolute;
}
.balloonText_1 {
  top: 385px;
  left: 123.318px;
}
.balloonText_2 {
  top: 385px;
  left: 779.594px;
}

.supplies {
  top: -15px;
  right: 0; /* 팝업 버튼 기본 위치 */
}