
.contentsArea > section {
  background: url(../images/7_3/7_3_04_01.png) 70px -10px /1110px auto no-repeat,  url(../images/7_3/7_3_04_02.png) 70px 220px /1110px auto no-repeat
}

.balloonText {
  font-size: 50px;
  position: absolute;
  top: 45px;
  left: 484px;
  text-align: left;
  width: 723px;
  word-break: break-all;
  transform: scale(0.85);
}
.balloonText_2 {
  top: 278px;
}
.balloonText input {
  display: inline-block;
  width: 92px;
  text-align: center;
}

input[type="text"] {
  font-family: 'NSquareRB', sans-serif;
}