
.page1 {
  background:url(../images/7_3/7_3_05_01.png) 40px 0/1188px auto no-repeat;
}

.balloonText {
  font-size: 36px;
  position: absolute;
  /* top: 45px; */
  /* left: 484px; */
  word-break: break-all;
}
.page1 .balloonText_1 {
  top: 42px;
  left: 114px;
}
.page1 .balloonText_2 {
  top: 42px;
  left: 494px;
}
.page1 .balloonText_3 {
  top: 270px;
  left: 714px;
  width: 470px;
  text-align: left;
}

.page2 img,
.page2 .arrow,
.page2 .balloonText {
  position: absolute;
}

.img_01 {
  top: 20px;
  left: 40px;
}
.img_02 {
  top: 20px;
  left: 450px;
}
.img_03 {
  top: 20px;
  left: 860px;
}
.page2 .arrow {
  top: 230px;
}
.arrow[data-toggle-obj="1"] {
  left: 396px;
}
.arrow[data-toggle-obj="2"] {
  left: 808px;
}

/* .page2 .balloonText {
  font-size: 30px;
  font-family: MapleStoryL;
  text-align: center;
  width: 265px;
  text-align: justify;
  word-break: break-all;
}  */

.balloonText_1 {
  top: 315px;
  left: 65px;
}
.balloonText_2 {
  top: 296px;
  left: 471px;
}
.balloonText_3 {
  top: 148px;
  left: 906px;
  width: 260px;
}




/* 검수서 2차 수정 추가 */
.supplies {
  top: -25px;
  right: 0; /* 팝업 버튼 기본 위치 */
}

input[type="text"] {
  font-family: 'NSquareRB', sans-serif;
}