
@charset "utf-8";



/* page1 */
.page1 .list.dot {
  width: 630px;
}

.page1 .imageBox {
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 0;
  right: 40px;
  width: 400px;
  height: 400px;
  background: url(../images/7_4/7_4_1_01.png) center / contain no-repeat;
}
.page1 .imageBox.on {
  background-image: url(../images/7_4/7_4_1_01_answer.png);
}


/* page2 */
.page2 .imageBox {
  opacity: 1;
  visibility: visible;
  position: relative;
  width: 100%;
  height: 360px;
  background: url(../images/7_4/7_4_1_02.png) center / contain no-repeat;
}
.page2 .imageBox.on {
  background-image: url(../images/7_4/7_4_1_03.png);
}
.page2 .clickButton {
  position: absolute;
  top: 195px;
  left: 509px;
}


.page2 ul.list.dot {
  word-break: normal;
  letter-spacing: -2px;
}

.page2 .balloonText {
  position: absolute;
  top: 275px;
  left: 706px;
  font-size: 40px;
  text-align: left;
}


canvas {
  position: absolute;
  top: 8px;
  left: 788px;
}
.drawBtn {
  position: absolute;
  top: 14px;
  left: 1114px;
}
/* 펜 옵션 팝업 */
.pen_tool {
  left: 860px;
  top: 48px;
}
/* 정답 보기 상태일 때 그리기 안되도록 블럭 처리 */
canvas.pointerOff {
  pointer-events: none;
}

/* ins.exam {
  left: 0;
  top: 0;
} */

.floatText {
  position: absolute;
  left: -4px;
  top: -4px;
  color: #0060e3;
}

.supplies {
  top: -65px;
  right: 0; /* 팝업 버튼 기본 위치 */
}