#quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 155px;
    left: 1003px;
    top: 531px;
}


#pop-01-quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#pop-01-quiz-01 .input-cont:nth-child(1) {
    width: 155px;
    left: 1003px;
    top: 570px;
}
