
@charset "utf-8";

/***********************
* 초등 전자저작물 *
* 수학 3-4학년 *
* preCheck.css *
***********************/

/************************* title *************************/
.preCheck .contentsArea > h1 {
  display: flex;
  padding-left: 0;
}
.preCheck .contentsArea > h1 > ins {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1px;
  left: 0;
  width: 100px;
  height: 60px;
  padding: 0;
  padding-left: 4px;
  color: #FFF;
  font-size: 0.7em;
  font-family: BMJUA;
  letter-spacing: 6px;
  box-sizing: border-box;
  background: url(../../math/images/preCheck/preCheck_icon.svg) 0 center / auto 100% no-repeat;
}
.preCheck .contentsArea > h1 > ins:last-child {
  margin-right: 10px;
}

/* contents title - act */
.lesson_1 .preCheck .contentsArea > h1 > ins {
  background-position-x: calc(-100px * (1 - 1));
}
.lesson_2 .preCheck .contentsArea > h1 > ins {
  background-position-x: calc(-100px * (2 - 1));
}
.lesson_3 .preCheck .contentsArea > h1 > ins {
  background-position-x: calc(-100px * (3 - 1));
}
.lesson_4 .preCheck .contentsArea > h1 > ins {
  background-position-x: calc(-100px * (4 - 1));
}
.lesson_5 .preCheck .contentsArea > h1 > ins {
  background-position-x: calc(-100px * (5 - 1));
}
.lesson_6 .preCheck .contentsArea > h1 > ins {
  background-position-x: calc(-100px * (6 - 1));
}

.preCheck .contentsArea > section h3 {
  padding-left: 14px;
  margin-bottom: 20px;
}

/*********************** title End ***********************/