.content-container > .content > .bg {
    background-image: url(../images/ms_42_4_05_04_01/bg.svg);
    /* background-image: url(../images/04.png); opacity: 0.7; */
}

.popup-more-one > .bg {
    background-image: url(../images/ms_42_4_05_04_01/bg_popup_more.svg);
}
.popup-more-one.more-02 > .bg {
    background-image: url(../images/ms_42_4_05_04_01/bg_popup_more_02.svg);
}

#quiz-01 .input-cont {
    width: 120px;
}
#quiz-01 .input-cont:nth-child(1) {
    left: 375px;
    top: 290px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 357px;
    top: 472px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 993px;
    top: 262px;
    width: 60px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 980px;
    top: 438px;
    width: 60px;
}
#quiz-02 .input-cont {
    width: 120px;
    margin-top: 33px;
}
#quiz-02 .input-cont:nth-child(1) {
    left: 384px;
    top: 293px;
}
#quiz-02 .input-cont:nth-child(2) {
    left: 357px;
    top: 472px;
}
#quiz-02 .input-cont:nth-child(3) {
    left: 993px;
    top: 262px;
    width: 60px;
}
#quiz-02 .input-cont:nth-child(4) {
    left: 980px;
    top: 438px;
    width: 60px;
}
#quiz-03 .input-cont {
    width: 60px;
    margin-top: 33px;
}
#quiz-03 .input-cont:nth-child(1) {
    left: 334px;
    top: 246px;
}
#quiz-03 .input-cont:nth-child(2) {
    left: 414px;
    top: 380px;
}
#quiz-03 .input-cont:nth-child(3) {
    left: 817px;
    top: 472px;
    width: 120px;
}
#quiz-03 .input-cont:nth-child(4) {
    left: 986px;
    top: 472px;
    width: 120px;
}