.content-container > .content > .bg {
    background-image: url(../images/ms_42_4_07_03_01/bg.svg);
    /* background-image: url(../images/03.png); opacity: 0.7; */
}

/* 보충 문제 bg */
.popup-more-one > .bg {
    background-image: url(../images/ms_42_4_07_03_01/bg_popup_more.svg);
}

.quiz-check.type-ox-01 .check-item::before {
    transform: scale(0.75);
}
#quiz-01 {
    position: absolute;
    left: 0;
    top: 0;
}
#quiz-01 .check-item {
    position: absolute;
    margin: -15px 0 0 -15px;
    width: 180px;
    height: 100px;
}
#quiz-01 .check-item:nth-child(1) {
    left: 1042px;
    top: 272px;
}
#quiz-01 .check-item:nth-child(2) {
    left: 1042px;
    top: 384px;
}
#quiz-01 .check-item:nth-child(3) {
    left: 1042px;
    top: 496px;
}

#quiz-02 {
    position: absolute;
    left: 0;
    top: 0;
}
#quiz-02 .check-item {
    position: absolute;
    margin: 29px 0 0 -15px;
    width: 180px;
    height: 100px;
}
#quiz-02 .check-item:nth-child(1) {
    left: 1042px;
    top: 272px;
}
#quiz-02 .check-item:nth-child(2) {
    left: 1042px;
    top: 384px;
}
#quiz-02 .check-item:nth-child(3) {
    left: 1042px;
    top: 496px;
}
