.content-container > .content > .bg {
    /* background-image: url(../images/ms_42_4_02_06_01/bg.svg); */
     /* background-image: url(../images/06.png); opacity: 0.7; */
} 


/* 보충 문제 bg */
.popup-more-one > .bg {
    background-image: url(../images/ms_42_4_02_06_01/bg_popup_more.svg);
}

#quiz-01 .input-cont {
    width: 140px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 1041px;
    top: 691px;
}
.img-box .svg-img {
    position: absolute;
    left: 0;
    top: 0;
}

#quiz-02 .input-cont:nth-child(1) {
    left: 158px;
    top: 526px;
    width: 1040px;
}
