
@charset "utf-8";

/***********************
* 초등 전자저작물 *
* 수학 3-4학년 *
* index.css *
***********************/

/************************* Design *************************/
/* lesson color */
/* bg */
body:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.lesson_1 {
  background-color:#F79536;
  background-image: linear-gradient(to right top,#FFC86A, #F79536);
  background-image: -o-linear-gradient(to right top,#FFC86A, #F79536);
  background-image: -moz-linear-gradient(to right top,#FFC86A, #F79536);
  background-image: -webkit-linear-gradient(to right top,#FFC86A, #F79536);
}
.lesson_2 {
  background-color:#7F9DD0;
  background-image: linear-gradient(to right top,#BDD2FF, #7F9DD0);
  background-image: -o-linear-gradient(to right top,#BDD2FF, #7F9DD0);
  background-image: -moz-linear-gradient(to right top,#BDD2FF, #7F9DD0);
  background-image: -webkit-linear-gradient(to right top,#BDD2FF, #7F9DD0);
}
.lesson_3 {
  background-color:#34BABA;
  background-image: linear-gradient(to right top,#91F2EA,#34BABA);
  background-image: -o-linear-gradient(to right top,#91F2EA,#34BABA);
  background-image: -moz-linear-gradient(to right top,#91F2EA,#34BABA);
  background-image: -webkit-linear-gradient(to right top,#91F2EA,#34BABA);
}
.lesson_4 {
  background-color: #D17DCE;
  background-image: linear-gradient(to right top, #FFC7FD, #D17DCE);
  background-image: -o-linear-gradient(to right top, #FFC7FD, #D17DCE);
  background-image: -moz-linear-gradient(to right top, #FFC7FD, #D17DCE);
  background-image: -webkit-linear-gradient(to right top, #FFC7FD, #D17DCE);
}
.lesson_5 {
  background-color: #68B368;
  background-image: linear-gradient(to right top,#95F295, #68B368);
  background-image: -o-linear-gradient(to right top,#95F295, #68B368);
  background-image: -moz-linear-gradient(to right top,#95F295, #68B368);
  background-image: -webkit-linear-gradient(to right top,#95F295, #68B368);
}
.lesson_6 {
  background-color:#F27B5C;
  background-image: linear-gradient(to right top,#FFB885,#F27B5C);
  background-image: -o-linear-gradient(to right top,#FFB885,#F27B5C);
  background-image: -moz-linear-gradient(to right top,#FFB885,#F27B5C);
  background-image: -webkit-linear-gradient(to right top,#FFB885,#F27B5C);
}
.creative {
  background-color:#52afd9;
  background-image: linear-gradient(to right top, #8ceeff, #52afd9);
  background-image: -o-linear-gradient(to right top, #8ceeff, #52afd9);
  background-image: -moz-linear-gradient(to right top, #8ceeff, #52afd9);
  background-image: -webkit-linear-gradient(to right top, #8ceeff, #52afd9);
}

#wrap {
  /* background: url(../images/bg/main_bg.svg) center / contain no-repeat; */
}
#wrap:before {
  content: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 710px;
  background-color: rgba(255, 255, 255, .9);
}

main:before {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 20px;
  right: 20px;
  bottom: 16px;
  border-radius: 24px;
  background-color: #fff;
}
/*********************** Design End ***********************/





ins.exam {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  width: 50px;
  height: 50px;
  background-color: #e18538;
  padding: 4px 4px 0 0;
  box-sizing: border-box;
}