@charset "utf-8";

.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
.contentsList .icon_arrow{width:auto !important; margin:0 10px;}
.buttonContainer.iframe{right:170px;}
.checkContainer h2 .toggleBlank{margin-top:8px;}
.checkContainer .contentsBox .basicSlider_tabs {width: 600px}
/*iframe restyle*/
.iframe-wrap{position: relative;width: 1058px;height: 461px;margin: 0 0 0 -30px;overflow:hidden;background-color: antiquewhite;}
.page-iframe{position: absolute;top: 0;left: 0;width: 1058px;height: 461px;}

.lineBox.inline, .colorBox.inline {display: inline-block;min-width: 40%;padding: 30px 40px;text-align: center;}
.dotList li + li {margin-top: 30px;}
.dotList li .toggle {margin: 0 10px;}
.dotList li .toggle + .toggle {margin-left: 15px;}

.page_2 img {width: 700px;}

.page_4 .dotList {margin-top: 30px;}

.page_6 .textAlignC {width: 90%;margin: 0 auto;}
.page_6 .dotList {display: flex;flex-wrap: wrap;align-items: center;}
.page_6 .dotList li {width: 50%;align-items: center;margin: 0;}
.page_6 .dotList li {margin-top: 60px;}

.page_7 .contentsList .box .colorBox.check{margin-left:36px;line-height: 36px;}
.page_7 .lineBox{display: inline-block;min-width: auto;margin-left:30px; padding:5px 20px 7px;}

.page_8 .textAlignR{margin-right:220px;margin-top:100px}
.page_8 .icon_arrow {transform: rotate(-90deg);position: absolute;top: 50px;left: 572px;}
.page_8 .horizonContainer {margin-top: 70px;}
.page_8 .horizonContainer .horizonLine{width:940px}

.page_9 .lineBox {width: 760px;margin: 0 auto;}
.page_9 .bullet {display: inline-block;vertical-align: middle;margin-top: -10px;}