#wrap header .title.type-number:before {display:none}
#wrap header .title.type-number {padding-left:50px}
.title.type-number .number {position:absolute;left:0;top:2px}

.img_box{margin-top: 20px;}
.img_box img{width:500px;}
.img_box .text_01{position: absolute;top: 5px;left:615px;font-size: 23px;}
.img_box .text_02{position: absolute;top: 110px;left:350px;font-size: 23px;}
.img_box .text_03{position: absolute;top: 140px;left:500px;font-size: 23px;}
.img_box .text_04{position: absolute;top: 145px;left:770px;font-size: 23px;}

.text_box{margin: 30px auto 0;width:500px;}
.text_box .flex-box{justify-content: center;}