
@charset "utf-8";

.pointerOff { pointer-events: none; }

.contentsArea > h1 { letter-spacing: -2.8px; }
.popupButton.head { top: -75px; }

.mainImg {
  height: 360px;
}
[class *= 'clickContainer_'] {
  position: absolute;
  top: 226px;
  display: flex;
}
[class *= 'clickContainer_'] li {
  width: 78px;
  height: 67px;
}
[class *= 'clickContainer_1'] li {
  border-top: 3px solid #0086CD;
  border-bottom: 3px solid #0086CD;
  border-right: 3px dashed #0086CD;
  box-sizing: border-box;
}
[class *= 'clickContainer_1'] li:first-child {
  border-left: 3px solid #0086CD;;
}
[class *= 'clickContainer_1'] li:last-child {
  border-right: 3px solid #0086CD;;
}
[class *= 'clickContainer_2'] li {
  border-top: 3px solid #0086CD;
  border-bottom: 3px solid #0086CD;
  border-right: 3px dashed #0086CD;
  box-sizing: border-box;
}
[class *= 'clickContainer_2'] li:first-child {
  border-left: 3px solid #0086CD;;
}
[class *= 'clickContainer_2'] li:last-child {
  border-right: 3px solid #0086CD;;
}
[class *= 'clickContainer_1'] li.complete,
[class *= 'clickContainer_1'] li.on { background-color: #D5E9F8; }
[class *= 'clickContainer_2'] li.complete,
[class *= 'clickContainer_2'] li.complete,
[class *= 'clickContainer_2'] li.on { background-color: #D5E9F8; }



.scaleBox {
  position: relative;
  transform: scale(0.87);
  -o-transform: scale(0.87);
  -moz-transform: scale(0.87);
  -webkit-transform: scale(0.87);
  -ms-transform: scale(0.87);
}
/* page1 */
.page1 .scaleBox {
  top: -40px;
}
.page1 .mainImg {
  margin-left: 100px;
}
.page1 [class *= 'clickContainer_'] {
  left: 333px;
}
.page1 .clickContainer_1 { top: 81px; }
.page1 .clickContainer_2 { top: 280px; }

.page1 .inputQuizContainer {
  position: absolute;
  top: 104px;
  left: 850px;
}
.page1 .inputQuizContainer div:first-child {
  margin-bottom: 26px;
}



/* page2 */
.page2 .scaleBox {
  top: -35px;
}
.page2 .mainImg {
  margin-left: 50px;
}
.page2 [class *= 'clickContainer_'] {
  left: 283px;
}
.page2 .clickContainer_1 { top: 82px; }
.page2 .clickContainer_2 { top: 280px; }

.page2 .inputQuizContainer {
  position: absolute;
  top: 210px;
  left: 894px;
}

/* .page2 .mainImg {
  margin-left: 130px;
}
.page2 [class *= 'clickContainer_'] {
  left: 367px;
}
.page2 .clickContainer_1 { top: 86px; }
.page2 .clickContainer_2 { top: 285px; }

.page2 .scaleBox {
  position: relative;
  top: -125px;
  transform: scale(0.38);
}
.page2 .inputQuizContainer {
  position: absolute;
  top: 279px;
  left: 465px;
}  */

/* page3 */
.page3 .scaleBox {
  top: -35px;
}
.page3 .mainImg {
  margin-left: 100px;
}
.page3 [class *= 'clickContainer_'] {
  left: 333px;
}
.page3 .clickContainer_1 { top: 82px; }
.page3 .clickContainer_2 { top: 280px; }

.page3 .inputQuizContainer {
  position: absolute;
  top: 154px;
  left: 980px;
}
.page3 .inputQuizContainer div:first-child {
  margin-bottom: 100px;
}
.page3 .inputQuizContainer input {
  width: 120px;
  text-align: center;
}


/* .page3 .mainImg {
  margin-left: 130px;
}
.page3 [class *= 'clickContainer_'] {
  left: 367px;
}
.page3 .clickContainer_1 { top: 86px; }
.page3 .clickContainer_2 { top: 285px; }

.page3 .scaleBox {
  position: relative;
  top: -105px;
  transform: scale(0.48);
}
.page3 .inputQuizContainer {
  position: absolute;
  top: 312px;
  left: 325px;
} 
.page3 .space {
  padding: 0px 40px;
}
.page3 .arrow { margin: 0px 10px; }
.page3 input {
  width: 120px;
} */


/* page4 */
.page4 .scaleBox {
  top: -35px;
}
.page4 .mainImg {
  margin-left: 100px;
}
.page4 [class *= 'clickContainer_'] {
  left: 333px;
}
.page4 .clickContainer_1 { top: 82px; }
.page4 .clickContainer_2 { top: 280px; }

.page4 .inputQuizContainer {
  position: absolute;
  top: 254px;
  left: 980px;
}
.page4 .inputQuizContainer input {
  width: 120px;
  text-align: center;
}


/* .page4 .mainImg {
  margin-left: 130px;
}
.page4 [class *= 'clickContainer_'] {
  left: 367px;
}
.page4 .clickContainer_1 { top: 86px; }
.page4 .clickContainer_2 { top: 285px; }

.page4 .scaleBox {
  position: relative;
  top: -85px;
  transform: scale(0.58);
}
.page4 .inputQuizContainer {
  position: absolute;
  top: 352px;
  left: 549px;
}
.page4 .space {
  padding: 0px 40px;
}
.page4 .arrow { margin: 0px 10px; }
.page4 input {
  width: 120px;
  text-align: center;
} */


/* page5 */
.page5 .mainImg {
  margin-left: 100px;
}
.page5 [class *= 'clickContainer_'] {
  left: 333px;
}
.page5 .clickContainer_1 { top: 82px; }
.page5 .clickContainer_2 { top: 280px; }

.page5 .inputQuizContainer {
  position: absolute;
  top: 304px;
  left: 280px;
}
.page5 .scaleBox {
  position: relative;
  top: -70px;
  transform: scale(0.63);
}


/* poopup */
.popup_pages > li.head {
  top: 105px;
  right: 80px;
  width: 980px;
}