
@charset "utf-8";


h1 > p {
  position: relative;
  top: -24px;
  margin-bottom: -23px;
}
h1 > p > symbol {
  top: 1px !important;
}

img {
  width: 1000px;
}


[class *= "posBunsu_"] {
  position: absolute;
  top: 195px;
  /* background-color: white; */
}
.page1 .posBunsu_1 {
  left: 230px;
  background-color: white;
}
.page1 .posBunsu_2 {
  top: 170px;
  left: 970px; 
}
.page1 .inputQuizContainer {
  margin-top: -44px;
  margin-left: 70px;
}


.page2 [class *= "posBunsu_"] {
  position: absolute;
  top: 180px;
  background-color: white;
}
.page2 .posBunsu_1 {
  left: 365px;
}
.page2 .posBunsu_2 {
  left: 1070px;
}

.page2 .inputQuizContainer {
  margin-top: 7px;
  text-align: center;
}