
@charset "utf-8";

h1 > p {
  position: relative;
  top: -24px;
  margin-bottom: -23px;
}
h1 > p > symbol {
  top: 1px !important;
}
[class *= 'posBunsu_'] {
  position: absolute;
}

.flexBox_1 .scaleBox {
  position: relative;
  top: 11px;
  left: -20px;
}
.flexBox_1 .img_01 {
  width: 760px;
  margin-bottom: 10px;
}
.flexBox_1 .space {
  padding: 0 40px;
}
.colorAnswer {
  padding: 0 20px;
  border-radius: 10px;
  color: transparent
}
.colorAnswer.pink {
  background-color: #edc6c9;
  padding: 6px 20px;
}
.colorAnswer.blue {
  background-color: #c1dff5;
}
.flexBox_2 {
  padding-left: 460px;
}
.flexBox_2 .space {
  padding: 0 67px;
}

.bottomFlex {
  justify-content: center;
  position: relative;
  top: -10px;
  /* transform: scale(0.81); */
  width: 1490px;
  left: -175px;
}
.page2 .bottomFlex {
  top: -1px;
}
input {
  width: 90px;
  text-align: center;
}

.page1 .howBox {
  height: 435px;;
}
.page1 .posBunsu_1 {
  top: 17px;
  left: 260px;
  transform: scale(0.75);
}
.page1 .posBunsu_2 {
  top: 103px;
  left: 260px;
  transform: scale(0.75);
}

.bracket {
  position: relative;
  padding: 0 22px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bracket:before,
.bracket:after {
  content: '';
  position: absolute;
  top: 0px;
  width: 60px;
  height: 100%;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
}
.bracket:before {
  left: 0;
  border-left: 3px solid black;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.bracket:after {
  right: 0;
  border-right: 3px solid black;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.obj_1[data-toggle-obj="1"] {
  top: 164.429px;
  left: 691.143px;
}
.obj_2[data-toggle-obj="6"] {
  top: 297.429px;
  left: 565.286px;
}
.obj_1[data-toggle-obj="2"] {
  top: 130px;
  left: 1070.71px;
}
.obj_2[data-toggle-obj="7"] {
  top: 263.714px;
  left: 678.572px;
}

.target {
  position: absolute;
  top: 0px;
}
.target_1[data-toggle-target="1"] {
  top: 205.571px;
  left: 655.286px;
  color: #C8245B;
}
.target_2[data-toggle-target="6"] {
  top: 341.429px;
  left: 526.857px;
  color: #C8245B;
}
.img_02 {
  position: absolute;
  top: 42px;
  left: 321px;
  width: 760px;
}
.target_1[data-toggle-target="2"] {
  top: 169px;
  left: 1034px;
  color: #0086CD;
}
.target_2[data-toggle-target="7"] {
  top: 303px;
  left: 644px;
  color: #0086CD;
}
.img_03 {
  position: absolute;
  top: 42px;
  left: 320px;
  width: 760px;
}


/* 추가 */
.obj_3 {
  top: 10px;
  left: 410px;
}
.obj_4 {
  top: 10px;
  left: 920px;
}
.page1 .arrow {
  position: absolute;
  top: 345px;
  left: 220px;
}


/* page2 */
.page2 .howBox {
  height: 435px;;
}
.page2 .img_01 {
  width: 650px;
  margin-left: 100px;
}
.page2 .posBunsu_1 {
  top: 173px;
  left: 196px;
  background-color: white;
}
.page2 .posBunsu_2 {
  top: 177px;
  left: 595px;
}
.page2 .posBunsu_3 {
  top: 71px;
  left: 883px;
}
.page2 .balloonImg {
  position: absolute;
  top: 40px;
  right: 70px;
  width: 340px;
}
.page2 bunsu.hasInput {
  line-height: 1.1;
}
/* page3 */
.page3 textarea {
  height: 186px;
  white-space: pre-line;
}