
@charset "utf-8";



input {
  width: 90px;
  text-align: center;
}
section > flex {
  align-items: flex-start;
  height: 490px;
}
section > flex > div {
  flex: 1 0 auto;
  justify-content: center;
  height: 100%;
  padding-top: 50px;
  box-sizing: border-box;
  text-align: center;
}
section > flex .answerBox {
  justify-content: center;
}
section flex > div.left {
  border-right: 3px dotted #f89637;
}

.right .answerBox {
  /* margin-left: -50px; */
}