
@charset "utf-8";

h1 > p {
  position: relative;
  top: -24px;
  margin-bottom: -23px;
}
h1 > p > symbol {
  top: 1px !important;
}
[class *= 'posBunsu_'],
[class *= 'posText_'] {
  position: absolute;
}

.flexBox_1 .scaleBox {
  position: relative;
  top: 11px;
  left: -20px;
}
.page1 .img_01 {
  width: 425px;
  margin-bottom: 10px;
}
.page1 .arrow {
  position: absolute;
  top: 142px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.page1 .posText_1 {
  top: -22px;
  left: 332.761px;
  transform: scale(0.6);
  text-align: right;
}
.page1 .posText_1 div:first-child {
  margin-bottom: -24px;
}
.page1 .posText_2 {
  top: 154px;
  left: 232px;
  transform: scale(0.6);
  text-align: right;
}
.page1 .imgTarget_1 {
  top: 53px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 425px;
}
.flexBox_1 .space {
  padding: 0 40px;
}
.colorAnswer {
  padding: 0 20px;
  border-radius: 10px;
  color: transparent
}
.colorAnswer.pink {
  background-color: #edc6c9;
  padding: 6px 20px;
}
.colorAnswer.blue {
  background-color: #c1dff5;
}
.page1 .flexBox_2 {
  transform: scale(0.65);
  position: relative;
  top: -34px;
  left: 159px;
}
.flexBox_2 .space {
  padding: 0 67px;
}

.page1 .bottomFlex {
  justify-content: center;
  position: relative;
  top: -82px;
  left: -175px;
  width: 1490px;
  transform: scale(0.65);
}
.page1 input,
.page2 input {
  width: 90px;
  text-align: center;
}

.page1 .howBox {
  height: 435px;;
}
.page1 .posBunsu_1 {
  top: 17px;
  left: 260px;
  transform: scale(0.75);
}
.page1 .posBunsu_2 {
  top: 103px;
  left: 260px;
  transform: scale(0.75);
}

.bracket {
  position: relative;
  padding: 0 22px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bracket:before,
.bracket:after {
  content: '';
  position: absolute;
  top: 0px;
  width: 60px;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
}
.bracket:before {
  left: 0;
  border-left: 3px solid black;
}
.bracket:after {
  right: 0;
  border-right: 3px solid black;
}
/* 
.obj_1[data-toggle-obj="1"] {
  top: 240px;
  left: 533px;
}
.obj_2[data-toggle-obj="1"] {
  top: 323.429px;
  left: 645.286px;
}
.obj_1[data-toggle-obj="2"] {
  top: 218px;
  left: 795px;
}
.obj_2[data-toggle-obj="2"] {
  top: 306.714px;
  left: 726px;
}

.target {
  position: absolute;
  top: 0px;
}
.target_1[data-toggle-target="1"] {
  top: 280px;
  left: 514px;
  color: #C8245B;
  font-size: 38px;
}
.target_2[data-toggle-target="1"] {
  top: 366px;
  left: 635px;
  color: #C8245B;
  font-size: 38px;
}
.target_3[data-toggle-target="1"] {
  position: absolute;
  top: 72px;
  left: 50%;
  width: 344px;
  transform: translateX(-50%);
}
.target_1[data-toggle-target="2"] {
  top: 255.903px;
  left: 772px;
  color: #0086CD;
  font-size: 38px;
}
.target_2[data-toggle-target="2"] {
  top: 340.744px;
  left: 718px;
  color: #0086CD;
  font-size: 38px;
}
.target_3[data-toggle-target="2"] {
  position: absolute;
  top: 72px;
  left: 50%;
  width: 344px;
  transform: translateX(-50%);
} */


.clickButton_1 {
  top: 230px;
  left: 523px;
}
.clickButton_2 {
  top: 323.429px;
  left: 647.286px;
}
.clickButton_3 {
  top: 224px;
  left: 769px;
}
.clickButton_4 {
  top: 322.714px;
  left: 730px;
}

.target {
  position: absolute;
  top: 0px;
}
.target_1 {
  position: absolute;
  top: 271px;
  left: 500px;
  color: #C8245B;
  font-size: 33px;
}
.target_2 {
  position: absolute;
  top: 368px;
  left: 628px;
  color: #C8245B;
  font-size: 33px;
}
.img_02 {
  position: absolute;
  top: 72px;
  left: 50%;
  width: 344px;
  transform: translateX(-50%);
}
.target_3 {
  top: 246px;
  left: 744.359px;
  color: #0086CD;
  font-size: 33px;
}
.target_4 {
  top: 342.744px;
  left: 702.744px;
  color: #0086CD;
  font-size: 33px;
}
.img_03 {
  position: absolute;
  top: 72px;
  left: 50%;
  width: 344px;
  transform: translateX(-50%);
}



/* 추가 */
.obj_3 {
  top: 145px;
  left: 510px;
}
.obj_4 {
  top: 145px;
  left: 690px;
}
.page1 .arrow.right{
  position: absolute;
  top: 359px;
  left: 270px;
}

/* page2 */
.page2 .howBox {
  height: 435px;
}
.page2 .img_01 {
  width: 650px;
  margin-left: 100px;
  margin-bottom: 16px;
}
.page2 .posBunsu_1 {
  top: 177px;
  left: 226px;
  background-color: #fff;
}
.page2 .posBunsu_2 {
  top: 177px;
  left: 565px;
}
.page2 .posBunsu_3 {
  top: 64px;
  left: 866px;
}
.page2 .balloonImg {
  position: absolute;
  top: 40px;
  right: 70px;
  width: 340px;
}
.page2 .bottomFlex {
  margin-left: 70px;
}


.page2 bunsu.hasInput {
  line-height: 1.1;
}
/* page3 */
.page3 textarea {
  height: 186px;;
}

.page3 .quizButtons[data-type="reset"] {
  right: 48px;
}