
@charset "utf-8";

h3 .h3TxtL{color:#df7027; padding-right:10px; float: left; width: 110px; }
h3 .h3TxtR {color:#111;   float: left; width: 1090px;     word-break: break-all;}

input {
  display: inline-block;
  width: 90px;
  text-align: center;
  vertical-align: middle;
}

bunsu > span.bar {
  margin-top: 4px;
  margin-bottom: 4px;
}

.table bunsu > span.bar {
  margin-top: -4px;
  margin-bottom: -2px;
  height: 2px;
}

.table li.title {
  width: 300px;

}
.table li.subTitle {
  width: 300px;

}
.num07 {
  margin-top:10px;
  width:840px;
  float: left;
}



unit {
  font-family: NSquareRB;
  margin: 0 4px;
}