
@charset "utf-8";

.h2Side {
    position:relative;
    top:-7px;
    width:94%;
    text-indent:200px;
    margin:-60px 10px 0 !important;
  }
.h2Side:before {
display:none !important;
}
.page2 .basicSlider_slides > li {
    height: 482px;
}
/* 1 page */

/* 2 page */
.page2 .basicSlider_btn.next {
    right:25px !important;
    top:340px !important;
}
.page2 .basicSlider_btn.prev {
    left:25px !important;
    top:340px !important;
} 
.pwu_page2Box.cont1 {
    text-align:center;
} 

.pwu_page2Box {
    position: relative;
    width:1047px;
    height:368px;
    margin:0 auto;
    
}
.pwu_page2Box.cont2 {
    background:url(../images/1_powerup/1_powerup_page2_ex2.svg) center / contain no-repeat
}
.pwu_page2Box.cont3 {
    background:url(../images/1_powerup/1_powerup_page2_ex3.svg) center / contain no-repeat
}


.pwu_page2Box .clickButton.btn_1 {
    top: 10px;
    left: -40px;
}
.pwu_page2Box .balloon_1 {
    position: absolute;
    top: 0px;
    left: 150px;
    width: 100px;
    height: 74px;
    background: url("../images/1_powerup/1_powerup_page2_ex2_balloon.svg") center/contain no-repeat;
}
.pwu_page2Box .clickButton.btn_2 {
    top: 10px;
    left: -40px;
}
.pwu_page2Box .balloon_2 {
    position: absolute;
    top: 0px;
    left: 150px;
    width: 100px;
    height: 74px;
    background: url("../images/1_powerup/1_powerup_page2_ex3_balloon.svg") center/contain no-repeat;
}

.flexBox {
    position: absolute;
    display: flex;
    left: 120px;
    top: 100px;
}

.flexBox > div {
    padding:0 15px;
}

.flexBox .left bunsu {
    margin-left: 130px;
    margin-top: 20px;
}

.flexBox .right fomula {
    margin-left: 60px;
    margin-top: 20px;
}

fomula > input {
    width:100px;
}

bunsu input {
    width:130px;
}

input.num1 {width:100px !important}
input.num3 {width:130px !important}

.basicSlider_slides > li > .list {
    margin-left:50px;
}
.page2 .inputBox  {
    margin:0 70px;
}

.page2 .arrow.pink.right {
    position: absolute;
    top: 146px;
    left: 70px;
}
.page2 .left .arrow.pink.right {
    left: 70px;
}
.page2 .right .arrow.pink.right {
    left: 470px;
}

.exContBox {
    position:relative;
    width:1041px;
    height:375px;
    font-size:32px;
    margin:0 auto;
    background:url(../images/1_powerup/1_powerup_page2_ex4.svg) center / contain no-repeat, url(../images/1_powerup/1_powerup_page2_ex4.png) center / contain no-repeat
}
.exContBox .cell1 {
    position:absolute;
    top:170px;
    left: 230px;
}
[data-quiz-name="input_3"] .exContBox .cell2 {
    position: absolute;
    top: 170px;
    left: 660px;
}
.exContBox .cell2 {
    position: absolute;
    top: 170px;
    left: 650px;
}
.exContBox .cell3 {
    position: absolute;
    top: 272px;
    left: 113px;
}

.exContBox symbol {
    transform: scale(.7);
}

.exContBox input.num1 {width:70px !important}
.exContBox input.num3 {width:100px !important}

.exContBox.cont4 input,
.exContBox.cont4 fomula {
    display:inline-block;
    text-align:center;
}
.exContBox.cont4 fomula {
    margin-left:10px;
}

/* 3 page */

.page3 .dragBox {
    width:420px;
    height:374px;
    position: absolute;
    right: 60px;
}

.rotateContainer {
    width:40px;
    height:40px;
    z-index:99;
}
.item1 .rotateContainer {
    background-color:#57b2ea;
}
.item2 .rotateContainer {
    background-color:#ce7ca5;
}
.item3 .rotateContainer {
    background-color:#95c453;
}
.item4 .rotateContainer {
    background-color:#b667d3;
}
.item5 .rotateContainer {
    background-color:#19cccc;
}
.item6 .rotateContainer {
    background-color:#e8cf3d;
}
.item7 .rotateContainer {
    background-color:#cecece;
}

.showRotate .rotateButton { display: none; }

.dropAreaFlex {
    position:relative;
    display:flex;
}

.dropArea {
    position: relative;
    width: 610px;
    height: 425px;
    margin: 0 0 0 70px;
}
.dropArea[data-drop-area-answer="1"] {
    background:url(../images/1_powerup/1_powerup_page3_bg1.svg) center / contain no-repeat
}
.dropArea[data-drop-area-answer="2"] {
    margin-left:100px;
    background:url(../images/1_powerup/1_powerup_page3_bg2.svg) center / contain no-repeat
}
.dropArea .quizButtons {
    right:20px;
    bottom:20px;
}

.dropArea .js-dragObj.dragObjComplete {
    position: static;
    display: inline-block;
}

/* 4 page */
.supplies {
    top: 0;
    right: 0;
}
.page4 h3:nth-of-type(2),
.page5 h3:nth-of-type(2),
.page6 h3:nth-of-type(2) {
    margin:-10px 0 0;
}
.pwu_page3Box {
    width:1037px;
    height:420px;
    margin:0 auto;
    background:url(../images/1_powerup/1_powerup_page4_bg.svg) center / contain no-repeat
}

.flexBox4 {
    display:flex;
    align-items: center;
}
.flexBox4 > div {
    flex: 50%;
    box-sizing: border-box;
    padding: 40px 0 0 96px;
}
.flexBox4 > div * {
    font-size:38px;
}

.flexBox4 fomula {
    justify-content: flex-start;
}
.flexBox4 div > bunsu,
.flexBox4 fomula {
    margin-left: 100px;
}

.page4 .arrow {
    position: absolute;
    background-color: white; 
}
.page4 .left .arrow { left: 216px; }
.page4 .right .arrow { left: 740px; }
.arrow_1 { top: 319px; }
.arrow_2 { top: 494px; }

/* 5, 6 page */
.page5 .inputBox,
.page6 .inputBox {
    padding-left:60px;
}
.page5 .exContBox,
.page6 .exContBox {
    width: 1130px;
    height: 400px;
    background-image:url(../images/1_powerup/1_powerup_page5_bg.svg), url(../images/1_powerup/1_powerup_page5_bg.png);
}
.page5 .exContBox .cell1,
.page6 .exContBox .cell1  {
    left: 250px;
}
.page5 .exContBox .cell2,
.page6 .exContBox .cell2 {
    left: 710px;
}
.page5 .exContBox .cell3,
.page6 .exContBox .cell3 {
    top: 291px;
}
.page5 .exContBox .cell4,
.page6 .exContBox .cell4 {
    position: absolute;
    top: 49px;
    left: 136px;
    font-size: 23px;
}
.page5 .exContBox .cell5,
.page6 .exContBox .cell5 {
    position: absolute;
    top: 49px;
    left: 368px;
    font-size: 23px;
}
.page5 .exContBox .cell6,
.page6 .exContBox .cell6 {
    position: absolute;
    top: 49px;
    left: 720px;
    font-size: 23px;
}
.page5 .exContBox .cell7,
.page6 .exContBox .cell7 {
    position: absolute;
    top: 49px;
    left: 950px;
    font-size: 23px;
}

.page6 .exContBox .cell3 input,
.page6 .exContBox .cell3 fomula {
    display:inline-block;
    text-align:center;
}

.page6 .ml_10 {
    margin-left: 10px;
}


.dragBox > div {position: absolute;}
.dragBox .item1 {top:calc(50px * 0 + 15px)}
.dragBox .item2 {top:calc(50px * 1 + 15px)}
.dragBox .item3 {top:calc(50px * 2 + 15px)}
.dragBox .item4 {top:calc(50px * 3 + 15px)}
.dragBox .item5 {top:calc(50px * 4 + 15px)}
.dragBox .item6 {top:calc(50px * 5 + 15px)}
.dragBox .item7 {top:calc(50px * 6 + 15px)}

/* .dragBox > div > div:nth-child(1) {left:calc(50px * 0 + 40px)}
.dragBox > div > div:nth-child(2) {left:calc(50px * 1 + 40px)}
.dragBox > div > div:nth-child(3) {left:calc(50px * 2 + 40px)}
.dragBox > div > div:nth-child(4) {left:calc(50px * 3 + 40px)}
.dragBox > div > div:nth-child(5) {left:calc(50px * 4 + 40px)}
.dragBox > div > div:nth-child(6) {left:calc(50px * 5 + 40px)}
.dragBox > div > div:nth-child(7) {left:calc(50px * 6 + 40px)} */

/* 수정 */
.dragBox > div > div:nth-child(1) {left:67px}
.dragBox > div > div:nth-child(2) {left:108px;}
.dragBox > div > div:nth-child(3) {left:149px;}
.dragBox > div > div:nth-child(4) {left:calc(50px * 3 + 40px);}
.dragBox > div > div:nth-child(5) {left:231px;}
.dragBox > div > div:nth-child(6) {left:272px;}
.dragBox > div > div:nth-child(7) {left:313px;}


/* .page3 .h2Side, */
.page4 .h2Side,
.page5 .h2Side,
.page6 .h2Side {
    width: 100%;
    word-break: break-all;
    letter-spacing: -3px;
} 
h2.partner {
    position: absolute;
    top: 71px;
    left: 166px;
    width: 67px;
    height: 26px;
    background-image: url(../images/1_powerup/act_quiz_partner_icon.svg);
    background-position: 0 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.page3 h2.partner {
    left: 256px;
}

/* popup */
.popup_pages > li {
    font-size: 42px;
}
.popup_pages > li flex {
    align-items: flex-start;
}
.popup_pages > li flex > *:nth-child(1) {
    flex: 0 0 auto;
    margin-right: 20px;
}
.popup_pages > li span.textColor.answer {
    position: relative;
    top: 23px;
}

.popup_pages > li symbol, 
.popup_pages > li ins.mathSymbols {
    top: 4px;
}


