
@charset "utf-8";


section  {
  padding: 20px 50px;
}

/* .toggleObj[data-toggle-obj="1"] {
  top: 61px;
  left: 140px;
  width: 94px;
} */
.toggleObj[data-toggle-obj="2"] {
  top: 187px;
  left: 541px;
  width: 98px;
}
.tAlign_center {
  margin-top: 40px;
}