
@charset "utf-8";


section  {
  padding: 20px 50px;
}

.toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 1030px;
  width: 94px;
}
.toggleObj[data-toggle-obj="2"] {
  top: 158px;
  left: 549px;
  width: 105px;
}
.tAlign_center {
  margin-top: 40px;
}


.toggleObj[data-toggle-obj="3"] {
  top: 65px;
  left: 120px;
  width: 129px;
}
.toggleObj[data-toggle-obj="4"] {
  top: 166px;
  left: 449px;
  width: 50px;
  height: 122px;
}

.basicSlider_pageMove {
  bottom: -26px;
}