
@charset "utf-8";


section  {
  padding: 20px 50px;
}

ul.howList {
  position: relative;
  margin-bottom: 10px;
}
.howList li {
  position: relative;
  padding-left: 135px;
  margin-bottom: 0.5em;
  letter-spacing: -3.5px;
}
.howList > li:before {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  width: 128px;
  height: 50px;
}
.howList_1 > li:before {
  background: url(../../include/math_4-2/images/icon_how_1.svg) center / contain no-repeat;
}
.howList_2 > li:before {
  background: url(../../include/math_4-2/images/icon_how_2.svg) center / contain no-repeat;
}

.page1 .toggleObj[data-toggle-obj="1"] {
  top: 254px;
  left: 242px;
  width: 91px;
}
.page1 .toggleObj[data-toggle-obj="2"] {
  top: 222px;
  left: 413px;
  width: 111px;
  height: 133px;
}
.page2 .toggleObj[data-toggle-obj="1"] {
  top: 230px;
  left: 477px;
  width: 52px;
  height: 109px;
}
.page2 .toggleObj[data-toggle-obj="2"] {
  top: 230px;
  left: 564px;
  width: 76px;
  height: 109px;
}
.tAlign_center {
  margin-top: 40px;
}

.bracket {
  position: relative;
  padding: 0 22px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bracket:before,
.bracket:after {
  content: '';
  position: absolute;
  top: 0px;
  width: 60px;
  height: 100%;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
}
.bracket:before {
  left: 0;
  border-left: 6px solid black;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.bracket:after {
  right: 0;
  border-right: 6px solid black;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.bracket bunsu {
  margin: 0;
}

.bracket symbol {
  margin: 0;
  top: 2px;
}

.page1 .bottomFlex {
  width: 1130px;
  position: relative;
  top: 73px;
}

.basicSlider_pageMove {
  bottom: -25px;
}

.page2 .bottomFlex {
  position: relative;
  top: 70px;
}