.page_4 .flex-wrap,
.page_3 .flex-wrap {justify-content:space-around; align-items: center; height: 300px;}

.popup_pages .flex-wrap{justify-content:space-around; width: 80%; margin:0 auto}

.math_calc_table {width:200px;}
.math_calc_table .answer{letter-spacing: 29px;}

.box-flex {display:flex;align-items:center}
.box-flex .q-box,
.box-flex .lineBox {flex-shrink:0}
.box-flex .icon_arrow {margin:0 20px}
.box-flex .ex-img {width:620px}
.box-flex .ex-img img {width:100%}

.txt-blue {color:#00a0ff}
.greenT {color:green}
.math_calc_table .line_1{left:25%}
.math_calc_table .line_2{left:50%}
.math_calc_table .line_3{left:75%}
.math_calc_table .line_4{left:100%}

.img-box-a {text-align:center;margin-bottom:20px}
.img-box-a img {height:320px;vertical-align:top}

.bg-box-a {background:url("../images/suhi_h_0301_01_0405_2.png") no-repeat 50% 50%;background-size:contain;height:400px;width:800px;margin:0 auto;position:relative}
.bg-box-a .txt-item,
.bg-box-a .toggle {position:absolute}
.bg-box-a .toggle {background-color:transparent}
.bg-box-a .n1 {top:110px;left:200px}
.bg-box-a .n2 {top:110px;left:505px}
.bg-box-a .n3 {top:277px;left:63px}
.bg-box-a .n4 {top:273px;left:352px}
.bg-box-a .n5 {top:273px;left:643px}

.page_4 .box-flex {justify-content:space-between}
.bg-box-b {background-size:contain;background-repeat:no-repeat;background-position:50% 50%;height:300px;width:300px;position:relative;padding-top:100px;box-sizing:border-box;padding-right:0; text-align: center;}
.bg-box-b.n1 {background-image:url("../images/suhi_h_0301_01_0405_3.png")}
.bg-box-b.n2 {background-image:url("../images/suhi_h_0301_01_0405_4.png")}
.bg-box-b.n3 {background-image:url("../images/suhi_h_0301_01_0405_5.png")}
.bg-box-b .txt-top {position:absolute;top:0;left:50%;margin-left:-19px}
.bg-box-b .math_calc_table {margin:0 auto}

.bg-box-c {background:url("../images/suhi_h_0301_01_0405_6.png") no-repeat 50% 50%;background-size:contain;height:180px;width:230px;display:flex;align-items:center;justify-content:center}

.pop_page_1 .math_calc_table {width:200px;flex-shrink:0}
.pop_page_1 .contentsList {margin-left:40px}
.toggle.type-b {background-color:transparent}
.toggle.type-b:after {display:none}

.pop_page_3 .math_calc_table {position:relative}
.pop_page_3 .txt-a {position:absolute;top:-44px;left:0}

.pop_page_2 .math_calc_table {width:200px}

.page_6 .box-flex {justify-content:space-between}
.page_7 .box-flex {justify-content:center;margin-top:40px}


.greenT{color:green}
.page_1 .math_calc_table .rowLine{top:0; z-index: 1;}
.page_1 .math_calc_table .line_1{left:25%}
.page_1 .math_calc_table .line_2{left:50%}
.page_1 .math_calc_table .line_3{left:75%}
.page_1 .math_calc_table .line_4{left:100%}
.page_1 .math_calc_table{position: relative; top:0 !important; right:0 !important;}
.page_1 .math_calc_table{width:200px;  line-height: 1.1;}
.page_1 .math_calc_table td{padding:5px 0;}
.page_1 .math_calc_table .line td{padding: 0 !important;}
.page_1 .math_calc_table.class3 tr.line-tr td, .math_calc_table.class3 tr.line td{height: 2px !important;}
.page_1 .flex-wrap{justify-content:space-between; }
.page_1 .flex-item{position: relative;}
.page_1 .flex-item + .flex-item{margin-left:50px;}
.page_1 .flex-wrap .icon_arrow{margin:0;}
.page_1 td.bg{background: #e3e3e3;}
.page_1 .icon_arrow {position:absolute; right: -41px; top: 85px; cursor: pointer;}
.page_1 .icon_arrow.big{width: 41px; height: 35px;}
.page_1 .lineBox{padding-top:30px}

/* .page_7 .math_calc_table{width:200px; font-size:40px; transform: scale(1.2);}
.page_7 .math_calc_table .answer {letter-spacing: 25px;} */
.page_7 .flex-wrap{width: 80%; background: url(../images/suh_h_0301_01_1011_203_1.png) no-repeat 50% 50% / cover; height: 320px; margin:0 auto; position: relative;}
.page_7 .flex-wrap .n1{position: absolute; top:90px; left:100px; width:190px}
.page_7 .flex-wrap .n2{position: absolute; top:90px; right:60px; width:190px}
.page_7 .blackT{color:#000;}
.page_7 .lay-tbl td{vertical-align: top;padding-bottom: 30px;}
.page_7 .lay-tbl .colorBox.check{margin-top:7px}
.page_7 .lay-tbl .colorBox{text-align: center;}

.vOn .icon_arrow {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}

.page_5 .balloon.sky:after{top:70px}
.page_5 .balloon{width: 290px; top: 70px; left:290px; display: block; text-align: center; word-break: keep-all;}
.page_5 .single.charSpriteImg{position: absolute; top:-90px; right:190px}