body {
    background: url("../images/bgImg.png") center / cover no-repeat;
}

#bgCanvas {
    position: absolute;
    width: 1280px;
    height: 720px;
    margin: -25px 0 0 20px;
}

#panel {
    display: inline-block;
    position: absolute;
    top: 66px;
    left: 325px;
    width: 670px;
    height: 238px;
    background: url(../images/basketball_panel.png) no-repeat;
}

.question {
    font-family: NanumGothicExtraBold;
    position: absolute;
    width: 164px;
    height: 113px;
    /* font-size: 65px; */
    color: #333333;
    /* line-height: 113px; */
    text-align: center;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44px;
    line-height: 1.2;
}

#answerObject {
    display: inline-block;
    position: absolute;
    width: 112px;
    height: 112px;
    background: url(../images/basketball_questionbox.png) no-repeat;
}

.basketballText {
    display: none;
}

.basketball {
    position: absolute;
    display: inline-block;
}

#goalpost {
    position: absolute;
    display: inline-block;
    top: 195px;
    left: 230px;
    pointer-events: none;
    z-index: 5;
}