.answer .bunsuWrap ul > li:first-of-type {border-color:#00a0ff}
.ex-box {display:flex}
.ex-box.a-c {align-items:center}
.ex-box.a-c .bullet.exam {align-self:inherit;margin-top:0}
.ex-box .bullet.exam {flex-shrink:0}
.ex-box .inline-flex-box {align-items:center}
.img-answer {width:800px;height:98px;position:relative;margin:60px auto 20px}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;background:url("../images/suh_0601_01_0004_202_1_2.png") no-repeat 50% 50% / 100%;opacity:0;transition:opacity 1s}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {z-index:2;opacity:1}
.box-flex {display:flex;justify-content:center;align-items:center;margin-top:60px}
.box-flex .bunsuWrap .toggle {margin:8px 0}
.study_guide {right:0}
.answer-area {text-align:center}
.answer-area .toggle {margin:8px 0}

.box-flex {display:flex;justify-content:center;align-items:center}
.pt-s {padding-top:24px}

#wrap header .title:before {top:22px}

.page_1 h2 .dot,
.page_3 h2 .dot {margin-top:34px !important;}

.page_3 .lineBox {width:500px;margin:40px auto 0;padding-bottom:20px}
.page_3 .box-flex {margin-top:0}

.page_2 h2 {margin-top:14px}
