.gray-box {background-color:#efefef;border-radius:8px;height:44px;width:44px;display:inline-block;position:relative;top:4px;margin-right:4px}

.page_3 .parenthesis {position:relative;top:-2px;}

.ex-box {display:flex}
.ex-box.a-c {align-items:center}
.ex-box.a-c .bullet.exam {align-self:inherit;margin-top:0}
.ex-box .bullet.exam {flex-shrink:0}
.ex-box .inline-flex-box {align-items:center}
.img-answer {width:800px;height:98px;position:relative;margin:60px auto 20px}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;background:url("../images/suh_0601_01_0004_202_1_2.png") no-repeat 50% 50% / 100%;opacity:0;transition:opacity 1s}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {z-index:2;opacity:1}
.box-flex {display:flex;justify-content:center;align-items:center;margin-top:60px}
.box-flex .bunsuWrap .toggle {margin:8px 0}
.study_guide {right:0}
.answer-area {text-align:center}
.answer-area .toggle {margin:8px 0}

.box-type-b {display:flex;align-items:center;justify-content:center;margin-top:40px}
.box-type-b .character-box {margin-left:60px}
.box-type-b .characterImg {position:relative}
.box-type-b .balloon.right:after {top:80px}
.box-type-b .balloon {position:relative}

/* page_1 */
.page_1 .textAlignC .bunsuWrap {display:flex;align-items:center;justify-content:center}

/* page_2 */
.page_2 .quizText {background-position:12px 39px;}
.page_2 .quizText > div {display:inline;vertical-align:middle;}
.contentsBox[data-line="1"] .page_2 .scroll-wrapper.height {height:325px;}
.page_2 .mainCon {display:flex;align-items:center;justify-content:center}
.page_2 .con {text-align:center;}
.page_2 .con img {vertical-align:middle;}
.page_2 .con_1 {display:flex;align-items:center;justify-content:center}
.page_2 .con_1 > div:nth-child(1), .page_2 .con_1 > div:nth-child(3) {width:200px;}
.page_2 .con_1 > div:nth-child(2) {width:100px;}
.page_2 .con_2 {}
.page_2 .con_3 {text-align:left;}
.page_2 .con_3 .bunsuWrap {align-items:center;justify-content:center;display:flex}
.page_2 .bunsuWrap .qBox_2 {line-height:45px;margin-bottom:5px;padding:0 5px;min-width:50px;}
.innerTab_2 .qCon {margin-top:40px}
.innerTab_2 .bunsuWrap {display:flex;;align-items:center;justify-content:center}
.innerTab_2 .bunsuWrap .toggle {margin:8px 0}


.box-flex {display:flex;justify-content:center;align-items:center}
.pt-s {padding-top:24px}
.sub-box {padding-top:24px;display:flex;align-items:center}
.page_2 .contentsBox.doItContent {padding:0}
.dapCheckBtn {z-index:10}
