body {
  background: url("../images/bgImg.png") center / cover no-repeat;
  /* background-position: 0 -116px; */
}

#bgCanvas {
  position: absolute;
  /* background-position: 184px 40px; */
  width: 1280px;
  height: 720px;
  margin-top: -10px;
}

#totalCoinContainer {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  width: 1280px;
  height: 720px;
  line-height: 720px;
}

#coinMachine_0,
#coinMachine_1,
#coinMachine_2,
#coinMachine_3,
#coinMachine_4 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 0px;
  padding: 0 30px;
  width: 190px;
  height: 400px;
  background: 30px 0 no-repeat;
}

#coinMachine_0 {
  background-image: url(../images/complete2_1000case_bottom.png);
}

#coinMachine_1 {
  background-image: url(../images/complete2_100case_bottom.png);
}

#coinMachine_2 {
  background-image: url(../images/complete2_10case_bottom.png);
}

#coinMachine_3 {
  background-image: url(../images/complete2_1case_bottom.png);
}

#coinMachine_4 {
  background-image: url(../images/complete2_1case_bottom.png);
}

#questionTxt {
  position: absolute;
  display: inline-block;
  top: 43px;
  left: calc((1280px - 350px) / 2);
  width: 350px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-family: NanumGothicExtraBold;
  font-size: 55px;
  color: #333333;
  background: url(../images/complete2_textbox.png) no-repeat;
  pointer-events: none;
}

.machineCase {
  position: absolute;
  z-index: 5;
  left: 30px;
  pointer-events: none;
}

.machineLine {
  position: absolute;
  z-index: 10;
  left: 30px;
  display: none;
  pointer-events: none;
}

.btnMachineUp,
.btnMachineDown {
  position: absolute;
  /*float: left;*/
  top: 302px;
}

.btnMachineDown {
  left: 45px;
}

.btnMachineUp {
  left: 133px;
}

.coinText {
  position: absolute;
  top: 29px;
  /* left: 30px; */
  left: 28px;
  width: 190px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: NanumGothicExtraBold;
  z-index: 6;
  /* font-size: 50px; */
  font-size: 40px;
  pointer-events: none;
  letter-spacing: -0.05em;
}

.coin_0,
.coin_1,
.coin_2,
.coin_3,
.coin_4 {
  position: absolute;
}

#checkBtn {
  width: 196px;
  height: 80px;
  position: absolute;
  left: 1060px;
  top: 595px;
  z-index: 10;
  background: url(../images/keypad_confirm.png) no-repeat;
  display: none;
}
