.img-wrap {
    width: 100%;
}

.btn_1 {
    width: 100%;
    height: 360px;
    background: #fff url(../images/suh_h_0302_01_0003_201_1/suh_h_0302_01_0003_201_1_1.png) no-repeat 50% 0 / cover;
    margin-bottom: 20px;
    border-radius: 20px;
}

.btn_1 .b1 {
    top: 10px;
    left: 550px;
    z-index: 2;
    text-align: center;
    width: 480px;
}

.btn_1 .b2 {
    top: 10px;
    left: 30px;
    z-index: 2;
    text-align: center;
    width: 410px;
}
.btn_1 .b1::after {
    left: 40% !important;
}
.btn_1 .b2::after {
    left: 80% !important;
}

/* page2 */

.item-1 {
    position: absolute;
    top: 80px;
    left: 0;
    width: 160px;
    text-align: center;
}

.item-1 img {
    width: 100%;
}

.item-1>span {
    display: inline-block;
}

.item-2 {
    position: absolute;
    top: 150px;
    left: 170px;
}

.item-3 {
    position: absolute;
    top: 0;
    left: 270px;
    opacity: 0;
}

.item-3 .img1 {
    position: absolute;
    width: 540px;
}

.item-3 .toggle {
    display: inline-flex;
}

.item-3.on {
    opacity: 1;
    width: 10;
}

.item-3 .group {
    position: absolute;
    width: 320px;
    top: 5px;
    left: 477px;
}

.item-3 .group-item {
    margin-bottom: 10px;
}

.item-3 .group-txt {
    display: inline-block;
    width: 200px;
    text-align: right;
}

.item-3 .group-item .toggle:after {
    display: none;
}

.type-linebox-b .s1 {
    width: 150px;
    left: -45px;
}

.type-linebox-b .s2 {
    width: 130px;
    left: -30px;
}

.type-linebox-b .s3 {
    width: 110px;
    left: -13px;
}

.item-3 .a1 {
    position: absolute;
    top: 150px;
    left: 283px;
    z-index: 2
}

.item-3 .a2 {
    position: absolute;
    top: 45px;
    left: 283px;
    z-index: 2
}

.item-3-1 {
    position: absolute;
    top: 230px;
    left: 0;
    width: 790px;
    height: 190px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
}
