.icon_arrow.big{position: relative; z-index: 5;}
td.bg{background: #e3e3e3;}
.flex-wrap{align-items: flex-start; position: relative;}
.icon_arrow{top:80px; margin:0 10px}
.b1{text-align:center; top:180px;left: 25px;}
.b2{text-align:center; top:230px;left: 15px; width: 220px;}
.b3{text-align:center; top:280px;left: -15px; width: 280px;}
.pointContainer .contentsBox{padding:44px 10px 40px;}
.b3::after{left:84px !important}



