
.ico-info {
    left: 957px;
    top: 168px;
}

.ico-figure-01 {
    width: 120px;
    height: 42px;
    margin: -10px -4px 0 0;
}
.ico-figure-01.bb-01::before {
    background-image: url(../images/ico/ico_figure_1.svg);
}

/* 퀴즈 */
.content .image-answer {
    left: 0;
    top: 230px;
}

.quiz-check.image-answer .check-item {
    width: 54px;
    height: 54px;

    background-size: 54px 54px;
    background-image: url(../images/ico/check_item.svg);

    animation: ani-flash-01 1s linear 0s infinite;
}
.quiz-check.image-answer .check-item.active {
    animation: none;
}

#quiz-01 .check-item {
    left: 613px;
    top: 78px;
}
#quiz-02 .check-item {
    left: 613px;
    top: 287px;
    transform: rotate(180deg);
}
#quiz-03 .check-item {
    left: 508px;
    top: 182px;
    transform: rotate(270deg);
}