.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_4_02_03_01/bg.svg); */
    /* background-image: url(../images/mm_41_4_02_03_01.png); opacity: 1; */
}

.ico-figure-01 {
    width: 120px;
    height: 42px;
    margin: -10px -4px 0 0;
}
.ico-figure-01.bb-01::before {
    background-image: url(../images/ico/ico_figure_1.svg);
}