.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_4_01_08_03/bg.svg); */
    /* background-image: url(../images/02.png); opacity: 0.7; */
}

/* 색칠하세요 버튼 위치 */
.app-drawing-tool .tool-container {
    top: 160px;
    right: 20px;
}

.scroll-inner {
    top: 50px;
    height: 320px;
    overflow: hidden;
}


/* 정답 이미지 */
.quiz-01-answer {
    position: absolute;
    left: 213px;
    top: 0px;
}
.quiz-02-answer {
    position: absolute;
    left: 213px;
    top: 0px;
}

#quiz-01 .check-item.btn- {
    left: 786px;
    top: -4px;
}

#quiz-02 .check-item.btn- {
    left: 786px;
    top: 356px;
}


.quiz-check.image-answer {
    position: relative;
    left: 213px;
    top: -665px;
}