.content-container > .content > .bg {
    background-image: url(../images/mm_41_4_05_03_02/bg.svg);
    /* background-image: url(../images/mm_41_4_05_03_02.png); opacity: 1; */
}

.quiz-check .answer {
    position: absolute;
    top: 0;
    left: 0;
}
#quiz-01 .check-item {
    position: absolute;
    width: 104px;
    height: 104px;
    left: 638px;
    top: 274px;
    background: url(../images/mm_41_4_05_03_02/check.svg) no-repeat;
}
#quiz-02 .check-item {
    position: absolute;
    width: 104px;
    height: 104px;
    left: 738px;
    top: 274px;
    background: url(../images/mm_41_4_05_03_02/check.svg) no-repeat;
}
#quiz-03 .check-item {
    position: absolute;
    width: 104px;
    height: 104px;
    left: 638px;
    top: 374px;
    background: url(../images/mm_41_4_05_03_02/check.svg) no-repeat;
}
#quiz-04 .check-item {
    position: absolute;
    width: 104px;
    height: 104px;
    left: 738px;
    top: 374px;
    background: url(../images/mm_41_4_05_03_02/check.svg) no-repeat;
}
#quiz-01 .check-item.answered {
    visibility: hidden;
}
#quiz-02 .check-item.answered {
    visibility: hidden;
}
#quiz-03 .check-item.answered {
    visibility: hidden;
}
#quiz-04 .check-item.answered {
    visibility: hidden;
}

#quiz-01 .answer {
    left: 458px;
    top: 214px;
}
#quiz-02 .answer {
    left: 860px;
    top: 153px;
}
#quiz-03 .answer {
    left: 907px;
    top: 357px;
}
#quiz-04 .answer {
    left: 907px;
    top: 357px;
}

.info-box {
    position: absolute;
    top: 170px;
    right: 185px;
}