.content-container > .content > .bg {
    background-image: url(../images/mm_41_4_08_02_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

.q-box {
    position: absolute;
    left: 0;
    top: 480px;
}