.content-container > .content > .bg {
    background-image: url(../images/mm_41_4_04_06_03/bg.svg);
    /* background-image: url(../images/02.png); opacity: 0.7; */
}

.app-drawing-tool .tool-container {
    top: 160px;
    right: 20px;
}


.quiz-01-answer {
    position: absolute;
    left: 0;
    top: 0px;
}
.quiz-02-answer {
    position: absolute;
    left: 0;
    top: 0px;
}

#quiz-01 .check-item.btn- {
    left: 753px;
    top: 261px;
}

#quiz-02 .check-item.btn- {
    left: 1106px;
    top: 261px;
}


.quiz-check.image-answer {
    position: relative;
    left: 0px;
    top: -220px;
}
