.content-container > .content > .bg {
    background-image: url(../images/mm_41_4_05_06_03/bg.svg);
    /* background-image: url(../images/02.png); opacity: 0.7; */
}

.popup-more-one > .bg {
    background-image: url(../images/mm_41_4_05_06_03/bg_popup_more.svg);
}

.ico-figure-01.bb-01::before {
    background-image: url(../images/mm_41_4_05_06_03/ico_figure_1_0001.svg);
}

.ico-figure-01 {
    width: 52px;
    height: 52px;
    margin: -5px 0px 0 0;
}

.ico-figure-01.bb-02::before {
    background-image: url(../images/mm_41_4_05_06_03/ico_figure_1_0002.svg);
}


.info-box {
    left: 1000px;
    top: 160px;
}


/* ----------------------- 체크 퀴즈 */
.quiz-01-answer {
    position: absolute;
    left: 0;
    top: 0;
}
.quiz-check .answer {
    position: absolute;
    top: 0;
    left: 0;
}
.quiz-check .check-item.active,
.quiz-check .check-item.answered {
    visibility: hidden;
}
.quiz-check .check-item {
    position: absolute;
    width: 104px;
    height: 104px;
    left: 638px;
    top: 274px;
    background: url(../images/mm_41_4_05_06_03/check.svg) no-repeat;
}
#quiz-01 .check-item:nth-child(1) {
    left: 538px;
    top: 330px;
}
#quiz-01 .check-item:nth-child(2) {
    left: 638px;
    top: 330px;
}
#quiz-01 .check-item:nth-child(3) {
    left: 738px;
    top: 330px;
}
#quiz-01 .check-item:nth-child(4) {
    left: 838px;
    top: 330px;
}
#quiz-01 .check-item:nth-child(5) {
    left: 538px;
    top: 430px;
}
#quiz-01 .check-item:nth-child(6) {
    left: 638px;
    top: 430px;
}
#quiz-01 .check-item:nth-child(7) {
    left: 738px;
    top: 430px;
}
#quiz-01 .check-item:nth-child(8) {
    left: 838px;
    top: 430px;
}
#quiz-01 .check-item:nth-child(9) {
    left: 438px;
    top: 330px;
}
#quiz-01 .check-item:nth-child(10) {
    left: 438px;
    top: 430px;
}
#quiz-01 .check-item:nth-child(11) {
    left: 338px;
    top: 430px;
}


/* 2차 수정. 넣어 달래서 넣는다 */
.btn-answer-part:nth-child(1) {
    left: 950px;
    top: 327px;
}