.content-container > .content > .bg {
    background-image: url(../images/mm_41_4_06_02_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 쌍둥이 문제 bg */
.popup-twins.twins-01 > .bg {
    background-image: url(../images/mm_41_4_06_02_01/bg_twins_01.svg);
}
.popup-twins.twins-02 > .bg {
    background-image: url(../images/mm_41_4_06_02_01/bg_twins_02.svg);
}


/* 체크 퀴즈 */
.quiz-check.type-ox-01 .check-item::before {
    transform: scale(0.75);
}
#quiz-01 .check-item {
    position: absolute;
    /* background-color: rgba(255,0,0,0.5); */
}
#quiz-01 .check-item:nth-child(1) {
    left: 910px;
    top: 276px;
    width: 190px;
}
#quiz-01 .check-item:nth-child(2) {
    left: 910px;
    top: 496px;
    width: 190px;
}

/* 체크 퀴즈 - 쌍둥이 문제 1 */
.quiz-check.type-ox-01 .check-item::before {
    transform: scale(0.75);
}
#quiz-02 .check-item {
    position: absolute;
    /* background-color: rgba(255,0,0,0.5); */
}
#quiz-02 .check-item:nth-child(1) {
    left: 868px;
    top: 20px;
    width: 190px;
}
#quiz-02 .check-item:nth-child(2) {
    left: 868px;
    top: 208px;
    width: 190px;
}

/* 체크 퀴즈 - 쌍둥이 문제 2 */
.quiz-check.type-ox-01 .check-item::before {
    transform: scale(0.75);
}
#quiz-03 .check-item {
    position: absolute;
    /* background-color: rgba(255,0,0,0.5); */
}
#quiz-03 .check-item:nth-child(1) {
    left: 868px;
    top: 20px;
    width: 190px;
}
#quiz-03 .check-item:nth-child(2) {
    left: 868px;
    top: 208px;
    width: 190px;
}