.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_4_02_04_02/bg.svg); */
    /* background-image: url(../images/mm_41_4_02_04_02.png); opacity: 1; */
}
/* 색칠하세요 버튼 위치 */
.app-drawing-tool .tool-container {
    top: 105px;
    right: 20px;
}



/* 퀴즈 */
.content .image-answer {
    left: 0;
    top: 130px;
}

.quiz-check.image-answer .check-item {
    width: 85px;
    height: 85px;

    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: #FF913C;

    background: none;
    /* background-size: 29px 44px; */
    /* background-image: url(../images/ico/check_item_2.svg); */

    animation: ani-flash-01 1s linear 0s infinite;
}
.quiz-check.image-answer .check-item.active {
    animation: none;
}

#quiz-01 .check-item {
    left: 597px;
    top: 332px;
}
#quiz-02 .check-item {
    left: 406px;
    top: 523px;
}
#quiz-03 .check-item {
    left: 597px;
    top: 712px;
}