/* 색칠하세요 버튼 위치 */
.app-drawing-tool .tool-container {
    top: 105px;
    right: 20px;
}

.content .img-box,
.content .image-answer {
    left: 0;
    top: 120px;
}
.quiz-check.image-answer .check-item {
    width: 44px;
    height: 44px;

    background-size: 44px 44px;
    background-image: url(../images/ico/check_item.svg);

    animation: ani-flash-01 1s linear 0s infinite;
}
.quiz-check.image-answer .check-item.active {
    animation: none;
}


#quiz-01 .check-item {
    left: 723px;
    top: 365px;
    transform: rotate(90deg);
}
#quiz-02 .check-item {
    left: 610px;
    top: 479px;
    transform: rotate(180deg);
}