.content-container > .content > .bg {
    background-image: url(../images/mm_41_4_03_08_02/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

.app-drawing-tool .tool-container {
    top: 160px;
    right: 20px;
}

.quiz-01-answer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.quiz-02-answer {
    position: absolute;
    left: 213px;
    top: 0px;
}

.btn-answer-part:nth-child(1) {
    left: 1017px;
    top: 242px;
}

.btn-answer-part:nth-child(2) {
    left: 986px;
    top: 356px;
}