
/* 퀴즈 */
.content .image-answer {
    left: 0;
    top: 10px;
}
#quiz-01 .check-item {
    left: 578px;
    top: 2px;
}
#quiz-02 .check-item {
    left: 998px;
    top: 2px;
}

/* 색칠하세요 버튼 위치 */
.app-drawing-tool .tool-container {
    top: 160px;
    right: 20px;
}
