.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_4_06_08_01/bg.svg); */
    /* background-image: url(../images/01.png); opacity: 0.5; */
}

.app-mind-map .map.title {
    left: 483px;
    top: 318px;
}
.app-mind-map .map-01 {
    left: 370px;
    top: 71px;
}
.app-mind-map .map-02 {
    left: 892px;
    top: 157px;
}
.app-mind-map .map-03 {
    left: 900px;
    top: 464px;
}
.app-mind-map .map-04 {
    left: 494px;
    top: 509px;
}
.app-mind-map .map-05 {
    left: 40px;
    top: 350px;
}