.content-container > .content > .bg {
    background-image: url(../images/mm_41_4_01_08_02/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 쌍둥이 문제 bg */
.popup-twins.twins-01 > .bg {
    /* background-image: url(../images/mm_41_4_01_08_02/bg_twins_01.svg); */
}
.popup-twins.twins-02 > .bg {
    /* background-image: url(../images/mm_41_4_01_08_02/bg_twins_02.svg); */
}


/* 체크 퀴즈 */
.quiz-check.type-ox-01 .check-item::before {
    transform: scale(0.75);
}
#quiz-01 .check-item {
    position: absolute;
    /* background-color: rgba(255,0,0,0.5); */
}
#quiz-01 .check-item:nth-child(1) {
    left: 574px;
    top: 504px;
    width: 190px;
}
#quiz-01 .check-item:nth-child(2) {
    left: 875px;
    top: 504px;
    width: 190px;
}
/* 입력 퀴즈 - 쌍둥이 문제 1 */

/* 입력 퀴즈 - 쌍둥이 문제 2 */
