.popup_pages>li.whole h2.pop-tit{background-color:transparent !important; align-self:flex-start; padding:20px; }
.popup_pages .buttonContainer{right:40px; bottom:20px;}
.popup_pages ins.number {margin: 6px 10px 0 0;width: 40px;height: 40px;line-height: 1.8em;text-align: center;font-size: 22px;letter-spacing: 0;border-radius: 10px;color: #6dbc4b;border: 2px solid #6dbc4b;background-color: #fff;}
img{width:100%}

.page_1 .img-q {position:relative;margin-top:50px;padding-left:30px}
.page_1 [class*='txt-'] {position:absolute;top:140px}
.page_1 .txt-1 {left:338px}
.page_1 .txt-2 {left:693px}
.page_1 .txt-3 {left:1048px}
.page_1 .toggle {position:absolute;top:220px}
.page_1 .toggle.n1 {left:85px}
.page_1 .toggle.n2 {left:658px}
.pop_page_1 .contentsList p {letter-spacing:-1px}

.page_2 .img-q {position:relative;margin-top:50px;padding-left:50px}
.page_2 [class*='txt-'] {position:absolute;top:160px;white-space:nowrap}
.page_2 .txt-1 {left:44px}
.page_2 .txt-2 {left:995px}
.page_2 .q-item {position:absolute;top:228px;left:690px}
.pop_page_2 .popup_contents > div {letter-spacing:-1px}
.pop_page_2 .popup_contents .bunsuWrap.inline {vertical-align:3px}

.pop_page_3 .contentsList .icon_arrow {margin-left:10px;vertical-align:-1px}

.page_4 .q-group {margin-top:100px}
.page_4 .q-item {display:flex;justify-content:center;align-items:center;padding:20px 0}
.page_4 .q-item .toggle:not(.circle) {margin-left:10px}
.page_4 .q-item .icon_arrow {margin-right:30px}
.page_4 .q-item .num {margin:0 20px}
.pop_page_4 .popup_contents img {width:16px;margin:0 4px;vertical-align:0}