.contentsBox section{padding:0;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

header .title .textInBtn.inline {top:4px;}
/* header .title .supply_guide.inline {vertical-align:4px;} */

.imgContainer {padding-top:52px;text-align:center;}
.imgContainer > div {display:inline-flex;align-items:center;margin:0 20px 20px;}
.imgContainer > div span:first-child {margin:0 10px 0 0;}
.imgContainer > div img {height:50px;vertical-align:top;}

.page_4 .imgContainer {padding-top:0;}
.page_4 .speechBox {display:flex;width:100%;align-items:center;}
.page_4 .speechBox .characterImg  {position:relative;margin:0 20px 0 0;}
.page_4 .speechBox .balloon {position:relative;width:700px;}

/* .pop_page_1 .imgContainer {} */
.pop_page_1 .full-img img {width:100%;}
.pop_page_1 .balloon {left:190px;top:55px;width:400px;}
.pop_page_1 .colorBox {position:absolute;z-index:3;}
.pop_page_1 .colorBox.v01 {left:760px; top:70px;}
.pop_page_1 .colorBox.v02 {left:870px; top:410px;}
