.contentsBox section{position:relative;}
.contentsBox .guide_txt_box .study_guide {right:30px;top:-55px;}
.contentsBox h2 .icon_o_title,
.contentsBox h2 .icon_tri_title {margin-top:8px;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

header .title .textInBtn.inline {top:4px;}
/* header .title .supply_guide.inline {vertical-align:4px;} */

.page_1 .tableContainer .toggle {background-color:transparent;}

.page_2 .tableContainer .choice {display:inline-block;position:relative;width:50px;text-align:center;}
.page_2 .tableContainer .choice .icon {position:absolute;left:50%;top:50%;margin:-25px 0 0 -25px;}

.page_3 .contentsList {margin: 50px 0 15px;}
.page_3 .contentsList li {display: inline-block;vertical-align:top;}
.page_3 .contentsList>li>.colorBox.check+* {width: auto;}
.page_3 .colorBox.check {display: inline-block;vertical-align: top;padding: 12px 18px;margin-right: 0;}
.page_3 .contentsList li+li {margin-left: 30px;}
.page_3 .contentsList .bunsuContainer {display: inline-block;margin: 0;}

.page_4 .textAlignC {margin:20px 0 0;}

