.moveButtonContainer{bottom:20px}
.contentsBox.board h2{color:#fff;}
.contentsBox.board .buttonContainer{
    left: 30px;
    bottom:26px;
}



.flex-wrap{justify-content: space-around; position: relative; margin-top:90px; padding:0 330px}
.flex-wrap img{min-width:300px; max-width:300px; display: block;}
.flex-wrap .toggle{background-color: transparent; padding: 0;}
.flex-wrap .toggle::after{display: none;}

.flex-wrap .item:first-child{margin-top:-10px}
.flex-wrap .item + .item{margin-top:40px}
.flex-wrap .icon_arrow{display: block; transform: rotate(180deg); }
.bunsuWrap ul > li:first-of-type{border-color:#fff;}

.flex-wrap .bunsuWrap{transform: scale(2);}
.flex-wrap .m3 .item:first-child{margin-top:-20px}
.n1{text-shadow: 0 0 10px greenyellow;}
.n2{text-shadow: 0 0 10px red;}
.t1{text-shadow: 0 0 10px greenyellow;}
.t2{text-shadow: 0 0 10px red;}

.yellow .bunsuWrap ul > li:first-of-type{border-color:#e85045;}

.flex-wrap .m4 .icon_arrow{display: block; transform: rotate(0); }
.innerTab_3 .flex-wrap{justify-content: space-around; position: relative; margin-top:90px; padding:0 230px}














