.contentsBox section {padding: 0;}
#wrap header .title{display: flex;justify-content: flex-start;text-align: justify;}
#wrap header .title .bullet.number {margin-top: 5px;margin-right:10px;}
#wrap.q5 header .title .bullet.number + .bullet.number{margin-right:2px}
/*iframe restyle*/
/* .iframe-wrap{position: relative !important;width: 1058px;height: 566px;overflow:hidden;z-index: 0 !important;}
.page-iframe{position: absolute;top: 0;left: 0;width:1058px;height: 566px;} */
.iframe-wrap{position: absolute;width: 1058px;height: 540px;margin-top: 30px;overflow:hidden;z-index: 0 !important;}
.page-iframe{position: absolute;top: 0px;left: -100px;width: 1208px;height: 537px;}
.contentsBox .flex-wrap {width: 800px;height: 200px;align-items: flex-end;margin: 0 auto;}
.flex-item {text-align: center;}
.flex-item.n1 img {width: 60px;}
.flex-item.n2 img {width: 300px;}
.img-wrap {margin-bottom: 10px;}
.popup_contents .textAlignC {width: 800px;margin: 10px auto 0;}
.popup_contents .textAlignC img {width: 650px;}
.popup_contents .flex-wrap {width: 1050px;margin: 0 auto;}
.pop_page_3 .popup_contents .textAlignC {margin-top: 60px;}

.dragitem{
	visibility: visible !important;
	opacity: 1 !important;
	z-index: 1 !important;
	box-shadow: none !important;
	top: 60%;
	left:24%;
	z-index: 100 !important;
	background-color: transparent !important;
}

.solve {
	z-index: 101 !important;
}