











img {
	width: 100%;
}

.pop_page_1 {
	top: 110px;
	left: 24px;
}

.pop_page_1 .tit {
	width: auto;
	background-color: #d4f3f6;
	display: inline-block;
	padding: 5px 20px 7px;
	border-radius: 20px;
}

.pop_page_1 .basicSlider_slides>li {
	padding: 20px;
	box-sizing: border-box;
}

.pop_page_1 .basicSlider_slides {
	width: 1127px;
	height: 590px;
	box-sizing: border-box;
}

/* .pop_page_1 .img-wrap{width:100%}
.pop_page_1 .img-wrap img{width:1087px;} */

.tit-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 30px 14px;
	z-index: 1;
}

.lineBox {
	width: 340px;
	position: absolute;
	height: 170px;
	padding: 10px;
	z-index: 1;
	overflow: hidden;
}

.lineBox .popBtn {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.lineBox.n1 {
	top: 212px;
	left: 0;
}

.lineBox.n2 {
	top: 0;
	left: 25%;
}

.lineBox.n3 {
	width: 300px;
	top: 165px;
	right: 0;
}

.lineBox.n4 {
	width: 380px;
	bottom: 0;
	right: 10%;
}
.lineBox.n4 img {
	height: 165px;
}

.lineBox.n5 {
	bottom: 0;
	left: 10%;
}

.pointContainer .contentsBox {
	padding-top: 25px;
}

svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
}

.popup_pages .flex-wrap {
	width: 100%;
	height: auto;
	text-align: center;
	justify-content: space-around;
	font-size: 40px;
}

.popup_pages .page_1 .flex-wrap,
.popup_pages .page_4 .flex-wrap {
	height: 420px;
	align-items: flex-start;
	padding-top: 50px;
}

.popup_pages .page_1 .flex-wrap .n1,
.popup_pages .page_4 .flex-wrap .n1 {
	position: relative;
}

.popup_pages .page_1 .flex-wrap .n1,
.popup_pages .page_4 .flex-wrap .n1 {
	flex: 2;
}

.popup_pages .page_1 .flex-wrap .n2 {
	height: 100%;
	text-align: center;
}

.popup_pages .page_1 .n2 .balloon.b1,
.popup_pages .page_4 .n2 .balloon.b1 {
	position: absolute;
	top: 130px;
	right: 125px;
	text-align: center;
}

.popup_pages .page_1 .n1 .img-wrap img {
	width: 500px;
}

.popup_pages .page_1 .n2 .characterImg,
.popup_pages .page_4 .n2 .characterImg {
	bottom: 140px;
	left: auto;
	right: 165px;
}

.popup_pages .page_4 .flex-wrap {
	padding-left: 30px;
}

.popup_pages .page_4 .img-wrap {
	margin: 30px auto 20px;
}

.popup_pages .page_4 .n1 .img-wrap img {
	width: 580px;
}

.popup_pages .page_4 .n1 {
	max-width: 51%;
}

.popup_pages .page_4 .n1 .contentsList div {
	text-align: center;
}

.popup_pages .page_4 .n2 .balloon.b1 {
	top: 20px;
}

.popup_pages .page_4 .n2 .characterImg {
	bottom: 165px;
	right: 200px;
}

.popup_pages .page_4 .n2 .lineBox {
	display: inline-block;
	text-align: center;
	width: auto;
	height: auto;
	position: absolute;
	bottom: 75px;
	right: 156px;
}

.popup_pages .page_2 .textAlignC {
	position: relative;
}

.popup_pages .page_2 .flexListContainer {
	height: calc(100% - 100px);
}

.popup_pages .page_3 .flexListContainer {
	position: relative;
}

.popup_pages .page_3 .flexListContainer .balloon,
.popup_pages .page_3 .flexListContainer .characterImg {
	position: absolute;
	left: 50%;
	transform: translateX(-50%)
}

.popup_pages .page_3 .flexListContainer .balloon {
	top: 90px;
}

.popup_pages .page_3 .flexListContainer .characterImg {
	top: 250px;
}

.popup_pages .page_5 .textAlignC {
	position: relative;
	margin: 20px auto 0;
}
.popup_pages .page_5 .textAlignC .icon_arrow {
	margin-right: 10px;
}
.popup_pages .page_5 .textAlignC .text {
	position: absolute;
	top: 13px;
}
.popup_pages .page_5 .textAlignC .text.t1 {
	left: 230px;
}
.popup_pages .page_5 .textAlignC .text.t2 {
	left: 680px;
}
.popup_pages .page_5 img {
	width: 80%;
}
.popup_pages .page_5 .flex-wrap {
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.popup_pages .page_5 .flex-wrap .blue {color: blue;}
.popup_pages .page_5 .flex-wrap .green {color: green;}
.popup_pages .page_5 .flex-wrap .red {color: red;}