#wrap header .title {display: inline-flex;height:52px;align-items: center;}
.operator{display:inline-block;padding:0 2px;vertical-align:middle;}
.pos-r{position:relative}
.pos-a{position:absolute}
.flex-center {display:flex;align-items:center;justify-content:center;}
.align-center {align-items: center;}
.justify-sb {justify-content: space-between;}
.va-m{vertical-align:middle}
.ta-c {text-align:center}
.ta-l {text-align:left}
.width-auto {width:auto}
h2 .bunsuWrap {margin-top:-14px;}
.mr_100 {margin-right: 100px;}
.mr_200 {margin-right: 200px;}
.mr_300 {margin-right: 300px;}
.bunsuWrap.highlight {color: #00a0ff}
.bunsuWrap.highlight ul > li:first-of-type {border-bottom-color: #00a0ff;}
.icon_o_title.withBunsu {vertical-align: middle;display:inline-flex;align-items:center;justify-content:center;}

.colorBox.jade {
    background-color: #5ad1c0;
}

h2 ins + span {letter-spacing: -1px;}

.suhi h2 ins.special.type2:before {
    content: "개념";
}
.suhi h2 ins.special.type2:after {
    content: '정리';
display: inline-block;
    margin-left:10px;
}

.bullet.number {margin-top:-4px;line-height:1.5;vertical-align: middle;}
.bullet.green {color: #a3d48e;}

.popup_container {z-index: 3;}

.contentsList .bullet.circleDot {align-self:center;}
.contentsList .dot {align-self:center;}

.page_0 .colorBox {display: inline-block; color:#000;}
.page_0 .lineBox  {height: 400px;}

.page_1 figure img {height: 200px;}
.page_1 .ex-val-1,
.page_1 .ex-val-2 {position: absolute;}
.page_1 .ex-val-1 {top: 10%;left: 5%;}
.page_1 .ex-val-2 {top: 31%;left: 5%;}
.page_1 .flex-center + .flex-center {font-size: 40px;}

.page_3 .flex-wrap {width:75%;margin:0 auto;justify-content: space-between;}
.page_3 .flex-center .toggle {width: 92px;height: 105px;}
.pop_page_3 .contentsList {letter-spacing: -2px;font-size: 34px;}

.page_4 .top_1{top: 153px;}
.page_4 .top_2{top: 273px;}
.page_4 .top_3{top: 350px;}
.page_4 .left_1{left: 240px;}
.page_4 .left_2{left: 574px;}
.page_4 .left_3{left: 907px;}
.page_4 .study_guide{top:-18px !important}
.page_4 ul.left li{width: 230px;height: 130px;padding: 40px 0px;text-align: center;margin-top:10px;margin-bottom:10px;background: url(./images/suhi_h_0401_03_0002/suhi_h_0401_03_0002_2_1.png) no-repeat 90% 50% / 85%;}
.page_4 ul.right li{width: 230px;height: 130px;padding: 40px 0px;text-align: center;margin-top:10px;margin-bottom:10px;background: url(./images/suhi_h_0401_03_0002/suhi_h_0401_03_0002_2_2.png) no-repeat 50% 30% / 85%;}
.page_4 .dragLineContainer {margin:0 30px;background: url(../images/suhi_h_0402_01_0004_2.png) no-repeat center/contain;height: 450px;}
.page_4 .dragLineContainer .top,
.page_4 .dragLineContainer .bottom {position:absolute;width:100%;}
.page_4 .dragLineContainer .top {top: 45px;}
.page_4 .dragLineContainer .bottom {top: 352px;}
.page_4 .dragLineContainer .ex-label-1,
.page_4 .dragLineContainer .ex-label-2,
.page_4 .dragLineContainer .ex-label-3 {position:absolute;top: 0;font-size: 34px;}
.page_4 .dragLineContainer .top .ex-label-1 {left: 12%;}
.page_4 .dragLineContainer .top .ex-label-2 {left: 46%;}
.page_4 .dragLineContainer .top .ex-label-3 {left: 80%;}
.page_4 .dragLineContainer .bottom .ex-label-1 {left: 13.5%;}
.page_4 .dragLineContainer .bottom .ex-label-2 {left: 49.5%;}
.page_4 .dragLineContainer .bottom .ex-label-3 {left: 84.5%;}

.page_5 .bullet.number.green {align-self:center;margin:0}
.page_5 .toggle .answer {display:flex}

.pop_page_5 .contentsList {letter-spacing: -2px;font-size: 34px;}
.pop_page_5 .contentsList .bullet.number {margin-top: 0; align-self: center;}
.pop_page_5 .contentsList li>.bullet.number {margin-right: 10px;}
.pop_page_5 .contentsList li div .bullet.number.green {display: inline-block;vertical-align: middle;margin-bottom: 5px;}

.page_6 figure img {height: 280px;}
.page_6 .ex-val-1,
.page_6 .ex-val-2,
.page_6 .ex-val-3 {position: absolute; font-size: 32px;}
.page_6 .ex-val-1 {top: -9%;left: 19%;}
.page_6 .ex-val-2 {top: 36%;left: -13%;}
.page_6 .ex-val-3 {top: 89%;left: 42%;}

.pop_page_6 .contentsList li div .bullet.number.green {display: inline-block;vertical-align: middle;margin: 0 0 6px;}