.complete_txt {display:none;}
.complete .complete_txt {display:block;}

.suhi h2 .icon_x_title, .suhi h2 .icon_tri_title {margin:11px 0 0;}

.page_1 .lineBox {width:450px;margin:0 auto 20px;text-align:center;}
.page_1 .lineBox > div + div {margin:20px 0 0;}
.page_1 .contentsList{width:308px;margin:0 auto;}
.page_1 .contentsList li {align-items:center;}
.page_1 .contentsList li .tit {width:200px;}

.suhi .page_23 h2>ins.number {margin:8px 0 0;}
.suhi .page_23 .speechBox {display:flex;justify-content:space-around;}
.suhi .page_23 .speechBox > div {position:relative;}
.suhi .page_23 .speechBox > div .balloon {left:133px;}
.suhi .page_23 .speechBox > div:nth-child(1) .balloon {top:33px;}
.suhi .page_23 .speechBox > div:nth-child(2) .balloon {top:89px;}

.page_2 .tableContainer {width:800px; margin:0 auto;}
.page_2 .tableContainer .toggle {background:none;}

.suhi .page_3 h2+section .study_guide {top:-5px;}
.suhi .page_3 h2 > span ins.number {margin:9px 0 0;}
.page_3 .tableContainer {width:800px; margin:50px auto 0;}
.page_3 .tableContainer .choice {display:inline-block;position:relative;margin:0 0 0 20px;background:none;}
.page_3 .tableContainer .choice:first-child {margin:0;}
.page_3 .tableContainer .choice .icon {position:absolute;left:50%;top:50%;margin:-25px 0 0 -25px;}


.page_6 .speech_view_box {display:flex;justify-content:space-around;position:relative;padding:84px 0 0;}
.page_6 .speech_view_box > div {position:relative;width:32%;padding:90px 20px 10px;font-size:30px;}
.page_6 .speech_view_box > div .characterImg {position:absolute;left:10px;top:-84px;}
/* .page_6 .speech_view_box > div .new-character.circle div:not(.nameBox).charSpriteImg {width:100% !important;background-size:150% auto;} */
.page_6 .speech_view_box .exGuideTxt {text-align:center;}
.page_6 .speech_view_box .colorBox {position:absolute;right:7px;top:-31px;}

.page_6 .page_6_2 .flex-box .contentsList>li {align-items:start;}
.page_6 .page_6_2 .flex-box .colorBox {}
.page_6 .page_6_2 .flex-box .bunsuContainer {margin:0;}
.page_6 .page_6_2 .flex-box .bunsuContainer .toggle .answer {text-align:justify;}
.page_6 .page_6_2 .flex-box .bunsuContainer .bullet.exam {margin:7px 0 0;}

.page_6 .buttonContainer {z-index:2;}
