


@charset "utf-8";




section {
  padding: 20px 50px;
}




.toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 548px;
  width: 91px;
}

.toggleObj[data-toggle-obj="2"] {
  top: 0;
  left: 738px;
  width: 92px;
}