


@charset "utf-8";



.supplies {
  top: -75px;
  right: 0; /* 팝업 버튼 기본 위치 */
}


.flexBox {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100%;
}


.imageBox {
  flex: 0 0 auto;
  position: relative;
  width: 550px;
  height: 100%;
  margin-top: -16px;
  margin-left: 20px;
  background: url(../images/4_1/4_1_4_bg.svg) center top / contain no-repeat;
}


ul.list.dot > li {
  word-break: normal;
}

.quizContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 520px;
  height: 490px;
}
.triangle {
  position: absolute;
  top: 192px;
  left: 198px;
  width: 134px;
  height: 100px;
  background: url(../images/4_1/4_1_4_01.svg) center / contain no-repeat;
}
.dropArea .triangle.dragObjComplete {
  background-image: url("../images/4_1/4_1_4_01_1.svg");
}
.dropArea {
  position: absolute;
  width: 134px;
  height: 100px;
}
.area_1 {
  top: 23px;
  left: 198px;
}
.area_2 {
  top: 192px;
  left: 367px;
}

.dropArea > .dragObj {
  position: static;
}


/* page1 */
.page1 textarea {
  height: 248px;
  word-break: break-word;
}
.page1 .list.dot > li {
  word-break: break-all;
  letter-spacing: -3px;
}
.page1 .dragMark {
  top: 176px;
  left: 280px;
  pointer-events: none;
}
/* page2 */
.page2 .dragMark {
  top: 176px;
  left: 280px;
  pointer-events: none;
}
/* page3 */
.page3 .list.answer > li {
  margin-bottom: 10px;
}
.page3 .list.answer {
  position: absolute;
  top: 80px;
  left: 110px;
  right: 20px;
  letter-spacing: 0px;
}
.page3 textarea {
  height: 216px;
}