


@charset "utf-8";


.flexBox {
  display: flex;
  justify-content: center;
  height: 91%;
}
.flexBox > * {
  flex: 0 0 auto;
  height: 100%;
}

.flexBox > *.char {
  position: relative;
  top: 30px;
  width: 300px;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.flexBox .figureBox {
  width: 500px;
}


.sample {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 510px;
  height: 170px;
  margin: 0 auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.sample > * {
  width: 100px;
  height: 110px;
  margin: 0 20px;
  font-size: 24px;
  text-align: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sample > *:first-child:after {
  content: '돌리기 전';
  position: relative;
  top: 120px;
} 
.sample > *:last-child:after {
  content: '돌린 후';
  position: relative;
  top: 120px;
} 

.reflectBox {
  position: relative;
  top: 80px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



.clickButton[data-toggle-obj="1"] {
  top: 229px;
  left: 618px;
}
.clickButton[data-toggle-obj="2"] {
  top: 369px;
  left: 620px;
}
.clickButton[data-toggle-obj="3"] {
  top: 289px;
  left: 494px;
}
.clickButton[data-toggle-obj="4"] {
  top: 281px;
  left: 674px;
}



.balloonText {
  position: absolute;
  top: -50px;
  left: 10px;
  width: 310px;
  height: 182px;
  padding-top: 18px;
  line-height: 1.6;
  box-sizing: border-box;
  background: url(../images/4_3/4_3_5_balloon.svg) center / contain no-repeat;
}
.balloonText input {
  padding: 5px 4px 4px;
}
.char_2 .balloonText {
  left: 50px;
}


.reflectBox .rotateContainer {
  width: 200px;
  height: 200px;

}
.reflectBox .rotateContainer .figure {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}



/* page1 */
.page1 .char_1 {
  background-size: 220px auto;
  background-image: url(../images/4_3/4_3_5_char_1.png);
}
.page1 .char_2 {
  background-size: 210px auto;
  background-image: url(../images/4_3/4_3_5_char_2.png);
}

.page1 .sample {
  background-image: url(../images/4_3/4_3_5_01_bg.png);
}
.page1 .sample > *:first-child {
  background-image: url(../images/4_3/4_3_5_01_1.svg);
}
.page1 .sample > *:last-child {
  background-image: url(../images/4_3/4_3_5_01_2.svg);
}



.page1 .reflectBox .figure {
  background-image: url(../images/4_3/4_3_5_01_1.svg);
}

.page1 .balloonText input {
  width: 120px;
}

/* page2 */
.page2 .char_1 {
  background-size: 210px;
  background-image: url(../images/4_3/4_3_5_char_3.png);
}
.page2 .char_2 {
  background-size: 172px;
  background-image: url(../images/4_3/4_3_5_char_4.png);
}

.page2 .sample {
  background-image: url(../images/4_3/4_3_5_02_bg.png);
}
.page2 .sample > *:first-child {
  background-image: url(../images/4_3/4_3_5_02_1.svg);
}
.page2 .sample > *:last-child {
  background-image: url(../images/4_3/4_3_5_02_2.svg);
}


.page2 .reflectBox .figure {
  background-image: url(../images/4_3/4_3_5_02_1.svg);
}

.page2 .char .balloonText > input:nth-of-type(1) {
  width: 200px;
}
.page2 .char_1 .balloonText {
  width: 340px;
  height: 210px;
  padding-top: 35px;
}
.page2 .char_2 .balloonText {
  top: -60px;
  left: 0px;
  width: 380px;
  height: 225px;
  padding-top: 34px;
}

.page2 .balloonText input {
  width: 120px;
}