@charset "utf-8";


.finish.quiz .contentsArea h2 {

}
.flexContainer {
  display: flex;
  height: 209px;
  flex-shrink: 0;
}
.imageBox {
  position: relative;
  width: 383px;
  height: 203px;
  margin-left: 91px;
  background: url(../images/4_4/4_7_6_bg_1.svg) center / contain no-repeat;
}
.examBox {
  margin-left: 50px;
  width: 623px;
  height: 209px;
  font-size: 40px;
  text-align: center;
}
.inputBox {
  word-break: break-all;
}
.inlineBox[data-input-obj="1"] {
  margin-right: 10px;
  width: 372px;
  height: 64px;
}
.inlineBox[data-input-obj="2"] {
  margin-right: 10px;
  width: 102px;
  height: 64px;
}
.quizContainer {
  width: 1155px;
  height: 60px;
  margin-left: 70px;
  padding: 63px 30px 0 20px;
  box-sizing: border-box;
}
.qzCont1 {
  background: url(../images/4_4/4_7_6_bg_2.svg) center / contain no-repeat;
}
.qzCont2 {
  background: url(../images/4_4/4_7_6_bg_3.svg) center / contain no-repeat;
}

.quizButtons[data-type="reset"] {
  right: 48px;
}