


@charset "utf-8";




[data-click-target].on {
animation: targetChangeOpacity .6s ease-in-out 5;
}
@keyframes targetChangeOpacity { 50% {opacity: 0;} }
@-o-keyframes targetChangeOpacity { 50% {opacity: 0;} }
@-ms-keyframes targetChangeOpacity { 50% {opacity: 0;} }
@-webkit-keyframes targetChangeOpacity { 50% {opacity: 0;} }
.finish.quiz .contentsArea h2 {
    letter-spacing: -3px;
    word-break: break-all;
}
.imgBox {
    margin: 0 0 5px 160px;
}
.imgBox .img {
    display: inline-block;
    margin-left: 35px;
    width: 270px;
    height: 270px;
}
.img01 {
    margin-left: 0;
    background: url(../images/4_4/4_7_3_01.svg) center / contain no-repeat;
}
.img02 {
    background: url(../images/4_4/4_7_3_02.svg) center / contain no-repeat;
}
.img03 {
    background: url(../images/4_4/4_7_3_03.svg) center / contain no-repeat;
}
.basicSlider_slides .list,
.basicSlider_slides .list li {
    position: static;
}
.basicSlider_slides .list.dot > li:before {
    left: 70px;
  }
.textContainer {
    word-break: normal;
    position: relative;
}
.oxObj {
    cursor: pointer;
}
.oxObj[data-toggle-obj="1"] {
    top: 0;
    left: 437px;
    width: 80px;
}
.oxObj[data-toggle-obj="2"] {
    top: 0;
    left: 541px;
    width: 177px;
}

.page2 .oxObj[data-toggle-obj="1"] {
    top: 0;
    left: 234px;
    width: 200px;
}
.page2 .oxObj[data-toggle-obj="2"] {
    top: 0;
    left: 465px;
    width: 308px;
}
.page2 .oxObj[data-toggle-obj="3"] {
    top: 0;
    left: 900px;
    width: 80px;
}
.page2 .oxObj[data-toggle-obj="4"] {
    top: 0;
    left: 1017px;
    width: 96px;
}
.page2 .oxObj[data-toggle-obj="5"] {
    top: 60px;
    left: 0;
    width: 96px;
}
.page2 .oxObj[data-toggle-obj="6"] {
    top: 60px;
    left: 118px;
    width: 96px;
}

.icon.icon_o,
.icon.icon_x {
  opacity: 0;
}


.page2 .oxObj[data-toggle-target].on .icon {
    opacity: 1;
}

.page2 .oxObj[data-toggle-obj][data-toggle-target] {
    opacity: 1;
    visibility: visible;
}

.displayN {
    display: none;
}
.oxContainer.complete .oxObj:not([data-answer]) .icon.on,
.oxContainer.complete .oxObj:not([data-answer]) .icon {
    opacity: 0;
}
.oxContainer.complete .oxObj .icon.bluee {
    background-image: url(../../include/math/images/quiz/icon_o_blue.svg);
}