


@charset "utf-8";




section {
  padding: 20px 50px;
}





/* toggle */
/* .list.dot > li .toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 974px;
  width: 100px;
}
.list.dot > li .toggleObj[data-toggle-obj="2"] {
  top: 64px;
  left: 316px;
  width: 86px;
} */