<<<<<<< HEAD
/* .page_2 .colorBox{display: inline-block;} */
/* .page_2 .toggle{background-color: #f6e7d4;padding: initial;} */
=======
.page_1 .img_box{position: relative;}
.page_1 .img_box .text_1{position: absolute;top:35px;left:420px;font-size: 28px;}
.page_1 .img_box .text_2{position: absolute;top:150px;left:300px;font-size: 28px;}

.page_1 .bullet.exam{opacity: 0;}
.page_1 .bullet.exam.on{opacity: 1;visibility: visible;cursor: default;transition: opacity 1s ease-in-out;}
.page_2 .bullet.exam{opacity: 0;}
.page_2 .bullet.exam.on{opacity: 1;visibility: visible;cursor: default;transition: opacity 1s ease-in-out;}
>>>>>>> 2d278d9a62e12e338d370330214eb388b4e6e05a

.ex-box {display:flex;align-items:center;text-align:justify;}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important;flex-shrink:0}
