/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: -241px 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 127px;
    left: 670px;
    top: 792px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 127px;
    left: 985px;
    top: 792px;
}


#pop-01-quiz-01 .input-cont {
    margin: -318px 0 0 0;
}
#pop-01-quiz-01 .input-cont:nth-child(1) {
    width: 127px;
    left: 670px;
    top: 869px;
}
#pop-01-quiz-01 .input-cont:nth-child(2) {
    width: 127px;
    left: 985px;
    top: 869px;
}