
/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: -202px 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 410px;
    left: 460px;
    top: 573px;
}

#quiz-02 .input-cont {
    margin: -202px 0 0 0;
    transform: scale(0.8);
    transform-origin: 0 0;
}
#quiz-02 .input-cont:nth-child(1) {
    width: 108px;
    left: 314px;
    top: 670px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 197px;
    left: 308px;
    top: 1032px;
}
#quiz-02 .input-cont:nth-child(3) {
    width: 108px;
    left: 392px;
    top: 1096px;
}

.btn-answer-part:nth-child(2) {
    left: 1028px;
    top: 450px;
}


#pop-01-quiz-01 .input-cont {
    margin: -222px 0 0 0;
}
#pop-01-quiz-01 .input-cont:nth-child(1) {
    width: 410px;
    left: 460px;
    top: 563px;
}

#pop-01-quiz-02 .input-cont {
    margin: -231px 0 0 0;
    transform: scale(0.8);
    transform-origin: 0 0;
}
#pop-01-quiz-02 .input-cont:nth-child(1) {
    width: 108px;
    left: 314px;
    top: 670px;
}
#pop-01-quiz-02 .input-cont:nth-child(2) {
    width: 197px;
    left: 308px;
    top: 1032px;
}
#pop-01-quiz-02 .input-cont:nth-child(3) {
    width: 108px;
    left: 392px;
    top: 1096px;
}

.popup .btn-answer-part:nth-child(2) {
    left: 1027px;
    top: 423px;
}