#quiz-01 .input-cont {
    margin: -214px 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 270px;
    left: 899px;
    top: 811px;
}


#pop-01-quiz-01 .input-cont {
    margin: -312px 0 0 0;
}
#pop-01-quiz-01 .input-cont:nth-child(1) {
    width: 270px;
    left: 710px;
    top: 838px;
}