.app-drawing-tool .tool-container {
    top: 160px;
}
.popup .app-drawing-tool .tool-container {
    top: 240px;
}

.btn-answer-part:nth-child(1) {
    left: 990px;
    top: 394px;
}

.popup .btn-answer-part:nth-child(1) {
    left: 990px;
    top: 394px;
}