.box-flex {display:flex}
.box-flex .group-a {width:50%;display:flex;align-items:center;margin-bottom:40px}
.page_1 .box-flex {justify-content:center;margin-top:40px}
.bunsuWrap .toggle {margin:4px 0}

.page_1 .buttonContainer {z-index:2}
.page_1 .img-box {height:160px;text-align:center;margin-bottom:20px}
.page_1 .img-box img {height:100%;vertical-align:top}
.tableContainer .toggle {width:100%;background-color:transparent}

.page_2 .horizonContainer {margin:170px 0 0 -35px}
.page_2 .horizonContainer .lineContainer {width:calc(100% - 35px)}
.page_2 .txt-item {position:absolute}
.page_2 .txt-item.n1 {top:-50px;left:25px}
.page_2 .txt-item.n2 {top:-105px;left:195px}
.page_2 .txt-item.n3 {top:-100px;left:500px}
.page_2 .txt-item.n4 {top:-105px;left:780px}
.page_2 .txt-item.n5 {top:-50px;left:1004px}
.page_2 .txt-item.n6 {top:45px;left:482px}

.page_3 .box-flex {margin:60px auto 0;width:800px;flex-wrap:wrap}

.pop_page_3 .box-flex {align-items:center}
.pop_page_3 .contentsList .dot.deepGreen {margin-top:34px}