.box-flex {display:flex}
.page_1 .box-flex {justify-content:space-between}
.page_1 .box-item {width:50%;display:flex;flex-direction:column;align-items:center}
.page_1 .box-item img {height:220px;margin-bottom:40px}

.tableContainer .toggle {background-color:transparent;text-align:center}

.img-answer {position:relative}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;transition:opacity 1s}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {opacity:1}

.page_3 .box-flex {align-items:center;justify-content:center}
.page_3 .bullet.number {display:inline-block;position:relative;top:-4px}
.page_3 .group-a .box-flex ~ .box-flex {margin-top:20px}
.page_3 .group-a .box-flex .colorBox {width:110px;text-align:center}

.page_4 .img-box {width:80%;margin:0 auto}
.page_4 .img-box img {width:100%;vertical-align:top}
.page_4 .lineBox {width:80%;margin:30px auto 0}
.page_4 .box-flex {flex-wrap:wrap}
.page_4 .item {display:flex;align-items:center;width:50%}
.page_4 .bullet.number {display:inline-block;align-self:inherit;margin-right:10px}
.page_4 .answer .bullet.number {margin-right:0}

.page_5 .img-box {width:80%;margin:0 auto}
.page_5 .img-box img {width:100%;vertical-align:top}
.page_5 .lineBox {width:80%;margin:30px auto 0;text-align:center}

.contentsList>li {font-size:36px}
