.bunsuWrap{display: inline-block;}
.bunsuWrap.separation > ul{width: 70px;}
.bunsuWrap.separation li{width:100%;}
.bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.bunsuWrap.separation .toggle{width:100%;}



.page_1 .img-box{text-align: center;margin-left: -300px;}
.page_1 .img-box img{width: 500px;}
.page_1 .absolute_text{position: absolute;}

.page_1 .absolute_text_01 .bunsuWrap{position: absolute;top: -10px;right: 340px;}
.page_1 .absolute_text_01 .left{position: absolute;top: 70px;left: 140px;}
.page_1 .absolute_text_01 .right{position: absolute;top: 70px;right: 400px;}
.page_1 .absolute_text_02 .bunsuWrap{position: absolute;top: 120px;right: 240px;}
.page_1 .absolute_text_02 .left{position: absolute;top: 220px;left: 140px;}
.page_1 .absolute_text_02 .right{position: absolute;top: 220px;right: 400px;}
.page_1 .absolute_text_03 .bunsuWrap{position: absolute;top: 265px;right: 240px;}
.page_1 .absolute_text_03 .left{position: absolute;top: 360px;left: 140px;}
.page_1 .absolute_text_03 .right{position: absolute;top: 360px;right: 400px;}
.page_1 .bunsuWrap.separation{display: inline-block;}

.page_2 .img-box{margin: 0 auto;text-align: center;}
.page_2 .img-box img{width: 60%;}
.page_2 .flex-box{align-items: center;justify-content: space-evenly;width: 60%;margin: 0 auto;}




.page_3 .text_box{width: 600px;margin: 40px auto;}

.page_4 > h2{margin-top:-12px;}
.page_4 .lineBox {display:flex;justify-content:space-around;width:500px;margin:0 auto;}
.page_4 .lineBox .choice {position:relative;width:100px;text-align:center;}
.page_4 .lineBox .choice .icon {position:absolute;left:0;top:0;width:100%;height:100%;}
.page_4 .lineBox + .lineBox {margin:20px auto 0;}
.page_4 .flex-box{padding: 30px;}

.page_5 > h2{margin-top:-17px;}

.page_6 figure{position:relative;padding-top:115px;height:300px;text-align:center;}
.page_6 figure img{display:inline-block;;height:100%;}
.page_6 .balloon{position:absolute;font-size:0.8em;line-height:1;}
.page_6 .balloon:nth-child(2){top:0;left:97px;}
.page_6 .balloon:nth-child(3){top:0;left:366px;}
.page_6 .balloon:nth-child(4){top:0;right:97px;}
.page_6 .colorBox{position:absolute;}
.page_6 .colorBox:nth-child(5){bottom:0;left:76px;}
.page_6 .colorBox:nth-child(6){bottom:0;left:344px;}
.page_6 .colorBox:nth-child(7){bottom:0;right:239px;}

.innerTab_2 .contentsList{margin-top:30px;}
.innerTab_2 .contentsList > li{align-items: flex-start;}
.innerTab_2 .contentsList > li:nth-child(1) .toggle{align-self:center;}
.innerTab_2 .contentsList > li:nth-child(2) .answer{display:flex;align-items:flex-start;text-align:left;letter-spacing:1px;}
.innerTab_2 .contentsList .lineBox{margin-right: 15px; white-space: nowrap;}

.p01 {position:relative;top:-12px}
.p02 {position:relative;top:-4px}