.img-wrap img{width: 100%;}

.page_1 .icon_arrow.big{position: relative; z-index: 5;}
.page_1 td.bg{background: #e3e3e3;}
.page_1 .flex-wrap{align-items: flex-start; position: relative;}
.page_1 .icon_arrow{top:80px; margin:0 40px !important}
.page_1 .b1{text-align:center; top:180px;left: 2px;}
.page_1 .b2{text-align:center; top:230px;left: -19px;width: 240px;}
.page_1 .b3{text-align:center; top:280px;left: -15px; width: 280px;}
.page_1 .pointContainer .contentsBox{padding:44px 10px 40px;}
.page_1 .b3::after{left:84px !important}

.page_2 .lineBox > div + div{margin-top:30px}
.page_2 .lineBox { padding:30px 30px 30px;}
.page_2 .ox-item{width:120px; text-align: center; position: relative;}
.page_2 .ox-item .icon{position: absolute;left: 31%;top: 3px;}
.page_2 td.bg{background-color: #cee492;}


.page_3 .calc-method {
    width: 100%;
    justify-content: space-around;
    align-items: stretch;
    transform: translate(0px, 40px);
}
.page_3 .calc-method+.calc-method {
    margin-top: 90px
}
.page_3 .calc-method-box {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: auto;
    padding: 50px 20px;
}
.page_3 .calc-method-box .tit {
    position: absolute;
    top: -40px;
    left: 20px
}
.page_3 .calc-method-box+.calc-method-box {
    margin-left: 30px;
}
.page_3 .calc-method .flex-wrap+.flex-wrap {
    margin-top: 20px
}
.page_3 .calc-method .flex-wrap{
    align-items: center;
}
.page_3 .calc-method .flex-wrap.inner{
    align-items: flex-start;
    justify-content: center;
}
.page_3 .calc-method .flex-wrap.inner .icon_arrow{
    margin:0 30px;
    align-self: center;
}
.page_3 .math_calc_table .sup{
    top:-50px;
}
.page_3 .lineBox{height:350px; width:400px; padding:30px; }


.page_5 .img-wrap{width:410px; margin:0 auto;}




.page_6.iframe-fullpage .iframe-wrap{

overflow: hidden;

position: absolute;

width: 1170px;

height: 528px;bottom:0; left:-56px;
}
.page_6.iframe-fullpage .iframe-wrap .iframe-item{
    width: 1170px;
    height: 768px;
    transform:
    none;
    top: -201px;left:0;
}
.page_6.iframe-fullpage .solveCheckBtn{
    position: absolute; bottom:10px;
    right: 169px;
}

.page_7 .lineBox{padding:40px; width: 300px;}

.pop_page_6 .icon_arrow{width:80px; margin-top:10px}












