.box-flex {display:flex;justify-content:center;align-items:center}
.box-flex .bunsuWrap .toggle {margin:8px 0}

.group-a {display:flex;align-items:center}

.mr-s {margin-right:12px}
.mr-m {margin-right:40px}
.mt-m {margin-top:80px}
.mt-s {margin-top:28px}

.gray-box {background-color:#efefef;border-radius:8px;height:44px;width:44px;display:inline-block;position:relative;top:4px;margin-right:4px}
.box-in-line {display:block;padding-bottom:4px}
.box-in-line .inline {display:inline}

.box-flex.wrap-a {flex-direction:column;margin:0 30px;justify-content:flex-start}
.box-flex.wrap-a .group-a {margin-top:40px;width:100%}
.box-flex.wrap-a .group-a ~ .group-a {margin:40px 0 0 0}

.page_1 .lineBox {margin:0 auto;padding:10px 20px;text-align:center;width:600px}
.page_1 .lineBox .bunsuWrap {margin:10px 0}
.page_1 .lineBox .bunsuWrap li.inline-flex-box {width:100%;min-height:52px;justify-content:center}
.page_1 .lineBox .bunsuWrap .toggle {margin:8px 0}
.page_2 .group-a {margin-top:100px}
.page_3 .box-flex ~ .box-flex {margin-top:20px}

.bogi_wrap {margin-top:60px}
.oxList {display:flex}
.oxList [data-ox-obj] {margin:0 40px}
.oxList [data-ox-obj] .icon {position:absolute;top:50%;left:50%;width:80px;height:80px;margin:-40px 0 0 -40px}

.pop_page_1 .flex-wrap {margin:50px auto}
.pop_page_1 .flex-wrap .bunsuWrap ~ .bunsuWrap {margin-left:50px}

.page_4 h2 .dot,
.page_5 h2 .dot {margin-top:34px !important;}

.checkContainer h2 .icon_o_title {margin-top:9px}
.popup_pages .solve .popup_contents {font-size:40px}