.title .bunsuWrap ul > li:first-of-type {border-color:#845e4d}
.gray-box {background-color:#efefef;border-radius:8px;height:44px;width:44px;display:inline-block;position:relative;top:4px;margin-right:4px}
.toggle.type-b {background-color:transparent;padding:0;z-index:0;cursor:default}
.toggle.type-b:after {display:none}
.character-content {display:flex;align-items:center}
.character-content:nth-of-type(even) {flex-flow:row-reverse}
.character-content ~ .character-content {margin-top:30px}
.character-content .nameBox {margin-top:auto;margin-bottom:10px}
.character-content .characterImg.circle {position:relative;margin:0 20px}
.character-content .lineBox {flex:1 1 auto;text-align:center}
.character-content .lineBox .bunsuWrap ul > li .toggle {margin:8px 0}
