.ex-box {display:flex;align-items:center}
.ex-box .bunsuWrap {display:flex;align-items:center}
.ex-box .bunsuWrap .toggle {margin:8px 0}
.ex-box .bullet.exam {flex-shrink:0;align-self:auto;margin-right:20px}
