.box-type-b {display:flex;align-items:center;justify-content:center;margin-top:40px}
.box-type-b .characterImg {position:relative;margin-right:40px}
.box-type-b .balloon {position:relative}
.balloon.left:after {top:45px}

.page_2 .toggle {width:100%}
.page_2 .toggle ~ .toggle {margin-top:20px}

#wrap header .title:before {top:22px}
.page_1 h2 .dot {margin-top:38px !important;}
.page_2 h2 {margin-top:18px}