.btn_1.zoomBtn{background: url(../images/suh_h_0301_05_0405_205_1/suh_h_0301_05_0405_205_1_1.png) no-repeat 0 0 / cover;width:  100%;height: 100%;margin: 0 auto 0;border: 0;}


.img-wrap{margin:0 20px 10px 0;min-width: 630px;height: 446px;position: relative;}
.map1 .txt{position: absolute;z-index:2;font-size: 30px;}
.txt.n1{top: 30px;left: 20px;}
.txt.n2{top: 10px;left: 310px;}
.txt.n3{top: 80px;left: 500px;}
.txt.n4{top: 190px;left: 0px;width: 100px;text-align: center;}
.txt.n5{top: 170px;left: 157px;}
.txt.n6{top: 280px;left: 160px;}
.txt.n7{top: 380px;left: 160px;}
.txt.n8{top: 90px;left: 300px;}

.popup_pages img{width: 86%;display: block;margin:20px auto;}

.popup_pages .map1 .txt{position: absolute;z-index:2;font-size: 40px;}

.popup_pages .txt.n1{top: 60px;left: 120px;}
.popup_pages .txt.n2{top: 50px;left: 580px;}
.popup_pages .txt.n3{top: 150px;left: 880px;}
.popup_pages .txt.n4{top: 310px;left: 80px;width: 150px;text-align: center;}
.popup_pages .txt.n5{top: 310px;left: 357px;}
.popup_pages .txt.n6{top: 470px;left: 350px;}
.popup_pages .txt.n7{top: 630px;left: 350px;}
.popup_pages .txt.n8{top: 170px;left: 570px;}

.textAlignC{padding-left: 30px; }
.textAlignC .answer{text-align: justify;}











