@charset "utf-8";

.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
.contentsList .icon_arrow{width:auto !important; margin:0 10px;}
.lineBox .bullet.number,
h2 .bullet.number{margin-top:5px;}
h2 .blankBox.w50{
    max-width: 40px !important;
    min-width: 40px !important;
    max-height: 40px !important;
    min-height: 40px !important;
    transform: translate(0,0);
}
.buttonContainer.iframe{right:170px;}
.checkContainer h2 .toggleBlank{margin-top:8px;}
.checkContainer .contentsBox .basicSlider_tabs {width: 600px}
.ico-circle{display: inline-block; width:40px; height: 40px; border:5px solid #008dd0; border-radius: 50%; vertical-align: middle; transform: translate(0,-4px);}
.downloadBtn{bottom:10px;}


.page_1 .flex-lineBox{width: 100%; }

.page_2 .lineBox{
    display: flex; 
    justify-content: space-around;
    margin-bottom:10px;
    width:600px; margin: 0 auto 30px;
}
.page_2 .contentsBox{padding:0 !important;}















.page_3 .flex-wrap{justify-content: center; align-items: center; height: 300px;flex-direction: column;}
.page_3 .flex-wrap > div{display: flex; align-items: center; margin:20px 0}
.page_3 .flex-wrap .txt{width: 220px; margin: 0 20px;}
.page_3 .flex-wrap .txt:first-child{text-align: right;}

.page_4 h2+section .study_guide {top:-30px}
.page_4 .dragLineContainer {margin-top:10px;}

.page_4 .right{width:300px; height:360px; position: relative; display: flex; }
.page_4 .left{width:300px; height:360px; position: relative; display: flex; }
.page_4 .left > div{position: absolute;left: 0; width:300px; text-align: center;}
.page_4 .left .n1{top: 0;}
.page_4 .left .n2{top: 130px;}
.page_4 .left .n3{top: 260px;}
.page_4 .right > div{position: absolute;right: 0; width:300px; text-align: center;}
.page_4 .right .b1{top: 0;}
.page_4 .right .b2{top: 130px;}
.page_4 .right .b3{top: 260px;}

.page_4 .top_1 {top: 60px;}
.page_4 .top_2 {top: 190px;}
.page_4 .top_3 {top: 320px;}
.page_4 .left_1 {left: 330px;}
.page_4 .left_2 {left: 660px;}
.page_4 .dragLineArea.left_1::after {background-color:#a58bbf}
.page_4 .dragLineArea.left_2::after {background-color:#80b0de}


h2 .dot{border-color: #f60;}
.page_21 .tableContainer {
    margin-left: 10px;
    /* align-items: center; */
    padding-top: 8px;
    font-size: 40px;
}
.page_21 .tableContainer table td, 
.page_21 .tableContainer table th{font-size: 40px;}
.page_23 .contentsList .box{margin-left:25px}
.page_23 .contentsList .box .colorBox.check{margin-left:56px}
.page_23 .contentsList .box .toggle{width: 390px;text-align:left;}
.page_23 .lineBox{display: inline-block; margin-left:50px; padding:5px 20px 7px}


.page_24 .textAlignR{margin-right: 292px;margin-top: 90px;}
.horizonContainer .horizonLine{width:940px}

.page_25 .lineBox {width:760px;margin:0 auto}
.page_25 .bullet{display: inline-block;vertical-align: middle;margin-top:-10px;}
.bullet.orange{border-radius:50%;}
.page_25 .toggle{padding:8px 13px 9px}

.page_26 .dragLineContainer li{
    padding: 10px 20px;
    border-radius: 10px;
}
.page_26 section{height:460px;}
.page_26 .dragLineContainer .left > li{background-color: #D4F3F6;}
.page_26 .dragLineContainer .right > li{background-color: #F6F1D4;}
.study_guide {
right: 0;
top: -46px;
}
/* 6 */
.page_26 .dragLineContainer {
height: 360px;
margin: 20px 0 0 0;
}
.page_26 .dragLineContainer > ul {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.page_26 .dragLineContainer .left,
.page_26 .dragLineContainer .right {
height: 290px;
}

.page_26 .dragLineContainer .center > li {
background-color: #D4F3F6;
}
.page_26 .dragLineContainer .right > li {
background-color: #F6F1D4;
}
.page_26 .dragLineContainer > ul > li img {
width: 100%;
vertical-align: top;
}
.page_26 .top_1 {
top: 55px;
}
.page_26 .top_2 {
top: 167px;
}
.page_26 .top_3 {
top: 276px;
}
.page_26 .left_1 {
left: 298px;
}
.page_26 .left_2 {
left: 526px;
}
.page_26 .left_3 {
left: 779px;
}
.colorBox.skyBlue {
    color: #fff;
    background-color: #5ca2e7
}
.checkContainer .study_guide{top:-70px;}