.group{
    position: relative;
    width:600px;
    margin:0 auto;
}
img{width: 100%;}
.lineBox{
    display: flex; 
    justify-content: space-around;
    margin-bottom:10px
}
.img-wrap > div{position: absolute;}
.img-wrap .txt1{top: 6px;left: 310px;}
.img-wrap .txt2{top:0;left: 460px;}
.img-wrap .txt3{top: 140px;left: 410px;}
.img-wrap{ position: relative;  margin:0 auto;}
.group img{width: 400px; margin:0 auto; display: block;}
.dotList{margin: 70px auto;width:100%;}
.dotList li{justify-content: flex-start;align-items: center;}
.blankBox.line{border:5px solid #efefef; background-color: #fff; box-sizing: border-box;}


.img1{position: absolute;top: 210px;right:0;width:300px}
.img1 img{position: relative;}
.img1 .txt{position: absolute;z-index: 2;bottom: 20px;left:0;width:100%;text-align: center;}




#wrap header .title.chukchuk2:before{
    background-image: url(../../common/contents/images/icon/act_quiz_icon_05.png);
}









