.iframe-wrap{
    position: absolute;
    top: -30px;
    left: -56px;
    width: 1170px;
    overflow:hidden;
    height: 583px;
}
.page-iframe{width:1280px;height: 583px;position: absolute;top:0;left: -70px;}

.js-resetButton.resetButton{right: 65px;bottom: 140px !important;position: absolute;top: auto;}

.innerTab_2 .answer{display: flex;}


.moveButtonContainer{width: auto; left:50%; transform: translate(-50%, 0);}










