@charset "utf-8";
figure { position: relative; }
figure img {
  width: 100%;
  vertical-align: top;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
}
.flexContainer.wrap { flex-wrap: wrap; }
.flexContainer .shrink { flex-shrink: 0; }
.displayN { display: none !important; }

.inputQuizContainer {}
.inputQuizContainer input {
  width: 100%;
}

.act .contentsArea > h1 {
  word-break: break-all;
}
.popupButton.head {
  top: -75px;
}
.popup_pages > li.head {
  width: 1020px;
  top: 105px;
  right: 80px;
}
.popup_pages > li.head img {
  width: 100%;
}

/*page */
.flexContainer {
}
.flexContainer > figure {
  flex-shrink: 0;
  width: 464px;
  margin: -6px 0 0 30px;
}
.flexContainer > .left {
  width: 100%;
  word-break: break-all;
  letter-spacing: -2px;
}
.flexContainer > .left .dotListIndent {}
.flexContainer > .left .dotListIndent > li {
  display: flex;
}
.flexContainer > .left .dotListIndent > li:not(:last-of-type) {
  margin-bottom: 10px;
}
.flexContainer > .left .shrink {
  margin-right: 10px;
}
.flexContainer > .left > figure:nth-of-type(1) {
  width: 100%;
}
.flexContainer > .left > figure:nth-of-type(2) {
  position: absolute;
  top: 200px;
  left: 60px;
  width: 620px;
}



.lineGraph {
  position: absolute;
  top: 59px;
  left: 132px;
  width: 330px;
  height: 328px;
}
.lineGraph.pointerOff {
  pointer-events: none;
}
.lineGraph .resetButton {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff9603;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../include/math/images/quiz/icon_replay.svg);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, .2);
  pointer-events: auto;
  cursor: pointer;
  z-index: 1;
}
.lineGraph .resetButton.hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.lineGraph .resetButton.off {
  pointer-events: none;
}

.lineGraph .resetButton {
  bottom: -20px;
  right: -20px;
}
.graphDot {
  position: absolute;
  width: 20px;
  height: 12px;
  cursor: pointer;
  /*outline: 1px solid tomato;*/
}
.graphDot .induceLight {
  position: absolute;
  top: -13px;
  left: -10px;
  width: 40px;
  height: 40px;
  pointer-events: none;
}
.graphDot.lightOff .induceLight {
  /* display: none; */
  visibility: hidden;
}

.graphDot.horizon_1 { left: 55px; }
.graphDot.horizon_2 { left: 120px; }
.graphDot.horizon_3 { left: 186px; }
.graphDot.horizon_4 { left: 250px;  }

.graphDot.vertical_1 { top: -6px; }
.graphDot.vertical_2 { top: 7px; }
.graphDot.vertical_3 { top: 20px; }
.graphDot.vertical_4 { top: 32px; }
.graphDot.vertical_5 { top: 44px; }
.graphDot.vertical_6 { top: 56px; }
.graphDot.vertical_7 { top: 68px; }
.graphDot.vertical_8 { top: 80px; }
.graphDot.vertical_9 { top: 92px; }
.graphDot.vertical_10 { top: 104px; }
.graphDot.vertical_11 { top: 117px; }
.graphDot.vertical_12 { top: 129px; }
.graphDot.vertical_13 { top: 140px; }
.graphDot.vertical_14 { top: 153px; }
.graphDot.vertical_15 { top: 165px; }
.graphDot.vertical_16 { top: 177px; }
.graphDot.vertical_17 { top: 189px; }
.graphDot.vertical_18 { top: 201px; }
.graphDot.vertical_19 { top: 213px; }
.graphDot.vertical_20 { top: 225px; }
.graphDot.vertical_21 { top: 237px; }
.graphDot.vertical_22 { top: 249px; }
.graphDot.vertical_23 { top: 261px; }
.graphDot.vertical_24 { top: 273px; }
.graphDot.vertical_25 { top: 285px; }

input {
  position: absolute;
  font-size: 27px;
  padding: 5px 4px 4px;
}
.input_1 {
  top: 0px;
  left: 25px;
  text-align: center;
  font-size: 31px;
  width: 410px;
}
.input_2 {
  top: 60px;
  left: 12px;
  width: 40px;
  height: 39px;
  font-size: 25px;
  text-align: center;
  padding: 0;
}
.input_3 {
  top: 368px;
  left: -21px;
  width: 100px;
  text-align: center;
}
.input_4 {
  top: 411px;
  left: 30px;
  width: 100px;
  text-align: center;
  letter-spacing: -1px;
}
input.left {
  left: 66px;
  width: 61px;
  text-align: right;
  letter-spacing: -1px;
}
.input_5 {
  top: 61px;
}
.input_6 {
  top: 122px;
}
.input_7 {
  top: 183px;
}
.input_8 {
  top: 244px;
}
.input_9 {
  top: 305px;
}
input.bottom {
  top: 388px;
  width: 56px;
  text-align: center;
}
.input_10 {
  left: 169px;
}
.input_11 {
  left: 233px;
}
.input_12 {
  left: 300px;
}
.input_13 {
  left: 364px;
}


ins.exam.circle {
  position: absolute;
  left: -30px;
  top: 0;
}