@charset "utf-8";
figure { position: relative; }
figure img {
  width: 100%;
  vertical-align: top;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
}
.flexContainer.wrap { flex-wrap: wrap; }
.flexContainer .shrink { flex-shrink: 0; }
.displayN { display: none !important; }

.inputQuizContainer {}
.inputQuizContainer input {
  width: 100%;
}

/*page */
.act .contentsArea > h1 {
  word-break: break-all;
}
.flexContainer {
}
.flexContainer figure {
  flex-shrink: 0;
  width: 490px;
}
.flexContainer .right {
  width: 100%;
  margin: 27px 0 0 30px;
  word-break: break-all;
}
.flexContainer .right .dotListIndent {}
.flexContainer .right .dotListIndent > li {
  display: flex;
}
.flexContainer .right .dotListIndent > li:not(:last-of-type) {
  margin-bottom: 10px;
}
.flexContainer .right .shrink {
  margin-right: 10px;
}
.flexContainer .right input {
  text-align: center;
}
.flexContainer .right textarea {
  height: 210px;
}
.page1 .answerText {
  position: absolute;
  top: 173px;
  left: 636px;
  line-height: normal;
}
.page2 .list.dot > li {
  word-break: break-all;
  letter-spacing: -3px;
}
.page2 .flexContainer .right .dotListIndent {
  text-align: right;
}
.page2 .flexContainer .right .dotListIndent input {
  width: 200px;
  margin-right: 3px;
}
/*popup*/
.popupButton.head {
  top: -75px;
}

.popup_pages > li[data-popup-page="2"] {
  top: 105px;
  right: 80px;
  width: 700px;
}
.popup_pages > li[data-popup-page="2"] img {
  width: 100%;
}