@charset "utf-8";
figure { position: relative; }
figure img {
  width: 100%;
  vertical-align: top;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
}
.flexContainer.wrap { flex-wrap: wrap; }
.flexContainer .shrink { flex-shrink: 0; }
.displayN { display: none !important; }

.inputQuizContainer {}
.inputQuizContainer input {
  width: 100%;
}
.act .contentsArea > h1 {
  word-break: break-all;
}
/*page */
.flexContainer {}
.flexContainer > figure {
  flex-shrink: 0;
}
.flexContainer .left {
  width: 100%;
  margin: 0 10px 0 0;
}
.flexContainer .left .shrink {
  margin-right: 10px;
}

.page1 > figure {
  width: 676px;
}
.page1 ul.list > li {
  word-break: break-all;
}

.page2 .titleIndent > figure {
  margin: 20px 0 0 40px;
}
.page2 .titleIndent > figure input,
.page2 .titleIndent > figure textarea {
  position: absolute;
  width: 319px;
  text-align: center;
}
.page2 .titleIndent > figure input {
  top: 62px;
  left: 400px;
}
.page2 .titleIndent > figure textarea {
  top: 35px;
  left: 790px;
}

.page2 .exam.circle {
  position: absolute;
  top: 76px;
  left: -60px;
}