@charset "utf-8";
.finish.quiz .contentsArea h2 {
  word-break: break-all;
}
.actTitleIcon {
  display: inline-block;
  position: relative;
  top: -4px;
  left: 0;
  width: 56px;
  height: 56px;
  color: #FFF;
  text-align: center;
  line-height: 64px;
  font-size: 0.8em;
  font-family: 'BMJUA';
  box-sizing: border-box;
  background: url(../../include/math/images/finish/finish_quiz_title_icon.svg) calc(-56px * (5 - 1)) 0/auto 56px no-repeat;
}

h3 .h3TxtL{color:#408d52; padding-right:10px; float: left; width: 110px;margin-right:10px  }
h3 .h3TxtR {color:#111;   float: left; width: 1090px;  word-break: break-word;}
.tableCaption {
  text-align: center;
  font-size: 45px;
  margin-bottom: 10px;
}

figure {
  position: relative;
}

figure img {
  
  height: 450px;
  
  vertical-align: top;
}
.flexContainer {
 
  justify-content: space-between;
}
.flexContainer.wrap { flex-wrap: wrap; }
.flexContainer .shrink { flex-shrink: 0; }
.displayN { display: none !important; }


.inputQuizContainer input {
  clear: both;
  width: 100%;
}


/* .popupButton.head {
  top: -60px;
} */
.popup_pages > li.head {
  width: 1080px;
  top: 163px;
  right: 80px;
}
.popup_pages > li.head img {
  width: 100%;
}
/*page */


.flexContainer .left {
  width: 100%;
  margin: 20px 0 0 0;
  padding-right:20px;
}

.flexContainer .left .dotListIndent > li {
  display: flex;
}
.flexContainer .left .dotListIndent > li:not(:last-of-type) {
  margin-bottom: 10px;
}
.flexContainer .left .shrink {
  margin-right: 10px;
  padding-left:70px;
}
.flexContainer .left input {
  width: 100%;
}

.page2 .list.dot > li {
  word-break: break-all;
}

.page2 .gpIp01 {
  position: absolute;
  width: 500px;
  margin: 10px 60px;
  text-align: center;
  font-size: 45px;
}

.page2 .gpIp02 {
  position: absolute;
  width: 80px;
  margin: 95px 10px;
  text-align: center;
  font-size: 35px;
  font-family: MapleStoryL;
}

.page2 .gpIp03 {
  position: absolute;
  width: 90px;
  margin: 155px 82px;
  text-align: center;
  font-size: 35px;
  font-family: MapleStoryL;
}

.page2 .gpIp04 {
  position: absolute;
  width: 90px;
  margin: 220px 82px;
  text-align: center;
  font-size: 35px;
  font-family: MapleStoryL;
}

.page2 .gpIp05 {
  position: absolute;
  width: 90px;
  margin: 280px 82px;
  text-align: center;
  font-size: 35px;
  font-family: MapleStoryL;
}

.page2 .gpIp06 {
  position: absolute;
  width: 90px;
  margin: 95px 82px;
  text-align: center;
  font-size: 35px;
  font-family: MapleStoryL;
}

.page2 .gpIp07 {
  position: absolute;
  width: 100px;
  margin: 365px 0px;
  text-align: center;
  font-size: 35px;
  font-family: MapleStoryL;
}

.page2 .gpIp08 {
  position: absolute;
  width: 100px;
  margin: 390px 80px;
  text-align: center;
  font-size: 35px;
  font-family: MapleStoryL;
}

.page2 .gpIp09 {
  position: absolute;
  width: 112px;
  margin: 365px 175px;
  text-align: center;
  font-size: 32px;
  font-family: MapleStoryL;
}

.page2 .gpIp10 {
  position: absolute;
  width: 112px;
  margin: 365px 253px;
  text-align: center;
  font-size: 32px;
  font-family: MapleStoryL;
}

.page2 .gpIp11 {
  position: absolute;
  width: 112px;
  margin: 365px 328px;
  text-align: center;
  font-size: 32px;
  font-family: MapleStoryL;
}

.page2 .gpIp12 {
  position: absolute;
  width: 112px;
  margin: 365px 403px;
  text-align: center;
  font-size: 32px;
  font-family: MapleStoryL;
}

.page2 .gpIp13 {
  position: absolute;
  width: 112px;
  margin: 365px 480px;
  text-align: center;
  font-size: 32px;
  font-family: MapleStoryL;
}

/* add graph */

.page2 .lineGraph {
  position: absolute;
  top: 95px;
  left: 165px;
  width: 446px;
  height: 266px;
}
.page2 .lineGraph.pointerOff {
  /* display: none; */
  pointer-events: none !important;
}
.lineGraph .resetButton {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff9603;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../include/math/images/quiz/icon_replay.svg);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, .2);
  pointer-events: auto;
  cursor: pointer;
  z-index: 1;
}
.lineGraph .resetButton.hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.lineGraph .resetButton.off {
  pointer-events: none;
}

.lineGraph .resetButton {
  bottom: -20px;
  right: -20px;
}
.graphDot {
  position: absolute;
  width: 20px;
  height: 14px;
  cursor: pointer;
  /*outline: 1px solid tomato;*/
}
.graphDot .induceLight {
  position: absolute;
  top: -13px;
  left: -10px;
  width: 40px;
  height: 40px;
  pointer-events: none;
}
.graphDot.lightOff .induceLight {
  /* display: none; */
  visibility: hidden;
}

.graphDot.horizon_1 { left: 63px; }
.graphDot.horizon_2 { left: 137px; }
.graphDot.horizon_3 { left: 212px; }
.graphDot.horizon_4 { left: 286px; }
.graphDot.horizon_5 { left: 360px; }

.graphDot.vertical_1 { top: -8px; }
.graphDot.vertical_2 { top: 6px; }
.graphDot.vertical_3 { top: 18px; }
.graphDot.vertical_4 { top: 30px; }
.graphDot.vertical_5 { top: 42px; }
.graphDot.vertical_6 { top: 54px; }
.graphDot.vertical_7 { top: 66px; }
.graphDot.vertical_8 { top: 78px; }
.graphDot.vertical_9 { top: 90px; }
.graphDot.vertical_10 { top: 102px; }
.graphDot.vertical_11 { top: 114px; }
.graphDot.vertical_12 { top: 126px; }
.graphDot.vertical_13 { top: 138px; }
.graphDot.vertical_14 { top: 150px; }
.graphDot.vertical_15 { top: 162px; }
.graphDot.vertical_16 { top: 174px; }
.graphDot.vertical_17 { top: 186px; }
.graphDot.vertical_18 { top: 198px; }
.graphDot.vertical_19 { top: 210px; }

.page2 ins.exam.circle {
  position: absolute;
  display: none;
  top: 92px;
  left: -60px;
}
.page2 .lineGraph.pointerOff + ins.exam.circle {
  display: block;
}


.page3 input { text-align: center; }