@charset "utf-8";
.finish.quiz .contentsArea h2 {
  word-break: break-all;
}
h3 .h3TxtL {
  color: #408d52;
  padding-right: 10px;
  float: left;
  width: 110px;
  margin-right: 10px
}
h3 .h3TxtR {
  color: #111;
  float: left;
  width: 1090px;
  word-break: break-word;
}

.contentsArea figure {
  position: relative;
  flex-shrink: 0;
  width: 530px;
}

.contentsArea figure img {
  width: 100%;
  margin-top: 30px;
  vertical-align: top;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
}
.flexContainer.wrap { flex-wrap: wrap; }
.flexContainer .shrink { flex-shrink: 0; }
.displayN { display: none !important; }


.inputQuizContainer input {
  width: 100%;
}

/*page */


.flexContainer .right {
  width: 100%;
  margin: 27px 0 0 20px;
  padding-left:10px;
}

.flexContainer .right .dotListIndent > li {
  display: flex;
}
.flexContainer .right .dotListIndent > li:not(:last-of-type) {
  margin-bottom: 10px;
}
.flexContainer .right .shrink {
  margin-right: 10px;
  padding-left:70px;
}
.flexContainer .right input {
  width: 100%;
  text-align: center;
}

.page2 .list.dot > li {
  word-break: break-all;
}





.clickButton[data-popup-btn="1"] {
  top: 280px;
  left: 520px;
}
.popup_pages > li.min.middleSize {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup_pages > li.min.middleSize figure {
  width: 900px;
}
.popup_pages > li.min.middleSize figure img {
  width: 100%;
  vertical-align: top;
}