.content-container > .content > .bg {
	background-image: url('../../images/ms_41_6_03/ms_41_6_03_02_01/bg.svg');
}

.popup-more-one .bg {
	/* background-image: url('../../images/ms_41_6_03/ms_41_6_03_02_01/bg_more.svg'); */
}

#quiz-content-01 .scroll-bg {
	/* background-image: url('../../images/ms_41_6_03/ms_41_6_03_02_01/bg.svg'); */
	background-size: 100%;
	height: 770px;
}

#quiz-content-02 .scroll-bg {
	background-image: url('../../images/ms_41_6_03/ms_41_6_03_02_01/bg_more.svg');
	background-size: 100%;
	height: 535px;
}

/* #quiz-content-01 .tool-container {
	top: 165px;
}

#quiz-content-02 .tool-container {
	top: 245px;
} */

.quiz-input-text .input-cont  {
	width: 180px;
	height: 55px;
}

.quiz-input-text .input-cont .answer {
	line-height: 55px;
}

.input-cont .btn-check {
	margin: 5px -45px 0 0;
}

#quiz-01 .input-cont:nth-child(1) {
	left: 706px;
	top: 581px;
}

#quiz-01 .input-cont:nth-child(2) {
	left: 1007px;
	top: 581px;
}

#quiz-02 .input-cont:nth-child(1) {
    left: 666px;
    top: 476px;
}

#quiz-02 .input-cont:nth-child(2) {
	left: 967px;
    top: 476px;
}

.ico-figure-01.bb-61:before {
    background-image: url('../../images/ico_figure_1_0061.svg');
}

.ico-figure-01.bb-62:before {
    background-image: url('../../images/ico_figure_1_0062.svg');
}