.greenT{color:green}
.page_1 .math_calc_table .rowLine{top:0; z-index: 1;}
.page_1 .math_calc_table .line_1{left:50px}
.page_1 .math_calc_table .line_2{left:100px}
.page_1 .math_calc_table .line_3{left:150px}
.page_1 .math_calc_table{position: relative; top:0 !important; right:0 !important;}
.page_1 .math_calc_table{width:200px;  line-height: 1.1;}
.page_1 .math_calc_table td{padding:5px 0;}
.page_1 .math_calc_table .line td{padding: 0 !important;}
.page_1 .math_calc_table.class3 tr.line-tr td, .math_calc_table.class3 tr.line td{height: 2px !important;}
.page_1 .flex-wrap{justify-content:space-between; }
.page_1 .flex-item{position: relative;}
.page_1 .flex-item + .flex-item{margin-left:50px;}
.page_1 .flex-wrap .icon_arrow{margin:0;}
.page_1 td.bg{background: #e3e3e3;}
.page_1 .icon_arrow {position:absolute; right: -10px; top: 85px; cursor: pointer;}
.page_1 .icon_arrow.big{width: 41px; height: 35px;}
.page_1 .lineBox{padding-top:30px}
.page_1 .vOn .icon_arrow {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}

.page_1 .b3::after{left:30% !important}
.page_1 .flex-wrap{padding: 0 80px 0 140px;}
.page_1 .b1{bottom: -50px;left: 43px;text-align: center;z-index: 4;}
.page_1 .b2{bottom: -103px;left: -35px;text-align: center;z-index: 4;}
.page_1 .lineBox.box{height: 420px; padding-top: 50px;}
.page_1 .b2::after{left:55px !important}
.page_2 .box-flex {display:flex;align-items:center}
.page_2 .box-flex.n1 {justify-content:space-around}
.page_2 .box-flex.n2 {justify-content:center;margin-top:20px}
.page_2 .img-box {height:260px}
.page_2 .img-box img {height:100%;vertical-align:top}
.page_2 .icon_arrow {margin-right:20px}

.page_3 .box-flex {display:flex;justify-content:space-around;margin-top:80px}

.page_4 .box-flex {display:flex;justify-content:space-around;margin-top:80px;align-items:center}
.page_4 .box-flex .item {display:flex;align-items:center}

.page_5 .lineBox.mini {padding:0 16px;color:#ff0000}
.page_5 .box-flex {display:flex;align-items:center;justify-content:space-around;margin-top:40px}
.page_5 .img-bg {background:url("../images/suhi_h_0301_04_0004_3.png") no-repeat 50% 50%;height:340px;background-size:contain;width:350px;position:relative;box-sizing:border-box;padding-top:80px}
.page_5 .img-bg .lineBox.mini {display:block}
.page_5 .img-bg .math_calc_table {margin-left:95px}
.page_5 .lineBox.v2 {display:flex;padding:15px}
.page_5 .lineBox.v2 .item {margin:0 30px;position:relative}
.page_5 .lineBox.v2 .item .icon {position:absolute;top:50%;left:50%;margin:-25px 0 0 -25px}

.page_6 .box-flex {display:flex;justify-content:space-around}
.page_6 .img-bg {height:320px;width:340px;position:relative;margin:20px auto 40px;box-sizing:border-box;padding-top:80px}
.page_6 .img-bg.n1 {background:url("../images/suhi_h_0301_04_0004_4_1.png") no-repeat 50% 50%;background-size:contain;}
.page_6 .img-bg.n2 {background:url("../images/suhi_h_0301_04_0004_4_2.png") no-repeat 50% 50%;background-size:contain;}
.page_6 .img-bg .math_calc_table {margin-left:100px}
/*.page_6 .img-bg .math_calc_table .toggle {background-color:transparent}*/

.page_7 .img-bg {background:url("../images/suhi_h_0301_04_0004_5.png") no-repeat 50% 50%;height:345px;background-size:auto 100%;position:relative;margin:20px auto 40px}
.page_7 .img-bg .txt-item {position:absolute;text-align:center;font-size:30px;line-height:1.1;letter-spacing:-2px}
.page_7 .txt-item.n1 {top:31px;left:823px;}

.pop_page_2 .box-flex {display:flex;justify-content:center}

.pop_page_3 .lineBox.mini {padding:0 15px;color:#ff0000}
