

.math_calc_table.type-2{width:150px;}
.math_calc_table .answer{letter-spacing: 29px;}

.picture-box {position:relative;background-repeat:no-repeat;background-position:50% 50%;height: 510px;margin:0 auto}
.picture-box .txt-box {position:absolute;text-align:center;font-size:34px;line-height:40px;/* letter-spacing:-1px */}

.innerTab_1 .picture-box {background-image:url("../images/suhi_h_0302_02_0001/suhi_h_0302_02_0001_0_1.png");width: 100%;}
.innerTab_1 .n1 {top: 28px;left: 293px;}
.innerTab_1 .n2 {top: 101px;left: 613px;}

.innerTab_2 .picture-box {background-image:url("../images/suhi_h_0302_02_0001/suhi_h_0302_02_0001_0_2.png");width:100%;}
.innerTab_2 .n1 {top: 29px;left: 443px;font-size: 36px;line-height: 44px;letter-spacing: -2px;}
.innerTab_2 .n2 {top: 127px;left: 577px;}

.innerTab_3 .picture-box {background-image:url("../images/suhi_h_0302_02_0001/suhi_h_0302_02_0001_0_3.png");width: 100%;}
.innerTab_3 .n1 {top: 138px;left: 250px;}
.innerTab_3 .n2 {top: 200px;left: 678px;}

.innerTab_4 .picture-box {background-image:url("../images/suhi_h_0302_02_0001/suhi_h_0302_02_0001_0_4.png");width:100%;}
.innerTab_4 .n1 {top: 30px;left: 220px;}
.innerTab_4 .n2 {top: 191px;left: 763px;}

.innerTab_5 .picture-box {background-image:url("../images/suhi_h_0302_02_0001/suhi_h_0302_02_0001_0_5.png");width:100%;}
.innerTab_5 .n1 {top: 34px;left: 225px;}
.innerTab_5 .n2 {top: 31px;left: 649px;/* letter-spacing: -4px; */}
.innerTab_5 .n3 {top: 353px;left: 709px;}

.innerTab_6 .picture-box {background-image:url("../images/suhi_h_0302_02_0001/suhi_h_0302_02_0001_0_6.png");width:100%;}
.innerTab_6 .n1 {top: 63px;left: 481px;/* letter-spacing: -3px; */}
.innerTab_6 .n2 {top: 22px;left: 539px;letter-spacing: -3px;}

.innerTab_7 .picture-box {background-image:url("../images/suhi_h_0302_02_0001/suhi_h_0302_02_0001_0_7.png");width:100%;}
.innerTab_7 .n1 {top: 63px;left: 481px;/* letter-spacing: -3px; */}
.innerTab_7 .n2 {top: 22px;left: 539px;letter-spacing: -3px;}

.innerTab_8 .picture-box {background-image:url("../images/suhi_h_0302_02_0001/suhi_h_0302_02_0001_0_8.png");width:100%;}
.innerTab_8 .n1 {top: 63px;left: 481px;/* letter-spacing: -3px; */}
.innerTab_8 .n2 {top: 22px;left: 539px;letter-spacing: -3px;}


.box-flex {display:flex}

.page_2 .img-wrap{width:730px; margin:0 auto}
.page_2 .img-wrap img{width: 100%;}

.page_3 .img-wrap{width:320px; margin:0 auto}
.page_3 .img-wrap img{width: 100%;}

.page_4 .img-wrap{width:430px; margin:0 auto;}
.page_4 .img-wrap img{width: 100%;}
.page_4 .lineBox{position: relative; padding-top:30px; width:300px; height:180px}
.page_4 .lineBox .tit{position: absolute; top:-30px; left:80px;}
.page_4 .lineBox.type-col .tit{left:70px}

.page_5 .lineBox{padding:30px; width: 700px;}
.page_5 .lineBox .icon_arrow{margin:0 20px; transform: rotate(180deg);}

