@charset "utf-8";

.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
.contentsList .icon_arrow{width:auto !important; margin:0 10px;}
.lineBox .bullet.number,
h2 .bullet.number{margin-top:5px;}

.page_1	.lineBox,
.page_1	.bogiContainer{text-align: center; margin:0 auto 30px; width:80%}

.page_2 .flex-wrap{text-align: center;}
.page_2 .n1 .img-wrap{width:100%; height:210px; background: url(../images/suh_p_0301_02_0002_401_1_1.png) no-repeat 50% 0 / 70%; position: relative;}
.page_2 .n2 .img-wrap{width:100%; height:210px; background: url(../images/suh_p_0301_02_0002_401_1_2.png) no-repeat 50% 0 / 70%; position: relative;}
.page_2 .n3 .img-wrap{width:100%; height:210px; background: url(../images/suh_p_0301_02_0002_401_1_3.png) no-repeat 50% 0 / 70%; position: relative;}

.page_2 .n1 .img-wrap .m1{position: absolute; top:70px; left:70px;}
.page_2 .n1 .img-wrap .m2{position: absolute; top:13px; left:220px;}
.page_2 .n2 .img-wrap .m1{position: absolute; top:5px; left:38px;}
.page_2 .n2 .img-wrap .m2{position: absolute; top:90px; left:256px;}
.page_2 .n3 .img-wrap .m1{position: absolute; top:0; left:92px;}
.page_2 .n3 .img-wrap .m2{position: absolute; top:0; left:259px;}
.page_2 .flex-item{margin:0 10px}
.page_2 .toggle{display: flex; align-items: center; height: 120px; justify-content: center;}

.page_3  h2{position: relative; z-index: 2; width:600px;}
.page_3 .page-iframe{width:100%; height:522px; overflow: hidden; border:0; position: absolute; z-index: 0; top:-80px;}


.page_4 .boxs{justify-content: space-around; margin-bottom: 50px;}
.page_4 .boxs .colorBox{width:200px; height:200px; display: flex; justify-content: center; align-items: center; border-radius: 0; color: #000;}
.page_4 .boxs .colorBox.n2{border-radius: 50%;}
.page_4 .boxs .colorBox.n3{transform: rotate(45deg) translate(10px, 20px); width:160px; height:160px;}
.page_4 .boxs .colorBox.n3 >div{transform: rotate(-45deg);}
.page_4 .boxs .colorBox.deeppink{border-color: #f7c1c9; background-color: #ffe5e7;}
.page_4 .boxs .colorBox.purple {border-color: #cabfe0; background-color: #ece5ff;}

.page_5 .flex-item{padding:0 100px;}
.page_5 .tableContainer .toggle {background: transparent;}
.page_5 .tableContainer th{height:80px;}

.page_6 .flex-item{display: flex; justify-content: center;}
.page_6 .flex-item .lineBox{width: 170px;margin: 222px auto 0;text-align: center;padding: 10px 0;}
.page_6 .char1{background: url(../common/contents/images/character/boy_1.png) no-repeat 50% -60px / contain; width: 300px; height:370px;}
.page_6 .char2{background: url(../common/contents/images/character/girl_1.png) no-repeat 50% -60px / contain; width: 300px; height: 370px;}

.checkContainer h2 .toggleBlank{margin-top:8px;}

.page_7 .lineBox{width:55%; margin:40px auto; display: flex; align-items: center; justify-content: center;}
.page_7 .lineBox .toggle{margin:0 15px}

.page_8 h2{
    position: relative; 
    top: -10px;
}
.page_8 .dot.orange{
    position: relative;
    top: -2px;
}
.page_8 .imgBgContainer{
    background-image: url(./images/suh_p_0301_01_0002_401_1/suh_0301_01_0002_401_1_3_1.png),url(./images/suh_p_0301_01_0002_401_1/suh_0301_01_0002_401_1_3_2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right center;
    background-size: contain;
    height: 265px;
    width: 730px;
    margin: 0 auto;
}
.page_8 .flexListContainer{margin: 15px auto 0;width: 570px;}
.page_8 .balloon_1{left: -8%;top: 33%;}
.page_8 .balloon_2{right: -8%;top: 33%;}
.page_8 .flexListContainer > li {
    display: flex;
    align-items: center;
}

.checkContainer .contentsBox .basicSlider_tabs {
    width: 600px
}