.box-flex {display:flex}
.sup {font-size:24px;position:relative;top:-8px}
h2 .sup,
th .sup,
.toggle .sup {top:-12px}

.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important}

.tableContainer .toggle {width:100%;background-color:transparent}
.tableContainer th {height:60px}

.img-box {position:relative;margin-top:40px}
.img-box img {width:100%;vertical-align:top}
.img-box .sup {top:-12px}
.img-box .txt-item {position:absolute}
.img-box .txt-item.n1 {top:-7px;left:10px}
.img-box .txt-item.n2 {top:108px;left:229px}
.img-box .txt-item.n3 {top:108px;left:567px}
.img-box .txt-item.n4 {top:90px;left:850px}


.page_2 .box-flex {align-items:center;justify-content:space-around;margin-top:20px;padding-left:120px}
.page_2 .box-flex .item {display:flex;align-items:center}

.page_4 h2 span .number {height:40px;width:40px;line-height:1.8em;position:relative;top:8px}
.page_4 .box-flex {margin-top:20px;align-items:center;justify-content:center}

.page_5 .lineBox {margin:0 auto 20px;width:440px;text-align:center}

.page_5 .buttonContainer {z-index:2}
.page_5 .circleDot {position:relative;top:4px}

.page_5 .img-box2 {position:relative;text-align:center;height:300px;margin-top:40px}
.page_5 .img-box2 img {height:100%;vertical-align:top}
.page_5 .img-box2 .txt-item {position:absolute}
.page_5 .img-box2 .txt-item.n1 {top:135px;left:150px}
.page_5 .img-box2 .txt-item.n2 {top:-20px;left:329px}
.page_5 .img-box2 .txt-item.n3 {top:130px;left:870px}
.page_5 .img-box2 .txt-item.n4 {top:-25px;left:650px}
.page_5 .box-flex {align-items:center;justify-content:center;margin-top:20px}

