.suhi h2+section{padding-left: 0;}
.formula_box > li{display: flex; align-items: center;width: calc(100% / 3);justify-content: inherit;}
.formula_box .bunsuWrap > ul{display:inline-flex;min-width:50px;flex-direction:column;align-items:center;justify-content:center;}
.formula_box.line2{margin-top: 60px;}
.formula_box{display: flex;justify-content: space-evenly;margin-top: 50px;}

.page_2 .formula_box{margin-top: 100px;}


.bunsuWrap.Separation li{width:100%;}
.bunsuWrap.Separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.bunsuWrap.Separation .toggle{width:100%;}
/* 
.answer .bunsuWrap ul > li:first-of-type {border-color:#00a0ff}
.ex-box {display:flex}
.ex-box.a-c {align-items:center}
.ex-box.a-c .bullet.exam {align-self:inherit;margin-top:0}
.ex-box .bullet.exam {flex-shrink:0}
.ex-box .inline-flex-box {align-items:center}
.img-answer {width:680px;height:294px;position:relative;margin-right:40px}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;background:url("../images/suh_0601_01_0002_203_1_02.png") no-repeat 50% 50% / 100%;opacity:0;transition:opacity 1s}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {z-index:2;opacity:1}
.box-flex {display:flex;justify-content:center;align-items:center;margin-top:60px}
.box-flex .bunsuWrap .toggle {margin:8px 0}
.study_guide {right:0} */
