.suhi h2+section{padding-left: 0;}
.formula_box > li{display: flex; align-items: center;justify-content: inherit;}
.formula_box > li .toggle.circle {margin:0 10px}
.formula_box .bunsuWrap > ul{display:inline-flex;flex-direction:column;align-items:center;justify-content:center;}
.formula_box.line2{margin-top: 60px;}
.formula_box{display: flex;justify-content: space-evenly;margin-top: 50px;}
.bunsuWrap.separation > ul{min-width: 70px;}
.bunsuWrap.separation li{width:100%;}
.bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.bunsuWrap.separation .toggle{width:100%;}

.page_2 .formula_box{margin-top: 100px;}

.page_3 h2{margin-top:-16px;}
.page_3 h2>ins.number{margin-top:24px;}
.page_3 .bunsuWrap{vertical-align:middle;}
.page_3 .scroll_container.vertical{height:350px;}
.page_3 .formula_box:first-child{margin-top:10px;}
.page_3 .formula_box:last-child{margin-bottom:30px;}
.page_3 .formula_box.line4 .answer{display: flex;}
.page_3 .flex-box{align-items: baseline;}
.page_3 .formula_box {margin-top:0}
.page_3 .formula_box ~ .formula_box {margin-top:25px}
.page_3 .dapCheckBtn {z-index:2}
.page_3 .box-flex {display:flex;justify-content:center;margin-top:50px}
.page_3 .box-flex .item {margin:0 30px;display:flex;align-items:center;justify-content:center}
.page_3 .box-flex .circle {width:60px;height:60px;border-radius:50%;border:4px solid #3bb5fe;display:flex;align-items:center;justify-content:center;box-sizing:border-box;margin:0 10px}
.page_3 .box-flex .circle img {width:24px}

.page_4 .formula_box > li{width: inherit;}
.page_4 .formula_box {width:760px;margin:50px auto 0}

.page_5 { height: 360px; } 
.page_5 .lineBox { width: 120px; margin: 0 auto; padding: 0; text-align: center; position: relative; z-index: 2;}
.page_5 .lineBox .qBox { width: 100%; } 
.page_5 .lineWrap { position: relative; } 
.page_5 .lineWrap .line-container.line_1 {  position: absolute; left: 252px;  top: 125px;  width: 538px;  height: 40px;  z-index: 1;  border: 4px solid #444349;  border-bottom: none; }
.page_5 .lineWrap .line-container.line_1:before { content: ''; position: absolute; left: 50%; top: -50px; width: 4px; height: 50px; background: #444349; } 
.page_5 .lineWrap .line-container.line_2 {  position: absolute;  left: 133px;  top: 280px;  width: 227px;  height: 40px;  z-index: 1;  border: 4px solid #444349;  border-bottom: none; }
.page_5 .lineWrap .line-container.line_2:before { content: ''; position: absolute; left: 50%; top: -45px; width: 4px; height: 45px; background: #444349; } 
.page_5 .lineWrap .line-container.line_3 { position: absolute; left: 681px; top: 280px; width: 227px; height: 40px; z-index: 1; border: 4px solid #444349; border-bottom: none; } 
.page_5 .lineWrap .line-container.line_3:before { content: ''; position: absolute; left: 50%; top: -45px; width: 4px; height: 45px; background: #444349; } 
.page_5 .ml_425 { margin-left: 425px !important; } 
.page_5 .mr_110 { margin-right: 110px !important; } 
.page_5 .scrollOutBox.height { height: 440px; } 

.page_6 .scroll_container.vertical{height:300px;}
.page_6 .tableContainer table td .bunsuWrap{vertical-align: inherit;}
.page_6 .tableContainer .text{display: flex;align-items: center;flex-flow: wrap;justify-content: center;}
.page_6 .contentsList {margin:10px auto 0;}
.page_6 .contentsList > li:last-child {padding:0 0 0 103px;}
.page_6 .contentsList > li .bunsuContainer {margin:0;}
.page_6 .toggle .bullet.exam{margin-top: 5px;}
.page_6 .characterImg{position: initial;}

.popup_100 .box-flex {display:flex;align-items:flex-start}
.popup_100 .box-flex ~ .box-flex {margin-top:10px}
.popup_100 .box-flex .lineBox {margin-right:20px;flex-shrink:0}
.popup_100 .box-flex .txt {flex:1 auto}
.popup_100 .box-flex .txt .bunsuWrap {position:relative;top:-4px}
.popup_pages .textBookPopup.popup_100 .popupInner {height:auto}

