.formula_box{display: flex;justify-content: space-evenly;}
.formula_box li{display: flex; align-items: center;width: calc(100% / 3);justify-content: inherit;}


.formula_box .bunsuWrap > ul{display:inline-flex;min-width:50px;flex-direction:column;align-items:center;justify-content:center;}

/* .formula_box.line1{display: flex;justify-content: space-evenly;} */
/* .formula_box.line1 li{display: flex; align-items: center;width: 33%;justify-content: inherit;} */
.formula_box.line1 li .bunsuWrap{}
.formula_box.line1 li .icon_arrow{}


.formula_box.line2{}
.formula_box.line2 li{}
.formula_box.line2 li .bunsuWrap{}
.formula_box.line2 li .icon_arrow{}

