[class*='ex-label-'] {display: inline-block;height:30px;margin-right:4px;vertical-align:0}
.ex-label-01 {width:60px;background-color:#a1d9f7}
.ex-label-02 {width:30px;background-color:#e50182}

.basicSlider_slides section {padding-left:30px}
.img-wrap {position:relative;width:800px;margin:10px auto 20px}
.img-wrap img {width:100%;vertical-align:top}
.img-wrap [class*='txt-'] {position:absolute;white-space:nowrap}
.img-wrap [class*='sm-txt-'] {top:145px;font-size:24px}
.img-wrap [class*='lg-txt-'] {top:52px;font-size:30px}
.img-wrap .sm-txt-0 {left:6px}
.img-wrap .sm-txt-1 {left:72px}
.img-wrap .sm-txt-2 {left:150px}
.img-wrap .sm-txt-3 {left:228px}
.img-wrap .sm-txt-4 {left:305px}
.img-wrap .sm-txt-5 {left:385px}
.img-wrap .sm-txt-6 {left:465px}
.img-wrap .sm-txt-7 {left:542px}
.img-wrap .sm-txt-8 {left:620px}
.img-wrap .sm-txt-9 {left:700px}
.img-wrap .sm-txt-10 {left:788px}
.img-wrap .sm-txt-100 {top:90px;left:772px}
.img-wrap .lg-txt-0 {left:50px}
.img-wrap .lg-txt-1 {left:172px}
.toggle.box .answer {justify-content:flex-start}
.toggle.box .answer .bullet.exam {position:relative;top:18px}