.img-wrap {position:relative;padding-top:60px;text-align:center}
.img-wrap img {width:680px;vertical-align:top}
.img-wrap .balloon {white-space:nowrap}
.img-wrap .balloon.n1 {top:0;left:0}
.img-wrap .balloon.n2 {top:0;right:0}

.toggle.box .answer {justify-content:flex-start}