#wrap header .title:before {top:24px}
.contentsList .bullet.circleDot {position:relative;top:16px}
.contentsList .bunsuWrap ul > li:first-of-type {border-color:#fff}
.colorBox {position:relative;width:300px;height:200px;margin:40px auto 0}
.colorBox .bunsuWrap ul > li:first-of-type {border-color:#000}
.flex-group {display:flex;height:100%;padding:20px}
.flex-group .flex-item {flex:1 100%;display:flex;justify-content:center;align-items:center}