
@charset "utf-8";

/***********************
* 초등 전자저작물 *
* 수학 3-4학년 *
* indexPopup.css *
***********************/

.INDEX > .stepContainer > div.html[type="act"] {
  top: 71px;
}

/************************* lesson Character *************************/
.INDEX > .lessonContainer > div.lesson:before {
  background-image: url(../images/lessonChar.svg);
}
.INDEX > .lessonContainer > div.lesson[index="1"]:before {
  background-position-x: calc(-54px * (1 - 1));
}
.INDEX > .lessonContainer > div.lesson[index="2"]:before {
  background-position-x: calc(-54px * (2 - 1));
}
.INDEX > .lessonContainer > div.lesson[index="3"]:before {
  background-position-x: calc(-54px * (3 - 1));
}
.INDEX > .lessonContainer > div.lesson[index="4"]:before {
  background-position-x: calc(-54px * (4 - 1));
}
.INDEX > .lessonContainer > div.lesson[index="5"]:before {
  background-position-x: calc(-54px * (5 - 1));
}
.INDEX > .lessonContainer > div.lesson[index="6"]:before {
  background-position-x: calc(-54px * (6 - 1));
}
.INDEX > .lessonContainer > div.lesson[index="7"]:before {
  background-position-x: calc(-54px * (7 - 1));
}
/*********************** lesson Character END ***********************/




/************************* cornerContainer Title *************************/
.INDEX > .lessonContainer[lesson="1"] + .cornerContainer:before {
  content: '분수의 덧셈과 뺄셈';
}
.INDEX > .lessonContainer[lesson="2"] + .cornerContainer:before {
  content: '삼각형';
}
.INDEX > .lessonContainer[lesson="3"] + .cornerContainer:before {
  content: '소수의 덧셈과 뺄셈';
}
.INDEX > .lessonContainer[lesson="4"] + .cornerContainer:before {
  content: '사각형';
}
.INDEX > .lessonContainer[lesson="5"] + .cornerContainer:before {
  content: '자료와 꺾은선그래프';
}
.INDEX > .lessonContainer[lesson="6"] + .cornerContainer:before {
  content: '다각형';
}
.INDEX > .lessonContainer[lesson="7"] + .cornerContainer:before {
  content: '창의·융합 프로젝트';
}
/*********************** cornerContainer Title END ***********************/




/************************* cornerContainer Character *************************/
.lesson_1 .INDEX > .cornerContainer > div.cornerChar,
.INDEX div.lessonContainer[lesson="1"] ~ div.cornerContainer > div.cornerChar {
  background-image: url(../images/indexPopup/main_char_lesson1.png);
}
/* .lesson_2 .INDEX > .cornerContainer > div.cornerChar, */
.INDEX .lessonContainer[lesson="2"] + div.cornerContainer > div.cornerChar {
  background-image: url(../images/indexPopup/main_char_lesson2.png);
}
.lesson_3 .INDEX > .cornerContainer > div.cornerChar,
.INDEX .lessonContainer[lesson="3"] + div.cornerContainer > div.cornerChar {
  background-image: url(../images/indexPopup/main_char_lesson3.png);
}
.lesson_4 .INDEX > .cornerContainer > div.cornerChar,
.INDEX .lessonContainer[lesson="4"] + div.cornerContainer > div.cornerChar {
  background-image: url(../images/indexPopup/main_char_lesson4.png);
}
.lesson_5 .INDEX > .cornerContainer > div.cornerChar,
.INDEX .lessonContainer[lesson="5"] + div.cornerContainer > div.cornerChar {
  background-image: url(../images/indexPopup/main_char_lesson5.png);
}
.lesson_6 .INDEX > .cornerContainer > div.cornerChar,
.INDEX .lessonContainer[lesson="6"] + div.cornerContainer > div.cornerChar {
  background-image: url(../images/indexPopup/main_char_lesson6.png);
}
.creative .INDEX > .cornerContainer > div.cornerChar,
.INDEX .lessonContainer[lesson="7"] + div.cornerContainer > div.cornerChar {
  background-image: url(../images/indexPopup/main_char_lesson7.png);
}
/*********************** cornerContainer Character END ***********************/





/************************* stepContainer Character *************************/
.lesson_1 .INDEX > .stepContainer,
.INDEX div.lessonContainer[lesson="1"] ~ .stepContainer {
  background: url(../../math/images/indexPopup/indexPopup_step_bg.svg) no-repeat, url(../images/indexPopup/main_char_lesson1.png) 330px 30px / auto no-repeat;
}
.lesson_2 .INDEX > .stepContainer,
.INDEX div.lessonContainer[lesson="2"] ~ .stepContainer {
  background: url(../../math/images/indexPopup/indexPopup_step_bg.svg) no-repeat, url(../images/indexPopup/main_char_lesson2.png) 330px 30px / auto no-repeat;
}
.lesson_3 .INDEX > .stepContainer,
.INDEX div.lessonContainer[lesson="3"] ~ .stepContainer {
  background: url(../../math/images/indexPopup/indexPopup_step_bg.svg) no-repeat, url(../images/indexPopup/main_char_lesson3.png) 330px 30px / auto no-repeat;
}
.lesson_4 .INDEX > .stepContainer,
.INDEX div.lessonContainer[lesson="4"] ~ .stepContainer {
  background: url(../../math/images/indexPopup/indexPopup_step_bg.svg) no-repeat, url(../images/indexPopup/main_char_lesson4.png) 330px 30px / auto no-repeat;
}
.lesson_5 .INDEX > .stepContainer,
.INDEX div.lessonContainer[lesson="5"] ~ .stepContainer {
  background: url(../../math/images/indexPopup/indexPopup_step_bg.svg) no-repeat, url(../images/indexPopup/main_char_lesson5.png) 330px 30px / auto no-repeat;
}
.lesson_6 .INDEX > .stepContainer,
.INDEX div.lessonContainer[lesson="6"] ~ .stepContainer {
  background: url(../../math/images/indexPopup/indexPopup_step_bg.svg) no-repeat, url(../images/indexPopup/main_char_lesson6.png) 330px 30px / auto no-repeat;
}
.creative .INDEX > .stepContainer,
.INDEX div.lessonContainer[lesson="7"] ~ .stepContainer {
  background: url(../../math/images/indexPopup/indexPopup_step_bg.svg) no-repeat, url(../images/indexPopup/main_char_lesson7.png) 330px 30px / auto no-repeat;
}

/*********************** stepContainer Character END ***********************/