header .title .popBtn.textInBtn.inline {position:relative;top:4px}
.page_1 .answer .bunsuWrap {margin-bottom:-14px}


.ex-box {display:flex;align-items:center;text-align:justify;}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important;flex-shrink:0}

.full-img {display:flex;align-items:center;height:100%}
.full-img img {width:100%;height:100%;object-fit:contain}

.img-answer {width:620px;height:234px;position:relative;margin:0 40px}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;background:url("./images/suh_0501_04_0002_201_1.jpg") no-repeat 50% 50% / 100%;opacity:0;transition:opacity 1s}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {z-index:2;opacity:1}
.box-flex {display:flex;justify-content:center;align-items:center;margin-top:60px}



.page_1 .hide{display:none;}
.page_1 .graph{position:relative;width:100%;height:300px;background:url(../images/suh_0501_06_0910_203_1_1.png) no-repeat center / contain;}
.page_1 .graph .exam{position:absolute;top:120px;left:200px;display:none;}
.page_1 .graph .text{position:absolute;top:10px;left:303px;font-size: 26px;}
.page_1 .graph.on{background:url(../images/suh_0501_06_0910_203_1_2.png) no-repeat center / contain;}
.page_1 .graph.on .exam{display:block;}

.page_2 .speechBox .charSpriteImg{position: absolute;top: -50px;right: 200px;}
.page_2 .speechBox .balloon{position: absolute;top: 0px;right: 20px;}
.page_2 .speechBox .balloon::after{left:10%;}
.page_2 .flex-box{align-items: center;justify-content: space-between;}
.page_2 .bullet.exam{opacity: 0;}
.page_2 .bullet.exam.on{opacity: 1;visibility: visible;cursor: default;transition: opacity 1s ease-in-out;}


.page_4 .colorBox{display: inline-block;}
.page_4 .toggle{background-color: #f6e7d4;padding: initial;}

.page_5 .colorBox{padding: 0 12px;}

.icon.active{display: inline-flex;margin-right: 14px;font-size: 26px;font-family: YGJAL;transform: translate(4px, -4px);}
.icon.active::after{content: attr(data-number);color: #ff9e01;padding-right: 3px;}
.icon.active::before{content: '활동';color: #ff6200;padding-right: 3px;}
.icon.active::before,
.icon.active::after{text-shadow: #fff 3px 0 0, #fff 2.83487px 0.981584px 0, #fff 2.35766px 1.85511px 0, #fff 1.62091px 2.52441px 0, #fff 0.705713px 2.91581px 0, #fff -0.287171px 2.98622px 0, #fff -1.24844px 2.72789px 0, #fff -2.07227px 2.16926px 0, #fff -2.66798px 1.37182px 0, #fff -2.96998px 0.42336px 0, #fff -2.94502px -0.571704px 0, #fff -2.59586px -1.50383px 0, #fff -1.96093px -2.27041px 0, #fff -1.11013px -2.78704px 0, #fff -0.137119px -2.99686px 0, #fff 0.850987px -2.87677px 0, #fff 1.74541px -2.43999px 0, #fff 2.44769px -1.73459px 0, #fff 2.88051px -0.838247px 0;}
