.page_1 .flex-box{margin:30px auto 0;width:700px;justify-content:space-between;}
.page_1 .answerBox{position:relative;width:300px;height:300px;background:url(../images/suh_0501_06_0910_401_1_1.png) no-repeat center / contain;}
.page_1 .answerBox.on{background:url(../images/suh_0501_06_0910_401_1_2.png) no-repeat center / contain;}
.page_1 .answerBox:last-child{background:url(../images/suh_0501_06_0910_401_1_3.png) no-repeat center / contain;}
.page_1 .answerBox:last-child.on{background:url(../images/suh_0501_06_0910_401_1_4.png) no-repeat center / contain;}
.page_1 .answerBox span{position:absolute;top:273px;left:113px;white-space:nowrap;}
.page_1 .answerBox .answerText{top:131px;left:141px;display:none;color:#00a0ff;}
.page_1 .answerBox:last-child span{top:135px;left:14px;}
.page_1 .answerBox:last-child .answerText{top:101px;left:124px;}
.page_1 .answerBox.on .answerText{display:block;}
.page_1 .click-finger-Btn{position:absolute;top:120px;left:100px;display:block;}
.page_1 .answerBox:last-child .click-finger-Btn{left:140px;}
.page_1 .click-finger-Btn.complete{display:none;}

.page_2 figure{position:relative;margin:0 auto 60px;width:400px;}
.page_2 figure img{display:block;width:100%;}
.page_2 figure span{position:absolute;top:84px;left:238px;white-space:nowrap;}
.page_2 figure span:last-child{top:223px;left:173px;}

.page_3 .flex-box{margin:60px auto 30px;width:850px;justify-content:space-between;}
.page_3 figure{position:relative;width:340px;}
.page_3 figure .bullet{position:absolute;top:-40px;left:-40px;}
.page_3 figure img{display:block;width:100%;}
.page_3 figure span{position:absolute;top:113px;left:151px;white-space:nowrap;}
.page_3 figure span:last-child{top:205px;left:109px;}
.page_3 figure:last-child span{top:80px;left:322px;}
.page_3 figure:last-child span:last-child{top:203px;left:109px;}

.page_4 .img_box{position: relative;width: 100%;display: flex;justify-content: center;}
.page_4 .img_box img{display:inline-block;height: 300px;}
.page_4 .img_box .text_01{position:absolute;top:14px;left:69px;font-size: 24px;}
.page_4 .img_box .text_02{position:absolute;top:-25px;left:120px;font-size: 24px;}
.page_4 .img_box .text_03{position:absolute;top:140px;left:220px;}
.page_4 .img_box .text_04{position:absolute;top:170px;left:410px;}
.page_4 .img_box .text_05{position:absolute;top:175px;left:680px;}

.page_5 .img_box{position: relative;width: 100%;display: flex;justify-content: center;}
.page_5 .img_box img{display:inline-block;height: 300px;}
.page_5 .img_box .text_01{position:absolute;top:190px;left:413px;}
.page_5 .img_box .text_02{position:absolute;top:105px;left:820px;}
.page_5 .img_box .text_03{position:absolute;top:270px;left:430px;}

.pop_page_2 .bullet.number,
.pop_page_3 .bullet.number{display:inline-block;margin:4px 4px 0 0;vertical-align:top;}

.pop_page_4 img{display:inline-block;height:52px;vertical-align:top;}
.pop_page_4 .answerText{color:#00a0ff;}