.page_1 .flexContainer{display:flex;justify-content:space-between;}
.page_1 .flexContainer > li{display:flex;width:480px;flex-direction:column;align-items:center;}
.page_1 figure{display:flex;margin:30px 0;height:200px;align-items:center;justify-content:center;}
.page_1 figure img{width:unset;height:100%;}
.page_1 li:first-child figure img{width:240px;height:unset;}
.page_1 li:first-child figure span{position:absolute;top:80px;left:-30px;white-space:nowrap;}
.page_1 li:first-child figure span:last-child{top:120px;left:160px;}
.page_1 li:last-child figure img{margin-top:-30px;width:unset;height:160px;}
.page_1 li:last-child figure span{position:absolute;top:20px;left:90px;white-space:nowrap;}
.page_1 li:last-child figure span:last-child{top:55px;left:355px;}
.page_1 .flex-box{align-items:flex-start;}
.page_1 dl + dl{margin-top:15px;}


.page_2 .flexContainer{display:flex;justify-content:space-between;}
.page_2 .flexContainer > li{display:flex;width:480px;flex-direction:column;align-items:center;}
.page_2 figure{display:flex;margin:30px 0;height:200px;align-items:center;justify-content:center;}
.page_2 figure img{width:unset;height:100%;}
.page_2 li:first-child figure img{width:240px;height:unset;}
.page_2 li:first-child figure span{position:absolute;top:90px;left:50px;white-space:nowrap;font-size: 30px;}
.page_2 li:first-child figure span:last-child{top:190px;left:70px;}
.page_2 li:last-child figure img{margin-top:-30px;width:unset;height:160px;}
.page_2 li:last-child figure span{position:absolute;top:55px;left:-25px;white-space:nowrap;font-size: 30px;}
.page_2 li:last-child figure span:last-child{top:100px;left:60px;}
.page_2 .flex-box{align-items:flex-start;}
.page_2 dl + dl{margin-top:15px;}