header .title .popBtn.textInBtn.inline {position:relative;top:4px}
.page_1 .answer .bunsuWrap {margin-bottom:-14px}


.ex-box {display:flex;align-items:center;text-align:justify;}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important;flex-shrink:0}

.full-img {display:flex;align-items:center;height:100%}
.full-img img {width:100%;height:100%;object-fit:contain}

.img-answer {width:620px;height:234px;position:relative;margin:0 40px}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;background:url("./images/suh_0501_04_0002_201_1.jpg") no-repeat 50% 50% / 100%;opacity:0;transition:opacity 1s}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {z-index:2;opacity:1}
.box-flex {display:flex;justify-content:center;align-items:center;margin-top:60px}


.page_1 .hide{display:none;}
.page_1 .graph{position:relative;width:100%;height:300px;background:url(../images/suh_0501_06_0910_202_1_1.png) no-repeat center / contain;margin-top: 50px;}
.page_1 .graph .exam{position:absolute;top:120px;left:200px;display:none;}
.page_1 .graph .text{position:absolute;top:10px;left:303px;font-size: 26px;}
.page_1 .graph.on{background:url(../images/suh_0501_06_0910_202_1_2.png) no-repeat center / contain;}
.page_1 .graph.on .exam{display:block;}

.page_2 .hide{display:none;}
.page_2 .graph{position:relative;width:100%;height:300px;background:url(../images/suh_0501_06_0910_202_1_3.png) no-repeat center / contain;margin-top: 50px;}
.page_2 .graph .exam{position:absolute;top:120px;left:200px;display:none;}
.page_2 .graph .text{position:absolute;top:10px;left:303px;font-size: 26px;}
.page_2 .graph.on{background:url(../images/suh_0501_06_0910_202_1_2.png) no-repeat center / contain;}
.page_2 .graph.on .exam{display:block;}
.page_2 .speechBox{position: relative;}
.page_2 .speechBox .charSpriteImg{position: absolute;top: 0;right: 0;}
.page_2 .speechBox .balloon{position: absolute;top: 0;right: 0;}

.page_2 section{align-items: center;justify-content: space-between;}



.page_4 .colorBox{display: inline-block;}
.page_4 .toggle{background-color: #f6e7d4;padding: initial;}
