.suhi [class^="page_"] section {padding:0;}

.complete_txt {display:none;}
.complete .complete_txt {display:block;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:7px;left:0;margin:0;}

.suhi h2 .icon_x_title, .suhi h2 .icon_tri_title {margin:11px 0 0;}

.arrayNum {border-collapse:collapse;}
.arrayNum td {padding:10px;text-align:center;border:3px solid #000;}

.suhi .page_13 h2>ins.number {margin:8px 0 0;}
.suhi .page_13 .imgContainer img {width:100%;}

.page_1 .tableContainer {width:100%;}
.page_1 .tableContainer table {width:100%;}
.page_1 .tableContainer table td .toggle {display:block;padding:0;background:none;}
.page_1 .tableContainer table td .toggle .answer {text-align:center;}

.page_2 .lineBox > div {display:flex;justify-content:space-between;margin:20px 0 0;}
.page_2 .lineBox > div:first-child {margin:0;}
.page_2 .lineBox > div .lineBox.deeppink {display:flex;align-items:center;}
.page_2 .lineBox > div .lineBox.deeppink img {vertical-align:top;}
.page_2 .buttonContainer {z-index:3;}
.page_2 .page_2_1 .formulaBox {width:700px;margin:0 auto;}
.page_2 .page_2_2 .contentsList > li {align-items:start;}
.page_2 .page_2_2 .contentsList > li .bunsuContainer {display:block;width:100%;margin:0;}
.page_2 .page_2_2 .contentsList > li .bunsuContainer .toggle {display:block;width:881px;}
.page_2 .page_2_2 .contentsList > li .bunsuContainer .toggle + .toggle {margin:20px 0 0;}
.page_2 .page_2_2 .contentsList > li .bunsuContainer .toggle .answer {display:flex;}
.page_2 .page_2_2 .contentsList > li .bunsuContainer .toggle .answer .bullet.exam {top:20px;}
.page_2 .page_2_2 .contentsList > li .bunsuContainer .toggle .answer .lineBox {width:auto;}
.page_2 .page_2_2 .contentsList > li .bunsuContainer .toggle .answer .lineBox.deeppink {display:flex;align-items:center;width:80px;margin:0 5px;}
.page_2 .page_2_2 .contentsList > li .bunsuContainer .toggle .answer .lineBox.deeppink img {width:100%;vertical-align:top;}

.page_3 .lineBox {width:900px;margin:0 auto;}

.suhi .page_5 h2+section .study_guide {line-height:30px;}
.suhi .page_5 h2+section .study_guide em {display:inline-block;}
.page_5 .tableContainer {width:100%;}
.page_5 .tableContainer th .characterImg {position:relative;}
.page_5 .tableContainer td .contentsList > li {align-items:start;}
.page_5 .tableContainer td .contentsList > li .bunsuContainer {margin:0;}
.page_5 .dapCheckBtn {z-index:3;}
.page_5 .page_5_1 .toggle.ex01 {position:relative;width:100%;padding:0;background:none;}
.page_5 .page_5_1 .toggle.ex01 .answer {position:absolute;left:50%;top:0;right:0;bottom:0;transform:translate(-50%, 0);}
.page_5 .page_5_1 .toggle.ex01 .answer .icon {position:absolute;left:45px;top:50%;margin:-25px 0 0;}
.page_5 .page_5_1 .contentsList {margin:20px 0 0;}
.page_5 .page_5_2 .toggle.ex01 {position:relative;width:100%;padding:0;background:none;}
.page_5 .page_5_2 .toggle.ex01 .answer {position:absolute;left:50%;top:0;right:0;bottom:0;transform:translate(-50%, 0);}
.page_5 .page_5_2 .toggle.ex01 .answer .icon {position:absolute;left:45px;top:50%;margin:-25px 0 0;}
.page_5 .page_5_2 .contentsList {margin:20px 0 0;}

