/* 
#wrap header .title {
    margin-bottom:40px;
} */
.img-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.iframe-wrap{width:calc(100% + 112px); margin-left:-56px; overflow: hidden; position: relative !important;}
.iframe-wrap .iframe-item{
    transform: none;
    top:auto;
    bottom:10px;
}
.moveButtonContainer{width: auto; left:50%; transform:translate(-50%, 0); z-index: 2;}


.page_2 .innerTab_1 .study_guide{
    position: absolute;
    top:0; right:0; z-index: 2;
}






