@charset "utf-8";

.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
.contentsList .icon_arrow{width:auto !important; margin:0 10px;}
.lineBox .bullet.number,
h2 .bullet.number{margin-top:5px;}
.buttonContainer.iframe{right:170px;}
.checkContainer h2 .toggleBlank{margin-top:8px;}
.checkContainer .contentsBox .basicSlider_tabs {width: 600px}

.page_1 .lineBox{text-align: left;}

.page_2 .img-wrap{width:100%; height: 250px; position: relative; background: url(../images/suh_p_0301_02_0007_401_1_1.png) no-repeat 50% 0 / 90%; margin: 30px auto 0;}

.page_2 .img-wrap div:nth-child(1){position:absolute; top:87px; left:150px;}
.page_2 .img-wrap div:nth-child(2){position:absolute; top:87px; left:391px;}
.page_2 .img-wrap div:nth-child(3){position:absolute; top:87px; left:630px;}
.page_2 .img-wrap div:nth-child(4){position:absolute; top:87px; left:847px;}

.page_3 .lineBox{width: 300px; margin:0 auto 30px; padding:20px}
.page_3 .img-wrap{width:250px; margin:0 auto ;}
.page_3 .img-wrap >img{width:100%; display: block; }
.page_3 .img-wrap > div{position: absolute; top:25px; width:250px; padding:0; 
    display: none; background:transparent;}
.page_3 .img-wrap > div img{width:100%;}
.page_3 .img-wrap > div.complete{display: block; z-index: 2;}
.page_3 .img-wrap > div.complete .answer{opacity: 1;}

/* page_1 */
/* page_1 */
section{
    font-size: 40px;
}
.page_4 .textAlignC{margin: 10px auto;width: 800px;}
/* page_2 */
.page_5 .bullet.number{top: 3px;}
.page_5 .toggle .bullet.number{top: 0;}
/* page_3 */
.page_6 .all-wrap{
    display: flex;
    width: 700px;
    margin: 0 auto 20px auto;
    justify-content: space-between;
}
.page_6 .lineBox {
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.page_6 .imgCon_1 {
      width:260px;
    height: 200px;
      margin: 0 auto;
}
.page_6 .img_1_1 {
    width:260px;
    height: 200px;
    background: url(../images/suh_0301_02_0007_401_3_1.png) no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 2;
}
.page_6 .qText.on .img_1_2 {
    width: 260px;
    height: 152px;
    background: url(../images/suh_0301_02_0007_401_3_1_2.png) no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 3;
}
.page_6 .qBox_1 {
    position: absolute;
    top: 70px;
    left: 157px;
      transform: translateX(-50%);
    pointer-events: none;
    z-index: 1;
}
.page_6 .qBox_1 .qBoxBg{
    padding: 0;
}
/* page_4 */
.page_7 .img_2_1 {
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    width: 350px;
    height: 350px;
    background: url(../images/suh_0301_02_0007_401_1_2_1.png) no-repeat;
    background-position: center;
    background-size: contain;
}
/* 위에서부터 시계 방향 */
.page_7 .qCon {	position: absolute;	}
.page_7 .qCon_1 { top: -35px; left: 120px; }
.page_7 .qCon_2 { top: 145px; right: -90px; }
.page_7 .qCon_3 { bottom: -20px; left: 125px; }
.page_7 .qCon_4 { top: 145px; left: -85px; }


/* page_5 */
.page_8 .img_3_1 {
    position: relative;
    width: 800px;
    height: 269px;
    background: url(../images/suh_0301_02_0007_401_1_3_1.png) no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    margin: 0 0 25px 0;
}
.page_8 .imgText { position: absolute; }
.page_8 .text_1 { top: 8px; left: 7px; }
.page_8 .text_2 { top: 8px; left: 274px; }
.page_8 .text_3 { top: 8px; left: 539px; }