.content-container > .content > .bg {
    background-image: url(../images/mm_31_6_04_03_02/img.svg);
    /* background-image: url(../images/mm_31_6_04_03_02.png); opacity: 1; */
}

.quiz-pop-select {
    top: 540px;
    left: 606px;
}

.btn-answer-part:nth-child(2) {
    left: 760px;
    top: 550px;
}