.content-container > .content > .bg {
    /* background-image: url(../images/mm_31_6_03_03_01/bg.svg); */
    /* background-image: url(../images/mm_31_6_03_03_01.png); opacity: 1; */
}

.popup-more-step > .bg {
    /* background-image: url(../images/mm_31_6_03_03_01/bg_popup_more.svg); */
}

.scroll-box-01 .scroll-bg {
	/* height: 1030px; */
	/* background-size: 1200px 1030px; */
	/* background-image: url(../images/mm_31_6_03_03_01/bg.svg); */
	/* background-image: url(../images/mm_31_6_08_07_01/guide_bg_scroll_01.png); */
	/* background-position-x: -130px; */
}

#quiz-01 .input-cont{
    /* position: absolute; */
    width: 60px;
    margin: -16px 0 0 -67px;
}

#quiz-01 .input-cont:nth-child(1){
    top: 21px;
    left: 876px;
}
#quiz-01 .input-cont:nth-child(2){
    top: 111px;
    left: 876px;
}
#quiz-01 .input-cont:nth-child(3){
    top: 161px;
    left: 1000px;
}
#quiz-01 .input-cont:nth-child(4){
    top: 251px;
    left: 1000px;
}
#quiz-01 .input-cont:nth-child(5){
    top: 371px;
    left: 876px;
}
#quiz-01 .input-cont:nth-child(6){
    top: 461px;
    left: 876px;
}
#quiz-01 .input-cont:nth-child(7){
    top: 511px;
    left: 1000px;
}
#quiz-01 .input-cont:nth-child(8){
    top: 601px;
    left: 1000px;
}
#quiz-01 .input-cont:nth-child(9){
    top: 720px;
    left: 876px;
}
#quiz-01 .input-cont:nth-child(10){
    top: 811px;
    left: 876px;
}
#quiz-01 .input-cont:nth-child(11){
    top: 861px;
    left: 1000px;
}
#quiz-01 .input-cont:nth-child(12){
    top: 951px;
    left: 1000px;
}

.btns-answer-part .btn-answer-part{
    position: absolute;
}
.btns-answer-part .btn-answer-part:nth-child(1){
    top: 10px;
    left: 875px;
}
.btns-answer-part .btn-answer-part:nth-child(2){
    top: 150px;
    left: 1000px;
}
.btns-answer-part .btn-answer-part:nth-child(3){
    top: 360px;
    left: 875px;
}
.btns-answer-part .btn-answer-part:nth-child(4){
    top: 500px;
    left: 1000px;
}
.btns-answer-part .btn-answer-part:nth-child(5){
    top: 710px;
    left: 875px;
}
.btns-answer-part .btn-answer-part:nth-child(6){
    top: 850px;
    left: 1000px;
}