#quiz-01.active .quiz-00-answer.answer-part-00 {
    left: 270px;
    top: 218px;
    visibility: visible;
}
#quiz-01.active .quiz-00-answer.answer-part-00 .ico-box-text-02:nth-child(2) {
    left: 300px;
}

.btn-answer-part:nth-child(1) {
    left: 583px;
    top: 209px;
}
.btn-answer-part:nth-child(2) {
    left: 989px;
    top: 209px;
}
