.content-container > .content > .bg {
    background-image: url(../images/mm_31_6_09_05_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}
/* 쌍둥이 문제 bg */
.popup-twins.twins-01 > .bg {
    background-image: url(../images/mm_31_6_09_05_01/bg_twins_01.svg);
}
.popup-twins.twins-02 > .bg {
    background-image: url(../images/mm_31_6_09_05_01/bg_twins_02.svg);
}



#quiz-01 .input-cont:nth-child(1){
    top: 239px;
    left: 572px;
    width: 100px;
}
#quiz-01 .input-cont:nth-child(2){
    top: 486px;
    left: 742px;
    width: 100px;
}


#twins-01-quiz-01 .input-cont:nth-child(1){
    top: 325px;
    left: 893px;
    width: 100px;
}
#twins-01-quiz-01 .input-cont:nth-child(2){
    top: 546px;
    left: 1005px;
    width: 100px;
}


#twins-02-quiz-01 .input-cont:nth-child(1){
    top: 315px;
    left: 462px;
    width: 100px;
}
#twins-02-quiz-01 .input-cont:nth-child(2){
    top: 546px;
    left: 515px;
    width: 100px;
}