.cover {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
}

.ico-info {
    left: 860px;
    top: 160px;
}

path {
    /* opacity: 1 !important;
    fill: rgba(255,0,0,0.5); */
}

.quiz-check.type-ox-01 .check-item::before {
    pointer-events: none;
}

#quiz-01 .input-cont:nth-child(1) {
    width: 60px;
    left: 218px;
    top: 493px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 60px;
    left: 218px;
    top: 582px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 60px;
    left: 469px;
    top: 493px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 60px;
    left: 469px;
    top: 582px;
}

#btn-hint-01{
    top: 180px;
    left: 370px;
    transform: scaleX(-1);
}
#btn-hint-02{
    top: 180px;
    left: 620px;
}

#quiz-02 .quiz-cont{
    position: absolute;
}

#quiz-02 .quiz-cont:nth-child(1){
    top: 535px;
    left: 332px;
}
#quiz-02 .quiz-cont:nth-child(2){
    top: 535px;
    left: 902px;
}

.quiz-check.type-ox-01 .check-item::before {
    transform: scale(0.8);
}

#quiz-03 .check-item {
    position: absolute;
    width: 145px;
    height: 143px;
}
#quiz-04 .check-item {
    position: absolute;
    width: 145px;
    height: 143px;
}
#quiz-03 .check-item:nth-child(1) {
    left: 706px;
    top: 249px;
}
#quiz-03 .check-item:nth-child(2) {
    left: 817px;
    top: 248px;
}
#quiz-03 .check-item:nth-child(3) {
    left: 817px;
    top: 327px;
}
#quiz-03 .check-item:nth-child(4) {
    left: 748px;
    top: 362px;
}
#quiz-03 .check-item:nth-child(5) {
    left: 708px;
    top: 330px;
}
#quiz-03 .check-item:nth-child(6) {
    left: 954px;
    top: 247px;
}
#quiz-03 .check-item:nth-child(7) {
    left: 1068px;
    top: 248px;
}
#quiz-03 .check-item:nth-child(8) {
    left: 1065px;
    top: 329px;
}
#quiz-03 .check-item:nth-child(9) {
    left: 1000px;
    top: 362px;
}
#quiz-03 .check-item:nth-child(10) {
    left: 958px;
    top: 329px;
}

.quiz-check.type-ox-01 .check-item:nth-child(1).active::before {
    background-image: url(../images/mm_31_6_04_05_01/img1.svg);
    width: 141px;
    height: 141px;
    left: calc(50% - 10px);
    top: calc(50% - 14px);
}
.quiz-check.type-ox-01 .check-item:nth-child(1).answered::before {
    background-image: url(../images/mm_31_6_04_05_01/img1.svg);
    width: 141px;
    height: 141px;
    left: calc(50% - 10px);
    top: calc(50% - 14px);
}
.quiz-check.type-ox-01 .check-item:nth-child(2).active::before {
    background-image: url(../images/mm_31_6_04_05_01/img2.svg);
    width: 141px;
    height: 141px;
    left: calc(50% - 14px);
    top: calc(50% - 12px);
}
.quiz-check.type-ox-01 .check-item:nth-child(2).answered::before {
    background-image: url(../images/mm_31_6_04_05_01/img2.svg);
    width: 141px;
    height: 141px;
    left: calc(50% - 13px);
    top: calc(50% - 12px);
}
.quiz-check.type-ox-01 .check-item:nth-child(3).active::before {
    background-image: url(../images/mm_31_6_04_05_01/img3.svg);
    width: 141px;
    height: 141px;
    left: calc(50% - 7px);
    top: calc(50% - 6px);
    transform: scale(0.88);
}
.quiz-check.type-ox-01 .check-item:nth-child(3).answered::before {
    background-image: url(../images/mm_31_6_04_05_01/img3.svg);
    width: 141px;
    height: 141px;
    left: calc(50% - 7px);
    top: calc(50% - 6px);
    transform: scale(0.88);
}
.quiz-check.type-ox-01 .check-item:nth-child(4).active::before {
    background-image: url(../images/mm_31_6_04_05_01/img4.svg);
    width: 141px;
    height: 141px;
    transform: scale(0.93);
    left: calc(50% - 2px);
    top: calc(50% - 2px);
}
.quiz-check.type-ox-01 .check-item:nth-child(4).answered::before {
    background-image: url(../images/mm_31_6_04_05_01/img4.svg);
    width: 141px;
    height: 141px;
    transform: scale(0.9);
    left: calc(50% - 2px);
    top: calc(50% - 3px);
}
.quiz-check.type-ox-01 .check-item:nth-child(5).active::before {
    background-image: url(../images/mm_31_6_04_05_01/img5.svg);
    width: 141px;
    height: 141px;
    transform: scale(0.88);
    left: calc(50% - 8px);
    top: calc(50% - 9px);
}
.quiz-check.type-ox-01 .check-item:nth-child(5).answered::before {
    background-image: url(../images/mm_31_6_04_05_01/img5.svg);
    width: 141px;
    height: 141px;
    transform: scale(0.88);
    left: calc(50% - 8px);
    top: calc(50% - 9px);
}
.quiz-check.type-ox-01 .check-item:nth-child(6).active::before {
    background-image: url(../images/mm_31_6_04_05_01/img1.svg);
    width: 141px;
    height: 141px;
    left: calc(50% - 10px);
    top: calc(50% - 14px);
}
.quiz-check.type-ox-01 .check-item:nth-child(6).answered::before {
    background-image: url(../images/mm_31_6_04_05_01/img1.svg);
    width: 141px;
    height: 141px;
    left: calc(50% - 10px);
    top: calc(50% - 14px);
}
.quiz-check.type-ox-01 .check-item:nth-child(7).active::before {
    background-image: url(../images/mm_31_6_04_05_01/img2.svg);
    width: 141px;
    height: 141px;
    left: calc(50% - 15px);
    top: calc(50% - 12px);
}
.quiz-check.type-ox-01 .check-item:nth-child(7).answered::before {
    background-image: url(../images/mm_31_6_04_05_01/img2.svg);
    width: 141px;
    height: 141px;
    left: calc(50% - 14px);
    top: calc(50% - 12px);
}
.quiz-check.type-ox-01 .check-item:nth-child(8).active::before {
    background-image: url(../images/mm_31_6_04_05_01/img3.svg);
    width: 141px;
    height: 141px;
    left: calc(50% - 4px);
    top: calc(50% - 8px);
    transform: scale(0.88);
}
.quiz-check.type-ox-01 .check-item:nth-child(8).answered::before {
    background-image: url(../images/mm_31_6_04_05_01/img3.svg);
    width: 141px;
    height: 141px;
    left: calc(50% - 6px);
    top: calc(50% - 6px);
    transform: scale(0.9);
}
.quiz-check.type-ox-01 .check-item:nth-child(9).active::before {
    background-image: url(../images/mm_31_6_04_05_01/img4.svg);
    width: 141px;
    height: 141px;
    transform: scale(0.94);
    left: calc(50% - 4px);
    top: calc(50% - 1px);
}
.quiz-check.type-ox-01 .check-item:nth-child(9).answered::before {
    background-image: url(../images/mm_31_6_04_05_01/img4.svg);
    width: 141px;
    height: 141px;
    transform: scale(0.92);
    left: calc(50% - 5px);
    top: calc(50% - 2px);
}
.quiz-check.type-ox-01 .check-item:nth-child(10).active::before {
    background-image: url(../images/mm_31_6_04_05_01/img5.svg);
    width: 141px;
    height: 141px;
    transform: scale(0.88);
    left: calc(50% - 8px);
    top: calc(50% - 9px);
}
.quiz-check.type-ox-01 .check-item:nth-child(10).answered::before {
    background-image: url(../images/mm_31_6_04_05_01/img5.svg);
    width: 141px;
    height: 141px;
    transform: scale(0.88);
    left: calc(50% - 8px);
    top: calc(50% - 9px);
}

#quiz-01 .check-item:nth-child(1) > svg {
    margin: -138px 0 0 -138px;
}
#quiz-01 .check-item:nth-child(2) > svg {
    margin: -48px 0 0 -130px;
}
#quiz-01 .check-item:nth-child(3) > svg {
    margin: -98px 0 0 -34px;
}
#quiz-01 .check-item:nth-child(4) > svg {
    margin: -55px 0 0 -55px;
}
#quiz-01 .check-item:nth-child(5) > svg {
    margin: -40px 0 0 -54px;
}
#quiz-01 .check-item:nth-child(6) > svg {
    margin: -92px 0 0 -50px;
}
#quiz-01 .check-item:nth-child(7) > svg {
    margin: -50px 0 0 -50px;
}
#quiz-01 .check-item:nth-child(8) > svg {
    margin: -50px 0 0 -50px;
}
#quiz-01 .check-item:nth-child(9) > svg {
    margin: -50px 0 0 -50px;
}
#quiz-01 .check-item:nth-child(10) > svg {
    margin: -50px 0 0 -50px;
}

.btn-answer-part{
    position: absolute;
}
.btn-answer-part:nth-child(1){
    top: 492px;
    left: 296px;
}
.btn-answer-part:nth-child(2){
    top: 492px;
    left: 546px;
}
.btn-answer-part:nth-child(3){
    top: 545px;
    left: 1116px;
}
.btn-answer-part:nth-child(4){
    top: 242px;
    left: 1126px;
}
.btn-answer-part:nth-child(5){
    top: 494px;
    left: 396px;
}


#quiz-03 .quiz-03-answer {
    position: absolute;
    left: 680px;
    top: 420px;
}

#quiz-03 .quiz-04-answer {
    position: absolute;
    left: 930px;
    top: 420px;
}

.quiz-pop-select {
    position: absolute;
    left: 10px;
    top: 0;
}