.content-container > .content > .bg {
    background-position-y: -8px;
    background-image: url(../images/mm_31_6_07_05_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

.ico-hint-01 {
    top: 151px;
    left: 1017px;
}
.ico-hint-01.chara::before {
    height: 176px !important;
}


#quiz-01 .input-cont:nth-child(1) {
    width: 200px;
    left: 103px;
    top: 510px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 308px;
    left: 305px;
    top: 510px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 188px;
    left: 615px;
    top: 510px;
}

#quiz-01 .input-cont:nth-child(4) {
    width: 200px;
    left: 103px;
    top: 590px;
}
#quiz-01 .input-cont:nth-child(5) {
    width: 308px;
    left: 305px;
    top: 590px;
}
#quiz-01 .input-cont:nth-child(6) {
    width: 188px;
    left: 615px;
    top: 590px;
}

#quiz-01 .input-cont:nth-child(7) {
    width: 188px;
    left: 805px;
    top: 510px;
}
#quiz-01 .input-cont:nth-child(8) {
    width: 188px;
    left: 805px;
    top: 590px;
}
#quiz-01 .input-cont:nth-child(9) {
    width: 221px;
    left: 996px;
    top: 510px;
}
#quiz-01 .input-cont:nth-child(10) {
    width: 221px;
    left: 996px;
    top: 590px;
}




#quiz-01 .input-cont:nth-child(1) .bb-01 {
    position: absolute;
    left: -57px;
    top: 10px;
}
#quiz-01 .input-cont:nth-child(4) .bb-01 {
    position: absolute;
    left: -57px;
    top: 10px;
}