.content-container > .content > .bg {
    /* background-image: url(../images/mm_31_6_08_04_01/bg.svg); */
    /* background-image: url(../images/01.png); opacity: 1; */
}

.ico-info {
    top: 287px;
    left: 960px;
}

#quiz-01 .check-list {
    display: flex;
    position: absolute;
    left: 227px;
    top: 364px;
}
#quiz-01 .check-list .check-item {
    position: relative;
    width: 30px;
    height: 30px;
}
#quiz-01 .check-item.ans,
#quiz-01 .check-item.ans.active.answered,
#quiz-01 .check-item.active {
    background-color:#E2C7FC;
}
#quiz-01 .check-item.active.answered {
    background-color: transparent;   
}
#quiz-02 .check-list {
    display: flex;
    position: absolute;
    left: 227px;
    top: 494px;
}
#quiz-02 .check-list .check-item {
    position: relative;
    width: 30px;
    height: 30px;
}
#quiz-02 .check-item.ans,
#quiz-02 .check-item.ans.active.answered,
#quiz-02 .check-item.active {
    background-color:#83D2FF;
}
#quiz-02 .check-item.active.answered {
    background-color: transparent;   
}

.img-box{
    z-index: 1;
    pointer-events: none;
}


.btn-answer-part:nth-child(1) {
    left: 1200px;
    top: 358px;
}
.btn-answer-part:nth-child(2) {
    left: 1200px;
    top: 483px;
}
