.content-container > .content > .bg {
    background-image: url(../images/mm_31_6_03_05_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

.app-drawing-tool .tool-container {
	top: 160px;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 60px;
    left: 368px;
    top: 488px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 60px;
    left: 368px;
    top: 578px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 60px;
    left: 972px;
    top: 488px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 60px;
    left: 972px;
    top: 578px;
}

.btn-answer-part{
    position: absolute;
}
.btn-answer-part:nth-child(1){
    top: 486px;
    left: 433px;
}
.btn-answer-part:nth-child(2){
    top: 486px;
    left: 1039px;
}
.btn-answer-part:nth-child(3){
    top: 246px;
    left: 419px;
}
.btn-answer-part:nth-child(4){
    top: 246px;
    left: 1159px;
}

#quiz-02 .answer{
    position: absolute;
    left: 0;
    top: 0;
}

#quiz-03 .answer {
    position: absolute;
    left: 0;
    top: 0;
}

.quiz-02-answer .ico-box-text-02 {
    position: absolute;
    left: 180px;
    top: 240px;
}

.quiz-03-answer .ico-box-text-02 {
    position: absolute;
    left: 670px;
    top: 240px;
}
