.info-box.ico-info{
    position: absolute;
    top: 165px;
    right: 40px;
}

#quiz-01 .check-list:nth-child(1) {
    display: flex;
    position: absolute;
    left: 237px;
    top: 261px;
}
#quiz-01 .check-list:nth-child(2) {
    display: flex;
    position: absolute;
    left: 237px;
    top: 401px;
}
#quiz-01 .check-list:nth-child(1) .check-item {
    position: relative;
    width: 130px;
    height: 75px;
}
#quiz-01 .check-list:nth-child(2) .check-item {
    position: relative;
    width: 182px;
    height: 75px;
}
#quiz-01 .check-item.ans,
#quiz-01 .check-item.ans.active.answered,
#quiz-01 .check-item.active {
    background-color: #ECE5FA;
}
#quiz-01 .check-item.active.answered {
    background-color: transparent;   
}



/* 체크 O 퀴즈 */
.quiz-check.type-ox-01 .check-item::before {
    transform: scale(0.9);
}
#quiz-02 .check-item {
    position: absolute;
    width: 150px;
    height: 75px;
    margin: 0 0 0 0;
    /* background-color: rgba(255, 0, 0, 0.5); */
}
#quiz-02 .check-item:nth-child(1) {
    width: 150px;
    left: 589px;
    top: 551px;
}
#quiz-02 .check-item:nth-child(2) {
    width: 190px;
    left: 754px;
    top: 551px;
}

#quiz-01 .quiz-00-answer {
    position: absolute;
    left: 248px;
    top: 206px;
}

#quiz-01 .quiz-01-answer {
    position: absolute;
    left: 248px;
    top: 350px;
}
