/* 디자인 추가 요소 */
.title-h1 .ico-title-h1.num-01::before {
    background: #D75C19 !important; 
}

.img01{
    visibility: hidden;
}

.content-con.active .img01, .content-con.answered .img01{
    visibility: visible;
}


.app-drawing-tool .tool-container {
    top: 160px;
}

.btn-answer-part:nth-child(1) {
    left: 1172px;
    top: 56px;
}

#quiz-01 .quiz-00-answer.answer-part-00 {
    visibility: hidden;
}

#quiz-01.active .quiz-00-answer.answer-part-00 {
    position: absolute;
    left: 380px;
    top: 28px;
    visibility: visible;
}