.content-container > .content > .bg {
    background-image: url(../images/mm_31_6_08_05_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

#quiz-01 .input-cont {
    margin: 10px 0 0 30px;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 243px;
    left: 52px;
    top: 412px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 111px;
    left: 329px;
    top: 412px;
}

#quiz-01 .input-cont:nth-child(3) {
    width: 243px;
    left: 52px;
    top: 492px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 111px;
    left: 329px;
    top: 492px;
}

#quiz-01 .input-cont:nth-child(5) {
    width: 243px;
    left: 712px;
    top: 412px;
}
#quiz-01 .input-cont:nth-child(6) {
    width: 111px;
    left: 990px;
    top: 412px;
}

#quiz-01 .input-cont:nth-child(7) {
    width: 243px;
    left: 712px;
    top: 492px;
}
#quiz-01 .input-cont:nth-child(8) {
    width: 111px;
    left: 990px;
    top: 492px;
}

#quiz-02 .quiz-cont {
    position: absolute;
    top: 420px;
    left: 615px;
}

#quiz-03 .quiz-cont {
    position: absolute;
    top: 500px;
    left: 615px;
}

.quiz-pop-select.type-01 .pop-self.active {
    z-index: 1;
}

.check-list{
    position: absolute;
}
.check-list:nth-child(1){
    top: 260px;
    left: 627px;
}
.check-list:nth-child(2){
    top: 340px;
    left: 627px;
}

.inner-text- .bb-01 {
    position: absolute;
    left: 7px;
    top: 10px;
}


.btn-answer-part:nth-child(1) {
    left: 1219px;
    top: 429px;
}

.btn-answer-part:nth-child(2) {
    left: 1219px;
    top: 507px;
}
