/* select 퀴즈 */
#quiz-01 {
    left: 0;
    top: 0;
}
#quiz-01 .quiz-cont {
    position: absolute;
}
#quiz-01 .quiz-cont:nth-child(1) {
    left: 277px;
    top: 376px;
}
#quiz-01 .quiz-cont:nth-child(2) {
    left: 627px;
    top: 376px;
}
#quiz-01 .quiz-cont:nth-child(3) {
    left: 977px;
    top: 376px;
}

.btn-answer-part:nth-child(1) {
    left: 425px;
    top: 387px;
}
.btn-answer-part:nth-child(2) {
    left: 775px;
    top: 387px;
}
.btn-answer-part:nth-child(3) {
    left: 1125px;
    top: 387px;
}