/* quiz-01 */
#quiz-01 .line-item {
    /* 포인트 위치 조절(fla 파일 위치와 격차 조절) */
    margin: -20px -18px;
}
#quiz-01 .start:nth-child(1) {
    left: 332px;
    top: 255px;
}
#quiz-01 .start:nth-child(2) {
    left: 332px;
    top: 405px;
}
#quiz-01 .start:nth-child(3) {
    left: 332px;
    top: 555px;
}

#quiz-01 .end:nth-child(1) {
    left: 524px;
    top: 255px;
}
#quiz-01 .end:nth-child(2) {
    left: 524px;
    top: 405px;
}
#quiz-01 .end:nth-child(3) {
    left: 524px;
    top: 555px;
}
/* 2 */
#quiz-01 .start:nth-child(4) {
    left: 694px;
    top: 255px;
}
#quiz-01 .start:nth-child(5) {
    left: 694px;
    top: 405px;
}
#quiz-01 .start:nth-child(6) {
    left: 694px;
    top: 555px;
}

#quiz-01 .end:nth-child(4) {
    left: 886px;
    top: 255px;
}
#quiz-01 .end:nth-child(5) {
    left: 886px;
    top: 405px;
}
#quiz-01 .end:nth-child(6) {
    left: 886px;
    top: 555px;
}
