.content-container > .content > .bg {
    /* background-image: url(../images/mm_31_6_08_03_01/bg.svg); */
    /* background-image: url(../images/mm_31_6_08_03_01.png); opacity: 1; */
}

.ico-hint-01 {
    top: 319px;
    left: 770px;
}

.img-box.one{
    margin-left: -90px;
    z-index: 1;
    pointer-events: none;
}


#quiz-01 .check-list {
    display: flex;
    position: absolute;
    left: 229px;
    top: 66px;
}
#quiz-02 .check-list {
    display: flex;
    position: absolute;
    left: 229px;
    top: 218px;
}
#quiz-01 .check-list .check-item {
    position: relative;
    width: 81px;
    height: 31px;
}
#quiz-02 .check-list .check-item {
    position: relative;
    width: 81px;
    height: 31px;
}
#quiz-01 .check-item.ans,
#quiz-01 .check-item.ans.active.answered,
#quiz-01 .check-item.active {
    background-color: #FAD354;
}
#quiz-02 .check-list .check-item.ans,
#quiz-02 .check-list .check-item.ans.active.answered,
#quiz-02 .check-list .check-item.active {
    background-color:#FFAB77;
}
#quiz-01 .check-item.active.answered {
    background-color: transparent;   
}
#quiz-02 .check-item.active.answered {
    background-color: transparent;   
}

.frog01{
    position: absolute;
    top: 50px;
    left: 180px;
    z-index: 2;
    visibility: hidden;
}
.frog01.a0{
    visibility: visible;
    left: 227px;
}
.frog01.a1{
    visibility: visible;
    left: 309px;
}
.frog01.a2{
    visibility: visible;
    left: 390px;
}
.frog01.a3{
    visibility: visible;
    left: 470px;
}
.frog01.a4{
    visibility: visible;
    left: 550px;
}
.frog01.a5{
    visibility: visible;
    left: 630px;
}
.frog01.a6{
    visibility: visible;
    left: 710px;
}
.frog01.a7{
    visibility: visible;
    left: 790px;
}
.frog01.a8{
    visibility: visible;
    left: 870px;
}
.frog01.a9{
    visibility: visible;
    left: 950px;
}


.frog02{
    position: absolute;
    top: 200px;
    left: 180px;
    z-index: 2;
    visibility: hidden;
}
.frog02.a0{
    visibility: visible;
    left: 230px;
}
.frog02.a1{
    visibility: visible;
    left: 310px;
}
.frog02.a2{
    visibility: visible;
    left: 390px;
}
.frog02.a3{
    visibility: visible;
    left: 470px;
}
.frog02.a4{
    visibility: visible;
    left: 550px;
}
.frog02.a5{
    visibility: visible;
    left: 630px;
}
.frog02.a6{
    visibility: visible;
    left: 710px;
}
.frog02.a7{
    visibility: visible;
    left: 790px;
}
.frog02.a8{
    visibility: visible;
    left: 870px;
}
.frog02.a9{
    visibility: visible;
    left: 950px;
}

#quiz-03 .input-cont{
    /* position: absolute; */
    width: 100px;
}

/* 입력 퀴즈 */
#quiz-03 .input-cont:nth-child(1) {
    left: 494px;
    top: 389px;
    z-index: 1;
}
#quiz-03 .input-cont:nth-child(2) {
    z-index: 1;
    left: 494px;
    top: 479px;
}

.btn-answer-part{
    position: absolute;
}

.btn-answer-part:nth-child(1){
    top: 60px;
    left: 1080px;
}
.btn-answer-part:nth-child(2){
    top: 210px;
    left: 1080px;
}
.btn-answer-part:nth-child(3){
    top: 355px;
    left: 570px;
}
.btn-answer-part:nth-child(4){
    top: 448px;
    left: 572px;
}
.btn-answer-part:nth-child(5){
    top: 705px;
    left: 745px;
}

#quiz-04 .quiz-cont{
    position: absolute;
    top: 693px;
    left: 562px;
}


.info-box {
    position: absolute;
    left: 930px;
    top: 0px;
}