.content-container > .content > .bg {
    background-image: url(../images/mm_31_6_06_05_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 입력 퀴즈 */
#quiz-01 .input-cont {
    width: 60px;
    height: 60px;
    z-index: 1;
}
#quiz-01 .input-cont:nth-child(1) {
    left: 264px;
    top: 510px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 264px;
    top: 600px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 100px;
    left: 424px;
    top: 557px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 772px;
    top: 510px;
}
#quiz-01 .input-cont:nth-child(5) {
    left: 772px;
    top: 600px;
}
#quiz-01 .input-cont:nth-child(6) {
    width: 100px;
    left: 930px;
    top: 557px;
}

.btn-answer-part{
    z-index: 1;
}
.btn-answer-part:nth-child(1) {
    left: 340px;
    top: 511px;
}
.btn-answer-part:nth-child(2) {
    left: 520px;
    top: 511px;
}
.btn-answer-part:nth-child(3) {
    left: 845px;
    top: 511px;
}
.btn-answer-part:nth-child(4) {
    left: 1025px;
    top: 511px;
}