/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 80px;
    left: 393px;
    top: 322px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 80px;
    left: 724px;
    top: 322px;
}

/* 체크 O 퀴즈 */
.quiz-check.type-ox-01 .check-item::before {
    transform: scale(0.9);
}
#quiz-02 .check-item {
    position: absolute;
    width: 147px;
    height: 75px;
    margin: 0 0 0 0;

    /* background-color: rgba(255, 0, 0, 0.5); */
}
#quiz-02 .check-item:nth-child(1) {
    width: 147px;
    left: 460px;
    top: 404px;
}
#quiz-02 .check-item:nth-child(2) {
    width: 177px;
    left: 621px;
    top: 404px;
}

.btn-answer-part:nth-child(3) {
    left: 830px;
    top: 380px;
}