.content-container > .content > .bg {
    background-image: url(../images/mm_31_6_01_04_01/bg.png);
    /* background-image: url(../images/mm_31_6_01_04_01.png); opacity: 1; */
}
.app-drawing-tool .tool-container {
    top: 225px;
    right: 1020px;
}

#btn-hint-01{
    top: 400px;
    left: 100px;
}