

/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: -175px 0 0 -40px;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 60px;
    left: 269px;
    top: 629px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 60px;
    left: 637px;
    top: 629px;
}

/* select 퀴즈 */
#quiz-02 {
    top: 451px;
    left: 873px;
}

/* 체크 O 퀴즈 */
.quiz-check.type-ox-01 .check-item::before {
    transform: scale(0.9);
}
#quiz-03 .check-item {
    position: absolute;
    width: 127px;
    height: 75px;
    margin: 0 0 0 0;
    /* background-color: rgba(255, 0, 0, 0.5); */
}
#quiz-03 .check-item:nth-child(1) {
    left: 77px;
    top: 557px;
}
#quiz-03 .check-item:nth-child(2) {
    left: 244px;
    top: 557px;
}
#quiz-03 .check-item:nth-child(3) {
    left: 946px;
    top: 537px;
}

.btn-answer-part:nth-child(3) {
    left: 976px;
    top: 420px;
}
.btn-answer-part:nth-child(4) {
    left: 359px;
    top: 533px;
}