.content-container > .content > .bg {
    /* background-image: url(../images/mm_31_6_02_03_02/bg.png); */
    /* background-image: url(../images/mm_31_6_02_03_02.png); opacity: 1; */
}

#btn-hint-01{
    position: absolute;
    top: 180px;
    left: 800px;
}

#btn-hint-02{
    position: absolute;
    top: 680px;
    left: 800px;
}

.bullet-text.has-fraction::before {
    top: 7px;
}

.bullet-text.has-fraction.fraction-cus::before {
    top: 31px;
}