.content-container > .content > .bg {
    background-image: url(../images/mm_31_6_09_01_01/bg1.png);
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 쌍둥이 문제 bg */
.popup-twins.twins-01 > .bg {
    background-image: url(../images/mm_31_6_09_01_01/bg_twins_01.png);
}
.popup-twins.twins-02 > .bg {
    background-image: url(../images/mm_31_6_09_01_01/bg_twins_02.png);
}


.ico-o-01 {
    margin: 14px 5px;
}

/*오 엑스 체크문제*/
#quiz-01 .check-item {
    position: absolute;
    /* background-color: rgba(255,0,0,0.5); */
}
#quiz-01 .check-item:nth-child(1) {
    left: 113px;
    top: 307px;
    width: 194px;
    height: 202px;
}
#quiz-01 .check-item:nth-child(2) {
    left: 376px;
    top: 328px;
    width: 228px;
    height: 163px;
}
#quiz-01 .check-item:nth-child(3) {
    left: 675px;
    top: 327px;
    width: 229px;
    height: 164px;
}
#quiz-01 .check-item:nth-child(4) {
    left: 972px;
    top: 306px;
    width: 194px;
    height: 203px;
}

/* 입력 퀴즈 - 쌍둥이 문제 1 */
/*오 엑스 체크문제*/
#twins-01-quiz-01 .check-item {
    position: absolute;
    /* background-color: rgba(255,0,0,0.5); */
}
#twins-01-quiz-01 .check-item:nth-child(1) {
    left: 79px;
    top: 327px;
    width: 253px;
    height: 223px;
}
#twins-01-quiz-01 .check-item:nth-child(2) {
    left: 376px;
    top: 330px;
    width: 220px;
    height: 221px;
}
#twins-01-quiz-01 .check-item:nth-child(3) {
    left: 641px;
    top: 365px;
    width: 291px;
    height: 184px;
}
#twins-01-quiz-01 .check-item:nth-child(4) {
    left: 978px;
    top: 333px;
    width: 224px;
    height: 227px;
}

/* 입력 퀴즈 - 쌍둥이 문제 2 */
/*오 엑스 체크문제*/
#twins-02-quiz-01 .check-item {
    position: absolute;
    /* background-color: rgba(255,0,0,0.5); */
}
#twins-02-quiz-01 .check-item:nth-child(1) {
    left: 77px;
    top: 329px;
    width: 255px;
    height: 225px;
}
#twins-02-quiz-01 .check-item:nth-child(2) {
    left: 356px;
    top: 368px;
    width: 358px;
    height: 180px;
}
#twins-02-quiz-01 .check-item:nth-child(3) {
    left: 739px;
    top: 330px;
    width: 218px;
    height: 222px;
}
#twins-02-quiz-01 .check-item:nth-child(4) {
    left: 984px;
    top: 330px;
    width: 218px;
    height: 219px;
}
