.content-container > .content > .bg {
    /* background-image: url(../images/mm_31_6_09_06_01/bg.svg); */
    /* background-image: url(../images/01.png); opacity: 0.5; */
}

.app-mind-map .map.title {
    left: 483px;
    top: 318px;
}
.app-mind-map .map-01 {
    left: 210px;
    top: 103px;
}
.app-mind-map .map-02 {
    left: 622px;
    top: 79px;
}
.app-mind-map .map-03 {
    left: 882px;
    top: 175px;
}
.app-mind-map .map-04 {
    left: 916px;
    top: 363px;
}
.app-mind-map .map-05 {
    left: 902px;
    top: 515px;
}
.app-mind-map .map-06 {
    left: 457px;
    top: 583px;
}
.app-mind-map .map-07 {
    left: 28px;
    top: 479px;
}
.app-mind-map .map-08 {
    left: 16px;
    top: 289px;
}