.content-container > .content > .bg {
	background-image: url(../images/ms_31_6_01_04_01/bg_01.svg);
	/* background-image: url(../images/00.png); opacity: 0.7; */
}

.popup > .bg {
	background-image: url(../images/ms_31_6_01_04_01/bg_02.svg);
	/* background-image: url(../images/00.png); opacity: 0.7; */
}

.popup.more-02 > .bg {
	background-image: url(../images/ms_31_6_01_04_01/bg_03.svg);
	/* background-image: url(../images/00.png); opacity: 0.7; */
}


.popup .app-drawing-tool .tool-container {
    top: 160px;
}

.popup.more-02 .app-drawing-tool .tool-container {
    top: 240px;
}

#quiz-content-01 .btns-answer-part .btn-answer-part:nth-child(1) {
	left: 550px;
	top: 185px;
}

#quiz-content-01 .btns-answer-part .btn-answer-part:nth-child(2) {
	left: 1090px;
	top: 185px;
}

#quiz-content-01 .btns-answer-part .btn-answer-part:nth-child(3) {
	left: 550px;
	top: 420px;
}

#quiz-content-01 .btns-answer-part .btn-answer-part:nth-child(4) {
	left: 1090px;
	top: 420px;
}

#quiz-content-02 .btns-answer-part .btn-answer-part:nth-child(1) {
	left: 550px;
	top: 260px;
}

#quiz-content-02 .btns-answer-part .btn-answer-part:nth-child(2) {
	left: 1090px;
	top: 260px;
}

#quiz-content-02 .btns-answer-part .btn-answer-part:nth-child(3) {
	left: 550px;
	top: 465px;
}

#quiz-content-02 .btns-answer-part .btn-answer-part:nth-child(4) {
	left: 1090px;
	top: 465px;
}

#quiz-02 .answer img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
#quiz-03 .answer img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
#quiz-04 .answer img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

#quiz-content-02 .app-angle-tool .tool-container {
	/* top: 186px; */
	/* right: 135px; */
}
