.content-container > .content > .bg {
	/* background-image: url('../images/ms_31_6_03_05_01/bg.png'); */
}
.popup-more-one .scroll-bg {
	/* background-image: url('../images/ms_31_6_03_05_01/bg_more.png'); */
	background-size: 100%;
}

.quiz-01-answer {
	position: absolute;
	top: 0;
	left: 0;
	width: 1280px;
	height: 720px;
	pointer-events: none;
}

#quiz-content-01 .tool-container {
	top: 165px;
}

#quiz-03 .input-cont {
	width: 80px;
}

#quiz-03 .input-cont:nth-child(1) {
	left: 394px;
	top: 496px;
}

#quiz-03 .input-cont:nth-child(2) {
	left: 394px;
	top: 576px;
}

#quiz-03 .input-cont:nth-child(3) {
	left: 776px;
	top: 496px;
}

#quiz-03 .input-cont:nth-child(4) {
	left: 776px;
	top: 576px;
}

#quiz-content-01 .btn-answer-part:nth-child(1) {
	left: 469px;
	top: 240px;
}

#quiz-content-01 .btn-answer-part:nth-child(2) {
	left: 882px;
	top: 240px;
}

#quiz-content-01 .btn-answer-part:nth-child(3) {
	left: 480px;
	top: 484px;
}
#quiz-content-01 .btn-answer-part:nth-child(4) {
	left: 863px;
	top: 484px;
}

.quiz-03-answer {
	position: absolute;
	top: 0;
	left: 0;
	width: 1280px;
	height: 720px;
	pointer-events: none;
}

#quiz-content-02 .tool-container {
	top: 245px;
}

#quiz-06 .input-cont {
	width: 80px;
}

#quiz-06 .input-cont:nth-child(1) {
	left: 288px;
	top: 343px;
}

#quiz-06 .input-cont:nth-child(2) {
	left: 288px;
	top: 423px;
}

#quiz-06 .input-cont:nth-child(3) {
	left: 839px;
	top: 343px;
}

#quiz-06 .input-cont:nth-child(4) {
	left: 839px;
	top: 423px;
}

#quiz-content-02 .btn-answer-part:nth-child(1) {
	left: 528px;
	top: 45px;
}
#quiz-content-02 .btn-answer-part:nth-child(2) {
	left: 1074px;
	top: 45px;
}

#quiz-content-02 .btn-answer-part:nth-child(3) {
	left: 380px;
	top: 334px;
}
#quiz-content-02 .btn-answer-part:nth-child(4) {
	left: 930px;
	top: 334px;
}


.popup-more-one .app-drawing-tool .tool-container {
    top: 240px;
}



#quiz-04.quiz-check.image-answer {
    position: absolute;
    left: 31px;
    top: 61px;
}
#quiz-05.quiz-check.image-answer {
    position: absolute;
    left: 578px;
    top: 61px;
}