@charset "utf-8";
section  {
  padding: 20px 50px;
}
.list.dot {}
.list.dot > li {
  display: flex;
  justify-content: space-between;
}
.list.dot > li > div:nth-child(1){
  flex-shrink: 0;
  margin-right: 10px;
}
.list.dot > li > div:nth-child(2){
  width: 100%;
}
.list.dot > li figure {
  flex-shrink: 0;
  align-self: center;
  width: 300px;
  margin-left: 70px;
}
.list.dot > li figure img {
  width: 100%;
  vertical-align: top;
  background-color: #fff;
  padding: 26px 10px;
  border-radius: 10px;
  box-sizing: border-box;
}
.list.dot .toggleObj {
  top: 0;
  left: 28px;
  width: 96px;
  cursor: pointer;
}
.list.dot .toggleObj[data-toggle-obj="2"] {
  width: 140px;
}