
.list.dot {
  margin-bottom: 0.5em;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.colorBox {
  /* width: 1090px; */
  height: 190px;
}
.colorBox:after {
  background-size: auto 190px;
  background-image: url(../images/2_1/2_1_7_01.svg);
}

/* toggle */
.list.dot > li .toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 792px;
  width: 86px;
}
.list.dot > li .toggleObj[data-toggle-obj="2"] {
  top: 0;
  left: 690px;
  width: 184px;
}
.list.dot > li .toggleObj[data-toggle-obj="3"] {
  top: 0;
  left: 1004px;
  width: 184px;
}
