
ul.list.dot > li {
  display: flex;
  margin-bottom: 40px;
}
ul.list.dot > li > p {
  margin-right: 30px;
}

ul.list.dot > li > .colorBox {
  width: 35%;
}

.image_1:after {
  background-size: auto 150px;
  background-image: url(../images/2_1/2_1_6_01.svg);
}
.image_2:after {
  background-size: auto 150px;
  background-image: url(../images/2_1/2_1_6_02.svg);
}

/* toggle */
.list.dot > li .toggleObj[data-toggle-obj="1"] {
  top: 66px; 
  left: 37px;
  width: 130px;
}
.list.dot > li .toggleObj[data-toggle-obj="2"] {
  top: 66px;
  left: 220px;
  width: 226px;
}
.list.dot > li .toggleObj[data-toggle-obj="3"] {
  top: 66px;
  left: 220px;
  width: 226px;
}
