
.promise .contentsArea > section {
  /* padding-top: 15px; */
  /* padding-bottom: 0; */
}
ul.list > li {
  margin-bottom: 30px;
}

.promise .colorBox {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 506px;
  height: 380px;
}
.colorBox:after {
  background-size: auto 340px;
  background-image: url(../images/2_2/2_2_4_01.svg);
}

/* toggle */
.list.dot > li .toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 1004px;
  width: 60px;
}
.list.dot > li .toggleObj[data-toggle-obj="2"] {
  top: 0;
  left: 276px;
  width: 184px;
}
.list.dot > li .toggleObj[data-toggle-obj="3"] {
  top: 66px;
  left: 34px;
  width: 184px;
}
.list.dot > li .toggleObj[data-toggle-obj="4"] {
  top: 132px;
  left: 132px;
  width: 132px;
}
.list.dot > li .toggleObj[data-toggle-obj="5"] {
  top: 66px;
  left: 126px;
  width: 54px;
}
.list.dot > li .toggleObj[data-toggle-obj="6"] {
  top: 132px;
  left: 38px;
  width: 138px;
}
.list.dot > li .toggleObj[data-toggle-obj="7"] {
  top: 132px;
  left: 232px;
  width: 138px;
}
