@charset "utf-8";
.actTitleIcon {
  display: inline-block;
  position: relative;
  top: -5px;
  left: 0;
  width: 39px;
  height: 40px;
  color: #FFF;
  text-align: center;
  font-size: 0.7em;
  font-family: NSquareREB;
  box-sizing: border-box;
  background: url(../../include/math/images/act/act_icon.svg) calc(-40px * (5 - 4)) 0/auto 100% no-repeat;
}
.contentsArea > h1 {
  letter-spacing: -4px;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.flexCenter > img {
  height: 350px;
}