
section {
  display: flex;
  flex-direction: column;
}

.contentImage {
  height: 360px;
  /* margin-bottom: 10px; */
  margin-top: -20px;
}
.basicSlider {
  flex: 0 1 auto;
}
.inputQuizContainer {
  padding-left: 40px;
  margin-top: 10px;
  box-sizing: border-box;
}