
.basicSlider_slides > li {
  position: relative;
}
.list.dot {
  margin: 10px 0;
}
.bg {
  width: 100%;
  height: 203px;
  background: url(../images/2_6/2_6_3_02.svg) center / contain no-repeat;
}
.quizContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.oxObj {
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: 1px solid tomato; */
  /* pointer-events: none; */
}
.oxObj[data-ox-obj] {
  pointer-events: auto;
}
.oxObj .icon {
  opacity: 0;
  width: 100%;
  height: 100%;
  max-width: 70px;
  max-height: 70px;
  pointer-events: none;
}
.rightAngle {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-color: #d33b93;
  border-width: 4px;
}
.rightAngle.on {
  opacity: 1;
  visibility: visible;
}
.oxObj .rightAngle {
  top: 26px;
  left: 27px;
}
.rightAngle.top.left {
  border-top-style: solid;
  border-left-style: solid;
}
.rightAngle.top.right {
  border-top-style: solid;
  border-right-style: solid;
}
.rightAngle.bottom.left {
  border-bottom-style: solid;
  border-left-style: solid;
}
.rightAngle.bottom.right {
  border-bottom-style: solid;
  border-right-style: solid;
}
.rightAngle.rotate {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* page_1 */
.page_1 .bg,
.page_1 .figure {
  width: 100%;
  height: 390px;
}
.page_1 .bg:after {
  content: none;
}
.page_1 .figure {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/2_6/2_6_3_02.svg) center / contain no-repeat;
  pointer-events: none;
}
.page_1 .obj_o_1 {
  top: 22px;
  left: 434px;
}
.page_1 .obj_o_2 {
  top: 22px;
  left: 580px;
}
.page_1 .obj_o_3 {
  top: 168px;
  left: 434px;
}
.page_1 .obj_o_4 {
  top: 168px;
  left: 580px;
}
.page_1 .obj_o_5 {
  top: 236px;
  left: 134px;
}
.page_1 .obj_o_6 {
  top: 236px;
  left: 322px;
}
.page_1 .obj_o_7 {
  top: 382px;
  left: 134px;
}
.page_1 .obj_o_8 {
  top: 382px;
  left: 322px;
}
.page_1 .obj_o_9 {
  top: 156px;
  left: 850px;
}
.page_1 .obj_o_10 {
  top: 266px;
  left: 740px;
}
.page_1 .obj_o_11 {
  top: 266px;
  left: 960px;
}
.page_1 .obj_o_12 {
  top: 377px;
  left: 850px;
}

.page_1 .obj_x_100 {
  top: 24px;
  left: 175px;
}
.page_1 .obj_x_101 {
  top: 22px;
  left: 294px;
}
.page_1 .obj_x_102 {
  top: 172px;
  left: 136px;
}
.page_1 .obj_x_103 {
  top: 172px;
  left: 327px;
}
.page_1 .obj_x_104 {
  top: 236px;
  left: 443px;
}
.page_1 .obj_x_105 {
  top: 234px;
  left: 553px;
}
.page_1 .obj_x_106 {
  top: 389px;
  left: 517px;
}
.page_1 .obj_x_107 {
  top: 390px;
  left: 626px;
}
.page_1 .obj_x_108 {
  top: 25px;
  left: 854px;
}
.page_1 .obj_x_109 {
  top: 56px;
  left: 699px;
}
.page_1 .obj_x_110 {
  top: 54px;
  left: 1012px;
}
.page_1 .obj_x_111 {
  top: 88px;
  left: 854px;
}

/* page_2 */
.page_2 .table {
  width: 100%;
  height: 196px;
  /* margin-top: 10px; */
  margin-left: 30px;
  background: url(../images/2_6/2_6_3_table.svg) center / contain no-repeat;
}
.page_2 .sign_oxBox {
  position: absolute;
  width: 110px;
  height: 60px;
}
.page_2 .sign_oxBox .icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page_2 .box_1,
.page_2 .box_2,
.page_2 .box_3,
.page_2 .box_4,
.page_2 .box_5 { top: 356px; }
.page_2 .box_6,
.page_2 .box_7,
.page_2 .box_8,
.page_2 .box_9,
.page_2 .box_10 { top: 420px; }

.page_2 .box_1,
.page_2 .box_6 {
  left: 635px;
}
.page_2 .box_2,
.page_2 .box_7 {
  left: 750px;
}
.page_2 .box_3,
.page_2 .box_8 {
  left: 867px;
}
.page_2 .box_4,
.page_2 .box_9 {
  left: 984px;
}
.page_2 .box_5,
.page_2 .box_10 {
  left: 1100px;
}

.page_2 .pop_1,
.page_2 .pop_2,
.page_2 .pop_3,
.page_2 .pop_4,
.page_2 .pop_5 { top: 271px; }
.page_2 .pop_6,
.page_2 .pop_7,
.page_2 .pop_8,
.page_2 .pop_9,
.page_2 .pop_10 { top: 337px; }

.page_2 .pop_1,
.page_2 .pop_6 {
  left: 594px;
}
.page_2 .pop_2,
.page_2 .pop_7 {
  left: 712px;
}
.page_2 .pop_3,
.page_2 .pop_8 {
  left: 828px;
}
.page_2 .pop_4,
.page_2 .pop_9 {
  left: 944px;
}
.page_2 .pop_5,
.page_2 .pop_10 {
  left: 1060px;
}

.page_3 .bg {
  margin-bottom: 20px;
  background: url("../images/2_6/2_6_3_table_answer.png") center/contain no-repeat, url("../images/2_6/2_6_3_table.svg") center/contain no-repeat;
}

/* page_3 */
.popupButton.head {
  top: -75px;
}
.popup_pages > li[data-popup-page="1"] {
  top: 105px;
  right: 80px;
}
.popup_pages > li[data-popup-page="1"] .table {
  width: 900px;
  height: 180px;
  background: url(../images/2_6/2_6_3_table.svg) center / contain no-repeat;
}
.popup_pages > li[data-popup-page="1"] .table:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/2_6/2_6_3_table_answer.png) center / contain no-repeat;
}
.popup_pages > li.min.rightTail:after {
  top: 14px;
}

/* page_4 */
.page_4 .bg {
  background-image: url("../images/2_6/2_6_3_03.svg");
  margin-bottom: 20px;
}
.page_4 .yellowLine {
  animation: changeOpacity 0.7s 5 forwards;
}

.page_4 .yellowLine {
  opacity: 0;
  position: absolute;
  border: 6px solid yellow;
}
.page_4 .yellowLine.line_1 {
  top: 65px;
  left: 423px;
  width: 93px;
  height: 94px;
}
.page_4 .yellowLine.line_2 {
  top: 50px;
  left: 678px;
  width: 90px;
  height: 90px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@-webkit-keyframes changeOpacity {
  50% { opacity: 1; }
}
@-ms-keyframes changeOpacity {
  50% { opacity: 1; }
}
@keyframes changeOpacity {
  50% { opacity: 1; }
}