
.displayN {
  display: none !important;
}
.quizContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.quizContainer > img {
  display: block;
  margin: 0 auto;
  width: auto;
}
.page_1 .quizContainer > img {
  width: 690px;
}
.page_2 .quizContainer > img {
  width: 550px;
  margin: -30px auto 0;
}
.oxObj {
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: 1px solid tomato; */
  pointer-events: none;
}
.oxObj[data-answer] {
  cursor: pointer;
  pointer-events: auto;
}
.oxObj[data-svg-obj] {
  cursor: pointer;
  pointer-events: auto;
}
/* [data-quiz="ox"] */
.oxObj.complete,
[data-svg-obj].complete {
  pointer-events: none;
  cursor: default;
}
.oxObj .icon {
  opacity: 0;
  width: 70px;
  height: 70px;
  pointer-events: none;
}
area {
  cursor: pointer;
}

/* page_1 */
.page_1 .obj_o_1 {
  top: 54px;
  left: 280px;
  width: 138px;
  height: 138px;
}
.page_1 .obj_o_2 {
  top: 310px;
  left: 349px;
  width: 137px;
  height: 137px;
}
.page_1 .obj_o_3 {
  top: 54px;
  left: 793px;
  width: 138px;
  height: 138px;
}
.page_1 .obj_o_4 {
  top: 310px;
  left: 725px;
  width: 137px;
  height: 137px;
}

.page_1 .obj_x_7 {
  top: 94px;
  left: 529px;
}
.page_1 .obj_x_8 {
  top: 94px;
  left: 612px;
}
.page_1 .obj_x_3 {
  top: 279px;
  left: 513px;
}
.page_1 .obj_x_4 {
  top: 279px;
  left: 632px;
}
.page_1 .obj_x_2 {
  top: 216px;
  left: 350px;
}
.page_1 .obj_x_6 {
  top: 216px;
  left: 792px;
}
.page_1 .obj_x_1 {
  top: 148px;
  left: 421px;
}
.page_1 .obj_x_5 {
  top: 148px;
  left: 720px;
}


/* page_2 */
.page_2 .obj_o_1 {
  top: 178px;
  left: 365px;
  transform: rotate(29deg);
  width: 111px;
  height: 111px;
}
.page_2 .obj_o_2 {
  top: 178px;
  left: 737px;
  transform: rotate(-31deg);
  width: 111px;
  height: 111px;
}

.page_2 .obj_x_7 {
  top: 47px;
  left: 705px;
}
.page_2 .obj_x_6 {
  top: 107px;
  left: 641px;
}
.page_2 .obj_x_4 {
  top: 292px;
  left: 691px;
}
.page_2 .obj_x_5 {
  top: 398px;
  left: 562px;
}
.page_2 .obj_x_2 {
  top: 214px;
  left: 625px;
}
.page_2 .obj_x_3 {
  top: 334px;
  left: 625px;
}
.page_2 .obj_x_1 {
  top: 270px;
  left: 519px;
}

.page_1 svg {
  position: absolute;
  top: 0;
  left: 266px;
  /* outline: 1px solid red; */
  width: 690px;
  height: 475px;
}

[class*="quizContainer"] svg [data-svg-obj] {
  fill: transparent !important;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}
.oxObj .on .icon {
  opacity: 1;
  width: 70px;
  height: 70px;
  pointer-events: none;
}
.oxObj .on .icon {
  -webkit-animation: iconZoomIn 0.5s;
  -moz-animation: iconZoomIn 0.5s;
  -ms-animation: iconZoomIn 0.5s;
  animation: iconZoomIn 0.5s;
}


.page_2 svg {
  position: absolute;
  top: -30px;
  left: 335px;
  width: 550px;
  height: 518px;
}