
.list.dot > li .toggleObj[data-toggle-obj="1"] {
  top: 62px;
  left: 36px;
  width: 172px;
}

.colorBox {
  height: 280px;
  padding: 40px 0;
}
.colorBox:after {
  background-image: url(../images/2_6/2_6_4_01.svg);
}