
@charset "utf-8";


ins.exam {
  opacity: 0;
  top: 52px;
  left: 239px;
}
ins.exam.on {
  opacity: 1;
}

.solve ins.exam {
  opacity: 1;
  top: 28px;
  left: 612px;
}


.induceLight {
  top: 297px;
  left: 627px;
}

.contentsArea > h1 {
  letter-spacing: -3px;
}

.drawLine {
  left: 260px;
  width: 670px;
  height: 450px;
}

.dragObj {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
  /* outline: 1px solid tomato; */
}
.dragObj:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 9px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #ac7132;
}


.dragObj.horizon_1 { top: calc(70px * (1 - 1) + 30px); }
.dragObj.horizon_2 { top: calc(70px * (2 - 1) + 30px); }
.dragObj.horizon_3 { top: calc(70px * (3 - 1) + 30px); }
.dragObj.horizon_4 { top: calc(70px * (4 - 1) + 30px); }
.dragObj.horizon_5 { top: calc(70px * (5 - 1) + 30px); }
.dragObj.horizon_6 { top: calc(70px * (6 - 1) + 30px); }

.dragObj.vertical_1 { left: calc(70px * (1 - 1) + 30px); }
.dragObj.vertical_2 { left: calc(70px * (2 - 1) + 30px); }
.dragObj.vertical_3 { left: calc(70px * (3 - 1) + 30px); }
.dragObj.vertical_4 { left: calc(70px * (4 - 1) + 30px); }
.dragObj.vertical_5 { left: calc(70px * (5 - 1) + 30px); }
.dragObj.vertical_6 { left: calc(70px * (6 - 1) + 30px); }
.dragObj.vertical_7 { left: calc(70px * (7 - 1) + 30px); }
.dragObj.vertical_8 { left: calc(70px * (8 - 1) + 30px); }
.dragObj.vertical_9 { left: calc(70px * (9 - 1) + 30px); }

.dragObj:after {
  position: absolute;
  font-family: kopubBatangB;
}
.dragObj.drag_1,
.dragObj.drag_2 {
  pointer-events: none;
  cursor: default;
}
.dragObj.drag_1:after {
  content: 'ㄱ';
  top: -20px;
  left: 20px;
}
.dragObj.drag_2:after {
  content: 'ㄴ';
  top: 20px;
}
.dragObj.drag_3:after {
  content: 'ㄷ';
  top: 20px;
}


.quizButtons[data-type="reset"] {
  /* bottom: 10px; */
  right: 96px;
}



.solve .flexBox {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.solve .solveImage {
  flex: 0 0 auto;
  width: 420px;
  height: 300px;
  margin-left: 90px;
  background: url(../images/2_7/2_7_9_solve.png) center / contain no-repeat;
}



.resetButton {
  top: 370px;
  left: 630px;
}