
@charset "utf-8";

/* page1 */
.flexBox {
  display: flex;
  height: 410px;
  padding: 0 14px;
  box-sizing: border-box;
  background: url(../images/2_finish_quiz/1/2_finish_quiz_1_bg.png) center / contain no-repeat;
}
.flexBox > div {
  position: relative;
  flex: 1 1 auto;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.page1 img {
  display: block;
  width: 320px;
  height: auto;
  margin: 0 auto 00px;
}
.page1 .inputQuizContainer {
  width: 100%;
}
.page1 .inputQuizContainer textarea,
.page1 .inputQuizContainer input {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.page1 .inputQuizContainer input {
  margin-top: 30px;
}

[data-after-target] {
  color: #0060e3;
  top: 197px;
  left: 53px;
  position: absolute;
  width: 290px;
}