
@charset "utf-8";


.titleIndent {
  margin-left: 70px;
}


/* page8 */
.page8 .charBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 280px;
  padding: 45px 0 35px;
}
.page8 .charBox > div {
  position: relative;
  height: 100%;
}
.page8 .charBox > .figure {
  width: 330px;
  margin: 0 20px;
  background: url(../images/2_finish_quiz/8/2_finish_quiz_8_01.svg) center / auto no-repeat;
}
.page8 .charBox > .char_1 {
  width: 350px;
  background: url(../images/2_finish_quiz/8/2_finish_quiz_8_02.png) center bottom / contain no-repeat;
}
.page8 .charBox > .char_2 {
  width: 340px;
  background: url(../images/2_finish_quiz/8/2_finish_quiz_8_03.png) center bottom / contain no-repeat;
}
.page8 .charBox .balloonText {
  position: absolute;
}
.page8 .charBox > .char_1 .balloonText {
  top: 12px;
  left: 28px;
}
.page8 .charBox > .char_2 .balloonText {
  top: 32px;
  left: 112px;
}



.page8 .charBox > .char_1 .balloonText.name {
  top: 231px;
  left: 142px;
}
.page8 .charBox > .char_2 .balloonText.name {
  top: 213px;
  left: 150px;
}

.page8 .afterText {
  position: absolute;
  display: flex;
  top: 369px;
  left: 84px;
  width: 1115px;
  word-break: break-all;
}
.page8 .afterText > span:nth-of-type(1) {
  flex-shrink: 0;
  margin-right: 10px;
}
.page8 .afterText > span:nth-of-type(2) {
  width: 100%;
}
.page8 textarea {
  height: 140px;
}