
@charset "utf-8";


/* page3 */
ins.rightAngle {
  display: inline-block;
  position: relative;
  top: 8px;
  width: 50px;
  height: 50px;
  margin: 0 4px;
  background: url(../images/2_3/icon_rightAngle.svg) center / contain no-repeat;
}
.page3 .contentsArea > section {
  display: flex;
  flex-direction: row;
  padding: 110px 0;
}
.page3 .contentsArea > section > * {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page3 .examBox {
  padding: 30px 50px 10px;
  margin-right: 20px;
}
.page3 img {
  width: 100%;
}
.page3 .quizContainer {
  padding: 30px 50px 10px;
  border-radius: 10px;
}
.page3 .quizContainer:before {
  content: '';
  position: absolute;
  top: 96px;
  left: 378px;
  width: 842px;
  height: 346px;
  background: url(../images/2_finish_quiz/3/2_finish_quiz_3_03.svg) center / contain no-repeat;
  z-index: -1;
}
.page3 .quizContainer .oxObj {
  cursor: pointer;
}
.oxObj .icon {
  opacity: 0;
}
.page3 .oxObj .rightAngle {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  border-color: #eb008b;
  border-width: 4px;
}
.page3 .oxObj .rightAngle.on {
  opacity: 1;
  visibility: visible;
}
.page3 .oxObj .rightAngle.top {
  top: 12px;
  border-top-style: solid;
} 
.page3 .oxObj .rightAngle.right {
  left: 28px;
  border-right-style: solid;
} 
.page3 .oxObj .rightAngle.left {
  left: 16px;
  border-left-style: solid;
} 
.page3 .oxObj .rightAngle.bottom {
  top: 28px;
  border-bottom-style: solid;
} 
/* o */
.page3 .oxObj[data-ox-obj="1"] { top: 184px; left: 445px; }
.page3 .oxObj[data-ox-obj="2"] { top: 312px; left: 445px; }
.page3 .oxObj[data-ox-obj="3"] { top: 184px; left: 615px; }
.page3 .oxObj[data-ox-obj="4"] { top: 312px; left: 615px; }
.page3 .oxObj[data-ox-obj="5"] { top: 184px; left: 721px; }
.page3 .oxObj[data-ox-obj="6"] { top: 312px; left: 721px; }
.page3 .oxObj[data-ox-obj="7"] { top: 184px; left: 1078px; }
/* x */
.page3 .oxObj[data-ox-obj="101"] { top: 206px; left: 844px; }
.page3 .oxObj[data-ox-obj="102"] { top: 321px; left: 884px; }
.page3 .oxObj[data-ox-obj="103"] { top: 199px; left: 958px; }
.page3 .oxObj[data-ox-obj="104"] { top: 277px; left: 995px; }
.page3 .oxObj[data-ox-obj="105"] { top: 318px; left: 1073px; }

