
@charset "utf-8";



/* drawLine */
.finish.arrange .drawLine {
  display: block;
  top: 110px;
  height: 460px;
  box-sizing: border-box;
}
.finish.arrange .drawLine .resetButton {
  top: 40px;
  right: -20px;
}
.finish.arrange .drawLine .dragObj {
  transition: none;
  /* outline: 1px solid tomato; */
}
.finish.arrange .drawLine .dragObj:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ad7234;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.finish.arrange .drawLine .horizon_1 { top: calc((1px * 50) + 28px); }
.finish.arrange .drawLine .horizon_2 { top: calc((2px * 50) + 28px); }
.finish.arrange .drawLine .horizon_3 { top: calc((3px * 50) + 28px); }
.finish.arrange .drawLine .horizon_4 { top: calc((4px * 50) + 28px); }
.finish.arrange .drawLine .horizon_5 { top: calc((5px * 50) + 28px); }
.finish.arrange .drawLine .horizon_6 { top: calc((6px * 50) + 28px); }

.finish.arrange .drawLine .quizButtons.answer {
  right: -22px;
  bottom: 330px;
}





/* page1 */
.page1 .dragBox {
  top: 80px;
  left: 130px;
  width: 340px;
  height: 350px;
}
.page1 .dragBox > .dragObj {
  width: auto;
  height: auto;
}
.page1 .dragBox > .dragObj[data-value="1"] {
  top: 30px;
  left: 140px;
}
.page1 .dragBox > .dragObj[data-value="2"] {
  top: calc(76px * 1 + 30px);
  left: 54px;
}
.page1 .dragBox > .dragObj[data-value="3"] {
  top: calc(76px * 2 + 30px);
  left: 70px;
}
.page1 .dragBox > .dragObj[data-value="4"] {
  top: calc(76px * 3 + 30px);
  left: 70px;
}

.page1 .dropBox {
  position: absolute;
  width: 520px;
  height: 520px;
  top: 90px;
  right: 100px;
  padding-top: 80px;
  text-align: center;
  box-sizing: border-box;
  background: url(../images/2_finish_arrange/2_finish_arrange_planet.svg) center / contain no-repeat;
}
.page1 .dropArea {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 210px;
}



/* page2 */
.page2 .contentsArea {
  background: url(../images/2_finish_arrange/2_finish_arrange_drawBg.svg) center / auto no-repeat;
}

 




/* page3 */
.page3 .figureBox {
  position: absolute;
  top: 150px;
  left: 10px;
  width: 590px;
  height: 340px;
  border-radius: 20px;
  border: 4px solid #8e8bc1;
}
.finish.arrange .page3 .contentsArea {
  justify-content: center;
}
.finish.arrange .page3 .contentsArea ul.list.dot {
  margin-left: 680px;
  margin-top: 40px;
}
.finish.arrange .page3 .list.dot > li.yellow:before {
  background-color: #f2c833;
}
.finish.arrange .page3 .list.dot > li.orange:before {
  background-color: #57B86F;
}
.finish.arrange .page3 .list.dot > li.skyblue:before {
  background-color: #00AEB7;
}
/* .finish.arrange .page3 .list.dot > li.wine:before {
  background-color: #c83165;
} */
.finish.arrange .page3 .inputQuizContainer input {
  position: absolute;
  right: 0;
  width: 160px;
  text-align: center;
}
.finish.arrange .page3 .inputQuizContainer input[data-input-obj="1"] { top: calc((1px * 90) + 112px); }
.finish.arrange .page3 .inputQuizContainer input[data-input-obj="2"] { top: calc((2px * 90) + 112px); }
.finish.arrange .page3 .inputQuizContainer input[data-input-obj="3"] { top: calc((3px * 90) + 112px); }
.finish.arrange .page3 .inputQuizContainer input[data-input-obj="4"] { top: calc((4px * 90) + 112px); }

.finish.arrange .page3 .quizButtons { bottom: 110px; }







/* page4 */
.page4 .contentsArea {
  background: url(../images/2_finish_arrange/2_finish_arrange_drawBg_2.svg) center / auto no-repeat;
}

.finish.arrange .page4 .drawLine .resetButton {
  top: 50px;
  right: -10px;
}

.finish.arrange .page4 .list.dot > li:before {
  background-color: #c83165;
}
.finish.arrange .page4 .drawLine.moreFigure {
  top: 110px;
  left: 110px;
  width: 1000px;
  height: 460px;
  border-color: #c83165;
}
.finish.arrange .drawLine.moreFigure .vertical_1 { left: calc((1px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_2 { left: calc((2px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_3 { left: calc((3px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_4 { left: calc((4px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_5 { left: calc((5px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_6 { left: calc((6px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_7 { left: calc((7px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_8 { left: calc((8px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_9 { left: calc((9px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_10 { left: calc((10px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_11 { left: calc((11px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_12 { left: calc((12px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_13 { left: calc((13px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_14 { left: calc((14px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_15 { left: calc((15px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_16 { left: calc((16px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_17 { left: calc((17px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_18 { left: calc((18px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_19 { left: calc((19px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_20 { left: calc((20px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_21 { left: calc((21px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_22 { left: calc((22px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_23 { left: calc((23px * 50) - 25px); }
.finish.arrange .drawLine.moreFigure .vertical_24 { left: calc((24px * 50) - 25px); }


/* myFigure */
.finish.arrange .drawLine.myFigure {
  opacity: 0;
  visibility: hidden;
  left: 200px;
  width: 880px;
}
.finish.arrange .drawLine.myFigure.show {
  opacity: 1;
  visibility: visible;
}
.finish.arrange .drawLine.myFigure .vertical_1 { left: calc((1px * 50) + 110px); }
.finish.arrange .drawLine.myFigure .vertical_2 { left: calc((2px * 50) + 110px); }
.finish.arrange .drawLine.myFigure .vertical_3 { left: calc((3px * 50) + 110px); }
.finish.arrange .drawLine.myFigure .vertical_4 { left: calc((4px * 50) + 110px); }
.finish.arrange .drawLine.myFigure .vertical_5 { left: calc((5px * 50) + 110px); }
.finish.arrange .drawLine.myFigure .vertical_6 { left: calc((6px * 50) + 110px); }
.finish.arrange .drawLine.myFigure .vertical_7 { left: calc((7px * 50) + 110px); }
.finish.arrange .drawLine.myFigure .vertical_8 { left: calc((8px * 50) + 110px); }
.finish.arrange .drawLine.myFigure .vertical_9 { left: calc((9px * 50) + 110px); }
.finish.arrange .drawLine.myFigure .vertical_10 { left: calc((10px * 50) + 110px); }
.finish.arrange .drawLine.myFigure .vertical_11 { left: calc((11px * 50) + 110px); }


/* viewMode */
.finish.arrange .drawLine.viewMode {
  left: 20px;
  width: 650px;
  pointer-events: none;
}
.finish.arrange .drawLine.viewMode .resetButton {
  display: none;
}
.finish.arrange .drawLine.viewMode .quizButtons {
  display: none;
}
.finish.arrange .drawLine.viewMode .dragObj {
  pointer-events: none !important;
}
.finish.arrange .drawLine.viewMode .drawArea {
  margin-left: -116px;
}
.finish.arrange .drawLine.viewMode .vertical_1 { left: calc((1px * 50) + 110px - 116px); }
.finish.arrange .drawLine.viewMode .vertical_2 { left: calc((2px * 50) + 110px - 116px); }
.finish.arrange .drawLine.viewMode .vertical_3 { left: calc((3px * 50) + 110px - 116px); }
.finish.arrange .drawLine.viewMode .vertical_4 { left: calc((4px * 50) + 110px - 116px); }
.finish.arrange .drawLine.viewMode .vertical_5 { left: calc((5px * 50) + 110px - 116px); }
.finish.arrange .drawLine.viewMode .vertical_6 { left: calc((6px * 50) + 110px - 116px); }
.finish.arrange .drawLine.viewMode .vertical_7 { left: calc((7px * 50) + 110px - 116px); }
.finish.arrange .drawLine.viewMode .vertical_8 { left: calc((8px * 50) + 110px - 116px); }
.finish.arrange .drawLine.viewMode .vertical_9 { left: calc((9px * 50) + 110px - 116px); }
.finish.arrange .drawLine.viewMode .vertical_10 { left: calc((10px * 50) + 110px - 116px); }
.finish.arrange .drawLine.viewMode .vertical_11 { left: calc((11px * 50) + 110px - 116px); }