
@charset "utf-8";


/* page5 */
.page5 .contentsArea > h2 {
  word-break: break-all;
}
.page5 .contentsArea > section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.page5 .flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.page5 .figure {
  width: 509px;
  height: 100%;
  margin-left: 72px;
  background: url(../images/2_finish_quiz/5/2_finish_quiz_5_01.svg) center / contain no-repeat;
}
.page5 .figure.on {
  background-image: url(../images/2_finish_quiz/5/2_finish_quiz_5_02.svg);
}
.page5 .inputQuizContainer {
  position: relative;
  margin: 310px 0 0 0;
}
.page5 .inputQuizContainer input {
  width: 200px;
  margin-right: 5px;
}
