
@charset "utf-8";



/* page6 */
.page6 .basicSlider[data-slide-container="main"] {
  position: absolute;
  top: 340px;
  height: 210px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.page6 .figureBox {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 1174px;
  height: 274px;
  background: url(../images/2_finish_quiz/6/2_finish_quiz_6_bg.svg) center / contain no-repeat;
}
.page6 .figureBox > div {
  position: absolute;
}
.page6 .figure_1 {
  top: 45px;
  left: 45px;
  width: 95px;
  height: 185px;
  background-image: url(../images/2_finish_quiz/6/2_finish_quiz_6_01.svg);
}
.page6 .figure_2 {
  top: 45px;
  left: 225px;
  width: 95px;
  height: 185px;
  background-image: url(../images/2_finish_quiz/6/2_finish_quiz_6_02.svg);
}
.page6 .figure_3 {
  top: 90px;
  left: 405px;
  width: 140px;
  height: 140px;
  background-image: url(../images/2_finish_quiz/6/2_finish_quiz_6_03.svg);
}
.page6 .figure_4 {
  top: 45px;
  left: 630px;
  width: 185px;
  height: 185px;
  background-image: url(../images/2_finish_quiz/6/2_finish_quiz_6_04.svg);
}
.page6 .figure_5 {
  top: 45px;
  left: 900px;
  width: 95px;
  height: 185px;
  background-image: url(../images/2_finish_quiz/6/2_finish_quiz_6_05.svg);
}
.page6 .figure_6 {
  top: 90px;
  left: 1035px;
  width: 95px;
  height: 140px;
  background-image: url(../images/2_finish_quiz/6/2_finish_quiz_6_06.svg);
}
.page6 .dropBox {
  width: 1130px;
  height: 70px;
  padding: 0px 14px;
  margin-left: 40px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 4px solid pink;
  border-radius: 10px;
}
.page6 .dropBox > .dragObjComplete { display: none; }
.page6 .dragObjComplete[data-value] { opacity: 0.2; }
.page6 .basicSlider[data-slide-container="main"] .basicSlider_btn {
  top: 68px;
}