
@charset "utf-8";

.h2Side {
  position: absolute;
  top: -7px;
  left: 220px;
}
.lesson_2 .powerup .contentsArea h3.h2Side:before {
  content: none;
}

.table {
  width: 1100px;
}
.table .title,
.table .subTitle {
  text-align: center;
  font-size: 32px;
}

/* 1 page */

/* 2 page */
.page2 .teacherImage {
  position: absolute;
  top: 180px;
  left: 70px;
  width: 180px;
  height: 415px;
  background: url(../images/2_powerup/2_powerup_teacher.png) center / contain no-repeat;
}
.page2 .table {
  position: absolute;
  top: 270px;
  left: 360px;
  transform-origin: 0 0;
  transform: scale(.5);
}
.page2 .clickButton {
  top: 260px;
  left: 300px;
}

.page2 .textBox {
  position: relative;
  width: 660px;
  height: 230px;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 45px;
  padding-left: 130px;
  box-sizing: border-box;
  background: url(../images/2_powerup/2_powerup_withTeacher_box.png) center / contain no-repeat;
}
.page2 .textBox > .number {
  position: absolute;
  top: 46px;
  left: 54px;
  width: 50px;
  text-align: center;
}
.page2 [data-slides="inner"] .balloonText {
  position: absolute;
  font-size: 20px;
  font-family: MapleStoryL;
  text-align: center;
}
.page2 [data-slides="inner"].imageBox {
  position: absolute;
}
.page2 [data-slides="inner"] > li:nth-of-type(2) .imageBox {
  position: absolute;
  width: 640px;
  height: 220px;
  top: 240px;
  left: 292px;
  background: url(../images/2_powerup/2_powerup_1.png) center / contain no-repeat;
}
.page2 [data-slides="inner"] > li:nth-of-type(2) .imageBox > .balloonText {
  top: 57px;
  left: 143px;
  width: 200px;
  /* height: 100px; */
}
.page2 [data-slides="inner"] > li:nth-of-type(3) .imageBox {
  position: absolute;
  width: 640px;
  height: 180px;
  top: 280px;
  left: 292px;
  background: url(../images/2_powerup/2_powerup_2.png) center / contain no-repeat;
}
.page2 [data-slides="inner"] > li:nth-of-type(3) .imageBox > .balloonText_1 {
  top: 33px;
  left: 133px;
  width: 200px;
  /* height: 100px; */
}
.page2 [data-slides="inner"] > li:nth-of-type(3) .imageBox > .balloonText_2 {
  top: 37px;
  left: 327px;
  width: 200px;
  /* height: 100px; */
}
ins.blueLineBox {
  display: inline-block;
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #259dd8;
}




/* page3 */
.page3 .table {
  margin-top: 30px;
}




/* page4 */
.page4 .table {
  margin-top: 30px;
  margin-bottom: 30px;
}

.page4 .quizContainer.titleIndent {
  text-align: center;
}
.page4 .inlineBox {
  width: 200px;
}

/* page5 */
.page5 .table {
  /* margin-top: 40px;
  margin-bottom: 20px; */
  margin-top: -40px;
  margin-bottom: -20px;
  transform: scale(0.7);
}
.page5 .table > ul > li {
  height: 80px;
}
.page5 textarea {
  height: 250px;
}



/* page6 */
.page6 .imageBox {
  width: 760px;
  height: 500px;
  margin: 0 auto;
  margin-top: -10px;
  background: url(../images/2_powerup/2_powerup_3.png) center / contain no-repeat;
}
.page6 .imageBox:after {
  content: '';
  display: block;
  position: relative;
  left: 40px;
  width: 100%;
  height: 100%;
  background: url(../images/2_powerup/2_powerup_3_text.svg) center / contain no-repeat;
  pointer-events: none;
}

.popup_pages > li[data-popup-page="1"] {
  top: 96px;
  right: 80px;
  width: 980px;
}