.contentsBox section{padding:0;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

.zodiacYearList ul {display:flex;flex-wrap:wrap;}
.zodiacYearList ul li {box-sizing:border-box;width:8.3%;margin:0 -3px -3px 0;border:3px solid #000;text-align:center;}
.zodiacYearList ul li .toggle {display:block;box-sizing:border-box;width:100%;padding:5px 0;border-radius:0;}
.zodiacYearList ul li .toggle .answer {text-align:center;}

.page_2 .zodiacYearList {margin:0 0 20px;}

.page_3 .zodiacYearList ul li .toggle {padding:0;background:none;pointer-events:none;}
.page_3 .zodiacYearList ul li .toggle:after {display:none;}
.page_3 .zodiacYearList ul li .toggle.complete {background:#8eb4e3;}

.page_4 .zodiacYearList {margin:0 0 20px;}
.page_4 .dapCheckBtn {z-index:2;}
.page_4_2 .zodiacYearList {position:relative;}
.page_4_2 .zodiacYearList .toggle {position:absolute;left:0;top:0;right:0;bottom:0;padding:0;background:none;}
.page_4_2 .zodiacYearList .toggle:after {display:none;}
.page_4_2 .zodiacYearList .toggle .answer {position:static;}
.page_4_2 .zodiacYearList .arrowLine {position:absolute;width:10px;height:10px;transform:rotate(55deg);transform-origin:50% 0;}
.page_4_2 .zodiacYearList .arrowLine:before {display:block;content:"";position:absolute;left:50%;top:0;width:3px;height:100%;background:#00a0ff;transform:translate(-50%, 0);}
.page_4_2 .zodiacYearList .arrowLine:after {display:block;content:"";position:absolute;left:50%;top:0;border:5px solid transparent;border-left:5px solid #00a0ff;border-bottom:5px solid #00a0ff;transform:translate(-50%, 0) rotate(135deg);}
.page_4_2 .zodiacYearList .arrowLine.v01 {top:29px;left:114px;height:80px;}
.page_4_2 .zodiacYearList .arrowLine.v02 {top:23px;left:202px;height:180px;}
.page_4_2 .zodiacYearList .arrowLine.v03 {top:23px;left:284px;height:280px;}
.page_4_2 .zodiacYearList .arrowLine.v04 {top:23px;left:368px;height:380px;}
.page_4_2 .zodiacYearList .arrowLine.v05 {top:23px;left:445px;height:460px;}

.page_4_3 .zodiacYearList {position:relative;}
.page_4_3 .zodiacYearList ul li {display:flex;}
.page_4_3 .zodiacYearList ul li span {width:50%;line-height:inherit;}
.page_4_3 .zodiacYearList ul li span:first-child {text-align:right;}
.page_4_3 .zodiacYearList ul li span:last-child {text-align:left;}
.page_4_3 .zodiacYearList ul li span.on {background-color:#8eb4e3;}
.page_4_3 .zodiacYearList .zodiacCycle {display:none;}
.page_4_3 .zodiacYearList .zodiacCycle.on {display:block;}
.page_4_3 .zodiacYearList .zodiacCycle > div {position:absolute;right:10px;color:#e94d40;}
.page_4_3 .zodiacYearList .zodiacCycle > div:before {display:block;content:"";position:absolute;left:-25px;top:50%;width:10px;height:30px;border-radius:0 20px 20px 0;border:5px solid #e94d40;border-left:5px solid transparent;transform:translate(0, -50%);}
.page_4_3 .zodiacYearList .zodiacCycle > div.v01 {top:27px;}
.page_4_3 .zodiacYearList .zodiacCycle > div.v02 {top:79px;}
.page_4_3 .zodiacYearList .zodiacCycle > div.v03 {top:129px;}
.page_4_3 .zodiacYearList .zodiacCycle > div.v04 {top:181px;}
.page_4_3 .zodiacYearList .zodiacCycle > div.v05 {top:232px;}

.page_4_4 .zodiacYearList {position:relative;}
.page_4_4 .zodiacYearList ul li {display:flex;}
.page_4_4 .zodiacYearList ul li span {width:50%;line-height:inherit;}
.page_4_4 .zodiacYearList ul li span:first-child {text-align:right;}
.page_4_4 .zodiacYearList ul li span:last-child {text-align:left;}
.page_4_4 .zodiacYearList ul li span.on {background-color:#8eb4e3;}

.pop_page_1 .zodiacWrap {margin:100px 0 0;padding:15px 20px;;background:url('../images/suh_0501_02_0010_201_1_1.png') no-repeat top center/100% 100%;}
.pop_page_1 .zodiacWrap .zodiacBox .zodiacList {display:flex;}
.pop_page_1 .zodiacWrap .zodiacBox .zodiacList li {width:9.9%;padding:5px 0;text-align:center;border:3px solid #000;border-left:0;}
.pop_page_1 .zodiacWrap .zodiacBox .zodiacList li:first-child {border-left:3px solid #000;}
.pop_page_1 .zodiacWrap .zodiacBox .zodiacList li.colorBox {display:flex;justify-content:center;align-items:center;padding:0;border-radius:0;}
.pop_page_1 .zodiacWrap .zodiacImgBox .zodiacImgList {display:flex;margin:30px 0 0;}
.pop_page_1 .zodiacWrap .zodiacImgBox .zodiacImgList li {width:15%;padding:5px 0;text-align:center;border:3px solid #000;border-left:0;}
.pop_page_1 .zodiacWrap .zodiacImgBox .zodiacImgList li:first-child {width:10%;border-left:3px solid #000;}
.pop_page_1 .zodiacWrap .zodiacImgBox .zodiacImgList li.colorBox {display:flex;justify-content:center;align-items:center;padding:0;border-radius:0;}
.pop_page_1 .zodiacWrap .zodiacImgBox .zodiacImgList li img {height:80px;}
.pop_page_1 .zodiacWrap .full-img {box-sizing:border-box;height:270px;margin:10px 0 0;text-align:center;}
.pop_page_1 .zodiacWrap .full-img img {height:100%;}