.contentsBox section{padding:0;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

.zodiacYearList ul {display:flex;flex-wrap:wrap;}
.zodiacYearList ul li {box-sizing:border-box;width:8.3%;margin:0 -3px -3px 0;border:3px solid #000;text-align:center;}
.zodiacYearList ul li .toggle {display:block;box-sizing:border-box;width:100%;padding:5px 0;border-radius:0;}
.zodiacYearList ul li .toggle .answer {text-align:center;}

.page_2 .zodiacYearList {margin:0 0 20px;}

.page_3 .zodiacYearList ul li .toggle {padding:0;background:none;pointer-events:none;}
.page_3 .zodiacYearList ul li .toggle:after {display:none;}
.page_3 .zodiacYearList ul li .toggle.complete {background:#8eb4e3;}

.page_4 .textAlignC + .textAlignC {margin:20px 0 0;}

.pop_page_1 .zodiacWrap {margin:100px 0 0;padding:15px 20px;;background:url('../images/suh_0501_02_0010_201_1_1.png') no-repeat top center/100% 100%;}
.pop_page_1 .zodiacWrap .zodiacBox .zodiacList {display:flex;}
.pop_page_1 .zodiacWrap .zodiacBox .zodiacList li {width:9.9%;padding:5px 0;text-align:center;border:3px solid #000;border-left:0;}
.pop_page_1 .zodiacWrap .zodiacBox .zodiacList li:first-child {border-left:3px solid #000;}
.pop_page_1 .zodiacWrap .zodiacBox .zodiacList li.colorBox {display:flex;justify-content:center;align-items:center;padding:0;border-radius:0;}
.pop_page_1 .zodiacWrap .zodiacImgBox .zodiacImgList {display:flex;margin:30px 0 0;}
.pop_page_1 .zodiacWrap .zodiacImgBox .zodiacImgList li {width:15%;padding:5px 0;text-align:center;border:3px solid #000;border-left:0;}
.pop_page_1 .zodiacWrap .zodiacImgBox .zodiacImgList li:first-child {width:10%;border-left:3px solid #000;}
.pop_page_1 .zodiacWrap .zodiacImgBox .zodiacImgList li.colorBox {display:flex;justify-content:center;align-items:center;padding:0;border-radius:0;}
.pop_page_1 .zodiacWrap .zodiacImgBox .zodiacImgList li img {height:80px;}
.pop_page_1 .zodiacWrap .full-img {box-sizing:border-box;height:270px;margin:10px 0 0;text-align:center;}
.pop_page_1 .zodiacWrap .full-img img {height:100%;}