.contentsBox section{padding:0;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

.page_1 .zodiacBox {padding:15px 20px 20px;background:url('../images/suh_0501_02_0010_201_1_1.png') no-repeat top center/100% 100%;}
.page_1 .zodiacBox .zodiacList {display:flex;margin:20px 0 0;}
.page_1 .zodiacBox .zodiacList li {width:9.9%;padding:5px 0;text-align:center;border:3px solid #000;border-left:0;}
.page_1 .zodiacBox .zodiacList li:first-child {border-left:3px solid #000;}
.page_1 .zodiacBox .zodiacList li.colorBox {display:flex;justify-content:center;align-items:center;padding:0;border-radius:0;}
.page_1 .zodiacImgBox {padding:15px 20px 20px;background:url('../images/suh_0501_02_0010_201_1_1.png') no-repeat top center/100% 100%;}
.page_1 .zodiacImgBox .zodiacImgList {display:flex;margin:20px 0 0;}
.page_1 .zodiacImgBox .zodiacImgList li {width:15%;padding:5px 0;text-align:center;border:3px solid #000;border-left:0;}
.page_1 .zodiacImgBox .zodiacImgList li:first-child {width:10%;border-left:3px solid #000;}
.page_1 .zodiacImgBox .zodiacImgList li.colorBox {display:flex;justify-content:center;align-items:center;padding:0;border-radius:0;}
.page_1 .zodiacImgBox .zodiacImgList li img {height:70px;}
.page_1 .page_1_3 .full-img {box-sizing:border-box;height:455px;padding:20px;line-height:455px;text-align:center;background:url('../images/suh_0501_02_0010_201_1_1.png') no-repeat top center/100% 100%;}
.page_1 .page_1_3 .full-img img {height:100%;}

.pop_page_1 .zoomImgContainer {padding:40px 0 0;}
.pop_page_1 .zodiacWrap {padding:15px 20px;font-size:20px;background:url('../images/suh_0501_02_0010_201_2_1.png') no-repeat top center/100% 100%;}
.pop_page_1 .zodiacWrap .zodiacBox .zodiacList {display:flex;margin:10px 0 0;}
.pop_page_1 .zodiacWrap .zodiacBox .zodiacList li {width:9.9%;padding:5px 0;text-align:center;border:3px solid #000;border-left:0;}
.pop_page_1 .zodiacWrap .zodiacBox .zodiacList li:first-child {border-left:3px solid #000;}
.pop_page_1 .zodiacWrap .zodiacBox .zodiacList li.colorBox {display:flex;justify-content:center;align-items:center;padding:0;border-radius:0;}
.pop_page_1 .zodiacWrap .zodiacImgBox .zodiacImgList {display:flex;margin:10px 0 0;}
.pop_page_1 .zodiacWrap .zodiacImgBox .zodiacImgList li {width:15%;padding:5px 0;text-align:center;border:3px solid #000;border-left:0;}
.pop_page_1 .zodiacWrap .zodiacImgBox .zodiacImgList li:first-child {width:10%;border-left:3px solid #000;}
.pop_page_1 .zodiacWrap .zodiacImgBox .zodiacImgList li.colorBox {display:flex;justify-content:center;align-items:center;padding:0;border-radius:0;}
.pop_page_1 .zodiacWrap .zodiacImgBox .zodiacImgList li img {height:40px;}
.pop_page_1 .zodiacWrap .full-img {box-sizing:border-box;height:270px;margin:10px 0 0;text-align:center;}
.pop_page_1 .zodiacWrap .full-img img {height:100%;}