section {font-size:39px}

.answer .bunsuWrap ul > li:first-of-type {border-color:#00a0ff}
.bunsuWrap .toggle {margin:8px 0}
.ex-box {display:flex}
.ex-box.a-c {align-items:center}
.ex-box.a-c .bullet.exam {align-self:inherit;margin-top:0}
.ex-box .bullet.exam {flex-shrink:0}
.ex-box .inline-flex-box {align-items:center}
.img-answer {position:relative}
.img-answer .toggle {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;transition:opacity 1s}
.img-answer img {width:100%;vertical-align:top}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {z-index:2;opacity:1}
.box-flex {display:flex;justify-content:center;align-items:center}
.box-flex.j-s {justify-content:flex-start}
.box-flex.a-t {align-items:flex-start}
.study_guide {right:0}

.mr-s {margin-right:12px}

.box-flex ~ .box-flex {margin-top:40px}
.box-flex .img-a {width:200px}
.box-flex .img-b {width:400px}
.box-flex .bunsuWrap {display:flex;align-items:center}
.box-flex .bunsuWrap .toggle {margin:8px 0}
.box-flex .colorBox {flex-shrink:0}
.group-a {display:flex;align-items:center;box-sizing:border-box}
.group-a .img-answer {margin-right:0}
.group-a .bunsuWrap ul {display:block}
.group-a .bunsuWrap ul ~ ul {margin-top:6px}

.box-flex .name {flex-shrink:0}
.box-flex .txt {flex:0 auto}

.box-in-line {display:block;padding-bottom:4px}
.box-in-line .inline {display:inline}

.w-case-a {width:50%;margin:0 auto;display:block}
.w-case-a ~ .w-case-a {margin-top:20px}

.horizonWrap {position: relative;height:120px;width: 100%;display: block;}
.horizonContainer {width:100%;position: absolute;left: 50%;top: 0;transform: translateX(-50%);}
.horizonContainer .lineContainer {left: 0;}
.horizonContainer .textContainer {left: -15px;}
.horizonContainer {height:37px}
.n1 .horizonContainer {margin:100px 0 0 0;}
.n2 .horizonContainer {margin:40px 0 0 0;}
.top-list > li {position:absolute;top:40px}
.top-list .n1 {left:-8px}
.top-list .n2 {left:270px;top:10px}
.top-list .n3 {left:854px;top:0}
.horizonContainer_1 .verticalContainer>li:nth-child(3) {opacity:0}
.verticalContainer {margin: 0 auto;}
.horizonContainer .textContainer>li {margin-left:-20px}
.line-box {display:inline-block;width:44px;height:78px;border:1px solid #000;margin-right:4px}
/* page_3 */
.w-case-a.lineBox {margin-top:100px;margin-bottom:20px}

/* page_4 */
.page_4 .box-flex.w-01 {flex-wrap:wrap;margin:60px auto 0}
.page_4 .box-flex.w-01 .group-a {width:100%;margin-bottom:40px}
/* page_5 */
.page_5 .box-flex ~ .box-flex {margin-top:0}
.page_5 .group-a ~ .group-a {margin-left:80px}
/* page_6 */
.page_6 .box-flex ~ .box-flex {margin-top:0}
.page_6 .group-a ~ .group-a {margin-left:80px}
.page_6 .dapCheckBtn {z-index:10}
.page_6  section {padding-right:0;margin-right:-30px}
