.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important}

.tableContainer .toggle {width:100%;padding:0;background-color:transparent}
.tableContainer th {height:60px}

.img-content {position:relative}
.img-content img {width:100%;vertical-align:top}
.img-content .txt-item {position:absolute}

.page_1 .moveButtonContainer {bottom:20px}
.page_1 .basicSlider_circle_tabs > li {width:52px}
.page_1 .innerTab_1 .img-content {width:811px;height:320px;margin:0 auto}
.page_1 .innerTab_1 .img-content [class*='txt-item-'] {position:absolute;font-size:24px}
.page_1 .innerTab_1 .img-content .gray {color:#999}
.page_1 .innerTab_1 .img-content .txt-item-1.n1 {top:155px;left:35px}
.page_1 .innerTab_1 .img-content .txt-item-1.n2 {top:130px;left:60px}
.page_1 .innerTab_1 .img-content .txt-item-1.n3 {top:150px;left:97px}
.page_1 .innerTab_1 .img-content .txt-item-1.n4 {top:140px;left:3px}
.page_1 .innerTab_1 .img-content .txt-item-1.n5 {top:73px;left:50px}
.page_1 .innerTab_1 .img-content .txt-item-1.n6 {top:205px;left:50px}
.page_1 .innerTab_1 .img-content .txt-item-2.n1 {top:145px;left:545px}
.page_1 .innerTab_1 .img-content .txt-item-2.n2 {top:145px;left:695px}
.page_1 .innerTab_1 .img-content .txt-item-2.n3 {top:145px;left:620px}
.page_1 .innerTab_1 .img-content .txt-item-2.n4 {top:145px;left:770px}
.page_1 .innerTab_1 .img-content .txt-item-2.n5 {top:35px;left:770px}
.page_1 .innerTab_1 .img-content .txt-item-2.n6 {top:260px;left:770px}
.page_1 .innerTab_1 .img-content .txt-item-2.n7 {top:143px;left:440px}
.page_1 .innerTab_1 .img-content .txt-item-2.n8 {top:62px;left:530px}
.page_1 .innerTab_1 .img-content .txt-item-2.n9 {top:62px;left:604px}
.page_1 .innerTab_2 .tableContainer {width:800px;margin:-10px auto 0}
.page_1 .innerTab_3 .quiz-content {margin-top:10px;padding-left:40px}
.page_1 .innerTab_3 .quiz-content .flex-wrap .colorBox {margin-right:20px}
.page_1 .innerTab_3 .quiz-content dl {display:flex;margin-top:10px}
.page_1 .innerTab_3 .quiz-content dt {flex-shrink:0;margin-top:8px}
.page_1 .innerTab_3 .quiz-content dd .toggle {margin:8px 4px}
.page_1 .innerTab_4 .quiz-content {margin-top:10px;padding-left:40px}
.page_1 .innerTab_4 .quiz-content .flex-wrap .colorBox {margin-right:20px}
.page_1 .innerTab_4 .quiz-content dl {position:relative;margin-top:10px;z-index:1}
.page_1 .innerTab_4 .quiz-content dd {margin-left:20px}
.page_1 .innerTab_4 .quiz-content dd .toggle {margin:8px 4px}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item {position:relative;text-align:center}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item img {height:190px}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item [class*='txt'] {position:absolute;font-size:24px}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item .txt {width:200px;letter-spacing:-1.5px}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item.n1 .img-box {position:relative;left:131px;width:355px;height:190px;border-radius:40px 0 0 40px;overflow:hidden}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item.n1 .img-box img {position:absolute;top:0;right:0}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item.n1 .txt {top:20px;left:128px}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item.n1 .txt-item.n1 {top:80px;left:337px}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item.n1 .txt-item.n2 {top:80px;left:402px}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item.n1 .txt-item.n3 {top:80px;left:369px}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item.n1 .txt-item.n4 {top:80px;left:433px}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item.n1 .txt-item.n5 {top:30px;left:433px}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item.n1 .txt-item.n6 {top:127px;left:433px}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item.n1 .txt-item.n6 {top:127px;left:433px}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item.n1 .girl_3 {position:absolute;transform:scale(.8);top:-175px;left:-120px}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item.n2 .img-box {position:relative;left:65px;width:250px;height:190px;border-radius:0 40px 40px 0;overflow:hidden}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item.n2 .img-box img {position:absolute;top:0;left:0}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item.n2 .txt {top:20px;left:70px}
.page_1 .innerTab_4 .quiz-content .flex-wrap .flex-item.n2 .girl_1 {position:absolute;transform:scale(.8);top:-185px;left:220px}
.page_1 .innerTab_5 .quiz-content {margin-top:10px;padding-left:40px}
.page_1 .innerTab_5 .quiz-content .flex-wrap .colorBox {margin-right:20px}
.page_1 .innerTab_5 .quiz-content dl {position:relative;margin-top:10px;z-index:1}
.page_1 .innerTab_5 .quiz-content dd {margin-left:20px}
.page_1 .innerTab_5 .quiz-content dd .toggle {margin:8px 4px}
.page_1 .innerTab_5 .quiz-content .img-content {position:relative;margin-top:40px;text-align:center}
.page_1 .innerTab_5 .quiz-content .img-content img {width:auto;height:160px}
.page_1 .innerTab_5 .quiz-content .img-content .txt-item {position:absolute}
.page_1 .innerTab_5 .quiz-content .img-content .txt-item.n1 {top:60px;left:120px}
.page_1 .innerTab_5 .quiz-content .img-content .txt-item.n2 {top:-36px;left:220px}
.page_1 .innerTab_5 .quiz-content .img-content .txt-item.n3 {top:-36px;left:330px}
.page_1 .innerTab_5 .quiz-content .img-content .txt-item.n4 {top:64px;left:250px}
.page_1 .innerTab_5 .quiz-content .img-content .txt-item.n5 {top:64px;left:416px}
.page_1 .innerTab_5 .quiz-content .img-content .txt-item.n6 {top:64px;left:333px}
.page_1 .innerTab_5 .quiz-content .img-content .txt-item.n7 {top:64px;left:498px}
.page_1 .innerTab_5 .quiz-content .img-content .txt-item.n8 {top:60px;left:580px}
.page_1 .innerTab_5 .quiz-content .img-content .txt-item.n9 {top:-12px;left:670px}
.page_1 .innerTab_5 .quiz-content .img-content .txt-item.n10 {top:64px;left:688px}
.page_1 .innerTab_5 .quiz-content .img-content .txt-item.n11 {top:64px;left:778px}

.pop_page_4 .popup_contents {letter-spacing:-1px}
.pop_page_4 .blank {display:inline-block;width:283px}
