.box-flex {display:flex}
.checkContainer h2 .blankBox {margin-top:8px}

.ex-box {display:flex;align-items:center}
.ex-box .bullet {flex-shrink:0;align-self:inherit;margin-top:0 !important;}

.page_2 .img-box {position:relative;height:240px;text-align:center}
.page_2 .img-box img {height:100%;vertical-align:top}
.page_2 .img-box .txt-item {position:absolute}
.page_2 .img-box .n1 {top:10px;left:200px}
.page_2 .img-box .n2 {top:100px;left:200px}

.page_3 .lineBox {width:700px;margin:20px auto 0;text-align:center}

.page_4 .box-flex {align-items:flex-start}
.page_4 .box-flex .colorBox {width:220px;text-align:center}
.page_4 .ex-box {align-items:flex-start}
.page_4 .ex-box .bullet {margin-top:6px !important;}
.page_4 .tableContainer {margin-top:-30px;margin-bottom:5px}

.checkContainer .contentsBox h2+section {padding-left:30px}
.tableContainer .toggle {width:100%;text-align:center;background-color:transparent}

.character-box {position:relative;height:200px}
.character-box .n1 {left:0}
.character-box .n2 {left:auto;right:0}
.character-box .balloon_1 {left:200px}
.character-box .balloon_1:after {top:70px}
.character-box .balloon_2 {right:200px}
.character-box .balloon_2:after {top:70px}
.character-box .colorBox {position:absolute}
.character-box .colorBox_1 {bottom:-40px;left:35px}
.character-box .colorBox_2 {bottom:-40px;right:35px}