.content-container > .content > .bg {
    background-image: url(../images/ms_42_4_02_02_01/bg.svg);
    /* background-image: url(../images/02.png); opacity: 0.7; */
}

.popup-more-one > .bg {
    background-image: url(../images/ms_42_4_02_02_01/bg_popup_more.svg);
}


#quiz-01 .input-cont {
    width: 60px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 620px;
    top: 444px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 827px;
    top: 444px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 386px;
    top: 576px;
    width: 140px;
}

.btn-answer-part:nth-child(1) {
    left: 470px;
    top: 506px;
}

.btn-answer-part:nth-child(2) {
    left: 811px;
    top: 580px;
}

#quiz-02 .input-cont {
    width: 60px;
}

#quiz-02 .input-cont:nth-child(1) {
    left: 1026px;
    top: 309px;
}
#quiz-02 .input-cont:nth-child(2) {
    left: 560px;
    top: 369px;
}
#quiz-02 .input-cont:nth-child(3) {
    left: 798px;
    top: 501px;
    width: 140px;
}

.popup-more-one .btn-answer-part:nth-child(1) {
    left: 676px;
    top: 434px;
}

.popup-more-one .btn-answer-part:nth-child(2) {
    left: 1200px;
    top: 505px;
}
