.content-container > .content > .bg {
    background-image: url(../images/ms_42_4_06_04_01/bg.svg);
    /* background-image: url(../images/04.png); opacity: 0.7; */
}

.popup-more-one > .bg {
    background-image: url(../images/ms_42_4_06_04_01/bg_popup_more.svg);
}
.popup-more-one.more-02 > .bg {
    background-image: url(../images/ms_42_4_06_04_01/bg_popup_more_02.svg);
}

#quiz-01 .input-cont {
    width: 120px;
}
#quiz-01 .input-cont:nth-child(1) {
    left: 436px;
    top: 290px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 389px;
    top: 511px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 948px;
    top: 269px;
    width: 60px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 959px;
    top: 461px;
    width: 60px;
}
#quiz-02 .input-cont {
    width: 120px;
    margin-top: 33px;
}
#quiz-02 .input-cont:nth-child(1) {
    left: 411px;
    top: 245px;
}
#quiz-02 .input-cont:nth-child(2) {
    left: 513px;
    top: 463px;
}
#quiz-02 .input-cont:nth-child(3) {
    left: 983px;
    top: 288px;
    width: 80px;
}
#quiz-02 .input-cont:nth-child(4) {
    left: 991px;
    top: 480px;
    width: 60px;
}
#quiz-03 .input-cont {
    width: 60px;
    margin-top: 33px;
}
#quiz-03 .input-cont:nth-child(1) {
    left: 194px;
    top: 468px;
}
#quiz-03 .input-cont:nth-child(2) {
    left: 421px;
    top: 449px;
}
#quiz-03 .input-cont:nth-child(3) {
    left: 873px;
    top: 243px;
    width: 120px;
}
#quiz-03 .input-cont:nth-child(4) {
    left: 944px;
    top: 464px;
    width: 120px;
}