.quiz-check.image-answer {
    position: absolute;
}

.quiz .check-item {
    margin: -1px 0 0 -2px;
}
.quiz:nth-child(1) .check-item {
    pointer-events: auto;
    left: 210px;
    top: 128px;
}
.quiz:nth-child(2) .check-item {
    pointer-events: auto;
    left: 492px;
    top: 102px;
}
.quiz:nth-child(3) .check-item {
    pointer-events: auto;
    left: 662px;
    top: 52px;
}
.quiz:nth-child(4) .check-item {
    pointer-events: auto;
    left: 921px;
    top: 139px;
}
.quiz:nth-child(5) .check-item {
    pointer-events: auto;
    left: 1137px;
    top: 91px;
}

.quiz .answer span {
    font-size: 27px;
    color: #3567D7;
    position: absolute;
}

.quiz:nth-child(1) span {
    left: 313px;
    top: 1050px;
}
.quiz:nth-child(2) span {
    left: 556px;
    top: 1074px;
}
.quiz:nth-child(3) span {
    left: 801px;
    top: 1073px;
}
.quiz:nth-child(4) span {
    left: 1002px;
    top: 1105px;
}
.quiz:nth-child(5) span {
    left: 110px;
    top: 1120px;
}