.content-container > .content > .bg {
    /* background-image: url(../images/ms_42_4_07_05_01/bg.svg); */
    /* background-image: url(../images/05.png); opacity: 0.7; */
}

.popup-more-one > .bg {
    /* background-image: url(../images/ms_42_4_07_05_01/bg_popup_more.svg); */
}

#quiz-01 .input-cont {
    width: 381px;
    margin-left: -4px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 769px;
    top: 329px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 769px;
    top: 486px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 769px;
    top: 644px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 769px;
    top: 802px;
}
#quiz-01 .input-cont:nth-child(5) {
    left: 769px;
    top: 960px;
}

.btn-answer-part:nth-child(1) {
    left: 1156px;
    top: 334px;
}
.btn-answer-part:nth-child(2) {
    left: 1156px;
    top: 493px;
}
.btn-answer-part:nth-child(3) {
    left: 1156px;
    top: 649px;
}
.btn-answer-part:nth-child(4) {
    left: 1156px;
    top: 809px;
}
.btn-answer-part:nth-child(5) {
    left: 1156px;
    top: 967px;
}

#quiz-02 .input-cont {
    width: 382px;
    margin-left: -4px;
}
#quiz-02 .input-cont:nth-child(1) {
    left: 774px;
    top: 329px;
}
#quiz-02 .input-cont:nth-child(2) {
    left: 774px;
    top: 486px;
}
#quiz-02 .input-cont:nth-child(3) {
    left: 774px;
    top: 644px;
}
#quiz-02 .input-cont:nth-child(4) {
    left: 774px;
    top: 802px;
}
#quiz-02 .input-cont:nth-child(5) {
    left: 774px;
    top: 960px;
}

.popup-more-one .btn-answer-part:nth-child(1) {
    left: 1156px;
    top: 334px;
}
.popup-more-one .btn-answer-part:nth-child(2) {
    left: 1156px;
    top: 493px;
}
.popup-more-one .btn-answer-part:nth-child(3) {
    left: 1156px;
    top: 649px;
}
.popup-more-one .btn-answer-part:nth-child(4) {
    left: 1156px;
    top: 809px;
}
.popup-more-one .btn-answer-part:nth-child(5) {
    left: 1156px;
    top: 967px;
}