.content-container > .content > .bg {
    background-image: url(../images/ms_42_4_03_06_01/bg.svg);
    /* background-image: url(../images/05.png); opacity: 0.7; */
}

/* 보충 문제 bg */
.popup-more-one > .bg {
    background-image: url(../images/ms_42_4_03_06_01/bg_popup_more.svg);
}
.quiz-check.type-ox-01 .check-item::before {
    transform: scale(0.5);
}
.app-angle-tool .tool-container {
    top: 160px;
}
.popup-more-one .app-angle-tool .tool-container {
    top: 240px;
}

#quiz-01 {
    position: absolute;
    left: 0;
    top: 0;
}
#quiz-01 .check-item {
    position: absolute;
    margin: -15px 0 0 -15px;
}
#quiz-01 .check-item:nth-child(1) {
    left: 459px;
    top: 295px;
    width: 94px;
    height: 113px;
}
#quiz-01 .check-item:nth-child(2) {
    left: 547px;
    top: 276px;
    width: 240px;
    height: 90px;
}
#quiz-01 .check-item:nth-child(3) {
    left: 770px;
    top: 343px;
    width: 90px;
    height: 98px;
}
#quiz-01 .check-item:nth-child(4) {
    left: 780px;
    top: 439px;
    width: 100px;
    height: 90px;
}
#quiz-01 .check-item:nth-child(5) {
    left: 546px;
    top: 495px;
    width: 261px;
    height: 70px;
}
#quiz-01 .check-item:nth-child(6) {
    left: 459px;
    top: 407px;
    width: 87px;
    height: 125px;
}

/* 입력 문제 */
#quiz-02 .input-cont {
    width: 100px;
}

#quiz-02 .input-cont:nth-child(1) {
    left: 1000px;
    top: 565px;
}

#quiz-03 {
    position: absolute;
    left: 0;
    top: 0;
}
#quiz-03 .check-item {
    position: absolute;
    margin: -15px 0 0 -15px;
}
#quiz-03 .check-item:nth-child(1) {
    left: 464px;
    top: 388px;
    width: 68px;
    height: 113px;
}
#quiz-03 .check-item:nth-child(2) {
    left: 528px;
    top: 336px;
    width: 229px;
    height: 80px;
}
#quiz-03 .check-item:nth-child(3) {
    left: 754px;
    top: 351px;
    width: 81px;
    height: 108px;
}
#quiz-03 .check-item:nth-child(4) {
    left: 762px;
    top: 459px;
    width: 80px;
    height: 130px;
}
#quiz-03 .check-item:nth-child(5) {
    left: 501px;
    top: 550px;
    width: 261px;
    height: 70px;
}
#quiz-03 .check-item:nth-child(6) {
    left: 449px;
    top: 494px;
    width: 59px;
    height: 91px;
}

/* 입력 문제 */
#quiz-04 .input-cont {
    width: 100px;
}

#quiz-04 .input-cont:nth-child(1) {
    left: 1000px;
    top: 578px;
}

#quiz-01 .quiz-00-answer.answer-part-00 {
    visibility: hidden;
}

#quiz-01.active .quiz-00-answer.answer-part-00 {
    position: absolute;
    left: 0;
    top: 0;
    visibility: visible;
}

#quiz-03 .quiz-00-answer.answer-part-00 {
    visibility: hidden;
}

#quiz-03.active .quiz-00-answer.answer-part-00 {
    position: absolute;
    left: 0;
    top: 0;
    visibility: visible;
}