.page_1 img{width:100%;}
.page_2 .page-iframe{
width: 1090px;
height: 444px;
margin-left: -15px;
}
.contentsBox .basicSlider_slides>li{display: flex; opacity: 0; visibility: hidden; position:absolute; z-index:-1; top:0}
.contentsBox .basicSlider_slides>li.on{display: flex; opacity: 1; visibility: visible; position:relative; z-index:0; top:0}

.page_4 .group1{width:500px; text-align: center; margin: 0 auto 110px;}
.page_4 .group1 .toggle{width:100px}

.page_4 .flex-wrap{width:100%; justify-content: center; z-index: 1;}
.page_4 .flex-wrap > div{margin:0 20px; text-align: center; position: relative; padding:5px 20px}
.page_4 .flex-wrap > div img{height: 80px;}
.page_4 .group1 .toggle::before,
.page_4 .flex-wrap > div::before{
content:"";
display: block;
position: absolute;
top:-30px;
left:50%;
background:silver;
width:20px; height: 20px;
border-radius: 50%;
margin-lefT:-10px;
z-index: 3;
}
.page_4 .group1{position: relative; z-index: 1;}
.page_4 .group1 .toggle::before{top:auto; bottom:-30px;}
.page_4 .line{position:absolute; width:5px; height:100px; background:#00a0ff; }
.page_4 .line.n1{
    top: 80px;
    left: 370px;
    transform: rotate(-62deg);
    transform-origin: top left;
    height: 160px;
    z-index: 0;
    background:red;
}
.page_4 .line.n2{
    top: 80px;
    left: 48px;
    transform: rotate(-74deg);
    transform-origin: top left;
    height: 280px;
    z-index: 0;
}
.page_4 .line.n3{
    top: 76px;
    left: 50px;
    transform: rotate(80.5deg);
    transform-origin: top left;
    height: 450px;
    z-index: 0;
}




