.contentsList li {display:block;}

.flex-box.bg{background-color: #fff;padding: 10px;align-items: center;justify-content: space-evenly;}
.flex-box img{height: 270px;}
.flex-box span{font-size: 23px;}
.flex-box .text_01{position: absolute;top: 230px;left: 480px;}
.flex-box .text_02{position: absolute;top: 345px;left: 445px;}
.flex-box .text_03{position: absolute;top: 465px;left: 510px;}