.page_1 .flexContainer{display:flex;justify-content:space-between;}
.page_1 .flexContainer > li{display:flex;width:480px;flex-direction:column;align-items:center;}
.page_1 figure{display:flex;margin:30px 0;height:200px;align-items:center;justify-content:center;}
.page_1 figure img{width:unset;height:100%;}
.page_1 li:first-child figure img{width:240px;height:unset;}
.page_1 li:first-child figure .text_01{position:absolute;top:-10px;left:120px;font-size: 30px;}
.page_1 li:first-child figure .text_02{position:absolute;top:78px;left:40px;font-size: 30px;}
.page_1 li:first-child figure .text_03{position:absolute;top:170px;left:95px;font-size: 30px;}
.page_1 li:last-child figure img{margin-top:-30px;width:100%;height:160px;font-size: 30px;}
.page_1 li:last-child figure .text_01{position:absolute;top:65px;left:-40px;font-size: 30px;}
.page_1 li:last-child figure .text_02{position:absolute;top:90px;left:85px;font-size: 30px;}
.page_1 li:last-child figure .text_03{position:absolute;top:80px;left:193px;font-size: 30px;white-space:nowrap;}
.page_1 .flex-box{align-items:flex-start;}
.page_1 dl + dl{margin-top:15px;}


.page_2 figure{position:relative;margin:0 auto 30px;width:800px;}
.page_2 figure img{display:block;width:100%;}
.page_2 figure span:nth-child(2){position:absolute;top:33px;left:145px;}
.page_2 figure span:nth-child(3){position:absolute;top:120px;left:146px;}
.page_2 figure span:nth-child(4){position:absolute;top:216px;left:118px;}
.page_2 figure span:nth-child(5){position:absolute;top:235px;right:313px;}
.page_2 figure span:nth-child(6){position:absolute;top:163px;right:186px;}
.page_2 figure span:nth-child(7){position:absolute;top:93px;right:83px;}
.page_2 .flex-box{justify-content:center;}
.page_2 .flex-box div + div{margin-left:239px;}
