.contentsList li {display:block;}

.flex-box.bg{background-color: #fff;padding: 10px;align-items: center;justify-content: space-evenly;}
.flex-box img{height: 100%;}
.flex-box span{font-size: 23px;}
.flex-box .text_01{position: absolute;top: 235px;left: 475px;}
.flex-box .text_02{position: absolute;top: 355px;left: 445px;}
.flex-box .text_03{position: absolute;top: 490px;left: 510px;}