.contentsBox section{padding:0;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

.img-box {height:335px;text-align:center;}
.img-box img {height:100%;}

.textAlignC {margin:20px 0 0;}
