.contentsBox .toggle .answer{position: relative;text-align: justify;}
.contentsBox .toggle .answer .bullet.exam{position: absolute;top:0;left:0;}
.contentsBox .toggle.duplicate {position:static;padding:0;background:none;}
.contentsBox .toggle.duplicate .answer {position:static;padding:0;background:none;}
.contentsBox .toggle.duplicate:after {display:none;}
.contentsBox .toggleBlank {vertical-align:-3px;}

.page_1 .quiz_box > div{display:flex;align-items:center;justify-content:center;margin:20px 0 0;}
.page_1 .quiz_box > div:first-child{margin:0;}
.page_1 .quiz_box .imgItem {display:inline-flex;margin:0 20px;}
.page_1 .quiz_box .imgItem img {height:100px;}
.page_1 .quiz_box .toggle {margin:0 0 0 20px;padding:20px;}
.page_1 .quiz_box .toggle .answer {display:block;}
.page_1 .quiz_box .toggle .imgItem {vertical-align:top;}
.page_1 .quiz_box .toggle .imgItem img {vertical-align:top;}

.page_2 .textAlignC + .textAlignC {margin:20px 0 0;}
.page_2 .textAlignC > div {display:inline-block;}
.page_2 .textAlignC img {height:235px;vertical-align:top;}

.page_3 .tableContainer {width:800px;}
.page_3 .tableContainer .toggle {padding:0;background:none;}
.page_3 .textAlignC .toggle {margin:20px 0 0;}

.page_4 .imgViewBox  {margin:0 0 20px;}
.page_4 .imgViewBox > div {display:flex;align-items:center;justify-content:space-around;}
.page_4 .imgViewBox > div .icon_arrow {flex-shrink:0;}
.page_4 .imgViewBox > div .imgItem img {height:100px;}
.page_4 .tableContainer {width:800px;}
.page_4 .tableContainer .toggle {padding:0;background:none;}

.page_5 .page_5_1 .imgContainer {text-align:center;margin:0 0 20px;}
.page_5 .page_5_1 .imgContainer img {height:149px;}
.page_5 .page_5_1 .tableContainer {width:700px;}
.page_5 .page_5_1 .tableContainer .toggle {padding:0;background:none;}
.page_5 .page_5_2 .contentsList li {display:block;}
.page_5 .page_5_2 .contentsList li .textAlignC {margin:20px 0 0;}
.page_5 .dapCheckBtn {z-index:2;}
