.contentsBox section{padding:0;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

header .title .popBtn.textInBtn.inline {top:4px;}

.page_1 .textAlignC .toggle {margin:20px 0 0;}
.page_1 .textAlignC .toggle:first-child {margin:0;}

.pop_page_1 .full-img {padding:100px 0 0;}
.pop_page_1 .full-img img {width:100%;}