.contentsBox section{padding:0 0 0 30px;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

header .title .popBtn.textInBtn.inline {top:4px;}
header .title .supply_guide.inline {margin:7px 0 0 5px;}

.page_1 .imgContainer {padding:50px 0 0;text-align:center;}
.page_1 .imgContainer > div img {width:100%;}

.page_2 .textAlignC .toggle {margin:20px 0 0;}
.page_2 .textAlignC .toggle:first-child {margin:0;}

.page_3 .textAlignC .toggle {padding:20px;}
.page_3 .textAlignC .toggle:first-child {margin:0;}
.page_3 h2 .supply_guide {margin-top:10px}

.page_4 .page_4_1 .speechBox {display:flex;justify-content:space-between;align-items:center;padding:40px 0 0;}
.page_4 .page_4_1 .speechBox > div {display:flex;justify-content:space-between;align-items:center;width:49%} 
.page_4 .page_4_1 .speechBox > div .characterImg {flex-shrink:0;position:relative;width:166px;height:166px;}
.page_4 .page_4_1 .speechBox > div .balloon {position:relative;width:60%;} 
.page_4 .page_4_2 .toggle {margin:20px 0 0;}
.page_4 .page_4_2 .toggle:first-child {margin:0;}
.page_4 .page_4_2 .dapCheckBtn {z-index:2;}

.page_5 .toggle {margin:20px 0 0;}
.page_5 .toggle:first-child {margin:0;}