@charset "utf-8";

.contentsBox .basicSlider_slides>li{display: flex; opacity: 0; visibility: hidden; position:absolute; z-index:-1; top:0}
.contentsBox .basicSlider_slides>li.on{display: flex; opacity: 1; visibility: visible; position:relative; z-index:0; top:0}
.gate_container .downloadBtn {right:20px;left:auto}
.checkContainer .contentsBox h2+section {padding-left:30px}
.checkContainer .contentsBox h2+section .downloadBtn {left:0;bottom:10px}
.checkContainer h2 .toggleBlank {width: 38px;height: 38px;margin-top: 8px;}

.toggle.circle {margin: 0 20px;}
.toggle.circle .answer > img {width: 24px;}

.page_1 .flex-wrap {justify-content: space-between;height: 200px;}
.page_1 .flex-wrap .flex-item {position: relative;}
.page_1 .balloon {position: absolute;top: 0;left: 0;text-align: center;padding: 6px;}
.page_1 .aniwrap {display: flex;margin-top: 230px;width: 170px;}
.page_1 .aniwrap .flexListContainer {position: relative;}
.page_1 .flex-wrap .flex-item.n1 .aniwrap {justify-content: flex-end;}
.page_1 .nameBox {min-width: 80px;margin: 0 10px;}
.page_1 .characterImg.circle div.charSpriteImg.girl_3 {top: -100px;}
.page_1 .characterImg.circle div.charSpriteImg.boy_2 {top: -162px;}
.page_1 .toggle-wrap {display: flex;align-items: center;}
.page_1 .toggle-wrap .toggle.circle {position: relative;top: -10px;margin: 0 10px;}
.page_1 .basicSlider {padding: 0 !important;}
.page_1 .moveButtonContainer {left: 50%;width: auto;transform: translateX(-50%);}

/*page2,page7*/
.flex-wrap.bg {justify-content: space-between;align-items: center;height: calc(100% - 100px);padding: 0 30px;}
.flex-wrap.bg .img-wrap {position: relative;}
.flex-wrap.bg .img-wrap .bullet.exam {position: absolute;top: -45px;left: 0;}
.flex-wrap.bg .img-wrap .click-finger-Btn {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.flex-wrap.bg .img-wrap .click-finger-Btn.complete {opacity: 0;animation: none;}
.flex-wrap.bg .flex-item {text-align: center;}
.flex-wrap.bg .flex-item .toggle.noBg:after {display: none;}
.flex-wrap.bg .flex-item.n1 .toggle.noBg,
.flex-wrap.bg .flex-item.n3 .toggle.noBg {position: relative;}
.flex-wrap.bg .flex-item.n1 .toggle.noBg img,
.flex-wrap.bg .flex-item.n3 .toggle.noBg img {position: relative;width: 280px;}
.flex-wrap.bg .flex-item.n1 .toggle.noBg .answer img,
.flex-wrap.bg .flex-item.n3 .toggle.noBg .answer img {position: absolute;top: 0;left: 0;opacity: 0;}
.flex-wrap.bg .flex-item.n1 .toggle.noBg .answer.on img,
.flex-wrap.bg .flex-item.n3 .toggle.noBg .answer.on img  {opacity: 1;}
.flex-wrap.bg .flex-item.n2 {display: flex;justify-content: center;}
.flex-wrap.bg .flex-item.n2 .flex-wrap {align-items: center;}

.page_3 .flexListContainer,
.page_4 .flexListContainer {justify-content: space-around;margin-top: 80px;}
.page_3 .flex-wrap,
.page_4 .flex-wrap {align-items: center;}

.page_5 .lineBox,
.page_8 .lineBox {width: 650px;margin: 0 auto;}
.page_5 .lineBox .flex-wrap,
.page_8 .lineBox .flex-wrap {justify-content: space-around;width: 100%;}
.page_5 h2 .dot {margin-top: 0.8em !important;}

.page_6 .textAlignC.bg {position: relative;}
.page_6 .textAlignC.bg > img {width: 750px;}
.page_6 .textAlignC.bg .text,
.page_6 .textAlignC.bg .colorBox {position: absolute;}
.page_6 .textAlignC.bg .text.n1 {top: 135px;left: 322px;}
.page_6 .textAlignC.bg .text.n2 {top: 135px;left: 590px;}
.page_6 .textAlignC.bg .colorBox.n1 {top: 10px;left: 605px;}
.page_6 .textAlignC.bg .colorBox.n2 {top: 225px;left: 20px;}
.page_6 .textAlignC.bg .colorBox.n3 {bottom: 67px;right: 0;}
.page_7 .flex-wrap.bg {height: auto;}
.page_7 .flexListContainer.center {width: 550px;margin: 0 auto;}
.page_7 .flexListContainer.center .toggle.circle {width: 70px;height: 70px;}
.page_7 .flexListContainer.center .toggle.circle .answer > img {width: 30px;}
.page_7 .flexListContainer.center .toggle.circle:after {line-height: 62px;}

.page_8 .textAlignC .flex-wrap {align-items: center;justify-content: center;}
.page_8 .textAlignC .flex-wrap img {width: 20px;margin: 0 10px;}

.pop_page_2.solve .flexListContainer {width: 70%;margin: 0 auto;}
.pop_page_3.solve .flexListContainer {width: 50%;margin: 0 auto;}
.pop_page_2.solve .flexListContainer li,
.pop_page_3.solve .flexListContainer li {display: flex;flex-direction: column;align-items: center;justify-content: space-around;}
.pop_page_2.solve .flexListContainer li > div:not(.arrow),
.pop_page_3.solve .flexListContainer li > div:not(.arrow) {display: flex;align-items: center;justify-content: center;}
.pop_page_2.solve .flexListContainer li > div img,
.pop_page_3.solve .flexListContainer li > div img {margin: 3px 10px 0;}
.solve .popup_contents .arrow {position: relative;width: 65px;height: 2px;background: red;margin-bottom: 20px;}
.solve .popup_contents .arrow > span {position: absolute;top: 0;display: inline-block;width: 2px;height: 15px;background: red;}
.solve .popup_contents .arrow > span:nth-child(1) {left: 0;}
.solve .popup_contents .arrow > span:nth-child(1):before {position: absolute;top: 15px;left: -8px;content: '';display: inline-block;width: 20px;height: 2px;background: red;}
.solve .popup_contents .arrow > span:nth-child(2) {right: 0;}
.solve .popup_contents .arrow > span:nth-child(2):after {content: '';position: absolute;top: 15px;left: -8px;display: inline-block;width: 20px;height: 2px;background: red;}