.page_1 .line-wrap{position: relative; top:30px; width:600px; margin:0 auto;}
.page_1 .line1{width: 94px;height: 60px;top: 48px;left: 113px; border-color:#ff6400 !important;}
.page_1 .line1 .txt-b{color:#ff6400 !important;}
.page_1 .line2{width: 133px;height: 40px;top: 170px;left: 153px;left: 157px;}
.page_1 .line2 .line-add{position: absolute;bottom: 36px;right: -4px; width:1px;height: 124px; border-right:4px solid #00a0ff;}
.page_1 .line2 .num-round{color:#00a0ff !important; border-color:#00a0ff !important;}
.page_1 .f1{position: absolute;top: 30px;left: 90px;}
.page_1 .f2{position: absolute;top: 140px;left: 140px;}
.page_1 .f1.complete,
.page_1 .f2.complete{display: none;}
.page_1 .box1{width: 580px;height: 350px;margin: 30px auto;}
.page_1 .hide{z-index:-1;}
.page_1 .hide.on{z-index:0; opacity:1}
.page_1 .innerTab_2 .f1{top: 30px;left: 180px;}
.page_1 .innerTab_2 .f2{top: 120px;left: 100px;}
.page_1 .innerTab_2 .line1{width: 90px; left:50px;height: 60px;top: 50px;left: 211px;}
.page_1 .innerTab_2 .line2{width: 146px; left:50px;height: 40px;top: 170px;left: 111px;}
.line-wrap{position: relative; top:0 ;width:100%}
.line1{width: 90px; left:50px;height: 60px;top: 50px;left: 126px;  border-color:#ff6501 !important; }
.line1 .txt-b{color:#ff6501 !important;}
.line2{width: 133px; left:50px;height: 40px;top: 170px;left: 169px;}

.line-wrap .line-add{position: absolute;bottom: 36px;right: -4px;left:auto; width:1px;height: 117px; border-right:4px solid #ff6501;}
.line-wrap .line-add.left{left: -4px!important;right:auto!important; }
.line-wrap .line-add.right{right: -4px!important;left:auto!important; }

.line-wrap .blue .line-add{border-right:4px solid #00a0ff;}
.line-wrap .blue .num-round{color:#00a0ff !important; border-color:#00a0ff !important;}
.line-wrap .blue .txt-b{color:#00a0ff !important;}

.line-wrap .red .line-add {border-right:4px solid #ff6501;}
.line-wrap .red .num-round{color:#ff6501 !important; border-color:#ff6501 !important;}
.line-wrap .red .txt-b{color:#ff6501 !important;}

.click-finger-Btn.complete{display:none !important;}
.hide{z-index:-1;}
.hide.on{z-index:0; opacity:1}


.page_1 .innerTab_2 .line2 .line-add{position: absolute;bottom: 36px;left: -4px; width:1px;height: 119px; border-right:4px solid #00a0ff;}
.page_1 .icon_arrow{transform: translate(0,3px);}


.page_2 .lineBox{height:210px}
.page_2 .u1 .line1{width: 90px;height: 40px;top: 50px;left: 22px;}
.page_2 .u1 .line2{width: 120px;height: 40px;top: 110px;left: 65px;}
.page_2 .u1 .line2 .line-add{bottom: 36px;height: 61px;}

.page_2 .u2 .line1{width: 67px;height: 40px;top: 50px;left: 112px;}
.page_2 .u2 .line2{width: 133px;height: 40px;top: 110px;left: 18px;}
.page_2 .u2 .line2 .line-add{bottom: 36px;height: 61px;}
.page_2 .u2 .f1{position: absolute;top: 50px;left: 90px; z-index:1}
.page_2 .u2 .txt1{position: absolute;top: 50px;left: 213px;}

.page_2 .oxContainer{cursor: pointer;}
.page_2 .oxContainer .icon_o, 
.page_2 .oxContainer .icon_x{width:100px; height:100px; margin:-50px 0 0 -50px}


.page_3 .bogiContainer .inner{height:210px; min-height:210px}
.page_3 .bogi_wrap{width:540px; margin:0 auto; }
.page_3 .u1 .line1{width: 100px;height: 40px;top: 50px;left: 42px;}
.page_3 .u1 .line2{width: 125px;height: 40px;top: 110px;left: 90px;}
.page_3 .u1 .line2 .line-add{bottom: 36px;height: 61px;}

.page_3 .u2{width:540px; margin:20px auto 0;}
.page_3 .u2 .line1{width: 90px;height: 40px;top: 54px;left: 60px;}
.page_3 .u2 .line2{width: 118px;height: 40px;top: 115px;left: 103px;}
.page_3 .u2 .line2 .line-add{bottom: 36px;height: 61px;}
.page_3 .u2 .f1{position: absolute;top: 50px;left: 90px; z-index:1}

.page_3 .u3{width:540px; margin:20px auto 0;}
.page_3 .u3 .line1{width: 94px;height: 40px;top: 50px;left: 32px;}
.page_3 .u3 .line2{width: 134px;height: 40px;top: 110px;left: 77px;}
.page_3 .u3 .line2 .line-add{bottom: 36px;height: 61px;}
.page_3 .u3 .f1{position: absolute;top: 50px;left: 90px; z-index:1}

.page_3 .u4{width:540px; margin:20px auto 0;}
.page_3 .u4 .line1{width: 92px;height: 40px;top: 50px;left: 133px;}
.page_3 .u4 .line2{width: 147px;height: 40px;top: 115px;left: 35px;}
.page_3 .u4 .line2 .line-add{bottom: 36px;height: 61px;}
.page_3 .u4 .f1{position: absolute;top: 50px;left: 90px; z-index:1}

.page_3 .u5{width:540px; margin:20px auto 0;}
.page_3 .u5 .line1{width: 79px;height: 40px;top: 50px;left: 132px;}
.page_3 .u5 .line2{width: 142px;height: 40px;top: 114px;left: 32px;}
.page_3 .u5 .line2 .line-add{bottom: 36px;height: 61px;}
.page_3 .u5 .f1{position: absolute;top: 50px;left: 90px; z-index:1}









.page_4 .lineBox{height:210px}
.page_4 .u1 .line1{width: 90px;height: 40px;top: 50px;left: 22px;}
.page_4 .u1 .line2{width: 120px;height: 40px;top: 110px;left: 65px;}
.page_4 .u1 .line2 .line-add{bottom: 36px;height: 61px;}

.page_4 .u2 .line1{width: 67px;height: 40px;top: 50px;left: 112px;}
.page_4 .u2 .line2{width: 133px;height: 40px;top: 110px;left: 18px;}
.page_4 .u2 .line2 .line-add{bottom: 36px;height: 61px;}
.page_4 .u2 .f1{position: absolute;top: 50px;left: 90px; z-index:1}
.page_4 .u2 .txt1{position: absolute;top: 50px;left: 213px;}

.page_4 .oxContainer{cursor: pointer;}
.page_4 .oxContainer .icon_o, 
.page_4 .oxContainer .icon_x{width:100px; height:100px; margin:-50px 0 0 -50px}



.page_5 .lineBox{width: 710px; margin:20px auto;display: flex;align-items: center;justify-content: center;position: relative;padding:20px 0 60px; border:0 !important}
.page_5 .lineBox .toggle{margin:0 15px}
.page_5 .toggle.n1{position: absolute; bottom:10px; left:20px}
.page_5 .toggle.n2{position: absolute; bottom:10px; left:53%;}
.page_5 .toggle.hide.complete{opacity:1; background:transparent}

.page_5 .lineBox .hide{position: absolute; top:0; lefT:0;}
.page_5 .lineBox .hide.on{opacity:1 !important; z-index: 0;}
.page_5 .lineBox .hide.n3,
.page_5 .lineBox .hide.n1{top: 140px;left: 100px;}
.page_5 .lineBox .hide.n4,
.page_5 .lineBox .hide.n2{top: 141px;left: 433px;}
.page_5 .img1{display:flex;justify-content: center;align-items: center;background: url(../images/suhi_h_0501_01_0002_1.png) no-repeat 0 0 / cover;width: 260px;height: 125px;letter-spacing: -1px;padding-bottom:19px}
.page_5 .img2{display:flex; justify-content: center; align-items: center; background: url(../images/suhi_h_0501_01_0002_2.png) no-repeat 0 0 / cover;width: 260px;height: 125px;letter-spacing: -1px;padding-bottom:19px}

.page_6 .img-wrap{width:330px; margin:0 auto;}
.page_6 .img-wrap img{width:100%;}

.page_7 .lineBox{width:300px; margin:0 auto;}
.page_7 .answer{text-align: left;}

.pop_page_3 .u2{width:540px; margin:0; height:180px}
.pop_page_3 .u2 .line1{width: 80px;height: 40px;top: 50px;left: 19px;}
.pop_page_3 .u2 .line2{width: 106px;height: 40px;top: 110px;left: 57px;}
.pop_page_3 .u2 .line2 .line-add{bottom: 36px;height: 61px;}
.pop_page_3 .u2 .f1{position: absolute;top: 50px;left: 90px; z-index:1}

.pop_page_3_2 .u2{width:540px; margin:0; height:180px}
.pop_page_3_2 .u2 .line1{width: 80px;height: 40px;top: 50px;left: 19px;}
.pop_page_3_2 .u2 .line2{width: 106px;height: 40px;top: 110px;left: 57px;}
.pop_page_3_2 .u2 .line2 .line-add{bottom: 36px;height: 61px;}
.pop_page_3_2 .u2 .f1{position: absolute;top: 50px;left: 90px; z-index:1}

.pop_page_3_3 .u2{width:540px; margin:0; height:180px}
.pop_page_3_3 .u2 .line1{width: 80px;height: 40px;top: 50px;left: 103px;}
.pop_page_3_3 .u2 .line2{width: 128px;height: 40px;top: 110px;left: 17px;}
.pop_page_3_3 .u2 .line2 .line-add{bottom: 36px;height: 61px;}
.pop_page_3_3 .u2 .f1{position: absolute;top: 50px;left: 90px; z-index:1}

.pop_page_3_4 .u2{width:540px; margin:0; height:180px}
.pop_page_3_4 .u2 .line1{width: 70px;height: 40px;top: 50px;left: 102px;}
.pop_page_3_4 .u2 .line2{width: 122px;height: 40px;top: 110px;left: 17px;}
.pop_page_3_4 .u2 .line2 .line-add{bottom: 36px;height: 61px;}
.pop_page_3_4 .u2 .f1{position: absolute;top: 50px;left: 90px; z-index:1}

.pop_page_5 .toggleBlank.circle{margin:0 10px; transform: translate(0,2px);}

