@charset "utf-8";



.page-iframe{
    width:1030px;
    height: 484px;
}
.lesson_2 .img-wrap {
    box-sizing: border-box;
    width: 100%;
    height: 210px;
    margin: 0 auto;
    position: relative;
    background:url(../images/suh_h_0301_02_0007_201_1_1.png) no-repeat 0 0 / 100%;
}
.lesson_2 .page_2 .sign_oxBox{
    height: 53px;
}
.lesson_2 .sign_oxBox .icon{
    animation:none;
    transition:none;
    top:55%;
    left:54%;
    transform:translate(-50%,-50%)
}
.lesson_2 .icon.fix{
    display:block;
    margin-left: 14px !important;
}
.lesson_2 .img-wrap img {
    width: 100%;
}
.lesson_2 .icon.icon_o {
    top:55%;
    left:54%;
    width: 40px;
    background: url(../../common/contents/images/icon/icon_O.png) center/contain no-repeat;
}

.lesson_2 .icon.icon_x {
    top:55%;
    left:54%;
    width: 40px;
    background: url(../../common/contents/images/icon/icon_X.png) center/contain no-repeat;
}


.lesson_2 .img-wrap>div {
    position: absolute;
}

.lesson_2 .img-wrap .n1 {
    top: 75px;
    left: 65px;
}

.lesson_2 .img-wrap .n2 {
    top: 85px;
    left: 193px;
}

.lesson_2 .img-wrap .n3 {
    top: 75px;
    left: 368px;
}

.lesson_2 .img-wrap .n4 {
    top: 75px;
    left: 577px;
}

.lesson_2 .img-wrap .n5 {
    top: 75px;
    left: 752px;
}

.lesson_2 .img-wrap .n6 {
    top: 75px;
    left: 911px;
}

.page_2 .tableContainer  .ox_x{
    animation:none;
    transition:none;
    display: block;
    margin: 0 auto;
    opacity: 1;
    visibility:visible;
    width: 40px;
    background: url(../../common/contents/images/icon/icon_O.png) center/contain no-repeat;
}
.page_2 .tableContainer  .ox_o{
    animation:none;
    transition:none;
    display: block;
    margin: 0 auto;
    opacity: 1;
    visibility:visible;
    width: 40px;
    background: url(../../common/contents/images/icon/icon_O.png) center/contain no-repeat;
}

.page_3 .img-wrap .n1{
    position: absolute;
    top: 87px;
    left: 361px
}
.page_3 .img-wrap .n2{
    position: absolute;
    top: 75px;
    left: 587px
}
.page_3 .img-wrap {
    box-sizing: border-box;
    width: 100%;
    height: 210px;
    margin: 0 auto;
    position: relative;
    background:url(../images/suh_h_0301_02_0007_201_1_2.png) no-repeat 0 0 / 100%;
}