#wrap main {z-index:0}
.popup_container{z-index: 1;}
.content-container{height: 530px;}
.suhi h2 .blankBox{margin-top:8px;}
.suhi , .popup_pages div {font-size: 40px;}
.blankBox {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    margin-top: 6px;
}
.blankBox.w50 {margin-top: 0;}
.ex-box {display:flex}
.ex-box .bullet.exam {flex-shrink:0}
.popup_pages > li.whole h2.pop-tit {background-color:transparent !important;align-self:flex-start;padding:20px}

.page_1 .img-content {position:relative;display:flex;align-items:center;height:480px}
.page_1 .img-content > img {width:100%}

.page_2 section .basicSlider.contentsBox {padding:0}
.page_2 section .basicSlider.contentsBox .buttonContainer.left {margin-left:-48px}
.page_2 .quiz-content .img-box {display:flex;justify-content:center;align-items:center;height:300px}
.page_2 .contentsList::after {content:'';display:block;clear:both}
.page_2 .contentsList > li {float:left;width:50%}
.page_2 .contentsList > li .bullet.circleDot {margin-top:36px}
.pop_page_2 .contentsList > li .bullet.dot {margin-top:42px}
.pop_page_2 .img-box {display:flex;justify-content:center;align-items:center;width:100%;height:240px}
.pop_page_2 .flex-wrap {width:100%}
.pop_page_2 .flex-wrap {width:100%}
.pop_page_2 .quiz-content {margin:0 60px}
.pop_page_2 .popup_contents .buttonContainer {bottom:20px;right:40px}

.page_3 section .basicSlider.contentsBox {padding:0}
.page_3 section .basicSlider.contentsBox .buttonContainer.left {margin-left:-48px}
.page_3 .img-box {margin-top:20px;text-align:center}
.page_3 .quiz-group {display:flex;justify-content:center;margin-top:20px}
.page_3 .quiz-item {margin:0 40px}
.page_3 .quiz-item dl {display:flex;align-items:center}
.page_3 .quiz-item dd {margin-left:10px}
.pop_page_6 .popup_contents .buttonContainer {bottom:20px;right:40px}
.pop_page_6 [data-slide-container='popup'] {width:100%}
.pop_page_6 .moveButtonContainer {bottom:30px}
.pop_page_6 .img-box {margin-top:20px;text-align:center}
.pop_page_6 .quiz-group {display:flex;justify-content:center;margin-top:20px}
.pop_page_6 .quiz-item {margin:0 40px}
.pop_page_6 .quiz-item dl {display:flex;align-items:center}
.pop_page_6 .quiz-item dd {margin-left:10px}

.page_4 .quiz-content {position:relative;margin-top:150px}
.page_4 .quiz-content > img {height:150px}
.page_4 .quiz-content .quiz-item {position:absolute;top:25px}
.page_4 .quiz-content .quiz-item.n1 {left:320px}
.page_4 .quiz-content .quiz-item.n2 {left:920px}
.pop_page_8 .popup_contents .buttonContainer {bottom:20px;right:40px}
.pop_page_8 .quiz-content {position:relative;margin-top:150px}
.pop_page_8 .quiz-content > img {height:150px;padding-left:40px}
.pop_page_8 .quiz-content .quiz-item {position:absolute;top:25px}
.pop_page_8 .quiz-content .quiz-item.n1 {left:500px}
.pop_page_8 .quiz-content .quiz-item.n2 {left:950px}

.pop_page_10 .popup_contents .buttonContainer {bottom:20px;right:40px}
.pop_page_11 .popup_contents .dot.deepGreen {margin-top:42px}
.pop_page_11 .popup_contents .img-box {position:relative;display:inline-block;vertical-align:middle}
.pop_page_11 .popup_contents .img-box > img {height:90px}
.pop_page_11 .popup_contents .img-box > .bunsuWrap {position:absolute;top:0;left:calc(50% - 18px)}

.page_6 h2 .number.star {margin-top:24px}
.page_6 .img-box img {height:300px}
.pop_page_12 .popup_contents .buttonContainer {bottom:20px;right:40px}
.pop_page_12 .contentsList .bullet.circleDot {margin-top:36px}
.pop_page_12 .textAlignC {width:100%}
.pop_page_12 .img-box img {height:300px;padding:30px 0 40px}

.page_7 .img-box img {height:200px;padding:20px 0}
.pop_page_14 .popup_contents .buttonContainer {bottom:20px;right:40px}
.pop_page_14 .textAlignC {width:100%}
.pop_page_14 .img-box img {height:200px;padding:30px 0 40px}
