.box-flex {display:flex}

.page_1 .img-box {height:340px;text-align:center;position:relative}
.page_1 .img-box img {height:100%;vertical-align:top}

.page_2 .img-box {height:300px;text-align:center;position:relative}
.page_2 .img-box img {height:100%;vertical-align:top}
.page_2 .txt-item {position:absolute}
.page_2 .txt-item.n1 {top:180px;left:10px}
.page_2 .txt-item.n2 {top:130px;left:190px}
.page_2 .txt-item.n3 {top:140px;left:280px}
.page_2 .txt-item.n4 {top:140px;left:460px}
.page_2 .txt-item.n5 {top:80px;left:550px}
.page_2 .txt-item.n6 {top:200px;left:680px}
.page_2 .txt-item.n7 {top:120px;left:790px}
.page_2 .txt-item.n8 {top:160px;left:970px}

.page_3 .img-box {height:300px;text-align:center;position:relative}
.page_3 .img-box img {height:100%;vertical-align:top}
.page_3 .txt-item {position:absolute}
.page_3 .txt-item.n1 {top:180px;left:10px}
.page_3 .txt-item.n2 {top:130px;left:190px}
.page_3 .txt-item.n3 {top:140px;left:280px}
.page_3 .txt-item.n4 {top:140px;left:460px}
.page_3 .txt-item.n5 {top:80px;left:550px}
.page_3 .txt-item.n6 {top:200px;left:680px}
.page_3 .txt-item.n7 {top:120px;left:790px}
.page_3 .txt-item.n8 {top:160px;left:970px}

.page_4 .img-box {height:300px;text-align:center;position:relative}
.page_4 .img-box img {height:100%;vertical-align:top}
.page_4 .txt-item {position:absolute}
.page_4 .txt-item.n1 {top:180px;left:10px}
.page_4 .txt-item.n2 {top:130px;left:190px}
.page_4 .txt-item.n3 {top:140px;left:280px}
.page_4 .txt-item.n4 {top:140px;left:460px}
.page_4 .txt-item.n5 {top:80px;left:550px}
.page_4 .txt-item.n6 {top:200px;left:680px}
.page_4 .txt-item.n7 {top:120px;left:790px}
.page_4 .txt-item.n8 {top:160px;left:970px}


.page_5 .box-flex {justify-content:space-between;align-items:center;margin-top:40px}
.page_5 .lineBox p {display:flex;align-items:flex-start}
.page_5 .lineBox {flex:1 auto;margin-left:40px}
.page_5 .lineBox .number {display:inline-block;flex-shrink:0;margin-top:8px;margin-right:10px}
.page_5 .img-box {position:relative;}
.page_5 .img-box img {height:230px;vertical-align:top}
.page_5 .img-box .txt-item {position:absolute}
.page_5 .img-box .txt-item.n1 {top:20px;left:40px}
.page_5 .img-box .txt-item.n2 {top:120px;left:400px}
.page_5 .img-box .txt-item.n3 {top:220px;left:40px}

.page_5 .toggle .number {display:inline-block;vertical-align:top;margin-top:4px}


.page_6 .lineBox {width:380px;margin:0 auto;text-align:center}
.page_6 .lineBox img {height:260px;vertical-align:top}
.page_6 .box-flex {display:flex;align-items:flex-start;margin-top:20px}
.page_6 .box-flex .colorBox {flex-shrink:0}
.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {flex-shrink:0}
.ex-box p {text-align:justify;letter-spacing:-1px}
.solve-img {text-align:center;margin:20px 0}
.contentsList>li.solve-img {display:block}

.page_7 .img-box {height:340px;text-align:center;position:relative}
.page_7 .img-box img {height:100%;vertical-align:top}

.page_10 .img-box {height:340px;text-align:center;position:relative}
.page_10 .img-box img {height:100%;vertical-align:top}
.page_10 .img-box .txt-item {position:absolute}
.page_10 .img-box .n1 {top:100px;left:320px}
.page_10 .img-box .n2 {top:80px;left:485px}
.page_10 .img-box .n3 {top:90px;left:665px}
.page_10 .img-box .n4 {top:230px;left:275px}
.page_10 .img-box .n5 {top:240px;left:445px}
.page_10 .img-box .n6 {top:230px;left:655px}

.page_11 .img-box {height:340px;text-align:center;position:relative}
.page_11 .img-box img {height:100%;vertical-align:top}
.page_11 .img-box .txt-item {position:absolute}
.page_11 .img-box .n1 {top:100px;left:320px}
.page_11 .img-box .n2 {top:80px;left:485px}
.page_11 .img-box .n3 {top:90px;left:665px}
.page_11 .img-box .n4 {top:230px;left:275px}
.page_11 .img-box .n5 {top:240px;left:445px}
.page_11 .img-box .n6 {top:230px;left:655px}

.page_12 .img-box {height:340px;text-align:center;position:relative}
.page_12 .img-box img {height:100%;vertical-align:top}
.page_12 .img-box .txt-item {position:absolute}
.page_12 .img-box .n1 {top:50px;left:300px}
.page_12 .img-box .n2 {top:70px;left:505px}
.page_12 .img-box .n3 {top:70px;left:675px}
.page_12 .img-box .n4 {top:220px;left:280px}
.page_12 .img-box .n5 {top:204px;left:375px}
.page_12 .img-box .n6 {top:204px;left:525px}
.page_12 .img-box .n7 {top:204px;left:675px}

.page_13 .img-box {height:300px;text-align:center}
.page_13 .img-box img {height:100%;vertical-align:top}

.page_14 .img-box {height:200px;text-align:center}
.page_14 .img-box img {height:100%;vertical-align:top}
.page_14 .box-flex {align-items:flex-start;margin-top:20px}

.pop_page_1 .img-box {position:relative;margin-left:20px}
.pop_page_1 .img-box .txt-item {position:absolute}
.pop_page_1 .img-box .txt-item.n1 {top:10px;left:20px}
.pop_page_1 .img-box .txt-item.n2 {top:10px;right:20px}
.pop_page_1 img {height:8px}

.pop_page_2 .box-flex {align-items:center;justify-content:space-between}
.pop_page_2 .img-box {position:relative;margin:20px auto 10px;}
.pop_page_2 .img-box .txt-item {position:absolute}
.pop_page_2 .img-box .txt-item.n1 {top:10px;left:20px}
.pop_page_2 .img-box .txt-item.n2 {top:10px;right:20px}
.pop_page_2 img {height:8px}

.pop_page_3 .box-flex {align-items:center;justify-content:space-between}
.pop_page_3 .img-box {position:relative;margin:20px auto 10px;}
.pop_page_3 .img-box .txt-item {position:absolute}
.pop_page_3 .img-box .txt-item.n1 {top:10px;left:0}
.pop_page_3 .img-box .txt-item.n2 {top:10px;right:35px}
.pop_page_3 img {height:8px}

.pop_page_4 .box-flex {align-items:center;justify-content:space-between}
.pop_page_4 .img-box {position:relative;margin:20px auto 10px;}
.pop_page_4 .img-box .txt-item {position:absolute}
.pop_page_4 .img-box .txt-item.n1 {top:10px;left:40px}
.pop_page_4 .img-box .txt-item.n2 {top:10px;right:35px}
.pop_page_4 img {height:8px}

.pop_page_5 .contentsList>li .number {margin-right:0;margin-top:4px}

.pop_page_6 .box-flex,
.pop_page_7 .box-flex,
.pop_page_8 .box-flex,
.pop_page_9 .box-flex {align-items:flex-start}
.pop_page_6 .box-flex img,
.pop_page_7 .box-flex img,
.pop_page_8 .box-flex img,
.pop_page_9 .box-flex img {height:130px;margin-left:80px}
.pop_page_8 .box-flex img {height:130px;margin-left:80px}
.pop_page_9 .box-flex img {height:130px;margin-left:50px}
.pop_page_10 .img-box {height:280px;text-align:center;margin:20px 0;}
.pop_page_10 .img-box img {height:100%;vertical-align:top}

.textBookPopup ins.number {margin:8px 0 0 0;width:40px;height:40px;line-height:1.8em;border-radius:10px;color:#6dbc4b;border:2px solid #6dbc4b;background-color:#fff;text-align:center;font-size:22px;letter-spacing:0;display:inline-block;align-self:flex-start;font-family:'YGJAL','sans-serif';vertical-align:top;box-sizing:border-box;}


.page_6 .page-iframe{width:100%; height: 512px;}
.ready .contentsBox .basicSlider_slides>li{display: flex; opacity: 0; visibility: hidden; position:absolute; z-index:-1; top:0}
.ready .contentsBox .basicSlider_slides>li.on{display: flex; opacity: 1; visibility: visible; position:relative; z-index:0; top:0}
.page_9 .page-iframe{width:100%; height: 513px;}

.study_guide{z-index: 2;}
.page_8 .img-box .click-finger-Btn {position: absolute; top:150px; left:200px;}
.page_8 .img-box {width:100%; text-align: center;}
.page_8 .img-box .toggle::after{display: none;}
.page_8 .img-box .toggle{padding: 0; background-color: transparent;width:400px; height: 400px; position: relative;}
.page_8 .img-box .toggle img{width:400px; position: absolute; top:0; left:0;}
.page_8 .toggle.complete .click-finger-Btn{display:none;}
.page_8 .img-box .txt{position:absolute}
.page_8 .img-box .n1{top:330px; left:82px;}
.page_8 .img-box .n2{top:330px; left:132px;}
.page_8 .img-box .n3{top:330px; left:230px;}
.page_8 .img-box .n4{top:150px; left:354px;}
.page_8 .img-box .n5{top:50px; left:354px;}

.page_9 .lineBox{    
    position: absolute;
    top: 20px;
    left: 190px;
    width: 650px;
    height: 440px;
    background-color: transparent;
    z-index: 0;
}
.page_9 .js-figureBoardLine{z-index: 1; left: 180px;
    width: 670px;
    height: 450px;
    top: 10px;}

.page_9 .induceLight {
    top: 305px;
    left: 547px;
}

.dragObj:after{
    font-family: NotoB;
}

.page_9 .js-buttons{
    opacity: 1;
    visibility: visible;
    background:#00a0ff url(../../common/contents/images/icon/icon_check.svg) 21px center/22px auto no-repeat;
    position: absolute;
    width: 160px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-family: YGJAL;
    text-align: left;
    padding-left: 32px;
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    align-items: center;
    bottom:8px; left:898px;
}
.page_9  main .contentsArea {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.page_9 .js-buttons::before{
    content: "예 보기";
    padding-left: 30px;
    letter-spacing: 0;
}
.page_9 .js-buttons.reset::before{
    content: "다시하기";
    padding-left: 20px;
    letter-spacing: 0;
}
.page_9 .bullet.exam.on{display: block;}
.page_9 .bullet.exam{
    display: none;
    position: absolute;
    top: 20px;
    left: 210px;
    z-index: 3;
}