.page_1 .iframe-wrap{
    position: absolute;
    top: -30px;
    left: -56px;
    width: 1170px;
    overflow:hidden;
    height: 584px;
}
.page_1 .page-iframe{width:1280px;height: 500px;position: absolute;top: 190px;left: -90px;}
.page_1 h2{position: relative; z-index: 2;}
.page_1 h2 span{letter-spacing: -2px;}

.lesson_5.page_1 .txt1{
    position: absolute;
    background-color: #fff;
    padding:5px;
    top: -20px;
    left: 80px;
}
.lesson_5.page_1 .txt2{
    position: absolute;
    background-color: #fff;
    padding:5px;
    top: -20px;
    left: 410px;
}
.lesson_5.page_1 .txt3{
    position: absolute;
    background-color: #fff;
    padding:5px;
    top: -20px;
    left: 740px;
}
.lesson_5.page_1 .txt4{
    position: absolute;
    background-color: #fff;
    padding:5px;
    top: -20px;
    left: 1060px;
}
.lesson_5.page_1 .txt5{
    position: absolute;
    background-color: #fff;
    padding:5px;
    top: 50px;
    left: 180px;
    font-size: 27px;
}
.lesson_5.page_1 .txt6{
    position: absolute;
    background-color: #fff;
    padding:5px;
    top: 50px;
    left: 510px;
    font-size: 27px;
}
.lesson_5.page_1 .txt7{
    position: absolute;
    background-color: #fff;
    padding:5px;
    top: 50px;
    left: 840px;
    font-size: 27px;
}

.lesson_5.page_1 .page1 .clickBox.complete{
    background-color: #00a0ff;
}
.page1 .clickBox[data-answer]{
    background-color: #fff;
}


.lesson_5.page_1 .js-chainButtons.quizButtons.answer::before {
    content: "정답 확인";
    padding-left: 14px;
    position: static;
    width: auto;
    height: auto;
    background: none;
    display: flex;
    height: 100%;
    align-items: center;
    pointer-events: none;
    letter-spacing: -.1px;
}

.lesson_5.page_1 .js-chainButtons.quizButtons.answer {
    opacity: 1;
    visibility: visible;
    background: #5e3e18 url(../../../../E-curri03-math-P_2022/31/common/contents/images/icon/icon_check.svg) 15px center/22px auto no-repeat;
    width: 160px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-family: YGJAL;
    text-align: left;
    padding-left: 32px;
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 1;
    transition: none;
    transform: none;
    right: 46px;
    bottom: 330px;
}

.lesson_5.page_1 .js-chainButtons.quizButtons.answer.reset::before {
    content: "정답 가리기";
    padding-left: 9px;
}

.lesson_5.page_1 .js-chainButtons.quizButtons.answer.reset,
.lesson_5.page_1 .js-chainButtons.quizButtons.answer:hover {
    background-color: #9d00c4
}

.page_1 .study_guide{right:0; top:70px;}


.page_2 .flex-wrap{
    width:100%; justify-content: center;
    margin:80px 0; width:100%;
}

.math_calc_table.class3.type-time  tr td{padding:5px 1px !important; height: 60px; min-width:60px;max-width:60px; text-align: right;}
.math_calc_table.class3.type-time  tr td[colspan="2"]{min-width:60px;max-width:60px;}
.math_calc_table.class3.type-time  tr td.gap{min-width: 80px;max-width: 80px;text-align: left;}
.math_calc_table.class3.type-time  tr td.gap:last-child{min-width:55px;max-width:55px; text-align: left;}
.math_calc_table.class3.type-time  tr:first-child td{padding-bottom:20px !important; height: 75px;}
.math_calc_table.class3.type-time .toggle .answer {
    position: absolute;
    right: 5px;
    letter-spacing: 0 !important;
    text-align: right !important;
    top: 2px;
}
.math_calc_table.class3.type-time .toggle {
    height: calc(100% - 4px);
    margin-top: 2px;
    width: 100%;
    margin-left: 4px;
}

