.flex-wrap{align-items: center; margin:10px 0 20px}
.bullet.circleDot.mt{margin-top: 23px;}

.math_calc_table.class3.type-time{margin-top:50px}
.math_calc_table.class3.type-time  tr td{padding:5px 1px !important; height: 60px; min-width:30px;max-width:30px; font-family: NotoM;}
.math_calc_table.class3.type-time  tr td[colspan="2"]{min-width:60px;max-width:60px;}
.math_calc_table.class3.type-time  tr td.gap{min-width:75px;max-width:75px; text-align: left;}

.math_calc_table.class3.type-time  tr td.gap:last-child{min-width:55px;max-width:55px; text-align: left;}

.math_calc_table.class3.type-time  tr:first-child td{padding-bottom:10px !important; height: 65px;}
.math_calc_table.class3.type-time .toggle .answer {
    position: absolute;
    right: 2px;
    letter-spacing: 5.5px !important;
    text-align: right !important;
    top: 2px;
}
.math_calc_table.class3.type-time .toggle {
    height: calc(100% - 4px);
    margin-top: 2px;
    width: calc(100% + 10px);
    margin-left: -7px;
}

.flex-wrap{justify-content: center;}
.contentsList li{letter-spacing: -1px; font-family: NotoM;}









