@charset "utf-8";

.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
.contentsList .icon_arrow{width:auto !important; margin:0 10px;}
.lineBox .bullet.number,
h2 .bullet.number{margin-top:5px;}
.buttonContainer.iframe{right:170px;}
.checkContainer h2 .toggleBlank{margin-top:8px;}
.checkContainer .contentsBox .basicSlider_tabs {width: 600px}
.flexListContainer > li {display: flex;align-items: center;}
.flexListContainer.jcenter li + li {margin-left: 15px;}
.flexListContainer.wrap {justify-content: flex-start;margin: 0 auto;}
.flexListContainer.wrap li + li {margin-top: 15px;}

.page_1 .contentsBox{padding:0 !important;height: 100%;}
.page_1 .basicSlider_slides .dotList {margin-left: 30px;}
.page_1 .lineBox {width:70%;margin: 0 auto 10px;padding: 10px;margin-top: 10px;text-align: center;}
.page_1 .lineBox > img {height: 200px;}
.page_1 .flexListContainer .colorBox.purple + .toggle {min-width: 78px;}

.page_2 .img-wrap, 
.page_4 .img-wrap {position: relative;width:100%;margin: 0 auto 20px;text-align: center;}
.page_2 .img-wrap img, 
.page_4 .img-wrap img {width: auto;height: 220px;}
.page_2 .flexListContainer.wrap, 
.page_4 .flexListContainer.wrap {width: 56%;margin: 0 auto;}
.page_2 .flexListContainer.wrap .colorBox.check, 
.page_4 .flexListContainer.wrap .colorBox.check {min-width: 132px;text-align: center;}

.page_3 .lineBox {width: 88%;margin: -25px auto 10px;padding: 10px 10px;text-align: center;}
.page_3 .dotList {margin-left: 30px;}
.page_3 .dotList li {flex-wrap: wrap;margin: 0;}
.page_3 .dotList li > div {display: block;width: calc(100% - 20px);}
.page_3 .dotList li .toggle_wrap {width: 755px;text-align: center;margin: 0 auto;}
.page_3 .dotList li .toggle_wrap .toggle {text-align: center;}

.page_5 .box {position: relative;width: 600px;height: 150px;display: flex;justify-content: space-between;align-items: center;margin: 0 auto;}
.page_5 .icon_arrow {position: absolute;left: 45%;}
.page_5 .arrow_1, .page_5 .arrow_3 {top: 27px;transform: rotate(-22deg);}
.page_5 .arrow_2, .page_5 .arrow_4 {bottom: 27px;transform: rotate(22deg);}
.page_5 .toggle-wrap {display: flex;flex-direction: column;justify-content: space-between;height: 100%;}

.page_6 .flexListContainer {justify-content: space-between;margin: 50px auto;width: 550px;height: 160px;}
.page_6 .flexListContainer > li.lineBox {display: inline-block;width: 240px;border-radius: 20px;height: 140px;line-height: 120px;text-align: center;padding: 0;position: relative;}
.page_6 .flexListContainer > li + li {margin-top: 0;}
.page_6 .flexListContainer .icon[data-ox-target] {position: absolute;top: 0;width:100%;height: 100%;background-size: auto 80%;}

.page_7 li:not(.answer02) {margin: 0;}
.page_7 li.answer02 {justify-content: center;margin-bottom: 10px;}
.page_7 li.answer02:before {display: none;}
.checkContainer .contentsBox .page_7 h2 {margin-bottom: 0;}