.bullet.circleDot{margin-top: 26px;}

.page_1 .box-flex {display:flex;justify-content:center}
.page_1 .img-box {height:350px;position:relative; margin-left: -390px;}
.page_1 .img-box .txt-item {position:absolute;height:40px;line-height:40px;background-color:#fff}
.page_1 .img-box .t1 {top:24px;left:162px;}
.page_1 .img-box .t2 {top:70px;left:61px;}
.page_1 .img-box .t3 {top:220px;left:10px;}
.page_1 .img-box .t4 {top:295px;left:0;}
.page_1 .img-box .t5 {top:295px;left:210px;}
.page_1 .img-box .t6 {top:250px;left:270px;}
.page_1 .img-box img {height:100%}
.page_1 .toggle.arrow{
    background-color: transparent;
    position: absolute;
    top: 250px;
    right: 120px;
}
.page_1 .toggle.arrow::after{display: none;}
.page_1 .toggle.arrow .icon_arrow {position: absolute; top:40px; left:-100px}
.page_1 .icon_arrow {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
.page_1 .toggle.arrow.complete .icon_arrow{
    animation-name: none;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}
.moveButtonContainer{width: auto; left:50%; transform: translate(-50%, 0);}
.contentsBox .contentsBox{padding:0}
.page_2 .lineBox {position:relative;width:580px;margin:0 auto;text-align:center;padding-top:30px}
.page_2 .lineBox .grayBox {position:absolute;width:140px;height:140px; }
.page_2 .lineBox .grayBox .icon {width:100%;height:100%}
.page_2 .lineBox .n1 {top: 70px;left: 100px;}
.page_2 .lineBox .n2 {top: 70px;left: 380px;}
.page_2 .lineBox .n3 {top: 70px;left: 650px;}
.page_2 .lineBox .n4 {top:160px;left:70px}
.page_2 .lineBox .n5 {top:160px;left:230px}
.page_2 .lineBox .n6 {top:160px;left:400px}
.page_2 .lineBox .n7 {top:300px;left:70px}
.page_2 .lineBox .n8 {top:300px;left:230px}
.page_2 .lineBox .n9 {top:300px;left:400px}
.page_2 .lineBox img {width: 850px;vertical-align:top;position: relative;top: 0px;}
.page_2 .lineBox {width:900px; overflow: hidden; height: 280px;margin: 70px auto 0;}

.innerTab_2 .lineBox img {top:-240px}
.innerTab_3 .lineBox img {top:-490px}

.page_3 .img-box {text-align:center;position:relative}
.page_3 .img-box .txt-item {position:absolute;height:40px;line-height:40px;background-color:#fff}
.page_3 .img-box .t1 {top:-16px;left:469px;}
.page_3 .img-box .t2 {top:193px;left:621px;}
.page_3 .img-box .t3 {top:193px;left:385px;}
.page_3 .img-box img {height:220px}
.page_3 .box-flex {display:flex;align-items:center;margin-top:10px;margin-left:100px}
.page_3 .box-flex .tit-box {width:200px;text-align:right;flex-shrink:0}
.page_3 .box-flex .tit-box .colorBox {display:inline-flex; transform: translate(0,-2px);}
.page_3 .box-flex .txt {margin:0 10px}
.page_3 .lineBox .toggle {position:absolute}
.page_3 .lineBox .n1 {top:160px;left:50px}
.page_3 .lineBox .n2 {top:160px;left:390px}
.page_3 .lineBox .n3 {top:160px;left:750px}
.page_3 .lineBox img {width:100%}

.img-in {justify-content:center;margin:50px 0}
.buttonContainer {z-index:3}

.page_5 .img-bg {width:320px;height:320px;background:url('../images/2_2_4_bg.svg') no-repeat -38px -20px;background-size:auto 115%;margin:0 auto;border-radius:20px;overflow:hidden}
.page_5 .box-flex {display:flex;align-items:flex-start;margin-top:20px}
.page_5 .box-flex .colorBox {flex-shrink:0}
.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {flex-shrink:0}
.ex-box p {text-align:justify;letter-spacing:1px}

.page_4 .study_guide{z-index: 2;bottom: -30px !important}
.page_4 .page-iframe{width: 100%;
height: 504px;
overflow: hidden;
border: 0;}

.contentsBox .basicSlider_slides>li{display: flex; opacity: 0; visibility: hidden; position:absolute; z-index:-1; top:0}
.contentsBox .basicSlider_slides>li.on{display: flex; opacity: 1; visibility: visible; position:relative; z-index:0; top:0}