.content-container > .content > .bg {
	background-image: url('../../images/ms_41_2_04/ms_41_2_04_05_01/bg.svg');
}

.popup-more-one .bg {
    background-image: url('../../images/ms_41_2_04/ms_41_2_04_05_01/bg_more.svg');
}


/* #quiz-content-01 .scroll-bg {
	background-image: url('../../images/');
	height: 770px;
} */

/* #quiz-content-02 .scroll-bg {
	background-image: url('../../images/ms_41_2_04/ms_41_2_04_05_01/bg_more.svg');
	height: 400px;
} */

.content .tool-container {
	top: 160px;
}


#quiz-content-01 .btn-answer-part:nth-child(1) {
    left: 597px;
    top: 210px;
}

#quiz-content-01 .btn-answer-part:nth-child(2) {
    left: 1192px;
    top: 210px;
}

#quiz-content-02 .btn-answer-part:nth-child(1) {
    left: 597px;
    top: 252px;
}

#quiz-content-02 .btn-answer-part:nth-child(2) {
    left: 1192px;
    top: 252px;
}

.answer {
    position: absolute;
    top: 0;
    width: 640px;
    height: 720px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
}

#quiz-01 .answer,
#quiz-03 .answer {
    left: 0;
    justify-content: flex-start;

}

#quiz-02 .answer,
#quiz-04 .answer {
    right: 0;
    justify-content: flex-end;

}