.img-wrap img{width: 300px; margin:0 auto 30px; display: block;}

.contentsList > li > div{display: flex; align-items: center;}
.contentsList > li > div >div{margin:0 10px}

.contentsList .icon_arrow.big{margin:0 20px}

.bullet.circleDot{top:24px}







