.flex-wrap.center{justify-content: center; align-items: center;}
.flex-wrap.center > div{margin:0 10px;}
.img-wrap{width:660px; margin: 0 auto 30px; position: relative;}
.img-wrap img{width: 100%; display: block;}
.img-wrap .img{position: absolute; top:0; left:0; opacity: 0;}
.img-wrap .exam{position: absolute;}


.on.img{opacity: 1;}

















