.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}

.icon_arrow.eff.complete{animation:none;}
.icon_arrow.eff {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}

.contentsBox .contentsBox{padding: 0 !important;}

.page_1 .lineBox.b3 {
    position: absolute;
    top: -90px; right:0;
}
.page_1 .lineBox.b2,
.page_1 .lineBox.b1{
    padding:20px 70px;
    margin-right:40px;
    position: relative;
}
.page_1 .lineBox img{width:200px; display: block;}
.lineBox .tit{position: absolute; top:20px; left:-30px;}
.page_1 .lineBox .toggle{background-color: transparent; padding:0; position: relative; display: block;}
.page_1 .lineBox .toggle::after{display: none;}
.page_1 .lineBox .toggle.complete .click-finger-Btn{display: none;}
.page_1 .lineBox .toggle .click-finger-Btn{top:50%}
.page_1 .lineBox .answer,
.page_1 .lineBox .aw{position: absolute; top:0;}
.page_1 .lineBox.b3 .n1{
    position: relative;
}
.page_1 .lineBox.b3 .aw{opacity: 0; z-index: 1;}
.page_1 .lineBox.b3 .on .aw{opacity: 1;}
.page_1 .lineBox.b3 .on > img{opacity: 0;}
.page_1 .lineBox.b3 > div + div{margin-top:20px}

#wrap header .title{padding-bottom:10px}

.page_5 h2 .dot,
.page_4 h2 .dot,
.page_3 h2 .dot,
.page_2 h2 .dot,
.page_1 h2 .dot{margin-top: 36px !important;}
h2 {height: 100px;}
.page_5 h2 span{transform: translate(0px, 16px);}

.page_2 .lineBox img{width:200px; display: block;}
.page_2 .lineBox{
    position: relative;
    padding:20px 70px;
    margin: 0 auto;
}

.page_3 .lineBox img{width:200px; display: block;}
.page_3 .lineBox{
    position: relative;
    padding:20px 70px;
    margin: 0 auto;
}

.page_4 .lineBox img{width:200px; display: block;}
.page_4 .lineBox{
    position: relative;
    padding:20px 70px;
    margin: 0 auto;
}
.page_4 .toggle .answer{justify-content: space-around; display: flex; letter-spacing: -1px;}


.page_5 .lineBox img{width:200px; display: block;}
.page_5 .lineBox{
    position: relative;
    padding:20px 70px;
    margin: 0 auto;
}










