.ifr_wrap{position: relative; width: 1060px; height: 100%;}
.page-iframe{position:absolute; z-index:1; top:60px; left:0; overflow:hidden; width:1060px; height:485px; border:0; background:transparent;}
.popup_pages .page-iframe{top:70px; left:0; height:100%; transform-origin: 0 50%; transform: scale(1.03, 1.1);}
.page-iframe .popup_contents .toggle,
.page-iframe + section .toggle{z-index:1;}
.popup_pages>li.whole.on{z-index:10000;}

.popup_closeBtn{z-index: 2;}

.playDataList dl{width: 100%;}
.playDataList dl + dl{margin-top:20px;}
.playDataList dl > div{width: 50%; display: flex; }
.playDataList dl > div dt{max-width:186px; margin-right:20px;}
h2 .icon_o_title{margin-top:8px}

.popBtn.textInBtn.eye{top: -10px; right: 0;}
.title  .titleImg{transform: translate(0,-4px);}
.titleImg {
    position: relative;
    width: 60px;
    height: 60px;
    background: center / contain no-repeat;
    font-size: 40px;
    font-family: 'MaplestoryLight';
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    vertical-align: top;
    padding-top: 0;
}
.titleImg.img_1 { background-image: url('../images/img_bNum_1.png'); }
.titleImg.img_2 { background-image: url('../images/img_bNum_2.png'); }
.titleImg.img_3 { background-image: url('../images/img_bNum_3.png'); }
.titleImg.img_4 { background-image: url('../images/img_bNum_4.png'); }
/* tab */

.imgtoggle{background-color: transparent; border-radius: 20px; width:340px; overflow: hidden;}
.imgtoggle > img{position: absolute; width:100%; }
.imgtoggle img{width:100%;}
.imgtoggle .answer{padding:0;}
.imgtoggle .click-finger-Btn{z-index: 2;top: 160px;left: 210px;}

.tbl-line td{border:2px solid #000; padding:12px 20px}
.tbl-line table{width:100%;margin-top:30px}
.tbl-line td.bg{background-color: #d4f3f6;}