
@charset "utf-8";


section {
  padding: 20px 50px;
}

symbol {
  margin: 0 4px;
}

.noBullet {
  margin-top: 50px;
  height: 220px;
  background: url(../images/4_1/4_1_arrange_1.svg) center / contain no-repeat;
}