
@charset "utf-8";


.flexBox {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.arrow {
  position: absolute;
  top: 126px;
}
.imageBox {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 1200px;
  height: 450px;
}


.imageBox.image_1 {
 background: url(../images/4_3/4_3_arrange_1.svg) center / contain no-repeat;
}
.imageBox.image_2 {
 background: url(../images/4_3/4_3_arrange_2.svg) center / contain no-repeat;
}
.imageBox.image_3 {
 background: url(../images/4_3/4_3_arrange_3.svg) center / contain no-repeat;
}

.arrow[data-toggle-obj="1"] {
  left: 410px;
}
.arrow[data-toggle-obj="2"] {
  left: 755px;
}