
@charset "utf-8";

.imageContainer {
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
  background: url(../images/4_1/4_1_7_01.png) center / auto 380px no-repeat;
}

.balloonText {
  position: absolute;
}
.balloonText_1 {
  top: 84.745px;
  left: 301.765px;
}
.balloonText_2 {
  top: 39.2402px;
  left: 856.747px;
}

.inputQuizContainer {
  text-align: center;
}
.inputQuizContainer input {
  width: 150px;
  margin-right: 5px;
}
