
@charset "utf-8";

.list.dot {
  margin-bottom: 10px;
}
.popupButton {
  top: -75px;
}

.page1 fomula {
  margin-top: 70px;
}
.page1 .square {
  width: 150px;
  height: 68px;
  border: 3px solid #008dd0;
  border-radius: 10px;
  background: white;
}
fomula span:last-of-type {
  color: transparent
}

.page1 symbol {
  top: 2px;
}
.popup_pages > li.min[data-popup-page="1"] {
  width: 980px;
  top: 104px;
  right: 80px;
}
/* page2 */
.page2 img.img_01 {
  height: 426px;
}
.page2 .clickButton,
.page2 .posText,
.page2 .balloonText {
  position: absolute;
}
.page2 .clickButton[data-toggle-obj="1"] {
  top: 192.233px;
  left: 457.864px;
}
.page2 .clickButton[data-toggle-obj="2"] {
  top: 178.252px;
  left: 576.699px;
}
.page2 .posText[data-toggle-target="1"] {
  top: 242.136px;
  left: 410px;
}
.page2 .posText[data-toggle-target="2"] {
  top: 242.136px;
  left: 529.515px;
}
.page2 .balloonText_1 {
  top: 108.284px;
  left: 136.329px;
}
.page2 .balloonText_2 {
    top: 112.066px;
    left: 901.028px;
}
.page2 textarea {
  position: absolute;
  top: 354px;
  left: 200px;
  width: 870px;
}
.page2 .answerText {
  position: absolute;
  top: 358px;
  left: 226px;
  width: 790px;
  display: flex;
  line-height: normal;
}


/* page3 */
.page3 .inputQuizContainer {
  padding-left: 40px;
}
.page3 .inputQuizContainer input {
  width: 150px;
  margin-right: 5px;
}
