
@charset "utf-8";

.imageContainer {
  flex: 0 0 auto;
  width: 100%;
  height: 300px;
  background: url(../images/4_1/4_1_4_01.png) center / auto 250px no-repeat;
}
.list.dot {
  margin-bottom: 10px;
}
.inlineBox {
  display: inline-block;
}

/* page1 */
.page1 .inputQuizContainer {
  padding-left: 40px;
}
.page1 .inputQuizContainer input {
  width: 120px;
  margin-right: 5px;
}

/* page4 */
.page4 .inputQuizContainer {
  padding-left: 40px;
}
.page4 .inputQuizContainer input {
  letter-spacing: -3px;
}



symbol, ins.mathSymbols {
  margin: 0 4px;
}