
@charset "utf-8";

/* .quizContainer {
  background: url(../images/4_2/4_2_4_01.svg) center / contain no-repeat;
}
.quizContainer.step01 {
  background: url(../images/4_2/4_2_4_01_1.svg) center / contain no-repeat, url(../images/4_2/4_2_4_01.svg) center / contain no-repeat;
}
.quizContainer.step02 {
  background: url(../images/4_2/4_2_4_01_2.svg) center / contain no-repeat, url(../images/4_2/4_2_4_01_1.svg) center / contain no-repeat, url(../images/4_2/4_2_4_01.svg) center / contain no-repeat;
}
.quizContainer.step03 {
  background: url(../images/4_2/4_2_4_01_3.svg) center / contain no-repeat,url(../images/4_2/4_2_4_01_2.svg) center / contain no-repeat, url(../images/4_2/4_2_4_01_1.svg) center / contain no-repeat, url(../images/4_2/4_2_4_01.svg) center / contain no-repeat;
}

.formula {
  position: absolute;
  top: 61px;
  left: 632px;
  width: 192px;
  height: 320px;
  background: url(../images/4_2/4_2_4_02.svg) 0 0 / auto 320px no-repeat;
}
.formula[data-step="1"] {
  background-position-x: -192px;
}
.formula[data-step="2"] {
  background-position-x: calc(-192px * 2);
}
.formula[data-step="3"] {
  background-position-x: calc(-192px * 3);
}*/


/* connectLine */
/*.connectLine {
  left: 344px;
}

.connectLine.one {
  top: 242px;
}
.connectLine.one:before {
  width: 160px;
}
.connectLine.one:after {
  top: -24px;
  right: -322px;
  width: 244px;
  height: 32px;
}

.connectLine.ten {
  top: 334px;
}
.connectLine.ten:before {
  width: 190px;
}
.connectLine.ten:after {
  top: -52px;
  right: -251px;
  width: 151px;
  height: 60px;
} */

/* grayBox */
/* .target {
}
.grayBox {
  top: 62px;
  right: 407px;
  width: 62px;
  height: 62px;
}
.grayBox.vertical_2 {
  height: calc(62px * 2);
}
.grayBox.horizon_2 {
  width: calc(62px * 2);
}
.grayBox.horizon_3 {
  width: calc(62px * 3);
}

.target_1 .grayBox.down {
  top: 190px;
}
.target_2 .grayBox.vertical_2 {
  right: calc(218px + 62px);
}
.target_2 .grayBox.one {
  top: 126px;
}
.target_2 .grayBox.ten {
  right: 470px;
}
.target_2 .grayBox.down {
  top: calc(190px + 62px);
}
.target_3 .grayBox.vertical_2 {
  right: calc(218px + (62px * 2));
}
.target_3 .grayBox.down {
  top: calc(190px + (62px * 2));
} */

/* hideBox */
/* .hideBox[data-toggle-target="1"] {
  top: 220px;
  left: 257px;
  width: 80px;
  height: 90px;
}
.hideBox[data-toggle-target="2"] {
  top: 266px;
  left: 158px;
  width: 86px;
  height: 140px;
} */

/* hideAnswer */
/* .hideAnswer {
  top: 450px;
  left: -4px;
}
.hideAnswer > .hideBox {
  top: 0;
  height: 40px;
}
.hideAnswer .pink {
  left: 266px;
  width: 76px;
}
.hideAnswer .blue {
  left: 170px;
  width: 76px;
} */

/* clickButton */
/* .clickButton[data-toggle-obj="1"] {
  top: 188px;
  left: 334px;
}
.clickButton[data-toggle-obj="2"] {
  top: 292px;
  left: 232px;
}
.clickButton[data-toggle-obj="3"] {
  top: 410px;
  left: 332px;
} */

/* popupFomula */
/* .lastFormula,
.lastFormula.active.on {
  top: 320px;
  left: 942px;
  width: 254px;
  height: 255px;
}
.lastFormula.active.on:after,
.lastFormula:after {
  width: 254px;
  height: 255px;
  background: url(../images/4_2/4_2_4_03.svg) center / contain no-repeat;
}

.hideAnswer.on, .hideBox.on {
  opacity: 0;
  visibility: hidden;
} */




.imageFomula {
  width: 100%;
  height: 100%;
  background: url(../images/4_2/4_2_4_01.svg) left 60px center / contain no-repeat;
}
.hideImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.hideImage.one {
  background: url(../images/4_2/4_2_4_01_1.svg) left 60px center / contain no-repeat;
}
.hideImage.ten {
  background: url(../images/4_2/4_2_4_01_2.svg) left 60px center / contain no-repeat;
}
.hideImage.last {
  background: url(../images/4_2/4_2_4_01_3.svg) left 60px center / contain no-repeat;
}

.formula {
  position: absolute;
  top: 61px;
  left: 632px;
  width: 192px;
  height: 320px;
  background: url(../images/4_2/4_2_4_02.svg) 0 0 / auto 320px no-repeat;
}
.formula[data-step="1"] {
  background-position-x: -192px;
}
.formula[data-step="2"] {
  background-position-x: calc(-192px * 2);
}
.formula[data-step="3"] {
  background-position-x: calc(-192px * 3);
}


/* connectLine */
.connectLine {
  left: 344px;
}

.connectLine.one {
  top: 242px;
}
.connectLine.one:before {
  width: 160px;
}
.connectLine.one:after {
  top: -24px;
  right: -322px;
  width: 244px;
  height: 32px;
}

.connectLine.ten {
  top: 334px;
}
.connectLine.ten:before {
  width: 190px;
}
.connectLine.ten:after {
  top: -52px;
  right: -251px;
  width: 151px;
  height: 60px;
}

/* grayBox */
.grayBox {
  top: 62px;
  right: 407px;
  width: 62px;
  height: 62px;
}
.grayBox.vertical_2 {
  height: calc(62px * 2);
}
.grayBox.horizon_2 {
  width: calc(62px * 2);
}
.grayBox.horizon_3 {
  width: calc(62px * 3);
}

.target_1 .grayBox.down {
  top: 190px;
}
.target_2 .grayBox.vertical_2 {
  right: calc(218px + 62px);
}
.target_2 .grayBox.one {
  top: 126px;
}
.target_2 .grayBox.ten {
  right: 470px;
}
.target_2 .grayBox.down {
  top: calc(190px + 62px);
}
.target_3 .grayBox.vertical_2 {
  right: calc(218px + (62px * 2));
}
.target_3 .grayBox.down {
  top: calc(190px + (62px * 2));
} 


/* clickButton */
.clickButton[data-toggle-obj="1"] {
  top: 188px;
  left: 334px;
}
.clickButton[data-toggle-obj="2"] {
  top: 292px;
  left: 232px;
}
.clickButton[data-toggle-obj="3"] {
  top: 410px;
  left: 332px;
} 

/* popupFomula */
.lastFormula,
.lastFormula.active.on {
  top: 320px;
  left: 942px;
  width: 254px;
  height: 255px;
}
.lastFormula.active.on:after,
.lastFormula:after {
  width: 254px;
  height: 255px;
  background: url(../images/4_2/4_2_4_03.svg) center / contain no-repeat;
}
