
@charset "utf-8";

.imageFomula {
  width: 100%;
  height: 100%;
  background: url(../images/4_4/4_4_4_01.svg) left 160px center / contain no-repeat;
}
.hideImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.hideImage.one {
  background: url(../images/4_4/4_4_4_01_1.svg) left 160px center / contain no-repeat;
}
.hideImage.ten {
  background: url(../images/4_4/4_4_4_01_2.svg) left 160px center / contain no-repeat;
}
.hideImage.last {
  background: url(../images/4_4/4_4_4_01_3.svg) left 160px center / contain no-repeat;
}

.formula {
  position: absolute;
  top: 61px;
  left: 732px;
  width: 192px;
  height: 320px;
  background: url(../images/4_4/4_4_4_02.svg) 0 0 / auto 320px no-repeat;
}
.formula[data-step="1"] {
  background-position-x: -192px;
}
.formula[data-step="2"] {
  background-position-x: calc(-192px * 2);
}
.formula[data-step="3"] {
  background-position-x: calc(-192px * 3);
}


/* connectLine */
.connectLine {
  left: 440px;
}

.connectLine.one {
  top: 264px;
}
.connectLine.one:before {
  width: 160px;
}
.connectLine.one:after {
  bottom: 34px;
  left: 160px;
  width: 188px;
  height: 45px;
}

.connectLine.ten {
  top: 342px;
}
.connectLine.ten:before {
  width: 190px;
}
.connectLine.ten:after {
  bottom: 34px;
  left: 190px;
  width: 158px;
  height: 64px;
}

/* grayBox */
.target {
  /* opacity: 1; */
}
.grayBox {
  /* opacity: 1; */
  top: 64px;
  right: 306px;
  width: 62px;
  height: 62px;
}
.grayBox.vertical_2 {
  height: calc(62px * 2);
}
.grayBox.horizon_2 {
  width: calc(62px * 2);
}
.grayBox.horizon_3 {
  width: calc(62px * 3);
}

.target_1 .grayBox.down {
  top: 190px;
}
.target_1 .grayBox.down.one {
  right: 370px;
}
.target_2 .grayBox.vertical_2 {
  right: calc(218px + 62px);
}
.target_2 .grayBox.one {
  top: 126px;
}
.target_2 .grayBox.ten {
  right: 370px;
}
.target_2 .grayBox.down {
  top: calc(190px + 62px);
}
.target_3 .grayBox.vertical_2 {
  right: calc(218px + (62px * 2));
}
.target_3 .grayBox.down {
  top: calc(190px + (62px * 2));
}


/* clickButton */
.clickButton[data-toggle-obj="1"] {
  top: 188px;
  left: 424px;
}
.clickButton[data-toggle-obj="2"] {
  top: 322px;
  left: 308px;
}
.clickButton[data-toggle-obj="3"] {
  top: 420px;
  left: 425px;
}

/* popupFomula */
.lastFormula,
.lastFormula.active.on {
  top: 320px;
  left: 992px;
  width: 254px;
  height: 255px;
}
.lastFormula.active.on:after,
.lastFormula:after {
  width: 254px;
  height: 255px;
  background: url(../images/4_4/4_4_4_03.svg) center / contain no-repeat;
}

/*add*/
.balloonText {
  position: absolute;
  opacity: 0;
  top: 80px;
  right: 30px;
  width: 280px;
  height: 240px;
  padding: 39px 0 0 0;
  background: url(../images/4_4/4_4_4_balloon.svg) center/contain no-repeat;
  box-sizing: border-box;
}
.balloonText symbol {
  top: 0;
  width: 20px;
  height: 20px;
  background-size: auto 20px;
}
.balloonText symbol.multiply {
  background-position-x: calc(-20px * 2);
}
.balloonText symbol.equal {
  background-position-x: calc(-20px * 4);
}
.lastFormula.active.on + .balloonText {
  -webkit-animation: opacityOne 0.5s ease-in 0.5s forwards;
  -ms-animation: opacityOne 0.5s ease-in 0.5s forwards;
  -moz-animation: opacityOne 0.5s ease-in 0.5s forwards;
  -o-animation: opacityOne 0.5s ease-in 0.5s forwards;
  animation: opacityOne 0.5s ease-in 0.5s forwards;
}
@keyframes opacityOne {
  from {opacity: 0;} to {opacity: 1;}
}
@-webkit-keyframes opacityOne {
  from {opacity: 0;} to {opacity: 1;}
}
@-ms-keyframes opacityOne {
  from {opacity: 0;} to {opacity: 1;}
}