
@charset "utf-8";

.imageFomula {
  width: 100%;
  height: 100%;
  background: url(../images/4_5/4_5_4_01.svg) left 60px center / contain no-repeat;
}
.hideImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.hideImage.one {
  background: url(../images/4_5/4_5_4_01_1.svg) left 60px center / contain no-repeat;
}
.hideImage.ten {
  background: url(../images/4_5/4_5_4_01_2.svg) left 60px center / contain no-repeat;
}
.hideImage.last {
  background: url(../images/4_5/4_5_4_01_3.svg) left 60px center / contain no-repeat;
}

.formula {
  position: absolute;
  top: 61px;
  left: 732px;
  width: 192px;
  height: 320px;
  background: url(../images/4_5/4_5_4_02.svg) 0 0 / auto 320px no-repeat;
}
.formula[data-step="1"] {
  background-position-x: -192px;
}
.formula[data-step="2"] {
  background-position-x: calc(-192px * 2);
}
.formula[data-step="3"] {
  background-position-x: calc(-192px * 3);
}


/* connectLine */
.connectLine {
  left: 532px;
}

.connectLine.one {
  top: 194px;
}
.connectLine.one:before {
  width: 256px;
  border-right: none;
  border-bottom-right-radius: 0;
}
.connectLine.one:after {
  content: none;
  bottom: 34px;
  left: 160px;
  width: 188px;
  height: 45px;
}

.connectLine.ten {
  top: 322px;
}
.connectLine.ten:before {
  width: 160px;
}
.connectLine.ten:after {
  bottom: 34px;
  left: 160px;
  width: 44px;
  height: 44px;
}

/* grayBox */
.target {
  /* opacity: 1; */
}
.grayBox {
  /* opacity: 1; */
  top: 64px;
  right: 306px;
  width: 62px;
  height: 62px;
}
.grayBox.vertical_2 {
  height: calc(62px * 2);
}
.grayBox.horizon_2 {
  width: calc(62px * 2);
}
.grayBox.horizon_3 {
  width: calc(62px * 3);
}

.target_1 .grayBox.down {
  top: 190px;
}
.target_1 .grayBox.down.one {
  right: 370px;
}
.target_2 .grayBox.vertical_2 {
  right: calc(218px + 62px);
}
.target_2 .grayBox.one {
  top: 126px;
}
.target_2 .grayBox.ten {
  right: 370px;
}
.target_2 .grayBox.down {
  top: calc(190px + 62px);
}
.target_3 .grayBox.vertical_2 {
  right: calc(218px + (62px * 2));
}
.target_3 .grayBox.down {
  top: calc(190px + (62px * 2));
}


/* clickButton */
.clickButton[data-toggle-obj="1"] {
  top: 158px;
  left: 514px;
}
.clickButton[data-toggle-obj="2"] {
  top: 262px;
  left: 388px;
}
.clickButton[data-toggle-obj="3"] {
  top: 440px;
  left: 515px;
}

/* popupFomula */
.lastFormula,
.lastFormula.active.on {
  top: 320px;
  left: 992px;
  width: 254px;
  height: 255px;
}
.lastFormula.active.on:after,
.lastFormula:after {
  width: 254px;
  height: 255px;
  background: url(../images/4_5/4_5_4_03.svg) center / contain no-repeat;
}