
@charset "utf-8";

.fns_imgBox {
    position:relative;
    width:100%;
    text-align:center;
    margin-top:110px;
}
input {
    position:absolute;
    width:205px;
    text-align:center;
}
input[data-input-obj="1"] {
    top: 33px;
    left: 502px;
}
input[data-input-obj="2"] {
    top: 33px;
    left: 903px;
}

.txt1 {
    position: absolute;
    left: 180px;
    top: 38px;
}
.txt2 {
    position: absolute;
    left: 360px;
    top: 12px;
}
.txt3 {
    position: absolute;
    left: 766px;
    top: 12px;
}