
@charset "utf-8";

.fns_imgBox {
    width:100%;
    text-align:center;
    margin-top:110px;
}

.inputArea {
    position: absolute;
    right: 203px;
    top: 119px;
}

.inputArea input {
    width:205px;
    text-align:center;
}



input.noBox {
    position: absolute;
}
input.noBox[data-input-obj="2"] {
    left: -404px;
    width: 170px;
}
input.noBox[data-input-obj="3"] {
    left: -164px;
    width: 102px;
}