
@charset "utf-8";



.h2Side {
  position:relative;
  top:-7px;
  width:98%;
  text-indent:220px;
  margin:-60px 10px 0;
  word-break: break-word;
}
.h2Side:before {
	display:none !important;
}

.table {
  width: 1210px;
}
.table > ul > li {
    font-size:40px;
    font-family: MapleStoryL;
  }
.table .title,
.table .subTitle {
  text-align: center;
  font-size: 32px;
}


/* 1 page */

/* 2 page */

.powerup .basicSlider[data-slide-container="inner"] .basicSlider_btn.prev {
  left: 200px;
  top: 200px;
}
.powerup .basicSlider[data-slide-container="inner"] .basicSlider_btn.next {
  right:195px;
  top:200px;
}

.page2 .basicSlider_slides {
  height: 545px;
}
.page2 .teacherImage {
  position: absolute;
  top: 67px;
  left: -12px;
  width: 251px;
  height: 524px;
  background: url(../images/4_powerup/4_powerup_teacher.png) center / contain no-repeat;
}

.page2 .clickButton {
  top: 260px;
  left: 240px;
}

.page2 .textBox {
  position: relative;
  width: 710px;
  height: 370px;
  margin: 20px auto 0;
  padding-top: 45px;
  box-sizing: border-box;
  background: url(../images/4_powerup/4_powerup_page2_bg.png) top / contain no-repeat;
}
.page2 .textBox > .number {
  position: absolute;
  top: 10px;
  left: 17px;
  width: 50px;
  color:#cace95;
  text-align: center;
  font-size: 63px;
  font-family:NSquareREB;
}
.page2 .textBox > .text {
  position:relative;
  top:15px;
  text-align:center;
}
.page2 .pwu_exCont {
    display: table;
    position: absolute;
    top: 249px;
    left: 300px;
}

.page2 [data-slides="inner"] > li:nth-of-type(2) .textBox {
  background: url(../images/4_powerup/4_powerup_page2_bg2.png) top / contain no-repeat;
}
.page2 [data-slides="inner"] > li:nth-of-type(2) .textBox > .number {
    left: 15px;
    top: 8px;
    color:#e7bccc;
}
.page2 [data-slides="inner"] > li:nth-of-type(2) .textBox > .text {
    top: 55px;
  }
.page2 [data-slides="inner"] > li:nth-of-type(2) .pwu_exCont {
    top:245px;
}

.page2 input {
  position: absolute;
  left: 205px;
  width: 220px;
  font-size: 43px;
}
.page2 input.input_1 {
  top: 97px;
}
.page2 input.input_2 {
  top: 165px;
}


.imgSize2 {
    width:915px;
    vertical-align:middle;
}

/* page3 */
.page3 .table {
  margin-top: 130px;
}
.page3 .table > ul > li {
    height:70px;
}

.page3 .table > ul:nth-child(1) {
  width:13%;
}
.page3 .table > ul:nth-child(2) {
  width:29%;
}
.page3 .table > ul:nth-child(3) {
  width:29%;
}
.page3 .table > ul:nth-child(4) {
  width:29%;
}

.page3 .table input {
  font-family: NSquareRB;
}


/* page4 */
.page4 .table {
    margin-top: 100px;
}
.page4 .table > ul > li:nth-child(1) {
  height:70px;
}
.page4 .table > ul > li:nth-child(2) {
  height: 200px;
  flex: none;
  display: block;
  padding: 0 10px;
}
.page4 .row {
  display: flex;
  align-items: center;
  margin-top: 26px;
}

.page4 .row > img {
  display: inline-block;
  position: relative;
  width:56px;
}
.page4 .row input {
  border-bottom: 2px solid #000;
  border-radius: 0;
  font-family: 'NSquareRB';
  font-size: inherit;
  text-align: left;
}

  /* page5 */
.page5 .imageBox {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 333px;
    height: 463px;
    background: url(../images/4_powerup/4_powerup_page5_bg1.svg) center / contain no-repeat;
}
.page5 .size1 {
    width:850px;
    margin-left:10px;
}
.page5 .mt {
    margin-top:150px;
    margin-left:10px;
}
.page5 .mt:before {
  display:none !important;
}
.page5 .balloonText {
    top: 176px;
    right: 89px;
}
.page5 .balloonText {
    position: absolute;
    top: 181px;
    right: 68px;
    font-family: MapleStoryL;
    text-align: center;
  }
.page5 .quizButtons.answer {
    right:46px;
}
.page5 .answerText {
  position: absolute;
  display: flex;
  line-height: normal;
}
.page5 .answerText.text_1 {
  top: 146px;
  left: 26px;
}
.page5 .answerText.text_2 {
  top: 437px;
  left: 26px;
  width: 816px;
  white-space: pre-line;
  word-break: break-all;
}
/*.page5 .answerMode {*/
/*  background: url(../images/4_powerup/4_powerup_page5_icon1.svg) 20px 7px / 60px 51px no-repeat;*/
/*  padding-left: 85px;*/
/*}*/

/* pop*/
.popup_pages > li {
  top: 96px;
  right: 80px;
}