.contentsBox{padding:0;}
.img1{width:100%;height: 583px;background: url(../images/suh_h_0301_04_0007_201_1/suh_h_0301_04_0007_201_1_1.png) no-repeat 50% 0px / 123%;position: relative;}

.img1 .balloon{text-align: center; }
.img1 .b1{top:20px;left:60px;width: 350px;}
.img1 .b2{top: 10px;left: 780px;width: 310px;}

.img1 .b2::after{left:90% !important}

.img2{width:100%;height: 583px;background: url(../images/suh_h_0301_04_0007_201_1/suh_h_0301_04_0007_201_1_2.png) no-repeat 59% 50% / 120%;position: relative;}
.img2 .text{
    position: absolute;
}
.img2 .n1{top: 120px;left: 530px;}
.img2 .n2{font-size:32px; top:410px;left: 100px;}
.img2 .n3{font-size:32px; top:410px;left: 360px;}
.img2 .n4{font-size:32px;top:410px;left: 658px;}
.img2 .n5{font-size:32px;top:410px;left: 931px;}


.img3{width:100%;height: 583px;background: #ebd9ea url(../images/suh_h_0301_04_0007_201_1/suh_h_0301_04_0007_201_1_3.png) no-repeat 50% 60px / cover;position: relative;}
.img3 .balloon{text-align: center; }
.img3 .b1{top:10px;left: 60px;}
.img3 .b2{top:10px;left: 440px;}
.img3 .b3{top:10px; left:770px;}