.page_1 .img_box{position: relative;display: flex;justify-content: center;}
.page_1 .img_box .text_01{position: absolute;top:35px;left:420px;font-size: 28px;}
.page_1 .img_box .text_02{position: absolute;top:150px;left:300px;font-size: 28px;}
.page_1 .textAlignC {display: flex;align-items: center;justify-content: center;}
.page_1 .bullet.exam{margin-top: 12px;}


.page_2 .img_box{position: relative;display: flex;justify-content: center;}
.page_2 .textAlignC {display: flex;align-items: center;justify-content: center;}
.page_2 .bullet.exam{margin-top: 12px;}


.ex-box {display:flex;align-items:center;text-align:justify;}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important;flex-shrink:0}



.img_calc{height:40px;vertical-align:middle;position:relative;top:-4px}
