/* .page_2 .colorBox{display: inline-block;} */
/* .page_2 .toggle{background-color: #f6e7d4;padding: initial;} */

.ex-box {display:flex;align-items:center;text-align:justify;}
.ex-box .exam {align-self:flex-start;margin:6px 10px 0 0 !important;flex-shrink:0}

.page_1 .toggle{background:transparent;width: 100%;height: 100%;}
.page_1 .tableContainer{margin-top:15px;}
.page_1 .tableContainer p{font-size:0.9em;}