.suhi [class^="page_"] section {padding:0;}

.complete_txt {display:none;}
.complete .complete_txt {display:block;}
.toggle .answer{position: relative;text-align: justify;}
.toggle .answer.ico_exam{padding-left:60px;}
.toggle .answer .bullet.exam{position: absolute;top:7px;left:0;margin:0;}

.suhi h2 .icon_x_title, .suhi h2 .icon_tri_title {margin:11px 0 0;}

.icon_way {
	position: relative;
	display: inline-block;
	height: 36px;
	padding:0 10px;
	color:#000;
	text-align: center;
	border-radius: 10px;
	background-color: #d4f3f6;
	box-sizing: border-box;
    font-family: YGJAL;
    font-size: 21px;
    line-height: 36px;
}
h2 .icon_way,h3 .icon_way {
    margin: 5px 0 0 0;
    vertical-align: 7px;
}
.wayContainer {
    position: relative;
    margin: 0 auto;
    min-width: 230px;
    padding: 4px;
    background-color: #d4f3f6;
    border-radius: 15px;
    box-sizing: border-box
}
.wayContainer .icon_way {
    position: absolute;
    top: 0;
    left: 0;
	height:28px;
	font-size: 15px;
    line-height: 28px;
	border-radius: 10px 0;
}
.wayContainer .inner {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    pointer-events: auto
}

.divide_box {display:inline-flex;align-items:start;}
.divide_box .row span {display:block;width:60px;height:48px;padding:5px;text-align:center;}
.divide_box .row span {border-bottom:3px solid #000;}
.divide_box .row span:last-child {border-bottom:3px solid transparent;}
.divide_box .row.integer span {width:auto;}
.divide_box .row.integer span {border-bottom:3px solid transparent;}
.divide_box .row.integer + .row span {position:relative;}
.divide_box .row.integer + .row span:after {display:block;content:"";position:absolute;left:-6px;bottom:-3px;width:18px;height:58px;background:url('../images/divide-black.png') no-repeat center/contain;}
.divide_box .row.integer + .row span:last-child:after {display:none;}

.toggle .answer {line-height:48px;}
.toggle .answer .divide_box .row span {border-bottom:3px solid #00a0ff;}
.toggle .answer .divide_box .row span:last-child {border-bottom:3px solid transparent;}
.toggle .answer .divide_box .row.integer span {border-bottom:3px solid transparent;}
.toggle .answer .divide_box .row.integer + .row span:after {display:block;content:"";position:absolute;left:-6px;bottom:-3px;width:18px;height:58px;background:url('../images/divide-blue.png') no-repeat center/contain;}
.toggle .answer .divide_box .row.integer + .row span:last-child:after {display:none;}

.suhi .page_13 h2>ins.number {margin:8px 0 0;}
.suhi .page_13 .lineBox {display:flex;justify-content:center;width:795px;margin:0 auto;}
.suhi .page_13 .lineBox + .lineBox {margin:20px auto 0;}
.suhi .page_13 .lineBox ul li {display:flex;justify-content:center;}
.suhi .page_13 .lineBox ul li > div {width:240px;}

.page_1 .quizBox {position:relative;width:225px;margin:0 auto;}
.page_1 .quizBox .line {position:absolute;left:-55px;top:30px;width:40px;height:75px;border:2px solid #000;border-right:none;}
.page_1 .quizBox > div {margin:20px 0 0;}
.page_1 .quizBox > div:first-child {margin:0;}

.page_2 .quizBox {position:relative;width:320px;margin:0 auto;}
.page_2 .quizBox .line {position:absolute;left:-55px;top:30px;width:40px;height:75px;border:2px solid #000;border-right:none;}
.page_2 .quizBox > div {margin:20px 0 0;}
.page_2 .quizBox > div:first-child {margin:0;}

.suhi .page_3  .study_guide {top:-15px;}
.page_3 .tableContainer {margin:40px 0 0;}
.page_3 .tableContainer table td {padding:0;}
.page_3 .choice {position:relative;}
.page_3 .choice .icon {position:absolute;left:50%;top:50%;margin:-25px 0 0 -25px;}

.page_4 .quizBox {position:relative;width:730px;margin:0 auto;}
.page_4 .quizBox > div {display:flex;justify-content:space-around;margin:20px 0 0;}

.page_5 .toggle {background:none;}
.page_5 .dapCheckBtn {z-index:3;}
.page_5 .page_5_1 .way_wrap {width:720px;margin:0 auto;}
.page_5 .page_5_2 .way_wrap {width:700px;margin:0 auto;}
.page_5 .page_5_2 .way_wrap .toggle .answer {line-height:48px;display:flex;align-items:center;}
.page_5 .page_5_2 .way_wrap .toggle .answer .icon_arrow {margin:-0 10px;}

.page_6 .imgContainer {position:relative;padding:160px 0 0;}
.page_6 .imgContainer img {width:100%;}
.page_6 .imgContainer .balloon {position:absolute;top:0;}
.page_6 .imgContainer .balloon1 {left:0;}
.page_6 .imgContainer .balloon2 {left:220px;}
.page_6 .imgContainer .balloon3 {left:615px;}
.page_6 .imgContainer .balloon4 {left:806px;}
