.popup_pages>li.whole h2.pop-tit{background-color:transparent !important; align-self:flex-start; padding:20px; }
.popup_pages .downloadBtn,
.popup_pages .moveButtonContainer{bottom:20px;}
.popup_pages .buttonContainer{right:40px; bottom:20px;}
ins.bullet.number {display:inline-flex;justify-content:center;align-items:center;margin: 6px 10px 0 0;width: 40px;height: 40px;text-align: center;font-size: 22px;line-height:36px;letter-spacing: 0;border-radius: 10px;color: #6dbc4b;border: 2px solid #6dbc4b;background-color: #fff;}
img{width:100%}
.txt-red {color:#ef4e4b !important}
.txt-green {color:#00b050 !important}
.txt-orange {color:#f79646 !important}

.math-equal-wrap {position:relative}
.equal-group {display:flex;align-items:center}
.equal-group .ic-equal {margin:3px 10px 0}
.equal-solve {position:relative;display:flex;flex-direction:column}
.equal-solve [class*='solve-line-'] {position:relative;height:20px;border:2px solid #d53181}
.equal-solve [class*='solve-line-']:before,
.equal-solve [class*='solve-line-']:after {content:'';position:absolute;width:20px;height:2px;background-color:#d53181}
.equal-solve [class*='solve-line-']:before {left:-10px}
.equal-solve [class*='solve-line-']:after {right:-10px}
.equal-solve .solve-line-bottom {border-top:none}
.equal-solve .solve-line-bottom:before,
.equal-solve .solve-line-bottom:after {top:-2px}
.equal-solve .solve-num {text-align:center}
.equal-solve .solve-num img {width:16px;vertical-align:0}

.page_0 .img-wrap {position:relative;margin-top:220px;text-align:center}
.page_0 .img-wrap > img {width:auto;height:80px;vertical-align:top}
.page_0 .img-wrap .txt-group {position:absolute;top:-130px;left:20px;right:20px;display:flex}
.page_0 .img-wrap .txt-group .txt-item {flex:1 auto;text-align:center}

[class*='page_1'] .flex-box {justify-content:center}
[class*='page_1'] .flex-box > .toggle.circle {margin:auto 60px 0}
[class*='page_1'] .flex-box > .flex-item {flex:initial;display:flex;flex-direction:column;align-items:center}
[class*='page_1'] .flex-box > .flex-item > img {width:280px;margin-bottom:20px}
.pop_page_1 .flex-box > .flex-item > img {width:300px}
.pop_page_1 .solve-desc {letter-spacing:-.5px}
.pop_page_1 .solve-desc .equal-icon {width:16px;margin:0 4px;vertical-align:0}

.pop_page_2 .contents-box .title .icon_bogi {height:36px;margin:8px 4px 0 4px!important;border-radius:10px;vertical-align:top}
.pop_page_2 .contents-box .title .icon_bogi:after {font-size:21px;line-height:36px}

[class*='page_3'] .ic-equal {width:auto}
[class*='page_3'] img[src*="equalIcon"].ic-equal {height:11px;vertical-align:10px}
[class*='page_3'] img[src*="inequalIcon"].ic-equal {height:30px;vertical-align:0}
[class*='page_3'] .flex-item {display:flex;justify-content:center;align-items:center}
[class*='page_3'] .flex-item > .toggle.circle {margin:0 15px}
.pop_page_3 .toggleBlank.circle {margin-top:4px}
.pop_page_3 .contentsList.desc {display:flex}
.pop_page_3 .contentsList.desc > li {flex:1 100%}
.pop_page_3 .equal-solve.n1 {width:113px;margin-left:38px}
.pop_page_3 .equal-solve.n2 {width:112px;margin-left:59px}
.pop_page_3 .equal-solve.n3 {width:102px;margin-left:18px}
.pop_page_3 .equal-solve.n3 [class*='solve-line-']:before {left:-20px;width:40px}

[class*='page_4'] .colorBox.green {display:flex;justify-content:center;align-items:center;width:320px;margin:20px auto 0;padding:20px}
[class*='page_4'] .colorBox.green .toggleBlank.circle {width:60px;height:60px;margin:0 20px;border:none}
.page_4 .colorBox.green + .flex-box {margin-top:-40px}
.page_4 .colorBox.green + .flex-box .student {margin-bottom:40px}
.page_4 .colorBox.green + .flex-box + .flex-box {margin-top:-40px}
[class*='page_4'] .flex-box {align-items:center}
[class*='page_4'] .flex-box > .student {flex-shrink:0;display:flex;flex-direction:column;justify-content:center;align-items:center;margin-right:60px}
[class*='page_4'] .flex-box > .student > img {width:80px}
[class*='page_4'] .flex-box > .balloon {flex:1 auto;position:relative;text-align:center}
[class*='page_4'] .flex-box > .balloon:after {top:calc(50% - 10px)}
[class*='page_4'] .flex-box > .balloon .toggle .answer {text-align:left}
.pop_page_4 .desc {letter-spacing:-1px}
.pop_page_4 .desc .ic-equal {width:16px;margin:0 4px;vertical-align:0}
.pop_page_4 .flex-box {margin-top:30px}
.pop_page_4 .flex-box > .student {width:120px}
.pop_page_4 .flex-box > .student .colorBox {width:100% !important;margin-top:0;padding:20px;text-align:center}

[class*='page_5'] .lineBox.green {width:850px;margin:20px auto 0;padding:20px}
[class*='page_5'] .lineBox.green .flex-box {justify-content:space-around}
[class*='page_5'] .lineBox.green .flex-item {flex:initial;position:relative;display:flex;justify-content:center;align-items:center;flex-direction:column;width:200px}
[class*='page_5'] .lineBox.green .flex-item .bullet.number {position:absolute;top:0;left:0;z-index:1;margin:0}
[class*='page_5'] .lineBox.green .flex-item > img {width:auto;height:120px;margin:20px 0}
[class*='page_5'] .lineBox.green .flex-item .colorBox {width:100%;text-align:center}
[class*='page_5'] .toggle .bullet.number {margin:0}
.pop_page_5 .desc {letter-spacing:-1px}
.pop_page_5 .desc .icon_arrow {margin-left:10px}
.pop_page_5 .desc .ic-equal {width:16px;margin:0 4px;vertical-align:0}
.pop_page_5 .desc .bullet.number {margin:0;vertical-align:4px}

.pop_page_6 .desc {letter-spacing:-1px}