
.quiz-input-text .answer {
    top: -30px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 952px;
    top: 838px;
    width: 230px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 612px;
    top: 665px;
    width: 571px;
}
#quiz-03 .input-cont:nth-child(1) {
    left: 953px;
    top: 838px;
    width: 230px;
}

#quiz-03 .input-cont:nth-child(2) {
    left: 436px;
    top: 665px;
    width: 748px;
}

#quiz-01 .input-cont:nth-child(2) .answer{
    top: -48px;
    left: 123px;
}

#quiz-03 .input-cont:nth-child(2) .answer{
    top: -48px;
    left: 48px;
}