.content-container > .content > .bg {
    background-image: url(../images/ms_42_1_02_05_01/bg.svg);
    /* background-image: url(../images/04.png); opacity: 0.7; */
}
/* 보충 문제 bg */
.popup-more-one > .bg {
    background-image: url(../images/ms_42_1_02_05_01/bg_popup_more.svg);
}

#quiz-01 .input-cont {
    width: 60px;
}
/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    left: 321px;
    top: 329px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 321px;
    top: 409px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 721px;
    top: 329px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 711px;
    top: 409px;
    width: 80px;
}
#quiz-01 .input-cont:nth-child(5) {
    left: 1095px;
    top: 329px;
}
#quiz-01 .input-cont:nth-child(6) {
    left: 1095px;
    top: 409px;
}

.btn-answer-part:nth-child(1) {
    left: 388px;
    top: 376px;
}
.btn-answer-part:nth-child(2) {
    left: 783px;
    top: 376px;
}
.btn-answer-part:nth-child(3) {
    left: 1160px;
    top: 376px;
}

#quiz-02 .input-cont {
    width: 60px;
    margin-top: 31px;
}
/* 입력 퀴즈 */
#quiz-02 .input-cont:nth-child(1) {
    left: 321px;
    top: 329px;
}
#quiz-02 .input-cont:nth-child(2) {
    left: 321px;
    top: 409px;
}
#quiz-02 .input-cont:nth-child(3) {
    left: 724px;
    top: 329px;
}
#quiz-02 .input-cont:nth-child(4) {
    left: 714px;
    top: 409px;
    width: 80px;
}
#quiz-02 .input-cont:nth-child(5) {
    left: 1095px;
    top: 329px;
}
#quiz-02 .input-cont:nth-child(6) {
    left: 1095px;
    top: 409px;
}

.popup-more-one .btn-answer-part:nth-child(1) {
    left: 388px;
    top: 407px;
}
.popup-more-one .btn-answer-part:nth-child(2) {
    left: 798px;
    top: 407px;
}
.popup-more-one .btn-answer-part:nth-child(3) {
    left: 1160px;
    top: 407px;
}

