.content-container > .content > .bg {
    background-image: url(../images/ms_42_1_06_07_01/bg.svg);
    /* background-image: url(../images/07.png); opacity: 0.7; */
}

/* 보충 문제 bg */
.popup-more-one > .bg {
    background-image: url(../images/ms_42_1_06_07_01/bg_popup_more.svg);
}

#quiz-01 .input-cont {
    width: 60px;
}
#quiz-01 .input-cont:nth-child(1) {
    left: 965px;
    top: 508px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 1048px;
    top: 468px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 1038px;
    top: 548px;
    width: 80PX;
}



#quiz-02 .input-cont {
    width: 60px;
    margin-top: 30px;
}
#quiz-02 .input-cont:nth-child(1) {
    left: 965px;
    top: 508px;
}
#quiz-02 .input-cont:nth-child(2) {
    left: 1048px;
    top: 468px;
}
#quiz-02 .input-cont:nth-child(3) {
    left: 1048px;
    top: 548px;
    /* width: 80PX; */
}
