.content-container > .content > .bg {
    background-image: url(../images/ms_42_1_02_04_01/bg.svg);
    /* background-image: url(../images/04.png); opacity: 0.7; */
}

.popup-more-one > .bg {
    background-image: url(../images/ms_42_1_02_04_01/bg_popup_more.svg);
}

#quiz-01 .input-cont {
    width: 60px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 260px;
    top: 199px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 559px;
    top: 239px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 886px;
    top: 239px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 444px;
    top: 377px;
}
#quiz-01 .input-cont:nth-child(5) {
    left: 388px;
    top: 486px;
}
#quiz-01 .input-cont:nth-child(6) {
    left: 497px;
    top: 486px;
}
#quiz-01 .input-cont:nth-child(7) {
    left: 626px;
    top: 486px;
}
#quiz-01 .input-cont:nth-child(8) {
    left: 738px;
    top: 486px;
}
#quiz-01 .input-cont:nth-child(9) {
    left: 863px;
    top: 486px;
}

.btn-answer-part:nth-child(1) {
    left: 1158px;
    top: 151px;
}
.btn-answer-part:nth-child(2) {
    left: 508px;
    top: 454px;
}

#quiz-02 .input-cont {
    width: 60px;
    margin-top: 20px;
}

#quiz-02 .input-cont:nth-child(1) {
    left: 263px;
    top: 238px;
}
#quiz-02 .input-cont:nth-child(2) {
    left: 556px;
    top: 278px;
}
#quiz-02 .input-cont:nth-child(3) {
    left: 892px;
    top: 278px;
}
#quiz-02 .input-cont:nth-child(4) {
    left: 437px;
    top: 392px;
}
#quiz-02 .input-cont:nth-child(5) {
    left: 381px;
    top: 486px;
}
#quiz-02 .input-cont:nth-child(6) {
    left: 491px;
    top: 486px;
}
#quiz-02 .input-cont:nth-child(7) {
    left: 619px;
    top: 486px;
}
#quiz-02 .input-cont:nth-child(8) {
    left: 732px;
    top: 486px;
}
#quiz-02 .input-cont:nth-child(9) {
    left: 854px;
    top: 486px;
}

.popup-more-one .btn-answer-part:nth-child(1) {
    left: 1158px;
    top: 222px;
}
.popup-more-one .btn-answer-part:nth-child(2) {
    left: 508px;
    top: 454px;
}
