.icon_arrow.eff.complete{animation:none;}
.icon_arrow.eff {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}


.math_calc_table.type-2{width:150px;}
.math_calc_table .answer{letter-spacing: 29px;}

.page_1 .lineBox{ padding: 30px}
.page_1 .contentsList > li > div{display: flex; align-items: center; }
.page_1 .flex-wrap + .flex-wrap{margin-left:100px}
.page_1 .icon_arrow {margin:0 15px 0 15px !important;}

.page_1 .img-wrap{width:100%; position: relative; margin:40px 0 20px; }
.page_1 .img-wrap img{width: 100%;}
.page_1 .txt{letter-spacing: 63px;width: 1050px;}


.page_2 .study_guide{top:-20px !important}
.page_2 .img-wrap{width:100%; position: relative;padding-top:30px}
.page_2 .img-wrap img{width:100%}

.page_2 .dragLineContainer > div{position: absolute;}
.page_2 .t1{top: 57px;}
.page_2 .t2{top: 205px;}
.page_2 .t3{top: 352px;}
.page_2 .l1{left: 31px;}
.page_2 .l2{left: 503px;}
.page_2 .l3{left: 844px;}
.page_2 .dragLineContainer,
.page_2 .dragwrap{position: absolute; top:0; lefT:0; width: 100%; height: 100%;;}
.page_2 .dragwrap > div{position: absolute;}

.page_2 .left_1{left: 266px;} 
.page_2 .left_2{left: 460px;} 
.page_2 .left_3{left: 610px;} 
.page_2 .left_4{left: 808px;} 

.page_2 .top_1{top: 83px;} 
.page_2 .top_2{top: 231px;} 
.page_2 .top_3{top: 378px;} 


.page_3 .img-wrap{width:100%; position: relative;padding: 50px 0;}
.page_3 img{width:100%;}
.page_3 .img-wrap > div{position: absolute;}
.page_3 .img-wrap .txt{letter-spacing: 240px;
top: 240px; left: -8px;width: 1380px;}
.page_3 .img-wrap .toggle{top: 300px; lefT: 520px;}
.page_3 .img-wrap .icon_arrow{transform: rotate(-90deg);position: absolute;top: -60px;left: 20px;}

.page_4 .img-wrap{width:100%; position: relative;padding: 50px 0;}
.page_4 img{width:100%;}
.page_4 .img-wrap > div{position: absolute;}
.page_4 .img-wrap .txt{letter-spacing: 147px;
top: 100px; left: -8px;width: 1380px;}
.page_4 .img-wrap .toggle.n1{top: 160px; lefT: 412px;}
.page_4 .img-wrap .toggle.n2{top: 160px; lefT: 771px;}
.page_4 .img-wrap .toggle.n3{top: 160px; lefT: 902px;}
.page_4 .img-wrap .icon_arrow{transform: rotate(-90deg);position: absolute;top: -60px;left: 20px;}

.page_5 .fimg-wrap{width:100%; position: relative;padding: 50px 0;}
.page_5 img{width:100%; margin-top:60px;display: block;}
.page_5 .balloon{padding:16px 12px; text-align: center;}
.page_5 .b1{top: 40px; left: 70px;}
.page_5 .b2{top: 40px; left: 780px;}
.page_5 .b1::after{left: 179px !important;}
.page_5 .b2::after{left: 70px !important;}











.page_6 .img-wrap{width: 753px; position: relative; margin:0 auto}
.page_6 img{width: 100%;/* height: 97%; */}
.page_6 .img-wrap > div{position: absolute;}
.page_6 .img-wrap .b1{top: 50px;left: -140px; text-align:center; width:210px}
.page_6 .img-wrap .b2{top: 60px;left: 750px; text-align:center; width:210px}
.page_6 .img-wrap .n1{top: 329px; lefT: 17px;text-align: center;}
.page_6 .img-wrap .n2{top: 330px; lefT: 382px;text-align: center;width: 380px;}
.page_6 .q1{position: absolute; top: 320px; left: 137px; justify-content: center;width: 400px; margin:0;}
.page_6 .q2{position: absolute; top: 320px; left: 550px; justify-content: center;width: 400px; margin:0;}
.page_6 .q1 > div,
.page_6 .q2 > div{position: absolute;}
.page_6 .t1{top: 30px; lefT: 49px;}
.page_6 .t2{top: 9px; lefT: 275px;background: transparent;}










