#wrap header .title{padding-bottom:10px}

.math_calc_table.class3.type-time  tr td{padding:5px 1px !important; height: 60px; min-width:60px;max-width:60px; text-align: right;}
.math_calc_table.class3.type-time  tr td[colspan="2"]{min-width:60px;max-width:60px;}
.math_calc_table.class3.type-time  tr td.gap{min-width: 80px;max-width: 80px;text-align: left;}
.math_calc_table.class3.type-time  tr td.gap:last-child{min-width:55px;max-width:55px; text-align: left;}
.math_calc_table.class3.type-time  tr:first-child td{padding-bottom:20px !important; height: 75px;}
.math_calc_table.class3.type-time .toggle .answer {
    position: absolute;
    right: 5px;
    letter-spacing: 0 !important;
    text-align: right !important;
    top: 2px;
}
.math_calc_table.class3.type-time .toggle {
    height: calc(100% - 4px);
    margin-top: 2px;
    width: 100%;
    margin-left: 4px;
}



.page_1 .img-wrap img{width: 110%;position: absolute;top: -100px;left: -60px;}
.page_1 .img-wrap{position: relative; width: calc(100% + 142px);margin-left: -69px;margin-top: -28px;overflow: hidden;height: 572px;}
.page_1 table{position: absolute;text-align: center;font-size: 40px;width: 807px;top: 140px;left: 205px;table-layout: fixed;}
.page_1 .txt{position: absolute;text-align: center;top: 32px;left: 428px;font-size: 50px;}
.page_1 table td{height: 85px;}

.page_2 .textAlignC .bullet{transform: translate(0, 5px);}

.page_3 .flex-wrap{justify-content: center; margin-top:40px}

.characterImg{position: absolute; top: 270px; left: 830px;}