
.contentsBox .basicSlider_slides>li{display: flex; opacity: 0; visibility: hidden; position:absolute; z-index:-1; top:0}
.contentsBox .basicSlider_slides>li.on{display: flex; opacity: 1; visibility: visible; position:relative; z-index:0; top:0}.page_1 .flexListContainer{flex-direction: column; margin:200px 0 50px; padding-left:30px}



.page_1 .flex-wrap{align-items: stretch; width: 100%; justify-content: space-between; margin-top:30px}
.page_1 .flex-item{width:40%; text-align: center; display: flex; flex-direction: column; position: relative; padding-top:90px; align-items: center; justify-content: center;   box-sizing: border-box;}
.page_1 .flex-item .toggle{margin:0 40px 0 0;}

.page_1 .flex-item .colorBox{display: inline-block; position: absolute; top:0; left:50%; transform: translate(-50%, 0);}
.page_1 .flex-item {display: flex; align-items: center; justify-content: center; flex-direction: row;}
.page_1 .flex-item  img{margin-right:30px;}
.page_1 .lineBox{padding:30px 30px 50px}
.page_1 .icon_arrow{position: absolute;top: 323px;left: 500px;}


.page_2 .flex-wrap{
    width:100%;
    position: relative;
    margin-top: 100px;
}
.page_2 .flex-wrap img{width:700px;}
.page_2 .flex-wrap .text{position: absolute;top: 85px;left: 426px;}
.page_2 .flex-wrap .n1{position: absolute;top: 10px;left: 740px;}
.page_2 .flex-wrap .n2{position: absolute;top: 150px;left: 740px;}


.page_3 .img-wrap{position: relative; width: 100%; display: flex; justify-content: center; align-items: center; margin:0 0 20px}
.page_3 .img-wrap .icon_arrow{margin: 0 20px;}
.page_3 .img-wrap .n1{width: 480px;}
.page_3 .img-wrap .n2{width: 260px; background: url(../images/suhi_h_0301_03_0006_3.png) no-repeat 0 0 / 100%; height: 120px; text-align: center; padding-top:72px}

.page_3 .basicSlider.contentsBox{padding: 0; }
.page_4 .basicSlider.contentsBox{padding: 0; }

.moveButtonContainer{width: auto; left:50%; transform: translate(-50%, 0);}
.pop_page_1 .icon_arrow{margin: 0 10px;}

.page_4 .img{height:180px; display: block; margin:0 auto}
.page_4 .flex-wrap{width:100%; justify-content: space-between;}   
.page_4 .flex-wrap > div{width:50%; margin:0 10px;position: relative;}
.page_4 .basicSlider_slides{height: 513px;}
.page_4 .flex-wrap{align-items: stretch; width: 100%; justify-content: space-between; margin-top:30px}
.page_4 .flex-item{width:40%;  position: relative; padding-top:90px; display: block;   box-sizing: border-box;}
.page_4 .flex-item .colorBox{display: inline-block; position: absolute; top:0; left:50%; transform: translate(-50%, 0);}



.page_5 .img-wrap{margin:10px auto}
.page_5 .img-wrap img{width: 100%;}

.pop_page_3 .flex-wrap{align-items: center;}
.pop_page_3 .flex-wrap img{width:60px; margin:0 30px; transform: translate(0,3px);}
.pop_page_3 .dotList>li.n2:before{margin-top:41px}

.blankBox.w40{
    min-width:40px !important;
    min-height:40px !important;
    max-width:40px !important;
    max-height:40px !important;
    transform: translate(0,4px);
}

.pop_page_5 .flex-wrap{align-items: center;}
.pop_page_5 .flex-wrap .icon_arrow{margin: 0 10px;}






