.img-box:nth-child(2) {
    z-index: 1;
}

.img-box:nth-child(3) {
    position: absolute;
    top: 2px;
    left: 80px;
}

.bullet-text .img-box {
    position: relative;
    left: -40px;
}

.quiz-input-text .input-cont {
    width: 150px;
}

.quiz-input-text .input-cont:nth-child(1) {
    top: 220px;
    left: 266px;
}

.quiz-input-text .input-cont:nth-child(2) {
    top: 220px;
    left: 416px;
}

.quiz-input-text .input-cont:nth-child(3) {
    top: 220px;
    left: 566px;
}

.quiz-input-text .input-cont:nth-child(4) {
    top: 220px;
    left: 715px;
}

.quiz-input-text .input-cont:nth-child(5) {
    top: 220px;
    left: 865px;
}

.quiz-input-text .input-cont:nth-child(6) {
    top: 220px;
    left: 1016px;
}