/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: 2px 0 0 33px;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 120px;
    left: 99px;
    top: 41px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 120px;
    left: 973px;
    top: 186px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 120px;
    left: 439px;
    top: 334px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 120px;
    left: 467px;
    top: 420px;
}
