.app-drawing-tool {
    top: 120px;
}

/* 그냥 퀴즈 */
#quiz-01 {
    position: absolute;
    left: 0;
    /* top: 270px; */
}
#quiz-01 .base,
#quiz-01 .answer {
    pointer-events: none;
    position: absolute;
    left: 0px;
    top: 0px;
}