.content-container > .content > .bg {
    background-image: url(../images/mm_41_2_01_05_01/bg.svg);
    /* background-image: url(../images/mm_41_2_01_05_01.png); opacity: 1; */
}

/* 힌트 버튼 */
.btn-hint {
    left: 989px;
    top: 240px;
}
/* 재생 버튼 */
.ico-toggle-01 {
    margin: 0 0 0 0;
}
#btn-play-01 {
    position: absolute;
    left: 543px;
    top: 327px;
}
#btn-play-02 {
    position: absolute;
    left: 882px;
    top: 327px;
}
