#quiz-01 .input-cont {
    width: 662px;
    margin-top: -15px;
}
#quiz-01 .input-cont:nth-child(1) {
    left: 309px;
    top: 91px;
}


/* 그냥 퀴즈 */
#quiz-02 {
    position: absolute;
    left: 84px;
    /* top: 270px; */
}
#quiz-02 .base,
#quiz-02 .answer {
    pointer-events: none;
    position: absolute;
    left: 0px;
    top: 0px;
}