.content-container > .content > .bg {
    background-image: url(../images/mm_41_2_04_06_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}


/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 160px;
    left: 194px;
    top: 521px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 160px;
    left: 554px;
    top: 521px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 160px;
    left: 904px;
    top: 521px;
}