.content-container > .content > .bg {
    background-image: url(../images/mm_41_2_04_03_02/bg.svg);
    /* background-image: url(../images/mm_41_2_04_03_02.png); opacity: 1; */
}

/* 인포 아이콘 */
.info-box {
    position: absolute;
    top: 328px;
    right: 40px;
}

/* 드래그 퀴즈 --- 위치 확인용 */
#quiz-01 .drag-area {
    /* background-color: rgba(255,0,0,0.5); */
}
#quiz-01 .drag-item {
    /* background-color: rgba(0,0,255,0.5); */
}


/* 드래그 퀴즈 */
/* 드래그 퀴즈 - 드래그될 영역 아이템 */
#quiz-01 .drag-area {
    position: absolute;
    height: 135px;
    width: 398px;
}
#quiz-01 .drag-area:nth-child(1)
{
    top: 504px;
    left: 42px;
}
#quiz-01 .drag-area:nth-child(2)
{
    top: 504px;
    left: 441px;
}
#quiz-01 .drag-area:nth-child(3)
{
    top: 504px;
    left: 840px;
}

/* 드래그 퀴즈 - 드래그하는 아이템 */
#quiz-01 .drag-item.active {
    /* visibility: hidden; */
}
#quiz-01 .drag-item{
    position: absolute;
    background-size: contain;
}

/* #quiz-01 .answer-item > .item[item-idx="0"], */
#quiz-01 .drag-item[item-idx="0"]
{
    width: 148px;
    height: 102px;
    background-image: url(../images/mm_41_2_04_03_02/drag_item_1_0001.png);
}
#quiz-01 .drag-item[item-idx="1"],
#quiz-01 .answer-item > .item[item-idx="1"] 
{
    width: 118px;
    height: 57px;
    background-image: url(../images/mm_41_2_04_03_02/drag_item_1_0002.png);
}
#quiz-01 .drag-item[item-idx="2"],
#quiz-01 .answer-item > .item[item-idx="2"] 
{
    width: 114px;
    height: 90px;
    background-image: url(../images/mm_41_2_04_03_02/drag_item_1_0003.png);
}

#quiz-01 .drag-item[item-idx="3"],
#quiz-01 .answer-item > .item[item-idx="3"] 
{
    width: 110px;
    height: 130px;
    background-image: url(../images/mm_41_2_04_03_02/drag_item_1_0004.png);
}
#quiz-01 .drag-item[item-idx="4"],
#quiz-01 .answer-item > .item[item-idx="4"] 
{
    width: 126px;
    height: 108px;
    background-image: url(../images/mm_41_2_04_03_02/drag_item_1_0005.png);
}
#quiz-01 .drag-item[item-idx="5"],
#quiz-01 .answer-item > .item[item-idx="5"] 
{
    width: 126px;
    height: 104px;
    background-image: url(../images/mm_41_2_04_03_02/drag_item_1_0006.png);
}
#quiz-01 .drag-item[item-idx="6"],
#quiz-01 .answer-item > .item[item-idx="6"] 
{
    width: 103px;
    height: 108px;
    background-image: url(../images/mm_41_2_04_03_02/drag_item_1_0007.png);
}
#quiz-01 .drag-item[item-idx="7"],
#quiz-01 .answer-item > .item[item-idx="7"] 
{
    width: 129px;
    height: 80px;
    background-image: url(../images/mm_41_2_04_03_02/drag_item_1_0008.png);
}

#quiz-01 .drag-item:nth-child(1) {
    left: 76px;
    top: 214px;
}
#quiz-01 .drag-item:nth-child(2) {
    left: 234px;
    top: 237px;
}
#quiz-01 .drag-item:nth-child(3) {
    left: 373px;
    top: 221px;
}
#quiz-01 .drag-item:nth-child(4) {
    left: 501px;
    top: 201px;
}
#quiz-01 .drag-item:nth-child(5) {
    left: 639px;
    top: 211px;
}
#quiz-01 .drag-item:nth-child(6) {
    left: 794px;
    top: 213px;
}
#quiz-01 .drag-item:nth-child(7) {
    left: 931px;
    top: 212px;
}
#quiz-01 .drag-item:nth-child(8) {
    left: 1075px;
    top: 226px;
}

/* 드래그 아이템 맞았을 때 */
#quiz-01 .drag-item.active:nth-child(1) {
    transform: matrix(1, 0, 0, 1, 51, 521) !important;
}
#quiz-01 .drag-item.active:nth-child(2) {
    transform: matrix(1, 0, 0, 1, 209, 544) !important;
}
#quiz-01 .drag-item.active:nth-child(3) {
    transform: matrix(1, 0, 0, 1, 856, 528) !important;
}
#quiz-01 .drag-item.active:nth-child(4) {
    transform: matrix(1, 0, 0, 1, 978, 507) !important;
}
#quiz-01 .drag-item.active:nth-child(5) {
    transform: matrix(1, 0, 0, 1, 495, 518) !important;
}
#quiz-01 .drag-item.active:nth-child(6) {
    transform: matrix(1, 0, 0, 1, 1100, 520) !important;
}
#quiz-01 .drag-item.active:nth-child(7) {
    transform: matrix(1, 0, 0, 1, 330, 518) !important;
}
#quiz-01 .drag-item.active:nth-child(8) {
    transform: matrix(1, 0, 0, 1, 681, 533) !important;
}

/* 드래그 퀴즈 - 기본으로 깔려 있는 아이템 */
#quiz-01 .base-con {
}

/* 드래그 퀴즈 - 정답 보여지는 아이템 */
#quiz-01 .answer-item > .item {
    position: absolute;
    width: 65px;
    height: 161px;
    background-size: contain;
    background-image: none !important;
    top: 502px;
    font-family: "NanumGothicEB";
    font-size: 25px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(1) {
    left: 34px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(2) {
    left: 142px;
}
#quiz-01 .answer-item:nth-child(1) > .item:nth-child(3) {
    left: 276px;
}

#quiz-01 .answer-item:nth-child(2) > .item:nth-child(1) {
    left: 412px;
}
#quiz-01 .answer-item:nth-child(2) > .item:nth-child(2) {
    left: 592px;
}

#quiz-01 .answer-item:nth-child(3) > .item:nth-child(1) {
    left: 808px;
}
#quiz-01 .answer-item:nth-child(3) > .item:nth-child(2) {
    left: 912px;
}
#quiz-01 .answer-item:nth-child(3) > .item:nth-child(3) {
    left: 1032px;
}

