#quiz-01 .input-cont {
    width: 150px;
    margin-top: -15px;
}
#quiz-01 .input-cont:nth-child(1) {
    left: 263px;
    top: 228px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 413px;
    top: 228px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 563px;
    top: 228px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 713px;
    top: 228px;
}
#quiz-01 .input-cont:nth-child(5) {
    left: 863px;
    top: 228px;
}
#quiz-01 .input-cont:nth-child(6) {
    left: 1013px;
    top: 228px;
}

#quiz-02 .input-cont {
    width: 150px;
    margin-top: -15px;
}
#quiz-02 .input-cont:nth-child(1) {
    left: 263px;
    top: 308px;
}
#quiz-02 .input-cont:nth-child(2) {
    left: 413px;
    top: 308px;
}
#quiz-02 .input-cont:nth-child(3) {
    left: 563px;
    top: 308px;
}
#quiz-02 .input-cont:nth-child(4) {
    left: 713px;
    top: 308px;
}
#quiz-02 .input-cont:nth-child(5) {
    left: 863px;
    top: 308px;
}
#quiz-02 .input-cont:nth-child(6) {
    left: 1013px;
    top: 308px;
}

#quiz-03 .input-cont {
    width: 150px;
    margin-top: -15px;
}
#quiz-03 .input-cont:nth-child(1) {
    left: 263px;
    top: 388px;
}
#quiz-03 .input-cont:nth-child(2) {
    left: 413px;
    top: 388px;
}
#quiz-03 .input-cont:nth-child(3) {
    left: 563px;
    top: 388px;
}
#quiz-03 .input-cont:nth-child(4) {
    left: 713px;
    top: 388px;
}
#quiz-03 .input-cont:nth-child(5) {
    left: 863px;
    top: 388px;
}
#quiz-03 .input-cont:nth-child(6) {
    left: 1013px;
    top: 388px;
}

#quiz-04 .input-cont {
    width: 150px;
    margin-top: -15px;
}
#quiz-04 .input-cont:nth-child(1) {
    left: 263px;
    top: 468px;
}
#quiz-04 .input-cont:nth-child(2) {
    left: 413px;
    top: 468px;
}
#quiz-04 .input-cont:nth-child(3) {
    left: 563px;
    top: 468px;
}
#quiz-04 .input-cont:nth-child(4) {
    left: 713px;
    top: 468px;
}
#quiz-04 .input-cont:nth-child(5) {
    left: 863px;
    top: 468px;
}
#quiz-04 .input-cont:nth-child(6) {
    left: 1013px;
    top: 468px;
}

#quiz-05 .input-cont {
    width: 150px;
    margin-top: -15px;
}
#quiz-05 .input-cont:nth-child(1) {
    left: 263px;
    top: 548px;
}
#quiz-05 .input-cont:nth-child(2) {
    left: 413px;
    top: 548px;
}
#quiz-05 .input-cont:nth-child(3) {
    left: 563px;
    top: 548px;
}
#quiz-05 .input-cont:nth-child(4) {
    left: 713px;
    top: 548px;
}
#quiz-05 .input-cont:nth-child(5) {
    left: 863px;
    top: 548px;
}
#quiz-05 .input-cont:nth-child(6) {
    left: 1013px;
    top: 548px;
}

#quiz-01 .quiz-00-answer.answer-part-00 {
    visibility: hidden;
}

#quiz-01.active .quiz-00-answer.answer-part-00 {
    position: absolute;
    left: 70px;
    top: 150px;
    visibility: visible;
}
