.popBtn.eye{margin:8px 0 0 20px;}

.pop_page_1 .text{
    position: absolute;
    top: 347px;
    right: 30px;
    z-index: 10;
    font-size: 28px;
    transform: rotate3d(1, 1, 2, 7deg);
}
.pop_page_1 .text span{
    color:#da7b34;
}
.pop_page_1 .b1{
    text-align: center;
    top: 60px;
    left: 140px;
    width: 420px;
}
.pop_page_1 .b1:after{
    left: 160px !important;
}
.pop_page_1 .b2{
    text-align: center;
    bottom: 110px;
    left: 490px;
    width: 440px;
}
.pop_page_1 .b2:after{
    left: 90px !important;
}
.pop_page_1 .img{
    width: 100%;
    height: 100%;
    background: #fff url(../images/suh_h_0402_03_0007_102_1_2.png) no-repeat 0% 50%;
    background-size: contain;
}

.page_2 .study_guide{right:0;}
.page_2 .img-answer img{width: 990px;margin:10px auto 0;}
.page_2 .img-answer.n1{
    position: relative;
    margin: 30px auto 20px;
}
.page_2 .img-answer .colorBox{
    position: relative;
    display: inline-block;
    margin-top:10px;
}
.page_2 .img-answer .colorBox.n1{left:43px;}
.page_2 .img-answer .colorBox.n2{left:129px;}
.page_2 .img-answer .colorBox.n3{left:362px;}
.page_2 .img-answer .text{display:inline-block;position:relative;}
.page_2 .img-answer .text.n1{left:44px;}
.page_2 .img-answer .text.n2{left:152px;}


.img-answer .toggle{
    position: absolute;
    width: 462px;
    height: 100%;
    top: 19px;
    right: 9px;
    opacity: 0;
    transition: opacity 1s;
    background:url("../images/suh_h_0402_03_0007_201_1_2_2.png") no-repeat 50% 50% / 100%
}
.img-answer .toggle.complete{
    opacity: 1;
    position: absolute;
}
.img-answer .toggle:after{
    display: none;
}

.page_3 .lineBox .toggle{
    margin:10px 0;
}