#wrap header .title {display: inline-flex;height:52px;align-items: center;}
.operator{display:inline-block;padding:0 10px;vertical-align:middle;}
.pos-r{position:relative}
.pos-a{position:absolute}
.flex-center {display:flex;align-items:center;justify-content:center;}
.va-m{vertical-align:middle}
.ta-c {text-align:center}
.ta-l {text-align:left}
.width-auto {width:auto}
h2 .bunsuWrap {margin-top:-14px;}
.mr_100 {margin-right: 100px;}
.mr_200 {margin-right: 200px;}
.mr_300 {margin-right: 300px;}
.bunsuWrap.highlight {color: #00a0ff}
.bunsuWrap.highlight ul > li:first-of-type {border-bottom-color: #00a0ff;}
.icon_o_title.withBunsu {vertical-align: middle;display:inline-flex;align-items:center;justify-content:center;}

h2 ins + span {letter-spacing: -1px;}

.suhi h2 ins.special.type2:before {
    content: "개념";
}
.suhi h2 ins.special.type2:after {
    content: '정리';
display: inline-block;
    margin-left:10px;
}

.popup_container {z-index: 3;}

.contentsList .bullet.circleDot {align-self:center;}
.contentsList .dot {align-self:center;}

.page_1 .flex-wrap {align-items:center; gap: 40px;}
.page_1 .flex-wrap .flex-item.n1 {width: 25%;}
.page_1 .flex-wrap .flex-item.n1 img {margin-bottom: 20px;}
.page_1 .flex-wrap .flex-item {flex: 1 1 auto;}
.page_1 .flex-wrap .flex-item + .flex-item {padding-top: 30px;}
.page_1 .n1 + .flex-item figure img {height: 260px;}
.page_1 .n1 figure {text-align: center;}
.page_1 .n1 figure img {height: 120px;}
.page_1 figure {padding-top: 30px;}
.page_1 figure .ex-labels {position:absolute;top: -5px;display:flex;align-items:center;justify-content:space-between;font-size: 30px;}
.page_1 .innerTab_1 .ex-labels {width: 92%;left: 3px;}
.page_1 .innerTab_2 .ex-labels {width: 92%;left: -1px;}
.page_1 figure img {max-width: 100%;}
.page_1 figure .pos-a {z-index: 2;}
.page_1 .innerTab_1 .ex-test {top: 23%;left: 29%;}
.page_1 .innerTab_2 .ex-test {top: 23%;left: 31%;}
.page_1 .innerTab_1 figure .ex-val-1 {top: 74%;left: 7%;}
.page_1 .innerTab_1 figure .ex-val-2 {top: 69%;left: 54%;}
.page_1 .innerTab_2 figure .ex-val-1 {top: 72%;left: 25%;}
.page_1 .innerTab_2 figure .ex-val-2 {top: 72%;left: 85%;}

.page_2 .flex-wrap {width:75%;margin:0 auto;justify-content: space-between;}
.page_2 .flex-wrap .flex-item {flex: 1 1 auto;}

.page_3 .flex-wrap {justify-content: space-around;}
.page_3 .flex-center {flex-direction: column;}
.page_3 figure img {height: 320px;}

.page_5 figure {padding-top: 100px;}
.page_5 figure img {height: 250px;}
.page_5 figure [class*='ex-balloon-'] {transform: scale(85%);}
.page_5 figure .ex-balloon-1 {width: 358px;top: 3%;left: -23%;}
.page_5 figure .ex-balloon-1::after {left:85% !important;}
.page_5 figure .ex-balloon-2 {width: 547px;top: -6%;left: 26%;}
.page_5 figure .ex-balloon-2::after {left: 29% !important;}
.page_5 figure .ex-balloon-3 {width: 300px;top: 41%;left: 90%;}
.page_5 figure .ex-balloon-3::after {top:15% !important;}

.pop_page_4 .contentsList {letter-spacing:-1px; font-size: 32px;}
.pop_page_4 .blankBox {vertical-align: middle;}