.content-container > .content > .bg {
    background-image: url(../images/mm_41_2_02_04_02/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 체크 O 퀴즈 */
.quiz-check.type-ox-01 .check-item::before {
    transform: scale(0.9);
}
#quiz-01 .check-item {
    position: absolute;
    width: 200px;
    height: 60px;
    margin: 0 0 0 0;
}
#quiz-01 .check-item:nth-child(1) {
    left: 229px;
    top: 550px;
}
#quiz-01 .check-item:nth-child(2) {
    left: 809px;
    top: 550px;
}