.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_2_02_04_01/bg.svg); */
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 280px;
    left: 452px;
    top: 558px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 280px;
    left: 827px;
    top: 558px;
}