.content-container > .content > .bg {
    background-image: url(../images/mm_41_2_08_05_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

.app-drawing-tool .tool-container {
    left: 80px;
    top: 294px;
    right: auto; 
}

.a-box {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 705px;
    height: 326px;
    left: 529px;
    top: 327px;
}
.a-box > .quiz-check .content-con {
    padding:0 !important
}