.content-container > .content > .bg {
    background-image: url(../images/mm_41_2_01_07_03/bg.svg);
}


/* 체크 O 퀴즈 */
.quiz-check.type-ox-01 .check-item::before {
    transform: scale(0.9);
}
#quiz-01 .check-item {
    position: absolute;
    width: 229px;
    height: 75px;
    margin: 0 0 0 0;

    /* background-color: rgba(255, 0, 0, 0.5); */
}
#quiz-01 .check-item:nth-child(1) {
    left: 248px;
    top: 505px;
}
#quiz-01 .check-item:nth-child(2) {
    left: 776px;
    top: 505px;
}