.content-container > .content > .bg {
    background-image: url(../images/mm_41_2_02_08_03/bg.svg);
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 140px;
    left: 930px;
    top: 535px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 140px;
    left: 320px;
    top: 535px;
}