.content-container > .content > .bg {
    background-image: url(../images/mm_41_2_10_01_03/bg.jpg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 앱 - 주사위 */
.app-dice .dice-cont {
	left: 80px;
    top: 50px;
}

/* 퀴즈 드래그 */
.drag-area {
    /* background-color: rgba(255,0,0,0.5); */
}
.drag-item {
    /* background-color: rgba(0,255,0,0.5); */
}

#quiz-01 .drag-item {
    width: 94px;
    height: 87px;
}
#quiz-01 .drag-item:nth-child(1) {
    left: 318px;
    top: 135px;
}
#quiz-01 .drag-item:nth-child(2) {
    left: 427px;
    top: 135px;
}
#quiz-01 .drag-item:nth-child(3) {
    left: 318px;
    top: 236px;
}
#quiz-01 .drag-item:nth-child(4) {
    left: 427px;
    top: 236px;
}

#quiz-01 .drag-area:nth-child(1) {
    width: 710px;
    height: 680px;
    left: 560px;
    top: 50px;
}
#quiz-01 .drag-area:nth-child(2) {
    width: 570px;
    height: 380px;
    left: 0;
    top: 350px;
}