.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_2_03_06_01/bg.svg); */
    /* background-image: url(../images/01.png); opacity: 1; */
}

.app-angle-tool .tool-container {
    top: 160px;
}

.quiz-01-answer {
    position: absolute;
    left: 0;
    top: 0;
}
