.content-container > .content > .bg {
    background-image: url(../images/mm_41_2_02_08_04/bg.svg);
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 140px;
    left: 415px;
    top: 289px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 140px;
    left: 914px;
    top: 429px;
}
.app-angle-tool .tool-container {
    top: 160px;
}