.content-container > .content > .bg {
    background-image: url(../images/mm_41_2_03_07_04/bg.svg);
}

.app-angle-tool .tool-container {
    top: 160px;
}

/* 그냥 퀴즈 */
#quiz-01 .answer {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
}

#quiz-01 .quiz-00-answer.answer-part-00 {
    left: 707px;
    top: 254px;
}

#quiz-01 .check-item {
    left: 852px;
    top: 392px;
}

.quiz-check.image-answer {
    position: relative;
    left: 0;
    top: -160px;
}