.content-container > .content > .bg {
    background-image: url(../images/mm_41_2_05_07_04/bg.svg);
}

.app-angle-tool .tool-container {
    top: 160px;
}


/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 100px;
    left: 281px;
    top: 537px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 100px;
    left: 527px;
    top: 537px;
}

.btn-answer-part:nth-child(1) {
    left: 1184px;
    top: 543px;
}