.content-container > .content > .bg {
    background-image: url(../images/mm_41_2_04_05_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

.app-drawing-tool .tool-container {
    top: 220px;
}

/* 입력 퀴즈 */
#quiz-01 .input-cont {
    margin: 10px 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 200px;
    left: 900px;
    top: 340px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 200px;
    left: 900px;
    top: 420px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 200px;
    left: 900px;
    top: 500px;
}
#quiz-01 .input-cont:nth-child(1) .answer {
    left: -904px;
    top: -352px;
}
#quiz-01 .input-cont:nth-child(2) .answer {
    left: -904px;
    top: -432px;
}
#quiz-01 .input-cont:nth-child(3) .answer {
    left: -904px;
    top: -512px;
}