.content-container > .content > .bg {
    background-image: url(../images/mm_41_2_08_03_01/bg.svg);
    /* background-image: url(../images/mm_41_2_08_03_01.png); opacity: 1; */
}

.app-angle-tool .tool-container {
    top: 170px;
    right: 4px;
}

.quiz-check.type-box.box-opacity .check-item {
    pointer-events: none;
}
.quiz-check.type-box.box-opacity .check-item::after {
    background-image: none;
}

.quiz-01-answer {
    left: 111px;
    top: 247px;
}