.content-container > .content > .bg {
    background-image: url(../images/mm_41_2_06_04_02/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

.app-angle-tool .tool-container {
    top: 170px;
    right: 4px;
}

/* 입력 퀴즈 */
.input-cont {
    margin: 0 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 120px;
    left: 245px;
    top: 573px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 120px;
    left: 595px;
    top: 573px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 120px;
    left: 945px;
    top: 573px;
}
.ico-package-01 {
    left: 950px;
    top: 100px;
}
