.content-container > .content > .bg {
    background-image: url(../images/mm_41_2_05_07_03/bg.svg);
}

.app-angle-tool .tool-container {
    top: 160px;
}

/* 입력 퀴즈 */
#quiz-01 .input-cont:nth-child(1) {
    width: 140px;
    left: 413px;
    top: 504px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 140px;
    left: 300px;
    top: 584px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 140px;
    left: 1023px;
    top: 504px;
}
#quiz-01 .input-cont:nth-child(4) {
    width: 140px;
    left: 910px;
    top: 584px;
}

.btn-answer-part:nth-child(1) {
    left: 495px;
    top: 591px;
}
.btn-answer-part:nth-child(2) {
    left: 1105px;
    top: 591px;
}