.content-container > .content > .bg {
    /* background-image: url(../images/mm_41_2_08_05_02/bg.svg); */
    /* background-image: url(../images/01.png); opacity: 1; */
}

#btn-hint-01 {
    left: 1021px;
    top: 70px;
}

.img-box {
    position: absolute;
    left: 50px;
    top: 130px;
}
#quiz-01 .check-item {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50px;
    top: 130px;
}

.quiz-check.type-inline-text .check-item::after
{
    background-position: 70% center;
}
