.img-wrap img{width: 100%;}

.page_1 .line-arrow{
    position: absolute;
    top: 108px;
    left: 292px;
    width: 393px;
    height:50px;
    border:4px solid #00a0ff;
    border-bottom:0;
}
.page_1 .line-arrow .colorBox{position: absolute;left: 40%;top: -80px;}
.page_1 .line-arrow.n2 .colorBox{position: absolute;left: 40%;top: 55px;}
.page_1 .line-arrow.n2 {
    border:4px solid #00a0ff;
    border-top:0;
    top: 233px;
    left: 190px;
    width: 370px;
}
.page_1 .line-arrow::after{
    content: "";
    width:20px;
    height: 20px;
    border:4px solid #00a0ff;
    border-right:0;
    border-bottom:0;
    position: absolute;
}
.page_1 .line-arrow.rb::after{
    bottom: 0px;
    right: -14px;
    transform: rotate(-135deg);
}
.page_1 .line-arrow.rt::after{
    top: 0px;
    right: -14px;
    transform: rotate(45deg);
}
.page_1 .icon_arrow.big{width:100px}
.page_1 .lineBox {
    width:800px;
    margin:30px auto 0;
    position: relative;
    padding:160px 40px;
}

.page_2 .lineBox {padding:30px}
.page_2 .icon_arrow{margin:0 30px}

.page_3 .lineBox{width:300px; margin:0 auto; padding:30px;}


.page_4 .oxContainer .icon_o,
.page_4 .oxContainer .icon_x{position: absolute; top:50%; left:50%; margin:-50px 0 0 -50px; width:100px; height:100px; z-index:1}
.page_4 .lineBox { padding:30px;}


.page_6 .flex-wrap .txt{
    width:180px;
    padding:0 20px;
}

.page_7 .img-wrap{
    width:400px;
    margin:0 auto 0;
}