.img-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn_1 {
    width: 116%;
    height: 360px;
    background: #fff url(../images/suh_h_0302_01_0002_201_1/suh_h_0302_01_0002_201_1_1.png) no-repeat 50% 0 / cover;
    cursor: default;
    border-radius: 20px;
    margin: 0 auto 20px;
}

.btn_1 .b1 {
    top: 60px;
    left: 740px;
    z-index: 2;
    text-align: center;
    width: 340px;
}

.btn_1 .b2 {
    top: 0px;
    left: 10px;
    z-index: 2;
    text-align: center;
    width: 470px;
}

.btn_1 .b3 {
    top: 320px;
    left: 420px;
    z-index: 2;
    text-align: center;
    width: 380px;
}

.btn_1 .b4 {
    top: 100px;
    left: 730px;
    z-index: 2;
    text-align: center;
    width: 420px;
}

.btn_1 .b1::after {
    left: 24% !important;
}

/* page2 */

.item-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    text-align: center;
}

.item-1 img {
    width: 100%;
}

.item-1>span {
    display: inline-block;
}

.item-2 {
    position: absolute;
    top: 120px;
    left: 170px;
}

.item-3 {
    position: absolute;
    top: 0;
    left: 270px;
    opacity: 0;
}

.item-3 .img1 {
    position: absolute;
    width: 580px;
}

.item-3 .toggle {
    display: inline-flex;
}

.item-3.on {
    opacity: 1;
    width: 10;
}

.item-3 .group {
    position: absolute;
    width: 320px;
    top: 5px;
    left: 513px;
}

.item-3 .group-item {
    /* margin-bottom: 10px; */
}
.item-3 .group-item.i1{margin-top: 6px;}
.item-3 .group-item.i2{margin-top: 23px;}
.item-3 .group-item.i3{margin-top: 1px;}
.item-3 .group-txt {
    display: inline-block;
    width: 200px;
    text-align: right;
}

/* .item-3 .group-item .toggle:after {
    display: none;
} */

.type-linebox-b .s1 {
    width: 150px;
    left: -45px;
}

.type-linebox-b .s2 {
    width: 130px;
    left: -30px;
}

.type-linebox-b .s3 {
    width: 110px;
    left: -13px;
}

.item-3 .a1 {
    position: absolute;
    top: 150px;
    left: 283px;
    z-index: 2
}

.item-3 .a2 {
    position: absolute;
    top: 45px;
    left: 283px;
    z-index: 2
}

.item-3-1 {
    position: absolute;
    top: 230px;
    left: 0;
    width: 790px;
    height: 190px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
}

.toggle.colorBox{line-height: 52px !important;}
.type-linebox-b{position: absolute;top: 81px;}
.type-linebox-b .lineBox{position: static;}
.lbx1{left: -37px;}
.lbx2{left: -26px;}
.type-linebox-b.lbx3{left: -12px;}
.type-linebox-b.lbx1::before{left: 85px;}
.type-linebox-b.lbx3::before{left: 36px;}
.type-linebox-b::before {
    content: "";
    display: block;
    width: 1px;
    height: 21px;
    border-left: 4px dashed #ccc;
    position: absolute;
    bottom: 78px;
    left: 50%;
}


