
.popup_pages .flex-wrap{justify-content:space-around; width: 80%; margin:0 auto}

.math_calc_table.type-2{width:150px;}
.math_calc_table .answer{letter-spacing: 29px;}
.page_1 .lineBox.sky{padding:30px 40px}
.page_1 .img1{width:30px}
.page_1 .lineBox .flex-wrap{margin:30px 0 0; justify-content: space-around; align-items: center;}
.page_1 .lineBox .flex-wrap img{width:180px}

.page_2 .lineBox{width:280px; text-align: center;}
.page_2 .flex-wrap{align-items: center; margin:20px auto; }
.page_2 .flex-wrap > div{margin:0 20px}
.page_2 .list-check-item{display: flex; align-items: center; margin: 20px 0;}
.page_2 .list-check-item > div{position:relative}
.page_2 .list-check-item img{width:380px; height: 50px;}
.page_2 .list-check-item  .n1 .toggle{position: absolute;background-color: transparent;top: -16px;left: 1px;width: 100%;padding: 0;}
.page_2 .list-check-item  .n1 .toggle::after{display: none;}
.page_2 .list-check-item .check{margin-right:20px}
.page_2 .list-check-item  .n1 .toggle .answer{font-size: 65px;font-weight: 400;font-family: 'NotoM';letter-spacing: -3px; text-align: left; padding-left: 20px;}
.page_2 .toggle .click-finger-Btn{top: 20px;left: 170px;}
.page_2 .toggle.complete .click-finger-Btn{display: none;}

.page_3 h2{position: relative; z-index:2;}
.page_3 .iframe-wrap{
    position: absolute;
    width: 1170px;
    height: 608px;
    overflow: hidden;
    top: -30px;
    left: -57px;
}
.page_3 .page-iframe{position: absolute;top:0;left: -50px;width: 1280px;height: 720px;border:0;}

.page_4 .flex-wrap{justify-content: space-around; margin-top:60px}
.page_4 .flex-wrap > div >div{margin:50px 0}
/* 
.page_4 .flex-wrap{justify-content: space-around;}
.page_4 .flex-wrap > div{text-align: center;}
.page_4 .flex-wrap img{width:300px; display: block; margin:20px auto 20px} */

.page_5 .img-wrap{position: relative;width: 780px;margin: 0 auto;}
.page_5 .img-wrap img{width: 100%;}
.page_5 .img-wrap >div {position:absolute}
.page_5 .balloon{text-align: center;}
.page_5 .b1{top: 140px;left: -60px;width: 300px;}
.page_5 .b2{top: 140px;left: 560px;width: 300px;}
.page_5 .colorBox{position: absolute;}
.page_5 .colorBox.sky{bottom:0;left: 180px;}
.page_5 .colorBox.pink{bottom:0;left: 540px;}
.page_5 .text{position:absolute;top: 70px;left: 42px;font-size: 20px;letter-spacing: 41px;}
.page_5 .text span{letter-spacing: 0; display: inline-block;}
.page_5 .text .t1{margin-left:-12px}
.page_5 .text .t2{margin-left:-12px}

.page_6 .exam{position: absolute;top: 110px;left: -10px;opacity: 0;}
.page_6 .exam.on{opacity: 1;}
.page_6 .tableContainer {margin:110px 0}
table .toggle{background-color: transparent; width:100%;}

.page_7 .flex-wrap{justify-content: space-around; width:800px; margin: 50px auto 30px}
.page_7 .flex-wrap .bullet{transform: translate(0, 8px);}

.pop_page_6 .bullet{transform: translate(0, 4px);}

.contentsBox .basicSlider_slides>li{display: flex; opacity: 0; visibility: hidden; position:absolute; z-index:-1; top:0}
.contentsBox .basicSlider_slides>li.on{display: flex; opacity: 1; visibility: visible; position:relative; z-index:0; top:0}

.page_1 .txt{position: absolute;}
.page_1 .n1{top: 96px; left: 20px;}
.page_1 .n2{top: 96px; left: 138px;}











