.img-wrap {
    width:100%;
    background: url(../images/suh_p_0301_02_0008_205_1_1.png) no-repeat 50% 93% / 100%;
    height: 500px;
}

.img-wrap .colorBox{position: absolute;}

.img-wrap .colorBox.n1{top:340px; left:130px}
.img-wrap .colorBox.n2{top:320px; left:910px}
.img-wrap .b1{top:-10px; left:10px}
.img-wrap .b2{top:20px; left:770px}


.innerTab_2 .img-wrap {
    width:100%;
    background: url(../images/suh_p_0301_02_0008_205_1_2.png) no-repeat 50% 100% / 90%;
    height: 480px;
}
.img-wrap .b3{top:80px; left:320px}
.img-wrap .b3::after{top:80% !important}

.pop_page_2 .img-wrap2{position: relative;width:800px; margin: 30px auto;}
.pop_page_2 .img-wrap2 img{width: 100%;}
.pop_page_2 .img-wrap2 .txt{position: absolute;}
.pop_page_2 .img-wrap2 .n1{top:100px; left:140px;}
.pop_page_2 .img-wrap2 .n2{top:100px; left:650px;}
.pop_page_2 .lineBox{width:980px; margin:0 auto; text-align: justify;}

.pop_page_3 .img-wrap2{position: relative;width:410px; margin: 30px auto;}
.pop_page_3 .img-wrap2 img{width: 100%;}

.pop_page_3 .lineBox{width:100%; margin:0 auto; text-align: justify;}

.pop_page_3 .flex-wrap{align-items: flex-start;}
.pop_page_3 .flex-wrap .colorBox{
    margin-right:10px;
     min-width:100px
}
.pop_page_3 .flex-wrap  + .flex-wrap{margin-top:10px}
.pop_page_3 .flex-wrap .colorBox + div{
    margin-top:9px
}
.popup_contents .dapCheckBtn{right: 40px;bottom: 20px;}

.pop_page_3 .flex-wrap  + .flex-wrap .colorBox + div{
    margin-top:5px
}

.blankBox.w40 {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    transform: translate(0px, 6px);
}