        img{width:100%;}
		.pop_page_1{top:110px; left:24px;}
		.pop_page_1 .tit{width: auto; background-color: #d4f3f6; display: inline-block; padding:5px 20px 7px; border-radius:20px;}
		.pop_page_1 .basicSlider_slides > li{padding:20px; box-sizing: border-box;}
		.pop_page_1 .flex-wrap{width:100%; margin: 0 auto; height: 250px; display: flex; align-items: center; justify-content: center;}
		.pop_page_1 .basicSlider_slides{width:1127px; height: 590px; box-sizing: border-box;}

        /* .page_1 .flex-wrap{align-items: flex-start; margin-top:20px;}
        .page_1 .img-wrap{position: relative; padding:0 10px}
        .page_1 .balloon{text-align: center; top:0; position: relative; letter-spacing: -1px;}
        .page_1 .colorBox{position: relative; padding:40px 30px 20px; margin:30px 0 10px; display: flex; align-items: center; height: 120px;}
        .page_1 .colorBox > div{position: absolute; top:0; left:0}
        .page_1 .colorBox .n1{top: 15px; left:20px;}
        .page_1 .colorBox .n2{top:15px; left:240px;}
        .page_1 .n2 .colorBox .n1{top: 15px; left:63px;}
        .page_1 .n2 .colorBox .n2{top:15px; left:182px;}
        .page_1 .n3 .colorBox .n1{top: 15px; left:20px;}
        .page_1 .n3 .colorBox .n2{top:15px; left:182px;} */

        .pop_page_1 .img-wrap{width:100%}
        .pop_page_1 .img-wrap img{width:1087px;}
        
		.tit-box{position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); padding: 10px 30px 14px; z-index: 1;}

		.lineBox{width: 340px; position:absolute;  padding:10px 30px 10px 0px; z-index: 1;}
		.lineBox .popBtn{position: absolute; right:10px; bottom:10px;}
		.lineBox.n1{top:-10px; left:15%;}
		.lineBox.n2{top:-10px; right:15%;}
		.lineBox.n3{top:212px; right:0;}
		.lineBox.n4{bottom:0; right:15%;}
		.lineBox.n5{bottom:0; left:15%;}
		.lineBox.n6{top:212px; left:0;}
		.pointContainer .contentsBox {padding-top:25px;}
		svg{position: absolute;top:50%; left:50%; transform: translate(-50%, -50%); z-index: 0;}