@charset "utf-8";

.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
/* .contentsList .icon_arrow{width:auto !important; margin:0 10px;} */
.lineBox .bullet.number,
h2 .bullet.number{margin-top:5px;}
h2 .blankBox.w50{
    max-width: 40px !important;
    min-width: 40px !important;
    max-height: 40px !important;
    min-height: 40px !important;
    transform: translate(0,0);
}
.buttonContainer.iframe{right:170px;}
.checkContainer h2 .toggleBlank{margin-top:8px;}
.checkContainer .contentsBox .basicSlider_tabs {width: 600px}
.ico-circle{display: inline-block; width:40px; height: 40px; border:5px solid #008dd0; border-radius: 50%; vertical-align: middle; transform: translate(0,-4px);}
.downloadBtn{bottom:10px;}


.calc-group{position: absolute;width: 100%;top: 90px;left: 430px;}
.calc-group img{width:100%;}
.calc-group .item1{
    position: absolute;
    top:20px;
    left:0;
    width: 310px;
}
.calc-group .item1 table{
 position: absolute;
 width: 200px;
 top:0;
 left:0;
}
.calc-group .item1 table td:first-child{width: 21px;padding-left:0}
.calc-group .item1 table td{width: 20px;text-align: right;box-sizing: border-box;font-size: 30px;padding:0 15px 0 20px;vertical-align: middle;}
.calc-group .item1 tbody.top td{height: 67px;}
.calc-group .item1 tbody.middle td{height: 85px;}
.calc-group .item1 tbody.bottom td{height: 38px;}
.calc-group .item1 tbody.space td{height:29px;}
.calc-group .item1 table img{width: 33px; display: block; float: left;}


.flex-wrap > .lineBox{position: relative; width: 50%; margin: 0 10px; height: 420px; display: flex; justify-content: center; align-items: center;}
.lineBox .tit{position: absolute; top:-40px; left:20px}

.toggle .lineBox{position: absolute;top: -140px;left:-10px;font-family: NotoM;font-weight: normal;color:#000}
.toggle.sky .lineBox{left:-50px;}


.toggle.complete.sky .click-finger-Btn,
.toggle.complete.pink .click-finger-Btn{display: none;}

.hid{opacity: 0;}

.sky.toggle .lineBox::before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 65%;
    border-left: 4px dashed #c1e8ec;
    width: 0;
    height: 50px;
}
.pink.toggle .lineBox::before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 30%;
    border-left: 4px dashed #f5e5e6;
    width: 0;
    height: 50px;
}

.page_1 .img-wrap table{border:1px solid #000; height: 120px;}
.page_1 .img-wrap td.bg{background-color: #d7e4bd;}
.page_1 .img-wrap td{border: 1px solid #000;}
.page_1 .img-wrap{display: flex; justify-content: center; align-items: center;}
.page_1 .img-wrap img{/* width:300px; */ height: auto; margin:0 30px;}
.page_1 .img-wrap{height: 220px;width: 200px;margin: 0 auto;}
.page_1 .flex-wrap{justify-content:  space-around; margin-top:-10px}
.page_1 .flex-wrap img{width: 100%; margin-bottom:20px}
.page_1 .flex-wrap > div{ text-align: center;}
.page_1 .flex-wrap .toggle{width:100px}
.page_1 .list .flex-wrap{align-items: center; justify-content: center;}
.page_1 .list .flex-wrap + .flex-wrap{margin-top:10px}

.page_2 .img-wrap{width: 1000px; position: relative; margin: 130px auto 0 30px;}
.page_2 .img-wrap img{width: 967px;margin: 0;display: block;}
.page_2 .img-wrap > .txt{position: absolute; display: flex; justify-content: space-between;width:100%;align-items: center;}
.page_2 .img-wrap > .txt > div{flex:0; min-width:80px; text-align: center;}
.page_2 .img-wrap > .txt.n1{top: -90px; left: -29px; }
.page_2 .img-wrap > .txt.n2{bottom: -50px; left: -29px; }
.page_2 .img-wrap .toggle{position: absolute;}
.page_2 .img-wrap .t1{top: -93px; left: 342px; }
.page_2 .img-wrap .t2{top: -93px; left: 799px; }
.page_2 .img-wrap .t3{top:50px; left: 148px; }
.page_2 .img-wrap .t4{top: 50px; left: 612px; }



.page_3 .lineBox{margin:0 auto 30px; width:480px}

.page_3 .wrap{margin:0 auto; width:250px}
.page_3 .wrap .flex-wrap{margin-bottom:10px;}


/* 



.page_3 .flex-wrap {justify-content: space-around;}
.page_3 .flex-item{width:400px; position: relative;}
.page_3 .lineBox{position: absolute;}
.page_3 .toggle{padding:0; background-color: transparent;}
.page_3 .n1{left:50%; transform: translate(-50%, 0);}
.page_3 .n2{left:20%; top:200px}
.page_3 .n3{right:20%; top:200px}
.page_3 .line{position: absolute; border:4px solid #c1e8ec; width: 210px; left:50%; transform: translate(-50%, 170px); height: 50px;border-bottom: 0;}
.page_3 .line::before{
    content:""; display: block;
    position: absolute; top:-40px;
    border-left:4px solid #c1e8ec;
    height:40px; left:50%
} */
/* .pop_page_1 .popup_contents{padding-top:60px !important}
.pop_page_1 .bunsuWrap{transform: translate(0, -14px);}
/* .pop_page_4 .popup_contents{padding-top:60px !important} */
/* .pop_page_4 .bunsuWrap{transform: translate(0, -14px);} */
.pop_page_4 .dotList>li:before{margin-top:28px}
.page_7 .click-finger-Btn{top:50%}
.pop_page_7 img{width:20px; vertical-align: middle;}


ul.fNum {position: relative;display: inline-block;vertical-align: middle;}
ul.fNum li {text-align: center;padding: 0 10px;}
ul.fNum.black li:first-child {border-bottom: 3px solid #000000;}
ul.fNum.blue li:first-child {border-bottom: 3px solid #00a0ff;}
span.fNum {position: relative;display: inline-block;vertical-align: middle;}
span.fNum span {display: block;text-align: center;padding: 0 15px;line-height: 52px;width: 30px;}
span.fNum.blue span:first-child {border-bottom: 3px solid #00a0ff;}

.page_4 .dragLineContainer {height: 400px;}
.page_4 .dragLineContainer > ul {display: flex;flex-direction: column;justify-content: space-between;}
.page_4 .dragLineContainer .left, .dragLineContainer .center, .dragLineContainer .right {height: 365px;}
.page_4 .dragLineContainer .left > li, .dragLineContainer .center > li, .dragLineContainer .right > li {min-height: 86px;min-width: 90px;border-radius: 8px;display:flex;align-items:center;justify-content:center;padding:10px 15px;}
.page_4 .dragLineContainer .left > li {background-color: #ffece2;}
.page_4 .dragLineContainer .center > li {background-color: #D4F3F6;}
.page_4 .dragLineContainer .right > li {background-color: #F6F1D4;}
.page_4 .dragLineContainer .left  {height:384px;}
.page_4 .dragLineContainer > ul > li img {width: 100%;vertical-align: top;}
.page_4 .top_1 {top: 45px;}
.page_4 .top_2 {top: 183px;}
.page_4 .top_3 {top: 322px;}
.page_4 .left_1 {left: 134px;}
.page_4 .left_2 {left: 388px;}
.page_4 .left_3 {left: 549px;}
.page_4 .left_4 {left: 806px;}

.page_6 .addLineContainer {top: 215px;}
.page_6 .con {position: relative;text-align: center;margin: 0 0 40px 0;}
.page_6 .boxCon {position: relative;display: inline-block;vertical-align: middle;text-align: left;}
.page_6 .boxCon_1 {margin-bottom: 5px;}
.page_6 .nemoBox {position: relative;box-sizing: border-box;}
.page_6 .boxCon .nemoBox_3_1 {width: 1000px;height: 80px;border: 3px solid #000000;background-color: #D7E4BD;}
.page_6 .boxCon .nemoBox_3_1 .nemoBoxInner {position: relative;display: inline-block;width: 100px;height: 74px;border-right: 3px dotted #000000;background-color: transparent;}
.page_6 .boxCon .line_1 {position: absolute;top: -30px;left: 466px;}
.page_6 .boxCon .line_1 .imgText {position: absolute;top: -25px;left: 456px;}
.page_6 .qCon {text-align: center;}
.page_6 .qCon .calCon:first-child {margin-right: 50px;}
.page_6 .calCon {display: inline-block;vertical-align: middle;}
.page_6 .calCon > div {display: inline-block;vertical-align: middle;}
/* .page_6 .calCon .toggle {width: 170px;} */
.page_6 .addLineController {top:10px; width:216px}

.page_6 img{width:1000px}

.page_7 .img-wrap{width: 1000px; position: relative; margin: 130px auto 0 30px;}
.page_7 .img-wrap img{width: 967px;margin: 0;display: block;}
.page_7 .img-wrap > .txt{position: absolute; display: flex; justify-content: space-between;width:100%;align-items: center;}
.page_7 .img-wrap > .txt > div{flex:0; min-width:80px; text-align: center;}
.page_7 .img-wrap > .txt.n1{top: -90px; left: -29px; }
.page_7 .img-wrap > .txt.n2{bottom: -50px; left: -29px; }
.page_7 .img-wrap .toggle{position: absolute;}
.page_7 .img-wrap .t1{top: -93px; left: 342px; }
.page_7 .img-wrap .t2{top: -93px; left: 614px; }
.page_7 .img-wrap .t3{top:50px; left: 148px; }
.page_7 .img-wrap .t4{top: 50px; left: 796px; }


.characterList>li .balloon{font-size: 35px;padding:5px;}
.characterImg.new-character.circle{width:120px;height:120px;}
.checkContainer .page_4 .study_guide {top:-50px}

.page_8 .fNum{display: inline-block; vertical-align: middle;}