.page_1 .box-flex {display:flex;justify-content:center}
.page_1 .img-box {height:350px}
.page_1 .img-box img {height:100%}

.page_2 .lineBox {position:relative;width:600px;margin:0 auto;text-align:center}
.page_2 .lineBox .grayBox {position:absolute;width:110px;height:110px}
.page_2 .lineBox .grayBox .icon {width:100%;height:100%}
.page_2 .lineBox .n1 {top:30px;left:70px}
.page_2 .lineBox .n2 {top:30px;left:230px}
.page_2 .lineBox .n3 {top:30px;left:400px}
.page_2 .lineBox .n4 {top:160px;left:70px}
.page_2 .lineBox .n5 {top:160px;left:230px}
.page_2 .lineBox .n6 {top:160px;left:400px}
.page_2 .lineBox .n7 {top:300px;left:70px}
.page_2 .lineBox .n8 {top:300px;left:230px}
.page_2 .lineBox .n9 {top:300px;left:400px}
.page_2 .lineBox img {width:500px;vertical-align:top}

.page_3 .img-box {text-align:center}
.page_3 .box-flex {display:flex;justify-content:space-around}
.page_3 .box-flex .toggle {margin-right:10px}

.img-in {justify-content:center;margin:50px 0}
.buttonContainer {z-index:3}

.page_5 .img-bg {height:340px;text-align:center;position:relative}
.page_5 .img-bg img {height:100%;vertical-align:top}
.page_5 .img-bg .txt-item,
.page_5 .img-bg .answer-item {position:absolute}
.page_5 .img-bg .n1 {top:20px;left:510px;}
.page_5 .img-bg .n2 {top:165px;left:360px;}
.page_5 .img-bg .n3 {top:285px;left:380px;}
.page_5 .img-bg .n4 {top:285px;left:593px;}
.page_5 .img-bg .n5 {top:140px;left:510px;}
.page_5 .img-bg .answer-item {width:20px;height:20px;border:3px solid #ff0000;border-right:none;border-bottom:none;opacity:0}
.page_5 .img-bg .answer-item.complete {animation:opacityEff 1s ease-out forwards;-webkit-animation: opacityEff 1s ease-out forwards;-moz-animation: opacityEff 1s ease-out forwards}
.page_5 .img-bg .n6 {top:146px;left:481px;}
.page_5 .img-bg .n7 {top:176px;left:494px;transform: rotate(-135deg)}
.page_5 .box-flex {display:flex;align-items:flex-start;margin-top:20px}
.page_5 .box-flex .colorBox {flex-shrink:0}
.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {flex-shrink:0}
.ex-box p {text-align:justify;letter-spacing:1px}

.page_6 .box-flex {display:flex;justify-content:space-between;padding:0 40px}
.page_6 .box-flex .character-box {padding-top:240px;position:relative}
.page_6 .characterImg {position:relative}
.page_6 .box-flex .center {padding-top:80px;padding-right:80px}
.page_6 .img-bg {background:url('../images/suhi_h_0301_02_0004_5_1.png') no-repeat 41% 74%;width:220px;height:220px;overflow:hidden;position:relative}
.page_6 .character-box .balloon.deeppink {top:80px;left:-40px;width:280px}
.page_6 .character-box .balloon.deeppink:after {left:110px}
.page_6 .character-box .balloon.sky {top:0;width:390px;left:-160px}
.page_6 .character-box .balloon.sky:after {left:230px}

.pop_page_1 .box-flex {display:flex;align-items:center}