.popup_pages .textBookPopup .popupInner {height:auto}
#wrap header {text-align:right;padding-right:56px}
.popBtn.textInBtn.inline {margin:10px 0}
.full-img {height:100%}
.full-img img {width:100%;height:100%;object-fit: cover}

.mb_10 {margin-bottom:10px}

.box-number {display:flex}
.box-number .bullet.number {flex-shrink:0;margin-right:8px;width:40px;height:40px;line-height:38px}

.ex-box {display:flex}
.ex-box .bullet.exam {flex-shrink:0}
.mt-s {margin-top:22px !important;}