/* 배달의민족 주아체 */
@font-face {
  font-family: "BMJUA";
  src: url("../font/BMJUA.woff");
}

/* 여기어때 잘난체 */
@font-face {
  font-family: "jalnan";
  src: url("../font/jalnan.woff");
}

/* 나눔 폰트 */
@font-face {
  font-family: "NanumSquareB";
  src: url("../font/NanumSquareB.woff");
}

@font-face {
  font-family: "NanumSquareRoundB";
  src: url("../font/NanumSquareRoundB.woff");
}

@font-face {
  font-family: "NanumSquareRoundEB";
  src: url("../font/NanumSquareRoundEB.woff");
}