.content-container > .content > .bg {
    background-image: url(../images/mm_42_6_02_07_02/bg.svg);
    /* background-image: url(../images/03.png); opacity: 1; */
}

#quiz-01 .input-cont {
    width: 280px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 940px;
    top: 579px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 869px;
    top: 580px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 1004px;
    top: 580px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 1140px;
    top: 580px;
}