.content-container > .content > .bg {
    background-image: url(../images/mm_42_6_07_02_01/bg.svg);
    /* background-image: url(../images/mm_42_6_06_07_01/guide01.png); opacity: 0.5; */
}
#btn-hint-01 {
    left: 1070px;
    top: 409px;
}