.content-container > .content > .bg {
    background-image: url(../images/mm_42_6_06_04_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 쌍둥이 문제 bg */
.popup-twins.twins-01 > .bg {
    background-image: url(../images/mm_42_6_06_04_01/bg_twins_01.svg);
}
.popup-twins.twins-02 > .bg {
    background-image: url(../images/mm_42_6_06_04_01/bg_twins_02.svg);
}

#quiz-01 .input-cont {
    width: 60px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 313px;
    top: 507px;
    z-index: 1;
}

#quiz-01 .input-cont:nth-child(2) {
    left: 804px;
    top: 507px;
    z-index: 1;
}

#quiz-01 .input-cont:nth-child(1) .answer {
    left: -317px;
    top: -508px;
}

#quiz-01 .input-cont:nth-child(2) .answer {
    left: -808px;
    top: -508px;
}

#quiz-02 .input-cont {
    width: 60px;
}

#quiz-02 .input-cont:nth-child(1) {
    left: 346px;
    top: 577px;
    z-index: 1;
}

#quiz-02 .input-cont:nth-child(2) {
    left: 837px;
    top: 577px;
    z-index: 1;
}

#quiz-02 .input-cont:nth-child(1) .answer {
    left: -350px;
    top: -578px;
}

#quiz-02 .input-cont:nth-child(2) .answer {
    left: -841px;
    top: -578px;
}

#quiz-03 .input-cont {
    width: 60px;
}

#quiz-03 .input-cont:nth-child(1) {
    left: 193px;
    top: 577px;
    z-index: 1;
}

#quiz-03 .input-cont:nth-child(2) {
    left: 593px;
    top: 577px;
    z-index: 1;
}
#quiz-03 .input-cont:nth-child(3) {
    left: 984px;
    top: 577px;
    z-index: 1;
}

#quiz-03 .input-cont:nth-child(1) .answer {
    left: -197px;
    top: -578px;
}

#quiz-03 .input-cont:nth-child(2) .answer {
    left: -597px;
    top: -578px;
}

#quiz-03 .input-cont:nth-child(3) .answer {
    left: -988px;
    top: -578px;
}

.app-drawing-tool .tool-container {
    top: 160px;
}

.popup-twins.twins-01 .app-drawing-tool .tool-container {
    top: 240px;
}

.popup-twins.twins-02 .app-drawing-tool .tool-container {
    top: 240px;
}


.btns-bottom-right.check-btns {
    z-index: 1;
}