.content-container > .content > .bg {
    background-image: url(../images/mm_42_6_05_06_02/bg.svg);
    /* background-image: url(../images/03.png); opacity: 1; */
}


.quiz-check.image-answer {
    position: absolute;
    left: 0;
    top: 0;
}
#quiz-01 .input-cont {
    width: 100px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 1041px;
    top: 545px;
}

.btn-answer-part:nth-child(2) {
    left: 619px;
    top: 389px;
}

.ico-figure-01.bb-01::before {
    background-image: url(../images/mm_42_6_05_06_02/ico.svg);
}
.ico-figure-01::before {
    top: -4px;
}
.ico-figure-01 {
    margin: 0 4px 0 -3px;
}