.contentsBox.board,
.contentsBox.board h2 {color:#fff;}
.icon_arrow{margin:0 50px}


.wrap{position: relative;width: 530px;margin: 0 0 0 161px;}
.fx{position: absolute;top: 58px; lefT:0;}
.math_calc_table{position: absolute; top:0; right:0}


.btn1{top: 130px;left: 510px;}
.btn2{top: 130px;left: 620px;}
.btn3{top: 90px;left: 132px;}
.btn4{top: 90px;left: 200px;}

.click-finger-Btn{z-index: 2;}
.click-finger-Btn.complete{display: none;}

.hide.on{opacity: 1;}
.lineBox{position: relative;width: 530px;height: 260px;}
.contentsBox.board .contentsBox {
    background-color:transparent
}

.icon_arrow{position: absolute;top: 61px;left: 240px; transform: rotate(90deg);}
.lineBox .txt{position: absolute;}
.lineBox .txt-num{position: relative;z-index: 1;left: 80px;}
.lineBox .colorBox{position: absolute; width:40px; height:40px; border-radius: 50%;}
.lineBox .txt-num.n7{position: absolute;top: 120px;left: 218px;}
.on .h1{
    animation-name: shbg;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    top: 16px;
    left: 146px;
}
.on .h2{
    animation-name: sh;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    top: 60px;
    left: 146px;
}
.on .h3{
    animation-name: sh;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    top: 65px;
    left: 166px;
}

.on .h5{
    animation-name: shbg;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    top: 128px;
    left: 295px;
}

.on .h6{
    animation-name: sh;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    top: 175px;
    left: 258px;
}
@keyframes sh {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes shbg {
    0%{opacity: 0;}
    20%{opacity: 1;}
    40%{opacity: 0;}
    60%{opacity: 1;}
    80%{opacity: 0;}
    100%{opacity: 1;}
}
