
@charset "utf-8";

/***********************
* 초등 전자저작물 *
* 수학 3-4학년 *
* intro.css *
***********************/


.intro .flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 20px);
}
.intro .flexBox > img {
  min-width: auto;
  min-height: auto;
  max-width: 100%;
  max-height: 90%;
}