/* 체크 퀴즈 image-answer 타입 */
.quiz-check.image-answer {
    position: absolute;
}

.quiz .check-item {
    margin: -1px 0 0 -2px;
    z-index: 1;
}
.quiz:nth-child(1) .check-item {
    pointer-events: auto;
    left: 196px;
    top: 210px;
}
.quiz:nth-child(2) .check-item {
    pointer-events: auto;
    left: 491px;
    top: 210px;
}
.quiz:nth-child(3) .check-item {
    pointer-events: auto;
    left: 768px;
    top: 210px;
}
.quiz:nth-child(4) .check-item {
    pointer-events: auto;
    left: 1048px;
    top: 210px;
}
.quiz .answer span {
    font-size: 27px;
    color: #3567D7;
}

.quiz:nth-child(1) span {
    position: absolute;
    left: 1014px;
    top: 1070px;
}
.quiz:nth-child(2) span {
    position: absolute;
    left: 437px;
    top: 1070px;
}
.quiz:nth-child(3) span {
    position: absolute;
    left: 156px;
    top: 1070px;
}
.quiz:nth-child(4) span {
    position: absolute;
    left: 727px;
    top: 1070px;
}