.img-wrap {
    width: 100%;
}

.btn_1 {
    width: 100%;
    height: 360px;
    background: #fff url(../images/suh_h_0302_01_0006_201_1/suh_h_0302_01_0006_201_1_1.png) no-repeat 0 50% / cover;
    margin-bottom: 20px;
    border-radius: 20px;
    pointer-events: none;
}

.btn_1 .b1 {
    top: -10px;
    left: -30px;
    z-index: 2;
    text-align: center;
    width: 440px;
}

.btn_1 .b2 {
    top: -10px;
    left: 580px;
    z-index: 2;
    text-align: center;
    width: 500px;
}
.btn_1 .b1::after {
    left: 70% !important;
}


/* page2 */
.ab1 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.ab1 *{ box-sizing: border-box;}
.ab1 .toggle{width:75px; text-align: center; padding:5px; height: 136px; background-color: transparent;  border:4px solid transparent; margin:0 5px}
.ab1 .toggle::after{display: none;}
.ab1 .toggle img{width:100%;}
.ab1 .toggle .click-finger-Btn{position: absolute; z-index: 1; transform: translate(-50%,-50%); top:50%; left:50%;}
.ab1 .toggle .txt{position: absolute; top:1px; left:0; width: 100%; line-height: 64px;}
.ab1 .toggle.complete{
    border:4px solid #00a0ff;
}

/* .page_2 .characterImg{position: absolute;top: 160px; right:0; left:auto;} */
.page_2 #aniBox_3 .balloon.bottom:after{
    left:80%
}
.page_2 .b1{width: 150px; top: 190px; left: 580px; display: block; text-align: center; word-break: keep-all;}
.flex-wrap.nn1{
    width: 250px;
    margin-top:50px;
    justify-content: center;
    align-items: center;
}
.flex-wrap.nn2{
    justify-content: center;
    align-items: center;
    margin-top:70px;
}
.icon_arrow.nn3{
    position:
    absolute;
    top: 180px;
    left: 87px;
    transform: rotate(90deg);
}
.page_2 .line{
    position: absolute;
    width:800px;
    height: 170px;
    border:4px solid #00a0ff;
    border-top:0;
    border-left:0;
    top: 165px;
    left: 100px;
    pointer-events: none;
}
.page_2 .line::after{
    content:
    "";
    display: block;
    position:
    absolute; bottom:0; left:0; border-left:4px solid #00a0ff; width:1px;
    height: 50px;
}






.page_3 .colorBox{
    width:70px;
    height: 70px;
    text-align: center;
}

.type-b .lineDotted.line_1{left:70px}
.type-b .lineDotted.line_2{left:142px}
.type-b .lineDotted.line_3{left:214px}

.fbtn-1.complete{display: none;}
.fbtn-2.complete{display: none;}
.fbtn-1{position: absolute;top: 130px;left: 160px;}
.fbtn-2{position: absolute;top: 302px;left: 160px;}

.page_3 .txt1{position: absolute;top: 163px;right: 650px;width: 150px;text-align: right;}
.page_3 .txt2{position: absolute;top: 337px;right: 650px;width: 200px;text-align: right;}
.page_3 .txt3{position: absolute;top: 250px;left: 260px;}
.page_3 .txt4{position: absolute;top: 240px;right: 280px;}
.page_3 .img1{position: absolute;top: 231px;left: 585px;}
.page_3 .img2{position: absolute;top: 231px;left: 340px;}

.page_2 .div1{position: absolute;top: 20px; left:80px;width: 260px;}
.page_2 .div2{position: absolute;top: 20px;right: 80px; width:auto}

.line-arrow.l{
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height:1px;
    border-top:4px solid #00a0ff;
    margin-right:10px;
}

.line-arrow::after{
    content: "";
    width:20px;
    height: 20px;
    border:4px solid #00a0ff;
    border-right:0;
    border-bottom:0;
    position: absolute;
    bottom: -10px;
    right: 0px;
    transform: rotate(135deg);
} 
.page_2 .div1 .txt.n5 .line-arrow{border-color: #e94d40;}
.page_2 .div1 .txt.n5 .line-arrow::after{border-color: #e94d40;}


.page_2 .div1 img{width: 100%;}
.page_2 .div1 .txt{position: absolute;}
.page_2 .div1 .txt.n1{top: -21px;left: 138px;}
.page_2 .div1 .txt.n2{top: 159px;left: -12px;}
.page_2 .div1 .txt.n3{top: 335px;left: 6px;}
.page_2 .div1 .txt.n4{top: 149px;left: 248px; display:flex; justify-content: center; align-items:center;}
.page_2 .div1 .txt.n5{top: 329px;left: 248px; display:flex; justify-content: center; align-items:center;}














