@charset "utf-8";
.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
.contentsList .icon_arrow{width:auto !important; margin:0 10px;}
.lineBox .bullet.number,
h2 .bullet.number{margin-top:5px;}
.buttonContainer.iframe{right:170px;}
.checkContainer h2 .toggleBlank{margin-top:8px;}
.checkContainer .contentsBox .basicSlider_tabs {width: 600px}

.flexListContainer.wrap li {
    display: flex;
    align-items: center;
    width: 100%;
}
.flexListContainer.wrap li + li {
    margin-top: 15px;
}
.flexListContainer.wrap li .toggle {
    margin: 0 10px;
}

.study_guide {right: 0;top: -46px;}
/* drag */
.dragLineContainer {
  height: 360px;
  margin: 20px 30px 0 30px;
}
.dragLineContainer > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dragLineContainer .left,
.dragLineContainer .right {
  height: 290px;
}
.page_1 .dragLineContainer .left, 
.page_1 .dragLineContainer .right {
    height: 180px;
}
.dragLineContainer li {
    padding: 10px 20px;
    border-radius: 10px;
}
.page_1 section,
.page_4 section {
    height: 460px;
}
.dragLineContainer .left>li {
    background-color: #D4F3F6;
}
.dragLineContainer .right>li {
    background-color: #F6F1D4;
}

.dragLineContainer .center > li {
  background-color: #D4F3F6;
}
.dragLineContainer .right > li {
  background-color: #F6F1D4;
}
.dragLineContainer > ul > li img {
  width: 100%;
  vertical-align: top;
}
.page_1 .top_1,
.page_4 .top_1 {
  top: 55px;
}
.page_1 .top_2,
.page_4 .top_2 {
  top: 167px;
}
.page_4 .top_3 {
  top: 276px;
}
.page_1 .left_1,
.page_4 .left_1 {
  left: 275px;
}
.page_4 .left_2 {
  left: 526px;
}
.page_1 .left_2,
.page_4 .left_3 {
  left: 723px;
}

/*popup*/
.popup_pages .pop_page_1 .dotList li {
    align-items: center;
}
.popup_pages .pop_page_1 .dotList li .icon_arrow  {
    margin: 0 10px;
}


/*page_1*/

/*page_2*/
.page_2 .flexListContainer li + li {
    margin-left: 20px;
}
.page_2 .img-wrap {
    width: 100%;
    height: 300px;
}
.page_2 .img-wrap > img {
    width: auto;
    height: 100%;
}
/*page_3*/
.page_3 .flexListContainer.wrap li {
    padding-left: 250px;
}
.page_3 .colorBox.skyBlue {
    width: 132px;
}
.page_3 li:nth-child(3) .colorBox.purple {
    margin-left: 71px;
}
.page_3 li:nth-child(3) .toggle {
    margin-left: 0;
}
/*page_5*/
.page_5 section > div {
    padding-left: 250px;
}
.page_5 .colorBox.check {
    width: 132px;
    text-align: center;
}
/*page_6~7*/
.page_6 .flexListContainer.jcenter li,
.page_7 .flexListContainer.jcenter li {
    display: flex;
    align-items: center;
}
.page_7 .flexListContainer.jcenter li:nth-child(1) {
    align-items: flex-start;
}
.page_7 .flexListContainer.jcenter li .toggle {
    text-align: left;
}