.contentsBox .basicSlider_slides {height:480px;}
.contentsBox .contentsList li .ico_exam {position:relative;margin-left:50px;padding-left:60px;}
.contentsBox .contentsList li .ico_exam .bullet {position:absolute;left:0;top:0;}

.text_exam {position:relative;margin:10px 0 0;padding:0 0 0 60px;}
.text_exam .exam {position:absolute;left:0;top:0;}