/* quiz-draw-line */
/* .quiz-draw-line .line-item { background: rgba(255,0,0,0.2) !important; } */
.quiz-draw-line .line-item {
    /* 포인트 위치 조절(fla 파일 위치와 격차 조절) */
    margin: -20px -20px;
}
/* quiz-01 */
#quiz-01 .start:nth-child(1) {
    left: 500px;
    top: 250px;
}
#quiz-01 .start:nth-child(2) {
    left: 500px;
    top: 400px;
}
#quiz-01 .start:nth-child(3) {
    left: 500px;
    top: 550px;
}

#quiz-01 .end:nth-child(1) {
    left: 780px;
    top: 250px;
}
#quiz-01 .end:nth-child(2) {
    left: 780px;
    top: 400px;
}
#quiz-01 .end:nth-child(3) {
    left: 780px;
    top: 550px;
}