#quiz-01 .input-cont {
    margin: 10px 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 200px;
    left: 540px;
    top: 406px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 200px;
    left: 940px;
    top: 406px;
}