#quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 100px;
    left: 446px;
    top: 376px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 100px;
    left: 956px;
    top: 376px;
}
