header .title .popBtn.textInBtn.inline {top:5px}

.ex-box {display:flex}
.ex-box .bullet.exam {flex-shrink:0}

.img-content {position:relative;display:flex;justify-content:center;align-items:center;height:100%}
.img-content img {height:528px}
.img-content .txt-item {position:absolute}
.img-content .txt-item.n1 {top:150px;left:350px}
.img-content .txt-item.n2 {top:230px;left:410px}
.img-content .txt-item.n3 {top:75px;left:670px}
.img-content .txt-item.n4 {top:190px;left:875px}
.img-content .txt-item.n5 {top:450px;left:650px}

.page_2 .balloon.left:after {top:40%}
.page_4 .balloon.left:after {top:45%}
