[class*='img-content-'] {position:relative;text-align:center}
[class*='img-content-'] .txt-item {position:absolute}

.img-content-1 {margin-top:60px;padding-left:80px}
.img-content-1 img {height:300px}
.img-content-1 .txt-item.n1 {top:158px;left:0}
.img-content-1 .txt-item.n2 {top:70px;left:150px}
.img-content-1 .txt-item.n3 {top:270px;left:188px}
.img-content-1 .txt-item.n4 {top:185px;left:245px}
.img-content-1 .txt-item.n5 {top:90px;left:355px}
.img-content-1 .txt-item.n6 {top:20px;left:380px}

.img-content-2 {display:flex;justify-content:flex-end;align-items:flex-end;height:100%;margin-top:40px;padding-right:60px}
.img-content-2 img {height:240px}
.img-content-2 .balloon {top:-10px;left:100px;text-align:center}
.img-content-2 .balloon::after {left:70%}
