header .title .popBtn.textInBtn.inline {top:5px}

.ex-box {display:flex}
.ex-box .bullet.exam {flex-shrink:0}

.page_2 .balloon:after {top:60px}

.page_3 .lineBox.purple {position:relative;display:inline-block}
.page_3 .lineBox.purple img {height:250px}
.page_3 .lineBox.purple .toggle {position:absolute;top:10px;left:12px;padding:0;background-color:transparent}
.page_3 .lineBox.purple .toggle::after {display:none}
.page_3 .lineBox.purple .toggle .answer {background-color:#fff}
.page_3 .lineBox.purple .bullet.exam {position:absolute;top:0;left:0}
.page_3 .lineBox.purple .toggle .txt-item {position:absolute;font-size:30px;white-space:nowrap}
.page_3 .lineBox.purple .toggle .txt-item.n1 {top:132px;left:-8px}
.page_3 .lineBox.purple .toggle .txt-item.n2 {top:220px;left:105px}
.page_3 .lineBox.purple .toggle .txt-item.n3 {top:100px;left:100px}
.page_3 .lineBox.purple .toggle .txt-item.n4 {top:150px;left:150px}
.page_3 .lineBox.purple .toggle .txt-item.n5 {top:77px;left:258px}

.page_4 .charSpriteImg.boy_3 {position:absolute;top:-30px;left:180px;transform:scale(.75)}
.page_4 .balloon {top:70px;left:520px;width:320px;text-align:center}
.page_4 .balloon::after {top:45%}

.pop_page_1 .flex-wrap {align-items:center;height:100%}
[class*='img-content-'] {position:relative;text-align:center}
[class*='img-content-'] .txt-item {position:absolute;font-size:40px}
.img-content-1 {padding-left:80px}
.img-content-1 img {height:360px}
.img-content-1 .txt-item.n1 {top:198px;left:20px}
.img-content-1 .txt-item.n2 {top:90px;left:150px}
.img-content-1 .txt-item.n3 {top:330px;left:228px}
.img-content-1 .txt-item.n4 {top:220px;left:292px}
.img-content-1 .txt-item.n5 {top:122px;left:445px}
.img-content-1 .txt-item.n6 {top:40px;left:460px}
.img-content-2 {display:flex;justify-content:flex-end;align-items:flex-end;height:100%;margin-top:120px;padding-right:60px}
.img-content-2 img {height:240px}
.img-content-2 .balloon {top:-140px;left:100px;text-align:center}
.img-content-2 .balloon::after {left:70%}
