.content-container > .content > .bg {
    /* background-image: url(../images/mm_42_4_04_04_01/bg.svg); */
    /* background-image: url(../images/01.png); opacity: 1; */
}
#quiz-01 .input-cont {
    width: 60px;
}
#quiz-01 .input-cont:nth-child(1) {
    left: 427px;
    top: 519px;
}

#quiz-01 .input-cont:nth-child(2) {
    left: 662px;
    top: 480px;
}

#quiz-01 .input-cont:nth-child(3) {
    left: 804px;
    top: 519px;
}

#quiz-01 .input-cont:nth-child(4) {
    left: 918px;
    top: 480px;
}

#quiz-01 .input-cont:nth-child(5) {
    left: 1035px;
    top: 519px;
}

#quiz-01 .input-cont:nth-child(6) {
    left: 1105px;
    top: 480px;
}
