.content-container > .content > .bg {
    /* background-image: url(../images/mm_42_4_07_05_01/bg.svg); */
    /* background-image: url(../images/mm_42_4_07_06_01.png); opacity: 1; */
}

#quiz-01 .input-cont {
    width: 606px;
}

#quiz-01 .input-cont:nth-child(1) {
    left: 82px;
    top: 485px;
    width: 218px;
}
#quiz-01 .input-cont:nth-child(2) {
    left: 82px;
    top: 905px;
    width: 218px;
}
#quiz-01 .input-cont:nth-child(3) {
    left: 301px;
    top: 344px;
    width: 291px;
}
#quiz-01 .input-cont:nth-child(4) {
    left: 301px;
    top: 625px;
    width: 291px;
}
#quiz-01 .input-cont:nth-child(5) {
    left: 301px;
    top: 765px;
    width: 291px;
}
#quiz-01 .input-cont:nth-child(6) {
    left: 301px;
    top: 905px;
    width: 291px;
}
#quiz-01 .input-cont:nth-child(7) {
    left: 593px;
    top: 344px;
}
#quiz-01 .input-cont:nth-child(8) {
    left: 593px;
    top: 485px;
}
#quiz-01 .input-cont:nth-child(9) {
    left: 593px;
    top: 765px;
}

.btn-answer-part:nth-child(1) {
    left: 1179px;
    top: 199px;
}