.content-container > .content > .bg {
    /* background-image: url(../images/mm_42_4_02_05_01/bg.svg); */
    /* background-image: url(../images/mm_42_4_02_05_01.png); opacity: 1; */
}
/* .quiz-check.image-answer {
    position: absolute;
    left: 0;
    top: -180px;
}
 */

 #btn-hint-01 {
    left: 993px;
    top: 278px;
}

#btn-hint-02 {
    left: 993px;
    top: 678px;
}

#quiz-01.quiz-check.image-answer {
    position: relative;
    left: 899px;
    top: 120px;
}

#quiz-02.quiz-check.image-answer {
    position: relative;
    left: 899px;
    top: 492px;
}

.btn-answer-part:nth-child(1) {
    left: 1180px;
    top: 65px;
}

.btn-answer-part:nth-child(2) {
    left: 1180px;
    top: 551px;
}

.img-box .svg-img {
    position: absolute;
    left: 32px;
    top: -28px;
}

.img-box .png-img {
    position: absolute;
    left: 59px;
    top: 2px;
}


.app-angle-tool .tool-container {
    top: 160px;
}

#quiz-01 .quiz-00-answer.answer-part-00 {
    visibility: hidden;
}

#quiz-01.active .quiz-00-answer.answer-part-00 {
    position: relative;
    left: -38px;
    top: -178px;
    visibility: visible;
}

#quiz-02 .quiz-00-answer.answer-part-00 {
    visibility: hidden;
}

#quiz-02.active .quiz-00-answer.answer-part-00 {
    position: relative;
    left: -38px;
    top: -208px;
    visibility: visible;
}
