.content-container > .content > .bg {
    background-image: url(../images/mm_42_4_04_07_03/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}
#quiz-01 .input-cont {
    width: 114px;
}
#quiz-01 .input-cont:nth-child(1) {
    left: 1078px;
    top: 515px;
}


.answer .an-1 {
    position: absolute;
    left: -70px;
    top: 70px;
    width: 230px;
}