.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}

.basicSlider_slides .basicSlider.contentsBox{
    padding:0
}
.textAlignC {margin-left:22px;}
.img-wrap{position: relative;width: 540px;margin: 0 auto;}
.btn_1.zoomBtn{background: url(../images/suh_h_0301_05_0001_201_1/suh_h_0301_05_0001_202_1_1.png) no-repeat 0 0 / cover; width:100%; height:500px;}
.btn_2.zoomBtn{background: url(../images/suh_h_0301_05_0001_201_1/suh_h_0301_05_0001_202_1_2.png) no-repeat 0 0 / cover; width:100%; height:500px;}
.balloon{text-align: center; z-index: 2;}
.b1{top: 20px;left: 30px;width: 320px;}
.b2{top: 260px;left: 319px;width: 220px;}
.b3{top: 170px;left: 50px;width: 210px;}
.b4{top: 110px;left: 300px;width: 230px;}
.txt{position: absolute; z-index: 2;}
.txt.n1{top: 100px;left: 50px;font-size: 20px;text-align: center;transform: rotate(2deg);}
.txt.n2{top: 32px;left: 216px;font-size: 16px;}
.toggle .answer{display: flex;}

.pop_page_1 img{width: 100%;}
.popup_pages .b1{top: 130px;left: 40px;width: 330px;}
.popup_pages .b2{top: 310px;left: 230px;width: 200px;}
.popup_pages .b3{top: 330px;left: 550px;width: 200px;}
.popup_pages .b4{top: 250px;left: 810px;width: 210px;}
.popup_pages .txt.n1{top: 260px;left: 571px;font-size: 20px;text-align: center;transform: rotate(3deg);}
.popup_pages .txt.n2{top: 200px;left: 730px;font-size: 14px;}

.popup_pages .txt.n3{top: 140px;left: 1081px;font-size: 10px;color: #fff;;}
.popup_pages .txt.n4{top: 167px;left: 1068px;font-size: 10px;}
.popup_pages .txt.n5{top: 194px;left: 1049px;font-size: 30px;color: green;}
.popup_pages .txt.n6{top: 250px;left: 1044px;font-size: 11px;}
.popup_pages .txt.n7{top: 278px;left: 1035px;font-size: 7px;transform: scale(.8);}
/* 
/* 
.page_1 .textAlignC {
    width:700px;
    margin: 0 auto;
}
.page_2 .textAlignC {
    width:700px;
    margin: 0 auto;
}
.page_3 .textAlignC {
    width:700px;
    margin: 0 auto;
}
.page_4 .textAlignC {
    width:700px;
    margin: 0 auto;
} */
.textAlignC .toggle{margin-top:10px}
.page_5 h2 span,
.page_4 h2 span{word-break: keep-all;}









