.page_1 .tableContainer{
    width:500px; margin:40px auto;
}
.page_1 .textAlignC{
    width: 490px;
    margin: 0 auto;
}
h2 .ico_precheck{margin-right:0}
h2 .inline{display: inline-flex; margin-right:10px}
.page_2 .img-wrap{position: relative; margin:0 auto 20px;width:330px}
.page_2 .img-wrap img{width: 100%;}
.page_2 .img-wrap > div{position: absolute; }
.page_2 .img-wrap .txt{display: flex;justify-content: space-between;width: 100%;box-sizing: border-box;font-size: 34px;}
.page_2 .img-wrap .txt.n4{top: 144px;left: 0;padding: 0 50px;}
.page_2 .img-wrap .txt.n1{top: 46px;left: 0;padding: 0 50px;justify-content: center;}
.page_2 .img-wrap .txt.n2{top: 60px;left: 0;padding: 0 108px 0 96px;}
.page_2 .img-wrap .txt.n3{top: 96px;left: 0;padding: 0 70px;}
.page_2 .img-wrap .txt.n5{top: 196px;left: 0;padding: 0 70px;}
.page_2 .img-wrap .txt.n6{top: 231px;left: 0;padding: 0 110px;}
.page_2 .img-wrap .txt.n7{top: 241px;left: 0;padding: 0 50px;justify-content: center;}
.page_2 .img-wrap .st{position:absolute;font-size: 23px;}
.page_2 .img-wrap .st.n0{top: 2px;left: 159px;}
.page_2 .img-wrap .st.n1{top:2px;left: 173px;}
.page_2 .img-wrap .st.n2{top: 6px;left: 189px;}
.page_2 .img-wrap .st.n3{top: 10px;left: 203px;}
.page_2 .img-wrap .st.n4{top: 16px;left: 216px;}
.page_2 .img-wrap .st.n5{top: 22px;left: 231px;}
.page_2 .img-wrap .st.n6{top: 32px;left: 244px;}
.page_2 .img-wrap .st.n7{top: 43px;left: 256px;}
.page_2 .img-wrap .st.n8{top: 52px;left: 265px;}
.page_2 .img-wrap .st.n9{top: 62px;left: 276px;}
.page_2 .img-wrap .st.n10{top: 75px;left: 278px;;}
.page_2 .img-wrap .st.n11{top: 91px;left: 286px;}
.page_2 .img-wrap .st.n12{top: 110px;left: 290px;}

.page_3 .img-wrap{position: relative; margin:0 auto 20px;width:530px}
.page_3 .img-wrap img{width: 100%;}
.page_3 .img-wrap table{position: absolute;top: -6px;left:0;text-align: center;height: 443px;width: calc(100% + 20px);margin-left: -10px;}



.ico_precheck {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1px;
    left: 0;
    width: 100px;
    height: 60px;
    padding: 0;
    padding-left: 4px;
    color: #FFF;
    font-size: 0.7em;
    font-family: YGJAL;
    letter-spacing: 6px;
    box-sizing: border-box;
    background: url(../images/preCheck_icon.svg) -400px center / auto 100% no-repeat;
    margin-right:10px;
    transform: translate(0, -2px);
}

