.basicSlider_slides .flex-item.n1{max-width:500px;}
.basicSlider_slides .flex-item.n2{margin-left:40px}
.basicSlider_slides  section{padding-right:0;}
.basicSlider_slides .answer{width: 100%; text-align: justify;}

.icon_arrow.eff.complete{animation:none;}
.icon_arrow.eff {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}

.contentsBox .contentsBox{padding: 0 !important;}

.img-wrap{
    position: relative;
    margin:0 auto;
    width:600px;
}
.img-wrap img{width: 100%;}
.img-wrap > div{position: absolute;}
.img-wrap .n1{top: 3px; left: 287px;}
.img-wrap .n2{top: 46px; left: 130px;transform: scale(.5);}
.img-wrap .n3{top: 46px; left: 430px;transform: scale(.5);}
.img-wrap .n4{top: 126px; left: 80px;}
.img-wrap .n5{top: 186px; left: 60px;}
.img-wrap .n6{top: 246px; left: 40px;}

.flex-wrap{justify-content: center;}
.flex-wrap > div{display: flex; align-items: center;}
.flex-wrap +.flex-wrap{margin-top:10px}
.flex-wrap > div + div{margin-left:50px}















