.flex-wrap.center{justify-content: center; align-items: center;}
.flex-wrap.center > div{margin:0 10px;}
.img-wrap{width:660px; margin: 0 auto 30px; position: relative;}
.img-wrap img{width: 100%; display: block;}
.img-wrap .img{position: absolute; top:0; left:0; opacity: 0;}
.img-wrap .exam{position: absolute;}


.on.img{opacity: 1;}

.flex-wrap.bg{
    width: 100%;
    height: 400px;
    background: url(../images/suh_h_0301_06_0006_203_1/suh_h_0301_06_0006_203_1_1.png) no-repeat 50% 53% / 100%;
    justify-content: center;
}
.flex-wrap.bg .n1{margin:0 193px}













