@charset "utf-8";

.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
.contentsList .icon_arrow{width:auto !important; margin:0 10px;}
.lineBox .bullet.number,
h2 .bullet.number{margin-top:5px;}
.blankBox.w40,
h2 .blankBox.w50{
    max-width: 40px !important;
    min-width: 40px !important;
    max-height: 40px !important;
    min-height: 40px !important;
    transform: translate(0,4px);
}
.buttonContainer.iframe{right:170px;}
.checkContainer h2 .toggleBlank{margin-top:8px;}
.checkContainer .contentsBox .basicSlider_tabs {width: 600px}
.ico-circle{display: inline-block; width:40px; height: 40px; border:3px solid #008dd0; border-radius: 50%; vertical-align: middle; transform: translate(0,-4px);}

.page_1 .contentsBox{padding:0 !important;height: 400px;}
.page_1 .contentsBox .basicSlider_slides{height: 462px;}
.page_1 .img-wrap{ width:700px; margin:20px auto;text-align:center;}
.page_1 .dotList{margin-left:30px}
.page_1 .innerTab_1 .group1{margin: 40px 0 130px 50px; display: flex; align-items: center;}
.page_1 .innerTab_1 .group1 .icon_arrow{margin-right:15px}
.page_1 .innerTab_1 .group1 .toggle{width:100px}

.page_1 .innerTab_2 .group1{margin: 40px 0 130px 50px; display: flex; align-items: center;}
.page_1 .innerTab_2 .group1 .icon_arrow{margin-right:15px}
.page_1 .innerTab_2 .group1 .toggle{width:100px}

.page_1 .innerTab_3 .group1{margin: 15px 0 130px 262px;}
.page_1 .innerTab_3 .group1 .toggle{width:100px}

.page_1 .innerTab_3 .flex-wrap{width:100%; justify-content: center; z-index: 1;}
.page_1 .innerTab_3 .flex-wrap > div{margin:0 5px; text-align: center; position: relative; padding:5px 10px;width:29%}
.page_1 .innerTab_3 .flex-wrap > div:nth-child(2){width:42%}
.page_1 .innerTab_3 .flex-wrap > div img{height: 80px;}
.page_1 .innerTab_3 .group1 .toggle::before,
.page_1 .innerTab_3 .flex-wrap > div::before{
    content:"";
    display: block;
    position: absolute;
    top:-30px;
    left:50%;
    background:silver;
    width:20px; height: 20px;
    border-radius: 50%;
    margin-lefT:-10px;
    z-index: 3;
}
.page_1 .innerTab_3 .group1{position: relative; z-index: 1;}
.page_1 .innerTab_3 .group1 .toggle::before{top:auto; bottom:-30px;}
.page_1 .innerTab_3 .line{position:absolute; width:5px; height:100px; background:#00a0ff; }
.page_1 .innerTab_3 .line.n1{
    top: 77px;
    left: 50px;
    transform: rotate(62.5deg);
    transform-origin: top left;
    height: 190px;
    z-index: 0;
}
.page_1 .innerTab_3 .line.n2{
    top: 80px;
    left: 48px;
    transform: rotate(-74deg);
    transform-origin: top left;
    height: 350px;
    z-index: 0;
}
.page_1 .innerTab_3 .line.n3{
    top: 76px;
    left: 50px;
    transform: rotate(59.5deg);
    transform-origin: top left;
    height: 188px;
    z-index: 0;
}


.pop_page_1 .flex-wrap{width:600px; margin:0 auto 10px; justify-content: space-between;}
.pop_page_1 .flex-wrap img{width:50px; height: 50px;}
.pop_page_1 .img-wrap img{width: 100%;}

.lineBox.ok{border-color: #00a0ff !important;}
*{word-break: keep-all;}


.pop_page_2 .flex-wrap{align-items: center;margin-top:40px;position: relative; }
.pop_page_2 .flex-wrap .icon_arrow{margin: 0 10px;}
.pop_page_2 .flex-wrap .icon_arrow.n1{margin: 0;position: absolute;top:-30px;left: 150px;}
.pop_page_2 .flex-wrap .icon_arrow.n2{margin: 0;position: absolute;top:-30px;left: 260px;transform: rotate(-45deg);}


.page_2 .img-wrap{width:800px; margin:-20px auto 0;}
.page_2 .img-wrap .flex-wrap{width: 100%; justify-content: space-between; margin:10px 0}
.page_2 .group{
    width: 660px;
    margin: 20px auto;
    }
.page_2 .group .flex-wrap > div:first-child{width: 160px;}
.page_2 .group .colorBox{text-align: center;}


.page_3 .dotList li>div,
.page_3 .dotList li{width: 100%;}
.page_3 .list_1,
.page_3 .list_2,
.page_3 .list_3 {margin-left: 30px;}

.page_3 .lineBox.sky{
    margin: -25px auto 10px;
    padding: 10px 10px;
    text-align: center;
    width: 88%;
}
.page_3 .toggle{
    /* width: 100%; */
    text-align: center;
    /* margin: 0 auto; */
}
.page_3 .list_2 .toggle_wrap{width: 800px;}
.page_3 .toggle_wrap{/* margin-left: 116px; */margin: 0 auto;}


.pop_page_4 .flex-wrap{align-items: stretch;width: 520px;justify-content: space-between;margin: 0 auto;}
.pop_page_4 .flex-wrap > div{align-items: flex-end; display: flex;}
.pop_page_4 .flex-wrap .flex-item{text-align: center; position: relative; padding-top:90px; align-items: center; justify-content: center; box-sizing: border-box; display: flex; }
.pop_page_4 .flex-item .toggle{margin:0 40px 0 0;}

.pop_page_4 .flex-item .colorBox{display: inline-block;position: absolute;top:0;left:50%;transform: translate(-50%, 0);width: 170px;text-align: center;}
.pop_page_4 .flex-item  img{position: absolute;left: 0px;top: 110px;height: 100px;}
.page_4 h2 img{display: inline-block; transform: translate(0, 10px);}
.page_4 h2 .dot{margin-top: 26px !important;}





/* page 2 */
.titleHeart {
   display: inline-block;
   width: 50px;
   height: 38px;
   background: url(images/suh_0301_03_0004_401_1/suh_0301_03_0004_401_1_2_1.png) no-repeat;
   background-position: center;
   background-size: contain;
   position: relative;
   top: 3px;
}
.page_4 .flexListContainer{
    width:800px;
    margin:20px auto 0 auto;
}
.page_4 .flexListContainer li{
    display: flex;
    align-items: center;
}
/* page 3 */
.page_5 .box{
    position: relative;
    width: 600px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.page_5 .arrow{
    position: absolute;
    top: 13px;
    left: 300px;
    height: 130px;
}


.page_5 .icon_arrow{
    position: absolute;
    left: 45%;
}
.page_5 .arrow_1,
.page_5 .arrow_3{
    top: 27px;
    transform: rotate(-22deg);
}
.page_5 .arrow_2,
.page_5 .arrow_4{
    bottom: 27px;
    transform: rotate(22deg);
}
.page_5 .toggle-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* 4 */
.page_6 .flexListContainer {
  margin: 50px auto;
  width: 650px;
  height: 160px;
}
.page_6 .flexListContainer > li.lineBox {
    width: 300px;
    border-radius: 20px;
    height: 140px;
    line-height: 120px;
    text-align: center;
    padding: 0 40px;

    position: relative;
}
.page_6 .flexListContainer .icon[data-ox-target] {
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    background-size: auto 80%;
}
/* 5 */
.checkContainer .contentsBox .page_5 h2{
    margin-bottom:-10px;
    position: relative;
    z-index: 1;
}
.contentsList>li:not(:last-of-type){
    margin-bottom:0;
}
.contentsList>li:nth-child(2){
    margin-bottom:15px;
}
.contentsList li .answer02{
    width:100%;
    text-align: center;
}
.page_7 .textAlignC img{margin-top:-35px}





