.page_1 .img-wrap{width: 500px; margin:0 auto; position: relative;}
.page_1 .img-wrap img{width:100%;}
.page_1 .img-wrap .lineBox{position: absolute; top:4px; left:0; width:100%; background-color: transparent; height:70px;}
.page_1 .img-wrap .lineBox.n1{top:4px; }
.page_1 .img-wrap .lineBox.n2{top:84px; }
.page_1 .img-wrap .lineBox.n3{top: 166px;}
.page_1 .img-wrap .lineBox.n4{top: 248px;}
.page_1 .innerTab_1 .img-wrap{margin:30px auto}

.basicSlider_slides .contentsBox{padding:0}

.page_2 .flex-wrap .flex-wrap{align-items: center; justify-content: space-around; width: 100%;}
.page_2 .flex-wrap{width:100%; margin-top:40px; }
.page_2 .flex-wrap .lineBox{width:50%; padding-bottom: 40px;}
.page_2 .lineBox{margin:0 10px; position: relative; padding:50px 20px 20px;}
/* .page_2 .flex-wrap .flex-wrap > div{width:auto; } */
.page_2 .lineBox .colorBox{position:absolute; top:-40px; left:50%; transform: translate(-50%, 0);}
.page_2 .card{background: url(../images/suh_h_0301_03_0006_202_1_2.png) no-repeat 0 0 / cover; width:60px;
text-align: center;height: 60px; display: inline-block; line-height: 60px;
}
.page_2 .card.c2{background: url(../images/suh_h_0301_03_0006_202_1_3.png) no-repeat 0 0 / cover;}