.img-wrap{width:630px; margin:0 auto; position: relative;}
.img-wrap img{width:100%}
.img-wrap .txt{position: absolute;}
.img-wrap .txt.n1{left: 31%;bottom: 12%;}
.img-wrap .txt.n2{right: 28%;bottom:12%;}
.img-wrap .txt.n3{left: 48%;top: 18%;}


.solve .img-wrap .txt.n1{left: 35%;bottom: 11%;}
.solve .img-wrap .txt.n2{right:30%;bottom:11%;}
.solve .img-wrap .txt.n3{left: 45%;top: 18%;}




















