@charset "utf-8";
section {
  padding: 20px 50px;
}

figure {
  position: relative;
  width: 974px;
  margin: 14px auto 0;
}

figure img {
  width: 100%;
  vertical-align: top;
}
.toggleObj {
  cursor: pointer;
}
.toggle_1 {
  top: 0;
  width: 137px;
  left: 30px;
}
.toggleAnswer[data-toggle-target="2"],
.toggleAnswer[data-toggle-target="3"],
.toggleAnswer[data-toggle-target="4"] {
  position: absolute;
  text-align: center;
}
.toggle_2,
.toggleAnswer[data-toggle-target="2"] {
  top: 104px;
  left: 184px;
  width: 130px;
}

.toggle_3,
.toggleAnswer[data-toggle-target="3"] {
  top: 104px;
  left: 559px;
  width: 130px;
}

.toggle_4,
.toggleAnswer[data-toggle-target="4"] {
  top: 104px;
  left: 939px;
  width: 130px;
}