@charset "utf-8";
section {
  padding: 20px 50px;
}

figure {
  position: relative;
  width: 876px;
  margin: 14px auto 0;
}

figure img {
  width: 100%;
  vertical-align: top;
}
.list.dot > li {
  display: flex;
}
.list.dot > li > span {
  flex-shrink: 0;
  margin-right: 10px;
}
.toggleObj {
  cursor: pointer;
}
.toggle_1 {
  top: 0;
  width: 180px;
  left: 30px;
}
.toggleObj:not(.toggle_1),
.toggleAnswer[data-toggle-target="2"],
.toggleAnswer[data-toggle-target="3"],
.toggleAnswer[data-toggle-target="4"],
.toggleAnswer[data-toggle-target="5"] {
  position: absolute;
  top: 344px;
  text-align: center;
  width: 160px;
}
.toggle_2,
.toggleAnswer[data-toggle-target="2"] {
  left: 177px;
}

.toggle_3,
.toggleAnswer[data-toggle-target="3"] {
  left: 415px;
}

.toggle_4,
.toggleAnswer[data-toggle-target="4"] {
  left: 641px;
}

.toggle_5,
.toggleAnswer[data-toggle-target="5"] {
  left: 884px;
}