@charset "utf-8";
figure {
  position: relative;
}
figure img {
  display: block;
  width: 100%;
  margin: 0 auto 10px;
  vertical-align: top;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  height: 360px;
}
.flexContainer figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  width: 290px;
}
.flexContainer figure:nth-of-type(1) > img {
  width: 232px;
}
.flexContainer figure:nth-of-type(2) > img {
  width: 240px;
}
.flexContainer figure:nth-of-type(3) > img {
  width: 267px;
}
.flexContainer figure input {
  width: 100%;
  text-align: center;
}
