@charset "utf-8";
figure {
  position: relative;
  margin: 0 auto 30px;
  width: 628px;
}
figure img {
  width: 100%;
  vertical-align: top;
}

.table {}
.table .shrink {
  width: 180px;
}
.table > ul > li {
  height: 90px;
}
.table input {
  width: 96%;
}
