@charset "utf-8";
.flexContainer {
  display: flex;
  justify-content: space-between;
}
.flexContainer > li {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 430px;
}
.flexContainer > li input {
  text-align: center;
}
.flexContainer > li figure {
  position: relative;
  display: flex;
  height: 266px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.flexContainer > li figure img {
  vertical-align: top;
}
.flexContainer > li figure input {
  width: 215px;
}
.flexContainer > li:nth-of-type(1) {
  border-right: 3px dashed #e0865a;
}
.flexContainer > li:nth-of-type(1) figure {

}
.flexContainer > li:nth-of-type(1) figure img {
  width: 182px;
  margin: 0 0 10px 0;
}
.flexContainer > li:nth-of-type(2) figure {

}
.flexContainer > li:nth-of-type(2) figure img {
  width: 182px;
  margin: 0 0 10px 0;
}
.flexContainer li > div {}
.flexContainer li > div input {
  display: inline-block;
  width: 90px;
}