@charset "utf-8";
.icon_coupleAct {
  position: absolute;
  display: block;
  top: 11px;
  left: -24px;
  width: 92px;
  height: 36px;
  background: url(../images/coupleAct_icon.svg) center / contain no-repeat;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 0 0;
}
.colorBox {
  width: 586px;
  height: 310px;
}
.pencilContainer {
  position: relative;
  width: 416px;
  height: 306px;
}
.pencilContainer .rotateContainer {
  position: absolute;
  width: 39px;
  cursor: pointer;
  pointer-events: none;
}
.pencilContainer .rotateContainer .rotateTarget {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: auto;
}
.pencilContainer .rotate_1 {
  top: 110px;
  left: 40px;
  height: 142px;
}
.pencilContainer .rotate_1 .rotateTarget {
  background-image: url("../images/6_1/6_1_8_01.png");
}
.pencilContainer .rotate_2 {
  top: 84px;
  left: 112px;
  height: 173px;
}
.pencilContainer .rotate_2 .rotateTarget {
  background-image: url("../images/6_1/6_1_8_02.png");
}
.pencilContainer .rotate_3 {
  top: 60px;
  left: 185px;
  height: 196px;
}
.pencilContainer .rotate_3 .rotateTarget {
  background-image: url("../images/6_1/6_1_8_03.png");
}
.pencilContainer .rotate_4 {
  top: 44px;
  left: 258px;
  height: 213px;
}
.pencilContainer .rotate_4 .rotateTarget {
  background-image: url("../images/6_1/6_1_8_04.png");
}
.pencilContainer .rotate_5 {
  top: 40px;
  left: 330px;
  height: 219px;
}
.pencilContainer .rotate_5 .rotateTarget {
  background-image: url("../images/6_1/6_1_8_05.png");
}

.rotateButton {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:#4285f4 url(../../include/math/images/icon_rotate_right.svg) center / contain no-repeat;
  /* outline: 1px solid tomato; */
  pointer-events: auto;
}
.showRotate .rotateButton {
  opacity: 1;
  visibility: visible;
}
.rotate_1 .rotateButton {
  top: 75px;
  left: 21px;
}
.rotate_2 .rotateButton {
  top: 90px;
  left: 21px;
}
.rotate_3 .rotateButton {
  top: 102px;
  left: 21px;
}
.rotate_4 .rotateButton {
  top: 117px;
  left: 21px;
}
.rotate_5 .rotateButton {
  top: 117px;
  left: 21px;
}

.rotateContainer.isDrag {
  z-index: 10;
}
.pointerOff.pencil:after {
  pointer-events: none !important;
}

.page2 .dotListIndent {
  margin-bottom: 40px;
}
.page2 .dotListIndent input {
  width: 100%;
}
.popupButton.head {
  top: -75px;
}
.popup_pages > li.head {
  width: 654px;
  top: 105px;
  right: 80px;
  overflow: hidden;
}
.popup_pages > li.head .flexContainer {
  margin: 0;
  pointer-events: none;
}
.popup_pages > li.head .pencilContainer {
  position: absolute;
  top: 24px;
  left: -492px;
}
.popup_pages > li.head .pencilContainer .rotateContainer .rotateTarget {
  pointer-events: none;
}
.popup_pages > li.head .pencilContainer .rotateButton {
  display: none;
}