@charset "utf-8";
figure { position: relative; }
figure img {
  width: 100%;
  vertical-align: top;
}
figure img[src*="svg"] {
  position: absolute;
  top: 0;
  left: 0;
}
.flexContainer .shrink { flex-shrink: 0; margin-right: 10px; }
.supplies {
  top: -75px;
  right: 0; /* 팝업 버튼 기본 위치 */
}
.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 450px;
}
.flexContainer .lineBox.gray {
  position: relative;
  display: block;
  flex-shrink: 0;
  width: 376px;
  height: 100%;
  margin-right: 130px;
}
.flexContainer > .right {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.flexContainer > .right figure {
  display: none;
  width: 436px;
  margin: 130px auto 0;
}
.flexContainer .lineBox.gray.showAnswer + .right figure {
  display: block;
}

.flexContainer .rotateContainer .rotateTarget:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  transform-origin: center;
}
.flexContainer .rotateContainer.showRotate .rotateTarget:after,
.flexContainer .rotate_1.showRotate .rotateTarget:after,
.flexContainer .rotate_2.showRotate .rotateTarget:after {
  transform: scale(1.5);
}
.flexContainer .rotate_3.showRotate .rotateTarget:after {
  transform: scale(1.54);
}
.flexContainer .rotate_4.showRotate .rotateTarget:after {
  transform: scale(1.6);
}
.flexContainer .rotate_6.showRotate .rotateTarget:after {
  transform: scale(1.63);
}
.flexContainer .rotate_1 {
  top: 40px;
  left: 30px;
  width: 150px;
  height: 130px;
}
.flexContainer .rotate_1 .rotateTarget:after {
  background: url(../images/6_4/6_4_3_01.png) center / contain no-repeat;
}
.flexContainer .rotate_2 {
  top: 74px;
  left: 215px;
  width: 116px;
  height: 67px;
}
.flexContainer .rotate_2 .rotateTarget:after {
  background: url(../images/6_4/6_4_3_02.png) center / contain no-repeat;
}
.flexContainer .rotate_3 {
  top: 225px;
  left: 30px;
  width: 148px;
  height: 64px;
}
.flexContainer .rotate_3 .rotateTarget:after {
  background: url(../images/6_4/6_4_3_04.png) center / contain no-repeat;
}
.flexContainer .rotate_4 {
  top: 222px;
  left: 238px;
  width: 72px;
  height: 72px;
}
.flexContainer .rotate_4 .rotateTarget:after {
  background: url(../images/6_4/6_4_3_03.png) center / contain no-repeat;
}
.flexContainer .rotate_5 {
  top: 345px;
  left: 30px;
  width: 146px;
  height: 40px;
}
.flexContainer .rotate_5 .rotateTarget:after {
  background: url(../images/6_4/6_4_3_05.png) center / contain no-repeat;
}
.flexContainer .rotate_6 {
  top: 340px;
  left: 240px;
  width: 72px;
  height: 62px;
}
.flexContainer .rotate_6 .rotateTarget:after {
  background: url(../images/6_4/6_4_3_06.png) center / contain no-repeat;
}


.rotateButton {
  top: 0;
  left: 0;
  transform: none;
}
.showRotate .rotateButton {
  opacity: 1;
  visibility: visible;
}
.flexContainer .rotate_1 .left {
  top: 32px;
  left: 31px;
}
.flexContainer .rotate_1 .right {
  top: 57px;
  left: 79px;
}
.flexContainer .rotate_2 .left {
  top: -5px;
  left: 22px;
}
.flexContainer .rotate_2 .right {
  top: 31px;
  left: 55px;
}
.flexContainer .rotate_3 .left {
  top: 13px;
  left: 25px;
}
.flexContainer .rotate_3 .right {
  top: 13px;
  left: 84px;
}
.flexContainer .rotate_4 .left {
  top: 17px;
  left: -3px;
}
.flexContainer .rotate_4 .right {
  top: 17px;
  left: 44px;
}
.flexContainer .rotate_5 .left {
  top: -5px;
  left: -21px;
}
.flexContainer .rotate_5 .right {
  top: 5px;
  left: 126px;
}
.flexContainer .rotate_6 .left {
  top: 6px;
  left: -24px;
}
.flexContainer .rotate_6 .right {
  left: 64px;
  top: 6px;
}


.page1 .lineBox.gray .rotateTarget,
.lineBox.gray.showAnswer .rotateContainer .rotateTarget,
.lineBox.gray.showAnswer .rotateContainer .rotateTarget:after {
  pointer-events: none !important;
}
.showRotate.rotateContainer {
  z-index: 1;
}
/*page */
.flexContainer > .right .imageBox {
  position: relative;
  width: 486px;
  height: 410px;
  margin: 20px 0 0 0;
}
.flexContainer > .right .imageBox > img {
  position: absolute;
  top: 154px;
  width: 234px;
  left: 50%;
  transform: translate(-50%);
}


.page1 .flexContainer > .right .imageBox {
  margin: 20px auto 0;
  background: url(../images/6_4/6_4_6_01.svg) center/contain no-repeat;
}
.page1 .flexContainer > .right .imageBox > img.complete + img {
  opacity: 0;
}
.page1 .flexContainer > .right .imageBox .clickButton {
  top: 20px;
  left: 430px;
}

/* 2~4*/
.flexContainer > .right .imageBox .name {
  width: 338px;
  height: 106px;
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
  line-height: 106px;
  background: url(../images/6_4/6_4_6_02.png) center/contain no-repeat;
}
.flexContainer > .right .imageBox .name input {
  display: inline-block;
  width: 78px;
  height: 70px;
  text-align: center;
  font-size: inherit;
  vertical-align: middle;
  margin: -6px 0 0 0;
}
.flexContainer > .right .imageBox > .answerImg {
  display: none;
  /* top: 173px;
  left: 390px;
  width: 192px;
  transform: none; */
}
.flexContainer .lineBox.showAnswer + .right .answerImg {
  display: block;
}

.imageBox .exam {
  top: 150px;
  left: 70px;
  display: none;
}
.flexContainer .lineBox.showAnswer + .right .exam {
  display: block;
}