
@charset "utf-8";

h3 span{color:#dc623d; padding-right:10px;}

figure { position: relative; }
figure img {
  width: 100%;
  vertical-align: top;
}
.pointerOff {
  pointer-events: none !important;
}
/*page*/

figure {
  width: 619px;
  margin: 0 auto 20px;
}

.page1 .btn_1 {
  top: 80px;
  left: 480px;
}
.page1 .btn_2 {
  top: 80px;
  left: 700px;
}
.page1 .btn_3 {
  top: 80px;
  left: 840px;
}

.page1 .btn_4 {
  top: 210px;
  left: 480px;
}
.page1 .btn_5 {
  top: 210px;
  left: 700px;
}
.page1 .btn_6 {
  top: 210px;
  left: 900px;
}


.popup_pages .dragBox {
  position: absolute;
  bottom: 6px;
  right: 0;
  width: 330px;
  height: 120px;
}
.popup_pages .dragBox .rotateContainer.rotate_protractor {
  top: 25px;
  left: 20px;
}
.popup_pages .dragBox .rotateContainer.rotate_triangle_2 {
  top: 62px;
  left: 164px;
}

.popup_pages .rotateContainer.rotate_protractor.showRotate {
  width: 420px;
  height: 240px;
}
.popup_pages .rotateContainer.rotate_triangle_2.showRotate {
  width: 610px;
  height: 112px;
}
.popup_pages .imageBox {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.popup_pages .page1 .imageBox {
  background-size: 500px auto;
  background-image: url("../images/6_8/6_8_5_pop_1.svg");
}
.popup_pages .page2 .imageBox {
  background-size: 500px auto;
  background-image: url("../images/6_8/6_8_5_pop_2.svg");
}
.popup_pages .page3 .imageBox {
  background-size: 500px auto;
  background-image: url("../images/6_8/6_8_5_pop_3.svg");
}
.popup_pages .page4 .imageBox {
  background-size: 500px auto;
  background-image: url("../images/6_8/6_8_5_pop_4.svg");
}
.popup_pages .page5 .imageBox {
  background-size: 500px auto;
  background-image: url("../images/6_8/6_8_5_pop_5.svg");
}
.popup_pages .page6 .imageBox {
  background-size: 500px auto;
  background-image: url("../images/6_8/6_8_5_pop_6.svg");
}
