
@charset "utf-8";

h3 span{color:#dc623d; padding-right:10px;}

figure { position: relative; }
figure img {
  width: 100%;
  vertical-align: top;
}
figure img[src*="svg"] {
  position: absolute;
  top: 0;
  left: 0;
}
.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexContainer .shrink { flex-shrink: 0; margin-right: 10px; }
.supplies {
  top: -58px;
  right: 0; /* 팝업 버튼 기본 위치 */
}

.flexContainer {
  height: 450px;
  margin: 30px 0 0 94px;
}
.flexContainer .lineBox.gray {
  position: relative;
  display: block;
  flex-shrink: 0;
  width: 376px;
  height: 450px;
  margin-right: 70px;
}
.flexContainer .lineBox.yellow {
  display: block;
  margin-left:30px;
  height: 350px;
  background: url(../images/6_8/6_8_8_bg.svg) center / contain no-repeat;
  border:none;
}
.flexContainer .lineBox.yellow img {
    display: block;
    width: 272px;
    margin: 86px auto 0;
}


.flexContainer .rotate_1 {
  top: 24px;
  left: 30px;
  width: 155px;
  height: 134px;
}
.flexContainer .rotate_1 .rotateTarget {
  background: url(../images/6_8/6_8_8_01.svg) center / contain no-repeat;

}
.flexContainer .rotate_2 {
  top: 55px;
  left: 190px;
  width: 155px;
  height: 67px;
}
.flexContainer .rotate_2 .rotateTarget {
  background: url(../images/6_8/6_8_8_02.svg) center / contain no-repeat;
}
.flexContainer .rotate_3 {
  top: 180px;
  left: 70px;
  width: 78px;
  height: 78px;
}
.flexContainer .rotate_3 .rotateTarget {
  background: url(../images/6_8/6_8_8_03.svg) center / contain no-repeat;
}
.flexContainer .rotate_4 {
  top: 170px;
  left: 230px;
  width: 78px;
  height: 67px;
}
.flexContainer .rotate_4 .rotateTarget {
  background: url(../images/6_8/6_8_8_04.svg) center / contain no-repeat;
}
.flexContainer .rotate_5 {
  top: 270px;
  left: 70px;
  width: 78px;
  height: 134px;
}
.flexContainer .rotate_5 .rotateTarget {
  background: url(../images/6_8/6_8_8_05.svg) center / contain no-repeat;
}
.flexContainer .rotate_6 {
  top: 260px;
  left: 250px;
  width: 40px;
  height: 150px;
}
.flexContainer .rotate_6 .rotateTarget {
  background: url(../images/6_8/6_8_8_06.svg) center / contain no-repeat;
}


.flexContainer .rotateButton {
  top: 0;
  left: 0;
  transform: none;
}
.flexContainer .showRotate .rotateButton {
  opacity: 1;
  visibility: visible;
}
.flexContainer .rotate_1 .left {
  top: 50px;
  left: 31px;
}
.flexContainer .rotate_1 .right {
  top: 50px;
  left: 85px;
}
.flexContainer .rotate_2 .left {
  top: 10px;
  left: -30px;
}
.flexContainer .rotate_2 .right {
  top: 10px;
  left: 145px;
}
.flexContainer .rotate_3 .left {
  top: 20px;
  left: -42px;
}
.flexContainer .rotate_3 .right {
  top: 20px;
  left: 80px;
}
.flexContainer .rotate_4 .left {
  top: 17px;
  left: -30px;
}
.flexContainer .rotate_4 .right {
  top: 17px;
  left: 68px;
}
.flexContainer .rotate_5 .left {
  top: 90px;
  left: -21px;
}
.flexContainer .rotate_5 .right {
  top: 5px;
  left: 60px;
}
.flexContainer .rotate_6 .left {
  top: 8px;
  left: -30px;
}
.flexContainer .rotate_6 .right {
  top: 90px;
  left: 35px;
}


.showAnswer .rotateTarget:after {
  pointer-events: none !important;
}

