
@charset "utf-8";

h3 span{color:#dc623d; padding-right:10px;}

figure { position: relative; }

figure img {
  
  height: 100px;
  margin:10px 400px 10px;
  vertical-align: top;
 
 }
.flexContainer {
  display: flex;
  justify-content: space-between;
}

ul.list.dot {
  margin-bottom: 10px;
}

ul.dLeft{
  position: absolute;
  z-index: 1;
  top:0px;
  left:300px;
}
ul.dLeft li{
  width: 120px;
  height: 70px;
  font-family: NSquareRB;
  font-size: 45px;
  text-align: center;
  margin:10px 0 18px 0;
}

ul.dRight{
  position: absolute;
  z-index: 1;
  top:0px;
  left:750px;
}
ul.dRight li{
  width: 150px;
  height: 70px;
  font-family: NSquareRB;
  font-size: 45px;
  text-align: center;
  margin:10px 0 18px 0;
}

 

/* page4 */
.page4 .dragLineContainer {
 
  top:0;
  width: 100%;
  height: 250px;
   background: url(../images/6_8/6_8_2_02.svg) center / contain no-repeat;
}
.page4 .dragLineArea:after { content: none ; }
.page4 .dragObj[data-group="1"] {
  left:432px;
}
.page4 .dragObj[data-group="1"][data-answer="1"] {
  top: 37px; 
}
.page4 .dragObj[data-group="1"][data-answer="2"] {
  top: 125px;
}
.page4 .dragObj[data-group="1"][data-answer="3"] {
  top: 214px;
}
.page4 .dragObj[data-group="2"] {
 left:730px;
}
.page4 .dragObj[data-group="2"][data-answer="3"] {
  top: 37px; 
}
.page4 .dragObj[data-group="2"][data-answer="2"] {
  top: 125px;
}
.page4 .dragObj[data-group="2"][data-answer="1"] {
  top: 214px;
}

.clickButton {
  top: 120px;
  left: 850px;
}
[data-popup-page="1"] .img_01 {
  height: 200px;
  margin: 180px auto;
}