

@charset "utf-8";


.contentsArea h1 {
  /* letter-spacing: -3.5px; */
}


.dragBox {
  position: absolute;
  top: 50px;
  right: 0;
  width: 200px;
  height: 120px;
}
.dragBox .rotateContainer {
  top: 24px;
  left: 36px;
}
.dragBox .rotateContainer.showRotate {
  width: 470px;
  height: 250px;
}
.dragBox .rotateContainer .rotateTarget:after {
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
}

.drawLine {
  top: 140px;
  left: 500px;
  width: 410px;
  height: 256px;
  /* outline: 1px solid tomato; */
}
.drawLine .resetButton {
  right: -55px;
  bottom: 125px;
}
.drawLine.hide {
  opacity: 0;
  visibility: hidden;
}
.drawLine.pointerOff {
  top: 170px;
  left: 186px;
}
.drawLine.pointerOff .resetButton {
  display: none;
}

.dragObj {
  position: absolute;
  width: 20px;
  height: 20px;
  /* outline: 1px solid; */
}


/* page1 */
.page1 {
  background: url(../images/6_finish_arrange/6_finish_arrange_01_1.svg) center / contain no-repeat;
}
.quizButtons {
  right: 30px;
  bottom: 100px;
}

input {
  position: absolute;
  /* right: 28px; */
  width: 100px;
  text-align: center;
}
input[data-input-obj="1"] {
  top: 264px;
  left: 68px;
  width: 224px;
}


/* page2 */
.page2 {
  background: url(../images/6_finish_arrange/6_finish_arrange_01_2.svg) center / contain no-repeat;
}
.quizButtons {
  right: 30px;
  bottom: 100px;
}

input[data-input-obj="2"] {
  top: 152px;
  left: 760px;
  width: 146px;
}
input[data-input-obj="3"] {
  top: 360px;
  left: 982px;
  width: 146px;
}





/* page3 */
.page3 {
  background: url(../images/6_finish_arrange/6_finish_arrange_02.svg) center / auto 540px no-repeat;
}

.page3 .drawLine {
  top: 154px;
  left: 78px;
  width: 1066px;
  height: 380px;
  /* outline: 1px solid tomato; */
}
.page3 .resetButton {
  right: -26px;
  bottom: 295px;
}

.page3 .dragObj {
  position: absolute;
  width: 20px;
  height: 20px;
  /* outline: 1px solid; */
}