.img-wrap img{width: 1000px;}

.page_1 .icon_arrow.big{position: relative; z-index: 5;}
.page_1 td.bg{background: #e3e3e3;}
.page_1 .flex-wrap{align-items: flex-start; position: relative;}
.page_1 .icon_arrow{top:80px; margin:0 10px}
.page_1 .b1{text-align:center; top:180px;left: 25px;}
.page_1 .b2{text-align:center; top:230px;left: 6px;width: 240px;}
.page_1 .b3{text-align:center; top:280px;left: -15px; width: 280px;}
.page_1 .pointContainer .contentsBox{padding:44px 10px 40px;}

.page_1 .b1::after{left: 144px !important;}

.page_2 .flex-wrap .flex-wrap{width: auto;}
.page_2 .icon_arrow{margin:0 30px}

.page_3 .lineBox > div + div{margin-top:30px}
.page_3 .lineBox { padding:30px 30px 30px;}
.page_3 .ox-item{width:170px; text-align: center; position: relative;}
.page_3 .ox-item .icon{position: absolute;left: 36%;top: 3px;}

.page_4 .lineBox { padding:80px 30px 30px;margin-top: -40px;}

.page_5 .img-wrap{
    width:100%;
    margin:40px auto 0;
    position: relative;
}
.page_5 .img-wrap > div{ 
    position:absolute;
}
.page_5 .img-wrap .img{position: absolute;top: -170px;left: -900px;}
.page_5 .txt.n1{top: 36px;left: 120px;}
.page_5 .txt.n2{top: 23px;left: 504px;}
.page_5 .txt.n3{top: 162px;left: 104px;}
.page_5 .txt.n4{top: 173px;left: 464px;}
.page_5 .n5{top: 50px;left: 911px; width: 70px;height: 70px;}
.page_5 .n6{top: 173px;left: 914px; width: 70px;height: 70px;}
.page_5 .ox-item .icon{width:100%; height:100%;}
.page_5 .study_guide{position: absolute; top:0 !important; right:0;}

.page_6 .lineBox { padding:30px 30px 30px; margin:0 auto; width:500px; text-align: center;}

.pop_page_5 .icon_arrow{margin-top:60px}