.box-type-b {display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap;width:800px;margin:0 auto}
.box-type-b .box-item {width:50%;display:flex;align-items:center;margin-top:60px;justify-content:center}
.box-type-b .box-item.full {width:100%}
.popup_pages>li.on {z-index:4}

.pop_page_1 .box-flex {display:flex;justify-content:space-between}