.box-flex {display:flex}
.page_1 .box-flex {justify-content:center;align-items:center;margin-top:20px}
.page_1 .box-flex .toggle {flex-shrink:0;margin-left:10px}
.page_1 .inner {text-align:center}
.page_1 .bunsuWrap {display:inline-flex;align-items:center}

.box-flex .q-txt {padding-left:60px;text-indent:-60px}
.box-flex.j-c {justify-content:center}

.page_2 .box-flex {justify-content:space-around;align-items:center;flex-wrap:wrap}

.page_3 .arrangeCon {position:relative;height:530px;display:flex;align-items:center;justify-content:center;}
.page_3 .box-flex {justify-content:center;position:relative;z-index:2}
.page_3 .box-flex ~ .box-flex {margin-top:50px}
.page_3 .box-flex ~ .box-flex .lineBox {padding:10px 20px;width:180px;flex-shrink:0}
.page_3 .box-flex .lineBox {margin:0 80px}
.page_3 .lineBox.sky.circle {border-radius:100%}
.page_3 .lineBox.sky {display:inline-flex;align-items:center;justify-content:center}
.page_3 .box-flex .lineBox .toggle {background-color:transparent}
.page_3 .box-wrap {position:relative}
.page_3 .arrow_1 {position:absolute;width:330px;height:80px;background:url("../images/suh_0601_03_0005_401_1_3.png") no-repeat 50% 50% / auto 100%}
.page_3 .arrow_1 {top:50px;left:340px;}


.page_4 .box-flex {justify-content:center;align-items:center;margin-top:30px}
.page_4 .box-flex ~ .box-flex {margin-top:80px}
.page_4 .box-flex .toggle {margin:0 60px}
.page_4 .img-box .txt-item {position:absolute}
.page_4 .img-box .txt-item.n1 {top:10px;left:20px}
.page_4 .img-box .txt-item.n2 {top:50px;left:80px}
.page_4 .lineBox {position:relative}
.page_4 .lineBox .answer-txt {font-weight:bold;color:#00a0ff;position:absolute;left:50px;bottom:-60px;opacity:0;pointer-events:none}
.page_4 .lineBox .answer-txt.complete {animation:opacityEff 1s ease-out forwards;-webkit-animation:opacityEff 1s ease-out forwards;-moz-animation:opacityEff 1s ease-out forwards}

.page_5 h2 > span {word-break:break-all}
.page_5 .box-flex {display:flex;align-items:flex-start}
.page_5 .box-flex .answer {text-align:justify}

.pop_page_1 .box-flex {justify-content:center}
.pop_page_2 .box-flex {justify-content:space-between}
.sup {font-size: 20px;line-height: 20px;position: relative;top: -25px;left: -4px;}
.sup2 {font-size: 20px;line-height: 20px;position: relative;top: -23px;left: -5px;}

.ex-box {display:flex;align-items:flex-start}
.ex-box .exam {flex-shrink:0;margin-top:20px !important;}

.page_4 h2 .toggleBlank {margin-top: 8px;}
