.page_1 .img-wrap{width: 980px; margin:30px auto; position: relative;}
.page_1 .img-wrap img{width:100%;}
.page_1 .img-wrap .toggle{position: absolute;top: -6px;left: 5px;background-color: transparent;}
.page_1 .img-wrap .toggle .click-finger-Btn{position:absolute; top:-30px; left:140px;}
.page_1 .img-wrap .lineBox{position: absolute;top: 0;left: 0;width: 317px;height:200px;background-color: transparent;}
.page_1 .img-wrap .toggle.n1{left:15px}
.page_1 .img-wrap .toggle.n2{left: 331px;}
.page_1 .img-wrap .toggle.n3{left: 648px;}
.page_1 .img-wrap .toggle.n4{left:228px}
.page_1 .img-wrap .toggle.complete .click-finger-Btn,
.page_1 .img-wrap .toggle::after{display: none;}
.page_1 .lineBox{border-color: #00a0ff !important;}

.page_4 .group1{width:500px; text-align: center; margin: 0 auto 110px;}
.page_4 .group1 .toggle{width:100px}
.page_4 .img-wrap{width:100%;justify-content: center;z-index: 1;background: url(../images/suh_h_0301_03_0405_202_1_2.png) no-repeat 50% 0 / 65%;height: 270px;}
.page_4 .flex-wrap{width:640px;margin: 0 auto;text-align: center;font-size: 27px;padding-top: 30px;}
.page_4 .flex-wrap > div{margin:0 15px;text-align: center;position: relative;padding: 52px 0 0;width:33%;letter-spacing: -1px; display: flex; align-items: center;}
.page_4 .flex-wrap > div img{height: 80px;}
.page_4 .group1 .toggle::before,
.page_4 .flex-wrap > div::before{
content:"";
display: block;
position: absolute;
top:-30px;
left:50%;
background:silver;
width:20px; height: 20px;
border-radius: 50%;
margin-left:-10px;
z-index: 3;
}
.page_4 .flex-wrap > div div{width: 100%; ;}
.page_4 .group1{position: relative; z-index: 1;}
.page_4 .group1 .toggle::before{top:auto; bottom:-30px;}
.page_4 .line{position:absolute; width:5px; height:100px; background:#00a0ff; }
.page_4 .line.n1{
    top: 80px;
    left: 370px;
    transform: rotate(-58deg);
    transform-origin: top left;
    height: 193px;
    z-index: 0;
    background:red;
}
.page_4 .line.n2{
    top: 80px;
    left: 48px;
    transform: rotate(-65deg);
    transform-origin: top left;
    height: 230px;
    z-index: 0;
}
.page_4 .line.n3{
    top: 76px;
    left: 50px;
    transform: rotate(75deg);
    transform-origin: top left;
    height: 387px;
    z-index: 0;
}




