
.contentsBox .basicSlider_slides>li{display: flex; opacity: 0; visibility: hidden; position:absolute; z-index:-1; top:0}
.contentsBox .basicSlider_slides>li.on{display: flex; opacity: 1; visibility: visible; position:relative; z-index:0; top:0}


.page_1 .page-iframe{
width: 1090px;
height: 490px;
margin-left: -15px;
}
.ico-circle{display: inline-block; width:40px; height: 40px; border:3px solid #008dd0; border-radius: 50%; vertical-align: middle; transform: translate(0,-4px);}

.page_2 .img-wrap img{width:100%;}
.page_2 .img-wrap .toggle{position: absolute; top:0; left:20px;  background-color: transparent;}
.page_2 .img-wrap .toggle .click-finger-Btn{position:absolute; top:60px; left:70px;}
.page_2 .img-wrap .lineBox{position: absolute; top: 9px;
left: 18px;
width: 319px;
height: 70px;
background-color: transparent;}
.page_2 .img-wrap .toggle.n2{left:350px}
.page_2 .img-wrap .toggle.n3{left:685px}

.page_2 .img-wrap .toggle.complete .click-finger-Btn,
.page_2 .img-wrap .toggle::after{display: none;}

.page_3 .img-wrap{margin-top:80px; position: relative;}
.page_3 .img-wrap img{width:100%; }
.page_3 .img-wrap  .txt{position: absolute; top:100px;}
.page_3 .img-wrap .toggle{position: absolute;top: -11px;}
.page_3 .img-wrap .toggle.n1{left: 140px;}
.page_3 .img-wrap .toggle.n2{left: 460px;}
.page_3 .img-wrap .toggle.n3{left: 782px;}

.page_3 .img-wrap .txt.n1{left: -7px;}
.page_3 .img-wrap .txt.n2{left: 313px;}
.page_3 .img-wrap .txt.n3{left: 636px;}
.page_3 .img-wrap .txt.n4{left: 950px;}



.page_4 .group1{width:500px; text-align: center; margin: 0 auto 110px;}

.page_4 .flex-wrap{width:100%; justify-content: center; z-index: 1;}
.page_4 .flex-wrap > div{margin:0 20px; text-align: center; position: relative; padding:5px 20px}
.page_4 .group1{position: relative; z-index: 1;}
.page_4 .group1 .toggle::before{top:auto; bottom:-30px;}





