.popup_pages>li.whole h2.pop-tit{background-color:transparent !important; align-self:flex-start; padding:20px; display: block;  text-align: left;}


.zoomBtn:hover{outline: 1px solid #ccc;}
.innerTab_1 .img-wrap img{width:100%;}
.innerTab_1 .img-wrap {
    width: 590px;
    margin: 40px auto 0;
}
.innerTab_1 .balloon{text-align: center; z-index: 2;}
.innerTab_1 .b1{top: 0px;left: 170px;}
.innerTab_1 .b2{top: -10px;left: 500px;}
.innerTab_1 .b3{top: 170px;left: 680px;}

.innerTab_1 .btn_1.zoomBtn{background: url(../images/suh_h_0301_03_0405_203_1_1.png) no-repeat 50% 42px / 571px;width: 100%;height: 460px;border:0}

.pop_page_1 > div{width:100%; height: 770px; display: flex; align-items: center;}
.pop_page_1 img {width:90%; display:block; margin:0 auto}
.pop_page_1 .balloon{text-align: center; z-index: 2;}
.pop_page_1 .b1{top: 10px;left: 110px;}
.pop_page_1 .b2{top: 10px;left: 690px;}

.popimg-1 .toggle{padding:0;}
.lineBox.orange,
.toggle .lineBox{border-color:#00a0ff; width:100%;}

.innerTab_2 .flex-wrap{width: 100%; margin-top:60px; justify-content: space-around;}
.innerTab_2 .btn_2.zoomBtn{background: url(../images/suh_h_0301_03_0405_203_1_2.png) no-repeat 0 0 / 100%; width:280px; height: 340px; border:0}
.innerTab_2 .btn_3.zoomBtn{background: url(../images/suh_h_0301_03_0405_203_1_3.png) no-repeat 0 0 / 100%; width:280px; height: 340px; border:0}
.innerTab_2 .flex-wrap .colorBox.check{
    display: block;
    width: auto;
    position: absolute;
    left:50%;
    bottom:0;
    width:194px;
    text-align: center;
    transform: translate(-50%, 0);
}
.innerTab_2 .zoomBtn:after{bottom:45px; right:5px;}
.videoSubPlayBtn{right:0;}
.pop-tit .colorBox{padding-left:70px; padding:5px 20px 5px 80px; margin-left:10px; display: inline-block; transform: translate(0,-10px);}
.pop-tit .colorBox img{position: absolute; width:80px; left:-10px; top:-12px;}
.pop_page_3 .contentsBox,
.pop_page_2 .contentsBox{padding:0;}

.popimg-1{width:860px; margin: 30px auto 0; position: relative;}
.popimg-1 img{width:100%}
.popimg-1 .toggle:after{display: none;}
.popimg-1 .toggle{
    position:absolute;
    top: 0px;
    left: 5px;
    width: 213px;
    padding:0;
    background-color: transparent;
}
.toggle.complete .click-finger-Btn{display: none;}
.popimg-1 .ansbox{
    position: absolute;
    width:100%;
    height: 404px;
    background:transparent;
}
.popimg-1 .ansbox.n1{left: -1px;width: 213px;}
.popimg-1 .ansbox.n2{left: 224px;width: 196px;}
.popimg-1 .ansbox.n3{left: 430px;width: 193px;}
.popimg-1 .ansbox.n4{left: 632px;width: 230px;}

.popimg-1 .lineBox.on{opacity: 1;}
.popimg-1 .lineBox{
    opacity: 0;
    position:absolute;     
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    padding:0;
    background-color: transparent;
}

.popimg-1.type-b .answer .lineBox{
    width: 880px;
    height: 210px;
    background:transparent;
}
.popimg-1.type-b .toggle.n1{left: -1px;top: -4px; width: 880px; height: auto;}
.popimg-1.type-b .toggle.n2{left: -1px;top: 206px; width: 880px; height: auto;}

.popimg-1.type-b .click-finger-Btn{left: 860px;top:30px;}
.popimg-1.type-b .lineBox{
    width: 100%;
   
}

.popimg-1.type-b .n1 .lineBox{height: 200px;}
.popimg-1.type-b .n2 .lineBox{height: 187px;}


