@charset "utf-8";

.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
.contentsList .icon_arrow{width:auto !important; margin:0 10px;}
.lineBox .bullet.number,
h2 .bullet.number{margin-top:5px;}
h2 .blankBox.w50{
    max-width: 40px !important;
    min-width: 40px !important;
    max-height: 40px !important;
    min-height: 40px !important;
    transform: translate(0,4px);
}
.buttonContainer.iframe{right:170px;}
.checkContainer h2 .toggleBlank{margin-top:8px;}
.checkContainer .contentsBox .basicSlider_tabs {width: 600px}
.ico-circle{display: inline-block; width:40px; height: 40px; border:3px solid #008dd0; border-radius: 50%; vertical-align: middle; transform: translate(0,-4px);}

.page_1 .contentsBox{padding:0 !important;height: 400px;}
.page_1 .contentsBox .basicSlider_slides{height: 410px;}
.page_1 .img-wrap{ width:700px; margin:20px auto;text-align:center;}
.page_1 .dotList{margin-left:30px}

.page_1 .group1{width:500px; text-align: center; margin: 15px auto 80px;}
.page_1 .group1 .toggle{width:100px}

.page_1 .flex-wrap{width:100%; justify-content: center; z-index: 1;}
.page_1 .flex-wrap > div{margin:0 10px; text-align: center; position: relative; padding:5px 10px;width:33%}
.page_1 .flex-wrap > div img{height: 80px;}
.page_1 .group1 .toggle::before,
.page_1 .flex-wrap > div::before{
content:"";
display: block;
position: absolute;
top:-30px;
left:50%;
background:silver;
width:20px; height: 20px;
border-radius: 50%;
margin-lefT:-10px;
z-index: 3;
}
.page_1 .group1{position: relative; z-index: 1;}
.page_1 .group1 .toggle::before{top:auto; bottom:-30px;}
.page_1 .line{position:absolute; width:5px; height:100px; background:#00a0ff; }
.page_1 .line.n1{
    top: 77px;
    left: 50px;
    transform: rotate(74.5deg);
    transform-origin: top left;
    height: 170px;
    z-index: 0;
}
.page_1 .line.n2{
    top: 80px;
    left: 48px;
    transform: rotate(-82deg);
    transform-origin: top left;
    height: 320px;
    z-index: 0;
}
.page_1 .line.n3{
    top: 76px;
    left: 50px;
    transform: rotate(74.5deg);
    transform-origin: top left;
    height: 158px;
    z-index: 0;
}

.page_1 .img-wrap{width: 700px; margin: 0 auto; position: relative;}
.page_1 .img-wrap img{width:100%;}
.page_1 .img-wrap .toggle{position: absolute;top: 30px;background-color: transparent;width: 78px;}
.page_1 .img-wrap .toggle .click-finger-Btn{position:absolute; top:20px; left:20px;}
.page_1 .img-wrap .lineBox{position: absolute;top: 0;left: 0;width: 100%;height: 176px;background-color: transparent;}
.page_1 .img-wrap .toggle.n1{left: 22px;}
.page_1 .img-wrap .toggle.n2{left: 105px;}
.page_1 .img-wrap .toggle.n3{left: 188px;}
.page_1 .img-wrap .toggle.n4{left: 270px;}
.page_1 .img-wrap .toggle.n5{left: 352px;}
.page_1 .img-wrap .toggle.n6{left: 435px;}
.page_1 .img-wrap .toggle.n7{left: 517px;}
.page_1 .img-wrap .toggle.n8{left: 600px;}
.page_1 .img-wrap .toggle.complete .click-finger-Btn,
.page_1 .img-wrap .toggle::after{display: none;}

.pop_page_1 .img-wrap{width:600px; margin:0 auto 10px; text-align: center;}
.pop_page_1 .img-wrap img{width: 100%;}
.pop_page_2 .flex-wrap{align-items: center;margin-top:40px;position: relative; }
.pop_page_2 .flex-wrap .icon_arrow{margin: 0 10px;}
.pop_page_2 .flex-wrap .icon_arrow.n1{margin: 0;position: absolute;top:-30px;left: 150px;}
.pop_page_2 .flex-wrap .icon_arrow.n2{margin: 0;position: absolute;top:-30px;left: 260px;transform: rotate(-45deg);}


.page_2 .dotList{margin-left:30px}
.page_2 .lineBox{width:1000px; margin:20px auto; text-align: center; position:relative;}
.page_2 .lineBox .img-box{display: flex; justify-content: space-around;}
.page_2 .lineBox img{height: 40px; display: block; margin: 0 auto;}
.page_2 .lineBox .toggle{position: absolute; background-color: transparent; width: 190px;  top: 10px;}
.page_2 .lineBox .toggle::after{display: none;}
.page_2 .lineBox .toggle.n1{left:3px;position: absolute;padding: 0;}
.page_2 .lineBox .toggle .lineBox{background-color: transparent;width: 100%;height: 60px;position: absolute;top: 0;left: 0;margin: 0;}
.page_2 .lineBox .toggle .click-finger-Btn{top:30px; left:20px;}
.page_2 .lineBox .toggle.complete .click-finger-Btn{display: none;}
.page_2 .lineBox .toggle.n1{left: 20px;} 
.page_2 .lineBox .toggle.n2{left: 210px;} 
.page_2 .lineBox .toggle.n3{left: 400px;} 
.page_2 .lineBox .toggle.n4{left: 590px;} 
.page_2 .lineBox .toggle.n5{left: 780px;} 

.page_3 .img-wrap{width:690px; margin:0 auto; position: relative;}
.page_3 .img-wrap img{width: 100%;}
.page_3 .listUl{
    margin: 20px 0 0 30px;
    height: 50px;
    padding-left:140px;
}
.page_3 .listUl li{
    display: flex;
    align-items: center;
}
.page_3 .listUl li:first-child{
    margin-bottom: 20px;
}


.page_4 h2{
    position: relative; 
    transform: translate(0, 10px);
}
.page_4 .dot.orange{
    position: relative;
    top: -2px;
}
.page_4 .imgBgContainer{
    height: 265px;
    width: 730px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.page_4 .imgBgContainer .img-box.n1{
    background: url(./images/suh_0301_01_0002_401_1_3_1.png) no-repeat 0 0 / cover;
    width:340px;
    height: 265px;
    border-radius: 20px;
}
.page_4 .imgBgContainer .img-box.n2{
    background: url(./images/suh_0301_01_0002_401_1_3_2.png) no-repeat 0 0 / cover;
    width:340px;
    height: 265px;
    border-radius: 20px;
}
.page_4 .flexListContainer{margin: 15px auto 0;width: 444px;}
.page_4 .flexListContainer > li {
    display: flex;
    align-items: center;
}

.page_5 .lineBox{
    background: url(../images/suh_h_0301_03_0405_401_1_3.png) center no-repeat;
    background-size: 90%;
    height: 170px;
    width: 810px;
    margin: -20px auto 0;
}
.page_5 .contentsList{
    width: 650px;
    margin: 10px auto;
}
.page_5 .contentsList li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page_5 .contentsList li:first-child{
    margin-bottom: 15px;
}
.page_5 .colorBox.skyBlue.box{
    width: 260px;
    text-align: center;
    margin-right: 15px;
}
.page_5 .icon_arrow.big{
    width: 51px !important;
}
.page_5 .textAlignC{
    display: flex;
    width: 399px;
    justify-content: flex-end;
}
.page_5 .toggle{width: 300px !important;}
.page_5 .nb{width:414px;}
.page_5 .textAlignC .toggle {
    width: 90.34px !important;
    margin-left: 9px;
}
.page_5 .toggle-wrap{width: 300px !important;}
.page_5 .toggle-wrap .toggle{width:auto !important}

.pop_page_4 .img-wrap{width:700px; margin:0 auto 30px;}
.pop_page_4 .img-wrap img{width:100%;}

.page_6 .lineBox{
    width: 540px;
    margin: 0 auto 20px;
    padding: 12px 20px;
    text-align: center;
    height: 93px;
    box-sizing: border-box;
}
.page_6 .lineBox img{
    width: 60px;
    height: 60px;
}
.page_6 .contentsList{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 500px;
    margin: 0 auto;
}
.page_6 .contentsList li{
    display: flex;
    align-items: center;
}

.page_7 .lineBox{
    width: 720px;
    height: 257px;
    margin: 0px auto 0;
    padding: 0 10px;
    text-align: center;
    box-sizing: border-box;
}
.page_7 .lineBox img{
    width: 200px;
    height: 100px;
    margin: 10px;
}
.page_7 .flexListContainer {margin: 10px auto 0;width: 500px;}
.page_7 .flexListContainer > li {display: flex;align-items: center;}

.pop_page_6 .lineBox{
    width: 720px;
    margin: 0px auto 0;
    padding: 0 10px;
    text-align: center;
    box-sizing: border-box;
    border:0
}
.pop_page_6 .lineBox img{width: 100%;}


/* .page_5 .contentsBox{padding:0 !important;height: 400px;}
.page_5 .contentsBox .basicSlider_slides{height: 410px;}
.page_5 .innerTab_1 .lineBox{width:680px; margin:-20px auto 20px; position: relative;}
.page_5 .innerTab_1 .lineBox img{width: 100%; display: block;}
.page_5 .innerTab_1 .lineBox .toggle{position: absolute; top:0; left:0; width:100%; height:100%; background-color: transparent;}
.page_5 .innerTab_1 .lineBox .toggle::after{display: none;}
.page_5 .innerTab_1 .lineBox::after{content:""; display: block; position: absolute; top:0; left:0; width:100%; height: 100%;}
.page_5 .innerTab_1 .lineBox .toggle .lineBox{background-color: transparent;height: 90px;margin-bottom: 4px;width: 206px;margin-left: 0;POSITION: ABSOLUTE;top: 44px;left: 27px;}
.page_5 .innerTab_1 .dotList{margin-left:30px}
.page_5 .dotList .toggle{transform: translate(10px,-6px); margin:0 10px}
.page_5 .innerTab_1 .lineBox .toggle .lineBox:nth-child(2){left:232px}
.page_5 .innerTab_1 .lineBox .toggle .lineBox:nth-child(3){left:438px}
.page_5 .innerTab_1 .lineBox .toggle .lineBox:nth-child(4){top:136px;}
.page_5 .innerTab_1 .lineBox .toggle .lineBox:nth-child(5){top:136px;left:232px}
.page_5 .innerTab_1 .lineBox .toggle .lineBox:nth-child(6){top:136px;left:438px}

.page_5 .innerTab_2 .lineBox{width:680px; margin:-20px auto 20px; position: relative;}
.page_5 .innerTab_2 .lineBox img{width: 100%; display: block;}
.page_5 .innerTab_2 .lineBox .toggle{position: absolute; top:0; left:0; width:100%; height:100%; background-color: transparent;}
.page_5 .innerTab_2 .lineBox .toggle::after{display: none;}
.page_5 .innerTab_2 .lineBox::after{content:""; display: block; position: absolute; top:0; left:0; width:100%; height: 100%;}
.page_5 .innerTab_2 .lineBox .toggle .lineBox{background-color: transparent;height: 90px;margin-bottom: 4px;width: 616px;margin-left: 0;POSITION: ABSOLUTE;top: 44px;left: 27px;}
.page_5 .innerTab_2 .dotList{margin-left:30px}
.page_5 .dotList .toggle{transform: translate(10px,-6px); margin:0 10px}
.page_5 .innerTab_2 .lineBox .toggle .lineBox:nth-child(2){top:136px;} */

/* .page_6 .img-wrap{width:370px; margin: 0 auto; border-radius: 20px; overflow: hidden; border:1px solid silver}
.page_6 .img-wrap img{width: 100%;}

.page_6 .flexListContainer{margin: 15px auto 0;width: 444px;}
.page_6 .flexListContainer > li {
    display: flex;
    align-items: center;
}


.page_7 .lineBox{width:780px; margin:0 auto; text-align: justify;line-height: 2}

.page_7 .lineBox .toggle{line-height: 1.5;}
 */






