
.contentsBox .basicSlider_slides>li{display: flex; opacity: 0; visibility: hidden; position:absolute; z-index:-1; top:0}
.contentsBox .basicSlider_slides>li.on{display: flex; opacity: 1; visibility: visible; position:relative; z-index:0; top:0}


.page_1 .img-wrap{width: 960px; margin: 60px auto; position: relative;}
.page_1 .img-wrap img{width:100%;}
.page_1 .img-wrap .toggle{position: absolute;top: -6px;left: 5px;background-color: transparent;}
.page_1 .img-wrap .toggle .click-finger-Btn{position:absolute; top:20px; left:20px;}
.page_1 .img-wrap .lineBox{position: absolute;top: 0;left: 0;width: 464px;height: 76px;background-color: transparent;}
.page_1 .img-wrap .toggle.n1{left: 21px;}
.page_1 .img-wrap .toggle.n2{left: 489px;}
.page_1 .img-wrap .toggle.n3{left:154px}
.page_1 .img-wrap .toggle.n4{left:228px}
.page_1 .img-wrap .toggle.complete .click-finger-Btn,
.page_1 .img-wrap .toggle::after{display: none;}

.pop_page_1 .img-wrap{width:910px; margin:0 auto 30px}
.pop_page_1 .img-wrap img{width: 100%;}
.pop_page_2 .img-wrap{width:910px; margin:0 auto 30px}
.pop_page_2 .img-wrap img{width: 100%;}






