.lineBox{margin:60px auto 0; width:700px; text-align: center; padding:20px 40px;}

.lineBox .flex-wrap > div{margin: 0 10px; width:33%}
.lineBox .flex-wrap > div:first-child{width:40%}
.lineBox .flex-wrap {width: 100%; }
.lineBox  img{width: 500px;}












