.contentsList { margin: 0 auto; } 
.contentsList > li { align-items: flex-start; padding-top: 15px; } 
.bunsuContainer .bullet.exam { margin-top: 20px; } 
.contentsList .colorBox { margin-top: -10px; display: inline-block; vertical-align: middle; align-items: center;} 
.contentsList .bunsuContainer .toggle { display: inline-block; vertical-align: middle; text-align: left; align-items: center;} 
.contentsList .bunsuContainer .toggle .bunsuWrap { display: inline-block; vertical-align: middle; text-align: left; align-items: center;width: auto;} 


.page_6 .innerTab_1{height: 400px;}
.page_6 .innerTab_2{height: 400px;}