.contentsList { margin: 0 auto; } 
.contentsList > li { align-items: flex-start; padding-top: 15px; } 
.bunsuContainer .bullet.exam { margin-top: 20px; } 
.contentsList .colorBox { margin-top: -10px; display: inline-block; vertical-align: middle; align-items: center;} 
.contentsList .bunsuContainer .toggle { display: inline-block; vertical-align: middle; text-align: left; align-items: center;} 
.contentsList .bunsuContainer .toggle .bunsuWrap { display: inline-block; vertical-align: middle; text-align: left; align-items: center;width: auto;} 

.formula_box > li{display: flex; align-items: center;justify-content: inherit;}
.formula_box .bunsuWrap > ul{display:inline-flex;min-width:50px;flex-direction:column;align-items:center;justify-content:center;}
.formula_box{display: flex;justify-content: space-evenly;}

.bunsuWrap.separation > ul{min-width: 70px;}
.bunsuWrap.separation li{width:100%;}
.bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.bunsuWrap.separation .toggle{width:100%;}



.page_4 .formula_box {margin: 50px auto 0;}

.page_5 .bunsuWrap{vertical-align: middle;}

.page_6 .innerTab_1{height: 400px;}
.page_6 .innerTab_2{height: 400px;}








.pop_page_1 .flex-box{align-items: center;}
.pop_page_1 .dot{margin-top:30px;}

.pop_page_2 .flex-box{align-items: center;}
.pop_page_2 .dot{margin-top:35px;}




