.box-type-a {display:flex;height:525px}
.box-type-a .img-box {width:42%;overflow:hidden;position:relative}
.box-type-a .img-box img {height:100%;}
.box-type-a .img-box .imgCon {position:absolute;right:10px;bottom:10px}
.box-type-a .img-box .imgCon button {vertical-align:bottom}
.box-type-a .content-box {position:relative;padding-left:20px;width:58%}
.box-type-a .content-box .textAlignC {margin-left:25px}
.popup_pages .full-img {width:100%;height:100%;}
.popup_pages .full-img img {width:100%;height:100%;object-fit:cover}