@charset "utf-8";

.gate_container .downloadBtn{right:20px; left:auto;}
.downloadBtn{left:0;}
.downloadBtn::before{content:attr(data-name);}
.contentsList .icon_arrow{width:auto !important; margin:0 10px;}
h2 .bullet.number{margin-top:5px;}
.checkContainer h2 .blankBox{margin-top:8px;}
.checkContainer .contentsBox .basicSlider_tabs {width: 600px}
.lineBox.inline, .colorBox.inline {display: inline-block;min-width: 40%;padding: 30px 40px;text-align: center;}

.page_1 .lineBox {width:660px;margin:0 auto;}
.page_1 .bullet{display: inline-block;vertical-align: middle;margin-top:-10px}
.page_1 .toggle{padding:8px 13px 9px}

.page_2 .dotList {padding-left: 30px;margin-top: 50px;}
.page_2 .dotList li + li {margin-top: 60px;}

.page_3 .study_guide {top: -30px;}
.page_3 .dragLineContainer {margin-top: 20px;}
.page_3 .right{width:300px; height:360px; position: relative; display: flex; }
.page_3 .left{width:300px; height:360px; position: relative; display: flex; }
.page_3 .left > div{position: absolute;left: 0; width:300px; text-align: center;}
.page_3 .left .n1{top: 0;}
.page_3 .left .n2{top: 130px;}
.page_3 .left .n3{top: 260px;}
.page_3 .right > div{position: absolute;right: 0; width:300px; text-align: center;}
.page_3 .right .b1{top: 0;}
.page_3 .right .b2{top: 130px;}
.page_3 .right .b3{top: 260px;}

.page_3 .top_1 {top: 73px;}
.page_3 .top_2 {top: 201px;}
.page_3 .top_3 {top: 329px;}
.page_3 .left_1 {left: 334px;}
.page_3 .left_2 {left: 663px;}

.page_4 .textAlignR{margin-right: 292px;margin-top: 70px;}
.page_4 .horizonContainer {margin-top: 150px;}
.page_4 .horizonContainer .horizonLine{width:940px}

.page_5 .tableContainer {margin-left: 10px;padding-top: 8px;font-size: 40px;}
.page_5 .tableContainer table td, .page_5 .tableContainer table th{font-size: 40px;}

.page_5 .tableContainer {display: flex;}
.page_5 .tableContainer:before {
    content: "";
    flex-shrink: 0;
    align-self: flex-start;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0.55em 10px 0 0;
    box-sizing: border-box;
    background-color: #ff9300;
}
.page_6 .contentsList .box .colorBox.check{margin-left:36px;line-height: 36px;}
.page_6 .lineBox{display: inline-block; margin-left:30px; padding:5px 20px 7px;}

.page_7 .lineBox {width:720px;margin:0 auto}
.page_7 .bullet{display: inline-block;vertical-align: middle;margin-top:-10px;}
.page_7 .bullet.orange{border-radius:50%;}
.page_7 .toggle{padding:8px 13px 9px}
.page_7 .flex-wrap {justify-content: center;align-items: center;margin-top: 50px;}

.page_8 .study_guide {top: -30px;}
.page_8 .dragLineContainer {margin-top: 20px;}
.page_8 .dragLineContainer .colorBox {padding: 22px 20px;border-radius: 20px;}
.page_8 .right{width:300px; height:360px; position: relative; display: flex; }
.page_8 .left{width:300px; height:360px; position: relative; display: flex; }
.page_8 .left > div{position: absolute;left: 0; width:300px; text-align: center;}
.page_8 .left .n1{top: 0;}
.page_8 .left .n2{top: 130px;}
.page_8 .left .n3{top: 260px;}
.page_8 .right > div{position: absolute;right: 0; width:300px; text-align: center;}
.page_8 .right .b1{top: 0;}
.page_8 .right .b2{top: 130px;}
.page_8 .right .b3{top: 260px;}

.page_8 .top_1 {top: 72px;}
.page_8 .top_2 {top: 200px;}
.page_8 .top_3 {top: 328px;}
.page_8 .left_1 {left: 333px;}
.page_8 .left_2 {left: 664px;}

.popup_pages .solve .blankBox.w40 {min-width: 40px;min-height: 40px;height: 40px;margin-top: 5px;}