

#quiz-01 .input-cont:nth-child(1) {
    width: 281px;
    left: 704px;
    top: 358px;
}


#quiz-01 .input-cont:nth-child(2) {
    width: 489px;
    left: 704px;
    top: 429px;
}




#quiz-02 .input-cont:nth-child(1) {
    width: 281px;
    left: 644px;
    top: 398px;
}


#quiz-02 .input-cont:nth-child(2) {
    width: 572px;
    left: 644px;
    top: 470px;
}




