
.app-angle-tool .tool-container {
    top: 160px;
}

#quiz-01 .check-list .check-item{
    position: absolute;
    left: 936px;
    top: 221px;
    background-image: url(../../common/images/quiz/ico_quiz_check_02.svg);
    background-size: 44px 50px;
}

#quiz-02 .input-cont:nth-child(1) {
    width: 92px;
    left: 630px;
    top: 375px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 92px;
    left: 630px;
    top: 508px;
}
