
#quiz-01 .input-cont:nth-child(1) {
    width: 60px;
    left: 428px;
    top: 369px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 60px;
    left: 974px;
    top: 398px;
}

#quiz-02 .input-cont:nth-child(1) {
    width: 60px;
    left: 496px;
    top: 377px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 60px;
    left: 806px;
    top: 563px;
}
