#quiz-01 .input-cont:nth-child(1) {
    width: 627px;
    left: 602px;
    top: 257px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 627px;
    left: 602px;
    top: 401px;
}

#quiz-02 .input-cont:nth-child(1) {
    width: 100px;
    left: 1077px;
    top: 342px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 60px;
    left: 915px;
    top: 494px;
}