
#quiz-01 .input-cont:nth-child(1) {
    width: 383px;
    left: 73px;
    top: 528px;
}
#quiz-01 .input-cont:nth-child(2) {
    width:375px;
    left: 456px;
    top: 528px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 375px;
    left: 831px;
    top: 528px;
}
#quiz-content-01 .btns-answer-part .btn-answer-part:nth-child(1){
    left:364px;
    top:458px;
}
#quiz-content-01 .btns-answer-part .btn-answer-part:nth-child(2){
    left:744px;
    top:458px;
}
#quiz-content-01 .btns-answer-part .btn-answer-part:nth-child(3){
    left:1117px;
    top:458px;
}


#quiz-02 .input-cont:nth-child(1) {
    width: 383px;
    left: 73px;
    top: 564px;
}
#quiz-02 .input-cont:nth-child(2) {
    width:375px;
    left: 456px;
    top: 564px;
}
#quiz-02 .input-cont:nth-child(3) {
    width: 375px;
    left: 831px;
    top: 564px;
}
#quiz-content-02 .btns-answer-part .btn-answer-part:nth-child(1){
    left: 363px;
    top: 492px;
}
#quiz-content-02 .btns-answer-part .btn-answer-part:nth-child(2){
    left:744px;
    top: 492px;
}
#quiz-content-02 .btns-answer-part .btn-answer-part:nth-child(3){
    left:1117px;
    top: 492px;
}