#quiz-01 .input-cont:nth-child(1) {
    width: 60px;
    left: 758px;
    top: 460px;
    z-index: 1;
}

/* 체크 퀴즈 */
.quiz-check.type-ox-01 .check-item{
    position: absolute;
    height: 55px;
}
.quiz-check.type-ox-01 .check-item::before{
    transform: scale(0.9);
}
#quiz-02 .check-item:nth-child(1) {
    width:120px;
    left: 782px;
    top: 388px;
}
#quiz-02 .check-item:nth-child(2) {
    width: 90px;
    left: 916px;
    top: 388px;
}


#pop-quiz-01 .input-cont:nth-child(1) {
    width: 60px;
    left: 961px;
    top: 395px;
}
