#quiz-01 .input-cont {
    margin: -289px 0 0 -34px;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 342px;
    left: 152px;
    top: 563px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 1038px;
    left: 152px;
    top: 635px;
}

#quiz-02 .input-cont:nth-child(1) {
    width: 342px;
    left: 842px;
    top: 542px;
}