
.app-angle-tool .tool-container {
    top: 160px;
}


#quiz-01 .input-cont {
    margin: 0 0 0 0;
}
#quiz-01 .input-cont:nth-child(1) {
    width: 115px;
    left: 391px;
    top: 250px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 115px;
    left: 325px;
    top: 368px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 115px;
    left: 363px;
    top: 487px;
}

#quiz-03 .input-cont:nth-child(1){
    width: 225px;
    left: 793px;
    top: 541px;
}


#quiz-02 .check-list .check-item:nth-child(1){
    position: absolute;
    left: 740px;
    top: 541px;
    width: 152px;
    height: 75px;
}
#quiz-02 .check-list .check-item:nth-child(2){
    position: absolute;
    left: 923px;
    top: 541px;
    width: 152px;
    height: 75px;
}
.quiz-check.type-ox-01 .check-item::before{
    transform: scale(0.85);
}

#quiz-01 .check-list .check-item{
    left:1041px;
    top:218px;
}
.btns-answer-part .btn-answer-part:nth-child(2){
    left:1131px;
    top:497px;
}