/* 그리기 툴 위치 */
.popup .app-drawing-tool .tool-container {
    top: 180px;
}

/* 체크 퀴즈 */
.quiz-check.type-ox-01 .check-item::before {
    transform: scale(0.7);
}
#pop-01-quiz-01 {
    position: absolute;
    left: 0;
    top: 0;
}
#pop-01-quiz-01 .check-item {
    position: absolute;
    left: 0;
    top: 0;
}

/* 위치 테스트용 */
.check-item.svg > svg > path {
    /* fill: rgba(255,0,0,0.5) !important; */
}

.check-item.svg > svg > path {
    opacity: 1;
    fill: transparent;
}

#pop-01-quiz-01 .check-item.active path {
    fill: #3567D7;
}
#pop-01-quiz-01 .check-item.answered path {
    fill: transparent !important;
}
#pop-01-quiz-01 .check-item.answered.ans path {
    fill: #3567D7 !important;
}

.popup .img-box.abs {
    z-index: 1;
}