.popup_pages>li.whole h2.pop-tit{background-color:transparent !important; align-self:flex-start; padding:20px; }
.popup_pages .downloadBtn,
.popup_pages .moveButtonContainer{bottom:20px;}
.popup_pages .buttonContainer{right:40px; bottom:20px;}
ins.number {display:inline-flex;justify-content:center;align-items:center;margin: 6px 10px 0 0;width: 40px;height: 40px;line-height: 1.8em;text-align: center;font-size: 22px;letter-spacing: 0;border-radius: 10px;color: #6dbc4b;border: 2px solid #6dbc4b;background-color: #fff;}
img{width:100%}
.txt-red {color:#ef4e4b !important}
.txt-green {color:#00b050 !important}
.txt-orange {color:#f79646 !important}

.page_0 .img-wrap {position:relative;margin-top:80px;text-align:center}
.page_0 .img-wrap > img {width:auto;height:240px;vertical-align:top}
.page_0 .img-wrap [class*='txt-'] {position:absolute;top:180px;color:#666}
.page_0 .img-wrap .txt-1 {left:562px}
.page_0 .img-wrap .txt-2 {left:627px}
.page_0 .img-wrap .txt-3 {left:690px}
.page_0 .img-wrap .txt-4 {left:767px}
.page_0 .img-wrap .txt-5 {left:846px}

.page_2 .flex-box {margin-top:120px}
.pop_page_2 .flex-box {margin-top:150px}
.page_2 .flex-item,
.pop_page_2 .flex-item {display:flex;justify-content:center;align-items:center}
.page_2 .flex-item .equal,
.pop_page_2 .flex-item .equal {margin:0 10px}
.pop_page_2 .popup_contents .bunsuWrap.inline {vertical-align:3px}

.page_3 .flex-box,
.pop_page_3 .flex-box {flex-direction:column;justify-content:center;align-items:center}
.page_3 .flex-box {margin-top:30px}
.pop_page_3 .flex-box {margin-top:80px}
.page_3 .flex-box .colorBox,
.pop_page_3 .flex-box .colorBox {padding:20px 40px}
.page_3 .flex-box .icon_arrow,
.pop_page_3 .flex-box .icon_arrow {transform:rotate(90deg);margin:20px 0}
.page_3 .tableContainer,
.pop_page_3 .tableContainer {width:800px}
.page_3 .tableContainer th,
.pop_page_3 .tableContainer th {padding:10px 10px}
.page_3 .tableContainer .toggle,
.pop_page_3 .tableContainer .toggle {width:100%;background-color:transparent}
.pop_page_3 .decimal-info {display:flex;justify-content:center;align-items:flex-start}
.pop_page_3 .num-group {display:flex}
.pop_page_3 .num-group .num {width:30px;margin:0 5px;text-align:center;border-bottom:4px solid #d53181}
.pop_page_3 .desc-group {margin:80px 0 0 80px}
.pop_page_3 .desc-group .desc {position:relative}
.pop_page_3 .desc-group [class*='desc-line-'] {position:absolute;top:calc(50% + 2px);left:-10px;transform:translate(-100%,-100%);border:solid #d53181;border-width:0 0 4px 4px}
.pop_page_3 .desc-group [class*='desc-line-']:after {content:'';position:absolute;bottom:-12px;right:-6px;border-top:10px solid transparent;border-bottom:10px solid transparent;border-left:10px solid #d53181}
.pop_page_3 .desc-group .desc-line-1 {width:223px;height:56px}
.pop_page_3 .desc-group .desc-line-2 {width:172px;height:100px}
.pop_page_3 .desc-group .desc-line-3 {width:132px;height:146px}
.pop_page_3 .desc-group .desc-line-4 {width:92px;height:192px}

.page_4 .lineBox.sky,
.pop_page_4 .lineBox.sky {display:flex;justify-content:center;align-items:center;width:800px;height:180px;margin:40px auto 40px}
.page_4 .flex-item,
.pop_page_4 .flex-item {display:flex;justify-content:center;align-items:center}
.page_4 .toggle ins.number,
.pop_page_4 .toggle ins.number {margin:0}
.pop_page_4 .desc ins.bullet.number {margin-right:0;vertical-align:4px}
.pop_page_4 .contentsList>li .lineBox.sky ins.bullet.number + * {width:initial}

.page_5 .full > .flex-box {align-items:center;margin-top:30px;padding-left:50px}
.page_5 .full > .flex-box .icon_arrow {flex-shrink:0;margin:0 40px;transform:scale(2)}
.page_5 .full > .flex-box .colorBox.green {display:flex;justify-content:center;flex-direction:column;height:300px}
.page_5 .receipt-box {height:300px;padding:20px 10px;border:2px solid #000;background:linear-gradient(#fff, #ececec);text-align:center}
.page_5 .receipt-box .title {margin-bottom:20px}
.page_5 .receipt-box .list {display:flex;flex-wrap:wrap;padding:20px 0;border:dashed #000;border-width:2px 0}
.page_5 .receipt-box .list dt {width:30%;text-align:right;line-height:70px}
.page_5 .receipt-box .list dd {width:70%;line-height:70px}
.page_5 .q-item {padding-left:40px}
.page_5 .q-item .toggle {padding:10px}
.page_5 .q-item ~ .q-item {margin-top:30px}

.pop_page_5 .full > .flex-box {align-items:center;margin-top:30px;padding-left:50px}
.pop_page_5 .full > .flex-box .icon_arrow {flex-shrink:0;margin:0 40px;transform:scale(2)}
.pop_page_5 .full > .flex-box .colorBox.green {display:flex;justify-content:center;flex-direction:column;height:300px}
.pop_page_5 .receipt-box {height:300px;padding:20px 10px;border:2px solid #000;background:linear-gradient(#fff, #ececec);text-align:center}
.pop_page_5 .receipt-box .title {margin-bottom:20px}
.pop_page_5 .receipt-box .list {display:flex;flex-wrap:wrap;padding:20px 0;border:dashed #000;border-width:2px 0}
.pop_page_5 .receipt-box .list dt {width:30%;text-align:right;line-height:70px}
.pop_page_5 .receipt-box .list dd {width:70%;line-height:70px}
.pop_page_5 .q-item {padding-left:40px}
.pop_page_5 .q-item .toggle {padding:10px}
.pop_page_5 .q-item ~ .q-item {margin-top:30px}

.page_6 .flex-box {justify-content:space-between;margin:0 0 20px;padding-left:50px}
.page_6 .flex-box .flex-item {flex:initial;display:flex;flex-direction:column;justify-content:center;align-items:center}
.page_6 .flex-box .flex-item .balloon {position:relative;display:flex;justify-content:center;align-items:center;width:320px;height:200px;padding:0;text-align:center;letter-spacing:-1.5px}
.page_6 .flex-box .flex-item:first-child .balloon {width:350px}
.page_6 .flex-box .flex-item:last-child .balloon {width:300px}
.page_6 .flex-box .flex-item .balloon:after {left:65%}
.page_6 .flex-box .flex-item:last-child .balloon:after {left:25%}
.page_6 .flex-box .flex-item > img {width:auto;height:120px}
.page_6 .flex-box .flex-item .colorBox {margin-top:10px}
.page_6 .flex-box .flex-item .bunsuWrap.inline {vertical-align:6px}
.page_6 .textAlignC .toggle {left:50px}
.pop_page_6 .lineBox.purple {width:860px;margin:40px auto;padding:30px}
.pop_page_6 .lineBox.purple .flex-box {align-items:center;height:80px}
.pop_page_6 .lineBox.purple .flex-box .colorBox {margin-right:10px}
.pop_page_6 .lineBox.purple .flex-box .bunsuWrap.inline {vertical-align:6px}
.pop_page_6 .lineBox.purple .flex-box ~ .flex-box {margin-top:20px}
.pop_page_6 .blankBox {height:40px;vertical-align:-4px}
.pop_page_6 .q-item {margin-top:30px;letter-spacing:-2px}