.contentsBox section{padding:0;}
.contentsBox .toggle .answer{position: relative;text-align: justify;}
.contentsBox .toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

.contentsBox .imgContainer {text-align:center;}
.contentsBox .imgContainer .img-box {display:inline-block;width:580px;height:260px;overflow:hidden;position:relative}
.contentsBox .imgContainer .img-box .imgCon {height:100%}
.contentsBox .imgContainer .img-box .imgCon .popBtn {width:100%;height:100%;background:url("../images/suh_0501_01_0003_202_1.jpg") no-repeat right center / auto 100%;}
.contentsBox .imgContainer .img-box .imgCon .popBtn .balloon1 {left:5px;top:5px;}
.contentsBox .imgContainer .img-box .imgCon .popBtn .balloon1:after {top:50px;}

.page_1 .imgContainer {margin:52px 0 0;}

/* .page_3 .textAlignC .lineBox {display:inline-block;}
.page_3 .toggle .answer{padding-left:60px;} */
.page_3 .exam_formula {display:flex;justify-content:space-around;align-items:center;position:relative;padding-left:60px;}
.page_3 .exam_formula .bullet {position:absolute;left:15px;top:20px;}
.page_3 .exam_formula .ex_item {position:relative;}
.page_3 .exam_formula .ex_item.toggle {width:480px;}
.page_3 .exam_formula .ex_item.toggle .answer {padding-left:60px;}
.page_3 .exam_formula .ex_item.v01 {width:280px;height:260px;}
.page_3 .exam_formula .ex_item.v01 .toggle.duplicate {position:static;background:none;}
.page_3 .exam_formula .ex_item.v01 .toggle.duplicate:after {display:none;}
.page_3 .exam_formula .ex_item.v01 .toggle.duplicate .answer {position:static;padding:0;}
.page_3 .exam_formula .ex_item.v01 .formula_line {position:absolute;border:3px solid #00a0ff;}
.page_3 .exam_formula .ex_item.v01 .formula_num {position:absolute;line-height:42px;color:#00a0ff;}
.page_3 .exam_formula .ex_item.v01 .formula_line.v01 {left:120px;top:70px;width:60px;height:40px;border-top:none;}
.page_3 .exam_formula .ex_item.v01 .formula_line.v02 {left:30px;top:70px;width:120px;height:105px;border-top:none;border-right:none;}
.page_3 .exam_formula .ex_item.v01 .formula_line.v02:after {display:block;content:"";position:absolute;right:0;bottom:0;height:10px;border-left:3px solid #00a0ff;}
.page_3 .exam_formula .ex_item.v01 .formula_num.v01 {left:135px;top:115px;}
.page_3 .exam_formula .ex_item.v01 .formula_num.v02 {left:75px;top:185px;}

.popup_container .imgContainer {height:700px;text-align:center;}
.popup_container .imgContainer img {height:100%;}
.popup_container .balloon1 {top:100px;left:260px;}