
@charset "utf-8";
.inputQuizContainer {
  position: relative;
  width: 900px;
  height: 530px;
  margin: 0 auto;
  background: url(../images/6_4/6_4_5.png) center bottom/ contain no-repeat;
  z-index: 1;
}

.inputQuizContainer figure {
  width: 900px;
  margin: 0 auto 30px
}

figure.fig1 {
  position: absolute;
  top: 217px;
  left: 156px;
  width: 310px;
}

figure.fig2 {
  position: absolute;
  top: 308px;
  left: 531px;
  width: 267px;
}

.clickButton {
  opacity: 0
}

ins.exam_1 {
  position: absolute;
  top: 185px;
  left: 100px;
}

.supplies {
  position: absolute;
  top: 10px;
  right: 0;
}

.flexContainer .lineBox.gray {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 980px;
  height: 170px;
  display: block;
  flex-shrink: 0;
  z-index: 1;
}

.flexContainer .rotateContainer .rotateTarget:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  transform-origin: center;
}

.flexContainer .rotate_1 {
  top: 10px;
  left: 30px;
  width: 128px;
  height: 128px;
}
.flexContainer .rotate_1 .rotateTarget:after {
  background: url(../images/6_4/6_4_2_01.png) center / contain no-repeat;
}
.flexContainer .rotate_2 {
  top: 54px;
  left: 213px;
  width: 136px;
  height: 56px;
}
.flexContainer .rotate_2 .rotateTarget:after {
  background: url(../images/6_4/6_4_2_02.png) center / contain no-repeat;
}
.flexContainer .rotate_3 {
  top: 50px;
  left: 532px;
  width: 90px;
  height: 56px;
}
.flexContainer .rotate_3 .rotateTarget:after {
  background: url(../images/6_4/6_4_2_04.png) center / contain no-repeat;
}
.flexContainer .rotate_4 {
  top: 50px;
  left: 419px;
  width:65px;
  height:65px;
}
.flexContainer .rotate_4 .rotateTarget:after {
  background: url(../images/6_4/6_4_2_03.png) center / contain no-repeat;
}
.flexContainer .rotate_5 {
  top: 50px;
  left: 655px;
  width: 128px;
  height: 56px;
}
.flexContainer .rotate_5 .rotateTarget:after {
  background: url(../images/6_4/6_4_2_05.png) center / contain no-repeat;
}
.flexContainer .rotate_6 {
  top: 56px;
  left: 800px;
  width: 128px;
  height: 48px;
}
.flexContainer .rotate_6 .rotateTarget:after {
  background: url(../images/6_4/6_4_2_06.png) center / contain no-repeat;
}


.rotateButton {
  top: 0;
  left: 0;
  transform: none;
}
.showRotate .rotateButton {
  opacity: 1;
  visibility: visible;
}
.flexContainer .rotate_1 .left {
  top: 32px;
  left: 31px;
}
.flexContainer .rotate_1 .right {
  top: 57px;
  left: 79px;
}
.flexContainer .rotate_2 .left {
  top: 13px;
  left: 25px;
}
.flexContainer .rotate_2 .right {
  top: 13px;
  left: 84px;
}
.flexContainer .rotate_3 .left {
  top: 13px;
  left: -15px;
}
.flexContainer .rotate_3 .right {
  top: 13px;
  left: 78px;
}
.flexContainer .rotate_4 .left {
  top: 6px;
  left: -24px;
}
.flexContainer .rotate_4 .right {
  left: 56px;
  top: 6px;
}
.flexContainer .rotate_5 .left {
  top: -5px;
  left: 22px;
}
.flexContainer .rotate_5 .right {
  top: 31px;
  left: 55px;
}
.flexContainer .rotate_6 .left {
  top: -5px;
  left: -21px;
}
.flexContainer .rotate_6 .right {
  top: 5px;
  left: 126px;
}

.page1 .lineBox.gray .rotateTarget,
.lineBox.gray.showAnswer .rotateTarget {
  pointer-events: none !important;
}
.showRotate.rotateContainer {
  z-index: 1;
}


.lineBox.gray.showAnswer .rotateContainer .rotateTarget,
.lineBox.gray.showAnswer .rotateContainer .rotateTarget:after {
  pointer-events: none !important;
}