.supplies {
  position: absolute;
  top: 10px;
  right: 0px;
}

.inner_page1 .fig1 {
  position: absolute;
  top: 10px;
  left: 95px;
  width: 223px;
}
.inner_page2 .fig1 {
  position: absolute;
  top: 33px;
  left: 1px;
  width: 295px;
}
ins.exam {
  left: 20px;
  top: 20px;
}

figure {
  position: relative;
}

.flexContainer .shrink {
  flex-shrink: 0;
  margin-right: 10px;
}

.flexContainer {
  display: flex;
  width: 880px;
  height: 410px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.flexContainer .lineBox.gray {
  position: relative;
  display: block;
  flex-shrink: 0;
  width: 376px;
  height: 100%;
}
.inner_page1 .imageBox {
  position: relative;
  width: 400px;
  height: 440px;
  border-radius: 20px;
  background: url(../images/6_5/6_5_11_01.png) center -186px/ 420px auto no-repeat;
}
.inner_page2 .imageBox {
  position: relative;
  width: 400px;
  height: 440px;
  border-radius: 20px;
  background: url(../images/6_5/6_5_11_01.png) -7px -829px/ 420px auto no-repeat;
}
.flexContainer .rotateContainer .rotateTarget::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform-origin: center center;
}

.flexContainer .rotate_1 {
  top: 30px;
  left: 30px;
  width: 150px;
  height: 130px;
}

.flexContainer .rotate_1 .rotateTarget::after {
  background: url("../images/6_5/6_5_9_01.png") center center / contain no-repeat;
}

.flexContainer .rotate_2 {
  top: 90px;
  left: 185px;
  width: 149px;
  height: 80px;
}

.flexContainer .rotate_2 .rotateTarget::after {
  background: url("../images/6_5/6_5_9_02.png") center center / contain no-repeat;
}

.flexContainer .rotate_3 {
  top: 205px;
  left: 70px;
  width: 72px;
  height: 72px;
}

.flexContainer .rotate_3 .rotateTarget::after {
  background: url("../images/6_5/6_5_9_03.png") center center / contain no-repeat;
}

.flexContainer .rotate_4 {
  top: 197px;
  left: 218px;
  width: 78px;
  height: 78px;
}

.flexContainer .rotate_4 .rotateTarget::after {
  background: url("../images/6_5/6_5_9_04.png") center center / contain no-repeat;
}

.flexContainer .rotate_5 {
  top: 308px;
  left: 29px;
  width: 115px;
  height: 72px;
}

.flexContainer .rotate_5 .rotateTarget::after {
  background: url("../images/6_5/6_5_9_05.png") center center / contain no-repeat;
}

.flexContainer .rotate_6 {
  top: 321px;
  left: 184px;
  width: 135px;
  height: 48px;
}

.flexContainer .rotate_6 .rotateTarget::after {
  background: url("../images/6_5/6_5_9_06.png") center center / contain no-repeat;
}

.rotateButton {
  top: 0px;
  left: 0px;
  transform: none;
}

.showRotate .rotateButton {
  opacity: 1;
  visibility: visible;
}

.flexContainer .rotate_1 .left {
  top: 32px;
  left: 31px;
}

.flexContainer .rotate_1 .right {
  top: 67px;
  left: 89px;
}

.flexContainer .rotate_2 .left {
  top: 28px;
  left: -18px;
}

.flexContainer .rotate_2 .right {
  top: 31px;
  left: 139px;
}

.flexContainer .rotate_3 .left {
  top: 20px;
  left: -40px;
}

.flexContainer .rotate_3 .right {
  top: 20px;
  left: 79px;
}

.flexContainer .rotate_4 .left {
  top: 17px;
  left: -23px;
}

.flexContainer .rotate_4 .right {
  top: 17px;
  left: 63px;
}

.flexContainer .rotate_5 .left {
  top: 20px;
  left: -24px;
}

.flexContainer .rotate_5 .right {
  top: 20px;
  left: 105px;
}

.flexContainer .rotate_6 .left {
  top: 5px;
  left: -30px;
}

.flexContainer .rotate_6 .right {
  left: 124px;
  top: 10px;
}

.page1 .lineBox.gray .rotateTarget,
.lineBox.gray.showAnswer .rotateTarget {
  pointer-events: none !important;
}

.showRotate.rotateContainer {
  z-index: 1;
}


.flexContainer>.right figure {
  display: none;
}
.flexContainer>.right .exam {
  display: none;
}

.flexContainer .lineBox.showAnswer+.right figure {
  display: block;
}

 .flexContainer .lineBox.showAnswer+.right .exam {
  display: flex;
}
 .flexContainer .lineBox.showAnswer+.right figure {
  display: block;
}

 .flexContainer .lineBox.showAnswer+.right .exam {
  display: flex;
} 

.flexContainer .lineBox.showAnswer+.right .exam_1 {
  top: 98px;
  left: 50px;
}

.flexContainer .lineBox.showAnswer+.right .exam_2 {
  top: 38px;
  left: 325px;
}


.lineBox.gray.showAnswer .rotateContainer .rotateTarget,
.lineBox.gray.showAnswer .rotateContainer .rotateTarget:after {
  pointer-events: none !important;
}