.supplies {
  position: absolute;
  top: 10px;
  right: 0px;
}

.fig1 {
  position: absolute;
  top: 103px;
  left: 149px;
  width: 300px;
}

ins.exam {
  left: 20px;
  top: 20px;
}

figure {
  position: relative;
}

figure img {
  width: 100%;
  vertical-align: top;
}

.flexContainer .shrink {
  flex-shrink: 0;
  margin-right: 10px;
}

.flexContainer {
  display: flex;
  width: 1030px;
  align-items: center;
  justify-content: space-between;
  height: 410px;
}

.flexContainer .lineBox.gray {
  position: relative;
  display: block;
  flex-shrink: 0;
  width: 376px;
  height: 100%;
}

.flexContainer .rotateContainer .rotateTarget::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform-origin: center center;
}

.flexContainer .rotate_1 {
  top: 30px;
  left: 30px;
  width: 150px;
  height: 130px;
}

.flexContainer .rotate_1 .rotateTarget::after {
  background: url("../images/6_5/6_5_9_01.png") center center / contain no-repeat;
}

.flexContainer .rotate_2 {
  top: 90px;
  left: 195px;
  width: 155px;
  height: 77px;
}

.flexContainer .rotate_2 .rotateTarget::after {
  background: url("../images/6_5/6_5_9_02.png") center center / contain no-repeat;
}

.flexContainer .rotate_3 {
  top: 205px;
  left: 30px;
  width: 148px;
  height: 74px;
}

.flexContainer .rotate_3 .rotateTarget::after {
  background: url("../images/6_5/6_5_9_03.png") center center / contain no-repeat;
}

.flexContainer .rotate_4 {
  top: 197px;
  left: 228px;
  width: 78px;
  height: 78px;
}

.flexContainer .rotate_4 .rotateTarget::after {
  background: url("../images/6_5/6_5_9_04.png") center center / contain no-repeat;
}

.flexContainer .rotate_5 {
  top: 308px;
  left: 19px;
  width: 143px;
  height: 62px;
}

.flexContainer .rotate_5 .rotateTarget::after {
  background: url("../images/6_5/6_5_9_05.png") center center / contain no-repeat;
}

.flexContainer .rotate_6 {
  top: 321px;
  left: 184px;
  width: 140px;
  height: 39px;
}

.flexContainer .rotate_6 .rotateTarget::after {
  background: url("../images/6_5/6_5_9_06.png") center center / contain no-repeat;
}

.rotateButton {
  top: 0px;
  left: 0px;
  transform: none;
}

.showRotate .rotateButton {
  opacity: 1;
  visibility: visible;
}

.flexContainer .rotate_1 .left {
  top: 32px;
  left: 31px;
}

.flexContainer .rotate_1 .right {
  top: 67px;
  left: 89px;
}

.flexContainer .rotate_2 .left {
  top: 28px;
  left: 22px;
}

.flexContainer .rotate_2 .right {
  top: 31px;
  left: 85px;
}

.flexContainer .rotate_3 .left {
  top: 13px;
  left: 25px;
}

.flexContainer .rotate_3 .right {
  top: 13px;
  left: 84px;
}

.flexContainer .rotate_4 .left {
  top: 17px;
  left: -23px;
}

.flexContainer .rotate_4 .right {
  top: 17px;
  left: 63px;
}

.flexContainer .rotate_5 .left {
  top: -5px;
  left: 39px;
}

.flexContainer .rotate_5 .right {
  top: 30px;
  left: 67px;
}

.flexContainer .rotate_6 .left {
  top: 0;
  left: -30px;
}

.flexContainer .rotate_6 .right {
  left: 124px;
  top: 0;
}

.page1 .lineBox.gray .rotateTarget,
.lineBox.gray.showAnswer .rotateTarget {
  pointer-events: none !important;
}

.showRotate.rotateContainer {
  z-index: 1;
}

.flexContainer>.right {
  position: relative;
  display: block;
  width: 555px;
  height: 380px;
  background: url("../images/6_5/6_5_9_bg.svg") center center / contain no-repeat;
}

.flexContainer>.right figure {
  display: none;
  width: 296px;
  margin: 0px auto;
}

.flexContainer .lineBox.gray.showAnswer+.right figure {
  display: block;
}

.flexContainer>.right .answerImg {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  transform: none;
}

.flexContainer>.right .exam {
  display: none;
}

.flexContainer .lineBox.showAnswer+.right .answerImg {
  display: block;
}

.flexContainer .lineBox.showAnswer+.right .exam {
  display: flex;
}

.flexContainer .lineBox.showAnswer+.right .exam_1 {
  top: 98px;
  left: 50px;
}

.flexContainer .lineBox.showAnswer+.right .exam_2 {
  top: 38px;
  left: 325px;
}



.lineBox.gray.showAnswer .rotateContainer .rotateTarget,
.lineBox.gray.showAnswer .rotateContainer .rotateTarget:after {
  pointer-events: none !important;
}