
@charset "utf-8";


.basicSlider_slides > li {
  padding: 0px 50px 0;
  box-sizing: border-box;
}

symbol {
  margin: 0 4px;
}


/*1*/
.page1 .dotBox {
  display: inline-block;
  position: relative;
  top: 18px;
  width: 24px;
  height: 24px;
  margin: 0 8px;
  vertical-align: top;
  background-color: #111;
}


.page1 .toggleObj[data-toggle-obj="1"] {
  top: 60px;
  left: 596px;
  width: 122px;
}
.page1 .toggleObj[data-toggle-obj="2"] {
  top: 128px;
  left: 134px;
  width: 210px;
}


.page1 .colorBox {
  position: absolute;
  top: -4px;
  right: 15px;
  width: 400px;
  height: 420px;
  background-color: transparent;
}
.page1 .colorBox:after {
  background-image: url(../images/5_1/5_1_4_01.svg);
}

.page1 .noBullet {
  height: 220px;
  background: url(../images/5_1/5_1_4_02.svg) 130px center / auto 190px no-repeat;
}
/*2*/
.page2 .noBullet {
  margin-top: 50px;
  height: 170px;
  background: url(../images/5_1/5_1_6_01.png) center / contain no-repeat;
}

/* toggle */
.page2 .list.dot > li .toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 578px;
  width: 245px;
}
.page2 .list.dot > li .toggleObj[data-toggle-obj="2"] {
  top: 66px;
  left: 36px;
  width: 434px;
}