
@charset "utf-8";
section {
  padding: 20px 50px;
}

symbol {
  margin: 0 4px;
}
.list.dot > li {
  word-break: break-all;
}
/* toggle */
.list.dot > li .toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 1048px;
  width: 92px;
}
.list.dot > li .toggleObj[data-toggle-obj="2"] {
  top: 0px;
  left: 974px;
  width: 101px;
}