
@charset "utf-8";

.dotBox {
  display: inline-block;
  position: relative;
  top: 18px;
  width: 24px;
  height: 24px;
  margin: 0 8px;
  vertical-align: top;
  background-color: #111;
}


.toggleObj[data-toggle-obj="1"] {
  top: 60px;
  left: 596px;
  width: 122px;
}
.toggleObj[data-toggle-obj="2"] {
  top: 128px;
  left: 134px;
  width: 210px;
}


.promise .colorBox {
  position: absolute;
  top: 26px;
  right: 15px;
  width: 400px;
  height: 470px;
  background-color: transparent;
}
.promise .colorBox:after {
  background-image: url(../images/5_1/5_1_4_01.svg);
}

.noBullet {
  height: 260px;
  background: url(../images/5_1/5_1_4_02.svg) 130px center / auto 200px no-repeat;
}