
@charset "utf-8";


.table {
  width: 1090px;
  margin-top: 30px;
}
.table > ul:first-child {
  flex: 0 0 auto;
  width: 300px;
}

.table input {
  width: 90px;
}
.table input.long {
  width: 120px;
}
ins.exam.circle {
  position: absolute;
  top: 32px;
  left: 8px;
  margin: 0;
}