
@charset "utf-8";


.flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.imageBox {
  width: 430px;
  height: 180px;
  margin-right: 20px;
  background: url(../images/5_1/5_1_10_01.png) 0 0 / auto 170px no-repeat;
}


.flexBox:nth-of-type(2) {
  margin-top: 50px;
}
.flexBox:nth-of-type(2) .imageBox {
  background-position: -490px 0px;
}

fomula input {
  width: 100px;
  margin: 0 10px;
}

fomula input[data-input-obj="3"] {
  width: 150px;
}

fomula input:nth-of-type(2) {
  margin-left: 25px;
}
fomula input:last-of-type {
  margin-left: 0;
}