@charset "utf-8";
 
  /* page1 */
  header{display: none;}

  #wrap{background:transparent; box-shadow: none;}
  
  
  .quizArea {
      position: relative;
  }
  .top:not(.dragBox) {
    margin-top: 120px;
    margin-bottom: 40px;
  }
  .textBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    border: 3px solid #dacfaa;
    border-radius: 20px;
    box-sizing: border-box;
  }
  .drawLine {
    position: absolute;
    left: 380px;
    width: 690px;
    background: url(../images/5_1_sub/5_1_2_01.svg) left center / contain no-repeat;
  }
  .top .drawLine {
    top: -31px;
  }
  .bottom .drawLine {
    top: -31px;
  }
  .dragObj {
    left: -16px;
    top:50px
  }
  .drawLine .resetButton {
    right: -50px;
    top: 54px;
  }
  .induceLight {
    top: 132px;
    left: 395px;
  }
  .induceLight.light_2 {top: 272px;}
  
.imgBox {
    position: relative;
    padding-left: 60px;
}
.titleIndent {
  position: relative;
}
.complete ins.exam2 {
  display: flex;
}
 ins.exam1 {
  top: 20px;
  left:320px;
  display: none;
}
 ins.exam2 {
  top: 20px;
  left:320px;
    display: none;
}

/* .js-resetButton.resetButton{
  display: none;
} */


.dragBox {
  position: absolute;
  top: 10px;
  right: 60px;
  width: 200px;
  height: 130px;
}
.rotateContainer {
  position: absolute;
  top: 50px;
  left: 25px;
  width: 151px;
  height: 32px;
}
.rotateContainer .rotateTarget:after {
  top: 15%;
  left: 7%;
  right: 7%;
  bottom: 10%;
}
.rotateContainer.showRotate {
  width: 650px;
  height: 122px;
}