
@charset "utf-8";


.rulerContainer {
  display: flex;
  justify-content: center;
  height: 400px;
}

.waterMelonSeed {
  position: relative;
  width: 283px;
  height: 180px;
  margin-top: 50px;
  font-size: 34px;
  text-align: left;
  font-family: 'NotoM';
  padding: 0 0 0 16px;
  background: url(../images/5_1/5_1_5_01.png) center bottom / contain no-repeat;
  box-sizing: border-box;
}

.waterMelonSeed:after,
.waterMelonSeed:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 41px;
  left: 0;
  width: 0;
  height: 90px;
  border-right: 2px dashed #db3f9c;
}
.waterMelonSeed:before {
  left: 17.5px;
}
.waterMelonSeed:after {
  left: 102px;
}


.clickButton {
  top: 56px;
  left: 420px;
}


.ruler {
  opacity: 0;
  position: absolute;
  top: 185px;
  left: 437px;
  width: 644px;
  height: 130px;
  background: url(../images/5_1/5_1_5_ruler.svg) 0 0 / contain no-repeat;
}
.ruler.on {
  opacity: 1;
}

.arrowImg {
  position: absolute;
  top: 160px;
  left: 485px;
  width: 89px;
  height: 11px;
  background: url(../images/5_1/5_1_5_arrow.svg) center/contain no-repeat;
}

.answerText[data-after-target] {
  position: absolute;
  top: 408px;
  left: 71px;
  display: flex;
  line-height: normal;
}