
@charset "utf-8";


.imageBox {
  flex: 0 0 auto;
  height: 330px;
  margin-bottom: 10px;
  background: url(../images/5_2/5_2_6_01.svg) center / contain no-repeat, url(../images/5_2/5_2_6_01.png) center / contain no-repeat;
}
.page1 .inlineBox {
  width: 150px;
}
.quizButtons[data-type="reset"] { right: 48px; }

.popup_pages ins.exam.circle {
  margin-top: 6px;
}