@charset "utf-8";


.toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 595px;
  width: 256px;
}
.toggleObj[data-toggle-obj="2"] {
  top: 66px;
  left: 38px;
  width: 400px;
}

.noBullet {
  height: 100px;
  margin-top: 60px;
  background: url(../images/5_2/5_2_7_01.svg) center / contain no-repeat;
}