
@charset "utf-8";


ul.list.dot {
  margin-bottom: 10px;
}
.inputQuizContainer textarea {
  height: 220px;
}
.answerText[data-after-target] {
  position: absolute;
  top: 148px;
  left: 116px;
  width: 1090px;
  display: flex;
  word-break: break-all;
  line-height: normal;
}
.popupButton.head {
  top: -75px;
}

.popup_pages > li.min[data-popup-page="1"] {
  width: 755px;
  top: 104px;
  right: 80px;
}
