@charset "utf-8";
.lineWrap {
  margin: 20px 0 50px;
  text-align: center;
}

.lineWrap span {
  display: inline-block;
  width: 100px;
  height: 2px;
  background-color: #000;
}

.table {
  width: 1080px;
  margin: 100px auto 0;
  position: relative;
  z-index: 1;
}

.table ul {
  width: calc(100% / 6);
}

.table ul li {
  font-size: 40px;
  font-family: MapleStoryL;
  word-break: break-all;
}

.table ul li input {
  display: inline-block;
  width: 100%;
}
.table ul li input.inlineBox {
  width: 400px;
  margin-left: 4px;
}

.table ul li.bottom {
  padding: 0 20px;
}

.table ul li .txt {
  display: inline-block;
  min-width: 60px;
}


.dragBox {
  position: absolute;
  top: 70px;
  right: 0;
  width: 200px;
  height: 130px;
}

.rotateContainer {
  position: absolute;
  top: 50px;
  left: 21px;
  width: 158px;
  height: 32px;
  z-index: 1;
}

.rotateContainer.showRotate {
  width: 430px;
  height: 82px;
}

.answerText[data-after-target] {
  position: absolute;
  top: 393px;
  left: 284px;
  width: 1090px;
  display: flex;
  line-height: normal;
  z-index: 1;
}
.answerText[data-after-target] .exam {
  position: static;
  flex-shrink: 0;
  margin-right: 6px;
}
.on,
.hover {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}