
@charset "utf-8";

/* .act .contentsArea > h1 {
  letter-spacing: -2.8px;
} */

ul.list.dot {
  margin-bottom: 10px;
}
ul.list.dot > li {
  word-break: break-all;
  margin-bottom: 10px;
}
.page2 .list.dot > li:nth-of-type(1) {
  letter-spacing: -5px;
}
ul.list.dot > li > span {
  letter-spacing: -4px;
}

.imageBox {
  position: absolute;
  top: 0px;
  left: 56px;
  width: 600px;
  height: 430px;
  background: url(../images/5_3/5_3_8_01.svg) center / contain no-repeat, url(../images/5_3/5_3_8_01.png) center / contain no-repeat;
}

.basicSlider_slides > li {
  padding-left: 660px;
  /* letter-spacing: -4px; */
  word-break: normal;
  box-sizing: border-box;
}

textarea {
  word-break: break-word;
}


.page2 .noBullet {
  text-align: right;
}
.page2 .noBullet input {
  width: 280px;
  text-align: center;
  margin-left: 5px;
}