
@charset "utf-8";



ul.list.dot {
  margin-bottom: 10px;
}

/* page1 */
.table {
  width: 1090px;
}
.table .subTitle {
  font-size: 40px;
  font-family: NSquareRB;
}
.table > ul:first-child {
  flex: 0 0 auto;
  width: 300px;
}

.table > ul > li >input {
  width: 97%;
}


ins.exam.circle {
  position: absolute;
  top: 2px;
  left: 8px;
  margin: 0;
}

.char {
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 330px;
  height: 190px;
  background: url(../images/5_3/5_3_5_01.svg) center / contain no-repeat;
}
.char .balloonText {
  margin-top: 36px;
}