
@charset "utf-8";



.noBullet {
  position: relative;
  height: 320px;
  margin-top: 20px;
}
.noBullet > .top {
  position: relative;
}
.noBullet > .top > div {
  position: absolute;
}
.noBullet > .top > div.image {
  width: 100%;
  height: 100%;
}
.noBullet > .top > div.image .arrow {
  position: absolute;
  z-index: 1;
}


/* page1 */
.page1 .toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 1108px;
  width: 84px;
}
.page1 .noBullet > .top {
  height: 250px;
}
.page1 .noBullet .image_1 {
  background: url(../images/5_4/5_4_4_01_1.svg) center / contain no-repeat;
}
.page1 .noBullet .image_2 {
  background: url(../images/5_4/5_4_4_01_2.svg) center / contain no-repeat;
}
.page1 .noBullet .bottom {
  height: 80px;
  background: url(../images/5_4/5_4_4_01_3.svg) center / contain no-repeat;
}

.page1 .arrow {
  top: 112px;
  left: 546px;
}




/* page2 */
.page2 ul.list > li {
  letter-spacing: -3px;
}
.page2 .noBullet {
  margin-top: 80px;
}
.page2 .toggleObj[data-toggle-obj="1"] {
  top: 0;
  left: 930px;
  width: 98px;
}
.page2 .noBullet > .top {
  height: 320px;
}
.page2 .arrow {
  top: 84px;
  left: 224px;
}
.page2 .arrow[data-toggle-obj="2"] { left: 518px; }
.page2 .arrow[data-toggle-obj="3"] { left: 808px; }

.page2 .noBullet .image_1 {
  background: url(../images/5_4/5_4_4_02_1.svg) center / contain no-repeat;
}
.page2 .noBullet .image_2 {
  background: url(../images/5_4/5_4_4_02_2.svg) center / contain no-repeat;
}
.page2 .noBullet .image_3 {
  background: url(../images/5_4/5_4_4_02_3.svg) center / contain no-repeat;
}
.page2 .noBullet .image_4 {
  background: url(../images/5_4/5_4_4_02_4.svg) center / contain no-repeat;
}
