
@charset "utf-8";




symbol {
  margin: 0 0 0 8px;
}

.list.dot > li {
  margin: 100px 0;
}

.list.dot input {
  display: inline-block;
  width: 90px;
  margin: 0 5px;
  text-align: center;
}
.list.dot input[data-input-obj="1"] {
  width: 130px;
}