
@charset "utf-8";


ins.icon.icon_o {
  opacity: 1;
  position: relative;
  top: 5px;
  margin-left: 10px;
}
.oxObj {
  cursor: pointer;
}
.answerComplete .oxObj,
.oxObj.complete {
  pointer-events: none;
}
.oxObj > .icon {
  opacity: 0;
}
 
.oxObj[data-ox-obj="1"] {
  top: -4px;
  left: 918px;
}
.oxObj[data-ox-obj="2"] {
  top: -4px;
  left: 994px;
}
.oxObj[data-ox-obj="3"] {
  top: -4px;
  left: 1092px;
}
.oxObj[data-ox-obj="4"] {
  top: 150px;
  left: 737px;
}
.oxObj[data-ox-obj="5"] {
  top: 150px;
  left: 812px;
}
.oxObj[data-ox-obj="6"] {
  top: 150px;
  left: 894px;
  width: 106px;
}

[data-ox-obj="99"] { display: none !important; }