
@charset "utf-8";


ul.list.dot {
  margin-bottom: 10px;
  letter-spacing: -3px;
}

.popupButton.head {
  top: -75px;
}

.popup_pages > li.min[data-popup-page="1"] {
  width: 835px;
  top: 106px;
  right: 80px;
}

.popup_pages > li.min[data-popup-page="1"] > img {
  max-width: 100%;
  max-height: 100%;
}


fomula.vertical.time {
  width: 470px;
  margin: 0 auto;
}
fomula.vertical.time > ul > li:nth-of-type(2n-1) {
  width: 60px;
  margin-right: 10px;
}
fomula.vertical input {
  z-index: 1;
}


.timeTable {
  display: flex;
  justify-content: center;
  height: 484px;
  font-size: 32px;
  font-family: MapleStoryL;
  text-align: center;
  background: url(../images/5_6/5_6_4_01.png) top center / contain no-repeat;
}
.timeTable ul {
  margin-top: 13.8%;
}
.timeTable ul:nth-of-type(1) {
  width: 80px;
}
.timeTable ul:nth-of-type(2) {
  width: 224px;
}
.timeTable ul:nth-of-type(3) {
  width: 270px;
}
.timeTable ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 59px;
}
.timeTable ul > li.title {
  font-size: 30px;
}

/* page1 */


/* page2 */
.page2 fomula.vertical.time {
  margin-top: 50px;
}

.page2 .top {
  width: 630px;
  height: 330px;
  margin: -20px auto 10px;
  background: url(../images/5_6/5_6_4_01_text.png) center / contain no-repeat;
}
.page2 .induceLine {
  position: absolute;
  top: 156px;
  left: 461px;
  width: 328px;
  height: 38px;
  border: 2px solid yellow;
  box-shadow: 0 0 4px 4px yellow;
  box-sizing: border-box;
  animation: opacity .8s ease-in-out infinite;
}

@keyframes opacity { 50% { opacity: 0; } }
@-o-keyframes opacity { 50% { opacity: 0; } }
@-ms-keyframes opacity { 50% { opacity: 0; } }
@-webkit-keyframes opacity { 50% { opacity: 0; } }

.page2 .inputQuizContainer {
  text-align: center;
}
.page2 .inputQuizContainer input {
  display: inline-block;
  width: 110px;
  text-align: center;
}
/* page3 */
.page3 ul.list > li {
  word-break: break-all;
}
.page3 fomula.vertical.time {
  margin-top: 60px;
}

.page3 .char {
  position: absolute;
  bottom: 50px;
  right: 0;
  width: 250px;
  height: 230px;
  background: url(../images/5_5/5_5_4_char.svg) center / contain no-repeat;
}
.page3 .char .balloonText {
  margin-top: 40px;
  letter-spacing: -1px;
}