
@charset "utf-8";

.draw::after {
    display:none;
}

.dragBox.top {
    width:1080px;
    height:98px;
    margin:70px 0 0 70px;
}

.dropAreaWrap {
    position:relative;
    top:15px;
    display:inline-block;
    width:116px;
    height:60px;
}

.dropArea {
    z-index:1;
    display:inline-block;
    width:116px;
    height:60px;
    border-radius:8px;
    background-color:#eeeeee;
}
.dropArea.blue {
    color: #0060e3;
}

.dropArea.complete .dragObj {
    position: static;
    text-align: center;
    width: 100%;
}

.js-dragObj {
    z-index:10;
    top:20px;
}

.js-dragObj[data-index="1"] {
    left: 325px;
}
.js-dragObj[data-index="2"] {
    left: 532px;
}
.js-dragObj[data-index="3"] {
    left: 698px;
}
.dropArea .dragObjComplete {
    position: static;
    text-align: center;
}
.list {
    margin:0 0 0 70px;
}

.list li {
    margin-top:70px !important;
}

.list.dot > li:before {
    top:31px;
}