
@charset "utf-8";

.imgBox {
    text-align:center;
    position:relative;
    top:-50px;
}
.inputArea {
    position:absolute;
    right:73px;
    bottom:100px;
}
.inputArea input {
    display:inline-block;
    width:115px;
    text-align:center;
}
