
@charset "utf-8";

.contentsArea .list {
    margin-top:20px;
}
.contentsArea .list li {
    margin:0 0 40px 44px !important;
}
.contentsArea .list input {
    display:inline-block;
    text-align:center;
}
.contentsArea .list input.ml_10 {
    margin-left: 10px;
}

input[data-input-obj="1"] {
    width:165px;
}
input[data-input-obj="2"] {
    width:115px;
}
input[data-input-obj="3"] {
    width:115px;
}
input[data-input-obj="4"] {
    width:115px;
}
input[data-input-obj="5"] {
    width:165px;
}
input[data-input-obj="6"] {
    width:175px;
}


symbol, ins.mathSymbols {
    margin: 0;
}