
@charset "utf-8";

.finish.quiz .contentsArea h2 {
    word-break: break-all;
}
.imgBox {
    text-align:center;
    margin-top:30px;
}

.lineBox {
    margin-left:70px;
}
.inputArea {
    margin-left:70px;
    margin-top:30px;
}


.wrongIcon {
    display: inline-block;
    width: 200px;
    height: 70px;
    vertical-align: middle;
    background: url(../images/5_8/5_8_04_icon.svg) center / contain no-repeat;
}
input {
    width: 936px;
}