
@charset "utf-8";

.imgBox {
    margin-top:60px;
    text-align:center;
}
.inputArea {
    margin-left:70px;
}



/*.dragLineArea:after { */
/*    display:none;*/
/*}*/
.dragLineArea:after {
    width: 20px;
    height: 20px;
    border: 4px solid #FFF;
    box-sizing: border-box;
}
.dragLineArea:after {
    background-color: #B97BB5;
}
.dragLineArea.green:after {
    background-color: #5fb3ad;
}
.dragObj[data-group="1"][data-answer="2"] {
    left: 390px;
    top: 111px;
}
.dragObj[data-group="1"][data-answer="3"] {
    left: 830px;
    top: 111px;
}
.dragObj[data-group="1"][data-answer="4"] {
    left: 830px;
    top: 247px;
}

.dragObj[data-group="2"][data-answer="2"] {
    left: 830px;
    top: 381px;
}
.dragObj[data-group="2"][data-answer="3"] {
    left: 390px;
    top: 247px;
}
.dragObj[data-group="2"][data-answer="4"] {
    left: 390px;
    top: 381px;
}

.induceLight {
   display: none;
}
.complete .induceLight,
.isDragging .induceLight {
    opacity: 0;
}