#wrap main {z-index:0}
.popup_container{z-index: 1;}
.content-container{height: 530px;}
.suhi h2 .blankBox{margin-top:8px;}
.suhi h2 {margin-bottom: 30px;}
.suhi h2>ins.number {z-index: 1;}
.popup_pages>li.whole h2.pop-tit{background-color:transparent !important; align-self:flex-start; padding:20px; }
.popup_pages .buttonContainer{right: 40px;bottom: 20px;}
.type-iframe .buttonContainer.left{left:56px; right: auto;}
.type-iframe .buttonContainer{right:225px;}
.btns-bottom-right {bottom:10px}
.popup_pages>li.whole{font-size:40px;}
.whole .bullet.circleDot {margin-top:18px}
.whole .icon_o_title{transform: translate(0,3px);}
.blankBox.w40{
    min-width:40px !important;
    min-height:40px !important;
    max-width:40px !important;
    max-height:40px !important;
    transform: translate(0px, 6px);
}
.flex-wrap .icon_arrow {margin: 0 10px;}
.flex-wrap {align-items: center;}
.flexListContainer .flex-wrap {align-items: center;}
.flexListContainer.jcenter li {display: flex;align-items: center;}

.basicSlider .contentsBox {padding: 0;}

.page_0 .flexListContainer.column li + li {margin: 0;}
.page_0 .flex-wrap {width: 100%;justify-content: space-between;padding: 50px 30px 0;text-align: center;}
.page_0 .flex-item.n1 {position: relative;width: 50%;}
.page_0 .flex-item.n1 .img-wrap {margin-top: 200px;text-align: left;}
.page_0 .flex-item.n1 .img-wrap > img {width: 460px;height: auto;}
.page_0 .flex-item.n1 .balloon {position: absolute;top: 55px;z-index: 1;text-align: center;}
.page_0 .flex-item.n1 .balloon.b1 {left: 44px;top: 75px;padding: 20px;}
.page_0 .flex-item.n2 .img-wrap {position: relative;width: 500px;height: 337px;background: url(../images/suhi_p_0301_03_0007_2.png) 50% 50% /100% no-repeat;}
.page_0 .flex-item.n2 .img-wrap .flexListContainer.column {justify-content: center;width: 420px;height: 100%;margin: 0 auto;}
.page_0 .flex-item.n2 .img-wrap .flexListContainer li {display: flex;text-align: left;}
.page_0 .flex-item.n2 .img-wrap .flexListContainer li + li {margin-top: 10px;}
.page_0 .flex-item.n2 .img-wrap .text {color: #fff;}

.page_1 .study_guide {top: -10px !important;}

.page_2 .tableContainer {width: 100%;margin-top: 10px;padding: 0 30px;}
.page_2 .tableContainer table td, .page_2 .tableContainer table th,
.pop_page_2.whole .tableContainer table td, .pop_page_2.whole .tableContainer table th {width: 50px;}
.page_2 .contentsList {padding-left: 30px;}
.pop_page_2.whole .dotList {margin-top: 20px;padding-left: 30px;}
.page_2 .innerTab_2 .flex-wrap,
.pop_page_2.whole .flex-wrap {justify-content: center;}
.pop_page_4.solve .popup_contents {letter-spacing: -1px;}
.pop_page_4.solve .img-wrap {margin: 10px auto;text-align: center;}
.pop_page_4.solve .textAlignC {letter-spacing: -3px;}
.pop_page_4.solve .img-wrap img {width: 300px;}

.page_3 .flexListContainer,
.pop_page_3.whole .flexListContainer {width: 290px;margin: 30px auto 0;}
.page_3 .flexListContainer li,
.pop_page_3.whole .flexListContainer li {display: flex;align-items: center;}
.page_3 .flexListContainer li + li,
.pop_page_3.whole li + li  {margin-top: 15px;}

.page_4 .bg {position: relative;width: 620px;height: 350px;background: url(../images/suhi_p_0301_03_0007_3.png) 50% 50% /100% no-repeat;margin: -10px auto 10px;}
.page_4 .bg .answer-wrap {position: relative;height: 100%;}
.page_4 .bg .text {position: absolute;font-size: 32px;}
.page_4 .bg .text.n1 {top: 70px;left: 107px;}
.page_4 .bg .text.n2 {top: 100px;left: 212px;}
.page_4 .bg .text.n3 {top: 100px;left: 324px;}
.page_4 .bg .text.n4 {top: 81px;left: 426px;}
.page_4 .bg .text.n5 {top: 185px;left: 62px;}
.page_4 .bg .text.n6 {top: 217px;left: 166px;}
.page_4 .bg .text.n7 {top: 217px;left: 278px;}
.page_4 .bg .text.n8 {top: 217px;left: 387px;}
.page_4 .bg .text.n9 {top: 192px;left: 488px;}
.page_4 .bg .toggle {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.page_4 .bg .toggle:after {display: none;}
.page_4 .bg .answer {position: relative;top: 0;left: 0;width: 100%;height: 100%;}
.page_4 .bg .icon_o_title {position: absolute;}
.page_4 .bg .icon_o_title.n1 {top: 102px;left: 244px;}
.page_4 .bg .icon_o_title.n2 {top: 83px;left: 459px;}
.page_4 .bg .icon_o_title.n3 {top: 219px;left: 312px;}
.page_4 .bg .icon_o_title.n4 {top: 218px;left: 420px;}

.page_5 .img-wrap,
.pop_page_5.whole .img-wrap {position: relative;width: 500px;height: 200px;margin: 0 auto 30px;background: url(../images/suhi_p_0301_03_0007_6.png) 50% 50% /100% no-repeat;}
.pop_page_5.whole .img-wrap {background-image: url(../images/suhi_p_0301_03_0007_7.png);}
.page_5 .img-wrap .flex-wrap,
.pop_page_5.whole  .flex-wrap  {width: 100%;height: 100%;justify-content: space-between;align-items: center;}
.page_5 .img-wrap .flex-wrap .text.n1,
.pop_page_5.whole .flex-wrap .text.n1 {position: relative;left: 50px;}
.pop_page_5.whole .text.n2 {position: relative;left: 0;}
.page_5 .img-wrap .flex-wrap .text.n3,
.pop_page_5.whole .flex-wrap .text.n3  {position: relative;right: 50px;}
.page_5 .flexListContainer.column,
.pop_page_5.whole  .flexListContainer.column {width: 350px;margin: 0 auto;}
.page_5 .flexListContainer.column li,
.pop_page_5.whole .flexListContainer.column li {display: flex;align-items: center;justify-content: flex-end;}
.page_5 .flexListContainer.column li + li,
.pop_page_5.whole .flexListContainer.column li + li {margin-top: 15px;}
.page_5 .flexListContainer.column li div,
.pop_page_5.whole .flexListContainer.column li div {display: flex;flex-wrap: wrap;}
.page_5 .flexListContainer.column li > div:first-child,
.pop_page_5.whole .flexListContainer.column li > div:first-child {display: flex;justify-content: flex-end;min-width: 132px;}
.page_5 .flexListContainer.column li .toggle,
.pop_page_5.whole .flexListContainer.column li .toggle {width: 200px;margin-left: 10px;}
.page_5 .flexListContainer.column li .colorBox.check,
.pop_page_5.whole .flexListContainer.column li .colorBox.check {margin-right: 0;}
.page_5 .flexListContainer.column li .colorBox.check.skyBlue,
.pop_page_5.whole .flexListContainer.column li .colorBox.check.skyBlue {width: 132px;text-align: center;}

.pop_page_4.whole .lineBox {width: 600px;margin: 0 auto;padding: 30px;}
.pop_page_4.whole .lineBox li {position: relative;margin: 10px 0;}
.pop_page_4.whole .lineBox li .icon_o_title {position: absolute;top: 50%;left: 36px;transform: translateY(-50%);padding: 10px;opacity: 0;}
.pop_page_4.whole .lineBox li .icon_o_title.on {opacity: 1;}

.pop_page_5.solve .popup_contents,
.pop_page_6.solve .popup_contents{padding-top: 50px;}
.pop_page_5.solve .flexListContainer,
.pop_page_6.solve .flexListContainer {position: relative;margin-top: 10px;}

.pop_page_5.solve .flexListContainer,
.pop_page_6.solve .flexListContainer {position: relative;width: 80%;height: 150px;margin: 30px auto 0;}

.pop_page_5.solve .flexListContainer .arrows,
.pop_page_6.solve .flexListContainer .arrows {margin: 0 20px;}

.pop_page_5.solve .flexListContainer .arrows img,
.pop_page_6.solve .flexListContainer .arrows img {width: 60px;}

.pop_page_5.solve .toggle-wrap .flex-wrap + .flex-wrap,
.pop_page_6.solve .toggle-wrap .flex-wrap + .flex-wrap{margin-top: 15px;}

.popup_contents[data-quiz="dragLine"] {position: relative;}
.popup_pages .contentsList {margin-bottom: 20px;}

.dragLineContainer {padding: 0 50px;margin-top: 50px;}
.dragLineContainer > .right > div {width: 280px;}
.dragLineContainer > .left > div {width: 180px;}
.dragLineContainer > div > div{margin:30px 0;text-align: center;}
.dragLineContainer > .right > div {width: 280px;}
.dragLineContainer > .left > div {width: 180px;}
.left_1{left:313px}
.right_1{left:703px}
.top_1{top: 115px;}
.top_2{top: 217px;}
.top_3{top: 320px;}

.pop_page_1.whole .dragLineContainer {margin-top: 80px;}
.pop_page_1.whole .left_1{left: 305px;}
.pop_page_1.whole .right_1{left: 764px;}
.pop_page_1.whole .top_1{top: 215px;}
.pop_page_1.whole .top_2{top: 316px;}
.pop_page_1.whole .top_3{top: 419px;}
.pop_page_1.whole .study_guide {right: 40px;}