#wrap header .title {display:flex}
#wrap header .title .bullet.number {margin-top:5px;margin-right:10px}

.study_guide {top:10px;right:56px;z-index:1}
.basicSlider.contentsBox.doItContent {padding:0}

.lineBox.purple {position:relative;width:720px;margin:20px auto 0}
.lineBox.purple .bullet.exam {position:absolute;top:0;left:-80px}
.lineBox.purple .flex-wrap {justify-content:space-between;align-items:center}
.lineBox.purple .flex-wrap .flex-item {flex:none}
.lineBox.purple .flex-wrap .item-group {position:relative}
.lineBox.purple .flex-wrap .item-group::after {content:'';position:absolute;top:50%;width:12px;height:12px;margin-top:-6px;border-radius:50%;border:3px solid #58aafc;background-color:#026fdb}
.lineBox.purple .flex-wrap .item-group + .item-group {margin-top:10px}
.lineBox.purple .flex-wrap .flex-item.n1 img {height:120px}
.lineBox.purple .flex-wrap .flex-item.n2 .colorBox {width:200px;padding:0}
.lineBox.purple .flex-wrap .flex-item.n1 .toggle {position:absolute;top:0;left:0;width:148px;height:120px;background-color:transparent}
.lineBox.purple .flex-wrap .flex-item.n1 .toggle::after {display:none}
.lineBox.purple .flex-wrap .flex-item.n1 .item-group::after {right:-40px}
.lineBox.purple .flex-wrap .flex-item.n2 .item-group::after {left:-40px}
.lineBox.purple .flex-wrap .flex-item.n1 .svgContainer {top:12px;left:175px}

.svgContainer {position:absolute;overflow:hidden}
.addPath {stroke-width:5px;stroke:#ff6666;fill:none;overflow:hidden}
