#wrap header .title {display:flex}
#wrap header .title .bullet.number {margin-top:5px;margin-right:10px}
#wrap header .title [class*='icon_'] {position:relative;top:9px}

.oxBox .sub-t {display:none;position:absolute;color:#00a0ff;white-space:nowrap;font-weight:bold}
.oxBox .sub-t:before {position:absolute;content:'';height:2px;left:20px;top:4px;right:20px;background-color:#00a0ff}
.oxBox .complete .sub-t {display:block}
.oxBox .sub-t.n1 {top:82px;left:-882px}
.oxBox .sub-t.n2 {top:82px;left:-540px}
