.sup {font-size:24px;position:relative;top:-8px}

h2 .sup,
th .sup,
.lineBox .sup,
.textAlignC .sup,
.flex-item .sup,
.quiz-content .sup,
.contentsList>li .sup,
#wrap header .title .sup,
.contentsBox h2 .sup,
.character-box .balloon .sup,
.bogi_wrap .sup,
.toggle .sup {top:-12px;display:inline-block;margin-bottom:-12px}

#wrap header .title {display:flex;padding-bottom:10px !important;}
#wrap header .title .bullet.number {margin-top:5px;margin-right:10px}

.contentsBox h2 {margin-bottom:10px}
.basicSlider.contentsBox.doItContent {padding:0}
.ex-box {display:flex}
.ex-box .bullet.exam {flex-shrink:0}

.img-content {position:relative;left:40px;width:589px;margin:60px auto 0}
.img-content img {height:400px}
.img-content .txt-item {position:absolute;white-space:nowrap}
.img-content .txt-item.n1 {top:365px;left:115px}
.img-content .txt-item.n2 {top:302px;left:410px}
.img-content .txt-item.n3 {top:110px;left:510px}

.innerTab_1 .lineBox dl {display:flex}
.innerTab_1 .lineBox dl + dl {margin-top:10px}
.innerTab_1 .lineBox dt {flex-shrink:0;width:100px}
.innerTab_1 .lineBox dt .colorBox {text-align:center}
.innerTab_1 .lineBox dd {font-size:33px;line-height:1.25;letter-spacing:-1px;margin-left:20px}
.innerTab_1 .lineBox dd .icon_arrow {margin-right:10px}

.quiz-content {position:relative}
.quiz-content .colorBox {display:inline-block;vertical-align:top}

.quiz-content dl + dl {margin-top:20px}
.quiz-content .inline-type {display:flex}
