.sup {font-size:24px;position:relative;top:-8px}
.material .sup {font-size:12px;top:-11px}
.suhi header h1 .sub-text .sup {font-size:11px;top:-6px}
th .sup,
.lineBox .sup,
.textAlignC .sup,
.flex-item .sup,
.tableContainer .sup,
.toggle .sup,
.mainContents .sup,
.oxBoxText .sup,
.quiz-content .sup {top:-16px;display:inline-block;margin-bottom:-12px}
header .title .sup,
h2 .sup {top:-16px}
.solve .sup {top:-14px;font-size:20px}

#wrap header .title {display:flex;padding-bottom:10px !important;}
#wrap header .title .bullet.number {margin-top:5px;margin-right:10px}

.contentsBox section {padding:0}
.toggle.type-b {padding:0;background-color:transparent}
.toggle.type-b::after {display:none}

.img-content {position:relative;width:948px;margin:20px auto 0}
.img-content img {height:440px}
.img-content [class*='txt-item'] {position:absolute}
.img-content .txt-item.n1 {top:180px;left:-20px}
.img-content .txt-item.n2 {top:30px;left:178px}
.img-content .txt-item.n3 {top:120px;left:200px}
.img-content .txt-item.n4 {top:72px;left:362px}
.img-content .txt-item.n5 {top:162px;left:372px}
.img-content .txt-item.n6 {top:324px;left:350px}
.img-content .txt-item2 {font-size:20px;letter-spacing:-1px}
.img-content .txt-item2.n1 {top:180px;left:525px}
.img-content .txt-item2.n2 {top:328px;left:525px}
.img-content .txt-item2.n3 {top:243px;left:853px}
.img-content .txt-item2.n4 {top:403px;left:853px}
.img-content .txt-item2.n5 {top:138px;left:604px}
.img-content .txt-item2.n6 {top:196px;left:601px}
.img-content .txt-item2.n7 {top:281px;left:601px;letter-spacing:-1.5px}
.img-content .txt-item2.n8 {top:363px;left:744px}
.img-content .popBtn.zoomBtn {position:absolute;top:-10px;left:470px;bottom:-10px;right:5px}

.quiz-content {position:relative;margin-top:-10px}
.quiz-content .toggle.type-b {position:absolute;top:-45px}
.quiz-content dl + dl {margin-top:10px}
.quiz-content .colorBox.skyBlue {display:inline-block}

.zoom-img {position:relative}
.zoom-img .img-box {position:relative;left:-20px;width:800px;height:700px;margin:60px auto 0;background:url(../images/suh_0601_06_0009_206_1_1.png) no-repeat right top / auto 100%}
.zoom-img .txt-item {position:absolute;font-size:32px;letter-spacing:-2.5px}
.zoom-img .txt-item.n1 {top:350px;left:290px}
.zoom-img .txt-item.n2 {top:584px;left:290px}
.zoom-img .txt-item.n3 {top:448px;left:816px}
.zoom-img .txt-item.n4 {top:704px;left:816px}
.zoom-img .txt-item.n5 {top:280px;left:412px}
.zoom-img .txt-item.n6 {top:372px;left:412px}
.zoom-img .txt-item.n7 {top:508px;left:412px}
.zoom-img .txt-item.n8 {top:638px;left:642px}
