#quiz-01 .input-cont:nth-child(1) {
	width: 1041px;
	left: 156px;
	top: 529px;
}

#quiz-01 .input-cont:nth-child(2) {
	left: 119px;
	top: 530px;
}

#quiz-02 .input-cont:nth-child(1) {
    left: 116px;
    top: 449px;
    width: 1043px;
}
