#quiz-content-02 .scroll-bg {
	background-image: url('../../images/ms_41_6_01/ms_41_6_01_03_01/bg_more.svg');
	background-size: 100%;
	height: 540px;
}

/* #quiz-content-01 .tool-container {
	top: 165px;
} */

/* #quiz-content-02 .tool-container {
	top: 245px;
} */


#quiz-01 .input-cont .answer {
	line-height: 66px;
}

#quiz-01 .input-cont:nth-child(1) {
	width: 160px;
	left: 1010px;
    top: 531px;
}

#quiz-02 .input-cont:nth-child(1) {
	left: 1012px;
	top: 453px;
	width: 156px;
	height: 56px;
}

#quiz-02 .input-cont .answer {
	line-height: 56px;
}