.popBtn.textInBtn.eye {position:relative;display:inline-block;top:-8px}
section.full {margin:-30px -56px 0}
.img-box {position:relative;height:529px;background:url("../images/suh_h_0301_01_0012_201_1.png") no-repeat 50% 70%;background-size:100% 130%}
.img-box .txt-item {position:absolute;text-align:center;font-size:34px;line-height:34px}
.img-box .txt-item.ts {font-size:28px}
.img-box .txt-item.n1 {top:44px;left:366px}
.img-box .txt-item.n2 {top:92px;left:34px}
.img-box .txt-item.n3 {top:264px;left:32px}
.img-box .txt-item.n4 {top:252px;left:513px}
.img-box .txt-item.n5 {top:430px;left:420px}

.img-box .txt-item.n6 {top:90px;left:900px; transform: rotate(-12deg);}
.img-box .txt-item.n7 {top:127px;left:719px; transform: rotate(12deg);}
.img-box .txt-item.n8 {top:192px;left:1094px; transform: rotate(-12deg);}
.img-box .txt-item.n9 {top:310px;left:815px; transform: rotate(12deg);}
.img-box .txt-item.n10 {top:361px;left:960px}
.pop_page_1 .img-box{background: none; z-index: 1;}
.pop_page_1 img{width: 100%;position: absolute;top: 0;}
.pop_page_1 .img-box .txt-item.n1 {top:174px}
.pop_page_1 .img-box .txt-item.n2 {top:232px}
.pop_page_1 .img-box .txt-item.n3 {top:422px}
.pop_page_1 .img-box .txt-item.n4 {top:410px}
.pop_page_1 .img-box .txt-item.n5 {top:609px}

.pop_page_1 .img-box .txt-item.n6 {top:230px}
.pop_page_1 .img-box .txt-item.n7 {top:270px; }
.pop_page_1 .img-box .txt-item.n8 {top:342px}
.pop_page_1 .img-box .txt-item.n9 {top:475px}
.pop_page_1 .img-box .txt-item.n10 {top:532px}

.page_3 .study_guide {right:0; top:-10px}
.page_3 section {padding:0;height:498px}
.page_3 .dragLineContainer {margin-top:30px;display:flex;flex-direction:column;justify-content:space-between;height:390px}
.page_3 .drag-group {display:flex;justify-content:space-between}
.page_3 .drag-group.top .drag-item,
.page_3 .drag-group.top .drag-item .txt-box {border-color:#c1e8ec}
.page_3 .drag-group.bottom .drag-item,
.page_3 .drag-group.bottom .drag-item .txt-box {border-color:#fccd89}
.page_3 .drag-group .drag-item {width:18%;height:140px;border-radius:12px;overflow:hidden;border:5px solid transparent;position:relative}
.page_3 .drag-group .drag-item img {width:100%;height:100%;object-fit:cover}
.page_3 .drag-item .txt-box {position:absolute;left:0;right:0;bottom:0;background-color:rgba(255,255,255,.7);font-size:26px;text-align:center;border-top:5px solid transparent;padding:4px 0}
.page_3 .top_1 {top:198px}
.page_3 .top_2 {top:250px}
.page_3 .left_1 {left:100px}
.page_3 .left_2 {left:320px}
.page_3 .left_3 {left:530px}
.page_3 .left_4 {left:750px}
.page_3 .left_5 {left:960px}

.pop_page_4 .popup_contents{height:540px}
.pop_page_4 .box-flex {display:flex;justify-content:space-between;align-items:center}
.pop_page_4 .box-flex ~  .box-flex {margin-top:20px}
.pop_page_4 .group-a {display:flex;align-items:center}
.pop_page_4 .img-box {width:120px;height:120px;border-radius:12px;overflow:hidden;border:5px solid #c1e8ec;margin-right:20px}
.pop_page_4 .group-a ~ .group-a .img-box {border-color:#fccd89}
.pop_page_4 .img-box img {width:100%;height:100%;object-fit:cover}
.pop_page_4 .group-a .lineBox {padding:10px 24px}
.pop_page_4 .group-a ~ .group-a .lineBox {color:#00a0ff}

.ex-box {display:flex}
.ex-box .exam {flex-shrink:0}

.popup-title-wrap {display:flex;justify-content:center;margin:-20px auto 40px;}
.popup-title {display:inline-block;color:#fff;letter-spacing:0;background-color:#f60;box-sizing:border-box;padding:10px 80px 10px;font-size: 32px;border-radius: 0 0 100px 100px;text-align:center;font-family: 'YGJAL', 'sans-serif';}

.pop_page_4 .lineBox.sky{width: 300px; text-align: center;}