#quiz-01 .check-item {
    position: absolute;
    width: 187px;
    height: 75px;
    margin: 0 0 0 0;

    /* background-color: rgba(255, 0, 0, 0.5); */
}
#quiz-01 .check-item:nth-child(1) {
    left: 147px;
    top: 537px;
}
#quiz-01 .check-item:nth-child(2) {
    left: 548px;
    top: 537px;
}
#quiz-01 .check-item:nth-child(3) {
    left: 946px;
    top: 537px;
}