.content-container > .content > .bg {
    /* background-image: url(../images/mm_31_2_04_06_01/bg.png); */
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 체크 퀴즈 */
.quiz-check.type-ox-01 .check-item::before {
    transform: scale(0.7);
}
#quiz-01 {
    position: absolute;
    left: 0;
    top: 0;
}
#quiz-01 .check-item {
    position: absolute;
    margin: -15px 0 0 -15px;
}
#quiz-01 .check-item:nth-child(1) {
    left: 545px;
    top: 364px;
}
#quiz-01 .check-item:nth-child(2) {
    left: 545px;
    top: 471px;
}
#quiz-01 .check-item:nth-child(3) {
    left: 636px;
    top: 375px;
}
#quiz-01 .check-item:nth-child(4) {
    left: 750px;
    top: 342px;
}
#quiz-01 .check-item:nth-child(5) {
    left: 750px;
    top: 510px;
}
#quiz-01 .check-item:nth-child(6) {
    left: 651px;
    top: 466px;
}
#quiz-01 .check-item:nth-child(7) {
    left: 743px;
    top: 425px;
}

/* 위치 테스트용 */
.check-item.svg > svg > path {
    /* opacity: 0.5; */
}
#quiz-01 .check-item:nth-child(1) > svg {
    margin: -138px 0 0 -138px;
}
#quiz-01 .check-item:nth-child(2) > svg {
    margin: -48px 0 0 -130px;
}
#quiz-01 .check-item:nth-child(3) > svg {
    margin: -98px 0 0 -34px;
}
#quiz-01 .check-item:nth-child(4) > svg {
    margin: -55px 0 0 -55px;
}
#quiz-01 .check-item:nth-child(5) > svg {
    margin: -40px 0 0 -54px;
}
#quiz-01 .check-item:nth-child(6) > svg {
    margin: -92px 0 0 -50px;
}

#quiz-01 .check-item:nth-child(7) > svg {
    margin: -50px 0 0 -50px;
}


.img-box > img {
    position: absolute;
    top: -39px;
    left: 277px;
    transform: scale(1);
}

#quiz-01 .quiz-00-answer.answer-part-00 {
    visibility: hidden;
}

#quiz-01.active .quiz-00-answer.answer-part-00 {
    position: absolute;
    left: 310px;
    top: 228px;
    visibility: visible;
}
