.content-container > .content > .bg {
    background-image: url(../images/mm_31_2_06_05_01/bg.svg);
    /* background-image: url(../images/01.png); opacity: 1; */
}

.app-angle-tool .tool-container {
    top: 170px;
    right: 20px;
}

.answer {
    width: 1280px;
    height: 720px;
    position: absolute;
    top: 0;
    left: 0;
}