.content-container > .content > .bg {
    background-image: url(../images/mm_31_2_02_03_02/bg.svg);
    /* background-image: url(../images/mm_31_2_02_03_02.png); opacity: 1; */
}

#quiz-con-02 {
    width: 830px;
    line-height: 1.6;
}

#quiz-con-03 {
    width: 824px;
    line-height: 1.6;
}