.content-container > .content > .bg {
    /* background-image: url(../images/mm_31_2_04_06_01/bg.png); */
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 위치 테스트용 */
.quiz-check .check-item {
    /* background-color: rgba(255,0,0,0.5); */
}
.check-item.svg > svg > path {
    /* opacity: 0.5; */
}

/* 체크 퀴즈 */
.quiz-check.type-ox-01 .check-item::before {
    transform: scale(1);
}
#quiz-01 {
    position: absolute;
    left: 0;
    top: 0;
}
#quiz-01 .check-item {
    position: absolute;
    margin: -15px 0 0 -15px;
}
#quiz-01 .check-item:nth-child(1) {
    left: 86px;
    top: 206px;
    width: 263px;
    height: 157px;
}
#quiz-01 .check-item:nth-child(2) {
    left: 108px;
    top: 382px;
    width: 225px;
    height: 231px;
}
#quiz-01 .check-item:nth-child(3) {
    left: 377px;
    top: 321px;
    width: 277px;
    height: 292px;
}
#quiz-01 .check-item:nth-child(4) {
    left: 673px;
    top: 321px;
    width: 535px;
    height: 293px;
}
#quiz-01 .check-item:nth-child(5) {
    left: 720px;
    top: 191px;
    width: 115px;
    height: 113px;
    border-radius: 50%;
}
#quiz-01 .check-item:nth-child(6) {
    left: 1016px;
    top: 583px;
}
#quiz-01 .check-item:nth-child(6) > svg {
    margin: -56px 0 0 -90px;
}



#quiz-01 .quiz-00-answer.answer-part-00 {
    visibility: hidden;
}

#quiz-01.active .quiz-00-answer.answer-part-00 {
    position: absolute;
    left: 50px;
    top: 181px;
    visibility: visible;
}