.content-container > .content > .bg {
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* .q-box {
    position: absolute;
    top: 470px;
    left: 0px;
} */
#quiz-02 .input-cont:nth-child(1) {
    width: 190px;
    left: 386px;
    top: 581px;
}
#quiz-02 .input-cont:nth-child(2) {
    width: 330px;
    left: 761px;
    top: 582px;
}

.btn-answer-part:nth-child(1) {
    left: 985px;
    top: 162px;
}
.btn-answer-part:nth-child(2) {
    left: 1092px;
    top: 587px;
}

.app-angle-tool .tool-container {
    top: 160px;
    right: -40px;
}