.content-container > .content > .bg {
    background-image: url(../images/mm_31_2_01_04_02/bg.svg);
    /* background-image: url(../images/mm_31_2_01_04_01.png); opacity: 1; */
}



#quiz-01 .content-con {
    position: absolute;
    width: 560px;
    height: 219px;
    left: -16px;
    top: 101px;
    background: none;
}

#quiz-02 .content-con {
    position: absolute;
    width: 560px;
    height: 219px;
    left: 564px;
    top: 101px;
    background: none;
}


.quiz-check.type-box .check-item::after {
    background-color: rgba(0, 0, 0, 0);
}