/* Ã¬Â²Â´Ã­ÂÂ¬ O Ã­â‚¬Â´Ã¬Â¦Ë† */
.quiz-check.type-ox-01 .check-item::before {
    transform: scale(0.9);
}
#quiz-01 .check-item {
    position: absolute;
    width: 187px;
    height: 75px;
    margin: 0 0 0 0;

    /* background-color: rgba(255, 0, 0, 0.5); */
}

.btn-answer-part:nth-child(1) {
    left: 539px;
    top: 238px;
}
.btn-answer-part:nth-child(2) {
    left: 1089px;
    top: 238px;
}

#quiz-01 .answer img {
    position: absolute;
    left: 0;
    top: -160px;
}
#quiz-02 .answer img {
    position: absolute;
    left: 0;
    top: -160px;
}

.app-drawing-tool .tool-container {
    top: 160px;
}