.content-container > .content > .bg {
    background-image: url(../images/mm_31_2_03_04_02/bg.png);
    /* background-image: url(../images/01.png); opacity: 1; */
}

 .q-box-01 {
    position: absolute;
    top: 587px;
}

#quiz-01 .answer {
    left: 370px;
    top: 132px;
}

#quiz-02 .answer {
    left: 419px;
    top: 342px;
}

#quiz-03 .answer {
    left: 795px;
    top: 151px;
}

.btn-answer-part:nth-child(1) {
    left: 383px;
    top: 255px;
}

.btn-answer-part:nth-child(2) {
    left: 467px;
    top: 437px;
}

.btn-answer-part:nth-child(3) {
    left: 819px;
    top: 273px;
}


.btn-answer-part {
    width: 200px;
    height: 190px;
    background: none;
}