.content-container > .content > .bg {
    background-image: url(../images/mm_31_2_01_05_01/bg.png);
    /* background-image: url(../images/mm_31_2_01_05_01.png); opacity: 1; */
}

.info-box {
    position: absolute;
    top: 163px;
    right: 678px;
}

.btn-answer-part {
    left: 1020px;
    top: 208px;
}

/* 색칠하세요 버튼 위치 */
.app-drawing-tool .tool-container {
    top: 165px;
    /* right: 805px; */
}

/* 정답 이미지 */
.quiz-01-answer {
    position: absolute;
    left: 0px;
    top: 0px;
}
