.content-container > .content > .bg {
    background-image: url(../images/mm_31_2_01_06_02/bg.svg);
    /* background-image: url(../images/mm_31_2_01_05_01.png); opacity: 1; */
}

#quiz-con-01 {
    position: absolute;
    top: 170px;
}

#quiz-con-02 {
    position: absolute;
    top: 250px;
}
