.content-container > .content > .bg {
    background-image: url(../images/mm_31_2_07_03_01/bg.png);
    /* background-image: url(../images/01.png); opacity: 1; */
}

/* 쌍둥이 문제 bg */
.popup-twins.twins-01 > .bg {
    /* background-image: url(../images/mm_31_2_07_03_01/twins_01_base_01_back.svg); */
}
.popup-twins.twins-02 > .bg {
    /* background-image: url(../images/mm_31_2_07_03_01/twins_02_base_01_back.svg); */
}


.sign-01 {
    display: inline-block;
    position: relative;
    width: 70px;
    height: auto;
    vertical-align: top;
    margin: 0 6px;
}
.sign-01::before {
    content: '';
    position: absolute;
    top: -7px;
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/sign_01.svg);
}

#quiz-01 .check-item {
    position: absolute;
    width: 310px;
    height: 310px;
    left: 133px;
    top: 236px;
}
#quiz-01 .answer {
    position: absolute;
    top: 369px;
    left: 308px;
}
#quiz-02 .check-item {
    position: absolute;
    width: 310px;
    height: 310px;
    left: 801px;
    top: 236px;
}
#quiz-02 .answer {
    position: absolute;
    top: 369px;
    left: 956px;
}


.quiz-content .quiz .check-item {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image : none;
    z-index: 1;
}


#quiz-03 .check-item {
    left: 579px;
    top: 316px;
}
#quiz-04 .check-item {
    left: 371px;
    top: 316px;
}
#quiz-05 .check-item {
    left: 371px;
    top: 526px;
}
#quiz-06 .check-item {
    left: 579px;
    top: 526px;
}
#quiz-07 .check-item {
    left: 641px;
    top: 526px;
}


#quiz-08 .check-item {
    left: 775px;
    top: 294px;
}
#quiz-09 .check-item {
    left: 775px;
    top: 389px;
}
#quiz-10 .check-item {
    left: 775px;
    top: 449px;
}
#quiz-11 .check-item {
    left: 775px;
    top: 547px;
}


.quiz-check.image-answer.abs.finish {
    pointer-events: none;
}

.twins-02 .quiz .answer{
    left: 2px;
    top: -1px;
}
