/* 
.quiz-02-answer {
    opacity: 0;
}
.quiz-02-answer.show {
    opacity: 1;
}

.quiz-02-answer.answer {
    position: absolute;
    left: 103px;
    top: 228px;
} */


.img-box {
    width: 786px;
    height: 381px;
    left: 160px;
    top: 4px;
}

.btn-answer-part:nth-child(1) {
    left: 384px;
    top: 244px;
}

.btn-answer-part:nth-child(2) {
    left: 742px;
    top: 196px;
}

.btn-answer-part:nth-child(3) {
    left: 875px;
    top: 220px;
}

.quiz-01-answer {
    position: absolute;
    top: 110px;
    left: 262px;
}

.quiz-02-answer {
    position: absolute;
    top: 115px;
    left: 599px;
}

.quiz-03-answer {
    position: absolute;
    top: 209px;
    left: 679px;
}