/* ÃƒÂ¬Ã‚Â²Ã‚Â´ÃƒÂ­Ã‚ÂÃ‚Â¬ O ÃƒÂ­Ã¢â€šÂ¬Ã‚Â´ÃƒÂ¬Ã‚Â¦Ã‹â€  */
.quiz-check.type-ox-01 .check-item::before {
    transform: scale(0.9);
}
#quiz-01 .check-item {
    position: absolute;
    width: 187px;
    height: 75px;
    margin: 0 0 0 0;

    /* background-color: rgba(255, 0, 0, 0.5); */
}

.btn-answer-part:nth-child(1) {
    left: 363px;
    top: 280px;
}
.btn-answer-part:nth-child(2) {
    left: 761px;
    top: 280px;
}
.btn-answer-part:nth-child(3) {
    left: 1161px;
    top: 280px;
}

#quiz-01 .answer img {
    position: absolute;
    left: 0;
    top: -160px;
}
#quiz-02 .answer img {
    position: absolute;
    left: 0;
    top: -160px;
}
#quiz-03 .answer img {
    position: absolute;
    left: 0;
    top: -160px;
}