#quiz-01 .input-cont:nth-child(1) {
    width: 300px;
    left: 82px;
    top: 451px;
    height: 126px;
}
#quiz-01 .input-cont:nth-child(2) {
    width: 300px;
    left: 493px;
    top: 451px;
    height: 126px;
}
#quiz-01 .input-cont:nth-child(3) {
    width: 300px;
    left: 893px;
    top: 481px;
}
