.content-container > .content > .bg {
    /* background-image: url(../images/mm_31_2_04_04_02/bg.svg); */
    /* background-image: url(../images/01.png); opacity: 1; */
}

#btn-play-ani {
    position: absolute;
    left: 371px;
    top: 238px;
}