
.popup_pages .flex-wrap{justify-content:space-around; width: 80%; margin:0 auto}
.page_1 .icon_arrow {
    animation-name: arrow;
    animation-duration: .7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:reverse;
}
@keyframes arrow {
    0% {transform: translate(0,0);}
    50% {transform: translate(10px,0);}
    100% {transform: translate(0,0);}
}
.icon_arrow {cursor: pointer;}
.icon_arrow.complete{animation: none;}
.hid{opacity: 0;}
.hid.on{opacity: 1;}

.popup_pages .textBookPopup .popupInner{min-height: 240px;}
.popup_pages .textBookPopup .bullet.green.number{
    transform: translate(0, 9px);
}
.popup_pages .textBookPopup .lineBox{margin-top:30px}
.popup_pages .textBookPopup .blankBox.w50{transform: translate(0,3px);}
.math_calc_table.type-2{width:150px;}
.math_calc_table .answer{letter-spacing: 29px;}

.math_calc_table.class3.type-time  tr td{padding:5px 1px !important; height: 60px; min-width:60px;max-width:60px; text-align: right;}
.math_calc_table.class3.type-time  tr td[colspan="2"]{min-width:60px;max-width:60px;}
.math_calc_table.class3.type-time  tr td.gap{min-width: 80px;max-width: 80px;text-align: left;}
.math_calc_table.class3.type-time  tr td.gap:last-child{min-width:55px;max-width:55px; text-align: left;}
.math_calc_table.class3.type-time  tr:first-child td{padding-bottom:20px !important; height: 75px;}
.math_calc_table.class3.type-time .toggle .answer {
    position: absolute;
    right: 5px;
    letter-spacing: 0 !important;
    text-align: right !important;
    top: 2px;
}
.math_calc_table.class3.type-time .toggle {
    height: calc(100% - 4px);
    margin-top: 2px;
    width: 100%;
    margin-left: 4px;
}


.bullet.green.number {
    color: #6dbc4b;
    border: 2px solid #6dbc4b
}

.page_1 .img-wrap{width:900px; margin: 0 auto 30px; position: relative;}
.page_1 .img-wrap img{width: 100%;}
.page_1 .img-wrap .txt{
    position: absolute;
    top: 180px;
    left: 90px;
    letter-spacing: 108px;
}
.page_1 .img-wrap .txt span{display: inline-block; letter-spacing: 0;}
.page_1 .img-wrap .txt span:last-child{margin-left:-10px}

.page_2 .dotList{margin:30px 0 0}
.page_2 .dotList > li{margin-bottom:20px;}

.page_3 .lineBox{width:800px; margin:30px auto 50px; justify-content: space-around;}
.page_3 section .bullet.green{transform: translate(0,10px);}

.page_5 .img-wrap {width:420px; margin: 0 auto; position:relative}
.page_5 .img-wrap img{width:100%;}
.page_5 .img-wrap .txt{position: absolute; z-index: 1;}
.page_5 .img-wrap .n1{top: 20px;left: 240px;}
.page_5 .img-wrap .n2{top: 70px;left: 20px;}
.page_5 .img-wrap .n3{top: 80px;left: 280px;width: 160px;}
.page_5 .img-wrap .n4{top: 160px;left: 280px;}
.page_5 .img-wrap .n5{top: 250px;left: 280px;}

.page_6 .dotList{margin:30px 0 0}
.page_6 .dotList > li{margin-bottom:20px;}

.page_7 .lineBox{width: 460px; margin:20px auto 30px;padding: 30px;}
.page_7 .lineBox > div + div{margin-top:20px}
.page_7 .lineBox .bullet{transform: translate(0, 8px);}

.page_8 .lineBox{width: 460px; margin:20px auto 30px;padding: 30px;}
.page_8 .lineBox > div + div{margin-top:20px}
.page_8 .lineBox .bullet{transform: translate(0, 8px);}

.page_9 .flex-wrap{justify-content: space-around; margin:90px 0 0}

.page_10 .tableContainer{margin:30px auto 30px; width:600px}

.page_11 h2{word-break: keep-all;}
.page_11 .flex-grid{
   overflow: hidden;

}
.page_11 .flex-grid > .n2{float:right;width: 710px;}
.page_11 .flex-grid > .n1{float:left;margin-right: 0;width: 280px;}
.page_11 .flex-grid img{width:100%}
.page_11 .flex-wrap{align-items: flex-start;}
.page_11 .checklist > .flex-wrap > div:first-child{min-width:100px; text-align:right}
.page_11 .flex-wrap {margin-bottom:10px}
.page_11 .flex-wrap .check{display: inline-block;}
.page_11 .tableContainer{width:600px}
/* .page_11 .tableContainer th,
.page_11 .tableContainer td{font-size: 29px !important;} */

.answer.flex-wrap{text-align: left;}


.pop_page_9 .flex-wrap{justify-content:space-around;}
.pop_page_7 .bullet,
.pop_page_8 .bullet{transform: translate(0, 4px);}
.pop_page_11 .popup_contents{display: flex; justify-content: center; align-items: center;}
.pop_page_11 img{width:600px; margin:0 auto; display: block;}


