@charset "utf-8";
#wrap header .title{
    display: flex;
    justify-content: flex-start;
    text-align: justify;
}
#wrap header .title .bullet.number {
    margin-top: 5px;
    margin-right:10px;
}

.title .blankBox.w50 {
    border: 5px solid #efefef;
    background-color: #fff;
    box-sizing: border-box;
}
.title .icon_bogi {
    height: 36px;
    margin: -5px 0 0 0;
    vertical-align: top;
    border: 2px solid;
    border-radius: 30px;
    background-color: #fcf7f4;
    vertical-align: middle;
}
.title .icon_bogi:after {
    font-size: 21px;
    line-height: 25px;
}
.title .icon_bogi:after {
    line-height: 36px;
}
.title img{
    vertical-align: middle;
    transform: translate(0,-3px);
}


.q1 .blankBox.w50{margin:0 10px}
.q1 .img-wrap{padding: 50px 0 0;}
.q1 .img{display: block; margin:0 auto 0; width:990px;}
.q1 .flex-wrap{margin:50px auto; width:100%; justify-content: center; align-items: center;}
.q1 .flex-wrap .icon_arrow{margin-right:10px; }


.q2 .toggle.sky {
    background-color: #deecf8;
}
.q2 .toggle.pink {
    background-color: #f5e5e6;
}
.q2 .flex-wrap{position: relative; width: 50%; margin: 0 auto; height: 420px; display: flex; justify-content: center; align-items: center;}
.q2 .toggle.sky .answer, 
.q2 .toggle.pink .answer{font-family: NotoM; font-weight: normal; color:#000}
.q2 .toggle .lineBox{position: absolute;top: 100px;left:-10px;font-family: NotoM;font-weight: normal;color:#000}
.q2 .toggle.sky .lineBox{left: -30px;}
.q2 .sky.toggle::after,
.q2 .pink.toggle::after{display:none;}
.q2 .toggle.complete.sky .click-finger-Btn,
.q2 .toggle.complete.pink .click-finger-Btn{display: none;}
.q2 .hid{opacity: 0;}
.q2 .sky.toggle .lineBox::before {
    content: "";
    display: block;
    position: absolute;
    top: -74%;
    left: 57%;
    border-left: 4px dashed #c1e8ec;
    width: 0;
    height: 50px;
}
.q2 .pink.toggle .lineBox::before {
    content: "";
    display: block;
    position: absolute;
    top: -70%;
    left: 28%;
    border-left: 4px dashed #f5e5e6;
    width: 0;
    height: 50px;
}


.q3 .blankBox.w50{margin:0 10px}
.q3 .img-wrap{padding: 50px 0 0;}
.q3 .img{display: block; margin:0 auto 0; width:990px;}
.q3 .flex-wrap{margin:50px auto; width:100%; justify-content: center; align-items: center;}
.q3 .flex-wrap .icon_arrow{margin-right:10px; }

.q4 .icon_o_title{transform: translate(0,7px); margin-left:10px}
.q4 .oxCheckContainer{display: flex; justify-content: space-around; padding-top:70px}
.q4 .grayBox{display: flex; justify-content: center; align-items: center;}
.q4 .grayBox.n1{background: url(../images/suh_h_0301_04_0809_204_1/suh_h_0301_04_0809_204_1_1.png) no-repeat 50% 50% / 280px; width:300px; height: 300px;}
.q4 .grayBox.n2{background: url(../images/suh_h_0301_04_0809_204_1/suh_h_0301_04_0809_204_1_2.png) no-repeat 50% 50% / 280px; width:300px; height: 300px;}
.q4 .grayBox.n3{background: url(../images/suh_h_0301_04_0809_204_1/suh_h_0301_04_0809_204_1_3.png) no-repeat 50% 50% / 280px; width:300px; height: 300px;}
.q4 .grayBox .icon{position: absolute; top:50%; left:50%; width:160px; height: 160px; margin:-80px 0 0 -80px;}
.q4 .pop_page_1 .flex-wrap{justify-content: space-around; margin-top:30px}

#wrap.q5 header .title .toggleBlank.circle{margin-right:0;}
.q5 .flex-wrap.page{justify-content: space-around;align-items: center;width: 100%;background:url(../images/suh_h_0301_04_0809_205_1/suh_h_0301_04_0809_205_1_1.png) no-repeat 50% 50% / 800px;height: 470px;padding: 0 130px ;box-sizing: border-box; position: relative;}
.q5 .pop_page_1 .flex-wrap {align-items: center; justify-content: space-around;}

.q6 .flex-wrap.page{justify-content: space-around;align-items: center;width: 100%;background: url(../images/suh_h_0301_04_0809_206_1/suh_h_0301_04_0809_206_1_1.png) no-repeat 50% 54% / 800px;height: 410px;padding: 0 67px;box-sizing: border-box;}
.q6 .pop_page_1 .flex-wrap {align-items: center; justify-content: space-around; margin-top: 30px; padding:0 150px;}
.q6 .flex-wrap.page > *{width: 180px; display: flex; justify-content: center; align-items: center;}
.q6 .flex-wrap .txt{position: absolute; top:100px}
.q6 .flex-wrap .txt.n1{left: 28%;}
.q6 .flex-wrap .txt.n2{left: 56%;}

.q6 .flex-wrap .toggle{background-color: transparent;}

.q7 section{padding-top:100px}
.q7 .flex-wrap{justify-content: center; align-items: center; padding:20px; width: 500px; margin:0 auto}
.q7 .lineBox img{width:18px; margin:0 15px; transform: translate(0,2px);}

.q7 .popup_contents .blankBox.w40{
    min-width:40px !important;
    max-width:40px !important;
    min-height:40px !important;
    max-height:40px !important;
    transform: translate(0,3px);
}


.q8 .bg{background: url(../images/suh_h_0301_04_0809_208_1/suh_h_0301_04_0809_208_1_1.png) no-repeat 50% 50px / 950px;}
.q8 .study_guide {top:0; right: 0;}
.q8 .dragLineContainer {margin-top:0; flex-direction: column;}
.q8 .top{width:100%; display: flex; ;}
.q8 .top > div{position: absolute;top: 76px;}
.q8 .top .n1{left: 140px;}
.q8 .top .n2{left: 443px;}
.q8 .top .n3{left: 775px;}
.q8 .bottom > div{position: absolute;top: 394px;font-size: 33px;}
.q8 .bottom .b1{left: 130px;}
.q8 .bottom .b2{left: 433px;}
.q8 .bottom .b3{left: 764px;}
.q8 .top_1 {top: 188px;}
.q8 .top_2 {top: 298px;}
.q8 .left_1 {left: 206px;}
.q8 .left_2 {left: 508px;}
.q8 .left_3 {left: 839px;}
.q8 .dragLineArea.top_1::after {background-color:#a58bbf}
.q8 .dragLineArea.top_2::after {background-color:#80b0de}


.q9 .img-box{width:100%; height:400px; position: relative; display: flex; justify-content: center; align-items: center;}
.q9 .img-box img{width:1000px}
.q9 .balloon {text-align: center;}
.q9 .balloon.b1{top:0;left: 70px;}
.q9 .balloon.b2{top:0; left:640px;}









































