.numCard.etc{width:54px; height:66px; background-image:url(../images/numCard_etc.png); background-size:auto 66px; background-position-x:calc(-54px * 10);}
.numCard.etc[data-index="0"]{background-position-x:calc(-54px * (1 - 1));}
.numCard.etc[data-index="1"]{background-position-x:calc(-54px * (2 - 1));}
.numCard.etc[data-index="2"]{background-position-x:calc(-54px * (3 - 1));}
.numCard.etc[data-index="3"]{background-position-x:calc(-54px * (4 - 1));}
.numCard.etc[data-index="4"]{background-position-x:calc(-54px * (5 - 1));}
.numCard.etc[data-index="5"]{background-position-x:calc(-54px * (6 - 1));}
.numCard.etc[data-index="6"]{background-position-x:calc(-54px * (7 - 1));}
.numCard.etc[data-index="7"]{background-position-x:calc(-54px * (8 - 1));}
.numCard.etc[data-index="8"]{background-position-x:calc(-54px * (9 - 1));}
.numCard.etc[data-index="9"]{background-position-x:calc(-54px * (10 - 1));}
.numCard.etc.dot{background-position-x:calc(-54px * (11 - 1));}

.page_1 .study_guide{top:0; right:0;}
.page_1 .it-start-wrap{position:relative; z-index:1;width: 68%; height:120px;margin: 0 auto;}
.page_1 .dragObj{position:absolute; top:20px;}
.page_1 .dragObj_1{left:120px;}
.page_1 .dragObj_2{left:220px;}
.page_1 .dragObj_3{left:320px;}
.page_1 .dragObj_4{left:420px;}
.page_1 .dragObj_5{left:520px;}
.page_1 .dragObj_6{left:620px;}
.page_1 .dragObj_7{left:720px;}
.page_1 .dragObj_8{left:820px;}
.page_1 .dragObj > div{display:flex; align-items:center; justify-content:center; height:100%; padding:0 20px 0 40px;}
.page_1 .it-end-wrap{position:relative; height:120px; margin:40px 0 0;}
.page_1 .dropArea{display:flex; align-items:center; justify-content:center;  width:80px; height:100px; border:1px solid #ccc; border-radius:10px; margin:0 10px}


.page_1 .it-start-wrap .dragObj.dragObjComplete{opacity:.25;}
.page_1 .it-end-wrap .dragObj.dragObjComplete{position:static; top:0; left:0;}
.page_1 .it-btn,
.page_1 .it-btn.reset{background:#236cbb url(../../common/contents/images/icon/icon_check.svg) no-repeat 15px center / 22px auto;}
.page_1 .it-btn:before,
.page_1 .it-btn.reset:before{content:"다시하기";padding-left:18px;}


.page_2 .colorBox.check {
    width: 110px;
    text-align: center;
}

.page_2 .flex-wrap .check-tit{width: auto;}


























