/* 공통 */
.img-wrap img{width: 100%;}
#wrap header .title.active .bullet.number{margin-top:9px}
#wrap header .title.active .icon_o_title{transform: translate(0px, 7px);}
#wrap header .title.active .blankBox{border:4px solid #efefef; background:#fff}
.math-calc-side .toggle .answer{padding:0 16px}
.dotList li .flex-wrap .icon_arrow{margin:7px 10px 0 0;}
.popup_contents .bullet.number{margin:3px 5px 0 0;}
.lineBox .bullet.number{margin: 10px 10px 0 0;}
section.flex-wrap.middle {
    padding-bottom: 80px;
}
.contentsBox .contentsBox{padding:0}

/* 개별 */
.q1 .img-wrap {width: 500px;position: relative;margin: 0 0 0 15px;}
.q1 .img-wrap .icon_arrow{position: absolute;top: 80px;lefT: 170px;}
.q1 .img-wrap .lineBox{position: absolute; top:0; left:0;background-color: transparent;width: 103px;height: 195px;}
.q1 .img-wrap .lineBox.n1{top:0;left: 275px;}
.q1 .img-wrap .lineBox.n2{top:0;left: 396px;}
.q1  .flex-wrap .icon_arrow{margin:0 30px}

.q2 .img-wrap {width: 320px;position: relative;margin: 0 auto;}
.q2 .img-wrap .math_calc_table{position: absolute;top: 21px;left: 60px;}
.q2 .flex-wrap .icon_arrow{margin:0 30px}

.q3 .flex-wrap .item{position: relative; width:200px; margin:0 30px}
.q3 .flex-wrap img{width:100%}
.q3 .oxContainer{position: absolute; top:0; left:0; width:100%; height: 100%; display: flex; justify-content: center; align-items: center; padding-left:33px}
.q3 .oxContainer .icon_o,
.q3 .oxContainer .icon_x{position: absolute; top:50%; left:50%; margin:-50px 0 0 -50px; width:100px; height:100px; z-index:1}
.q3 .lineBox{padding-top:40px; position: relative; cursor: pointer;}
.q3 .flex-wrap .flex-wrap{margin-top: 190px;}


.q4 .img-wrap {width: 821px;position: relative;margin: 0 auto;}
.q4 .img-wrap > div{position: absolute;}
.q4 .img-wrap .n1{top:57px;left: 189px;}
.q4 .img-wrap .n2{top: 57px;left: 440px;}
.q4 .img-wrap .n3{top: 390px;left: 110px;}
.q4 .img-wrap .n4{top: 390px;left: 600px;}
.q4 .n5{position: absolute;bottom: 30px; width:100%;text-align: center;left: 0;}


.q5 .check{width:110px; text-align: center;}
.q5 .toggle{width:100px; text-align: center;}
.q5 .toggle .answer{width: 100%; text-align: center; justify-content: center;}

.q5 .item{justify-content: center;}
.q5 .item .check-tit{width: auto;} 


.q6 .innerTab_1 .lineBox{
    box-sizing: border-box;
    position: relative;
    margin-top: 70px;
    padding: 60px 40px 40px;
    width: 510px;
    margin: 70px auto 0;
}
.q6 .innerTab_1 .lineBox .subject{position: absolute;top: -40px;left: 28px;}
.q6 .innerTab_1 .check-tit{
margin-left: 0;
}    
.q6 .innerTab_1 .icon_arrow {position: absolute;top: 140px;left: 213px;transform: rotate(90deg);}
.q6 .innerTab_1 .n2{margin: 80px 0 0px 158px;}


.ab1 .subject{position: absolute;top: -70px; left:0;}
.ab1 img{width: 960px;}
.ab1 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    margin-top: 70px;
    padding:20px
}
.ab1 *{ box-sizing: border-box;}
.ab1 .toggle{position:absolute;width: 316px;text-align: center; padding:5px;height: 82px;background-color: transparent;  border:4px solid transparent; margin:0 5px}
.ab1 .toggle::after{display: none;}
.ab1 .toggle .click-finger-Btn{position: absolute; z-index: 1; transform: translate(-50%,-50%); top:90%; left:50%;}
.ab1 .toggle.complete{
    border:4px solid #00a0ff;
}
.ab1 .toggle.n1{top: 33px;left: 35px;}
.ab1 .toggle.n2{top: 33px;left: 362px;}
.ab1 .toggle.n3{top: 33px;left: 688px;}
.ab1 .toggle.n4{top: 112px;left: 35px;}
.ab1 .toggle.n5{top: 112px;left: 362px;}
.ab1 .toggle.n6{top: 112px;left: 688px;}
.ab1 .toggle.n7{top: 190px;left: 35px;}

.q6 .math-calc-side .flex-wrap{justify-content: flex-start;height: 63px;}

.q7 .img-wrap{width:590px; margin:0 auto}
.q7 .img-wrap .balloon{position: absolute; text-align: center;}
.q7 .img-wrap .b1{top: 110px;left: 206px;}
.q7 .img-wrap .b2{top: 110px;left: 410px;}
.q7 .img-wrap .b3{top: 110px;left: 610px;}

.q7 .img-wrap .b1::after{left: 72% !important;}
.q7 .img-wrap .b2::after{left: 31% !important;}
.q7 .img-wrap .b3::after{left:50% !important;}
.q7 .textBookBtn{margin-top:-60px; z-index: 11;}
.q7 .bullet.orange.number{transform: translate(0px, 12px);}



.q9 .dragLineArea::after{background-color: #000;}
.q9 img{width:100%;}
.q9 .study_guide {top:0; right: 0;}
.q9 .dragLineContainer {margin-top:0; flex-direction: column;}
.q9 .colorBox{position: absolute; width:160px; text-align: center; background-color: transparent; }
.q9 .colorBox.col1{left: 110px;}
.q9 .colorBox.col2{left: 490px;}
.q9 .colorBox.col3{left: 841px}
.q9 .colorBox.col4{left: 50px;}
.q9 .colorBox.col5{left: 380px;}
.q9 .colorBox.col6{left: 851px;}

.q9 .colorBox.row1{top: 90px;}
.q9 .colorBox.row1_2{top: 105px;}
.q9 .colorBox.row1_3{top: 93px;}
.q9 .colorBox.row2{top: 270px;}
.q9 .colorBox.row2_2{top: 320px;}
.q9 .colorBox.row2_3{top: 292px;}
.q9 .dragLineObj.col1,
.q9 .dragLineArea.col1{left: 199px;}
.q9 .dragLineObj.col2,
.q9 .dragLineArea.col2{left: 579px;}
.q9 .dragLineObj.col3,
.q9 .dragLineArea.col3{left: 926px;}

.q9 .dragLineObj.col4,
.q9 .dragLineArea.col4{left: 132px;}
.q9 .dragLineObj.col5,
.q9 .dragLineArea.col5{left: 463px;}
.q9 .dragLineObj.col6,
.q9 .dragLineArea.col6{left: 928px;}

.q9 .dragLineObj.row1,
.q9 .dragLineArea.row1{top: 178px;}
.q9 .dragLineObj.row1_2,
.q9 .dragLineArea.row1_2{top: 198px;}
.q9 .dragLineObj.row1_3,
.q9 .dragLineArea.row1_3{top: 188px;}

.q9 .dragLineObj.row2,
.q9 .dragLineArea.row2{top: 265px;}
.q9 .dragLineObj.row2_2,
.q9 .dragLineArea.row2_2{top: 283px;}
.q9 .dragLineObj.row2_3,
.q9 .dragLineArea.row2_3{top: 254px;}

.pop_page_9 .flex-wrap{ justify-content: space-around;}














