.suhi h2+section{padding-left: 0;}
.formula_box > li{display: flex; align-items: center;width: calc(100% / 3);justify-content: inherit;}
.formula_box .bunsuWrap > ul{display:inline-flex;min-width:50px;flex-direction:column;align-items:center;justify-content:center;}
.formula_box.line2{margin-top: 60px;}
.formula_box{display: flex;justify-content: space-evenly;margin-top: 50px;}

.page_2 .formula_box{margin-top: 100px;}

.page_3 .bunsuWrap{vertical-align:middle;}
.page_3 .scroll_container.vertical{height:350px;}
.page_3 .formula_box:first-child{margin-top:10px;}
.page_3 .formula_box:last-child{margin-bottom:30px;}
.page_3 .formula_box.line4 .answer{display: flex;}

.page_4 .formula_box > li{width: inherit;}

.tableContainer table td{}
.tableContainer table td .bunsuWrap{vertical-align: inherit;}

.tableContainer .text{display: flex;align-items: center;flex-flow: wrap;margin: 0 auto;justify-content: center;}

.bunsuWrap.separation > ul{min-width: 70px;}
.bunsuWrap.separation li{width:100%;}
.bunsuWrap.separation li:first-of-type{margin-bottom: 5px;padding-bottom: 5px;}
.bunsuWrap.separation .toggle{width:100%;}




.suhi h2+section .study_guide{top: -10px;}
.img-answer .before{display:inline-block;}
.img-answer .after{display:none;}
.img-answer.complete .before{display:none;}
.img-answer.complete .after{display:inline-block;}
.img-answer .toggle {position:absolute;top:0;left:0;opacity:0;}
.img-answer .toggle:after {display:none}
.img-answer .toggle.complete {z-index:2;opacity:1}

.page_1 h2 .bunsuWrap{vertical-align: middle;}
.page_1 .img-answer{margin-top: 20px;}
.page_1 .img-answer img{width:70%;vertical-align:top}
.page_1 .flex-box{justify-content: center;margin-top: 10px;}
.page_1 .textAlignC.text_ox{margin-top: 30px;}


.page_2 .flex-box{justify-content: space-evenly;margin-top: 30px;}
.page_2 .flex-box .bunsuWrap{}
.page_2 .img-answer img{width:80%;vertical-align:top}
.page_2 .bunsuWrap{display: inline-block;}

.page_3 .flex-box{justify-content: space-evenly;margin-top: 30px;}
.page_3 .flex-box .bunsuWrap{}
.page_3 .img-answer img{width:80%;vertical-align:top}
.page_3 .bunsuWrap{display: inline-block;}

.page_4 .flex-box{justify-content: space-evenly;margin-top: 30px;flex-flow: row wrap;}
.page_4 .flex-box .bunsuWrap{}
.page_4 .img-answer {margin-top: 60px;}
.page_4 .img-answer img{width:80%;vertical-align:top;}
.page_4 .bunsuWrap{display: inline-block;}
.page_4 .absolute_text{position: relative;}
.page_4 .absolute_text .bunsuWrap{position: absolute;top: -70px;left:40px;}
.page_4 .absolute_text .left{position: absolute;top: -10px;left: 95px;}
.page_4 .absolute_text .right{position: absolute;top: -10px;right: 120px;}


.page_5 .textAlignC img{width: 80%;}
.page_5 .absolute_align{position: relative;}
.page_5 .absolute_align li:nth-child(1){position: absolute;top: 0;left: 115px;}
.page_5 .absolute_align li:nth-child(2){position: absolute;top: 0;left: 350px;}
.page_5 .absolute_align li:nth-child(3){position: absolute;top: 0;left: 550px;}
.page_5 .absolute_align li:nth-child(4){position: absolute;top: 0;left: 855px;}

.page_6 .flex-box{justify-content: space-evenly;margin-top: 35px;}
.page_6 .flex-box .bunsuWrap{}
.page_6 .img-answer img{width:80%;vertical-align:top}
.page_6 .bunsuWrap{display: inline-block;}
.page_6 .bunsuWrap{display: inline-block;}
.page_6 .flex-box li{margin: 0 20px;}

.text_ox .bunsuWrap{display: inline-block;}
.ox_quiz{display: inline-block;}
.choice{display: inline-block;}
.icon_o,.icon_x{position:absolute;top: 0;left: 10px;}