@charset "utf-8";
.dotListIndent {
  padding-left: 40px;
  box-sizing: border-box;
}
.basicSlider_slides > li figure {
  width: 920px;
  margin: 0 auto 30px;
}
.dragBox {
  height: 214px;
  margin: 0 0 30px;
  border: none;
  border-radius: 0;
}
.dragBox.top:after {
  right: 137px;
}
.dragBox.top:before {
  right: 133px;
}
.dragBox .dragObjComplete {
  opacity: 0.3;
}
.dragBox span {
  display: none;
}
.colorBox {
  position: relative;
  height: 68px;
  padding-top: 6px;
  box-sizing: border-box;
}

.dropArea {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.dropArea.blue {
  color: #0060e3;
}
.dragObj {
  top: 0px;
  height: 214px;
}
.dragObj[data-index="1"]:before,
.dragObj[data-index="2"]:before,
.dragObj[data-index="3"]:before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none !important;
}
.dragObj[data-index="1"]:before {
  left: -4px;
  width: 271px;
  background-image: url("../images/4_4/4_4_5_1.svg");
}
.dragObj[data-index="2"]:before {
  left: -69px;
  width: 277px;
  background-image: url("../images/4_4/4_4_5_2.svg");
}
.dragObj[data-index="3"]:before {
  left: -112px;
  width: 340px;
  background-image: url("../images/4_4/4_4_5_3.svg");
}
.dragObj img {
  height: 100%;
  vertical-align: top;
  pointer-events: none;
}
.dragObj[data-index="1"] {
  left: 132px;
  width: 172px;
}
.dragObj[data-index="2"] {
  left: 330px;
  width: 150px;
}
.dragObj[data-index="3"] {
  left: 513px;
  width: 225px;
}
.dragObj[data-index="4"] {
  left: 736px;
  width: 212px;
}
.dragObj[data-index="5"] {
  top: -1px;
  left: 947px;
  width: 97px;
  height: 217px;
}
.dropArea span {
  display: inline-block;
}
.dropArea img {
  display: none;
}
.dropArea .dragObj.dragObjComplete {
  display: none;
}