@charset "utf-8";

.dragBox {
  height: 370px;
  margin: 0 0 40px;
  border: none;
  border-radius: 0;
  background: url(../images/4_4/4_4_2_bg.svg) center / contain no-repeat;
}
.dragBox.right:after,
.dragBox.right:before {
  top: 0;
  right: 171px;
}
.dragBox .dragObjComplete {
  opacity: 0.3;
}
.dragBox span {
  display: none;
}
.colorBox {
  position: relative;
  height: 68px;
  padding-top: 6px;
  box-sizing: border-box;
}

.dropArea {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.dropArea.blue {
  color: #0060e3;
}
.dragObj {
  height: 137px;
}
.dragObj img {
  height: 100%;
  vertical-align: top;
  pointer-events: none;
}
.dragObj[data-index="1"],
.dragObj[data-index="2"],
.dragObj[data-index="3"]{
  top: 33px;
}
.dragObj[data-index="4"],
.dragObj[data-index="5"],
.dragObj[data-index="6"] {
  top: 200px;
}
.dragObj[data-index="1"] {
  left: 253px;
  width: 204px;
  height: 103px;
}
.dragObj[data-index="2"] {
  left: 522px;
  width: 138px;
}
.dragObj[data-index="3"] {
  left: 757px;
  width: 137px;
}
.dragObj[data-index="4"] {
  left: 286px;
  width: 139px;
}
.dragObj[data-index="5"] {
  left: 522px;
  width: 137px;
}
.dragObj[data-index="6"] {
  left: 724px;
  width: 206px;
}
.dropArea span {
  display: inline-block;
}
.dropArea img {
  display: none;
}
.dropArea .dragObj.dragObjComplete {
  display: none;
}