@charset "utf-8";
.inputQuizContainer{width:1100px;margin:0 auto}
.table > ul {flex: 0 0 auto;width: 180px}
.table > ul input {width:100%}
.table input {margin: 0 10px}
.table > ul > li{height: 80px;z-index:1}
.table .title, .table .title{font-family:'NSquareRB'}
.table .title, .table .subTitle{font-family:'NSquareRB'}
.popup_pages{font-size:40px;}

.min ul.list > li {
  display: flex;
}
.min ul.list > li > div:nth-child(1) {
  flex-shrink: 0;
  margin-right: 15px;
}

.dragBox {
  height: 186px;
  margin: 30px 0 30px;
  border: none;
  border-radius: 0;
}
.dragBox.top:after {
  right: 178px;
}
.dragBox.top:before {
  right: 174px;
}
.dragBox .dragObjComplete {
  opacity: 0.3;
}
.dragBox span {
  display: none;
}
.colorBox {
  position: relative;
  height: 68px;
  padding-top: 6px;
  box-sizing: border-box;
}

.dropArea {
  position: relative;
  height: 100%;
  width: 100%;
  letter-spacing: -6px;
  text-align: center;
  padding: 7px 10px 0;
  box-sizing: border-box;
}
.dropArea.blue {
  color: #0060e3;
}
.dragObj {
  top: 0px;
  height: 185px;
}
.dragObj[data-index="1"]:before,
.dragObj[data-index="2"]:before,
.dragObj[data-index="3"]:before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none !important;
}
.dragObj[data-index="1"]:before {
  left: -4px;
  width: 240px;
  background-image: url("../images/4_4/4_4_5_1.svg");
}
.dragObj[data-index="2"]:before {
  left: -71px;
  width: 240px;
  background-image: url("../images/4_4/4_4_5_2.svg");
}
.dragObj[data-index="3"]:before {
  left: -112px;
  width: 340px;
  background-image: url("../images/4_4/4_4_5_3.svg");
}
.dragObj img {
  height: 100%;
  vertical-align: top;
  pointer-events: none;
}
.dragObj[data-index="1"] {
  left: 167px;
  width: 152px;
}
.dragObj[data-index="2"] {
  left: 352px;
  width: 110px;
}
.dragObj[data-index="3"] {
  left: 492px;
  width: 203px;
}
.dragObj[data-index="4"] {
  left: 692px;
  width: 186px;
  height: 185px;
}
.dragObj[data-index="5"] {
  top: -1px;
  left: 874px;
  width: 86px;
  height: 187px;
}
.dropArea span {
  display: inline-block;
}
.dropArea img {
  display: none;
}
.dropArea .dragObj.dragObjComplete {
  position: static;
  width: auto;
  height: auto;
  display: inline-block;
}
.dropArea .dragObj:before {
  position: static;
  background: none;
}
.dropArea > .dragObj:not(:first-child):before {
  content: ', ';
}