.contentsBox section{padding:0;}
.toggle .answer{position: relative;padding-left:60px;text-align: justify;}
.toggle .answer .bullet.exam{position: absolute;top:0;left:0;}

header .title .popBtn.textInBtn.inline {top:4px;}

.page_1 .playDataList .basicSlider_slides {height:320px;}

.page_2 .textAlignC .toggle .answer .bullet.exam {top:50%;margin:-17px 0 0;}

.popup_pages .pop_page_1 .imgContainer {width:100%;height:750px;text-align:center;}
.popup_pages .pop_page_1 .imgContainer img {height:100%;}
.popup_pages .pop_page_1 .balloon1 {top:260px;}
.popup_pages .pop_page_1 .balloon2 {left:auto;right:35px;top:70px;}
.popup_pages .pop_page_1 .balloon3 {left:auto;right:15px;top:520px;}
.popup_pages .pop_page_1 .balloon4 {left:auto;right:390px;top:490px;}