@charset "utf-8";

.checkContainer .contentsBox h2+section{
    padding-bottom:100px;
}
.gate_container .downloadBtn {
    right: 20px;
    left: auto;
}

.downloadBtn {
    left: 0;
    bottom: 10px;
}

.downloadBtn::before {
    content: attr(data-name);
}

.contentsList .icon_arrow {
    width: auto !important;
    margin: 0 10px;
}

.lineBox .bullet.number,
h2 .bullet.number {
    margin-top: 5px;
}

h2 .blankBox.w50 {
    max-width: 40px !important;
    min-width: 40px !important;
    max-height: 40px !important;
    min-height: 40px !important;
    transform: translate(0, 0px);
}

.buttonContainer.iframe {
    right: 170px;
}

.checkContainer h2 .toggleBlank {
    margin-top: 8px;
}

.checkContainer .contentsBox .basicSlider_tabs {
    width: 600px
}

.ico-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 5px solid #008dd0;
    border-radius: 50%;
    vertical-align: middle;
    transform: translate(0, -4px);
}

.q-type-1 {
    display: flex;
    justify-content: center;
}
.q-type-1 > .flex-wrap{
    width: auto;
    align-items: flex-start;
}
.q-type-1 > .flex-wrap .flex-wrap{
    align-items: center;
}

.lineBox.circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-arrow{
    position: absolute;
    top: 40px;
    left: 325px;
    width:50px;
    height: 90px;
    border:4px solid #00a0ff;
    border-left:0;
}
.line-arrow .colorBox{position: absolute;left: 40%;top: -72px;}
.line-arrow::after{
    content: "";
    width:20px;
    height: 20px;
    border:4px solid #00a0ff;
    border-right:0;
    border-bottom:0;
    position: absolute;
   
}
.line-arrow.rb::after{
    bottom: -14px;
    left: 3px;
    transform: rotate(-45deg);
}

.line-wrap{position: relative; top:0 ;width:100%}
.line1{width: 90px; left:50px;height: 60px;top: 50px;left: 126px;  border-color:#ff6501 !important; }
.line1 .txt-b{color:#ff6501 !important;}
.line2{width: 133px; left:50px;height: 40px;top: 170px;left: 169px;}

.line-wrap .line-add{position: absolute;bottom: 36px;right: -4px;left:auto; width:1px;height: 117px; border-right:4px solid #ff6501;}
.line-wrap .line-add.left{left: -4px!important;right:auto!important; }
.line-wrap .line-add.right{right: -4px!important;left:auto!important; }

.line-wrap .blue .line-add{border-right:4px solid #00a0ff;}
.line-wrap .blue .num-round{color:#00a0ff !important; border-color:#00a0ff !important;}
.line-wrap .blue .txt-b{color:#00a0ff !important;}

.line-wrap .red .line-add {border-right:4px solid #ff6501;}
.line-wrap .red .num-round{color:#ff6501 !important; border-color:#ff6501 !important;}
.line-wrap .red .txt-b{color:#ff6501 !important;}

.click-finger-Btn.complete{display:none !important;}
.hide{z-index:-1;}
.hide.on{z-index:0; opacity:1}


/* page */
.page_1 .bogiContainer .inner{height:210px; min-height:210px}
.page_1 .bogi_wrap{width:500px; margin:0 auto; }
.page_1 .u1 .line1{width: 90px;height: 40px;top: 50px;left: 32px;}
.page_1 .u1 .line2{width: 118px;height: 40px;top: 110px;left: 77px;}
.page_1 .u1 .line2 .line-add{bottom: 36px;height: 61px;}

.page_1 .u2{width:500px; margin:20px auto 0;}
.page_1 .u2 .line1{width: 90px;height: 40px;top: 50px;left: 32px;}
.page_1 .u2 .line2{width: 118px;height: 40px;top: 110px;left: 77px;}
.page_1 .u2 .line2 .line-add{bottom: 36px;height: 61px;}
.page_1 .u2 .f1{position: absolute;top: 50px;left: 90px; z-index:1}

.page_1 .u3{width:500px; margin:20px auto 0;}
.page_1 .u3 .line1{width: 82px;height: 40px;top: 50px;left: 112px;}
.page_1 .u3 .line2{width: 128px;height: 40px;top: 110px;left: 27px;}
.page_1 .u3 .line2 .line-add{bottom: 36px;height: 61px;}
.page_1 .u3 .f1{position: absolute;top: 50px;left: 90px; z-index:1}

.pop_page_1 .u1 {width:500px; margin:20px 0 0 20px; height: 180px;}
.pop_page_1 .u1 .line1{width: 70px;height: 40px;top: 50px;left: 16px;}
.pop_page_1 .u1 .line2{width: 106px;height: 40px;top: 110px;left: 47px;}
.pop_page_1 .u1 .line2 .line-add{bottom: 36px;height: 61px;}
.pop_page_1_2 .u1 {width:500px; margin:20px 0 0 20px; height: 180px;}
.pop_page_1_2 .u1 .line1{width: 70px;height: 40px;top: 50px;left: 96px;}
.pop_page_1_2 .u1 .line2{width: 116px;height: 40px;top: 110px;left: 17px;}
.pop_page_1_2 .u1 .line2 .line-add{bottom: 36px;height: 61px;}

.pop_page_2 .u1 {width:500px; margin:20px 0 0 20px; height: 180px;}
.pop_page_2 .u1 .line1{width: 59px;height: 40px;top: 50px;left: 94px;}
.pop_page_2 .u1 .line2{width: 109px;height: 40px;top: 110px;left: 17px;}
.pop_page_2 .u1 .line2 .line-add{bottom: 36px;height: 61px;}

.pop_page_4 .u1 {width:440px; margin:0; height: 180px;}
.pop_page_4 .u1 .line1{width: 72px;height: 40px;top: 50px;left: 14px;}
.pop_page_4 .u1 .line2{width: 100px;height: 40px;top: 110px;left: 49px;}
.pop_page_4 .u1 .line2 .line-add{bottom: 36px;height: 61px;}
.pop_page_4 .u2 {width:440px; margin:0; height: 180px;}
.pop_page_4 .u2 .line1{width: 70px;height: 40px;top: 50px;left: 94px;}
.pop_page_4 .u2 .line2{width: 113px;height: 40px;top: 110px;left: 17px;}
.pop_page_4 .u2 .line2 .line-add{bottom: 36px;height: 61px;}


.pop_page_8 .toggleBlank {margin: 0 10px;}

.boxtit{position: relative; padding-top:40px !important; margin-top:30px !important}
.boxtit .tit{position:absolute; top:-30px; left:50%; transform: translate(-50%, 0); white-space: nowrap;}

.page_2 .icon_arrow{margin:0 30px}
.page_2 .lineBox{width:500px; margin:0 auto; height:230px;}
.page_2 .u1 .line1{width: 90px;height: 40px;top: 50px;left: 48px;}
.page_2 .u1 .line2{width: 111px;height: 40px;top: 110px;left: 90px;}
.page_2 .u1 .line2 .line-add{bottom: 36px;height: 61px;}

.page_2 .u2 .line1{width: 67px;height: 40px;top: 50px;left: 132px;}
.page_2 .u2 .line2{width: 118px;height: 40px;top: 110px;left: 47px;}
.page_2 .u2 .line2 .line-add{bottom: 36px;height: 61px;}
.page_2 .u2 .f1{position: absolute;top: 50px;left: 90px; z-index:1}
.page_2 .u2 .txt1{position: absolute;top: 50px;left: 206px;}
.page_2 .answer{padding:0;}
.page_2 .toggle{background-color: transparent; align-items: flex-start;}
.page_3 .check-tit{padding-left:340px}

.page_5 .lineBox{height:210px}
.page_5 .u1 .line1{width: 90px;height: 40px;top: 50px;left: 22px;}
.page_5 .u1 .line2{width: 120px;height: 40px;top: 110px;left: 65px;}
.page_5 .u1 .line2 .line-add{bottom: 36px;height: 61px;}

.page_5 .u2 .line1{width: 67px;height: 40px;top: 50px;left: 112px;}
.page_5 .u2 .line2{width: 133px;height: 40px;top: 110px;left: 18px;}
.page_5 .u2 .line2 .line-add{bottom: 36px;height: 61px;}
.page_5 .u2 .f1{position: absolute;top: 50px;left: 90px; z-index:1}
.page_5 .u2 .txt1{position: absolute;top: 50px;left: 213px;}

.oxContainer{cursor: pointer;}
.oxContainer .icon_o, .oxContainer .icon_x{width:100px; height:100px; margin:-50px 0 0 -50px}

.page_6 .toggle{background-color: transparent;position: absolute;}
.page_6 .t1{top: 16px;left: 10px;}
.page_6 .t2{top: 20px;left: 110px;}
.page_6 .an_o{width: 150px;height: 60px; border:4px solid #00a0ff;border-radius: 50%;}
.page_6 .toggle .answer{padding:0; width:100%;}

.line-arrow .toggle{position: absolute;bottom: -70px; left:50%;transform: translate(-50%,0);}

.page_7 .u1 .line1{width: 90px;height: 40px;top: 50px;left: 22px;}
.page_7 .u1 .line2{width: 130px;height: 40px;top: 160px;left: 65px;}
.page_7 .u1 .line2 .line-add{bottom: 36px;height: 111px;}
.page_7 .u1 .line3{width: 170px;height: 40px;top: 269px;left: 125px;}
.page_7 .u1 .line3 .line-add{bottom: 36px;height: 201px;}
.page_7 .u2 .line1{width: 89px;height: 40px;top: 50px;left: 108px;}
.page_7 .u2 .line2{width: 133px;height: 40px;top: 160px;left: 18px;}
.page_7 .u2 .line2 .line-add{bottom: 36px;height: 111px;}
.page_7 .u2 .line3{width: 213px;height: 40px;top: 269px;left: 85px;}
.page_7 .u2 .line3 .line-add{bottom: 36px;height: 201px;}
.page_7 .u2 .f1{position: absolute;top: 50px;left: 90px; z-index:1}
.page_7 .u2 .txt1{position: absolute;top: 50px;left: 213px;}

.page_8 .lineBox{width: 710px; margin:20px auto;display: flex;align-items: center;justify-content: center;position: relative;padding:20px 0 60px; border:0 !important}
.page_8 .lineBox .toggle{margin:0 15px}
.page_8 .toggle.n1{position: absolute; bottom:10px; left:20px}
.page_8 .toggle.n2{position: absolute; bottom:10px; left:53%;}
.page_8 .toggle.hide.complete{opacity:1; background:transparent}

.page_8 .lineBox .hide{position: absolute; top:0; lefT:0;}
.page_8 .lineBox .hide.on{opacity:1 !important; z-index: 0;}
.page_8 .lineBox .hide.n3,
.page_8 .lineBox .hide.n1{top: 80px;left: 100px;}
.page_8 .lineBox .hide.n4,
.page_8 .lineBox .hide.n2{top: 80px;left: 389px;}

.page_9 .check-tit{padding-left:310px}

.page_10 .tableContainer{width:400px; margin:-20px auto 0}
.page_10 .check-tit{position: absolute;bottom: 70px;lefT: 110px;}

























