/* 
#wrap header .title {
    margin-bottom:40px;
} */
.img-wrap {
    width: 900px;
    margin:0 auto;
    display: flex;
    justify-content: center;
}
.img-wrap img{width: 100%;}

.iframe-wrap{width:calc(100% + 112px); margin-left:-56px; overflow: hidden; position: relative !important;}
.iframe-wrap .iframe-item{
    transform: none;
    top:auto;
    bottom:10px;
}
.moveButtonContainer{width: auto; left:50%; transform:translate(-50%, 0); z-index: 2;}


.page_2 .innerTab_1 .study_guide{
    position: absolute;
    top:0; right:0; z-index: 2;
}
.page_2 .popBtn {width:300px; margin:0 auto; padding:5px 20px 0; border:0;}
.page_2 .popBtn img{width: 100%;}
.page_2 .dotList>li:not(:last-of-type){margin-bottom:5px}



