.content-container > .content > .bg {
	/* background-image: url('../../images/ms_41_2_05/ms_41_2_05_02_01/bg.svg'); */
}

.popup-more-one .bg {
	/* background-image: url('../../images/ms_41_2_05/ms_41_2_05_02_01/bg_more.svg'); */
}

.content .tool-container {
	top: 160px;
}

#quiz-content-01 .scroll-bg {
	background-image: url('../../images/ms_41_2_05/ms_41_2_05_02_01/bg.svg');
	height: 830px;
}

#quiz-content-02 .scroll-bg {
	background-image: url('../../images/ms_41_2_05/ms_41_2_05_02_01/bg_more.svg');
	height: 830px;
}


#quiz-01 .input-cont:nth-child(1) {
    left: 361px;
    top: 255px;
    width: 140px;
}

#quiz-01 .input-cont:nth-child(2) {
    left: 361px;
    top: 335px;
    width: 140px;
}

#quiz-01 .input-cont:nth-child(3) {
    left: 957px;
    top: 255px;
    width: 140px;
}

#quiz-01 .input-cont:nth-child(4) {
    left: 957px;
    top: 335px;
    width: 140px;
}

#quiz-01 .input-cont:nth-child(5) {
    left: 361px;
    top: 686px;
    width: 140px;
}

#quiz-01 .input-cont:nth-child(6) {
    left: 361px;
    top: 766px;
    width: 140px;
}

#quiz-01 .input-cont:nth-child(7) {
    left: 957px;
    top: 686px;
    width: 140px;
}

#quiz-01 .input-cont:nth-child(8) {
    left: 957px;
    top: 766px;
    width: 140px;
}


#quiz-content-01 .btn-answer-part:nth-child(1) {
    left: 530px;
    top: 342px;
}

#quiz-content-01 .btn-answer-part:nth-child(2) {
    left: 1125px;
    top: 342px;
}

#quiz-content-01 .btn-answer-part:nth-child(3) {
    left: 530px;
    top: 774px;
}

#quiz-content-01 .btn-answer-part:nth-child(4) {
    left: 1125px;
    top: 774px;
}

#quiz-02 .input-cont:nth-child(1) {
    left: 361px;
    top: 255px;
    width: 140px;
}

#quiz-02 .input-cont:nth-child(2) {
    left: 361px;
    top: 335px;
    width: 140px;
}

#quiz-02 .input-cont:nth-child(3) {
    left: 957px;
    top: 255px;
    width: 140px;
}

#quiz-02 .input-cont:nth-child(4) {
    left: 957px;
    top: 335px;
    width: 140px;
}

#quiz-02 .input-cont:nth-child(5) {
    left: 361px;
    top: 686px;
    width: 140px;
}

#quiz-02 .input-cont:nth-child(6) {
    left: 361px;
    top: 766px;
    width: 140px;
}

#quiz-02 .input-cont:nth-child(7) {
    left: 957px;
    top: 686px;
    width: 140px;
}

#quiz-02 .input-cont:nth-child(8) {
    left: 957px;
    top: 766px;
    width: 140px;
}


#quiz-content-02 .btn-answer-part:nth-child(1) {
    left: 530px;
    top: 342px;
}

#quiz-content-02 .btn-answer-part:nth-child(2) {
    left: 1125px;
    top: 342px;
}

#quiz-content-02 .btn-answer-part:nth-child(3) {
    left: 530px;
    top: 774px;
}

#quiz-content-02 .btn-answer-part:nth-child(4) {
    left: 1125px;
    top: 774px;
}