@charset "utf-8";
/* font */
@font-face { 
	font-family: "NanumGothicR"; 
	src: url("../fonts/NanumGothicOTF-Regular.woff") format("woff"); 
} 
@font-face { 
	font-family: "NanumGothicB"; 
	src: url("../fonts/NanumGothicOTF-Bold.woff") format("woff"); 
}  
@font-face { 
	font-family: "NanumGothicEB"; 
	src: url("../fonts/NanumGothicOTF-ExtraBold.woff") format("woff"); 
} 

@font-face {
    font-family: 'HUNemogulim170';
    src: url('../fonts/HUNemogulim170.woff') format('woff');
}
@font-face {
    font-family: 'HUNemogulim180';
    src: url('../fonts/HUNemogulim180.woff') format('woff');
}

/* layout */
body {
	/* position: fixed !important; */
	overflow: hidden;
}

/* 공통 */
.disable {
    pointer-events: none !important;
}
.remove {
    display: none !important;
}
.hide {
    visibility: hidden;
}
.hide-alpha {
	opacity: 0;
	pointer-events: none;
}

.inline {
	position: static !important;
	display: inline-block !important;
	vertical-align: top;
}

/* ie 입력창 X 제거 */
input[type=text]::-ms-clear {
	display:none;
}
input:focus,
textarea:focus {
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}
input::placeholder {
	color: #CCC;
}

.t-a-center {
	text-align: center;
}
.t-a-left {
	text-align: left;
}
.t-a-right {
	text-align: right;
}
.t-a-justify {
	text-align: justify;
}

/* flex align */
.a-center {
	align-items: center !important;
}
.j-center {
	justify-content: center !important;
}
